<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitleKey | translate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height overflow-x-hidden padding-right-2 position-relative">
    <div [ngClass]="{'dashboard-widget-create-modal--hidden' : isLoading}">
        <section
            [ngClass]="{'dashboard-widget-create-modal--hidden' : currentStage !== modalStages.First}"
            class="dashboard-widget-create-modal__stage dashboard-widget-create-modal--positioned flex-full-height"
            >
            <div otFormElement
                class="max-width-50 full-width margin-left-right-auto margin-bottom-2"
                [label]="'WidgetName' | translate"
                [required]="true"
                >
                <input
                    otInput
                    name="WidgetCreateWidgetName"
                    ot-auto-id="WidgetCreateWidgetName"
                    type="text"
                    [placeholder]="'WidgetName' | translate"
                    [ngModel]="widgetName"
                    (ngModelChange)="onNameChange($event)"
                />
            </div>
            <dashboard-widget-count
                class="block max-width-50 full-width margin-left-right-auto margin-bottom-3"
                >
            </dashboard-widget-count>
            <ot-notification
                *ngIf="showWarningMessage && !warningClosed"
                class="dashboard-widget-create-modal__warning full-width margin-left-right-auto"
                icon="ot ot-info-circle"
                type="warning"
                [allowClose]="true"
                (closed)="closeWarning()"
                >
                {{ 'DashboardWidgetChangeWarning' | translate }}
            </ot-notification>
        </section>
        <section
            [ngClass]="{'dashboard-widget-create-modal--hidden' : currentStage !== modalStages.Second}"
            class="dashboard-widget-create-modal__stage stretch-vertical row-nowrap"
            >
            <aside class="static-horizontal background-grey border">
                <ul>
                    <li
                        class="padding-left-half padding-right-3 padding-top-bottom-1 border-bottom"
                        *ngFor="let type of widgetTypes; let index = index;"
                        >
                        <ot-radio
                            class="dashboard-widget-create-modal__widget cursor-pointer"
                            [attr.ot-auto-id]="'WidgetCreateWidgetSelection' + index"
                            [model]="widgetSelection.value"
                            [label]="type.label"
                            [value]="type.value"
                            (select)="onWidgetChange(type)"
                            >
                        </ot-radio>
                    </li>
                </ul>
            </aside>
            <div class="flex-full-height border-top-bottom border-right overflow-x-hidden">
                <section class="flex-full-height padding-all-4">
                    <dashboard-widget
                        [widgetData]="widgetData"
                        [showTitle]="false"
                        >
                    </dashboard-widget>
                </section>
                <dashboard-widget-form
                    class="dashboard-widget-create-modal__tabs static-vertical column-nowrap"
                    [moduleType]="otModalData.moduleType"
                    >
                </dashboard-widget-form>
            </div>
        </section>
    </div>
    <ot-loading
        otPageLoading
        class="flex-full-height dashboard-widget-create-modal--positioned"
        [ngClass]="{'dashboard-widget-create-modal--hidden' : !isLoading}"
        >
    </ot-loading>
</ot-modal-content>
<ot-modal-footer>
    <div class="full-width row-nowrap">
        <button otButton neutral
            class="margin-right-auto"
            ot-auto-id="DashboardWidgetCreateCancelButton"
            [disabled]="currentStage === modalStages.First"
            (click)="setStage(modalStages.First)"
            >
            {{ "Previous" | translate }}
        </button>
        <button otButton
            ot-auto-id="DashboardWidgetCreateCancelButton"
            (click)="closeModal()"
            >
            {{ "Cancel" | translate }}
        </button>
        <button otButton brand
            *ngIf="currentStage === modalStages.Second"
            ot-auto-id="DashboardWidgetCreateSaveButton"
            [disabled]="isLoading"
            (click)="validateAndSave()"
            >
            {{ "Create" | translate }}
        </button>
        <button otButton brand
            *ngIf="currentStage === modalStages.First"
            ot-auto-id="DashboardWidgetCreateNextButton"
            [disabled]="!((dashboardWidgetFormService.countSubEntitySelection$ | async) && widgetName)"
            (click)="setStage(modalStages.Second)"
            >
            {{ "Next" | translate }}
        </button>
    </div>
</ot-modal-footer>
