.dashboard-widget-create-modal {

    &--hidden {
        visibility: hidden;
        width: 0;
        overflow: hidden;
    }

    &--positioned {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__widget {

        label {
            margin: 0;
            cursor: pointer;
        }

        .slds-radio_faux {
            margin-right: 0.8rem;
        }
    }

    &__tabs {
        flex: 1 1 25rem;
    }

    &__warning {
        max-width: 60rem;
    }
}
