<ot-modal-header (close)="closeModal()">
    <div>{{ 'SelectTopics' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form #topicForm="ngForm" class="min-height-30">
        <div otFormElement
            [label]="'TopicName' | otTranslate"
            [required]="true"
            >
            <ot-lookup
                ot-auto-id="purposeSelectTopicsLookup"
                labelKey="Label"
                valueKey="Id"
                [clearInputOnModelChange]="true"
                [model]="selectedTopics"
                [multiSelect]="true"
                [options]="topicOptions"
                [placeholder]="'SelectTopics' | otTranslate"
                (inputChange)="onInputChange($event)"
                (modelChange)="selectOption($event)"
                >
            </ot-lookup>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        [loading]="isSaving"
        [disabled]="isSaving || selectedTopics.length === 0"
        (click)="addSelectedTopics(selectedTopics)"
        >
        {{ 'Add' | otTranslate }}
    </button>
</ot-modal-footer>
