

<div class="aa-undo-review-modal">
    <ot-modal-header (close)="closeUndoReviewModal()">
        <div>{{ 'UndoReview' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <div class="stretch-vertical padding-left-right-1 margin-top-1">
            <ot-confirm-modal-icon
                type="warning"
                icon="fa fa-undo"
            ></ot-confirm-modal-icon>
            <div class="margin-bottom-4 paragraph-medium-small text-center">
                <span>
                    {{"UndoReviewDescription" | otTranslate}}
                    <span class="text-bold">
                        {{assessmentFinishReviewActions[userAssessmentResult] | otTranslate}}
                    </span> ?
                </span>
            </div>
            <!-- TextBox shall be added once the BE is ready
            <div
                otFormElement
                [label]="'EmailComments' | otTranslate">
                <textarea
                    otTextarea
                    ot-auto-id="UndoReviewEmailCommentField"
                    [placeholder]="'IncludeComments' | otTranslate"
                    [ngModel]="undoReviewEmailComment"
                    (ngModelChange)="setUndoReviewEmailComment($event)"
                ></textarea>
            </div> -->
        </div>
    </ot-modal-content>
    <ot-modal-footer>
        <button otButton neutral
            class="margin-right-1 no-outline border-none"
            ot-auto-id="AssessmentUndoReviewCancelButton"
            [disabled]="isUndoReviewing"
            (click)="closeUndoReviewModal()"
            >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button otButton brand
            class="margin-right-1"
            ot-auto-id="AssessmentUndoReviewConfirmButton"
            [disabled]="isUndoReviewing"
            [loading]="isUndoReviewing"
            (click)="undoReviewAssessment()"
            >
            {{ 'Confirm' | otTranslate }}
        </button>
    </ot-modal-footer>
</div>
