.question-list {

    &__item {
        border-radius: 2px;
        background-color: $white;
        overflow-y: auto;
        max-width: 80rem;

        &:hover {
            @extend .shadow2;
        }
    }
}
