<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<div
    *ngIf="!isLoading && !isPurposeEmpty"
    class="height-100 full-width column-horizontal-center cr-dashboard overflow-y-auto"
    >
    <ot-page-header
        class="full-width cr-header"
        [title]="'PurposeDetails' | otTranslate"
        >
        <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
            <ot-breadcrumb-item
                link="zen.app.pia.module.consentreceipt.views.purposes.list"
                [label]="'PurposesOfProcessing' | otTranslate"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="purpose.Label"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <span [otBadge]="purpose.Status | consentStatusColor"
            >
            {{ purpose.Status | consentTranslateStatus: crConstants.CRPurposeStatus }}
        </span>
        <span [otBadge]>{{ purpose.Version | consentVersionLabel }}</span>
        <div>
            <button otButton brand
                *ngIf="canPublishPurpose && purpose.Status === crConstants.CRPurposeStatus.Draft"
                ot-auto-id="PublishPurposeButton"
                [innerText]="'Publish' | otTranslate"
                [disabled]="!canSavePurpose"
                (click)="publishConfirmationModal()"
            ></button>
            <button otButton neutral
                *ngIf="purpose.Status === crConstants.CRPurposeStatus.Draft"
                ot-auto-id="SavePurposeButton"
                [innerText]="'Save' | otTranslate"
                [disabled]="!canSavePurpose"
                (click)="savePurpose()"
            ></button>
            <button otButton brand
                *ngIf="
                    purpose.Status === crConstants.CRPurposeStatus.Active &&
                    (purpose.Type === crConstants.CRPurposeTypes.Standard ||
                    purpose.Type === crConstants.CRPurposeTypes.Iab) &&
                    purpose.CanCreateNewVersion &&
                    createNewVersionToggle
                    "
                ot-auto-id="CreateNewPurposeVersionButton"
                [innerText]="'CreateNewVersion' | otTranslate"
                (click)="createNewVersion()"
            ></button>
            <button otButton neutral
                *ngIf="purpose.Status !== crConstants.CRPurposeStatus.Draft"
                ot-auto-id="PurposeDetailsViewVersionsButton"
                [innerText]="'ViewVersions' | otTranslate"
                (click)="toggleDrawer()"
            ></button>
            <ot-context-menu
                *ngIf="purpose.Status === crConstants.CRPurposeStatus.Draft"
                class="margin-left-1"
                [menu]="ellipsisOptions"
                position="bottom-right"
                >
                <i class="ot ot-ellipsis-h"></i>
                <a *otContextMenuItem="let option"
                    (click)="option.action()"
                    >
                    {{ option.text }}
                </a>
            </ot-context-menu>
        </div>
    </ot-page-header>

    <section class="full-width">
        <cr-purpose-header
            class="full-width"
        ></cr-purpose-header>
        <ot-tabs
            [tabs]="tabs"
            [selectedTab]="tabName"
            >
            <a
                *otTabItem="let tab"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
    </section>

    <div otDrawerContainer class="height-100 full-width overflow-x-hidden">
        <cr-versions
            [item]="purpose"
            [versionList]="purposeVersions"
            [isDrawerOpen]="isDrawerOpen"
            [canDeleteVersion]="canDeletePurpose"
            (toggleDrawer)="toggleDrawer()"
            (goToVersion)="goToVersion($event)"
            (deleteVersion)="deleteDraftConfirmation($event)"
        ></cr-versions>
        <cr-purpose-form
            *ngIf="tabName === crConstants.CRPurposeTabs.Details"
            class="full-width overflow-y-auto full-height-minus-5"
        ></cr-purpose-form>
        <cr-purpose-custom-preferences
            *ngIf="tabName === crConstants.CRPurposeTabs.CustomPreferences && canAddTopics"
            class="full-width overflow-y-auto full-height-minus-5"
        ></cr-purpose-custom-preferences>
        <cr-purpose-report
            *ngIf="tabName === crConstants.CRPurposeTabs.Report"
            class="full-width overflow-y-auto full-height-minus-5"
        ></cr-purpose-report>
        <cr-purpose-topics
            *ngIf="tabName === crConstants.CRPurposeTabs.Topics && canAddTopics"
            class="full-width overflow-y-auto full-height-minus-5"
        ></cr-purpose-topics>
        <cr-purpose-languages
            *ngIf="tabName === crConstants.CRPurposeTabs.Languages"
            class="full-width overflow-y-auto full-height-minus-5"
        ></cr-purpose-languages>
    </div>
</div>
<ot-empty-state
    class="full-size"
    *ngIf="isPurposeEmpty"
    [emptyStateMessage]="'NoResultsFound' | otTranslate"
    >
    <img emptyStateImage/>
</ot-empty-state>
