<ng-container *ngIf="!isLoading && dashboardId; else loading">
    <div class="dashboard-container full-width-block margin-0-auto">
        <ot-grid [fluid]="true">
            <ot-grid-row [flexColumns]="false">
                <ng-container *ngFor="let column of columnWidths[layoutId]; let columnIndex = index; trackBy:trackByIndex">
                    <ot-grid-column [span]="column">
                        <ng-container *ngFor="let widgetId of widgets[columnIndex]; let widgetIndex = index; trackBy:getWidgetId">
                            <dashboard-widget
                                [widgetId]="widgetId"
                                [showActions]="editMode"
                                (handleAction)="handleWidgetAction($event)"
                                (move)="moveWidget($event, columnIndex, widgetIndex)"
                                (edit)="editWidget($event)"
                                (delete)="deleteWidget(widgetId)"
                                >
                            </dashboard-widget>
                        </ng-container>
                        <ng-container *ngIf="editMode">
                            <section class="border-dashed border-radius background-white column-horizontal-vertical-center full-width height-30">
                                <button otButton neutral
                                    ot-auto-id="DashboardViewAddWidgetBtn"
                                    (click)="addWidget(columnIndex)"
                                    >
                                    {{ "AddWidget" | otTranslate }}
                                </button>
                            </section>
                        </ng-container>
                    </ot-grid-column>
                </ng-container>
            </ot-grid-row>
        </ot-grid>
    </div>
</ng-container>
<ng-template #loading>
    <ot-loading
        otPageLoading
        class="flex-full-height"
        >
    </ot-loading>
</ng-template>
