.cc-banner-template {
    
    &__module-wrapper {
        height: calc(100% - 200px);
        .cc-left-scroll-area {
          height: 500px;
          overflow-y: scroll;
          width: 30%;
          float: left;
        }
        .cc-banner-preview-panel {
          &__button-container {
            width: 90%;
            margin-top: 1rem;
          }
          &__preview-button {
            float: right;
          }
          &__modal-height {
            height: 70vh;
          }
        }
        &.cc-banner-wrapper {
            /*TODO A lot of this CSS is shared in cc-banner-wrapper and its reused children. This file is a dumpster
            fire in general and we should really optimize this.*/
            .blue-border {
                border: 2px solid $ui-blue !important;
            }
            ot-loading {
                margin-top: 25px;
            }
            .cc-banner-wrapper-body {
                width: 100%;
                .cc-banner-wrapper-button-row {
                    .cc-banner-wrapper-button-container {
                        width: 50%;
                        float: left;
                        text-align: center;
                        button {
                            margin: auto;
                        }
                    }
                }
                .cc-banner-wrapper-banner-preview {
                    width: 60%;
                    float: right;
                }
            }
            
            .cc-use-template-toggle {
                margin-left: 15px;
                margin-top: 15px;
            }
            .cc-accordion-navigation__button {
                margin-top: 15px;
                &:first-of-type {
                    margin-left: 15px;
                }
                &:last-of-type {
                    margin-right: 15px;
                }
            }
            .cc-preview-script-buttons {
                width: 100%;
                button {
                    float: right;
                    &:first-of-type {
                        margin-right: 35px;
                    }
                }
            }
            .cc-light-theme {
                .cc-banner-preview-panel {
                    .optanon-alert-box-wrapper {
                        background-color: rgba(255, 255, 255, 0.85);
                        .optanon-alert-box-bg {
                            .optanon-alert-box-body {
                                span {
                                    color: rgba(0,0,0,0.87);
                                }
                            }
                        }
                    }
                }
                
            }
            .cc-dark-theme {
                .cc-banner-preview-panel {
                    .optanon-alert-box-wrapper {
                        background-color: rgba(0,0,0,0.87);
                        .optanon-alert-box-bg {
                            .optanon-alert-box-body {
                                span {
                                    color: rgba(255, 255, 255, 0.85);
                                }
                            }
                        }
                    }
                }
            }
            .cc-center-theme {
                .cc-banner-preview-panel {
                    .optanon-alert-box-corner-close {
                        float: right;
                        position: relative;
                        right: 5px;
                        top: 15px;
                    }
                    .alert-box-center-tile {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        min-height: 10rem;
                        max-height: 35rem;
                        height: 416px;
                        width: 453px;
                        border-radius: 3px;
                        .optanon-alert-box-bg {
                            .optanon-alert-box-body {
                                margin: 40px 40px 24px;
                                .optanon-alert-box-title {
                                    width: 392px;
                                }
                                .center-tile-notice-text {
                                    height: 10rem;
                                    margin-bottom: 1rem;
                                    width: 393px;
                                    border-top: 1px solid #EEEEEE;
                                }
                                .optanon-alert-box-button-middle {
                                    background-color: $green;
                                }
                                .optanon-alert-box-more-info-button {
                                    text-align: center;
                                    margin-top: 10px;
                                    a {
                                        color: black;
                                    }
                                }
                                .optanon-alert-box-bottom {
                                    font-size: 12px;
                                    width: 392px;
                                    position: relative;
                                    top: 90px;
                                }
                                .optanon-alert-box-button-container {
                                    height: 95px;
                                    width: 393px;
                                    text-align: center;
                                    margin: 0 auto;
                                    border-bottom: 1px solid #EEEEEE;
                                    .optanon-alert-box-accept-button {
                                        width: 138px;
                                        padding: 20px 0;
                                        border-radius: 2px;
                                        text-align: center;
                                        margin: auto;
                                        background-color: $green;
                                        .optanon-alert-box-yes-i-accept {
                                            font-family: Roboto;
                                            font-size: 15px;
                                            font-weight: bold;
                                            letter-spacing: -1px;
                                            text-align: center;
                                            a {
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__edit-wrapper {
        flex-direction: row;
    }

    &__accordion-navigation {
        flex: 1 1 30rem;
        border-right: 1px solid $grey-2;
        min-width: 36rem;
        max-width: 45rem;
    }

    &__accordion-item-content {
        padding: 0 0.5rem;
        &-section {
            justify-content: left;
        }
    }
}

.cc-banner-textarea {
    height: 10rem;
    line-height: 2rem !important;
    &.ng-dirty.ng-invalid {
        border-color: $light_red;
    }
}

.cc-banner-preview-panel {
    flex: 1 1 50rem;
    min-width: 60rem;

    &__preview {
        object-fit: contain;
        background-image: url(../images/consent/webpage-placeholder.svg);

        .optanon-alert-box-wrapper {
            position: absolute;
            bottom: 0;
            -webkit-font-smoothing: initial;
            max-height: 37rem;
            min-height: 10rem;
            overflow: hidden;
            z-index: 1;
        }

        .alert-box-center-tile {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .alert-box-wrapper-width {
            width: percentage(1/0.75);
        }

        .center-tile-notice-text{
            max-height: 10rem;
            min-height: 10rem;
            overflow: hidden;
            margin-bottom: 1rem;
        }

        .optanon-alert-box-footer-spacer {
            border-top: 1px solid #EEEEEE;
        }

        .optanon-alert-box-button-container {
            height: 75px;
        }
    }

    &__toggle-on {
        background-color: $light-grayish-blue !important;
        border-color: $light-grayish-blue !important;
        box-shadow: none !important;
    }

    &__toggle-off {
        background-color: $very-light-gray !important;
        border-color: $very-light-gray !important;
        box-shadow: none !important;
    }

    &__toggle-on:after{
        border-bottom: 2px solid transparent !important;
        border-right: 2px solid transparent !important;
    }

    &__toggle-on::before {
        background-color: $ui-blue !important;
    }

    &__toggle-off::after {
        background-color: $slate !important;
    }
}
