<link rel="stylesheet" id="bannerExternalURL">
<div class="row-wrap cc-banner-template__module-wrapper">
  <div class="cc-left-scroll-area flex-full-30">
    <banner-tabs
        class="overflow-y-auto border-right background-eggshell"
        [bannerLayoutOptions]="layoutOptions"
        [isCenterLayout]="isCenterLayout"
        [templateJson]="templateJson"
        [(itemBeingEdited)]="itemBeingEdited"
        (layoutSelectionCallback)="onLayoutSelected($event)"
        (validColorSelectionCallback)="validColorSelectionCallback.emit($event)"
        (bannerContentFormCallback)="bannerContentFormCallback.emit($event)"
    ></banner-tabs>
  </div>
    <banner-preview
        class="flex-full-60 overflow-hidden"
        [isCenterLayout]="isCenterLayout"
        [bodyStyle]="previewBodyStyle"
        [(itemBeingEdited)]="itemBeingEdited"
        [templateJson]="templateJson"
    ></banner-preview>
</div>
