<form [formGroup]="form" (keydown.enter)="$event.preventDefault()" class="flex-full-height margin-none full-width max-width-full">
    <div class="
        border
        border-radius
        margin-bottom-1
        padding-all-2
        "
        [ngClass]="editMode.value ? 'background-white' : 'background-grey'"
    >
        <!-- Title Bar -->
        <div class="row-space-between-center">
            <div class="
                flex-static-80
                overflow-ellipsis-nowrap
                row-vertical-center
                "
            >
                <ot-toggle
                    class="margin-right-2"
                    [checked]="active.value"
                    (toggle)="onActiveToggleClick($event)"
                ></ot-toggle>

                <ng-container *ngIf="!expanded.value; else ruleNameInput">
                    <span class="slds-truncate" otTooltip="{{name.value}}">
                        <span>{{name.value}}</span>
                    </span>
                </ng-container>
                <ng-template #ruleNameInput>
                    <abbr *ngIf="editMode.value" class="slds-required text-bold border-none margin-bottom-1-half margin-right-quarter">*</abbr>
                    <input otInput
                        class="min-width-25"
                        maxLength="100"
                        formControlName="name"
                        [disableFormControl]="!editMode.value"
                        [ngClass]="{ 'border-has-error': name.invalid && (name.dirty || name.touched) }"
                        [placeholder]="'RuleName' | translate"
                    />
                </ng-template>

            </div>
            <div class="row-vertical-center">
                <ng-container *ngIf="ruleMenuOptions$ | async as options">
                    <ot-context-menu
                        *ngIf="!editMode.value && options.length"
                        [menu]="options"
                        [type]="contextMenuType.Icon"
                    >
                        <i class="ot ot-ellipsis-h text-xlarge line-height-0 cursor-pointer"></i>
                        <a *otContextMenuItem="let option" (click)="option.action(form.value, ruleIndex)">
                            {{ option.text }}
                        </a>
                    </ot-context-menu>
                </ng-container>
                <i *ngIf="!editMode.value"
                    class="ot margin-left-1 text-xlarge cursor-pointer"
                    [class.ot-chevron-right]="!expanded.value"
                    [class.ot-chevron-down]="expanded.value"
                    (click)="expanded.value ? onCollapseClick() : onExpandClick()"
                ></i>
            </div>
        </div>

        <ng-container *ngIf="expanded.value">
            <!-- Frequency Block -->
            <div class="margin-top-2">
                <div class="margin-bottom-1">
                    <abbr class="slds-required text-bold border-none margin-all-quarter">*</abbr>
                    <span class="margin-right-1 text-bold text-medium-small">{{"FrequencyRun" | translate}}</span>
                </div>
                <div class="border-platinum background-grey padding-all-1-half row-nowrap">
                    <div class="stretch-horizontal">
                        <div class="row-vertical-center">
                            <div class="stretch-horizontal padding-right-1-half">
                                <div class="text-bold margin-bottom-half">{{'Frequency' | translate}}</div>
                                <div class="text-small">{{'SelectHowOftenTriggerWillOccur' | translate}}</div>
                            </div>
                            <div class="min-width-20">
                                <ot-picklist
                                    [disabled]="!editMode.value"
                                    [model]="ruleFrequencyOption[scheduleFrequency.value] | otTranslateOption"
                                    [options]="ruleFrequencyOptions | otTranslateOptions"
                                    [placeholder]="'SelectFrequency' | translate"
                                    (onSelect)="onScheduleFrequencySelect($event)"
                                ></ot-picklist>
                            </div>
                        </div>
                        <ng-container *ngIf="!collapseFrequencyInputs">
                            <ng-container [ngSwitch]="true">
                                <ng-container *ngSwitchCase="scheduleFrequency.value === frequency.ONCE_A_MONTH">
                                    <div class="row-vertical-center margin-left-2 padding-top-bottom-2 margin-top-bottom-2 border-bottom border-top">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'DayOfTheMonth' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-picklist
                                                [disabled]="!editMode.value"
                                                [model]="dayOfTheMonthOption[scheduleDayOfMonth.value]"
                                                [options]="dayOfTheMonthOptions"
                                                (onSelect)="onDayOfTheMonthSelect($event)"
                                            ></ot-picklist>
                                        </div>
                                    </div>
                                    <div class="row-vertical-center margin-left-2">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'TimeOfDay' | translate}}</div>
                                            <div class="text-small">{{'TimeOfDayDescription' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-timepicker
                                                [disabled]="!editMode.value"
                                                [hoursText]="'Hours' | translate"
                                                [is24Hour]="true"
                                                [minutesText]="'Minutes' | translate"
                                                [model]="scheduleTimeOfDay.value"
                                                [isDateModel]="false"
                                                (onChange)="onTimeOfDaySelect($event)"
                                            ></ot-timepicker>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="scheduleFrequency.value === frequency.ONCE_A_WEEK">
                                    <div class="row-vertical-center margin-left-2 padding-top-bottom-2 margin-top-bottom-2 border-bottom border-top">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'TimeOfDay' | translate}}</div>
                                            <div class="text-small">{{'TimeOfDayDescription' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-timepicker
                                                [disabled]="!editMode.value"
                                                [hoursText]="'Hours' | translate"
                                                [is24Hour]="true"
                                                [minutesText]="'Minutes' | translate"
                                                [model]="scheduleTimeOfDay.value"
                                                [isDateModel]="false"
                                                (onChange)="onTimeOfDaySelect($event)"
                                            ></ot-timepicker>
                                        </div>
                                    </div>
                                    <div class="row-vertical-center margin-left-2">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'DayOfAction' | translate}}</div>
                                            <div class="text-small">{{'SelectDayOfWeekActionWillOccur' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-picklist
                                                [disabled]="!editMode.value"
                                                [model]="ruleDaysOfWeekOption[scheduleDayOfWeek.value] | otTranslateOption"
                                                [options]="ruleDaysOfWeekOptions | otTranslateOptions"
                                                (onSelect)="onScheduleDayOfWeekSelect($event)"
                                            ></ot-picklist>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="scheduleFrequency.value === frequency.ONCE_A_DAY">
                                    <div class="row-vertical-center margin-left-2 padding-top-bottom-2 margin-top-bottom-2 border-bottom border-top">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'TimeOfDay' | translate}}</div>
                                            <div class="text-small">{{'TimeOfDayDescription' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-timepicker
                                                [disabled]="!editMode.value"
                                                [hoursText]="'Hours' | translate"
                                                [is24Hour]="true"
                                                [minutesText]="'Minutes' | translate"
                                                [model]="scheduleTimeOfDay.value"
                                                [isDateModel]="false"
                                                (onChange)="onTimeOfDaySelect($event)"
                                            ></ot-timepicker>
                                        </div>
                                    </div>
                                    <div class="row-vertical-center margin-left-2">
                                        <div class="stretch-horizontal padding-right-1-half">
                                            <div class="text-bold margin-bottom-half">{{'ActionOnWeekdayOnly' | translate}}</div>
                                            <div class="text-small">{{'OnlyActionMondayThroughFriday' | translate}}</div>
                                        </div>
                                        <div class="min-width-20">
                                            <ot-toggle
                                                class="pull-right"
                                                [checked]="scheduleActionOnWeekDayOnly.value"
                                                [disabled]="!editMode.value"
                                                (toggle)="onToggleWeekdayOnly($event)"
                                            ></ot-toggle>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="static-horizontal width-4 text-right">
                        <i
                            class="ot text-xlarge cursor-pointer"
                            [ngClass]="collapseFrequencyInputs ? 'ot-chevron-right' : 'ot-chevron-down'"
                            (click)="onCollapseFrequencyClick()"
                        ></i>
                    </div>
                </div>
            </div>

            <!-- Condition Groups -->
            <div class="margin-top-bottom-2 border-bottom"></div>
            <div>
                <div class="row-vertical-center margin-bottom-1">
                    <abbr class="slds-required text-bold border-none margin-all-quarter">*</abbr>
                    <span class="margin-right-1 text-bold text-medium-small">{{"Conditions" | translate}}</span>
                    <div otFormElement *ngIf="conditionGroups.value.length > 1" class="margin-right-1">
                        <ot-radio-button-group
                            [disabled]="!editMode.value"
                            [labelKey]="'label'"
                            [model]="conditionGroupSetting.value"
                            [options]="ruleConditionOptions | otTranslateOptions: true"
                            [valueKey]="'value'"
                            (onSelect)="onConditionOptionSelect($event)"
                        ></ot-radio-button-group>
                    </div>
                </div>
                <div formArrayName="conditionGroups">
                    <ng-container *ngFor="let group of conditionGroups?.controls; trackBy: trackByFn; let lastGroup = last; let groupIndex = index;">
                        <div class="
                            position-relative
                            border
                            border-radius
                            background-grey
                            padding-all-1
                            "
                            [formGroupName]="groupIndex"
                        >
                            <div formArrayName="conditions">
                                <ng-container *ngFor="let condition of group?.controls?.conditions?.controls; let first = first; let lastCondition = last; let conditionIndex = index;">

                                    <div [formGroupName]="conditionIndex" class="row-vertical-center">
                                        <ot-add-remove
                                            class="full-width"
                                            [attr.ot-auto-id]="'RuleAddRemoveCondtion_' + conditionIndex"
                                            [stretchContent]="true"
                                            [showAdd]="editMode.value && lastCondition"
                                            [showRemove]="editMode.value && group.value.conditions.length > 1"
                                            (clickAdd)="addCondition(groupIndex)"
                                            (clickRemove)="removeCondition(groupIndex, conditionIndex)"
                                        >
                                            <div class="row-nowrap"
                                                [class.margin-bottom-1]="!lastCondition"
                                            >
                                                <div class="row-nowrap flex-static-50 margin-right-half">
                                                    <div *ngIf="!first" class="text-bold text-uppercase margin-top-half margin-right-1">
                                                        {{ "Or" | translate }}
                                                    </div>
                                                    <div class="full-width">
                                                        <ot-picklist
                                                            class="full-width margin-bottom-half"
                                                            labelKey="label"
                                                            valueKey="value"
                                                            [attr.ot-auto-id]="'RuleTriggerOptions_' + conditionIndex"
                                                            [autoClose]="true"
                                                            [disabled]="!editMode.value"
                                                            [model]="ruleTriggerOptions[condition.value.field] | otTranslateOption"
                                                            [options]="(triggerOptions$ | async) | otTranslateOptions"
                                                            [placeholder]="'Trigger' | translate"
                                                            (onSelect)="onTriggerChange(groupIndex, conditionIndex, $event)"
                                                        ></ot-picklist>
                                                        <div class="full-width">
                                                            <ng-container *ngIf="condition.value.field; else emptyOperator">
                                                                <ot-picklist
                                                                    class="full-width"
                                                                    labelKey="label"
                                                                    valueKey="value"
                                                                    [attr.ot-auto-id]="'RuleOperatorOptions_' + conditionIndex"
                                                                    [autoClose]="true"
                                                                    [disabled]="!editMode.value"
                                                                    [model]="ruleOperatorOptions[condition.value.operator] | otTranslateOption"
                                                                    [options]="specificationsMap[condition.value.field].operators | otTranslateOptions"
                                                                    [placeholder]="'Operator' | translate"
                                                                    (onSelect)="onOperatorChange(groupIndex, conditionIndex, $event)"
                                                                ></ot-picklist>
                                                            </ng-container>
                                                            <ng-template #emptyOperator>
                                                                <input otInput type="text"
                                                                    [attr.ot-auto-id]="'RuleConditionValue_' + conditionIndex"
                                                                    [disabled]="true"
                                                                    [placeholder]="'Operator' | translate"
                                                                />
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="full-width">
                                                    <ot-picklist
                                                        class="full-width margin-bottom-half"
                                                        labelKey="label"
                                                        valueKey="value"
                                                        [attr.ot-auto-id]="'RuleVariableOptions_' + conditionIndex"
                                                        [autoClose]="true"
                                                        [disabled]="!editMode.value || true"
                                                        [model]=""
                                                        [options]=""
                                                        [placeholder]="'Variable' | translate"
                                                    ></ot-picklist>
                                                    <div class="full-width">
                                                        <ng-container [ngSwitch]="condition.value.valueType">
                                                            <ng-container *ngSwitchCase="ruleOperandType.ARRAY"></ng-container>
                                                            <ng-container *ngSwitchCase="ruleOperandType.BOOLEAN"></ng-container>
                                                            <ng-container *ngSwitchCase="ruleOperandType.LONG">
                                                                <ng-container *ngIf="
                                                                    condition.value.field === ruleTriggerTypes.CONTRACT_EXPIRING_DATE_IN_DAYS
                                                                    || condition.value.field === ruleTriggerTypes.LAST_ASSESSMENT_DATE
                                                                ">
                                                                    <div class="row-vertical-center">
                                                                        <input otInput type="number"
                                                                            class="full-width"
                                                                            formControlName="value"
                                                                            min="1"
                                                                            max="9999"
                                                                            [attr.ot-auto-id]="'RuleConditionValue_' + conditionIndex"
                                                                            [ngClass]="{ 'border-has-error': condition.get('value').invalid && (condition.get('value').dirty || condition.get('value').touched) }"
                                                                            [disableFormControl]="!editMode.value"
                                                                            [placeholder]="'Number' | translate"
                                                                        />
                                                                        <span class="full-width margin-left-1">{{"Days" | translate}}</span>
                                                                    </div>
                                                                </ng-container>
                                                            </ng-container>
                                                            <ng-container *ngSwitchCase="ruleOperandType.STRING">
                                                                <input otInput type="text"
                                                                    formControlName="value"
                                                                    [attr.ot-auto-id]="'RuleConditionValue_' + conditionIndex"
                                                                    [disableFormControl]="!editMode.value"
                                                                    [placeholder]="'Text' | translate"
                                                                />
                                                            </ng-container>
                                                            <ng-container *ngSwitchDefault>
                                                                <input otInput type="text"
                                                                    [attr.ot-auto-id]="'RuleConditionValue_' + conditionIndex"
                                                                    [disabled]="true"
                                                                    [placeholder]="'Value' | translate"
                                                                />
                                                            </ng-container>
                                                            <ng-container *ngFor="let validation of triggerValidations[condition.value.field]">
                                                                <p *ngIf="condition.get('value').hasError(validation.type)" class="text-small text-error">{{validation.message | translate}}</p>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </ot-add-remove>
                                    </div>

                                </ng-container>
                                <i *ngIf="editMode.value && form['controls'].conditionGroups.value.length > 1"
                                    class="ot ot-close position-absolute top-right-1 cursor-pointer"
                                    (click)="onConditionGroupRemove(groupIndex)"
                                ></i>
                            </div>
                        </div>
                        <div *ngIf="form['controls'].conditionGroups.value.length > 1 && !lastGroup" class="margin-top-bottom-1 text-bold text-uppercase">
                            {{ ruleTranslations[group.get('logicalOperator').value] | translate }}
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- Add Condition Group -->
            <button otButton neutral
                class="margin-top-bottom-2"
                ot-auto-id="RulesAddConditionBlockButton"
                [disabled]="!editMode.value"
                (click)="onConditionGroupAdd()"
            >
                {{"AddConditionBlock" | translate}}
            </button>
            <div class="margin-bottom-2 border-bottom"></div>

            <!-- Actions -->
            <div class="margin-bottom-1">
                <abbr class="slds-required text-bold border-none margin-all-quarter">*</abbr>
                <span class="margin-right-1 text-bold text-medium-small">{{"Actions" | translate}}</span>
            </div>
            <div formArrayName="actions">
                <ng-container *ngFor="let action of actions?.controls; let actionIndex = index; trackBy: trackByFn;">
                    <div
                        [formGroupName]="actionIndex"
                        class="position-relative  padding-all-1 margin-bottom-1 border border-radius background-grey">
                        <ot-picklist
                            class="full-width width-90-percent"
                            ot-auto-id="RuleActionPicklist"
                            labelKey="label"
                            valueKey="value"
                            [disabled]="!editMode.value"
                            [placeholder]="'SelectAction' | translate"
                            [autoClose]="true"
                            [options]="(ruleActionOptions$ | async) | otTranslateOptions"
                            [model]="action.value.type ? (ruleActionOptions[action.value.type] | otTranslateOption) : null"
                            (onSelect)="selectAction($event, actionIndex)"
                        ></ot-picklist>

                        <ng-container *ngIf="action.value.type === ruleActionType.SEND_ASSESSMENT">
                            <rules-send-assessment
                                [ruleContext]="ruleContext"
                                [editMode]="editMode.value"
                                [assessmentForm]="action.get('parameters')"
                                [type]="action.value.type"
                            ></rules-send-assessment>
                        </ng-container>

                        <ng-container *ngIf="action.value.type === ruleActionType.SEND_EMAIL">
                            <rules-send-email
                                [ruleContext]="ruleContext"
                                [editMode]="editMode.value"
                                [emailForm]="action.get('parameters')"
                                [type]="action.value.type"
                            ></rules-send-email>
                        </ng-container>

                        <i *ngIf="editMode.value && form['controls'].actions.value.length > 1"
                            class="ot ot-close position-absolute top-right-1 cursor-pointer"
                            (click)="removeAction(actionIndex)"
                        ></i>
                    </div>
                </ng-container>
            </div>
            <button otButton neutral
                *ngIf="editMode.value && form['controls'].actions.value.length < 10"
                class="margin-top-1"
                ot-auto-id="RulesAddActionButton"
                [disabled]="!editMode.value"
                (click)="addAction()"
            >
                {{"AddAction" | translate}}
            </button>
        </ng-container>
    </div>
</form>
