.intg-action-add {
    &__header-action-container {
        max-width: 5rem;
    }
    &__header-action-icons {
        line-height: 2rem;
    }
    &__lookup-item {
        &:hover {
            background-color: $paper-gray;
            color: $slate;
        }
    }
    &__value-align {
        padding-top: 1.27rem;
    }
    &__loookup-invalid .ot-lookup__input {
        border: 1px solid $cherry;
    }
}
