<ot-modal-header (close)="closeModal()">
     <div>{{modalTitle | otTranslate}}</div>
</ot-modal-header>
<ot-modal-content>
    <section *ngIf="ready else intgSystemActionLoader">
        <form  novalidate
            *ngIf="ready"
            [formGroup]="actionForm"
        >
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'ActionName'| otTranslate"
                [required]="true"
            >
                <input otInput
                    formControlName="name"
                    ot-auto-id="IntgActionName"
                    maxlength="100"
                    [placeholder]="'EnterName'| otTranslate"
                />
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Description'| otTranslate"
                [required]="true"
            >
                <textarea otTextarea
                    formControlName="description"
                    ot-auto-id="IntgActionDescription"
                    [placeholder]="'EnterDescription'| otTranslate"
                ></textarea>
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'EndpointPath'| otTranslate"
                [required]="true"
            >
                <input otInput
                    formControlName="endpointPath"
                    ot-auto-id="IntgActionEndpointPath"
                    [placeholder]="'EnterEndpointPath'| otTranslate"
                />
                <label
                    *ngIf="actionForm.controls['endpointPath']?.errors"
                    class="text-bold color-cherry margin-top-bottom-half">
                    {{ 'InvalidRequestUrl' | otTranslate }}
                </label>
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Method' | otTranslate"
                [required]="true"
            >
                <ot-picklist
                    ot-auto-id="'IntgActionMethod'"
                    [placeholder]="'Select' | otTranslate"
                    [autoClose]="true"
                    [options]="methodTypes"
                    [valueKey]="'value'"
                    [labelKey]="'key'"
                    [model]="actionForm.get('method').value"
                    (onSelect)="actionForm.get('method').setValue($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                [label]="'EnterOptionalHeaderToInclude' | otTranslate"
            >
                <ng-container
                    formArrayName="optionalHeader"
                    *ngFor="let header of actionForm.get('optionalHeader')!['controls']; let i = index;let last=last;let first=first;"
                >
                    <li
                        class="flex list-style-none row-space-between"
                        [formGroupName]="i">
                        <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                            <div
                                class="text-bold"
                                otFormElement
                                [label]="'Key' | otTranslate"
                            >
                                <div class="margin-top-1">
                                    <ot-lookup
                                        [ngClass]="(header.get('value').value && !(inputValue || selectedOption[i])) || header.get('key').invalid   ? 'intg-action-add__loookup-invalid' : ''"
                                        [attr.ot-auto-id]="'IntgActionOptionalHeader_' + i"
                                        [options]="headerTypes"
                                        [labelKey]="'key'"
                                        [model]="selectedOption[i]"
                                        [inputValue]="inputValue"
                                        (modelChange)="onModelChange($event, i)"
                                        (inputChange)="onInputChange($event)"
                                        (firstOptionSelect)="handleFirstOption(inputValue,i)"
                                    >
                                        <ng-template otFirstOption *ngIf="inputValue">
                                            <div
                                                id="listbox-option-unique-id-00"
                                                role="option"
                                                [attr.ot-auto-id]="'IntgActionAddCustomOptionalHeader_' + i"
                                                >
                                                {{allowOtherPrependText | otTranslate}}: {{inputValue}}
                                            </div>
                                        </ng-template>
                                    </ot-lookup>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                            <div class="text-bold">{{'Value' | otTranslate}}</div>
                            <input otInput
                                class="margin-top-1"
                                formControlName="value"
                                [ngClass]="{'border-has-error':header.get('value').invalid}"
                                [required]="selectedOption[i]"
                                [attr.ot-auto-id]="'IntgActionOptionalHeader_' + i"
                                (ngModelChange)="onValueChange($event,i)"
                            />
                        </div>
                        <div class="flex align-center row-space-between intg-action-add__header-action-container margin-top-4 width-4">
                            <i
                                *ngIf="!(first && last)"
                                class="ot ot-minus-circle color-cherry text-pointer no-outline text-large intg-action-add__header-action-icons padding-left-right-half margin-right-1"
                                ot-auto-id="IntgActionRemoveOptionalHeaderButton"
                                (click)="onRemoveOptionClick(i)"
                            ></i>
                            <i
                                *ngIf="last"
                                class="ot ot-plus-circle color-green text-pointer no-outline text-xlarge intg-action-add__header-action-icons padding-left-right-half"
                                ot-auto-id="IntgActionAddOptionalHeaderButton"
                                (click)="onAddOptionClick()"
                            ></i>
                        </div>
                    </li>
                </ng-container>
            </div>

            <div class="flex padding-top-bottom-1">
                <div otFormElement
                    class="flex-grow-1"
                    [label]="'RequestBody'| otTranslate"
                    [hasError]="actionForm.get('requestBody')?.errors?.validJson"
                    [errorMessage]="'InvalidJsonPayload' | otTranslate"
                >
                    <textarea otTextarea
                        formControlName="requestBody"
                        ot-auto-id="IntgActionRequestBody"
                        rows="8"
                    ></textarea>
                </div>
            </div>
            <div class="flex padding-top-bottom-1">
                <div otFormElement
                    class="flex-grow-1"
                    [label]="'ResponseBody'| otTranslate"
                    [hasError]="actionForm.get('responseBody')?.errors?.validJson"
                    [errorMessage]="'InvalidJsonPayload' | otTranslate"
                >
                    <textarea otTextarea
                        formControlName="responseBody"
                        ot-auto-id="IntgActionResponseBody"
                        rows="8"
                    ></textarea>
                </div>
            </div>
        </form>
    </section>
    <ng-template #intgSystemActionLoader>
        <ot-loading class="stretch-vertical column-horizontal-vertical-center"></ot-loading>
    </ng-template>
</ot-modal-content>

<ot-modal-footer *ngIf="ready">
    <button
        otButton
        ot-auto-id="IntgSystemActionsModalCancelBtn"
        (click)="closeModal()"
    >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        *ngIf="workflowDetail?.sourceType !== sourceType.SEED"
        otButton
        brand
        class="height-100"
        ot-auto-id="IntgSystemActionsModalAddBtn"
        [loading]="saveInProgress"
        [disabled]="actionForm.invalid || saveInProgress"
        (click)="onClickAddActions()"
    >
        {{ (isEdit ? 'Save' :'Add') | otTranslate }}
    </button>
</ot-modal-footer>
