<div class="min-width-33 align-center row-space-between row-wrap border-bottom">
    <div class="width-20-percent static-horizontal">
        <p class="text-left text-bold text-medium">{{applicableLawReadiness.lawName}}</p>
    </div>
    <div class="width-10 align-center row-nowrap ">
        <p class="text-right text-medium margin-right-1">{{applicableLawReadiness.lawStatisticsSummary.readinessScore}}%</p>
        <p class="text-right text-bold text-medium margin-right-1">{{"Ready" | translate}}</p>
    </div>
     <!--Stacked Bar-->
    <div class="min-width-15 flex height-3 row-nowrap">
        <div
            class="background-green"
            [style.width.%]="greenBarValue"
        ></div>
        <div
            class="background-orange"
            [style.width.%]="orangeBarValue"
        ></div>
        <div class="background-grey-1 flex"></div>
    </div>
    <!--Questions Response summary-->
    <gra-response-summary-card [responseSummaryDetail]="applicableLawReadiness.lawStatisticsSummary"></gra-response-summary-card>
</div>
