<div class="centered-max-70 margin-top-bottom-5 padding-left-right-3">
    <form class="centered-max-50" name="nameForm">
        <ng-container
            *ngIf="manageMode === modes.CREATE"
        >
            <div
                *ngFor="let key of system?.form?.nameFormKeys; let first=first; let last=last; trackBy: trackByIndex"
            >
                <p
                    *ngIf="key.headerText"
                    [ngClass]="{'text-bold': first, 'padding-bottom-half': last}"
                    [innerHTML]="key.headerText | otTranslate"
                ></p>
                <p
                    class="padding-bottom-2"
                    *ngFor="let subHeader of key.subHeaderText; let index=index; trackBy: trackByIndex"
                >
                    <span [innerHTML]="subHeader.name | otTranslate"></span>
                    <a
                        *ngIf="subHeader.link"
                        class="text-link"
                        target="_blank"
                        [attr.ot-auto-id]="'IntgConnectionDetailSubHeader'+index"
                        [href]="subHeader.link"
                        [innerHTML]="subHeader.linkText | otTranslate"
                    ></a>
                </p>
            </div>
        </ng-container>
        <div otFormElement
            class="block margin-top-half padding-bottom-1"
            [label]="'ConnectionName' | otTranslate"
            [required]="true"
        >
            <div>
                <input
                    otInput
                    name="connectionName"
                    ot-auto-id="IntgConnectionDetailsConnectionNameInput"
                    class="one-input full-width"
                    maxlength="100"
                    [required]="true"
                    [disabled]="formIsDisabled"
                    [placeholder]="'EnterConnectionName' | otTranslate"
                    [(ngModel)]="connection.name"
                    #connectionNameInput="ngModel"
                />
                <p
                    *ngIf="connectionNameInput?.invalid && (connectionNameInput?.dirty ||  connectionNameInput?.touched)"
                    class="text-error margin-top-half"
                    [innerHTML]="'EnterValidConnectionName' | otTranslate"
                ></p>
            </div>
        </div>
    </form>
    <intg-connection-form
        *ngIf=" system?.form?.showOutbound"
        [formName]="'outboundForm'"
        [formInputFields]="system?.form?.outboundFields"
        [formIsDisabled]="formIsDisabled"
        (handleAction)="handleFormAction($event)"
    >
    </intg-connection-form>
</div>
