<div class="flex-full-30 padding-top-bottom-5">
    <ot-loading otPageLoading
        *ngIf="!canLoadPage"
    >{{'Loading' | otTranslate}} {{'Statuses' | otTranslate}}...
    </ot-loading>
    <assessment-status-count
        *ngIf="canLoadPage"
        [assessmentStatusCount]="assessmentStatusCount"
        [totalCount]= "totalCount"
    ></assessment-status-count>
</div>
<div class="flex-full-70 padding-all-2 background-white shadow7">
    <assessment-status-donut-graph
        [orgList]="orgList"
        [graphData]="assessmentStatusGraphData"
        [isEmptyData]="totalCount<=0"
        [canLoadPage]="canLoadPage"
        (donutClickCallback)="onDonutClickCallback($event)"
        (onOrgChange)="onStatusOrgChange($event)"
        (onTemplateChange)="onStatusTemplateChange($event)"
    ></assessment-status-donut-graph>
</div>

