<ot-modal-header (close)="closeModal()">
    <div>{{ 'ChangeInventoryStatus' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <h5 class="text-center"> {{ "ChangeInventoryStatusForText" | otTranslate }} </h5>
    <h5 class="text-center text-bold"> {{ inventoryName }} </h5>
    <ng-template #form>
        <form
            name="changeInventoryStatusForm"
            class="change-inventory-status-modal_content flex-full-height"
            >
            <div
                otFormElement
                class="margin-top-1"
                [required]="true"
                [label]="'SelectNewStatus' | otTranslate"
                >
                <ot-picklist
                    ot-auto-id="ChangeInventoryStatusInput"
                    [placeholder]="'SelectNewStatus' | otTranslate"
                    [options]="statusOptions"
                    [model]="selectedStatusOption"
                    [multiSelect]="false"
                    [autoClose]="true"
                    [disabled]="isSaving"
                    (onSelect)="selectStatus($event)"
                    >
                </ot-picklist>
            </div>
            <div
                otFormElement
                class="margin-top-1"
                [label]="'StatusDescription' | otTranslate"
                >
                <h5 *ngIf="selectedStatusOption"> {{ inventoryStatusDescTranslationKeys[selectedStatusOption.value] | otTranslate }} </h5>
                <h5 *ngIf="!selectedStatusOption"> {{ inventoryStatusDescTranslationKeys['active'] | otTranslate }}</h5>
            </div>
        </form>
    </ng-template>
    <ot-loading otPageLoading *ngIf="!isReady; else form"></ot-loading>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="ChangeInventoryStatusCancelButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{"Cancel" | otTranslate}}
    </button>
    <button
        otButton
        brand
        ot-auto-id="ChangeInventoryStatusUpdateButton"
        [disabled]="updateDisabled"
        [loading]="isSaving"
        (click)="changeInventoryStatus()"
        >
        {{"UpdateStatus" | otTranslate}}
    </button>
</ot-modal-footer>
