<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <cr-header [title]="'CollectionPointsToUpdate' | otTranslate">
        <button otButton brand
            ot-auto-id="UpdateCollectionPoints"
            [innerText]="'UpdateCollectionPoints' | otTranslate"
            [disabled]="isUpdateCollectionPointsDisabledCheck || isUpdating "
            [loading]="isUpdating"
            (click)="updateCollectionPoints()"
        ></button>
        <ot-context-menu
            class="margin-left-1"
            *ngIf="jwtTokens"
            [menu]="ellipsisOptions"
            (toggled)="onToggleMenu()"
            >
            <i class="ot ot-ellipsis-h"></i>
            <a
                *otContextMenuItem="let option"
                (click)="option.action()"
                >
                {{ option.text }}
            </a>
        </ot-context-menu>
    </cr-header>

    <div class="full-width position-relative height-100 overflow-hidden">
        <cr-table
            noDataKey="NoCollectionPointsFound"
            [columns]="columns"
            [rows]="tableData"
            [loading]="searchInProgress"
            [resizable]="false"
            (goToRoute)="goToRoute($event)"
            (pageChange)="loadPage($event)"
            (selectionChange)="handleSelectionChange($event)"
        ></cr-table>
    </div>
</div>