.one-filter {

    &__filter {
        min-height: 8.2rem;

        &--selected {
            border: 1px solid $blue;
        }
    }

    &__list {
        border-top: 5px solid $platinum;
    }

    &__remove-all {

        &--disabled {
            cursor: not-allowed;
            color: $gray-disabled;

            &:hover {
                color: $gray-disabled;
            }
        }

        &-container {
            border-top: 1px solid $platinum;
            border-bottom: 1px solid $platinum;
        }
    }

    &__popover {
        max-height: 45rem;
        width: 31.1rem;
        border: 1px solid $frost;
        z-index: 1023; // one less than global launcher
    }

    &__loading {
        min-height: 22.6rem;
    }

    &__filter-loading {
        display: flex;
        align-items: center;
    }

    &__footer {
        border-top: 1px solid $platinum;
        border-bottom: 1px solid $platinum;
    }

    &__multi-user {
        min-height: 15rem;
        max-height: 20rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__multi-select-container {
        .ot-lookup-pill-container {
            max-height: 30vh;
            overflow-y: auto;
        }
    }
}

@supports (-ms-ime-align: auto) or (-moz-appearance:none) {
    @media screen and (max-height: 700px) {
        .ot-datepicker .mydp .selector,
        .ot-datepicker .mydrp .selector {
            bottom: 3.8rem;
        }
    }
}
