<section class="flex-full-height">
    <div class="one-filter__new static-vertical row-horizontal-center margin-top-1 margin-bottom-2">
        <button
            otButton brand
            class="slds-button__add"
            ot-auto-id="FilterAddNewBtn"
            [disabled]="loadingSavedFilter || disableAddFilter"
            (click)="togglePopup()"
            >
            {{labels.addFilter}}
        </button>
    </div>
    <div class="one-filter__list flex-full-height">
        <div class="one-filter__remove-all-container static-vertical row-flex-end">
            <span
                class="one-filter__remove-all blue-anchor-style text-bold padding-all-1"
                ot-auto-id="FilterRemoveAllBtn"
                [ngClass]="{'one-filter__remove-all--disabled': !(_filters && _filters.length) || loadingSavedFilter }"
                (click)="removeAll()"
                >
                {{labels.removeAllFilters}}
            </span>
        </div>
        <div class="stretch-vertical overflow-y-auto padding-top-bottom-1 padding-left-right-2"
            [ngClass]="{ 'one-filter__filter-loading': loadingSavedFilter }"
            >
            <div
                *ngIf="_showPopup && selectedFilterIndex === -1"
                class="one-filter__filter one-filter__filter--selected padding-all-half margin-bottom-1 border-radius background-active"
                modifierClass="one-filter__popover shadow background-grey"
                [otPopover]="filterPopover"
                [position]="popOverPosition"
                [isOpen]="true"
                >
                {{labels.newFilter}}
            </div>
            <div
                class="full-width row-horizontal-vertical-center"
                *ngIf="loadingSavedFilter; else filters"
                >
                <ot-loading otPageLoading></ot-loading>
            </div>
            <ng-template #filters>
                <div
                    *ngFor="let filter of _filters; let i = index"
                    class="one-filter__filter cursor-pointer row-nowrap padding-all-half padding-left-1 margin-bottom-1 border-radius background-white border-platinum"
                    ot-auto-id="FilterToggleBtn"
                    modifierClass="one-filter__popover shadow background-grey"
                    [ngClass]="{'one-filter__filter--selected background-active': i === selectedFilterIndex }"
                    [otPopover]="filterPopover"
                    [isOpen]="_showPopup && i === selectedFilterIndex"
                    [position]="popOverPosition"
                    (click)="togglePopup(true, i)"
                    >
                    <div class="stretch-horizontal">
                        <p class="text-bold margin-bottom-half">{{ filter.field?.label }}</p>
                        <p class="margin-bottom-half">{{ filter.operator?.label || (filter.type | getLabelBy: getDefaultOperatorByType) }}</p>
                        <p class="margin-bottom-0 word-break-all">{{ filter | getLabelBy: getValueLabel }}</p>
                    </div>
                    <div
                        class="static-horizontal"
                        [attr.ot-auto-id]="'FilterRemoveBtn_' + i"
                        (click)="remove(i)"
                        >
                        <svg
                            class="slds-icon--x-small slds-icon-text-default"
                            aria-hidden="false"
                            >
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"
                            />
                        </svg>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #filterPopover>
        <div
            class="one-filter__loading column-vertical-center"
            *ngIf="loadingFilter || _loading; else filterInputs"
            >
            <ot-loading></ot-loading>
        </div>
        <ng-template #filterInputs>
            <div class="column-nowrap">
                <header class="static-vertical margin-bottom-1">
                    <div
                        class="align-right cursor-pointer"
                        ot-auto-id="FilterCloseBtn"
                        (click)="togglePopup(false)"
                        >
                        <svg
                            class="slds-icon--x-small slds-icon-text-default"
                            aria-hidden="false"
                            >
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"
                            />
                        </svg>
                    </div>
                    <p class="text-bold paddding-top-bottom-1 padding-right-2">{{labels.addFilter}}</p>
                </header>
                <section class="stretch-vertical">
                    <ot-lookup
                        class="block margin-bottom-1"
                        ot-auto-id="FilterFieldSelection"
                        valueKey="value"
                        labelKey="label"
                        [model]="fieldSelection"
                        [options]="fields
                            | mapToLabelValue: getFieldLabelValue
                            | filterBy: filterSelectedFields
                            | lookup: (fieldSelection ? [fieldSelection] : []) : fieldSearchTerm : 'value' : 'label'"
                        [placeholder]="labels.field"
                        (modelChange)="onFieldChange($event.currentValue)"
                        (inputChange)="fieldSearch($event)"
                        (click)="clearInput()"
                    ></ot-lookup>
                    <div
                        class="text-bold margin-bottom-1 margin-left-right-1"
                        *ngIf="!(currentOperators && currentOperators.length); else customOperator"
                        >
                        {{ currentType | getLabelBy: getDefaultOperatorByType }}
                    </div>
                    <ng-template #customOperator>
                        <ot-picklist
                            *ngIf="currentOperators.length > 1; else defaultOperator"
                            class="block margin-bottom-1"
                            ot-auto-id="FilterOperatorSelection"
                            [options]="currentOperators | mapToLabelValue: getOperatorLabelValue"
                            [model]="operatorSelection"
                            [placeholder]="'Operator' | otTranslate"
                            (onSelect)="onOperatorChange($event)">
                        </ot-picklist>
                        <ng-template #defaultOperator>
                            <div class="text-bold margin-bottom-1 margin-left-right-1">{{currentOperators[0]?.label}}</div>
                        </ng-template>
                    </ng-template>
                    <div class="margin-bottom-1"
                        [ngClass]="{'one-filter__multi-user': currentType === valueTypes.MultiUser || currentType === valueTypes.User}">
                        <ng-container *ngIf="fieldSelection; else disabledInput">
                            <ng-container [ngSwitch]="currentType">
                                <ot-lookup
                                    *ngSwitchCase="valueTypes.SingleSelect"
                                    ot-auto-id="FilterSingleSelection"
                                    valueKey="value"
                                    labelKey="label"
                                    [model]="valueSelection && valueSelection.length ? valueSelection[0] : ''"
                                    [multiSelect]="false"
                                    [options]="currentValues | mapToLabelValue: getValueLabelValue | lookup: (valueSelection && valueSelection.length ? valueSelection : []) : valueSearchTerm : 'value' : 'label'"
                                    [placeholder]="labels.value"
                                    [disabled]="!fieldSelection"
                                    [virtualScroll]="!!disableAddFilter"
                                    [dynamicHeight]="false"
                                    (modelChange)="onSingleSelectChange($event.currentValue)"
                                    (inputChange)="valueSearch($event)"
                                ></ot-lookup>
                                <ot-lookup
                                    *ngSwitchCase="valueTypes.MultiSelect"
                                    class="one-filter__multi-select-container"
                                    ot-auto-id="FilterMultiSelection"
                                    valueKey="value"
                                    labelKey="label"
                                    [clearInputOnModelChange]="true"
                                    [model]="valueSelection"
                                    [multiSelect]="true"
                                    [options]="currentValues | mapToLabelValue: getValueLabelValue | lookup: (valueSelection || []) : valueSearchTerm : 'value' : 'label'"
                                    [placeholder]="labels.value"
                                    [disabled]="!fieldSelection"
                                    [virtualScroll]="!!disableAddFilter"
                                    [dynamicHeight]="false"
                                    (modelChange)="onMultiSelectChange($event.currentValue)"
                                    (inputChange)="valueSearch($event)"
                                ></ot-lookup>
                                <ot-org-user-multi-select
                                    *ngSwitchCase="valueTypes.MultiUser"
                                    ot-auto-id="FilterMultiUserSelection"
                                    wrapperClass="row-flex-start"
                                    userSelectClass="width-75-percent"
                                    [allowEmail]="false"
                                    [userList]="(valueSelection || []) | map:getUserModel"
                                    [traversal]="traversal"
                                    (onSelect)="onMultiUserChange($event)"
                                    >
                                </ot-org-user-multi-select>
                                <ot-org-user
                                    *ngSwitchCase="valueTypes.User"
                                    ot-auto-id="FilterUserSelection"
                                    [allowEmail]="false"
                                    [traversal]="traversal"
                                    [model]="valueSelection && valueSelection.length ? valueSelection[0].value : ''"
                                    (onSelect)="onUserChange($event)"
                                    >
                                </ot-org-user>
                                <input otInput
                                    *ngSwitchCase="valueTypes.Text"
                                    ot-auto-id="FilterTextInput"
                                    [ngModel]="valueSelection && valueSelection.length ? valueSelection[0].label : ''"
                                    (ngModelChange)="onTextChange($event)"
                                />
                                <input otInput
                                    *ngSwitchCase="valueTypes.Number"
                                    ot-auto-id="FilterNumberInput"
                                    type="number"
                                    min="0"
                                    [ngModel]="valueSelection?.length ? valueSelection[0].label : ''"
                                    [placeholder]="'Value' | otTranslate"
                                    (ngModelChange)="onNumberChange($event)"
                                />
                                <org-select
                                    *ngSwitchCase="valueTypes.Org"
                                    identifier="FilterOrgSelection"
                                    [model]="valueSelection && valueSelection.length ? valueSelection[0].value : ''"
                                    (onSelect)="onOrgChange($event)"
                                    >
                                </org-select>
                                <ot-datepicker
                                    *ngSwitchCase="valueTypes.Date"
                                    ot-auto-id="FilterDatePicker"
                                    [format]="dateFormat"
                                    [dateModel]="valueSelection && valueSelection.length ? ([valueSelection] | map:getDateModel)[0] : ''"
                                    (onChange)="onDateChange($event)"
                                ></ot-datepicker>
                                <ot-datepicker
                                    *ngSwitchCase="valueTypes.DateRange"
                                    ot-auto-id="FilterDateRangePicker"
                                    [format]="dateFormat"
                                    [dateModel]="valueSelection && valueSelection.length ? ([valueSelection] | map:getDateRangeModel)[0] : ''"
                                    [useRangePicker]="true"
                                    (onChange)="onDateRangeChange($event)"
                                ></ot-datepicker>
                            </ng-container>
                        </ng-container>
                        <ng-template #disabledInput>
                            <input otInput [disabled]="true"/>
                        </ng-template>
                    </div>
                </section>
                <footer class="static-vertical row-flex-end padding-top-2 padding-bottom-1">
                    <button
                        otButton brand
                        ot-auto-id="FilterSaveBtn"
                        [disabled]="!(valueSelection && valueSelection.length && fieldSelection)"
                        (click)="saveFilter()"
                        >
                        {{labels.save}}
                    </button>
                </footer>
            </div>
        </ng-template>
    </ng-template>
    <footer class="one-filter__footer row-space-around static-vertical padding-all-1">
            <button
                otButton neutral
                class="slds-button__cancel"
                ot-auto-id="FilterCancelBtn"
                (click)="cancel.emit()"
                >
                {{labels.cancel}}
            </button>
            <button
                otButton brand
                class="slds-button__apply"
                ot-auto-id="FilterApplyBtn"
                [disabled]="disableApply"
                (click)="apply()"
                >
                {{labels.apply}}
            </button>
    </footer>
</section>
