// smart-table/_footer.scss

&__save {
    @include button(primary);
    margin-left: 1rem;
    min-width: 6.6rem;

    &-loading i.one__loading__icon {
        color: $white;
        margin: 0;
    }
}
