// smart-table/_header.scss

&__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 1rem;
    color: $slate;

    p {
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 0;
    }

    .button-container {
        display: flex;
    }
}

&__actions {
    width: 100%;
    flex: 0 0 4.8rem;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &-text {
        display: none;
        @media(min-width: $small) {
            display: inline-block;
        }
    }
}

&__edit {
    position: relative;
    display: inline-block;

    &-btn {
        @include button(primary);
        padding: 0.6rem 1rem;
        min-width: 15rem;

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $grey-3;
            background-color: $grey-1;
            border-color: $grey-3;
            pointer-events: none;
            opacity: 1;

            i {
                color: $grey-3;
            }
        }

        p {
            margin: 0;
            display: none;
            @media (min-width: $small) {
                display: inline-block;
            }
        }

        i {
            margin: 0;
            @media (min-width: $small) {
                margin-right: 0.6rem;
            }
        }
    }

    &-dropdown {
        position: absolute;
        top: 100%;
        background-color: $white;
        border: 1px solid $grey-3;
        border-radius: 2px;
        z-index: 1;
        min-width: 100%;
    }

    &-option {
        background-color: $paper-gray;
        color: $slate;
        border-bottom: 1px solid $grey-1;

        &:hover {
            background-color: $white;
        }

        &:last-child {
            border-bottom: 0;
        }

        &--name {
            padding: 0.6rem 1rem;
            white-space: nowrap;

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: $grey-1;
                pointer-events: none;
            }
        }

    }

    &-loading i.one__loading__icon {
        color: $grey-3;
        margin: 0;
    }
}

&__search {
    flex: 0 0 10rem;
    @media(min-width: $small) {
        flex: 0 0 16rem;
    }

    input {
        height: auto;
    }
}

&__open-filters {
    @include button(default);
    flex: 0 0 auto;
    padding: 0 1rem;
    margin-right: 1rem;

    i {
        margin-right: 0.6rem;
    }
}
// report select
&__dropdown {
    display: inline-block;

    &.is-disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &-container {
        margin-right: auto;
        flex: 1;

        &.is-centered {
            margin: 2rem auto;
            text-align: center;
        }

        label {
            margin: 0 1rem 0 0;
            color: $slate;
            font-weight: normal;
        }
    }

    &-headline {
        font-size: 2.4rem;
        color: $slate;
        margin-bottom: 2rem;
    }
}

&__manage {
    flex: 0 0 16rem;
    margin-right: 1rem;
    display: flex;
    position: relative;
    color: $slate;

    &-btn {
        @include button;
        width: 100%;
    }

    &-container {
        position: absolute;
        background-color: $white;
        border: 1px solid $grey-1;
        border-radius: 2px;
        padding: 1.6rem;
        top: calc(100% + 1.6rem);
        right: 0;
        width: 33rem;
        z-index: 10;

        &:before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -1.4rem;
            right: 6.6rem;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1.4rem solid $grey-1;
        }

        &:after {
            content: '';
            background-image: linear-gradient(rgba(255, 255, 255, 0) 20%, $white 75%);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5rem;
            pointer-events: none;
        }
    }

    &-close {
        background: 0;
        border: 0;
        position: absolute;
        top: 0.4rem;
        right: 0.6rem;
        height: auto;
        width: auto;
    }

    &-list {
        margin: 0;
        max-height: 40rem;
        overflow-y: auto;
    }

    &-item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 2rem;
        }
    }

    &-checkbox {
        @include checkbox;
        height: 2rem;
        width: 2rem;
        margin-right: 0.6rem;

        i {
            font-size: 1rem;
            display: block;
            color: $white;
        }
    }

    &.active .smart-table__manage {
        &-btn {
            border: 1px solid $slate;
            background-color: $slate;
            color: $white;
        }
    }
}

&__count {
    color: $slate;
    margin-left: 1rem;
    margin-right: auto;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    height: 3.5rem;

    &-text {
        display: none;
        @media(min-width: $small) {
            display: initial;
        }
    }
}

&__filter {
    @include button;
    width: 2rem;
    height: auto;
    flex: 0 0 2rem;
    margin-right: 1rem;
    padding: 0;

    background: none;
    border: none;

    &:hover {
        border: none;
    }
}

&__export {
    @include button;
    width: 4rem;
    height: auto;
    flex: 0 0 4rem;
    margin-right: 1rem;
    margin-left: auto;
    padding: 0;
    @media(min-width: $small) {
        padding: initial;
        flex: 0 0 16rem;
        width: auto;
    }

    p {
        margin: 0;
        display: none;
        @media(min-width: $small) {
            display: inline-block;
        }
    }

    i {
        margin: 0;
        @media (min-width: $small) {
            margin-right: 0.6rem;
        }
    }
}

&__delete {
    @include button( 'primary', $light-red);
}
