#smart-table {
    height: 100%;
    overflow: visible;

    .button-container {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        width: auto;
    }

    .container-fluid {
        flex-flow: row nowrap;
    }

    .navbar-header {
        flex: 0 0 auto;
        width: auto;
    }

    .editable-input {
        width: inherit;
        height: inherit;
        text-align: center;
        padding: 0.6rem 0.5rem;
    }

    .form-group.has-error .help-block {
        display: none;
    }

    .menu {
        z-index: 150;
        overflow: hidden;
        background-color: #f3f3f3;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        color: $slate;
        padding-bottom: 5rem;

        &.is-open {
            flex: 0 0 25rem;

            .menu {
                &-header {
                    justify-content: space-between;

                    &-title {
                        display: block;
                    }
                }

                &-content {
                    display: flex;
                    overflow-y: auto;
                }
            }
        }

        &-header {
            height: 5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            border-bottom: 2px solid $grey-3;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            &-title {
                display: none;
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            display: none;

            &__list {
                width: 100%;

                &-item {
                    &-header {
                        height: 5rem;
                        padding: 1rem;
                        display: flex;
                        background: $paper-gray;
                        border-bottom: solid 1px $grey-3;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1.5rem;
                    }

                    &-content {
                        background: $white;

                        .wrapper {
                            padding: 1rem;
                            border-bottom: solid 1px $grey-3;
                        }

                        .menu-item {
                            display: flex;
                            flex: 1 1 auto;
                            flex-flow: row nowrap;
                            margin-bottom: 1rem;

                            .menu-checkbox {
                                width: 2rem;
                            }
                        }

                        .menu-head {
                            border-bottom: solid 1px $grey-3;
                            padding-bottom: 1rem;
                        }

                        .menu-text {
                            max-width: 20rem;
                        }
                    }
                }
            }
        }

        &-checkbox {
            @include checkbox;
            height: 2rem;
            width: 2rem;
            margin-right: 0.6rem;

            i {
                font-size: 1rem;
                display: block;
                color: $white;
            }
        }
    }
}

.smart-table {
    @import
    'header',
    'footer';

    &__view {
        flex: 0 1 auto;
        overflow-x: auto;
        border-top: 1px solid $table-cell-border;
    }

    &__wrapper {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        max-height: 70vh;
        display: flex;
        flex-flow: column nowrap;
        background-color: $white;
        border: 1px solid $table-cell-border;
        z-index: 0;
    }

    &__display-header {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &-cell {
            width: $cell-width-normal;
            max-width: $cell-width-normal;
            min-width: $cell-width-normal;
            height: $cell-height;
            border-bottom: 2px solid $table-cell-border;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            &--small {
                width: $cell-width-xsmall;
                max-width: $cell-width-xsmall;
                min-width: $cell-width-xsmall;
            }

            &--medium {
                width: $cell-width-medium;
                max-width: $cell-width-medium;
                min-width: $cell-width-medium;
            }

            &--large {
                width: $cell-width-large;
                max-width: $cell-width-large;
                min-width: $cell-width-large;
            }

            &--link {
                background: transparent;
                color: $slate;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 24rem;
                vertical-align: middle;
                padding: 0 0.5rem;
                border: none;
                margin-right: 0;
                margin-left: 1rem;

                &:hover > span {
                    text-decoration: underline;
                }
            }

            &--action {
                border: none;
                background: transparent;
                padding-right: 0.5rem;
                margin-right: -2rem;

                @media(max-width: $small) {
                    display: none;
                }
            }

            &-required {
                color: $light-red;
                font-size: 0.8rem;
                margin-left: -0.4rem;
            }

            &-arrow {
                font-size: 16px;
                color: $slate;
                margin-left: 0.5rem;
                margin-right: -1.5rem;

                &:hover {
                    text-decoration: none;
                }
            }

        }
    }

    // Table styles
    &__table {
        background-color: $white;
        flex: 1 1 auto;
        width: auto;
        color: $slate;
        table-layout: fixed;
        border-collapse: collapse;
        border: 0;
        overflow-y: auto;

        @import 'editable';

        &-body {
            display: block;
            max-height: calc(70vh - 4rem);
            padding-bottom: 2rem;
            background-color: $paper-gray;
            border-bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;

            &-row {
                background-color: $white;
                align-items: center;
                border-bottom: 1px solid $table-cell-border;
                height: 4rem;
                width: 100%;
            }

            &-cell {
                width: $cell-width-normal;
                max-width: $cell-width-normal;
                min-width: $cell-width-normal;
                padding: 0 0.5rem;
                text-align: center;

                &--small {
                    width: $cell-width-xsmall;
                    max-width: $cell-width-xsmall;
                    min-width: $cell-width-xsmall;
                }

                &--medium {
                    width: $cell-width-medium;
                    max-width: $cell-width-medium;
                    min-width: $cell-width-medium;
                }

                &--large {
                    width: $cell-width-large;
                    max-width: $cell-width-large;
                    min-width: $cell-width-large;
                }

                &.has-errors {
                    border: 1px solid $light-red;
                }

                .empty {
                    pointer-events: none;
                    font-size: 30px;
                }

                &--checkbox {
                    width: 6rem;
                }

                &-btn {
                    padding: 0.4rem 1rem;
                }

                &--link {
                    border: none;
                    padding: 0;
                    color: $ui-blue;
                    background: none;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:hover {
                        color: lighten($ui-blue, 10%);
                        text-decoration: underline;
                    }

                    &:disabled {
                        color: $slate;
                        pointer-events: none;
                        background: $white;
                    }
                }

                &--state {
                    white-space: normal;
                    border: none;
                    padding: 0;
                    background: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:disabled {
                        color: $slate;
                        pointer-events: none;
                        background: $white;
                    }
                }
            }
        }

        .blank {
            background-color: $grey-1;
        }
    }

    &__checkbox {
        @include checkbox;
        height: 2rem;
        width: 2rem;

        i {
            font-size: 1.2rem;
        }
    }

    &__new-row {
        width: 100%;
        height: $cell-height;
        background: 0;
        border: 1px dashed $table-cell-border;
        border-top: 1px solid $table-cell-border;
        color: $grey-3;
        font-weight: bold;

        &:hover {
            border: 1px solid $grey-3;
            border-top: 1px solid $table-cell-border;
            color: $slate;

            i {
                color: $slate;
            }
        }

        i {
            color: $grey-3;
            font-size: 1.2rem;
            margin-right: 0.6rem;
        }
    }

    &-container {
        background-color: $paper-gray;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        margin: 0;
        opacity: 0;

        &.is-showing {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        .analysis__filter {
            color: $slate;
            position: absolute;
            right: 10px;
            margin-top: 20px;
        }

        .template {
            &__info i {
                color: $green;
            }

            &__toggle-details {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 1.8rem;
                padding: 0.5rem 0.8rem;
                color: $grey-3;
                appearance: none;
                background: none;
                outline: none;
                border: 0;

                &:hover {
                    color: $slate;
                }

                i {
                    pointer-events: none;
                }
            }

            &__description {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: $slate;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                color: $white;
                padding: 1.4rem;
            }
        }

        .label {
            font-weight: bold;
            &--success {
                color: $green;
            }

            &--danger {
                color: $light-red;
            }

            &--warning {
                color: $light-orange;
            }

            &--info {
                color: $cyan;
            }

            &--primary {
                color: $blue;
            }
        }
    }

    &__section {
        display: flex;
        flex-flow: column-reverse;
        justify-content: flex-end;
        height: 100%;
        @media(min-width: $small) {
            justify-content: center;
            flex-flow: row nowrap;
        }

        &-table {
            margin: 1rem;
            flex: 0 1 auto;
            min-width: 1px;
        }
    }
}
