.one-label-content {
    display: flex;
    flex-flow: column;
    white-space: normal;
    word-break: break-word;

    &__text {
        margin-bottom: 0.3rem;
    }

    &__legend {
        width: 0.875rem;
        height: 0.875rem;
        border-radius: 50%;

        &--blue {
            background-color: $map-accent-blue;
        }

        &--green {
            background-color: $map-accent-green;
        }

        &--pink {
            background-color: $map-accent-pink;
        }

        &--purple {
            background-color: $map-accent-purple;
        }

    }

    &--inline {
        flex-flow: row;
        justify-content: flex-start;

        &-split {
            justify-content: space-between;
        }

        .one-label-content {
            &-label {
                flex: 0 0 15rem;
                min-width: 1px;
            }

            &__body {
                margin-left: 0.5rem;
            }
        }
    }
}
