<div
  class="cc-banner-preview-panel background-grey column-horizontal-vertical-center flex-full-height overflow-y-hidden"
  [ngClass]="{'padding-top-bottom-3': !isLivePreview}">
    <div
      class="cc-banner-preview-panel__preview background-grey-4 position-relative overflow-hidden static-horizontal"
      [ngClass]="{'cc-banner-preview-panel__live-preview': isLivePreview, 'width-90-percent': !isLivePreview, 'width-100-percent': isLivePreview, 'cc-banner-preview-panel__modal-height': isLivePreview}"
      [ngStyle]="{'padding-bottom': isLivePreview ? '0' : '50%'}">
        <div class="optanon-alert-box-wrapper"
            [ngStyle]="templateJson?.bannerModel?.bannerStyle"
            [ngClass]="{'alert-box-wrapper-width' : !isCenterLayout,
            'alert-box-center-tile' : isCenterLayout,
            'blue-border': itemBeingEdited === EDITABLE_ITEMS.BACKGROUND_COLOR}"
        >
            <div class="optanon-alert-box-bottom-top">
                <div
                    class="optanon-alert-box-corner-close"
                    *ngIf="templateJson?.bannerModel?.showBannerCloseButton"
                    [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.SHOW_CLOSE_BUTTON}"
                >
                    <a class="optanon-alert-box-close"></a>
                </div>
            </div>
            <div class="optanon-alert-box-bg">
            <div class="optanon-alert-box-logo"></div>
            <div class="optanon-alert-box-body"
                [ngStyle]="bodyStyle"
            >
                <div
                    [ngStyle]="templateJson?.bannerModel?.textStyle"
                    [ngClass]="{'text-xlarge text-bold padding-bottom-3' : isCenterLayout,
                        'optanon-alert-box-title' : templateJson?.bannerModel?.bannerTitle,
                        'blue-border': itemBeingEdited === EDITABLE_ITEMS.BANNER_TITLE}"
                >
                    {{templateJson?.bannerModel?.bannerTitle}}
                </div>
                <div [ngClass]="{'center-tile-notice-text': isCenterLayout, 'blue-border': itemBeingEdited === EDITABLE_ITEMS.NOTICE_DESCRIPTION || itemBeingEdited === EDITABLE_ITEMS.TEXT_COLOR}">
                    <span
                        [ngStyle]="templateJson?.bannerModel?.textStyle"
                        [innerHtml]="templateJson?.bannerModel?.noticeText"
                    ></span>
                    <a *ngIf="templateJson?.bannerModel?.showAddPolicyLink"
                        [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.COOKIE_POLICY_LINK}">
                            {{templateJson?.bannerModel?.cookiePolicyLinkText}}
                    </a>
                </div>
                <div
                    *ngIf="isCenterLayout"
                    class="optanon-alert-box-button-container"
                >
                    <div
                        *ngIf="templateJson?.bannerModel?.showAcceptCookies"
                        class="optanon-alert-box-accept-button"
                        [ngStyle]="templateJson?.bannerModel?.buttonStyle"
                        [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.ACCEPT_COOKIES_BUTTON || itemBeingEdited === EDITABLE_ITEMS.BUTTON_COLOR}"
                    >
                        <div class="optanon-alert-box-yes-i-accept">
                            <a class="optanon-allow-all">{{templateJson?.bannerModel?.acceptCookies}}</a>
                        </div>
                    </div>
                    <div
                        *ngIf="templateJson?.bannerModel?.showCookieSettings"
                        class="optanon-alert-box-more-info-button"
                        [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.COOKIE_SETTINGS_BUTTON}"
                        (click)="openPreferenceCenter()"
                    >
                        <a class="optanon-toggle-display">{{templateJson?.bannerModel?.cookieSettings}}</a>
                    </div>
                </div>
                <div
                    *ngIf="isCenterLayout"
                    class="optanon-alert-box-bottom margin-top-bottom-0 optanon-alert-box-footer-spacer"
                    [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.BANNER_FOOTER}"
                >
                    <span
                        class="optanon-alert-box-footer"
                        [ngStyle]="templateJson?.bannerModel?.textStyle"
                    >
                        {{templateJson?.bannerModel?.footerDescriptionText}}
                    </span>
                </div>
            </div>
            <div class="optanon-clearfix"></div>
            <div
                *ngIf="!isCenterLayout"
                class="optanon-alert-box-button-container"
            >
                <div
                    *ngIf="templateJson?.bannerModel?.showAcceptCookies"
                    class="optanon-alert-box-button optanon-button-allow"
                >
                <div
                    class="optanon-alert-box-button-middle"
                    [ngStyle]="templateJson?.bannerModel?.buttonStyle"
                    [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.ACCEPT_COOKIES_BUTTON || itemBeingEdited === EDITABLE_ITEMS.BUTTON_COLOR}"
                >
                    <a
                        class="optanon-allow-all"
                        [ngStyle]="{'color': templateJson?.bannerModel?.buttonStyle?.color}"
                    >
                        {{templateJson?.bannerModel?.acceptCookies}}
                    </a>
                    </div>
                </div>
                <div
                    *ngIf="templateJson?.bannerModel?.showCookieSettings"
                    class="optanon-alert-box-button optanon-button-more"
                >
                    <div
                        class="optanon-alert-box-button-middle"
                        [ngStyle]="templateJson?.bannerModel?.buttonStyle"
                        [ngClass]="{'blue-border': itemBeingEdited === EDITABLE_ITEMS.COOKIE_SETTINGS_BUTTON}"
                    >
                        <a
                            class="optanon-toggle-display"
                            [ngStyle]="templateJson?.bannerModel?.textStyle"
                            (click)="openPreferenceCenter()"
                        >
                            {{templateJson?.bannerModel?.cookieSettings}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="optanon-clearfix optanon-alert-box-bottom-padding"></div>
            </div>
      </div>
    </div>
    <div
      class="cc-banner-preview-panel__button-container"
      *ngIf="!isLivePreview" >
          <button
              otButton
              neutral
              class="cc-banner-preview-panel__preview-button" 
              [otTooltip]="previewTooltip" 
              (click)="openLivePreview()">
              {{"LivePreview" | otTranslate}}
          </button>
    </div>
</div>
