    .add-website-dialog {
        .form-group &__required {
            top: -7px;
        }

        &__label {
            position: relative;
            top: 0.7rem;
        }

        &__tooltip-icon {
            display: inline-flex;
            vertical-align: bottom;
        }

        &__page-limit {
            display: inline-block;
            width: 7rem;
            margin: 0 1rem;
        }

        &__advanced-settings {
            max-height: 100rem;
            overflow: hidden;

            &-legend {
                font-size: 1.4rem;
                color: $slate;
            }

            &--collapsed {
                max-height: 5rem;

                .form-group {
                    display: none;
                }

                .add-website-dialog__advanced-settings-legend {
                    border-bottom: none;
                }

                .add-website-dialog__advanced-settings-toggle {
                    transform: rotate(-90deg);
                }

                .add-website-dialog__advanced-settings-more-icon {
                    opacity: 1;
                }
            }

            &-toggle {
                border: none;
                background-color: transparent;
                transform: rotate(0);
                transition: transform 0.4s;
            }

            &-legend {
                font-size: 1.3rem;

                &:focus {
                    outline: none;
                }
            }

            &-more-icon {
                position: absolute;
                right: 1rem;
                top: 0.3rem;
                color: $grey-4;
                opacity: 0;
                transition: opacity 0.4s;
            }

            &-uris {
                min-height: 3.8rem;
                max-width: 100%;
            }
        }

        &__addwebsite-upgrade {
            color: $white;
        }

    }
