.change-indicator {
    position: absolute;
    left: 55%;
    margin-top: -1rem;

    .changed-by-value {
        font-size: 1.2rem;
    }

    .fa-caret-up {
        color: $green;
    }

    .fa-caret-down {
        color: $light-red;
    }
}