.cookiecompliance {

    &__edit-wrapper {
        flex-direction: row;
        height: 100%;

        .cc-accordion-navigation {
            flex: 1 1 30rem;
            background-color: $eggshell;
            border-right: 1px solid $grey-2;
            overflow-x: hidden;
            overflow-y: auto;
            min-width: 36rem;
            max-width: 45rem;

            .layout-thumbnails {
                justify-content: center;
                margin: 0 -1rem;
                width: auto;

                &__thumb {
                    flex: 1 0 40%;
                    min-width: 15rem;
                    margin: 1rem;
                }
            }

            .panel {
                background-color: $paper-gray;
                border: none;
                border-radius: 0;
            }

            .panel-heading {
                background-color: $eggshell;
                padding: 1.2rem 2rem 1rem;
                font-size: 1.6rem;
                border-radius: 0;

                h4 a {
                    color: $slate;
                    outline: none;
                    text-decoration: none;

                    &:hover,
                    &:active {
                        color: $slate;
                        text-decoration: none;
                    }
                }
            }

            .one-text-area {
                width: 100%;
                height: 10rem;

                &.ng-dirty.ng-invalid {
                    border-color: $light_red;
                }
            }

            .panel-body {
                border: none;
            }

            &__list {
                padding: 0;
                margin: 0;
            }

            &__item-content {
                padding: 0 0.5rem;

                &-section {
                    justify-content: left;

                    &--divider {
                        border-bottom: 1px solid $grey-1;
                    }
                }

                &-input {
                    width: 100%;
                    margin: 0.2rem 0;

                    &.ng-dirty.ng-invalid {
                        border-color: $light_red;
                    }
                }

                .minicolors-theme-bootstrap .minicolors-swatch {
                    top: 6px;
                    right: 4px;
                }

                &-toggle {
                    margin-top: 0.2rem;
                }
            }

            &__button {
                flex: 1 1 6rem;
                margin: 1rem;

                .one-button__container {
                    justify-content: center;
                }
            }
        }
    }
}
