.cc-preview-panel {
    display: flex;
    flex: 1 1 70rem;
    min-width: 60rem;
    background-color: $paper-gray;
    overflow: hidden;

    &__preview {
        object-fit: contain;
        width: 80%;
        padding-bottom: 60%;
        background-color: $grey-4;
        background-image: url(../images/consent/webpage-placeholder.svg);
        position: relative;
        overflow: hidden;

        .optanon-alert-box-wrapper {
            position: absolute;
            bottom: 0;
            -webkit-font-smoothing: initial;
            max-height: 35rem;
            min-height: 10rem;
            overflow: hidden;
            z-index: 1;
        }

        .alert-box-center-tile {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .alert-box-wrapper-width {
            width: percentage(1/0.75);
        }

        .center-tile-notice-text{
            max-height: 10rem;
            min-height: 10rem;
            overflow: hidden;
            margin-bottom: 1rem;
        }

        .optanon-alert-box-footer-spacer {
            border-top: 1px solid #EEEEEE;
        }

        .optanon-alert-box-button-container {
            height: 75px;
        }
    }

    &__buttons {
        display: flex;
        width: 80%;
        justify-content: flex-end;
        margin-right: -4rem;
    }
}
