.cookiecompliance-dashboard {

    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;

        .dashboard-item {
            display: flex;
            flex: 1 1 33.33rem;
            flex-direction: column;
            flex-wrap: none;
            background-color: $white;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
            margin: 1rem;
            padding: 2rem 2rem 1rem;
            position: relative;

            &-detail {
                flex: 1 1 100%;

                &__heading {
                    text-align: left;
                    font-size: 1.8rem;
                    margin: 0 0 1rem;
                    width: 100%;

                    &:not(.no-legend):before {
                        font-family: 'FontAwesome';
                        content: '\f111';
                        margin-right: 1rem;
                    }
                }

                &__sub-heading-container {
                    clear: both;
                }
                &__sub-heading {
                    font-size: 1.5rem;
                    text-transform: uppercase;

                    .badge {
                        text-transform: none;
                        background-color: $cyan;
                        margin-left: 0.6rem;
                        vertical-align: 15%;
                    }
                }
                &__form-page-link {
                    margin-top: 1.9rem;
                }

                &__legend {
                    display: flex;
                    flex-direction: row;
                    padding: 0.75rem 2rem;

                    &-item {
                        display: inline-block;
                        padding: 0.25rem 0.7rem 0.2rem;
                        margin-right: 2rem;
                        font-size: 1.2rem;
                        background-color: $paper-gray;

                        &.new { color: $slate; font-weight: bold; border-left: 2px solid $light-red; }
                        &.old { text-decoration: line-through; }
                    }
                }

                &__table {
                    border-spacing: 1px;
                    border-collapse: separate;
                    width: 100%;

                    &-head {
                        th {
                            padding: 3px 8px;
                            background-color: $grey-1;
                        }
                    }

                    &-body {
                        tr {
                            &.new td { color: $slate; font-weight: bold; }
                            &.old td { text-decoration: line-through; }
                            &.new td.indicator-cell { border-left: 2px solid $light-red; }

                            td {
                                position: relative;
                                padding: 3px 8px;
                                font-size: 1.2rem;
                                background-color: $paper-gray;

                                &.indicator-cell { border-left: 4px solid transparent; }

                                &.script:before { font-family: 'FontAwesome'; content: '\f111';	color: $Script; margin-right: 0.5em; }
                                &.image:before { font-family: 'FontAwesome'; content: '\f111';	color: $Image; margin-right: 0.5em; }
                                &.object:before { font-family: 'FontAwesome'; content: '\f111'; color: $Object; margin-right: 0.5em; }
                                &.embed:before { font-family: 'FontAwesome'; content: '\f111'; color: $Embed; margin-right: 0.5em; }
                                &.iframe:before { font-family: 'FontAwesome'; content: '\f111'; color: $Iframe; margin-right: 0.5em; }
                                &.webbeacon:before { font-family: 'FontAwesome'; content: '\f111'; color: $WebBeacon; margin-right: 0.5em; }

                                .check {
                                    font-weight: bold;
                                    font-size: 1.4rem;
                                }

                                .new-badge {
                                    left: auto;
                                    right: 1rem;
                                    top: 50%;
                                    margin-top: -1rem;
                                    padding: 1px 3px;
                                }
                            }
                        }
                    }

                    &.tags {
                        table-layout: fixed;
                        th:nth-child(1) { width: 15%; }
                        th:nth-child(2) { width: 10%; }
                        th:nth-child(3) { width: 45%; }
                        th:nth-child(4) { width: 30%; }
                        td:nth-child(3) { word-break: break-all; }
                    }

                    &.cookies {
                        table-layout: fixed;
                        th[rowspan='2'] { width: 15%; }
                        th[colspan='4'] { width: 70%; }
                        td[rowspan='2'] { word-break: break-all; }
                    }

                    &.forms {
                        table-layout: fixed;
                        th:nth-child(1),

                        th:nth-child(2) {
                            width: 15%;
                        }
                        th:nth-child(3),
                        th:nth-child(5) {
                            width: 10%;
                        }
                        th:nth-child(4) { width: 50%; }
                        th:last-child,
                        td:last-child { text-align: center; }
                        td { word-break: break-all; }
                    }

                    &.pages {
                        table-layout: fixed;
                        th:nth-child(1) { width: 50%; }
                        th:nth-child(2),
                        th:nth-child(3),

                        th:nth-child(4),
                        th:nth-child(5),
                        th:nth-child(6) {
                            width: 10%;
                        }
                        th:not(:first-child),
                        td:not(:first-child) { text-align: center }
                        td { word-break: break-all; }
                    }

                    &.local-storage {
                        table-layout: fixed;
                        th:nth-child(1),
                        th:nth-child(2) {
                            width: 20%; }
                        td { word-break: break-all; }
                    }                    
                }
            }

            &__heading {
                text-align: center;
                font-size: 1.8rem;
                margin: 0 0 1rem;
                width: 100%;
            }

            .new-badge {
                position: absolute;
                top: 1rem;
                left: 1rem;
                font-size: 1rem;
                font-weight: bold;
                background-color: $blue;
                color: $white;
                padding: 3px 5px;
                border-radius: 3px;
            }

            .new-changeindicator {
                position: absolute;
                top: 1rem;
                left: 1rem;
                text-align: center;
                background: #f6f6f6;
                padding: 3px 5px;
                border-radius: 3px;

                &__icon {
                    font-size: 1.5rem;
                    color: $light-red;
                }

                &__change {
                    display: inline-block;
                    color: $light-red;
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding: 0;
                    margin: 0;
                }

                &__description {
                    display: block;
                    font-weight: normal;
                    padding: 0;
                    margin: 0;
                    font-size: 1rem;
                    line-height: 100%;
                    color: $slate;
                }
            }

            .what-this-means {
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 1.2rem;

                &__icon {
                    margin-right: 0.4rem;
                    font-size: 1.3rem;
                }
            }

            .graph-container {
                position: relative;
                margin-top: 0.5rem;

                .horseshoe__graph {
                    margin: 0 auto;
                    display: block;

                    .remainder { stroke: $eggshell; }
                }

                &__button {
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    transform: translateX(50%);
                }

                .changes {
                    position: absolute;
                    bottom: 32%;
                    right: 50%;
                    transform: translateX(50%);
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: $grey-4;

                    i {
                        margin-right: 0.5rem;

                        &.fa-caret-up { color: $green; }
                        &.fa-caret-down { color: $red; }
                    }

                    .change-indicator {
                        position: static;
                    }
                }
            }

            .graph-legend {
                margin-top: 2rem;
                padding-top: 1rem;
                border-top: 1px solid #f0f0f0;

                li {
                    font-size: 1.2rem;
                    float: left;
                    margin-right: 1rem;
                    margin-top: 0.2rem;

                    &:before {
                        font-family: 'FontAwesome';
                        content: '\f111';
                        margin-right: 0.5rem;
                    }
                }
            }

            &-policies {
                &__list {
                    margin-top: 1rem;
                }

                &__list-item {
                    &-heading {
                        font-size: 1.7rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 0.8rem;

                        &.found { color: $green; }

                        i {
                            margin-right: 1rem;
                        }
                    }
                    &-body {
                        padding-left: 3.2rem;
                    }
                }
            }

            &-pages {
                text-align: center;

                &__heading {
                    margin-bottom: 3rem;
                }

                &__page-count {
                    background: $slate;
                    color: $white;
                    padding: 1rem;
                    border-radius: 3px;
                    margin: 2rem auto;
                    width: 16rem;
                    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px;

                    &-heading {
                        margin-top: 1rem;
                        font-size: 5rem;
                        font-weight: 500;
                        margin-bottom: 0;
                    }

                    &-sub-heading {
                        margin-top: 0;
                        text-transform: uppercase;
                    }
                }
            }

            &-checklist {
                ol {
                    margin: 3rem 5rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height: 4rem;

                    li {
                        list-style: decimal;
                    }
                }
            }

            .summary {
                margin-top: 0.5rem;
                border-spacing: 1px;
                border-collapse: separate;
                width: 100%;

                &__head {
                  padding: 3px 8px;
                  background-color: $grey-1;
                }
                &__nohead{
                  padding: 2px 8px;
                  background-color: $white;
                }                
                &__column {
                  padding: 3px 8px;
                  font-size: 1.2rem;
                  background-color: $paper-gray;
                }
            }
        }
    }
    
    &__scan-date {
        top: 1.2rem;
        font-size: 1.3rem;
    }
    
    &__previous-scan-list {
        top: 0.2rem;
        left: 10rem;

        &-select {
            font-size: 1.3rem;
        }                
    }

    &__scan-date-white {
        color: $white;
    }

    .scan-in-progress {
        position: relative;
        background: $cyan;  
        .progress-bar-container {
            position: absolute;
            right: 12rem;
            top: 50%;
            margin-top: -10px;
            border: 1px solid $white;
            background-color: $white;
            width: 12rem;
            overflow: hidden;
        }
    }

    &__progress-message {
        right: 25rem;
        color: $white;            
    }    

    &__scan-date-container {
        top:-4rem;
        z-index: 1000;
    }    

    &__pending-message {
        right: 1rem;
    }

    &__refresh-button,
    &__scannow-button {
        right: 1rem;
        top: 50%;
        margin-top: -1.5rem;        
        font-size: 1.2rem;
        .one-button {
            padding: 0.6rem 2rem 0.4rem;
        }
    }
}
