&__tile {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    background-color: $white;
    color: $slate;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
    margin-bottom: 2rem;

    @media (min-width: $small) {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    @media (min-width: $medium) {
        flex: 0 0 49%;
        max-width: 49%;
        flex-flow: column nowrap;
    }

    @media (min-width: $large) {
        flex: 0 0 32%;
        max-width: 32%;
        margin-bottom: 0;
    }

    &-container {
        width: 100%;
        max-width: 140rem;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 0;

        @media (min-width: $medium) {
            flex-flow: row wrap;
            justify-content: space-between;
        }

        @media (min-width: $large) {
            flex-flow: row nowrap;
        }
    }

    &-header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        min-height: 1px;
        min-width: 1px;

        @media (min-width: $small) {
            flex: 1 1 60%;
            padding-right: 2rem;
        }

        @media (min-width: $medium) {
            flex: 0 0 auto;
            display: block;
            padding-right: 0;
        }
    }

    &-body {
        border-top: 1px solid $grey-1;
        padding: 2rem 0 0;
        min-height: 1px;
        min-width: 1px;
        margin-bottom: -2rem;

        @media (min-width: $small) {
            flex: 1 1 40%;
            border-top: 0;
            border-left: 1px solid $grey-1;
            padding: 0 0 0 2rem;
        }

        @media (min-width: $medium) {
            flex: 1 1 auto;
            border-left: 0;
            border-top: 1px solid $grey-1;
            padding: 2rem 0 0;
            flex-flow: column nowrap;
        }
    }

    &-number {
        background-color: $green;
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
        height: 4.4rem;
        width: 4.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &-title {
        text-align: center;
        margin: 1.2rem 0 2rem;
        font-size: 2rem;
    }

    &-content {
        margin-bottom: 2rem;
        display: block;

        @media (min-width: $small) {
            display: block;
        }

        @media (min-width: $medium) {
            display: block;
        }

        img {
            display: block;
            border: 1px solid $grey-3;
            width: 60%;
            height: auto;
            margin: 0 auto;
        }
    }

    &-list {
        padding-left: 1.6rem;
        margin: 0 auto;

        @media (min-width: $small) {
            margin: 0;
        }

        @media (min-width: $medium) {
            margin: 0 auto;
        }
    }

    &-bullet {
        list-style-type: disc;
        margin-bottom: 0.6rem;
    }

    &-link {
        color: $ui-blue;

        &:hover {
            color: $ui-blue;
        }
    }
}
