.cookiecompliance {
    background-color: $paper-gray;
    color: $slate;
    flex: 1 1 auto;
    min-width: 1px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    a {
        cursor: pointer;
    }

    .navbar {
        .breadcrumb {
            height: auto;
        }

        &.navbar-default {
            height: auto;

            .container-fluid {
                button {
                    width: auto;
                }

                .websites-list {
                    position: relative;
                    flex: 0 0 25rem;

                    &__select {
                        min-width: 25rem;
                        font-size: 1.3rem;
                    }
                }

                .cookepart-list {
                    position: relative;
                    flex: 0 0 25rem;

                    &__select {
                        min-width: 12rem;
                        font-size: 1.3rem;
                    }
                }
                .cookiepedia-label {
                    color: rgb(90,90,90);
                    font-family: 'Gill Sans MT';
                }
            }
        }

        &.navbar-secondary {
            min-height: 40px;
            margin-top:0.1rem;
            padding:.15rem 0;
        }
    }

    &__search {
        height: 3.6rem;
        width: 20rem;
        margin-left: 0.6rem;

        .one-search__input {
            height: auto;
        }
    }

    &__container {
        width: 100%;
    }

    &__header {
        flex: 0 0 5rem;
        padding: 0;
        display: flex;
        align-items: stretch;
    }

    &__features {
        flex: 0 0 auto;
        min-height: 1px;
        padding: 2rem;
        margin: 0;

        &-text {
            font-size: 3rem;
            text-align: center;
            margin: 0;

            @media (min-width: $medium) {
                font-size: 4rem;
            }
        }

        &-subtext {
            font-size: 2rem;
            text-align: center;
            margin: 0 0 1rem;
        }
    }

    &__add {
        flex: 0 0 auto;
        height: 3.6rem;
        border: 0;
        border-radius: 2px;
        margin-right: 1rem;
        width: 4rem;

        @media (min-width: $small) {
            padding: 0 1.2rem;
            min-width: 16rem;
            width: auto;
        }
    }

    // No Websites Messaging
    &__message {
        &-heading {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: auto 1rem;
            font-size: 3rem;
            color: $grey-3;
            position: relative;
            top: 10rem;
        }
    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    &-body {
        min-width: 1px;
        flex: 1 1 auto;
        padding: 0;
        display: block;
        background-color: $paper-gray;
        height: 100%;

        .module-wrapper {
            padding: 0;
            overflow-y: auto;
        }
    }

    .new-badge {
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $blue;
        color: $white;
        border-radius: 3px;
        padding: 3px 5px;
    }

    .key {
        margin: 1rem 0.2rem;
        font-size: 1.2rem;

        .new-badge {
            padding: 0.4rem 0.55rem;
            margin-right: 0.3rem;
            vertical-align: 12%;
        }
    }

    // Table styles
    .websites {
        &__table {
            border: 1px solid $table-cell-border;
            color: $slate;
            table-layout: auto;
            border-collapse: collapse;
            margin: 0;
            box-shadow: none;
            text-align: center;
            width: 100%;

            &-wrapper {
                padding: 0;
                margin: 2rem 1rem 1rem;
                box-shadow: none;
                position: relative;
                opacity: 0;

                &.is-showing {
                    opacity: 1;
                    transition: opacity .5s ease;
                }
            }

            &-header {
                border-bottom: 2px solid $table-cell-border;
                font-weight: bold;

                .fa {
                    font-size: 1.6rem;
                    margin-left: .6rem;
                }

                &-row {
                    background-color: $white;
                }

                &-cell {
                    text-align: center;

                    &:last-child {
                        border-right: 0;
                    }

                    &-link {
                        color: $slate;
                        white-space: nowrap;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }

            &-row {
                background-color: $table-cell-light;
                border-bottom: 1px solid $table-cell-border;

                &:hover {
                    background-color: $table-cell-dark;
                    padding: 2rem inherit;
                }
            }

            &-cell {
                position: relative;
                outline: none;
                vertical-align: middle;
                padding: 0.7rem;
                border: 0;
                border-right: 1px solid $table-cell-border;

                .new-badge {
                    position: absolute;
                    right: 0.5rem;
                    top: 50%;
                    padding: 0.3rem 0.5rem;
                    margin-top: -0.8rem;
                }

                &-domain-column {
                    text-align: left;
                    padding: 1.2rem 3.5rem 1.2rem 1.2rem;
                    width: 25%;
                }

                &-cookies-column {
                    width: 9%;
                }

                &-cookies-count {
                    position: absolute;
                    right: 50%;
                    margin-top: -1rem;
                }

                &:not(&-domain-column):not(&-cookies-column) {
                    width: 66% / 8;
                }

                .one__loading__icon {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    margin-top: -0.9rem;
                    font-size: 1.9rem;
                    padding: 0;
                    vertical-align: 10%;
                }

                .progress-bar-container {
                    width: 80%;
                }

                &-contents {
                    &--success,
                    &--error,
                    &--not-started,
                    &--calendar,
                    &--pending {
                        position: relative;
                        padding-top: 1.3em;

                        &:before {
                            font-family: FontAwesome;
                            position: absolute;
                            left: 50%;
                            margin-left: -0.5em;
                        }

                        a { font-size: 1.2rem; }
                    }

                    &--success a,
                    &--success:before { color: $green; }
                    &--error a,
                    &--error:before { color: $light-red; }
                    &--error span { color: $light-red; font-size: 1.2rem; font-weight: normal; }
                    &--not-started a,
                    &--not-started:before { color: $light-orange; }
                    &--not-started span { color: $light-orange; font-size: 1.2rem; }
                    &--calendar a,
                    &--calendar:before { color: $blue; }
                    &--calendar span { color: $blue; font-size: 1.2rem; font-weight: normal; }
                    &--pending a,
                    &--pending:before { color: $light-orange; }
                    &--pending span { color: $light-orange; font-size: 1.2rem; }
                    &--success:before { content: '\f00c'; font-size: 2rem; top: -0.5rem; }
                    &--error:before { content: '\f06a'; font-size: 2rem; top: -0.5rem; }
                    &--not-started:before { content: '\f071'; font-size: 1.8rem; top: -0.25rem; }
                    &--calendar:before { content: '\f073'; font-size: 1.8rem; top: -0.3rem; }
                    &--pending:before { content: '\f017'; font-size: 1.8rem; top: -0.25rem; }
                }

                &-actions {
                    button {
                        border: none;
                        background: none;
                    }
                }

            }
        }
    }

    .progress-bar-container {
        position: relative;
        display: block;
        width: 20rem;
        height: 2rem;
        border: 1px solid $green;
        border-radius: 3px;
        margin: auto;

        .progress-bar {
            position: absolute;
            background-color: $green;
            top: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            box-shadow: none;
            background-color: $green;
            background-size: 2rem 2rem;
            background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            animation: animate-stripes 3s linear infinite;
        }
    }

    &__website-list {
        max-width: 25rem;
        font-size: 1.3rem;
    }

    .btn {
        &.btn-website-refresh {
            margin: 0.25rem 0rem;
            outline: none;
            &.btn-disable {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }

    .upgrade__icon {
        font-style: normal;
    }

    @import 'cookiecompliance-consent';
    @import 'menu';
}
