.cookiecompliance-consent {

	&-wrapper {
		padding: 1rem 2rem;

		.layout-thumbnails {
			display: flex;
			flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

			&__thumb {
                flex: 1 1 25rem;
                flex-direction: column;
                flex-wrap: none;
				margin: 1rem 2rem 1rem 0;
				padding: 1rem;
				max-width: 25rem;
				box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
				background-color: $white;

				&:focus {
					outline: none;
				}

				&-image-container {
					position: relative;
					width: calc(100% - 2rem);
					padding-bottom: calc(74% - 1.5rem);
					margin: 2rem 1rem;
					border: 2px solid transparent;
					box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
					overflow: hidden;

					&--active {
						border: 2px solid #008ACC;
					}
				}

				&-image {
					position: absolute;
					width: calc(100% - 2px);
					top: 0;
					left: 0;
					margin: 1px;
				}

				&-label {
					color: $grey-4;
					margin-top: 1rem;
					font-size: 1.4rem;
					font-weight: normal;
				}
			}
		}

		&__body {
			max-width: 80%;
			margin: auto;

			&-text {
				margin: 1.5em auto 1em;
				line-height: 150%;
			}

			&-image {
				width: 45rem;
				box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
				margin-top: 2rem;
			}

			&-info {
				margin: 1.5em auto 1rem;
				line-height: 150%;
			}
		}
	}

	.layout-thumbnails {
		&__thumb {
			flex: 1 1 25rem;
			max-width: 25rem;
			box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
			background-color: $white;

			&:focus {
				outline: none;
			}

			&-image-container {
				position: relative;
				width: calc(100% - 2rem);
				padding-bottom: calc(74% - 1.5rem);
				border: 2px solid transparent;
				box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
				overflow: hidden;

				&--active {
					border: 2px solid $blue;
				}
			}

			&-image {
				position: absolute;
				width: calc(100% - 2px);
				top: 0;
				left: 0;
				margin: 1px;
			}

			&-label {
				color: $grey-4;
				margin-top: 1rem;
				font-size: 1.4rem;
				font-weight: normal;
			}
		}
	}

	.cookiecompliance-consent-footer {
		flex: 0 0 5rem;
		height: 5rem;
		width: calc(100% + 1px);
		background-color: $eggshell;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		z-index: 1001;

		@media (min-width: $small) {
			border-top: 1px solid $grey-3;
		}

		&__wrapper {
			position: relative;
			left: -1px;
		}

		&__button {
			min-width: 18rem;
			margin-right: 2rem;

			&.one-button--primary {
				min-width: 20rem;
			}
		}
	}
}
