.cookiecompliance {
    .graph {
        &-container {
            &__segment {
                &--strictly-necessary { stroke: $StrictlyNecessary; }
                &--performance { stroke: $Performance; }
                &--functionality { stroke: $Functionality; }
                &--targeting { stroke: $Targeting; }
                &--unknown { stroke: $Unknown; }

                &--script { stroke: $Script; }
                &--image { stroke: $Image; }
                &--object { stroke: $Object; }
                &--embed { stroke: $Embed; }
                &--iframe { stroke: $Iframe; }
                &--webbeacon { stroke: $WebBeacon; }

                &--personal { stroke: $Personal; }
                &--not-personal { stroke: $NonPersonal; }   
                
                &--first-party-session { stroke: $green; }
                &--first-party-persistent { stroke: darken($green, 15%); }
                &--third-party-session { stroke: $light-red; }
                &--third-party-persistent { stroke: darken($light-red, 15%); }
            }
        }

        &-legend {
            &__strictly-necessary:before { color: $StrictlyNecessary; }
            &__performance:before { color: $Performance; }
            &__functionality:before { color: $Functionality; }
            &__targeting:before { color: $Targeting; }
            &__unknown:before { color: $Unknown; }

            &__script:before { color: $Script; }
            &__image:before { color: $Image; }
            &__object:before { color: $Object; }
            &__embed:before { color: $Embed; }
            &__iframe:before { color: $Iframe; }
            &__webbeacon:before { color: $WebBeacon; }

            &__personal:before { color: $Personal; }
            &__not-personal:before { color: $NonPersonal; }

            &__first-party-session:before { color: $green; }
            &__first-party-persistent:before { color: darken($green, 15%); }
            &__third-party-session:before { color: $light-red; }
            &__third-party-persistent:before { color: darken($light-red, 15%); }
        }
    }    
}
