.info-modal {

    &__body {
        min-height: 20rem;
        background-color: $grey-1;

        &.modal-body {
            padding: 1.6rem;
        }
    }

    &__container {
        background-color: $white;
        min-height: 1px;
        border: 1px solid $grey-3;
        border-radius: 4px;
        position: relative;
        flex-grow: 1;
    }

    &__title {
        margin: 0 0 1.8rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $grey-1;
        font-size: 1.45rem;
    }

    &__text {
        margin: 0 0 1rem;        
    }

    &__close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        background: transparent;
        cursor: pointer;
        border: 0;
    } 

}
