&__menu {
    flex: 0 0 20rem;
    overflow-y: auto;
    position: absolute;
    z-index: 250;
    background-color: $eggshell;
    border-right: 1px solid $grey-3;
    transition: 0.25s;
    left: -100%;

    &.is-open {
        left: 0;
    }

    @media(min-width: $small) {
        position: inherit;
        display: block;
    }

    i {
        margin-right: 0.4rem;
    }

    &-textlink {
        color: $slate;
        display: block;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $slate;
        }
    }

    &-list {
        height: 100%;
        padding: 0;
    }

    &-lock {
        color: $grey-3;
    }

    &-section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        border-bottom: 1px solid $grey-1;

        &-title {
            padding: 1rem 2rem;
            margin: 0;

            &--main {
                border-bottom: 0;
                padding: 2rem;
            }

            &.active {
                background-color: $grey-1;
            }
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
                float: none;
                display: block;
                &.active {
                    background-color: $grey-1;

                    .data-mapping__menu-textlink {
                        color: darken($ui-blue, 15%);
                    }
                }

                .data-mapping__menu-textlink {
                    padding: .4rem 2rem .4rem 3.8rem;
                }
            }
        }
    }

    .upgrade__icon {
        margin-left: 0.4rem;
    }
}
