.cc-toggle {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
    margin-right: 1rem;
    top: 0.8rem;

    &__input {
        display:none;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grey-2;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            left: 0.2rem;
            bottom: 0.2rem;
            background-color: $white;
            transition: .4s;
        }
    }

    &__input:checked + &__slider {
        background-color: $blue;
    }

    &__input:focus + &__slider {
        box-shadow: 0 0 0.1rem $blue;
    }

    &__input:checked + &__slider:before {
        transform: translateX(1.3rem);
    }

    &__slider--round {
        border-radius: 1.7rem;

        &:before {
            border-radius: 50%;
        }
    }
}
