/*
 * Cookie breakdown colors
 */
$StrictlyNecessary: $green;
$Performance: $ui-blue;
$Functionality: $light-red;
$Targeting: $red;
$Unknown: $slate;

/*
 * Tag breakdown colors
 */
$Script: $green;
$Image: $ui-blue;
$Object: $light-red;
$Embed: $red;
$Iframe: $teal;
$WebBeacon: $slate;

/*
 * Form breakdown colors
 */
$Personal: $green;
$NonPersonal: $ui-blue;
/*
 * sidebar width
 */
$totalSidebarWidth: 18rem;

