<ot-modal-header (close)="closeModal()">
    <div>{{ 'NoLanguageSelected' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="margin-bottom-2 text-center">
        {{ "LegacyPurposeNoLanguageSelected" | otTranslate }}
    </div>
    <div otFormElement
        class="min-height-25"
        [label]="'Language' | otTranslate"
        [required]="true"
        >
        <ot-lookup
            ot-auto-id="LegacyPurposeLanguageSelect"
            labelKey="Name"
            valueKey="Code"
            [autoClose]="true"
            [disabled]="loading"
            [dynamicHeight]="true"
            [model]="selectedLanguage"
            [options]="languageOptions"
            (inputChange)="onLanguageInputChange($event)"
            (modelChange)="selectLanguage($event)"
            >
        </ot-lookup>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="LegacyPurposeCloseButton"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="LegacyPurposeSaveButton"
        [disabled]="!selectedLanguage"
        (click)="savePurpose()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
