<div
    *ngIf="!isLoadingAttachments"
    class="position-relative"
    >
    <div class="full-size-block overflow-x-auto">
        <ul
            class="stretch-vertical full-size position-absolute">
            <li *ngIf="showSupportingDocuments"
                class="background-white shadow margin-top-1"
                >
                <inventory-attachments
                    class="flex-full-height"
                    [recordId]="recordId"
                    [inventoryId]="inventoryId"
                    [permissions]="permissions"
                    [viewMore]="viewMore"
                    [isAddDocumentDisable]="isAddDocumentDisable"
                    (onAddDocumentClicked)="handleAddFromHeader($event)"
                    (parametersOnFooterButtonClicked)="handleDisplayContracts($event)"
                >
                </inventory-attachments>
            </li>
            <li *ngIf="isContractsShown"
                class="background-white shadow margin-top-bottom-1"
                >
                <contracts-list-expandable
                    class="flex-full-height"
                    [recordId]="recordId"
                    [recordName]="recordName"
                    [inventoryId]="inventoryId"
                    [inventoryPermissions]="permissions"
                    [isShowPagination]="contractViewMore"
                    (onAddContractClicked)="handleAddContract($event)"
                    (onContractPaginationDisplayed)="hideInventoryAttachments($event)"
                >
                </contracts-list-expandable>
            </li>
        </ul>
    </div>
</div>
<ot-loading
    otPageLoading
    class="flex-full-height justify-center"
    *ngIf="isLoadingAttachments"
    >
    {{ tabId === tabIds.Attachments ? 'Attachments' : 'Documents' | otTranslate }}...
</ot-loading>
