<div class="full-width position-relative flex-full-height overflow-hidden">
    <div class="width-100-percent static-vertical row-nowrap padding-top-bottom-1 background-white border-bottom">
        <div otFormElement
            class="width-50-percent padding-left-right-2"
            [label]="'SourceLanguage' | otTranslate"
            >
            <ot-picklist
                ot-auto-id="CustomPreferenceSourceLanguage"
                class="width-50-percent"
                labelKey="Name"
                valueKey="Code"
                [autoClose]="true"
                [disabled]="!sourceLanguageOptions"
                [model]="sourceDropdown"
                [options]="sourceLanguageOptions"
                (onSelect)="selectSourceLanguage($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="width-50-percent padding-left-right-2"
            [label]="'TargetLanguage' | otTranslate"
            >
            <button otButton neutral
                class="align-right"
                ot-auto-id="CustomPreferenceEditLanguagesButton"
                [innerText]="'ManageLanguages' | otTranslate"
                (click)="manageLanguagesModal()"
            ></button>
            <ot-picklist
                ot-auto-id="CustomPreferenceTargetLanguage"
                class="width-50-percent"
                labelKey="Name"
                valueKey="Code"
                [autoClose]="true"
                [disabled]="!targetLanguageOptions"
                [model]="targetDropdown"
                [options]="targetLanguageOptions"
                (onSelect)="selectTargetLanguage($event)"
            ></ot-picklist>
        </div>
    </div>
    <div class="flex-full-height overflow-y-auto">

        <table otDataTable
            *ngIf="customPreference?.Languages"
            class="margin-bottom-1 background-white table-layout-fixed"
            [colBordered]="true"
            [rowBordered]="true"
            [rowData]="[customPreference]"
            >
            <ot-data-table-column
                thClass="cr-table__header width-50-percent"
                [headerLabel]="'Source' | otTranslate"
                >
                <ng-template otDataTableCell
                    tdClass="padding-top-bottom-0"
                    >
                    <div class="padding-all-1 height-100">
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'Name' | otTranslate"
                            >
                            <input otInput
                                ot-auto-id="CustomPreferenceSourceName"
                                class="width-100-percent"
                                [readonly]="true"
                                [(ngModel)]="customPreference.Languages[sourceIndex].Name"
                                />
                        </div>
                        <div otFormElement
                            [label]="'Description' | otTranslate"
                            >
                            <span class="width-100-percent text-wrap overflow-ellipsis">
                                {{ customPreference.Languages[sourceIndex].Description }}
                            </span>
                        </div>
                    </div>
                </ng-template>
            </ot-data-table-column>
            <ot-data-table-column
                thClass="cr-table__header width-50-percent"
                [headerLabel]="'TargetTranslation' | otTranslate"
                >
                <ng-template otDataTableCell>
                    <div class="padding-all-1">
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'Name' | otTranslate"
                            [hasError]="customPreference?.Languages[targetIndex]?.Name?.length === 250"
                            [errorMessage]="'CharacterLimitReached' | otTranslate"
                            >
                            <input otInput
                                ot-auto-id="CustomPreferenceTargetName"
                                class="width-100-percent"
                                maxlength="250"
                                [placeholder]="'Name' | otTranslate"
                                [(ngModel)]="customPreference.Languages[targetIndex].Name"
                                />
                        </div>
                        <div otFormElement
                            [label]="'Description' | otTranslate"
                            [hasError]="customPreference?.Languages[targetIndex]?.Description?.length === 500"
                            [errorMessage]="'CharacterLimitReached' | otTranslate"
                            >
                            <textarea otTextarea
                                ot-auto-id="CustomPreferenceTargetDescription"
                                class="width-100-percent"
                                maxlength="500"
                                [placeholder]="'EnterDescription' | otTranslate"
                                [(ngModel)]="customPreference.Languages[targetIndex].Description"
                            ></textarea>
                        </div>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </table>
        <table otDataTable
            *ngIf="customPreference?.Languages"
            class="background-white"
            [colBordered]="true"
            [rowBordered]="true"
            [rowData]="customPreference.Languages[sourceIndex].Options"
            [rowStriped]="true"
            >
            <ot-data-table-column
                thClass="cr-table__header width-50-percent"
                [headerLabel]="'Source' | otTranslate"
                >
                <ng-template otDataTableCell
                    let-rowIndex="rowIndex"
                    tdClass="padding-top-bottom-0"
                    >
                    <div class="padding-all-1">
                        <div otFormElement
                            [label]="'Option' | otTranslate"
                            >
                            <input otInput
                                [attr.ot-auto-id]="'CustomPreferenceSourceOption' + rowIndex"
                                class="width-100-percent"
                                [readonly]="true"
                                [(ngModel)]="customPreference.Languages[sourceIndex].Options[rowIndex].Label"
                                />
                        </div>
                    </div>
                </ng-template>
            </ot-data-table-column>
            <ot-data-table-column
                thClass="cr-table__header width-50-percent"
                [headerLabel]="'TargetTranslation' | otTranslate"
                >
                <ng-template otDataTableCell
                    let-rowIndex="rowIndex"
                    >
                    <div class="padding-all-1">
                        <div otFormElement
                            [label]="'Option' | otTranslate"
                            [hasError]="customPreference?.Languages[targetIndex]?.Options[rowIndex]?.Label?.length === 100"
                            [errorMessage]="'CharacterLimitReached' | otTranslate"
                            >
                            <input otInput
                                [attr.ot-auto-id]="'CustomPreferenceTargetTranslationOption' + rowIndex"
                                class="width-100-percent"
                                maxlength="100"
                                [placeholder]="'Option' | otTranslate"
                                [(ngModel)]="customPreference.Languages[targetIndex].Options[rowIndex].Label"
                                />
                        </div>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </table>
    </div>
</div>
<footer otPageFooter class="background-grey">
    <button otButton brand
        ot-auto-id="CustomPreferenceTranslationsSaveButton"
        class="align-self-end margin-top-bottom-auto"
        [innerText]="'Save' | otTranslate"
        [disabled]="saveInProgress"
        (click)="saveCustomPreference()"
    ></button>
</footer>