<section *ngIf="rows.length">
    <header class="padding-all-1 background-white border-bottom">
        <h4
            class="margin-all-0"
            [innerText]="title"
            >
        </h4>
    </header>
    <div
        class="position-relative full-width"
        >
        <div class="overflow-x-auto">
            <table
                otDataTable
                ot-auto-id="AttributeManagerTable"
                [rowData]="rows"
                [rowBordered]="true"
                >
                <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index;">
                    <ot-data-table-column
                        [headerLabel]="col.label"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            [thStyle]="{'padding': '0 1rem'}"
                            [thClass]="'max-25'"
                            >
                            <span
                                class="text-bold slds-truncate"
                                [ngClass]="{'block text-center': columnIndex !== 0}"
                                >
                                {{col.label}}
                            </span>
                            <i
                                *ngIf="col?.tooltipKey"
                                class="ot ot-info-circle"
                                [otTooltip]="{content: col.tooltipKey | otTranslate, placement: 'right'}"
                            ></i>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            [tdStyle]="{'padding': '0 1rem'}"
                            tdClass="max-25"
                            let-row="row"
                            >
                            <span
                                class="slds-truncate block"
                                *ngIf="!col.isDetailLink"
                                [ngClass]="{'text-center': columnIndex !== 0}"
                                [title]="col.getCellValue(row)"
                                >
                                {{col.getCellValue(row)}}
                            </span>
                            <a
                                class="text-link text-bold text-pointer slds-truncate block"
                                *ngIf="col.isDetailLink"
                                [ngClass]="{'text-center': columnIndex !== 0}"
                                ot-auto-id="AttributeManagerLinkToDetails"
                                [title]="col.getCellValue(row)"
                                (click)="goToDetails(row)"
                                >
                                {{col.getCellValue(row)}}
                            </a>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ot-data-table-column>
                    <ng-template otDataTableHeader thClass="float-col">
                        <div></div>
                    </ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        tdClass="float-col background-transparent"
                        [tdStyle]="{'background': 'transparent'}"
                        >
                        <upgraded-one-dropdown
                            class="inventory-table-new__context-button"
                            icon="ot ot-ellipsis-h"
                            [hideCaret]="true"
                            [alignRight]="true"
                            [getOptions]="getActions(row)"
                            buttonClass="actions-table__context-btn"
                            [listClass]="menuClass"
                            (click)="setMenuClass($event)"
                            >
                        </upgraded-one-dropdown>
                    </ng-template>
                </ot-data-table-column>
            </table>
        </div>
    </div>
</section>
