<div class="not-found flex-full-height column-horizontal-vertical-center overflow-y-auto">
    <div class="not-found__content slds-p-bottom--x-large text-center margin-left-right-1">
        <div class="not-found__logo margin-0-auto">
            <img class="not-found__logo-image" [src]="logo"/>
        </div>
        <div class="not-found__title">
            <div class="not-found__title-404 text-bold">404</div>
            <div class="not-found__title-sub text-uppercase">
                {{ 'PageNotFound' | translate }}
            </div>
        </div>
        <div class="not-found__description padding-top-bottom-half">
            {{ 'SorryCantFindPage' | translate }}
        </div>
        <a otButton brand class="not-found__btn margin-top-1"
            ot-auto-id="NotFoundPageReturnBtn"
            routerLink="/landing"
            >
            {{ 'BackToApplication' | translate }}
        </a>
    </div>
</div>
