.not-found {
    background: $frost;
    color: $slate;

    &__logo {
        border-radius: 1rem;

        &-image {
            max-width: 35rem;
            max-height: 10rem;
        }
    }

    &__title {
        padding-top: 4rem;
        padding-bottom: 6rem;

        &-404 {
            font-size: 20rem;
            line-height: 20rem;
        }

        &-sub {
            font-size: 3.8rem;
            font-weight: 600;
        }
    }

    &__description {
        font-size: 2.2rem;
        padding: 2rem 0;
    }

}
