.risk-repo-table {
    max-height: calc(100vh - 21rem);

    &__risklevel {
        padding-left: 0.7rem;
        padding-top: 0.6rem;
        padding-bottom: 0.4rem;
        margin: -0.2rem auto;
        width: 2.7rem;
    }
}