<div class="position-relative">
    <div class="overflow-x-auto">
        <table
            otDataTable
            [rowData]="tableViewData"
            [rowBordered]="true"
            [sortable]="true"
            [sortOrder]="sortData?.sortOrder"
            [sortKey]="sortData?.sortedKey"
            (sortChanged)="handleSortChange($event)"
            >
            <ng-container *ngFor="let col of columns">
                <ot-data-table-column
                    [headerLabel]="col.columnName"
                    [sortable]="col.sortKey"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    [classes]="col.columnType !== 'textbox' ? { thAnchor: 'slds-grid slds-grid_align-center max-25'} : max-25"
                    >
                    <ng-template otDataTableCell
                        let-row="row"
                        [tdClass]="'max-25'"
                        >
                        <ng-container [ngSwitch]="col.columnType">
                            <ng-container *ngSwitchCase="riskColumnTypes.Link">
                                <div *ngIf="col.cellValueKey === 'number'" class="slds-truncate">
                                    <a
                                        [attr.ot-auto-id]="'RiskRepositoryRisksIdLink' + row[col.cellValueKey]"
                                        (click)="goToRiskDetails.emit(row)"
                                        >
                                        <b>{{row[col.cellValueKey] || emptyValue}}</b>
                                    </a>
                                </div>
                                <div *ngIf="col.cellValueKey === 'description'" class="slds-truncate max-25 padding-left-2">
                                    <a
                                        [attr.ot-auto-id]="'RiskRepositoryRisksDescriptionLink' + row[col.cellValueKey]"
                                        (click)="goToRiskDetails.emit(row)"
                                        >
                                        {{row[col.cellValueKey] || emptyValue}}
                                    </a>
                                </div>
                                <div *ngIf="col.cellValueKey === 'source'" class="slds-truncate text-center">
                                    <a
                                        *ngIf="!row.viewOnly && ('AssessmentsUrlView' | otPermit); else RiskSourceAsPlainText"
                                        [attr.ot-auto-id]="RiskRepositoryAssessmentLink"
                                        (click)="goToAssessment.emit(row)"
                                        >
                                        {{ row.source.name }}
                                    </a>
                                    <ng-template #RiskSourceAsPlainText>
                                        <span class="word-break">{{row.source.name}}</span>
                                    </ng-template>
                                </div>
                                <div *ngIf="col.cellValueKey === 'controlsCount'" class="slds-truncate text-center">
                                    <a
                                        *ngIf="row.sourceType === 'PIA'; else ControlsCountAsPlainText"
                                        [attr.ot-auto-id]="'RiskRepositoryRiskControlsLink' + row[col.cellValueKey]"
                                        [otTooltip]="row['controlsIdentifier'].join(', ')"
                                        (click)="goToRiskControls.emit(row)"
                                        >
                                        <b>{{row['controlsCount']}}</b>
                                    </a>
                                    <ng-template #ControlsCountAsPlainText>
                                        <span class="word-break text-bold">{{row['controlsCount']}}</span>
                                    </ng-template>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.TextBox">
                                <div
                                    *ngIf="col.cellValueKey !== 'categoriesCsv'"
                                    class="slds-truncate"
                                    [ngStyle]="col.style"
                                    [otTooltip]="row[col.cellValueKey]"
                                    >
                                    {{ row[col.cellValueKey] }}
                                </div>
                                <div
                                    *ngIf="col.cellValueKey === 'categoriesCsv'"
                                    class="slds-truncate"
                                    [ngStyle]="col.style"
                                    [otTooltip]="row['categoriesCsv']"
                                    >
                                    {{ row['categoriesCsv'] || emptyValue }}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.Date">
                                <div class="slds-truncate text-center">
                                    {{row[col.cellValueKey] | otDate:'dateLocal':false:'- - - -'}}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.DateTime">
                                <div class="slds-truncate text-center">
                                    {{row[col.cellValueKey] | otDate:'dateTime':false:'- - - -'}}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.Org">
                                <div class="slds-truncate text-center">
                                    {{ row[col.cellValueKey].name }}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.Status">
                                <div
                                    class="text-center"
                                    [ngStyle]="col.style"
                                    >
                                    {{ riskV2StateTranslationKeys[row[col.cellValueKey]] | otTranslate }}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="riskColumnTypes.Icon">
                                <div
                                    class="border-round risk-repo-table__risklevel cursor-default"
                                    [ngClass]="handleIconColor(row.level)"
                                    >
                                    <i class="ot ot-flag color-white"></i>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <div
                                    class="slds-truncate text-center"
                                    [ngStyle]="col.style ? col.style : ''"
                                    >
                                    {{ row[col.cellValueKey] }}
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
</div>
