.dm-assessments-header {

    &__title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__name {
        margin-right: 1rem;
    }

    &__group {
        font-size: 1.4rem;
    }

    &__label {
        margin-right: 1rem;
    }

    &__select {
        height: 3.8rem;
    }

    &__clearFilter {
        padding-top: 2.5rem;
    }

    &__status {
        margin-left: 2.8rem;
    }
}
