
<div class="flex-full-height full-width padding-left-right-2 padding-top-bottom-1 border-bottom text-small" *ngIf="templateJson">
    <!-- Close accept all cookies -->
    <div
        *ngIf="!isCenterLayout"
        otFormElement
        class="row-space-between"
        [label]="'CloseButtonAcceptsAllCookies' | otTranslate"
    >
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.closeAcceptsAllCookies"
            (toggle)="templateJson.bannerModel.closeAcceptsAllCookies = !templateJson.bannerModel.closeAcceptsAllCookies"
        ></ot-toggle>
    </div>
    <div *ngIf="!isCenterLayout && isCookiesBannerPage"
        otFormElement
        class="row-space-between"
        [label]="'ClickAcceptsAllCookiesAndClosesBanner' | otTranslate">
            <ot-toggle
                ot-auto-id="CookieClickAcceptsAllCookiesToggle"
                [checked]="templateJson.bannerModel.onClickAcceptAllCookies"
                (toggle)="templateJson.bannerModel.onClickAcceptAllCookies = !templateJson.bannerModel.onClickAcceptAllCookies"
            ></ot-toggle>

        </div>
    <!-- Scroll accept all cookies & Banner -->
    <div
        *ngIf="!isCenterLayout"
        otFormElement
        class="row-space-between"
        [label]="'ScrollAcceptsCookiesAndClosesBanner' | otTranslate"
    >
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.scrollAcceptsCookies"
            (toggle)="templateJson.bannerModel.scrollAcceptsCookies = !templateJson.bannerModel.scrollAcceptsCookies"
        ></ot-toggle>
    </div>
    <div *ngIf="!isCenterLayout && isCookiesBannerPage"
        otFormElement
        class="row-space-between"
        [label]="'ScrollAcceptsAllCookiesAndClosesBanner' | otTranslate">
        <ot-toggle
            ot-auto-id="CookieScrollAcceptsAllCookiesGroupsToggle"
            [checked]="templateJson.bannerModel.scrollAcceptsAllCookies"
            (toggle)="templateJson.bannerModel.scrollAcceptsAllCookies = !templateJson.bannerModel.scrollAcceptsAllCookies"
        ></ot-toggle>
    </div>

    <!-- Show only in EU -->
    <div
        otFormElement
        class="row-space-between"
        [label]="'ShowOnlyInEU' | otTranslate"
        *ngIf="'CookieShowOnlyInEU' | otPermit"
    >
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.showOnlyInEU"
            (toggle)="templateJson.bannerModel.showOnlyInEU = !templateJson.bannerModel.showOnlyInEU"
        ></ot-toggle>
    </div>
    <!-- Hide for all -->
    <div
        otFormElement
        class="row-space-between"
        [label]="'HideForAll' | otTranslate"
    >
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.hideForAll"
            (toggle)="templateJson.bannerModel.hideForAll = !templateJson.bannerModel.hideForAll"
        ></ot-toggle>
    </div>
    <!-- Close accept all cookie -->
    <div
        *ngIf="!isCenterLayout"
        class="row-space-between align-start"
    >
        <div class="text-bold flex-shrink-50">{{'ForceConsent' | otTranslate}}</div>
        <i
            class="fa fa-info-circle"
            [otTooltip]="'BannerInteractionToolTip' | otTranslate"
            >
        </i>
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.forceConsent"
            (toggle)="templateJson.bannerModel.forceConsent = !templateJson.bannerModel.forceConsent"
        ></ot-toggle>
    </div>
    <!-- Close accept all cookie -->
    <div
        *ngIf="!isCenterLayout"
        class="row-space-between align-start"
    >
        <div class="text-bold flex-shrink-50">{{'BannerPushesDown' | otTranslate}}</div>
        <i
            class="fa fa-info-circle"
            [otTooltip]="'BannerPushesDownToolTip' | otTranslate"
            >
        </i>
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.bannerPushesDown"
            (toggle)="templateJson.bannerModel.bannerPushesDown = !templateJson.bannerModel.bannerPushesDown"
        ></ot-toggle>
    </div>
    <!-- show close button -->
    <div
        otFormElement
        class="row-space-between"
        [label]="'ShowCloseButton' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.SHOW_CLOSE_BUTTON)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <ot-toggle
            ot-auto-id="CookieBannerAddPolicyToggle"
            [checked]="templateJson.bannerModel.showBannerCloseButton"
            (toggle)="templateJson.bannerModel.showBannerCloseButton = !templateJson.bannerModel.showBannerCloseButton"
        ></ot-toggle>

    </div>
    <div
        otFormElement
        class="full-width"
    >
        <div class="row-nowrap">
            <div class="text-bold flex-shrink-20">{{'AriaLabel' | otTranslate}}</div>
            <i
                class="ot ot-info-circle"
                [otTooltip]="AriaLabelTooltip | otTranslate"
                >
            </i>
        </div>
        <input
            otInput
            name="templateAriaLabel"
            type="text"
            *ngIf="templateJson.bannerModel.showBannerCloseButton"
            ot-auto-id="TemplateAriaLabel"
            [(ngModel)]="templateJson.bannerModel.bannerCloseButtonText"
        />
    </div>
</div>
