<ng-container *ngIf="welcomeDetail | async as detail; else loading">
    <div class="welcome__detail-header static-vertical column-nowrap column-horizontal-center space-between text-center">
        <h2>{{ detail.title | translate }}</h2>
        <h5 class="text-bold margin-bottom-1">{{ detail.subtitle | translate }}</h5>
        <h5 class="welcome__detail-header-text">{{ detail.description | translate }}</h5>
        <a otButton brand
            class="margin-top-bottom-2"
            ot-auto-id="WelcomeDetailGoToProductBtn"
            [uiSref]="detail.route"
            [uiParams]="detail.params"
            [uiOptions]="detail.options"
            >
            {{ 'GoToProduct' | translate }}
        </a>
        <button otButton
            class="margin-bottom-1"
            ot-auto-id="WelcomeDetailWatchVideoBtn"
            (click)="scrollDown()"
            >
            {{ 'WatchVideo' | translate }} &nbsp;
            <span class="ot ot-chevron-down"></span>
        </button>
    </div>
    <section class="flex justify-center">
        <div class="welcome__detail-content">
            <one-video [url]="detail.video"></one-video>
        </div>
    </section>
</ng-container>
<ng-template #loading>
    <ot-loading otPageLoading class="flex-full-height static-vertical"></ot-loading>
</ng-template>
