<label class="padding-top-1 text-bold margin-left-2"
    [innerText]="'CustomizeYourColors' | otTranslate">
</label>
<div class="padding-left-right-2 margin-top-1">
    <div
        otFormElement
        class="margin-bottom-1"
        [label]="'Button' | otTranslate"
    >
        <color-picker
            [colorOptions]="colorOptions"
            [placeholder]="'ButtonBackgroundColor' | otTranslate"
            [selectedColor]="templateJson?.bannerModel?.buttonStyle?.backgroundColor"
            [defaultText]="defaultColorPickerValue"
            [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
            (selectionChange)="setColor($event, bannerColorType.ButtonBgcolor)"
            (inputValidationCallback)="validateColor($event, bannerColorType.ButtonBgcolor)"
            (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.BUTTON_COLOR)"
            (mouseleave)="setItemBeingEdited(null)"
        ></color-picker>
    </div>
    <div
        otFormElement
        class="margin-bottom-1"
        [label]="'Background' | otTranslate"
    >
        <color-picker
            [colorOptions]="colorOptions"
            [placeholder]="'BackgroundColor' | otTranslate"
            [selectedColor]="templateJson?.bannerModel?.bannerStyle?.backgroundColor"
            [defaultText]="defaultColorPickerValue"
            [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
            (selectionChange)="setColor($event, bannerColorType.BannerBgColor)"
            (inputValidationCallback)="validateColor($event, bannerColorType.BannerBgColor)"
            (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.BACKGROUND_COLOR)"
            (mouseleave)="setItemBeingEdited(null)"
        ></color-picker>
    </div>
    <div
        otFormElement
        class="margin-bottom-1"
        [label]="'Text' | otTranslate"
    >
        <color-picker
            [colorOptions]="colorOptions"
            [placeholder]="'TextColor' | otTranslate"
            [selectedColor]="templateJson?.bannerModel?.textStyle?.color"
            [defaultText]="defaultColorPickerValue"
            [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
            (selectionChange)="setColor($event, bannerColorType.TextColor)"
            (inputValidationCallback)="validateColor($event, bannerColorType.TextColor)"
            (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.TEXT_COLOR)"
            (mouseleave)="setItemBeingEdited(null)"
        ></color-picker>
    </div>
</div>
