.user-manage {
    &__input {
        &--half {
            width: 100%;
            @media(min-width: $small) {
                width: 48%;
                &:first-child {
                    padding-right: 0.5rem;
                }
                &:last-child {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}
