<div cdkDropList
    class="padding-bottom-2 min-height-46"
    id="PreferenceCenterBuilderPurposeList"
    [cdkDropListData]="noNotificationPurpose"
    (cdkDropListDropped)="handleDroppedPurpose($event)"
    (cdkDropListEntered)="handlePurposeListDisplay(true)"
    (cdkDropListExited)="handlePurposeListDisplay(false)"
    >
    <ng-container *ngIf="displayPurposeList; else EmptyState">
        <div cdkDrag
            *ngFor="let purpose of noNotificationPurpose; let i = index; trackBy: trackPurposeById"
            class="preference-center-builder__purpose position-relative"
            (cdkDragStarted)="collapsePurpose(i)"
            >
            <span
                class=
                "preference-center-builder__purpose-sequence
                row-horizontal-vertical-center
                text-bold
                border
                border-round
                position-absolute
                background-white"
                >
                {{ i + 1 }}
            </span>
            <div
                class=
                "preference-center-builder__purpose-header
                row-space-between-center
                padding-left-2
                padding-right-1
                padding-top-bottom-1
                background-grey
                margin-top-2
                margin-right-1
                margin-left-2
                border
                border-radius-3
                min-height-46
                align-center"
                [attr.data-index]="i"
                >
                <span class="padding-left-2 text-bold text-nowrap overflow-ellipsis">
                    {{ translatedPurpose(purpose) }}
                </span>

                <div class="pull-right row-space-between-center">
                    <i
                        class="ot ot-trash margin-right-2 text-xlarge cursor-pointer invisible builder__purpose--icon"
                        (click)="removePurpose(purpose.Id)"
                    ></i>
                    <i
                        ot-auto-id="PreferenceCenterWelcomeMessageExpandToggle"
                        class="ot no-outline text-large cursor-pointer"
                        [ngClass]="{'ot-chevron-right': !purpose.Expanded, 'ot-chevron-down': purpose.Expanded}"
                        (click)="purpose.Expanded = !purpose.Expanded"
                    ></i>
                </div>
            </div>
            <div
                *ngIf="purpose.Expanded"
                class="margin-left-right-2 no-outline"
                >
                <div class="padding-all-2 border-left">
                    <ng-container *ngIf="purpose?.Topics?.length">
                        <span>{{ "Topics" | otTranslate }}</span>
                        <div class="margin-top-1 margin-bottom-2">
                            <ot-grid class="background-grey padding-all-1">
                                <ot-grid-row>
                                    <ot-grid-column
                                        *ngFor="let topic of purpose.Topics; let j = index"
                                        [span]="4"
                                        >
                                        <span class="row-nowrap padding-all-half">
                                            <ot-checkbox></ot-checkbox>
                                            <span class="margin-left-1 overflow-ellipsis width-100-percent text-nowrap">
                                                {{ translatedTopic(topic) }}
                                            </span>
                                        </span>
                                    </ot-grid-column>
                                </ot-grid-row>
                            </ot-grid>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="purpose?.CustomPreferences?.length">
                        <ng-container *ngFor="let customPreference of purpose.CustomPreferences; let j = index">
                            <div class="margin-top-2">
                                <span>{{ translatedCustomPreference(customPreference) }}</span>
                            </div>
                            <div class="background-grey margin-top-1 padding-all-1">
                                <div class="row-wrap justify-center">
                                    <ng-container *ngFor="let option of customPreference.Options; trackBy: trackOption; let j = index">
                                        <span class="width-30-percent margin-all-half">
                                            <button otButton neutral
                                                [attr.ot-auto-id]="'PreferenceCenterCustomPreferenceOption' + j"
                                                class="custom-preference-option overflow-ellipsis width-100-percent text-nowrap"
                                                [select]="option.Selected"
                                                (click)="option.Selected = !option.Selected"
                                                >
                                                {{ translatedOption(customPreference, j) }}
                                            </button>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div *cdkDragPreview
                class="preference-center-builder__purpose-preview"
                >
                <span
                    class=
                    "preference-center-builder__purpose-sequence
                    row-horizontal-vertical-center
                    text-bold
                    border
                    border-round
                    position-absolute
                    background-white"
                    >
                    {{ i + 1 }}
                </span>
                <div
                    class=
                    "row-space-between-center
                    background-grey
                    border
                    border-radius-3
                    min-height-46
                    padding-left-2
                    padding-right-1
                    padding-top-bottom-1
                    margin-right-1
                    margin-left-2"
                    >
                    <span class="padding-left-2 text-bold">
                        {{ translatedPurpose(purpose) }}
                    </span>
                </div>
            </div>
            <div *cdkDragPlaceholder>
                <span
                    class=
                    "preference-center-builder__purpose-sequence
                    row-horizontal-vertical-center
                    text-bold
                    border
                    border-round
                    position-absolute
                    background-white"
                    >
                    {{ i + 1 }}
                </span>
                <div
                    class=
                    "preference-center-builder__purpose-placeholder
                    row-space-between-center
                    border
                    border-radius-3
                    min-height-46
                    padding-left-2
                    padding-right-1
                    padding-top-bottom-1
                    margin-top-2
                    margin-right-1
                    margin-left-2"
                    >
                    <span class="padding-left-2 text-bold">
                        {{ translatedPurpose(purpose) }}
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="preference-center-builder__purpose position-relative">
    <div
        class=
        "preference-center-builder__purpose-header
        row-space-between-center
        padding-left-2
        padding-right-1
        padding-top-bottom-1
        background-grey
        margin-left-right-1
        border
        border-radius-3
        min-height-46
        align-center"
        >
        <span class="padding-left-2 text-bold">
            {{ translatedPurpose(notificationPurpose) }}
        </span>
        <div class="flex justify-end">
            <ot-toggle
                ot-auto-id="NotificationPurposeVisibilityToggle"
                class="inline-flex"
                [checked]="displayNotificationPurpose"
                (toggle)="onNotificationPurposeDisplayToggle($event)"
                >
            </ot-toggle>
        </div>
    </div>
</div>

<ng-template #EmptyState>
    <div cdkDrag
        class=
        "text-bold
        text-center
        padding-all-1
        color-accent-blue
        border-blue
        border-style-dashed
        margin-left-right-1
        margin-top-2
        min-height-46"
        >
        {{ "AddPurpose" | otTranslate }}
    </div>
</ng-template>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>