.preference-center-builder {
    &__purpose {
        &-header {
            &:hover {
                .builder__purpose--icon {
                    visibility: visible;
                }

                cursor: move;
                background-color: $hover-blue;
            }

            &:active {
                background-color: $active-blue;
            }
        }

        &-sequence {
            width: 4.7rem;
            height: 4.7rem;
        }

        &-preview {
            transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
        }

        &-placeholder {
            background-color: $active-blue;
        }

        .custom-preference-option {
            min-width: auto;
        }
    }

    &__subitem {
        margin-left: 8rem;

        &:hover {
            .builder__subitem--icon {
                visibility: visible;
            }
        }
    }
}

.preference-center-builder__purpose .ot-toggle {
    margin-bottom: 0;
}