<div class="webform-sidebar height-100 overflow-y-auto">
    <div class="webform-sidebar--border-bottom padding-top-bottom-1 padding-left-right-2">
        <span class="text-small">{{'WebFormName' | translate}}</span>
        <webform-edit-block
            [text]="webForm.templateName"
            [textStyle]="'text-large'"
        ></webform-edit-block>
    </div>
    <div
        *ngIf="isLanguageSwitchEnabled"
        class="webform-sidebar--border-bottom padding-top-bottom-1 padding-left-2 padding-right-1">
        <div  class="margin-top-1 width-90-percent webform-sidebar--label color-slate hover-no-underline">
            <ot-picklist
                ot-auto-id="WebFromLanguagrDropDown"
                [autoClose]="true"
                [options]="languagesList"
                [valueKey]="'Code'"
                [labelKey]="'Name'"
                [model]="modelForLanguageSelector"
                (onSelect)="selectLanguage($event.Code)"
            ></ot-picklist>
        </div>
    </div>
    <ot-collapse
        *ngIf="permissions.formsDetails"
        [title]="'RequestType' | translate"
        [open]="false"
        >
        <section class="background-white">
            <webform-request-type-content
                [webForm]="webForm"
                [data]="sidebarData"
                [permissions]="permissions"
                [formTranslations]="formTranslations"
                (actionCallback)="handleAction($event)"
            ></webform-request-type-content>
        </section>
    </ot-collapse>
    <ot-collapse
        *ngIf="permissions.formsFields"
        [title]="'FormFields' | translate"
        [open]="false"
        >
        <section class="background-white">
             <webform-form-fields-content
                [data]="sidebarData"
                [permissions]="permissions"
                [formTranslations]="formTranslations"
                (actionCallback)="handleAction($event)"
            ></webform-form-fields-content>
        </section>
    </ot-collapse>
    <ot-collapse
        *ngIf="permissions.formsText"
        [title]="'FormText' | translate"
        [open]="false"
        >
        <section class="background-white">
            <webform-form-text-content
                [data]="webForm"
                [permissions]="permissions"
                [formTranslations]="formTranslations"
                (actionCallback)="handleAction($event)"
            ></webform-form-text-content>
        </section>
    </ot-collapse>
    <ot-collapse
        *ngIf="permissions.formsStyling"
        [title]="'FormStyling' | translate"
        [open]="false"
        >
        <section class="background-white">
            <webform-form-styling-content
                [otLogoEnabled]="isLogoEnabled"
                [data]="newFormStylingInputs"
                [permissions]="permissions"
                (actionCallback)="handleAction($event)"
            ></webform-form-styling-content>
        </section>
    </ot-collapse>
    <ot-collapse
        *ngIf="permissions.formsSettings && isAttachmentSectionEnabled"
        [title]="'Attachment' | translate"
        [open]="false"
        >
        <section class="background-white">
            <webform-attachment-settings
                [formTranslations]="formTranslations"
                (actionCallback)="handleAction($event)"
            ></webform-attachment-settings>
        </section>
    </ot-collapse>
</div>
