.webform-sidebar {
    width: 32.5rem;
    background-color: $paper-gray;
    border-right: solid 1px $grey-3;

    &--border-bottom {
        border-bottom: solid 1px $grey-2;
    }

    &--label:hover{
        color: $slate;
    }

    &--edit-link a {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
    }

    .max-width-22{
        max-width: 22rem;
    }

    .ot-collapse {
        &__header-container {
            padding: 2.2rem;
        }

        &__content {
            padding: 0;
        }
    }
}
