<div class="cr-edit height-100 full-width column-horizontal-center overflow-y-auto">
    <cr-header [title]="'CollectionPointTypes' | otTranslate"></cr-header>

    <header class="padding-top-2">
        <h1 class="heading1 text-thin margin-top-bottom-2 text-center">{{'SelectCollectionPointType' | otTranslate}}</h1>
        <h4 class="margin-top-bottom-2 text-center">{{'SelectCollectionPointTypeHeadline' | otTranslate}}</h4>
    </header>

    <section class="padding-all-3 full-width row-wrap justify-center">
        <div class="cr-edit__card one-card margin-all-1">
            <div class="one-card__header">
                <p class="text-center margin-top-bottom-3">
                    <i class="cr-edit__card-icon ot ot-webform fa-4x"></i>
                </p>
                <h3 class="one-card__header--title text-center">
                    {{'WebForm' | otTranslate}}
                </h3>
                <p class="text-center margin-all-1">{{'RecordConsentWebForm' | otTranslate}}</p>
            </div>
            <div class="one-card__footer one-card__footer--textLinks centered">
                <button otButton brand
                    ot-auto-id="ConsentSelectWebFormButton"
                    [innerText]="'Select' | otTranslate"
                    (click)="selectCollectionPointType(crConstants.CRTypes.WebForm)"
                ></button>
            </div>
        </div>

        <div class="cr-edit__card one-card margin-all-1">
            <div class="one-card__header">
                <p class="text-center margin-top-bottom-3">
                    <i class="cr-edit__card-icon fa fa-code fa-4x"></i>
                </p>
                <h3 class="one-card__header--title text-center">
                    {{'CustomAPI' | otTranslate}}
                </h3>
                <p class="text-center margin-all-1">{{'RecordConsentCustomAPI' | otTranslate}}</p>
            </div>
            <div class="one-card__footer one-card__footer--textLinks centered">
                <button otButton brand
                    ot-auto-id="ConsentSelectApiButton"
                    [innerText]="'Select' | otTranslate"
                    (click)="selectCollectionPointType(crConstants.CRTypes.API)"
                ></button>
            </div>
        </div>

        <div class="cr-edit__card one-card margin-all-1">
            <div class="one-card__header">
                <p class="text-center margin-top-bottom-3">
                    <i class="cr-edit__card-icon ot ot-form fa-4x"></i>
                </p>
                <h3 class="one-card__header--title text-center">
                    {{'OfflineForm' | otTranslate}}
                </h3>
                <p class="text-center margin-all-1">{{'RecordConsentOffline' | otTranslate}}</p>
            </div>
            <div class="one-card__footer one-card__footer--textLinks centered">
                <button otButton brand
                    ot-auto-id="ConsentSelectBulkImportButton"
                    [disabled]="!canSeeBulkImport"
                    [innerText]="'Select' | otTranslate"
                    (click)="selectCollectionPointType(crConstants.CRTypes.BulkImport)"
                ></button>
            </div>
        </div>

        <div class="cr-edit__card one-card margin-all-1">
            <div class="one-card__header">
            <p class="text-center margin-top-bottom-3"><i class="cr-edit__card-icon ot ot-mobile2 fa-4x"></i></p>
            <h3 class="one-card__header--title text-center">
                {{'MobileApplication' | otTranslate}}
            </h3>
            <p class="text-center margin-all-1">{{'RecordConsentMobile' | otTranslate}}</p>
            </div>
            <div class="one-card__footer one-card__footer--textLinks centered">
                <button otButton brand
                    ot-auto-id="selectCollectionPointType"
                    [innerText]="'Select' | otTranslate"
                    [disabled]="!consentMobileSDK"
                    (click)="selectCollectionPointType(crConstants.CRTypes.Mobile)"
                ></button>
            </div>
        </div>

        <div class="cr-edit__card one-card margin-all-1">
            <div class="one-card__header">
                <span
                    *ngIf="!canSeeCookieConsent"
                    class="one-card__header--locked upgrade__icon cr-edit__card-upgrade-icon"
                ></span>
                <p class="text-center margin-top-bottom-3">
                    <i
                        class="cr-edit__card-icon ot ot-cookies fa-4x"
                        [ngClass]="{'one-card__header--icon--disabled': !canSeeCookieConsent }"
                    ></i>
                </p>
                <h3
                    class="one-card__header--title text-center"
                    [ngClass]="{'one-card__header--icon--disabled': !canSeeCookieConsent }"
                    >
                    {{'CookieConsent' | otTranslate}}
                </h3>
                <p
                    class="text-center margin-all-1"
                    [ngClass]="{'one-card__header--icon--disabled': !canSeeCookieConsent }"
                    >
                    {{'RecordConsentCookie' | otTranslate}}
                </p>
            </div>
            <div class="one-card__footer one-card__footer--textLinks centered">
                <button otButton brand
                    ot-auto-id="selectCookieCollectionPointType"
                    [innerText]="'Select' | otTranslate"
                    [disabled]="!canSeeCookieConsent"
                    (click)="selectCookieCollectionPointType()"
                ></button>
            </div>
        </div>
    </section>
</div>