.modal
    script(type='text/ng-template', id='AssignmentsModal.html')

        section.project-assignment-modal
            .modal-header
                h3.modal-title.align-left
                    | {{::$root.t("AssignSection")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    span.ot.ot-times
            .modal-body(ng-if='Ready')
                .current-assignment-message.text-center(ng-if='currentAssignee')
                    span(ng-if='currentAssignee.Id !== currentUser.Id')
                        | {{::$root.t("ProjectIsAssignedToAssigneeName", {ProjectName : Project.Name, AssigneeName: currentAssignee.FullName || currentAssignee.Email}) }}
                    span(ng-if='currentAssignee.Id === currentUser.Id')
                        | {{::$root.t("ProjectIsAssignedToAssigneeNameMe", {ProjectName : Project.Name, AssigneeName: currentAssignee.FullName || currentAssignee.Email}) }}
                .current-assignment-message.text-center(ng-if='!currentAssignee')
                    span
                        | {{ ::$root.t("ProjectIsNotCurrentlyAssignedToAnyone", {ProjectName : Project.Name}) }}
                .assignment-form.horizontal-form
                    org-user-dropdown(
                        label="{{dropdownLabel}}"
                        org-id="Project.OrgGroupId"
                        on-select="respondentSelected(selection, isValid)"
                        type='dropdownType',
                    )
            .modal-footer
                one-button(
                    type='cta',
                    text='{{Project.assignText}}',
                    button-click='AssignProject()',
                    identifier='assignmentModalSubmit',
                    is-disabled='!isSelectionValid || submitInProgress',
                    enable-loading='true',
                    is-loading='submitInProgress',
                )
