.modal
    script(type='text/ng-template', id='AttachmentModal.html')

        section.attachment-modal
            .modal-header.attachment-modal__header
                h3.modal-title.align-left {{::$root.t("Attachments")}}
                h3.modal-title.align-right(ng-click='closeModal()')
                    span.ot.ot-times
            .modal-body.attachment-modal__body
                section.attachment-modal__add(ng-class='{"disabled": attachmentLoading}', ng-if="canAddQuestionAttachments")
                    input#attachment-upload.attachment-modal__add-input(
                        type='file',
                        file-upload="attachmentFile")
                    i.attachment-modal__add-icon.fa.fa-plus(ng-show='!attachment')
                    span.attachment-modal__add-text(ng-show='!attachment') {{::$root.t("DropAttachmentOrClickToBrowse")}}
                    span.attachment-modal__add-text(ng-show='attachment && !attachmentLoading') {{ attachment.file.name }}
                    span.attachment-modal__add-text(ng-show='attachmentLoading') {{::$root.t("Uploading")}} {{ attachment.file.name }} ...
                    i.attachment-modal__add-spinner.fa.fa-spinner.fa-pulse.fa-fw
                .attachment-modal__entry(ng-show='inputsShowing && !attachmentLoading')
                    .attachment-modal__entry-name
                        label.attachment-modal__entry-label
                            | {{::$root.t("Name")}}
                        input.attachment-modal__entry-input.one-input.full-width(
                            ng-model='fileName',
                            ng-change="validateFileName()"
                        )
                    .attachment-modal__entry-comments
                        label.attachment-modal__entry-label
                            | {{::$root.t("Comments")}}
                        textarea.attachment-modal__entry-textarea(ng-model='fileComments')
                    button.attachment-modal__entry-submit(
                        ng-if="::canAddQuestionAttachments"
                        ng-click='uploadAttachment()'
                        ng-disabled="fileNameError"
                    )
                        | {{::$root.t("Add")}}
                    button.attachment-modal__entry-cancel(ng-click='clearAttachment()') {{::$root.t("Cancel")}}

                .attachment-modal__entry.attachment-modal__entry--error(ng-if='errorShowing')
                    label.attachment-modal__entry--error-msg
                        | {{::$root.t("FileSizeExceedsTheLimitOf64Mb")}}
                .attachment-modal__entry.attachment-modal__entry--error(ng-if='fileNameError')
                    label.attachment-modal__entry--error-msg
                        | {{::$root.t("FileNameExceedsLimitOf100Characters")}}
                .animate-if.attachment-modal__entry.attachment-modal__entry--warning(ng-if="canAddQuestionAttachments && !errorShowing && !inputsShowing && !fileNameError")
                    p.attachment-modal__entry--warning-msg
                        | {{::$root.t("FilesLargerThan64MbNotSupported")}}

                .attachment-modal__filters(ng-if="attachmentList.length !== 0")
                    form.attachment-modal__search.one-search
                        label.one-search__label(for='attachment-modal__search')
                            i.ot.ot-search.one-search__icon
                        input#attachment-modal__search.one-search__input(type='text', ng-model="attachmentFilter.All", placeholder='{{::$root.t("Search")}}')
                .attachment-modal__table(ng-if="attachmentList.length !== 0")
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                th {{::$root.t("Name")}}
                                th {{::$root.t("FileType")}}
                                th {{::$root.t("Size")}}
                                th {{::$root.t("AddedBy")}}
                                th {{::$root.t("CreatedDate")}}
                                th {{::$root.t("Comments")}}
                                th {{::$root.t("Actions")}}

                        tbody
                            tr(ng-repeat=" attach in attachmentList | filter:attachmentFilter.All track by $index")
                                td
                                    a(ng-href="{{attach.Location}}" target="_blank") {{attach.Name}}
                                td {{attach.FileType}}
                                td {{attach.FileSize}}
                                td {{attach.CreatedBy}}
                                td 
                                 one-date(date-to-format='attach.CreatedDT') 
                                td.attachment-modal__comments.attachment-modal__comments--short(ng-if='!isLongValue(attach)')
                                    span(ng-bind-html='attach.Comments')
                                td.attachment-modal__comments.attachment-modal__comments--long(ng-if='isLongValue(attach)', ng-class='{"truncate-values": !attach.isExtended}')
                                    span(ng-bind-html='attach.CommentsShort' ng-if='!attach.isExtended')
                                    span(ng-bind-html='attach.Comments' ng-if='attach.isExtended')
                                    button.read-more(ng-click='attach.isExtended = !attach.isExtended;')
                                        span {{::$root.t("More")}}
                                        i.fa.fa-caret-down
                                    button.read-less(ng-click='attach.isExtended = !attach.isExtended;')
                                        span {{::$root.t("Less")}}
                                        i.fa.fa-caret-up

                                td
                                    span()
                                        .btn-group.table-actions(uib-tooltip='{{::$root.t("DeleteAttachment")}}', tooltip-placement='top', tooltip-trigger='mouseenter')
                                            button.btn.btn-danger(
                                                ng-click='DeleteAttachment(attach.Id)',
                                                ng-if="::canDeleteQuestionAttachments")
                                                i.fa.fa-trash
                .empty-placeholder(ng-if="attachmentList.length === 0")
                    h1 {{::$root.t("NoAttachments")}}
