.modal
    script(type='text/ng-template', id='DeadlinesModal.html')
        .modal-header
            h3.modal-title.align-left {{::labels.deadlinesHeadline}}
            h3.modal-title.align-right(ng-click='cancel()')
                i.ot.ot-times
        .modal-body
            .deadlines-modal
                form(role='form', name='deadlineForm')
                    .row-vertical-center.margin-top-bottom-2
                        label.col-sm-3 {{::$root.t("Deadline")}}
                        .col-sm-8.z-index-9999
                            downgrade-one-date-time-picker(
                                [date-disable-until]="MinDate",
                                [date-placeholder]="$root.t('EnterDeadlineDate')",
                                [date-time-model]="Project.Deadline",
                                (on-change)="updateDeadline($event)",
                                )
                        .col-sm-1
                            .deadlineTooltip(
                                uib-tooltip='{{::$root.t("DeadlineWillBeSetForEod1159PmUtc")}}',
                                tooltip-placement="top",
                                tooltip-trigger="mouseenter"
                            )
                                i.fa.fa-info-circle
                    .row-vertical-center.margin-bottom-1(ng-if="Project.Deadline")
                        label.col-sm-3 {{::$root.t("Reminders")}}
                        .col-sm-9.reminder
                            button.btn.reminder-none(
                                type='button',
                                uib-btn-checkbox,
                                ng-model="Project.ReminderShow",
                                ng-class="{'checked': Project.ReminderShow}",
                                ng-change="validateReminder()"
                            )
                                i.ot(ng-class="{'ot-check': Project.ReminderShow}")
                            input.reminder-input.animate-if(
                                ng-if="Project.ReminderShow",
                                type="number",
                                ng-model="Project.ReminderDays",
                                min="1",
                                ng-change="validateReminder()"
                            )
                            span.reminder-message.animate-if(ng-if="Project.ReminderShow") {{::$root.t("DaysBeforeDeadline")}} &nbsp
                                i.fa.fa-info-circle.deadlineTooltip(
                                    ng-if="IsDefault",
                                    uib-tooltip='{{::$root.t("TheseAreDefaultReminderSettings")}}',
                                    tooltip-placement="top",
                                    tooltip-trigger="mouseenter"
                                )
                            span.reminder-message.animate-if(ng-if="!Project.ReminderShow") {{::$root.t("NoReminders")}}
                    .row-vertical-center.text-danger.margin-bottom-1(ng-if="!validReminder")
                        .col-sm-3
                        .col-sm-9
                            | {{::$root.t("ReminderMustBeAtLeastOneDayInTheFuture")}}
                    .row-horizontal-center
                        one-button(
                            type='primary',
                            button-click='Save()',
                            button-class='margin-top-1',
                            enable-loading="true"
                            is-loading="isMakingRequest"
                            identifier="projectDeadlineSaveButton"
                            is-disabled='!validReminder || deadlineForm.$invalid || isMakingRequest',
                            text='{{::$root.t("Save")}}'
                        )
