.modal
    script(type='text/ng-template', id='HistoryModal.html')
        section.project-history-modal
            .modal-header
                h3.modal-title.align-left {{::$root.t("History")}}: {{Project.Name}}
                h3.modal-title.align-right(ng-click='closeModal()')
                    span.ot.ot-times
            .modal-body(ng-if="isLoading")
                loading(text='{{::$root.t("History")}}')
            .modal-body(ng-if='!isLoading && (projectHistory === null || projectHistory.Entries.length === 0)')
                .text-center
                    h2 {{::$root.t("ProjectCurrentlyHasNoHistory")}}
                    p.lead {{::$root.t("CheckBackLater")}}
            .modal-body(ng-if='!isLoading && (projectHistory !== null && projectHistory.Entries.length > 0)')
                .panel.panel-default
                    .row.project-metadata
                        // Project contents
                        .col-md-4
                            span
                                b {{::$root.t("Questionnaire")}}:
                                | &nbsp;&nbsp;{{projectHistory.Template}}
                        .col-md-4
                            span
                                b {{::$root.t("CreatedBy")}}:
                                | &nbsp;&nbsp;{{projectHistory.CreatedBy}}
                        .col-md-4
                            one-label-content(
                                name="{{::$root.t('CreatedOn')}}:"
                                inline="true"
                            )
                                one-date(date-to-format="projectHistory.CreateDT")
                    .panel-heading.row
                        .col-sm-3
                            input.form-control(type='text', ng-model='historyFilter.All', placeholder='{{::$root.t("SearchHistory")}}')
                        .col-sm-4
                            one-select(
                                model="historyFilter.eventType"
                                options="projectStatuses"
                                value-key="Value"
                                label-key="Name"
                            )
                    .panel-body
                        #projectHistory
                            .row.table.table-responsive.history-table
                                table.table.table-bordered.table-hover
                                    thead
                                        tr
                                            th {{::$root.t("Name")}}
                                            th {{::$root.t("Description")}}
                                            th {{::$root.t("Respondent")}}
                                            th {{::$root.t("OrganizationGroup")}}
                                            th {{::$root.t("State")}}
                                            th {{::$root.t("UpdatedBy")}}
                                            th {{::$root.t("UpdatedOn")}}
                                            th {{::$root.t("UpdateDescription")}}
                                    tbody
                                        tr(ng-repeat='event in projectHistory.Entries | filter: historyFilter.All | filter: historyFilter.eventType track by $index')
                                            td
                                                span(ng-bind='event.Name')
                                            td
                                                span(ng-bind='event.Description')
                                            td
                                                span(ng-bind='event.Lead')
                                            td
                                                span(ng-bind='event.OrgGroup')
                                            td
                                                span.label(class='projectlabels-text__{{event.StateLabel}}', ng-bind='event.StateName')
                                            td
                                                span {{event.UpdatedBy}}
                                            td
                                                one-date(
                                                    ng-if="event.UpdateDT"
                                                    date-to-format="event.UpdateDT"
                                                )
                                            td
                                                span(ng-bind='event.UpdateDesc')
