.modal
    script(type='text/ng-template', id='ReviewerModal.html')

        section.project-assignment-modal
            .modal-header
                h3.modal-title.align-left {{::$root.t("AssignApprover")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    span.ot.ot-times
            .modal-body
                .current-assignment-message.text-center(ng-if='currentAssignee')
                    span(ng-if='currentAssignee.Id !== currentUser.Id')
                        | {{::$root.t("ProjectIsAssignedToAssigneeName", {ProjectName : Project.Name, AssigneeName: currentAssignee.FullName}) }}
                    span(ng-if='currentAssignee.Id === currentUser.Id')
                        | {{::$root.t("ProjectIsAssignedToAssigneeNameMe", {ProjectName : Project.Name, AssigneeName: currentAssignee.FullName}) }}
                .current-assignment-message.text-center(ng-if='!currentAssignee')
                    span
                        | {{ ::$root.t("ProjectIsNotCurrentlyAssignedToAnyone", {ProjectName : Project.Name}) }}
                form.assignment-form.form-horizontal(name='assignmentForm', ng-if='TeamPicker && TeamPicker.length')
                    .form-group(ng-class="{'has-error': assignmentForm.assignee.$invalid  && (assignmentForm.assignee.$touched || assignmentForm.assignee.$dirty)}")
                        label(for='assignee')
                            | {{::$root.t("ReAssignTo")}}
                        .assignment.one-toggle-picker(ng-init="type = ''", ng-class='{"is-disabled": !Project.OrgGroupId}')
                            aside.assignment-toggle.one-toggle-picker__toggle(ng-if="ShowMeButton && ShowSomeoneElseButton")
                                button.assignment-toggle-btn.one-toggle-picker__toggle-btn(ng-if='ShowMeButton', ng-model='type', type='button', uib-btn-radio="'me'", ng-class="{'selected': Assignment.AssigneeId === currentUser.Id}", ng-click='AssignToMe();')
                                    | {{::$root.t("Me")}}
                                button.assignment-toggle-btn.one-toggle-picker__toggle-btn(ng-if='ShowSomeoneElseButton', ng-model='type', type='button', uib-btn-radio="'other'", ng-class="{'selected': Assignment.AssigneeId !== currentUser.Id}", ng-click="ClearAssignee();")
                                    | {{::$root.t("SomeoneElse")}}
                            input.assignment-input.one-toggle-picker__input.one-input.full-width.block(
                                type='text',
                                data-ng-model='Assignment.AssigneeId',
                                autocomplete='off',
                                name='assignee',
                                data-ng-click="type = 'other'",
                                data-ng-required='',
                                placeholder='{{$root.t("AssignAProjectApprover")}}',
                                typeahead-editable="false"
                                typeahead-input-formatter='formatTeamLabel($model)',
                                typeahead-min-length='0',
                                typeahead-show-hint='true'
                                uib-typeahead='user.Id as user.FullName for user in TeamPicker | filter:$viewValue'
                            )
                        p.error(ng-if="(assignmentForm.assignee.$touched || assignmentForm.assignee.$dirty) && (assignmentForm.assignee.$error.required && !formatTeamLabel(Assignment.AssigneeId))")
                            | {{::$root.t("AssignValidProjectApprover")}}
                p.error(ng-if="!(TeamPicker && TeamPicker.length)")
                    | {{::$root.t("NoOtherAvailableApprovers")}}
            .modal-footer.text-center
                one-button#SubmitButton(
                    type='cta',
                    is-disabled='!(formatTeamLabel(Assignment.AssigneeId)) || submitInProgress',
                    button-click='AssignProject()',
                    identifier='reviewerAssignSubmit',
                    text='{{::$root.t("ReAssign")}}',
                    enable-loading='true',
                    is-loading='submitInProgress')
