.modal
    script(type='text/ng-template', id='TagsModal.html')

        section.project-assignment-modal
            .modal-header
                h3.modal-title.align-left {{::$root.t("ModifyProjectTags", {ProjectTerm: $root.customTerms.Project})}}
                h3.modal-title.align-right(ng-click='cancel()')
                    span.ot.ot-times
            .modal-body(ng-if='Ready')
                form.project-info__form(name='projectTagsForm')
                    section.project-info__form-group
                        label.project-info__label
                            | {{::$root.t("ProjectTags", {ProjectTerm: $root.customTerms.Project})}}
                            i.fa.fa-info-circle(uib-tooltip='{{::$root.t("UpdateProjectTagging", {ProjectTerm: $root.customTerms.Project})}}', tooltip-placement='top', tooltip-trigger='mouseenter')
                        .project-info__input-group
                            div
                                tags-input(
                                  ng-model='Project.Tags',
                                  name='tags',
                                  display-property='Label',
                                  on-tag-added='addTag($tag)',
                                  replace-spaces-with-dashes='false',
                                  min-length='1',
                                  placeholder="{{::tagInputPlaceholder}}"
                                  )
                                    auto-complete(source='getTagsList($query, 10)', min-length='1', select-first-match='false')

            .modal-footer
                one-button(
                    type="primary",
                    button-click="updateProject()",
                    enable-loading="true",
                    is-disabled="tagIsSaving || projectUpdating",
                    is-loading="tagIsSaving || projectUpdating",
                    text="{{::$root.t('UpdateProjectTags', {ProjectTerm: $root.customTerms.Project})}}")
