.analysis {
    flex: 1 1 auto;
    min-height: 1px;
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-flow: column nowrap;
    color: $slate;

    &__container {
        width:100%;
        flex:1 1 auto;
        min-height: 1px;
        overflow-y: auto;
    }
    &__headline {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 0 0 1rem;
    }
    &__description {
        margin-bottom: 2rem;
    }

    &__flag {
        margin-bottom: 1rem;
        margin-right: 0.6rem;
        font-weight: normal;
        display: inline-block;
        border-color: $grey-4;
        color: $slate;
        i {
            margin-right: 0.6rem;
        }
    }
    &__tag {
        &--red {
            color: $light-red;
        }
        &--yellow {
            color: $light-orange;
        }
        &--blue {
            color: $cyan;
        }
        &--green {
            color: $green;
        }
    }

    &__fa-lock {
        margin-left: 5px;
    }

    &__level {
        flex: none;
        width: auto;
        display: inline-block;

        &-select {
            padding-left: 3rem;
        }

        &-flag {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__resolve-check {
        height: 2.4rem;
        border: 0;
        outline: none;
        background: 0;
        padding: 0 .6rem;
        margin-bottom: 1rem;

        &:hover {
            color: $green;
        }

        i {
            font-size: 1.6rem;
            vertical-align: middle;
        }
    }

    &__risk {

        &-empty {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            margin: 3rem 0;
        }
        &-item {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 3rem;
            padding-top: 3rem;
            border-top: 1px solid $grey-1;
            &:first-child {
                border-top: none;
            }
        }
        &-body {
            flex: 1 1 50%;
            padding-right: 3rem;
            border-right: 1px dashed $grey-1;
            &-resolved {
                color: $green;
            }
        }
        &-actions {
            flex: 0 0 auto;
            &-btn {
                @include button(select);
                margin-right: 0.6rem;
                margin-bottom: 1rem;
                &--accept.selected {
                    background-color: $green;
                    border-color: $green;
                    &:hover {
                        background-color: darken($green, 10%);
                        border-color: darken($green, 10%);
                    }
                }
                &--reject.selected {
                    background-color: $light-red;
                    border-color: $light-red;
                    &:hover {
                        background-color: darken($light-red, 10%);
                        border-color: darken($light-red, 10%);
                    }
                }
                &--addressed.selected {
                    background-color: $cyan;
                    border-color: $cyan;
                    &:hover {
                        background-color: darken($cyan, 10%);
                        border-color: darken($cyan, 10%);
                    }
                }
                &--exception.selected {
                    background-color: $light-orange;
                    border-color: $light-orange;
                    &:hover {
                        background-color: darken($light-orange, 10%);
                        border-color: darken($light-orange, 10%);
                    }
                }
            }
        }
        &-header {
            display: flex;
            flex-flow: row nowrap;
            margin: 0 0 1.4rem;

            &-edit {
                width: 100%;
                max-width: 60rem;
                display: flex;
                flex-flow: row nowrap;
            }
            &-input {
                @include textArea;
                flex: 1 1 auto;
                max-width: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &-submit {
                @include button(primary);
                flex: 0 0 auto;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &-add {
                color: $ui-blue;
                height: 2.4rem;
                border: 0;
                outline: none;
                background: 0;
                padding: 0 .6rem;
                margin-bottom: 1rem;

                &:hover {
                    color: darken($ui-blue, 10%);
                }

                i {
                    font-size: 1.2rem;
                    margin-right: .6rem;
                }
            }
        }
        &-flag {
            flex: 0 0 auto;
            margin-right: 1.6rem;
            &.very-high {
                color: $dark-red;
            }
            &.high {
                color: $light-red;
            }
            &.medium {
                color: $light-orange;
            }
            &.low {
                color: $cyan;
            }
        }
        &-text {
            flex: 1 1 auto;
            margin: 0;
            line-height: 2.4rem;
        }
        &-edit {
            color: $ui-blue;
            font-weight: bold;
            font-size: 1.4rem;
            display: inline-block;
            margin-left: 1rem;
            &:hover {
                color: darken($ui-blue, 10%);
            }
        }
        &-delete {
            height: 2.4rem;
            border: 0;
            outline: none;
            background: 0;
            padding: 0 .6rem;
            margin-bottom: 1rem;

            &:hover {
                color: $light-red;
            }

            i {
                font-size: 1.6rem;
                vertical-align: middle;
            }
        }
    }
    &__recommendation {
        flex: 1 1 50%;
        min-width: 50%;
        padding-left: 3rem;
        &-form {
            margin: 0 0 1rem;
            max-width: 100%;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-label {
            width: 100%;
            margin: 0 0 0.6rem;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 0.08rem;
            font-size: 1.2rem;

            i {
                margin-left: .6rem;
            }
        }
        &-group {
            width: 100%;
            max-width: 60rem;
            display: flex;
            flex-flow: row nowrap;
        }
        &-input {
            @include textArea;
            flex: 1 1 auto;
            max-width: 100%;
            min-width: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &-submit {
            border-radius: 2px;
            background-color: $ui-blue;
            color: $white;
            font-weight: bold;
            border: 1px solid $ui-blue;
            padding: 0.8rem 1.8rem;

            &:hover {
                background-color: lighten($ui-blue, 10%);
                border-color: lighten($ui-blue, 10%);
                color: $white;
            }

            &:disabled,
            &[disabled],
            [disabled] & {
                color: $slate;
                background-color: $grey-4;
                border-color: $grey-4;
                pointer-events: none;
                opacity: 1;

                i {
                    color: $slate;
                }
            }

            flex: 0 0 auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &-edit {
            color: $ui-blue;
            font-weight: bold;
            display: inline-block;
            margin-left: 1rem;
            &:hover {
                color: darken($ui-blue, 10%);
            }
            &.disabled,
            &.disabled:hover {
                color: inherit;
            }
        }
        &-text {
            margin: 0;
        }
    }

    &__question {
        &-btn {
            background: 0;
            border: 0;
            color: $ui-blue;
            &:hover {
                color: darken($ui-blue, 10%);
            }
        }
        &-caret {
            margin-left: 0.6rem;
        }
    }
    // Analysis Filters
    &__filter {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid $grey-1;

        &-count {
            align-self: flex-end;
        }

        &__options {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            .options-type {
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
                &-input {
                    position: relative;
                    flex: 0 0 14rem;
                    max-width: 14rem;
                    margin: 0;
                    @media (min-width: $small) {
                        flex: 0 0 16rem;
                        max-width: 16rem;
                    }
                }
            }
        }
    }

    &__section {
        margin: 0 0 2rem;
        font-weight: bold;
        font-size: 1.6rem;
    }
    // Question Preview Styles
    &__pia-question {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0.6rem;
        padding: 1.4rem 3rem;
        background-color: $paper-gray;
    }
}
