
// TODO Move to base
$number-grey: #D3D3D3;
$dark-grey: #7e7e7e;

#pia-project-assessment {
    height: 100%;
    background-color: #f8f8f8;

    .assessment-wrapper {
        height: 100%;
    }

    #assessment-list {
        height: calc(100% - 50px);
    }

    .module-wrapper {
        padding: 0;
    }

    .read-only {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 1rem;

        &-text {
            color: $slate;
            font-size: 1.6rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-right: 1.6rem;
        }
    }

    @import 'layout';
    @import 'menu';
    @import 'section';
    @import 'questions';
    @import 'footer';
    @import 'analysis';

}
