.assessment-footer {
    flex: 0 0 5rem;
    height: 5rem;
    width: calc(100% + 1px);
    background-color: $grey-1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1001;

    @media (min-width: $small) {
        border-top: 1px solid $grey-4;
    }

    &__wrapper {
        position: relative;
        left: -1px;
    }

    .tooltip-come-back {
        .tooltip {
            top: -24px !important;
        }
    }
    .tooltip-next-section {
        .tooltip {
            top: -55px !important;
        }
    }
    .tooltip.tooltip-approve {
        top: -70px !important;
        width: 154px !important;
        right: 1px !important;
        left: inherit !important;
    }
    .tooltip.tooltip-submit {
        width: 150px !important;
        top: -67px !important;
        right: 1px !important;
        left: inherit !important;
    }
    .tooltip.tooltip-analysis {
        width: 160px !important;
        top: -100px !important;
        right: 10px !important;
        left: inherit !important;
    }
    .tooltip {
        top: -40px !important;
    }

    &__btn {

        margin-right: 1rem;

        @media (min-width: $small) {
            min-width: 12rem;
        }

        i {
            margin: 0;

            &.has-comment-icon {
                color: $green;
            }
        }

        &--left .fa-chevron-left {
            @media (min-width: $small) {
                margin-right: .8rem;
            }
        }

        &--right .fa-chevron-right {
            @media (min-width: $small) {
                margin-left: .8rem;
            }
        }

        &--center {
            padding: 0.4rem 1rem;
            background-color: white;
        }

        &[disabled] {
            color: lighten($slate, 10%);
            border-color: lighten($grey-4, 10%);
            background-color: transparent;
            pointer-events: none;
        }

        &:hover {
            color: darken($slate, 10%);
            border-color: darken($grey-4, 10%);
        }
    }
}
