.assessment {

    &-header {
        background-color: #f5f5f5;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-progress {
          margin: 0;
          margin-top: 2rem;
          flex: 1 1 50rem;
          max-width: 50rem;
          
          .progress-bar {
            background-color: $green !important;
          }
        }
    }

    &-body {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
    }

    &-menu {
        display: none;
        background-color: $grey-1;
        border-right: 1px solid $grey-4;
        flex: 0 0 275px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2;

        @media (min-width: $small) {
            display: block;
        }
    }
}
