.assessment-accordion-welcome {
    .panel-body {
        display: none;
    }
}
.panel {
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
    margin: 0;
    outline: none;

    &.active {
        .panel-heading .panel-title {
            background-color: $dark-grey;
            .accordion-toggle {
                color: $paper;
            }
            .toggle-questions:hover {
                color: darken($white, 10%);
            }
        }
    }
    &-group {
        margin: 0;
        height: 100%;
    }
    &-heading {
        padding: 0;
        border-radius: 0;
        pointer-events: none;
        .panel-title .accordion-toggle {
            color: $slate;
            outline: none;
            text-decoration: none;
            padding: 15px 10px;
            span {
                display: flex;
                align-items: center;
                flex-flow: row nowrap;
                margin: 0 1rem;
                span {
                    margin: 0;
                    &.assessment__menu-pill {
                        margin-right: 0.4rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    section {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                    .badge-container {
                        width: 75px;
                        margin: auto 15px auto auto;

                        .badge {

                            span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .section-header {
                display: inline-flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                width: 100%;
            }
            .section-name {
                align-items: flex-start;
                padding-right: 1rem;
                flex: 1 1 auto;
                line-height: 1.8rem;
                font-size: 1.4rem;

                i {
                    margin-left: .6rem;
                }
            }
            .section-badges {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                margin-top: 1rem;
                i.required {
                    font-size: 1rem;
                }
                span {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
        }
    }
    .toggle-questions {
        flex: 0 0 auto;
        width: 2rem;
        pointer-events: auto;
        padding: 0;
        margin-left: 0.6rem;
        margin-right: 1.5rem;
        border: 0;
        background: 0;
        text-align: center;
        &:hover {
            color: darken($slate, 10%);
        }
    }
}
.panel-group {
    .panel {
        div {
            .btn-group {
                label {
                    border: 2px solid #ccc;
                    outline: none;
                }
                .no {
                    margin-left: 3px;
                }
            }
            .panel-body {
                color: #777;
                border-right: 1px solid #ccc;
                .project-assessment {
                    ul {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        padding: 10px;
                        margin: 0;
                        li {
                            border: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
                .list-group {
                    margin: 0;
                    .list-group-item {
                        border-radius: 2px;
                        margin: 1rem 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        &:hover {
                            border-color: $slate;
                        }
                        span {
                            white-space: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .menu-question-actions {
                            width: 50px;
                            min-width: 50px;
                            text-align: right;
                        }
                    }
                }
                button {
                    border: 2px solid #ccc;
                    outline: none;
                }
            }
        }
    }
}
// Menu Questions
.menu-question-actions {
    .action {
        margin: 0;
        padding: 0;
        color: $slate;
        outline: none;
        &.user {
            margin-left: 7px;
        }
        &:hover {
            border: none;
            border-radius: 0;
            color: darken($slate, 10%);
        }
    }
}

.assessment {

    &__menu {

        &-pill {
            margin-right: 0.4rem;
            display: inline-block;
            background-color: $grey-4;
            height: 20px;
            color: $white;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border-radius: 10px;
            &--risk {
                &-low {
                    background-color: $cyan;
                }
                &-medium {
                    background-color: $light-orange;
                }
                &-high {
                    background-color: $light-red;
                }
                &-very-high {
                    background-color: $dark-red;
                }
            }
            &--accepted {
                background-color: $green;
            }
            &--info {
                background-color: $light-orange;
            }
            &--added-info {
                background-color: $cyan;
            }
            &--unanswered-required {
                background-color: $light-red;
            }
            .value,
            i {
                margin: 0 0.2rem;
            }
            .single-value {
                margin: 0 0.4rem;
            }
        }
    }

    &__phase {

        &-header {
            width: 100%;
            border: 0;
            border-bottom: 1px solid $grey-3;
            background: 0;
            color: $slate;
            min-height: 3.6rem;
            padding: 0.6rem 3.4rem 0.6rem 1rem;
            font-size: 1.3rem;
            outline: none;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: bold;
            position: relative;

            &-lock {
                margin-left: .6rem;
            }

            &-caret {
                position: absolute;
                right: 1.4rem;
                top: 50%;
                transform: translateY(-50%);
            }

            &--analysis.active {
                background-color: $slate;
                color: $white;

                .beta-tag {
                    color: $grey-3;
                    border-color: $grey-3;
                }
            }
        }
    }
}
