.pia-question {
    width: 100%;
    padding: 2.5rem;
    border-bottom: 1px solid $grey-1;

    @media (min-width: $small) {
        padding: 4rem;
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;

        @media (min-width: $small) {
            flex-flow: column nowrap;
            width: 60rem;
        }
    }

    .tags {
        margin: 1rem 4rem;

        @media (min-width: $small) {
            margin: 1rem 7rem;
        }
    }
    .question-body {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;

        @media (min-width: $small) {
            flex-flow: row nowrap;
        }
        .section {
            &__detail {
                min-width: 75%;
            }
        }
    }

    &__tag {
        display: inline-block;
        &--required {
            color: $light-red;
        }
        &--need-info {
            color: darken($light-orange, 20%);
        }
        &--info-added {
            color: darken($cyan, 20%);
        }
    }
    // Start Deleting when Feature Toggle removed: AssessmentPermissionsRefactoring
    &__number {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 1rem;
        min-height: 4.2rem;
        margin: 0;
        align-self: flex-start;
        max-width: 10%;
        border-radius: 0;
        background-color: $number-grey;
        color: $white;

        @media (min-width: $small) {
            min-width: 4rem;
            max-width: 100%;
        }

        &.needs-review {
            background-color: $light-orange;
        }

        h4 {
            font-weight: bold;
            margin: 0.6rem 0;
            font-size: 1.6rem;

            @media (min-width: $small) {
                margin: 1rem 0;
                font-size: 18px;
            }
        }

        i {
            margin-left: .4rem;

            &.fa-quote-right {
                margin: 0;
            }
        }
    }
    &__action {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin: 1rem 0;
        &--option {
            color: $slate;
            border: 0;
            padding: 0;
            margin: 0 2rem 0 0;
            background: 0;
            outline: 0;

            &:hover {
                color: darken($slate, 10%);
            }

            .fa-stack {
                width: 1.8rem;
                height: 2.8rem;
                margin-right: 0.4rem;
                margin-bottom: 0.2rem;
            }

            i {
                font-size: 1.25em;
            }
        }
        p {
            span {
                i {
                    margin: 0 0.6rem 0 0;
                    &.edit {
                        margin: 0 0 0 6px;
                    }
                    &.user {
                        margin: 4px 2px 0 -9px;
                    }
                }
            }
        }
    }
    &__states {
        border: 1px solid $grey-3;
        border-radius: 2px;
        margin-left: 4rem;
        max-width: 20rem;
        @media(min-width: $small) {
            margin-left: 0;
        }
        i {
            margin-right: 0.6rem;
        }
        button {
            border: none;
            border-bottom: 1px solid $grey-3;
            border-radius: 0;
            box-shadow: none;
            margin: 0;
            text-align: left;
            height: 3.6rem;
            padding: 0 1.6rem;
            color: $slate;
            background-color: $white;
            width: 100%;
            display: block;
            position: relative;
            white-space: nowrap;
            &:focus:not(.btn-success):not(.btn-warning):not(.btn-info):not([disabled]),
            &:hover:not(.btn-success):not(.btn-warning):not(.btn-info):not([disabled]) {
                background-color: inherit;
                color: darken($slate, 10%);
            }
            &:last-child {
                border-bottom: 0;
            }
            &.focus {
                outline: none;
            }
            &[disabled] {
                background-color: $grey-1;
                color: $slate;
            }
            &.btn-primary {
                color: $white;
                background-color: $ui-blue;

                &[disabled] {
                    opacity: .6;
                    border-bottom: 0;
                }
            }
            &.btn-success {
                color: $white;
                background-color: $green;

                &[disabled] {
                    opacity: .6;
                    border-bottom: 0;
                }
            }
            &.btn-warning {
                color: $white;
                background-color: $light-orange;

                &[disabled] {
                    opacity: .6;
                    border-bottom: 0;
                }
            }
            &.btn-info {
                color: $white;
                background-color: $cyan;

                &[disabled] {
                    opacity: .6;
                    border-bottom: 0;
                }
            }
        }

        &-tooltip {
            pointer-events: all;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .split-buttons {
            #split-button {
                width: 130px;
            }
            #dropdown-button {
                width: 20px;
            }
        }
        .low-risk-icon {
            color: $cyan;
        }

        .medium-risk-icon {
            color: $light-orange;
        }

        .high-risk-icon {
            color: $light-red;
        }

        .very-high-risk-icon {
            color: $dark-red;
        }
    }
    // Stop deleting for Feature Toggle: AssessmentPermissionsRefactoring

    .question-change {
        flex: 0 0 20rem;
        position: relative;
        align-self: baseline;
    }

    &__note {
        display: inline-flex;
        flex-flow: row nowrap;
        margin-bottom: 3rem;
        border: 1px solid $slate;

        &-icon {
            color: $white;

            &-container {
                padding: 0 1.2rem;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                background-color: $slate;
            }
        }

        &-text {
            margin: 0;
            padding: 0.6rem 1.4rem 0.6rem 1rem;
        }

        &.needs-attention {
            background-color: $white;
            border: 1px solid $light-orange;

            .pia-question__note-icon-container  {
                background-color: $light-orange;
            }
        }
    }
}
.assessment-questions {
    flex: 1 1 auto;
    min-width: 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: $paper;

    .questions-container {
        flex: 1 1 auto;
        min-height: 1px;
        overflow-y: auto;
        height: 100%;
        display: inline-block;

        .ql-editor {
            overflow-y: initial;
        }

        .one-slide {
          color: $slate;
          min-width: 55rem;

          .hide-slide-left {
            animation: hideFromLeft 350ms linear;
          }

          .show-slide-left {
            animation: showFromLeft 350ms linear;
          }

          .hide-slide-right {
            animation: hideFromRight 350ms linear;
          }

          .show-slide-right {
            animation: showFromRight 350ms linear;
          }
        }
    }
    // Welcome Modal styles
    .tabsdemoDynamicTabs {
        height: 100%;
    }
    .studio-text {
        .studio-message {
            text-align: center;
            margin: 0 auto;
            width: 50%;
            font-size: 3rem;
            color: #ccc;
            height: 100%;
            position: relative;
            right: 0;
            top: 100px;
        }
    }
    footer {
        .comment-footer {
            position: fixed;
            bottom: 50px;
            right: 10px;
            button {
                background-color: $paper;
                border: 1px solid #ccc;
                border-bottom: none;
                color: #777;
                padding: 0;
                margin: 0;
                h4 {
                    padding: 0;
                    outline: none;
                    margin: 0 10px;
                    span {
                        margin: -1px -2px 0 0;
                    }
                }
            }
        }
    }
}
