.section {

    &__container {
        color: $dark-grey;
        background-color: $white;
        margin: 0 auto;
        width: 100%;
    }

    &__panel {
        border-bottom: 1px solid $grey-3;
    }

    &__detail {
        padding: 0 0 0 1.4rem;
    	max-width: 88%;
    	flex: 1 1 88%;

    	@media (min-width: $small) {
    		padding-left: 3rem;
    		max-width: 100%;
    		flex: 1 1 100%;
    	}
    }
}
