<ot-page-header [title]="navigationTitle">
    <ot-breadcrumb
        *ngIf="breadcrumbTitle"
        (routeClicked)="navigate($event.path)"
    >
        <ot-breadcrumb-item
            [link]="navigationUrl"
            [label]="navigationTitle"
        ></ot-breadcrumb-item>
        <ot-breadcrumb-item
            *ngIf="breadcrumbTitle"
            [label]="breadcrumbTitle"
        ></ot-breadcrumb-item>
    </ot-breadcrumb>
</ot-page-header>