.add-vendors-list-modal {
    input.one-input {
        display: block;
        margin-top: 1em;
        width: 100%;
    }
}
.tbl-vendor-details {
    tr > td:first {
        padding-right: 0.7rem;
    }
    tr.is-selected > td {
        background: $active-blue;
    }
}
.versions__table {
    .websites__table-cell {
        border: none;
    }
}

.scrollbar-vendorlist {
    position: absolute;
    top: 12.1rem;
    bottom: 0;
    display: flex;
    width: calc(100% - #{$totalSidebarWidth});
}

.vendor-sidebar {
    min-width: 29rem;
    max-width: 29rem;
    .side-drawer__icon {
        transform: rotate(180deg);
    }
}
.vendor-version-pane {
    top: 30%;
    .version-filter {
        height: calc(100% - 10rem);
    }
    .no-filters-section {
        display: table;
        .msg-container {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.whitelist-nav-header {
    min-height: 5.1rem;
}
