<div class="inventory-related-table flex-full-height background-white margin-bottom-1 shadow">
    <nav
        class="whitelist-nav-header padding-left-right-2 background-grey border-bottom row-vertical-center row-space-between"
        [ngClass]="{'background-grey background-active': !disableVendorBtn}"
        *ngIf="isExpanded && isReady && canWhiteListVendors"
    >
        <div class="one-nav-header__title">
            <div class="margin-bottom-0 text-thin row-vertical-center">
                <span class="heading4 padding-right-1">{{ 'ActiveVendors' | otTranslate }}</span>
            </div>
        </div>
        <div class="one-nav-header__actions" *ngIf="!disableVendorBtn">
            <div class="row-vertical-center">
                <span class="color-accent-blue text-bold column-nowrap text-center">{{ countSelectedVendors }} {{ 'Selected' | otTranslate }}</span>
                <section>
                    <div class="action-icons row-horizontal-center">
                        <span
                            ot-auto-id="UpdateWhitelistVendors"
                            class="action-icons__button action-icons__button--rounded margin-left-2 border-round text-center"
                            role="button"
                            tabindex="0"
                            aria-disabled="false"
                            [otTooltip]="whitelistVendorText"
                            *ngIf="showWhiteListBtn"
                            (click)="updateWhitelistVendors(false)">
                            <span class="fa-stack text-center">
                                <i class="action-icons__icon ot ot-whitelist"></i>
                            </span>
                        </span>
                        <span
                            ot-auto-id="ShowUnWhitelistVendors"
                            class="action-icons__button action-icons__button--rounded margin-left-2 border-round text-center"
                            role="button"
                            tabindex="0"
                            aria-disabled="false"
                            [otTooltip]="disableWhitelistVendorText"
                            *ngIf="showUnWhiteListBtn"
                            (click)="updateWhitelistVendors(true)">
                            <span class="fa-stack text-center">
                                <i class="action-icons__icon ot ot-whitelist-remove"></i>
                            </span>
                        </span>
                    </div>
                </section>
                <div class="padding-top-bottom-1 padding-left-2 margin-left-2 border-left">
                    <div class="action-icons row-horizontal-center">
                        <span
                            ot-auto-id="DeselectWhitelistVendors"
                            class="action-icons__button action-icons__button--rounded border-round text-center"
                            role="button"
                            tabindex="0"
                            aria-disabled="false"
                            (click)="deselectWhiteListVendors()">
                            <span class="fa-stack text-center">
                                <i class="action-icons__icon ot ot-close"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="inventory-related-table__header-wrapper margin-bottom-auto border-top flex-full-height">
        <header class="inventory-related-table__header padding-left-right-1 row-vertical-center row-space-between border-bottom">
            <h4 *ngIf="!canWhiteListVendors || !isExpanded">{{vendor.name}}</h4>
            <div
                *ngIf="isExpanded && isReady"
                class="
                    margin-left-auto
                    padding-top-bottom-1
                    padding-left-right-1"
            >
                <ot-search-input
                    ot-auto-id="VendorSearchInput"
                    [placeholder]="'VendorSearch' | otTranslate"
                    [searchOnEnter]="true"
                    [model]="vendorSearchText"
                    (search)="searchVendors($event)"
                ></ot-search-input>
            </div>
            <span class="fa-stack text-center padding-right-1">
                <i
                    ot-auto-id="RefreshVendors"
                    *ngIf="isExpanded && isReady && refreshVendors"
                    class="action-icons__icon ot ot-refresh"
                    role="button"
                    tabindex="0"
                    (click)="refreshVendorsList()"
                ></i>
            </span>
            <span class="fa-stack text-center padding-right-1 margin-right-1">
                <i
                    ot-auto-id="toggleSideBar"
                    *ngIf="isExpanded && isReady"
                    class="action-icons__icon fa ot-filter"
                    [ngClass]="{'color-white background-blue padding-all-1 border-round': isFilterActive}"
                    (click)="toggleSideBar()"
                    role="button"
                    tabindex="0"
                ></i>
            </span>
            <button
                otButton
                neutral
                ot-auto-id="ManageVendorState"
                [disabled]="disableVendorBtn"
                [innerText]="vendorBtnText"
                (click)="manageActiveOrInactiveVendors()"
                >
            </button>
        </header>
    </div>
    <div class="flex-full-height">
        <div otDrawerContainer>
            <ot-drawer
                class="vendor-version-pane z-index-999 position-fixed vendor-sidebar slds-p-around--medium flex-full-height"
                [open]="isSideBarExpanded"
                [closeButtonText]="'Close' | otTranslate"
                (closeClick)="isSideBarExpanded = !isSideBarExpanded"
            >
                <div class="flex version-filter flex-column nowrap">
                    <div>
                        <div otFormElement
                            class="padding-all-1 flex-full-height column-nowrap min-width-1 one-label-content"
                            [label]="'AddFilter' | otTranslate"
                        >
                            <ot-picklist
                                ot-auto-id="TemplateOptionSettingsInventoryQuestionSelect"
                                class="column-nowrap full-size"
                                [placeholder]="'SelectPurposeOrFeature' | otTranslate"
                                [autoClose]="true"
                                [options]="filterData"
                                [disabled]="!filterData.length"
                                [valueKey]="'name'"
                                [labelKey]="'name'"
                                [model]="iabFilterOption"
                                (onSelect)="onFilterOptionChange($event)">
                            </ot-picklist>
                        </div>
                        <div otFormElement
                            class="padding-all-1"
                            [label]="'EqualTo' | otTranslate"
                        >
                            <ot-lookup
                                ot-auto-id="FilterDataOptions"
                                [placeholder]="'SelectValues' | otTranslate"
                                [autoClose]="true"
                                [multiSelect]="true"
                                [options]="filterValues"
                                [valueKey]="'id'"
                                [disabled]="!iabFilterOption || !filterValues.length"
                                [labelKey]="'value'"
                                [model]="selectedFilterOption"
                                (modelChange)="onFilterValueChange($event)">
                            </ot-lookup>
                        </div>
                        <div otFormElement
                            class="margin-bottom-1 padding-all-1"
                        >
                        <button otButton brand
                            ot-auto-id="AddFilter"
                            class="'margin-right-1 pull-right padding-left-right-3'"
                            (click)="addData()"
                            [disabled]="!selectedFilterOption.length"
                        >  {{'Add' | otTranslate}}
                        </button>
                        </div>
                    </div>
                    <section class="padding-all-1">
                        <div class="row-flex-end margin-top-bottom-1">
                            <span
                                class="text-bold text-link"
                                (click)="clearAllFilters()"
                                *ngIf="filterKeys && filterKeys.length"
                                role="button"
                                tabindex="0"
                            >   {{'ClearFilters' | otTranslate}}
                            </span>
                        </div>
                    </section>
                    <section class="height-100 overflow-y-auto padding-all-1">
                        <ul *ngIf="filterKeys && filterKeys.length">
                            <li
                                *ngFor="let filter of filterKeys; index as i; trackBy: trackByFilterIndex"
                                class="margin-bottom-1">
                                <div class="row-vertical-center border padding-all-1 background-white border-radius-2">
                                    <span class="stretch-horizontal column-nowrap" role="button" tabindex="0">
                                        <span class="text-bold"> {{ filter }} </span>
                                        <span class="text-italic"> {{ 'EqualToAnyOfTheseValues'  | otTranslate }} </span>
                                        <span
                                            *ngFor="let value of selectedFilterValues[i]; trackBy: trackByFilterIndex">
                                            {{ value }}
                                        </span>
                                    </span>
                                    <i
                                        class="ot ot-close static-horizontal"
                                        ot-auto-id="RemoveFilter"
                                        (click)="removeFilter(filter)"
                                        role="button"
                                        tabindex="0">
                                    </i>
                                </div>
                            </li>
                        </ul>
                        <div
                            *ngIf="!(filterKeys && filterKeys.length)"
                            class="position-relative height-100 full-width no-filters-section">
                            <div class="margin-auto text-center text-uppercase text-medium msg-container">
                                {{'NoFilters' | otTranslate}}
                            </div>
                        </div>
                    </section>
                    <footer
                        class="border-top static-vertical padding-top-1 align-center row-flex-end"
                    >
                        <button otButton brand
                            ot-auto-id="ActiveAndInactiveVendorsApplyButton"
                            (click)="applyFilters()"
                            >{{"Apply" | otTranslate}}
                        </button>
                    </footer>
                </div>
            </ot-drawer>
        </div>
    </div>
    <div class="position-relative max-width-full flex-full-height">
        <div class="overflow-x-auto"
            [ngClass]="{ 'position-relative' : isExpanded }"
            >
            <table
                *ngIf="isReady"
                otDataTable
                [rowData]="vendor.rows"
                [rowBordered]="true"
                >
                <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index;">
                    <ot-data-table-column
                        [headerLabel]="col.columnHeader"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            [thStyle]="{'padding': '0 1rem'}"
                            >
                            <span
                                *ngIf="col.selectable"
                                [ngClass]="{'block text-center' : columnIndex !== 0}"
                                class="text-bold"
                                >
                                <upgraded-one-checkbox
                                    [isSelected]="selectAll"
                                    (toggle)="selectAllVendors()"
                                    >
                                </upgraded-one-checkbox>
                            </span>
                            <span
                                *ngIf="!col.selectable"
                                [ngClass]="{'block text-center' : columnIndex !== 0}"
                                class="text-bold"
                            >
                                {{col.columnHeader}}
                            </span>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row"
                            [tdClass]="'max-25'">
                            <ng-container *ngIf="col.selectable">
                                <upgraded-one-checkbox
                                    [isSelected]="row.selected"
                                    (toggle)="row.selected = !row.selected; changeVendorBtnState()"
                                    >
                                </upgraded-one-checkbox>
                            </ng-container>
                            <ng-container *ngIf="canWhiteListVendors && row.whiteListed && columnIndex ===  1">
                                <div class="text-center color-green">
                                    <i class="ot ot-whitelist"></i>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!col.selectable">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                    title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                    >
                                    {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}
                                </div>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'">
                            <div></div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            [tdClass]="'float-col background-transparent'"
                            [tdStyle]="{'background': 'transparent'}"
                            let-row="row"
                            >
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
            <div
                *ngIf="!isReady"
                class="inventory-related-table__loading flex-full-height justify-center"
                >
                <upgraded-loading></upgraded-loading>
            </div>
            <div
                *ngIf="isReady && !vendor.rows.length"
                class="inventory-related-table__loading flex-full-height text-center justify-center"
                >
                {{"NoRecordsFound" | otTranslate}}
            </div>
        </div>
    </div>
    <div
        class="margin-top-auto"
        [ngClass]="{ 'border-top': isExpanded || !isReady }"
        >
        <footer class="padding-all-1 row-nowrap">
            <upgraded-one-pagination
                *ngIf="isExpanded && isReady && vendor.rows.length"
                paginationClass="margin-right-auto"
                [list]="vendor"
                (onPageChange)="pageChange($event.page)"
                >
            </upgraded-one-pagination>
            <button
                otButton
                neutral
                *ngIf="vendor.totalElements > config.defaultSize"
                class="margin-left-auto"
                ot-auto-id="RelatedInventoryTableExpand"
                [disabled]="!isReady"
                [innerText]="isExpanded ? ('ViewLess' | otTranslate) : ('ViewMore' | otTranslate)"
                (click)="toggleExpanded()"
                >
            </button>
        </footer>

    </div>
</div>
