<nav class="navbar navbar-default">
    <div class="container-fluid">
        <header class="navbar-header">
            <ol class="breadcrumb">
                <li>{{"VendorsList" | otTranslate}}</li>
            </ol>
        </header>
        <upgraded-one-button
            isRounded="true"
            type="primary"
            [attr.ot-auto-id]="'CookiesAddVendorsList'"
            [text]="'AddNew' | otTranslate"
            [buttonClass]="'margin-right-1'"
            (buttonClick)="addVendorsList()"
        >
        </upgraded-one-button>
    </div>
</nav>
<div class="full-height-minus-5 overflow-y-auto stretch-vertical">
    <div class="margin-2 background-white">
        <div class="position-relative">
            <div
                class="overflow-x-auto"
                >
                <table
                    *ngIf="isReady"
                    otDataTable
                    [rowData]="data.content"
                    [rowBordered]="true"
                    >
                    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index;">
                        <ot-data-table-column
                            [headerLabel]="col.columnHeader"
                            [column]="col"
                            >
                            <ng-template
                                otDataTableHeader
                                [thStyle]="{'padding': '0 1rem'}"
                                >
                                <span
                                    [ngClass]="{'block text-center' : columnIndex !== 0}"
                                    class="text-bold"
                                    >
                                    {{col.columnHeader}}
                                </span>
                            </ng-template>
                            <ng-template otDataTableCell let-row="row">
                                <ng-container *ngIf="col.clickable">
                                    <div
                                        class="slds-truncate"
                                        [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                        title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                        >
                                        <a
                                            class="slds-truncate block text-pointer text-link text-bold text-left"
                                            title="{{row[col.dataValueKey]}}"
                                            (click)="goTo(row.ListId, row.ListName)"
                                        >
                                            {{row[col.dataValueKey]}}
                                        </a>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!col.clickable">
                                    <div
                                        class="slds-truncate"
                                        [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                        title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                        >
                                        {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}

                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        </ng-template>
                        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        </ng-template>
                    </ot-data-table-column>
                    <ng-container>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thClass]="'float-col'">
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                [tdClass]="'float-col background-transparent'"
                                [tdStyle]="{'background': 'transparent'}"
                                let-row="row"
                                >
                                <upgraded-one-dropdown
                                    *ngIf="!row.inbound"
                                    class="inventory-table-new__context-button pull-right"
                                    [icon]="'ot ot-ellipsis-h'"
                                    [hideCaret]="true"
                                    [alignRight]="true"
                                    [getOptions]="getEllipsisOptions(row)"
                                    [buttonClass]="'actions-table__context-btn'"
                                    [listClass]="menuClass"
                                    >
                                </upgraded-one-dropdown>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </table>
                <div
                    *ngIf="!isReady"
                    class="inventory-related-table__loading flex-full-height justify-center"
                    >
                    <upgraded-loading></upgraded-loading>
                </div>
                <div
                    *ngIf="isReady && (!data.content || !data.content.length)"
                    class="inventory-related-table__loading flex-full-height text-center justify-center"
                    >
                    {{"NoRecordsFound" | otTranslate}}
                </div>
            </div>
        </div>
        <div class="margin-top-auto">
            <footer class="padding-all-1 row-nowrap">
                <upgraded-one-pagination
                    *ngIf="isReady"
                    paginationClass="margin-right-auto"
                    [list]="data"
                    (onPageChange)="getPage($event.page)"
                    >
                </upgraded-one-pagination>
            </footer>
        </div>
    </div>
</div>