<upgraded-one-nav-header
    class="cr-header full-width"
    [breadcrumbRoute]="breadCrumb.stateName"
    [breadcrumbText]="breadCrumb.text"
    [body]="stateService.params.listName"
    [title]="'VendorDetails' | otTranslate">
</upgraded-one-nav-header>
<div *ngIf="isLoading" class="inventory-related-table__loading flex-full-height justify-center">
    <upgraded-loading></upgraded-loading>
</div>
<div *ngIf="!isLoading">
    <cc-iab-vendor-table
        *ngIf="showActiveVendorsEle"
        [ngClass] = "{'scrollbar-vendorlist': showActiveVendorsEle && !showInactiveVendorsEle && hasMinActiveVendors}"
        [vendorlist]="activeVendorsInfo"
        [vendorBtnText]="'Deactivate' | otTranslate"
        [isExpanded]="isActiveListExpanded"
        [filterMetaData]="filterMetaData"
        [selectedFiltersList]="filterData"
        [vendorSearchText]="activeSearchText"
        [canWhiteListVendors]="true"
        [refreshVendors]="true"
        [versionId]="stateService.params.listId"
        [isFilterActive]="isFilterActive"
        (manageVendor)="activateOrDeactivateVendors($event)"
        (onChangePage)="onActivePageChange($event)"
        (onTableExpanded)="hideInactiveVendors($event)"
        (onFilterApply)="getVendorDetails(0, 0, 20, 20, null, null, $event)"
        (onSearch)="getVendorDetails(0, currentInActivePage, 20, 20, $event)"
        (onWhiteListVendors)="updateWhiteListingVendors($event)"
        >
    </cc-iab-vendor-table>
    <cc-iab-vendor-table
        *ngIf="showInactiveVendorsEle"
        [ngClass] = "{'scrollbar-vendorlist': !showActiveVendorsEle && showInactiveVendorsEle && hasMinInActiveVendors}"
        [vendorlist]="inActiveVendorsInfo"
        [isExpanded]="isInactiveListExpanded"
        [filterMetaData]="filterMetaData"
        [selectedFiltersList]="filterData"
        [vendorSearchText]="inactiveSearchText"
        [canWhiteListVendors]="false"
        [refreshVendors]="false"
        [isFilterActive]="isFilterActive"
        [vendorBtnText]="'Activate' | otTranslate"
        (manageVendor)="activateOrDeactivateVendors($event)"
        (onChangePage)="onInactivePageChange($event)"
        (onTableExpanded)="hideActiveVendors($event)"
        (onFilterApply)="getVendorDetails(0, 0, 20, 20, null, null, $event)"
        (onSearch)="getVendorDetails(currentActivePage, 0, 20, 20, '', $event)"
        >
    </cc-iab-vendor-table>
</div>