.cc-preference-center-consent-settings {
    &__table-border {
        border-bottom: 1px solid;
    }

    &__select {
        height: 3.8rem;
    }

    &__divider {
        border-top: 1px solid;
    }
    .enable-logging {
        border-top: 1px solid;
        abbr[title] {
            border-bottom: none;
        }
    }
}