<div class="form-group cc-preference-center-edit-details">
    <div class="margin-bottom-1" [innerText]="'IABText' | otTranslate"></div>
    <div class="cc-accordion-navigation__item-content-section align-left full-width">
        <div class="slds-form-element">
            <label class="slds-checkbox_toggle slds-grid">
                <span class="form-element-label-override slds-m-bottom_none width-100-percent"
                    [innerText]="'AllowVendorConsent' | otTranslate"
                >
                </span>
                <input type="checkbox"
                ot-auto-id="VendorLevelOptOutId"
                    name="allowVendorConsent"
                    aria-describedby="toggle-desc"
                    value="on"
                    [ngModel]="preferenceCenterContent.vendorLevelOptOut"
                    (click)="onToggleAllowVendorConsent()"
                />
                <span id="toggle-desc"
                    class="slds-checkbox_faux_container"
                    aria-live="assertive">
                    <span
                        class="slds-checkbox_faux"
                        [ngClass]="{
                            'cc-banner-preview-panel__toggle-off': !preferenceCenterContent.vendorLevelOptOut,
                            'cc-banner-preview-panel__toggle-on': preferenceCenterContent.vendorLevelOptOut
                        }"
                    >
                    </span>
                </span>
            </label>
        </div>
    </div>
    <div *ngIf=isExpanded>
        <form name="createTemplateForm">
            <div class="cc-accordion-navigation__item-content-section">
                <div
                    otFormElement
                    class="padding-top-1 text-bold"
                    [label]="'ViewVendorConsentButton' | otTranslate">
                    <input
                        otInput
                        ot-auto-id="ViewVendorConsentId"
                        name="viewVendorConsent"
                        type="text"
                        class="cc-accordion-navigation__item-content-input one-input"
                        [placeholder]="'EnterViewVendorConsentButtonText' | otTranslate"
                        [ngModel]="preferenceCenterContent.viewVendorConsent"
                    />
                </div>
            </div>
            <div class="cc-accordion-navigation__item-content-section">
                <div
                    otFormElement
                    class="padding-top-1 text-bold"
                    [label]="'IABVendors' | otTranslate">
                    <input
                        otInput
                        ot-auto-id="IabVendorsLinkId"
                        name="textIabVendorText"
                        type="text"
                        class="cc-accordion-navigation__item-content-input one-input"
                        [placeholder]="'PleaseEnterIABVendors' | otTranslate"
                        [ngModel]="preferenceCenterContent.iABVendorsLink"
                    />
                </div>
            </div>
            <div class="cc-accordion-navigation__item-content-section">
                <div
                    otFormElement
                    class="padding-top-1 text-bold"
                    [label]="'BackButton' | otTranslate">
                    <input
                        otInput
                        ot-auto-id="PrefCenterPreviewBackButtonId"
                        name="textBackButton"
                        type="text"
                        class="cc-accordion-navigation__item-content-input one-input"
                        [placeholder]="'PleaseEnterBackButton' | otTranslate"
                        [ngModel]="preferenceCenterContent.backButton"
                    />
                </div>
            </div>
        </form>
    </div>
</div>