<div class="flex-full-height position-relative">
    <section
        *ngIf="ready; else loading"
        class="flex-full-height overflow-auto"
        >
        <ot-drawer
            class="request-queue-sub-tasks__filter flex flex-column"
            [open]="isFilterOpen"
            [closeButtonText]="'Close' | otTranslate"
            (closeClick)="toggleFilterPane()"
            >
            <request-queue-sub-tasks-filter
                class="flex-full-height"
                [filtersOpen]="isFilterOpen"
                [currentFilters]="currentFilters"
                (applyFilters)="applyFilters($event)"
                (cancel)="toggleFilterPane()"
            ></request-queue-sub-tasks-filter>
        </ot-drawer>
        <dsar-request-queue-sub-tasks-table
            *ngIf="subTasksList?.content?.length"
            class="position-relative flex-full-height overflow-y-auto"
            [rows]="subTasksListToFilter.content"
            [sortKey]="sortKey"
            [sortOrder]="sortOrder"
            [columnsMap]="columns"
            (handleTableActions)="handleTableAction($event)"
        ></dsar-request-queue-sub-tasks-table>
        <one-empty-state
            class="flex-full-height justify-center"
            *ngIf="!subTasksList?.content?.length"
            [emptyStateMessage]="'NoItemsToDisplay' | otTranslate"
        ></one-empty-state>
    </section>
    <ng-template #loading>
        <ot-loading otPageLoading
            class="align-self-center absolute-center"
            >
            {{ loadingPrefix + ' ' + ('SubTasks' | otTranslate) }}
        </ot-loading>
    </ng-template>
</div>
<footer
    otPaginationFooter
    *ngIf="subTasksList?.totalPages > 1"
    >
    <ot-pagination
        [currentPage]="params.page"
        [numPages]="subTasksList.totalPages"
        [handleOffset]="true"
        (pageChanged)="handleAction(requestQueueActions.CHANGE_PAGE, $event)"
    ></ot-pagination>
    <span *ngIf="ready">
        {{ subTasksList | otPageMeta }}
    </span>
</footer>
