<ng-container *ngFor="let meta of settingMeta; trackBy: trackByFn; let index = index">
    <ng-container [ngSwitch]="meta.type">
        <div
            otFormElement
            *ngSwitchCase="settingsType.NUMBER"
            [class]="meta.class"
            [label]="meta.title | otTranslate"
        >
            <input otInput
                type="number"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [max]="meta.maxValue"
                [min]="meta.minValue"
                [(ngModel)]="settings[meta.actionType]"
                [step]="meta.stepValue"
                (change)="handleAction($event, meta.actionType, meta.minValue, meta.maxValue)"
                (keyup)="handleAction($event, meta.actionType, meta.minValue, meta.maxValue)"
            />
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.INPUT"
            [label]="meta.title | otTranslate"
            [class]="meta.class"
            [hasError]="!meta.value && meta.dirty"
            [required]="meta.required"
        >
            <input otInput
                [maxlength]="meta.maxLength"
                [placeholder]="meta.placeholder"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [(ngModel)]="meta.value"
                (keyup)="handleAction($event, meta.actionType)"
            />
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.ORGANIZATION"
            [class]="meta.class"
            [label]="meta.title | otTranslate"
            [required]="meta.required"
        >
            <org-select
                class="width-40-percent position-relative"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [hideClearAction]="meta.hideClearAction"
                [model]="settings[meta.actionType]"
                [required]="meta.orgRequired"
                (onSelect)="handleAction($event, meta.actionType)"
            >
            </org-select>
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.APPROVER"
            [class]="meta.class"
            [label]="meta.title | otTranslate"
        >
            <ot-org-user
                class="width-40-percent"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [fetchOptionsOnClick]="true"
                [model]="settings[meta.actionType]?.Id"
                [orgId]="meta.orgUserOrgId"
                [traversal]="meta.orgUserTraversal"
                [allowEmail]="meta.allowEmail"
                (onSelect)="handleAction($event, meta.actionType)"
            >
            </ot-org-user>
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.PICKLIST"
            [class]="meta.class"
            [label]="meta.title | otTranslate"
            [required]="meta.required"
        >
            <ot-picklist
                class="width-100-percent"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [autoClose]="true"
                [labelKey]="meta.labelKey"
                [model]="settings[meta.actionType]"
                [options]="meta.options"
                [valueKey]="meta.valueKey"
                (onSelect)="handleAction($event, meta.actionType)"
            ></ot-picklist>
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.TEXTAREA"
            [class]="meta?.class"
            [label]="meta?.title | otTranslate"
            [hasError]="meta?.hasError"
            [required]="meta.required"
        >
            <textarea
                otTextarea
                [ngModel]="settings[meta.actionType]"
                [attr.ot-auto-id]="meta?.autoId || 'Settings' + meta.title"
                [placeholder]="meta?.placeholder || ''"
                [attr.maxlength]="meta?.maxLength"
                (keyup)="handleAction($event, meta.actionType)"
            ></textarea>
        </div>
        <div
            otFormElement
            *ngSwitchCase="settingsType.LOOKUP"
            [class]="meta.class"
            [label]="meta.title | otTranslate"
            [required]="meta.required"
        >
            <ot-lookup
                [placeholder]="meta?.placeholder"
                [allowHint]="false"
                [autoClose]="true"
                [clearInputOnModelChange]="false"
                [labelKey]="meta?.labelKey"
                [valueKey]="meta?.valueKey"
                [attr.ot-auto-id]="'Settings' + meta.title"
                [model]="settings[meta.actionType]"
                [multiSelect]="false"
                [options]="meta.options
                    | lookup: (settings[meta.actionType] ? [settings[meta.actionType]] : []) :
                    fieldSearchTerm :  meta?.labelKey : meta?.labelKey"
                (modelChange)="handleAction($event, meta.actionType)"
                (inputChange)="fieldSearch($event)"
            ></ot-lookup>
        </div>
        <hr *ngIf="meta?.showDivider"/>
    </ng-container>
</ng-container>
