<ot-drawer
    class="height-100 row-nowrap"
    [ngClass]="{ 'width-75': showSubPane, 'width-35-rem': !showSubPane }"
    [open]="true"
>
    <div *ngIf="isLoading" class="width-35-rem">
        <ot-loading otPageLoading
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
    </div>
    <ng-container *ngIf="!isLoading">

        <aa-notes-drawer
            class="flex-full-height width-40-rem background-white"
            *ngIf="showSubPane"
            [assessmentId]="assessmentId"
            [comment]="selectedNote"
            [currentUserId]="currentUserId"
            [isEditMode]="isEditMode"
            (updateNote)="updateNote($event)"
            (resetNotesPaneEditMode)="isEditMode = false"
        ></aa-notes-drawer>

        <div class="width-35-rem border-left background-grey column-nowrap">
            <div class="padding-all-1 border-bottom">
                <div>
                    <i
                        class="ot ot-close text-medium cursor-pointer pull-right"
                        ot-auto-id="AANotesDrawerCloseButton"
                        (click)="hideSubPane()">
                    </i>
                </div>
                <div class="max-height-5 margin-top-bottom-2 text-bold">
                    {{"Notes" | otTranslate}}
                </div>
                <div class="max-height-5 row-space-between align-center">
                    <div class="flex-full-50">
                        <ot-picklist
                            *ngIf="notesPermissions.createAndEditNote || notesPermissions.assessmentCanBeApprover"
                            ot-auto-id="AssessmentCollaborationPaneAccessNotesFilter"
                            [autoClose]="true"
                            [options]="notesFilterOptions"
                            [valueKey]="'value'"
                            [labelKey]="'label'"
                            [model]="selectedFilterValue"
                            (onSelect)="selectNotesFilterOption($event)"
                        ></ot-picklist>
                    </div>
                    <div class="flex-full-50 align-center justify-end flex">
                        <button otButton brand
                            *ngIf="notesPermissions.createAndEditNote || notesPermissions.assessmentCanBeApprover"
                            class="align-center"
                            ot-auto-id="AssessmentCollaborationPaneAddNoteButton"
                            [disabled]="isReadOnly"
                            (click)="addNote()"
                            >
                            {{"AddNote" | otTranslate}}
                        </button>
                    </div>
                </div>
            </div>
            <div
                *ngIf="!isLoading && filteredCommentList?.length"
                class="overflow-y-auto ms-overflow-scroll height-100">
                <div
                    class="cursor-pointer border-bottom padding-all-1"
                    *ngFor="let comment of filteredCommentList; trackBy: trackByFn;"
                    [ngClass]="{'background-active' : selectedNote && selectedNote.id === comment.id}"
                    ot-auto-id="AssessmentCollaborationPaneDetails"
                    (click)="onNoteSelected(comment)"
                    >
                    <div class="text-small padding-all-1">
                        <div class="row-space-between align-center margin-bottom-half">
                            <div class="text-bold flex-full-40 overflow-ellipsis-nowrap">{{comment.commenter}}</div>
                            <span
                                [attr.title]="comment.createdDT | aaDate: 'dateTime'"
                                [innerText]="comment.createdDT | aaDate: 'dateTime'"
                                >
                            </span>
                        </div>
                        <div
                            class="assessment-collaboration-description word-wrap overflow-hidden height-4"
                            ot-auto-id="AssessmentCollaborationPaneViewNote"
                            [innerHTML]="comment.value"
                        ></div>
                    </div>
                </div>
            </div>
            <ot-empty-state
                *ngIf="!filteredCommentList?.length"
                class="full-size"
                [emptyStateMessage]="'NoResultsFound' | otTranslate"
                >
                <img  emptyStateImg />
            </ot-empty-state>
        </div>
    </ng-container>
</ot-drawer>
