#popup-notify.notify
    .notify-header
        span.notify-header--title(ng-if='$ctrl.Title', ng-bind-html='$ctrl.Title')
        button.notify-header--close(ng-if='$ctrl.ShowCloseButton', ng-click='$ctrl.close()')
            i.ot.ot-close
    .notify-body(ng-if='$ctrl.Content', ng-bind-html='$ctrl.Content')
    .notify-actions.margin-top-1
        one-button(
          identifier="notificationCancel",
          ng-if="::$ctrl.ShowCancel",
          type="{{::$ctrl.cancelType}}"
          button-click='$ctrl.cancel()',
          text="{{::($ctrl.CancelText || $root.t('Cancel'))}}",
          focus="($ctrl.DefaultAction === 'Cancel')"
        )
        one-button.margin-left-1(
          identifier="notificationOk",
          ng-if="::$ctrl.ShowOk",
          type="{{::$ctrl.okType}}"
          button-click="$ctrl.ok()",
          text="{{::($ctrl.ActionText || $root.t('Ok'))}}",
          focus="($ctrl.DefaultAction === 'Ok')"
        )
