<!-- Toaster Alerts -->
<div>
    <toaster-container toaster-options="{
    'close-button': true,
    'limit':2,
    'animation-class': 'toast-bottom-right',
    'position-class': 'toast-bottom-right',
    }"></toaster-container>
</div>
