<section class="full-size column-nowrap overflow-y-auto background-white overflow-x-auto">
    <ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
    <section *ngIf="!isLoading">
        <ot-page-header [title]="'Organizations' | otTranslate">
            <button otButton brand
                class="pull-right"
                ot-auto-id="UsersAndGroupsOrganizationAdd"
                [innerText]="'AddOrganization' | otTranslate"
                (click)="addOrg()"
            ></button>
        </ot-page-header>
        <div class="
                row-flex-end
                background-grey
                padding-right-2
                border-bottom
                height-5
                row-horizontal-vertical-center
            ">
            <ot-search-input
                ot-auto-id="UsersAndGroupsOrgSearch"
                [model]="searchModel"
                [placeholder]="'Search' | otTranslate"
                [searchOnEnter]="true"
                (search)="onSearch($event, organizations)"
            ></ot-search-input>
        </div>
    </section>
    <div *ngIf="!isLoading"
        class="margin-top-4
        column-nowrap
        overflow-auto
        width-auto
        margin-left-half">
        <div class="margin-left-right-3 margin-bottom-4"
            *ngFor="let dropzone of organizations; trackBy: trackByNode;"
            >
            <div class="margin-top-3">
                <org-tree-view
                    class="padding-bottom-1"
                    [list]="dropzone"
                    [model]="dropzone"
                    [draggable]="dragNode"
                    (droppedValue)="droppedValue($event)"
                    (draggedValue)="draggedValue($event)"
                    (editOrg)="updateOrganization($event)"
                    (addOrg)="addOrganization($event)"
                    (editModal)="editOrgModal($event)"
                    (deleteOrg)="deleteOrganization($event)"
                ></org-tree-view>
            </div>
        </div>
    </div>
    <div *ngIf="!organizations?.length && !isLoading"
        class="margin-top-3">
        <ot-empty-state>
            <img emptyStateImg />
            <button otButton brand
                class="margin-top-1"
                ot-auto-id="UsersAndGroupsOrganizationAdd"
                [innerText]="'AddOrganization' | otTranslate"
                (click)="addOrg()"
            ></button>
        </ot-empty-state>
    </div>
</section>
