.org-group {
    &__footer {
        .one-popup-footer {
            &__main {
                background-color: $paper;
                border-top: solid 1px $grey-2;
            }
        }
    }

    &__header {
        .one-nav-header {
            &__breadcrumb-header-bar {
                border-bottom: none;
            }
        }
    }

    &__list {
        padding: 0 0 0 0.7rem;

        &::before {
            position: relative;
            top: -0.3rem;
            height: 2rem;
            width: 4rem;
            color: $white;
            border-bottom: 1px solid $grey-2;
            content: "";
            display: inline-block;
            left: -0.7rem;
        }

        &:last-child {
            border-left: none;

            &::before {
                border-left: 1px solid $grey-2;
            }
        }

    }

    &__dndPlaceholder {
        margin-top: -2rem;
        margin-left: 3.5rem;
    }

    &__element {
        padding: 0.3rem 0.3rem;
    }

    &__node {
        margin-top: -1.5rem;

        &:active {
            background-color: $active-blue;
            border: 1px dashed $ui-blue;
        }

    }

}

.dndDragging:not(.dndDraggingSource).org-group__list {
    opacity: 0.01;
    border-left: none;
}

.dndDragging:not(.dndDraggingSource).org-group__list::before {
    visibility: hidden;
}

.dndDragging:not(.dndDraggingSource) {
    #orgchildList {
        visibility: hidden;
    }
}

.dndDragging:not(.dndDraggingSource) {
    #orgParentNode {
        width: 40%;
        padding-bottom: 1rem;
        padding-right: 3rem;
        height: auto;
    }
}
