<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<section class="background-paper full-size flex-full-height"
    *ngIf="!isLoading">
    <ot-page-header
        [title]="'OrganizationDetails' | otTranslate"
        (routeClicked)="goToRoute($event)"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                [label]="'Organizations' | otTranslate"
                [link]="'zen.app.pia.module.admin.organizations.list'"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item [label]="organization?.Name"></ot-breadcrumb-item>
        </ot-breadcrumb>
        <div>
            <button otButton destructive
                *ngIf="organization?.CanDelete"
                ot-auto-id="OrganizationDetailsDelete"
                [innerText]="'DeleteOrg' | otTranslate"
                [loading]="isLoading"
                (click)="deleteOrg()"
            ></button>
        </div>
    </ot-page-header>
    <section class="flex-full-height background-paper margin-bottom-3">
        <form
            name="OrgForm"
            class="stretch-vertical centered-max-50 margin-top-bottom-6"
            >
            <div
                otFormElement
                [label]="'OrganizationName' | otTranslate"
                [required]="true">
                <input otInput
                    ot-auto-id="UsersAndGroupsOrgDetailsOrgName"
                    [placeholder]="'EnterOrgName' | otTranslate"
                    [ngModel]="organization?.Name"
                    (ngModelChange)="saveOrgName($event)"
                    name="orgName"
                />
            </div>
            <div otFormElement>
                <div
                    otFormElement
                    class="flex margin-top-2"
                    [label]="'DefaultLanguage' | otTranslate"
                    [required]="true"
                    >
                    <i
                        class="ot ot-info-circle"
                        [otTooltip]="{ content: 'DefaultLanguageTooltip' | otTranslate, placement: 'top-start' }"
                    ></i>
                </div>
                <ot-picklist
                    ot-auto-id="UsersAndGroupsOrgDetailsLanguage"
                    [placeholder]="'SelectDefaultLanguage' | otTranslate"
                    [autoClose]="true"
                    [options]="languages"
                    [valueKey]="'Id'"
                    [labelKey]="'Name'"
                    [model]="selectedLanguage"
                    (onSelect)="selectLanguage($event)"
                ></ot-picklist>
                <p *ngIf="!selectedLanguage.Translated"
                    class="margin-top-1 text-small color-cherry"
                    [innerText]="'UnsupportedLanguageWarning' | otTranslate"
                ></p>
            </div>
            <div otFormElement
                class="margin-top-2"
                [required]="true"
                [label]="('DefaultApprover' | otTranslate) + ':'"
                >
            </div>
            <div otFormElement [required]="true">
                <ot-org-user
                    ot-auto-id="UsersAndGroupOrgDetailsOrgUserDropdown"
                    placeholder="SearchDefaultApprover"
                    [allowEmail]="false"
                    [model]="selectedUser?.Id"
                    [orgId]="paramsId"
                    [permissions]="['OrgGroupsPrivacyOfficer']"
                    [traversal]="orgUserTraversal.Up"
                    (onSelect)="selectUser($event)"
                ></ot-org-user>
                <label *ngIf="!selectedUser"
                    class="text-thin-2 text-small text-error margin-top-bottom-half"
                    [innerText]="'PleaseSelectFromTheDropdown' | otTranslate">
                </label>
            </div>
            <div class="alert alert-success margin-top-1-half margin-bottom-0">
                <span [innerText]="'ProjectAutoAssignedToPrivacyOfficer' | otTranslate: { OrganizationName: organization?.Name, PrivacyOfficer: selectedUser?.FullName }"></span>
            </div>
        </form>
    </section>
    <footer otPageFooter>
        <button otButton neutral
            class="margin-right-1-half border-none"
            ot-auto-id="UsersAndGroupsOrgDetailsCancelbtn"
            [innerText]="'Cancel' | otTranslate"
            (click)= "cancelEdit()"
        ></button>
        <button otButton brand
            ot-auto-id="UsersAndGroupsOrgDetailsSavebtn"
            [innerText]="'Save' | otTranslate"
            [loading]="isLoading"
            [disabled]="validationsForEditModal()"
            (click)="saveOrgGroup()"
        ></button>
    </footer>
</section>
