<one-modal-base
    [modalTitle]="modalData.modalTitle"
    [identifier]="'UsersAndGroupsOrganizationOrgClose'"
    (close)="closeModal()"
    >
    <ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
    <div *ngIf="!isLoading" class="padding-all-2">
        <form role="form" name="orgGroupCreateForm">
            <div otFormElement
                class="margin-top-1"
                [label]="'OrganizationName' | otTranslate"
                [required]="true"
                >
                <input otInput
                    name="orgName"
                    ot-auto-id="UsersAndGroupsOrganizationOrgName"
                    [placeholder]="'EnterOrgName' | otTranslate"
                    [ngModel]="orgName"
                    (ngModelChange)="setOrgName($event)"
                />
            </div>
            <div otFormElement
                *ngIf="!modalData.isEditOrg"
                class="margin-top-bottom-2"
                [label]="'ChildOf' | otTranslate"
                [required]="true">
                <p *ngIf="modalData.parentId"
                    class="margin-left-1"
                    [innerText]="organization.Name"
                ></p>
                <org-select *ngIf="!modalData.parentId"
                    [identifier]="'UsersAndGroupOrganizationOrgSelect'"
                    [model]="selectedOrg"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    [required]="true"
                    (onSelect)="selectOrg($event)"
                ></org-select>
            </div>
            <div class="margin-top-1">
                <div
                    otFormElement
                    class="flex"
                    [label]="'DefaultLanguage' | otTranslate"
                    [required]="true"
                    >
                    <i
                        class="ot ot-info-circle"
                        [otTooltip]="{ content: 'DefaultLanguageTooltip' | otTranslate, placement: 'top-start' }"
                    ></i>
                </div>
                <ot-picklist
                    ot-auto-id="UsersAndGroupsOrgDefaultLanguage"
                    [placeholder]="'SelectLanguage' | otTranslate"
                    [autoClose]="true"
                    [options]="languages"
                    [valueKey]="'Id'"
                    [labelKey]="'Name'"
                    [model]="selectedLanguage"
                    (onSelect)="selectLanguage($event)"
                ></ot-picklist>
                <p *ngIf="!selectedLanguage.Translated"
                    class="margin-top-1 text-small color-cherry"
                    [innerText]="'UnsupportedLanguageWarning' | otTranslate"
                ></p>
            </div>
            <div otFormElement
                class="margin-top-2"
                [required]="true"
                [label]="('DefaultApprover' | otTranslate) + ':'">
                <div otFormElement [required]="true">
                    <ot-org-user
                        ot-auto-id="UsersAndGroupOrgUserDropdown"
                        placeholder="SearchDefaultApprover"
                        [allowEmail]="false"
                        [model]="selectedUser?.Id"
                        [orgId]="orgId"
                        [permissions]="['OrgGroupsPrivacyOfficer']"
                        [traversal]="orgUserTraversal.Up"
                        (onSelect)="selectUser($event)"
                    ></ot-org-user>
                    <label *ngIf="!selectedUser"
                        class="text-thin-2 text-small text-error margin-top-bottom-half"
                        [innerText]="'PleaseSelectFromTheDropdown' | otTranslate">
                    </label>
                </div>
            </div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-6 padding-top-1">
            <button otButton neutral
                class="margin-right-1 border-none"
                ot-auto-id="UsersAndGroupsOrgCancelbtn"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
            ></button>
            <button otButton neutral
                *ngIf="modalData.isAddNext"
                class="margin-right-1"
                ot-auto-id="UsersAndGroupsOrgSaveNextbtn"
                [disabled]="validationsForOrgModal()"
                [innerText]="'SaveAndNext' | otTranslate"
                [loading]="isSavingNext"
                (click)="handleSubmit(true)"
            ></button>
            <button otButton brand
                ot-auto-id="UsersAndGroupsOrgSavebtn"
                [innerText]="'Save' | otTranslate"
                [disabled]="validationsForOrgModal()"
                [loading]="isLoading"
                (click)="handleSubmit()"
            ></button>
        </footer>
    </div>
</one-modal-base>
