<div class="background-grey
    padding-all-1
    border
    border-radius-3
    row-vertical-center
    org-group__node
    margin-left-3"
    [attr.ot-auto-id]="'UsersAndGroupsChildOrgMouseEvents'"
    (mouseover)="setHovering(true)"
    (mouseleave)="setHovering(false)"
    id="orgParentNode">
    <span *ngIf="model?.Children?.length">
        <i class="ot text-medium cursor-pointer"
            [attr.ot-auto-id]="'UsersAndGroupsChildOrgToggle'"
            [ngClass]="{
                'ot-chevron-down': model.Visible,
                'ot-chevron-right': !model.Visible
            }"
            (click)="toggleVisibility(model)"
        ></i>
    </span>
    <div>
        <span otFormElement
            class="full-width text-pointer text-bold text-link margin-left-1-half"
            [attr.ot-auto-id]="'UsersAndGroupsChildEditOrg'"
            [innerText]="model.Name"
            (click)="editOrg.emit(model.Id)"
        ></span>
        <span class="margin-all-2 border-left"></span>
        <span
            [innerText]="model.PrivacyOfficerName"
        ></span>
    </div>
    <div *ngIf="isHovering" class="margin-left-auto">
        <i
            class="ot ot-plus margin-right-2 margin-top-half text-pointer"
            [attr.ot-auto-id]="'UsersAndGroupsChildAddOrg'"
            (click)="addOrg.emit(model)"
        ></i>
        <i
            class="ot ot-edit margin-right-2 margin-top-half text-pointer"
            [attr.ot-auto-id]="'UsersAndGroupsChildEditOrgModal'"
            (click)="editModal.emit(model)"
        ></i>
        <i *ngIf="model.CanDelete"
            class="ot ot-trash margin-right-2 margin-top-half text-pointer"
            [attr.ot-auto-id]="'UsersAndGroupsChildeleteOrg'"
            (click)="deleteOrg.emit(model)"
        ></i>
    </div>
</div>
<div
    class="org-group__element cursor-move margin-left-3"
    [dndList]="model"
    [dndModel]="model?.Children"
    [dndPlaceholder]="placeholder"
    (dndDrop)="droppedValue.emit(model)"
    >
    <div
        *ngFor="let item of model.Children"
        draggable="true"
        [ngClass]="{'org-group__list border-left': model.Visible }"
        [dndType]="item"
        [dndDraggable]
        [dndDragDisabled]="draggable"
        (dndMoved)="removeItem(item, model.Children)"
        [dndObject]="item"
        id="orgchildList">
        <org-tree-view
            *ngIf="model.Visible"
            [list]="model"
            [model]="item"
            [draggable]="draggable"
            (droppedValue)="droppedValue.emit($event)"
            (draggedValue)="draggedValue.emit($event)"
            (editOrg)="editOrg.emit($event)"
            (addOrg)="addOrg.emit($event)"
            (editModal)="editModal.emit($event)"
            (deleteOrg)="deleteOrg.emit($event)"
        ></org-tree-view>
    </div>
</div>
<div #placeholder
    class="org-group__list border-left">
    <span
        class="border
        block
        padding-all-1
        background-white
        border-style-dashed
        text-ui-blue
        text-bold
        text-center
        org-group__dndPlaceholder"
        [innerText]="'DropOn' | otTranslate: { orgName: model.Name }"
    ></span>
</div>
