<div class="overflow-x-auto">
    <table
        otDataTable
        class="full-width"
        [rowData]="tableData"
        [rowBordered]="true"
        [sortable]="true"
        [sortedKey]="sortData?.sortedKey"
        [sortOrder]="sortData?.sortOrder"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.type !== tableColumnTypes.Action; else actionColumn">
                <ot-data-table-column
                    [headerLabel]="col.nameKey"
                    [sortable]="col.sortKey"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.valueKey"
                    [column]="col"
                    [thStyle]="col.style"
                    >
                    <ng-template
                        otDataTableCell let-row="row"
                        let-column="column"
                        tdClass="max-25 padding-all-4"
                        >
                        <ng-container [ngSwitch]="col.type">
                            <ng-container *ngSwitchCase="tableColumnTypes.Link">
                                <div *ngIf="col.valueKey === tableColumnTypes.Number" class="slds-truncate padding-left-1">
                                    <a
                                        [attr.ot-auto-id]="'InventoryRisksIdLink' + row[column.valueKey]"
                                        (click)="goToRiskDetails(row)"
                                        >
                                        <b>{{row[column.valueKey] || emptyValue}}</b>
                                    </a>
                                </div>
                                <div *ngIf="col.valueKey === 'source'" class="slds-truncate">
                                    <a
                                        *ngIf="!row.viewOnly && ('AssessmentsUrlView' | otPermit); else RiskSourceAsPlainText"
                                        [attr.ot-auto-id]="'InventorySourceLink' + row[column.valueKey]"
                                        (click)="goToSourceDetails(row)"
                                        >
                                        {{row.source.name || emptyValue}}
                                    </a>
                                    <ng-template #RiskSourceAsPlainText>
                                        <span class="word-break" [innerText]="row.source.name"></span>
                                    </ng-template>
                                </div>
                                <div *ngIf="col.valueKey === 'description'" class="slds-truncate max-25">
                                    <a
                                        [attr.ot-auto-id]="'InventoryRisksDescriptionLink' + row[column.valueKey]"
                                        (click)="goToRiskDetails(row)"
                                        >
                                        {{row[column.valueKey] || emptyValue}}
                                    </a>
                                </div>
                                <div *ngIf="col.valueKey === 'controlsIdentifier'" class="slds-truncate slds-text-align_center text-bold"
                                >
                                    <a
                                        *ngIf="row.sourceType === riskV2SourceTypes[riskV2SourceTypes.PIA]; else RiskControlAsPlainText"
                                        [attr.ot-auto-id]="'InventoryRisksDescriptionLink' + row[column.valueKey]"
                                        (click)="goToRiskDetails(row, riskDetailsTabs.Controls)"
                                        >
                                        {{row[column.valueKey].length}}
                                    </a>
                                    <ng-template #RiskControlAsPlainText>
                                        {{row[column.valueKey].length}}
                                    </ng-template>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Text">
                                <div *ngIf="col.valueKey !== 'categoriesCsv'" class="slds-truncate">
                                    {{row[column.valueKey] || emptyValue}}
                                </div>
                                <div
                                    *ngIf="col.valueKey === 'categoriesCsv'"
                                    class="slds-truncate"
                                    [otTooltip]="row['categoriesCsv']"
                                    >
                                    {{ row['categoriesCsv'] || emptyValue }}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Status">
                                <div class="slds-truncate">
                                    {{riskV2StateTranslationKeys[row[column.valueKey]] | otTranslate}}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Date">
                                <div class="slds-truncate slds-text-align_center">
                                    <span>
                                        {{row[column.valueKey] | otDate:"dateLocal":false: emptyValue}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.DateTime">
                                <div class="slds-truncate slds-text-align_center">
                                    <span>
                                        {{row[column.valueKey] | otDate:"dateTime":false: emptyValue}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Organization">
                                <div class="slds-truncate slds-text-align_center">
                                    {{row.orgGroup.name || emptyValue}}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Risk">
                                <div
                                    *ngIf="row[column.valueKey]; else noRisk"
                                    class="slds-truncate slds-text-align_center"
                                    >
                                    <button otButton neutral
                                        class="assessment-grid__assessment-risklevel flex margin-left-1 box-shadow-none padding-none"
                                        >
                                        <div
                                            class="assessment-grid__assessment-risklevel-flag-width border-round"
                                            [ngStyle]="{'background-color': row.levelId | otRiskColor }"
                                            title="{{riskLevel[row.levelId] | otTranslate}}"
                                            >
                                            <i class="ot ot-flag color-white media-middle"></i>
                                        </div>
                                        <span
                                            *ngIf="row[column.valueKey]; else noRisk"
                                            class="assessment-grid__assessment-risklevel-score text-bold"
                                            >
                                            {{row[column.valueKey] || emptyValue}}
                                        </span>
                                        <ng-template #noRisk>
                                            <div class="slds-truncate text-center padding-left-1 text-bold">
                                                - - -
                                            </div>
                                        </ng-template>
                                    </button>
                                </div>
                                <ng-template #noRisk>
                                    <div class="assessment-grid__none-risk slds-truncate text-center">
                                        - - - -
                                    </div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
            <ot-data-table-column>
                <ng-template otDataTableHeader [thStyle]="{'min-width': '6rem'}">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell [tdStyle]="{'min-width': '6rem'}">
                    <div></div>
                </ng-template>
            </ot-data-table-column>
            <ng-template #actionColumn>
                <ot-data-table-column
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                >
                    <ng-template otDataTableHeader
                        thClass="float-col width-0"
                    >
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell
                        let-row="row"
                        tdClass="float-col background-transparent"
                    >
                    <div class="flex height-100 align-center justify-center">
                            <ot-context-menu
                                [type]="menuType"
                                position="bottom-right"
                                [menu]="menuOptions"
                                (toggled)="onToggle($event, row)"
                            >
                                <i class="ot ot-ellipsis-h"></i>
                                <a
                                    *otContextMenuItem="let item"
                                    [attr.ot-auto-id]="'InventoryRisks' + item.otAutoId + 'ContextMenuOption'"
                                    (click)="handleMenuItemClicks(row)">
                                    {{ item.text || emptyValue}}
                                </a>
                            </ot-context-menu>
                        </div>
                    </ng-template>
                </ot-data-table-column>
            </ng-template>
        </ng-container>
    </table>
</div>
