.gallery-templates {
    &__header {
        flex: 0 0 10rem;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px 0;
        transition: all .5s ease;
        &--collapsed {
            height: 0;
            flex: 0 0 0px;
            display: none;
            transition: all .5 ease;
            .gallery-templates__header__message {
                opacity: 0;
                transition: opacity .3s ease;
                transition-delay: none;
            }
        }
        &__message {
            flex: 0 0 10rem;
            opacity: 1;
            transition: opacity .3s ease;
            transition-delay: .3s;
        }
    }
    &__studio {
        min-height: .1rem;
        &__gallery {
            min-width: 30rem;
            padding-left: 1.6rem;
            transition: all .5s ease;
            &__list {
                padding: 1.6rem 0;
                height: calc(100% - 10vh);
            }
            .template-card--selected .template-card__item {
                opacity: 1;
                border: 1px solid $grey-3;
            }
            .template-card--unselected {
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
            &--collapsed {
                flex: 0 0 30rem;
                padding-right: 0;
                transition: all .5s ease;
                .template-card__item {
                    margin: 0 0 1.6rem;
                }
            }
            &__toggle {
                border-right: 0;
                padding-left: 0.4rem;
                border: 1px solid $grey-3;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                &:hover {
                    background-color: $paper-gray;
                }
            }
        }
        &__container {
            border-left: 1px solid $grey-3;
            &--collapsed {
                display: none;
                flex: 0 0 auto;
            }
        }
    }
    &__preview {
        height: calc(100% - 101px);
    }
    &__studio-footer {
        background-color: $grey-1;
        border-top: 1px solid $grey-3;
        flex: 0 0 5rem;
        display: inline-flex;
    }
    &__card-hover {
        &:hover {
            .ot-card {
                background-color: lighten($ui-blue, 45%);
                border: 1px solid $ui-blue;
            }
            .preview-show {
                visibility: visible;
            }
        }
    }

    .ot-card__wrapper {
        margin: 0 1rem 1rem;
        max-width: 24rem;
    }
}
