<div class="gallery-templates height-100 background-grey">
    <template-header
        [navigationTitle]="translations.templateHeader"
		[navigationUrl]="translations.templateNavUrl"
        [anchorClass]="'text-decoration-none'"
        [breadcrumbTitle]="'Gallery' | otTranslate"
        (breadcrumbClickCallback)="navigateToTemplateList($event)"
	>
    </template-header>
    <div class="column-nowrap padding-all-0 height-100 background-grey">
        <div class="background-grey border-bottom padding-top-bottom-half row-flex-end static-vertical">
            <ot-search-input
                class="margin-right-1"
                ot-auto-id="TemplatesGalleryFilterSearchInput"
                [placeholder]="'Search' | otTranslate"
                [reset]="resetSearch$"
                [debounce]="300"
                (search)="filterTemplates($event)">
            </ot-search-input>
        </div>
        <div class="gallery-templates__studio flex-full-width height-100">
            <ot-empty-state
                *ngIf="isListLoaded && !templateCards.length"
                class="full-size text-center"
                [emptyStateMessage]="'NoSearchResultsFound' | otTranslate"
                >
                <img emptyStateImg />
                <button otButton brand
                    empty-state-content
                    (click)="clearResults()"
                    >
                    {{ "ClearSearch" | otTranslate}}
                </button>
            </ot-empty-state>
            <upgraded-loading
                *ngIf="!isListLoaded"
                class="column-vertical-center stretch-vertical"
                ot-auto-id="TemplateGalleryHeaderLoading"
                [text]="translations.templateHeader"
            >
            </upgraded-loading>
            <section
                *ngIf="isListLoaded && templateCards.length"
                class="gallery-templates__studio__gallery row-flex-end flex-stretch-100 height-100 overflow-y-auto margin-0 no-outline"
                [ngClass]="{ 'gallery-templates__studio__gallery--collapsed': selectedTemplate }"
            >
                <div otCardGrid
                    *ngIf="templateCards.length"
                    class="gallery-templates__studio__gallery__list full-width"
                    maxWidth="500">
                    <div otCardRow>
                        <ot-card
                            *ngFor="let card of templateCards; trackBy: trackByTemplateId; index as i"
                            class="no-outline gallery-templates__card-hover"
                            [attr.ot-auto-id]="'GalleryTemplateCardNavigationToPreview_'+ (i+1)"
                            alignment="center"
                            [header]="card.header"
                            [locked]="card.locked"
                            [image]="card.image"
                            width="24"
                            [ngClass]="{
                                'template-card--selected': selectedTemplate?.id === card.id,
                                'template-card--unselected': selectedTemplate && selectedTemplate?.id !== card.id
                            }"
                            (click)="collapseGallery(card)">
                            <ng-container otCardFooter>
                                <button otButton brand
                                    class="invisible preview-show">
                                    {{card.button.text | otTranslate}}
                                </button>
                            </ng-container>
                        </ot-card>
                    </div>
                </div>
                <div
                    *ngIf="selectedTemplate"
                    class="gallery-templates__studio__gallery__toggle absolute-vertical-center width-3 background-white text-grey-3 text-center padding-top-bottom-2"
                    ot-auto-id="GalleryTemplateExpandGallery"
                    (click)="expandGallery()"
                >
                    <i class="ot ot-chevron-right"></i>
                </div>
            </section>
            <section
                *ngIf="isListLoaded && selectedTemplate"
                class="gallery-templates__studio__container flex-stretch-100 column-nowrap height-100 margin-0 background-white"
                [ngClass]="{ 'gallery-templates__studio__gallery__container--collapsed': !selectedTemplate }"
            >
                <gallery-upgrade
                    *ngIf="selectedTemplate.status === templateStates.Locked"
                    class="text-center margin-all-0 text-grey-3 column-horizontal-vertical-center stretch-vertical"
                    [description]="selectedTemplate.description"
                >
                </gallery-upgrade>
                <!-- TODO: Gallery Template Preview comes here -->
                <section
                    *ngIf="selectedTemplate.status !== templateStates.Locked"
                    class="gallery-templates__preview height-100 overflow-y-auto"
                >
                    <upgraded-loading
                        *ngIf="loadingGalleryTemplate"
                        ot-auto-id="TemplateGalleryLoading"
                        [text]="'QuestionnaireTemplate' | otTranslate"
                    >
                    </upgraded-loading>
                    <div *ngIf="!loadingGalleryTemplate">
                        <gallery-template-preview
                            class="centered-max-70"
                            [galleryTemplateDetail]="galleryTemplateDetail"
                        >
                        </gallery-template-preview>
                    </div>
                </section>
                <footer
                    *ngIf="selectedTemplate.status !== templateStates.Locked"
                    class="gallery-templates__studio-footer justify-end align-center padding-top-bottom-0 padding-left-right-1"
                >
                    <button
                        otButton
                        neutral
                        class="margin-right-1"
                        ot-auto-id="GalleryTemplateCancelButton"
                        (click)="expandGallery()"
                    >
                        {{"Cancel" | otTranslate}}
                    </button>
                    <button
                        *ngIf="'TemplatesCreateAndPublish' | otPermit"
                        otButton
                        brand
                        class="margin-right-1"
                        ot-auto-id="GalleryTemplateChooseQuestionnaireButton"
                        (click)="openCreateTemplateModal()"
                    >
                        {{"ChooseThisQuestionnaire" | otTranslate}}
                    </button>
                  </footer>
            </section>
        </div>
    </div>
</div>
