<li class="
    margin-bottom-2
    margin-right-auto
    margin-left-0
    full-width
    min-width-100-percent
    padding-right-2
    "
    >
    <div
        otFormElement
        class="stretch-horizontal"
        [attr.id]="attribute.fieldName"
        [required]="attribute.required"
        [tooltip]="attribute.descriptionKey ? (attribute.descriptionKey | otTranslate) : attribute.description"
        [tooltipPosition]="tooltipPosition"
        [label]="attribute.nameKey ? (attribute.nameKey | otTranslate) : attribute.name"
        >
        <ng-container *ngIf="!editMode || attribute.readOnly || !isEditable">
            <button
                class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none inventory-form__button"
                ot-auto-id="InventoryFormToggleEdit"
                (click)="attribute.readOnly || !isEditable ? handleLockClicked(attribute.fieldName) : toggleOnEditMode(attribute.fieldName, attribute.responseType)"
                >
                <span class="word-break" [innerText]="(record[attribute.fieldName] | attributeDisplayValue:attribute) || '- - - -'"></span>
                <i
                    class="ot display-none position-absolute top-half right-0 inventory-form__icon"
                    [ngClass]="attribute.readOnly || !isEditable ? 'ot-lock' : 'ot-edit'"
                    >
                </i>
            </button>
        </ng-container>
        <ng-container *ngIf="editMode && !attribute.readOnly && isEditable">
            <ng-container [ngSwitch]="attribute.attributeType">
                <ng-container *ngSwitchCase="attributeTypes.Users">
                    <ot-org-user
                        [attr.ot-auto-id]="'InventoryFormUserSelect_' + i"
                        [allowEmail]="attribute.allowOther"
                        [orgId]="record?.organization?.id"
                        [model]="record[attribute.fieldName] && record[attribute.fieldName][0] ? record[attribute.fieldName][0].id || record[attribute.fieldName][0].value : ''"
                        [traversal]="orgUserTraversal.Branch"
                        (onSelect)="userChange($event, attribute)"
                        >
                    </ot-org-user>
                </ng-container>
                <ng-container *ngSwitchCase="attributeTypes.Orgs">
                    <org-select
                        class="inventory-attribute-cell__org-select"
                        [identifier]="'InventoryFormOrgSelect_' + i"
                        describedBy="InventoryAttributeOrgSelect"
                        [model]="record?.organization?.id"
                        (onSelect)="orgChange($event, attribute)"
                        >
                    </org-select>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <ng-container *ngIf="attribute.responseType === responseTypes.Text">
                        <input
                            otInput
                            [attr.ot-auto-id]="'InventoryFormTextInputField_' + i"
                            [placeholder]="'TextInput' | translate"
                            [ngModel]="record[attribute.fieldName] || ''"
                            (ngModelChange)="textChange($event, attribute)"
                            />
                    </ng-container>
                    <ng-container *ngIf="attribute.responseType === responseTypes.SingleSelect">
                        <ot-lookup
                            [attr.ot-auto-id]="'InventoryFormSingleSelect_' + i"
                            [placeholder]="'Select' | translate"
                            [options]="attribute.filteredValues || attribute.values || []"
                            labelKey="label"
                            valueKey="id"
                            [model]="getSingleSelectModel(attribute)"
                            (modelChange)="singleSelectChange($event, attribute)"
                            (inputChange)="handleInputChange($event, attribute)"
                            (firstOptionSelect)="selectOther(attribute)"
                            >
                            <ng-template otFirstOption *ngIf="attribute.allowOther && otherMap[attribute.fieldName]">
                                <span
                                    id="listbox-option-unique-id-00"
                                    role="option"
                                    ot-auto-id="InventoryFormSingleSelectOther"
                                    >
                                    <ng-container>
                                        {{"Add" | translate}}: {{otherMap[attribute.fieldName]}}
                                    </ng-container>
                                </span>
                            </ng-template>
                        </ot-lookup>
                    </ng-container>
                    <ng-container *ngIf="attribute.responseType === responseTypes.MultiSelect">
                        <ot-lookup
                            [attr.ot-auto-id]="'InventoryFormMultiSelect_' + i"
                            [placeholder]="'Select' | translate"
                            [options]="attribute.filteredValues || attribute.values || []"
                            labelKey="label"
                            valueKey="id"
                            [model]="record[attribute.fieldName]"
                            [multiSelect]="true"
                            [clearInputOnModelChange]="true"
                            (modelChange)="multiSelectChange($event, attribute)"
                            (inputChange)="handleInputChange($event, attribute)"
                            (firstOptionSelect)="selectOther(attribute)"
                            >
                            <ng-template otFirstOption *ngIf="attribute.allowOther && otherMap[attribute.fieldName]">
                                <span
                                    id="listbox-option-unique-id-00"
                                    role="option"
                                    ot-auto-id="InventoryFormSingleMultiOther"
                                    >
                                    <ng-container>
                                        {{"Add" | translate}}: {{otherMap[attribute.fieldName]}}
                                    </ng-container>
                                </span>
                            </ng-template>
                        </ot-lookup>
                    </ng-container>
                    <ng-container *ngIf="attribute.responseType === responseTypes.Date">
                        <ot-datepicker
                            [attr.ot-auto-id]="'InventoryFormDatePicker_' + i"
                            [placeholder]="'Select' | translate"
                            [format]="timeFormat"
                            [dateModel]="getDateModel(attribute)"
                            (onChange)="dateChange($event, attribute)"
                            >
                        </ot-datepicker>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</li>
