<!-- Header component -->
<upgraded-cookie-compliance-header
    *ngIf="selectedWebsite"
    [navigationTitle]="'ScriptArchive' | otTranslate"
    [showPublishButton]="false"
    [showLanguageSelection]="false"
    [showAdvanceSettingsButton]="true"
    [hideLanguageAddButton]="true"
    [isUnpublishedChanges]="false"
    [pageReady]="isLoaded"
    [showScriptArchiveControls]="true"
    (domainChangeFunction)="populateData()"
></upgraded-cookie-compliance-header>
<!-- Script archive list -->
<script-archive-list
    *ngIf="isLoaded; else loading"
    [archiveList]="archiveList"
></script-archive-list>
<!-- Page loader -->
<ng-template #loading>
    <ot-loading otPageLoading *ngIf="!isLoaded">{{ 'Loading' | otTranslate }}...</ot-loading>
</ng-template>
