<div class="background-grey height-100 full-width">
    <ot-collapse [title]="'Styling' | otTranslate">
        <div class="background-white border padding-all-1">
            Option 1<br>

            Option 2<br>

            Option 3<br>

            Option 4<br>

            Option 5
        </div>
    </ot-collapse>
</div>