<div>
    <div class="background-white height-5 row-vertical-center justify-end border-bottom padding-right-2">
        <button
            otButton
            brand
            *ngIf="showAddSubtask"
            ot-auto-id="AddSubTaskButton"
            [innerText]="'AddSubTask' | otTranslate"
            (click)="onAddSubTask()"
            >
        </button>
    </div>
    <ot-loading otPageLoading
        class="margin-left-right-auto margin-top-3"
        *ngIf="loadingIncidentSubTasksRecords$ | async"
        >
    </ot-loading>
    <div *ngIf="!(loadingIncidentSubTasksRecords$ | async)" class="position-relative">
        <incident-subtasks-table
            [model]="model"
            [rows]="table.rows"
            [columns]="table.columns"
            [metaData]="table.metaData"
            (callOnAddSubTask)="onAddSubTask()"
            (callOnEditSubTask)="getIncidentSubTasks()"
            >
        </incident-subtasks-table>
    </div>
     <footer otPaginationFooter *ngIf="!(loadingIncidentSubTasksRecords$ | async) && table?.rows?.length && table?.metaData.totalPages > 1 || (!(loadingIncidentSubTasksRecords$ | async) && !table?.metaData.first)">
        <ot-pagination
            [currentPage]="table?.metaData.number"
            [handleOffset]="true"
            [numPages]="table?.metaData.totalPages"
            (pageChanged)="onPaginationChange($event)"
            >
        </ot-pagination>
        <span>
            {{ table?.metaData | otPageMeta }}
        </span>
    </footer>
</div>