<ot-page-header
    class="margin-top-bottom-0 text-thin"
    [title]="'DataDiscovery' | otTranslate"
></ot-page-header>
<section class="overflow-y-auto height-100">
    <section class="flex justify-center width-60-percent margin-top-2 margin-left-right-auto padding-bottom-2">
        <img
            [src]="discoveryIcon"
            class="width-100-percent"
        />
        <div class="margin-left-1">
            <div class="text-large text-bold">{{"DataDiscovery" | otTranslate}} </div>
            <div class="margin-top-1"> {{"DataDiscoveryDescription" | otTranslate}} </div>
        </div>
    </section>

    <section class="background-white padding-top-2 padding-bottom-5">
        <div class="width-60-percent margin-left-right-auto">
            <div class="text-bold text-medium">{{"TargetedDataDiscovery" | otTranslate}} </div>
            <div
                *ngFor="let system of targetedDiscovery"
                class="flex border-bottom padding-bottom-1 margin-top-bottom-1"
            >
                <div class="flex width-80-percent align-center">
                    <div class="position-relative is-logo-small">
                        <div class="full-size row-horizontal-vertical-center">
                            <img
                                class="is-logo-basic-img  border-round"
                                [src]="system.icon"
                            />
                        </div>
                    </div>
                    <span class="margin-left-2">
                        <div class="text-bold text-uppercase">{{system.name}}</div>
                        <div>{{system.description}}</div>
                    </span>
                </div>
                <div class="width-20-percent align-self-center">
                    <div class="flex justify-end">
                        <button
                            otButton
                            neutral
                            ot-auto-id="IntgSharedTargetedDataDiscoveryGoNow"
                            [innerText]="'GoNow' | otTranslate"
                            (click)="goToRoute(system.id)">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-60-percent margin-left-right-auto margin-top-2">
            <div class="text-bold text-medium">{{"EDiscovery" | otTranslate}} </div>
            <div
                *ngFor="let eDiscovery of eDiscoveryList"
                class="flex border-bottom padding-bottom-1 margin-top-bottom-1"
            >
                <div class="flex width-80-percent align-center">
                    <div
                        class="data-discovery__eDiscovery-icon shadow position-relative border-round"
                        [ngStyle]="{'background-color': eDiscovery.backgroundColor }"
                    >
                        <div class="full-size row-horizontal-vertical-center">
                            <img
                                class="is-logo-basic__img"
                                [src]="eDiscovery.icon"
                            />
                        </div>
                    </div>
                    <span class="margin-left-2">
                        <div class="text-bold text-uppercase">{{eDiscovery.name}}</div>
                        <div>{{eDiscovery.description}}</div>
                    </span>
                </div>
                <div class="width-20-percent align-self-center">
                    <div class="flex justify-end">
                            <button
                            otButton
                            neutral
                            ot-auto-id="IntgSharedEDataDiscoveryGoNow"
                            [innerText]="'GoNow' | otTranslate"
                            (click)="goToRoute(eDiscovery.id)">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
