<div class="dsar-dashboard-country-map-range-indicator row-horizontal-vertical-center">
    <ng-container *ngFor="let i of data">
        <ng-container [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{
                className: i.className,
                showCircle: i.showCircle,
                showLeftTriangle: i.showLeftTriangle,
                showRightTriangle: i.showRightTriangle,
                baseClassName: i.baseClassName,
                data: i.data
            }"
            ></ng-container>
    </ng-container>
</div>
<ng-template #content
    let-className="className"
    let-showCircle="showCircle"
    let-showLeftTriangle="showLeftTriangle"
    let-showRightTriangle="showRightTriangle"
    let-baseClassName="baseClassName"
    let-data="data"
    >
    <div
        class="dsar-dashboard-country-map-range-indicator__base"
        [ngClass]="baseClassName">
        <div *ngIf="showRightTriangle" class="dsar-dashboard-country-map-range-indicator__base--triangle-container-left">
            <div
                class="dsar-dashboard-country-map-range-indicator__base--triangle
                    dsar-dashboard-country-map-range-indicator__base--right-triangle"
            ></div>
            <div class="dsar-dashboard-country-map-range-indicator__base--triangle-data">0</div>
        </div>
        <div
            class="dsar-dashboard-country-map-range-indicator__base--line"
            [ngClass]="className"
        ></div>
        <div *ngIf="showCircle" class="dsar-dashboard-country-map-range-indicator__base--circle-container">
            <div
                class="dsar-dashboard-country-map-range-indicator__base--circle"
                [ngClass]="className">
            </div>
            <div class="dsar-dashboard-country-map-range-indicator__base--circle-data">{{data}}</div>
        </div>
        <div *ngIf="showLeftTriangle" class="dsar-dashboard-country-map-range-indicator__base--triangle-container-right">
            <div
                class="dsar-dashboard-country-map-range-indicator__base--triangle
                    dsar-dashboard-country-map-range-indicator__base--left-triangle"
            ></div>
            <div class="dsar-dashboard-country-map-range-indicator__base--triangle-data">{{totalRequests}}</div>
        </div>
    </div>
</ng-template>
