.dsar-dashboard-country-map-range-indicator {
    width: 70%;
    margin: 0 auto;
    $variables: (
        blue: ("blue",#70EBEB),
        yellow: ("yellow",#F7B731),
        pink: ("pink",#EE7582),
        red: ("red",#C23824)
    );

    &__base {
        height: 1rem;
        display: flex;
        align-items: center;
        @each $name, $colors in $variables {
            $id: nth($colors, 1);
            $bgcolor: nth($colors, 2);
            &--#{$id} {
                background-color: $bgcolor;
            }
        }

        div {
            position: relative;
        }

        &--line {
            width: 100%;
            height: 60%;
        }

        &--circle {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            border: 1px solid white;
            transform: scale(2);
        }

        &--triangle {
            width: 0;
            height: 0;
            border-style: solid;
            top: 1rem;
            z-index: 1;
        }

        &--triangle-container-left {
            left: 0.5rem;
        }

        &--triangle-container-right {
            right: 0.5rem;
        }

        &--triangle-data {
            top: 2rem;
            font-weight: bold;
        }

        &--circle-container {
            top: 1rem;
            max-width: 1rem;
            width: 1rem;
        }

        &--circle-data {
            top: 1rem;
            font-weight: bold;
        }

        &--right-triangle {
            border-color: transparent transparent transparent $slate;
            border-width: 0.5rem 0 0.5rem 0.5rem;
        }

        &--left-triangle {
            border-color: transparent $slate transparent transparent;
            border-width: 0.5rem 0.5rem 0.5rem 0;
        }
    }
}
