.statement {
    &.modal {
        &-header {
            padding: 1rem;
            @media(min-width: $small) {
                padding: 2rem;
            }
        }

        &-body {
            padding: 1rem;
            @media(min-width: $small) {
                padding: 2rem;
            }

            .one__loading {
                height: 40rem;

                &__text {
                    margin: 0;
                }
            }
        }
    }

    select {
        width: 100%;
        box-shadow: none;
        border-color: $grey-4;
    }

    .required {
        color: $light-red;
    }

    &__content {
        height: 80%;
    }

    &__checkbox {
        @include checkbox;
        height: 2.4rem;
        width: 2.4rem;
    }

    &__form {
        width: 100%;
        margin: 0.5rem 0;
    }

    &__group {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1rem;
        @media(min-width: $small) {
            flex-flow: row nowrap;
            margin-bottom: 2rem;
        }

        &--options {
            .add-statement__label {
                padding-top: 1rem;
            }
        }
    }

    &__label {
        flex: 0 0 10rem;
        padding-right: 2rem;
        font-weight: normal;
        margin: 0;
        height: 3.6rem;
        display: flex;
        align-items: center;

        .required {
            position: relative;
            font-size: 7px;
            top: -10px;
        }
    }

    &__entry {
        flex: 1 1 auto;
        width: 100%;
    }

    &__error {
        color: $light-red;
        margin: 0.6rem 0 0;
    }

    &__preview-label {
        display: block;
    }

    .add-statement__preview-label {
        margin-bottom: 1rem;
    }
}
