.add-info {

    &__label {
        font-size: 1.5rem;
        margin: 1rem 0 0.6rem;
    }
    
    &__textarea {
        @include textArea;
        width: 100%;
        max-width: 100%;
        min-height: 10rem;
        margin: 0.6rem 0;
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        margin: 0.6rem 1rem;
        justify-content: center;
    }
}
