.add-section {

    .modal-body,
    .modal-header {
        padding: 2rem;
    }

    .modal-footer {
        padding: 2rem 0 0;

        .edit-section-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .edit-section-btn-group {
            margin-left: auto;
        }
    }

    &__form {
        width: 46rem;
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
        padding: 2rem 0 4rem;
    }

    &__label {
        margin: 0 1.6rem 0 0;
        padding-top: .8rem;
        font-weight: normal;
    }

    &__entry {
        flex: 1 1 auto;
    }

    &__error {
        color: $light-red;
        margin: .6rem 0 0;
    }

    &__required {
        color: $light-red;
        position: relative;
        font-size: 7px;
        top: -10px;
    }
}
