.attachment-modal {
    display: flex;
    flex-flow: column nowrap;
    max-height: 500px;
    position: relative;

    &__header {
        flex: 0 0 6.6rem;
        padding: 15px 2rem;
    }

    &__body {
        flex: 1 1 36rem;
        overflow-y: auto;

        &.modal-body {
            padding: 2rem;
        }
    }

    &__add {
        width: 100%;
        position: relative;
        border: 2px dashed $grey-1;
        color: $grey-4;
        margin-bottom: 2rem;
        padding: 2rem;
        background: 0;
        outline: none;
        text-align: center;

        &.disabled {
            border: 2px dashed $white;
            color: $slate;

            .attachment-modal__add-spinner {
                display: inline-block;
            }
        }

        &:hover {
            border: 2px solid $grey-1;
            color: $slate;
            cursor: pointer;
        }

        &-input {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &-icon {
            margin-right: .6rem;
            pointer-events: none;
        }

        &-spinner {
            display: none;
            margin-left: .6rem;
            pointer-events: none;
            font-size: 2rem;
            vertical-align: middle;
        }

        &-text {
            pointer-events: none;
        }
    }

    &__entry {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 1.6rem 2rem 2rem;
        margin-top: -2rem;
        border: 2px dashed $grey-1;
        border-top: 0;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            flex-flow: row nowrap;
        }

        &-name {
            flex: 1 1 100%;
            margin-bottom: 1.6rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
                padding-right: 1.6rem;
                flex: 1 1 auto;
            }
        }

        &-comments {
            flex: 1 1 100%;
            margin-bottom: 1.6rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
                padding-right: 1.6rem;
                flex: 2 2 auto;
            }
        }

        &-submit {
            border-radius: 2px;
            white-space: nowrap;
            padding: 0.8rem 1.8rem;
            border: 1px solid $ui-blue;
            flex: 1 1 auto;
            margin-right: .8rem;
            background-color: $ui-blue;
            color: $white;
            max-width: 20rem;

            &:hover {
                background-color: darken($ui-blue, 10%);
                border-color: darken($ui-blue, 10%);
                color: $white;
            }

            &[disabled] {
                background-color: $slate;
            }

            @media (min-width: 768px) {
                margin-top: 1rem;
                flex: 0 0 auto;
                margin-top: 2.5rem;
            }
        }

        &-cancel {
            border-radius: 2px;
            white-space: nowrap;
            border: 1px solid $grey-3;
            background-color: $white;
            color: $slate;
            padding: 0.8rem 1.8rem;

            &:hover {
                border: 1px solid $slate;
                color: darken($slate, 10%);
            }

            flex: 1 1 auto;
            max-width: 20rem;
            margin-left: .8rem;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                margin-top: 2.5rem;
            }
        }

        &-label {
            display: block;
            width: 100%;
        }

        &-input {
            max-width: 40rem;
        }

        &-textarea {
            @include textArea;
            width: 100%;
            max-width: 100%;
        }

        &--error {
            border: 0;

            &-msg {
                display: block;
                width: 100%;
                text-align: center;
                color: $light-red;
                margin: 0;
            }
        }

        &--warning {
            border: 0;

            &-msg {
                display: block;
                width: 100%;
                text-align: center;
                color: $grey-4;
                margin-bottom: 0;
            }
        }
    }

    &__filters {
        background-color: $grey-1;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding: 1.4rem 2rem;
        margin: 0 -2rem;
    }

    &__select {
        width: 16rem;
        height: 3.6rem;
        padding-left: 1rem;
        border: 1px solid $grey-4;
        box-shadow: none;
        -webkit-appearance: none;
        border-radius: 2px;
        border: 1px solid $grey-1;
        background-color: $white;
        color: $slate;

        &-container {
            position: relative;
            margin-right: 1rem;
        }

        &-arrow {
            position: absolute;
            right: 1.4rem;
            top: 50%;
            transform: translateY(-50%);
            color: $slate;
            pointer-events: none;
        }
    }

    &__search {
        width: 18rem;
        height: 3.6rem;
        margin: 0 2rem 0 0;
    }

    &__table {
        padding: 1.4rem 0;
        overflow-x: scroll;

        table {
            margin: 0;
        }
    }

    &__comments {
        max-width: 30rem;
        width: 30rem;

        &--short {
            height: 5.6rem;
        }

        &--long {
            height: auto;
        }

        span {
            word-wrap: break-word;
        }
    }

    .read-more {
        display: none;
    }

    .read-less {
        display: inline-block;
    }

    .read-more,
    .read-less {
        border: 0;
        background: 0;
        margin-left: 0.4rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: $ui-blue;

        span {
            margin-right: .6rem;
        }
    }

    .truncate-values {
        position: relative;

        .read-more {
            display: inline-block;
        }

        .read-less {
            display: none;
        }
    }

    .empty-placeholder {
        color: gray;
        text-align: center;
    }

    .modal-header {
        position: relative;
        width: 100%;
    }

    .modal-body {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    td,
    th {
        vertical-align: middle;

        &.align-top {
            vertical-align: top;
        }
    }
}
