$blue-chat-bubble: #158ffe;
$grey-chat-bubble: #e6e5eb;
$grey-chat-bubble-text: #58595B;

.chat-bubble {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    &__comment {
        border-radius: 5px;
        display: inline-block;
        padding: 7px 12px;
        position: relative;
        margin: 0 1rem 2rem;
        max-width: 80%;
        min-width: 5rem;
        &-text {
            padding-bottom:0px;
            margin: 0;
        }
        &--right {
            align-self: flex-end;
            background-color: $blue-chat-bubble;
            color: $white;
            float: right;
            margin-left: 100px;
            &:before {
                background-color: $blue-chat-bubble;
                right: 10px;
                transform: rotate(118deg) skew(-5deg);
            }
        }
        &--left {
            align-self: flex-start;
            background-color: $grey-chat-bubble;
            color: $slate;
            float: left;
            margin-right: 100px;
            &:before {
                background-color: $grey-chat-bubble;
                left: 10px;
                transform: rotate(70deg) skew(5deg);
            }
        }
        &:before {
            content: "\00a0";
            display: block;
            height: 16px;
            width: 9px;
            position: absolute;
            bottom: -5.5px;
        }
    }
    &__metadata {
        &--right {
            align-self: flex-end;
            margin-right: 1rem;
        }
        &--left {
            align-self: flex-start;
            margin-left: 1rem;
        }
    }
}
