.conditional-modal {
    .modal-body {
        margin-bottom: 5rem;
    }
    .select {
        flex: 0 0 auto;
        width: 15rem;
        max-width: 15rem;
    }

    textarea {
        @include textArea;
    }

    .error {
        border: solid 1px $light-red;
        border-radius: 2px;
    }

    .question {
        .condition-btn {
            outline: none;
            width: 30px;
            height: 30px;
            background-color: transparent;

            &:active,
            &:focus,
            &:hover {
                background: none;
                background-color: inherit;
                border: none;
                outline: none;
                box-shadow: none;
            }
        }

        .question-info {
            .index {
                background-color: #ccc;
                border-radius: 0;
                color: #fefefe;
                padding: 4px 8px;
                max-height: 2.5rem;
            }

            .name {
                margin-left: 1.5rem;
                padding-top: 3px;
                width: 90%;
            }

            sup {
                font-size: 7px;
                top: -8px;
            }

            .add-condition {
                width: 50px;
            }
        }

        .question-conditions {
            &-list {
                max-height: 35rem;
                overflow-y: auto;
            }

            .condition {
                &-logic .no-questions {
                    h3 {
                        font-size: 2rem;
                        color: #999;
                    }
                }

                &-expression {

                    .no-operator,
                    .operator {
                        width: 7rem;
                        max-width: 7rem;

                        .select {
                            max-width: inherit;
                        }
                    }

                    &-no-answers {
                        width: 15rem;
                        height: 3.6rem;
                    }
                }

                &-term {
                    &-actions {
                        .condition-btn {
                            height: 1.5rem;
                            width: 1.5rem;
                        }

                        .add:hover {
                            color: $ui-blue;
                        }

                        .delete:hover {
                            color: $light-red;
                        }
                    }

                    &-space {
                        margin-left: 16rem;
                    }
                }

                &-separator {
                    color: $grey-4;
                }

                .read-only-condition-logic {
                    width: 90%;

                    .condition-expression {

                        .expression-message {
                            width: 24%;
                        }

                        .list-block {
                            width: 75%;
                        }
                    }

                    .condition-skip {

                        .skip-message {
                            width: 24%;
                        }

                        .skip-details {
                            width: 75%;

                            &-block {

                                &-title {
                                    color: $slate;
                                }

                                &-content {
                                    color: $slate;
                                }
                            }
                        }

                        .list-block {
                            width: 75%;
                        }

                        .analysis__flag {
                            border-color: $grey-4;
                            color: $slate;
                        }
                    }

                    .no-questions {
                        h3 {
                            font-size: 2rem;
                            color: #999;
                        }
                    }
                }

                .condition-manage {
                    .handle {
                        cursor: move;
                    }

                    .delete:hover {
                        color: $light-red;
                    }
                }
            }
        }

        .add-condition {
            &-box {
                border: dashed 2px #ddd;
                min-height: 10rem;
                color: #ddd;

                &:hover {
                    color: #aaa;
                    border: solid 2px #ccc;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }

        .conditions-unsupported {
            padding: 1.5rem;
            font-size: 1.25em;
        }

        .loading {
            padding: 1.5rem;
            font-size: 1.25em;
        }
    }
}
