.directory-add-modal {
    &__form {
        width: 46rem;
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem 0;
        &__group {
            display: flex;
            margin-bottom: 1rem;
        }
    }

    &__label {
        flex: 0 0 auto;
        margin: 0 1.6rem 0 0;
        padding-top: .8rem;
        font-weight: normal;
    }

    &__entry {
        flex: 1 1 auto;
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 1rem;

        &--submit {
            @include button('primary');
            i {
                margin: 0;
            }
            height: 4rem;
            min-width: 8rem;

            &__loading {
                .one__loading__icon {
                    color: $white;
                    margin: 0;
                }
            }

        }

        &--cancel {
            @include button;
            i {
                margin: 0;
            }
            height: 4rem;
            margin-right: 1rem;
            margin-left: auto;
        }
    }
    .add-section__label {
        flex: 0 0 6rem;
    }
}
