.exceptions-modal {

    &__loading {
        min-height: 35.5rem;
    }

    &__section {
        margin-bottom: 1.6rem;
    }

    &__label {

        i {
            margin-left: .6rem;
        }
    }

    &__filter {
        max-width: 12rem;
        position: relative;

        &-row {
            display: flex;
            flex-flow: row nowrap;
        }

        &-group {

            &--centered {
                text-align: center;
                margin: 0 auto;
            }
        }

        &--low,
        &--medium,
        &--high,
        &--very-high {
            select,
            span {
                color: $white;
            }
            select {
                &[disabled] {
                    border-color: $grey-3;
                    color: $slate;
                }
            }
            span {
                &.disabled {
                    color: $slate;
                }
            }
        }
        &--low {
            select {
                background-color: $cyan;
                border-color: $cyan;
            }
        }

        &--medium {
            select {
                background-color: $light-orange;
                border-color: $light-orange;
            }
        }

        &--high {
            select {
                background-color: $light-red;
                border-color: $light-red;
            }
        }

        &--very-high {
            select {
                background-color: $dark-red;
                border-color: $dark-red;
            }
        }

        select[disabled] {
            border-color: $grey-3;
            color: $slate;
        }

        option {
            color: $slate;
            background-color: $white;
            padding: .4rem 1rem;
        }
    }

    &__calculated {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0 0 0.5rem;

        &.none {
            margin: .8rem 0;
            font-weight: normal;
        }

        &.low {
            color: $cyan;
        }
        &.medium {
            color: $light-orange;
        }
        &.high {
            color: $light-red;
        }
        &.very-high {
            color: $dark-red;
        }
    }

    &__heatmap {
        margin-top: 2rem;

        &-toggle {
            color: $ui-blue;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            line-height: 0;

            &:hover {
                color: darken($ui-blue, 10%);
                text-decoration: none;
            }

            i {
                margin-left: .4rem;
            }
        }
    }

    &__textarea {
        @include textArea;
        width: 100%;
    }

    &__submit {
        @include button('primary');
        margin-left: auto;

        &-container {
            text-align: right;
            display: flex;
            flex-flow: row nowrap;
        }
    }

    &__delete {
        @include button;
        margin-right: auto;
    }
}
