.modal-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .align-left {
        float: left;
        flex: 1 1 auto;
    }

    .align-right {
        float: right;
        flex: 0 0 auto;
    }
}

.error {
    color: $light-red;
    text-align: center;
    margin: 0.6rem 0 0;
}

.modal-full-height {
    height: 100%;
    .modal-content {
        height: 100%;
    }
}

@media (min-width: $medium) {
    .modal-full-height {
        width: 90rem;
    }
}

.modal-content {
    // HACK: This was put in place as an intermediary for the Modal --> component conversion.
    // This entire file should be deleted once everything is converted.
    @extend .one-modal;
    max-height: none;

    display: flex;
    min-height: 1px;
    flex-flow: column nowrap;

    .modal-header,
    .modal-footer {
        min-height: 1px;
        flex: 0 0 auto;
    }

    .modal-body {
        min-height: 1px;
        // max-height: calc(100vh - 20rem);
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .text-danger {
        color: $light-red;
    }
    .modal-body {
        .form-group .btn {
            margin-left: 0;
        }

    }
}

.select-icon-modal {
    .btn {
        border: none;
    }
}

.project-assignment-modal {

    .current-assignment-message {
        margin-bottom: 1rem;
    }

    .assignment-message {
        border: none;
        border-radius: 0;
        margin: 1rem 0;
        text-align: center;
    }

    .assignment-form {

        &.form-group {
            flex: 1 1 auto;
        }

        label {
            flex: 1 1 auto;
            margin: 0 0 1rem;
        }

        .assignment {

            input {
              min-height: 3.8rem;
            }
        }

        textarea {
            @include textArea;
            width: 100%;
        }
    }

    .modal-footer{
        justify-content: center;
        display: inline-flex;
        width: 100%;
    }
}

.question-comments-modal {

    height: 500px;
    overflow-y: hidden;
    position: relative;

    .modal-header {
        position: relative;
        width: 100%;
    }

    .modal-body {
        height: 75%;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;

        .empty-placeholder {
            color: gray;
            text-align: center;
        }
    }

    .modal-footer {
        .btn-success {
            padding-bottom: 6px;
            padding-top: 6px;
        }
    }
}

#pia-forgotPassword {
    margin: 100px auto;
}

.edit-question {

    .modal-container {
        display: flex;
        flex-direction: row;

        .view-edit {
            width: 50%;
            padding-right: 20px;
            color: #777;

            .form-group {
                label {
                    width: 25%;
                    display: inline-flex;
                    align-items: center;

                    sup {
                        position: relative;
                        font-size: 7px;
                        top: -10px;
                    }
                }

                input {
                    border: 2px solid #ccc;
                }

                .option {
                    margin: 1px 0 0 7px;
                }

            }

            .add-option {
                margin-top: 20px;

                div {
                    display: flex;
                    flex-direction: row;
                }

                .add {
                    background-color: #337ab7;
                    color: $paper;
                }
            }

            ng-form {
                margin-left: 20%;

                div {
                    margin: 2px 0;
                }
            }

            button {
                border: 2px solid #ccc;
                margin-left: 0px;

                i {
                    color: $paper;
                }

                &.checkbox {
                    @include checkbox;
                }
            }

            .option-delete {
                margin-left: -13px;
                background-color: #ccc;
            }
        }

        .view-example {
            width: 50%;
            margin-bottom: 0;
            border-radius: 0;
            border: none;
            overflow: hidden;

            .example-item {

                .other {
                    margin-bottom: -2px;
                    width: 100%;
                    max-width: 600px;

                    form {
                        width: 100%;

                        .editable-controls {
                            width: 100%;

                            input {
                                height: inherit !important;
                                width: 100% !important;
                                box-shadow: none;
                                border: 2px solid #ccc;
                                margin-left: 0px;
                                margin-top: 2px;
                            }

                            button {
                                width: 10%;
                                margin-left: 4px;
                                width: 40px;
                                min-width: 40px;

                                span {
                                    top: 3px;
                                }
                            }
                        }
                    }

                    button {
                        height: 20px;
                        padding: 16px;
                        padding: 5px 10px 25px 12px;
                        font-weight: normal;
                        font-weight: inherit;
                        font-style: normal;
                        margin-bottom: 4px;

                        &.btn-primary {
                            color: #fefefe;
                        }
                    }
                }

                sup {
                    position: relative;
                    font-size: 7px;
                    top: -10px;
                    left: -7px;
                }
                i {
                    font-size: 15px;
                }
                button {
                    min-width: 200px;
                    margin: 2px 0;
                    border: 2px solid #ccc;
                    text-align: left;
                    outline: none;
                    box-shadow: none;
                    width: 100%;
                }

                .question-content {

                    textarea {
                        border: 2px solid #ccc;
                        margin-bottom: 3px;
                        min-width: 200px;
                        max-width: 100%;
                    }
                }

                .question-yesNo {

                    .btn-group {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 8px;

                        .yes {
                            border-radius: 0;
                            border: 2px solid #ccc;
                            margin-right: 10px;
                            width: 60px;
                            outline: none;
                        }

                        .no {
                            border-radius: 0;
                            border: 2px solid #ccc;
                            width: 60px;
                            outline: none;
                        }
                    }
                }

                .question-multiselect {

                    ul {
                        min-width: 200px;
                        max-width: 600px;
                        margin-bottom: 0px;

                        li {
                            width: 100%;
                            min-width: 200px;

                            .option-container {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;

                                label {
                                    margin: -8px 0;
                                    border: 2px solid #ccc;
                                    outline: none;
                                    text-align: left;
                                    white-space: normal;
                                }
                            }
                        }
                    }

                    select {
                        width: 100%;
                        border: 2px solid #ccc;
                        border-radius: 0px;
                        margin-bottom: 3px;
                    }
                }

                .question-other {

                    .input-group {
                        display: flex;
                        flex-direction: row;

                        div {
                            width: 10%;
                            margin: 0 13px 0 0;

                            button {
                                width: 40px;
                                min-width: 40px;
                            }
                        }

                        input {
                            width: 90%;
                            margin: 2px 0 0 -13px;
                            border: 2px solid #ccc;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

.create-template {

    form {

        .input-container {
            width: 66%;

            input {
                border: 2px solid #ccc;
                outline: none;
            }
        }

    }

    .form-horizontal sup {
        top: -7px;
    }
}

.project-history-modal {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;

    .modal-header {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        min-height: 6.6rem;
        padding: 15px 2rem;

        .align-left {
            float: none;
            flex: 1 1 auto;
            min-width: 1px;
        }

        .align-right {
            float: none;
            flex: 0 0 6rem;
            text-align: right;
        }
    }

    .project-metadata {
        padding-bottom: 10px;
    }

    .label {
        font-size: 1.3rem;
    }

    .modal-body {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 10px;
        position: relative;

        .panel-body {
            #projectHistory {
                .row.table.table-responsive.history-table {
                    margin: 0;
                }
            }
        }
    }
}

.question-history-modal {
    max-height: 500px;
    height: 500px;
    position: relative;

    #questionHistory {

        .modal-header {
            position: relative;
            width: 100%;
        }

        .project-metadata {
            padding-bottom: 10px;
        }

        .modal-body {
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 10px;
            position: relative;
            height: 87%;

            .panel-body {
                #projectHistory {
                    .row.table.table-responsive.history-table {
                        margin: 0;
                    }
                }
            }
        }

        .description {
            max-width: 30rem;
            width: 30rem;

            &--short {
                height: 5.6rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .bold {
                font-weight: bold;
                word-wrap: break-word;
            }
        }

        .long-value {
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .read-more {
            display: none;
        }

        .read-less {
            display: inline-block;
        }

        .read-more,
        .read-less {
            border: 0;
            background: 0;
            margin-left: 0.4rem;
            text-transform: uppercase;
            font-size: 1rem;
            color: $ui-blue;

            span {
                margin-right: .6rem;
            }
        }

        .truncate-values {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;

            .history-modal__cell {
                max-height: 4rem;
            }

            .read-more {
                display: inline-block;
            }

            .read-less {
                display: none;
            }
        }

        td,
        th {
            vertical-align: middle;

            &.align-top {
                vertical-align: top;
            }
        }
    }
}

.history-modal {
    display: flex;
    flex-flow: column nowrap;

    &__header {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        min-height: 6.6rem;
        padding: 15px 2rem;

        .align-left {
            float: none;
            flex: 1 1 auto;
            min-width: 1px;
        }

        .align-right {
            float: none;
            flex: 0 0 6rem;
            text-align: right;
        }
    }

    &__body {
        flex: 1 1 auto;
        overflow-y: auto;

        &.modal-body {
            padding: 2rem;
        }
    }

    &__metadata {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;

        &-item {
            flex: 1 1 12%;
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__filters {
        background-color: $grey-1;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding: 1.4rem 2rem;
        margin: 0 -2rem;
    }

    &__select {
        width: 16rem;
        height: 3.6rem;
        padding-left: 1rem;
        border: 1px solid $grey-3;
        box-shadow: none;
        -webkit-appearance: none;
        border-radius: 2px;
        border: 1px solid $grey-1;
        background-color: $white;
        color: $slate;
        -moz-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {display: none;}
        &-container {
            position: relative;
            margin-right: 1rem;
        }

        &-arrow {
            position: absolute;
            right: 1.4rem;
            top: 50%;
            transform: translateY(-50%);
            color: $slate;
            pointer-events: none;
        }
    }

    &__search {
        background-color: $white;
        width: 16rem;
        height: 3.6rem;
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid $grey-1;
        border-radius: 2px;
        margin: 0 2rem 0 0;

        label {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 1.6rem;
            padding: 0.5rem 1rem;
        }

        i {
            color: $grey-4;
            margin-bottom: 0.2rem;
        }

        &-input {
            border: 0;
            flex: 1 1 auto;
            box-shadow: none;
            padding: 0 1.6rem 0 0;
            text-align: left;
            width: 100%;
        }
    }

    &__table {
        padding: 1.4rem 0;
        overflow-x: auto;

        table {
            margin: 0;
        }
    }
}

.deadlines-modal {

    form {

        &-group {
            margin-bottom: 15px;
        }

        .deadlinePicker {
            display: inline-flex;
            justify-content: flex-start;
            .datePicker {
                width: 250px;
            }
            .deadlineTooltip {
                align-self: center;
            }
        }

        .reminder {
            display: inline-flex;
            justify-content: flex-start;
            &-none {
                @include checkbox;
            }
            &-input {
                margin-left: 10px;
                width: 50px;
                padding-left: 12px;
                text-align: center;
            }
            &-message{
                margin-left: 10px;
                align-self: center;
            }
        }

        .button-container {
            text-align: right;
        }
    }
}

.activate-user-modal {

    .button-container {
        text-align: right;
        button {
            @include button();
            &.success{
                @include button( 'primary', $green);
            }
        }
    }

    .form-group {
        text-align: center;
    }
}

@import 'save-question-modal',
        'add-statement-modal',
        'add-section-modal',
        'comments-modal',
        'conditional-modal',
        'comments-modal',
        'select-icon-modal',
        'attachment-modal',
        'needs-info-modal',
        'add-info-modal',
        'view-info-added-modal',
        'analysis-modal',
        'next-steps-modal',
        'send-back-modal',
        'upgrade-modal',
        'help-modal',
        'exceptions-modal',
        'certification-modal',
        'tasks-modal',
        'directory_add_modal';
