.preferences {

    &__loading {
        min-height: 35.5rem;
    }

    &__section {
        margin-bottom: 1.6rem;
    }

    &__label {

        i {
            margin-left: .6rem;
        }
    }
    &__dropdown {
       flex: none;
       display: inline;
       margin: 0 auto;
       &-container{
           margin: 2rem auto;
           text-align: center;
       }
       &-headline {
           font-size: 1.4rem;
           color: $slate;
           margin-bottom: 1rem;
       }
   }

        select[disabled] {
            border-color: $grey-3;
            color: $slate;
        }

        option {
            color: $slate;
            background-color: $white;
            padding: .4rem 1rem;
        }

    &__textarea {
        @include textArea;
        width: 100%;
    }
}
