.save-question {

    .modal {
        &-header {
            padding: 1rem;

            @media(min-width: $small){
                padding: 2rem;
            }
        }

        &-body {
            padding: 1rem;
            height: 50rem;

            @media(min-width: $small){
                padding: 2rem;
            }
        }

        &-container {
            height: 43rem;
            display: flex;
            overflow-y: scroll;
            flex-direction: column;

            @media(min-width: $small){
                flex-direction: row;
                overflow-y: visible;
                height: 40rem;
            }

        }

        &-footer {
            padding: 1rem 0 0;

            @media(min-width: $small){
                padding: 2rem 0 0;
            }
        }
    }

    &__view-edit {
        width: 100%;
        color: #777;

        @media(min-width: $small){
            width: 50%;
            max-height: 40rem;
            overflow-y: auto;
            padding-right: 2rem;
        }

    }

    &__view-example {
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;

        @media(min-width: $small){
            width: 50%;
            max-height: 40rem;
            overflow-y: auto;
            padding-left: 2rem;
            border-left: 1px solid $grey-1;
        }

        .example-item {
            background-color: #F8F8F8;
            border-radius: .5rem;
            padding: 1rem 2rem;
            &.datamap {
                padding: 1rem 2rem 1rem 6rem;
                .main {
                    .question__name {
                        margin: 0 0 0 -3rem;
                    }
                }
            }

            &.ql-editor {
                p {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .required {
        color: $light-red;
    }

    &__type {
        width: 100%;
    }

    &__checkbox {
        @include checkbox;
        height: 2.4rem;
        width: 2.4rem;
    }

    &__form {
        width: 100%;
        margin: 0.5rem 0;
        width: 100%;
    }

    &__set-form {
        display: none;
    }

    &__group {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1rem;

        @media(min-width: $small){
            flex-flow: row nowrap;
            margin-bottom: 2rem;
        }

        &--vertical-center {
            align-items: center;
        }

        &--options {
            .add-question__label {
                padding-top: 1rem;
            }
        }

        &--filter {
            flex-flow: column nowrap;
        }
    }

    &__checkboxes {
        display: flex;
        flex-flow: row wrap;
        margin-top: 3rem;

        &-group {
            flex: 1 1 100%;
            max-width: 100%;
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 1rem;

            @media (min-width: $medium) {
                flex: 1 1 50%;
                max-width: 50%;
                padding-right: 1rem;
            }

            &:nth-child(2n) {
                @media (min-width: $medium) {
                    padding-left: 1rem;
                    padding-right: 0;
                }
            }

            &--column {
                flex-flow: column nowrap;
            }
        }

        &-item {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            &--indent {
                padding-left: 3.6rem;
                position: relative;

                .add-question__checkbox {
                    height: 1.8rem;
                    width: 1.8rem;

                    i {
                        font-size: 1.2rem;
                    }
                }

                .add-question__checkboxes {

                    &-input {
                        margin-right: 0.8rem;
                    }

                    &-label {
                        padding-top: 0.1rem;
                    }
                }
            }
        }

        &-input {
            flex: 0 0 auto;
            margin-right: 1.2rem;
        }

        &-label {
            padding-top: .4rem;
        }

        &-spacer {
            position: absolute;
            width: 2.4rem;
            height: 0;
            border-top: 1px solid $grey-3;
            left: 0;
            top: 1rem;
        }
    }

    &__filter {
        padding-left: 1rem;
    }

    &__label {
        flex: 0 0 12rem;
        padding-right: 2rem;
        font-weight: normal;
        margin: 0;

        .required {
            position: relative;
            font-size: 7px;
            top: -10px;
        }

        &--filter {
            flex: 0 0 auto;
            padding-bottom: 1rem;
        }
    }

    &__entry {
        flex: 1 1 auto;
        width: 100%;
    }

    &__option {
        margin-bottom: .6rem;

        &-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        &-input {
            flex: 1 1 auto;
        }

        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--hint-wrapper {
            margin: .6rem 6rem 0 0;
        }

        &--hint {
            flex: 1 1 auto;
            padding: 0.7rem 1rem 0.4rem;
            border: 1px solid $grey-3;
            resize: none;
            overflow: hidden;
            height: 3.6rem;
        }

        &--hint-icon {
            margin: 0.5rem 1rem;
        }

        &-icon {
            flex: 0 0 3rem;
            font-size: 2rem;

            .fa {
                outline: none;
            }
        }
    }

    &__error {
        color: $light-red;
        margin: .6rem 0 0;
    }

    &__preview-label {
        display: block;
    }

    .add-question__preview-label {
        margin-bottom: 1rem;
    }

    &__footer {
        &-btn {
            &--submit {
                margin-right: 1rem;
                &[disabled] {
                    background-color: $grey-4;
                    border-color: $grey-4;
                    pointer-events: none;
                }
            }
        }
    }

    &__loading {
        height: 40rem;

        &__text {
            margin: 0;
        }
    }
}
