.select-icon {

    .modal-header,
    .modal-body {
        padding: 2rem;
    }

    .modal-footer {
        padding: 2rem 0 0;
    }

    &__close {
        background: 0;
        border: 0;
    }

    &__list {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        display: inline-block;
        flex: 0 0 auto;

        &.current {
            i {
                color: $ui-blue;
            }
        }
    }

    &__btn {
        border: 0;
        background: 0;
        padding: 2rem;

        &:hover {

            i {
                color: $ui-blue;
            }
        }
    }

    &__icon {
        font-size: 3rem;
    }
}
