//////////////////////////////////////////////////////////////////////////////////////////////
// Send Back Modal
//////////////////////////////////////////////////////////////////////////////////////////////
.send-back {
    text-align: left;

    &__label {
        margin: 1rem 0 .6rem;
    }

    &__textarea {
        @include textArea;
        width: 100%;
        max-width: 100%;
        min-height: 10rem;
        margin: .6rem 0;
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        margin: .6rem 0 1rem;
        justify-content: flex-end;
    }
}
