.tasks-modal {
    height: 100%;

    .modal-body {
        padding: 2rem;
        .modal-footer {
          padding: 2rem 0 0;
        }
        .tasks-create,
        .tasks-update {
            .task-info {

                .md-thumb {
                    background-color: $grey-1;
                }

                .md-ink-ripple {
                    color: $grey-1;
                }

                .md-bar {
                    background-color: #ccc;
                    height: 16px;
                }

                .md-button.md-icon-button {
                    margin: 0 1rem 0 0;
                    height: auto;
                    padding: 0;
                    width: auto;
                }

                .dueDatePicker,
                .reminderPicker {
                    .deadlineTooltip,
                    .dueDateTooltip,
                    .reminderTooltip {
                        align-self: center;
                    }
                }
                height: 100%;

                &__form {
                     margin: auto;
                     max-width: 70rem;

                    &-group {
                        display: flex;
                        flex-flow: row wrap;
                        margin-bottom: 2rem;

                        &:last-child {
                          margin-bottom: 0;
                        }

                        &--datePickers {
                            flex-direction: column;
                            flex: 1 1 auto;
                            flex-wrap: wrap;
                            display: flex;
                            margin-bottom: 2rem;
                        }
                    }
                }

                &__headline {
                    text-align: center;
                    margin-bottom: 4rem;
                }

                &__read-only-text {
                    margin: 0;
                }

                &__text {
                    margin: 0;
                }

                &__label {
                    flex: 1 1 100%;
                    margin: 0 0 1rem;
                    @media(min-width: $small) {
                        margin: 0.8rem 0 0;
                        flex: 0 0 10rem;
                    }

                    &--text {
                        margin: 0;
                    }

                    &__sup {
                        position: relative;
                        font-size: 7px;
                        top: -10px;
                        color: $light-red;
                    }

                    i {
                        margin-left: 0.6rem;
                    }
                }

                &__input-group {
                    flex: 1 1 auto;

                    input {
                        height: 3.8rem;
                    }

                    textarea {
                        @include textArea;
                        display: block;
                        max-width: 100%;
                        width: 100%;
                        min-height: 7rem;
                        padding: 0.8rem;
                    }

                }

                &__reminder {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    height: 3.8rem;

                    &-btn {
                        @include checkbox;
                        height: 2.2rem;
                        width: 2.2rem;
                        flex: 0 0 2.2rem;
                        margin-right: 1rem;

                        i {
                            font-size: 1.4rem;
                        }
                    }

                    &-input {
                        flex: 0 0 8rem;
                        margin-right: 1rem;
                    }
                }

                &__error {
                    color: $light-red;
                    margin: 0.6rem 0 0;
                }

                &__message {
                    border: none;
                    border-radius: 0;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                &__loading {
                    .one__loading__icon {
                        color: $white;
                        margin: 0;
                    }
                }

                &__has-error {
                    input {
                        border-color: $light-red;
                    }
                }

            }
        }
    }

}

.tasks {
    &__loading {
        min-height: 25rem;
    }

    &-view {
        padding: 0;
        max-height: 50rem;

            &__table-wrapper {
                    padding: 0;
                    margin: 1rem 0;
                    box-shadow: none;
                    position: relative;
                    opacity: 0;

                    &.is-showing {
                        opacity: 1;
                        transition: opacity 0.5s ease;

                        h2.no-tasks {
                          text-align: center;
                          margin: 0 auto;
                          font-size: 3rem;
                          color: $grey-3;
                        }
                    }
                }

        &__create {
            @include button('primary');
            i {
                margin: 0;
            }
            height: 4rem;
            min-width: 8rem;

            &__loading {
                .one__loading__icon {
                    color: $white;
                    margin: 0;
                }
            }

        }

        &__cancel {
            @include button;
            i {
                margin: 0;
            }
            height: 4rem;
            margin-right: 1rem;
            margin-left: auto;
        }

        &__add {
            flex: 0 0 auto;
            background-color: $green;
            color: $white;
            height: 3.6rem;
            border: 0;
            border-radius: 2px;
            width: 4rem;
            @media (min-width: $small) {
                padding: 0 1.2rem;
                min-width: 16rem;
                width: auto;
            }

            &:hover {
                background-color: darken($green, 10%);
            }

            &-text {
                display: none;
                @media (min-width: $small) {
                    display: inline-block;
                }
            }

            &__filter {
                position: relative;
                flex: 0 0 14rem;
                max-width: 14rem;

                @media (min-width: $small) {
                    margin-right: 1rem;
                    flex: 0 0 16rem;
                    max-width: 16rem;
                }
            }

            &-list {

                &__table {

                    &-wrapper {
                        padding: 0;
                        margin: 2rem 1rem 1rem;
                        box-shadow: none;
                        overflow-x: auto;
                        position: relative;
                        opacity: 0;

                        &.is-showing {
                            opacity: 1;
                            transition: opacity .5s ease;
                        }
                    }
                }

                &__loading {
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    .one__loading__icon {
                        margin: 0;
                    }

                    &__icon {
                        color: $grey-4;
                        font-size: 2rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }

                    &__text {
                        color: $slate;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }

    .module-wrapper {
        overflow-y: auto;
        padding: 0;
    }

}

.tasks {

    &__table {
        border: 1px solid $table-cell-border;
        color: $slate;
        table-layout: auto;
        border-collapse: collapse;
        margin: 0;
        box-shadow: none;
        text-align: left;
        width: 100%;

        &-header {
            border-bottom: 2px solid $table-cell-border;
            font-weight: bold;

            .fa {
                font-size: 16px;
            }

            &-row {
                background-color: $white;
            }

            &-cell {
                background-color: $white;
                padding: 1rem;
                text-align: center;

                &:last-child {
                    border-right: 0;
                }

                &-link {
                    color: $slate;
                    white-space: nowrap;

                    &:hover {
                        text-decoration: none;
                    }

                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }

        &-row {
            background-color: $table-cell-light;
            border-bottom: 1px solid $table-cell-border;

            &:hover {
                background-color: $table-cell-dark;
                padding: 2rem inherit;
            }
        }

        &-cell {
            outline: none;
            padding: 0 0.7rem;
            border: 0;
            border-right: 1px solid $table-cell-border;

            .status {
                font-size: 30px;
            }

            .complete {
                color: $cyan;
            }

            .open {
                color: $light-red;
            }
        }
    }

    &__name {
        &-text {
            font-weight: bold;
        }
    }

    &__duedate {
        &-text {
            text-align: center;
            white-space: nowrap;
        }
    }

    &__actions {
        padding: 1rem;
        white-space: nowrap;
        text-align: center;

        .action__button__container {
            display: inline-block;
            padding: 4px;

            .not-allowed {
                cursor: not-allowed;
            }
        }

        &-btn {
            background: 0;
            border: 0;
            color: $slate;
            margin-right: 1rem;
            padding: 0;
            flex: 0 0 3rem;
            height: 3rem;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $green;
            }

            &:disabled,
            &[disabled] {
                color: $grey-4;

                &:hover {
                    color: $grey-4;
                }

                i {
                    pointer-events: none;
                }
            }
        }
    }
}

.page-loading {
    color: $slate;
    .one__loading {
        padding-top: 8%;
    }
}
