.info-added {

    &__label {
        font-size: 1.5rem;
        margin: 1rem 0 0.6rem;
    }

    &__comments {
        margin: 0 5rem;
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        margin: 0.6rem 1rem;
        justify-content: center;
    }
}
