//////////////////////////////////////////////////////////////////////////////////////////////
// Analysis
//////////////////////////////////////////////////////////////////////////////////////////////
.analysis-modal {
    margin: 1rem 3rem;
    text-align: left;
    .content {
        &-info {
            margin-bottom: 3rem;
        }
    }
    .submit-buttons {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 3rem;
        .approve {
            margin-right: 1rem;
            @include button();
            &[disabled] {
                opacity: 0.4;
                pointer-events: none;
            }
        }
        .trigger {
            @include button('select');
        }
    }
}
