.help-modal {

    &__header.modal-header {
        padding: 1.5rem 2rem;
    }

    &__body.modal-body {
        padding: 2rem;
    }

    &__description {
        margin: 0 0 1rem;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0;
    }

    &__item {
        @include button;
        flex: 1 1 49%;
        max-width: 49%;
        margin-top: 1rem;
        text-align: center;

        &.select {
            @include button(select);
        }
    }

    &__footer {
        margin: 3rem 0 0;
        padding-top: 2rem;
        border-top: 1px dashed $grey-1;

        &.formOnly {
            margin: 0;
            padding-top: 0;
            border-top: 0;
        }
    }

    &__form {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    &__label {
        display: block;
        text-align: center;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    &__textarea {
        @include textArea;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    &__error {
        color: $light-red;
        text-align: center;
    }

    &__message-transparency {
        color: $grey-4;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__thanks {
        text-align: center;

        &-title {
            margin: 0 0 0.4rem;
        }

        &-text {
            margin: 0;
        }
    }
}
