//////////////////////////////////////////////////////////////////////////////////////////////
// Next Steps
//////////////////////////////////////////////////////////////////////////////////////////////
.next-steps {
    width: 100%;
    padding: 1rem 3rem;

    &__info {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        &--main {
            font-size: 2rem;
        }
        &--comments {
            margin-bottom: 0;
        }
    }

    &__comments {
        @include textArea;
        margin-bottom: 1rem;
        width: 100%;
    }

    &__error {
        color: $light-red;
        text-align: center;
    }

    &__banner {
        margin: 1rem -4rem 2rem;
        padding: 1rem 4rem;
    }

    &__button-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 1rem;
        &--right {
            justify-content: flex-end;
        }
        one-button {
            margin-left: 0.5rem;
        }
    }

    &__button {
        white-space: normal;
        flex: 1 0 auto;
        max-width: 26rem;
        font-weight: bold;
        position: relative;

        &:first-child {
            margin-right: 0.5rem;
        }

        &:last-child {
            margin-left: 0.5rem;
            width: inherit;
        }
        &-text {
            font-size: 1.4rem;
            margin: 0;
            &--main {
                font-size: 2rem;
            }
        }
        &-icon {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
    }

    .one__loading__icon {
        margin-bottom: inherit;
    }
}
