.upgrade-modal {

    &__body {
        min-height: 35rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: $grey-1;

        &.modal-body {
            padding: 1.6rem;
        }
    }

    &__container {
        background-color: $white;
        width: 100%;
        min-height: 35rem;
        border: 1px solid $grey-3;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 2rem;
        border-radius: 4px;
        position: relative;
        flex-grow: 1;
    }

    &__icon {
        color: $white;
        font-size: 2.6rem;
        margin-bottom: 0.2rem;

        &-container {
            margin: 0 auto 1.6rem;
            border-radius: 50%;
            background-color: $green;
            width: 6rem;
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        margin: 0 0 1.8rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $grey-1;
        font-size: 2.8rem;
        text-align: center;

        &--thanks {
            border-bottom: 0;
            padding-bottom: 0;
            margin: 0 0 .6rem;
        }

        &--video {
            border-bottom: 0;
            padding-bottom: 0;
            margin: 0 0 .6rem;
        }
    }

    &__text {
        margin: 0 0 1rem;
    }

    &__features {
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding-bottom: .6rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $grey-1;
    }

    &__list {
        margin: 0;
        flex: 1 1 50%;
        text-align: left;
        padding-left: 4rem;

        &-item {
            list-style-type: disc;
            line-height: 1.6rem;
            margin-bottom: 1.4rem;
        }
    }

    &__form {
        width: 100%;
        max-width: 100%;
        padding: 0 2rem;
    }

    &__group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__label {
        flex: 0 0 11rem;
        text-align: left;
        margin: 0;

        .required {
            color: $light-red;
        }
    }

    &__input {
        flex: 1 1 auto;

        &.has-error {
            border-color: $light-red;
        }
    }

    &__error {
        color: $light-red;
        text-align: left;
        display: block;
        padding-left: 11rem;
    }

    &__back-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 2.5rem;
        background: none;
        color: $slate;
        padding: 0;
        cursor: pointer;
        border: 0;
    }

    &__close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        background: none;
        color: $slate;
        padding: 0;
        cursor: pointer;
        border: 0;
    }

    &__submit {
        padding: 1rem;
    }
}
