.ot-bulk-import {
    height: 100%;
    &__success {
        color: $green;
    }

    &__main {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    .slds-badge {
        min-width: auto;
    }
}
