<section class="flex-full-height flex-column height-100 ot-bulk-import">
    <ng-container *ngIf="!ready; else readyState">
        <ot-loading
            otPageLoading
            class="flex-full-height"
        ></ot-loading>
    </ng-container>
    <ng-template #readyState>
        <ot-page-header [title]="'BulkImport' | translate">
            <button
                otButton brand
                class="margin-left-1"
                ot-auto-id="newImportButton"
                [innerText]="'NewImport' | translate"
                (click)="newImport()"
            ></button>
        </ot-page-header>
        <div class="ot-bulk-import__main">
            <ng-container *ngIf="table.data.length; else noImportState">
                <ng-container *ngIf="isLoaded; else loading">
                    <table
                        otDataTable
                        class="border-top-none text-center"
                        [rowData]="table.data"
                        [truncateCellContent]="true"
                        [sortable]="true"
                        [rowBordered]="true"
                        (sortChanged)="handleSortChange($event)"
                    >
                        <ng-container *ngFor="let col of table.columns">
                            <ng-container *ngIf="col.id === 'Result'; else statusColumn">
                                <ot-data-table-column
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [headerLabel]="col.columnName"
                                    [sortable]="col.isSortable"
                                    [sortKey]="col.sortName"
                                    [styles]="{th: {width: col.size.width || 'auto'}}"
                                >
                                    <ng-template otDataTableCell let-row="row" let-column="column">
                                        <div *ngIf="row.ErrorCount; else noErrors">
                                            <a
                                                *ngIf="!row.isDownloading"
                                                ot-auto-id="bulkImportErrorDownload"
                                                (click)="downloadUploadStatus(row)"
                                            >
                                                <ng-container *ngIf="row.ErrorCount === 1; else errors">
                                                    <span title="{{row.ErrorCount}} {{'ErrorsInImport' | translate}}">{{'Error' | translate}}</span>
                                                </ng-container>
                                                <ng-template #errors>
                                                <span title="{{row.ErrorCount}} {{'ErrorsInImport' | translate}}">
                                                    {{row.ErrorCount}} {{'Errors' | translate}}
                                                </span>
                                                </ng-template>
                                            </a>
                                            <span *ngIf="row.isDownloading">
                                            <ot-loading class="align-start"></ot-loading>
                                        </span>
                                        </div>
                                        <ng-template #noErrors>
                                            <div *ngIf="row.Status === ('Completed' | translate)">
                                                <i class="ot ot-check ot-bulk-import__success" title="{{'ImportSuccessfulWithNoErrors' | translate}}"></i>
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                            <ng-template #statusColumn>
                                <ng-container *ngIf="col.id === 'Status'; else defaultColumn">
                                    <ot-data-table-column
                                        [cellValueKey]="col.cellValueKey"
                                        [column]="col"
                                        [headerLabel]="col.columnName"
                                        [sortable]="col.isSortable"
                                        [sortKey]="col.sortName"
                                        [styles]="{th: {width: col.size.width || 'auto'}}"
                                    >
                                        <ng-template otDataTableCell let-row="row" let-column="column">
                                            <div [style.width]="col.size.width">
                                                <ng-container [ngSwitch]="row.StatusId">
                                                <span
                                                    [otBadge]="'warning'"
                                                    *ngSwitchCase="1"
                                                    title="{{row[column.cellValueKey]}}"
                                                >
                                                    {{row[column.cellValueKey]}}
                                                </span>
                                                <span
                                                    [otBadge]="'hold'"
                                                    *ngSwitchCase="2"
                                                    title="{{row[column.cellValueKey]}}"
                                                >
                                                    {{row[column.cellValueKey]}}
                                                </span>
                                                <span
                                                    [otBadge]="'destructive'"
                                                    *ngSwitchCase="3"
                                                    title="{{row[column.cellValueKey]}}"
                                                >
                                                    {{row[column.cellValueKey]}}
                                                </span>
                                                <span
                                                    [otBadge]="'success'"
                                                    *ngSwitchDefault
                                                    title="{{row[column.cellValueKey]}}"
                                                >
                                                    {{row[column.cellValueKey]}}
                                                </span>
                                                </ng-container>
                                            </div>
                                        </ng-template>
                                    </ot-data-table-column>
                                </ng-container>
                            </ng-template>
                            <ng-template #defaultColumn>
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [sortable]="col.isSortable"
                                    [sortKey]="col.sortName"
                                    [styles]="{th: {width: col.size.width || '30rem'}}"
                                >
                                    <ng-template otDataTableCell let-row="row" let-column="column">
                                        <div class="slds-truncate" [style.maxWidth]="col.size.width">
                                            <span title="{{row[column.cellValueKey]}}">{{row[column.cellValueKey]}}</span>
                                        </div>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-template>
                        </ng-container>
                    </table>
                </ng-container>
                <ng-template #loading>
                    <div class="flex-full-height height-100 justify-center">
                        <ot-loading
                            otPageLoading
                        ></ot-loading>
                    </div>
                </ng-template>
            </ng-container>
            <ng-template #noImportState>
                <div class="flex-full-height">
                    <ot-empty-state
                        [emptyStateMessage]="'NoExistingImport' | translate"
                        class="margin-top-bottom-auto align-center full-width"
                    >
                        <img emptyStateImg />
                    </ot-empty-state>
                </div>
            </ng-template>
        </div>
        <footer otPaginationFooter class="background-white" *ngIf="table.data.length">
            <ot-pagination
                [currentPage]="pagination.currentPage"
                [numPages]="pagination.totalPages"
                [handleOffset]="true"
                (pageChanged)="fetchPage($event)"
            ></ot-pagination>
        </footer>
    </ng-template>
</section>
