.collection-point-report {
    padding-top: 8rem;
    background: $paper-gray;

    &--counts {
      padding: 3rem 9rem;
    }

    &--count {
        font-size: 32px;
        line-height: 43px;
    }

    &--legend {
        border: none !important;
    }

    &--overallconsent {
        margin-top: -3rem;
        margin-bottom: 3rem;
    }
}