<ot-loading otPageLoading *ngIf="!report && !reportTimedOut"></ot-loading>
<section
    class="collection-point-report padding-top-bottom-3 padding-left-right-2 flex-full-height"
    *ngIf="report && report.TransactionCount"
    >
    <div class="flex-full-width overflow-y-auto row-wrap-space-between">
        <div class="flex-full-50 min-width-60">
            <div class="collection-point-report--counts flex-full-width margin-left-right-1 flex-shrink background-white border border-radius-5 margin-bottom-1 text-center">
                <div class="width-50-percent border-right">
                    <span class="collection-point-report--count text-thin">{{ receiptCount }}</span>
                    <p class="text-bold margin-top-half">{{'TotalReceipts' | otTranslate}}</p>
                </div>
                <div class="width-50-percent">
                    <span class="collection-point-report--count text-thin">{{ transactionCount }}</span>
                    <p class="text-bold margin-top-half">{{'TotalTransactions' | otTranslate}}</p>
                </div>
            </div>
            <div class="min-height-8 padding-all-2 margin-left-right-1 background-white border border-radius-5 margin-bottom-1 overflow-hidden">
                <h5 class="text-bold">{{'TransactionByStatus' | otTranslate}}</h5>
                <cr-pie-graph
                    [id]="'transactionsByStatusGraph'"
                    [graphData]="statusGraph"
                    [title]="transactionCount"
                    [titleClass]="'text-thin text-xhuge fill-slate'"
                    [subTitle]="'Transactions'| otTranslate"
                    [subTitleClass]="'text-bold paragraph-medium fill-slate text-uppercase'"
                ></cr-pie-graph>
            </div>
            <div
                class="min-height-8 padding-all-2 margin-left-right-1 background-white border border-radius-5 margin-bottom-1 overflow-hidden"
                *ngIf="hasPurposes"
                >
                <h5 class="text-bold">{{'TransactionByPurpose' | otTranslate}}</h5>
                <cr-pie-graph
                    [id]="'transactionsByPurposeGraph'"
                    [graphData]="purposeGraph"
                    [title]="transactionCount"
                    [titleClass]="'text-thin text-xhuge fill-slate'"
                    [subTitle]="'Transactions'| otTranslate"
                    [subTitleClass]="'text-bold paragraph-medium fill-slate text-uppercase'"
                    [canvasWidth]="700"
                ></cr-pie-graph>
            </div>
        </div>
        <div class="flex-full-50 min-width-60">
            <div class="min-height-8 margin-left-right-1 padding-all-3  background-white border border-radius-5 position-relative">
                <h5 class="text-bold">{{'ConsentRate' | otTranslate}}</h5>
                <one-horseshoe-graph
                    [graphData]="getNoConsentGraph()"
                    [title]="consentRate"
                    [titleClass]="'text-thin'"
                    [subTitleClass]="'text-bold'"
                    [legendClass]="'collection-point-report--legend position-absolute top-0 right-2'"
                ></one-horseshoe-graph>
                <h5 class="collection-point-report--overallconsent text-bold text-center">{{'OverallConsentRate' | otTranslate}}</h5>
                <table otDataTable [rowData]="report.Purposes" *ngIf="hasPurposes">
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{ 'height': '0' }"></ng-template>
                        <ng-template otDataTableCell let-row="row" [tdClass]="'overflow-ellipsis-nowrap max-width-30'">
                            <a (click)="goToPurpose(row)">{{row.Label}}</a>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{ 'height': '0' }"></ng-template>
                        <ng-template otDataTableCell let-row="row" [tdClass]="'width-70-percent padding-left-2'">
                            <div class="slds-progress-bar height-2" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" role="progressbar">
                                <span
                                    class="slds-progress-bar__value slds-progress-bar__value_success background-green"
                                    [ngStyle]="purposeConsentRateClass(row)">
                                </span>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{ 'height': '0' }"></ng-template>
                        <ng-template otDataTableCell let-row="row" [tdClass]="'padding-0'">
                            <span>{{purposeConsentRate(row)}}</span>
                        </ng-template>
                    </ot-data-table-column>
                </table>
            </div>
        </div>
    </div>
</section>
<ot-empty-state
    class="flex-full-height column-vertical-center"
    *ngIf="report && !report.TransactionCount"
    [emptyStateMessage]="'CollectionPointReportNoTransactions' | otTranslate"
    >
    <img emptyStateImg />
</ot-empty-state>
<ot-notification
    class="flex-full-height column-vertical-center margin-top-5 padding-all-5"
    *ngIf="reportTimedOut"
    allowClose="false"
    icon="Warning"
    type="warning"
    >
    {{'CollectionPointReportTimedOut' | otTranslate}}
</ot-notification>