<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddSchedule' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height overflow-x-hidden padding-right-2">
    <ot-loading
        otPageLoading
        class="flex-full-height"
        *ngIf="isLoading; else scheduleForm"
        >
    </ot-loading>
    <ng-template #scheduleForm>
        <div otSettingContainer class="margin-bottom-1">
            <div otFormElement
                class="margin-bottom-1 margin-right-4"
                [label]="'Name' | otTranslate"
                [required]="true"
                >
                <input
                    otInput
                    name="AddReportScheduleNameInput"
                    ot-auto-id="AddReportScheduleNameInput"
                    type="text"
                    [placeholder]="'Name' | otTranslate"
                    [ngModel]="scheduleName"
                    (ngModelChange)="onNameChange($event)"
                />
            </div>
            <div otFormElement
                class="margin-bottom-1 margin-right-4"
                [label]="'Report' | otTranslate"
                [required]="true"
                >
                <ot-lookup
                    ot-auto-id="AddReportScheduleReportSelect"
                    valueKey="id"
                    labelKey="name"
                    [placeholder]="'Report' | otTranslate"
                    [options]="reportOptions"
                    [model]="selectedReport"
                    [hasLazyLoad]="true"
                    [loading]="isLoadingReports"
                    [virtualScroll]="true"
                    (onScrollEnd)="getNextReportPage()"
                    (modelChange)="onReportChange($event)"
                    (inputChange)="reportSearch($event)"
                    >
                </ot-lookup>
            </div>
            <div otFormElement
                class="margin-bottom-2"
                [label]="'Audience' | otTranslate"
                [required]="true"
                >
                <ot-org-user-multi-select
                    ot-auto-id="AddReportScheduleUserSelect"
                    [allowEmail]="false"
                    [userList]="selectedUsers"
                    [fetchOptionsOnClick]="true"
                    [placeholder]="'Audience' | otTranslate"
                    [permissions]="permissions"
                    (onSelect)="onUserChange($event)"
                    >
                </ot-org-user-multi-select>
            </div>
            <section class="padding-top-2 margin-bottom-5">
                <ot-setting
                    [title]="'Frequency' | otTranslate"
                    [description]="'SelectHowOftenTriggerWillOccur' | otTranslate"
                    >
                    <ot-picklist
                        class="full-width align-self-center"
                        ot-auto-id="AddReportScheduleFrequencyDropdown"
                        [placeholder]="'Frequency' | otTranslate"
                        [options]="frequencyOptions"
                        [model]="selectedFrequency"
                        (onSelect)="onFrequencyChange($event)">
                    </ot-picklist>
                    <ot-setting
                        *ngIf="selectedFrequency.value === frequency.Weekly"
                        [title]="'DayOfTheWeek' | otTranslate"
                        [description]="'SelectDayOfWeekActionWillOccur' | otTranslate"
                        >
                        <ot-picklist
                            class="full-width align-self-center"
                            ot-auto-id="AddReportScheduleDayOfTheWeekDropdown"
                            [placeholder]="'DayOfTheWeek' | otTranslate"
                            [options]="dayOfWeekOptions"
                            [model]="selectedDayOfWeek"
                            (onSelect)="onDayOfWeekChange($event)">
                        </ot-picklist>
                    </ot-setting>
                    <ot-setting
                        *ngIf="selectedFrequency.value === frequency.Monthly"
                        [title]="'DayOfTheMonth' | otTranslate"
                        [description]="'SelectDayOfMonthActionWillOccur' | otTranslate"
                        >
                        <ot-picklist
                            class="full-width align-self-center"
                            ot-auto-id="AddReportScheduleDayOfTheMonthDropdown"
                            [placeholder]="'DayOfTheMonth' | otTranslate"
                            [options]="dayOfMonthOptions"
                            [model]="selectedDayOfMonth"
                            (onSelect)="onDayOfMonthChange($event)">
                        </ot-picklist>
                    </ot-setting>
                    <ot-setting
                        [title]="'TimeOfDay' | otTranslate"
                        [description]="('SelectTimeActionWillOccur' | otTranslate) + ' (' + ('AllTimesAreUTC' | otTranslate) + ')'"
                        >
                        <ot-picklist
                            class="full-width align-self-center"
                            ot-auto-id="AddReportScheduleTimeOfDayDropdown"
                            [placeholder]="'TimeOfDay' | otTranslate"
                            [options]="timeOptions"
                            [model]="selectedTime"
                            (onSelect)="onTimeChange($event)">
                        </ot-picklist>
                    </ot-setting>
                    <ot-setting
                        *ngIf="selectedFrequency.value === frequency.Daily"
                        [title]="'ActionOnWeekdayOnly' | otTranslate"
                        [description]="'OnlyActionMondayThroughFriday' | otTranslate"
                        >
                        <ot-toggle
                            class="align-self-center"
                            ot-auto-id="AddReportScheduleWeekdayOnlyToggle"
                            [checked]="weekdayOnly"
                            (toggle)="onWeekdayOnlyChange($event)"
                            >
                        </ot-toggle>
                    </ot-setting>
                </ot-setting>
            </section>
        </div>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="EditOptionCancelButton"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="EditOptionCancelButton"
        [disabled]="!formIsValid"
        (click)="saveSchedule()"
        >
        {{ 'Submit' | otTranslate }}
    </button>
</ot-modal-footer>
