<ot-modal-header (close)="closeModal()">
    <div>{{ 'LaunchDINA' | translate }}</div>
</ot-modal-header>
<ot-modal-content class="padding-all-0 flex-full-height height-100 overflow-x-hidden">
    <form
        class="flex-full-height height-100"
        [formGroup]="incidentCreateDINAForm"
        >
        <div otFormElement
            class="margin-bottom-1"
            [label]="'Name' | translate"
            [required]="true"
            >
            <input
                otInput
                class="stretch-horizontal"
                name="IncidentCreateDINAInput"
                autocomplete="off"
                formControlName="dinaName"
                ot-auto-id="IncidentCreateDINAModalInput"
                [placeholder]="'Name' | translate"
                (keydown.enter)="onLaunch($event)"
            />
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IncidentDINAModalCancel"
        [disabled]="isLoading"
        (click)="closeModal()"
        >{{ 'Cancel' | translate }}
    </button>
    <button otButton brand
        ot-auto-id="IncidentDINAModalSave"
        [disabled]="isLoading || !incidentCreateDINAForm.get('dinaName').valid"
        [loading]="isLoading"
        (click)="onLaunch()"
        >{{ 'Launch' | translate }}
    </button>
</ot-modal-footer>