<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="vendorListForm"
    >
        <div>
            <div otFormElement
                [label]="'Name' | otTranslate"
                [required]="true"
                [hasError]="!vendorListForm.get('versionName').valid && vendorListForm.get('versionName').dirty"
            >
                <input
                    otInput
                    class="full-width"
                    name="versionName"
                    ot-auto-id="VendorListName"
                    [formControlName]="'versionName'"
                    [placeholder]="'Name' | otTranslate"
                />
                <p
                    *ngIf="isDuplicateVersion"
                    class="text-center text-danger"
                    [innerHTML]="'VersionNameExist' | otTranslate"
                ></p>
            </div>
            <div otFormElement
                class="margin-top-2"
                [label]="'Description' | otTranslate"
            >
                <textarea
                    otTextarea
                    name="versionDescription"
                    ot-auto-id="VendorListDescription"
                    rows="5"
                    [formControlName]="'versionDescription'"
                    [placeholder]="'Description' | otTranslate"
                ></textarea>
            </div>
            <div otFormElement
                class="margin-top-2"
                [label]="'ManagingOrganization' | otTranslate"
                [required]="true"
            >
                <ot-lookup
                    ot-auto-id="VendorListManagingOrganization"
                    [clearInputOnModelChange]="true"
                    [options]="organizationsFiltered ? organizationsFiltered : organizations"
                    [model]="selectedOrganization"
                    [labelKey]="'Name'"
                    [valueKey]="'Name'"
                    [multiSelect]="false"
                    [autoClose]="true"
                    [placeholder]="'---------'"
                    (modelChange)="onModelChange($event)"
                    (inputChange)="onInputChange($event)"
                ></ot-lookup>
            </div>
        </div>
        <footer otPageFooter>
            <button
                otButton
                neutral
                class="margin-right-1"
                ot-auto-id="AddVendorModalCancelButton"
                [disabled]="saveInProgress"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="AddVendorModalButton"
                [disabled]="!vendorListForm.valid || !validateOrg || saveInProgress"
                [loading]="saveInProgress"
                [innerText]="btnSaveText"
                (click)="addVendors()"
            ></button>
        </footer>
    </form>
</one-modal-base>
