<ot-modal-header (close)="completeModalEvent($event)">
    <div>{{ 'UpdateStatus' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="margin-0 padding-bottom-5">
    <ot-confirm-modal-icon
        type="success"
        icon ="ot ot-check-square-o"
    ></ot-confirm-modal-icon>
    <div class="min-height-20">
        <p class="justify-center text-center text-bold padding-bottom-1">{{ 'SelectNewStatusForThisControl' | otTranslate}}</p>
        <div>
            <p class="justify-center text-bold">{{ 'ControlStatus' | otTranslate }}</p>
            <ot-picklist
                [placeholder]="'ControlStatus' | otTranslate"
                [options]="riskControlList"
                valueKey="value"
                labelKey="label"
                [model]="selectedRiskControlStatus"
                (onSelect)="selectingRiskStatus($event)"
            ></ot-picklist>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        [disabled]="isUpdating"
        (click)="completeModalEvent()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        [disabled]="isDisabled || isUpdating"
        (click)="onConfirm()"
        >
        {{ 'Confirm' | otTranslate }}
    </button>
</ot-modal-footer>
