<div class="height-100 column-nowrap">
    <ot-page-header
         [title]="('EnableDataSubjectsElementsV2' | otPermit) && module === moduleContext.Inventory ?
            ('InventoryManager' | otTranslate) :
            ('AttributeManager' | otTranslate)"
        >
        <ot-breadcrumb
            class="text-nowrap"
            (routeClicked)="goToListView($event)"
            >
            <ot-breadcrumb-item
                ot-auto-id="AttributeManagerDetailBreadcrum"
                [label]="breadcrumbTitle"
                [link]="breadcrumbRoute"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="title"
                >
            </ot-breadcrumb-item>
        </ot-breadcrumb>
        <div>
            <button
                otButton
                brand
                *ngIf="attributePermissions.canAdd && canEditAttribute"
                [attr.ot-auto-id]="'AttributeManagerEditButton'"
                [innerText]="'EditKey' | otTranslate"
                (click)="editAttribute()"
                >
            </button>
            <button
                otButton
                brand
                *ngIf="attributePermissions.canAdd && isShowingOptionsTab"
                [attr.ot-auto-id]="'AttributeManagerAddOptionsButton'"
                [innerText]="'AddOptions' | otTranslate"
                (click)="addOptions()"
                >
            </button>
        </div>
    </ot-page-header>
    <section class="column-nowrap stretch-vertical">
        <ot-tabs
            *ngIf="isShowingOptionsTab"
            class="padding-top-3 paragraph-medium shadow-header background-white"
            [tabs]="tabs"
            [selectedTab]="currentTab"
            >
            <a
                *otTabItem="let tab"
                (click)="onTabClick(tab)"
                >
                {{tab.text}}
            </a>
        </ot-tabs>
        <ot-loading
            otPageLoading class="margin-all-auto"
            *ngIf="isLoading"
            [text]="'Attributes' | otTranslate"
            >
        </ot-loading>
        <section
            *ngIf="!isLoading"
            class="flex-full-height overflow-y-auto"
            >
            <ng-container *ngIf="currentTab === tabIds.details || !isShowingOptionsTab">
                <attribute-manager-metadata
                    class="flex-full-height"
                    >
                </attribute-manager-metadata>
            </ng-container>
            <ng-container *ngIf="currentTab === tabIds.options">
                <attribute-manager-options
                    class="margin-top-2 shadow"
                    [status]="optionStatuses.Enabled"
                    >
                </attribute-manager-options>
                <attribute-manager-options
                    class="margin-top-2 shadow"
                    [status]="optionStatuses.Disabled"
                    >
                </attribute-manager-options>
            </ng-container>
        </section>
    </section>
</div>
