<section
    *ngIf="pdfReportService.reportView$ | async as view"
    class="centered-max-100 full-width padding-left-right-2"
    >
    <ng-container *ngIf="pdfReportService.reportState$ | async as state">
        <section
            *ngFor="let section of view.layout.sections; trackBy: trackByIndex"
            class="margin-bottom-3"
            >
            <list-group-container
                [text]="section.nameKey ? (section.nameKey | otTranslate) : section.name"
                [isOpen]="state.openSectionMap[section.order]"
                (toggled)="pdfReportService.toggleSection(section)"
                >
                <ng-template #headerIcon>
                    <ng-container [ngSwitch]="section.type">
                        <img *ngSwitchCase="pdfSectionTypes.AssessmentDetail" src="../../../../../images/meta.svg" />
                        <img *ngSwitchCase="pdfSectionTypes.AssessmentQuestion" src="../../../../../images/question.svg" />
                        <img *ngSwitchCase="pdfSectionTypes.AssessmentAllQuestions" src="../../../../../images/question.svg" />
                        <img *ngSwitchCase="pdfSectionTypes.TextEditor" src="../../../../../images/rich-text.svg" />
                        <img *ngSwitchCase="pdfSectionTypes.AssessmentNotes" src="../../../../../images/notes.svg" />
                        <img *ngSwitchDefault src="../../../../../images/attribute.svg" />
                    </ng-container>
                </ng-template>
                <ng-template #headerActions>
                    <ng-container *ngIf="'ReportsEdit' | otPermit">
                        <i
                            class="ot ot-edit cursor-pointer margin-right-2"
                            ot-auto-id="ReportsEditSection"
                            (click)="openSectionModal(section)"
                            >
                        </i>
                        <i
                            class="ot ot-trash cursor-pointer margin-right-2"
                            ot-auto-id="ReportsDeleteSection"
                            (click)="deleteSection(section)"
                            >
                        </i>
                        <i
                            class="fa fa-arrow-up cursor-pointer margin-right-2"
                            ot-auto-id="ReportsMoveSectionUp"
                            (click)="pdfReportService.moveSection(section, 'up')"
                            >
                        </i>
                        <i
                            class="fa fa-arrow-down cursor-pointer margin-right-2"
                            ot-auto-id="ReportsMoveSectionDown"
                            (click)="pdfReportService.moveSection(section, 'down')"
                            >
                        </i>
                    </ng-container>
                </ng-template>
                <ng-template #groupContent>
                    <ng-container *ngIf="
                            section.type === pdfSectionTypes.InventoryAttribute
                            || section.type === pdfSectionTypes.Column
                            || section.type === pdfSectionTypes.AssessmentQuestion
                            || section.type === pdfSectionTypes.AssessmentAllQuestions
                            || section.type === pdfSectionTypes.AssessmentDetail
                        ">
                        <list-group-items
                            *ngIf="section.columns?.length && section.type !== pdfSectionTypes.AssessmentAllQuestions"
                            [items]="section.columns"
                            [getItemLabel]="getColumnLabel"
                            [singleColumn]="section.type === pdfSectionTypes.AssessmentQuestion"
                            >
                        </list-group-items>
                        <div
                            *ngIf="section.type === pdfSectionTypes.AssessmentAllQuestions"
                            class="list-group__item list-group__item--dashed text-center padding-all-2"
                            >
                                {{"AllQuestionsAdded" | otTranslate}}
                        </div>
                        <list-group-add
                            *ngIf="section.type !== pdfSectionTypes.AssessmentAllQuestions && 'ReportsEdit' | otPermit"
                            [text]="(section.type === pdfSectionTypes.AssessmentQuestion? 'ManageQuestions' : 'ManageAttributes') | otTranslate"
                            otAutoId="ReportsAddColumn"
                            (handleClick)="openColumnModal(section)"
                            >
                        </list-group-add>
                    </ng-container>
                    <ot-rich-text-editor
                        *ngIf="section.type === pdfSectionTypes.TextEditor"
                        [contentModel]="section.textContent"
                        [customModules]="customModules"
                        [readOnly]="!('ReportsEdit' | otPermit)"
                        (onContentChanged)="handleTextEditorChange($event.html, section)"
                        >
                    </ot-rich-text-editor>
                    <div
                        *ngIf="section.type === pdfSectionTypes.AssessmentNotes"
                        class="list-group__item border-dashed-2 row-horizontal-vertical-center text-bold"
                        [innerText]="'NoDetailsWithSection' | otTranslate"
                        >
                    </div>
                </ng-template>
            </list-group-container>
        </section>
    </ng-container>
    <list-group-add
        *ngIf="'ReportsEdit' | otPermit"
        [text]="'AddSection' | otTranslate"
        otAutoId="ReportsAddSection"
        (handleClick)="addSection(view.layout.sections.length)"
        >
    </list-group-add>
</section>
