<section class="aa__phase height-100">
    <section
        *ngIf="collapseGroupExpanded"
        class="aa__phase-body column-nowrap height-100"
        >
        <div class="border-top-bottom padding-all-1 background-frost">
            {{ templateName }}
        </div>
        <div
            class="aa__phase-body__section-filter flex padding-left-right-1 padding-top-bottom-2 align-center"
            >
            <div class="flex-full-height padding-right-1">{{'Show' | otTranslate}}</div>
            <ot-picklist
                class="aa-section-list__filter flex-shrink width-auto padding-right-1"
                ot-auto-id="AASectionNavFilter"
                valueKey="value"
                labelKey="label"
                [multiSelect]="false"
                [model]="selectedFilter"
                [options]="sectionFilters"
                (onSelect)="onFilterSelection($event)"
            ></ot-picklist>
        </div>
        <ot-loading
            *ngIf="isLoadingSectionPane; else sectionPane"
            class="aa-section-list__section-loader row-horizontal-vertical-center full-width full-height">
        </ot-loading>
        <ng-template #sectionPane>
            <div class="overflow-auto">
            <ng-container
                *ngFor="let sectionId of sectionList; index as sectionIndex; trackBy: trackBySectionId;">
                <div
                    class="aa__phase-body__section"
                    [ngClass]="{
                        'aa__phase-body__section--disabled' : sectionHeaders[sectionId].hidden,
                        'cursor-no-drop': isSectionNavDisabled
                    }"
                    >
                    <ot-collapse
                        *ngIf="selectedFilter | sectionNavFilterShowSection : sectionHeaders[sectionId]"
                        [ngClass]="{'aa-section-list__selected-section' : selectedSectionId === sectionId}"
                        [title]="sectionHeaders[sectionId].name"
                        [open]="selectedSectionId === sectionId"
                        [collapsible]="!(sectionId === this.emptyGuid || this.sectionHeaders[sectionId].hidden)"
                        [headerContent]="headerSection"
                        (toggled)="goToSection(sectionId)"
                        >
                        <ng-container *ngIf="sectionId !== emptyGuid">
                            <ot-loading *ngIf="isLoadingSection; else questionList">
                            </ot-loading>
                            <ng-template #questionList>
                                <ul
                                    *ngIf="questions?.length"
                                    class="list-group margin-all-0 background-white"
                                    >
                                    <ng-container *ngFor="let question of questions; index as questionIndex;  trackBy: trackByQuestion;">
                                        <li
                                            *ngIf="question | sectionNavFilterShowQuestion : selectedFilter : sectionHeaders[sectionId]"
                                            class="aa-section-list__nav-list flex list-group-item padding-left-1-half margin-bottom-1 border-radius cursor-pointer"
                                            [ngClass]="{ 'aa-section-list__invalid-question': sectionHeaders[sectionId]?.invalidQuestionIds?.indexOf(question.id) >= 0 }"
                                            [attr.ot-auto-id]="'AssessmentDetailSectionListQuestion_'+ questionIndex"
                                            (click)="scrollToQuestion($event, question.id, sectionId)"
                                            >
                                            <span class="aa-section-list__required-wrapper"
                                                >
                                                <i
                                                    *ngIf="question.required"
                                                    class="aa-section-list__required padding-right-half ot ot-asterisk"
                                                    >
                                                </i>
                                            </span>
                                            <span class="text-bold padding-right-quarter">{{sectionList.indexOf(sectionId)}}.{{question.sequence}}</span>
                                            <span>{{question.friendlyName || question.content}}</span>
                                        </li>
                                    </ng-container>
                                </ul>
                            </ng-template>
                        </ng-container>
                    </ot-collapse>
                </div>
                <ng-template #headerSection>
                    <div class="section-badges row-vertical-center">
                        <div class="row-nowrap">
                            <span
                                *ngIf="sectionHeaders[sectionId]?.invalidQuestionIds?.length"
                                class="aa__menu-pill aa__menu-pill--invalid-question-count pointer-events-auto margin-right-half row-vertical-center"
                                [attr.ot-auto-id]="'AssessmentDetailSectionList_'+sectionIndex+'_InvalidPill'"
                                (click)="scrollToInvalidQuestion($event, sectionId)"
                                >
                                <i class="ot ot-exclamation"></i>
                                <span>{{sectionHeaders[sectionId]?.invalidQuestionIds?.length}}</span>
                            </span>
                            <span
                                *ngIf="sectionHeaders[sectionId]?.requiredUnansweredQuestionIds?.length"
                                class="aa__menu-pill aa__menu-pill--unanswered-required pointer-events-auto margin-right-half row-vertical-center"
                                [attr.ot-auto-id]="'AssessmentDetailSectionList_'+sectionIndex+'_RequiredPill'"
                                (click)="scrollToRequiredQuestion($event, sectionId)"
                                >
                                <i class="ot ot-asterisk required"></i>
                                <span>{{sectionHeaders[sectionId]?.requiredUnansweredQuestionIds?.length}}</span>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            </div>
        </ng-template>
    </section>
</section>
