.aa-section-list {
    &__section-loader {
        height: 80vh;
    }
    &__filter {
        width: 22rem;
        .slds-combobox__input {
            height: 3.8rem;
        }
    }
    &__required {
        color: $question-required-asterisk-color;
        font-size: 1rem;
    }
    &__required-wrapper {
        min-width: 1.5rem;
    }
    &__invalid-question {
        background-color: $question-invalid-response-bg-color;
    }
    &__nav-list {
        border: none;
        &:hover {
            background-color: $paper-gray;
        }
    }
    &__selected-section {
        .ot-collapse__header-container {
            font-weight: bold;
        }
    }
    .ot-collapse__header section:first-child {
        display: flex;
        flex-flow: row nowrap;
        max-width: 95%;
    }
    .ot-collapse__header-content {
        width: 21rem;
    }
    .ot-collapse__content {
        background-color: $white;
    }
    .ot-collapse__header-container {
        border-bottom: none;
    }
    .ot-collapse__header-text {
        min-height: 2rem;
    }
}