.template-version-list {

    &__list {
        margin: 0;
    }

    &__item {
        border-bottom: 1px solid $grey-3;
    }

    &__title {
        font-size: 1.4rem;
        padding: 1.6rem 1rem;
        margin: 0;
        letter-spacing: .1rem;
        border-bottom: 1px solid $grey-3;
    }

    &__divider {
        background-color: $grey-4;
        color: $white;
        padding: .2rem;
    }

    &__tab {
        padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:hover {
            background-color: $white;
        }
    }

    &__text {
        flex: 1 1 auto;
        min-width: 1px;
    }

    &__number {
        margin-right: .6rem;
        vertical-align: middle;
    }

    &__state {
        margin-right: .6rem;
    }

    &__date {
        display: block;
        margin-top: .4rem;
        font-size: 1.2rem;
    }

    &__toggle {
        flex: 0 0 auto;
        background: 0;
        border: 1px solid $grey-3;
        padding: 0 0.6rem;
        border-radius: 2px;

        &:hover {
            border: 1px solid $slate;
            color: darken($slate, 20%);
        }
    }

    &__delete {
        vertical-align: middle;

        &:hover {
            color: darken($slate, 20%);
        }
    }

    &__details {
        padding: 1rem 1rem 1rem 2rem;
        border-top: 1px dashed $grey-1;

        &-group {
            margin-bottom: 1rem;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-label {
            margin: 0;
            font-weight: normal;
        }
    }

    &__item.is-current-version {

        .template-version-list {

            &__tab {
                background-color: $slate;
                color: $white;
                cursor: auto;
            }

            &__delete {
                color: $grey-1;

                &:hover {
                    color: $white;
                }
            }

            &__toggle {
                border: 1px solid $grey-1;
                color: $grey-1;

                &:hover {
                    border: 1px solid $white;
                    color: $white;
                }
            }

            &__details {
                border-top: 0;
            }

            &__state {
                .current-draft {
                    color: $white;
                }
            }
        }
    }
}
