<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="overflow-y-auto padding-all-2 flex-full-height">
        <div
            otFormElement
            class="margin-top-bottom-2"
            [required]="true"
            >
            <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                <div
                    otFileDragDrop
                    class="drop-container background-white full-width column-horizontal-vertical-center padding-top-bottom-2"
                    (filesDropped)="handleFileSelected($event)"
                    >
                    <div class="note margin-bottom-half" [innerHtml]="replaceHeaderText"></div>
                    <div class="note text-small margin-bottom-half" [innerHtml]="'ReplaceRoleModalSubHeader' | otTranslate"></div>
                    <label class="padding-top-bottom-half">
                        <div class="file-upload-button slds-button slds-button_brand border-round-4">
                            <input
                                otFileSelect
                                type="file"
                                accept=".xlsx"
                                ot-auto-id="ReplaceRoleModalFileSelect"
                                (filesSelected)="handleFileSelected($event)"
                                >
                                {{"Upload" | otTranslate}}
                        </div>
                    </label>
                </div>
            </div>
            <div *ngIf="attachment" class="slds-m-around_small">
                <div class="pull-right text-medium-small text-color-default text-bold">
                    {{attachment.name}}
                    <i
                        class="ot ot-trash-o cursor-pointer margin-left-half"
                        ot-auto-id="ImportRoleModalFileRemove"
                        (click)="removeFile()"
                    ></i>
                </div>
            </div>
        </div>
        <div class="text-small text-center color-cherry" *ngFor="let error of attachmentErrorList;trackBy: columnTrackBy;">
            {{error}}
        </div>
    </div>
    <footer otPageFooter>
        <button otButton neutral
            class="margin-right-1"
            ot-auto-id="ImportRoleModalCancelButton"
            [innerText]="'Cancel' | otTranslate"
            [disabled]="isSaveInProgress"
            (click)="closeModal()"
        ></button>
        <button
            otButton
            brand
            class="margin-right-1"
            ot-auto-id="ImportRoleModalSubmitButton"
            [innerText]="'Replace' | otTranslate"
            [disabled]="!attachment || isSaveInProgress"
            [loading]="isSaveInProgress"
            (click)="replaceRole()"
        ></button>
    </footer>
</one-modal-base>
