.role-manage-permissions {

    &__groups {
        min-width: 33rem;
        flex: 0 0 33rem;
    }

    &__list {
        &-search {
            max-width: 14.5rem;
        }
    }

    &__checkbox {
        width: 5rem;
    }

    &__cell {
        max-width: 20rem;
    }

}
