//////////////////////////////////////////////////////////////////////////////////////////////
// Collections
//////////////////////////////////////////////////////////////////////////////////////////////

.collection-picker {
    &.dropdown.open {
        height: 34px;
    }
    width: auto;
    min-width: 150px;
    margin: 0px;
}

@import 'picker-display';
@import 'picker-dropdown';
@import 'picker-item';
