.collection-picker-item {
    width: 100%;
    padding: 2px 4px;
    color: #777;
    outline: none;

    cursor: pointer;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        color: $slate;
        background-color: $grey-1;
    }

    &.active {
        background-color: $ui_blue;
        color: $white;
    }

    &-caret {
        margin: 0 5px;
        outline: none;
    }

}
