.collection-picker-dropdown {
    min-width: 200px;

    border-radius: 2px;
    border: solid 1px #ccc;
    max-height: 250px;
    overflow-y: auto;

    padding-bottom: 10px;

    background: -webkit-gradient(linear, left 90%, left bottom, from(#fff), to(#ccc));
    background: -moz-radial-gradient(0 90%, bottom, #fff, #ccc);

}
