.collection-picker-display {

    height: inherit;
    width: 100%;
    min-width: 150px;

    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 6px 12px;

    background-color: $white;
    color: $slate;
    border: 1px solid $grey-3;
    border-radius: 2px;
    font-size: 1.5rem;
    line-height: 1.42857143;

    cursor: pointer;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    &-text {
        display: inline-flex;
        justify-content: space-between;

        width: 100%;
        .placeholder {
            color: #999;
        }
    }

    &-icon {
        font-size: 1.5rem;
        margin-left: 5px;
        color: inherit;
    }

}
