<ot-modal-header (close)="closeModal()">
    <div>{{ 'CreateNewPreferenceCenter' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form
        #pcform="ngForm"
        name="PreferenceCenterForm"
        >
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Name' | otTranslate"
            [required]="true"
            >
            <input otInput required
                class="one-input full-width"
                name="Name"
                maxlength="200"
                autofocus
                ot-auto-id="PreferenceCenterNameInput"
                [placeholder]="'PreferenceCenterName' | otTranslate"
                [(ngModel)]="preferenceCenter.Name"
                />
        </div>

        <div otFormElement
            class="margin-bottom-2"
            [label]="'Organization' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                name="Organization"
                ot-auto-id="PreferenceCenterOrgList"
                labelKey="Name"
                valueKey="Id"
                indentKey="Level"
                [autoClose]="true"
                [options]="organizations"
                [model]="selectedOrganization"
                (onSelect)="selectOrganization($event)"
                >
            </ot-picklist>
        </div>

        <div otFormElement
            *ngIf="'ConsentPreferenceCenterLanguage' | otPermit"
            class="margin-bottom-2"
            [label]="'DefaultLanguage' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                name="Language"
                labelKey="Name"
                valueKey="Code"
                ot-auto-id="PreferenceCenterLanguageList"
                [autoClose]="true"
                [options]="$rootScope.languages"
                [model]="selectedLanguage"
                (onSelect)="selectLanguage($event)"
                >
            </ot-picklist>
        </div>

        <div otFormElement
            class="margin-bottom-2"
            [label]="'Description' | otTranslate"
            [required]="true"
            >
            <textarea otTextarea required
                name="Description"
                maxlength="500"
                ot-auto-id="PreferenceCenterCreateDescription"
                [placeholder]="'EnterDescription' | otTranslate"
                [(ngModel)]="preferenceCenter.Description"
                >
            </textarea>
        </div>

        <div otFormElement
            class="margin-bottom-2"
            [label]="'Purposes' | otTranslate"
            >
            <ot-lookup
                ot-auto-id="PreferenceCenterPurposeMultiselect"
                labelKey="Label"
                valueKey="Id"
                throttleValue="100"
                [clearInputOnModelChange]="true"
                [model]="selectedPurposes"
                [multiSelect]="true"
                [options]="purposeOptions"
                (inputChange)="onInputChange($event)"
                (modelChange)="selectOption($event)"
                >
            </ot-lookup>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="PreferenceCenterCloseButton"
        [disabled]="createInProgress"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="PreferenceCenterCreateButton"
        [disabled]="createInProgress || !pcform.form.valid || emptyField"
        [loading]="createInProgress"
        (click)="createPreferenceCenter()"
        >
        {{ 'Create' | otTranslate }}
    </button>
</ot-modal-footer>
