.settings-risks-heatmap-options {
    &__input {
        width: 23rem;
        height:3rem;
    }
}
.settings-risks-heatmap {
    &__heatmap-cell {
        flex-basis: 3.5rem;
    }
    
    &__label {
        opacity: 0.7;
        
        &-xaxis-wrapper-outer {
            width: 2rem;
            display: flex;
        }

        &-xaxis-wrapper-inner {
            transform: rotate(-90deg);
            min-width: 17.5rem;
        }

        &-yaxis {
           padding-top: 0.2rem;

        }
    }
}
