<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        [title]="'RiskScoring' | otTranslate"
        type="clear"
        >
    </ot-page-header>
    <ot-tabs
        [tabs]="tabOptions"
        [max]="maxNumberTabs"
        [selectedTab]="selectedTab"
    >
        <a
            *otTabItem="let tab"
            (click)="onRiskTabClick(tab)"
            >
            {{ tab.text }}
        </a>
    </ot-tabs>
    <individual-risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.INDIVIDUAL"
        class="flex-full-height overflow-y-auto"
    ></individual-risk-settings-tab>
    <risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.ASSESSMENT"
        class="flex-full-height"
        [isInventory]="false"
        [riskSettingsTranslationKeys]="assessmentRiskTranslationKeys"
        [riskReferenceType]="riskReferenceType.PIA"
    ></risk-settings-tab>
    <risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.ASSET"
        class="flex-full-height stretch-vertical overflow-y-auto"
        [isInventory]="true"
        [riskSettingsTranslationKeys]="assetRiskTranslationKeys"
        [riskReferenceType]= "riskReferenceType.ASSETS"
    ></risk-settings-tab>
    <risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.PROCESSING_ACTIVITY"
        class="flex-full-height stretch-vertical overflow-y-auto"
        [isInventory]="true"
        [riskSettingsTranslationKeys]="processingActivityRiskTranslationKeys"
        [riskReferenceType]= "riskReferenceType.PROCESSING_ACTIVITIES"
    ></risk-settings-tab>
    <risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.VENDOR"
        class="flex-full-height stretch-vertical overflow-y-auto"
        [isInventory]="true"
        [riskSettingsTranslationKeys]="vendorRiskTranslationKeys"
        [riskReferenceType]= "riskReferenceType.VENDORS"
    ></risk-settings-tab>
    <risk-settings-tab
        *ngIf="selectedTab === riskTabNameKeys.ENTITY"
        class="flex-full-height stretch-vertical overflow-y-auto"
        [isInventory]="true"
        [riskSettingsTranslationKeys]="entityRiskTranslationKeys"
        [riskReferenceType]= "riskReferenceType.ENTITIES"
    ></risk-settings-tab>
</section>
