<ot-modal-header (close)="closeModal()">
    <div>{{ 'ReviewDiscoveredData' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    class="overflow-y-scroll">
    <form
        [formGroup]="dataDiscoveryForm"
        class="margin-0 width-100-percent">
        <div
            *ngIf="modalLoading; else loadComplete" 
            class="height-100">
            <ot-loading otPageLoading>
                {{ 'Loading' | otTranslate }}
            </ot-loading>
        </div>
        <ng-template #loadComplete>
            <div 
                *ngIf="mappedAssetsArray.length === 0; else recordsFound"
                class="height-100 padding-top-10">
                <ot-empty-state [emptyStateMessage]="'NoDiscoveredItems' | otTranslate">
                    <img emptyStateImg />
                </ot-empty-state>
            </div>
            <ng-template #recordsFound>
                <div class="flex margin-left-right-1">
                    <div class="flex-50 text-right">
                        <button otButton neutral
                            class="margin-right-2"
                            ot-auto-id="IntgDataDiscoveryModalApplyAllButton"
                            [disabled]="!this.selectedApplyAllOption"
                            (click)="applyAllOptionButton()">
                            {{ 'ApplyToAll' | otTranslate }}
                        </button>
                    </div>
                    <div class="flex-50 padding-right-1">
                        <div otFormElement>
                            <ot-picklist
                                ot-auto-id="IntgDataDiscoveryModalApplyAllPicklist"
                                [autoClose]="true"
                                [hideArrow]="false"
                                [model]="selectedApplyAllOption"
                                [options]="applyAllOptions"
                                [placeholder]="'Select' | otTranslate"
                                (onSelect)="applyAllOptionSelected($event)"
                            ></ot-picklist>
                        </div>
                    </div>
                </div>
                <div 
                    *ngFor="let asset of mappedAssetsArray; index as i; trackBy: trackByAssetIndex; let first = first"
                    [ngClass]="(first ? 'margin-top-1' : 'margin-top-2')">
                    <div class="border padding-left-right-1 padding-top-bottom-half text-small text-bold background-grey-1">
                        {{ asset[0] }}
                        <i 
                            class="ot align-right align-right text-bold text-medium"
                            [attr.ot-auto-id]="'IntgDataDiscoveryModalExpandCollapseButton' + asset[0]"
                            [ngClass]="(!mappedAssets[asset[0]].dropdown ? 'ot-angle-right' : 'ot-angle-down')"
                            (click)="toggleExpand(asset[0])"
                        ></i>
                    </div>
                    <div [hidden]="!mappedAssets[asset[0]].dropdown">
                        <div 
                            *ngFor="let item of asset[1].assetList; index as j; trackBy: trackByAssetItemIndex"
                            class="flex padding-left-right-1 margin-top-1 padding-top-1"
                            [ngClass]="(j > 0 ? 'border-top' : '')">
                            <div class="flex-50 margin-top-1">
                                {{ item[0].assetName }}
                            </div>
                            <div class="flex-50 margin-top-half margin-left-right-1 overflow-visible">
                                <div otFormElement>
                                    <ot-picklist
                                        ot-auto-id="IntgDataDiscoveryModalAssetItemPicklist"
                                        [autoClose]="true"
                                        [hideArrow]="false"
                                        [model]="mappedAssets[asset[0]].assetList[j][1]"
                                        [options]="options"
                                        [placeholder]="'Select' | otTranslate"
                                        (onSelect)="innerAssetOptionSelected($event, asset[0], j, 'DataDiscovery' + asset[0] + item[0].assetName, 'DataDiscovery' + 'mapTo' + item[0].assetName + j )"
                                    ></ot-picklist>
                                </div>
                                <div *ngIf="(mappedAssets[asset[0]].assetList[j][0] && mappedAssets[asset[0]].assetList[j][0].action === MAP_MERGE_ACTIONS.MAP || mappedAssets[asset[0]].assetList[j][0] && mappedAssets[asset[0]].assetList[j][0].action === MAP_MERGE_ACTIONS.ADDNEW)"
                                    class="flex position-relative">
                                    <div class="flex-10">
                                        <img class="position-absolute top-1-half left-1-half" src="../../../../../images/intg-systems/path.svg" />
                                    </div>
                                    <div 
                                        *ngIf="mappedAssets[asset[0]].assetList[j][0] && mappedAssets[asset[0]].assetList[j][0].action === MAP_MERGE_ACTIONS.MAP"
                                        class="margin-top-2 margin-bottom-1 flex-90 align-right">
                                        <div otFormElement 
                                            [label]="'SelectAsset' | otTranslate"
                                            [required]='true'>
                                            <ot-picklist
                                                [attr.ot-auto-id]="'IntgDataDiscovery' + asset[0] + item[0].assetName"
                                                [autoClose]="true"
                                                [hideArrow]="false"
                                                [model]="mappedAssets[asset[0]].assetList[j][2]"
                                                [options]="mapToOptions"
                                                (onSelect)="selectMapOption($event, asset[0], j, 'DataDiscovery' + asset[0] + item[0].assetName)"
                                            ></ot-picklist>
                                        </div>
                                    </div>
                                    <div 
                                        *ngIf="mappedAssets[asset[0]].assetList[j][0].action && mappedAssets[asset[0]].assetList[j][0].action === MAP_MERGE_ACTIONS.ADDNEW"
                                        class="margin-top-bottom-2 flex-90 align-right">
                                        <div otFormElement
                                            [label]="'NameAsset' | otTranslate"
                                            [required]="true">
                                            <input otInput
                                                [attr.ot-auto-id]="'DataDiscovery' + asset[0] + item[0].assetName"
                                                [formControlName]="'DataDiscovery' + asset[0] + item[0].assetName"
                                                (keyup)="saveAssetNameInputModel($event, asset[0], j, 'DataDiscovery' + asset[0] + item[0].assetName)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template> 
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="IntgDataDiscoveryModalCancelButton"
        (click)="closeModal()">{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="IntgDataDiscoveryModalSaveButton"
        [disabled]="!dataDiscoveryForm.valid"
        (click)="generatePayloadAndSave()">{{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>