<ot-modal-header (close)="closeModal()">
    <div>{{ 'UnsavedChangesTitle' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ot-confirm-modal-icon type="warning"></ot-confirm-modal-icon>
    <div class="text-center">
        <span *ngIf="published; else draftConfirmationMsg">
            {{ 'UnsavedChangesPublishedTemplateMessage' | otTranslate }}
        </span>
        <ng-template #draftConfirmationMsg>
            <span>{{ 'UnsavedChangesWouldYouLikeToSave' | otTranslate }}</span>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1"
        [disabled]="submitting"
        (click)="closeModal()"
    >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        neutral
        class="margin-right-1"
        [disabled]="submitting"
        (click)="handleDiscard()"
    >
        {{ 'DiscardChanges' | otTranslate }}
    </button>
    <button
        otButton
        brand
        [disabled]="submitting"
        [loading]="submitting"
        (click)="handleSubmit()"
    >
        {{ 'SaveUpdates' | otTranslate }}
    </button>
</ot-modal-footer>
