<div otFormElement>
    <div
        *ngFor="let option of selectedList;let optionIndex = index; trackBy: trackByOptionId"
        class="multi-select-org-user"
        [ngClass]="wrapperClass"
    >
        <ot-org-user
            [ngClass]="userSelectClass"
            [allowEmail]="allowEmail"
            [disabled]="disabled"
            [excludedOptions]="selectedList"
            [filterCurrentUser]="filterCurrentUser"
            [fetchOptionsOnClick]="fetchOptionsOnClick"
            [orgId]="orgId"
            [model]="option?.Id ? option.Id : option?.FullName"
            [permissions]="permissions"
            [traversal]="traversal"
            [placeholder]="placeholder"
            [error]="option?.errorMessage"
            [retainErrorMessage]="retainErrorMessage"
            (onSelect)="selectAssignee($event, optionIndex)"
            >
        </ot-org-user>
        <div
            *ngIf="!hideButtons"
            class="plus-minus-wrapper row-vertical-center row-space-between"
            [ngClass]="{disabled:disabled}"
        >
            <div
                *ngIf="selectedList.length !== 1"
                class="multi-select-org-user__option-add-remove color-white text-pointer no-outline
                    row-space-evenly border-round row-vertical-center margin-left-1 padding-all-1"
                [attr.ot-auto-id]="'MultiSelectOrgUserRemoveOptionButton' + optionIndex"
                (click)="onRemoveOptionClick(optionIndex)"
            >
                <i class="fa fa-minus-circle"></i>
            </div>
            <div
                class="multi-select-org-user__option-add-remove row-space-evenly border-round margin-left-1
                    row-horizontal-vertical-center color-white text-pointer no-outline padding-all-1"
                [ngClass]="{'invisible':optionIndex !== selectedList.length-1}"
                [attr.ot-auto-id]="'MultiSelectOrgUserAddOptionButton' + optionIndex"
                (click)="onAddOptionClick(optionIndex)"
                >
                <i class="fa fa-plus-circle"></i>
            </div>
        </div>
    </div>
</div>
