<div otFormElement [hasError]="error" [errorMessage]="error | otTranslate">
    <ot-lookup
        otClickHandler="outside"
        [autoClose]="true"
        [disabled]="disabled"
        [hasLazyLoad]="true"
        [labelKey]="labelKey"
        [loading]="(loading$ | async)"
        [model]="modelForLookup$ | async"
        [options]="(options$ | async)"
        [placeholder]="lookupPlaceholder | otTranslate"
        [valueKey]="valueKey"
        [virtualScroll]="true"
        (inputChange)="onInputChange($event)"
        (modelChange)="onModelChange($event)"
        (click)="onClick()"
        (handleClick)="onDocumentClick()"
        (firstOptionSelect)="onAllowEmailSelect()"
    >
        <ng-template otFirstOption *ngIf="allowEmail && allowEmailInput">
            <span
                id="listbox-option-unique-id-00"
                role="option"
                ot-auto-id="OtOrgUserAllowEmailOption"
                >
                {{allowEmailPrependText | otTranslate}}: {{allowEmailInput}}
            </span>
        </ng-template>
    </ot-lookup>
</div>
