.multi-select-org-user {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
    &__option-add-remove {
        width: 1.4rem;
        height: 1.4rem;
    }
    .plus-minus-wrapper {
        height: 3.2rem;
    }
    .fa-minus-circle {
        color: $cherry;
        font-size: 2.2rem;
    }
    .fa-plus-circle {
        color: $green;
        font-size: 2.2rem;
    }
}
