<section class="height-100 column-nowrap background-grey overflow-y-auto">
    <ot-page-header>
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="CreateNewAssessmentBreadcrumbItem"
                [label]="breadCrumb.text"
                [link]="breadCrumb.stateName"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="'CreateAssessment' | otTranslate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <section>
        <div
            class="flex-full-height centered-max-70 padding-all-2"
        >
            <div otFormElement
                [label]="'Name' | otTranslate"
                [required]="true"
            >
                <input
                    otInput
                    ot-auto-id="createAssessmentFormNameInput"
                    class="full-width"
                    name="name"
                    [ngModel]="assessment.name"
                    [placeholder]="'EnterAssessmentName' | otTranslate"
                    (ngModelChange)="valueChange($event)"
                />
            </div>
            <section class="row-vertical-center margin-bottom-1">
                <div class="stretch-vertical padding-right-1 text-right">
                    <p
                        *ngIf="!showMoreDetails"
                        class="text-xsmall margin-top-bottom-0 inline-block no-outline"
                        ot-auto-id="AssessmentCreationShowMoreDetail"
                        [innerText]="'ShowMoreDetails' | otTranslate"
                        (click)="handleAction(assessmentActions.TOGGLE_SHOW_MORE_DETAILS)"
                    >
                    </p>
                    <p
                        *ngIf="showMoreDetails"
                        class="text-xsmall margin-top-bottom-0 inline-block no-outline"
                        ot-auto-id="AssessmentCreationShowLessDetail"
                        [innerText]="'ShowFewerDetails' | otTranslate"
                        (click)="handleAction(assessmentActions.TOGGLE_SHOW_MORE_DETAILS)"
                    >
                    </p>
                    <i
                        class="ot text-xsmall no-outline"
                        ot-auto-id="AssessmentCreationShowMoreIconDetail"
                        [ngClass]="{'ot-caret-down':!showMoreDetails, 'ot-caret-up':showMoreDetails}"
                        (click)="handleAction(assessmentActions.TOGGLE_SHOW_MORE_DETAILS)">
                    </i>
                </div>
            </section>

            <div otFormElement
                *ngIf="showMoreDetails"
                class="margin-top-bottom-1"
                [label]="'Description' | otTranslate"
            >
                <textarea otTextarea
                    ot-auto-id="AssessmentCreationAddDescriptionTextArea"
                    name="description"
                    [placeholder]="'EnterDescription' | otTranslate"
                    [ngModel]=""
                    (ngModelChange)="handleInputChange($event, assessmentActions.DESCRIPTION_CHANGED)"
                ></textarea>
            </div>

            <div otFormElement
                *ngIf="showMoreDetails"
                class="margin-top-bottom-1"
                [label]="'Comment' | otTranslate"
            >
                <textarea otTextarea
                    ot-auto-id="AssessmentCreationCommentTextArea"
                    name="comment"
                    [placeholder]="'RespondentCommentPlaceholder' | otTranslate"
                    [ngModel]=""
                    (ngModelChange)="handleInputChange($event, assessmentActions.COMMENT_CHANGED)"
                ></textarea>
            </div>
            <div otFormElement
                *ngIf="showMoreDetails"
                class="margin-top-2"
                [label]="'Deadline' | otTranslate"
            >
                <ot-datepicker
                    ot-auto-id="ExternalUserExpirationModalDate"
                    [placeholder]="'ChooseDate' | otTranslate"
                    [format]="format"
                    [disabled]="isSubmitting"
                    [disableUntil]="disableUntilDate"
                    [dateModel]="deadline"
                    (onChange)="handleInputChange($event, assessmentActions.DEADLINE_CHANGED)"
                ></ot-datepicker>
            </div>
            <div otFormElement
                *ngIf="showMoreDetails"
                class="margin-top-2"
                [label]="'Reminder' | otTranslate"
                [hasError]="deadline && assessment.reminder ? !validReminder : false"
                [errorMessage]="'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate"
                 >
                <input otInput
                    type="number"
                    name="reminder"
                    ot-auto-id="CreateAssessmentReminderField"
                    [placeholder]="'DaysBeforeDeadline' | otTranslate"
                    [min]="1"
                    [disabled]="!deadline"
                    [ngModel]="assessment.reminder"
                    (ngModelChange)="reminderDaysSelected($event, deadline)">
            </div>
            <div otFormElement
                *ngIf="showMoreDetails"
                class="margin-top-2"
                [label]="'Tags' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="CreateAssessmentTagsFieldDropdown"
                    valueKey="id"
                    labelKey="option"
                    [autoClose]="true"
                    [allowCustomOtherPill]="true"
                    [clearInputOnModelChange]="true"
                    [multiSelect]="true"
                    [virtualScroll]="false"
                    [placeholder]="'SearchForTags' | otTranslate"
                    [inputValue]="inputValue"
                    [model]="selectedOptions"
                    [options]="dropdownOptions"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="onModelChange($event)"
                    (firstOptionSelect)="handleFirstOption(inputValue)"
                    >
                    <ng-template otFirstOption *ngIf="inputValue">
                        <span
                            *ngIf="inputValue"
                            role="option"
                            >
                            {{ allowOtherPrependText | otTranslate }}: {{ inputValue }}
                        </span>
                    </ng-template>
                </ot-lookup>
            </div>
            <div
                otFormElement
                [required]="true"
                class="margin-top-2"
                [label]="'Organization' | otTranslate"
            >
                <org-select
                    ot-auto-id="CreateAssessmentOrganizationPickList"
                    [identifier]="'CreateAssessmentOrganizationOrgSelect'"
                    [model]="selectedOrg.id"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    (onSelect)="handleAction(assessmentActions.ORG_SELECTED, $event)"
                    >
                </org-select>
            </div>
            <div
                otFormElement
                class="margin-top-2"
                [label]="'Approver' | otTranslate"
            >
                <ot-org-user-multi-select
                    ot-auto-id="AssessmentCreateApproversMultiSelect"
                    traversal="UP"
                    [allowEmail]="false"
                    [fetchOptionsOnClick]="true"
                    [orgId]="selectedOrg.id"
                    [permissions]="['AssessmentCanBeApprover']"
                    [userList]="approverList"
                    [disabled]="!createPermissions.AssessmentCanBeApprover"
                    (onSelect)="selectedApprovers($event)"
                ></ot-org-user-multi-select>
            </div>
            <div
                otFormElement
                class="margin-top-2 margin-bottom-1"
                [label]="'Respondent' | otTranslate"
                [required]="true"
            >
                <ot-org-user-multi-select
                    ot-auto-id="AssessmentCreateRespondentsMultiSelect"
                    traversal="BRANCH"
                    [allowEmail]="true"
                    [fetchOptionsOnClick]="true"
                    [orgId]="selectedOrg.id"
                    [permissions]="['AssessmentCanBeRespondent']"
                    [userList]="respondentList"
                    (onSelect)="selectedRespondents($event)"
                ></ot-org-user-multi-select>
            </div>
            <footer class="row-flex-end static-horizontal margin-top-2 padding-all-2">
                <button
                    otButton
                    class="margin-right-1 text-normal text-color-default"
                    ot-auto-id="AssessmentCreationCancelButton"
                    [disabled]="saveInProgress"
                    (click)="onCancelAssessmentClick()"
                >
                    {{"Cancel" | otTranslate}}
                </button>
                <button
                    otButton brand
                    ot-auto-id="AssessmentCreationCreateButton"
                    [disabled]="saveInProgress || !assessment.name || !selectedOrg.id || !selectedRespondentList.length || !validReminder"
                    [loading]="saveInProgress"
                    (click)="onCreateAssessmentClick()"
                >
                    {{"Create" | otTranslate}}
                </button>
            </footer>
        </div>
    </section>
</section>
