<ot-modal-header (close)="closeModal()">
    <div>{{ '' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>

    <div class="column-nowrap width-50-percent margin-right-1">
        <div otFormElement
            [label]="'Request'| otTranslate"
        ></div>
        <section class="flex-column border-grey flex-full-height overflow-y-auto">
            <div class="padding-all-1">
                <ot-collapse
                    [headerContent]="headerContent"
                    [open]="false"
                >
                    <ng-template #headerContent>
                        <span class="text-bold text-large">{{ 'Event' | otTranslate }} :</span>
                        {{selectedEvent.name}}
                    </ng-template>
                    <textarea
                        otTextarea
                        ot-auto-id="IntgWorkflowBuilderTestModalResponse"
                        rows="12"
                        [ngModel]="selectedEvent.eventSample"
                    ></textarea>
                </ot-collapse>
            </div>
            <div *ngFor="let schema of actionResponseSchema; let index=index"
                class="padding-all-1"
            >
                <ot-collapse
                    class="margin-top-bottom-2 word-break-all"
                    [headerContent]="actionHeaderContent"
                    [open]="false"
                >
                    <ng-template #actionHeaderContent>
                        <span
                            *ngIf="!addedActions[index].httpNode; else newlyAddedAction"
                            class="text-bold text-large"
                        >   http_{{index}} :
                        </span>
                        <ng-template #newlyAddedAction>
                            <span class="text-bold text-large">{{addedActions[index].httpNode.nodeLabel}} : </span>
                        </ng-template>
                        {{addedActions[index].httpNode.nodeDescription}}
                    </ng-template>
                    <textarea
                        otTextarea
                        ot-auto-id="IntgWorkflowBuilderTestModalResponse"
                        rows="12"
                        [(ngModel)]="schema"
                    ></textarea>
                </ot-collapse>
            </div>
        </section>
    </div>
    <div class="column-nowrap width-50-percent margin-left-1">
        <div otFormElement
            class="margin-left-1"
            [label]="'Response'| otTranslate"
        ></div>
        <section class="flex-column flex-full-height overflow-y-auto">
            <textarea
                otTextarea
                class="border-grey"
                rows="20"
                [ngModel]="responseData" >
            </textarea>
        </section>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <div class="flex width-50-percent justify-end margin-right-1">
        <button
            otButton
            brand
            ot-auto-id="IntgFreemarkerValidateBtn"
            [loading]="!isValidationComplete"
            [disabled]="!isValidationComplete"
            (click)="transformPayload()"
            >
            {{ 'Transform' | otTranslate }}
        </button>
    </div>
    <div class="flex width-50-percent margin-left-1">
        <ot-notification
            *ngIf="!isCorrectJson"
            class="padding-right-1 width-70-percent"
            icon="ot ot-exclamation-circle"
            type="error"
            [allowClose]="false"
            >
            {{ "InvalidJSON"  | otTranslate }}
        </ot-notification>
    </div>
</ot-modal-footer>
