<section *ngIf="regionData" class="region-card padding-all-1 margin-bottom-1 shadow8 border border-radius background-white">
    <div class="row-nowrap">
        <ot-checkbox
            [attr.ot-auto-id]="regionData.regionId + '_RegionCheckBox'"
            [checked]="regionData.isChecked"
            (toggle)="onToggleRegion($event, regionData.regionId)"
        ></ot-checkbox>
        <p class="text-bold text-medium-small padding-left-2">{{regionData.name}}</p>
    </div>
    <section
        *ngIf="regionData.zones?.length"
        class="border-bottom-2 row-wrap-flex-start"
    >
        <div *ngFor="let zone of regionData.zones; trackBy: trackByZoneId" class="flex-full-50">
            <div class="row-nowrap row-flex-start">
                <ot-checkbox
                    class="align-center"
                    [attr.ot-auto-id]="zone.zoneId + '_ZoneCheckBox'"
                    [checked]="zone.isChecked"
                    (toggle)="onToggleZone($event, zone.zoneId, zone.regionId)"
                ></ot-checkbox>
                <!-- Removing translations until supported-->
                <p class="text-medium-small padding-left-1">{{zone.name}}</p>
            </div>
        </div>
    </section>
    <section
        *ngIf="regionData.countries?.length"
        class="padding-top-1 row-wrap-flex-start"
    >
        <div *ngFor="let country of regionData.countries; trackBy: trackByCountryId" class="flex-full-50">
            <div class="row-nowrap row-flex-start">
                <ot-checkbox
                    [attr.ot-auto-id]="country.countryId + '_CountryCheckBox'"
                    [checked]="country.isChecked"
                    (toggle)="onToggleCountry($event, country.countryId, country.regionId)"
                ></ot-checkbox>
                <!-- Removing translations until supported-->
                <p class="text-medium-small padding-left-1">{{country.name}}</p>
            </div>
        </div>
    </section>
</section>
