<div class="column-nowrap padding-all-2">
    <div class="webform-content">
        <general-settings-generator
            [settingMeta]="webformGeneralSettingMeta"
            [settings]="settings"
            (handleSettingAction)="handleAction($event)"
        ></general-settings-generator>
    </div>
</div>
