.inventory-lineage {

    &__panel--content {
        top: 4rem;
        bottom: 12rem;
        width: 24rem;
    }

    .joint-element[data-type="basic.Grid"] {
        pointer-events: none;
    }

    .joint-element[data-type="basic.GridLabel"]:hover {
        cursor: pointer;
    }

    .joint-link.joint-theme-default .marker-vertex {
        fill: $admiral-blue !important;
    }

    .joint-link.joint-theme-default .marker-arrowhead {
        fill: $admiral-blue !important;
    }

    &__toolbar {
        height: 6rem;

        &--header {
            width: 24rem;
        }

        &--container {
            position: relative !important;
            left: auto !important;
            height: auto !important;

            .joint-toolbar {
                background: $paper-gray !important;
                height: 3.3rem !important;
                width: 100%;
                border: none !important;

                .joint-widget.joint-theme-default[data-type=separator] {
                    line-height: 3.3rem !important;
                }
            }
        }
    }

    &__toolbar-custom--container {
        position: absolute;
        min-height: 4rem;
        left: 24rem;
        width: calc(100% - 24rem);
    }

    &__stencil--container > .joint-stencil {
        border-top: none !important;
        border-left: none !important;
    }

    &__inspector--container > .joint-inspector {
        border: none !important;
    }

    &__content {

        .groups-toggle {
            display: none;
        }

        .content {
            background: $paper-gray;
            top: 0 !important;
        }

        .group-label {
            color: $slate;
            font-size: 1.3rem !important;
            height: 4rem !important;
            text-transform: none !important;
            background-color: $paper-gray;
            display: flex;
            flex-flow: no-wrap;
            align-items: center;
        }

        .group-label:before {
            left: 20rem !important;
        }

        .group {
            max-height: auto !important;
            min-height: 4rem !important;
            padding-bottom: 0 !important;
        }

        .group:first-child {
            border-top: none !important;
        }
    }

    &__loading {
        min-height: 14rem;
    }
}

.joint-inspector-select-box-options {
    max-height: 40rem;
    overflow-y: scroll;
}
