<div class="inventory-lineage dm-data-maps column-nowrap flex-full-height">
    <div class="inventory-lineage__content row-nowrap overlow-hidden position-relative flex-full-height">
        <div class="inventory-lineage__stencil--container"></div>
        <div class="inventory-lineage__toolbar-custom--container overflow-y-hidden row-vertical-center border-bottom z-index-1">
            <div class="row-vertical-center">
                <div class="padding-left-right-1 border-right row-vertical-center">
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageSaveButton"
                        [disabled]="savingDiagram || !graphReady"
                        (click)="saveDiagram()"
                        >
                        {{'Save' | translate}}
                    </button>
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineagePrintButton"
                        [icon]="'fa fa-print'"
                        [otTooltip]="{ content: 'Print' | translate, placement: 'bottom', delay: 500 }"
                        (click)="print()"
                    ></button>
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageClearButton"
                        [icon]="'ot ot-trash'"
                        [otTooltip]="{ content: 'Clear' | translate, placement: 'bottom', delay: 500 }"
                        (click)="clear()"
                    ></button>
                </div>
                <div class="padding-left-right-1 border-right row-vertical-center">
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageUndoButton"
                        [icon]="'fa fa-undo'"
                        [otTooltip]="{ content: 'Undo' | translate, placement: 'bottom', delay: 500 }"
                        (click)="undo()"
                    ></button>
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageRedoButton"
                        [icon]="'fa fa-repeat'"
                        [otTooltip]="{ content: 'Redo' | translate, placement: 'bottom', delay: 500 }"
                        (click)="redo()"
                    ></button>
                </div>
                <div class="padding-left-right-1 border-right row-vertical-center">
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageZoomToFitButton"
                        [icon]="'fa fa-arrows-alt'"
                        [otTooltip]="{ content: 'ZoomToFit' | translate, placement: 'bottom', delay: 500 }"
                        (click)="zoomToFit()"
                    ></button>
                    <button
                        otButton
                        neutral
                        ot-auto-id="LineageToggleGridButton"
                        [icon]="'fa fa-th'"
                        [otTooltip]="{ content: 'ToggleGrid' | translate, placement: 'bottom', delay: 500 }"
                        (click)="toggleGrid()"
                    ></button>
                </div>
                <div class="padding-left-right-1 border-right row-vertical-center">
                    <div class="slds-grid slds-grid--align-center">
                        <button
                            ot-auto-id="LineageAutoDrawButton"
                            otButton
                            neutral
                            (click)="autoDraw()"
                            >
                            {{'AutoDraw' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="inventory-lineage__toolbar--container row-vertical-center"></div>
        </div>
        <div class="inventory-lineage__paper--container"></div>
        <div class="inventory-lineage__panel--content flex-full-height overflow-y-scroll overflow-x-hidden border-left background-grey position-absolute right-0">
            <div class="inventory-lineage__inspector--container"></div>
            <div
                *ngIf="isRelatedVendor || isRelatedAsset"
                class="column-nowrap flex-full-height"
                >
                <ot-loading
                    otPageLoading
                    class="inventory-lineage__loading margin-top-2 stretch-vertical"
                    *ngIf="isLoadingDetails"
                ></ot-loading>
                <inventory-form
                    *ngIf="!isLoadingDetails"
                    class="column-nowrap stretch-vertical padding-left-right-1"
                    [isEditable]="false"
                    [isEditing]="false"
                    [inventoryId]="schemaIds[tableIds.Vendors]"
                    [recordId]="currentInventoryId"
                    [wrapperClass]="'padding-top-bottom-1'"
                    [loadDataFromStore]="true"
                ></inventory-form>
            </div>
            <div
                *ngIf="isContractor && contractorCategories?.length"
                class="column-nowrap stretch-vertical padding-left-right-1"
                >
                <div otFormElement
                    class="margin-top-1"
                    *ngFor="let category of contractorCategories; trackBy: trackByIndex"
                    [label]="category"
                    >
                    {{formattedContractorData[category]}}
                </div>
            </div>
            <div
                *ngIf="isEmployee && employeeCategories?.length"
                class="column-nowrap stretch-vertical padding-left-right-1"
                >
                <div otFormElement
                    class="margin-top-1"
                    *ngFor="let category of employeeCategories; trackBy: trackByIndex"
                    [label]="category"
                    >
                    {{formattedEmployeeData[category]}}
                </div>
            </div>
            <div
                *ngIf="isCustomer && customerCategories?.length"
                class="column-nowrap stretch-vertical padding-left-right-1"
                >
                <div otFormElement
                    class="margin-top-1"
                    *ngFor="let category of customerCategories; trackBy: trackByIndex"
                    [label]="category"
                    >
                    {{formattedCustomerData[category]}}
                </div>
            </div>
            <div
                *ngIf="isProspectiveEmployee && prospectiveEmployeeCategories?.length"
                class="column-nowrap stretch-vertical padding-left-right-1"
                >
                <div otFormElement
                    class="margin-top-1"
                    *ngFor="let category of prospectiveEmployeeCategories; trackBy: trackByIndex"
                    [label]="category"
                    >
                    {{formattedProspectiveEmployeeData[category]}}
                </div>
            </div>
        </div>
        <div class="inventory-lineage__navigator--container overflow-hidden"></div>
    </div>
</div>
