<ot-modal-header (close)="closeModal()">
    <div>{{ 'ChangeControlStatus' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="column-nowrap min-height-25">
        <h5 class="text-center"> {{ "ChangeControlStatusForText" | otTranslate }} </h5>
        <h5 class="text-center text-bold"> {{ controlIdentifier }} </h5>
        <div
            *ngIf="!isReady; else controlStatusForm"
            class="stretch-vertical column-nowrap justify-center"
            >
            <ot-loading otPageLoading></ot-loading>
        </div>
        <ng-template #controlStatusForm>
            <form
                name="ChangeControlStatusForm"
                class="change-inventory-status-modal_content flex-full-height"
                [formGroup]="changeControlStatusForm"
                >
                <div
                    otFormElement
                    class="margin-top-1"
                    [required]="true"
                    [label]="'SelectNewStatus' | otTranslate"
                    >
                    <ot-picklist
                        ot-auto-id="ChangeControlbraryStatusPicklist"
                        [placeholder]="'SelectNewStatus' | otTranslate"
                        [options]="statusOptions"
                        [model]="status.value"
                        [isRequired]="true"
                        [autoClose]="true"
                        [disabled]="isSaving"
                        (onSelect)="selectStatus($event)"
                        >
                    </ot-picklist>
                </div>
                <div
                    otFormElement
                    class="margin-top-1"
                    [label]="'StatusDescription' | otTranslate"
                    >
                    <h5> {{ controlsStatusDescTranslationKeys[status?.value?.value] | otTranslate }} </h5>
                </div>
            </form>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="ChangeControlStatusCancelButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{"Cancel" | otTranslate}}
    </button>
    <button
        otButton
        brand
        ot-auto-id="ChangeControlStatusUpdateButton"
        [disabled]="changeControlStatusForm.invalid || !hasEdits || isSaving"
        [loading]="isSaving"
        (click)="updateStatus()"
        >
        {{"UpdateStatus" | otTranslate}}
    </button>
</ot-modal-footer>
