<div class="column-nowrap full-size background-white overflow-y-auto">
    <div
        *ngIf="system"
        class="system-layout__back-anchor static-vertical padding-top-2 padding-left-right-3"
    ></div>
    <div class="
        system-layout__body
        column-nowrap
        stretch-vertical
        full-size
    ">
        <div
            *ngIf="system && !hideBanner"
            class="system-layout__system-header centered-max-70 margin-top-bottom-3 padding-left-right-3 row-wrap full-width"
            >
            <intg-logo
                class="block static-horizontal margin-right-3"
                *ngIf="system.logo"
                [logoUrl]="system.logo.url"
                [logoStyle]="system.logo.style"
                [ribbonText]="(system.isComingSoon ? ('ComingSoon' | otTranslate) : '')"
                logoSize="basic"
            ></intg-logo>
            <div class="column-vertical-center stretch-horizontal">
                <h1
                    class="heading1 margin-top-bottom-half text-uppercase text-thin"
                    [innerHtml]="system.displayName || (system.nameKey ? (system.nameKey | otTranslate) : system.name)"
                ></h1>
                <div>
                    <span class="text-medium-small text-bold margin-top-half"
                        >{{'IntegratesWith' | otTranslate }}:
                    </span>
                    <span *ngFor="let name of system.moduleList; trackBy: trackByModuleIndex; let last = last;"
                        class="text-medium-small margin-top-half"
                        >
                        {{ ModuleFilters[name] | otTranslate }}
                        <span [ngClass]="{'hide': last}">,</span>
                    </span>
                </div>
            </div>
        </div>
        <ng-content class="column-nowrap stretch-vertical"></ng-content>
    </div>
</div>
