<ng-template #linkAssessmentLoader>
    <ot-loading otPageLoading
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    ></ot-loading>
</ng-template>
<ot-modal-header (close)="closeModal()">
    <div>{{ 'LinkAssessment' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    *ngIf="!isLoading; else linkAssessmentLoader"
    class="padding-all-0 flex-full-height height-100 overflow-y-auto overflow-x-hidden"
    >
    <p class="margin-top-2 text-center text-color-default">{{ incidentTranslationKeys.linkAssessmentBodyText | otTranslate}}</p>
    <form novalidate
        class="flex-full-height height-100"
        [formGroup]="linkAssessmentForm"
        >
        <div otFormElement
            class="margin-bottom-1"
            [label]="'SelectATemplate' | otTranslate"
            [required]="true"
            >
            <ot-template-select
                ot-auto-id="IncidentAssessmentTemplateSelect"
                [model]="selectedTemplateType"
                (onSelect)="selectTemplateType($event)"
            ></ot-template-select>
        </div>

        <div otFormElement
            class="max-height-15"
            [label]="'Assessments' | otTranslate"
            [required]="true"
            >
            <ot-lookup
                ot-auto-id="IncidentAssessmentSelect"
                [autoClose]="true"
                [clearInputOnModelChange]="true"
                [disabled]="!selectedTemplateType || isLoadingAssessments || noAssessmentOptions"
                [inputValue]="inputAssessmentValue"
                [labelKey]="labelKey"
                [model]="selectedAssessments"
                [multiSelect]="true"
                [options]="postFilterAssessmentOptions"
                [placeholder]="assessmentDropdownPlaceholder"
                [valueKey]="valueKey"
                [virtualScroll]="true"
                (modelChange)="onAssessmentModelChange($event)"
                (inputChange)="onAssessmentInputChange($event)"
            ></ot-lookup>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="NewIncidentCloseModalButton"
        [disabled]="isSaving"
        (click)="cancelButtonClicked()"
        >
        {{'Cancel' | otTranslate}}
    </button>
    <button otButton brand
        ot-auto-id="NewIncidentAddModalButton"
        [disabled]="!linkAssessmentForm.valid"
        [loading]="isSaving"
        (click)="linkButtonClicked()"
        >
        {{'Link' | otTranslate}}
    </button>
</ot-modal-footer>
