<div class="height-100 position-relative">
    <system-tray-subtasks-table *ngIf="!selectedSubtaskInfo; else subtaskDetails" (selectedSubtask)="selectedSubtask($event)"></system-tray-subtasks-table>
    <ng-template #subtaskDetails>
        <system-tray-subtasks-details
            [subtaskInfo]="selectedSubtaskInfo"
            (returnToList)="returnToList()"
            (nextSubtaskEvent)="nextSubtask()"
            (previousSubtaskEvent)="previousSubtask()"
        ></system-tray-subtasks-details>
    </ng-template>
</div>
