<div
    class="template-option-details padding-bottom-1 row-space-between-center border-bottom flex"
    [ngClass]="{'disabled': isOptionDisabled}">
    <div class="padding-right-1 flex-full-70">
        <div class="color-slate text-bold paragraph-medium-small">{{option.title}}</div>
        <div class="color-slate paragraph-medium-small">{{option.description}}</div>
    </div>
    <div *ngIf="!option.showSelectableOptions">
        <ot-toggle
            ot-auto-id="TemplateOptionDetailsToggle"
            [checked]="optionValue"
            (toggle)="toggleStateChangeCallback($event)"
        ></ot-toggle>
    </div>
</div>
