<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle | otTranslate"
    (close)="closeModal()"
    >
    <section class="flex-full-height min-height-25">
        <form  novalidate
            class="max-width-full margin-all-0 full-width padding-all-2 flex-full-height overflow-x-hidden"
            [formGroup]="credentialForm"
            >
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'CredentialName'| otTranslate"
                [required]="true"
            >
                <input otInput
                    formControlName="name"
                    ot-auto-id="IntgCredentialName"
                    maxlength="100"
                    [placeholder]="'EnterName'| otTranslate"
                />
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Hostname'| otTranslate"
            >
                <input otInput
                    formControlName="hostname"
                    ot-auto-id="IntgCredentialHostname"
                    maxlength="100"
                    [placeholder]="'EnterHostname'| otTranslate"
                />
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Description'| otTranslate"
            >
                <textarea otTextarea
                    formControlName="description"
                    ot-auto-id="IntgCredentialDescription"
                    maxlength="512"
                    [placeholder]="'EnterDescription'| otTranslate"
                ></textarea>
            </div>

            <div otFormElement
                class="padding-top-bottom-1 border-top-bottom"
                [label]="'EnterDefaultHeadersToInclude' | otTranslate"
            >
                <ng-container
                    formArrayName="defaultHeader"
                    *ngFor="let header of credentialForm.get('defaultHeader')!['controls']; let i = index;let last=last;let first=first;"
                >
                    <li
                        class="flex list-style-none row-space-between"
                        [formGroupName]="i">
                        <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                                <div
                                    class="text-bold"
                                    otFormElement
                                    [label]="'Key' | otTranslate"
                                >
                                    <div class="margin-top-1">
                                        <ot-lookup
                                            labelKey="key"
                                            [ngClass]="(header.get('value').value && !(inputValue || selectedOption[i])) || header.get('key').invalid  ? 'intg-action-add__loookup-invalid' : ''"
                                            [attr.ot-auto-id]="'IntgCredentialDefaultHeader_' + i"
                                            [options]="headerTypes"
                                            [model]="selectedOption[i]"
                                            [inputValue]="inputValue"
                                            (modelChange)="onModelChange($event, i)"
                                            (inputChange)="onInputChange($event)"
                                            (firstOptionSelect)="handleFirstOption(inputValue,i)"
                                        >
                                            <ng-template otFirstOption *ngIf="inputValue">
                                                <div
                                                    id="listbox-option-unique-id-00"
                                                    role="option"
                                                    [attr.ot-auto-id]="'IntgCredentialAddCustomDefaultHeader_' + i"
                                                    >
                                                    {{allowOtherPrependText | otTranslate}}: {{inputValue}}
                                                </div>
                                            </ng-template>
                                        </ot-lookup>
                                    </div>
                                </div>
                        </div>
                        <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                            <div class="text-bold" >{{'Value' | otTranslate}}</div>
                            <input otInput
                                class="margin-top-1 "
                                formControlName="value"
                                [ngClass]="{'border-has-error':header.get('value').invalid}"
                                [required]="selectedOption[i]"
                                [attr.ot-auto-id]="'IntgCredentialDefaultHeader' + i"
                                (ngModelChange)="onValueChange($event,i)"
                            />
                        </div>
                        <div class="flex align-center row-space-between intg-action-add__header-action-container margin-top-4 width-4">
                            <i
                                *ngIf="!(first && last)"
                                class="ot ot-minus-circle color-cherry text-pointer no-outline text-large intg-action-add__header-action-icons padding-left-right-half margin-right-1"
                                ot-auto-id="IntgCredentialRemoveOptionalHeaderButton"
                                (click)="onRemoveOptionClick(i)"
                            ></i>
                            <i
                                *ngIf="last"
                                class="ot ot-plus-circle color-green text-pointer no-outline text-xlarge intg-action-add__header-action-icons padding-left-right-half"
                                ot-auto-id="IntgCredentialAddOptionalHeaderButton"
                                (click)="onAddOptionClick()"
                            ></i>
                        </div>
                    </li>
                </ng-container>
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'AuthType' | otTranslate"
                [required]="true"
            >
                <ot-picklist
                    ot-auto-id="IntgCredentialAuthType"
                    [placeholder]="'Select' | otTranslate"
                    [autoClose]="true"
                    [options]="authTypes"
                    [model]="credentialForm.get('authType').value"
                    valueKey="value"
                    labelKey="key"
                    (onSelect)="credentialForm.get('authType').setValue($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                *ngIf="credentialForm.get('authType').value.value===intgAuthType.BASIC"
                [label]="'Username'| otTranslate"
                [required]="true"
            >
                <input otInput
                    formControlName="username"
                    ot-auto-id="IntgCredentialUsername"
                />
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                *ngIf="credentialForm.get('authType').value.value===intgAuthType.BASIC"
                [label]="'Password'| otTranslate"
                [required]="true"
            >
                <input otInput
                    formControlName="password"
                    ot-auto-id="IntgCredentialPassword"
                    type="password"
                />
            </div>

            <div otFormElement
                class="padding-top-bottom-1"
                *ngIf="credentialForm.get('authType').value.value===intgAuthType.BEARER_TOKEN"
                [label]="'Token'| otTranslate"
                [required]="true"
            >
                <textarea otTextarea
                    formControlName="token"
                    ot-auto-id="IntgCredentialToken"
                ></textarea>
            </div>

            <div *ngIf="credentialForm.get('authType').value.value===intgAuthType.OAUTH2_TOKEN">
                <div formGroupName="oAuth">
                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'GrantType' | otTranslate"
                        [required]="true"
                    >
                        <ot-picklist
                            ot-auto-id="IntgCredentialOAuthGrantType"
                            valueKey="value"
                            labelKey="key"
                            [placeholder]="'Select' | otTranslate"
                            [autoClose]="true"
                            [options]="grantTypes"
                            [model]="credentialForm.get('oAuth').get('grantType').value"
                            (onSelect)="credentialForm.get('oAuth').get('grantType').setValue($event)"
                        ></ot-picklist>
                    </div>

                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'AccessTokenUrl'| otTranslate"
                        [required]="true"
                    >
                        <input otInput
                            formControlName="accessTokenUrl"
                            ot-auto-id="IntgCredentialOAuthAccessTokenUrl"
                        />
                    </div>

                    <div otFormElement
                        *ngIf="selectedGrantType===intgGrantType.Password_Credentials"
                        class="padding-top-bottom-1"
                        [label]="'Username'| otTranslate"
                        [required]="true"
                    >
                        <input otInput
                            formControlName="oAuthUsername"
                            ot-auto-id="IntgCredentialOAuthUsername"
                        />
                    </div>

                    <div otFormElement
                        *ngIf="selectedGrantType===intgGrantType.Password_Credentials"
                        class="padding-top-bottom-1"
                        [label]="'Password'| otTranslate"
                        [required]="true"
                    >
                        <input otInput
                            formControlName="oAuthPassword"
                            ot-auto-id="IntgCredentialOAuthPassword"
                            type="password"
                        />
                    </div>

                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'ClientId'| otTranslate"
                        [required]="true"
                    >
                        <input otInput
                            formControlName="clientId"
                            ot-auto-id="IntgCredentialOAuthClientId"
                        />
                    </div>

                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'ClientSecret'| otTranslate"
                        [required]="true"
                    >
                        <input otInput
                            formControlName="clientSecret"
                            ot-auto-id="IntgCredentialOAuthClientSecret"
                        />
                    </div>
                     <div otFormElement
                        *ngIf="selectedGrantType===intgGrantType.Client_Credentials"
                        class="padding-top-bottom-1"
                        [label]="'Scope'| otTranslate"
                    >
                        <input otInput
                            formControlName="scope"
                            ot-auto-id="IntgCredentialOAuthClientCredentialScope"
                        />
                    </div>
                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'AuthenticationParams' | otTranslate"
                        [required]="true"
                    >
                        <ot-picklist
                            ot-auto-id="IntgCredentialOAuthParamType"
                            labelKey="key"
                            [autoClose]="true"
                            [options]="clientAuthentication"
                            [model]="credentialForm.get('oAuth').get('authParameterType').value"
                            (onSelect)="credentialForm.get('oAuth').get('authParameterType').setValue($event)"
                        ></ot-picklist>
                    </div>
                </div>
                <div formGroupName="oAuthResponse">
                    <div otFormElement
                        *ngIf="selectedGrantType===intgGrantType.Refresh || selectedGrantType===intgGrantType.Password_Credentials"
                        class="padding-top-bottom-1"
                        [label]="'RefreshToken'| otTranslate"
                        [required]="selectedGrantType===intgGrantType.Refresh"
                    >
                        <textarea otTextarea
                            formControlName="refreshToken"
                            ot-auto-id="IntgCredentialOAuthRefreshToken"
                            [required]="selectedGrantType===intgGrantType.Refresh"
                        ></textarea>
                    </div>
                </div>
                <div>
                    <button otButton neutral
                        ot-auto-id="IntgCredentialsOAuthGenerateTokenBtn"
                        class="height-100"
                        [disabled]="(credentialForm.get('oAuth')?.invalid || credentialForm.get('oAuthResponse')?.get('refreshToken')?.invalid) || generateTokenInProgress"
                        [innerText]="'GenerateToken' | otTranslate"
                        [loading]="generateTokenInProgress"
                        (click)="generateToken()"
                    ></button>
                </div>
                <div formGroupName="oAuthResponse">
                    <hr/>
                    <div otFormElement
                        class="padding-top-bottom-1"
                        [label]="'AccessToken'| otTranslate"
                        [required]='true'
                    >
                        <textarea otTextarea
                            formControlName="accessToken"
                            ot-auto-id="IntgCredentialOAuthAccessToken"
                        ></textarea>
                    </div>
                </div>
            </div>
        </form>
        <footer otPageFooter class="padding-all-2 border-none">
            <button otButton
                ot-auto-id="IntgCredentialsModalCancelBtn"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
            ></button>
            <button otButton brand
                ot-auto-id="IntgCredentialsModalAddBtn"
                class="height-100"
                [innerText]="(isEdit ? 'Save' :'Add') | otTranslate"
                [disabled]="credentialForm.invalid || saveInProgress"
                [loading]="saveInProgress"
                (click)="onClickAddCredential()"
            ></button>
        </footer>
    </section>
</one-modal-base>
