<div
    *ngIf="loading"
    class="background-white flex-full-height justify-center"
    >
    <ot-loading otPageLoading></ot-loading>
</div>
<section
    *ngIf="!loading"
    class="flex-full-height overflow-auto background-white"
    >
    <div
        *ngIf="rows?.totalElements"
        class="position-relative"
        >
        <div class="overflow-auto">
            <table
                otDataTable
                [rowBordered]="rowBordered"
                [rowData]="rows.content"
                [rowFlagKey]="rowFlagKey"
                [sortable]="sortable"
                [resizableCol]="resizable"
                [responsiveTable]="responsive"
                [sortOrder]="sortOrder"
                [sortedKey]="sortedKey"
                (sortChanged)="handleSortChange($event)"
                [truncateCellContent]="true"
                class="cr-table__table"
                >
                <ng-container *ngFor="let col of columns; let columnIndex = index ">
                    <ng-container *ngIf="col.columnType === 'selectRow'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            [thClass]="'text-center min-width-5'"
                            [tdClass]="'text-center margin-0 min-width-5 media-middle'"
                            >
                            <ng-template otDataTableHeader let-column="column">
                                <div class="slds-th__action slds-th__action_form">
                                    <ot-checkbox
                                        tabindex="-1"
                                        ot-auto-id="RowSelectionHeaderCheckbox"
                                        [checked]="allRowsSelected"
                                        (toggle)="handleSelectAll(col.cellValueKey)"
                                    ></ot-checkbox>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell let-row="row" let-column="column">
                                <div class="padding-top-1">
                                    <ot-checkbox
                                        tabindex="-1"
                                        [checked]="rowSelection[resolveProperty(row,col.cellValueKey)]"
                                        [attr.ot-auto-id]="'LanguageSelectionLanguageCheckbox-'+row.value"
                                        (toggle)="handleSelectRow(resolveProperty(row,col.cellValueKey))"
                                    ></ot-checkbox>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'idLink'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableCell tdClass="slds-truncate {{col.cellClass}}" let-row="row" let-column="column">
                                <a
                                    [attr.ot-auto-id]="'CrTableIdLink_' + columnIndex + '_' + row[col.routeIdField || 'Id']"
                                    [title]="resolveProperty(row, col.cellValueKey)"
                                    (click)="generateRoute(row, col)"
                                    >
                                    <span class="text-bold">
                                        {{ resolveProperty(row, col.cellValueKey) }}
                                    </span>
                                </a>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'timestamp'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableCell let-row="row" let-column="column">
                                <div class="slds-truncate">
                                    <span>{{ resolveProperty(row, col.cellValueKey) ? (resolveProperty(row, col.cellValueKey) | otDate:'datetime') : "- - - -" }}</span>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'statusTag'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableHeader [thClass]="'max-width-15'">
                                <div
                                    class="text-center margin-left-right-auto slds-truncate"
                                    title="{{ col.columnName }}"
                                    >
                                    <span class="text-bold">
                                        {{ col.columnName }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'text-center slds-truncate'" let-row="row" let-column="column">
                                <span [otBadge]="resolveProperty(row, col.cellValueKey || 'Status') | consentStatusColor">
                                    {{ col.rowToText(row) }}
                                </span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'versionTag'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableHeader [thClass]="'max-width-15'">
                                <div
                                    class="text-center margin-left-right-auto slds-truncate"
                                    title="{{ col.columnName }}"
                                    >
                                    <span class="text-bold">
                                        {{ col.columnName }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'text-center slds-truncate'" let-row="row" let-column="column">
                                <span [otBadge]>{{ row[col.cellValueKey] | consentVersionLabel }}</span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'actions'">
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thClass]="'max-width-15'" [thStyle]="{'min-width': '4rem'}">
                                <div></div>
                            </ng-template>
                            <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                                <div></div>
                            </ng-template>
                        </ot-data-table-column>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thClass]="'float-col max-width-15'">
                                    <div></div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'float-col z-index-1'" let-row="row">
                                <ot-context-menu
                                    class="height-100 flex-full-height column-vertical-center"
                                    position="bottom-right"
                                    [menu]="ellipsisOptions"
                                    [type]="2"
                                    (toggled)="getEllipsisOptions(col, row)"
                                    >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a *otContextMenuItem="let option"
                                        (click)="option.action()"
                                        >
                                        {{ option.text }}
                                    </a>
                                </ot-context-menu>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'number'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableHeader [thClass]="'max-width-15'">
                                <div class="text-center margin-left-right-auto slds-truncate" title="{{ col.columnName }}">
                                    <span class="slds-truncate text-bold">
                                        {{ col.columnName }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell let-row="row" let-column="column">
                                <div class="text-center">
                                    {{ col.rowToText ? col.rowToText(row) : resolveProperty(row, col.cellValueKey) }}
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="!col.columnType">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableCell tdClass="slds-truncate {{col.cellClass}}" let-row="row">
                                {{ col.rowToText ? col.rowToText(row) : resolveProperty(row, col.cellValueKey) }}
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'doubleOptIn'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [thClass]="'cr-table__header'"
                            >
                            <ng-template otDataTableHeader [thClass]="'max-width-15'">
                                <div
                                    class="text-center margin-left-right-auto slds-truncate"
                                    title="{{ col.columnName }}"
                                    >
                                    <span class="text-bold">
                                        {{ col.columnName }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'text-center slds-truncate'" let-row="row" let-column="column">
                                <span [otBadge]="row.DoubleOptIn | consentDoubleOptInStatusColor">
                                    {{ col.rowToText(row) }}
                                </span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
    <div
        *ngIf="!rows"
        class="row-horizontal-vertical-center margin-top-4"
        >
        {{ (errorKey || 'ErrorLoadingResults') | otTranslate }}
    </div>
    <div
        *ngIf="rows?.totalElements === 0"
        class="row-horizontal-vertical-center margin-top-4 flex-full-height text-center"
        >
        <ot-empty-state [emptyStateMessage]="(noDataKey || 'NoResultsFound') | otTranslate">
            <img emptyStateImg/>
            <button otButton brand
                empty-state-content
                *ngIf="noDataRoute.observers.length && noDataRoutePermission"
                ot-auto-id="ConsentEmptyStateAddNewButton"
                [innerText]="'AddNew' | otTranslate"
                (click)="noDataRoute.emit()"
                >
            </button>
        </ot-empty-state>
    </div>
</section>
<div *ngIf="!loading && showPaginationControl">
    <ot-pagination
        class="margin-all-2"
        [currentPage]="rows.number"
        [handleOffset]="true"
        [showPageCount]="!noCounts"
        [numPages]="!noCounts ? rows.totalPages : rows.totalPages + 1"
        (pageChanged)="pageChange.emit($event)"
    ></ot-pagination>
    <span>{{ rows | otPageMeta:paginationFormat }}</span>
</div>
