.cr-table {
    &__cell {
        width: auto;
        width: initial;
        min-width: auto;
        min-width: initial;
        max-width: none;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__row {
        &:hover {
            background-color: $eggshell;
            cursor: pointer;
        }
    }

    &__header {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    &__table {
        overflow: visible !important;
    }

    &__dropdown {
        top: -2rem;
        right: 1rem;
    }

    &__container {
        height: calc(100% - 6rem);
    }

    &__context-button {
        .one-dropdown {
            top: .7rem;
        }
    }

    &__pagination--nocount {
        .ot-pagination__hyphen,
        .ot-pagination__num-pages {
            display: none;
        }

        .ot-pagination__input {
            margin-right: 1rem;
        }
    }
}