<div class="inventory-related-table flex-full-height">
    <div class="inventory-related-table__header-wrapper margin-bottom-auto border-top">
        <header class="inventory-related-table__header padding-left-right-1 row-vertical-center row-space-between border-bottom">
            <h4>{{inventory.name}}</h4>
            <button
                class="margin-left-auto"
                *ngIf="inventoryPermissions.canEditDetails"
                otButton
                neutral
                [attr.ot-auto-id]="'relateNewInventoryItem'"
                [disabled]="!isReady"
                (click)="addInventoryRelationship()"
                >
                {{ relateInventoryText }}
            </button>
        </header>
    </div>
    <div class="position-relative max-width-full flex-full-height">
        <div
            class="overflow-x-auto"
            [ngClass]="{ 'position-relative' : isExpanded }"
            >
            <table
                *ngIf="isReady && inventory.rows?.length"
                otDataTable
                [rowData]="inventory.rows"
                [rowBordered]="true"
                [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled }"
                >
                <ng-container *ngFor="let col of inventory.columns; trackBy: columnTrackBy; let columnIndex = index;">
                    <ot-data-table-column
                        [headerLabel]="col.label"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            [thStyle]="{'padding': '0 1rem'}"
                            >
                            <span
                                [ngClass]="{'block text-center' : columnIndex !== 0}"
                                class="text-bold"
                                >
                                {{col.label}}
                            </span>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row" [tdClass]="'max-25'">
                            <ng-container *ngIf="col.type === cellTypes.link && row.canEdit && hasRelatedViewPermission">
                                <a
                                    class="slds-truncate block text-pointer text-link text-bold"
                                    title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                    (click)="goToRecord(row)"
                                    >
                                    {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="col.type === cellTypes.text || !row.canEdit || !hasRelatedViewPermission">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                    title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}"
                                    >
                                    {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}
                                </div>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'">
                            <div></div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            [tdClass]="'float-col background-transparent'"
                            [tdStyle]="{'background': 'transparent'}"
                            let-row="row"
                            >
                            <upgraded-one-dropdown
                                *ngIf="!row.inbound"
                                class="inventory-table-new__context-button"
                                [icon]="'ot ot-ellipsis-h'"
                                [hideCaret]="true"
                                [alignRight]="true"
                                [getOptions]="getActions(row)"
                                [buttonClass]="'actions-table__context-btn'"
                                [listClass]="menuClass"
                                >
                            </upgraded-one-dropdown>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
            <ot-loading
                otPageLoading
                *ngIf="!isReady"
                class="inventory-related-table__loading flex-full-height justify-center"
                >
            </ot-loading>
            <ot-empty-state
                class="margin-top-3 padding-bottom-0 align-self-center"
                *ngIf="isReady && !inventory.rows?.length"
                [emptyStateMessage]="'NoRecordsFound' | otTranslate"
                >
                <img emptyStateImg />
                <button
                    *ngIf="inventoryPermissions.canEditDetails"
                    otButton
                    brand
                    empty-state-content ot-auto-id="RelateNewInventoryFromTable"
                    class="margin-top-1"
                    (click)="addInventoryRelationship()"
                    >
                    {{ relateInventoryText }}
                </button>
            </ot-empty-state>
        </div>
    </div>
    <div
        class="margin-top-auto"
        *ngIf="isReady && inventory.rows?.length"
        [ngClass]="{ 'border-top': isExpanded || !isReady }"
        >
        <footer class="padding-all-1 row-nowrap">
            <upgraded-one-pagination
                *ngIf="isExpanded && isReady && inventory.rows?.length"
                paginationClass="margin-right-auto"
                [list]="inventory"
                (onPageChange)="pageChange($event.page)"
                >
            </upgraded-one-pagination>
            <button
                *ngIf="inventory.totalElements > config.defaultSize"
                class="margin-left-auto"
                otButton
                neutral
                [attr.ot-auto-id]="'relatedInventoryTableExpand'"
                [disabled]="!isReady"
                (click)="toggleExpanded()"
                >
                {{ isExpanded ? ('ViewLess' | otTranslate) : ('ViewMore' | otTranslate) }}
            </button>
        </footer>
    </div>
</div>
