<div class="row-vertical-center width-30-percent margin-right-1">
    <span
        *ngIf="!first"
        class="text-bold margin-left-half margin-right-1"
        [innerText]="translations.OR"
    ></span>
    <ot-lookup
        class="stretch-horizontal"
        valueKey="field"
        labelKey="fieldDisplay"
        [allowHint]="false"
        [attr.ot-auto-id]="'OneRuleConditionField_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
        [autoClose]="true"
        [clearInputOnModelChange]="true"
        [disabled]="!editMode"
        [model]="fieldModel?.field ? fieldModel : null"
        [multiSelect]="false"
        [ngClass]="{'one-rule-condition--error': saveValidated && !fieldModel?.field}"
        [options]="conditionMeta | lookup: [] : currentInputValue : 'field' : 'fieldDisplay'"
        [placeholder]="translations?.Field"
        (inputChange)="filterInput($event, 'field')"
        (modelChange)="fieldSelect($event.currentValue)"
        (click)="clearInput()"
    ></ot-lookup>
</div>
<ot-lookup
    class="width-30-percent margin-right-1"
    valueKey="operator"
    labelKey="operatorDisplay"
    [allowHint]="false"
    [attr.ot-auto-id]="'OneRuleConditionOperator_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [autoClose]="true"
    [clearInputOnModelChange]="true"
    [disabled]="!editMode"
    [model]="operatorModel"
    [multiSelect]="false"
    [ngClass]="{'one-rule-condition--error': saveValidated && !operatorModel?.operator}"
    [options]="fieldModel?.operators | lookup: [] : currentInputValue : 'operator' : 'operatorDisplay'"
    [placeholder]="translations?.Operator"
    (inputChange)="filterInput($event, 'operator')"
    (modelChange)="operatorSelect($event.currentValue)"
    (click)="clearInput()"
></ot-lookup>
<ot-lookup
    class="width-30-percent"
    [allowHint]="false"
    [attr.ot-auto-id]="'OneRuleConditionValue_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [autoClose]="true"
    [clearInputOnModelChange]="true"
    [disabled]="!editMode"
    [labelKey]="fieldModel?.labelKey"
    [model]="valueModel"
    [multiSelect]="false"
    [ngClass]="{'one-rule-condition--error': saveValidated && !valueModel}"
    [options]="fieldModel?.options
        | lookup: [] : currentInputValue : fieldModel?.valueKey
        : fieldModel?.labelKey"
    [placeholder]="translations.Value"
    [valueKey]="fieldModel?.valueKey"
    (inputChange)="filterInput($event, 'options')"
    (modelChange)="valueSelect($event.currentValue)"
    (click)="clearInput()"
></ot-lookup>
<button otButton
    class="margin-left-1"
    [attr.ot-auto-id]="'OneRuleConditionRemove_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [ngClass]="{'invisible': !editMode}"
    [icon]="'fa fa-minus-circle text-error'"
    (click)="removeCondition()"
></button>
<button otButton
    [attr.ot-auto-id]="'OneRuleConditionAdd_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [ngClass]="{'invisible': !last || !editMode}"
    [icon]="'fa fa-plus-circle text-success'"
    (click)="addCondition()"
></button>
