.one-rule-condition {
    &--error .ot-lookup__input {
        border: 1px solid $cherry !important;
    }

    & .ot-lookup__input {
        padding-right: 1rem;
    }

    & .slds-combobox {
        position: relative;
        width: 100%;
    }
}
