.dm-template {
    height: calc(100vh - 5rem);
    display: flex;
    flex-flow: column nowrap;

    &__header {
        flex: 0 0 auto;
    }

    &__body {
        flex: 1 1 auto;
        min-height: 1px;
        display: flex;
        flex-flow: row nowrap;
    }

    &__sidebar,
    &__versions {
        flex: 0 0 26rem;
        overflow-y: auto;
    }

    &__sidebar {
        border-right: 1px solid $grey-3;
    }

    &__versions {
        border-left: 1px solid $grey-3;
    }

    &__list {
        flex: 1 1 auto;
        min-width: 1px;
        overflow-y: auto;
        display: block;
        margin: 0 auto;
        padding: 4rem 0;
        width: 100%;
        max-width: 90rem;
    }
}
