<ot-modal-header (close)="cancelPurchase()">
    <div>{{ 'UpgradeAccount' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="row-space-between stretch-vertical">
        <div class="column-nowrap width-45-percent margin-left-right-1-half">
            <img
                src="../shared/images/logo.png"
                class="center-block margin-top-1-half width-45-percent margin-bottom-2 static-vertical"
                >
            <img
                class="width-25-percent center-block static-vertical"
                src="../shared/images/contact_icon.svg"
                >
            <p class="
                text-center
                text-bold
                text-medium
                margin-top-2
                margin-left-right-2
                margin-bottom-1-half
                "
                [innerHtml]="'GetInTouch' | otTranslate"
            ></p>
        </div>
        <hr class="height-auto border-left">
        <div class="column-nowrap width-50-percent margin-left-4 margin-bottom-6">
            <form
                novalidate
                class="full-width"
                [formGroup]="skuManagementContactSalesForm">
                    <div otFormElement
                        class="margin-top-1"
                        [label]="'FirstName' | otTranslate"
                        [required]="true"
                        [errorMessage]="firstNameErrorMessage"
                        [hasError]="getError('firstName')"
                        >
                        <input otInput
                            formControlName="firstName"
                            ot-auto-id="ContactSalesFirstNameInput"
                            [placeholder]="'EnterYourFirstName' | otTranslate"
                        />
                    </div>
                    <div otFormElement
                        class="margin-top-bottom-2"
                        [label]="'LastName' | otTranslate"
                        [required]="true"
                        [errorMessage]="lastNameErrorMessage"
                        [hasError]="getError('lastName')"
                        >
                        <input otInput
                            formControlName="lastName"
                            ot-auto-id="ContactSalesLastNameInput"
                            [placeholder]="'EnterYourLastName' | otTranslate"
                        />
                    </div>
                    <div otFormElement
                        class="margin-top-bottom-2"
                        [label]="'EmailAddress' | otTranslate"
                        [required]="true"
                        [errorMessage]="emailErrorMessage"
                        [hasError]="getError('emailAddress')"
                        >
                        <input otInput
                            formControlName="emailAddress"
                            ot-auto-id="ContactSalesEmailAddressInput"
                            [placeholder]="'EnterEmailAddress' | otTranslate"
                        />
                    </div>
                    <div otFormElement
                        class="margin-top-bottom-2"
                        [label]="'PhoneNumber' | otTranslate"
                        >
                        <input otTextarea
                            formControlName="phoneNumber"
                            ot-auto-id="ContactSalesPhoneNumberInput"
                            [placeholder]="'EnterPhoneNumberOptional' | otTranslate"
                        />
                    </div>
                    <div otFormElement
                        class="margin-top-bottom-2"
                        [label]="'Interest' | otTranslate"
                        >
                        <textarea otTextarea
                            formControlName="interestDesc"
                            ot-auto-id="ContactSalesInterestedDescriptionInput"
                            [placeholder]="'WhatAreYouInterestedIn' | otTranslate"
                        ></textarea>
                    </div>
            </form>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="ContactSalesCancelButton"
        (click)="cancelPurchase()"
        >
        {{ 'Cancel' | otTranslate}}
    </button>
    <button otButton brand
        ot-auto-id="ContactSalesSubmitButton"
        [disabled]="disabled || !skuManagementContactSalesForm.valid"
        [loading]="disabled"
        (click)="contactSalesSubmit()"
        >
        {{'Submit' | otTranslate}}
    </button>
</ot-modal-footer>
