
<ng-container *asyncValue="dashboardWidgetFormService.countEntitySelection$; let countEntitySelection">
    <div otFormElement
        class="full-width margin-bottom-2"
        [label]="'Entity' | otTranslate"
        [required]="true"
        >
        <ot-lookup
            ot-auto-id="DashboardWidgetFormCountEntity"
            valueKey="id"
            labelKey="label"
            [placeholder]="'Module' | otTranslate"
            [options]="(dashboardWidgetFormService.countEntityOptions$ | async) | lookup: countEntitySelection : countEntitySearchTerm : 'id' : 'label'"
            [model]="countEntitySelection"
            (modelChange)="onCountEntityChange($event.currentValue)"
            (inputChange)="countEntitySearch($event)"
            >
        </ot-lookup>
    </div>
</ng-container>
<ng-container *asyncValue="dashboardWidgetFormService.countSubEntitySelection$; let countSubEntitySelection">
    <ng-container *asyncValue="dashboardWidgetFormService.countSubEntityOptions$; let countSubEntityOptions">
        <div otFormElement
            class="full-width"
            [label]="'SubEntity' | otTranslate"
            [required]="true"
            >
            <ot-lookup
                ot-auto-id="DashboardWidgetFormCountSubEntity"
                valueKey="id"
                labelKey="label"
                [placeholder]="'SubEntity' | otTranslate"
                [options]="countSubEntityOptions | lookup: countSubEntitySelection : countSubEntitySearchTerm : 'id' : 'label'"
                [disabled]="!countSubEntityOptions?.length"
                [model]="countSubEntitySelection"
                (modelChange)="onCountSubEntityChange($event.currentValue)"
                (inputChange)="countSubEntitySearch($event)"
                >
            </ot-lookup>
        </div>
    </ng-container>
</ng-container>
