.error-page {

    &__icon {
        font-size: 5.8rem;
    }

    &__logo {
        max-height: 8rem;
        max-width: 35rem;
    }

    &__title {

        &-error {
            font-weight: 600;
        }

    }

}
