<ot-page-header
    class="margin-bottom-1"
    [title]="'VendorRiskManagement' | translate"
    type="clear"
></ot-page-header>
<ng-template #pageLoaded>
    <div otSettingContainer class="stretch-vertical overflow-y-auto">
        <ot-setting
            [title]="'VendorpediaOnboardingUserCreation' | translate"
            [description]="'CreationVendorManagementMessage' | translate"
            >
            <ot-toggle
                ot-auto-id="SettingsVendorManagementToggle"
                [checked]="useCreationEnabled"
                [disabled]="isSaving"
                (toggle)="useCreationEnabled = !useCreationEnabled"
            ></ot-toggle>
        </ot-setting>
    </div>
    <footer otPageFooter>
        <button otButton brand
            ot-auto-id="SettingsVendorManagementSave"
            [disabled]="responseValue === useCreationEnabled || isSaving"
            [loading]="isSaving"
            (click)="saveSetting()"
            >
            {{ 'Save' | translate }}
        </button>
    </footer>
</ng-template>
<ot-loading otPageLoading
    *ngIf="isLoading; else pageLoaded"
    >
    {{ 'Loading' | translate }}...
</ot-loading>
