.template-version-pane {
    top: auto;
    bottom: auto;
    height: calc(100% - 5rem);

    &__section {
        height:100%;
        overflow:auto;
    }

    &__loading {
        height:100%;
        overflow:auto;
        width: 200px;
    }

    &__container {
        min-width: 26rem;
    }

    &__list {
        margin: 0;
    }

    &__item {
        border-bottom: 1px solid $grey-3;
    }

    &__title {
        font-size: 1.4rem;
        padding: 1.6rem 1rem;
        margin: 0;
        letter-spacing: .1rem;
        border-bottom: 1px solid $grey-3;
    }

    &__divider {
        background-color: $slate;
        color: $white;
        padding: .2rem;
    }

    &__tab {
        padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:hover {
            background-color: $white;
            cursor:pointer;
        }
    }

    &__text {
        flex: 1 1 auto;
        min-width: 1px;
    }

    &__number {
        margin-right: .6rem;
        margin-left: .3rem;
        vertical-align: middle;
        font-size: 1.7rem;
    }

    &__state {
        margin-right: .6rem;
    }

    &__tag {
        display: block;
        margin-top: .5rem;
    }

    &__date {
        display: block;
        margin-top: .5rem;
        margin-top: .2rem;
        font-size: 1.2rem;
    }

    &__icon {
        vertical-align: middle;

        &:hover {
            color: darken($slate, 20%);
        }
    }

    &__details {
        padding: 1rem 1rem 1rem 2rem;
        border-top: 1px dashed $grey-1;

        &-group {
            margin-bottom: 1rem;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-label {
            margin: 0;
            font-weight: normal;
        }
    }

    &__item.is-current-version {
        .template-version-pane {

            &__tab {
                background-color: $active-blue;
                color: $black;
                cursor: auto;
            }

            &__details {
                border-top: 0;
            }

            &__state {
                .current-draft {
                    color: $black;
                }
            }
        }
    }

    &__icons-section {
        width: 5rem;
        padding-top: 0.6rem;
    }
}
