<ot-drawer
    class="template-version-pane z-index-999 height-100 overflow-y-auto"
    ot-auto-id="TemplateVersionOtDrawer"
    [open]="isDrawerOpen"
    [closeButtonText]="'Close' | otTranslate"
    (closeClick)="closeVersionPane()"
>
    <div class="template-version-pane__container">
        <section
            *ngIf="versionGroups"
            class="template-version-pane__section background-eggshell"
        >
            <h4 class="template-version-pane__title text-uppercase text-bold text-center">
                {{"VersionHistory"  | otTranslate}}
            </h4>
            <ul
                *ngFor="let group of versionGroups;"
                class="template-version-pane__list"
            >
                <li
                    *ngIf="group.versionList.length > 0"
                    class="template-version-pane__divider text-center text-bold"
                >
                    {{group.title}}
                </li>
                <li
                    *ngFor="let item of group.versionList; trackBy: trackByVersionListId"
                    class="template-version-pane__item"
                    [ngClass]="{'is-current-version':item.templateVersion === currentVersion}"
                >
                    <header
                        class="template-version-pane__tab"
                        ot-auto-id="TemplateVersionHistoryPaneGoToVersion"
                        (click)="goToVersion(item.templateVersion, item.rootVersionId)"
                    >
                        <section class="template-version-pane__text">
                            <span class="template-version-pane__number">
                                {{versionString + item.templateVersion}}
                            </span>
                            <i
                                *ngIf="isTemplateLocked"
                                class="template-version-pane__icon ot ot-lock"
                            >
                            </i>
                            <div class="padding-top-bottom-half">
                                <span [otBadge]="getOneTagLabelClass(item.status)"
                                    [innerHTML]="getOneTagLabel(item.status)">
                                </span>
                            </div>
                            <span class="template-version-pane__date text-bold">
                                {{"PublishedDate" | otTranslate}}
                                <div class="text-small">
                                        {{item.publishDate | otDate :"datetime"}}
                                </div>
                            </span>
                        </section>
                        <section class="template-version-pane__icons-section row-space-between-center">
                        <i
                            *ngIf="item.status === templateStates.Draft && !isTemplateLocked && isTemplateActive"
                            class="ot ot-trash-o template-version-pane__icon cursor-pointer"
                            ot-auto-id="TemplateVersionDeleteIcon"
                            [otTooltip]="{ content: 'DiscardDraft' | otTranslate, placement: 'left' }"
                            (click)="deleteDraft($event, item);"
                        >
                        </i>
                        <i
                            class="ot no-outline text-medium cursor-pointer color-slate"
                            ot-auto-id="TemplateVersionHistoryPaneExpandButton"
                            [ngClass]="{'ot-chevron-right': !item.isExpanded, 'ot-chevron-down': item.isExpanded}"
                            (click)="item.isExpanded = !item.isExpanded;$event.stopPropagation();"
                            >
                        </i>
                    </section>
                    </header>
                    <section
                        *ngIf="item.isExpanded"
                        class="template-version-pane__details color-slate"
                    >
                        <span
                            *ngIf="item.createdBy"
                            class="template-version-pane__date padding-bottom-1"
                        >
                            <span class="template-version-pane text-bold padding-right-half">{{"CreatedBy" | otTranslate}}:</span>
                            {{getUser(item.createdBy)}}
                        </span>
                        <span
                            *ngIf="item.createdDate"
                            class="template-version-pane__date padding-bottom-1"
                        >
                            <span class="template-version-pane text-bold padding-right-half">{{"Created" | otTranslate}}:</span>
                            <span class="text-small">
                                {{item.createdDate | otDate :"datetime"}}
                            </span>
                        </span>
                        <span
                            *ngIf="item.publishedBy"
                            class="template-version-pane__date padding-bottom-1"
                        >
                            <span class="template-version-pane text-bold padding-right-half">{{"PublishedBy" | otTranslate}}:</span>
                                {{getUser(item.publishedBy)}}
                            </span>
                        <span
                            *ngIf="item.publishDate"
                            class="template-version-pane__date padding-bottom-1"
                        >
                            <span class="template-version-pane text-bold padding-right-half">{{"Published" | otTranslate}}:</span>
                            <span class="text-small">
                                {{item.publishDate | otDate :"datetime"}}
                            </span>
                        </span>
                    </section>
                </li>
            </ul>
        </section>
        <ot-loading otPageLoading
            class="justify-center"
            *ngIf="!versionGroups">
            {{ 'Loading' | otTranslate }}
        </ot-loading>
    </div>
</ot-drawer>
