<div class="flex-full-width border-bottom overflow-x-auto">
    <!--
    <privacy-notice-builder-sidebar
        class="width-35-rem flex-full-height"
        [privacyNotice]="privacyNotice"
    ></privacy-notice-builder-sidebar>
    -->

    <div
        class="border-left flex-full-height padding-all-2 background-white overflow-y-auto width-100-percent min-width-40"
    >
        <div class="padding-all-1 background-grey border margin-bottom-1 border-radius-3">
            <h3 class="text-bold margin-top-0 flex align-center">
                {{ version?.name }}
            </h3>

            <div>
                <span class="text-bold">{{ "Version" | otTranslate }}:</span>
                <span>{{ version?.publicVersion }}</span>
            </div>
        </div>

        <ng-container *ngIf="(content$ | async) === null">
            <ot-loading otPageLoading class="flex-full-height"></ot-loading>
        </ng-container>

        <ng-container
            *ngIf="(content$ | async) !== null"
            [ngSwitch]="editingMode"
        >
            <ng-container *ngSwitchCase="editingModes.WYSIWYG">
                <ng-container [ngSwitch]="version.status">
                    <div *ngSwitchDefault [innerHtml]="(content$ | async)"></div>

                    <ot-rich-text-editor
                        *ngSwitchCase="policyStatus.DRAFT"
                        #richTextEditor
                        class="min-height-85-percent padding-bottom-3"
                        [customModules]="modules"
                        [contentModel]="(content$ | async)"
                        (onContentChanged)="onContentChanged($event.html)"
                    ></ot-rich-text-editor>
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="editingModes.HTML">
                <textarea
                    otTextarea
                    class="min-height-85-percent padding-all-1 text-large border-grey text-monospace"
                    aria-label="HTML"
                    [attr.placeholder]="'PolicyHTMLTextareaPlaceholder' | otTranslate"
                    [disabled]="version.status !== policyStatus.DRAFT"
                    [ngModel]="(content$ | async)"
                    (ngModelChange)="onContentChanged($event)"
                ></textarea>
            </ng-container>
        </ng-container>
    </div>
</div>
