<ng-template #subtasksTableLoader>
    <ot-loading otPageLoading class="margin-left-right-auto margin-top-3"></ot-loading>
</ng-template>
<ng-template #emptySubtasksTable>
    <ot-empty-state
        class="flex-full-height justify-center text-center padding-all-2"
        ot-auto-id="'AddSystemSubTasksListButton'"
        [emptyStateMessage]="'NoSubtasksAssigned' | translate"
        >
        <img emptyStateImg />
    </ot-empty-state>
</ng-template>

<div
    class="system-subtasks-table"
    *ngIf="!loadingSubTasks; else subtasksTableLoader"
    >
    <table
        otDataTable
        *ngIf="table?.rows?.length; else emptySubtasksTable"
        class="border-top-none"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="table.rows"
        [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        >
        <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-width-10"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                        title="{{ col.name }}"
                        >
                        <span class="slds-truncate text-bold">{{ col.name }}</span>
                    </div>
                </ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    let-rowIndex="rowIndex"
                    [tdClass]="'max-width-10'"
                    >
                    <ng-container [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="tableColumnTypes.Link">
                            <div class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <a
                                    ot-auto-id="SubTaskListCellLink"
                                    title="{{row[col.cellValueKey]}}"
                                    [otTooltip]="row[col.cellValueKey]"
                                    (click)="editSubtask(rowIndex, row)"
                                    >
                                    {{ row[col.cellValueKey] }}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Description">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <span [innerHTML]="row[col.cellValueKey]"></span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Status">
                            <div class="slds-truncate slds-text-align_center">
                                <div class="slds-truncate slds-text-align_center">
                                    <span class="text-uppercase"
                                        [otBadge]="row[col.cellValueKey].toUpperCase() | badgeColor: incidentSubTasksStatusColorMap"
                                        [innerText]="subTasksStatusName(row[col.cellValueKey])"
                                        >
                                    </span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Deadline">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <one-deadline-label
                                    [deadline]="row[col.cellValueKey]"
                                    [showDeadline]="showDeadline"
                                    >
                                </one-deadline-label>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.AssigneeName">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <span>{{ row[col.cellValueKey ]}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
                </ot-data-table-column>
                <ng-container *ngIf="col.type === 'action'">
                    <ot-data-table-column
                        [headerLabel]="col.name"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            [thClass]="'float-col'"
                            [thStyle]="{ 'width': 0 }"
                            >
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            let-row="row"
                            [tdClass]="'float-col'"
                            >
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
        </ng-container>
    </table>
</div>

<footer otPaginationFooter *ngIf="!loadingSubTasks && table?.rows?.length && tableMetaData?.totalPages > 1 || (!loadingSubTasks && !tableMetaData?.first)">
    <ot-pagination
        [currentPage]="tableMetaData?.number"
        [handleOffset]="true"
        [numPages]="tableMetaData?.totalPages"
        (pageChanged)="onPaginationChange($event)"
        >
    </ot-pagination>
    <span>
        {{ tableMetaData | otPageMeta }}
    </span>
</footer>
