<section class="row-nowrap">
    <ng-container *asyncValue="attributeOptions$; let attributeOptions">
        <ot-lookup
            class="full-width margin-right-1"
            ot-auto-id="DashboardWidgetFormFilterAttribute"
            valueKey="id"
            labelKey="groupName"
            [ngClass]="{'slds-has-error': showAttributeError}"
            [placeholder]="'Attribute' | translate"
            [options]="attributeOptions | lookup: attributeSelection : attributeSearchTerm : 'id' : 'groupName'"
            [model]="attributeSelection"
            [disabled]="!attributeOptions?.length"
            (modelChange)="onAttributeChange($event.currentValue)"
            (inputChange)="attributeSearch($event)"
            >
        </ot-lookup>
    </ng-container>
    <ot-lookup
        class="full-width margin-right-1"
        ot-auto-id="DashboardWidgetFormFilterOperator"
        valueKey="value"
        labelKey="label"
        [ngClass]="{'slds-has-error': showOperatorError}"
        [placeholder]="'Operator' | translate"
        [options]="operatorOptions | lookup: operatorSelection : operatorSearchTerm : 'value' : 'label'"
        [model]="operatorSelection"
        [disabled]="!operatorOptions?.length"
        (modelChange)="onOperatorChange($event.currentValue)"
        (inputChange)="operatorSearch($event)"
        >
    </ot-lookup>
    <ot-lookup
        class="full-width"
        ot-auto-id="DashboardWidgetFormFilterValues"
        valueKey="value"
        labelKey="label"
        [ngClass]="{'slds-has-error': showValueError}"
        [placeholder]="'Values' | translate"
        [options]="valueOptions | lookup: valueSelections : valueSearchTerm : 'value' : 'label'"
        [model]="valueSelections"
        [multiSelect]="true"
        [disabled]="!valueOptions?.length"
        (modelChange)="onValueChange($event.currentValue)"
        (inputChange)="valueSearch($event)"
        >
    </ot-lookup>
</section>
