<section
    class="full-size column-nowrap text-color-default"
    id="pia-project-assessment"
    >
    <ot-page-header
        [title]="'CreateAssessments' | otTranslate"
        (routeClicked)="goToRoute($event)"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                [attr.ot-auto-id]="'CreateAssessmentsBreadcrumbItem'"
                [label]="breadcrumb.label | otTranslate"
                [link]="breadcrumb.path"
                [params]="breadcrumb.params"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="'CreateAssessments' | otTranslate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <div class="assessment-body stretch-vertical column-nowrap">
        <assessment-bulk-launch-controls
            *ngIf="bulkAssessmentDetails && bulkAssessmentDetails.length > 1"
            [isTemplateReady]="isBulkControlsReady"
            [templateOptions]="templateDetails"
            [approverUserList]="approverDropdownOptions"
            [respondentUserList]="respondentDropdownOptions"
            [orgIdList]="orgIdList"
        ></assessment-bulk-launch-controls>
        <ot-loading otPageLoading
            *ngIf="isLoadingAssessments"
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
        <div
            class="flex justify-end column-nowrap"
            *ngIf="!isLoadingAssessments"
            >
            <div class="flex-full-80 background-white overflow-y-scroll row-flex-start">
                <div class="width-100-percent">
                    <!-- Assessment card list goes here -->
                    <assessment-bulk-launch-cards
                        [inventoryTypeId]="inventoryTypeId"
                        [isTemplateReady]="isBulkControlsReady"
                        [templateOptions]="templateDetails"
                        [approverUserList]="approverDropdownOptions"
                        [respondentUserList]="respondentDropdownOptions"
                        [orgIdList]="orgIdList"
                    ></assessment-bulk-launch-cards>
                </div>
            </div>
            <assessment-bulk-launch-footer></assessment-bulk-launch-footer>
        </div>
    </div>
</section>
