<one-modal-base
    [modalTitle]="modalTitle"
    [attr.ot-auto-id]="'IntgPreferenceDeleteCloseModal'"
    (close)="closeModal()">
    <section class="delete-confirmation-modal padding-all-2">
        <div class="row-horizontal-center margin-bottom-2">
            <span class="delete-confirmation-modal__icon fa-stack fa-lg">
                <i class="ot ot-circle fa-stack-2x color-cherry"></i>
                <i class="ot ot-trash-o fa-stack-1x fa-inverse margin-top-2-half"></i>
            </span>
        </div>
        <div class="delete-confirmation-modal__text text-center text-color-default">{{deleteMessageConfirmation}}</div>
        <div class="text-center margin-top-bottom-3">
            <label class="text-bold">{{confirmString}}</label>
        </div>
        <footer class="margin-top-1 row-flex-end padding-all-2">
            <button
                class="margin-right-1"
                otButton
                neutral
                [innerText]="'Cancel' | otTranslate"
                [attr.ot-auto-id]="'IntgPreferenceModalCancel'"
                (click)="closeModal()"
                >
            </button>
            <button
                otButton
                brand
                [innerText]="'Delete' | otTranslate"
                [attr.ot-auto-id]="'IntgPreferenceModalCreate'"
                (click)="onDeletePreferenceValue()"
                >
            </button>
        </footer>
    </section>
</one-modal-base>
