<div class="conditions-item column-nowrap">
    <div
        class="conditions-item__delete flex stretch-vertical"
    >
        <i
            *ngIf="showDeleteAction && !isTemplateLocked && isTemplateActive"
            class="ot ot-trash text-xlarge cursor-pointer"
            ot-auto-id="TemplateConditionsDeleteIcon"
            (click)="onConditionDeleted()"
        ></i>
        <i
            *ngIf="showEditAction && !isTemplateLocked && isTemplateActive"
            class="ot ot-edit text-xlarge cursor-pointer margin-right-2"
            ot-auto-id="TemplateConditionsEditIcon"
            (click)="onEditCondition()"
        ></i>
    </div>
    <div
        otFormElement
        class="padding-bottom-1"
        [label]="'Action' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            class="conditions-item__action"
            ot-auto-id="TemplateConditionsActionSelectionDropdown"
            [disabled]="actionPickListDisabled"
            [options]="actionPickList"
            [model]="actionSelected"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onActionSelected($event, true)"
        ></ot-picklist>
    </div>
    <ng-container [ngSwitch]="actionSelected?.value">
        <template-rule-skip-parameters
            *ngSwitchCase="actionTypes.skip.value"
            [skipConditionId]="skipCondition.id"
            [previewMode]="isPreviewMode"
        ></template-rule-skip-parameters>
        <template-rule-create-assessment-parameters
            *ngSwitchCase="actionTypes.sendAssessmentOnSubmit.value"
            [actionRuleId]="actionRule.id"
            [previewMode]="isPreviewMode"
            [actionSelected]="actionSelected?.value"
        ></template-rule-create-assessment-parameters>
        <template-rule-create-assessment-parameters
            *ngSwitchCase="actionTypes.sendAssessmentOnApprove.value"
            [actionRuleId]="actionRule.id"
            [previewMode]="isPreviewMode"
            [actionSelected]="actionSelected?.value"
        ></template-rule-create-assessment-parameters>
        <template-rule-add-approvers-parameters
            *ngSwitchCase="actionTypes.addApproverOnSubmit.value"
            [actionRuleId]="actionRule.id"
            [previewMode]="isPreviewMode"
        ></template-rule-add-approvers-parameters>
        <template-rule-create-risk-parameters
            *ngSwitchCase="actionTypes.riskCreation.value"
            [actionRuleId]="actionRule.id"
            [previewMode]="isPreviewMode"
        >
        </template-rule-create-risk-parameters>
    </ng-container>
    <div class="text-bold row-nowrap padding-bottom-1 margin-top-1">
        <span>{{'IfFollowingConditionsMet' | otTranslate}}</span>
        <ot-picklist
            class="conditions-item__logical-operator padding-left-1"
            ot-auto-id="TemplateConditionsOperatorSelectionDropdown"
            [autoClose]="true"
            [options]="logicalOperatorPickList"
            [model]="logicalOperatorSelected"
            [disabled]="isPreviewMode || actionSelected.value === 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onLogicalOperatorSelected($event)"
        ></ot-picklist>
    </div>
    <div
        class="text-bold padding-bottom-1"
        *ngFor="let expression of conditions; let i = index; let first = first; let last = last;"
    >
        <div class="row-nowrap">
            <ot-picklist
                class="flex-full-20 margin-right-1"
                ot-auto-id="TemplateConditionsTypeSelectionDropdown"
                [class.question-list]="action === actionTypes.sendAssessmentOnSubmit.value || action === actionTypes.sendAssessmentOnApprove.value"
                [autoClose]="true"
                [placeholder]="'Question' | otTranslate"
                [options]="typePickList"
                [model]="typeSelected[i]"
                [disabled]="isPreviewMode || typePickListDisabled"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                (onSelect)="onQuestionSelected($event, i)"
            ></ot-picklist>
            <ot-picklist
                class="flex-full-12 margin-right-1"
                ot-auto-id="TemplateConditionsComparisonSelectionDropdown"
                [autoClose]="true"
                [options]="comparisonOperatorPickList"
                [model]="comparisonOperatorSelected[i]"
                [disabled]="isPreviewMode || actionSelected.value === 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                (onSelect)="onComparisonOperatorSelected($event, i)"
            ></ot-picklist>
            <ot-picklist
                *ngIf="actionSelected.value !== 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
                class="flex-full-50 margin-right-1"
                ot-auto-id="TemplateConditionsOptionSelectionDropdown"
                [placeholder]="'Options' | otTranslate"
                [autoClose]="true"
                [options]="options[i]"
                [valueKey]="'id'"
                [labelKey]="'option'"
                [model]="optionSelected[i]"
                [disabled]="isPreviewMode"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                (onSelect)="onOptionSelected($event, i)"
            ></ot-picklist>
            <div
                otFormElement
                *ngIf="actionSelected.value === 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
                class="flex-full-50 margin-right-1"
                >
                <org-select
                    *ngIf="actionSelected.value === 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
                    ot-auto-id="TemplateRulesApproversByOrganizationPickList"
                    [identifier]="'TemplateRulesApproversByOrganizationSelect'"
                    [model]="selectedOrg?.id"
                    [disabled]="isPreviewMode"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    (onSelect)="onOrgOptionSelected($event, i)"
                ></org-select>
            </div>
            <span
                *ngIf="!isPreviewMode && !(first && last)"
                class="conditions-item__remove padding-top-half"
            >
                <i
                    class="fa fa-minus-circle color-cherry conditions-item__icon-font-size cursor-pointer"
                    ot-auto-id="TemplateConditionsRemoveConditionIcon"
                    (click)="removeCondition(i)"
                ></i>
            </span>
            <span
                *ngIf="!isPreviewMode"
                class="conditions-item__add margin-left-1 margin-right-1 padding-top-half"
            >
                <i
                    *ngIf="canAddCondition && last"
                    class="fa fa-plus-circle color-green conditions-item__icon-font-size cursor-pointer"
                    ot-auto-id="TemplateConditionsAddConditionIcon"
                    (click)="addCondition(i)"
                ></i>
            </span>
        </div>
        <ot-loading
            *ngIf="isApproversLoading"
            class="pull-left margin-top-1"
        >
        </ot-loading>
        <div
            class="row-wrap width-50 stretch-vertical padding-bottom-1 margin-top-1-half"
            *ngIf="!isApproversLoading && actionSelected.value === 'ADD_APPROVERS_FOR_ORG_ON_LAUNCH'"
            >
            <ot-org-user-multi-select
                class=" width-100 margin-right-1"
                ot-auto-id="'TemplateRuleAddApproversByOrgMultiSelect'"
                traversal="UP"
                [userList]="approverList || []"
                [fetchOptionsOnClick]="true"
                [orgId]="selectedOrg.id"
                [disabled]="isPreviewMode"
                [hideButtons]="isPreviewMode"
                [permissions]="['AssessmentCanBeApprover']"
                [placeholder]="'Approver'"
                (onSelect)="onApproverSelected($event)"
            ></ot-org-user-multi-select>
        </div>
    </div>
    <div
        *ngIf="skipCondition?.invalid"
        class="text-error"
    >
        {{skipCondition.errorMessage}}
    </div>
    <div
        *ngIf="actionRule?.invalid"
        class="text-error"
    >
        {{actionRule.errorMessage}}
    </div>
</div>
