.conditions-item {
    &__icon-font-size {
        font-size: 2.2rem;
    }
    &__delete {
        flex-direction: row-reverse;
    }
    &__action {
        flex-grow: 0;
    }
    &__logical-operator {
        flex-basis: 10rem;
    }
    &__add {
        flex: 0 0 3rem;
    }
    &__remove {
        flex: 0 0 3rem;
        margin-left: 1.2rem;
    }
    abbr[title] {
        border: none;
    }
    .question-list .slds-listbox{
        transform: none;
        left: 0;
        min-width: 40rem;
    }
}
