.pia-project-buttons {
    &__icon {
        &.ot-ellipsis-h {
            opacity: 0;
        }

        &.fa-spinner {
            opacity: 1;
        }
    }

    &__menu {
        margin: 0;
        min-width: 140px;
        border-radius: 0;
        border: none;
        right: 2rem !important;
        padding: 1.5rem 0 !important;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.175) !important;
        max-height: initial !important;
    }

    &__menu-item {
        padding: 0;

        &:hover {
            background-color: $eggshell;
            cursor: pointer;
        }

        &--anchor {
            width: 100%;
            padding: 0.5rem 2rem !important;

            &:hover {
                background-color: initial !important;
                color: $grey-3;

                &.deactivated {
                    color: $grey-4;
                }
            }

            &.deactivated {
                color: $grey-3;
            }
        }

        &--icon {
            width: 2rem;
        }

        &--split-line {
            margin: 0.5rem 0;
        }
    }
}
