<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ChangeDeadline' | otTranslate"
    (close)="closeModal()"
    >
    <section class="request-deadline-change padding-left-right-2 column-vertical-center">
        <span class="icon-huge row-horizontal-center margin-top-bottom-2">
            <i class="ot ot-clock-o"></i>
        </span>
        <div class="padding-top-bottom-2 padding-left-1"
            [innerText]="'ChangeDeadlineWarning' | otTranslate">
    </div>
        <section class="row-nowrap text-color-default text-bold">
            <div otFormElement
                class="padding-all-1 align-center row-space-between min-width-1 padding-left-1 width-70-percent"
                [label]="'Deadline' | otTranslate"
            >
                <div class="min-width-20">
                    <ot-datepicker
                        ot-auto-id="'DSARDeadlineDatePicker'"
                        class="min-width-20"
                        [placeholder]="'DSARDeadlinePlaceholder' | otTranslate"
                        [format]="format"
                        [disabled]="saveLoading"
                        [disableUntil]="disableUntil"
                        [dateModel]="deadline"
                        (onChange)="dateSelected($event)"
                    ></ot-datepicker>
                </div>
            </div>
        </section>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'DSARCancelDeadline'"
            [disabled]="saveLoading"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            [attr.ot-auto-id]="'DSARChangeDeadlineSaveButton'"
            [loading]="saveLoading"
            [innerText]="'Save' | otTranslate"
            [disabled]="saveLoading || saveDisabled"
            (click)="onSave()"
            >
        </button>
    </footer>
</one-modal-base>
