.inventory-panel-body {

    &__section {
        min-width: 30rem;
        min-height: 1px;
        flex: 1 0 47%;
        padding: 0 1.5rem;

        &:nth-child(2n) {
            background-image: radial-gradient($grey-3, $white);
            background-size: 1px 90%;
            background-position: 0 3rem;
            background-repeat: no-repeat;
        }
    }
}
