.inventory-panel {
    min-height: 40rem;

    &__wrapper {
        min-height: 40rem;
        transition: transform 0.1s ease-in-out;
    }

    &__header {
        .one-header {
            box-shadow: none;
            background: none;
        }

        &-button {
            border: none;
            background-color: $white;
            padding: 0.2rem 0.5rem;
            margin: 0.2rem -0.5rem;
            white-space: nowrap;
        }

    }

}
@import "inventory-panel-body";
