.conditions-modal {

    &__header {
        border-bottom: 1px solid $grey-1;
    }

    &__form {
        overflow-y: auto;
        max-width: 57rem;
    }

    &__question-number {
        padding: .5rem 1.2rem;
        background-color: $grey-3;
        color: $white;
        border: 0;
        margin-right: 1rem;
    }

    &__body {
        overflow-y: auto;
    }

    &__empty {
        font-size: 2rem;
    }

    &__condition {
        border: 1.7px solid $grey-1;
        padding: .6rem 1.5rem 1em;
    }

    &__btn {
        border: none;
        font-size: 2rem;
        color: $slate;
        background-color: $white;

        &:hover {
            border: none;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            opacity: 1;
            pointer-events: none;
            background-color: $white;
        }
    }

    &__btn-icon {
        color: $slate;
        font-size: 75%;
    }

    &__select {
        margin-left: 1.5rem;

        &--half {
            flex: 1 1 50%;
        }
    }

    &__text {
        margin-left: 1.5rem;
    }

    &__parameters {
        margin-top: 2.2rem;

        &-left {
            flex: 0 1 8rem;
        }
    }

    &__comparison {
        padding-bottom: 1.5rem;

        &-actions {
            flex: 0 1 6rem;
        }
    }

    &__result {
        border-top: 1px solid $grey-1;
        padding-top: 1.5rem;
    }

    &__add {
        display: block;
        height: 12.5rem;
    }

    &__footer {
        padding: 2rem 0 .5rem;
        border-top: 1px solid $grey-1;
    }
}
