.upload
    input.upload-input(
        id='file',
        class='{{inputClass}}',
        accept='{{accept}}',
        multiple="{{allowMultiple}}",
        data-ng-click='clearFiles()'
        type='file'
        ng-disabled="isDisabled")
    label(for="file", ng-style="inputStyle")
        span.no-files.fa.fa-upload(ng-if='!filesCount', class='inline')
            | &nbsp{{ selectText ? selectText : allowMultiple ? $root.t('SelectMultipleFiles') : $root.t('SelectAFile') }}
        span.files.fa.fa-upload(ng-if='showFileName && filesCount === 1', class='inline')
            | &nbsp{{ files[0].FileName | truncate: 35 : "..." }}.{{files[0].Extension}}
        span.files.fa.fa-upload(ng-if='!showFileName && filesCount === 1', class='inline')
            | &nbsp{{filesCount}} {{$root.t('FileSelected')}}
        span.files.fa.fa-upload(ng-if='filesCount > 1', class='inline')
            | &nbsp{{filesCount}} {{$root.t('FilesSelected')}}
        sup(ng-if='isRequired' class="helper-icon-required")
    p.note.text-small(
        ng-if='maxSize > 0',
        ng-class='{"error": Warn.MaxSize, "max-width-35": !!maxSizeText}')
        | {{ maxSizeText || ( $root.t('FilesLargerThanSizeNotSupported', { MaxSize: maxSize }))}}
    hr(ng-if='(allowMultiple && files.length) || (showFileList && files.length)')
    ul.upload-list.column-nowrap(ng-if='allowMultiple || showFileList')
      li.upload-list-item.row-space-between.full-width(data-ng-repeat='file in files')
        // do not use track by $index in the ng-repeat above
        span.upload-list-item__name.slds-truncate.padding-right-2
            i.upload-list-item__doc.fa.fa-file.margin-right-half.margin-left-2
            | {{::file.FileName}}.{{::file.Extension}}
        a.upload-list-item__close.ot.ot-close.margin-right-2(data-ng-click='removeFile(file)')
