.heatmap.heatmap__wrapper
    label.heatmap__y-title
        span.heatmap__y-title--sideways
            | {{verticalLabel}}
    ul.heatmap__y-labels
        li.heatmap__y-labels-single.heatmap__label(ng-repeat='item in verticalAxis | orderBy:$index:true track by $index', style='flex: 1 1 {{itemHeight}};')
            | {{item.Label}}
    .heatmap__container
        .heatmap__graph
            .heatmap__item(ng-repeat='tile in tiles track by $index', ng-style="{'flex': '1 1 ' + itemWidth, 'maxWidth': itemWidth}", class='{{riskLabels[tile.RiskLevel]}}')
                .heatmap__content(ng-if='mode === "content"')
                    | {{tile[contentKey]}}
                .heatmap__content(ng-if='(mode === "risk-plot") && tile.selected')
                    | {{riskNames[tile.RiskLevel]}} Risk
                .heatmap__risk(ng-if='mode === "risk-select"')
                    select.heatmap__risk-select(id='heatmap__select-{{$index}}', ng-model='tile.RiskLevel', ng-options='level.Value as level.Label for level in RiskLevels')
                    label.heatmap__risk-title(for='#heatmap__select-{{$index}}')
                        | {{riskNames[tile.RiskLevel]}} Risk
                    i.fa.fa-caret-down
                .heatmap__spacer
        ul.heatmap__x-labels
            li.heatmap__x-labels-single.heatmap__label(ng-repeat='item in horizontalAxis track by $index', ng-style="{'flex': '1 1 ' + itemWidth}")
                | {{item.Label}}
        label.heatmap__x-title
            | {{horizontalLabel}}
