#smart-table
    .smart-table-container.is-showing
        .smart-table__section
            .smart-table__section-table
                section.smart-table__actions
                    .smart-table__edit#smart-table__edit(ng-if='vm.HasOptions && vm.permissions.canShow(vm.resourceKeys.Options)', one-click-outside='vm.editOptionsShowing', one-click-action='vm.closeEditOptions()')
                        button.smart-table__edit-btn(ng-click='vm.toggleEditOptions()', ng-disabled='!vm.SelectedItems || vm.loading')
                            span(ng-if='!vm.loading')
                                | Edit&nbsp
                                p Selected&nbsp
                                | ({{vm.SelectedItems || 0}})&nbsp
                                i.fa.fa-caret-down
                            loading.smart-table__edit-loading(ng-if='vm.loading', show-text='false')
                        ul.smart-table__edit-dropdown(ng-if='vm.editOptionsShowing')
                            li.smart-table__edit-option(
                                ng-repeat='option in options = (vm.events.options | InventoryOptions:vm.elements:vm.keys:vm.resourceKeys) track by $index',
                                uib-tooltip-template="'option-tooltip.html'", tooltip-append-to-body='true', tooltip-trigger='mouseenter', tooltip-placement='right'
                                )
                                .smart-table__edit-option--name(
                                    ng-click='vm.optionSelect(); option.Action(vm.tableId, vm.rows, vm.elements, vm.columns, vm.keys, vm.resourceKeys, vm.optionsCallback)',
                                    ng-disabled='option.isDisabled'
                                    )
                                    | {{option.Name}}

                            script(type='text/ng-template', id='option-tooltip.html')
                                span(ng-if='option.isDisabled', ng-bind-html='option.DisabledDescription(vm.tableName, count) || option.Description(vm.tableName, count) || option.Name')
                                span(ng-if='!option.isDisabled', ng-bind-html='option.Description(vm.tableName, count) || option.Name')

                    button.smart-table__export(ng-if='vm.events.csv && vm.permissions.canShow(vm.resourceKeys.Export)', ng-click='vm.events.csv()')
                        i.fa.fa-external-link
                        span {{::$root.t("ExportCSV")}}

                    one-popup-search(
                        button-config="vm.buttonConfig",
                        select-config="vm.selectConfig",
                        search-config="vm.searchConfig",
                        clear-config="vm.clearConfig",
                        popup-placement="bottom-right",
                        popup-trigger="outsideClick",
                        )
                        one-button(
                            class="block"
                            text='{{::$root.t("Search")}}'
                            identifier='inventorySearchToggle'
                            )

                section.smart-table__wrapper
                    .smart-table__display-header
                        .smart-table__display-header-cell.smart-table__display-header-cell--small(ng-if='vm.HasOptions && vm.permissions.canShow(vm.resourceKeys.Options)')
                            button.smart-table__checkbox(tabindex='0', ng-class="{'checked': vm.SelectedItems && vm.SelectedItems >= vm.elements.length}", ng-click='vm.toggleAllSelected(vm.elements)', title='{{::$root.t("SelectAll")}}', role='link')
                                i.ot.ot-check
                        .smart-table__display-header-cell(ng-repeat='column in vm.columns track by $index', ng-if='!column.Hide', class='smart-table__display-header-cell--{{vm.getColumnWidth(column)}}')
                            span.smart-table__display-header-cell--link
                                span {{ column[vm.keys.Column_Name] }}
                            sup.smart-table__display-header-cell-required.fa.fa-asterisk.required(ng-if='column.Required')
                    table.smart-table__table
                        tbody#scroll-list.smart-table__table-body
                            tr.smart-table__table-body-row(ng-repeat='element in vm.elements = (vm.rows | smartTable:vm.columns:vm.keys:vm.events.searchFilter:vm.filter.elementFilter:vm.filterListThen:vm.filterItemThen) track by $index', row-id='{{element[vm.keys.Item_Id]}}')
                                td.smart-table__table-body-cell.smart-table__table-body-cell--small(ng-if='vm.HasOptions && vm.permissions.canShow(vm.resourceKeys.Options)')
                                    button.smart-table__checkbox(type='button' tabindex='0' ng-class='{"checked": element.selected}', ng-click='vm.setSelected(element)', title='{{::$root.t("Select")}}')
                                        i.ot.ot-check
                                td.smart-table__table-body-cell(ng-repeat='column in vm.columns track by $index', ng-init='cellKey = column[vm.keys.Column_ModelKey]', ng-if='!column.Hide', class='smart-table__table-body-cell--{{(column["Width"] || column["Default"]["Width"]) || "normal"}}', ng-class='{"has-errors": element.duplicateErrors[cellKey] || element.emptyErrors[cellKey] || element.userErrors[cellKey]}')
                                    fieldset(ng-disabled='vm.isDisabled(element, cellKey) || (column["DisableComparator"] && column["DisableComparatorId"] && column["DisableComparator"](column["DisableComparatorId"], {item:element, column: column}, vm.columns))')
                                        span(ng-if='vm.permissions.canShow(vm.resourceKeys.Editable) && (column.Input === vm.InputTypes.Text)')
                                            button.smart-table__table-body-cell--link(class='smart-table__table-body-cell--{{(column["Width"] || column["Default"]["Width"]) || "normal"}}'
                                                title='{{element[cellKey][vm.keys.Item_Name] || "- - - -"}}',
                                                editable-text="element[cellKey][vm.keys.Item_Name]",
                                                buttons="no",
                                                onshow='vm.canEdit(element, cellKey, this)',
                                                onaftersave='vm.setAsChanged(column, element)',
                                                ng-init='vm.cellInit(column, element, this)',
                                                e-ng-blur='vm.cellBlur(this)',
                                                ng-focus='vm.cellFocus(this)'
                                                )
                                                | {{ element[cellKey][vm.keys.Item_Name]  || '- - - -'}}
                                        span(ng-if='vm.permissions.canShow(vm.resourceKeys.Editable) && (column.Input === vm.InputTypes.Typeahead)')
                                            button.smart-table__table-body-cell--link(class='smart-table__table-body-cell--{{(column["Width"] || column["Default"]["Width"]) || "normal"}}'
                                                title='{{element[cellKey][vm.keys.Item_Name]  || "- - - -"}}',
                                                editable-text="element[cellKey][vm.keys.Item_Name]",
                                                buttons="no",
                                                onshow='vm.canEdit(element, cellKey, this)',
                                                onaftersave='vm.setAsChanged(column, element);',
                                                oncancel='',
                                                e-uib-typeahead="item as item[vm.keys.Column_List_Value] for item in column[vm.keys.Column_List] | filter:{ HideInput: '!' } | PassThrough:{item:element, column: column}:column['FilterComparator']:column['FilterComparatorId'] | filter:$viewValue",
                                                e-typeahead-editable='false',
                                                e-typeahead-on-select='vm.setItem(element, cellKey, $model);vm.setAsChanged(column, element);vm.cellBlur(this, true)',
                                                e-typeahead-append-to-body='true',
                                                e-typeahead-min-length='0',
                                                e-typeahead-select-on-blur='true',
                                                e-autocomplete='off',
                                                ng-init='vm.cellInit(column, element, this)',
                                                e-ng-blur='vm.cellBlur(this, true)',
                                                ng-focus='vm.cellFocus(this)'
                                                )
                                                | {{ element[cellKey][vm.keys.Item_Name] || '- - - -' }}
                                        span(ng-if='vm.permissions.canShow(vm.resourceKeys.Editable) && (column.Input === vm.InputTypes.User)')
                                            button.smart-table__table-body-cell--link(class='smart-table__table-body-cell--{{(column["Width"] || column["Default"]["Width"]) || "normal"}}'
                                                title='{{element[cellKey][vm.keys.Item_Name]  || "- - - -"}}',
                                                editable-text="element[cellKey][vm.keys.Item_Name]",
                                                buttons="no",
                                                onshow='vm.canEdit(element, cellKey, this)',
                                                onbeforesave='vm.checkUserValue(element, cellKey, $data, column)',
                                                oncancel='',
                                                e-uib-typeahead="item as item[vm.keys.Column_List_Value] for item in column[vm.keys.Column_List] | PassThrough:{item:element, column: column}:column['FilterComparator']:column['FilterComparatorId'] | filter:$viewValue",
                                                e-typeahead-on-select='vm.setUser(element, cellKey, $model);vm.setAsChanged(column, element);vm.cellBlur(this, true)',
                                                e-typeahead-append-to-body='true',
                                                e-typeahead-min-length='0',
                                                e-typeahead-select-on-blur='true',
                                                e-autocomplete='off',
                                                ng-init='vm.cellInit(column, element, this)',
                                                e-ng-blur='vm.cellBlur(this, element[cellKey].hasBeenSelected)',
                                                ng-focus='vm.cellFocus(this); vm.removeSelectedBool(element, cellKey);',
                                                )
                                                | {{ element[cellKey][vm.keys.Item_Name] || '- - - -' }}
                                        span(ng-if='vm.permissions.canShow(vm.resourceKeys.Editable) && (column.Input === vm.InputTypes.Link)')
                                            button.smart-table__table-body-cell--link(class='smart-table__table-body-cell--{{(column["Width"] || column["Default"]["Width"]) || "normal"}}'
                                                title='{{element[cellKey][vm.keys.Item_Name]  || "- - - -"}}',
                                                ng-class='{"blank": !element[cellKey][vm.keys.Item_Name]}',
                                                ui-sref='{{element[cellKey][vm.keys.Item_Id]}}',
                                                ng-init='vm.cellInit(column, element, this)',
                                                e-ng-blur='vm.cellBlur(this)',
                                                ng-focus='vm.cellFocus(element, this)'
                                                )
                                                | {{ element[cellKey][vm.keys.Item_Name] || '- - - -'}}
                                        span(ng-if='vm.permissions.canShow(vm.resourceKeys.Editable) && (column.Input === vm.InputTypes.ProjectState)',
                                            title="{{ element[cellKey][vm.keys.Item_Name]  || '- - - -'}}")
                                            button.smart-table__table-body-cell--state(class='projectlabels-text__{{element[cellKey].Class}}',
                                                ng-click='vm.events.openProject(element, cellKey, vm.keys)')
                                                | {{ element[cellKey][vm.keys.Item_Name]  || '- - - -'}}
                                        // Default
                                        span(ng-if='!vm.permissions.canShow(vm.resourceKeys.Editable) || (vm.permissions.canShow(vm.resourceKeys.Editable) && !column.Input)', title="{{ element[cellKey][vm.keys.Item_Name]  || '- - - -'}}") {{ element[cellKey][vm.keys.Item_Name]  || '- - - -'}}

                button.smart-table__new-row(type="button", ng-if='vm.permissions.canShow(vm.resourceKeys.Save) && vm.events.add', ng-disabled="vm.disabledAdd" ng-click="vm.addNewItem()", ng-keypress='vm.evaluateKeypress($event)')
                    i.fa.fa-plus
                    | {{::$root.t("New")}} {{ ::vm.tableName || $root.t("InventoryItem")}}

                .smart-table__footer.row-space-between.row-vertical-center.margin-top-1
                    one-pagination(
                        list="vm.pages"
                        hide-count="true"
                        )
                    p.margin-bottom-0.margin-right-auto
                        | {{ $root.t("ShowingPageRangeOfTotalItemCount", {PageRange: vm.getPageRange(), TotalItemCount: vm.pages.totalElements}) }}
                    button.smart-table__save(ng-if='vm.permissions.canShow(vm.resourceKeys.Save) && (vm.events.add || vm.events.update)', ng-click='vm.saveChanges()', ng-disabled='!vm.changesMade || vm.saveInProgress')
                        span.smart-table__save-text(ng-if='!vm.saveInProgress') {{::$root.t("Save")}}
                        loading.smart-table__save-loading(ng-if='vm.saveInProgress', show-text='false')
                    button.smart-table__save(ng-if='vm.permissions.canShow(vm.resourceKeys.Launch) && (vm.events.launch && vm.events.canLaunch)', ng-click='vm.launchAssessments()', ng-disabled='!vm.events.canLaunch(vm.elements, vm.keys, vm.resourceKeys)')
                        | {{::$root.t("SendAssessments")}} ({{vm.SelectedItems || 0}})
