section.pick-list
    ul.pick-list__list.pick-list__list--outer
        li.pick-list__item(ng-repeat='(key, value) in filteredList = (vm.list | groupBy:vm.idKey) track by $index')
            .pick-list__item-header
                button.pick-list__checkbox(id="{{key}}", ng-class='{"checked": !vm.isFiltered(key)}', ng-click='vm.toggleGroup(key)')
                    i.ot.ot-check
                label.pick-list__text(for='{{key}}')
                    | {{vm.getGroupName(key) || 'Group ' + ($index+1)}}
