.version-selector(ng-if='vm.show', ng-click='$event.stopPropagation()')
    .version-selector__dropdown.one-select
        i.version-selector__dropdown-arrow.one-select__arrow.fa.fa-caret-down
        select.version-selector__dropdown-select.one-select__select.fa.fa-caret-down(ng-change='vm.changeVersion()', ng-options='option as option.label for option in vm.options' ng-model='vm.selectedVersion')
