.question
    .question__headline.main
        h3.question__name
            | {{vm.question.Name}}
            sup.fa.fa-asterisk.question__required(ng-if='vm.question.Required')
            i.question__hint.fa.fa-info-circle(
                ng-if='vm.question.Hint',
                popover-class='question-popover',
                popover-append-to-body='true',
                uib-popover='{{vm.question.Hint}}',
                popover-placement='top',
                popover-trigger='mouseenter')
    p.question__text.ql-editor.padding-all-0(
        class='quill-contents-container-{{vm.questionUniqId}} question__text--{{vm.questionTextModifier}}',
        ng-if="vm.question.Text"
        ng-bind-html='vm.question.Text'
    )
    fieldset
        .question__content.ql-editor.padding-all-0.margin-top-bottom-1(
            ng-if='vm.question.Type === vm.questionTypes.Content',
            ng-class="{ 'disabled': vm.isDisabled }",
            ng-bind-html='vm.question.Content')
        .question__content.margin-bottom-1(
            ng-if='vm.question.Type === vm.questionTypes.TextBox')
            textarea.form-control(
                ng-if='vm.projectMode !== vm.projectModes.ReadOnlyMode && !vm.section.IsLocked && !vm.isDisabled',
                data-ng-required='vm.question.Required',
                rows='3',
                data-ng-model='vm.question.Answer',
                data-ng-model-options="{ debounce: {'default': 5, 'blur': 0} }",
                data-ng-blur='vm.events.textAreaChange(vm.question)',
                data-ng-readonly='vm.projectMode === vm.projectModes.ReadOnlyMode || vm.section.IsLocked',
                placeholder='{{::$root.t("EnterYourAnswerHere")}}')
            .question__content.question__content--readonly.overflow-y-auto.padding-all-1(
                ng-if='vm.projectMode === vm.projectModes.ReadOnlyMode || vm.section.IsLocked || vm.isDisabled')
                | {{::vm.question.Answer }}
            div(ng-class="{ 'disabled': vm.isDisabled }")
                button.one-button.one-button--select.margin-right-1.margin-top-1(
                    ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                    ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)',
                    ng-if='vm.question.AllowNotSure')
                    | {{::$root.t("NotSure")}}
                button.one-button.one-button--select.margin-right-1.margin-top-1(
                    ng-class="{'selected': vm.question.NotApplicable}",
                    ng-click='vm.events.toggleNotApplicable(vm.question)',
                    ng-if='vm.question.AllowNotApplicable')
                    | {{::$root.t("NotApplicable")}}
        .question__multi(
            ng-if='vm.question.Type === vm.questionTypes.Multichoice || vm.question.Type === vm.questionTypes.AssetDiscovery')
            .question__multichoice(
                ng-if='!vm.question.MultiSelect',
                ng-required='vm.question.Required',
                ng-class="{ 'disabled': vm.isDisabled }"
                )
                one-searchable-dropdown(
                    identifier="questionMultichoiceDropdown",
                    dropdown-class="margin-bottom-1",
                    ng-if="vm.question.DisplayTypeId === vm.multiChoiceTypes.Dropdown"
                    model="vm.question.Answer",
                    options="vm.question.Options",
                    option-label-key="Name",
                    option-value-key="Value",
                    placeholder="{{::$root.t('TypeOrSelectAnOption')}}",
                    tooltip-enabled="vm.question.OptionHintEnabled",
                    select-callback="vm.events.multiChoiceChange(vm.section.Id, vm.question.Id, dataFromDropdown);"
                )
                .btn-group
                    .option-container(
                        ng-repeat='Option in vm.question.Options track by $index',
                        ng-if='vm.question.Options.length && Option.Name && vm.question.DisplayTypeId !== vm.multiChoiceTypes.Dropdown')
                        button.one-button.one-button--select(
                            ng-model='Option.Answer',
                            ng-class="{'selected': vm.events.multiChoiceSelected(vm.section.Id, vm.question.Id, $index)}",
                            ng-click='vm.events.multiChoiceChange(vm.section.Id, vm.question.Id, Option.Value);',
                            uib-tooltip="{{Option.Hint}}",
                            tooltip-placement="top",
                            tooltip-append-to-body="true",
                            tooltip-enable='vm.question.OptionHintEnabled')
                            | {{Option.Name || '- - - -'}}
                    .question__multichoice-other(ng-if='vm.question.AllowOther')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.OtherAnswer }",
                            editable-text='vm.question.OtherAnswer',
                            e-placeholder='{{::$root.t("EnterYourOtherAnswerHere")}}',
                            onbeforesave='vm.events.otherOptionSet(vm.section.Id, vm.question.Id)',
                            onaftersave='vm.events.otherOptionSave(vm.project.Id, vm.question)',
                            oncancel='')
                            | {{ vm.question.OtherAnswer || $root.t("Other") }}
                    .option-container(ng-if='vm.question.AllowNotSure')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                            ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)')
                            | {{::$root.t("NotSure")}}
                    .option-container(ng-if='vm.question.AllowNotApplicable')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.NotApplicable}",
                            ng-click='vm.events.toggleNotApplicable(vm.question)')
                            | {{::$root.t("NotApplicable")}}
            .question__multiselect(
                ng-required='vm.question.Required',
                ng-class="{ 'disabled': vm.isDisabled }",
                ng-if='vm.question.MultiSelect')
                p(ng-if='vm.question.Options.length')
                    | {{::$root.t("SelectAllThatApply")}}
                assessment-question-multiselect-dropdown(
                    ng-if='vm.question.DisplayTypeId === vm.multiChoiceTypes.Dropdown',
                    question="vm.question",
                    options="vm.question.Options",
                    read-only="vm.isDisabled")
                .btn-group
                    .option-container(
                        ng-repeat='Option in vm.question.Options track by $index',
                        ng-if='vm.question.Options.length && Option.Name && vm.question.DisplayTypeId !== vm.multiChoiceTypes.Dropdown')
                        button.one-button.one-button--select(
                            ng-model='Option.Answer',
                            ng-class="{'selected': vm.events.multiChoiceSelected(vm.section.Id, vm.question.Id, $index)}",
                            ng-click='vm.events.multiSelectChange(vm.section.Id, vm.question.Id, Option.Value);',
                            uib-btn-checkbox=''
                            uib-tooltip="{{Option.Hint}}"
                            tooltip-class="one-dropdown__tooltip--offset-left"
                            tooltip-placement="top-left"
                            tooltip-append-to-body="true",
                            tooltip-enable='vm.question.OptionHintEnabled')
                            | {{Option.Name}}
                    .question__multiselect-other(ng-if='vm.question.AllowOther')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.OtherAnswer }",
                            editable-text='vm.question.OtherAnswer',
                            e-placeholder='{{::$root.t("EnterYourOtherAnswerHere")}}',
                            onbeforesave='vm.events.otherOptionSet(vm.section.Id, vm.question.Id)',
                            onaftersave='vm.events.otherOptionSave(vm.project.Id, vm.question)',
                            oncancel='')
                            | {{ vm.question.OtherAnswer || $root.t("Other") }}
                    .option-container(ng-if='vm.question.AllowNotSure')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                            ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)')
                            | {{::$root.t("NotSure")}}
                    .option-container(ng-if='vm.question.AllowNotApplicable')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.NotApplicable}",
                            ng-click='vm.events.toggleNotApplicable(vm.question)')
                            | {{::$root.t("NotApplicable")}}

            .question__justification(ng-if='vm.question.AllowJustification')
                label.question__justification-label
                    | {{::$root.t("JustifyYourAnswerBelow")}}
                    sup.fa.fa-asterisk.question__required(ng-if='vm.question.RequireJustification')
                textarea.question__justification-text(
                    ng-if='!vm.project || vm.project.StateDesc === "In Progress" || vm.project.StateDesc === "Under Review"',
                    ng-required='vm.question.RequireJustification',
                    rows='3',
                    ng-model='vm.question.Justification',
                    ng-change='vm.events.justificationSave(vm.question)',
                    placeholder='{{::$root.t("EnterJustificationsHere", {Justifications: $root.customTerms.Justification.toLowerCase()})}}')
                .question__justification-text--readonly.overflow-y-auto.padding-all-1(
                    ng-if='vm.project && (vm.project.StateDesc !== "In Progress") && (vm.project.StateDesc !== "Under Review")')
                    | {{::vm.question.Justification}}

        .question__yesNo(ng-if='vm.question.Type === vm.questionTypes.YesNo')
            div(ng-class="{ 'disabled': vm.isDisabled }")
                button.one-button.one-button--select.margin-right-1.margin-bottom-1(
                    ng-class="{'selected': vm.question.Answer}",
                    ng-model='vm.question.Answer',
                    uncheckable='',
                    ng-click='vm.events.yesNoChange(vm.question, vm.section.Id, vm.project.Id)',
                    uib-btn-radio='true')
                    | {{::$root.t("Yes")}}
                button.one-button.one-button--select.margin-right-1.margin-bottom-1(
                    ng-class="{'selected': vm.question.Answer === false}",
                    ng-model='vm.question.Answer',
                    uncheckable='',
                    ng-click='vm.events.yesNoChange(vm.question, vm.section.Id, vm.project.Id)',
                    uib-btn-radio='false')
                    | {{::$root.t("No")}}
                button.one-button.one-button--select.margin-right-1.margin-bottom-1(
                    ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                    ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)',
                    ng-if='vm.question.AllowNotSure')
                    | {{::$root.t("NotSure")}}
                button.one-button.one-button--select.margin-right-1.margin-bottom-1(
                    ng-class="{'selected': vm.question.NotApplicable}",
                    ng-click='vm.events.toggleNotApplicable(vm.question)',
                    ng-if='vm.question.AllowNotApplicable')
                    | {{::$root.t("NotApplicable")}}

            .question__justification(ng-if='vm.question.AllowJustification')
                label.question__justification-label
                    | {{::$root.t("JustifyYourAnswerBelow")}}
                    sup.fa.fa-asterisk.question__required(ng-if='vm.question.RequireJustification')
                textarea.question__justification-text(
                    ng-if='!vm.project || vm.project.StateDesc === "In Progress" || vm.project.StateDesc === "Under Review"',
                    ng-required='vm.question.RequireJustification',
                    rows='3',
                    ng-model='vm.question.Justification',
                    ng-change='vm.events.justificationSave(vm.question)',
                    placeholder='{{::$root.t("EnterJustificationsHere", {Justifications: $root.customTerms.Justification.toLowerCase()})}}')
                .question__justification-text--readonly.overflow-y-auto.padding-all-1(
                    ng-if='vm.project && (vm.project.StateDesc !== "In Progress") && (vm.project.StateDesc !== "Under Review")')
                    | {{::vm.question.Justification}}

        div(
            ng-if='vm.question.Type === vm.questionTypes.DateTime',
            ng-class="{ 'disabled': vm.isDisabled }")
            downgrade-one-date-time-picker.margin-bottom-1(
                [date-placeholder]="$root.t('ChooseDate')",
                [date-time-model]="vm.question.Answer",
                (on-change)="vm.events.dateChange(vm.question, vm.section.Id, vm.project.Id)",
                )
            button.question__date-other.one-button.one-button--select(
                ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)',
                ng-if='vm.question.AllowNotSure')
                | {{::$root.t("NotSure")}}
            button.question__date-other.one-button.one-button--select(
                ng-class="{'selected': vm.question.NotApplicable}",
                ng-click='vm.events.toggleNotApplicable(vm.question)',
                ng-if='vm.question.AllowNotApplicable')
                | {{::$root.t("NotApplicable")}}

        .question__inventory(
            ng-if='vm.question.Type === vm.questionTypes.Application || \
            vm.question.Type === vm.questionTypes.Location || \
            vm.question.Type === vm.questionTypes.User || \
            vm.question.Type === vm.questionTypes.Provider',
            ng-class="{ 'disabled': vm.isDisabled }")
            form.question__inventory-form(
                ng-submit='vm.handleInventorySelect(vm.section.Id, vm.question, vm.question.Answer)',
                )
                input.question__inventory-input.one-input(
                    placeholder='{{::vm.inputPlaceholders[vm.question.Type]}}',
                    title='{{::vm.inputPlaceholders[vm.question.Type]}} ',
                    type='text',
                    ng-model='vm.question.Answer',
                    ng-class='{"has-errors": vm.question.inventoryError}',
                    uib-typeahead='option as option.Name for option in vm.question.Options | orderBy:"Name" | TypeaheadInventoryFilter:$viewValue:vm.question.AllowOther:vm.question.Type',
                    typeahead-editable='false',
                    typeahead-on-select='vm.handleInventorySelect(vm.section.Id, vm.question, $model)',
                    typeahead-min-length='0',
                    typeahead-focus-on-select='false',
                    typeahead-template-url='inventoryItemTemplate.html'
                    )
                p.question__inventory-error(
                    ng-if='vm.question.inventoryError',
                    ng-bind='vm.question.inventoryError')

            button.one-button.one-button--select(
                ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id);',
                ng-if='vm.question.AllowNotSure')
                | {{::$root.t("NotSure")}}
            button.one-button.one-button--select(
                ng-class="{'selected': vm.question.NotApplicable}",
                ng-click='vm.events.toggleNotApplicable(vm.question)',
                ng-if='vm.question.AllowNotApplicable')
                | {{::$root.t("NotApplicable")}}

            .question__justification(ng-if='vm.question.AllowJustification')
                label.question__justification-label
                    | {{::$root.t("JustifyYourAnswerBelow")}}
                    sup.fa.fa-asterisk.question__required(ng-if='vm.question.RequireJustification')
                textarea.question__justification-text(
                    ng-required='vm.question.RequireJustification',
                    rows='3',
                    ng-model='vm.question.Justification',
                    ng-model-options="{ debounce: {'default': 5, 'blur': 0} }",
                    ng-blur='vm.events.justificationSave(vm.question)',
                    placeholder='{{::$root.t("EnterJustificationsHere", {Justifications: $root.customTerms.Justification.toLowerCase()})}}')

            inventory-card(
                ng-if='vm.question.Type === vm.questionTypes.Application && vm.question.Answer && vm.question.Answer.Value',
                table-id="::vm.inventoryIds.Applications",
                inventory-id='vm.question.Answer.Value',
                inventory-name='{{vm.question.Answer.Name || $root.t("Application")}}',
                inventory-name-prefix='{{::$root.t("Details")}} /')

        // Data mapping questions
        .question__multi(
            ng-if='vm.question.Type === vm.questionTypes.DataElement',
            ng-class="{ 'disabled': vm.isDisabled }")
            .question__multiselect(
                ng-required='vm.question.Required',
                ng-repeat='(GroupId, GroupOptions) in Options = (vm.question.Options | ItemsNotIn:"GroupId":vm.question.Filters | groupBy: "GroupId") track by $index',
                ng-if='vm.question.Options')
                .question__body
                    .question__numbers
                        .question__numbers-number(ng-if='!Section.IsLocked')
                            | {{vm.question.Number}}.{{$index + 1}}
                        .question__numbers-number(
                            ng-if='Section.IsLocked',
                            uib-tooltip='{{::$root.t("QuestionSubmittedNoLongerEditable")}}',
                            tooltip-placement='top',
                            tooltip-append-to-body='true',
                            tooltip-popup-close-delay='200',
                            tooltip-trigger='mouseenter')
                            | {{vm.question.Number}}.{{$index + 1}}
                            i.fa.fa-lock
                    .question__detail
                        .question__headline
                            .question__headline--text
                                | {{::vm.getGroupName(vm.question, GroupId)}}
                p.question__subheadline
                    | {{::vm.getQuestionString(vm.QuestionStringKeys.Subheader, vm.getGroupName(vm.question, GroupId))}}
                .btn-group
                    .option-container(
                        ng-repeat='Option in (GroupOptions | filter:{Value: ""}) track by $index',
                        ng-if='GroupOptions.length && Option.Name')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.events.multiChoiceGroupSelected(vm.question, Option)}",
                            ng-click='vm.events.multiSelectGroupChange(vm.question, vm.responseTypes.Reference, Option, GroupId);')
                            | {{Option.Name}}

                    .question__multiselect-other(ng-repeat='OtherOption in (vm.question.Responses | filter:{Type: vm.responseTypes.Other, FieldId: GroupId}) track by $index' ng-if='vm.question.AllowOther')
                        button.one-button.one-button--select(
                            ng-class="{'selected': OtherOption.Value, 'review': OtherOption.Value}",
                            e-placeholder='{{::$root.t("EnterYourOtherAnswerHere")}}',
                            editable-text='OtherOption.Value',
                            onaftersave='vm.events.multiSelectGroupChange(vm.question, vm.responseTypes.Other, OtherOption, GroupId)',
                            oncancel='')
                            | {{ OtherOption.Value || 'Other' }}

                    .question__multiselect-other(ng-if='vm.question.AllowOther')
                        button.one-button.one-button--select(
                            e-placeholder='{{::$root.t("EnterYourOtherAnswerHere")}}',
                            editable-text='vm.question.OtherAnswer',
                            onaftersave='vm.events.multiSelectGroupChange(vm.question, vm.responseTypes.Other, {Value: vm.question.OtherAnswer}, GroupId); vm.resetOther();',
                            oncancel='')
                            | {{ $root.t("Other") }}

            .question__multiselect.question__multiselect--separated
                .btn-group
                    .option-container(ng-if='vm.question.AllowNotSure')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.ResponseType === vm.responseTypes.NotSure}",
                            ng-click='vm.events.toggleNotSure(vm.section.Id, vm.question.Id)')
                            | {{::$root.t("NotSure")}}
                    .option-container(ng-if='vm.question.AllowNotApplicable')
                        button.one-button.one-button--select(
                            ng-class="{'selected': vm.question.NotApplicable}",
                            ng-click='vm.events.toggleNotApplicable(vm.question)')
                            | {{::$root.t("NotApplicable")}}

        script(type='text/ng-template' id='inventoryItemTemplate.html')

            a.question__inventory-item
                span(ng-bind-html='match.label || "(" + $root.t("NoAnswer") + ")" | uibTypeaheadHighlight:query')
