.reports__dropdown-container.is-centered
    h2.reports__dropdown-headline $root.t("SelectQuestionnaireToStart") 

    .reports__dropdown
        span.reports__dropdown-arrow.fa.fa-caret-down
        select.reports__dropdown-select(name="templateSelect" class="templateSelect" ng-model="vm.selectedTemplate" ng-change="vm.onQuestionnaireSelected({ templateId: vm.selectedTemplate })")
            option(value="") -- $root.t("NoQuestionnaireSelected") --
            option(ng-repeat="template in vm.availableQuestionnaires track by $index" value="{{template.Id}}") {{template.Name}}
