section.reports__sidebar(ng-class='{"hidden": vm.filtersClosed}')
    label.reports__sidebar-label
        span
            span.translate $root.t("ProjectFilters")
        span.reports__sidebar__actions
            button.reports__sidebar-clear(ng-click='vm.clearFilters()')
                i.fa.fa-trash
            button.reports__sidebar-close(ng-click='vm.filtersClosed = !vm.filtersClosed')
                i.ot.ot-close
    label.reports__sidebar-label(ng-if="!vm.questionnaire.Sections")
        span $root.t("AddSectionQuestionForDataMappingFilter")
    uib-accordion(close-others="false")
        div(uib-accordion-group="", ng-if='vm.questionnaire.Sections.length', ng-repeat='Section in vm.questionnaire.Sections track by $index', is-open="this.isOpen", ng-init="Section.Index = $index")
            uib-accordion-heading(ng-click='vm.toggleSection(Section)')
                span.closed.toggle-questions(ng-if='!Section.isOpen', ng-click='vm.toggleSection(Section)')
                    i.fa.fa-circle.reports__filtered-indicator.reports__filtered-indicator--section(ng-if='vm.sectionFilterActive(Section)')
                    span.section-name {{Section.Name}}
                    button.panel-button
                        i.fa.fa-align-justify
                span.opened.toggle-questions(ng-if='Section.isOpen', ng-click='vm.toggleSection(Section)')
                    i.fa.fa-circle.reports__filtered-indicator.reports__filtered-indicator--section(ng-if='vm.sectionFilterActive(Section)')
                    span.section-name {{Section.Name}}
                    button.panel-button
                        i.ot.ot-close

            ul.reports__section-list(ng-if='Section.TemplateQuestions.length')
                li.reports__section-item(ng-repeat='Question in Section.TemplateQuestions track by $index' ng-class='{"truncate": $index !== selectedQuestion}' ng-click='selectedQuestion = $index', ng-init="Question.Index = $index")
                    .closed(ng-click='vm.setActiveQuestion(Question.Id)', ng-if='ActiveQuestionId !== Question.Id')
                        i.fa.fa-circle.reports__filtered-indicator(ng-if='vm.questionFilterActive(Question)')
                        p.reports__section-name {{Question.ReportFriendlyName || Question.Name}}
                        button.reports__section-toggle
                            i.fa.fa-plus
                    .opened(ng-click='vm.clearActiveQuestion()', ng-if='ActiveQuestionId === Question.Id')
                        i.fa.fa-circle.reports__filtered-indicator(ng-if='vm.questionFilterActive(Question)')
                        p.reports__section-name {{Question.ReportFriendlyName || Question.Name}}
                        button.reports__section-toggle
                            i.fa.fa-minus
                    ul.reports__answer-list.animate-if(ng-if='ActiveQuestionId === Question.Id' ng-class='{"boolean-layout": Question.Type === 4}')
                        li.reports__answer-item(ng-repeat='Response in Question.Responses track by $index')
                            button.reports__answer-btn(type='button', uib-btn-checkbox, ng-model="Response.selected", ng-class="{'checked': Response.selected}", ng-click="vm.toggleFilter(Question, Response, Section.Index, Question.Index, $index)")
                                i.ot.ot-check
                            span {{Response.Name}}
