.question-change
    p.question-change__text(ng-if='vm.question.versionState.state === vm.versionStates.Undecided')
        | {{ ::$root.t("QuestionWasAnsweredInPreviousVersion") }}
    p.question-change__text(ng-if='vm.question.versionState.state === vm.versionStates.DontChange')
        | {{ ::$root.t("MarkingAnswerToQuestionAsUnchanged") }}
    p.question-change__text(ng-if='vm.question.versionState.state === vm.versionStates.Change')
        | {{ ::$root.t("ChosenToChangeTheAnswerToThisQuestion") }}
    p.question-change__text(ng-if='vm.question.versionState.state === vm.versionStates.New')
        | {{ ::$root.t("ThisIsANewQuestion") }}
    one-button(
        ng-if='vm.showButtons()'
        button-click='vm.changeQuestion()',
        text="{{::$root.t('ChangeAnswer')}}"
    )
    one-button(
        type="select",
        ng-if='vm.showButtons()',
        button-click='vm.dontChangeQuestion()',
        text="{{::$root.t('NoChange')}}",
        is-selected="vm.question.HasVersionResponseChanged === false"
    )
