ul.section-nav
    li.section-nav__item(ng-repeat='section in vm.sections track by $index', ng-if='!section.IsSkipped')
        .section-nav__item-header(ng-click='vm.goToSection($index, section)', ng-class='{"is-active": section.isActive, "is-disabled": section.IsSkipped}')
            .section-nav__item-title
                span.section-nav__item-number(ng-if='vm.showNumbers && !section.isWelcomeSection') {{section.Number}} -
                span.section-nav__item-name {{section.Name}}
                span.section-nav__item-count(ng-if='vm.showCount && !section.isWelcomeSection && !section.IsSkipped')
                    span.section-nav__item-count-text(ng-if='section.AnsweredCount !== section.QuestionCount') ({{section.AnsweredCount}}/{{section.QuestionCount}} {{::$root.t('Answered')}})
                    i.section-nav__item-count-check.ot.ot-check(ng-if='section.AnsweredCount === section.QuestionCount')

            button.section-nav__item-open(ng-if='section.Questions[0].Type !== vm.questionTypes.Content', ng-click='vm.toggleExpand(section); $event.stopPropagation();')
                i.section-nav__item-open-icon.fa.fa-caret-down(ng-if='!section.expanded')
                i.section-nav__item-open-icon.fa.fa-caret-up(ng-if='section.expanded')
        ul.section-nav__sub(expand='section.expanded', transition='300', ng-if='section.Questions[0].Type !== vm.questionTypes.Content')
            li.section-nav__sub-item(ng-repeat='question in section.Questions track by $index', ng-if='!question.IsSkipped')
                | {{section.Number}}.{{question.Number}} - {{question.Name}}
                i.section-nav__item-count-check.ot.ot-check(ng-if='!question.IsSkipped && question.Responses && question.Responses.length')
