.template-questions(ui-tree='vm.reorderOptions', data-drag-enabled='true')
    .template-questions-group(ui-tree-nodes, ng-model="vm.questionGroups")
        .template-questions-group-node(ng-repeat='Group in vm.questionGroups', ui-tree-node, ng-class='{"has-multiple": Group.Questions.length > 1}')
            .template-questions-container(ng-if='Group.Type !== vm.questionTypes.PlaceholderGroup')
                .template-questions-wrapper(ng-repeat='Question in Group.Questions track by Question.Id', ng-if='!Question.isHidden')
                    .template-questions-item
                        .template-questions-number.template-questions-number--read-only(ng-if='vm.readOnly && Question.Type!=1', ng-click='Question.Show = !Question.Show;') {{Question.Number}}
                            i.nav(ng-if='!wizard && vm.permissions.TemplatesQuestionItemPreview', class='fa' ng-class="{\'fa-caret-down\': Question.Show, \'fa-caret-right\': !Question.Show }")
                        i.fa.fa-quote-right.template-questions-number.template-questions-number--read-only(ng-if='vm.readOnly && Question.Type===1', ng-click='Question.Show = !Question.Show;')
                            i.nav(ng-if='!wizard && vm.permissions.TemplatesQuestionItemPreview', class='fa' ng-class="{\'fa-caret-down\': Question.Show, \'fa-caret-right\': !Question.Show }")
                        .template-questions-number(ng-if='!vm.readOnly', ng-click='Question.Show = !Question.Show;')
                            span.template-questions-hover--hide(ng-if='Question.Type!=1') {{Question.Number}}
                            i.fa.fa-arrows.template-questions-hover--show
                            i.fa.fa-quote-right.template-questions-hover--hide(ng-if='Question.Type===1')
                            i.nav(ng-if='!wizard && vm.permissions.TemplatesQuestionItemPreview', class='fa' ng-class="{\'fa-caret-down\': Question.Show, \'fa-caret-right\': !Question.Show }")

                        .template-questions-text(ng-if='!vm.readOnly', ui-tree-handle)
                            | {{Question.ReportFriendlyName || Question.Name}}
                            sup.fa.fa-asterisk.template-questions-required(ng-if='Question.Required')
                            i.fa.fa-info-circle(ng-if='Question.Hint', uib-tooltip='{{Question.Hint}}', tooltip-placement='top', tooltip-trigger='mouseenter', tooltip-append-to-body='true')
                        .template-questions-text(ng-if='vm.readOnly')
                            | {{Question.ReportFriendlyName || Question.Name}}
                            sup.fa.fa-asterisk.template-questions-required(ng-if='Question.Required')
                            i.fa.fa-info-circle(ng-if='Question.Hint', uib-tooltip='{{Question.Hint}}', tooltip-placement='top', tooltip-trigger='mouseenter', tooltip-append-to-body='true')
                        .template-questions-actions
                            button(ng-if='Question.EnableConditions && vm.events.canShowAddConditionButton(Question.Type)', ng-click='vm.events.openConditionalModal(vm.section.Id, Group.GroupIndex, Question)')
                                span.fa-stack
                                    i.fa.fa-code-fork.fa-stack-1x.fa-rotate-90.condition-icon
                                    i.fa.fa-circle.fa-stack-1x.has-condition-icon(ng-if='Question.ConditionCount')
                            button(ng-if='vm.permissions.TemplatesQuestionItemConditionUpgrade && Question.EnableConditions && vm.events.canShowAddConditionButton(Question.Type)', ng-click='UpgradeModule("TemplatesQuestionItemCondition")')
                                span.fa-stack
                                    i.fa.fa-code-fork.fa-stack-1x.fa-rotate-90.condition-icon
                                    i.fa.fa-circle.fa-stack-1x.has-condition-icon(ng-if='Question.ConditionCount')
                                .upgrade__icon
                            button(ng-if='vm.permissions.TemplatesQuestionItemEdit && (!vm.readOnly || vm.editMode) && Question.CanEdit', ng-click='vm.events.openSaveItemModal(true, vm.section, Group.GroupIndex, Question, $index, Question.Type)')
                                i.fa.fa-pencil
                            button(ng-if='vm.permissions.TemplatesQuestionItemEditUpgrade && (!vm.readOnly || vm.editMode) && Question.CanEdit', ng-click='UpgradeModule("TemplatesQuestionItemEdit")')
                                i.fa.fa-pencil
                                .upgrade__icon
                            button(ng-if='vm.permissions.TemplatesQuestionItemDelete && !vm.readOnly && (Group.Questions.length === 1)', ng-click='vm.events.deleteQuestion(vm.section, Group.GroupIndex, Question.Id, vm.template.Version)')
                                i.fa.fa-trash-o
                            button(ng-if='vm.permissions.TemplatesQuestionItemDeleteUpgrade && !vm.readOnly && (Group.Questions.length === 1)', ng-click='UpgradeModule("TemplatesQuestionItemDelete")')
                                i.fa.fa-trash-o
                                .upgrade__icon
                    .template-questions-detail.pia-question(ng-if='Question.Show')
                        p(ng-if="Question.Tags.length > 0")
                            i.fa.fa-fw.fa-tags(style="margin-right: 5px;")
                            span(ng-repeat="tags in Question.Tags track by $index") {{tags.Label}}
                                span(ng-if="$index < Question.Tags.length - 1") ,&nbsp;
                        p.template-manage-detail-label {{::$root.t("Preview")}}
                        question.example-item(question='Question', template='vm.template', edit-mode='vm.editMode', read-only='vm.readOnly')
            .template-group-actions(ng-if='(Group.Type !== vm.questionTypes.PlaceholderGroup) && (Group.Questions.length > 1)')
                button.template-group-actions-btn(ng-click='vm.events.deleteQuestionGroup(vm.section, Group.GroupIndex, vm.template.Version)', ng-if='vm.permissions.TemplatesQuestionItemDelete && !vm.readOnly')
                    i.template-group-actions-icon.fa.fa-trash-o(ng-if='!Group.deleteInProgress')
                    i.template-group-actions-icon.fa.fa-spinner.fa-pulse.fa-fw(ng-if='Group.deleteInProgress')
            .template-group-placeholder(ng-if='Group.Type === vm.questionTypes.PlaceholderGroup')
                loading(text="Question Group")

        button.template-questions-add-question(ng-if='vm.permissions.TemplatesQuestionAdd && !vm.readOnly', ng-click='vm.events.openSaveItemModal(false, vm.section, null, null, null, null)')
            i.fa.fa-plus
            | {{::$root.t("AddQuestion")}}
        button.template-questions-add-question(ng-if='::vm.permissions.TemplatesQuestionAddUpgrade' ng-click='UpgradeModule("TemplatesQuestionAdd")')
            i.fa.fa-plus
            | {{::$root.t("AddQuestion")}}
            .upgrade__icon
