section.welcome-section__container
    header.welcome-section__header(ng-if='vm.showHeader')
        div(ng-if='vm.editable')
            ul.banner
                li.banner-item
                    h4
                        | {{ ::$root.t("Name") }}
                    p(editable-text='vm.project.Name', onaftersave='vm.saveProject()')
                        | {{ vm.project.Name || "- - - - -" }}
                        i.fa.fa-edit
                li.banner-item
                    h4
                        | {{ ::$root.t("Organization") }}
                    p
                        collection-picker(
                            data-ng-disabled="vm.orgs == null", 
                            data-ng-required='',
                            data-ng-model='vm.project.OrgGroupId',
                            list='vm.orgs',
                            on-select="vm.orgSaveProject(item)"
                            collection-key-nodes='Children',
                            collection-key-name='Name',
                            replacement="vm.project.OrgGroup",
                            cancel="false",
                            collection-icon-class="fa fa-edit"
                        )
                li.banner-item
                    h4
                        | {{ ::$root.t("Creator") }}
                    p.no-edit
                        | {{ vm.project.Creator || "- - - - -" }}
                li.banner-item
                    h4
                        | {{ ::$root.t("Respondent") }}
                    p(ng-click='vm.openProjectAssignmentsModal()')
                        | {{ vm.project.Lead || "- - - - -" }}
                        i.fa.fa-edit
                li.banner-item(ng-if='vm.Permissions.canShow("ProjectsDeadline")')
                    h4
                        | {{ ::$root.t("Deadline") }}
                    p(ng-click="vm.openDeadlinesModal()")
                        date(ng-if="vm.project.Deadline" model="vm.project.Deadline")
                        span(ng-if="!vm.project.Deadline") - - - - -
                        i.fa.fa-edit
                li.banner-item
                    h4
                        | {{ ::$root.t("Approver") }}
                    p(ng-click='vm.openProjectReviewerModal()')
                        | {{ vm.project.Reviewer || "- - - - -" }}
                        i.fa.fa-edit
            .welcome-section__description(ng-if='vm.project.Description')
                h4
                    | {{ ::$root.t("Description") }}
                p(editable-textarea='vm.project.Description', onaftersave='SaveProject();')
                    | {{ vm.project.Description || "- - - - -" }}
                    i.fa.fa-edit
        div(ng-if='!vm.editable')
            ul.banner
                li.banner-item
                    h4
                        | {{ ::$root.t("Name") }}
                    p.no-edit
                        | {{ vm.project.Name || "- - - - -" }}
                li.banner-item
                    h4
                        | {{ ::$root.t("Organization") }}
                    p.no-edit
                        | {{ vm.project.OrgGroup || "- - - - -" }}
                li.banner-item
                    h4
                        | {{ ::$root.t("Creator") }}
                    p.no-edit
                        | {{ vm.project.Creator || "- - - - -" }}
                li.banner-item
                    h4
                        | {{ ::$root.t("Respondent") }}
                    p.no-edit
                        | {{ vm.project.Lead || "- - - - -" }}
                li.banner-item
                    h4
                        | {{ ::$root.t("Approver") }}
                    p.no-edit
                        | {{ vm.project.Reviewer || "- - - - -" }}
                li.banner-item(ng-if='vm.Permissions.canShow("ProjectsDeadline") && vm.project.Deadline')
                    h4
                        | {{ ::$root.t("Deadline") }}
                    p.no-edit
                        date(ng-if="vm.project.Deadline" model="vm.project.Deadline")
                        span(ng-if="!vm.project.Deadline") - - - - -
            .welcome-section__description(ng-if='vm.project.Description')
                h4
                    | {{ ::$root.t("Description") }}
                p.no-edit {{ vm.project.Description || "- - - - -" }}

    .welcome-section__detail
        .Welcome-text(ng-bind-html='vm.section.Questions[0].Content')

include ../../PIA/Projects/Modals/AssignmentsModal.jade
include ../../PIA/Projects/Modals/DeadlinesModal.jade
include ../../PIA/Projects/Modals/ReviewerModal.jade
