<!-- Active LI -->
<ng-container class="height-100">
    <ul *ngIf="triggerEditActive"
        class="list-group">
        <li class="list-group-item background-grey-1 padding-left-right-2 padding-top-bottom-1">
            <img class="border-round height-4 margin-right-2"
                [src]="otActionIcon" />
            <span class="text-medium text-bold">
                {{ 'AddOneTrustTrigger' | otTranslate }}
            </span>
        </li>
        <li class="list-group-item padding-all-0">
            <div otFormElement
                class="width-50-percent margin-0-auto margin-top-bottom-2">
                <ot-search-input
                    [model]="systemActionFilter"
                    [placeholder]="'Search' | otTranslate"
                    (search)="filterSystemActionListChanged($event)"
                ></ot-search-input>
            </div>
            <div class="text-nowrap">
                <ot-tabs
                    *ngIf="tabs.length"
                    [max]="4"
                    [tabs]="tabs"
                    [selectedTab]="selectedTab"
                >
                    <span otTabsOverflowText>
                        {{ 'More' | otTranslate }}
                        <i class="ot ot-caret-down"></i>
                    </span>
                    <a
                        *otTabItem="let tab"
                        [attr.ot-auto-id]="tab.otAutoId"
                        (click)="onTabClick(tab)"
                    >
                        {{tab.text}}
                    </a>
                </ot-tabs>
            </div>
        </li>
        <ng-container *ngIf="selectedTab === TABS.ASSESSMENTS">
            <li *ngFor="let event of assessmentTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerAssessmentEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
        <ng-container *ngIf="selectedTab === TABS.CONSENT">
            <li *ngFor="let event of consentTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerConsentEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
        <ng-container *ngIf="selectedTab === TABS.DATAMAPPING">
            <li *ngFor="let event of dmTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerDataMappingEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
        <ng-container *ngIf="selectedTab === TABS.DSAR">
            <li *ngFor="let event of dsarTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerDataSubjectAccessRequestsEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
        <ng-container *ngIf="selectedTab === TABS.VENDOR">
            <li *ngFor="let event of vendorTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerVendorEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
        <ng-container *ngIf="selectedTab === TABS.BUILTIN">
            <li *ngFor="let event of builtinTrigger | filter: ['name'] : systemActionFilter; let i = index;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer intg-workflow-builder-trigger__event"
                ot-auto-id="IntgTriggerBuiltinEvents"
                (click)="setCurrentEvent(event)">
                <img class="border-round height-3 margin-right-2"
                    [src]="otActionIcon" />
                {{ event.name }}
            </li>
        </ng-container>
    </ul>

    <!-- Inactive LI -->
    <ul *ngIf="!triggerEditActive && currentEvent && currentEvent.name !== SCHEDULE_TERMS.SCHEDULER && currentEvent.name !== SCHEDULE_TERMS.WEBHOOK"
        class="list-group margin-bottom-1">
        <li class="list-group-item padding-all-2 flex">
            <span class="flex-shrink">
                <img *ngIf="integration"
                    class="border-round height-4 margin-right-2"
                    [src]="otActionIcon" />
            </span>
            <span class="flex-shrink">
                <div class="text-medium text-bold"
                    [innerText]="'OneTrust' | otTranslate"></div>
                <div [innerText]="currentEvent.name"></div>
            </span>
            <span class="padding-all-1 margin-left-auto">
                <i class="ot ot-pencil-square-o text-large text-pointer"
                    aria-hidden="true"
                    ot-auto-id="IntgWorkflowBuilderActionEdit"
                    (click)="onEdit()">
                </i>
                <i class="ot ot-trash margin-left-2 text-large text-pointer"
                    aria-hidden="true"
                    ot-auto-id="IntgWorkflowBuilderActionDelete"
                    (click)="onDelete()">
                </i>
            </span>
        </li>
    </ul>
    <intg-workflow-builder-schedule-item
        *ngIf="currentEvent && currentEvent?.name === SCHEDULE_TERMS.SCHEDULER"
        [workflow]="workflow"
        [savedSchedule]="workflow.trigger"
        [editMode]="schedulerEdit"
        [currentEvent]="currentEvent"
        [selectedEventCode]="selectedEventCode"
        (isSchedulerInEditMode)="setEditMode($event)"
        (passUpSchedule)="onPassUpSchedule($event)"
        (deleteThisSchedule)="onDelete()">
    </intg-workflow-builder-schedule-item>
    <intg-workflow-builder-webhook-item
        *ngIf="currentEvent && currentEvent.name === SCHEDULE_TERMS.WEBHOOK"
        [workflow]="workflow"
        [savedWebhook]="workflow.trigger"
        [isFinishButtonReady]="isFinishButtonReady"
        [webhookChildObservable]="completeWebhookObservable.asObservable()"
        (passUpWebhook)="onPassUpWebhook($event)"
        (passUpWebhookStatus)="onPassUpWebhookStatus($event)"
        (deleteThisWebhook)="onDelete()">
    </intg-workflow-builder-webhook-item>
    <intg-workflow-builder-action-item
        *ngFor="let actionBlock of addedActionBlocks; index as i"
        [currentEvent]="currentEvent"
        [integration]="integration"
        [workflow]="workflow"
        [addedActionBlocks]="addedActionBlocks"
        [seededIntegration]="seededIntegration"
        [otActions]="otActions"
        [otActionIcon]="otActionIcon"
        [isFinishButtonReady]="isFinishButtonReady"
        [credentials]="credentials"
        [currentIndex]="i"
        [selectedEventCode]="selectedEventCode"
        [customFields]="customFields"
        (deleteThisAction)="onDelete(i,$event)"
        (updateCredentialList)="updateCredentialList($event)">
    </intg-workflow-builder-action-item>

    <ul class="list-group">
        <li class="list-group-item padding-left-right-2 padding-top-bottom-1 text-center">
            <button otButton neutral
                class="text-medium text-bold"
                ot-auto-id="AddActionButton"
                [innerText]="'Add' | otTranslate"
                [disabled]="!currentEvent || scheduleActive || webhookActive"
                (click)="addActionItem()">
            </button>
        </li>
    </ul>
</ng-container>
