<ot-loading
    otPageLoading
    *ngIf="!ready || !events; else builderTemplate"
></ot-loading>

<ng-template #builderTemplate>
    <section class="column-nowrap full-size height-100">
        <ot-page-header
            class="margin-top-bottom-0 text-thin"
            [title]="'WorkflowBuilder' | otTranslate">
            <ot-breadcrumb (routeClicked)="goToRoute($event)">
                <ot-breadcrumb-item
                    link="zen.app.pia.module.intg.workflows.list"
                    [label]="'Workflows' | otTranslate">
                </ot-breadcrumb-item>
                <ot-breadcrumb-item
                    class="intg-breadcrumb-display-name text-success text-bold"
                    [label]="workflow.name">
                </ot-breadcrumb-item>
            </ot-breadcrumb>
            <span *ngIf="workflow.halted; else notHalted"
                [otBadge]="'destructive'"
                [innerText]="'Halted' | otTranslate">
            </span>
            <ng-template #notHalted>
                <span *ngIf="workflow.enabled"
                    [otBadge]="'primary'"
                    [innerText]="'Active' | otTranslate">
                </span>
                <span *ngIf="!workflow.enabled"
                    [otBadge]
                    [innerText]="'Inactive' | otTranslate">
                </span>
            </ng-template>
            <button otButton destructive
                *ngIf="workflow.enabled; else deactivateButtonTemplate"
                ot-auto-id="IntgWorkflowBuilderDeactivateButton"
                [disabled]="publishingWorkflow"
                [loading]="publishingWorkflow"
                [innerText]="'Deactivate' | otTranslate"
                (click)="activateOrDeactivateWorkflow(false)">
            </button>
            <ng-template #deactivateButtonTemplate>
                <button otButton brand
                    ot-auto-id="IntgWorkflowBuilderPublishButton"
                    [loading]="publishingWorkflow"
                    [innerText]="'Activate' | otTranslate"
                    (click)="isActivateFeasible()">
                </button>
            </ng-template>
            <button otButton neutral
                ot-auto-id="IntgWorkflowBuilderSaveButton"
                [innerText]="'Save' | otTranslate"
                [loading]="!isSaveWorkflowComplete"
                [disabled]="checkAllActionSaved()"
                (click)="saveEvents()">
            </button>
            <ot-context-menu
                class="margin-left-half"
                position="bottom-right"
                [type]="0"
                [menu]="menuOptions"
                (toggled)="getContextActions(row)">
                <i class="ot ot-ellipsis-h"></i>
                <a *otContextMenuItem="let item"
                    [ngClass]="{'disabled background-grey-2': item.isDisabled}"
                    (click)="item.action()">
                    {{ item.text }}
                </a>
            </ot-context-menu>
        </ot-page-header>
        <div class="width-100 height-100 overflow-auto">
            <div class="workflow-container flex justify-center max-width-75 margin-top-4 margin-left-right-auto">
                <intg-workflow-builder-triggers
                    class="width-100-percent"
                    [events]="events"
                    [eventObservable]="saveWebhookObservable.asObservable()"
                    [integration]="integration"
                    [seededIntegration]="seededIntegration"
                    [otActions]="otActions"
                    [addedActionBlocks]="addedActionBlocks"
                    [workflow]="workflow"
                    [selectedEventCode]="selectedEventCode"
                    [isFinishButtonReady]="isFinishButtonReady"
                    (selectedEvent)="selectedEvent($event)"
                    (passUpSchedule)="onPassUpSchedule($event)"
                    (passUpWebhook)="onPassUpWebhook($event)"
                    (passUpWebhookStatus)="onPassUpWebhookStatus($event)"
                    (isSchedulerInEditMode)="setSchedulerEditMode($event)">
                </intg-workflow-builder-triggers>
            </div>
        </div>
    </section>
</ng-template>
