<!-- Inactive LI -->
<ul *ngIf="scheduleItemInactive"
    class="list-group margin-bottom-1">
    <li class="list-group-item padding-all-2 flex">
        <span class="text-medium text-bold height-3 padding-all-1"
            [innerText]="'ScheduleTrigger' | otTranslate">
        </span>
        <span class="padding-all-1 margin-left-auto">
            <i class="ot ot-pencil-square-o text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemActionEdit"
                (click)="onEdit()"></i>
            <i class="ot ot-trash margin-left-2 text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemScheduleDelete"
                (click)="onDelete()"></i>
        </span>
    </li>
</ul>

<ul *ngIf="!scheduleItemInactive"
    class="list-group margin-bottom-1">
    <li class="list-group-item background-grey-1 padding-left-right-2 padding-top-bottom-1">
        <span class="padding-all-1 margin-left-auto margin-right-1">
            <i class="ot ot-chevron-left text-medium text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderScheduleBack"
                (click)="onDelete()"></i>
        </span>
        <span class="text-medium text-bold height-3"
            [innerText]="'ScheduleAction' | otTranslate">
        </span>
    </li>
    <li class="list-group-item padding-left-right-2 padding-top-bottom-1">
        <div otSettingContainer>
            <ot-setting
                [title]="'Frequency' | otTranslate"
                [description]="'FrequencyDescription' | otTranslate"
                >
                <ot-picklist
                    class="width-100-percent"
                    ot-auto-id="frequencySelectOptionId"
                    [options]="frequencyOptions"
                    [model]="selectedFrequencyOption"
                    (onSelect)="frequencySelectOption($event)"
                ></ot-picklist>
                <ot-setting
                    [title]="'TimeOfDay' | otTranslate"
                    [description]="'SelectTimeOfDay' | otTranslate"
                    >
                    <ot-picklist
                        class="width-100-percent"
                        ot-auto-id="selectedTimeOfDayOptionId"
                        [options]="timeOfDayOptions"
                        [model]="selectedTimeOfDayOption"
                        (onSelect)="timeOfDaySelectOption($event)"
                    ></ot-picklist>
                    <span
                        class="intg-workflow-schedule-item__icon padding-right-half padding-top-half"
                        [otTooltip]="{content: 'TimesInUTC' | otTranslate, placement: 'top'}">
                        <i class="ot ot-info-circle padding-left-half"></i>
                    </span>
                </ot-setting>
                <ot-setting
                    *ngIf="selectedFrequencyOption && selectedFrequencyOption.value === '2'"
                    [title]="'DayOfAction' | otTranslate"
                    [description]="'DayOfActionDescription' | otTranslate"
                    >
                    <ot-radio-button-group
                        class="width-100-percent"
                        ot-auto-id="selectedDayOfWeekOptionId"
                        labelKey="label"
                        valueKey="value"
                        [model]="selectedDayOfWeekOption"
                        [options]="dayOptions"
                        (onSelect)="dayOfWeekSelectOption($event)"
                    ></ot-radio-button-group>
                </ot-setting>
            </ot-setting>
        </div>
    </li>
    <li class="list-group-item padding-left-right-2 padding-top-bottom-1 text-right">
        <button otButton brand
            ot-auto-id="IntgScheduleDoneId"
            [innerText]="'Done' | otTranslate"
            (click)="finishSchedule()"
            >
        </button>
    </li>
</ul>
