<!-- Plus Icon -->
<div class="text-center margin-bottom-1">
    <button otButton neutral
        [icon]="'ot ot-plus'">
    </button>
</div>

<!-- Inactive LI -->
<ul *ngIf="!eventEditActive"
    class="list-group margin-bottom-1">
    <li
        *ngIf="currentNodeDescription && integration"
        class="list-group-item padding-all-2 flex"
    >
        <span
            class="flex-shrink margin-right-2 border-round padding-all-1 padding-bottom-1 width-5 height-5"
            [ngStyle]="{'background-color': isOtActionSelected ? '' : integration.template.bgcolor }">
            <img class="height-3 margin-right-2"
                [src]="isOtActionSelected ? otActionIcon : integration.template.icon ||'images/intg-systems/icon-connector.png'" />
        </span>
        <span class="flex-shrink">
            <div class="text-medium text-bold"
                [innerText]="isOtActionSelected ? ('OneTrust' | otTranslate) : seededIntegration.name"></div>
            <div class="max-width-50">
                {{ currentNodeDescription }}
            </div>
        </span>
        <span class="padding-all-1 margin-left-auto">
            <i class="ot ot-pencil-square-o text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemActionEdit"
                (click)="onEdit()"></i>
            <i
                class="ot ot-trash margin-left-2 text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemActionDelete"
                (click)="onDelete()"></i>
        </span>
    </li>
    <li
        *ngIf="isLogicAction"
        class="list-group-item padding-all-2 flex"
    >
        <span
            class="flex-shrink margin-right-2 border-round padding-all-1 padding-bottom-1 width-5 height-5 border"
        >
            <img
                class="height-3 margin-right-2"
                [src]="logicIcon" />
        </span>
        <span class="flex-shrink">
            <div
                class="text-medium text-bold padding-all-1"
                [innerText]="logicText | otTranslate"
            ></div>
        </span>
        <span class="padding-all-1 margin-left-auto">
            <i
                class="ot ot-pencil-square-o text-large text-pointer"
                ot-auto-id="IntgWorkflowBuilderItemActionEdit"
                (click)="onEdit()"
            ></i>
            <i
                class="ot ot-trash margin-left-2 text-large text-pointer"
                ot-auto-id="IntgWorkflowBuilderItemActionDelete"
                (click)="onDelete()"
            ></i>
        </span>
    </li>
</ul>

<!-- Active LI -->
<ul *ngIf="eventEditActive && integration"
    class="list-group margin-bottom-1">
    <!------------ Dynamic Header Section ------------>
    <li
        *ngIf="currentStep === WORKFLOW_STEPS.TRIGGER_STEP || currentStep === WORKFLOW_STEPS.DELAY_LOGIC || currentStep === WORKFLOW_STEPS.APPLY_EACH"
        class="list-group-item background-grey-1 padding-left-right-2 padding-top-bottom-1"
    >
        <span class="step-1-li height-3"
            *ngIf="currentStep === WORKFLOW_STEPS.TRIGGER_STEP">
            <span class="text-medium text-bold">
                {{ 'AddAction' | otTranslate }}
            </span>
            <i
                class="ot ot-trash text-large text-pointer align-right padding-right-1"
                aria-hidden="true"
                (click)="onDelete()">
            </i>
        </span>
        <span
            class="step-2-li"
            *ngIf="currentStep === WORKFLOW_STEPS.DELAY_LOGIC"
        >
            <i
                class="ot ot-chevron-left text-pointer margin-right-2 padding-top-half"
                ot-auto-id="IntgWorkflowActionItemDelayBackIcon"
                (click)="backStep('TRIGGER_STEP')"
            ></i>
            <span
                class="margin-right-2 border-round padding-all-1 padding-bottom-1 width-5 height-5 inline-block"
            >
                <img
                    class="height-3 width-3 margin-right-2"
                    [src]="'images/intg-systems/schedule-icon.svg'"/>
            </span>
            <span
                class="text-medium text-bold height-3 word-break-all"
                [innerText]="'Delay'| otTranslate"
            ></span>
            <i
                class="ot ot-trash text-large text-pointer align-right padding-right-1 padding-top-half"
                ot-auto-id="IntgWorkflowActionItemDelayDeleteIcon"
                (click)="onDelete()">
            </i>
        </span>
        <span
            class="step-2-li"
            *ngIf="currentStep === WORKFLOW_STEPS.APPLY_EACH"
        >
            <i
                class="ot ot-chevron-left text-pointer margin-right-2 padding-top-half"
                ot-auto-id="IntgWorkflowActionItemApplyEachBackIcon"
                (click)="backStep('TRIGGER_STEP')"
            ></i>
            <span
                class="margin-right-2 border-round padding-all-1 padding-bottom-1 width-5 height-5 inline-block background-white"
            >
                <img
                    class="height-3 width-3 margin-right-2"
                    [src]="'images/intg-systems/logic-icon.svg'"/>
            </span>
            <span
                class="text-medium text-bold height-3 word-break-all"
                [innerText]="'ApplyToEach'| otTranslate"
            ></span>
            <i
                class="ot ot-trash text-large text-pointer align-right padding-right-1 padding-top-half"
                ot-auto-id="IntgWorkflowActionItemApplyEachDeleteIcon"
                (click)="onDelete()">
            </i>
        </span>
    </li>

    <!------------ step 1 ------------>
    <li *ngIf="currentStep === WORKFLOW_STEPS.TRIGGER_STEP"
        class="list-group-item padding-all-0">
        <div otFormElement
            class="width-50-percent margin-0-auto margin-top-bottom-2">
            <ot-search-input
                [model]="systemActionFilter"
                [placeholder]="'Search' | otTranslate"
                (search)="filterSystemActionListChanged($event)"
            ></ot-search-input>
        </div>
        <ot-tabs
            *ngIf="tabs.length"
            [tabs]="tabs"
            [selectedTab]="selectedTab"
        >
            <span otTabsOverflowText>
                {{overflowText}}&nbsp;
                <i class="ot ot-caret-down"></i>
            </span>
            <a
                ot-auto-id="intgConnectionManageBodyTabId"
                *otTabItem="let tab"
                (click)="onTabClick(tab)"
                >
                {{tab.text}}
            </a>
        </ot-tabs>
    </li>
    <ng-container *ngIf="selectedTab === TABS.SYSTEM && currentStep === WORKFLOW_STEPS.TRIGGER_STEP">
            <div class="overflow-x-scroll max-height-25 border-bottom">
                <li *ngFor="let action of seededIntegration.workflows | filter: ['name'] : systemActionFilter; let i = index; trackBy: trackByIndex;"
                    class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer"
                    [class.color-slate]="currentHoveredLiIndex === i"
                    (mouseout)="removeBackgroundColor()"
                    (mouseover)="setBackgroundColor(i)"
                    (click)="nextStep('CREDENTIAL_STEP', action)"
                >
                <span
                    class="margin-right-2 border-round padding-all-1 padding-bottom-1 inline-block width-4"
                    [ngStyle]="{'background-color':integration.template.bgcolor}">
                    <img class="height-2 margin-right-2"
                        [src]="integration.template.icon ||'images/intg-systems/icon-connector.png'"/>
                </span>
                    <span [innerText]="action.name"></span>
                </li>
            </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === TABS.ONETRUST && currentStep === WORKFLOW_STEPS.TRIGGER_STEP">
        <div class="overflow-x-scroll max-height-25 border-bottom">
            <li *ngFor="let action of otActions | filter: ['name'] : systemActionFilter; let i = index; trackBy: trackByIndex;"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer"
                [class.color-slate]="currentHoveredLiIndex === i"
                [attr.ot-auto-id]="'IntgWorkflowBuilderItemOtAction'+i"
                (mouseout)="removeBackgroundColor()"
                (mouseover)="setBackgroundColor(i)"
                (click)="nextStep('CREDENTIAL_STEP', action, true)">
                <img class="border-round height-3 width-3 margin-right-2"
                    [src]="otActionIcon" />
                <span [innerText]="action.name"></span>
            </li>
        </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === TABS.LOGIC && currentStep === WORKFLOW_STEPS.TRIGGER_STEP">
        <div class="overflow-x-scroll max-height-25 border-bottom">
            <li
                *ngIf="'IntegrationsWorkflowBeta' | otPermit"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer"
                ot-auto-id="IntgWorkflowBuilderItemActionDelay"
                (click)="onLogicClick('DELAY_LOGIC')"
            >
                <img class="border-round height-3 width-3 margin-right-2"
                    src="../../../../../images/intg-systems/schedule-icon.svg" />
                <span [innerText]="'Delay' | otTranslate"></span>
            </li>
            <li
                *ngIf="'IntegrationsWorkflowBeta' | otPermit"
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer">
                <img class="height-3 width-3 margin-right-2"
                    src="../../../../../images/intg-systems/logic-icon.svg" />
                <span [innerText]="'Condition' | otTranslate"></span>
            </li>
            <li
                class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer"
                ot-auto-id="IntgWorkflowBuilderItemActionApplyEach"
                (click)="onLogicClick('APPLY_EACH')"
            >
                <img class="height-3 width-3 margin-right-2"
                    src="../../../../../images/intg-systems/logic-icon.svg" />
                <span [innerText]="'ApplyToEach' | otTranslate"></span>
            </li>
        </div>
    </ng-container>

    <intg-workflow-builder-api-action-item
        *ngIf="(currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP || currentStep === WORKFLOW_STEPS.CREDENTIAL_STEP) && currentActionBlock.httpNode"
        [integration]="integration"
        [otActionIcon]="otActionIcon"
        [currentEvent]="currentEvent"
        [workflow]="workflow"
        [currentIndex]="currentIndex"
        [addedActionBlocks]="addedActionBlocks"
        [selectedEventCode]="selectedEventCode"
        [credentials]="credentials"
        [isOtActionSelected]="isOtActionSelected"
        [seededIntegration]="seededIntegration"
        [currentNodeDescription]="currentNodeDescription"
        [workflowNodeDetail]="workflowDetail"
        [availableEvent]="availableEvent"
        [editMode]="editMode"
        (backToAddAction)="backStep('TRIGGER_STEP')"
        (deleteThisAction)="onDelete()"
        (finishAction)="finishAction()"
        (updateCredentialList)="updateCredentialList.emit($event)"
    >
    </intg-workflow-builder-api-action-item>
    <li
        *ngIf="(currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP || currentStep === WORKFLOW_STEPS.CREDENTIAL_STEP) && !currentActionBlock.httpNode"
        class="list-group-item padding-left-right-2 padding-top-bottom-1"
    >
        <ot-loading
            class="stretch-vertical column-horizontal-vertical-center"
        ></ot-loading>
    </li>

    <li
        *ngIf="currentStep === WORKFLOW_STEPS.DELAY_LOGIC"
        class="list-group-item padding-left-right-2 padding-top-bottom-1"
    >
        <intg-workflow-builder-logic-action-delay></intg-workflow-builder-logic-action-delay>
    </li>

    <li
        *ngIf="currentStep === WORKFLOW_STEPS.APPLY_EACH"
        class="list-group-item padding-all-0"
    >
        <intg-workflow-builder-logic-apply-each
         [currentActionBlock]="currentActionBlock"
         [previousActionBlock]="addedActionBlocks[this.currentIndex-1]"
         [isFinishButtonReady]="isFinishButtonReady"
         [currentEvent]="currentEvent"
         [trigger]="workflow.trigger"
         (finishAction)="finishAction(true)"
        ></intg-workflow-builder-logic-apply-each>
    </li>

    <!------------ Dynamic Footer Section ------------>
    <li *ngIf="currentStep === WORKFLOW_STEPS.DELAY_LOGIC"
        class="list-group-item padding-left-right-2 padding-top-bottom-1 text-right">
        <button otButton brand
            *ngIf="currentStep === WORKFLOW_STEPS.DELAY_LOGIC"
            ot-auto-id="IntgActionDelayFinish"
            [innerText]="'Finish' | otTranslate"
            (click)="finishAction(true)"
            >
        </button>
    </li>
</ul>
