<ot-modal-header (close)="closeModal()">
    <div>{{ "EnterOrPasteJsonPayload" | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div otFormElement
        class="stretch-vertical"
    >
        <textarea otTextarea
            class="height-30"
            ot-auto-id="IntgWorkflowParseSchemaModalResponsePayload"
            [placeholder]="'EnterPayload'| otTranslate"
            [(ngModel)]="responsePayload"
        ></textarea>
        <ot-notification
            *ngIf="invalidResponse"
            class="block margin-top-2 width-50-percent"
            icon="ot ot-exclamation-circle"
            type="error"
            [allowClose]="false"
        >
            {{"InvalidJsonPayload"| otTranslate}}
        </ot-notification>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IntgWorkflowParseSchemaModalBtnCancelButton"
        [innerText]="'Close' | otTranslate"
        (click)="closeModal()"
    ></button>
    <button otButton brand
        ot-auto-id="IntgWorkflowParseSchemaModalSaveBtn"
        [loading]="isLoading"
        [disabled]="isLoading || !responsePayload"
        [innerText]="'Save' | otTranslate"
        (click)="parseSchema()"
    ></button>
</ot-modal-footer>
