<!-- Inactive LI -->
<ul *ngIf="webhookItemInactive; else webhookItemActive"
    class="list-group margin-bottom-1">
    <li class="list-group-item padding-all-2 flex">
        <span class="text-medium text-bold height-3 padding-all-1"
            [innerText]="'WebhookTrigger' | otTranslate">
        </span>
        <span class="padding-all-1 margin-left-auto">
            <i class="ot ot-pencil-square-o text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemActionEdit"
                (click)="onEdit()"></i>
            <i class="ot ot-trash margin-left-2 text-large text-pointer"
                aria-hidden="true"
                ot-auto-id="IntgWorkflowBuilderItemWebhookDelete"
                (click)="onDelete()"></i>
        </span>
    </li>
</ul>
<ng-template #webhookItemActive>
    <ul *ngIf="!webhookItemInactive"
        class="list-group margin-bottom-1">
        <li class="list-group-item background-grey-1 padding-left-right-2 padding-top-bottom-1">
            <span class="padding-all-1 margin-left-auto margin-right-1">
                <i class="ot ot-chevron-left text-medium text-pointer"
                    aria-hidden="true"
                    ot-auto-id="IntgWorkflowBuilderWebhookBack"
                    (click)="onDelete()"></i>
            </span>
            <span class="text-medium text-bold height-3"
                [innerText]="'WebhookAction' | otTranslate">
            </span>
        </li>
        <li class="list-group-item padding-left-right-2 padding-top-bottom-1 flex">
            <div class="padding-top-bottom-1 width-70-percent margin-0-auto">
                <span>
                    <div otFormElement
                        class="flex-grow"
                        [label]="'HttpPostURL' | otTranslate"
                        [required]="true">
                        <input otInput
                            class="width-75-percent"
                            [ngModel]="webhookUrl"
                            disabled/>
                        <button
                            otButton
                            neutral
                            class="align-right"
                            ot-auto-id="IntgWorkflowBuilderWebhookCopyUrl"
                            [innerText]="'Copy' | otTranslate"
                            [disabled]="!webhookUrl"
                            (click)="copyWebhookUrl()">
                        </button>
                    </div>
                </span>
                <div otFormElement
                    class="margin-top-2 margin-bottom-1"
                    [label]="'RequestBodyJson' | otTranslate"
                    [hasError]="webhookJson && !isValidJson"
                    [errorMessage]="'InvalidJsonPayload' | otTranslate"
                    [required]="true">
                    <textarea otTextarea
                        class="height-20"
                        ot-auto-id="IntgWorkflowBuilderWebhookItemRequestBodyJsonTextarea"
                        (keyup)="saveModel($event)"
                        [ngModel]="webhookJson">
                    </textarea>
                </div>
                <div>
                    <a
                        ot-auto-id="IntgWorkflowBuilderWebhookItemParseModalLink"
                        (click)="openParseSchemaModal()"
                    >
                        {{"GenerateFromResponsePayload" | otTranslate}}
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item padding-left-right-2 padding-top-bottom-1 text-right">
            <button otButton brand
                ot-auto-id="IntgWorkflowBuilderWebhookItemButtonComplete"
                [innerText]="'Done' | otTranslate"
                [disabled]="webhookCurrentlyActive || !isFinishButtonReady || !isValidJson"
                [loading]="!isFinishButtonReady"
                (click)="finishWebhook()">
            </button>
        </li>
    </ul>
</ng-template>
