    <!------------ Dynamic Header Section ------------>
<li class="list-group-item background-grey-1 padding-left-right-2 padding-top-bottom-1">
    <div class="step-2-li flex align-center">
        <i
            *ngIf="currentStep === WORKFLOW_STEPS.CREDENTIAL_STEP"
            class="ot ot-chevron-left text-pointer margin-right-2 padding-top-half"
            aria-hidden="true"
            (click)="backStep('TRIGGER_STEP')">
        </i>
        <i *ngIf="currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP"
            class="ot ot-chevron-left text-pointer margin-right-2 padding-top-half"
            aria-hidden="true"
            (click)="backStep(isOtActionSelected ? 'TRIGGER_STEP' :'CREDENTIAL_STEP')">
        </i>
        <span
            class="margin-right-2 border-round padding-all-1 padding-bottom-1 width-5 height-5 inline-block"
            [ngStyle]="{'background-color': isOtActionSelected ? '' : integration.template.bgcolor }">
            <img class="height-3 width-3 margin-right-2"
                [src]="isOtActionSelected ? otActionIcon : integration.template.icon ||'images/intg-systems/icon-connector.png'"/>
        </span>
        <span class="text-medium text-bold max-width-50">
            {{(isOtActionSelected ? ('OneTrust' | translate) : seededIntegration.name) + ': ' + currentNodeDescription}}
        </span>
        <i
            class="ot ot-trash text-large text-pointer margin-left-auto padding-right-1 padding-top-half"
            aria-hidden="true"
            (click)="onDelete()">
        </i>
    </div>
</li>

<!------------ step 2 Credential Tab------------>
<li
    *ngIf="currentStep === WORKFLOW_STEPS.CREDENTIAL_STEP"
    class="list-group-item padding-left-right-2 padding-top-bottom-3"
>
    <div otFormElement
        class="padding-top-bottom-1 width-70-percent margin-0-auto"
        [label]="'SelectCredential' | translate"
    >
        <ot-picklist
            ot-auto-id="IntgActionCredential"
            valueKey="id"
            labelKey="name"
            [placeholder]="dropDownPlaceHolder"
            [disabled]="loadingDropdowns"
            [autoClose]="true"
            [options]="credentials"
            [model]="currentCredential"
            (onSelect)="setCredentialNextStep($event)"
        ></ot-picklist>
    </div>
    <div class="margin-0-auto text-center">
        <button otButton neutral
            class="margin-top-2"
            (click)="addCredential()"
        >
            {{'AddCredentials' | translate}}
        </button>
    </div>
</li>

<!------------ step 3 Request/Response ------------>
<ng-container *ngIf="currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP">
    <li
        *ngIf="currentCredential && !isOtActionSelected"
        class="list-group-item padding-left-right-2 padding-top-bottom-1 flex"
    >
        <span class="flex-shrink text-bold padding-left-3">
            {{('AccountCredentials' | translate) + ': '}}
        </span>
        <span class="flex-shrink margin-left-1">
             {{currentCredential.name}}
        </span>
        <span class="margin-left-auto">
            <i
                class="ot ot-pencil-square-o text-large text-pointer padding-right-1"
                ot-auto-id="IntgWorkflowBuilderActionItemEditButton"
                aria-hidden="true"
                (click)="backStep('CREDENTIAL_STEP')"
            ></i>
        </span>
    </li>

    <li
        *ngIf="currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP"
        class="list-group-item padding-all-0"
    >
        <ot-tabs
            *ngIf="tabsJson.length"
            [tabs]="tabsJson"
            [selectedTab]="selectedTabJson"
        >
            <span otTabsOverflowText>
                {{overflowText}}&nbsp;
                <i class="ot ot-caret-down"></i>
            </span>
            <a
                ot-auto-id="IntgConnectionManageBodyTabJsonId"
                *otTabItem="let tabJson"
                (click)="onTabJsonClick(tabJson)"
            >
                {{tabJson.text}}
            </a>
        </ot-tabs>
    </li>

    <!------------ REQUEST Tab ------------>

    <li
        *ngIf="selectedTabJson === TABS.REQUEST"
        class="list-group-item padding-left-right-2 padding-top-bottom-1 flex"
    >
        <form novalidate [formGroup]="requestForm">
            <div class="padding-top-bottom-1 width-70-percent margin-0-auto">
                <div> {{'ActionItemRequestWording' | translate}}</div>
                <div otFormElement
                    class="margin-top-1"
                    [label]="'requestUrl' | translate"
                    [required]="true"
                >
                    <input otInput
                        class="width-90-percent"
                        formControlName="requestUrl"
                        name="requestUrl"
                    />
                    <label *ngIf="requestForm.controls['requestUrl']?.errors"
                        class="text-bold color-cherry margin-top-bottom-half"
                    >
                        {{'InvalidRequestUrl' | translate}}
                    </label>
                </div>
                <div
                    otFormElement
                    class="padding-top-bottom-1"
                    [label]="'Method' | translate"
                    [required]="true"
                >
                    <ot-picklist
                        class="width-90-percent"
                        valueKey="value"
                        labelKey="key"
                        ot-auto-id="IntgActionMethodTypes"
                        [placeholder]="'Select' | translate"
                        [autoClose]="true"
                        [options]="methodTypes"
                        [model]="requestForm.get('method').value"
                        (onSelect)="requestForm.get('method').setValue($event)"
                    ></ot-picklist>
            </div>
                <div otFormElement
                    class="padding-top-bottom-1"
                    [label]="'EnterDefaultHeadersToInclude' | translate"
                >
                    <ng-container
                        *ngFor="let header of requestForm.get('defaultHeader')!['controls']; let i = index;let last=last;let first=first;"
                        formArrayName="defaultHeader"
                    >
                        <li
                            class="flex list-style-none row-space-between"
                            [formGroupName]="i"
                        >
                            <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                                <div
                                    class="text-bold"
                                    otFormElement
                                    [label]="'Key' | translate"
                                >
                                    <div class="margin-top-1">
                                        <ot-lookup
                                            labelKey="key"
                                            [ngClass]="(header.get('value').value && !(inputValue || selectedOption[i])) || header.get('key').invalid  ? 'intg-action-add__loookup-invalid' : ''"
                                            [attr.ot-auto-id]="'IntgActionOptionalHeader_' + i"
                                            [options]="headerTypes"
                                            [model]="selectedOption[i]"
                                            [inputValue]="inputValue"
                                            (modelChange)="onModelChange($event, i)"
                                            (inputChange)="onInputChange($event)"
                                            (firstOptionSelect)="handleFirstOption(inputValue,i)"
                                        >
                                            <ng-template otFirstOption *ngIf="inputValue">
                                                <div
                                                    id="listbox-option-unique-id-00"
                                                    role="option"
                                                    [attr.ot-auto-id]="'IntgActionAddCustomOptionalHeader_' + i"
                                                    >
                                                    {{allowOtherPrependText | translate}}: {{inputValue}}
                                            </div>
                                            </ng-template>
                                        </ot-lookup>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column padding-top-1 padding-right-1 flex-grow-1">
                                <div class="text-bold" >{{'Value' | translate}}</div>
                                <input otInput
                                    class="margin-top-1"
                                    formControlName="value"
                                    [ngClass]="{'border-has-error':header.get('value').invalid}"
                                    [required]="selectedOption[i]"
                                    [attr.ot-auto-id]="'IntgActionOptionalHeader_' + i"
                                    (ngModelChange)="onValueChange($event,i)"
                                />
                            </div>
                            <div class="flex align-center row-space-between intg-action-add__header-action-container margin-top-4 width-4">
                                <i *ngIf="!(first && last)"
                                    class="ot ot-minus-circle color-cherry text-pointer no-outline text-large intg-action-add__header-action-icons padding-left-right-half margin-right-1"
                                    ot-auto-id="IntgRequestRemoveOptionalHeaderButton"
                                    (click)="onRemoveOptionClick(i)"
                                ></i>
                                <i *ngIf="last"
                                    class="ot ot-plus-circle color-green text-pointer no-outline text-xlarge intg-action-add__header-action-icons padding-left-right-half"
                                    ot-auto-id="IntgRequestRemoveOptionalHeaderButton"
                                    (click)="onAddOptionClick()"
                                ></i>
                            </div>
                        </li>
                    </ng-container>
                </div>
                <div otFormElement
                    class="flex-grow-1"
                    [label]="'Body'| translate"
                >
                    <textarea otTextarea
                        ot-auto-id="IntgActionBody"
                        class="width-90-percent"
                        rows="10"
                        formControlName="requestTextArea"
                        [attr.name]="'IntgWorkflowLookupText'+currentIndex"
                    ></textarea>
                    <i
                        class="ot ot-file-text-o cursor-pointer padding-left-1"
                        ot-auto-id="IntgSystemActionsModalLookupIcon"
                        position="left-bottom"
                        size="large"
                        [otPopover]="lookUpPopoverDropdown"
                        [closeOnClick]="'both'"
                        [interactive]="false"
                        [isOpen]="isLookUpOpen"
                        (click)="onLookUpButtonClick()"
                        (toggled)="onLookUpButtonToggle($event)"
                    ></i>
                    <i
                        *ngIf="!hideValidatorIcon.hideFeature"
                        class="ot ot-check-square-o cursor-pointer padding-left-2"
                        ot-auto-id="IntgSystemActionsModalValidateFreemarker"
                        size="large"
                        (click)="openFreemarkerValidatorModal()"
                    ></i>
                </div>
            </div>
            <ng-template #lookUpPopoverDropdown>
                <div otFormElement
                    class="width-60-percent margin-0-auto margin-top-1"
                >
                    <ot-search-input
                        [model]="lookupFieldsFilter"
                        [placeholder]="'Search' | translate"
                        (search)="filterLookupFields($event)"
                    ></ot-search-input>
                </div>
                <ul class="overflow-y-auto padding-bottom-1 width-100-percent max-height-20 margin-top-bottom-1">
                    <ot-collapse *ngFor="let event of availableEvent"
                        [title]="event.category"
                        [open]="open"
                    >
                        <img
                            class="border-round height-4 width-4 padding-all-1 padding-bottom-1 inline-block"
                            collapse-header-icon
                            [ngStyle]="{'background-color': event.isOtEvent ? '' : integration.template.bgcolor }"
                            [src]="event.isOtEvent ? otActionIcon : integration.template.icon ||'images/intg-systems/icon-connector.png'"/>

                        <li *ngFor="let field of event.fields| filter: ['name'] : lookupFieldsFilter; let index = index; trackBy:trackBykey"
                            class="text-bold cursor-pointer padding-left-right-1">
                            <a class="intg-action-add__lookup-item text-decoration-none text-color-default flex align-center padding-all-half"
                                [attr.ot-auto-id]="'IntgSystemActionsModalEventItem'+index"
                                (click)="onLookUpClick(field.body)"
                            >
                                <span
                                    class="margin-right-2 border-round padding-all-1 padding-bottom-1 inline-block width-4"
                                    [ngStyle]="{'background-color': event.isOtEvent ? '' : integration.template.bgcolor }"
                                    [ngClass]="{'width-5': event.isOtEvent}" >
                                    <img
                                        class="height-2 margin-right-2"
                                        [src]="event.isOtEvent ? otActionIcon : integration.template.icon ||'images/intg-systems/icon-connector.png'"/>
                                </span>
                                <div>
                                    <span class="word-break"> {{field.name}} </span>
                                    <span class="text-italic text-normal">{{field.example}}</span>
                                </div>
                            </a>
                        </li>
                    </ot-collapse>
                </ul>
            </ng-template>
        </form>
    </li>

    <!------------ RESPONSE Tab ------------>

    <ng-container *ngIf="selectedTabJson === TABS.RESPONSE">
        <li
            class="padding-top-bottom-half list-group-item flex justify-end"
        >
            <button
                otButton
                neutral
                ot-auto-id="IntgActionGenerateSchemaBtn"
                (click)="openParseSchemaModal()"
            >
                {{'GenerateFromResponsePayload' | translate}}
            </button>
        </li>
        <li class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer">
            <div otFormElement
                *ngIf="responseSchema; else noSchemaTemplate"
                class="overflow-y-auto min-height-25 width-100-percent"
            >
                <textarea otTextarea
                    ot-auto-id="IntgActionResponseSchema"
                    rows="12"
                    [(ngModel)]="responseSchema">
                </textarea>
            </div>
            <ng-template #noSchemaTemplate>
                <pre
                    class="ql-syntax padding-all-0"
                    spellcheck="false"
                >
                    <div> {{ 'NoResponseSchemaFound' | translate }} </div>
                </pre>
            </ng-template>
        </li>
    </ng-container>
    <ng-container *ngIf="selectedTabJson === TABS.SAMPLE">
        <li class="list-group-item padding-left-right-2 padding-top-bottom-1 text-pointer">
            <pre *ngIf="responseSample; else noResponseTemplate"
                class="ql-syntax overflow-x-auto max-height-25"
                spellcheck="false"
            >
                <div> {{responseSample}} </div>
            </pre>
            <ng-template #noResponseTemplate>
                <pre
                    class="ql-syntax padding-all-0"
                    spellcheck="false"
                >
                    <div> {{ 'NoResponseSchemaFound' | translate }} </div>
                </pre>
            </ng-template>
        </li>
    </ng-container>

</ng-container>

 <!------------ Dynamic Footer Section ------------>
 <li
    class="list-group-item padding-left-right-2 padding-top-bottom-1 text-right">
    <button otButton brand
        *ngIf="currentStep === WORKFLOW_STEPS.CREDENTIAL_STEP"
        ot-auto-id="IntgActionCredentialNextStep"
        [disabled]="!currentCredential"
        (click)="nextStep('REQUEST_RESPONSE_STEP')"
    >
        {{'Next' | translate}}
    </button>
    <button otButton brand
        *ngIf="currentStep === WORKFLOW_STEPS.REQUEST_RESPONSE_STEP"
        ot-auto-id="IntgActionRequestResponseFinish"
        [disabled]="requestForm.invalid"
        (click)="finishApiAction()"
    >
        {{'Finish' | translate}}
    </button>
</li>
