<ot-modal-header (close)="closeModal()">
    <div>{{ 'TestWorkflow' | otTranslate }}</div>
</ot-modal-header>
<section class="max-height-35">
    <ot-modal-content class="flex row-space-around position-relative intg-workflow-test-modal">
        <ot-loading otPageLoading
            *ngIf="!ready"
            class="absolute-center z-index-1">
            </ot-loading>
        <div otFormElement
            class="padding-top-bottom-1  margin-right-3 margin-top-1 width-50-percent"
            [label]="'EventData'| otTranslate"
        >
            <textarea otTextarea
                class="height-30"
                ot-auto-id="IntgWorkflowBuilderTestModalDescription"
                [disabled]="!ready"
                [placeholder]="'EnterPayload'| otTranslate"
                [(ngModel)]="payload"
            ></textarea>
            <div
                class="flex margin-top-bottom-1"
                [ngClass]="!isCorrectJson ? 'row-space-between' : 'justify-end'">
                <span
                    *ngIf="!isCorrectJson"
                    class="width-70-percent"
                >
                    <ot-notification
                        icon="ot ot-exclamation-circle"
                        type="error"
                        [allowClose]="false"
                    >
                        {{ "InvalidJSON"  | otTranslate }}
                    </ot-notification>
                </span>
                <button otButton neutral
                    class="intg-workflow-test-modal__button-height"
                    ot-auto-id="IntgWorkflowBuilderRunTestBtn"
                    [innerText]="'RunTest' | otTranslate"
                    [disabled]="!ready"
                    [loading]="!ready"
                    (click)="saveTestWorkflow()"
                ></button>
            </div>
        </div>
        <div class="width-50-percent height-100">
            <ot-tabs
                *ngIf="tabs.length"
                [tabs]="tabs"
                [selectedTab]="selectedTab"
            >
                <span otTabsOverflowText>
                    {{overflowText}}&nbsp;
                    <i class="ot ot-caret-down"></i>
                </span>
                <a
                    ot-auto-id="IntgTestResponseTabId"
                    *otTabItem="let tab"
                    (click)="onTabClick(tab)"
                    >
                    {{tab.text}}
                </a>
            </ot-tabs>
            <div class="padding-bottom-1">
                <pre *ngIf="selectedTab === TABS.RESPONSE"
                    class="ql-syntax overflow-x-auto height-30"
                    spellcheck="false"
                    [innerText]="responseData"
                >
                </pre>
                <pre *ngIf="selectedTab === TABS.LOGS"
                    class="ql-syntax overflow-x-auto height-30"
                    spellcheck="false"
                    [innerText]="responseLogs"
                >
                </pre>
                <div class="flex justify-end row-space-between">
                    <div>
                        <ot-notification
                            *ngIf="responseStatusText"
                            icon="ot ot-exclamation-circle"
                            [allowClose]="false"
                            [type]="statusFailure ? 'error':'success'"
                        >
                            {{responseStatusText}}
                        </ot-notification>
                    </div>
                </div>
            </div>
        </div>
    </ot-modal-content>
</section>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="IntgWorkflowBuilderTestWorkflowBtn"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
</ot-modal-footer>
