//////////////////////////////////////////////////////////////////////////////////////////////
// Launch
//////////////////////////////////////////////////////////////////////////////////////////////
$huge: 100rem;
$big: 85.71rem;
$large: 68.57rem;
$medium: 50rem;
$small: 35.71rem;

.launch {
    position: relative;
    z-index: 1;
    //height: calc(100vh - 50px);
    background-color: $paper-gray;
    color: $slate;
    flex: 1 1 auto;
    min-width: 1px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;

    &__container {
        width: 100%;
        flex: 1 1 auto;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
    }

    &__header {
        flex: 0 0 5rem;
        padding: 0;
        display: flex;
        align-items: stretch;
    }

    &__tag {
        margin: 1rem 0 0;
        display: inline-block;
    }

    &__card-list {
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        @media (max-width: $huge) {
            flex: 0 0 92%;
            max-width: 110rem;
        }
        @media (min-width: $huge) {
            flex: 0 0 75%;
            max-width: 110rem;
        }
    }

    &__card-wrapper {
        margin: .7rem;
    }

    &__welcome {
        flex: 0 0 auto;

        &--header {
            font-size: 2.5rem;
            margin: 1.4rem;
            color: $slate;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            letter-spacing: -1px;
            @media (max-width: $huge) {
                margin-top: 2rem;
            }
        }

        &--subtext {
            font-size: 1.8rem;
            margin: .5rem 0 0;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            @media (min-width: $large) {
                margin-top: 2rem;
            }
        }
    }
    @import 'launch-card';
}
