<ot-loading otPageLoading
    *ngIf="isLoading; else showForm"
></ot-loading>
<ng-template #showForm>
    <ot-modal-header (close)="closeModal()">
        <div>{{ 'ExtendRequest' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content class="padding-all-1 padding-right-2 overflow-x-hidden">
        <div class="margin-top-bottom-1 text-bold">{{"HowManyDaysExtend" | otTranslate}}</div>
        <input
            otInput
            type="number"
            class="one-input padding-all-0 text-large text-center margin-bottom-1 width-10-percent"
            ot-auto-id="DSARExtendInputButton"
            [min]="1"
            [max]="120"
            [ngModel]="daysToExtend"
            (keyup)="validateDays($event)"
            (change)="validateDays($event)">
        <p class="text-error text-small" *ngIf="daysToExtendTouched && daysToExtendError">
            {{"PleaseEnterValidDays" | otTranslate}}
        </p>
        <div class="margin-top-bottom-1 text-bold">{{"MessageToDataSubject" | otTranslate}}</div>
        <div class="position-relative">
            <ot-picklist
                class="request-queue-detail-messaging__response-template position-absolute"
                ot-auto-id="DSARRequestQueueMessagingTemplateDropdown"
                labelKey="templateName"
                valueKey="templateContent"
                [autoClose]="true"
                [model]="selectedTemplate"
                [options]="responseTemplates"
                [placeholder]="'SelectResponse' | otTranslate"
                (onSelect)="selectTemplate($event)"
            ></ot-picklist>
            <ot-rich-text-editor
                ot-auto-id="DSARExtendModalTextEditor"
                editorClass="request-queue-detail-messaging__extend-modal-quill-editor height-auto background-white flex-full-height stretch-vertical"
                class="block full-width margin-bottom-1 flex-full-height"
                [ngClass]="{'border-has-error': commentTouched && !comment}"
                [placeholder]="'EnterReasonForExtendingRequest' | otTranslate"
                [contentObservable]="contentObservable"
                [customModules]="customModules"
                (onContentChanged)="handleMessageChange($event.html)"
            >
            </ot-rich-text-editor>
            <p
                *ngIf="commentTouched && !comment"
                class="text-error text-small"
                [innerText]="'ErrorFillThisField' | otTranslate"
                >
            </p>
        </div>

        <p class="text-small margin-bottom-6">
            <b>{{"Note" | otTranslate}}</b>: {{"AreYouSureYouWantToSendMessage" | otTranslate}}
        </p>
    </ot-modal-content>
    <ot-modal-footer>
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="DSARExtendModalCancelButton"
            [disabled]="saveInProgress"
            (click)="closeModal()"
            >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button
            otButton
            brand
            ot-auto-id="DSARExtendModalSaveButton"
            [loading]="saveInProgress"
            [disabled]="!canSubmit || saveInProgress"
            (click)="handleSubmit()"
            >
            {{ 'Send' | otTranslate }}
        </button>
    </ot-modal-footer>
</ng-template>



