<table otDataTable
    class="dsar-response-templates-table"
    [rowData]="rows"
    [rowBordered]="true"
    [sortable]="false"
    [resizableCol]="true"
    [responsiveTable]="true"
    [sortOrder]="sortOrder"
    [sortedKey]="sortedKey"
    [truncateCellContent]="true"
>
    <ng-container *ngFor="let col of columns">

        <ng-container *ngIf="col.columnType === 'name'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdClass]="'max-25'"
                [tdStyle]="{'padding-left': '3rem'}"
                [thStyle]="{'padding-left': '2rem'}"
                >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-bold">
                        <a
                            ot-auto-id="DSARResponseTemplateNameClick"
                            [title]="row[column.cellValueKey]"
                            (click)="handleNameClick(row)"
                            >
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnType==='date'">
            <ot-data-table-column
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-25 justify-center margin-left-right-auto"
                        title="{{col.columnName}}">
                        <span class="slds-truncate text-bold">
                            {{col.columnName}}
                        </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{ row[column.cellValueKey] | otDate:'datetime' }}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="!col.columnType">
            <ot-data-table-column [sortable]="sortable" [sortKey]="col.sortKey" [cellValueKey]="col.cellValueKey" [column]="col">
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                         {{ removeHtmlTags(row[column.cellValueKey]) }}
                    </div>
                </ng-template>x
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnType==='user'">
            <ot-data-table-column
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-25 justify-center margin-left-right-auto"
                        title="{{col.columnName}}">
                        <span class="slds-truncate text-bold">
                            {{col.columnName}}
                        </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{users[row[column.cellValueKey]] ? users[row[column.cellValueKey]].FullName : ""}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnType === 'action'">
            <ot-data-table-column>
                <ng-template otDataTableHeader [thClass]="'float-col'" [thStyle]="{ 'width': '0rem' }">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell
                    [tdClass]="'float-col background-transparent'"
                    let-row="row"
                    >
                    <ot-context-menu
                        class="height-100 flex-full-height column-vertical-center"
                        position="bottom-right"
                        [menu]="ellipsisOptions"
                        [type]="2"
                        >
                        <i class="ot ot-ellipsis-h"></i>
                        <a *otContextMenuItem="let option"
                            (click)="option.action(row)"
                            >
                            {{ option.text }}
                        </a>
                    </ot-context-menu>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <!--<ng-container *ngIf="col.columnType === 'action'">
            <ot-data-table-column>
                <ng-template otDataTableHeader [thClass]="'float-col'" [thStyle]="{'width': 0}">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'float-col'"
                    [tdStyle]="{'background': 'linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgb(255, 255, 255) 20%)'}"
                    let-row="row">
                    <ng-container *ngIf="permissions.editTemplate">
                        <i class="ot ot-edit margin-left-right-2 text-pointer" (click)="editResponseTemplate.emit({ type: 'EDIT_TEMPLATE', payload: row })"></i>
                    </ng-container>
                    <ng-container *ngIf="permissions.editTemplate">
                        <i class="ot ot-trash margin-right-2 text-pointer" (click)="deleteResponseTemplate.emit({ type: 'DELETE_TEMPLATE', payload: row })"></i>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
        </ng-container>-->

    </ng-container>
</table>
