<one-modal-base
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <section class="flex-full-height column-nowrap min-height-25 max-height-40">
        <div *ngIf="content; else emptyState"
            class="static-vertical flex-full-height padding-all-2 onboarding-modal__content"
            [innerHtml]="content"
        ></div>
        <ng-template #emptyState>
            <one-empty-state
                class="static-vertical flex-full-height margin-top-bottom-auto"
                [imagePath]="'images/blank.svg'"
                [hideMessage]="true"
            ></one-empty-state>
        </ng-template>
        <footer class="static-vertical padding-all-2 row-space-between row-vertical-center">
            <label
                class="row-vertical-center margin-all-0 text-normal"
                >
                <ot-checkbox
                    ot-auto-id="OnboardingModalDoNotShowCheckbox"
                    [checked]="doNotShow"
                    [disabled]="disabled"
                    (toggle)="onToggle($event)"
                    >
                </ot-checkbox>
                <span class="margin-left-1 margin-bottom-half">{{ "DontNeedTips" | otTranslate }}</span>
            </label>
            <span>
                <button otButton
                    ot-auto-id="OnboardingModalCancelBtn"
                    [innerText]="'Cancel' | otTranslate"
                    [disabled]="disabled"
                    (click)="closeModal()"
                ></button>
                <button otButton brand
                    ot-auto-id="OnboardingModalOkBtn"
                    [innerText]="'Ok' | otTranslate"
                    [disabled]="disabled"
                    [loading]="disabled"
                    (click)="closeModal(true)"
                ></button>
            </span>
        </footer>
    </section>
</one-modal-base>
