<one-modal-base
    class="flex-full-height"
    [modalTitle]="'LaunchAssessment' | otTranslate"
    (close)="closeModal()"
    >
    <section class="one-modal-new flex-full-height max-height-100-percent overflow-auto">
        <form
            novalidate
            class="max-width-full margin-all-0 full-width padding-all-2"
            [formGroup]="assessmentForm"
        >
            <div class="padding-top-bottom-1 padding-left-1 padding-right-2 overflow-y-auto overflow-x-hidden">
                <div otFormElement
                    [label]="'AssessmentName' | otTranslate"
                    [required]="true"
                >
                    <input otInput
                        name="SspLaunchModalAssessmentName"
                        formControlName="assessmentName"
                        ot-auto-id="SspLaunchModalAssessmentName"
                        [placeholder]="'AssessmentName' | otTranslate"
                    >
                </div>
                <div otFormElement
                    *ngIf="showOrgGroupSelection"
                    class="margin-top-1"
                    [label]="'OrganizationGroup' | otTranslate"
                    [required]="true">
                    <org-select
                        ot-auto-id="SspLaunchAssessmentOrgGroupSelect"
                        [placeholder]="'SelectOrganizationGroup' | otTranslate"
                        [required]="true"
                        [model]="assessmentForm.get('orgGroup').value"
                        (onSelect)="setOrgSelected($event)"
                    ></org-select>
                </div>
                <div otFormElement
                    *ngIf="showRespondentSelection"
                    class="margin-top-1"
                    [label]="'Respondent' | otTranslate"
                    [required]="true"
                >
                    <ot-org-user-multi-select
                        class="block margin-right-1"
                        ot-auto-id="SspLaunchAssessmentRespondentsMultiSelect"
                        traversal="BRANCH"
                        [allowEmail]="true"
                        [fetchOptionsOnClick]="true"
                        [filterCurrentUser]="filterCurrentUser"
                        [orgId]="assessmentForm.get('orgGroup').value"
                        [placeholder]="'SelectRespondent'"
                        [permissions]="['AssessmentCanBeRespondent']"
                        [userList]="respondentsList"
                        (onSelect)="handleRespondentSelection($event)"
                    ></ot-org-user-multi-select>
                </div>
                <div otFormElement
                    *ngIf="showApproverSelection"
                    class="margin-top-1"
                    [label]="'Approver' | otTranslate"
                >
                    <ot-org-user-multi-select
                        class="block margin-right-1"
                        ot-auto-id="SspLaunchAssessmentApproversMultiSelect"
                        traversal="UP"
                        [allowEmail]="false"
                        [fetchOptionsOnClick]="true"
                        [filterCurrentUser]="filterCurrentUser"
                        [orgId]="assessmentForm.get('orgGroup').value"
                        [placeholder]="'SelectApprover'"
                        [permissions]="['AssessmentCanBeApprover']"
                        [userList]="approversList"
                        (onSelect)="handleApproverSelection($event)"
                    ></ot-org-user-multi-select>
                </div>
            </div>

            <footer class="static-vertical margin-top-1 row-flex-end">
                <button otButton
                    class="margin-right-1"
                    type="button"
                    [innerText]="'Cancel' | otTranslate"
                    ot-auto-id="SspLaunchAssessmentCancel"
                    (click)="closeModal()"
                >
                </button>
                <button otButton brand
                    type="button"
                    [disabled]="!assessmentForm.valid || launchInProgress"
                    [loading]="launchInProgress"
                    [innerText]="'Launch' | otTranslate"
                    ot-auto-id="SspLaunchAssessmentButton"
                    (click)="launchAssessment()"
                >
                </button>
            </footer>
        </form>
    </section>
</one-modal-base>
