<div otDrawerContainer
    class="height-100"
>
    <ot-drawer
        class="risk-repo-filter__drawer slds-p-around--medium flex-full-height"
        [open]="isOpen"
    >
        <div class="flex-full-height">
            <div
                class="margin-bottom-2 cursor-pointer"
                ot-auto-id="RiskRepoCloseFilter"
                (click)="closePane()"
            >
                <i class="ot ot-arrow-circle-o-right cursor-pointer"></i>
                <span [innerText]="'Close' | otTranslate"></span>
            </div>
            <section class="margin-top-2 border-bottom">
                <div otFormElement [label]="'AddFilter' | otTranslate">
                    <ot-picklist
                        ot-auto-id="RiskRepoFilterOptionList"
                        [model]="filterSelected"
                        [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                        [options]="filterOptions"
                        [placeholder]="'Field' | otTranslate"
                        (onSelect)="onFilterSelection($event)"
                    ></ot-picklist>
                </div>
                <div otFormElement
                    class="margin-top-1"
                    [label]="'Equals' | otTranslate"
                >
                    <ot-lookup
                        *ngIf="notRiskOwnerOptionSelected; else riskOwnerDropdown"
                        ot-auto-id="RiskRepoFilterValueList"
                        [autoClose]="true"
                        [clearInputOnModelChange]="true"
                        [model]="fieldValueSelected"
                        [multiSelect]="isFieldValueMultiSelect"
                        [options]="fieldValueOptions"
                        [placeholder]="'FilterValue' | otTranslate"
                        (modelChange)="onFieldValueSelection($event)"
                    ></ot-lookup>
                    <ng-template #riskOwnerDropdown>
                        <ot-org-user
                            class="block margin-right-1"
                            ot-auto-id="RiskRepoRiskOwnerList"
                            placeholder="FilterValue"
                            [traversal]="orgUserTraversal.All"
                            [allowEmail]="false"
                            [fetchOptionsOnClick]="true"
                            [model]="fieldValueSelected?.value"
                            (onSelect)="onRiskOwnerSelection($event)"
                        ></ot-org-user>
                    </ng-template>
                </div>
                <div class="row-flex-end margin-all-1">
                    <button
                        otButton
                        brand
                        ot-auto-id="RiskRepoFilterAddButton"
                        [disabled]="isAddButtonDisabled"
                        (click)="addFilter()"
                    >{{ "Add" | otTranslate }}</button>
                </div>
            </section>
            <section class="column-nowrap margin-top-bottom-1" *ngIf="filters.length > 0">
                <div class="row-flex-end">
                    <a
                        class="text-decoration-none color-accent-blue text-bold cursor-pointer"
                        ot-auto-id="RiskRepoClear"
                        (click)="$event.preventDefault(); clearFilters();"
                    >{{ "ClearFilters" | otTranslate }}</a>
                </div>
                <div class="flex-grow-1 overflow-y-auto">
                    <div class="text-bold">
                        {{ "MatchingTheseFilters" | otTranslate }}
                    </div>
                    <div *ngFor="let filter of filters; let index = index;"
                        class="row-nowrap border padding-all-1 margin-top-1">
                        <div class="column-nowrap flex-grow-1">
                            <div class="text-bold">{{ filter.field.label }}</div>
                            <div class="text-italic text-small">{{ "Equals" | otTranslate }}</div>
                            <div>{{ getFieldDisplayValue(filter) }}</div>
                        </div>
                        <div>
                            <i class="ot ot-close cursor-pointer" (click)="removeFilter(index)"></i>
                        </div>
                    </div>
                </div>
            </section>
            <div class="margin-top-auto static-horizontal text-right">
                <button
                    otButton
                    brand
                    ot-auto-id="RiskRepoFilterApplyButton"
                    (click)="applyFilter()"
                >{{ "Apply" | otTranslate }}</button>
            </div>
        </div>
    </ot-drawer>
</div>

