<ng-template *ngIf="ready; then WebformRules else Loading"></ng-template>
<ng-template #WebformRules>
    <one-rules
        class="flex-full-height"
        [rules]="rules"
        [config]="config"
        [editMode]="ruleEditMode"
        [deleteConfig]="deleteConfig"
        (editModeChanged)="editModeChanged($event)"
        (rulesSaved)="rulesSaved($event)"
        (ruleOpened)="getRuleById($event)"
        (ruleCancelled)="resetRules($event)"
    ></one-rules>
</ng-template>
<ng-template #Loading>
    <ot-loading
        class="align-self-center"
        >
        {{ 'Rules' | otTranslate }}
    </ot-loading>
</ng-template>
