<section class="report-schedule-list height-100 column-nowrap flex-full-height">
    <ot-page-header
        class="height-49"
        [title]="'ReportSchedules' | otTranslate"
        >
        <button otButton brand
            ot-auto-id="AddScheduleBtn"
            [innerText]="'AddSchedule' | otTranslate"
            (click)="addSchedule()"
            >
        </button>
    </ot-page-header>
    <section class="position-relative flex-full-height">
        <div class="flex-full-height column-nowrap height-100 overflow-y-auto stretch-vertical column-nowrap">
            <ot-loading
                otPageLoading
                class="flex-full-height"
                *ngIf="isLoading"
                >
            </ot-loading>
            <ot-empty-state
                *ngIf="!isLoading && !schedules?.length"
                class="text-center text-medium absolute-center"
                [emptyStateMessage]="'NoRecordsFound' | otTranslate"
                >
                <img emptyStateImg />
            </ot-empty-state>
            <div class="position-relative">
                <div class="overflow-x-auto">
                    <table
                        class="full-width"
                        otDataTable
                        *ngIf="!isLoading && schedules?.length"
                        [rowData]="schedules"
                        [rowBordered]="true"
                        [sortable]="true"
                        [sortKey]="currentSortKey"
                        [sortOrder]="currentSortOrder"
                        (sortChanged)="handleSortChange($event)"
                        >
                        <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index;">
                            <ot-data-table-column
                                [headerLabel]="col.labelKey | otTranslate"
                                [column]="col"
                                [sortable]="col.propKey !== 'cronConfig'"
                                [sortKey]="col.propKey"
                                >
                                <ng-template
                                    otDataTableCell
                                    let-row="row"
                                    tdClass="max-width-50"
                                    [tdStyle]="{'padding': '0 1rem'}"
                                    >
                                    <span
                                        class="slds-truncate block"
                                        [attr.title]="row[col.propKey] | transform: getCellLabel : [col.type]"
                                        [innerText]="row[col.propKey] | transform: getCellLabel : [col.type]"
                                        >
                                    </span>
                                </ng-template>
                            </ot-data-table-column>
                        </ng-container>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thStyle]="{'min-width': '6rem'}">
                                <div></div>
                            </ng-template>
                            <ng-template otDataTableCell [tdStyle]="{'min-width': '6rem'}">
                                <div></div>
                            </ng-template>
                        </ot-data-table-column>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thClass]="'float-col'">
                                <div></div>
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                let-row="row"
                                tdClass="float-col background-transparent"
                                [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                                >
                                <div class="flex height-100 align-center justify-center">
                                    <ot-context-menu
                                        [type]="2"
                                        [menu]="rowActions"
                                        [position]="menuPosition"
                                        (click)="setMenuClass($event)"
                                        >
                                        <i class="ot ot-ellipsis-h"></i>
                                        <a
                                            *otContextMenuItem="let item"
                                            (click)="item.action(row)"
                                            >
                                            <span>
                                                <i
                                                    class="ot margin-right-1"
                                                    [ngClass]="item.iconClass"
                                                    >
                                                </i>
                                                <span [innerText]="item.text"></span>
                                            </span>
                                        </a>
                                    </ot-context-menu>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer
        otPaginationFooter
        >
        <ot-pagination
            *ngIf="schedules?.length"
            [currentPage]="pageData?.number"
            [handleOffset]="true"
            [numPages]="pageData?.totalPages"
            (pageChanged)="paginate($event)"
            >
        </ot-pagination>
        <span
            *ngIf="schedules?.length"
            [innerText]="pageData | otPageMeta"
            >
        </span>
    </footer>
</section>
