<div class="row-flex-end margin-top-1 padding-left-right-3">
    <button
        otButton
        brand
        [innerText]="'AddPurpose' | otTranslate"
        [attr.ot-auto-id]="'IntgPreferenceAddPurpose'"
        (click)="openPrefAdd()"
        >
    </button>
</div>
<ot-loading
    *ngIf="loading"
    class="stretch-vertical column-horizontal-vertical-center"
></ot-loading>
<div *ngIf="!loading" class="padding-left-right-1 padding-top-bottom-1">
    <div class="position-relative">
        <div class="overflow-y-auto margin-bottom-4 padding-bottom-1">
            <table
                otDataTable
                class="full-width"
                [rowData]="displayPreferenceData"
                [rowBordered]="rowBordered"
                >
                <ng-container *ngFor="let col of preferenceMapDataValues; trackBy: trackPreferenceMapDataValues">
                    <ot-data-table-column>
                        <ng-template otDataTableHeader>
                            <div class="slds-th__action max-25 text-left">
                                <span class="slds-truncate text-bold">{{col.columnName}}</span>
                            </div>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row">
                            <ng-container *ngIf="!col.columnType">
                                <div>{{row[col.cellValueKey][col.labelKey]}}</div>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '3rem'}">
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '3rem'}">
                    </ng-template>
                </ot-data-table-column>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thClass]="'float-col'">
                    </ng-template>
                    <ng-template otDataTableCell [tdClass]="'float-col'" let-row="row">
                        <ot-context-menu
                            position="bottom-right"
                            [type]="2"
                            [menu]="menuOptions"
                            (toggled)="getContextActions()"
                            >
                            <i class="ot ot-ellipsis-h"></i>
                            <a *otContextMenuItem="let item"
                                [attr.ot-auto-id]="'IntgPreferenceContextMenu' + item.text"
                                (click)="item.action(row)"
                                >
                                {{ item.text }}
                            </a>
                        </ot-context-menu>
                    </ng-template>
                </ot-data-table-column>
            </table>
        </div>
    </div>
</div>
