<ot-modal-header (close)="closeModal(null)">
    <div>{{ otModalData?.title }}</div>
</ot-modal-header>
<!-- <ot-modal-content class="flex-full-height overflow-auto"></ot-modal-content> -->
<ot-modal-content class="max-height-50">
    <form name="addTaskForm" novalidate>
        <div
            *ngIf="taskType === taskTypes.User"
            otFormElement
            [label]="'Assignee' | otTranslate"
            class="width-100-percent">
            <ot-org-group-user
                [disabled]="viewMode"
                [allowEmail]="true"
                [model]="userId"
                (onSelect)="selectUserOrGroup($event)"
            ></ot-org-group-user>
        </div>
        <div
            otFormElement
            class="margin-top-1"
            [label]="'TaskName' | otTranslate"
            [required]="true">
            <input
                otInput
                name="taskName"
                [disabled]="viewMode"
                [attr.maxlength]="limitTaskName ? '' : MAX_TASK_NAME"
                [ngModel]="taskName"
                [placeholder]="'EnterName' | otTranslate"
                (ngModelChange)="saveTaskName($event)"
            />
        </div>
        <div otFormElement
            *ngIf="taskType === taskTypes.System"
            class="padding-top-bottom-1"
            [label]="'System' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                required
                ot-auto-id="DsarSystemIntegrationId"
                valueKey="id"
                labelKey="name"
                [placeholder]="'Select' | otTranslate"
                [autoClose]="true"
                [options]="systems"
                [model]="selectedSystem"
                [disabled]="isLoading || viewMode"
                (onSelect)="setSystem($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            *ngIf="taskType === taskTypes.System"
            class="padding-top-bottom-1"
            [label]="'SystemIntegrationFlow' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                required
                ot-auto-id="DsarSystemIntegrationFlowId"
                valueKey="id"
                labelKey="name"
                [placeholder]="'Select' | otTranslate"
                [autoClose]="true"
                [options]="workFlowListFilter"
                [model]="selectedSystemWorkflow"
                [disabled]="isLoading || viewMode"
                (onSelect)="setSystemIntegrationFlow($event)"
            ></ot-picklist>
        </div>
        <div
            otFormElement
            [label]="'TaskDescription' | otTranslate"
            class="margin-top-1"
            [required]="true"
            [hasError]="false">
            <ot-rich-text-editor
                class="block margin-bottom-1 flex-full-height"
                ot-auto-id="DSARSystemTaskMessageEditor"
                editorClass="flex-full-height stretch-vertical"
                [readOnly]="viewMode"
                [contentObservable]="contentObservable"
                [customModules]="customModules"
                [placeholder]="'EnterDescription' | otTranslate"
                (onContentChanged)="handleMessageChange($event.html)"
            ></ot-rich-text-editor>
        </div>
        <div
            *ngIf="taskType === taskTypes.User"
            class="margin-top-1 row-space-between"
            >
            <label
                class="row-flex-start row-vertical-center"
                [innerText]="deadlineLabel">
            </label>
            <div class="row-flex-end width-50-percent">
                <ot-date-time-picker
                    *ngIf="!workflowSubtaskModal"
                    ot-auto-id="SystemTasksModalDueDateDatepicker"
                    class="width-100-percent"
                    [dateDisabled]="viewMode"
                    [dateDisableUntil]="deadlineDisabledUntil"
                    [dateFormat]="format"
                    [datePlaceholder]="format"
                    [dateTimeModel]="deadlineInput"
                    [hideTimePicker]="true"
                    (onChange)="deadlineChange($event)"
                ></ot-date-time-picker>
                <input otInput
                    #deadlineInView
                    *ngIf="workflowSubtaskModal"
                    class="max-10"
                    ot-auto-id="dsarSubTaskDeadline"
                    name="dsarSubTaskDeadline"
                    type="number"
                    min="1"
                    step="1"
                    [disabled]="viewMode"
                    [ngModel]="deadline"
                    (ngModelChange)="validateDeadline($event, deadlineInView)"
                />
            </div>
        </div>
        <div
            *ngIf="taskType === taskTypes.User"
            class="margin-top-1 row-space-between"
            >
            <label
                class="row-flex-start row-vertical-center"
                [innerText]="reminderLabel">
            </label>
            <div class="row-flex-end width-50-percent">
                <ot-date-time-picker
                    *ngIf="!workflowSubtaskModal"
                    ot-auto-id="SystemTasksModalReminderDateDatepicker"
                    class="width-100-percent"
                    [dateDisabled]="!deadlineInput || disableReminder || viewMode"
                    [dateDisableSince]="deadlineDisableSince"
                    [dateDisableUntil]="reminderDisableUntil"
                    [dateFormat]="format"
                    [datePlaceholder]="format"
                    [dateTimeModel]="reminderInput"
                    [hideTimePicker]="true"
                    (onChange)="reminderChange($event)"
                ></ot-date-time-picker>
                <input otInput
                    #reminderInView
                    *ngIf="workflowSubtaskModal"
                    class="max-10"
                    ot-auto-id="dsarSubTaskReminder"
                    name="dsarSubTaskReminder"
                    min="0"
                    step="1"
                    type="number"
                    [disabled]="!deadline || viewMode"
                    [ngModel]="reminder"
                    (ngModelChange)="validateReminder($event, reminderInView)"
                />
            </div>
        </div>
        <div
            *ngIf="taskType === taskTypes.System"
            class="margin-top-2"
            >
            <ot-checkbox
                ot-auto-id="SystemTaskRunManual'"
                [disabled]="viewMode"
                [checked]="isManualRun"
                (toggle)="onToggleRunManual($event)">
            </ot-checkbox>
            <label
                class="text-bold inline margin-left-half"
                [innerText]="'RunManual' | otTranslate"
            ></label>
        </div>

        <div class="margin-top-2">
            <ot-checkbox
                ot-auto-id="SystemTaskCreateRequired'"
                [disabled]="viewMode"
                [checked]="required"
                (toggle)="onToggle($event)">
            </ot-checkbox>
            <label
                class="text-bold inline margin-left-half"
                [innerText]="'Required' | otTranslate"
            ></label>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        *ngIf="viewMode; else cancelButton"
        ot-auto-id="DSARSubtaskViewModeCloseButton"
        (click)="closeModal(null)"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <ng-template #cancelButton>
        <button otButton
            *ngIf="!viewMode"
            ot-auto-id="SystemTaskCloseButton"
            (click)="closeModal(null)"
            >
            {{ cancelButtonText }}
        </button>
    </ng-template>
    <button otButton neutral
        *ngIf="!editModal && !viewMode"
        class="margin-right-1 margin-left-auto"
        ot-auto-id="SystemTaskCreateAnotherButton"
        [disabled]="!canSubmit"
        [loading]="isSubmitting"
        (click)="handleSubmit(true)"
        >
        {{ saveAndAddButtonText }}
    </button>
    <button otButton brand
        *ngIf="!viewMode"
        ot-auto-id="SystemTaskCreateButton"
        [disabled]="!canSubmit"
        [loading]="isSubmitting"
        (click)="handleSubmit(false)"
        >
        {{ submitButtonText }}
    </button>
</ot-modal-footer>
