<one-modal-base
    [modalTitle]="'TermOfUse' | otTranslate"
    (close)="declineEula()"
    >
    <section class="padding-all-2 column-nowrap">
        <div class="stretch-vertical">
            <p
                class="text-center"
                [innerText]="'AcceptOnetrustLicenseAgreement' | otTranslate"
            ></p>
                <div class="eula-modal__agreement-container">
                    <div class="eula-modal__agreement border max-height-40"></div>
                </div>
            </div>
        <footer class="margin-top-1 static-vertical row-flex-end">
            <button otButton
                ot-auto-id="AboutOnetrustModalClose"
                class="margin-right-1"
                [innerText]="'Close' | otTranslate"
                (click)="declineEula()"
            ></button>
            <button otButton brand
                ot-auto-id="AboutOnetrustModalAccept"
                [innerText]="'Accept' | otTranslate"
                [disabled]="disableAcceptBtn"
                (click)="acceptEula()"
            ></button>
        </footer>
    </section>
</one-modal-base>