<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        type="clear"
        [title]="'SelfServicePortal' | otTranslate"
    >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="loading; else sspSettingsForm"
        class="stretch-vertical"
    >
        {{ 'Loading' | otTranslate }}...
    </ot-loading>
    <ng-template #sspSettingsForm>
        <div class="stretch-vertical">
            <form
                class="centered-max-75"
                name="sspSettingsForm"
            >
                <ot-setting
                    [title]="'RestrictProjectOwnerView' | otTranslate"
                    [description]="'RestrictProjectOwnerViewDescription' | otTranslate"
                >
                    <ot-toggle
                        ot-auto-id="SspRestrictViewSettingsToggle"
                        [checked]="restrictViewSettingValue"
                        (toggle)="restrictViewSettingValue = !restrictViewSettingValue"
                    ></ot-toggle>
                </ot-setting>
            </form>
        </div>
    </ng-template>
    <footer otPageFooter>
        <button
            otButton brand
            ot-auto-id="SettingsSspSaveButton"
            [disabled]="saving"
            (click)="saveRestrictViewSetting(restrictViewSettingValue)">
            {{ 'Save' | otTranslate }}
        </button>
    </footer>
</section>

