<div class="row-wrap text-uppercase">
    <div
        *ngFor="let status of assessmentStatusCount;"
        class="projectlabels__{{assessmentStatusClasses[assessmentStatusKeys[status.status]]}} shadow7 text-center padding-all-1 border-radius-3 cursor-default column-vertical-center no-outline color-white margin-right-1 margin-top-bottom-1 flex-full-40"
    >
        <h2 class="margin-all-0" style="font-size: 5rem;">{{status.count}}</h2>
        <h4 class="text-medium-small margin-top-0">{{assessmentStatusKeys[status.status] | otTranslate}}</h4>
    </div>
    <div
        class="background-white border shadow7 text-center width-100-percent padding-all-1 border-radius-3 cursor-default column-vertical-center no-outline color-slate margin-top-bottom-1 margin-right-1"
    >
        <h2 class="margin-all-0" style="font-size: 5rem;">{{totalCount}}</h2>
        <h4 class="text-medium-small margin-top-0">{{"AllAssessments" | otTranslate}}</h4>
    </div>
</div>
