.cr-edit {
    &__card {
        width: 35rem;
        min-height: 27rem;

        &-icon {
            color: $green;
        }

        &-upgrade-icon {
            font: normal normal normal 14px/1 FontAwesome;
        }
    }

    &__textarea {
        min-height: 4rem;
    }
}