.cr {
    background-color: $paper-gray;
    color: $slate;

    &-content {
        flex-direction: row;
    }

    &-body {
        min-width: 1px;
        background-color: $paper-gray;
    }

    &-number {
        width: 15rem;
    }
}
