<ot-loading
    class="stretch-vertical column-horizontal-vertical-center"
    *ngIf="!ready"
></ot-loading>
<div *ngIf="ready" class="full-size column-nowrap">
    <div
        *ngIf="viewActions?.add?.show"
        class="
            static-vertical
            row-flex-end
            border-bottom
            padding-top-bottom-1
            padding-left-right-2
        ">
        <button otButton brand
            [attr.ot-auto-id]="viewActions.add.autoId"
            [title]="viewActions.add?.text || 'Add' | otTranslate"
            [innerText]="viewActions.add?.text || 'Add' | otTranslate"
            (click)="viewActions.add?.action()"
        ></button>
    </div>
    <div class="position-relative height-100">
        <table
            otDataTable
            class="position-relative border-top-none"
            [colBordered]="colBordered"
            [resizableCol]="resizableCol"
            [responsiveTable]="responsiveTable"
            [rowBordered]="rowBordered"
            [rowData]="pageData"
            [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
            [rowNoHover]="rowNoHover"
            [rowStriped]="rowStriped"
            [sortKey]="sortKey"
            [sortOrder]="sortOrder"
            [sortable]="sortable"
            [truncateCellContent]="truncateCellContent"
            [wrapCellContent]="wrapCellContent"
            (sortChanged)="handleSortChange($event)"
            >
            <ot-data-table-column
                *ngIf="viewActions?.bulkActions?.show"
                >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-width-15">
                        <ot-checkbox
                            [attr.id]="'viewActions.bulkActions.autoId'+'__header'"
                            [attr.ot-auto-id]="'viewActions.bulkActions.autoId'+'__header'"
                            [checked]="allRowsSelected"
                            (toggle)="handleTableSelectClick(tableRowType.Header)"
                        ></ot-checkbox>
                    </div>
                </ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    let-index="index"
                    >
                    <div class="slds-th__action max-width-15">
                        <ot-checkbox
                            [attr.id]="'viewActions.bulkActions.autoId'+'__row--'+index"
                            [attr.ot-auto-id]="'viewActions.bulkActions.autoId'+'__row--'+index"
                            [checked]="checkIfRowIsSelected(row)"
                            (toggle)="handleTableSelectClick(tableRowType.Row, index)"
                        ></ot-checkbox>
                    </div>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [column]="col"
                    >
                    <ng-template otDataTableHeader [thStyle]="{ 'padding': '0 3rem' }">
                        <div
                            class="max-width-50"
                            [ngClass]="columnIndex !== 0 ? 'text-center justify-center margin-left-right-auto' : 'text-left'"
                            title="{{col.name}}"
                            >
                            <span class="slds-truncate text-bold">{{col.name}}</span>
                        </div>
                    </ng-template>
                    <ng-template
                        *ngIf="pageData && pageData?.length"
                        otDataTableCell
                        let-row="row"
                        tdClass="max-width-50"
                        [tdStyle]="{ 'padding': '0 3rem' }"
                    >
                        <ng-container [ngSwitch]="col.type">
                            <ng-container *ngSwitchCase="tableColumnTypes.Date">
                                <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                    <span title="{{row[col.cellValueKey] | otDate }}">
                                        {{row[col.cellValueKey] | otDate}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Link">
                                <div
                                    class="slds-truncate text-bold"
                                    [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                    <a (click)="goToRoute(row.route)">
                                        {{row[col.cellValueKey]}}
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Status">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <ng-container *ngIf="row['halted']; else notHalted">
                                    <span
                                        [otBadge]="'destructive'"
                                        [innerText]="'Halted' | otTranslate">
                                    </span>
                                </ng-container>
                                <ng-template #notHalted>
                                    <ng-container *ngIf="row[col.cellValueKey]">
                                        <span
                                            [otBadge]="'primary'"
                                            [innerText]="'Active' | otTranslate">
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="!row[col.cellValueKey]">
                                        <span
                                            [otBadge]
                                            [innerText]="'Inactive' | otTranslate">
                                        </span>
                                    </ng-container>
                                </ng-template>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                    <span title="{{row[col.cellValueKey]}}">
                                        {{row[col.cellValueKey]}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
                <ng-container *ngIf="col.type === tableColumnTypes.Action">
                    <ot-data-table-column
                        [headerLabel]="col.name"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.valueKey"
                        [column]="col"
                    >
                        <ng-template
                            otDataTableHeader
                            [thClass]="'float-col'"
                            [thStyle]="{'width': 0}"
                        ></ng-template>
                        <ng-template
                            otDataTableCell
                            let-row="row"
                            let-index="index"
                            [tdClass]="'float-col'"
                        >
                            <div class="flex height-100 align-center justify-center">
                                <ot-context-menu
                                    [type]="2"
                                    [position]="row.index > 5 ? 'top-right': 'bottom-right'"
                                    [menu]="options"
                                    (toggled)="onToggleMenu(row)"
                                >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a
                                        *otContextMenuItem="let item"
                                        (click)="item.action(row)">
                                        {{ item.text }}
                                    </a>
                                </ot-context-menu>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>
        <one-empty-state
            class="flex-full-height justify-center text-center"
            *ngIf="!pageData || !pageData?.length"
            actionButtonId="IntgSystemCredentialsTableAddBtn"
            [imagePath]="viewActions?.addFromTable?.show ? 'images/empty_state_icon.svg' : 'images/blank.svg'"
            [emptyStateMessage]="emptyStateMessage | otTranslate"
            [actionText]="viewActions?.addFromTable?.text | otTranslate"
            [showButton]="viewActions?.addFromTable?.show"
            (actionCallback)="viewActions?.addFromTable?.action()"
        ></one-empty-state>
    </div>
</div>
