<ng-container *ngIf="impactLevelsName; else loadingHeatMap">
    <div class="row-nowrap width-100-percent position-relative">
        <div class="settings-risks-heatmap__label-xaxis-wrapper-outer">
            <div class="settings-risks-heatmap__label-xaxis-wrapper-inner text-center text-nowrap">
                <span class="column-nowrap flex-basis-0 settings-risks-heatmap__label overflow-hidden text-small">
                {{'Probability' | otTranslate}}
                </span>
            </div>
        </div>
        <div class="column-nowrap column-reverse flex-basis-0 flex-grow-1 z-index-1">
            <div class="settings-risks-heatmap__heatmap-cell flex-grow-1 column-horizontal-vertical-center color-white background-white max-10">
                phantom word
            </div>
            <div
                *ngFor="let probability of probabilityLevelsName"
                class="settings-risks-heatmap__heatmap-cell flex-grow-1 column-horizontal-vertical-center border-bottom border-right background-grey text-bold text-right padding-left-right-half max-10"
                [otTooltip]="{ content: helper.getLabelValue(probability) , placement: 'left' }"
            >
                <p class="overflow-ellipsis max-10 margin-bottom-0">{{ helper.getLabelValue(probability) }}</p>
            </div>
        </div>
        <div
            *ngFor="let impact of impactLevelsName; let i = index;"
            class="settings-risks-heatmap__heatmap-cell column-nowrap column-reverse flex-grow-1 text-bold text-center max-10"
        >
            <div
                class="settings-risks-heatmap__heatmap-cell column-horizontal-vertical-center border-bottom background-grey flex-grow-1 z-index-1 max-10"
                [otTooltip]= "{ content: helper.getLabelValue(impact) , placement: 'bottom' }"
            >
                <p class="overflow-ellipsis max-10 margin-bottom-0">{{ helper.getLabelValue(impact) }}</p>
            </div>
            <ng-container *ngFor="let heatmap of heatmapMatrix[i]">
                <div class="settings-risks-heatmap__heatmap-cell column-horizontal-vertical-center border-bottom border-right flex-grow-1 color-white max-10" [ngStyle]="{ 'background-color': heatmap.color}">
                    {{ heatmap.score }}
                </div>
            </ng-container>
        </div>
    </div>
    <span class="column-nowrap flex-basis-0 settings-risks-heatmap__label settings-risks-heatmap__label-yaxis text-center overflow-hidden text-small">
        {{'Impact' | otTranslate}}
    </span>
    <risk-heatmap-options
        *ngIf="impactLevels || probabilityLevels"
        [impactLevels]="impactLevels"
        [probabilityLevels]="probabilityLevels"
        [heatmapForm]="heatmapForm"
        (onMatrixChange)="onMatrixOptionChange($event)"
    ></risk-heatmap-options>
</ng-container>
<ng-template #loadingHeatMap>
    <div class="margin-top-6">
        <ot-loading otPageLoading>
        </ot-loading>
    </div>
</ng-template>
