<section class="flex-full-height height-100">
    <ot-page-header [title]="'IncidentWorkflow' | otTranslate">
    </ot-page-header>

    <incident-workflow-path></incident-workflow-path>
    <incident-workflow-rules class="flex-full-height"></incident-workflow-rules>
</section>
