<div class="is-card margin-all-1 column-nowrap background-white position-relative shadow2">
    <intg-one-corner-ribbon
        *ngIf="system.isComingSoon"
        [ribbonText]="'ComingSoon' | otTranslate"
    ></intg-one-corner-ribbon>
    <a
        class="is-card__header row-horizontal-vertical-center text-center"
        [ngClass]="{'pointer-events-none': system.isComingSoon}"
        [ngStyle]="system.logo.style"
        [attr.ot-auto-id]="'intgCardId'+system.id"
        (click)="navigateToConnector(system.id)"
        >
        <img class="is-card__header--img" 
            [ngStyle]="system.logo.style" 
            [src]="system.logo.url" />
    </a>
    <div class="is-card__footer padding-all-1 row-space-between-center align-center border-top">
        <span class="text-large text-thin text-uppercase padding-left-right-half">
            {{system.displayName || (system.nameKey ? (system.nameKey | otTranslate) : system.name) }}
        </span>
    </div>
    <div class="padding-bottom-2 padding-left-1 row-space-between-center">
        <a class="remove-anchor-style text-decoration-none margin-left-right-half text-small text-bold text-uppercase"
            *ngIf="!system.isComingSoon"
            [innerHtml]="'LearnMore' | otTranslate"
            [attr.ot-auto-id]="'intgCardLearnMore'+system.id"
            (click)="navigateToConnector(system.id)"
        ></a>
    </div>
</div>