.is-card {
    border-radius: 1rem;
    transition: all 0.15s ease-in-out;
    width: 25rem;

    &:hover {
        transform: translateY(-3px);
        @extend .shadow3;
    }

    &__header {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 12rem;
        padding: 2rem 5rem;

        &--img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            min-width: 1px;
        }
    }

    &__footer {
        min-height: 5rem;
    }
}
