.one-tag {
    border: 1px solid;
    &--standard {
        color: $slate;
    }
    &--small {
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
        letter-spacing: 0.8px;
    }
    &--medium {
        padding: 0.4rem 1.2rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
    &--rounded {
        border-radius: 5rem;
        color: $white;
        background-color: $ui-blue;
    }
    &--blue {
        color: $white;
        background-color: $ui-blue;
    }
    &--red {
        color: $white;
        background-color: $light-red;
    }
    &--green {
        color: $white;
        background-color: $green;
    }
    &--grey {
        color: $black;
        background-color: $grey-1;
    }
    &--override {
        min-width: 11rem;
        border-radius: 5rem;
        text-align: center;
        font-weight: bold;
    }
    &--override.one-tag--primary {
        color: $slate;
        border: none;
        background-color: $platinum;
        &-blue {
            background-color: $ui-blue;
            color: $white;
        }
        &-green {
            color: $white;
            background-color: $green;
        }
        &-white {
            color: $slate;
            background-color: $white;
        }
        &-yellow {
            color: $white;
            background-color: $yellow;
        }
    }
    &--override.one-tag--secondary {
        color: $ui-blue;
        border: 1px solid $ui-blue;
    }
    &--no-bg-rounded {
        border-radius: 5rem;
        color: $white;
        width: 10rem;
    }
    &--width-auto {
        width: auto !important;
        min-width: 10rem;
    }
}
