<footer
    otPageFooter
    class="is-connection-manage-footer border-top background-grey"
    [ngClass]="{'is-connection-manage-footer--visible': canShowFooter}"
    [justify]="'inherit'"
>
    <div
        *ngIf="canShowFooter"
        class="centered-max-50 full-width text-right"
    >
        <button
            otButton
            neutral
            ot-auto-id="ConnectionDetailsCancelBtn"
            (click)="goToRoute()"
        >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button
            otButton
            brand
            *ngIf="'IntegrationPageEdit' | otPermit"
            ot-auto-id="ConnectionDetailsSaveBtn"
            [disabled]="isSavingConnection || !canSave()"
            [loading]="!saveActionText && isSavingConnection"
            (click)="callback()"
        >
            {{ saveActionText }}
        </button>
    </div>
</footer>
