.background-topic {
    &:before {
        border-top: 1px solid $neutral-button-border-color;
        content:"";
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 85%;
        z-index: -1;
    }
}
