<section class="flex-full-height max-height-100-percent overflow-auto">
    <one-modal-base
        [modalTitle]="modalTitle"
        ot-auto-id="IntgPreferenceCloseModal"
        (close)="closeModal()"
        >
        <section class="flex-full-height padding-all-2">
            <div class="margin-top-1 row-horizontal-center">
                <div class="width-50-percent" otFormElement [label]="'ConsentPurpose' | otTranslate">
                    <ot-picklist
                        ot-auto-id="IntgPreferenceModalConsentPurpose"
                        [autoClose]="autoCloseEnabled"
                        [placeholder]="'SelectPurpose' | otTranslate"
                        [disabled]="onEditDisable"
                        [options]="purposeList"
                        [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                        [valueKey]="'Id'"
                        [labelKey]="'Label'"
                        [model]="selectedPurposeOption"
                        (onSelect)="selectPurposeOption($event)"
                        >
                    </ot-picklist>
                </div>
                <div class="margin-left-right-1" ></div>
                <div class="width-50-percent" otFormElement [label]="'CDO' | otTranslate">
                    <ot-picklist
                        ot-auto-id="IntgPreferenceModalCdo"
                        [autoClose]="autoCloseEnabled"
                        [placeholder]="'SelectCDO' | otTranslate"
                        [disabled]="onEditDisable"
                        [options]="cdoList"
                        [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                        [valueKey]="'Id'"
                        [labelKey]="'Label'"
                        [model]="selectedCdoOption"
                        (onSelect)="selectCdoOption($event)"
                        >
                    </ot-picklist>
                </div>
            </div>
            <div
                class="text-right background-topic position-relative z-index-1 margin-top-2 margin-bottom-1"
                ot-auto-id="IntgPreferencModalShowTopics"
                (click)="showAddTopics()"
                >
                <span class="cursor-pointer white-background padding-left-1"
                    [innerText]="'AddTopics' | otTranslate">
                </span>
                <i [ngClass]="[canShowTopicMapping ? 'ot ot-chevron-down' : 'ot ot-chevron-right']"></i>
            </div>
            <ot-loading
                class="padding-left-right-3 padding-top-bottom-1"
                *ngIf="editValuesLoader"
            ></ot-loading>
            <div *ngIf="canShowTopicMapping">
                <div class="margin-top-1 row-horizontal-center"
                    *ngFor="let topics of purposeTopics; let i=index;">
                    <div class="width-40-percent" otFormElement [label]="'Topic' | otTranslate">
                        <ot-picklist
                            ot-auto-id="IntgPreferenceModalSelectTopics"
                            [placeholder]="'SelectTopic' | otTranslate"
                            [autoClose]="autoCloseEnabled"
                            [options]="purposeOptionsSelected"
                            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                            [valueKey]="'Id'"
                            [labelKey]="'Name'"
                            [model]="topics.purposeTopicId"
                            (onSelect)="selectPurposetopics($event, i)"
                            >
                        </ot-picklist>
                    </div>
                    <div class="text-large margin-left-right-1 margin-top-2-half">
                        <i class="ot ot-arrow-right media-top"></i>
                    </div>
                    <div class="width-40-percent" otFormElement [label]="'Attribute' | otTranslate">
                        <ot-picklist
                            ot-auto-id="IntgPreferenceModalSelectAttributes"
                            [autoClose]="autoCloseEnabled"
                            [placeholder]="'SelectAttribute' | otTranslate"
                            [options]="cdoOptionsSelected"
                            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                            [valueKey]="'id'"
                            [labelKey]="'name'"
                            [model]="topics.cdoAttributesId"
                            (onSelect)="selectCdoAttributes($event, i)"
                            >
                        </ot-picklist>
                    </div>
                    <div class="width-10-percent margin-left-right-1 margin-top-2-half">
                        <span
                            class="conditions-item__add"
                            ot-auto-id="IntgPreferenceModalRemoveTopics"
                            (click)="popTopicsAttribute(i)"
                            >
                            <i class="ot ot-minus-circle color-cherry text-pointer no-outline text-large intg-action-add__header-action-icons margin-right-1"></i>
                        </span>
                        <span
                            class="conditions-item__add margin-left-1"
                            ot-auto-id="IntgPreferenceAddTopics"
                            (click)="pushTopicsAttribute()"
                            >
                            <i class="ot ot-plus-circle color-green text-pointer no-outline text-xlarge intg-action-add__header-action-icons"></i>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <footer class="margin-top-1 row-flex-end padding-all-2">
            <button
                class="margin-right-1"
                otButton
                neutral
                ot-auto-id="IntgPreferenceModalCancel"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
                >
            </button>
            <button
                otButton
                brand
                ot-auto-id="IntgPreferenceModalCreate"
                [disabled]="validateForm()"
                (click)="canEditSave()"
                >
                {{canSaveEditTitle}}
            </button>
        </footer>
    </one-modal-base>
</section>




