<span
    *ngIf="!first"
    class="text-bold margin-left-half margin-right-1"
    [innerText]="translations.OR"
></span>
<ot-lookup
    class="width-30-percent margin-right-1 incident-rule-condition-block"
    [allowHint]="false"
    [attr.ot-auto-id]="'IncidentRuleConditionField_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [autoClose]="true"
    [clearInputOnModelChange]="false"
    [disabled]="!editMode"
    [labelKey]="'fieldDisplay'"
    [model]="fieldModelFiltered?.field ? fieldModelFiltered : fieldModel?.field ? fieldModel : null"
    [multiSelect]="false"
    [ngClass]="{'incident-rule-condition--error': errors.field}"
    [options]="conditionMetaFiltered || conditionMeta"
    [placeholder]="translations?.Field"
    [valueKey]="'field'"
    (inputChange)="filterInput($event, 'field')"
    (modelChange)="fieldSelect($event.currentValue)"
></ot-lookup>
<ot-lookup
    class="width-30-percent margin-right-1 incident-rule-condition-block"
    [allowHint]="false"
    [attr.ot-auto-id]="'IncidentRuleConditionOperator_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [autoClose]="true"
    [clearInputOnModelChange]="false"
    [disabled]="!editMode || !fieldModelFiltered?.field"
    [labelKey]="'operatorDisplay'"
    [model]="operatorModel"
    [multiSelect]="false"
    [ngClass]="{'incident-rule-condition--error': errors.operator}"
    [options]="fieldModelFiltered?.operators || fieldModel?.operators"
    [placeholder]="translations?.Operator"
    [valueKey]="'operator'"
    (inputChange)="filterInput($event, 'operator')"
    (modelChange)="operatorSelect($event.currentValue)"
></ot-lookup>

<ng-container [ngSwitch]="fieldModel?.type">
    <org-select
        *ngSwitchCase="ruleConditionType.OrgSelect"
        class="width-30-percent margin-right-1 position-relative incident-rule-condition-block"
        [ngClass]="{'incident-rule-condition--error': errors.orgValue}"
        [attr.ot-auto-id]="'IncidentRuleOrgConditionValue_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
        [identifier]="'IncidentRuleOrgSelect'"
        [model]="valueModel && valueModel.value ? valueModel.value : valueModel"
        [disabled]="!editMode || !fieldModelFiltered?.field"
        [placeholder]="translations.Value"
        (onSelect)="valueSelect($event, fieldModel?.type)"
        >
    </org-select>

    <ot-lookup
        *ngSwitchDefault
        class="width-30-percent margin-right-1 incident-rule-condition-block"
        [allowHint]="false"
        [attr.ot-auto-id]="'IncidentRuleConditionValue_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
        [autoClose]="true"
        [clearInputOnModelChange]="false"
        [disabled]="!editMode || !fieldModelFiltered?.field"
        [labelKey]="fieldModelFiltered?.labelKey || fieldModel?.labelKey"
        [model]="valueModel"
        [multiSelect]="false"
        [ngClass]="{'incident-rule-condition--error': errors.value}"
        [options]="fieldModelFiltered?.options || fieldModel?.options"
        [placeholder]="translations.Value"
        [valueKey]="fieldModelFiltered?.valueKey || fieldModel?.valueKey"
        (inputChange)="filterInput($event, 'options')"
        (modelChange)="valueSelect($event.currentValue)"
    ></ot-lookup>
</ng-container>

<button otButton
    [attr.ot-auto-id]="'IncidentRuleConditionRemove_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [ngClass]="{'invisible': !editMode}"
    [icon]="'fa fa-minus-circle text-error'"
    (click)="removeCondition()"
></button>
<button otButton
    [attr.ot-auto-id]="'IncidentRuleConditionAdd_' + ruleIndex + '_' + subRuleIndex + '_' + conditionIndex"
    [ngClass]="{'invisible': !last || !editMode}"
    [icon]="'fa fa-plus-circle text-success'"
    (click)="addCondition()"
></button>
