.incident-rule-condition {
    &--error .ot-lookup__input,
    &--error .slds-combobox__input {
        border: 1px solid $cherry !important;
    }
}

.incident-rule-condition-block {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .slds-input {
            font-size: 1.2rem;
            padding: 0 0.4rem;
        }
    }
}