<ot-loading otPageLoading
    *ngIf="loadingIncidentDetails$ | async"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>

<section *ngIf="!(loadingIncidentDetails$ | async)" class="flex-full-height height-100 incident-detail-header">
    <ot-page-header
        [title]="'IncidentDetails' | otTranslate"
        (routeClicked)="goToRoute($event)"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="IncidentBreadcrumbItem"
                [label]="'IncidentRegister' | otTranslate"
                [link]="'zen.app.pia.module.incident.views.incident-register'"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item [label]="model.name"></ot-breadcrumb-item>
        </ot-breadcrumb>
        <span [otBadge]="model.incidentStageNameKey | badgeColor: incidentBadgeColorMap " [innerText]="model.incidentStageNameKey | otTranslate"></span>
        <div>
            <button otButton brand
                ot-auto-id="EditIncidentDetail"
                *ngIf="showEditIncident"
                [innerText]="'Edit' | otTranslate"
                (click)="onEditIncident()"
                >
            </button>
        </div>
    </ot-page-header>

    <div class="background-white flex-full-height height-100">
        <incident-path [incidentId]="incidentId"></incident-path>

        <hr class="margin-top-bottom-0">

        <div class="row-nowrap full-size stretch-vertical height-100">
            <div class="border-right flex-full-height height-100 width-65-percent">
                <ot-tabs
                    class="paragraph-medium shadow-header"
                    [tabs]="tabOptions"
                    [selectedTab]="currentTab"
                    >
                    <span otTabsOverflowText>
                        {{ overflowText | otTranslate }}&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </span>
                    <a
                        *otTabItem="let tab"
                        [attr.ot-auto-id]="tab.otAutoId"
                        (click)="changeTab(tab.id)"
                        >
                        {{ tab.text }}
                    </a>
                </ot-tabs>

                <div class="flex-full-height height-100 overflow-y-auto" [ngSwitch]="currentTab">
                    <incident-assessment
                        *ngSwitchCase="incidentTabOptions.Assessments"
                        [model]="model"
                        >
                    </incident-assessment>
                    <incident-activity
                        *ngSwitchCase="incidentTabOptions.Activity"
                        >
                    </incident-activity>
                    <incident-subtasks
                        *ngSwitchCase="incidentTabOptions.SubTasks"
                        [model]="model"
                        >
                    </incident-subtasks>
                    <incident-attachments
                        *ngSwitchCase="incidentTabOptions.Attachments"
                        >
                    </incident-attachments>
                    <incident-details
                        *ngSwitchCase="incidentTabOptions.Details"
                        [model]="model"
                        >
                    </incident-details>
                    <incident-jurisdiction
                        *ngSwitchCase="incidentTabOptions.Jurisdiction"
                        >
                    </incident-jurisdiction>
                </div>
            </div>
            <div class="flex-full-width background-grey overflow-x-hidden row-horizontal-center overflow-y-auto height-100">
                <incident-cards
                    [model]="model"
                    [activeTab]="currentTab"
                    (changeCurrentTab)="changeTab($event)"
                    >
                </incident-cards>
            </div>
        </div>
    </div>
</section>
