.incident-detail-header {
    .slds-breadcrumb {
        &__item {
            &-link {
                max-width: 15rem;
            }
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .ot-context-menu .ot-button__icon.slds-button {
            max-width: 10rem;
        }
    }
}
