.dsar-request-queue-wrapper {

    .view-selector__header {
        border-right: 1px solid $grey-8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 25rem;
        cursor: pointer;
    }

    .slds-page-header {
        padding-left: 2.5rem;
    }

    .view-selector__header-text {
        margin-left: 0.2rem;
        padding: 1.5rem;
        font-weight: bold;
    }

    .view-selector__header-icon {
        margin-top: 0.5rem;
    }

    .ot-view-selector__list-container {
        margin-left: 1rem;
    }
}
