<section class="dsar-request-queue-wrapper background-white full-size column-nowrap">
    <ot-page-header
        [title]="'Requests' | otTranslate"
        >
        <button otButton neutral
            *ngIf="('DSARRequestQueueExport' | otPermit) && currentView?.viewType === requestQueueViewTypes.RequestQueueGrid && !error"
            ot-auto-id="DSARRequestQueueHeaderProjectExportCsv"
            [disabled]="requestQueueService.exportInProgress"
            [loading]="requestQueueService.exportInProgress"
            (click)="handleAction(requestQueueActions.EXPORT, null)"
            >
            <span class="ot ot-download margin-right-1"></span>{{'Export' | otTranslate}}
        </button>
    </ot-page-header>
    <div
        *ngIf="!error"
        class="background-grey border-bottom padding-right-2 static-vertical align-center"
        [ngClass]="viewSelectorEnabled ? 'row-wrap-space-between' : 'row-flex-end'"
        >
        <div *ngIf="viewSelectorEnabled" class="row-flex-start margin-left-1 align-center">
            <div class="view-selector__header" (click)="showListDropdown = !showListDropdown">
                <div class="view-selector__header-text padding-top-bottom-1-half" [innerText]="currentView?.nameKey | otTranslate">
                </div>
                <div class="view-selector__header-icon">
                    <span class="slds-icon_container slds-icon slds-icon--small slds-input__icon slds-input__icon_right">
                        <svg *ngIf="showListDropdown" class="slds-icon--xxx-small ot-tree-select-icon" aria-hidden="false">
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevrondown"
                            />
                        </svg>
                        <svg *ngIf="!showListDropdown" class="slds-icon--xxx-small ot-tree-select-icon" aria-hidden="false">
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevronright"
                            />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="margin-left-1">
                <b [innerText]="noOfItems"></b>
                <div [innerText]="filtersApplied"></div>
            </div>
        </div>
        <div class="row-flex-end padding-top-bottom-half">
            <ot-search-input
                *ngIf="currentView?.viewType === requestQueueViewTypes.RequestQueueGrid"
                class="margin-right-2"
                ot-auto-id="DSARRequestQueueSearchInput"
                [model]="searchString"
                [placeholder]="'Search' | otTranslate"
                [searchOnEnter]="true"
                (search)="handleAction(requestQueueActions.SEARCH, $event)"
            ></ot-search-input>
            <button otButton
                *ngIf="currentView?.viewType === requestQueueViewTypes.RequestQueueGrid"
                class="margin-right-1 dsar-request-queue--icon-buttons"
                ot-auto-id="DSARRequestQueueColumnSelector"
                icon="ot ot-columns"
                (click)="handleAction(requestQueueActions.OPEN_COLUMN_SELECTOR, null)"
            ></button>
            <button otButton
                class="dsar-request-queue--icon-buttons"
                ot-auto-id="DSARRequestQueueDrawerToggle"
                icon="ot ot-filter"
                [select]="showingFilteredResults"
                (click)="handleAction(requestQueueActions.TOGGLE_DRAWER, null)"
            ></button>
        </div>
    </div>
    <ot-view-selector
        *ngIf="showListDropdown"
        otClickHandler="outside"
        labelKey="name"
        valueKey="id"
        [hideControls]="true"
        [model]="currentView"
        [updateViewDisabled]="updateViewDisabled"
        [views]="views"
        [translations]="savedViewsTranslations"
        (handleClick)="handleViewSelectorOutsideClick()"
        (onModelChange)="onViewChange($event)"
    ></ot-view-selector>
    <ng-container *ngIf="ready && !error; else loading">
        <dsar-request-queue
            *ngIf="currentView?.viewType === requestQueueViewTypes.RequestQueueGrid; else subtasks"
            [reloadGrid]="reloadGrid"
            (filtersAdded)="filtersAdded($event)"
            (searchRequests)="searchString = $event"
        ></dsar-request-queue>
        <ng-template #subtasks>
            <dsar-request-queue-sub-tasks
                [reloadGrid]="reloadGrid"
                (filtersAdded)="filtersAdded($event)"
                (searchRequests)="searchString = $event"
            ></dsar-request-queue-sub-tasks>
        </ng-template>
    </ng-container>
    <ng-template #loading>
        <ot-loading
            *ngIf="!error; else errorTemplate"
            otPageLoading
            class="align-self-center absolute-center"
        ></ot-loading>
        <ng-template #errorTemplate>
            <ot-empty-state
                class="flex-full-height column-vertical-center"
                [emptyStateMessage]="'DSARViewError' | otTranslate"
                >
                <img emptyStateImg />
            </ot-empty-state>
        </ng-template>
    </ng-template>
</section>
