.portal-modal__container {
    &__form-group {
        flex-flow: column nowrap;
        .portal-modal__label {
            flex: 0 0 auto;
        }
    }
    .row {
        justify-content: space-between;
        flex-flow: row nowrap;
        .login__input-container {
            width: 46%;
        }
    }
    &__input,
    &__textarea {
        width: 100%;
        border: 1px solid #CBCBCB;
        border-radius: 2px;
        min-height: 38px;
    }
    &__input {
        padding: 9px;
    }
    &__textarea {
        padding: 10px;
        max-width: 100%;
    }
    .dropdown-toggle {
        padding: 9px;
    }
    &__reminder-input {
        padding: 8px;
    }
}

.portal-modal {
    height: 100%;
    text-align: left;
    .content {
        &-info {
            margin-bottom: 3rem;
        }
    }
    &__container {
        height: 100%;
        padding-bottom: 20px;
        overflow-y: auto;
        color: $slate;
    }
    &__form {
        margin: auto;
        padding: 0 2rem;
        max-width: 70rem;
        width: 100%;
        &-group {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 2rem;
            @media(min-width: $small) {
                flex-flow: row nowrap;
            }
            &:last-child {
              margin-bottom: 0;
            }
        }
    }
    &__headline {
        font-size: 2.4rem;
        margin: 2rem auto 3rem;
        text-align: center;
    }
    &__read-only-text {
        margin: 0;
    }
    &__text {
        margin: 0;
        i {
            margin-left: .6rem;
        }
    }
    &__label {
        flex: 1 1 100%;
        margin: 0 0 1rem;
        @media(min-width: $small) {
            margin: .8rem 0 0;
            flex: 0 0 10rem;
            &.reminder {
              flex: 0 0 8rem;
            }
        }
        &--reviewer {
            margin: 0;
        }
        &--text {
            margin: 0;
        }
        sup {
            position: relative;
            font-size: 7px;
            top: -10px;
            color: $light-red;
        }
        i {
            margin-left: .6rem;
        }
    }
    &__input-group {
        flex: 1 1 auto;
        &--deadline {
            @media (max-width: $small) {
                margin: 0 2rem 2rem 0;
            }
            margin-right: 2rem;
            flex: none;
            min-width: 18rem;
        }
        &--reminder {
            margin: 0;
            flex: none;
        }
    }
    &__assignment {
        flex-flow: column;
        &-toggle {
            display: block;
            margin-bottom: 0.5rem;
            &-btn {
                margin-right: 0.25rem;
            }
        }
        &-input {
            min-height: 4rem;
        }
    }

    &__footer {
        margin-bottom: 4rem;
        text-align: center;
        &-btn {
            @include button;
            vertical-align: middle;
            margin-right: .6rem;
            &--save,
            &--assign {
                @include button(primary);
                margin-right: 0;
            }
            &--long,
            &--short {
                display: block;
            }
            &--long {
                min-width: 9rem;
            }
            &--short {
                min-width: 3rem;
            }
        }
    }
    &__loading {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .has-error {
        input {
            border-color: $light-red;
        }
    }

    .md-thumb {
        background-color: $grey-1;
    }
    .md-ink-ripple {
        color: $grey-1;
    }
    .md-bar {
        background-color: #ccc;
        height: 16px;
    }
    .md-button.md-icon-button {
        margin: 0 1rem 0 0;
        height: auto;
        padding: 0;
        width: auto;
    }
    .deadlinePicker {
        .deadlineTooltip {
            align-self: center;
        }
    }
    .collection-picker {
        &.dropdown.open {
            height: auto;
        }
        &-display {
            height: 3.8rem;
            &-text {
                font-size: 1.4rem;
            }
        }
    }
}

.submit-buttons {
    display: inline-flex;
    justify-content: center;

    .approve {
        &[disabled] {
            opacity: 0.4;
            pointer-events: none;
            color: $slate;
        }
    }
}
