//////////////////////////////////////////////////////////////////////////////////////////////
// Self Service Portal
//////////////////////////////////////////////////////////////////////////////////////////////
$number-grey: #D3D3D3;
.list {
    &__header {
        flex: 0 0 10rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        color: $grey-3;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px 0;
        transition: all .5s ease;
        &.collapsed {
            height: 0;
            flex: 0 0 0px;
            transition: all .5s ease;
            .list__header-message {
                opacity: 0;
                transition: opacity .3s ease;
                transition-delay: none;
            }
        }
        &-message {
            opacity: 1;
            transition: opacity .3s ease;
            transition-delay: .3s;
            text-align: center;
            &-title {
                margin: 0 0 1rem;
            }
            &-icon {
                font-size: 1.8rem;
            }
        }
        &-info {
            max-width: 80rem;
            width: 100%;
            margin: 0 auto;
            padding: 1rem;
        }
    }
    &__gallery {
        margin: 0;
        flex: 1 1 100%;
        min-width: 30rem;
        transition: all .5s ease;
        overflow-y: visible;
        position: relative;
        outline: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 0 1.6rem;
        height: 100%;
        &.collapsed {
            padding: 0;
            flex: 0 0 30rem;
            transition: all .5s ease;
            .template__item {
                flex: 1 1 auto;
                max-width: 22rem;
                transition: margin .5s ease;
            }
        }
        &-list {
            flex: 1 1 auto;
            display: flex;
            align-content: flex-start;
            justify-content: space-between;
            flex-flow: row wrap;
            padding: 0 2rem 0 1rem;
            position: relative;
            overflow-y: scroll;
            height: calc(100% - 12vh);
        }
        &-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 3rem;
            background-color: $white;
            border: 1px solid $grey-3;
            border-right: 0;
            color: $grey-3;
            text-align: center;
            padding: 2rem 0 2rem .4rem;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            &:hover {
                background-color: $paper-gray;
            }
        }
        &-placeholder {
            flex: 1 1 auto;
            min-height: 1px;
            color: $grey-3;
            text-align: center;
            margin: 0;
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            justify-content: center;
            &-text {
                margin: 1.4rem 0;
            }
            &-description {
                max-width: 60rem;
                margin: 4rem auto 0;
                text-align: left;
                color: $slate;
                label {
                    text-align: center;
                    display: block;
                }
            }
            &-btn {
                @include button(primary);
            }
            .upgrade__icon {
                margin: 0 auto;
                font-size: 3rem;
            }
        }
        .panel-body {
            padding: 0;
            height: calc(100% - 50px);
        }
        // Template Cards
        .template {
            &__item {
                height: auto;
                width: 100%;
                margin: 1rem 0;
                outline: none;
                &.selected {
                    opacity: 1;
                    border: 1px solid $grey-3;
                }
                &.unselected {
                    opacity: .6;
                    &:hover {
                        opacity: 1;
                    }
                }
                .upgrade__icon {
                    position: absolute;
                    right: 1.4rem;
                    top: 1rem;
                    font-size: 1.6rem;
                }
            }
            &__link {
                padding: 1.4rem;
            }
            &__info {
                opacity: 1;
                margin: 0;
            }
            &__description {
                height: 0;
                background-color: $slate;
                color: $white;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                p {
                    padding: 1.4rem;
                }
            }
        }
    }
    &__container {
        height: 100%;
        margin: 0;
        flex: 1 1 100%;
        background-color: $white;
        display: flex;
        flex-flow: column nowrap;
        &.collapsed {
            display: none;
            flex: 0 0 auto;
        }
    }
    &__loading {
        flex: 1 1 auto;
        min-height: 1px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}
.list-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background-color: $paper-gray;
    .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        min-height: .1rem;
        .list__container {
            .list-template {
                min-height: 1px;
                height: calc(100% - 100px);
                overflow-x: auto;
                padding: 2rem 3rem;
                .Welcome-text {
                    width: 100%;
                    max-width: 900px;
                    margin: 0 auto;
                    padding: 5rem 5%;
                    color: $slate;
                }
                // Question styling begins here
                .questions-container {
                    height: 100%;
                    &--centered {
                        justify-content: center;
                    }
                }
                .list-text {
                    .list-message {
                        text-align: center;
                        margin: 0 auto;
                        width: 50%;
                        font-size: 3rem;
                        color: #ccc;
                        height: 100%;
                        position: relative;
                        right: 0;
                        top: 100px;
                    }
                }
            }
        }
    }
}

.template {
    color: #777;
    &-manage {
        &__header {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            background-color: $table-cell-dark;
            @media(max-width: $small) {
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
        &__status {
            color: $grey-3;
            border: 1px solid;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            font-size: 1.2rem;
            margin-right: 1rem;
            &.published {
                color: $green;
            }
        }
        &__description-section {
            textarea {
                height: 20rem;
            }
        }
        &__detail {
            padding: 1rem 4rem;
        }
    }
}

#self-service {
    height: 100%;
    .list__gallery {
        border-right: 1px solid $grey-3;
        flex: 0 0 49rem;
        min-width: 25rem;
        max-width: 49rem;
        display: flex;
        flex-flow: column wrap;
        .quick-list-header {
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                margin: 1rem;
                padding: 0;
                color: $slate;
            }
        }
        &-list {
            .template__item {
                min-height: 20rem;
                max-height: 20rem;
                .template__truncated-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $slate;
                    white-space: nowrap;
                }
                .template__info {
                    cursor: default;
                    justify-content: space-between;
                    .template__name {
                        font-size: 2.5rem;
                        overflow: hidden;
                        max-height: 8rem;
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
    .list__container {
        padding: 0 2rem;
        background-color: transparent;
        .project-list-header {
            h3 {
                margin: 1rem;
                color: $slate;
            }
        }
        .portal__pagination {
            color: $slate;
        }
    }
    .portal {
        padding: 1rem;
        // Table styles
        &__table {
            border: 1px solid $table-cell-border;
            color: $slate;
            table-layout: auto;
            border-collapse: collapse;
            margin: 0;
            box-shadow: none;
            text-align: center;
            width: 100%;
            &-wrapper {
                padding: 0;
                margin: 2rem 1rem 1rem;
                box-shadow: none;
                overflow-x: auto;
                position: relative;
                opacity: 0;
                &.is-showing {
                    opacity: 1;
                    transition: opacity .5s ease;
                }
            }
            &-header {
                border-bottom: 2px solid $table-cell-border;
                font-weight: bold;
                .fa {
                    font-size: 16px;
                    margin-left: .6rem;
                }
                &-row {
                    background-color: $white;
                }
                &-cell {
                    background-color: $white;
                    padding: 1rem;
                    text-align: center;
                    &:last-child {
                        border-right: 0;
                    }
                    &-link {
                        color: $slate;
                        white-space: nowrap;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }
            &-row {
                background-color: $table-cell-light;
                border-bottom: 1px solid $table-cell-border;
                &:hover {
                    background-color: $table-cell-dark;
                    padding: 2rem inherit;
                }
            }
            &-cell {
                outline: none;
                vertical-align: middle;
                padding: 0.7rem;
                border: 0;
                border-right: 1px solid $table-cell-border;
                .risk {
                    font-size: 30px;
                }
                .low {
                    color: $cyan;
                }
                .medium {
                    color: $light-orange;
                }
                .high {
                    color: $light-red;
                }
                .very-high {
                    color: $dark-red;
                }
            }
        }
        .portal__message {
            display: flex;
            justify-content: center;
            margin-top: 10rem;
            color: $slate;
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        align-items: center;
        &__link {
            height: 35px;
            flex: 0 0 auto;
            border-radius: 2px;
            margin-right: 1rem;
            width: 1rem;
            @media (min-width: $small) {
                flex: 0 0 16rem;
                width: auto;
                .fa-external-link {
                    margin-right: .6rem;
                }
            }
            p {
                margin: 0;
                display: none;
                @media (min-width: $small) {
                    display: inline-block;
                }
            }
        }
        .breadcrumb {
            font-size: 1.8rem;
            padding: 12.5px;
            margin: 0;
        }
    }
    .loading {
        &--full-page {
            display: initial;
        }
    }
}
