.assessment-question__side-buttons {
    border: 1px solid $grey-3;
    border-radius: 2px;
    margin-left: 4rem;
    max-width: 20rem;
    @media(min-width: $small) {
        margin-left: 0;
    }
    i {
        margin-right: 0.6rem;
    }
    button {
        border: none;
        border-bottom: 1px solid $grey-3;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        text-align: left;
        height: 3.6rem;
        padding: 0 1.6rem;
        color: $slate;
        background-color: $white;
        width: 100%;
        display: block;
        position: relative;
        white-space: nowrap;
        &:focus:not(.btn-success):not(.btn-warning):not(.btn-info):not([disabled]),
        &:hover:not(.btn-success):not(.btn-warning):not(.btn-info):not([disabled]) {
            background-color: inherit;
            color: darken($slate, 10%);
        }
        &:last-child {
            border-bottom: 0;
        }
        &.focus {
            outline: none;
        }
        &[disabled] {
            background-color: $grey-1;
            color: $slate;
        }
        &.btn-primary {
            color: $white;
            background-color: $ui-blue;

            &[disabled] {
                opacity: .6;
                border-bottom: 0;
            }
        }
        &.btn-success {
            color: $white;
            background-color: $green;

            &[disabled] {
                opacity: .6;
                border-bottom: 0;
            }
        }
        &.btn-warning {
            color: $white;
            background-color: $light-orange;

            &[disabled] {
                opacity: .6;
                border-bottom: 0;
            }
        }
        &.btn-info {
            color: $white;
            background-color: $cyan;

            &[disabled] {
                opacity: .6;
                border-bottom: 0;
            }
        }
    }

    &-tooltip {
        pointer-events: all;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .split-buttons {
        #split-button {
            width: 130px;
        }
        #dropdown-button {
            width: 20px;
        }
    }
    .low-risk-icon {
        color: $cyan;
    }

    .medium-risk-icon {
        color: $light-orange;
    }

    .high-risk-icon {
        color: $light-red;
    }

    .very-high-risk-icon {
        color: $dark-red;
    }
}