<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<div
    *ngIf="!isLoading"
    class="height-100"
    >
    <div
        *ngIf="subject"
        class="height-100 full-width column-horizontal-center overflow-y-auto cr-dashboard padding-bottom-4"
        >
        <ot-page-header
            class="full-width cr-header"
            [title]="'DataSubjectDetails' | otTranslate"
            >
            <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
                <ot-breadcrumb-item
                    link="zen.app.pia.module.consentreceipt.views.datasubjects.list"
                    [label]="'DataSubjects' | otTranslate"
                ></ot-breadcrumb-item>
                <ot-breadcrumb-item
                    [label]="subject.Identifier"
                ></ot-breadcrumb-item>
            </ot-breadcrumb>
            <div *ngIf="subject.Language">
                <h4 class="text-small text-uppercase margin-bottom-0">
                    {{ "Language" | otTranslate }}
                </h4>
                <h4 class="color-green margin-top-half">
                    {{ subject.Language }}
                </h4>
            </div>
        </ot-page-header>
        <section class="full-width">
            <div class="full-width padding-top-2 padding-left-right-2 row-wrap dashboard-container">
                <div class="dashboard-item stretch-horizontal">
                    <h2 class="dashboard-item__heading">
                        {{ "Purposes" | otTranslate }}
                    </h2>
                    <one-horseshoe-graph
                        [title]="subject.Purposes.length"
                        [subTitle]="'Purposes' | otTranslate"
                        [graphData]="purposeCounters"
                        >
                    </one-horseshoe-graph>
                </div>
                <div class="dashboard-item stretch-horizontal text-center">
                    <h2 class="dashboard-item__heading">
                        {{ "Transactions" | otTranslate }}
                    </h2>
                    <div class="dashboard-item__count text-center margin-top-2 column-vertical-center inverse-green">
                        <h3 class="dashboard-item__count-heading">{{ subject.TransactionSummary.TotalTransactionCount }}</h3>
                        <h4 class="dashboard-item__count-sub-heading">{{ "Transactions" | otTranslate }}</h4>
                    </div>
                    <button otButton
                        brand
                        class="margin-bottom-1"
                        ot-auto-id="DataSubjectDetailsTransactionsButton"
                        [innerText]="'Details' | otTranslate"
                        (click)="goToTransactions()"
                        >
                    </button>
                </div>
                <div class="dashboard-item stretch-horizontal column-horizontal-center">
                    <h2 class="dashboard-item__heading">
                        {{ "TransactionHistory" | otTranslate }}
                    </h2>
                    <div class="padding-all-2">
                        <h5 class="text-uppercase margin-top-2 margin-bottom-0 text-small">
                            {{ "FirstTransactionDate" | otTranslate }}
                        </h5>
                        <h3 class="color-green margin-top-half">
                            <span>{{ subject.TransactionSummary.FirstTransactionDate ? (subject.TransactionSummary.FirstTransactionDate | otDate:'datetime') : "- - - -" }}</span>
                        </h3>
                        <h5 class="text-uppercase margin-top-3 margin-bottom-0 text-small">
                            {{ "LastTransactionDate" | otTranslate }}
                        </h5>
                        <h3 class="color-green margin-top-half">
                            <span>{{ subject.TransactionSummary.LastTransactionDate ? (subject.TransactionSummary.LastTransactionDate | otDate:'datetime') : "- - - -" }}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <cr-data-subject-elements
            *ngIf="'ConsentReceiptDataElements' | otPermit"
            class="full-width"
            [elements]="subject.Elements"
            >
        </cr-data-subject-elements>
        <section
            *ngFor="let purpose of subject.Purposes; trackBy: trackByFn"
            class="full-width"
            >
            <div class="full-width padding-top-1 padding-left-right-2 row-flex-start dashboard-container">
                <div class="dashboard-item stretch-horizontal">
                    <h3 class="color-green margin-top-0">
                        {{ purpose.PurposeName }}
                        <span
                            class="margin-left-1"
                            [otBadge]="purpose.ConsentStatus | consentStatusColor"
                        >
                        {{ purpose.ConsentStatus | consentTranslateStatus: crConstants.CRReceiptStatus }}
                        </span>
                        <span [otBadge]>{{ purpose.PurposeVersion | consentVersionLabel }}</span>
                        <span
                            *ngIf="purpose.NewVersionAvailable"
                            [otBadge]="'warning'"
                            >
                            {{ "NewVersionAvailable" | otTranslate }}
                        </span>
                    </h3>
                    <p>
                        <span class="text-bold">{{ "ConsentDate" | otTranslate }}: </span>
                        <span>{{ purpose.ConsentDate ? (purpose.ConsentDate | otDate:'datetime') : "- - - -" }}</span>
                    </p>
                    <p>
                        <span class="text-bold">{{ "FirstTransactionDate" | otTranslate }}: </span>
                        <span>{{ purpose.TransactionSummary.FirstTransactionDate ? (purpose.TransactionSummary.FirstTransactionDate | otDate:'datetime') : "- - - -" }}</span>
                    </p>
                    <p>
                        <span class="text-bold">{{ "LastTransaction" | otTranslate }}: </span>
                        <span>{{ purpose.TransactionSummary.LastTransactionDate ? (purpose.TransactionSummary.LastTransactionDate | otDate:'datetime') : "- - - -" }}</span>
                    </p>
                    <div *ngIf="purpose.DoubleOptIn">
                        <p>
                            <span class="text-bold">{{ "DoubleOptInActivationDate" | otTranslate }}: </span>
                            <span>{{ purpose.ActivationDate ? (purpose.ActivationDate | otDate:'datetime') : "- - - -" }}</span>
                        </p>
                    </div>
                    <div *ngIf="purpose.ConsentStatus === crConstants.CRTransactionStatus.Withdrawn">
                        <p>
                            <span class="text-bold">{{ "WithdrawalDate" | otTranslate }}: </span>
                            <span>{{ purpose.WithdrawalDate ? (purpose.WithdrawalDate | otDate:'datetime') : "- - - -" }}</span>
                        </p>
                    </div>
                    <p>
                        <span class="text-bold">{{ "Transactions" | otTranslate }}: </span>
                        <span
                            class="text-link"
                            ot-auto-id="DataSubjectDetailsPurposeTransactionsLink"
                            [innerText]="purpose.TransactionSummary.TotalTransactionCount"
                            (click)="goToPurposeTransactions(purpose.PurposeId)"
                            >
                        </span>
                    </p>
                    <div class="pull-right margin-right-1 cr-reports-details--actions">
                        <button otButton
                            brand
                            *ngIf="'ConsentReceiptWithdrawPurpose' | otPermit"
                            ot-auto-id="DataSubjectWithdrawPurposeButton"
                            [innerText]="'Withdraw' | otTranslate"
                            [disabled]="!canWithdrawConsent(purpose)"
                            (click)="withdrawConsent(purpose)"
                            >
                        </button>
                    </div>

                    <ng-container *ngIf="('ConsentReceiptPreferences' | otPermit)">
                        <cr-data-subject-preferences
                            *ngIf="purpose.Topics?.length > 0"
                            [topics]="purpose.Topics"
                            [preferences]="purpose.Preferences"
                        >
                        </cr-data-subject-preferences>

                        <div class="margin-top-2">
                            <cr-consented-custom-preferences-options
                                *ngIf="purpose.CustomPreferences?.length > 0"
                                [customPreferencesOptionsConsented]="purpose.CustomPreferencesOptionsConsented"
                                [customPreferences]="purpose.CustomPreferences"
                            >
                            </cr-consented-custom-preferences-options>
                        </div>
                    </ng-container>
                </div>
            </div>
        </section>
    </div>
    <div
        *ngIf="!subject"
        class="full-size"
        >
        <ot-empty-state [emptyStateMessage]="'NoResultsFound' | otTranslate">
            <img emptyStateImage/>
        </ot-empty-state>
    </div>
</div>
