<div class="one-horseshoe-graph position-relative margin-top-bottom-2 margin-left-right-auto">
    <div class="horseshoe">
        <h3 class="horseshoe__title {{titleClass}}">
            {{title}}
            <span class="horseshoe__title-sub {{subTitleClass}}" *ngIf="subTitle">
                {{subTitle}}
            </span>
            <span class="horseshoe__count {{countClass}}" *ngIf="countText">
                {{countText}}
            </span>
        </h3>
        <svg class="horseshoe__graph horseshoe__graph-item"
            [attr.height]="size"
            [attr.width]="size">
            <circle *ngFor="let item of graphData.series"
                [attr.r]="graphRadius"
                [attr.cx]="size / 2"
                [attr.cy]="size / 2"
                [attr.class]="item.graphClass"
                [ngStyle]="{
                    'stroke-width': stroke,
                    'stroke-dasharray': item.dashArray,
                    'stroke-dashoffset': item.dashOffset
                }"
            >
                <title *ngIf="item.label">{{item.label}}</title>
            </circle>
        </svg>
    </div>
    <button
        otButton
        brand
        *ngIf="onDetailsClick.observers.length && showDetailsButton"
        ot-auto-id="DashboardDetailsButton"
        class="one-horseshoe-graph__button"
        [innerText]="detailsText || ('Details' | otTranslate)"
        (click)="detailsClicked()"
    ></button>
</div>
<ul *ngIf="graphData?.legend && graphData.legend.length" class="one-horseshoe-graph__legend {{legendClass}}">
    <li *ngFor="let item of graphData.legend">
        <span
            class="one-horseshoe-graph__legend-bullet"
            [ngClass]="item.class"
        ></span>
        {{item.label}}
    </li>
</ul>
