.one-horseshoe-graph {
    width: 200px;

    &__button {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    &__legend {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid #f0f0f0;

        &-bullet {
            font-family: 'FontAwesome';
            content: '\f111';
            margin-right: 0.5rem;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
        }

        li {
            font-size: 1.2rem;
            float: left;
            margin-right: 1rem;
            margin-top: 0.2rem;
        }
    }

    .horseshoe__title-sub {
        margin-top: 1rem;
        padding: 0 2rem;
        line-height: 100%;
    }

    .series1 { stroke: $green; }
    .series2 { stroke: $ui-blue; }
    .series3 { stroke: $light-red; }
    .series4 { stroke: $orange; }
    .series5 { stroke: $yellow; }
    .other { stroke: $eggshell; }
}
