<table
    class="inventory-table-new full-width"
    otDataTable
    [rowData]="rows"
    [rowBordered]="bordered"
    [rowNgClass]="{'slds-is-selected': checkIfRowIsSelected, 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled}"
    (rowClicked)="handleRowClick($event)"
>

    <ot-data-table-column>
        <ng-template otDataTableHeader>
            <div class="slds-text-align_right">
                <div class="slds-th__action slds-th__action_form">
                    <span class="slds-checkbox">
                        <input
                            type="checkbox"
                            name="default"
                            id="checkbox-header"
                            value="on"
                            tabindex="-1"
                            [ngModel]="allRowsSelected"
                            (click)="toggleAllRowsSelected()"
                        />
                        <label class="slds-checkbox__label" for="checkbox-header">
                            <span class="slds-checkbox_faux text-pointer"></span>
                        </label>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template otDataTableCell let-row="row">
            <div class="slds-text-align_right">
                <span class="slds-checkbox {{clickPreventClass}}">
                    <input
                        type="checkbox"
                        name="default"
                        value="on"
                        tabindex="-1"
                        [attr.id]="'checkbox-row-' + row.id"
                        [ngModel]="row.isSelected"
                        [disabled]="!row.canEdit || row.assessmentOutstanding"
                        (click)="toggleRowSelection(row)"
                    />
                    <label class="slds-checkbox__label" [attr.for]="'checkbox-row-' + row.id">
                        <span class="slds-checkbox_faux" [ngClass]="{ 'text-pointer': row.canEdit && !row.assessmentOutstanding }"></span>
                    </label>
                </span>
            </div>
        </ng-template>
    </ot-data-table-column>

    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">

        <ot-data-table-column
            [headerLabel]="col.nameKey ? (col.nameKey | otTranslate) : col.name"
            [sortable]="sortable"
            [sortKey]="col.sortKey"
            [column]="col"
            >
            <ng-template otDataTableHeader>
                <div
                    class="slds-th__action max-25 {{columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'}}"
                    title="{{col.nameKey ? (col.nameKey | otTranslate) : col.name}}"
                    >
                    <span class="slds-truncate text-bold"> {{col.nameKey ? (col.nameKey | otTranslate) : col.name}} </span>
                </div>
            </ng-template>
            <ng-template otDataTableCell let-row="row" [tdClass]="'max-25'">
                <ng-container [ngSwitch]="col.fieldAttributeCode">
                    <ng-container *ngSwitchCase="DetailsLinkAttributes[inventoryId]">
                        <a
                            class="slds-truncate block text-pointer text-link text-bold {{columnIndex !== 0 ? 'text-center' : 'text-left'}}"
                            *ngIf="row.canEdit && permissions.canViewDetails"
                            (click)="goToNewRoute({route: row.cells[columnIndex].route, params: row.cells[columnIndex].routeParams}, $event)"
                            title="{{row.cells[columnIndex].displayValue}}"
                            >
                            {{row.cells[columnIndex].displayValue || "----"}}
                        </a>
                        <div
                            *ngIf="!row.canEdit || !permissions.canViewDetails"
                            class="slds-truncate {{columnIndex !== 0 ? 'text-center' : 'text-left'}}"
                            title="{{row.cells[columnIndex].displayValue}}"
                            >
                            {{row.cells[columnIndex].displayValue || "----"}}
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="StatusLinkAttributes[inventoryId]">
                        <a
                            *ngIf="row.cells[columnIndex].route && row.canEdit"
                            class="slds-truncate block text-pointer text-link text-bold {{columnIndex !== 0 ? 'text-center' : 'text-left'}}"
                            (click)="goToNewRoute({route: row.cells[columnIndex].route, params: row.cells[columnIndex].routeParams}, $event)"
                            title="{{row.cells[columnIndex].displayValue}}"
                            >
                            {{row.cells[columnIndex].displayValue || "----"}}
                        </a>
                        <div
                            *ngIf="!row.cells[columnIndex].route || !row.canEdit"
                            class="slds-truncate {{columnIndex !== 0 ? 'text-center' : 'text-left'}}"
                            title="{{row.cells[columnIndex].displayValue}}"
                            >
                            {{row.cells[columnIndex].displayValue || "----"}}
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="RiskAttributes[inventoryId]">
                        <div
                            class="actions-table__risk block border-round {{ RiskClasses[row.cells[columnIndex].values[0].value] }}"
                            [ngClass]="{'cursor-pointer': permissions.canViewRisks}"
                            title="{{ row.cells[columnIndex].displayValue }}"
                            *ngIf="row.cells[columnIndex].displayValue"
                            (click)="goToRisks(row)"
                            >
                            <i class="ot ot-flag color-white"></i>
                        </div>
                        <div
                            class="slds-truncate text-center"
                            *ngIf="!row.cells[columnIndex].displayValue"
                            >
                            ----
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div
                            class="slds-truncate {{columnIndex !== 0 ? 'text-center' : 'text-left'}}"
                            title="{{row.cells[columnIndex].displayValue}}"
                            >
                            {{row.cells[columnIndex].displayValue || "----"}}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>
        </ot-data-table-column>
    </ng-container>

    <ot-data-table-column>
        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
    </ot-data-table-column>

    <ng-container *ngIf="!bulkEditMode">
        <ot-data-table-column>
            <ng-template otDataTableHeader [thClass]="'float-col'">
                <div></div>
            </ng-template>
            <ng-template otDataTableCell [tdClass]="'float-col background-transparent'" [tdStyle]="{'background': 'transparent'}" let-row="row">
                <upgraded-one-dropdown
                    class="inventory-table-new__context-button {{clickPreventClass}}"
                    [icon]="'ot ot-ellipsis-h'"
                    [hideCaret]="true"
                    [alignRight]="true"
                    [getOptions]="getActions(row)"
                    [buttonClass]="'actions-table__context-btn'"
                    [listClass]="menuClass"
                    >
                </upgraded-one-dropdown>
            </ng-template>
        </ot-data-table-column>
    </ng-container>

</table>
