.inventory-table-new {
    .media-middle:before {
        display: block;
    }
    .one-dropdown__button {
        height: 2.4rem;
    }

    &__action-col {
        width: 5rem;
        min-width: 5rem;
        text-align: right;
    }
}
