.dashboard-card {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    background-color: $white;
    padding: .6rem 1.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
    margin: 0 1.5rem 1.5rem 0;
    margin-bottom: 1.5rem;

    &__header {
        flex: 0 0 auto;
    }

    &__loading {
        flex: 1 1 auto;
        min-height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        flex: 1 1 auto;
        min-height: 1px;
        display: flex;
        padding-top: 0.75rem;
    }

    &__empty {
        flex: 1 1 auto;
        min-height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey-3;
    }

    &--six {
        height: 35rem;
        width: 55rem;
    }

    &--nine {
        height: 35rem;
        width: 80rem;
    }

    &--map {
        height: 60rem;
    }
}
