.dashboard-card-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $grey-3;

    &__icon {
        font-size: 1.7rem;
        margin-left: .5rem;
    }
}
