.dashboard-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;

    &__cards {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
}
