<div class="border border-radius background-grey padding-all-2 margin-top-bottom-1">
    <!-- risk control state button -->
    <div class="flex space-between text-bold">
        <p
            class="cursor-pointer max-width-70-percent"
            ot-auto-id="AssessmentRiskControlToggle"
            (click)="isControlExpanded = !isControlExpanded"
        >{{riskControl.control.name}}</p>
        <!-- Risk Control context menu-->
        <div>
            <ot-context-menu
                class="risk-control__context-menu"
                type="2"
                [menu]="riskControlMenuOptions"
                position="bottom"
                >
                <i class="ot ot-ellipsis-h"></i>
                <a
                    *otContextMenuItem="let item"
                    [attr.ot-auto-id]="item.id"
                    (click)="onContextMenuOptionClick(item.value, riskControl)"
                    >
                    {{ item.text }}
                </a>
            </ot-context-menu>
            <span>
                <i
                    class="ot padding-left-1 cursor-pointer"
                    ot-auto-id="AssessmentRiskControlToggle"
                    [ngClass]="{'ot-chevron-down': isControlExpanded, 'ot-chevron-right': !isControlExpanded}"
                    (click)="isControlExpanded = !isControlExpanded"
                ></i>
            </span>
        </div>
    </div>
    <ng-container [ngSwitch]="riskControl.status">
        <span
            *ngSwitchCase="riskControlStatusNames.PENDING"
            otBadge="primary"
        >{{ riskControlStatusNames.PENDING | otTranslate }}</span>
        <span
            *ngSwitchCase="riskControlStatusNames.IMPLEMENTED"
            otBadge="success"
        >{{ riskControlStatusNames.IMPLEMENTED | otTranslate }}</span>
        <span
            *ngSwitchCase="riskControlStatusNames.NOT_DOING"
            otBadge
        >{{ riskControlStatusNames.NOT_DOING | otTranslate }}</span>
    </ng-container>
    <div *ngIf="isControlExpanded">
        <div otFormElement
            class="flex padding-top-half"
            [label]="('ControlID' | otTranslate)+':'"
        >
            <p>{{riskControl.control.identifier}}</p>
        </div>
        <div otFormElement
            class="flex"
            [label]="('Framework' | otTranslate)+':'"
        >
            <p>{{riskControl.control.frameworkName}}</p>
        </div>
        <div otFormElement
            class="flex"
            [label]="('Category' | otTranslate)+':'"
        >
            <p>{{riskControl.control.categoryName}}</p>
        </div>
        <div otFormElement
            class="flex margin-bottom-1"
            [label]="('Description' | otTranslate)+':'"
        ></div>
        <p>{{riskControl.control.description || emptyText }}</p>
    </div>
</div>
