.risk-control {
    &__context-menu button {
        border: none !important;
        background-color: $paper-gray !important;
        outline: none !important;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
}
