<ot-loading otPageLoading
    *ngIf="isLoadingSectionSummary || isLoadingOverallReadinessSummary"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<section
    *ngIf="!(isLoadingSectionSummary || isLoadingOverallReadinessSummary)"
    class="gra-report-summary flex flex-column height-100 background-grey color-slate"
    >
    <ot-page-header [title]="'ReadinessAssessment' | translate">
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="ReadinessAssessmentBreadcrumbItem"
                [label]="'Assessments' | translate"
                [link]="'/assessments'"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="overallReadinessSummary.assessmentName"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <!--TODO: Put back the button after the demo.-->
        <div *ngIf="false">
            <button otButton brand
                [innerText]="'Export' | translate"
                (click)="exportFullReport()"
            ></button>
        </div>
    </ot-page-header>
    <!--Report Page-->
    <div class="height-100 overflow-y-auto padding-all-2">
        <!--Section for horseshoe and bar graphs-->
        <section
            *ngIf="isGRATemplate; else RATemplateReadiness"
            class="full-width row-nowrap margin-bottom-2"
            >
            <!--Horseshoe Graph Overall Readiness-->
            <div class="max-width-30 flex-column justify-start static-horizontal shadow background-white margin-right-2 padding-all-2">
                <p class="text-left text-bold text-xlarge">{{'OverallReadiness' | translate}}</p>
                <one-horseshoe-graph
                    [title]="overallReadinessSummary.statisticsSummary.readinessScore+'%'"
                    [titleClass]="'global-readiness-dashboard__graph-total'"
                    [subTitle]="'Ready' | translate"
                    [graphData]="overallReadinessGraphData"
                    ot-auto-id="OverallReadinessGraphReport"
                    >
                </one-horseshoe-graph>
                <!--Number of questions answered unanswered and risks-->
                <gra-response-summary-card [responseSummaryDetail]="overallReadinessSummary.statisticsSummary"></gra-response-summary-card>
            </div>
            <div class="flex-column background-white shadow flex padding-all-2">
                <p class="text-left text-xlarge text-bold">{{'ApplicableLawsReadiness' | translate}}</p>
                <gra-applicable-law-readiness
                    *ngFor="let lawStatisticsDetail of overallReadinessSummary.lawStatisticsDetails; trackBy: trackByLawId"
                    [applicableLawReadiness]="lawStatisticsDetail"
                ></gra-applicable-law-readiness>
            </div>
        </section>
        <ng-template #RATemplateReadiness>
            <div class="full-width padding-all-2 margin-bottom-2 shadow background-white">
                <p class="text-left text-bold text-xlarge">{{'OverallReadiness' | translate}}</p>
                <gra-applicable-law-readiness
                    [applicableLawReadiness]="overallReadinessForRATemplate"
                ></gra-applicable-law-readiness>
            </div>
        </ng-template>
        <!--Summary Section-->
        <section
            *ngIf="!isLoadingSectionSummary"
            class="gra-report-summary_section full-width background-white shadow padding-all-2"
            >
            <div class="gra-report-summary_section_header">
                <p class="text-bold text-xlarge">{{ 'SectionSummary' | translate }}</p>
            </div>
            <gra-report-section-summary
                *ngFor="let summary of sectionSummary.sectionSummaryDtos; trackBy: trackBySectionId"
                [sectionSummary]="summary"
                [templateType]="sectionSummary.templateType"
            ></gra-report-section-summary>
        </section>
    </div>
    <footer
        otPageFooter
        class="height-5 background-white border-top padding-all-1 z-index-1"
        [justify]="'flex-end'"
        >
        <div>
            <button
                otButton brand
                ot-auto-id="GlobalReadinessReportGoToAssessmentButton"
                class="margin-right-2"
                [innerText]="'ViewAssessment' | translate"
                (click)="onGoToAssessmentButtonClick()"
            ></button>
        </div>
    </footer>
</section>
