<section class="one-modal-new flex-full-height full-width-block max-height-100-percent color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]= "'ApplyTemplateToDomain' | otTranslate"
        >
        </h4>
        <button otButton neutral class="one-modal-new__close static-horizontal no-outline" (click)= "closeModal()">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="padding-all-2">
        <form name="createTemplateForm">
            <div [innerText]="'AssignTemplateModalNote' | otTranslate" class="margin-bottom-2"></div>
            <div otFormElement [label]="'SelectTemplate' | otTranslate" class="margin-bottom-2">
                <ot-lookup
                    [allowHint]="false"
                    [autoClose]="true"
                    [clearInputOnModelChange]="true"
                    [labelKey]="'templateName'"
                    [valueKey]="'templateId'"
                    [model]="selectedTemplate"
                    [multiSelect]="false"
                    [options]="showDefaultTemplates ? templates : templatesLookUp"
                    [placeholder]="'TemplateName' | otTranslate"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="onModelChange($event)"
                >
                </ot-lookup>
            </div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal padding-top-1 margin-bottom-1">
            <button
                otButton neutral
                (click)="closeModal()"
                [innerText] = "'Cancel' | otTranslate"
            >
            </button>
            <button
                otButton brand
                [loading]="isLoading"
                (click)="assignTemplate()"
                [innerText] = "'Apply' | otTranslate"
                [disabled]="!validateForm()"
            >
            </button>
        </footer>
    </div>
</section>
