/** CONSENT NOTICE START
*
*/
#optanon *, #optanon *:before, #optanon *:after {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
#optanon, #optanon *, #optanon div, #optanon span, #optanon ul, #optanon li, #optanon a, #optanon p, .optanon-alert-box-wrapper * {
	background: none;
	border: none;
	bottom: auto;
	clear: none;
	float: none;
	height: auto;
	left: auto;
	letter-spacing: normal;
	line-height:normal;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	overflow: visible;
	right: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	text-shadow: none;
	top: auto;
	visibility: visible;
	white-space: normal;
	width: auto;
	z-index: auto;
	padding: 0;
	margin: 0;
	border-radius: 0;	
	position: static;
	font-weight: normal;
}
#optanon #optanon-popup-bg {
	background-image: url(../images/cookie-collective-black-overlay.png);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 7901;
}
#optanon #optanon-popup-wrapper {
	display: none;
	z-index: 7902;
	color: #000;
	text-align: left;
	position: absolute;
	width: 95%;
	top: 10px;
	left: 10px;
	right: 10px;
}
#optanon #optanon-popup-wrapper a {
	color: #000 !important;
	text-decoration: none;
}
#optanon #optanon-popup-wrapper a:hover {
	text-decoration: underline;
}
#optanon #optanon-popup-wrapper img {
	border: 0px;
}
#optanon #optanon-popup-top {
	background-color: #ffffff;
	height: 15px;
	margin: 0px;
	width: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#optanon #optanon-close {
	float: right;
	position: relative;
	right: -10px;
	top: -10px;
}
#optanon #optanon-popup-top img a {
	border: 0;
}
#optanon #optanon-popup-body {
	background-color: #ffffff;
	margin: 0px;
	width: 100%;
}
#optanon #optanon-popup-body h2 {
	font: normal 20px Tahoma, Geneva, sans-serif;
	margin: 5px 0px 0px 5px;
	padding: 0px;
	color: #000;
}
#optanon #optanon-popup-body h3 {
	background-color: #f5f5f5;
	font: normal 23px Tahoma, Geneva, sans-serif;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	color: #000;
}
#optanon #optanon-popup-body p, #optanon #optanon-popup-body div.optanon-main-info-text {
	font: normal 11px/14px Tahoma, Geneva, sans-serif;
	margin: 5px 0px 0px 5px;
	padding: 0px;
}
#optanon #optanon-popup-body div.optanon-main-info-text {
	font: normal 11px/14px Tahoma, Geneva, sans-serif !important;
}
#optanon #optanon-popup-body div.optanon-main-info-text {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}
#optanon #optanon-popup-body div.optanon-main-info-text div.optanon-cookie-list {
	font: normal 11px/14px Tahoma, Geneva, sans-serif !important;
    margin-top: 10px;
}
#optanon #optanon-popup-body div.optanon-main-info-text div.optanon-cookie-list p {
	font: normal 11px/14px Tahoma, Geneva, sans-serif !important;
    margin: 10px 0;
}
#optanon #optanon-popup-body div.optanon-main-info-text div.optanon-cookie-list div.optanon-cookies-used {
    font: bold 11px Arial, Helvetica, sans-serif !important;
    background-color: #f2f4f9;
    padding: 3px 5px;
}
#optanon #optanon-popup-body div.optanon-main-info-text div.optanon-cookie-list span.optanon-subgroup-header {
    font: bold 11px Tahoma, Geneva, sans-serif !important;
    padding-right: 10px;
    color: #333;
}
#optanon #optanon-popup-body-left {
	float: left;
	height: 100%;
	width: 100%;
}
#optanon #optanon-branding-top-logo {
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 50px;
	width: 140px;
	margin: -25px 0px 10px 10px;
}
#optanon #optanon-menu {
	padding: 0px;
	width: 100%;
}
#optanon #optanon-menu li {
	list-style-type: none;
	min-height: 38px;
	margin-bottom: 1px;
	background-color: #e8e8e9 !important;
	width: 100%;
}
#optanon #optanon-menu li p {
	font-size: 12px;
	margin: 0px 0px 0px 35px;
	padding: 12px 0px 12px 0px;
	width: 80%;
}
#optanon #optanon-menu li p a {
	font-size: 12px;
}
#optanon #optanon-menu .menu-item-selected {
	background-color: #82868b !important;
	color: #fff !important;
}
#optanon #optanon-menu .menu-item-selected a {
	color: #fff !important;
}
#optanon #optanon-menu .menu-item-necessary.menu-item-on.menu-item-selected {
	background: url(../images/optanon-necessary-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-necessary.menu-item-on {
	background: url(../images/optanon-necessary-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-necessary.menu-item-off {
	background: url(../images/optanon-necessary-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-about.menu-item-on.menu-item-selected {
	background: url(../images/optanon-about-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-about.menu-item-on {
	background: url(../images/optanon-about-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-about.menu-item-off {
	background: url(../images/optanon-about-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-performance.menu-item-on.menu-item-selected {
	background: url(../images/optanon-performance-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-performance.menu-item-on {
	background: url(../images/optanon-performance-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-performance.menu-item-off {
	background: url(../images/optanon-performance-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-functional.menu-item-on.menu-item-selected {
	background: url(../images/optanon-functional-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-functional.menu-item-on {
	background: url(../images/optanon-functional-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-functional.menu-item-off {
	background: url(../images/optanon-functional-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-advertising.menu-item-on.menu-item-selected {
	background: url(../images/optanon-advertising-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-advertising.menu-item-on {
	background: url(../images/optanon-advertising-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-advertising.menu-item-off {
	background: url(../images/optanon-advertising-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-social.menu-item-on.menu-item-selected {
	background: url(../images/optanon-social-active.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-social.menu-item-on {
	background: url(../images/optanon-social-on.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-social.menu-item-off {
	background: url(../images/optanon-social-off.png) no-repeat 10px 50%;
}
#optanon #optanon-menu .menu-item-moreinfo {
    background: url(../images/optanon-more-info.png) no-repeat 10px 50%;
}
#optanon #optanon-popup-body-right {
	float: left;
	padding: 10px 20px;
}
#optanon #optanon-popup-more-info-bar {
	background-color: #f5f5f5;
	float: left;
	height: 22px;
	margin: 15px 0px 0px 0px;
	padding: 0% 1%;
	width: 98%;
}
#optanon #optanon-popup-more-info-bar p {
	float: left;
	font: bold 11px Arial, Helvetica, sans-serif;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	width: auto;
}
#optanon #optanon-popup-more-info-bar p label,
#optanon #optanon-popup-more-info-bar a {	
	font: bold 11px Arial, Helvetica, sans-serif;	
}
#optanon #optanon-popup-wrapper .optanon-arrow {
	float: left;
	margin: 7px 0px 0px 5px;
}
#optanon #optanon-popup-wrapper .optanon-status {
	float: right;
}
#optanon #optanon-popup-wrapper .optanon-status-symbol {
	margin: 2px 0px 0px 4px;
}
#optanon #optanon-popup-wrapper .optanon-status .optanon-status-editable, #optanon #optanon-popup-wrapper .optanon-status .optanon-status-always-active {
	display: none;
}
#optanon #optanon-popup-wrapper .optanon-status .optanon-status-on {
	color: #09a501;
}
#optanon #optanon-popup-wrapper .optanon-bottom-spacer {
	clear: both;
	height: 20px;
}
#optanon #optanon-popup-bottom {
	background-color: #d5d5d5;
	float: left;
	margin: 0px;
	padding-bottom: 10px;
	width: 100%;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#optanon #optanon-popup-bottom-logo {
	float: left;
	margin: 8px 0px 0px 3px;
}
#optanon #optanon-popup-wrapper .optanon-allow-all-button, #optanon #optanon-popup-wrapper .optanon-save-settings-button {
	cursor: hand;
	cursor: pointer;
}
#optanon #optanon-popup-wrapper .optanon-allow-all-button {
	display: none;
}
#optanon #optanon-popup-wrapper .optanon-allow-all-button a:hover, #optanon #optanon-popup-wrapper .optanon-save-settings-button a:hover {
	text-decoration: none;
}

#optanon #optanon-popup-wrapper .optanon-button-wrapper {
	float: right;
	margin: 9px 10px 0px 0px;
}
#optanon #optanon-popup-wrapper .optanon-white-button-middle {
	background-repeat: repeat-x;
	display: block;
	float: left;
	padding: 8px 13px;
    border-radius: 5px;
    background-color: #fff;
}
#optanon #optanon-popup-wrapper .optanon-white-button-middle a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
    color: #000 !important;
}

#optanon-popup-wrapper fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
#optanon-popup-wrapper fieldset p {
	display: block;
	position: relative;
}
#optanon-popup-wrapper fieldset input[type=text], #optanon-popup-wrapper fieldset input[type=email] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-right: 20px;
	margin: 0;
}
#optanon-popup-wrapper label + p, #optanon-popup-wrapper input + p {
	padding: 0;
	margin: 0;
}
#optanon-popup-wrapper p > input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	right: 37px;
	position: absolute;
	opacity: 0;
}
#optanon-popup-wrapper p > label {
	float: left;
	line-height: 16px;
	padding: 0;
	width: 197px;
	text-align: right;
}
#optanon-popup-wrapper p:not(#foo) > input + label {
	background: url(../images/optanon-custom-inputs.png) 205px -1px no-repeat;
	height: 16px;
	padding-right: 25px;
	left: 0px;
}
/* Checked styles */
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:checked + label {
	background-position: 205px -81px;
}
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:hover:checked + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:focus:checked + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:checked + label:hover, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:focus:checked + label {
	background-position: 205px -101px;
}
/* Hover & Focus styles */
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:hover + label, p:not(#foo) > input[type=checkbox]:focus + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox] + label:hover {
	background-position: 205px -21px;
}
/* Active styles */
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:active + label, p:not(#foo) > input[type=checkbox] + label:hover:active {
	background-position: 205px -41px;
}
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:active:checked + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:checked + label:hover:active {
	background-position: 205px -121px;
}
/* Disabled styles */
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled + label, p:not(#foo) > input[type=checkbox]:hover:disabled + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:focus:disabled + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled + label:hover, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled + label:hover:active {
	background-position: 205px -61px;
}
#optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled:checked + label, p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover, #optanon-popup-wrapper p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active {
	background-position: 205px -141px;
}
/** CONSENT NOTICE END
*
*/


/** SHOW SETTINGS POPUP START
*
*/
.optanon-show-settings-popup-wrapper *, .optanon-show-settings-popup-wrapper *:before, .optanon-show-settings-popup-wrapper *:after {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.optanon-show-settings-popup-wrapper, .optanon-show-settings-popup-wrapper *, .optanon-show-settings-popup-wrapper div, .optanon-show-settings-popup-wrapper span, .optanon-show-settings-popup-wrapper ul, .optanon-show-settings-popup-wrapper li, .optanon-show-settings-popup-wrapper a, .optanon-show-settings-popup-wrapper p, #optanon-show-settings-popup ul, #optanon-show-settings-popup li, #optanon-show-settings-popup a, #optanon-show-settings-popup span {
	/*background:none;*/
	border: none;
	bottom: auto;
	clear: none;
	float: none;
	/*height:auto;*/
	/*left: auto;*/
	letter-spacing: normal;
	line-height: normal;
	max-height: inherit;
	max-width: inherit;
	/*min-height: inherit;*/
	min-width: inherit;
	overflow: visible;
	/*right: auto;*/
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	top: auto;
	visibility: visible;
	white-space: normal;
	width: auto;
	padding: 0;
	margin: 0;
	border-radius: 0;
	font-family: Arial;
	font-size: 12px;
}
.optanon-show-settings-popup-wrapper img {
	width: auto;
	height: auto;
}
.optanon-show-settings-popup-wrapper {
	height: 0px;
}
.optanon-show-settings-button {
	cursor: hand;
	cursor: pointer;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-middle a.optanon-show-settings {
	color: #222222 !important;
	font-weight: bold;
	margin-top: -20px !important;
	float: none !important;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-middle a.optanon-show-settings:hover {
	text-decoration: none !important;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-middle {
	background-image: url(../images/cookie-settings-middle.png);
	background-repeat: repeat-x;
	float: left;
	height: 24px !important;
	padding-top: 8px;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-left {
	background-image: url(../images/cookie-settings-left.png);
	background-repeat: no-repeat;
	float: left;
	height: 32px !important;
	width: 32px !important;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-right {
	background-image: url(../images/cookie-settings-right.png);
	background-repeat: no-repeat;
	float: left;
	height: 32px !important;
	width: 8px !important;
}
.optanon-show-settings-popup-wrapper #settings-button {
/*margin-top: -14px;*/
}
#optanon-show-settings-popup {
	display: none;
	/*margin-top: -155px !important;*/
	/*margin-left: -30px !important;*/
	position: relative;
	z-index: 99999;
	left: 0px !important;
	float: left !important;
}
#optanon-show-settings-popup-inner {
	position: absolute;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-popup-top-button {
/*margin-top: 0px !important;*/
}
#optanon-show-settings-popup ul {
	list-style-type: none !important;
	/*margin-top: 12px;*/
	width: 205px;
	height: auto !important;
	margin: 0px !important;
	padding: 0px !important;
}
#optanon-show-settings-popup ul li {
	padding: 6px 10px 0px 6px;
	height: auto !important;
	list-style-type: none !important;
	margin: 0px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #111111 !important;
}
#optanon-show-settings-popup ul li a {
	text-decoration: none;
	color: #111111;
}
#optanon-show-settings-popup ul li a:hover {
	text-decoration: underline;
}
#optanon-show-settings-popup ul li .optanon-dnt {
	font-size: 10px !important;
	color: #111111;
}
#optanon-show-settings-popup .icon {
	float: left;
	display: block;
	margin-right: 12px;
	height: 18px;
	width: 18px;
}
#optanon-show-settings-popup .top-arrow {
	background-image: url(../images/optanon-small-pop-up-top-triangle.png) !important;
	display: block;
	height: 14px;
	position: absolute;
	width: 19px;/*margin-left: 90px !important;*/
}
#optanon-show-settings-popup .bottom-arrow-even {
	background-image: url(../images/optanon-small-pop-up-bottom-triangle-even.png);
	height: 14px;
	position: absolute;
	width: 19px;
	/*margin-left: 90px !important;*/
	margin-top: -15px !important;
}
#optanon-show-settings-popup .bottom-arrow-odd {
	background-image: url(../images/optanon-small-pop-up-bottom-triangle-odd.png);
	height: 14px;
	position: absolute;
	width: 19px;
	/*margin-left: 90px !important;*/
	margin-top: -15px !important;
}
#optanon-show-settings-popup ul li.odd {
	background-image: url(../images/optanon-small-pop-up-odd.png);
}
#optanon-show-settings-popup ul li.even {
	background-image: url(../images/optanon-small-pop-up-even.png);
}
#optanon-show-settings-popup ul li.first {
	background-image: url(../images/optanon-small-pop-up-top.png);
}
#optanon-show-settings-popup .menu-item-border {
	background-color: white;
	display: block;
	height: 1px;
	margin: 0;
	padding: 0;
	width: 199px;
	margin-top: 6px;
	margin-left: -5px;
}
#optanon-show-settings-popup .menu-bottom-odd {
	background: url(../images/optanon-small-pop-up-bottom-odd-small.png) top;
	display: block;
	height: 21px;
	margin: 0;
	padding: 0;
	margin-top: -1px;
	width: 205px;
}
#optanon-show-settings-popup .menu-bottom-even {
	background: url(../images/optanon-small-pop-up-bottom-even-small.png) top;
	display: block;
	height: 20px;
	margin: 0;
	padding: 0;
	margin-top: -1px;
	width: 205px;
}
#optanon-show-settings-popup .top-button li.first {
	background-image: url(../images/optanon-small-pop-up-top.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .necessary-icon.menu-item-on {
	background-image: url(../images/optanon-necessary-on.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .necessary-icon.menu-item-off {
	background-image: url(../images/optanon-necessary-off.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .performance-icon.menu-item-on {
	background-image: url(../images/optanon-performance-on.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .performance-icon.menu-item-off {
	background-image: url(../images/optanon-performance-off.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .functional-icon.menu-item-on {
	background-image: url(../images/optanon-functional-on.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .functional-icon.menu-item-off {
	background-image: url(../images/optanon-functional-off.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .advertising-icon.menu-item-on {
	margin-top: -2px;
	background-image: url(../images/optanon-advertising-on.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .advertising-icon.menu-item-off {
	margin-top: -2px;
	background-image: url(../images/optanon-advertising-off.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .social-icon.menu-item-on {
	margin-top: -2px;
	background-image: url(../images/optanon-social-on.png);
	background-repeat: no-repeat;
}
#optanon-show-settings-popup .social-icon.menu-item-off {
	margin-top: -2px;
	background-image: url(../images/optanon-social-off.png);
	background-repeat: no-repeat;
}
/** SHOW SETTINGS POPUP END
*
*/
@media only screen and (min-width: 47em) {
#optanon #optanon-branding-top-logo {
	margin: 0px;
}
#optanon #optanon-popup-wrapper {
	position: fixed;
	height: 300px;
	left: 50%;
	top: 0;
	margin: 100px 0px 0px -300px;
	position: fixed;
	width: 600px;
}
#optanon #optanon-popup-body-left-shading {
	height: 240px;
	margin: 55px 0px 0px 141px;
	position: absolute;
	width: 8px;
	left: 0;
	top: 0;
}
#optanon #optanon-menu {
	margin: 19px 0px 0px -12px;
}
#optanon #optanon-menu li {
	padding-right: 10px;
}
#optanon #optanon-popup-body-left {
	float: left;
	width: 23%;
	padding: 1% 2%;
}
#optanon #optanon-popup-body-right {
	float: left;
	width: 69%;
	padding: 1% 2%;
}
#optanon #optanon-popup-body h2 {
	margin-top: -14px;
}
}
/** COOKIE POLICY START
*
*/
#optanon-cookie-policy .optanon-cookie-policy-left {
	float: left;
	width: 45%;
}
#optanon-cookie-policy .optanon-cookie-policy-right {
	float: right;
	width: 45%;
}
#optanon-cookie-policy .optanon-cookie-policy-subgroup-table {
}
#optanon-cookie-policy .optanon-cookie-policy-subgroup-table-header {
}
#optanon-cookie-policy .optanon-cookie-policy-group {
	margin-bottom: 40px;
	clear: both;
}
#optanon-cookie-policy .optanon-cookie-policy-subgroup {
	border-bottom: 1px solid #cccccc;
	clear: both;
}
#optanon-cookie-policy .optanon-cookie-policy-subgroup .optanon-cookie-policy-left {
	border-right: 1px solid #cccccc;
	padding-right: 5%;
}
#optanon-cookie-policy .optanon-clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#optanon-cookie-policy .optanon-clearfix {
	display: inline-block;
}
html[xmlns] #optanon-cookie-policy .clearfix {
	display: block;
}
* html #optanon-cookie-policy .clearfix {
	height: 1%;
}
/** COOKIE POLICY END
*
*/

/** ALERT MESSAGE
*
*/
.optanon-alert-box-wrapper {
	position: fixed;
    width: 100%;
	border: none;
	background-color: rgba(0,0,0,0.75);
	bottom: -145px;
    min-height: 50px;
}
.optanon-alert-box-wrapper a {
	background-color: transparent;
}
.optanon-alert-box-wrapper .optanon-alert-box-bg p {
	font: normal 11pt/16pt Arial, sans-serif;
    color: #fff !important;
    padding-bottom: 5px;
}
.optanon-alert-box-wrapper .optanon-alert-box-bottom-top {
	height: 10px;
}
.optanon-alert-box-wrapper .optanon-alert-box-corner-close {
	background-image: url(../images/alert-close.png);
	height: 20px;
    right: 10px;
	top: 50%;
    margin-top: -10px;
	position: absolute;
	width: 20px;
}
.optanon-alert-box-wrapper .optanon-alert-box-corner-close a {
	display: block;
	width: 30px;
	height: 30px;
}
.optanon-alert-box-wrapper .optanon-alert-box-logo {
	background-image: url(../images/cookie-icon.png);
	position: absolute;
	height: 28px;
	left: 20px;
    top: 50%;
    margin-top: -15px;
	width: 29px;
}
.optanon-alert-box-wrapper .optanon-alert-box-body {
	margin-right: 450px;
    margin-left: 80px;
    padding-top: 6px;
}
.optanon-alert-box-wrapper .optanon-alert-box-bg p.optanon-alert-box-title {
    font-weight: bold;
}
.optanon-alert-box-wrapper .optanon-alert-box-button-middle {
	background-color: #fff;
	border: 1px solid #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 8px 18px;
    font-size: 9pt;
    font-weight: bold;
}
.optanon-alert-box-wrapper .optanon-alert-box-button-middle a {
	font-family: Arial, sans-serif;
	color: #666 !important;
	font-weight: bold;
	text-decoration: none;
}
.optanon-alert-box-wrapper .optanon-alert-box-button-middle a:hover {
	color: #333;
}
.optanon-alert-box-bg .optanon-alert-box-button-container {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -16px;
}
.optanon-alert-box-bg .optanon-alert-box-button.optanon-button-close
{
    display: none;
}
.optanon-alert-box-wrapper .optanon-alert-box-button {
	float: right;
	margin-right: 30px;
    margin-bottom: 10px;
	line-height: initial;
}
.optanon-alert-box-wrapper .optanon-alert-box-bottom-padding {
	padding-bottom: 10px;	
}

.optanon-alert-box-wrapper.hide-accept-button .optanon-alert-box-button.optanon-button-allow{
	display: none;
}

.optanon-alert-box-wrapper.hide-cookie-setting-button .optanon-alert-box-button.optanon-button-more{
	display: none;
}
.optanon-alert-box-wrapper.hide-accept-button .optanon-alert-box-body{
	margin-right: 215px;
}
.optanon-alert-box-wrapper.hide-cookie-setting-button .optanon-alert-box-body{
	margin-right: 215px;
}
.optanon-alert-box-wrapper.hide-accept-button.hide-cookie-setting-button .optanon-alert-box-body{
	margin-right: 50px;
}


@media only screen and (max-width: 47em) {
    .optanon-alert-box-wrapper .optanon-alert-box-logo {
        left: 20px;
        top: 63px;
        margin-top: auto;
    }

    .optanon-alert-box-wrapper .optanon-alert-box-corner-close {
        right: 10px;
        top: 10px;
        margin-top: auto;
    }

	.optanon-alert-box-wrapper.hide-accept-button .optanon-alert-box-body {
		margin-right: 20px;
	}
	.optanon-alert-box-wrapper.hide-cookie-setting-button .optanon-alert-box-body {
		margin-right: 20px;
	}
	.optanon-alert-box-wrapper.hide-accept-button.hide-cookie-setting-button .optanon-alert-box-body {
		margin-right: 20px;
	}

    .optanon-alert-box-wrapper .optanon-alert-box-body {
        margin-right: 20px;
        margin-left: 73px;
        padding-top: 50px;
    }

    .optanon-alert-box-bg .optanon-alert-box-button-container {
        position: relative;
        text-align: center;
        margin: 25px 0;
        top: auto;
        right: auto;
    }

    .optanon-alert-box-wrapper .optanon-alert-box-button-middle {
        font-size: 16px;
    }

    .optanon-alert-box-wrapper .optanon-alert-box-button {
        float: none;
        display: inline-block;
        margin-right: 10px;
    }
}

/** ALERT MESSAGE END
* 
*/