.one-titled-section-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__item {
        flex: 0 0 49%;
        min-width: 13rem;

        @media(min-width: $small) {
            flex: 0 0 24%;
        }

        &--width-full {
            flex: 0 0 99%;
            min-width: 18rem;

            @media(min-width: $small) {
                flex: 0 0 49%;
            }
        }
    }
}
