<div 
    class="shadow position-relative"
    [ngStyle]="logoStyle"
    [ngClass]="(logoSize && logoSize === 'small' ? 'is-logo-small' : 'is-logo-basic')">
    <intg-one-corner-ribbon
        *ngIf="ribbonText"
        [ribbonText]="ribbonText"
        [ribbonPosition]="ribbonPosition"
        [ribbonClass]="'is-logo-basic__ribbon text-small'"
    ></intg-one-corner-ribbon>
    <div class="full-size row-horizontal-vertical-center">
        <img
            class="is-logo-basic__img"
            [src]="logoUrl"
        />
    </div>
</div>