%logo-base {
    border-radius: 6.7px;
}

.is-logo-basic {
    @extend %logo-base;
    height: 12rem;
    width: 12rem;
    
    &__img {
        min-width: 1px;
        max-width: 80%;
        max-height: 100%;
        object-fit: contain;
    }
    &__ribbon {
        width: 100% !important;
        margin-top: -1rem;
        margin-left: -1rem;
    }
}

.is-logo-small {
    @extend %logo-base;
    height: 8rem;
    width: 8rem;
}