.dg-beta-landing {

    &__header {
        background-image: url(../images/dg_hero_image.png);
        background-size: cover;
        padding: 4rem 4rem 7rem;

        &-content {
            max-width: 46rem;
        }
    }

    &__logo {
        max-width: 30rem;
    }

    &__button {

        &-container {
            flex-flow: column nowrap;

            @media (min-width: $small) {
                flex-flow: row nowrap;
                justify-content: center;
            }
        }

        &.slds-button {
            width: 100%;

            @media (min-width: $small) {
                width: auto;
                min-width: 18rem;
            }

            &:first-child {
                margin: 0 0 2rem;

                @media (min-width: $small) {
                    margin: 0 4rem 0 0
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &__footer {
        padding: 6rem 4rem;

        &-content {
            max-width: 100rem;
            flex-flow: column nowrap;

            @media (min-width: $small) {
                flex-flow: row nowrap;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }

    &__devices {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto 3rem;

        @media (min-width: $small) {
            margin: 0 5rem 0 0;
            width: 60%;
        }
    }

    &__specs {
        width: 100%;

        @media (min-width: $small) {
            width: 40%;
        }
    }

    &__bullets {
        list-style-type: disc;
    }
}
