<header class="dg-beta-landing__header text-center">
    <div class="dg-beta-landing__header-content margin-left-right-auto">
        <img
            class="dg-beta-landing__logo margin-left-right-auto margin-bottom-2 full-width block"
            src="../../../../images/dg_logo.png"
        />
        <span class="text-bold color-white block margin-bottom-4 text-small">
            {{ "DGLandingLogoTagline" | otTranslate }}
        </span>
        <p class="color-white margin-bottom-4 text-large">
            {{ "DGLandingHeaderText" | otTranslate }}
        </p>
        <footer class="dg-beta-landing__button-container flex">
            <a otButton brand
                ot-auto-id="DGBetaLandingAccessDataGuidance"
                class="dg-beta-landing__button"
                href="https://platform.dataguidance.com"
                target="_blank"
                >
                {{ "AccessDataGuidance" | otTranslate }}
            </a>
            <a otButton neutral
                *ngIf="'ReadinessAssessmentV2' | otPermit"
                ot-auto-id="DGBetaLandingAccessGlobalReadiness"
                class="dg-beta-landing__button"
                (click)="goToReadiness()"
                >
                {{ "GlobalReadiness" | otTranslate }}
            </a>
        </footer>
    </div>
</header>
<section class="dg-beta-landing__footer">
    <div class="dg-beta-landing__footer-content flex margin-left-right-auto">
        <img
            class="dg-beta-landing__devices"
            src="../../../../images/dg_devices.png"
        />
        <aside class="dg-beta-landing__specs">
            <h3 class="text-bold">
                {{ "GlobalPrivacyComplianceSolutions" | otTranslate }}
            </h3>
            <p> {{ "DGLandingFooterText" | otTranslate }} </p>
            <ul class="dg-beta-landing__bullets padding-left-2">
                <li> {{ "RegulatoryTracker" | otTranslate }} </li>
                <li> {{ "CrossBorderCharts" | otTranslate }} </li>
                <li> {{ "GuidanceNotes" | otTranslate }} </li>
                <li> {{ "GDPRPortal" | otTranslate }} </li>
                <li> {{ "Template" | otTranslate }} </li>
                <li> {{ "LegalResearch" | otTranslate }} </li>
            </ul>
        </aside>
    </div>
</section>
