<div class="inventory-linked-table flex-full-height">
    <div class="inventory-linked-table__header-wrapper margin-bottom-auto border-top">
        <header
            class="inventory-linked-table__header padding-left-right-1 row-vertical-center row-space-between border-bottom"
            [ngClass]="{'border-bottom': !isReady || !inventory.rows?.length}"
            >
            <h4>{{inventory.name}}</h4>
            <button
                *ngIf="resolvedPermissions.canUpdateRelatedInventory"
                otButton
                neutral
                class="margin-left-auto"
                [attr.ot-auto-id]="'relateNewInventoryItem'"
                [disabled]="!isReady"
                [innerText]="relateInventoryText"
                (click)="addInventoryRelationship()"
                >
            </button>
        </header>
    </div>
    <div class="position-relative max-width-full flex-full-height">
        <div
            class="overflow-x-auto flex-full-height"
            [ngClass]="{ 'position-relative' : isExpanded }"
            >
            <table
                *ngIf="isReady && inventory.rows?.length"
                otDataTable
                class="inventory-linked-table__content"
                [rowData]="inventory.rows"
                [rowBordered]="true"
                [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled }"
                (rowClicked)="handleRowClick($event)"
                >
                <ng-container *ngFor="let col of inventory.columns; trackBy: columnTrackBy; let columnIndex = index;">
                    <ot-data-table-column
                        [headerLabel]="col.label"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            [thStyle]="{'padding': '0 1rem'}"
                            >
                            <span
                                [ngClass]="{'block text-center' : columnIndex !== 0}"
                                class="text-bold"
                                >
                                {{col.label}}
                            </span>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row" [tdClass]="'max-25'">
                            <ng-container *ngIf="col.type === cellTypes.link && row.editable && hasRelatedViewPermission">
                                <a
                                    class="slds-truncate block text-pointer text-link text-bold"
                                    title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                    (click)="goToRecord(row)"
                                    >
                                    {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="col.type === cellTypes.text || !row.editable || !hasRelatedViewPermission">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                    title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}"
                                    >
                                    {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]}}
                                </div>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'">
                            <div></div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            [tdClass]="'float-col background-transparent'"
                            [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                            let-row="row"
                            >
                            <upgraded-one-dropdown
                                *ngIf="!row.inbound"
                                class="inventory-table-new__context-button {{clickPreventClass}}"
                                [icon]="'ot ot-ellipsis-h'"
                                [hideCaret]="true"
                                [alignRight]="true"
                                [getOptions]="getActions(row)"
                                [buttonClass]="'actions-table__context-btn'"
                                [listClass]="menuClass"
                                >
                            </upgraded-one-dropdown>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
            <ot-loading *ngIf="!isReady"
                otPageLoading
                class="inventory-linked-table__loading flex-full-height justify-center"
                >
            </ot-loading>
            <div *ngIf="isReady && !inventory?.rows?.length"
                class="flex-full-height justify-center text-center padding-all-2"
                >
                <ot-empty-state
                    class="margin-top-3 padding-bottom-0 align-self-center"
                    [emptyStateMessage]="'NoRecordsFound' | otTranslate">
                    <img emptyStateImg/>
                    <button
                        *ngIf="resolvedPermissions.canUpdateRelatedInventory"
                        otButton brand
                        empty-state-content
                        ot-auto-id="RelateNewInventoryFromTable"
                        class="margin-top-1"
                        [innerText]="relateInventoryText"
                        (click)="addInventoryRelationship()"
                        >
                    </button>
                </ot-empty-state>
            </div>
        </div>
    </div>
    <footer *ngIf="inventory.totalElements > config.defaultSize; else standardFooter"
        otPaginationFooter
        class="space-between"
        >
        <div>
            <ot-pagination
                *ngIf="isExpanded && isReady && inventory.rows?.length"
                [currentPage]="inventory.number + 1"
                [numPages]="inventory.totalPages"
                (pageChanged)="pageChange($event - 1)"
                >
            </ot-pagination>
            <span *ngIf="isExpanded && isReady">{{ inventory | otPageMeta }}</span>
        </div>
        <button
            class="margin-right-2 margin-left-auto"
            otButton
            neutral
            [attr.ot-auto-id]="'relatedInventoryTableExpand'"
            [disabled]="!isReady"
            [innerText]="isExpanded ? ('ViewLess' | otTranslate) : ('ViewMore' | otTranslate)"
            (click)="toggleExpanded()"
        ></button>
    </footer>
    <ng-template #standardFooter>
        <div class="height-36 width-100-percent"></div>
    </ng-template>
</div>
