<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="overflow-y-scroll height-100 min-height-30">
        <ng-container *ngIf="isReady; else showLoading">
            <div
                otFormElement
                class="margin-bottom-2"
                [required]="true"
                [label]="'Name' | otTranslate"
                >
                <input
                    otInput
                    class="one-input"
                    *ngIf="!isEditMode; else showDisplayValue"
                    type="text"
                    name="listItemName"
                    [disabled]="isSaving"
                    ot-auto-id="InventoryDataListItemModalNameInput"
                    [placeholder]="'Name' | otTranslate"
                    [ngModel]="listItemName"
                    (ngModelChange)="selectName($event)"
                />
                <ng-template #showDisplayValue>{{ listItemName }}</ng-template>
            </div>
            <ng-container *ngIf="otModalData.listId === inventoryListTypes.DataElements">
                <div
                    otFormElement
                    class="margin-bottom-2"
                    *ngIf="otModalData?.listItem?.categories?.length <= 1 || !isEditMode; else showMultiCategories"
                    [required]="true"
                    ot-auto-id="InventoryDataListItemModalCategorySelect"
                    [label]="'DataCategory' | otTranslate"
                    >
                    <ot-lookup
                        [placeholder]="'DataCategory' | otTranslate"
                        [autoClose]="true"
                        [disabled]="isSaving || !listItemCategoryOptions.length"
                        labelKey="displayName"
                        valueKey="id"
                        [clearInputOnModelChange]="true"
                        [options]="listItemCategoryOptions | lookup: (listItemCategory ? [listItemCategory] : []) : categorySearchTerm : 'id' : 'displayName'"
                        [model]="listItemCategory"
                        (modelChange)="selectCategory($event)"
                        (inputChange)="categorySearch($event)"
                        >
                    </ot-lookup>
                </div>
                <ng-template #showMultiCategories>
                    <div class="margin-bottom-2">
                        <ot-notification
                            icon="ot ot-exclamation-circle"
                            type="warning"
                            [allowClose]="false"
                            >
                            {{ 'MultipleCategoriesSelectOneWarning' | otTranslate }}
                        </ot-notification>
                        <div class="row-nowrap margin-top-bottom-1 padding-left-right-half">
                            <div class="row-vertical-center margin-right-2">
                                <ot-radio
                                    class="margin-right-half"
                                    ot-auto-id="InventoryDataListItemModalOtherCategoryRadioBtn"
                                    name="InventoryDataListItemModalOtherCategoryRadioBtn"
                                    [model]="categorySelection"
                                    [disabled]="!otherListItemCategoryOptions.length"
                                    value="otherCategory"
                                    (select)="selectCurrentCategory($event)"
                                ></ot-radio>
                                {{ 'Other' | otTranslate }}
                            </div>
                            <ot-lookup
                                ot-auto-id="InventoryDataListItemModalOtherCategorySelect"
                                [placeholder]="'DataCategory' | otTranslate"
                                [autoClose]="true"
                                [disabled]="isSaving || !otherListItemCategoryOptions.length || categorySelection !== 'otherCategory'"
                                labelKey="displayName"
                                valueKey="id"
                                [clearInputOnModelChange]="true"
                                [options]="otherListItemCategoryOptions | lookup: (listItemCategory ? [listItemCategory] : []) : categorySearchTerm : 'id' : 'displayName'"
                                [model]="listItemCategory"
                                (modelChange)="selectCategory($event)"
                                (inputChange)="categorySearch($event)"
                                >
                            </ot-lookup>
                        </div>
                        <div class="row-wrap padding-left-right-half">
                            <div
                                *ngFor="let category of otModalData?.listItem?.categories"
                                class="margin-bottom-1 flex-full-50 row-nowrap"
                                >
                                <div class="column-nowrap">
                                    <ot-radio
                                        class="margin-right-half"
                                        id="InventoryDataListItemModalOtherCategoryRadioBtn"
                                        [name]="category.nameKey ? (category.nameKey | otTranslate) : category.name"
                                        [model]="categorySelection"
                                        [disabled]="false"
                                        [value]="category.name"
                                        (select)="selectCurrentCategory($event)"
                                    ></ot-radio>
                                </div>
                                <div class="column-nowrap">
                                    {{ category.nameKey ? (category.nameKey | otTranslate) : category.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div
                    otFormElement
                    class="margin-bottom-2"
                    *ngIf="otModalData?.listItem?.classifications?.length <= 1 || !isEditMode; else showMultiClassifications"
                    ot-auto-id="InventoryDataListItemModalClassificationSelect"
                    [label]="'DataClassification' | otTranslate"
                    >
                    <ot-lookup
                        [placeholder]="'DataClassification' | otTranslate"
                        [autoClose]="true"
                        [disabled]="isSaving || !listItemClassificationOptions.length"
                        labelKey="displayName"
                        valueKey="id"
                        [clearInputOnModelChange]="true"
                        [options]="listItemClassificationOptions | lookup: (listItemClassification ? [listItemClassification] : []) : classificationSearchTerm : 'id' : 'displayName'"
                        [model]="listItemClassification"
                        (modelChange)="selectClassification($event)"
                        (inputChange)="classificationSearch($event)"
                        >
                    </ot-lookup>
                </div>
                <ng-template #showMultiClassifications>
                    <div class="margin-bottom-2">
                        <ot-notification
                            icon="ot ot-exclamation-circle"
                            type="warning"
                            [allowClose]="false"
                            >
                            {{ 'MultipleClassificationsSelectOneWarning' | otTranslate }}
                        </ot-notification>
                        <div class="row-nowrap margin-top-bottom-1 padding-left-right-half">
                            <div class="row-vertical-center margin-right-2">
                                <ot-radio
                                    class="margin-right-half"
                                    ot-auto-id="InventoryDataListItemModalOtherClassificationRadioBtn"
                                    name="InventoryDataListItemModalOtherClassificationRadioBtn"
                                    [model]="classificationSelection"
                                    [disabled]="!otherListItemClassificationOptions.length"
                                    value="otherClassification"
                                    (select)="selectCurrentClassification($event)"
                                ></ot-radio>
                                {{ 'Other' | otTranslate }}
                            </div>
                            <ot-lookup
                                ot-auto-id="InventoryDataListItemModalOtherClassificationSelect"
                                [placeholder]="'DataClassification' | otTranslate"
                                [autoClose]="true"
                                [disabled]="isSaving || !otherListItemClassificationOptions.length || classificationSelection !== 'otherClassification'"
                                labelKey="displayName"
                                valueKey="id"
                                [clearInputOnModelChange]="true"
                                [options]="otherListItemClassificationOptions | lookup: (listItemClassification ? [listItemClassification] : []) : classificationSearchTerm : 'id' : 'displayName'"
                                [model]="listItemClassification"
                                (modelChange)="selectClassification($event)"
                                (inputChange)="classificationSearch($event)"
                                >
                            </ot-lookup>
                        </div>
                        <div class="row-wrap padding-left-right-half">
                            <div
                                *ngFor="let classification of otModalData?.listItem?.classifications"
                                class="margin-bottom-1 flex-full-50 row-nowrap"
                                >
                                <div class="column-nowrap">
                                    <ot-radio
                                        class="margin-right-half"
                                        id="InventoryDataListItemModalOtherClassificationRadioBtn"
                                        [name]="classification.nameKey ? (classification.nameKey | otTranslate) : classification.name"
                                        [model]="classificationSelection"
                                        [disabled]="false"
                                        [value]="classification.name"
                                        (select)="selectCurrentClassification($event)"
                                    ></ot-radio>
                                </div>
                                <div class="column-nowrap">
                                    {{ classification.nameKey ? (classification.nameKey | otTranslate) : classification.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <div
                otFormElement
                [ngClass]="{'margin-bottom-6': !isEditMode || otModalData?.listItem?.classifications?.length === 1}"
                [label]="'Description' | otTranslate"
                >
                <textarea
                    otTextarea
                    class="full-width one-text-area min-height-10"
                    maxlength="2000"
                    rows="2"
                    ot-auto-id="InventoryDataListItemModalDescriptionInput"
                    name="listItemDescription"
                    [disabled]="isSaving"
                    [placeholder]="'Description' | otTranslate"
                    [(ngModel)]="listItemDescription"
                ></textarea>
            </div>
        </ng-container>
        <ng-template #showLoading>
            <ot-loading otPageLoading class="flex-full-height"></ot-loading>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="InventoryDataListItemCloseModalButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        neutral
        *ngIf="!isEditMode"
        ot-auto-id="InventoryDataListItemSaveAndAddNewButton"
        [loading]="isSaving"
        [disabled]="isSaving || !requiredFieldsPopulated"
        (click)="saveAndAddNew()"
        >
        {{ 'SaveAndAddNew' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="InventoryDataListItemSaveButton"
        [loading]="isSaving"
        [disabled]="isSaving || !requiredFieldsPopulated"
        (click)="saveAndClose()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
