<ng-template #incidentSubtasksLoader>
    <ot-loading otPageLoading
        class="margin-left-right-auto margin-top-3"
        *ngIf="loadingIncidentSubTasksRecords$"
    ></ot-loading>
</ng-template>
<div
    class="incident-subtasks-table"
    *ngIf="!(loadingIncidentSubTasksRecords$ | async) && rows; else incidentSubtasksLoader"
    >
    <table
        otDataTable
        class="border-top-none"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="rows"
        [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        >
            <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [column]="col"
                    >
                    <ng-template otDataTableHeader>
                        <div
                            class="slds-th__action max-width-30"
                            [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                            title="{{col.name}}"
                            >
                            <span class="slds-truncate text-bold">{{col.name}}</span>
                        </div>
                    </ng-template>
                            <ng-template
                                otDataTableCell
                                let-row="row"
                                [tdClass]="'max-width-30'"
                                >
                                <ng-container [ngSwitch]="col.type">
                                    <ng-container *ngSwitchCase="tableColumnTypes.Link">
                                        <div class="slds-truncate text-bold"
                                            [deprecatedOtTooltip]="row[col.cellValueKey]"
                                            [delay]="500"
                                            [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                            >
                                            <a
                                                ot-auto-id="SubTaskListCellLink"
                                                title="{{row[col.cellValueKey]}}"
                                                (click)="editIncident(row)"
                                                >
                                                {{row[col.cellValueKey]}}
                                            </a>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="tableColumnTypes.Status">
                                        <div class="slds-truncate slds-text-align_center">
                                            <div class="slds-truncate slds-text-align_center">
                                                <span
                                                    [otBadge]="row[col.cellValueKey].toUpperCase() | badgeColor: incidentSubTasksStatusColorMap"
                                                    [innerText]="subTasksStatusName(row[col.cellValueKey])"
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="tableColumnTypes.Deadline">
                                        <div
                                            class="slds-truncate"
                                            [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                            >
                                            <one-deadline-label
                                                [deadline]="row[col.cellValueKey]"
                                                [showDeadline]="showDeadline"
                                                >
                                            </one-deadline-label>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="tableColumnTypes.AssigneeName">
                                        <div
                                            class="slds-truncate"
                                            [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                            >
                                            <span>{{row[col.cellValueKey]}}</span>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                    </ot-data-table-column>
                    <ng-container *ngIf="col.type === 'action'">
                        <ot-data-table-column
                            [headerLabel]="col.name"
                            [sortable]="sortable"
                            [sortKey]="col.sortKey"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            >
                            <ng-template
                                otDataTableHeader
                                [thClass]="'float-col'"
                                [thStyle]="{'width': 0}"
                                >
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                let-row="row"
                                [tdClass]="'float-col'"
                                >
                                <upgraded-one-dropdown
                                    class="flex height-100 align-center justify-center"
                                    [icon]="'ot ot-ellipsis-h'"
                                    [hideCaret]="true"
                                    [alignRight]="true"
                                    [getOptions]="getActions(row)"
                                    [buttonClass]="'actions-table__context-btn'"
                                    [listClass]="'actions-table__context-list--above'"
                                    >
                                </upgraded-one-dropdown>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
            </ng-container>
        </table>
        <ot-empty-state
            class="flex-full-height justify-center text-center padding-all-2"
            *ngIf="rows && !rows.length && metaData?.first"
            ot-auto-id="'AddIncidentSubTasksListButton'"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            >
            <img emptyStateImg />
             <button otButton brand
                empty-state-content
                *ngIf="('IncidentRecordsView' | otPermit)"
                (click)="callAddSubTask()"
                >
                {{ 'AddSubTask' | otTranslate }}
            </button>
        </ot-empty-state>
</div>