<ot-tabs
    *ngIf="tabOptions?.length"
    [tabs]="tabOptions"
    [selectedTab]="currentTab"
    >
    <a
        *otTabItem="let tab"
        ot-auto-id="tab.otAutoId"
        (click)="changeTab(tab)"
    >
    {{tab.text}}
    </a>
</ot-tabs>
<div
    *ngIf="currentTab === tabEnums.SubTasks"
    style="padding-bottom: 15rem">
    <dsar-sub-tasks></dsar-sub-tasks>
</div>
<div *ngIf="currentTab === tabEnums.Activity">
    <ng-container *ngIf="messagingReady; else showLoading">
        <dsar-request-queue-detail-messaging
            *ngIf="permissions.DSARExternalCommentCreate || permissions.DSARInternalCommentCreate"
            [isInternalComment]="landOnInternalComments"
            [responseTemplates]="responseTemplates"
        ></dsar-request-queue-detail-messaging>
        <one-comments-activity-stream
            *ngIf="permissions.AccessInternalComments || permissions.AccessExternalComments"
            class="block background-white"
            [activities]="requestQueueDetails.comments"
            (actionCallback)="handleAction($event)"
        ></one-comments-activity-stream>
    </ng-container>
    <ng-template #showLoading>
        <ot-loading class="margin-top-5"></ot-loading>
    </ng-template>
</div>
<div
    *ngIf="currentTab === tabEnums.History">
    <request-queue-history
        [requestQueueId]="requestQueueDetails.requestQueueId"
        [templateId]="requestQueueDetails.templateId"
        [workflowList]="requestQueueDetails.workflow.workflowDetailDtos"
    ></request-queue-history>
</div>
