<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<section
    *ngIf="!isLoading"
    class="flex-full-height height-100">
    <ot-page-header [title]="'WorkflowDetails' | otTranslate" >
        <span
            class="margin-left-2"
            [otBadge]="draftMode ? 'base' : 'success'"
            [innerText]="draftMode ? ('Draft' | otTranslate) : ('Activated' | otTranslate)">
        </span>
        <ot-breadcrumb (routeClicked)="onRouteClick($event)">
            <ot-breadcrumb-item
                ot-auto-id="DSARWorkflowBreadcrumbItem"
                [label]="'Workflows' | otTranslate"
                [link]="'zen.app.pia.module.dsar.views.workflows'"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="workflowName"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <button otButton brand
            *ngIf="!draftMode && !isDefaultWorkflow"
            class="padding-right-1"
            ot-auto-id="DSARWorflowEditButton"
            [loading]="fetchingWorkflowDetails"
            [innerText]="'Edit' | otTranslate"
            (click)="editWorkflow()">
        </button>
        <button otButton brand
            *ngIf="draftMode"
            class="padding-right-1"
            ot-auto-id="DSARWorflowActivateButton"
            [innerText]="'Activate' | otTranslate"
            [disabled]="hasErrors || saveInProgress || activateInProgress"
            [loading]="activateInProgress"
            (click)="saveWorkflow(true)">
        </button>
        <button otButton neutral
            *ngIf="draftMode"
            class="padding-right-1"
            ot-auto-id="DSARWorflowSaveButton"
            [innerText]="'Save' | otTranslate"
            [disabled]="!workflowDirty || hasErrors || saveInProgress || activateInProgress"
            [loading]="saveInProgress"
            (click)="saveWorkflow(false)">
        </button>
        <ot-context-menu
            *ngIf="dropdownActions.length && !isDefaultWorkflow"
            class="ot-context-menu margin-left-1"
            position="bottom-right"
            [menu]="dropdownActions"
            >
            <i class="ot ot-ellipsis-h"></i>
            <a *otContextMenuItem="let item"
                (click)="onItemClick(item)"
                >
                {{ item.text | otTranslate }}
            </a>
        </ot-context-menu>
    </ot-page-header>
    <div class="background-white">
        <ot-tabs
            *ngIf="showWorkFlowSettingsTab"
            [tabs]="tabOptions"
            [selectedTab]="currentTab"
            >
            <a *otTabItem="let tab"
                [attr.ot-auto-id]="tab.otAutoId"
                (click)="tabChanged(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
    </div>
    <div class="border-bottom-2 background-grey padding-top-bottom-1"
        *ngIf="currentTab === templateTabOptions.Workflow || !showWorkFlowSettingsTab">
        <div otFormElement
            class="padding-left-right-2 row-vertical-center"
            [label]="'Language' | otTranslate"
            >
            <ot-picklist
                class="min-width-25"
                ot-auto-id="DSARLanguageChange"
                labelKey="Name"
                valueKey="Code"
                [disabled]="!ready"
                [options]="languageList"
                [model]="selectedLanguage"
                (onSelect)="selectLanguage($event)"
            ></ot-picklist>
        </div>
    </div>
    <div
        *ngIf="ready && workflowList.length && currentTab === templateTabOptions.Workflow"
        class="flex-full-height height-100 overflow-y-auto background-white">
        <dsar-edit-workflow
            [workflowList]="workflowList"
            [selectedIndex]="selectedWorkflowItemIndex"
            [draftMode]="draftMode"
            [workflowDirty]="workflowDirty"
            [isDefaultWorkflow]="dsarSettingsService.isDefaultWorkflow"
            (actionCallback)="handleAction($event)"
        ></dsar-edit-workflow>
        <dsar-workflow-sub-tasks
            *ngIf="showWorkflowSubtask"
            [selectedIndex]="selectedWorkflowItemIndex"
            [workflowList]="workflowList"
            [updateSubtask]="updateSubtask"
            [enableAddSubtask]="enableAddSubtask"
            [draftMode]="draftMode"
        ></dsar-workflow-sub-tasks>
    </div>
    <div
        *ngIf="ready &&
            workflowList.length &&
            currentTab === templateTabOptions.Details"
            class="overflow-auto"
    >
        <div class="align-center padding-all-2">
            <dsar-workflow-settings
                [workFlowId]= "workflowId"
                [isEditMode]="!dsarSettingsService.draftMode && !dsarSettingsService.isDefaultWorkflow"
                [isWorkFlowLevel]= "true"
                [enableLoading]="true"
                [workflowName]="workflowName"
                (changeWorkflowName)="changeWorkflowName($event)"
                (editEvent)= "getWorkFlowSettings($event)"
                (updateSettings)="updateSettings($event)"
            ></dsar-workflow-settings>
        </div>
    </div>
    <div *ngIf="ready && !workflowList.length">
        <ot-empty-state [emptyStateMessage]="'NoCustomWorkflows' | otTranslate"></ot-empty-state>
    </div>
</section>
