.workflowDetailHeader {
    .one-nav-header__item-name{
        width: auto;
        max-width: 70rem;
        height:auto;
        max-height: 2rem;
        display: inline-block;
        overflow: auto;
        word-break: break-all;
        white-space: normal;
        vertical-align: middle;
    }
    .ot-pencil-square-o {
        vertical-align: middle;
    }
}
