<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitleKey | otTranslate"
    [identifier]="'CookieConsentPolicyDetailModalCloseButton'"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="consentPolicydetail"
    >
         <!-- consent policy name -->
        <div
            otFormElement
            [label]="'PolicyName' | otTranslate"
            [required]="true"
            [hasError]="!consentPolicydetail.get('name').valid && consentPolicydetail.get('name').dirty"
        >
            <input
                otInput
                class="full-width"
                name="name"
                ot-auto-id="cookieConsentPolicyNameInput"
                [formControlName]="'name'"
                [placeholder]="'PolicyNameHere' | otTranslate"
            />
        </div>
        <!-- consent policy org-->
        <div
            otFormElement
            class="margin-top-2"
            [label]="'Organization' | otTranslate"
            [required]="true"
            [hasError]="!consentPolicydetail.get('org').valid && consentPolicydetail.get('org').dirty"
        >
            <ot-picklist
                ot-auto-id="CookieconsentPolicyOrgSelection"
                [placeholder]="'SelectOrganization' | otTranslate"
                [autoClose]="true"
                [options]="orgGroupList"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                [valueKey]="'Id'"
                [labelKey]="'Name'"
                [model]="consentPolicydetail.get('org').value"
                (onSelect)="consentPolicydetail.get('org').setValue($event)"
            ></ot-picklist>
        </div>
        <!-- consent policy description -->
        <div
            otFormElement
            class="margin-top-2"
            [label]="'Description' | otTranslate"
        >
            <textarea
                otTextarea
                class="full-width"
                name="description"
                ot-auto-id="CookieConsentPolicyDescriptionInput"
                [formControlName]="'description'"
                [placeholder]="'MoreInformationHere' | otTranslate"
            ></textarea>
        </div>
        <footer class="row-flex-end static-horizontal margin-top-1 padding-top-1">
            <button
                otButton
                class="margin-right-2"
                ot-auto-id="CookieConsentPolicyDetailModalCancelButton"
                [innerText]="'Cancel' | otTranslate"
                [disabled]="saveInProgress"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="CookieConsentPolicyDetailModalSubmitButton"
                [innerText]="isEditMode ? ('Save' | otTranslate) : ('Create' | otTranslate)"
                [disabled]="!consentPolicydetail.valid || saveInProgress"
                [loading]="saveInProgress"
                (click)="onSubmitConsentPolicy()"
            ></button>
        </footer>
    </form>
</one-modal-base>
