.inventory-attachments {

    &__header,
    &__header-wrapper {
        min-height: 5rem;
    }

    &__footer {
        min-height: 5rem;
    }
    
    &__loading {
        min-height: 24rem;
    }

}