<div class="inventory-attachments flex-full-height">
    <div class="inventory-attachments__header-wrapper margin-bottom-auto border-top"
        *ngIf="canShowHeaderFooter"
    >
        <ot-page-header
            type="base"
            class="background-white"
            [title]="'SupportingDocuments'| otTranslate"
        >
            <button
                class="margin-left-auto"
                otButton
                neutral
                ot-auto-id="InventoryNewDocumentButton"
                [disabled]="isAddDocumentDisable"
                (click)="addDocument()"
                >
                {{"AddDocument" | otTranslate}}
            </button>
        </ot-page-header>
    </div>
    <div class="position-relative max-width-full flex-full-height">
        <div
            class="overflow-x-auto"
            >
            <ot-empty-state
                *ngIf="!rows || !rows.length; else showTable"
                [emptyStateMessage]="'NoRecordsFound' | otTranslate"
                class="flex-full-height justify-center text-center padding-top-bottom-1"
            >
                <img emptyStateImg />
                <button otButton brand
                    empty-state-content
                    *ngIf="permissions.canCreateAttachments"
                    class="margin-top-1"
                    ot-auto-id="StartNewDocumentButtonFromTable"
                    (click)="addDocument()"
                >{{'AddDocument' | otTranslate}}</button>
            </ot-empty-state>
            <ng-template #showTable>
                <table
                    class="inventory-table-new full-width border-top-none"
                    otDataTable
                    [rowData]="rows"
                    [rowBordered]="bordered"
                    >

                    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                        <ot-data-table-column>
                            <ng-template otDataTableHeader>
                                <div
                                    class="slds-th__action max-25"
                                    [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                                    [title]="col.labelKey | otTranslate">
                                    <span class="slds-truncate text-bold"> {{col.labelKey | otTranslate}} </span>
                                </div>
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                let-row="row"
                                tdClass="max-25"
                                >
                                <ng-container *ngIf="col.type === cellTypes.date">
                                    <div class="slds-truncate text-center">
                                        <upgraded-one-date [dateToFormat]="row[col.rowTextKey]"></upgraded-one-date>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="col.type === cellTypes.text">
                                    <div
                                        class="slds-truncate"
                                        [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                        [title]="row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]"
                                        >
                                        {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey]  | otTranslate) : row[col.rowTextKey]}}
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>

                    <ot-data-table-column>
                        <ng-template
                            otDataTableHeader
                            [thStyle]="{'min-width': '4rem'}"
                            >
                            <div></div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            tdClass="actions-table__context-spacer"
                            [tdStyle]="{'min-width': '4rem'}"
                            >
                            <div></div>
                        </ng-template>
                    </ot-data-table-column>

                    <ot-data-table-column *ngIf="permissions.canDeleteAttachments || permissions.canDownloadAttachments">
                        <ng-template
                            otDataTableHeader
                            thClass="float-col"
                            >
                            <div></div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            tdClass="float-col actions-table__context-spacer"
                            let-row="row"
                            >
                            <div class="flex height-100 align-center justify-center">
                                <ot-context-menu
                                    [attr.ot-auto-id]="'InventoryAttachmentRow'+columnIndex+'ContextMenu'"
                                    [type]="2"
                                    [menu]="rowActions"
                                    [position]="menuPosition"
                                    (click)="getActions($event)"
                                    >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a
                                        *otContextMenuItem="let item"
                                        [attr.ot-auto-id]="createOtAutoId(item.text)+'ContextMenuButton'"
                                        (click)="item.action(row)"
                                        >
                                        <span class="text-left">
                                            {{ item.text }}
                                        </span>
                                    </a>
                                </ot-context-menu>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </table>
                <footer
                    *ngIf="attachmentList.totalElements > configDocument.defaultSize"
                    otPaginationFooter
                    class="space-between"
                >
                    <div>
                        <ot-pagination
                            *ngIf="!showViewMore"
                            [currentPage]="attachmentList.number"
                            [numPages]="attachmentList.totalPages"
                            [handleOffset]="true"
                            (pageChanged)="getPageData($event)"
                        ></ot-pagination>
                        <span *ngIf="!showViewMore">
                            {{ attachmentList | otPageMeta }}
                        </span>
                    </div>
                    <button
                        class="margin-left-auto"
                        otButton
                        neutral
                        ot-auto-id="InventoryAttachmentViewMoreLessButton"
                        (click)="showViewMore ? onViewMoreButtonClicked() : onViewLessButtonCLicked()"
                        >
                        {{showViewMore ? ("ViewMore" | otTranslate) : ("ViewLess" | otTranslate)}}
                    </button>
                </footer>
            </ng-template>
        </div>
    </div>
</div>
