<div class="request-history__header centered-max-100 width-100-percent row-vertical-center padding-left-right-2 background-grey shadow2-left-right min-height-5">
    <button
        otButton
        neutral
        [icon]="orderIcon"
        ot-auto-id="DSARHistoryToggleAscendingDescending"
        (click)="toggleOrder()">
    </button>
    <button
        otButton
        neutral
        ot-auto-id="DSARHistoryToggleExpand"
        (click)="toggleExpand()">
        {{ allItemsExpanded ? ("CollapseAll" | otTranslate) : ("ExpandAll" | otTranslate) }}
    </button>
</div>
<div class="centered-max-100 background-white shadow2 stretch-vertical width-100-percent overflow-y-auto">
    <ot-loading
        *ngIf="isLoading"
        class="margin-top-bottom-2">
    </ot-loading>
    <div class="request-history__content padding-all-2">
        <ot-activity-timeline>
            <ot-activity-timeline-item
                *ngFor="let activity of activitiesInView$ | async"
                class="request-history__timeline"
                [activity]="activity"
                [isExpanded]="expandedItemMap[activity.id]"
                [icon]="activity.icon"
                [iconColor]="activity.iconColor"
                [iconBackgroundColor]="activity.iconBackgroundColor"
                (toggle)="toggleActivity(activity.id)"
                >
                <div *ngIf="activity?.description">
                   {{activity.description}}
                </div>
                <ul
                    class="row-wrap-space-between padding-bottom-1 border-bottom margin-top-1"
                    *ngFor="let change of activity.changes; let i = index"
                    >
                    <li class="flex-full-33">
                        <span class="block text-small text-bold padding-bottom-half">{{ "FieldName" | otTranslate }}</span>
                        <span class="block text-small">{{ change.fieldName }}</span>
                    </li>
                    <li class="flex-full-33">
                        <span class="block text-small text-bold padding-bottom-half">{{ "OldValue" | otTranslate }}</span>
                        <span class="block text-small">{{ change.oldValue ? change.oldValue.name : "" }}</span>
                    </li>
                    <li class="flex-full-33">
                        <span class="block text-small text-bold padding-bottom-half">{{ "NewValue" | otTranslate }}</span>
                        <span class="block text-small">{{ change.newValue ? change.newValue.name : "" }}</span>
                    </li>
                </ul>
            </ot-activity-timeline-item>
        </ot-activity-timeline>
        <ot-loading
            *ngIf="loadingEnabled">
        </ot-loading>
    </div>
    <div
        *ngIf="(currentItemCount < totalHistoryItems) && !isLoading"
        class="request-history__footer row-vertical-center margin-left-right-2 border-top min-height-5"
        >
        <button
            otButton
            neutral
            class="margin-0-auto"
            ot-auto-id="DSARHistoryToggleExpand"
            (click)="addMoreElements()"
            >
            {{ "ViewMore" | otTranslate }}
        </button>
    </div>
</div>
