.request-history {
    &__content {
        h3 {
            margin: 0;
            line-height: inherit;
        }

        button {
            height: 1.5rem;
        }
    }

    &__timeline {
        ul:first-child {
            margin-top: 0;
        }

        ul:last-child {
            border-bottom: none;
        }
    }
}
