<ot-loading otPageLoading
    *ngIf="isLoadingRiskRangeData; else showRiskRangeSlider"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<ng-template #showRiskRangeSlider>
    <div class="sum-of-risks-page column-nowrap margin-bottom-4"
        [formGroup]="sumOfRisksFormulaForm"
        >
        <p class="text-bold padding-top-bottom-1">{{ 'SumOfRisks' | otTranslate}}</p>
        <p class="padding-bottom-1"><span>{{ riskSettingsTranslationKeys.MethodSumOfRisksDescription | otTranslate}}</span></p>
        <div class="flex-row row-nowrap height-10 padding-left-right-1 padding-top-5 padding-bottom-1">
            <div class="padding-right-1 text-bold text-large">0</div>
            <ot-slider #SumOfRiskSlider
                class="stretch-horizontal sum-of-risks-page__range-slider"
                [action]="sliderAction"
                [config]="config"
                [connectedBarColors]="connectedBarColors"
                [handleColors]="handleColors"
                [disabled]="isSliderDisabled"
                [disabledOpacity]="disabledOpacity"
            ></ot-slider>
            <div class="padding-left-1 text-bold text-xlarge">∞</div>
        </div>
        <div class="row-nowrap flex-full-width row-space-between">
            <div class="row-nowrap flex-full-width">
                <div otFormElement
                    class="padding-right-4 align-self-end"
                    [label]="'LowRiskLowerBound' | otTranslate"
                    [hasError]="sumOfRisksFormulaForm.get('lowRiskLowerBound').invalid  || sumOfRisksFormulaForm.errors?.lowRiskLowerBoundInvalid"
                    >
                    <input otInput
                        type="number"
                        class="margin-top-half"
                        attr.ot-auto-id="SumOfRisksScoringMethodlowRiskLowerBoundInput"
                        formControlName="lowRiskLowerBound"
                        [placeholder]="'LowRiskLowerBound' | otTranslate"
                        [min]="0"
                        >
                </div>
            </div>
            <div class="row-nowrap flex-full-width">
                <div class="sum-of-risks-page__risk-level align-self-end">
                    <div
                        class="sum-of-risks-page__risk-level-flag border-round margin-auto"
                        [ngStyle]="{'background-color': riskV2Levels.LOW | otRiskColor }"
                        >
                        <i class="ot ot-flag color-white media-middle"></i>
                    </div>
                </div>
                <div otFormElement
                    class="padding-right-4 align-self-end"
                    [label]="'LowRiskUpperBound' | otTranslate"
                    [hasError]="sumOfRisksFormulaForm.get('lowRiskUpperBound').invalid  || sumOfRisksFormulaForm.errors?.lowRiskUpperBoundInvalid"
                    >
                    <input otInput
                        type="number"
                        class="margin-top-half"
                        attr.ot-auto-id="SumOfRisksScoringMethodLowRiskUpperBoundInput"
                        formControlName="lowRiskUpperBound"
                        [placeholder]="'LowRiskUpperBound' | otTranslate"
                        [min]="1"
                        >
                </div>
            </div>
            <div class="row-nowrap flex-full-width">
                <div class="sum-of-risks-page__risk-level align-self-end">
                    <div
                        class="sum-of-risks-page__risk-level-flag border-round margin-auto"
                        [ngStyle]="{'background-color': riskV2Levels.MEDIUM | otRiskColor }"
                        >
                        <i class="ot ot-flag color-white media-middle"></i>
                    </div>
                </div>
                <div otFormElement
                    class="padding-right-4 align-self-end"
                    [label]="'MediumRiskUpperBound' | otTranslate"
                    [hasError]="sumOfRisksFormulaForm.get('mediumRiskUpperBound').invalid || sumOfRisksFormulaForm.errors?.mediumRiskUpperBoundInvalid"
                    >
                    <input otInput
                        type="number"
                        class="margin-top-half"
                        attr.ot-auto-id="SumOfRisksScoringMethodMediumRiskUpperBoundInput"
                        formControlName="mediumRiskUpperBound"
                        [placeholder]="'MediumRiskUpperBound' | otTranslate"
                        [min]="1"
                        >
                </div>
            </div>
            <div class="row-nowrap flex-full-width">
                <div class="sum-of-risks-page__risk-level align-self-end">
                    <div
                        class="sum-of-risks-page__risk-level-flag border-round margin-auto"
                        [ngStyle]="{'background-color': riskV2Levels.HIGH | otRiskColor }"
                        >
                        <i class="ot ot-flag color-white media-middle"></i>
                    </div>
                </div>
                <div otFormElement
                    class="padding-right-4 align-self-end"
                    [label]="'HighRiskUpperBound' | otTranslate"
                    [hasError]="sumOfRisksFormulaForm.get('highRiskUpperBound').invalid"
                    >
                    <input otInput
                        type="number"
                        class="margin-top-half"
                        attr.ot-auto-id="SumOfRisksScoringMethodHighRiskUpperBoundInput"
                        formControlName="highRiskUpperBound"
                        [placeholder]="'HighRiskUpperBound' | otTranslate"
                        [min]="1"
                        >
                </div>
            </div>
        </div>
        <ot-notification
            *ngIf="sumOfRisksFormulaForm.errors"
            class="padding-top-2 "
            icon="ot ot-exclamation-circle"
            type="error"
            [allowClose]="false"
            >
            {{ "SumOfRisksInvalidFormulaErrorMessage" | otTranslate }}
        </ot-notification>
        <ot-notification
            *ngIf="sumOfRisksFormulaForm.get('lowRiskLowerBound').invalid
                || sumOfRisksFormulaForm.get('lowRiskUpperBound').invalid
                || sumOfRisksFormulaForm.get('mediumRiskUpperBound').invalid
                || sumOfRisksFormulaForm.get('highRiskUpperBound').invalid"
            class="padding-top-bottom-2 "
            icon="ot ot-exclamation-circle"
            type="error"
            [allowClose]="false"
            >
            {{ "SumOfRisksEmptyInputFieldErrorMessage" | otTranslate }}
        </ot-notification>
    </div>
</ng-template>
