.sum-of-risks-page {
    &__range-slider {

        .noUi-tooltip {
            border: none;
        }

        .noUi-value {
            padding-top: .5rem;
        }
    }

    &__risk-level {
        cursor: default;
        min-width: 4rem !important;
        width: 4rem;
        line-height: 2.3rem;
        height: 3.0rem;
        &-flag {
            padding: 0.3rem 0.6rem 0.4rem 0.8rem;
            width: 2.9rem;
        }
    }
}
