<section
    class="risk-details-form flex-full-height min-width-100-percent overflow-y-auto"
    [ngClass]="{'background-grey': isEditing}"
    >
    <div class="centered-max-80 flex-column full-width">
        <ul class="row-wrap centered-max-100 full-width border-bottom">
            <!--Risk ID-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormRiskIDLabel"
                    [label]="'RiskID' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.number || '- - - -' }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Date Created-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormDateCreatedLabel"
                    [label]="'DateCreated' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.createdUTCDateTime ? (riskDetails.createdUTCDateTime | otDate:'dateTime') : '--/--/----' }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Risk Score / Level-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormRiskScoreLevelLabel"
                    [label]="'RiskLevelOrScore' | otTranslate"
                    >
                    <div
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [ngClass]="{'risk-details-form__div-button': !isEditing && isRiskDetailsEditable}"
                        (click)="toggleOnEditMode(!isEditing && isRiskDetailsEditable)"
                        >
                        <risk-selector
                            ot-auto-id="RiskDetailsFormRiskScoreLevelSelector"
                            [impact]="riskDetails.impactLevel"
                            [probability]="riskDetails.probabilityLevel"
                            [level]="riskDetails.levelId"
                            [score]="riskDetails.riskScore"
                            [disabled]="!isEditing || !isRiskDetailsEditable"
                            [showClickableWhenDisabled]="isRiskDetailsEditable"
                            (onChange)="selectRiskLevel($event)"
                        ></risk-selector>
                        <i
                            class="ot display-none position-absolute top-half right-0"
                            [ngClass]="[(isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'), (isEditing ? '' : 'risk-details-form__icon')]"
                        ></i>
                    </div>
                </div>
            </li>
            <!--Organization-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormOrganizationLabel"
                    [label]="'Organization' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.orgGroup.name }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Type-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsForTypeLabel"
                    [label]="'Type' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.sourceType || '- - - -' }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Source-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormSourceLabel"
                    [label]="'Source' | otTranslate"
                    >
                    <div
                        *ngIf="!riskDetails.viewOnly && ('AssessmentsUrlView' | otPermit); else RiskSourceAsPlainText"
                        class="text-bold row-nowrap"
                        >
                        <a
                            ot-auto-id="RiskDetailsFormRiskSourceRouteLink"
                            (click)="handleSourceClick($event, riskDetails.source.id, riskDetails.source.type)">
                            {{riskDetails.source.name}}
                            <i class="ot risk-details-form__icon ot-external-link"></i>
                        </a>
                    </div>
                    <ng-template #RiskSourceAsPlainText>
                        <span class="word-break">
                            {{ riskDetails.source.name }}
                        </span>
                    </ng-template>
                </div>
            </li>
            <!--Description-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormDescriptionLabel"
                    [label]="'Description' | otTranslate"
                    >
                    <button
                        *ngIf="!isEditing; else riskDescriptionEditing"
                        class="row-space-between-center overflow-y-auto max-height-15 full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="!isRiskDetailsEditable"
                        (click)="toggleOnEditMode(isRiskDetailsEditable)"
                        >
                        <span class="word-break">
                            {{ riskDetails.description || '- - - -' }}
                        </span>
                        <i
                            class="ot display-none position-absolute top-half right-0 risk-details-form__icon"
                            [ngClass]="isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'"
                        ></i>
                    </button>
                    <ng-template #riskDescriptionEditing>
                        <textarea otTextarea
                            class="max-height-15"
                            ot-auto-id="RiskDetailsFormDescriptionTextArea"
                            [required]="true"
                            [ngModel]="riskDetails.description"
                            (ngModelChange)="riskDescriptionChange($event)"
                        ></textarea>
                    </ng-template>
                </div>
            </li>
            <!-- Category -->
            <li *ngIf="'RiskViewCategory' | otPermit"
                class="width-50-percent row-nowrap padding-all-2">
                <div
                    otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormCategoryLabel"
                    [label]="'Category' | otTranslate"
                    >
                    <div
                        class="risk-details-form__category-input risk-details-form__button"
                        (click)="toggleOnEditMode(isRiskDetailsEditable)"
                        >
                        <ot-lookup
                            valueKey="id"
                            labelKey="name"
                            [model]="riskDetails.categories"
                            [multiSelect]="true"
                            [disabled]="!isRiskDetailsEditable || !isEditing"
                            [options]="filteredCategoryOptions"
                            [placeholder]="'Category' | otTranslate"
                            (inputChange)="onCategoryLookupInputChange($event)"
                            (modelChange)="onModelValueChange($event)"
                            >
                        </ot-lookup>
                        <i
                            *ngIf="!isEditing"
                            class="ot display-none position-absolute top-half right-0 risk-details-form__icon"
                            [ngClass]="isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'"
                        ></i>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="row-wrap centered-max-100 full-width">
            <!--Risk Owner-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormRiskOwnerLabel"
                    [label]="'RiskOwner' | otTranslate"
                    >
                    <button
                        *ngIf="!isEditing; else riskOwnerEditing"
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="!isRiskDetailsEditable"
                        (click)="toggleOnEditMode(isRiskDetailsEditable)"
                        >
                        <span class="word-break">
                            {{ riskDetails.riskOwnerId ? riskDetails.riskOwner : '- - - -' }}
                        </span>
                        <i
                            class="ot display-none position-absolute top-half right-0 risk-details-form__icon"
                            [ngClass]="isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'"
                        ></i>
                    </button>
                    <ng-template #riskOwnerEditing>
                        <ot-org-user
                            ot-auto-id="RiskDetailsFormRiskOwnerSelect"
                            placeholder="PleaseSelectOwner"
                            [allowEmail]="true"
                            [fetchOptionsOnClick]="true"
                            [model]="selectedRiskOwner"
                            (onSelect)="handleRiskOwnerChange($event)"
                        ></ot-org-user>
                    </ng-template>
                </div>
            </li>
            <!--Risk Status-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormRiskStatusLabel"
                    [label]="'RiskStatus' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskV2StateTranslationKeys[riskDetails.state] | otTranslate }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Deadline-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormDeadlineLabel"
                    [label]="'Deadline' | otTranslate"
                    >
                    <button
                        *ngIf="!isEditing; else riskDeadlineEditing"
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="!isRiskDetailsEditable"
                        (click)="toggleOnEditMode(isRiskDetailsEditable)"
                        >
                        <span class="word-break">
                            {{ riskDetails.deadline ? (riskDetails.deadline | otDate: 'dateTime' ) : '--/--/----' }}
                        </span>
                        <i
                            class="ot display-none position-absolute top-half right-0 risk-details-form__icon"
                            [ngClass]="isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'"
                        ></i>
                    </button>
                    <ng-template #riskDeadlineEditing>
                        <ot-date-time-picker
                            ot-auto-id="RiskDetailsFormDeadlineDatePicker"
                            [dateDisableUntil]="disableUntilDate"
                            [dateFormat]="dateFormat"
                            [dateTimeModel]="riskDetails.deadline"
                            [datePlaceholder]="'Deadline' | otTranslate"
                            [hoursText]="'Hours' | otTranslate"
                            [is24Hour]="is24Hour"
                            [minutesText]="'Minutes' | otTranslate"
                            (onChange)="onDeadlineChange($event)"
                        ></ot-date-time-picker>
                    </ng-template>
                </div>
            </li>
            <!--Mitigated Date-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormMitigatedDateLabel"
                    [label]="'MitigatedDate' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.mitigatedDate ? (riskDetails.mitigatedDate | otDate:'date') : '--/--/----' }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
            <!--Recommendation-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormRecommendationLabel"
                    [label]="'Recommendation' | otTranslate"
                    >
                    <button
                        *ngIf="!isEditing || !isRecommendationEditable; else riskRecommendationEditing"
                        class="row-space-between-center overflow-y-auto max-height-15 full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="!isRiskDetailsEditable || !isRecommendationEditable"
                        (click)="toggleOnEditMode(isRiskDetailsEditable && isRecommendationEditable)"
                        >
                        <span class="word-break">
                            {{ riskDetails.recommendation ? riskDetails.recommendation : '- - - -' }}
                        </span>
                        <i
                            class="ot display-none position-absolute top-half right-0 risk-details-form__icon"
                            [ngClass]="isRecommendationEditable && isRiskDetailsEditable ? 'ot-edit' : 'ot-lock'"
                        ></i>
                    </button>
                    <ng-template #riskRecommendationEditing>
                        <textarea otTextarea
                            class="max-height-15"
                            ot-auto-id="RiskDetailsFormRecommendationTextArea"
                            [required]="true"
                            [ngModel]="riskDetails.recommendation"
                            (ngModelChange)="setRiskDetailsRecommendation($event)"
                        ></textarea>
                    </ng-template>
                </div>
            </li>
            <!--Justification-->
            <li class="width-50-percent row-nowrap padding-all-2">
                <div otFormElement
                    class="stretch-horizontal"
                    ot-auto-id="RiskDetailsFormJustificationLabel"
                    [label]="'Justification' | otTranslate"
                    >
                    <button
                        class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none risk-details-form__button"
                        ot-auto-id="RiskDetailsFormToggleEdit"
                        [disabled]="true"
                        >
                        <span class="word-break">
                            {{ riskDetails.justification ? riskDetails.justification : '- - - -' }}
                        </span>
                        <i class="ot display-none position-absolute top-half right-0 risk-details-form__icon ot-lock"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
<footer otPageFooter
    *ngIf="isEditing"
    class="background-white z-index-1">
    <button otButton neutral
        ot-auto-id="RisksDetailsFormCancelButton"
        [disabled]="savingRecord"
        (click)="saveCancelled()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        class="margin-left-1"
        ot-auto-id="RiskDetailsFormSaveButton"
        [disabled]="savingRecord"
        [loading]="savingRecord"
        (click)="saveRisk()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</footer>
<ng-template #navigationConfirmModal>
    <ot-modal-header [hideClose]="true" (close)="closeModal()">
        <div>{{ 'SaveChanges' | otTranslate }}</div>
    </ot-modal-header>
    <ot-confirm-modal-icon type="warning"></ot-confirm-modal-icon>
    <ot-modal-content
        class="text-center"
    >{{ "UnsavedChangesSaveBeforeContinuing" | otTranslate }}</ot-modal-content>
    <ot-modal-footer>
        <button otButton
            ot-auto-id="RiskDetailsModalNavigationCancelButton"
            [disabled]="savingRecord"
            (click)="onCancelNavigation()"
        >{{ "Cancel" | otTranslate }}</button>
        <button otButton neutral
            ot-auto-id="RiskDetailsModalDiscardChangesButton"
            [disabled]="savingRecord"
            (click)="onDiscardChanges()"
        >{{ "Discard" | otTranslate }}</button>
        <button otButton brand
            ot-auto-id="RiskDetailsModalSaveAndNavigateButton"
            [disabled]="savingRecord"
            [loading]="savingRecord"
            (click)="saveRisk()"
        >{{ "Save" | otTranslate }}</button>
    </ot-modal-footer>
</ng-template>
