.risk-details-form {

    &__cell {
        min-width: 27rem;
    }

    &__button:hover {

        .risk-details-form__icon {
            display: block;
        }
    }

    &__div-button {
        cursor: pointer;
    }

    &__category-input {
        max-width: 90%;
    }
}
