<section class="add-custom-connector-modal one-modal-new flex-full-height max-height-100-percent width-100-percent">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold">
            {{ "AddConnector" | otTranslate }}
        </h4>
        <button otButton
            (click)='closeModal()'
            class="one-modal-new__close static-horizontal no-outline"
            [attr.ot-auto-id]="'AddCustomConnectorCloseModal'">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <section class="delete-confirmation-modal padding-left-right-2 padding-top-2 flex-full-height">
        <form
            name="CustomConnectorModalForm"
            class="margin-all-0 full-width flex-full-height"
            #pcform="ngForm">
            <section class="flex-full-height overflow-y-auto ms-overflow-scroll margin-left-right-auto margin-top-bottom-1 full-width column-space-between">
                <div class="margin-all-1">
                    <div otFormElement
                        class="margin-bottom-3"
                        [label]="'Name' | otTranslate"
                        [hasError]="!customConnectorModel.name && nameControl.touched"
                        [errorMessage]="'CustomConnectorNameRequired' | otTranslate"
                        [required]="true"
                        ngDefaultControl>
                        <input otInput
                            name="inputValueName"
                            [placeholder]="'EnterName' | otTranslate"
                            [attr.ot-auto-id]="'AddCustomConnectorName'"
                            maxlength="100"
                            [ngModel]="customConnectorModel.name"
                            (ngModelChange)="setProperty('name', $event)"
                            #nameControl="ngModel" />
                    </div>
                    <div otFormElement
                        class="margin-bottom-3"
                        [label]="'Description' | otTranslate"
                        [hasError]="!customConnectorModel.description && descControl.touched"
                        [errorMessage]="'CustomConnectorDescRequired' | otTranslate"
                        [required]="true"
                        ngDefaultControl>
                        <textarea otTextarea
                            name="inputValueDesc"
                            maxlength="200"
                            [placeholder]="'EnterDescription' | otTranslate"
                            [attr.ot-auto-id]="'AddCustomConnectorDescription'"
                            [ngModel]="customConnectorModel.description"
                            (ngModelChange)="setProperty('description', $event)"
                            #descControl="ngModel"
                        ></textarea>
                    </div>
                    <div class="form-element-label-override">{{'CustomIcon' | otTranslate}}</div>
                    <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                        <div otFileDragDrop
                            class="drop-container background-white full-width column-horizontal-vertical-center padding-bottom-1"
                            (filesDropped)="handleFile($event)">
                            <div class="margin-top-2 text-medium-small text-bold">{{'UploadIconDescription' | otTranslate}}</div>
                            <div class="text-medium-small">{{ 'AcceptedFileFormatWording' | otTranslate }}</div>
                            <label class="padding-top-bottom-half margin-bottom-1">
                                <span class="upload-button slds-button slds-button_brand cursor-pointer">
                                    <input otFileSelect
                                        class="full-height"
                                        type="file"
                                        accept=".png, .jpg, .jpeg"
                                        [attr.ot-auto-id]="'AddCustomConnectorIconUpload'"
                                        (filesSelected)="handleFile($event)">
                                        {{'UploadIcon' | otTranslate}}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="slds-m-around_small"
                        *ngIf="invalidFilesFromDrag.length">
                        <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'acceptedIconTypes' | otTranslate}}
                            <ng-container *ngFor="let file of invalidFilesFromDrag">
                                <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="slds-m-around_small"
                        *ngIf="filesFromTooBig.length && !isCurrentFileSizeAccepted">
                        <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'iconFileSizeTooLarge' | otTranslate}}
                            <ng-container *ngFor="let file of filesFromTooBig">
                                <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="slds-m-around_small"
                        *ngIf="filesFromInput.length">
                        <div class="text-bold color-green"><i class="ot ot-check-circle-o" aria-hidden="true"></i> {{'ValidUpload' | otTranslate}}
                            <ng-container *ngFor="let file of filesFromInput">
                                <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="text-right text-xlarge margin-top-1">
                        <i class="ot ot-trash text-pointer"
                            [attr.ot-auto-id]="'clearCurrentIcon'"
                            (click)="clearFiles()"
                        ></i>
                    </div>
                </div>
            </section>
        </form>
        <footer class="row-flex-end margin-top-bottom-2">
            <button otButton
                (click)="closeModal()"
                [innerText]="'Cancel' | otTranslate"
                [attr.ot-auto-id]="'AddCustomConnectorCancelButton'">
            </button>
            <button otButton brand
                (click)="addCustomConnector()"
                [disabled]="!canAdd"
                [loading]="saving"
                [innerText]="'Add' | otTranslate"
                [attr.ot-auto-id]="'AddCustomConnectorCreateButton'">
            </button>
        </footer>
    </section>
</section>
