loading(ng-if="vm.loadingTable", text='{{::$root.t("Inventory")}}')
.module-wrapper.module-wrapper--full(ng-if="!vm.loadingTable")
    inventory-table-old.element-inventory(
        ng-if='vm.ValidTable',
        table-name='{{vm.Table.InventoryTypeName}}',
        table-id='vm.TableId',
        keys='vm.Table.Keys',
        resource-keys='vm.Table.ResourceKeys',
        columns='vm.Table.InventoryColumns',
        rows='vm.Table.Records',
        events='vm.Table.Events',
        permissions='Permissions',
        save-on-leave='vm.Table.Settings.SaveOnLeave',
        default-item='vm.Table.DefaultItem',
        pages='vm.Table.PageMetadata'
        )
    .message(ng-if='!vm.ValidTable')
        | {{::$root.t("TableNotFound")}}
