<section
    *ngIf="elements && elements.length > 0"
    class="full-width"
    >
    <div class="full-width padding-top-1 padding-left-right-2 row-flex-start dashboard-container">
        <div class="dashboard-item stretch-horizontal">
            <h3 class="color-green margin-top-0">
                {{'DataElements' | otTranslate}}
            </h3>
            <table otDataTable
                class="margin-top-2 full-width"
                [rowData]="elements"
                [rowBordered]="true"
                [truncateCellContent]="true"
                >
                <ng-container>
                    <ot-data-table-column
                        *ngFor="let col of columns"
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        >
                        <ng-template otDataTableCell
                            *ngFor="let element of elements"
                            let-row="row"
                            let-column="column"
                            >
                            {{row[col.cellValueKey]}}
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
        </div>
    </div>
</section>