.one-tabs-nav {
    &__item {
        color: $slate;
        outline: none;
        &--active {
            outline: none;
            font-weight: bold;
            &:focus {
                outline: none;
            }
        }

        &--tab-highlight {
            width: 0;
            height: .5rem;
            border-radius: 1.5rem 1.5rem 0 0;
            background-color: $green;
            transition: left 0.6s ease-in-out, width 0.1s ease-in-out;
        }

    }
    &__separator {
        height: 1px;
        background-color: $grey-2;
    }
}



