<cr-filters
    [(isDrawerOpen)]="isDrawerOpen"
    [(textSearch)]="filters.name"
    (onApply)="handleApply()"
    (onClear)="handleClear()"
    (onRefresh)="handleRefresh()"
    (onTextSearch)="handleTextSearch('name', $event, 'ConsentPurposeNameFilter')"
    (onToggle)="toggleDrawer()"
>
    <div otFormElement [label]="'FilterByName' | otTranslate">
        <input otInput
            class="one-input full-width"
            ot-auto-id="PurposeNameFilter"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="filters.name"
            (ngModelChange)="setFilterValue('name', $event)"
            />
    </div>
</cr-filters>