.ssp-template-card {
    &__item {
        width: 21rem;
        min-height: 20rem;
        height: 1px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0), 0 7px 14px 0 rgba(50,50,93,0.1);
    }

    &__icon {
        font-size: 4rem;
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        height: 4rem;
        max-width: 20rem;
    }
}
