<div class="ssp-template-card__item background-white column-horizontal-vertical-center text-center margin-all-2">
    <i
        class="ssp-template-card__icon ot margin-bottom-1"
        [ngClass]="sspTemplateDetails.icon"
    >
    </i>
    <p
        class="ssp-template-card__name text-bold text-medium word-wrap overflow-ellipsis padding-left-right-2"
        [otTooltip]="sspTemplateDetails.name"
    >
        {{sspTemplateDetails.name}}
    </p>
    <span class="cursor-pointer align-self-center">
        <button otButton brand
            [attr.ot-auto-id]="'SspTemplateCardLaunch'"
            [loading]="launchInProgress"
            [disabled]="launchInProgress"
            (click)="launchAssessment()"
        >
            {{"Launch" | otTranslate}}
        </button>
    </span>
</div>
