.edit-workflow {
    &__arrow-box {
        width: 17rem;
        min-width: 17rem;
        height: 3.6rem;
        border-radius: .2rem 0rem 0rem .2rem;
        &:after {
            border-left: 1.3rem solid;
            border-top: 1.6rem solid transparent;
            border-bottom: 2rem solid transparent;
            display: inline-block;
            content: '';
            position: absolute;
            right: -1.3rem;
            top: 0;
        }
        &--active {
            color: $white;
            background-color: $ui-blue;
            &:after {
                color: $ui-blue;
            }
            &:hover {
                background-color: $blue;
            }
            &:hover::after {
                color: $blue;
            }
        }
        &--inactive {
            background-color: $eggshell;
            &:after {
                color: $eggshell;
            }
            &:hover {
                background-color: $grey-2;
            }
            &:hover::after {
                color: $grey-2;
            }
        }
        &--text {
            padding: .8rem 2rem;
        }
    }

    &__add-circle {
        height: 3.6rem;
        width: 3.6rem;
        min-width: 3.6rem;
        border-radius: 50%;
        color: $slate;
        border: solid .1rem $grey-2;
        font-size: 1.8rem;
        line-height: 4rem;
        background-color: $eggshell;
        &:hover {
            background-color: $grey-2;
        }
    }

    &__row {
        max-width: 85.5%;
    }

    &__text-body {
        max-height: 42vh;
        height: 42vh;
    }

    &--select-dropdown {
        width: 12rem;
    }
}
