<div class="padding-top-5
    padding-bottom-1
    margin-left-right-auto
    row-nowrap row-vertical-center
    centered-75-percent">
    <a class="hover-no-underline
        remove-anchor-style
        padding-bottom-2
        padding-right-1"
        (click)="scrollRow(true)">
        <i class="fa fa-chevron-left"></i>
    </a>
    <div id="workflowRow"
        class="edit-workflow__row padding-bottom-2 row-nowrap overflow-x-hidden">
        <div class="row-nowrap"
            *ngFor="let workflowItem of workflowList; let item = index; let last = last">
            <div
                class="edit-workflow__arrow-box text-uppercase margin-right-1 cursor-pointer position-relative"
                [ngClass]="selectedIndex === item ? 'edit-workflow__arrow-box--active' : 'edit-workflow__arrow-box--inactive'"
                (click)="handleAction('UPDATE_SELECTED_INDEX', item)">
                <div class="edit-workflow__arrow-box--text overflow-ellipsis-nowrap">
                    <i *ngIf="workflowItem.canDelete && draftMode"
                        class="fa fa-trash padding-right-half"
                        (click)="handleAction('DELETE_WORKFLOW_ITEM', item)"></i>
                    <span title="{{workflowItem.stage}}">{{workflowItem.stage}}</span>
                </div>
            </div>
            <div
                *ngIf="!last"
                class="edit-workflow__add-circle cursor-pointer row-horizontal-vertical-center margin-left-right-half"
                [ngClass]="{'disabled': !draftMode }"
                (click)="handleAction('ADD_WORKFLOW_ITEM', item)">
                <span class="fa fa-plus"></span>
            </div>
        </div>
    </div>
    <a class="hover-no-underline remove-anchor-style padding-bottom-2 padding-left-1"
        (click)="scrollRow(false)">
        <i class="fa fa-chevron-right"></i>
    </a>
</div>
<div class="edit-workflow__text-body margin-top-1 background-grey row-nowrap">
    <div class="flex-60 padding-top-bottom-2 padding-left-5 padding-right-2 overflow-y-auto">
        <div otFormElement
            class="margin-top-1"
            [label]="'StageTitle' | otTranslate"
            [required]="true">
            <input otInput
                ot-auto-id="DSARWorflowTitleInput"
                [ngClass]="{'border-has-error': !workflowList[selectedIndex].stage}"
                [ngModel]="workflowList[selectedIndex].stage"
                [disabled]="!draftMode"
                (ngModelChange)="saveModal($event)"/>
        </div>
        <div otFormElement
            class="margin-top-bottom-1"
            [label]="'GuidanceText' | otTranslate">
            <ot-rich-text-editor
                *ngIf="draftMode"
                class="block margin-bottom-1 flex-full-height"
                ot-auto-id="DSARWorflowTitleGuidance"
                [contentModel]="workflowList[selectedIndex].guidanceText"
                [contentObservable]="guidanceTextObservable"
                [editorClass]="'request-queue-detail-messaging__quill-editor background-white'"
                [placeholder]="'EnterDescription' | otTranslate"
                (onContentChanged)="handleMessageChange($event.html)"
            ></ot-rich-text-editor>
            <div *ngIf="!draftMode"
                class="ql-editor"
                [innerHtml]="workflowList[selectedIndex].guidanceText">
             </div>
        </div>
    </div>
    <div class="margin-top-bottom-1 border-left"></div>
    <div class="flex-40 padding-top-bottom-2 padding-left-2 padding-right-4 overflow-auto">
        <div otFormElement
            *ngIf="canEditRequestQueueWorkflow"
            class="margin-bottom-2 padding-left-2 row-space-between"
            [label]="'DSARAllowUpdateRequest' | otTranslate">
            <ot-toggle
                ot-auto-id="DSARWorflowUpdateRequest"
                [disabled]="!draftMode"
                [checked]="workflowList[selectedIndex].allowRequestQueueUpdate"
                (toggle)="toggleUpdateRequest()">
            </ot-toggle>
        </div>
        <div otFormElement
            *ngIf="canCustomWorkflowCalculateDeadline"
            class="margin-bottom-2 padding-left-2 row-space-between"
            [label]="'DSARSetDeadlineStartStage' | otTranslate">
            <ot-toggle
                ot-auto-id="DSARWorflowSetDeadline"
                [disabled]="!draftMode || workflowList[selectedIndex].beginDeadlineCalc"
                [checked]="workflowList[selectedIndex].beginDeadlineCalc"
                (toggle)="toggleStageDeadline()">
            </ot-toggle>
        </div>
        <div otFormElement
            *ngIf="canCustomWorkflowEditDeadline"
            class="margin-bottom-2 padding-left-2 row-space-between"
            [label]="'DSAREditDeadlineStage' | otTranslate">
            <ot-toggle
                ot-auto-id="DSARWorflowEditDeadline"
                [disabled]="!draftMode"
                [checked]="workflowList[selectedIndex].allowDeadlineEdit"
                (toggle)="toggleEditDeadlineAtStage()">
            </ot-toggle>
        </div>
    </div>
</div>