<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ShowGuidance' | translate"
    [identifier]="'GlobalReadinessShowGuidanceModalCloseButton'"
    (close)="closeModal()"
>
    <!-- body -->
    <ot-loading
        *ngIf="isLoadingGuidance; else guidanceInfo"
        class="padding-left-right-3 padding-top-bottom-1 flex-full-height row-horizontal-vertical-center"
    ></ot-loading>
    <ng-template #guidanceInfo>
        <div class="padding-all-2">
            <div
                otFormElement
                [label]="'Law' | translate"
                [required]="true">
            </div>

            <div class="margin-top-bottom-1" otFormElement>
                <ot-picklist
                    [autoClose]="true"
                    [options]="lawList"
                    [model]="selectedLaw"
                    (onSelect)="selectOption($event)"
                ></ot-picklist>
            </div>

            <div
                class="overflow-y-auto margin-top-bottom-half max-height-30 min-height-20"
                [innerHTML]="lawDetails"
            >
            </div>

            <footer class="margin-top-half static-vertical padding-top-1 padding-right-0 row-horizontal-center">
                <button
                    otButton
                    brand
                    class="margin-right-1 border-none"
                    ot-auto-id="GRAShowGuidanceModalCancelButton"
                    [innerText]="'Cancel' | translate"
                    (click)="closeModal()"
                ></button>
            </footer>
        </div>
    </ng-template>
</one-modal-base>
