<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalData.modalTitle"
    [identifier]="'EditTemplateSectionCloseButton'"
    (close)="closeModal()"
>
    <!-- Modal Content here -->
    <form
        class="edit-template-section-modal padding-all-2"
        name="editSectionForm"
        #editSectionForm="ngForm"
        [attr.ot-auto-id]="'TemplateSectionEditModalForm'"
    >
        <div otFormElement
            class="margin-top-1"
            [label]="'SectionName' | otTranslate"
            [required]="true"
            [hasError]="nameControl.errors && nameControl.dirty"
            [errorMessage]="'ErrorEnterSectionName' | otTranslate"
        >
            <input otInput
                name="name"
                required
                class="form-control one-input"
                autofocus="true"
                [maxlength]="1000"
                [attr.ot-auto-id]="'TemplateSectionEditModalNameTextBox'"
                [ngModel]="modalData.sectionName"
                (keypress)="onKeyPress($event)"
                (ngModelChange)="valuechange($event)"
                #nameControl="ngModel"
            />
        </div>
        <footer class="margin-top-half row-flex-end static-vertical padding-top-1 padding-right-0">
            <button
                otButton
                neutral
                class="margin-right-1 border-none"
                [attr.ot-auto-id]="'TemplateSectionEditModalCancelButton'"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
            >
            </button>
            <ng-container *ngIf="!modalData.sectionId">
                <button
                    otButton
                    neutral
                    class="margin-right-1"
                    [attr.ot-auto-id]="'TemplateSectionEditModalSaveAndAddNewButton'"
                    [innerText]="'SaveAndAddNew' | otTranslate"
                    [disabled]="nameControl.invalid || !nameControl.value?.trim() || saveInProgress || savaAndAddInProgress"
                    [loading]="savaAndAddInProgress"
                    (click)="addSection(true)"
                >
                </button>
            </ng-container>
            <button
                otButton
                brand
                class="margin-right-1"
                [attr.ot-auto-id]="'TemplateSectionEditModalSaveButton'"
                [innerText]="modalData.sectionId ? ('Save' | otTranslate):('AddSection' | otTranslate)"
                [disabled]="nameControl.invalid || !nameControl.value?.trim() || savaAndAddInProgress || saveInProgress"
                [loading]="saveInProgress"
                (click)="onSaveSection()"
            >
            </button>
        </footer>
    </form>
</one-modal-base>
