<section
    *ngIf="attributeGroupsActionService.attributeGroupsView$ | async as view"
    class="centered-max-100 full-size padding-left-right-2 padding-bottom-1"
    >
    <ng-container *ngIf="attributeGroupsActionService.attributeGroupsState$ | async as state">
        <ng-container *ngFor="let group of view.groups; trackBy: trackByIndex; let index = index; let first = first; let last = last;">
            <ng-container *ngIf="!last">
                <section class="margin-bottom-3">
                    <list-group-container
                        [text]="group.name"
                        [isOpen]="state.openGroupMap[group.id]"
                        [toggleEnabled]="!state.isSaving"
                        (toggled)="attributeGroupsActionService.toggleGroup(group)"
                        >
                        <ng-template #headerActions>
                            <i
                            class="ot ot-edit cursor-pointer margin-right-2"
                            ot-auto-id="AttributeGroupsEditGroup"
                            [ngClass]="{'pointer-events-none': state.isSaving}"
                            (click)="openGroupModal(group)"
                            >
                            </i>
                            <i
                                class="ot ot-translation cursor-pointer margin-right-2"
                                *ngIf="group.nameKey && ('LocalizationEditor' | otPermit) && ('LocalizationEditorEdit' | otPermit)"
                                ot-auto-id="AttributeGroupsEditGroupTranslation"
                                [ngClass]="{'pointer-events-none': state.isSaving}"
                                (click)="openTranslationModal(group)"
                                >
                            </i>
                            <i
                                class="ot ot-trash cursor-pointer margin-right-2"
                                ot-auto-id="AttributeGroupsDeleteGroup"
                                [ngClass]="{'pointer-events-none': state.isSaving}"
                                (click)="deleteGroup(group)"
                                >
                            </i>
                            <i
                                class="fa fa-arrow-up cursor-pointer margin-right-2"
                                *ngIf="!first"
                                ot-auto-id="AttributeGroupsDeleteGroup"
                                [ngClass]="{'pointer-events-none': state.isSaving}"
                                (click)="moveGroup(group.id, view.groups[index - 2] ?  view.groups[index - 2].id : null)"
                                >
                            </i>
                            <i
                                class="fa fa-arrow-down cursor-pointer margin-right-2"
                                *ngIf="index !== view.groups.length - 2"
                                ot-auto-id="AttributeGroupsDeleteGroup"
                                [ngClass]="{'pointer-events-none': state.isSaving}"
                                (click)="moveGroup(group.id, view.groups[index + 1].id)"
                                >
                            </i>
                        </ng-template>
                        <ng-template #groupContent>
                            <list-group-items
                                [items]="group.attributes | filterBy:isAttributeInMap"
                                [getItemLabel]="getAttributeLabel"
                                >
                            </list-group-items>
                            <list-group-add
                                [text]="'ManageAttributes' | otTranslate"
                                otAutoId="AttributeGroupsManageAttributesButton"
                                (handleClick)="openManageAttributesModal(group)"
                                >
                            </list-group-add>
                        </ng-template>
                    </list-group-container>
                </section>
            </ng-container>
        </ng-container>
    </ng-container>
    <list-group-add
        [text]="'AddGroup' | otTranslate"
        otAutoId="AttributeGroupsBuilderAddGroup"
        (handleClick)="addGroup()"
        >
    </list-group-add>
</section>
