.dm-asset-location-card {

    &__map {
        flex: 1 1 auto;
        min-height: 1px;
    }

    &__sidebar {
        padding: 2rem 2rem 0 2rem;
        display: flex;
        flex: 0 1 30rem;
        flex-flow: column nowrap;

        &-title {
            margin-bottom: 2rem;
            font-style: italic;
            font-size: 2rem;
        }
    }

    &__filter-container{
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        min-height: 1px;
    }

    &__filter {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column nowrap;
    }

    &__unknown {

        &--icon {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
}
