<ot-loading
    otPageLoading
    class="position-relative full-size-min-height background-white"
    *ngIf="!assetsReady"
     [text]="'AssetLocations' | otTranslate"
></ot-loading>
<dm-global-asset-map
    *ngIf="assetsReady"
    class="dm-asset-location-card__map"
    [mapData]="assetLocations"
    (locationClick)="goToFilteredInventory($event)"
></dm-global-asset-map>
<div *ngIf="assetsReady" class="dm-asset-location-card__sidebar height-100 background-white">
    <label class="dm-asset-location-card__sidebar-title">{{'Filters' | otTranslate}}</label>
    <div class="dm-asset-location-card__filter-container">
        <div
            otFormElement
            class="dm-asset-location-card__filter"
            *ngIf="hasSubOrgs"
            [label]="'OrganizationGroup' | otTranslate"
            >
            <org-select
                [identifier]="'AssetMapBtnOrganization'"
                [describedBy]="'AssetMapBtnOrganization'"
                [model]="currentOrgId"
                [hideClearAction]="true"
                [triggerButton]="true"
                (onSelect)="applyOrgFilter($event)"
            ></org-select>
        </div>
        <div class="dm-asset-location-card__filter">
            <label>{{filterToggles.name}}</label>
            <ng-container *ngFor="let value of filterToggles.values; let index = index;">
                <switch-toggle
                    [identifier]="'DMAssetLocationCardFilterToggle_' + index"
                    [label]="value.name"
                    [switchClass]="'padding-top-bottom-half'"
                    [toggleState]="value.toggleState"
                    (callback)="toggleSwitch(filterToggles, value)"
                ></switch-toggle>
            </ng-container>
        </div>
    </div>
    <div
        class="dm-asset-location-card__unknown row-vertical-center margin-bottom-2"
        *ngIf="globalLocations"
        >
        <div class="margin-right-1">
            <button
                otButton
                brand
                class="dm-asset-location-card__unknown--icon"
                icon="fa fa-globe"
                ot-auto-id="globalAssetLocations"
                (click)="goToFilteredInventory('', 'Global')"
                >
            </button>
        </div>
        <div class="text-bold" [innerHTML]="globalLocationsText"></div>
    </div>
    <div class="dm-asset-location-card__unknown row-vertical-center margin-bottom-2" *ngIf="unknownLocations">
        <div class="margin-right-1">
            <button
                otButton
                destructive
                class="dm-asset-location-card__unknown--icon"
                icon="fa fa-question-circle"
                ot-auto-id="unknownAssetLocations"
                (click)="goToFilteredInventory('', 'Unknown')">
            </button>
        </div>
        <div class="text-bold" [innerHTML]="unknownLocationsText"></div>
    </div>
</div>