.preferences-change-password {
    &__form {
        .slds-input {
            width: 90%;
        }
        .show-password-btn {
            border-radius: 0em / 5em !important;
            border-left: transparent;
            top: -1px;
        }
    }
}
