<section class="preferences-change-password full-size column-nowrap overflow-hidden">
    <ot-page-header type="clear" [title]="'ChangePassword' | translate"></ot-page-header>
    <div class="overflow-auto stretch-vertical background-white padding-bottom-2">
        <p class="text-center text-bold text-medium">{{this.currentUser.Email}}</p>
        <form
            novalidate
            class="preferences-change-password__form padding-top-2 centered-max-50"
            [formGroup]="changePasswordForm"
        >
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'CurrentPassword'| translate"
                [required]="true"
            >
                <input otInput
                    ot-auto-id="ChangePasswordInput"
                    [type]="type1"
                    [formControlName]="'currentPassword'"
                    [placeholder]="'EnterYourCurrentPassword'| translate"
                />
                <button
                    otButton neutral
                    class="show-password-btn"
                    icon="ot ot-eye"
                    (mouseenter)="type1='text'"
                    (mouseleave)="type1='password'"
                ></button>
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'NewPassword'| translate"
                [required]="true"
            >
                <input otInput
                    ot-auto-id="ChangePasswordInput"
                    [type]="type2"
                    [formControlName]="'newPassword'"
                    [placeholder]="'EnterNewPassword'| translate"
                    (keydown.space)="$event.preventDefault()"
                    (paste)="$event.preventDefault()"
                />
                <button
                    otButton neutral
                    class="show-password-btn"
                    icon="ot ot-eye"
                    (mouseenter)="type2='text'"
                    (mouseleave)="type2='password'"
                ></button>
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'ConfirmPassword'| translate"
                [required]="true"
            >
                <input otInput
                    ot-auto-id="ChangePasswordInput"
                    [type]="type3"
                    [formControlName]="'confirmPassword'"
                    [placeholder]="'ConfirmNewPassword'| translate"
                    (keydown.space)="$event.preventDefault()"
                    (paste)="$event.preventDefault()"
                />
                <button
                    otButton neutral
                    class="show-password-btn"
                    icon="ot ot-eye"
                    (mouseenter)="type3='text'"
                    (mouseleave)="type3='password'"
                ></button>
            </div>
            <div class="errors">
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.isUppercase; else isUppercase"></i>
                    <ng-template #isUppercase>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'OneUppercaseCharacter' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.required && !changePasswordForm.controls.newPassword.errors?.isLowercase; else isLowercase"></i>
                    <ng-template #isLowercase>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'OneLowercaseCharacter' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.isNumber; else notANumber"></i>
                    <ng-template #notANumber>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'OneNumber' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.required && !changePasswordForm.controls.newPassword.errors?.minlength; else minLength"></i>
                    <ng-template #minLength>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'PasswordEightCharactersLong' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.confirmPassword.errors?.mismatch; else misMatch"></i>
                    <ng-template #misMatch>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'PasswordsMustMatch' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.isEmailPassword; else isEmailPassword"></i>
                    <ng-template #isEmailPassword>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'PasswordMustBeDifferentThanEmail' | translate}}
                </p>
                <p>
                    <i class="ot ot-check text-success" *ngIf="!changePasswordForm.controls.newPassword.errors?.hasSpecialChar; else hasSpecialChar"></i>
                    <ng-template #hasSpecialChar>
                        <i class="ot ot-exclamation-circle text-danger"></i>
                    </ng-template>
                    {{'PasswordMustContainOneSpecialChar' | translate}}
                </p>
            </div>
        </form>
    </div>
    <footer otPageFooter>
        <button
            otButton
            brand
            ot-auto-id="RenamePasswordSubmitButton"
            [disabled]="changePasswordForm.invalid"
            (click)="renameSubmitPassword()"
            >{{ 'Submit' | translate }}
        </button>
    </footer>
</section>
