<upgraded-loading
    *ngIf="isLoading"
    class="padding-all-1 flex-full-height"
    [text]="loading"
>
</upgraded-loading>
<one-modal-base
    *ngIf="!isLoading"
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
>
    <section class="one-modal-new flex-full-height width-100-percent">
        <div class="padding-left-right-4 padding-bottom-2 padding-top-3 flex-full-height">
            <form
                name="previewEmailTemplate"
                class="width-100-percent max-width-full margin-none flex-full-height"
            >
                <div
                    otFormElement
                    [label]="'Email' | translate"
                    [required]="true"
                >
                    <input otInput required
                        ot-auto-id="SettingsTestEmailModalEmailInput"
                        name="templateName"
                        type="email"
                        [placeholder]="'Email' | translate"
                        [ngModel]="templateName"
                        (ngModelChange)="setEmail($event)"
                    />
                </div>
                <div
                    *ngIf="languageId"
                    otFormElement
                    class="margin-top-3"
                    [label]="'Language' | translate"
                    [required]="true"
                >
                    <ot-picklist
                        ot-auto-id="SettingsTestEmailModalLanguageInput"
                        class="column-nowrap full-size"
                        [autoClose]="true"
                        [options]="languages"
                        [valueKey]="'Id'"
                        [labelKey]="'Name'"
                        [model]="selectedLanguage"
                        [noOptionsText]="'NoOptionsAvailable' | translate"
                        (onSelect)="onEmailLanguageChange($event)">
                    </ot-picklist>
                </div>
            </form>
            <footer class="row-flex-end static-horizontal margin-top-auto padding-top-3">
                <div>
                    <button
                        otButton neutral
                        ot-auto-id="SettingsTestEmailModalCancelButton"
                        class="margin-right-1 border-none"
                        [innerText]="'Cancel' | otTranslate"
                        (click)="closeModal()"
                    >
                    </button>
                </div>
                <div>
                    <button
                        otButton brand
                        ot-auto-id="SettingsTestEmailModalSubmitButton"
                        [innerText]="sendConnectionEmail"
                        [loading]="isSaving"
                        [disabled]="!validateForm() || isSaving"
                        (click)="sendTestEmail()"
                    >
                    </button>
                </div>
            </footer>
        </div>
    </section>
</one-modal-base>
