<ot-modal-header (close)="closeModal(false, {})">
    <div>{{ otModalData?.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <ot-loading otPageLoading *ngIf="isLoading">
        {{ "ResponseTemplates" | otTranslate }}
    </ot-loading>
    <section *ngIf="!isLoading" class="overflow-y-auto">
        <div class="align-center paragraph-small">
            {{ "LanguageChangeGuidanceText" | otTranslate }}
        </div>
        <div otFormElement
            *ngIf="templateTranslation"
            class="margin-bottom-2 padding-top-1 full-width"
            [label]="'Language' | otTranslate"
            >
            <ot-picklist
                name="LanguageSelect"
                ot-auto-id="DSARLanguageChange"
                labelKey="Name"
                valueKey="Code"
                [autoClose]="true"
                [options]="languageList"
                [model]="selectedLanguage"
                (onSelect)="selectLanguage($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'ResponseName' | otTranslate"
            [required]="true"
            >
            <input otInput
                ot-auto-id="DSARResponseTemplateNameInput"
                name="TemplateNameInput"
                class="one-input full-width"
                maxlength="150"
                [ngClass]="{'border-has-error': templateNameTouched && !templateName}"
                [ngModel]="templateName"
                [placeholder]="'EnterName' | otTranslate"
                (ngModelChange)="handleInputChange($event)"
                />
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Response' | otTranslate"
            [required]="true"
            >
            <ot-rich-text-editor
                name="TemplateModalResponse"
                ot-auto-id="DSARSaveTemplateModalResponse"
                class="block margin-bottom-1"
                editorClass="dsar-settings__response-template--quill-editor background-white"
                [contentObservable]="contentObservable"
                [customModules]="customModules"
                [ngClass]="{'border-has-error': templateContentTouched && !hasTextContent}"
                [placeholder]="'EnterAResponse' | otTranslate"
                (onContentChanged)="handleMessageChange($event.html)"
            ></ot-rich-text-editor>
        </div>
    </section>
</ot-modal-content>
<ot-modal-footer *ngIf="!isLoading">
    <button otButton
        ot-auto-id="DSARCloseTemplateModal"
        class="margin-right-1"
        [innerText]="'Cancel' | otTranslate"
        [loading]="isSubmitting"
        [disabled]="isSubmitting"
        (click)="closeModal()"
    ></button>
    <button otButton brand
        ot-auto-id="DSARSaveTemplateModal"
        [innerText]="submitButtonText"
        [loading]="isSubmitting"
        [disabled]="isSubmitting || !canSubmit"
        (click)="handleSubmit()"
    ></button>
</ot-modal-footer>
