<div
    otFormElement
    class="padding-left-right-2 question-preview">
    <div
        class="padding-left-right-1 padding-top-2 margin-bottom-1 border-left"
        [ngClass]="{'border-left': !removeBorder}">
        <div
            *ngIf="question.content"
            class="text-bold margin-bottom-half row-vertical-center"
        >
            <div class="word-wrap">
                <sup
                    *ngIf="question.required"
                    class="helper-icon-required"
                ></sup>
                <span [innerText]="question.content"></span>
                <i
                    *ngIf="question.hint"
                    class="ot ot-info-circle margin-left-1"
                    [otTooltip]="question.hint"
                ></i>
            </div>
        </div>
        <div
            *ngIf="question.description"
            class="question-preview__description"
        >
            <p
                [innerHTML]="question.description"
                class="ql-editor padding-left-0"
            ></p>
        </div>
        <question-textbox-preview
            *ngIf="questionTypes.TextBox.name === question.questionType"
            [question]="question"
        ></question-textbox-preview>
        <question-date-preview
            *ngIf="questionTypes.Date.name === question.questionType"
            [question]="question"
        ></question-date-preview>
        <question-yes-no-preview
            *ngIf="questionTypes.YesNo.name === question.questionType"
            [question]="question"
        ></question-yes-no-preview>
        <question-multichoice-single-select-button-preview
            *ngIf="questionTypes.MultiChoice.name === question.questionType && (!question.attributeJson?.displayAnswerType || question.attributeJson?.displayAnswerType === questionAnswerTypes.Button) && !question.attributeJson.isMultiSelect"
            [question]="question"
        ></question-multichoice-single-select-button-preview>
        <question-multichoice-multi-select-button-preview
            *ngIf="questionTypes.MultiChoice.name === question.questionType && (!question.attributeJson?.displayAnswerType || question.attributeJson?.displayAnswerType === questionAnswerTypes.Button) && question.attributeJson.isMultiSelect"
            [question]="question"
        ></question-multichoice-multi-select-button-preview>
        <multiselect-dropdown-question-preview
            *ngIf="question.questionType === questionTypes.MultiChoice.name && question.attributeJson?.displayAnswerType === questionAnswerTypes.Dropdown && question.attributeJson?.isMultiSelect"
            [question]="question">
        </multiselect-dropdown-question-preview>
        <question-multichoice-single-select-dropdown-preview
            *ngIf="question.questionType === questionTypes.MultiChoice.name && question.attributeJson?.displayAnswerType === questionAnswerTypes.Dropdown && !question.attributeJson?.isMultiSelect"
            [question]="question"
        ></question-multichoice-single-select-dropdown-preview>
        <question-inventory-preview
            *ngIf="question.questionType === questionTypes.Inventory.name"
            [question]="question"
        ></question-inventory-preview>
        <question-attribute-preview
            *ngIf="question.questionType === questionTypes.Attribute.name && question.attributeJson?.responseType"
            [question]="question"
        ></question-attribute-preview>
    </div>


