<ot-loading otPageLoading
    *ngIf="isLoadingRiskRangeData; else showRiskRangeSlider"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<ng-template #showRiskRangeSlider>
    <div class="column-nowrap">
        <p class="text-bold padding-top-bottom-1">{{ riskSettingsTranslationKeys.RiskLevelRanges | otTranslate}}</p>
        <p class="padding-bottom-1"><span>{{ riskSettingsTranslationKeys.RiskMethodAverageInfo | otTranslate}}</span></p>
        <risk-level-range-slider
            [riskLevelRange]="assessmentRiskScoreRanges"
            (onRiskLevelChange)="onRiskLevelChange($event)"
        ></risk-level-range-slider>
    </div>
</ng-template>
