<div class="padding-all-2 full-size-block overflow-y-auto">
    <div class="row-wrap row-horizontal-center">
        <intg-card
            class="is-marketplace__card flex-full-25 row-horizontal-vertical-center padding-top-2"
            *ngFor="let system of systems; trackBy: trackById;"
            [system]="system"
            [componentToNavigate]="componentToNavigate"
        ></intg-card>
        <div class="spacer is-marketplace__card flex-full-25 row-horizontal-vertical-center"></div>
        <div class="spacer is-marketplace__card flex-full-25 row-horizontal-vertical-center"></div>
        <div class="spacer is-marketplace__card flex-full-25 row-horizontal-vertical-center"></div>
    </div>
</div>
