<button otButton neutral
    *ngIf="!filters.length; else filterList"
    class="margin-left-right-auto margin-top-3 block"
    ot-auto-id="DashboardWidgetFilterCreateButton"
    (click)="addFilter()"
    >
    {{ "AddFilter" | translate }}
</button>
<ng-template #filterList>
    <section class="row-nowrap margin-bottom-2 margin-left-right-2">
        <ng-container *asyncValue="dashboardWidgetFormService.countEntitySelection$; let countEntitySelection">
            <ng-container *asyncValue="dashboardWidgetFormService.countEntityOptions$; let countEntityOptions">
                <!-- TODO : remove disabled attribute, decouple from count -->
                <ot-lookup
                    class="full-width margin-right-1"
                    ot-auto-id="DashboardWidgetFilterListEntity"
                    valueKey="id"
                    labelKey="label"
                    [placeholder]="'Module' | translate"
                    [options]="countEntityOptions | lookup: countEntitySelection : filterEntitySearchTerm : 'id' : 'label'"
                    [model]="countEntitySelection"
                    [disabled]="true"
                    (modelChange)="onFilterEntityChange($event.currentValue)"
                    (inputChange)="filterEntitySearch($event)"
                    >
                </ot-lookup>
            </ng-container>
        </ng-container>
        <ng-container *asyncValue="dashboardWidgetFormService.countSubEntitySelection$; let countSubEntitySelection">
            <ng-container *asyncValue="dashboardWidgetFormService.countSubEntityOptions$; let countSubEntityOptions">
                <!-- TODO : remove disabled attribute, decouple from count -->
                <ot-lookup
                    class="full-width"
                    ot-auto-id="DashboardWidgetFilterListSubEntity"
                    valueKey="id"
                    labelKey="label"
                    [placeholder]="'SubEntity' | translate"
                    [options]="countSubEntityOptions | lookup: countSubEntitySelection : filterSubEntitySearchTerm : 'id' : 'label'"
                    [model]="countSubEntitySelection"
                    [disabled]="true"
                    (modelChange)="onFilterSubEntityChange($event.currentValue)"
                    (inputChange)="filterSubEntitySearch($event)"
                    >
                </ot-lookup>
            </ng-container>
        </ng-container>
    </section>
    <ul class="dashboard-widget-filter-list padding-left-right-2">
        <li
            *ngFor="let filter of filters; let i = index; let isLast = last; let isFirst = first;"
            class="row-nowrap margin-bottom-2 padding-all-1 background-eggshell border border-radius position-relative"
            >
            <ot-add-remove
                class="full-width"
                [showAdd]="isLast"
                [showRemove]="true"
                (clickAdd)="addFilter()"
                (clickRemove)="removeFilter(i)"
                >
                <dashboard-widget-filter
                    class="stretch-horizontal"
                    [filter]="filter"
                    >
                </dashboard-widget-filter>
            </ot-add-remove>
        </li>
    </ul>
</ng-template>
