.custom-templates {
    &__template-add-icon {
        font-size: 2.2rem;
    }
    &__add-choose-from-gallery-button {
        top: 10rem;
    }
    &__active-template-empty-message {
        .ot-empty-state {
            padding-bottom: 0;
        }
    }
    &__choose-from-gallery {
        height: 3.5rem;
    }
    &__template-container {
        &:after {
            height: 15rem;
            width: 100%;
            content: "";
        }
    }
    &__disabled-tab{
        pointer-events: none;
    }
    &__published-icon {
        .ot-card {
            &__icon{
                color: $green;
            }

        }
    }
    &__card-hover {
        &:hover {
            .ot-card {
                background-color: lighten($ui-blue, 45%);
                border: 1px solid $ui-blue;
            }
            .preview-show {
                visibility: visible;
                display: flex;
            }
            .disappear-on-hover{
                visibility: hidden;
                display: none;
            }
        }
    }
    &__gone {
        display: none;
    }
    .ot-card__wrapper {
        margin: 0 1rem;
        max-width: 28rem;
    }
    .ot-card__content-header {
        height: 7rem;
        max-height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .extra-padding {
        padding-top: 2.2rem;
    }
}
