<div class="custom-templates flex-full-height height-100 background-grey">
	<template-header
        [navigationTitle]="translations.templateHeader"
		[navigationUrl]="templateNavUrl"
		[anchorClass]="'text-decoration-none'"
	>
    </template-header>
	<div class="app-wrapper padding-all-0 overflow-y-auto stretch-vertical column-nowrap">
        <div *ngIf="'TemplatesViewArchive' | otPermit"
            class="background-white"
        >
            <ot-tabs
                [tabs]="tabOptions"
                [selectedTab]="currentTab"
                >
                <a
                    *otTabItem="let tab"
                    [ngClass]="{'custom-templates__disabled-tab': loadingTemplate && tab.id !== this.currentTab}"
                    ot-auto-id="'TemplateOneTabActionNavigation' + tab.text"
                    (click)="changeTab(tab)"
                    >
                    {{ tab.text }}
                </a>
            </ot-tabs>
            <div class="row-flex-end padding-top-bottom-1 border-bottom">
                <button
                    *ngIf="(permissions.canShow('TemplatesGallery') || permissions.canShow('TemplatesGalleryUpgrade'))"
                    otButton
                    brand
                    class="margin-right-1"
                    [attr.ot-auto-id]="'TemplateChooseFromGalleryButton'"
                    (click)="onChooseFromGalleryClick()"
                >
                    {{"ChooseFromGallery" | otTranslate}}
                </button>
                <button
                    *ngIf="permissions.canShow('TemplatesCreateAndPublish')"
                    otButton
                    neutral
                    class="margin-right-1"
                    [attr.ot-auto-id]="'TemplateCreateCustomTemplateButton'"
                    (click)="openCreateTemplateModal()"
                >
                    {{"CreateYourOwn" | otTranslate}}
                </button>
            </div>
            <div class="row-flex-end padding-top-bottom-half border-bottom background-grey">
                <ot-search-input
                    class="margin-right-1"
                    ot-auto-id="AssessmentListFilterSearchInput"
                    [placeholder]="'Search' | otTranslate"
                    [debounce]="300"
                    [reset]="reset$"
                    (search)="search($event)">
                </ot-search-input>
            </div>
        </div>
        <div class=" paragraph-small margin-all-0 flex row-wrap justify-center padding-left-right-1 overflow-y-auto">
            <ot-loading otPageLoading
                *ngIf="loadingTemplate"
                class="height-100"
                ot-auto-id="'TemplateCardsPageLoading'">
                {{translations.templateHeader}}
            </ot-loading>
            <ng-container *ngIf="currentTab === templatesTypeTabOptions.Templates; else archivedTemplates">
                <ng-container *ngIf="templateIds?.length && !loadingTemplate">
                    <div otCardGrid
                        *ngIf="paginatedCards?.length; else emptyState"
                        class="full-width"
                        maxWidth="500"
                        >
                        <div otCardRow class="padding-top-2">
                            <ot-card
                                *ngFor="let card of paginatedCards; index as i"
                                alignment="center"
                                class="custom-templates__card-hover"
                                width=28
                                [attr.ot-auto-id]="'AATemplateCard_'+ (i+1)"
                                [ngClass]="{'custom-templates__published-icon': card.published}"
                                [header]="card.header"
                                [image]="card.image"
                                >
                                <ng-container otCardMenu>
                                    <button otButton neutral
                                        *ngIf="card.locked"
                                        class="text-cursor-default"
                                        icon="ot ot-lock">
                                    </button>
                                    <tmpl-context-menu
                                        class="pull-right margin-left-1"
                                        [draft]="card.draft"
                                        [published]="card.published"
                                        [templateRootId]="card.id"
                                        [templateArchived]="false"
                                        [ngClass]="{'preview-show custom-templates__gone' : !card.contextMenuOpen}"
                                        (toggle)="toggleContextMenuOpen(card)"
                                        >
                                    </tmpl-context-menu>
                                </ng-container>
                                <ng-container otCardFooter>
                                    <div class="border-top disappear-on-hover extra-padding">
                                        <span otBadge="success"
                                            *ngIf="card.published">
                                            {{ "Published" | otTranslate }}
                                        </span>
                                        <span otBadge
                                            *ngIf="card.draft"
                                            class="disappear-on-hover">
                                            {{ "Draft" | otTranslate }}
                                        </span>
                                    </div>
                                    <div class="custom-templates__gone preview-show border-top padding-top-1 row-horizontal-center">
                                        <button otButton neutral
                                            *ngIf="card.published"
                                            (click)="navigateToPublishedTemplate(card)">
                                            {{ card.publishButtonText }}
                                        </button>
                                        <button otButton brand
                                            *ngIf="card.draft"
                                            (click)="navigateToDraftTemplate(card)">
                                            {{"EditDraft" | otTranslate}}
                                        </button>
                                    </div>
                                </ng-container>
                            >
                            </ot-card>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="!templateIds?.length && !loadingTemplate"
                    class="flex row-wrap justify-center height-100">
                    <div class="custom-templates__active-template-empty-message full-width">
                        <ot-empty-state [emptyStateMessage]="'NoResultsFound' | otTranslate">
                            <img emptyStateImg />
                        </ot-empty-state>
                    </div>
                    <button otButton brand
                        *ngIf="(permissions.canShow('TemplatesGallery') || permissions.canShow('TemplatesGalleryUpgrade'))"
                        class="custom-templates__choose-from-gallery"
                        ot-auto-id="TemplateChooseFromGalleryButton"
                        [innerText]="'ChooseFromGallery' | otTranslate"
                        (click)="onChooseFromGalleryClick()"
                    ></button>
                </div>
            </ng-container>
            <ng-template #archivedTemplates>
                <ng-container *ngIf="templateIds?.length && !loadingTemplate">
                    <div otCardGrid
                        *ngIf="paginatedCards?.length; else emptyState"
                        class="full-width"
                        maxWidth="500">
                        <div otCardRow class="padding-top-4">
                            <ot-card
                                *ngFor="let card of paginatedCards; index as i"
                                alignment="center"
                                class="custom-templates__card-hover"
                                width=28
                                [attr.ot-auto-id]="'AAArchivedTemplateCard_'+ (i+1)"
                                [header]="card.header"
                                [image]="card.image"
                                >
                                <ng-container otCardFooter>
                                    <div class="border-top disappear-on-hover extra-padding">
                                        <span otBadge="disabled">
                                            {{ "Archived" | otTranslate }}
                                        </span>
                                    </div>
                                    <div class="custom-templates__gone preview-show border-top padding-top-1 row-horizontal-center">
                                        <button otButton neutral
                                            (click)="navigateToArchivedTemplate(card)">
                                            {{"View" | otTranslate}}
                                        </button>
                                        <button otButton brand
                                            *ngIf="('TemplatesUnarchive' | otPermit)"
                                            (click)="openUnarchiveModal(card)">
                                            {{"Unarchive" | otTranslate}}
                                        </button>
                                    </div>
                                </ng-container>
                            </ot-card>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="!templateIds?.length && !loadingTemplate"
                    class="flex flex-column">
                    <ot-empty-state
                        class="margin-top-3 padding-bottom-0 align-self-center"
                        [emptyStateMessage]="'NoResultsFound' | otTranslate">
                        <img emptyStateImg/>
                    </ot-empty-state>
                </div>
            </ng-template>
        </div>
        <footer
            otPaginationFooter
            *ngIf="paginatedCards?.length && !loadingTemplate"
            >
            <ot-pagination
                [currentPage]="currentPage"
                [numPages]="numPages"
                (pageChanged)="pageChanged($event)"
            ></ot-pagination>
            <span>{{paginationDetail | otPageMeta}}</span>
        </footer>
	</div>
</div>

<ng-template #emptyState>
    <ot-empty-state
        [emptyStateMessage]="'NoRecordsFound' | otTranslate"
        class="padding-0 max-width-full text-center stretch-vertical"
    >
        <img emptyStateImg />
    </ot-empty-state>
</ng-template>
