<ot-loading otPageLoading *ngIf="isLoading || !purpose"></ot-loading>
<div class="height-100 full-width column-horizontal-center overflow-y-auto background-white">
    <section *ngIf="!isLoading && purpose && purpose.Status !== crConstants.CRPurposeStatus.Draft" class="full-width">
        <div class="full-width padding-top-3 padding-left-right-2 row-flex-start dashboard-container">
            <div class="margin-left-right-auto max-width-50 stretch-horizontal">
                <div otFormElement
                    class="margin-bottom-1"
                    [label]="'Name' | otTranslate"
                    >
                    <span>{{purpose.Label}}</span>
                </div>

                <div otFormElement
                    class="margin-bottom-1"
                    [label]="'Description' | otTranslate"
                    >
                    <span>{{purpose.Description}}</span>
                </div>

                <div otFormElement
                    class="margin-bottom-1"
                    [label]="'PurposeLifeSpan' | otTranslate"
                    >
                    <span>{{formattedPurposeLifeSpan}}</span>
                </div>

                <div otFormElement
                    class="margin-bottom-1"
                    [label]="'PurposeId' | otTranslate"
                    >
                    <span>{{purposeId}}</span>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="!isLoading && purpose && purpose.Status === crConstants.CRPurposeStatus.Draft" class="full-width">
        <div class="full-width padding-top-1 padding-left-right-2 row-flex-start dashboard-container">
            <form
                name="PurposeDetailsForm"
                class="margin-top-bottom-2"
                #pcform="ngForm"
                >
                <div otFormElement
                    class="margin-bottom-2 margin-left-right-auto max-width-50"
                    [label]="'Name' | otTranslate"
                    [required]="true"
                    >
                    <input otInput required
                        class="full-width"
                        name="Name"
                        maxlength="200"
                        autofocus
                        ot-auto-id="PurposeDetailsNameInput"
                        [placeholder]="'EnterPurposeName' | otTranslate"
                        [ngModel]="purpose.Label"
                        (ngModelChange)="onModelChange($event, 'Label')"
                        />
                </div>

                <div otFormElement
                    class="margin-bottom-1 margin-left-right-auto max-width-50"
                    [label]="'Description' | otTranslate"
                    [otTooltip]="{ content: 'DescriptionTooltip' | otTranslate, position: 'top' }"
                    [required]="true"
                    >
                    <textarea otTextarea required
                        name="Description"
                        maxlength="500"
                        ot-auto-id="PurposeDetailsDescription"
                        [ngModel]="purpose.Description"
                        [placeholder]="'EnterPurposeDescription' | otTranslate"
                        (ngModelChange)="onModelChange($event, 'Description')"
                        >
                    </textarea>
                </div>

                <div otFormElement class="margin-bottom-2 margin-left-right-auto max-width-50">
                    <div
                        *ngIf="consentLength"
                        class="margin-bottom-1 ot-setting-container"
                        >
                        <ot-setting
                            [title]="'HowLongWillConsentLast' | otTranslate"
                            >
                            <ot-toggle
                                class="row-vertical-center"
                                ot-auto-id="PurposeDetailsCheckbox"
                                [checked]="!consentLength.untilWithdrawn"
                                [otTooltip]="{ content: 'ConsentLengthTooltip' | otTranslate, position: 'top' }"
                                (toggle)="toggleUntilWithdrawn()"
                                >
                            </ot-toggle>
                        </ot-setting>
                    </div>
                    <div
                        *ngIf="!consentLength.untilWithdrawn"
                        class="row-nowrap justify-center"
                        >
                        <input otInput
                            class="margin-right-2 cr-number"
                            type="number"
                            name="consentLengthNumber"
                            maxlength="99"
                            autofocus
                            ot-auto-id="PurposeDetailsConsentLengthNumberInput"
                            [placeholder]=""
                            [ngModel]="consentLength.number"
                            (ngModelChange)="consentLengthNumber($event)"
                            />
                        <ot-picklist
                            class="cr-number"
                            ot-auto-id="PurposeDetailsConsentLengthUnitTypes"
                            [autoClose]="true"
                            [options]="crConsentLengthUnitTypes"
                            [model]="consentLengthDropdownElement"
                            [valueKey]="'value'"
                            [labelKey]="'label'"
                            (onSelect)="consentLengthUnit($event)"
                            >
                        </ot-picklist>
                    </div>
                </div>

                <div otFormElement
                    class="margin-left-right-auto max-width-50"
                    [label]="'PurposeId' | otTranslate"
                    >
                    <span>{{purposeId}}</span>
                </div>
            </form>
        </div>
    </section>
</div>
