.old-one-header
    .old-one-header__title
        one-button(
            button-class='old-one-header__title-back',
            button-click='vm.GoBack()',
            icon='fa fa-angle-left',
            identifier='documentsRepositoryGoBack',
            data-ng-if='vm.CurrentDirectory.ParentDirectoryId'
        )
        .old-one-header__title-name {{vm.CurrentDirectory.FileName}}
        one-button(
            data-ng-if='vm.CurrentDirectory.ParentDirectoryId && Permissions.canShow("DocumentsDelete")',
            button-class='old-one-header__title-back',
            button-click='vm.DeleteCurrentDirectory()',
            uib-tooltip='{{ vm.CurrentDirectory.FileName ? $root.t("DeleteFileName", {FileName : vm.CurrentDirectory.FileName}) : $root.t("DeleteCurrentFolder") }}',
            tooltip-placement='right',
            icon='fa fa-trash-o',
            identifier='documentsRepositoryDeleteCurrentDirectory'
        )

    .old-one-header__container
        .container-item(
            ng-if='Permissions.canShow("DocumentsCreate")',
            uib-dropdown=''
        )

            one-dropdown.margin-right-1(
                button-class="one-button--primary small-button",
                options="vm.createDocumentOptions",
                text="{{::$root.t('New')}}",
                text-update="false"
            )

        one-button(
            data-ng-if="::Permissions.canShow('DocumentsDetails') && !vm.ShowDetails",
            button-click="vm.ToggleDetails()",
            text="{{::$root.t('Details')}}",
            identifier="projectsExportCSV"
         )

.directory
    .directory-folders(ng-if='(vm.CurrentDirectory.Children |filter:{IsDirectory: true}).length')
        .directory-title {{::$root.t("Folders")}}
        .directory-content
            .directory-folders-item(
                ng-repeat='item in (folders = (vm.CurrentDirectory.Children | filter:{IsDirectory: true})) track by item.Id',
                ng-mouseenter='this.Icon="fa fa-folder-open-o"',
                ng-mouseleave='this.Icon="fa fa-folder-o"',
                ng-class='{"active": item.Id === vm.Selected.Id}')
                .directory-folders-item-icon.fa.fa-folder-o(
                    class='{{this.Icon}}'
                    ng-class='{"active": item.Id === vm.Selected.Id}'
                    ng-click='vm.SelectItem(item, false, true)')
                .directory-folders-item-name(ng-bind='item.FileName', ng-click='vm.SelectItem(item, true, false)')
                button.directory-folders-item-actions(
                    data-ng-if='Permissions.canShow("DocumentsDelete")',
                    data-ng-click='vm.DeleteDirectory(item.Id, item.ParentDirectoryId)'
                )
                    .fa.fa-trash-o

    .directory-files(ng-if='(vm.CurrentDirectory.Children |filter:{IsDirectory: false}).length')
        .directory-title {{::$root.t("Files")}}
        .directory-content
            .directory-files-item(
                ng-repeat='item in (files = (vm.CurrentDirectory.Children | filter:{IsDirectory: false})) track by item.Id',
                ng-if='files.length',
                ng-class='{"active": item.Id === vm.Selected.Id}',
                ng-click='vm.SelectItem(item, true, false)')
                .directory-files-item-icon
                    .icon(class='{{item.Icon || "fa fa-file-o"}}',
                        ng-class='{"active": item.Id === vm.Selected.Id}')
                .directory-files-item-name
                    | {{item.FileName}}
                .directory-files-item-actions
                    a.fa.fa-download(ng-if='item.Url', ng-click='vm.download($event, item.Id, item.FileName)')
                    a.fa.fa-trash-o(
                        data-ng-if='Permissions.canShow("DocumentsDelete")',
                        data-ng-click='vm.DeleteItem(item.Id, item.ParentDirectoryId)'
                    )

    .directory-empty(ng-if='!vm.CurrentDirectory.Children.length')
        | {{::$root.t("NoFiles")}}
