.details-header
    | {{::$root.t("Details")}}
    .ot.ot-close(ng-click='vm.ToggleDetails()')

loading(ng-if='vm.GettingDetails', text='{{::$root.t("Details")}}')
.details-content(ng-if='vm.ShowDetails && !vm.GettingDetails')
    .item(ng-if='vm.Selected')
        ul.item-details
            li.item-group
                .item-icon(class='{{vm.Selected.Icon || "fa fa-file"}}')
            li.item-group(ng-if='vm.Selected.FileName')
                .item-label {{::$root.t("Name")}}:
                .item-info.item-name(ng-bind='vm.Selected.FileName')
            li.item-group(ng-if='vm.Selected.IsDirectory || vm.Selected.FileExtension')
                .item-label {{::$root.t("Type")}}:
                .item-info.item-type(ng-if='!vm.Selected.IsDirectory && vm.Selected.FileExtension', ng-bind='vm.Selected.FileExtension')
                .item-info.item-type(ng-if='vm.Selected.IsDirectory') {{::$root.t("Folder")}}
            li.item-group(ng-if='vm.Selected.ParentDirectoryId && vm.Selected.Size')
                .item-label {{::$root.t("Size")}}:
                .item-info.item-size(ng-bind='vm.Selected.Size')
            li.item-group(ng-if='vm.Selected.ParentDirectoryId')
                .item-label {{::$root.t("Parent")}}:
                .item-info.item-parent(ng-bind='vm.Directory.Node(vm.Selected.ParentDirectoryId).FileName || "No Parent"')
            li.item-group(ng-if='vm.Selected.ParentDirectoryId && vm.Selected.UpdatedDate')
                .item-label {{::$root.t("Updated")}}:
                .item-info.item-updated
                     one-date(date-to-format='vm.Selected.UpdatedDate')
                   .item-updated-by(ng-if='vm.Selected.UpdatedBy')
                        | {{::$root.t("By") | lowercase }} {{vm.Selected.UpdatedBy}}
            li.item-group(ng-if='vm.Selected.ParentDirectoryId && vm.Selected.CreatedDate')
                .item-label {{::$root.t("Created")}}:
                .item-info.item-created
                    one-date(date-to-format='vm.Selected.CreatedDate')
                    .item-created-by(ng-if='vm.Selected.CreatedBy')
                        | {{::$root.t("By") | lowercase }} {{vm.Selected.CreatedBy}}
            li.item-group(ng-if='vm.Selected.IsDirectory')
                .item-label {{::$root.t("Files")}}:
                .item-info.item-children
                    | {{vm.Selected.Children.length || $root.t("NoFiles")}}
    .actions(ng-if='vm.Selected')
        a.download.fa.fa-download(ng-if='!vm.Selected.IsDirectory && vm.Selected.Url', ng-click='vm.download($event, vm.Selected.Id, vm.Selected.FileName)')
            | &nbsp{{::$root.t("Download")}}
        a.delete.fa.fa-trash-o(
            data-ng-if='Permissions.canShow("DocumentsDelete") && vm.Selected.ParentDirectoryId',
            data-ng-click='vm.DeleteItem(vm.Selected.Id, vm.Selected.ParentDirectoryId)'
        )
            | &nbsp{{::$root.t("Delete")}}

    .item-none(ng-if='!vm.Selected')
        | {{::$root.t("SelectDirectoryOrFile")}}
