loading(ng-if='!vm.Ready', text='{{::$root.t("Documents")}}')

.body(ui-view='body', ng-if='Permissions.canShow("DocumentsList") && vm.Ready')
.details(ng-if='Permissions.canShow("DocumentsDetails")', ui-view='details', ng-class='{"is-open": (vm.Ready && vm.ShowDetails)}')
