.menu-header
    .menu-header-title {{::$root.t("DocumentRepository")}}
    .menu-header-toggle.fa.ot(ng-class='{"fa-bars": !vm.ShowMenu, "ot-close": vm.ShowMenu}', ng-click='vm.ToggleMenu()')

loading(ng-if='!vm.Ready', text='{{::$root.t("Documents")}}')

.menu-content(ng-if='vm.Ready')
    collection-picker.tree(
        ng-model='vm.CurrentDirectoryId',
        list='vm.Library',
        type='tree',
        filter='vm.TreeFilter',
        on-select='vm.SelectItem(item)',
        on-caret-click='vm.SelectItemCaret(item)',
        collection-key-nodes='Children',
        collection-key-name='FileName',
        collection-key-icon='Icon',
        collection-key-show-children='Open',
        track-by='"Id"')
