<div class="dsar-request-queue-detail-sidebar border-right background-white column-nowrap height-100 overflow-y-auto">
    <ng-container *ngFor="let data of sidebarData">
        <div
            class="text-bold text-small text-wrap margin-left-1 margin-top-1 margin-bottom-half"
            [innerText]="(data.key | otTranslate) + ':'">
        </div>
        <ng-container [ngSwitch]="data.key">
            <div *ngSwitchCase="costCalc.HoursWorked">
                <div
                    *ngIf="costEditModeEnabled"
                    class="flex row-space-between padding-right-2">
                    <input
                        otInput
                        type="number"
                        min="0"
                        step="0.01"
                        ot-auto-id="DSARRequestSidebarHoursWorkedInput"
                        class="inline-block padding-all-half margin-left-1 margin-right-half margin-bottom-1"
                        [(ngModel)]="hoursWorked"
                        (change)="validateHoursWorked($event.target.value)"
                        (keyup)="validateHoursWorked($event.target.value)"
                    />
                    <i
                        *ngIf="costEditModeEnabled"
                        class="ot ot-check color-green margin-all-1"
                        ot-auto-id="DSARRequestSidebarHoursWorkedSubmitButton"
                        (click)="updateHoursWorked()">
                    </i>
                    <i
                        *ngIf="costEditModeEnabled"
                        class="ot ot-close color-cherry margin-all-1"
                        ot-auto-id="DSARRequestSidebarHoursWorkedCloseButton"
                        (click)="costEditModeEnabled = false">
                    </i>
                </div>
                <div class="flex row-space-between" *ngIf="!costEditModeEnabled">
                    <div
                        class="text-small text-wrap word-break margin-left-2 margin-bottom-2">
                        {{data.value}}
                    </div>
                    <i
                        *ngIf="permissions.DSARCostCalculationEdit
                                && !requestQueueDetails.taskMode && !disableEdit"
                        class="ot ot-pencil-square-o margin-right-3 text-medium"
                        (click)="costEditModeEnabled = true">
                    </i>
                </div>
            </div>
            <div
                *ngSwitchCase="costCalc.TotalCost"
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2">
                {{data.value | currency: currencyIso }}
            </div>
            <div *ngSwitchCase="requestQueueSidebar.PreferredLanguage">
                <div
                    *ngIf="langEditModeEnabled"
                    class="flex row-space-between">
                    <ot-picklist
                        class="min-width-11 margin-left-1 margin-bottom-2"
                        ot-auto-id="DSARRequestSidebarLanguageDropdown"
                        labelKey="Name"
                        valueKey="Code"
                        [options]="requestQueueDetails.languageList"
                        [model]="selectedLanguage"
                        (onSelect)="selectLanguage($event)"
                    ></ot-picklist>
                    <i
                        *ngIf="langEditModeEnabled"
                        class="ot ot-check color-green margin-all-half position-relative top-half"
                        ot-auto-id="DSARRequestSidebarApproverSubmitButton"
                        (click)="updateLanguage()">
                    </i>
                    <i
                        *ngIf="langEditModeEnabled"
                        class="ot ot-close color-cherry margin-top-bottom-half margin-right-1 position-relative top-half"
                        ot-auto-id="DSARRequestSidebarApproverCancelButton"
                        (click)="langEditModeEnabled = false">
                    </i>
                </div>
                <div
                    *ngIf="!langEditModeEnabled"
                    class="flex row-space-between">
                    <div
                        class="text-small text-wrap word-break margin-left-2 margin-bottom-2">
                        {{data.value}}
                    </div>
                    <i
                        *ngIf="permissions.DSARRequestQueueLanguageUpdate
                                && !requestQueueDetails.taskMode
                                && !disableEdit"
                        class="ot ot-pencil-square-o margin-right-3 text-medium"
                        ot-auto-id="DSARRequestSidebarApproverCloseButton"
                        (click)="langEditModeEnabled = true">
                    </i>
                </div>
            </div>
            <div
                *ngSwitchCase="requestQueueSidebar.Approver"
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2"
                >
                {{data.value}}
                <i
                    *ngIf="permissions.DSARRequestQueueAssign
                        && !requestQueueDetails.taskMode
                        && !disableEdit"
                    class="ot ot-pencil-square-o margin-left-1 text-medium"
                    ot-auto-id="DSARRequestSidebarApprover"
                    (click)="handleAction(requestQueueActions.ASSIGN_REQUEST)">
                </i>
            </div>
            <div
                *ngSwitchCase="requestQueueSidebar.ManagingOrganization"
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2"
                >
                {{data.value}}
                <i
                    *ngIf="permissions.DSAREditOrganization
                        && !requestQueueDetails.taskMode
                        && !disableEdit"
                    class="ot ot-pencil-square-o margin-left-1 text-medium"
                    ot-auto-id="DSARRequestSidebarOrg"
                    (click)="updateOrg()">
                </i>
            </div>
            <div
                *ngSwitchCase="requestQueueSidebar.Deadline"
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2"
                >
                {{data.value}}
                <i
                    *ngIf="!requestQueueDetails.taskMode
                        && requestQueueDetails.currentStageInfo.allowDeadlineEdit
                        && !disableEdit"
                    class="ot ot-pencil-square-o text-medium"
                    ot-auto-id="DSARRequestSidebarDeadline"
                    [ngClass]="{'margin-left-1': data.value === '- - - -'}"
                    (click)="updateDeadline()">
                </i>
            </div>
            <div
                *ngSwitchCase="requestQueueSidebar.Resolution"
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2"
                >
                {{data.value}}
            </div>
            <div
                *ngSwitchDefault
                class="text-small text-wrap word-break margin-left-2 margin-bottom-2">
                {{data.value}}
            </div>
            <hr class="margin-left-right-1 margin-top-bottom-0">
        </ng-container>
    </ng-container>
</div>
