.one-numbered-circle {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    color: $slate;
    background-color: $white;
    border: solid 1.2px $green;
    font-size: 2.1rem;
    line-height: 4rem;

    &--primary {
        color: $white;
        background-color: $ui-blue;
        border: solid 1.2px darken($ui-blue, 10%);
    }

    &--success {
        color: $white;
        background-color: $green;
        border: solid 1.2px $green;
    }

    &--warning {
        color: $white;
        background-color: $risk-medium;
        border: solid 1.2px $risk-medium;
    }

    &--info {
        color: $white;
        background-color: $yellow;
        border: solid 1.2px $yellow;
    }

    &--danger {
        color: $white;
        background-color: $light-red;
        border: solid 1.2px $light-red;
    }

    &--small {
        height: 2.1rem;
        width: 2.1rem;
        font-size: 1.05rem;
        line-height: 2rem;
    }

    &--medium {
        height: 4.2rem;
        width: 4.2rem;
        font-size: 2.1rem;
        line-height: 4rem;
    }

    &--large {
        height: 6.3rem;
        width: 6.3rem;
        font-size: 3.15rem;
        line-height: 6rem;
    }
}
