.risk-tile-button {
    &__button {
        border: 1px solid $grey-3;
        border-radius: 3px;
        background: none;
        width: 4.8rem;
        height: 4.8rem;
        color: $slate;
        flex: 0 0 auto;

        &--disabled {
            &:hover {
                .risk-tile-button__color-preview {
                    background-color: $grey-1;
                }
            }
        }
    }

    &__risk-status {
        color: $slate;
    }

    &__container {
        height: 4.6rem;
    }

    &__color-preview {
        height: 4.6rem;
    }

    &__arrow-container {
        background-color: rgba(203, 203, 203, 0.5);
        border-radius: 2px;
        height: 1.4rem;
    }

    &__arrow-icon {
        font-size: 1rem;

        &.white-arrow {
            color: $white;
        }
    }
}