<ot-modal-header (close)="closeSendBackModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content  class="aa-send-back-modal flex-full-height min-height-20">
    <ng-container *ngIf="!loading; else sendBackModalLoading">
        <div class="padding-left-right-1 margin-bottom-2">
            <ot-confirm-modal-icon
                type="warning"
                icon="fa fa-undo"
            ></ot-confirm-modal-icon>
            <div class="margin-bottom-1 height-7 paragraph-medium-small text-center"
                [innerHTML]="sendBackModalDesc"
            >
            </div>
            <ot-notification
                *ngIf="otModalData.openInfoRequestMsg  && sendBackType === sendBackTypes.SendBackToInProgress"
                icon="ot ot-question-circle"
                type="notice"
                [allowClose]="false"
            >
                <span [innerHTML]="otModalData.openInfoRequestMsg"></span>
            </ot-notification>
        </div>
        <div class="overflow-auto">
            <div
                otFormElement
                [label]="'EmailComments' | otTranslate"
            >
                <textarea
                    otTextarea
                    ot-auto-id="SendBackEmailCommentField"
                    [placeholder]="'IncludeComments' | otTranslate"
                    [ngModel]="sendBackEmailComment"
                    (ngModelChange)="setSendBackEmailComment($event)"
                ></textarea>
            </div>
            <div *ngIf="sendBackType === sendBackTypes.SendBackToInProgress">
                <ot-setting
                    [title]="'EditAllResponses' | otTranslate"
                    [description]="'EditAllResponsesDesc' | otTranslate"
                >
                    <ot-toggle
                        [checked]="sendBackModalSettings.editAllResponses"
                        (toggle)="toggleEditAllResponses($event)"
                    ></ot-toggle>
                </ot-setting>
                <ot-setting
                    *ngIf="otModalData.approverSendBackFlow && bulkSendEmailSettings"
                    [title]="'SendInfoRequests' | otTranslate"
                    [description]="'SendInfoRequestsDesc' | otTranslate"
                >
                    <ot-toggle
                        [checked]="sendBackModalSettings.sendBulkInfoRequestEmail"
                        (toggle)="toggleSendInfoRequests($event)"
                    ></ot-toggle>
                </ot-setting>
            </div>
        </div>
    </ng-container>
    <ng-template #sendBackModalLoading>
        <ot-loading
            otPageLoading
            class="row-horizontal-vertical-center height-100"
        ></ot-loading>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        neutral
        class="margin-right-1 no-outline border-none"
        ot-auto-id="AssessmentSendBackCancelButton"
        [disabled]="isSendingBackAssessment || loading"
        (click)="closeSendBackModal()"
    >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        class="margin-right-1"
        ot-auto-id="AssessmentSendBackSubmitButton"
        [loading]="isSendingBackAssessment"
        [disabled]="isSendingBackAssessment || loading"
        (click)="sendBackAssessment()"
    >
        {{ 'Submit' | otTranslate }}
    </button>
</ot-modal-footer>
