<ot-empty-state
    *ngIf="!controlsTableData.length; else showTable"
    class="justify-center flex align-center position-relative margin-top-4"
    [emptyStateMessage]="'NoRiskControlToDisplay' | otTranslate"
    >
    <img emptyStateImg />
</ot-empty-state>
<ng-template #showTable>
    <div class="stretch-vertical flex-full-height background-white overflow-y-auto">
        <table otDataTable
            class="full-width position-relative"
            [rowData]="controlsTableData"
            [rowBordered]="true"
            [sortable]="true"
            [sortKey]="sortData?.sortedKey"
            [sortOrder]="sortData?.sortOrder"
            (sortChanged)="handleSortChange($event)"
            >
            <ng-container *ngFor="let col of columns">
                <ot-data-table-column
                    [headerLabel]="col.nameKey"
                    [sortable]="col.sortKey"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.valueKey"
                    [column]="col"
                    [thStyle]="col.style"
                    >
                    <ng-template otDataTableCell
                        let-row="row"
                        let-column="col"
                        [tdClass]="'max-25 padding-all-4'"
                        >
                        <ng-container [ngSwitch]="col.type">
                            <ng-container *ngSwitchCase="tableColumnTypes.Text">
                                <div class="slds-truncate">
                                    {{row.control[col.valueKey]}}
                                </div>
                                <div
                                    *ngIf="col.valueKey === 'status'"
                                    class="slds-truncate"
                                    >
                                    <span [otBadge]="row.status | badgeColor: riskControlsStatusColorMap">
                                        {{row.status | otTranslate}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
</ng-template>
