<div class="form-group">
    <form 
        novalidate
        #preferenceCenterForm="ngForm"
    >
        <div
            *ngIf="!isCenterTileSkin"
            class="border-bottom"
        >
            <label class="padding-top-1 text-bold">
                {{'Style' | otTranslate}}
            </label>
            <div class="row-horizontal-center margin-all-1">
                <button 
                    otButton 
                    neutral
                    [attr.ot-auto-id]="'CookiePreferenceCenterStyleModernButton'"
                    [select]="preferenceCenterStyling.style === 'MODERN'"
                    (click)="onPreferenceStyleChange('MODERN')"
                >
                    {{'Modern' | otTranslate}}
                </button>
                <button 
                    otButton 
                    neutral
                    [attr.ot-auto-id]="'CookiePreferenceCenterStyleClassicButton'"
                    [select]="preferenceCenterStyling.style === 'CLASSIC'"
                    (click)="onPreferenceStyleChange('CLASSIC')"
                >
                    {{'Classic' | otTranslate}}
                </button>
            </div>
        </div>
        <div class="border-bottom">
            <label class="padding-top-1 text-bold">
                {{'Colors' | otTranslate}}
            </label>
            <div 
                otFormElement
                class="margin-bottom-1"
                [label]="'PrimaryColor' | otTranslate"
            >
                <color-picker
                    [attr.ot-auto-id]="'CookiePreferenceCenterPrimaryColorColorPicker'"
                    [colorOptions]="colorOptions"
                    [selectedColor]="preferenceCenterStyling.primaryColor"
                    [defaultText]="defaultColorPickerValue"
                    [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
                    (selectionChange)="setColor($event, prefCenterColorType.PrimaryColor)"
                >
                </color-picker>
            </div>
            <div 
                otFormElement
                class="margin-bottom-1"
                [label]="'ButtonColor' | otTranslate"
            >
                <color-picker
                    [attr.ot-auto-id]="'CookiePreferenceCenterButtonColorColorPicker'"
                    [colorOptions]="colorOptions"
                    [selectedColor]="preferenceCenterStyling.buttonColor"
                    [defaultText]="defaultColorPickerValue"
                    [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
                    (selectionChange)="setColor($event, prefCenterColorType.ButtonColor)"
                >
                </color-picker>
            </div>
            <div 
                *ngIf="!isCenterTileSkin" 
                otFormElement
                class="margin-bottom-1"
                [label]="'Menu' | otTranslate"
            >
                <color-picker
                    [attr.ot-auto-id]="'CookiePreferenceCenterMenuColorColorPicker'"
                    [colorOptions]="colorOptions"
                    [selectedColor]="preferenceCenterStyling.menu"
                    [defaultText]="defaultColorPickerValue"
                    [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
                    (selectionChange)="setColor($event, prefCenterColorType.MenuColor)"
                >
                </color-picker>
            </div>
            <div 
                *ngIf="!isCenterTileSkin" 
                otFormElement
                class="margin-bottom-1"
                [label]="'MenuHighlightColor' | otTranslate"
            >
                <color-picker
                    [attr.ot-auto-id]="'CookiePreferenceCenterMenuHighlightColorColorPicker'"
                    [colorOptions]="colorOptions"
                    [selectedColor]="preferenceCenterStyling.menuHighlightColor"
                    [defaultText]="defaultColorPickerValue"
                    [inputErrorMessage]="'EnterValidHexaColorCode' | otTranslate"
                    (selectionChange)="setColor($event, prefCenterColorType.MenuHighlightColor)"
                >
                </color-picker>
            </div>
            <div class="padding-bottom-1"></div>
        </div>
        <div 
            *ngIf="!isCenterTileSkin"
            otFormElement
	    	[label]="'YourLogo' | otTranslate"
	    >
            <input 
                otInput
	    		class="margin-left-right-0 margin-top-bottom-quarter"
	    		name="preferenceCenterLogoFile"
                type="file"
                accept="image/*"
                [attr.ot-auto-id]="CookiePreferenceCenterYourLogoInput"
                [(ngModel)]="logoFile"
                (change)="updateLogo($event)"
                #preferenceCenterLogoFile
	    	/>
	    </div>
        <div class="flex static-vertical padding-top-1">
            <button
                *ngIf="!isCenterTileSkin"
                otButton 
                brand
                [attr.ot-auto-id]="'CookiePreferenceCenterResetToDefaultLogoButton'"
                (click)="resetToDefaultLogo()"
            >
                {{'ResetToDefaultLogo' | otTranslate}}
            </button>
        </div>
        <div 
            otFormElement 
	    	class="margin-top-1"
	    	[label]="'CustomCss' | otTranslate"
	    >
            <textarea 
                otTextarea 
	    		required
	    		class="height-10 margin-left-right-0 margin-top-bottom-quarter"
                name="textCustomCSS"
                [attr.ot-auto-id]="'CookiePreferenceCenterCustomCssTextArea'"
	    		[(ngModel)]="preferenceCenterStyling.customCSS"
	    		#customCSSText="ngModel"
	    	>
	    	</textarea>
        </div>
    </form>
</div>