.pia-project-table {
    color: $slate;

    &__body {
        max-height: calc(100vh - 25rem);
        display: block;
        overflow-x: auto;
    }
    
    &__row {
        &:hover {
            background-color: $eggshell;
            cursor: pointer;

            .pia-project-buttons__icon {
                opacity: 1;
            }
        }

        border: solid 1px $paper-gray;

        &--header {
            border-bottom: solid 1px $grey-1;
        }
    }

    .focus-outline-0 {
        &:focus {
            outline-width: 0;
        }
    }

    &__cell {
        width: auto;
        width: initial;
        min-width: auto;
        min-width: initial;
        max-width: none;
    }

    &__row-cell {
        min-height: 4rem;
    }
    &__row-selected {
        background-color: $eggshell;
    }
}
