.one-input {
    &::-webkit-input-placeholder {
        color: $platinum;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $platinum;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        color: $platinum;
    }
    &:-ms-input-placeholder {
        color: $platinum;
    }

    &:disabled {
        &::-webkit-input-placeholder {
            color: $platinum;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $platinum;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
            color: $platinum;
        }
        &:-ms-input-placeholder {
            color: $platinum;
        }
    }
}
