<ng-container *ngIf="ready; else loading">
    <ot-empty-state
        *ngIf="emptyState; else chart"
        class="flex-full-height margin-top-10 column-horizontal-vertical-center"
        [emptyStateMessage]="'DSARBarChartEmptyState' | otTranslate"
    ></ot-empty-state>
    <ng-template #chart>
        <ot-bar-chart
            [data]="chartData"
            [height]="height"
            [isHorizontal]="true"
            (clicked)="handleAction($event)"
        ></ot-bar-chart>
    </ng-template>
</ng-container>
<ng-template #loading>
    <ot-loading otPageLoading>
        {{'LoadingRequestsByRequestType' | otTranslate}}
    </ot-loading>
</ng-template>
