.custom-preference {

    &__button:hover {

        .custom-preference__icon {
            display: block;
        }
    }

    &__description {
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2rem;
            background-image:linear-gradient(transparent, $white);
        }
    }
}