<div class="flex-full-height full-width column-horizontal-center overflow-y-auto background-white"
    >
    <div
        *ngIf="!editable; else editMode"
        class="margin-left-right-auto padding-top-3 full-width max-width-50 stretch-horizontal"
        >
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Name' | otTranslate"
            >
            <button
                ot-auto-id="CustomPreferenceNameEditToggle"
                class=
                    "row-space-between-center
                    full-width
                    text-left
                    padding-right-2
                    position-relative
                    background-none
                    border-none
                    overflow-ellipsis
                    custom-preference__button"
                >
                <span>{{ customPreference.Name }}</span>
                <i
                    class="ot display-none absolute-vertical-center top-half right-0 custom-preference__icon"
                    ngClass="ot-edit"
                    (click)="toggleEditMode()"
                ></i>
            </button>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Description' | otTranslate"
            >
            <button
                ot-auto-id="CustomPreferenceDescriptionEditToggle"
                class=
                    "row-space-between-center
                    full-width
                    text-left
                    padding-right-2
                    position-relative
                    background-none
                    border-none
                    overflow-ellipsis
                    custom-preference__button
                    {{ descriptionExtended ? '' : 'max-height-5 custom-preference__description' }}"
                >
                <span class="text-wrap">{{ customPreference.Description }}</span>
                <i
                    class="ot display-none absolute-vertical-center top-half right-0 custom-preference__icon"
                    ngClass="ot-edit"
                    (click)="toggleEditMode()"
                ></i>
                <i
                    class="ot display-none absolute-vertical-center top-half right-0 custom-preference__icon"
                    ngClass="ot-ellipsis"
                ></i>
            </button>
            <span
                class="align-right blue-anchor-style flex-full-width padding-top-half text-bold text-xsmall"
                (click)="extendDescription()"
                >
                {{ (descriptionExtended ? "ShowLess" : "ShowMore") | otTranslate }}
            </span>
        </div>
        <div otFormElement
            [label]="'DefaultLanguage' | otTranslate"
            >
            <button
                ot-auto-id="CustomPreferenceDefaultLanguageEditToggle"
                class=
                    "row-space-between-center
                    full-width
                    text-left
                    padding-right-2
                    position-relative
                    background-none
                    border-none
                    overflow-ellipsis
                    custom-preference__button"
                >
                <span>{{ selectedLanguage.Name }}</span>
                <i
                    class="ot display-none absolute-vertical-center top-half right-0 custom-preference__icon"
                    ngClass="ot-edit"
                    (click)="toggleEditMode()"
                ></i>
            </button>
        </div>
    </div>

    <ng-template #editMode>
        <div class="margin-left-right-auto padding-top-3 full-width max-width-50 stretch-horizontal">
            <div otFormElement
                class="margin-bottom-2"
                [label]="'Name' | otTranslate"
                [hasError]="customPreference?.Name?.length === 250"
                [errorMessage]="'CharacterLimitReached' | otTranslate"
                >
                <input otInput
                    ot-auto-id="CustomPreferenceFormNameInput"
                    class="width-100-percent"
                    maxlength="250"
                    [placeholder]="'Name' | otTranslate"
                    [(ngModel)]="customPreference.Name"
                    />
            </div>
            <div otFormElement
                class="margin-bottom-2"
                [label]="'Description' | otTranslate"
                [hasError]="customPreference?.Description?.length === 500"
                [errorMessage]="'CharacterLimitReached' | otTranslate"
                >
                <textarea otTextarea
                    ot-auto-id="CustomPreferenceFormDescriptionInput"
                    class="width-100-percent"
                    maxlength="500"
                    [placeholder]="'EnterDescription' | otTranslate"
                    [(ngModel)]="customPreference.Description"
                ></textarea>
            </div>
            <div otFormElement
                [label]="'DefaultLanguage' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="CustomPreferenceFormDefaultLangaugeDropdown"
                    labelKey="Name"
                    valueKey="Code"
                    [autoClose]="true"
                    [disabled]="!allLanguages?.length"
                    [dynamicHeight]="true"
                    [model]="selectedLanguage"
                    [options]="languageOptions"
                    [placeholder]="'SelectLanguage' | otTranslate"
                    (inputChange)="onLanguageInputChange($event)"
                    (modelChange)="selectLanguage($event)"
                ></ot-lookup>
            </div>
        </div>
    </ng-template>
</div>
<footer otPageFooter
    *ngIf="editable"
    class="background-grey"
    >
    <button otButton
        ot-auto-id="CustomPreferenceFormCancelButton"
        class="align-self-end margin-top-bottom-auto"
        [disabled]="saveInProgress"
        (click)="cancelEditMode()"
        >
        {{ "Cancel" | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="CustomPreferenceFormSaveButton"
        class="align-self-end margin-top-bottom-auto"
        [disabled]="saveInProgress"
        (click)="saveCustomPreference()"
        >
        {{ "Save" | otTranslate }}
    </button>
</footer>