<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        [title]="'ManageSubscriptions' | otTranslate"
        type="clear"
    >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="!ready"
        class="align-self-center"
        >
        {{ 'Loading' | otTranslate }}...
    </ot-loading>
    <div otSettingContainer
        *ngIf="ready"
        class="column-nowrap"
        >
        <ot-setting
            [title]="'AccessSubscriptionPortal' | otTranslate"
            [description]="'AccessSubscriptionPortalDescription' | otTranslate"
            >
            <div>
                <a otButton brand
                    ot-auto-id="ManageSubscriptionLaunchPortalBtn"
                    target="_blank"
                    [href]="url"
                    >
                    {{ 'ManageSubscriptionLaunchPortal' | otTranslate }}
                </a>
            </div>
        </ot-setting>
    </div>
    <div otSettingContainer
        *ngIf="ready"
        class="column-nowrap stretch-vertical">
        <ot-setting
            [title]="'OneTrustSubscriptionAdministrator' | otTranslate"
            [description]="'OneTrustSubscriptionAdministratorDescription' | otTranslate"
            >
            <ot-picklist
                class="min-width-15"
                ot-auto-id="ManageSubscriptionsAdminPickList"
                valueKey="UserId"
                labelKey="FullName"
                [placeholder]="'SelectDateFormat' | otTranslate"
                [autoClose]="true"
                [options]="adminList"
                [model]="selectedAdmin"
                (onSelect)="selectOption($event)"
                >
            </ot-picklist>
        </ot-setting>
    </div>
    <footer otPageFooter>
        <button otButton
            ot-auto-id="SubscriptionSettingsCancelActionBtn"
            [innerText]="'Cancel' | otTranslate"
            (click)="cancelSubscriptionSettings()"
        ></button>
        <button otButton
            brand
            ot-auto-id="SubscriptionSettingsSaveBtn"
            [innerText]="'Save' | otTranslate"
            [loading]="loading"
            [disabled]="currentAdmin?.UserId === selectedAdmin?.UserId"
            (click)="save()">
        </button>
    </footer>
</section>