.gra-preview {
    &__header {
        height: 6.3rem;
    }
    &__welcome {
        &--icon {
            height: 4.7rem;
            width: 4.7rem;
        }
        &--section {
            height: 4.7rem;
            &:hover {
                background-color: $hover-blue;
            }
            &:active {
                background-color: $active-blue;
            }
        }
        &--text {
            margin-left: 2.4rem;
        }
    }
    &__section {
        height: 4.7rem;
        &-question {
            border-radius: 5rem 0.3rem 0.3rem 5rem;
            &:hover {
            background-color: $hover-blue;
            }
            &:active {
                background-color: $active-blue;
            }
        }
        &-text {
            margin-left: 2.4rem;
            &--index {
                line-height: 4.3rem;
            }
        }
        &:hover {
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
        &--sequence {
            width: 4.7rem;
            height: 4.7rem;
        }
    }
}
