<ot-drawer
    class="width-50-percent flex-full-height background-white"
    [open]="true"
    >
    <div class="border-bottom padding-left-right-2">
        <div class="gra-preview__header row-space-between align-center border-bottom">
            <span class="text-large">{{ "PreviewReadinessTemplates" | translate }}</span>
            <i
                class="ot ot-times"
                (click)="toggleDrawer.emit()"
            ></i>
        </div>
        <div class="row-space-between padding-all-1">
            <div
                [ngClass]="currentTemplate.previousTemplateId ? 'text-pointer' : 'text-grey-3 cursor-default'"
                (click)="goToPreviousTemplate.emit(currentTemplate.previousTemplateId)"
                >
                <i class="ot ot-chevron-left"></i>
                <span class="margin-left-1">{{ "Previous" | translate }}</span>
            </div>
            <div
                [ngClass]="currentTemplate.nextTemplateId ? 'text-pointer' : 'text-grey-3 cursor-default'"
                (click)="goToNextTemplate.emit(currentTemplate.nextTemplateId)"
                >
                <span class="margin-right-1">{{ "Next" | translate }}</span>
                <i class="ot ot-chevron-right"></i>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <ot-loading class="height-100 row-horizontal-vertical-center"></ot-loading>
    </ng-container>
    <section
        *ngIf="currentTemplate && !isLoading"
        class="overflow-y-auto height-100"
        >
        <div class="margin-top-1">
            <p class="row-horizontal-center text-bold text-medium margin-bottom-2">
                {{ currentTemplate?.name }}
            </p>
            <div class="margin-left-right-5 margin-bottom-1">
                <p class="text-bold">{{ "Description" | translate }}</p>
                <div>{{ currentTemplate?.description }}</div>
            </div>
        </div>
        <div class="full-width position-relative">
            <div class="color-slate cursor-default padding-left-right-2">
                <span class="gra-preview__welcome--icon row-horizontal-vertical-center border border-round position-absolute background-white">
                    <i class="ot ot-star"></i>
                </span>
                <div class="gra-preview__welcome--section row-space-between-center padding-all-1 border background-light-green border-radius-3 margin-left-2">
                    <div
                        class="stretch-vertical"
                        (click)="isWelcomeMessageExpanded = !isWelcomeMessageExpanded"
                        >
                        <span class="text-bold padding-left-2-half">{{ 'Welcome' | translate }}</span>
                    </div>
                    <i
                        class="ot no-outline text-xlarge cursor-pointer"
                        ot-auto-id="GalleryTemplateWelcomeMessagePreviewToggle"
                        [ngClass]="!isWelcomeMessageExpanded ? 'ot-chevron-right' : 'ot-chevron-down'"
                        (click)="isWelcomeMessageExpanded = !isWelcomeMessageExpanded"
                        >
                    </i>
                </div>
                <div
                    *ngIf="isWelcomeMessageExpanded"
                    class="gra-preview__welcome--text margin-right-2 no-outline"
                    >
                    <div
                        class="ql-editor border-left"
                        [innerHtml]="currentTemplate?.welcomeText"
                        >
                    </div>
                </div>
                <div *ngFor="let section of currentTemplate?.sections; trackBy: trackBySectionId; index as sectionIndex;">
                    <div class="margin-top-2 color-slate">
                        <span class="gra-preview__section--sequence row-horizontal-vertical-center text-bold border border-round background-white position-absolute">
                            {{ sectionIndex + 1 }}
                        </span>
                        <div class="gra-preview__section row-space-between-center background-eggshell padding-all-1 border border-radius-3 margin-left-2">
                            <div
                                class="stretch-vertical overflow-ellipsis-nowrap"
                                (click)="expandSection(section)"
                                >
                                <span class="text-bold padding-left-2-half">{{ section.name }}</span>
                            </div>
                            <i
                                class="ot no-outline text-xlarge cursor-pointer"
                                ot-auto-id="GalleryTemplateWelcomeMessagePreviewToggle"
                                [ngClass]="!section.isSectionExpanded ? 'ot-chevron-right' : 'ot-chevron-down'"
                                (click)="expandSection(section)"
                                >
                            </i>
                        </div>
                        <div
                            *ngIf="section.isSectionExpanded"
                            class="gra-preview__section-text border-left padding-left-1 padding-top-2"
                            >
                            <section>
                                <div
                                    class="padding-bottom-2 padding-right-2"
                                    *ngFor="let question of section.questions; index as subSectionIndex;"
                                    >
                                    <div class="gra-preview__section-text--index position-absolute">
                                        {{ sectionIndex + 1 }}.{{ subSectionIndex + 1 }}
                                    </div>
                                    <div class="gra-preview__section-question row-space-between-center background-eggshell padding-all-1 border border-radius-3 margin-left-4">
                                        <div
                                            class="stretch-vertical overflow-ellipsis-nowrap"
                                            (click)="showQuestionPreview.emit(question)"
                                            >
                                            <span class="text-bold padding-left-2-half">{{ question.friendlyName || question.content }}</span>
                                        </div>
                                        <i
                                            class="ot no-outline text-xlarge cursor-pointer margin-left-1"
                                            ot-auto-id="GalleryTemplateWelcomeMessagePreviewToggle"
                                            [ngClass]="!question.isPreviewShown ? 'ot-chevron-right' : 'ot-chevron-down'"
                                            (click)="showQuestionPreview.emit(question)"
                                            >
                                        </i>
                                    </div>
                                    <div *ngIf="question.isPreviewShown">
                                        <global-readiness-welcome-question-preview
                                            [question]="question"
                                        ></global-readiness-welcome-question-preview>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="row-flex-end margin-top-bottom-2 margin-right-2">
        <button otButton
            (click)="toggleDrawer.emit()"
            >
            {{ 'Cancel' | translate }}
        </button>
        <button otButton brand
            (click)="toggleTemplateChosen()"
            >
            {{ 'ChooseTemplate' | translate }}
        </button>
    </footer>
</ot-drawer>
<global-readiness-welcome-start-pane
    *ngIf="templateChosen"
    [currentTemplate]="currentTemplate"
    (toggleTemplateChosen)="toggleTemplateChosen()"
    (startAssessment)="startAssessment.emit($event)"
    (toggleDrawer)="toggleDrawer.emit()"
></global-readiness-welcome-start-pane>
