<section
    *ngIf="permissions.TemplatesView"
    class="template-builder row-nowrap z-index-1 full-size position-relative"
>
    <div
        *ngIf="templateState === templateStates.Draft && !isTemplateLocked && isTemplateActive"
        class="template-builder__questiontype background-grey overflow-y-auto"
    >
        <question-types-selection></question-types-selection>
    </div>
    <div class="template-builder__question width-80-percent position-relative overflow-y-auto"
        ngClass="{'templateState === templateStates.Draft' : width-100-percent }"
    >
        <template-welcome-message
            class="centered-max-80"
            [templateId]="templateId"
        ></template-welcome-message>
        <template-section-list
            class="centered-max-80 margin-bottom-3"
            [templateId]="templateId"
        ></template-section-list>
    </div>
    <upgraded-loading
        *ngIf="showLoader"
        class="top-0 left-0 height-100 width-100-percent position-absolute background-grey opacity-50"
        [text]="loaderText"
    ></upgraded-loading>
</section>
