<cookie-page-header
    [pageTitle]="'ConsentPolicy' | otTranslate"
    [primaryButton]="primaryButton"
></cookie-page-header>
<div class="consent-policy-list full-height-minus-5 overflow-y-auto stretch-vertical background-white">
    <div
        *ngIf="isReady"
        class="overflow-x-auto"
    >
        <table
            otDataTable
            class="position-relative"
            [rowData]="consentPolicies"
            [rowBordered]="true"
            [responsiveTable]="true"
        >
            <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index;">
                <ot-data-table-column
                    [headerLabel]="col.columnHeader"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        [thStyle]="{'padding': '0 1rem'}"
                        >
                        <span
                            [ngClass]="{'block text-center' : columnIndex !== 0}"
                            class="text-bold"
                            >
                            {{col.columnHeader}}
                        </span>
                    </ng-template>
                    <ng-template otDataTableCell let-row="row">
                        <ng-container *ngIf="col.clickable">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                >
                                <a
                                    class="slds-truncate block text-pointer text-link text-bold text-left"
                                    title="{{row[col.dataValueKey]}}"
                                    (click)="goToConsentDetailPage(row.id)"
                                >
                                    {{row[col.dataValueKey]}}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!col.clickable && columnIndex !== 5">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                >
                                {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}

                            </div>
                        </ng-container>
                        <ng-container *ngIf="!col.clickable && columnIndex === 5">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataValueKey]}}"
                                >
                                <span
                                    [otBadge]
                                    [innerText]="'Draft' | otTranslate"
                                    *ngIf="row[col.dataValueKey] === consentPolicyStatus.Draft"
                                >
                                </span>
                                <span
                                    [otBadge]="'success'"
                                    [innerText]="'Published' | otTranslate"
                                    *ngIf="row[col.dataValueKey] !== consentPolicyStatus.Draft"
                                >
                                </span>
                            </div>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
            <ot-data-table-column>
                <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                </ng-template>
                <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                </ng-template>
            </ot-data-table-column>
            <ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thClass]="'float-col'">
                    </ng-template>
                    <ng-template
                        otDataTableCell
                        [tdClass]="'float-col background-transparent'"
                        [tdStyle]="{'background': 'transparent'}"
                        let-row="row"
                    >
                        <ot-context-menu
                            class="position-relative consent-policy-list__context-position"
                            [type]="2"
                            [menu]="row.contextMenuOptions"
                            [position]="'bottom-right'"
                        >
                            <i class="ot ot-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                class="text-medium-small"
                                [ngClass]="{'disabled background-grey': item.isDisabled}"
                                (click)="item.action(row)"
                            >
                                {{item.text}}
                            </a>
                        </ot-context-menu>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
    <ot-loading
        *ngIf="!isReady"
        class="flex-full-height height-100 justify-center"
    ></ot-loading>
    <ot-empty-state
        *ngIf="isReady && (!consentPolicies || !consentPolicies.length)"
        class="flex-full-height justify-center text-center margin-top-4"
        [emptyStateMessage]="'NoRecordsFound' | otTranslate"
    >
        <img emptyStateImg />
    </ot-empty-state>
</div>


