.template-section-list {
    &__add-section {
        border-style: dashed;
        border-color: $blue;
        &:hover {
            cursor: move;
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
    }
    &__sequence {
        width: 4.7rem;
        height: 4.7rem;
    }
    &__dnd-placeholder {
        border-radius: 5rem 0.3rem 0.3rem 5rem;
        border-style: dashed;
        border-color: $blue;
        background-color: $alice-blue;
        pointer-events: none;
    }
}
