<section
    *ngIf="!isBuilderLoading"
    class="template-section-list padding-none"
>
    <one-empty-state
        *ngIf="!(sectionSequence && sectionSequence.length > 0 )"
        class="flex-full-height justify-center text-center padding-all-2"
        [emptyStateMessage]="'NoSectionQuestionToDisplay' | otTranslate"
        [actionText]="'AddSection' | otTranslate"
        [isActionEnabled]="!isTemplateLocked && isTemplateActive"
        [actionButtonId]="'TemplateAddSectionButtonId'"
        (actionCallback)="launchEditSectionModal()"
        >
    </one-empty-state>
    <div
        class="builder-question-list--drop"
        [dndList]="{ allowedTypes: [ builderDraggableTypes.BuilderSection ] }"
        [dndPlaceholder]="placeholder"
        [dndModel]="sectionSequence"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (dndDrop)="dndDropHandler($event)"
        (dndInserted)="dndInserted($event)"
    >
        <div *ngFor="let sectionId of sectionSequence; let sequence=index; trackBy: trackBySectionId">
            <template-section
                class="no-outline"
                [sectionId]="sectionId"
                [sectionSequence]="sectionSequence"
                [sequence]="sequence+1"
                [templateId]="templateId"
            >
            </template-section>
        </div>
    </div>
    <div *ngIf="!isTemplateLocked && isTemplateActive && isCreateMode && permissions.TemplatesCreateAndPublish && sectionSequence && sectionSequence.length > 0">
        <span class="template-section-list__sequence row-horizontal-vertical-center text-bold border border-round position-absolute background-white">
            <i class="ot ot-plus"></i>
        </span>
        <div
            class="template-section-list__add-section width-100-percent margin-left-2 border min-height-46 text-center margin-top-bottom-2 row-vertical-center height-2"
            [attr.ot-auto-id]="'TemplateBuilderSectionAdd'"
        >
            <button
                otButton
                neutral
                class="paragraph-medium-small text-bold no-outline margin-0-auto cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderQuestionSectionAdd'"
                [innerText]="'AddSection'| otTranslate"
                (click)="launchEditSectionModal()"
            >
            </button>
        </div>
    </div>
    <div
        class="template-section-list__dnd-placeholder margin-left-2 border min-height-46 text-center margin-top-bottom-2 row-vertical-center height-2"
        #placeholder>
        <span class="paragraph-medium-small text-ui-blue text-bold flex-auto">
            {{"DropSectionHere" | otTranslate}}
        </span>
    </div>
</section>
