.reports-list {

    &__empty-report-message {
        color: $grey-3;
    }

    @supports (-ms-ime-align:auto) or (-moz-appearance:none) {
        &__buttons {
            padding-bottom: 2.5rem;
            padding-left: 3rem;
            z-index: 200;
        }
    }

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        &__buttons {
            padding-bottom: 2.5rem;
            padding-left: 3rem;
            z-index: 200;
        }
    }
}
