<section class="reports-list height-100 column-nowrap flex-full-height">
    <ot-page-header
        class="height-49"
        [title]="'Reports' | otTranslate"
        >
        <button otButton brand
            ot-auto-id="reportsCreateNewBtn"
            *ngIf="('ReportsCreate' | otPermit) && !('ReportTemplateGallery' | otPermit)"
            [innerText]="'CreateNew' | otTranslate"
            (click)="reportAction.openReportsCreateModal()"
            >
        </button>
        <button otButton brand
            ot-auto-id="reportsCreateNewBtn"
            *ngIf="('ReportsCreate' | otPermit) && ('ReportTemplateGallery' | otPermit)"
            [innerText]="'CreateNew' | otTranslate"
            (click)="goToRoute('zen.app.pia.module.reports-new.template-gallery')"
            >
        </button>
    </ot-page-header>
    <section class="row-nowrap padding-all-1 background-grey border static-vertical">
        <ot-search-input
            class="margin-left-auto"
            ot-auto-id="reportsSearchInput"
            [placeholder]="'Search' | otTranslate"
            [searchOnEnter]="true"
            [model]="searchTerm"
            (search)="handleSearch($event)"
            >
        </ot-search-input>
        <button
            otButton
            class="margin-left-1"
            ot-auto-id="ReportsListFiltersToggle"
            icon="ot ot-filter"
            [select]="showingFilteredResults"
            (click)="toggleFilters(!filtersOpen)"
            >
        </button>
    </section>
    <section class="position-relative flex-full-height">
        <div class="flex-full-height column-nowrap height-100 overflow-y-auto stretch-vertical column-nowrap">
            <ot-loading class="flex-full-height" otPageLoading *ngIf="fetchingReport"></ot-loading>
            <div
                class="reports-list__empty-report-message text-center text-medium absolute-center"
                *ngIf="!fetchingReport && !reportModelList.length"
                >
                {{"YouHaveNoReports" | otTranslate}}
            </div>
            <div class="position-relative">
                <div class="overflow-x-auto">
                    <table
                        class="full-width"
                        otDataTable
                        *ngIf="!fetchingReport && reportModelList.length"
                        [rowData]="reportModelList"
                        [rowBordered]="true"
                        [sortable]="true"
                        [sortKey]="sortColumn"
                        [sortOrder]="sortOrder"
                        (sortChanged)="toggleSort($event)"
                        >
                        <ng-container *ngFor="let col of (columnConfig | filterBy: getColumnPermitted); trackBy: columnTrackBy; let columnIndex = index;">
                            <ot-data-table-column
                                [headerLabel]="col.headerText"
                                [column]="col"
                                [sortable]="col.sortable"
                                [sortKey]="col.modelPropKey"
                                >
                                <ng-template
                                    otDataTableCell
                                    let-row="row"
                                    [tdStyle]="{'padding': '0 1rem'}"
                                    [tdClass]="col.isDefaultColumn ? 'max-width-50 text-center' : 'max-width-50'"
                                    >
                                    <a
                                        class="text-bold text-link text-decoration-none slds-truncate block"
                                        *ngIf="columnIndex === 0"
                                        [attr.title]="col.getDisplayText(row[col.modelPropKey])"
                                        [innerText]="col.getDisplayText(row[col.modelPropKey])"
                                        (click)="goToReport(row)"
                                        >
                                    </a>
                                    <span
                                        class="slds-truncate block"
                                        *ngIf="columnIndex !== 0 && !col.isDefaultColumn"
                                        [attr.title]="col.getDisplayText(row[col.modelPropKey])"
                                        [innerText]="col.getDisplayText(row[col.modelPropKey])"
                                        >
                                    </span>
                                    <span class="block" *ngIf="col.isDefaultColumn && row?.type === moduleTypes.INV && row?.layout?.default && 'SetDefaultPAPDF' | otPermit">
                                        <i class="ot ot-check-circle text-ui-blue text-large"></i>
                                    </span>
                                    <span class="block" *ngIf="col.isDefaultColumn && row?.type === moduleTypes.PIA && row?.layout?.default && 'SetDefaultAssessmentPDF' | otPermit">
                                        <i class="ot ot-check-circle text-ui-blue text-large"></i>
                                    </span>
                                </ng-template>
                            </ot-data-table-column>
                        </ng-container>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thStyle]="{'min-width': '6rem'}">
                                <div></div>
                            </ng-template>
                            <ng-template otDataTableCell [tdStyle]="{'min-width': '6rem'}">
                                <div></div>
                            </ng-template>
                        </ot-data-table-column>
                        <ot-data-table-column>
                            <ng-template otDataTableHeader [thClass]="'float-col'">
                                <div></div>
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                let-row="row"
                                [tdClass]="'float-col background-transparent'"
                                [tdStyle]="{'background': 'transparent', 'padding': '.3rem 2rem'}"
                                >
                                <ot-context-menu
                                    *ngIf="showContextMenu"
                                    [type]="2"
                                    [menu]="menuOptions"
                                    [position]="menuPosition"
                                    (toggled)="setMenuOptions($event, row)"
                                    (click)="setMenuClass($event)"
                                    >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a
                                        *otContextMenuItem="let item"
                                        (click)="item.action(row)"
                                        >
                                        <span>
                                            <i
                                                class="ot margin-right-1"
                                                [ngClass]="item.iconClass || item.getIconClass(row)"
                                                >
                                            </i>
                                            <span [innerText]="item.label"></span>
                                        </span>
                                    </a>
                                </ot-context-menu>
                            </ng-template>
                        </ot-data-table-column>
                    </table>
                </div>
            </div>
        </div>
        <ot-drawer
            class="width-29 flex-full-height"
            [open]="filtersOpen"
            >
            <div
                class="padding-all-2 cursor-pointer row-vertical-center"
                ot-auto-id="ReportsListCloseFiltersBtn"
                (click)="toggleFilters(false)"
                >
                <i class="side-drawer__icon ot ot-arrow-circle-o-right margin-right-1"></i>
                <span [innerText]="'Close' | otTranslate"></span>
            </div>
            <one-filter
                class="flex-full-height"
                [fields]="columnConfig | filterBy: getFilterableColumns"
                [getFieldLabelValue]="getFieldLabelValue"
                [currentValues]="currentFilterValues"
                [currentType]="currentFilterValueType"
                [selectedFilters]="selectedFilters | map: serializeFilters"
                [togglePopup$]="closeFilter$"
                (selectField)="setFilterValues($event)"
                (applyFilters)="applyFilters($event)"
                (cancel)="toggleFilters(false)"
                >
            </one-filter>
        </ot-drawer>
    </section>
    <footer
        otPaginationFooter
        >
        <ot-pagination
            *ngIf="reportModelList.length"
            [currentPage]="reportPaginationData?.number"
            [handleOffset]="true"
            [numPages]="reportPaginationData?.totalPages"
            (pageChanged)="handlePagination($event)"
            >
        </ot-pagination>
        <span
            *ngIf="reportModelList.length"
            [innerText]="reportPaginationData | otPageMeta"
            >
        </span>
    </footer>
</section>
