<div class="risk-level-list padding-left-right-2">
    <div *ngFor="let riskLevel of riskLevelList; trackBy: trackByRiskLevelId">
        <div class="row-nowrap padding-all-1 align-center">
            <div
                class="border-round risk-level-list__risklevel cursor-default"
                [ngClass]="riskLevel.riskFlagBgClass"
                >
                <i class="ot ot-flag color-white"></i>
            </div>
            <div class="row-nowrap padding-left-right-1 align-center full-height full-width">
                <p class="padding-top-1 padding-right-1 text-bold text-center">{{riskLevel.score}}</p>
                <p class="padding-top-1 padding-right-1 text-bold text-center">{{riskLevel.displayName}}</p>
            </div>
        </div>
    </div>
</div>
