.new-item-field {
    border: 2px dashed $grey-1;
    color: $grey-4;
    background: 0;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;

    &:hover {
        color: $slate;
        border: 2px solid $grey-1;
    }

    &__icon {
        margin-right: 0.5rem;
        font-size: 1.4rem;
    }
}
