.system-subtasks-details {
    height: 85%;

    &-form-container {
        height: 88%;
    }

    .ql-container {
        height: 10rem;
    }

    &__cycle-button {
        cursor: pointer;
        font-size: 1rem;
        color: $grey-10;
    }

    &__button:hover {
        .system-subtasks-details__icon {
            display: block;
        }
    }
    
    .alignselectorright {
        left: 0;
    }
}
