<ng-template #subtaskDetailsLoader>
    <ot-loading otPageLoading class="margin-left-right-auto margin-top-3"></ot-loading>
</ng-template>

<div
    class="system-subtasks-details overflow-y-hidden height-100"
    *ngIf="!loadingDetails; else subtaskDetailsLoader"
    >

    <!-- Head -->
    <div class="padding-left-right-1 border-platinum full-width background-grey border-1 flex row-space-around align-center">
        <div class="flex align-center">
            <div class="flex align-center cursor-pointer" (click)="backToList()">
                <i class="ot ot-chevron-left margin-right-1 text-medium"></i>
                <span class="text-bold">{{ "BackToList" | translate }}</span>
            </div>
            
            <div class="height-4 border-platinum margin-left-2-half margin-right-2-half"></div>

            <div class="flex align-center">
                <ot-checkbox
                    class="inline margin-right-half"
                    [checked]="details.status === incidentSubTasksStateKeys.Closed"
                    [attr.ot-auto-id]="'SystemSubtaskMarkAsComplete'"
                    (toggle)="toggleMarkAsComplete($event)"
                    >
                </ot-checkbox>
                <label class="media-bottom text-normal">{{ 'MarkAsComplete' | translate }}</label>
            </div>
        </div>

        <div class="flex align-center row-flex-end">
            <span class="inline margin-right-2">
                <span class="margin-right-quarter">
                    <span class="text-bold ">{{ pageInfo?.current + 1 }}</span>
                    <span class="text-lowercase"> {{ 'Of' | translate }} </span>
                    <span class="text-bold">{{ pageInfo?.count }}</span>
                </span>
                <span class="text-lowercase">{{ 'SubTasks' | translate }}</span>
            </span>
            
            <ng-template #filler><div class="width-1"></div></ng-template>
            
            <i class="system-subtasks-details__cycle-button ot ot-chevron-left margin-right-2"
                *ngIf="pageInfo.current !== 0; else filler"
                (click)="previousSubtask()"></i>
            <i class="system-subtasks-details__cycle-button ot ot-chevron-right"
                *ngIf="pageInfo.current < pageInfo.count - 1; else filler"
                (click)="nextSubtask()"></i>
        </div>
    </div>

    <!-- Content -->
    <div class="system-subtasks-details-form-container overflow-x-hidden overflow-y-auto">
        <form class="margin-auto padding-top-3"
            *ngIf="details"
            name="SytemSubtasksEditForm"
            [formGroup]="form"
            >
            <ng-template #readonlyField let-text="text" let-isHtml="isHtml">
                <button
                    class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none system-subtasks-details__button"
                    [ngClass]="{ 'text-cursor-default': !canEdit }"
                    (click)="toggleEdit()"
                    >
                        <ng-template #htmlRead>
                            <ot-rich-text-editor-view>
                                <p [innerHTML]="text || '- - - -'"></p>
                            </ot-rich-text-editor-view>
                        </ng-template>
                        <div  *ngIf="!isHtml; else htmlRead">
                            {{ text || "- - - -" }}
                        </div>
                        <i *ngIf="canEdit" class="ot ot-edit display-none position-absolute top-half right-0 system-subtasks-details__icon"></i>
                </button> 
            </ng-template>

            <div class="margin-bottom-3">
                <div>
                    <i *ngIf="editing" class="ot ot-asterisk margin-right-quarter sup-asterisk-table"></i>
                    <span class="text-bold">{{ 'SubTaskName' | translate }}</span>
                </div>
                <div class="margin-left-half">
                    <ng-container *ngIf="!editing; else detailName"
                        [ngTemplateOutlet]="readonlyField"
                        [ngTemplateOutletContext]="{ text: details?.name, isHtml: false }"
                    ></ng-container>
                    <ng-template #detailName>
                        <div otFormElement
                            class="margin-bottom-1"
                            [required]="true"
                            >
                            <input otInput
                                formControlName="name"
                                ot-auto-id="SystemSubTasksNameInput"
                                [placeholder]="'Name' | translate"
                                [required]="true"
                            />
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="margin-bottom-3">
                <div>
                    <i *ngIf="editing" class="ot ot-asterisk margin-right-quarter sup-asterisk-table"></i>
                    <span class="text-bold">{{ 'SubtaskDescription' | translate }}</span>
                </div>
                <div class="margin-left-half">
                    <ng-container *ngIf="!editing; else detailDescription"
                        [ngTemplateOutlet]="readonlyField"
                        [ngTemplateOutletContext]="{ text: details?.description, isHtml: true }"
                    ></ng-container>
                    <ng-template #detailDescription>
                        <div otFormElement
                            class="margin-bottom-1"
                            [required]="true"
                            >
                            <ot-rich-text-editor
                                ot-auto-id="SystemSubTasksDescriptionInput"
                                [placeholder]="'Description' | translate"
                                [contentModel]="form.get('description').value"
                                [customModules]="customModules"
                                [required]="true"
                                (onContentChanged)="subtaskDescriptionInputChanged($event.html)"
                            ></ot-rich-text-editor>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="margin-bottom-3">
                <div class="text-bold">{{ 'Assignee' | translate }}</div>
                <div class="margin-left-half">
                    <ng-container *ngIf="!editing; else detailAssignee"
                        [ngTemplateOutlet]="readonlyField"
                        [ngTemplateOutletContext]="{ text: details?.assigneeName, isHtml: false }"
                    ></ng-container>
                    <ng-template #detailAssignee>
                        <div otFormElement
                            class="margin-bottom-1"
                            [required]="true"
                            >
                            <ot-org-user
                                [allowEmail]="false"
                                [model]="form.get('assigneeId').value"
                                [orgId]="user.OrgGroupId"
                                [permissions]="['IncidentAssignableUser']"
                                [fetchOptionsOnClick]="false"
                                [traversal]="orgUserTraversal.Up"
                                (onSelect)="selectAssignee($event)"
                            ></ot-org-user>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="margin-bottom-3">
                <div class="text-bold">{{ 'DueDate' | translate }}</div>
                <div class="margin-left-half">
                    <ng-container *ngIf="!editing; else detailDeadline"
                        [ngTemplateOutlet]="readonlyField"
                        [ngTemplateOutletContext]="{ text: details?.deadline | otDate, isHtml: false }"
                    ></ng-container>
                    <ng-template #detailDeadline>
                        <div otFormElement
                            class="margin-bottom-1"
                            [required]="true"
                            >
                            <ot-date-time-picker
                                ot-auto-id="SystemSubtasksEditDeadline"
                                [dateTimeModel]="form.get('deadline').value"
                                [dateDisableUntil]="disableUntilDate"
                                [dateFormat]="format"
                                [datePlaceholder]="'DeadlineDate' | translate"
                                [hoursText]="'Hours' | translate"
                                [is24Hour]="is24Hour"
                                [minutesText]="'Minutes' | translate"
                                [timePlaceholder]="'DeadlineTime' | translate"
                                (onChange)="selectDeadline($event)"
                            ></ot-date-time-picker>
                        </div>
                    </ng-template>
                </div>
            </div>
            
            <div class="margin-top-1 row-flex-end" *ngIf="editing">
                <button otButton
                    ot-auto-id="SystemSubtaskEditCancelButton"
                    (click)="cancelEdits()"
                >{{ 'Cancel' | translate }}</button>
                <button otButton brand
                    ot-auto-id="SystemSubtaskEditSaveButton"
                    [disabled]="!canSave()"
                    (click)="saveEdits()"
                >{{ 'Save' | translate }}</button>
            </div>
        </form>

        <!-- <div class="system-subtasks-details__divider border-grey margin-left-2-half margin-right-2-half"></div> -->
        
        <!-- Comments -->
        <!-- <div class="column-wrap flex-stretch-0">
            <div class="text-bold">{{ 'Comments' | translate }}</div>
            <ot-rich-text-editor
                [contentModel]="commentInput"
                (onContentChanged)="commentInputChanged($event.html)">
            </ot-rich-text-editor>
            <button otButton neutral
                class="margin-top-1 align-self-end width-2"
                ot-auto-id="SystemSubtasksSubmitCommentButton"
                [disabled]="!commentInput"
                (click)="submitComment()"
            >{{'Comment' | translate}}</button>
        </div> -->
    </div>
</div>
