<aa-section-approvers-footer
    *ngIf="!hideApproversFooter"
    [approvers]="approvers"
></aa-section-approvers-footer>
<footer otPageFooter
    [justify]="'space-between'"
    class="aa-footer"
>
    <div class="row-vertical-center">
        <button
            *ngIf="approvers.length > 1 && (assessmentDetailStatus === assessmentStatus.Under_Review || assessmentDetailStatus === assessmentStatus.Completed) && !isReadinessTemplate && !isReadOnly"
            ot-auto-id="AASectionFooterViewApproversButton"
            class="aa-footer__aprovers-btn padding-left-right-3 border-left-right margin-right-1 background-grey border-top-bottom-none"
            (click)="toggleApproversView()">
            <i [ngClass]="hideApproversFooter ? 'ot ot-angle-up' : 'ot ot-angle-down'"></i>
            <p class="text-bold">{{'ViewApprovers' | otTranslate}}</p>
        </button>
        <button otButton neutral
            *ngIf="('AssessmentSendBackToInProgress' | otPermit) && assessmentDetailStatus === assessmentStatus.Under_Review && !isReadOnly"
            ot-auto-id="AssessmentSectionDetailFooterSendBackButton"
            [otTooltip]="'SendBackInformation' | otTranslate"
            (click)="showSendBackModal(sendBackType.SendBackToInProgress)"
        >
            {{'SendBack' | otTranslate}}
        </button>
    </div>
    <div class="height-5 row-nowrap">
        <div class="border-right-2 margin-right-2 row-space-around width-10 row-horizontal-vertical-center">
            <button otButton neutral
                *ngIf="!sectionNavFiltersApplied"
                ot-auto-id="AssessmentSectionDetailFooterPreviousButton"
                icon="ot ot-chevron-left"
                [disabled]="disablePreviousButton"
                (click)="goToPreviousSection()"
                >
            </button>
            <button otButton neutral
                *ngIf="!sectionNavFiltersApplied"
                ot-auto-id="AssessmentSectionDetailFooterNextButton"
                class="margin-right-2"
                icon="ot ot-chevron-right"
                [disabled]="disableNextButton"
                (click)="goToNextSection()"
                >
            </button>
        </div>
        <div class="row-horizontal-vertical-center">
            <button otButton neutral
                *ngIf="assessmentDetailStatus === assessmentStatus.In_Progress && !isReadinessTemplate && !isReadOnly && !isDINATemplate"
                ot-auto-id="AssessmentSectionDetailFooterSaveAndExitButton"
                (click)="saveAndExit()"
            >
                {{'SaveAndExit' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="(assessmentDetailStatus === assessmentStatus.Not_Started || assessmentDetailStatus === assessmentStatus.In_Progress) && !isReadinessTemplate && !isReadOnly && !isDINATemplate"
                ot-auto-id="AssessmentSectionDetailFooterSubmitButton"
                [disabled]="isSubmitDisabled"
                (click)="submitAssessment()"
            >
                {{'Submit' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="isReadinessTemplate"
                ot-auto-id="AssessmentSectionDetailFooterCompleteButton"
                [disabled]="isViewSummaryDisabled"
                (click)="viewSummary()"
            >
                {{'ViewSummary' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="isDINATemplate"
                ot-auto-id="AssessmentSectionDetailFooterViewIncidentButton"
                [disabled]="isViewSummaryDisabled"
                (click)="viewIncident()"
                >
                {{'ViewIncident' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="showApproveButton"
                ot-auto-id="AssessmentSectionDetailFooterApproveButton"
                [disabled]="isApproveDisabled"
                (click)="approveAssessment()"
            >
                {{'FinishReview' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="showUnapproveButton"
                ot-auto-id="AssessmentSectionDetailFooterUnapproveButton"
                (click)="showUndoReviewAssessmentModal()"
            >
                {{'UndoReview' | otTranslate}}
            </button>
            <button otButton brand
                *ngIf="('ReopenAssessment' | otPermit) && assessmentDetailStatus === assessmentStatus.Completed && !isReadinessTemplate && !isReadOnly"
                ot-auto-id="AssessmentSectionDetailFooterReopenButton"
                (click)="assessmentDetailAction.sendBack(sendBackType.SendBackToUnderReview)"
            >
                {{'ReopenAssessment' | otTranslate}}
            </button>
        </div>
    </div>
</footer>
