.aa-footer {
    background-color: $aa-footer-background-color;
    &__aprovers-btn {
        height: 6.9rem;
        &:focus {
           outline: none;
        }
    }

    &__settings-toggle {
        .ot-setting__content {
            width: 10rem;
        }
    }
    &__settings-title {
        .ot-setting__title {
            font-size: 1.4rem;
        }
    }

    &__approved-button {
        background-color: $active-blue !important;
        border: 0.1rem solid $ui-blue !important;
    }

    &__rejected-button {
        background-color: $red-faded !important;
        border: 0.1rem solid $red !important;
    }
}
