<div
    class="padding-left-right-2 margin-top-bottom-2 centered-90 border-grey"
    [ngClass]="{'background-white' : ruleSetting.editMode, 'background-grey' : !ruleSetting.editMode}"
>
    <div class="min-height-7 row-vertical-center row-space-between">
        <!-- Rule name -->
        <div *ngIf="!ruleSetting.editMode">{{ruleSetting.name}}</div>
        <input
            *ngIf="ruleSetting.editMode"
            otInput
            class="margin-right-5 max-width-50"
            ot-auto-id="CookieConsentPolicyRuleNameInput"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="ruleSetting.name"
            (ngModelChange)="onRuleNameChange($event)"
        />
        <!-- edit/delete and expand/collapse actions -->
        <div class="row-nowrap hover-show-container">
            <button
                *ngIf="!ruleSetting.editMode"
                otButton
                class="hover-show"
                ot-auto-id="CookieConsentPolicyEditRuleButton"
                [icon]="'ot ot-edit'"
                (click)="onEditRule()"
            ></button>
            <button
                *ngIf="ruleSetting.editMode && !ruleSetting.isDefault"
                otButton
                ot-auto-id="CookieConsentPolicyDeleteRuleButton"
                [icon]="'ot ot-trash'"
                (click)="onDeleteRule()"
            ></button>
            <button
                otButton
                ot-auto-id="CookieConsentPolicyToggleRuleButton"
                [icon]="ruleSetting.isToggled ? 'ot ot-chevron-up' : 'ot ot-chevron-down'"
                (click)="onTogglerule()"
            ></button>
        </div>
    </div>
    <!-- Region options -->
    <div
        *ngIf="ruleSetting.isToggled && !ruleSetting.isDefault"
        otFormElement
        class="border padding-all-2"
        [required]="true"
        [label]="'SelectRegionsToAssignThisPolicy' | otTranslate"
    >
        <ot-lookup
            class="min-width-20"
            ot-auto-id="CookieConsentPolicyRegionSelection"
            [autoClose]="true"
            [multiSelect]="true"
            [disabled]="!ruleSetting.editMode"
            [labelKey]="'name'"
            [valueKey]="'id'"
            [placeholder]="'SelectRegions' | otTranslate"
            [options]="regionList"
            [model]="ruleSetting.regions"
            (modelChange)="onRegionSelectionChange($event)"
        ></ot-lookup>
    </div>
    <div *ngIf="ruleSetting.isToggled"
        class="margin-none padding-all-1"
        otSettingContainer
    >
        <ng-container *ngFor="let meta of regionMeta">
            <settings-generator
                [settingMeta]="meta"
                [settings]="ruleSetting"
                [isDisabled]="!ruleSetting.editMode"
                (handleSettingAction)="handleAction($event)"
            ></settings-generator>
        </ng-container>
        <div
            class="border margin-top-bottom-2 padding-all-1"
            [ngClass]="{'background-white' : ruleSetting.editMode, 'background-grey' : !ruleSetting.editMode}"
        >
            <table
                otDataTable
                [ngClass]="{'background-white' : ruleSetting.editMode, 'background-grey' : !ruleSetting.editMode}"
                [rowData]="ruleSetting.groupStatuses"
                [responsiveTable]="true"
                [truncateCellContent]="true"
                [wrapCellContent]="true"
            >
                <ng-container *ngFor="let column of domainGroupColumns">
                    <ot-data-table-column
                        [column]="col"
                        [thClass]="{'text-center': column.labelKey === groupColumns.DoNotTrack}"
                        [thStyle]="{'background-color': ruleSetting.editMode ? '#FFFFFF' : '#F8F8F8'}"
                    >
                        <ng-template otDataTableHeader>
                            <span class="text-bold">{{column.labelKey | otTranslate}}</span>
                            <i
                                *ngIf="column.tooltipDescriptionKey"
                                class="ot ot-info-circle margin-left-1"
                                [otTooltip]="column.tooltipDescriptionKey | otTranslate"
                            ></i>
                        </ng-template>
                        <ng-template
                            *ngIf="column.labelKey === groupColumns.Status"
                            otDataTableCell
                            let-row="row"
                            [tdClass]="'max-25'"
                        >
                            <ot-picklist
                                class="min-width-20"
                                ot-auto-id="CookieConsentPolicyGroupStatusSelection"
                                [autoClose]="true"
                                [disabled]="true"
                                [labelKey]="'name'"
                                [model]="row.status"
                                [options]="consentModelOptions"
                                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                                [valueKey]="'id'"
                            ></ot-picklist>
                        </ng-template>
                        <ng-template
                            *ngIf="column.labelKey === groupColumns.DoNotTrack"
                            otDataTableCell
                            let-row="row"
                            [tdClass]="'max-25 text-center'"
                        >
                            <ot-checkbox
                                ot-auto-id="CookieConsentPolicyGroupDNTSelection"
                                [checked]="row.isDntEnabled"
                                [disabled]="!ruleSetting.editMode"
                                (toggle)="onGroupDNTToggle($event,row)"
                            ></ot-checkbox>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            let-row="row"
                            [tdClass]="'max-25'"
                        >
                            {{row[column.cellValueKey]}}
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
        </div>
        <div>
            <ot-checkbox
                [checked]="true"
                [disabled]="!ruleSetting.editMode"
            ></ot-checkbox>
            <label class="padding-left-1">{{'UseConsentModelIfSiteVisitorIPUnknown' | otTranslate}}</label>
        </div>
    </div>
</div>

