<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'CollectionPoints' | otTranslate"
        >
        <button otButton brand
            *ngIf="'ConsentCollectionPointCreate' | otPermit"
            button-class="margin-top-bottom-2"
            ot-auto-id="MultiPreferenceCenterCreateButton"
            innerText="{{ 'AddNew' | otTranslate }}"
            (click)="createCollectionPoint()"
        ></button>
    </ot-page-header>
    <div otDrawerContainer
        class="full-width position-relative flex-full-height overflow-hidden"
        >
        <cr-collection-point-filters
            class="full-width"
            [filters]="filters"
            [crPurposes]="crPurposes"
            (applyCallback)="searchCollectionPoints($event, 0)"
            (refreshCallback)="searchCollectionPoints($event, 0)"
        ></cr-collection-point-filters>

        <div class="full-width flex-full-height">
            <cr-table
                class="flex-full-height"
                noDataKey="NoCollectionPointsFound"
                rowFlagKey="ShowWarning"
                [columns]="columns"
                [loading]="searchInProgress"
                [noDataRoutePermission]="'ConsentCollectionPointCreate' | otPermit"
                [resizable]="false"
                [rows]="tableData"
                (goToRoute)="goToRoute($event)"
                (pageChange)="loadPage($event)"
                (noDataRoute)="createCollectionPoint()"
            ></cr-table>
        </div>
    </div>
</div>