.cc-group-modal {
    &__modal-body {
        margin: auto;
        vertical-align: middle;
        width: 90%;
    }
    &__label {
        position: relative;
    }
    &__textarea {
        height: 25rem !important;
    }
    &__required {
        left: -1.2rem;
    }
    &__label,
    &__required {
        top: 1.8rem;
    }       
}
.vendors-list {
    margin-top: 2rem;
    li.vendor-item {
        padding: 2rem;
        border-bottom: 1px solid $black;
    }
}