header.settings-body-header
    | {{::$root.t("SingleSignOn")}}
loading(ng-if='!Ready', text='{{::$root.t("SsoDirectorySettings")}}')
.settings-body-content(ng-if='Ready')
    form.settings-input-section
        h3.settings-input-section-name
            | {{::$root.t("EnableSingleSignOn")}}
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("SingleSignOnDescription")}}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("EnablingSsoAuthenticatesWithIdp")}}',
                    tooltip-placement='top')
            button.settings__toggle(
                ng-click='setEnable(true)',
                ng-class="{'selected': Directory.IsEnabled}")
                | {{::$root.t("Yes")}}
            button.settings__toggle(
                ng-click='setEnable(false)',
                ng-if="!$ctrl.isDisabledNo"
                ng-class="{'selected': !Directory.IsEnabled}")
                | {{::$root.t("No")}}

    form(name='settingsForm')
        .settings(ng-if="Directory.IsEnabled")
            .settings-input-section
                h3.settings-input-section-name
                    | {{::$root.t("ServiceProviderConfiguration")}}
                hr
                .settings__section
                    fieldset.form-group.form-horizontal(ng-disabled="!(Directory.Provider === DirectoryProviders.SAML)")
                        label.settings-section-label(for='SericeProviderName')
                            | {{::$root.t("Name")}}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("OnetrustServiceProviderName")}}',
                                tooltip-placement='top')
                        label.settings-section-label(for='SericeProviderName')
                            | {{Directory.SericeProviderName}}
                        label.settings-section-label
                            | {{::$root.t("ResponseBindingType")}}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("MethodOfExchangingRequestsAndResponses")}}',
                                tooltip-placement='top')
                        button.settings__toggle(
                            type='button',
                            ng-click='setBindingType(1,false)',
                            ng-class="{'selected': Directory.ResponseBindingTypeId==BindingTypes.Post}")
                            | {{::$root.t("Post")}}
                        button.settings__toggle(
                            type='button',
                            ng-click='setBindingType(2,false)',
                            ng-class="{'selected': Directory.ResponseBindingTypeId==BindingTypes.Redirect}")
                            | {{::$root.t("Redirect")}}

                .settings-input-section
                    h3.settings-input-section-name
                        | {{::$root.t("IdentityProviderConfiguration") }}
                    hr
                    .settings__section
                        label.settings-section-label(for='IdentityProviderName')
                            | {{::$root.t("Name") }}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("DomainIdentifierProvidedByIdp")}}',
                                tooltip-placement='top')
                        input.one-input(
                            name='IdentityProviderName',
                            ng-model="Directory.IdentityProviderName",
                            required='')
                        p.text-center.text-danger(ng-if="settingsForm.IdentityProviderName.$dirty && settingsForm.IdentityProviderName.$invalid")
                            | {{::$root.t("PleaseEnterValidIdentityProviderName") }}

                        label.settings-section-label(for='IdentityProviderSignOnUrl')
                            | {{::$root.t("SignOnUrl") }}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("UrlThatOnetrustWillUseForUserLogin")}}',
                                tooltip-placement='top')
                        input.one-input(
                            name='IdentityProviderSignOnUrl',
                            ng-model="Directory.IdentityProviderSignOnUrl",
                            type='url',
                            required='')
                        p.text-center.text-danger(ng-if="settingsForm.IdentityProviderSignOnUrl.$dirty && settingsForm.IdentityProviderSignOnUrl.$invalid")
                            | {{::$root.t("PleaseEnterValidIdentityProviderSignOnUrl") }}

                        label.settings-section-label(for='IdentityProviderSignOutUrl')
                            | {{::$root.t("SignoutUrl") }}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("UrlCalledToLogThemOutOfIdp")}}',
                                tooltip-placement='top')
                        input.one-input(
                            name='IdentityProviderSignOutUrl',
                            ng-model="Directory.IdentityProviderSignOutUrl",
                            type='url')
                        p.text-center.text-danger(
                            ng-if="settingsForm.IdentityProviderSignOutUrl.$dirty && settingsForm.IdentityProviderSignOutUrl.$invalid")
                            | {{::$root.t("PleaseEnterValidIdentityProviderSignOnUrl") }}

                        label.settings-section-label
                            | {{::$root.t("RequestBindingType") }}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("MethodOfExchangingRequestsAndResponses")}}',
                                tooltip-placement='top')
                        button.settings__toggle(
                            type='button',
                            ng-click='setBindingType(1,true)',
                            ng-class="{'selected': Directory.RequestBindingTypeId==BindingTypes.Post}")
                            | {{::$root.t("Post") }}
                        button.settings__toggle(
                            type='button',
                            ng-click='setBindingType(2,true)',
                            ng-class="{'selected': Directory.RequestBindingTypeId==BindingTypes.Redirect}")
                            | {{::$root.t("Redirect") }}

                        label.settings-section-label
                            | {{::$root.t("Certificate") }}
                            i.settings__section-info.fa.fa-info-circle(
                                uib-tooltip='{{::$root.t("AuthenticationCertificateIssuedByYourIdp")}}',
                                tooltip-placement='top')
                        one-button(
                            button-click='openCertificateUploadtModal(CertificateProviders.IdentityProvider)',
                            button-class='margin-right-1',
                            icon='fa fa-fw fa-upload',
                            text='{{::$root.t("Upload") }}',
                            identifier='openCertificateUploadModalButton'
                        )
                        one-button(
                            button-click='clearCertificate(CertificateProviders.IdentityProvider)',
                            text='{{::$root.t("Clear") }}',
                            identifier='clearCertificateButton'
                        )
                        fieldset.form-group.form-horizontal(ng-if="Directory.IdpCertificate")
                            label.settings-section-label(for='IdpCertificateSubjectName')
                                | {{::$root.t("Subject") }}
                            input.one-input(
                                name='IdpCertificateSubjectName',
                                ng-model="Directory.IdpCertificate.SubjectName",
                                ng-disabled="true")

                            label.settings-section-label(for='IdpCertificateIssuerName')
                                | {{::$root.t("Issuer") }}
                            input.one-input(
                                name='IdpCertificateIssuerName',
                                ng-model="Directory.IdpCertificate.IssuerName",
                                ng-disabled="true")

                            label.settings-section-label(for='IdpCertificateThumbprint')
                                | {{::$root.t("Thumbprint") }}
                            input.one-input(
                                name='IdpCertificateThumbprint',
                                ng-model="Directory.IdpCertificate.Thumbprint",
                                ng-disabled="true")

            .settings-input-section
                h3.settings-input-section-name
                    | {{::$root.t("Hosts") }}
                    i.settings__section-info.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("UsedToIdentifyHostsInYourEnvironment")}}',
                        tooltip-placement='top')
                hr
                .settings__section
                one-button(
                    button-click='addHost()',
                    icon='fa fa-fw fa-plus-circle',
                    text='{{::$root.t("AddHost") }}',
                    identifier='addHostButton'
                )
                table.terminology__table
                    thead.terminology__table-head
                        tr
                            th.terminology__table-cell
                                | {{::$root.t("Name") }}
                            th.terminology__table-cell
                                | {{::$root.t("Description") }}
                            th.terminology__table-cell
                                | {{::$root.t("Actions") }}
                    tbody.terminology__table-body
                        tr(ng-repeat='host in Directory.Hosts track by $index')
                            td.terminology__table-cell.terminology__custom
                                .terminology__variation
                                    input.terminology__variation-input.one-input(ng-model='host.Name', required='')
                            td.terminology__table-cell.terminology__custom
                                .terminology__variation
                                    input.terminology__variation-input.one-input(ng-model='host.Description')
                            td.terminology__table-cell.terminology__actions
                                one-button(
                                    type='primary',
                                    button-click='removeHost($index)',
                                    text='{{::$root.t("Remove")}}'
                                )

            .settings-input-section
                h3.settings-input-section-name
                    | {{::$root.t("AttributesMapping") }}
                    i.settings__section-info.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("OneTrustAssertionMappingsUsed")}}',
                        tooltip-placement='top')
                hr
                .settings__section
                table.terminology__table
                    thead.terminology__table-head
                        tr
                            th.terminology__table-cell
                                | {{::$root.t("Attribute") }}
                            th.terminology__table-cell
                                | {{::$root.t("AttributeKey") }}
                            th.terminology__table-cell
                                | {{::$root.t("DefaultValue") }}
                    tbody.terminology__table-body
                        tr(ng-repeat='attr in Directory.AttributeMappings track by $index')
                            td.terminology__table-cell.terminology__default(ng-bind='attr.Name')
                            td.terminology__table-cell.terminology__custom
                                .terminology__variation
                                    input.terminology__variation-input.one-input(ng-model='attr.MapKey', ng-required='attr.DefaultValue==null')
                            td.terminology__table-cell.terminology__custom
                                .terminology__variation
                                    input.terminology__variation-input.one-input(ng-model='attr.DefaultValue',ng-required='attr.MapKey==null')

        .text-center.margin-top-1
            one-button(
                type='reset',
                text='{{::$root.t("ResetSettings") }}',
                button-class="margin-top-half"
                identifier='directoryResetSettings',
                is-disabled='settingsForm.$invalid || !Permissions.canShow("SettingsSSOReset") || !$ctrl.isDisabledNo',
                button-click='resetDirectory()'
            )
            one-button(
                type='primary',
                text='{{::$root.t("SaveSettings") }}',
                button-class="margin-top-half"
                identifier='directorySaveSettings',
                button-click='addSamlSettings()',
                is-disabled='settingsForm.$invalid || !Permissions.canShow("SettingsSSOSave")'
            )
            one-button(
                type='primary'
                text='{{::$root.t("DownloadLogs") }}'
                button-class="margin-top-half"
                identifier='directoryDownloadLogs'
                button-click='downloadLogs()'
            )

include ../Modals/CertificateUploadModal.jade
