<section class="full-size column-nowrap">
    <ot-page-header [title]="'Values' | otTranslate">
        <button
            otButton
            brand
            ot-auto-id="intgCustomValuesAddNew"
            (click)="openCustomModal()"
        >
            {{ 'AddNew' | otTranslate }}
        </button>
    </ot-page-header>

    <intg-custom-table
        emptyStateMessage="NoCustomValue"
        [ready]="ready"
        [page]="pagevalues"
        [columns]="columnConfig"
        [options]="options"
    ></intg-custom-table>

    <footer
        otPaginationFooter
        *ngIf="ready && pagevalues.totalPages > 1"
    >
        <ot-pagination
            [currentPage]="pagevalues.number"
            [numPages]="pagevalues.totalPages"
            [handleOffset]="true"
            (pageChanged)="handlePageChanged($event)"
        ></ot-pagination>
        <span>{{ pagevalues | otPageMeta }}</span>
    </footer>
</section>

