<section
    *ngIf="ready; else customValueLoader"
    class="column-nowrap full-size"
>
    <div class="position-relative overflow-y-auto height-100">
        <table
            otDataTable
            *ngIf="page?.content.length else emptyStateTemplate"
            class="position-relative border-top-none"
            [colBordered]="colBordered"
            [resizableCol]="resizableCol"
            [responsiveTable]="responsiveTable"
            [rowBordered]="rowBordered"
            [rowData]="page.content"
            [rowNoHover]="rowNoHover"
            [rowStriped]="rowStriped"
            [truncateCellContent]="truncateCellContent"
            [wrapCellContent]="wrapCellContent"
            (sortChanged)="handleSortChange($event)"
        >
            <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [column]="col"
                >
                    <ng-template otDataTableHeader [thStyle]="{ 'padding': '0 3rem' }">
                        <div
                            class="max-width-30"
                            [title]="col.name"
                            [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center justify-center margin-left-right-auto'"
                        >
                            <span class="slds-truncate text-bold">{{col.name}}</span>
                        </div>
                    </ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        tdClass="max-width-30"
                        [tdStyle]="{ 'padding': '0 3rem' }"
                    >
                        <ng-container [ngSwitch]="col.cellValueKey">
                            <ng-container *ngSwitchCase="columnKey.IntegrationName">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                    <span title="{{row[col.cellValueKey]}}">
                                        {{row[col.cellValueKey] ? row[col.cellValueKey] : ('All' |otTranslate)}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="columnKey.WorkflowName">
                                <div class="slds-truncate"
                                    [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                    <span title="{{row[col.cellValueKey]}}">
                                        {{row[col.cellValueKey] ? row[col.cellValueKey] : ('All' |otTranslate)}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                                >
                                    <span  *ngIf="col?.cellValueKey === columnKey.Value; else otherColumnTemplate">
                                        <span
                                            *ngIf="isObject(row[col.cellValueKey]); else primitiveTypeTemplate"
                                            [otTooltip]="{content: toolTipRefObject}"
                                        >
                                            {{row[col.cellValueKey] | json}}
                                        </span>
                                        <ng-template #primitiveTypeTemplate>
                                            <span [otTooltip]="{content: toolTipRefString}">
                                                {{row[col.cellValueKey]}}
                                            </span>
                                        </ng-template>
                                    </span>
                                    <ng-template #otherColumnTemplate>
                                        <span title="{{row[col.cellValueKey]}}">
                                            {{row[col.cellValueKey]}}
                                        </span>
                                    </ng-template>
                                    <ng-template #toolTipRefObject>
                                        {{row[col.cellValueKey] | json}}
                                    </ng-template>
                                    <ng-template #toolTipRefString>
                                        {{row[col.cellValueKey]}}
                                    </ng-template>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
                <ng-container *ngIf="col.type === tableColumnTypes.Action">
                    <ot-data-table-column
                        [headerLabel]="col.name"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.valueKey"
                        [column]="col"
                    >
                        <ng-template
                            otDataTableHeader
                            thClass="float-col"
                            [thStyle]="{'width': 0}"
                        ></ng-template>
                        <ng-template
                            otDataTableCell
                            let-row="row"
                            let-index="index"
                            tdClass="float-col"
                        >
                            <div class="flex height-100 align-center justify-center">
                                <ot-context-menu
                                    position="top-right"
                                    [type]="2"
                                    [menu]="options"
                                >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a
                                        *otContextMenuItem="let item"
                                        [attr.ot-auto-id]="'CustomValueContextMenu'+item.text"
                                        (click)="item.action(row)">
                                        {{ item.text }}
                                    </a>
                                </ot-context-menu>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>
        <ng-template #emptyStateTemplate>
            <one-empty-state
                class="flex-full-height justify-center text-center height-100"
                imagePath="images/empty_state_icon.svg"
                [emptyStateMessage]="emptyStateMessage | otTranslate"
            ></one-empty-state>
        </ng-template>
    </div>
</section>
<ng-template #customValueLoader>
    <ot-loading otPageLoading></ot-loading>
</ng-template>


