#pia-organizations.organization-create
    header
        ol.breadcrumb
            li
                a(ui-sref='zen.app.pia.module.admin.organizations.list')
                    i.fa.fa-chevron-left
                    |  {{::$root.t("Organizations")}}
            li.active {{::$root.t("CreateNewOrganization")}}
    .row
        .createOrg-container
            form.form-horizontal(role='form', name='groupForm', ng-disabled='submitInProgress')
                .form-group(ng-class="{'has-error': groupForm.group.$invalid && (groupForm.group.$touched || groupForm.group.$dirty)}")
                    label(for='OrganizationGroup') {{::$root.t("OrganizationGroup")}}  *
                    div
                        input#OrganizationGroup.form-control(type='text', name='group', ng-model='Organization.Name', ng-required='true', placeholder='{{::$root.t("GroupName")}} ')
                        p.text-center.text-danger(ng-if='groupForm.group.$invalid && (groupForm.group.$touched || groupForm.group.$dirty)')
                            | {{::$root.t("ErrorEnterOrganizationGroup")}}
                .form-group(ng-class="{'has-error': (groupForm.officer.$invalid || !selectedUser.Id)\
                && (groupForm.officer.$touched || groupForm.officer.$dirty)}", ng-init='tooltip_focus = false;')
                    label(for='PrivacyApprover')
                        | {{::$root.t("DefaultApprover")}} *
                    .approver-input-group
                        .one-toggle-picker__toggle
                            button.one-toggle-picker__toggle-btn(
                                ng-class="{'selected': assignedToMe}",
                                ng-click='toggleApprover(true)')
                                | {{::$root.t("Me")}}
                            button.one-toggle-picker__toggle-btn(
                                ng-class="{'selected': !assignedToMe}",
                                ng-click="toggleApprover(false)")
                                | {{::$root.t("SomeoneElse")}}
                            org-user-dropdown(
                                class="flex-grow"
                                on-select="orgGroupSelected(selection)"
                                type='dropdownType'
                                model="selectedUser"
                                is-disabled='assignedToMe'
                            )
                    p.text-center.text-danger(ng-if="(groupForm.officer.$touched || groupForm.officer.$dirty)\
                    && !selectedUser.Id")
                        | {{::$root.t("ErrorSelectValidPrivacyOfficer")}}
                section(ng-if="groupForm.$valid && selectedUser.Id")
                    .alert.alert-success.organization-create-message(role='alert')
                        p
                            | {{ $root.t("ProjectAutoAssignedToPrivacyOfficer", {OrganizationName :Organization.Name, PrivacyOfficer : selectedUser.FullName }) }}
        .col-sm-8.col-sm-offset-2.footer-action
            .text-center
                one-button(
                    button-click='createOrganization()',
                    type='cta',
                    identifier='createOrganizationButton',
                    uib-tooltip='{{::$root.t("FormHasErrorsResolveThem")}}',
                    tooltip-enable="groupForm.$invalid || !selectedUser.Id",
                    is-disabled="groupForm.$invalid || !selectedUser.Id || submitInProgress",
                    text='{{::$root.t("CreateGroup")}}',
                    enable-loading='true',
                    is-loading='submitInProgress',
                )
                one-anchor-button(
                    anchor-route='zen.app.pia.module.admin.organizations.list',
                    identifier='createOrganizationCancel'
                    text='{{::$root.t("Cancel")}}'
                )
