header.data-mapping-body-header {{::$root.t("DataFlowGraph")}}
loading(ng-if='!Ready', text='{{::$root.t("DataFlowGraph")}}')

.data-mapping-body-content.data-flow-graph(ng-if="Ready")
    #data-flow-graph(ng-init='DataFlowGraph()')

