.modal.add-section-modal
    script(type='text/ng-template', id='AddSectionModal.html')

        section.add-section
            .modal-header
                h3.modal-title.align-left {{::$root.t("SectionBuilder")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    i.ot.ot-times
            .modal-body.wrapper(ng-if='stage === 0')
                form.add-section__form(if='addSectionForm', name='addSectionForm', ng-class="{'has-error': addSectionForm.Name.$invalid  && (addSectionForm.Name.$touched || addSectionForm.Name.$dirty)}")
                    label.add-section__label(for='SectionName')
                        | {{::$root.t("Name")}}
                        sup.fa.fa-asterisk.add-section__required
                    .add-section__entry
                        input#SectionName.one-input.full-width(type='text', name='Name', required='', ng-model='Section.Name', placeholder='{{::$root.t("EnterSectionName")}}')
                        p.add-section__error(ng-if='(addSectionForm.Name.$touched || addSectionForm.Name.$dirty) && addSectionForm.Name.$error.required')
                            | {{::$root.t("ErrorEnterSectionName")}}
                .modal-footer
                    one-button(
                        ng-if='stage == 2',
                        button-click='cancel()',
                        text='{{::$root.t("Close")}}'
                    )
                    one-button(
                        ng-if='stage == 2',
                        button-click='stage = 0',
                        text='{{::$root.t("CreateNewSection")}}'
                    )
                    one-button(
                        type='primary',
                        ng-if='stage == 0',
                        is-disabled='addSectionForm.$invalid',
                        button-click='AddSection()',
                        text='{{::$root.t("AddSection")}}'
                    )
                    one-button(
                        ng-if='stage == 0',
                        button-click='cancel()',
                        text='{{::$root.t("Cancel")}}'
                    )
            .modal-body(ng-if='stage === 1')
                uib-progressbar.progress-striped.active(value='dynamic', type='{{type}}')
                    | {{type}}
                    i(ng-if='showWarning') !!! {{::$root.t("WatchOut")}} !!!
            .modal-body(ng-if='stage == 2')
                label.col-sm-2(for='results') {{::$root.t("Results")}}
                br
                p#results(name='results', ng-bind='results')
