.modal.conditional-modal
    script(type='text/ng-template', id='ConditionalModal.html')

        .modal-header
            h3.modal-title.align-left {{::$root.t("Conditions")}}
            h3.modal-title.align-right(ng-click='cancel()')
                i.ot.ot-times
        .modal-body.wrapper.conditional-modal
            .question(ng-if='Question')
                .question-info.flex.padding-left-right-0.padding-top-half.padding-bottom-1.border-bottom-2
                    span.index.align-center(ng-bind='Question.Number')
                    div.name.align-center
                        span(ng-bind='Question.Name')
                        sup.fa.fa-asterisk.question-required.risk-high.position-relative(ng-if='Question.Required')
                        span.question-hint.margin-left-half(ng-if='Question.Hint')
                            i.fa.fa-info-circle(
                                uib-tooltip='{{Question.Hint}}'
                                tooltip-popup-delay='100'
                                tooltip-trigger='mouseenter'
                                tooltip-placement='bottom'
                                tooltip-append-to-body="true"
                            )
                .block(ng-if="Ready")
                    .question-conditions-list(ng-if='!Error')
                        .question-conditions.margin-top-1(ng-if='Question.Conditions.length')
                            .condition(
                                class="margin-all-2 padding-all-half row-space-around border"
                                ng-repeat='Condition in Question.Conditions track by $index'
                            )
                                .condition-logic.column-wrap.full-width(ng-if="!ReadOnly")
                                    .condition-expression.row-vertical-center.margin-top-bottom-half.margin-left-right-0(
                                        ng-repeat='term in Condition.Terms track by $index'
                                    )
                                        .condition-expression-message.padding-all-half.text-right.cell-min-width-small(ng-if='$index === 0')
                                            strong {{::$root.t("IfAnswerIs")}}
                                        .condition-expression-select.operator.margin-top-bottom-0.margin-left-2.margin-right-1(
                                            ng-if='$index === 1'
                                        )
                                            .select.one-select.margin-right-1
                                                span.one-select__arrow.fa.fa-caret-down
                                                select.one-select__select(ng-class='{"error": Condition.hasError && !Condition.Operator}', ng-options='Operator.Value as Operator.Name for Operator in Condition.Operators', ng-model='Condition.Operator', required='true')
                                        .no-operator.margin-top-bottom-0.margin-left-2.margin-right-1.text-right(
                                            ng-if='$index > 1'
                                        )
                                            span(ng-if='Condition.Operator')
                                                | {{ Condition.getOperatorName() }}
                                        .condition-expression-select
                                            .select.one-select.margin-right-1
                                                span.one-select__arrow.fa.fa-caret-down
                                                select.one-select__select(ng-class='{"error": term.hasError && !term.Comparator}', ng-options='Comparator.Id as Comparator.Description for Comparator in term.Comparators', ng-model='term.Comparator', required='true')
                                        .condition-expression-answers(ng-if='term.Comparator && term.opShow()')
                                            div(ng-if='Question.Type === QuestionTypes.YesNo')
                                                .select.one-select.margin-right-1
                                                    span.one-select__arrow.fa.fa-caret-down
                                                    select.one-select__select(ng-class='{"error": term.hasError && term.Operand < 0}', ng-options='Operand.Value as Operand.Description for Operand in term.Operands', ng-model='term.Operand', required='true')
                                            div(ng-if='Question.Type === QuestionTypes.Multichoice')
                                                .select.one-select.margin-right-1
                                                    span.one-select__arrow.fa.fa-caret-down
                                                    select.one-select__select(ng-class='{"error": term.hasError && term.Operand < 0}', ng-options='Operand.Value as Operand.Name for Operand in term.Operands', ng-model='term.Operand', required='true')
                                        .condition-expression-no-answers.margin-right-1(
                                            ng-if='!term.Comparator || !term.opShow()'
                                        )
                                            hr
                                        .condition-term-actions
                                            button.condition-btn.fa.fa-plus.add.border-none.margin-all-0.padding-all-0(ng-if='permissions.ConditionsAdd', ng-click='Condition.addTerm($index)')
                                            button.condition-btn.fa.fa-trash-o.delete.border-none.margin-all-0.padding-all-0(ng-if='permissions.ConditionsDelete && Condition.Terms.length > 1', ng-click='Condition.removeTerm($index)')
                                    hr.condition-separator.margin-top-bottom-1.margin-right-0.margin-left-2
                                    .condition-skip.row-flex-start.margin-top-bottom-half.margin-left-right-0
                                        .condition-skip-message.padding-all-half.text-right.cell-min-width-small
                                            strong {{::$root.t("Then")}}
                                        .condition-skip-selections.column-nowrap
                                            .select.one-select.margin-right-1
                                                span.one-select__arrow.fa.fa-caret-down
                                                select.one-select__select(ng-class='{"error": Condition.hasError && !Condition.Type}', ng-model='Condition.Type', ng-disabled='Condition.Id', required='true')
                                                    option(ng-repeat='option in Condition.ConditionTypes track by $index', value='{{option.value}}', ng-if="option.show") {{option.text}}

                                            .condition-skip-container.margin-top-bottom-1.margin-left-right-0
                                                .condition-skip-container-questions.flex(ng-if='Condition.Type === "Skip"')
                                                    .section-list
                                                        .select.one-select.margin-right-1
                                                            span.one-select__arrow.fa.fa-caret-down
                                                            select.one-select__select(ng-class='{"error": Condition.hasError && !Condition.TargetSectionId}', ng-options='Section.Id as Section.Name for Section in Condition.SectionList', ng-model='Condition.TargetSectionId', required='true', ng-change='Condition.setQuestionsBySectionId(Condition.TargetSectionId, true)')
                                                    .question-list
                                                        .select.one-select.margin-right-1(ng-if="(Condition.TargetSectionId !== '')")
                                                            span.one-select__arrow.fa.fa-caret-down
                                                            select.one-select__select(ng-class='{"error": Condition.hasError && !Condition.TargetQuestionId}', ng-options='Question.Id as Question.Name for Question in Condition.QuestionList', required='true', ng-model='Condition.TargetQuestionId')

                                                .condition-skip-container-risk(ng-if='Condition.Type === "Risk"')
                                                    .exceptions-modal__section
                                                        label {{::$root.t("SelectRiskLevel")}} *
                                                        .exceptions-modal__filter(class='exceptions-modal__filter--{{Condition.RiskStatesList[Condition.RiskLevelId].Class || ""}}')
                                                            span.one-select__arrow.fa.fa-caret-down
                                                            select.one-select__select.fa-caret-down( ng-class='{"error": Condition.hasError && !Condition.RiskLevelId}', ng-model='Condition.RiskLevelId', ng-options="risk.Value as risk.Name for risk in Condition.RiskStatesList", required='true')
                                                    .exceptions-modal__section
                                                        label {{::$root.t("RiskDescription")}}
                                                        textarea.exceptions-modal__textarea.resize-none(name='Comments', placeholder='{{::$root.t("EnterRiskDescriptionHere")}}', ng-model='Condition.Description', maxlength="4000")
                                                    .exceptions-modal__section
                                                        label {{ $root.translations.Recommendation }}
                                                        textarea.exceptions-modal__textarea.resize-none(name='Recommendation', placeholder='{{$root.t("EnterRecommendationHere", {Recommendation: $root.customTerms.Recommendation}) }}', ng-model='Condition.Recommendation', maxlength="4000")

                                    .no-questions(ng-if='!Conditions.SectionList.length && EnableSkip')
                                        h3 {{::$root.t("NoQuestionsToSkipTo")}}
                                .read-only-condition-logic.column-wrap.full-width.margin-left-right-1(ng-if='ReadOnly')
                                    .condition-expression.margin-none.row-flex-start(
                                        ng-repeat='term in Condition.Terms track by $index'
                                    )
                                        .expression-message.padding-top-half.text-right(ng-if='$index === 0')
                                            strong {{::$root.t("IfAnswerIs")}}
                                        .expression-message.padding-top-half.text-right(ng-if='$index > 0')
                                            .expression-select.margin-right-1.text-underline.text-italic
                                                span.select-text.full-width.padding-all-half {{Condition.ReadOnly.Operator}}
                                        .list-block.margin-left-1.padding-all-half.row-wrap
                                            .expression-select.margin-right-1.text-underline.text-italic
                                                span
                                                .full-width.padding-all-half {{term.ReadOnly.Comparator}}
                                            .expression-answers(ng-if='term.opShow()')
                                                span.select-text.full-width.padding-all-half {{term.ReadOnly.Operand}}
                                    .condition-skip.padding-bottom-half.row-flex-start(ng-if='Condition.QuestionList.length && Condition.Type === "Skip"')
                                        .skip-message.padding-top-half.text-right
                                            strong {{::$root.t("ThenSkipTo")}}
                                        .list-block.margin-left-1.padding-all-half.row-wrap
                                            .section-list.margin-right-1.text-italic.text-underline
                                                span.select-text.full-width.padding-all-half {{Condition.ReadOnly.Section}}
                                            .question-list
                                                span.select-text.full-width.padding-all-half {{Condition.ReadOnly.Question}}
                                    .condition-skip.padding-bottom-half.row-flex-start(ng-if='Condition.Type === "Risk"')
                                        .skip-message.padding-top-half.text-right
                                            strong {{::$root.t("ThenAdd")}}
                                        .skip-details.margin-left-1.padding-all-half.column-nowrap
                                            .skip-details-block.margin-bottom-half
                                                label.skip-details-block-content.analysis__flag.text-italic.margin-right-half
                                                    i.fa.fa-flag(ng-class='Condition.RiskStatesList[Condition.RiskLevelId].FlagClass')
                                                    | {{Condition.RiskStatesList[Condition.RiskLevelId].Name || ""}} {{::$root.t("Risk")}}
                                            .skip-details-block.margin-bottom-half
                                                label.skip-details-block-title.margin-bottom-0 {{::$root.t("RiskDescription")}}
                                                .skip-details-block-content.text-italic {{ Condition.Description }}
                                            .skip-details-block.margin-bottom-half
                                                label.skip-details-block-title.margin-bottom-0 {{ $root.translations.Recommendation }}
                                                .skip-details-block-content.text-italic {{ Condition.Recommendation }}
                                    .no-questions(ng-if='!SkipSections.length && EnableSkip')
                                        h3(
                                            class="text-center"
                                        )
                                        | {{::$root.t("NoQuestionsToSkipTo")}}
                                .condition-manage(ng-if='!ReadOnly')
                                    button.condition-btn.delete.border-none(ng-click='queueDelete($index)')
                                        i.fa.fa-trash-o
                        .add-condition.margin-top-bottom-2.center-block(ng-if="!ReadOnly")
                            .add-condition-box.margin-all-2.padding-all-1(ng-click='addCondition()')
                                .add-message.text-center.media-middle.text-xlarge.margin-all-3
                                    i.fa.fa-plus
                                    |  {{::$root.t("AddCondition")}}
                        .conditions-unsupported.text-center(ng-if='ReadOnly && !Question.Conditions.length')
                            | {{::$root.t("QuestionHasNoConditions")}}
                    .conditions-unsupported.text-center(ng-if='Error')
                        | {{::$root.t("ServicesAreDownPleaseTryAgain")}}
                .loading.margin-top-1.text-center(ng-if='!Ready')
                    i.fa.fa-spinner.fa-spin.fa-2x
        .modal-footer
            .conditions-footer(
                ng-if='!ReadOnly'
                class="text-right"
            )
                one-button(
                    type='cta'
                    is-disabled="!Ready"
                    button-click='saveAll()'
                    text='{{::$root.t("SaveAndClose")}}'
                )
