.modal
    script(type='text/ng-template', id='copyTemplateModal.html')

        section.copy-template.modal-header
            h3.modal-title.align-left {{::$root.t("CustomizeQuestionnaire")}} {{CopyTemplate.Name}}
            h3.modal-title.align-right(ng-click='done()')
              i.ot.ot-times
        .modal-body(ng-if='stage === 0')
            form.form-horizontal(name='createForm')
                .form-group(ng-class="{'has-error': createForm.Name.$invalid  && (createForm.Name.$touched || createForm.Name.$dirty)}")
                    label.col-sm-4(for='newTemplateName')
                        | {{::$root.t("QuestionnaireName")}}
                        sup.fa.fa-asterisk.text-danger
                    .col-sm-8
                        input#newTemplateName.form-control(type='text', name='Name', required='', ng-model='newTemplate.Name', placeholder='{{::$root.t("EnterQuestionnaireName")}}')
                        p.text-center.text-danger(ng-if='(createForm.Name.$touched || createForm.Name.$dirty) && createForm.Name.$error.required') {{::$root.t("ErrorEnterQuestionnaireName")}}
                .form-group(ng-class="{'has-error': createForm.Description.$invalid  && (createForm.Description.$touched || createForm.Description.$dirty)}")
                    label.col-sm-4(for='newTemplateDescription')
                        | {{::$root.t("QuestionnaireDescription")}}
                        sup.fa.fa-asterisk.text-danger
                    .col-sm-8
                        input#newTemplateDescription.form-control(type='text', name='Description', required='', ng-model='newTemplate.Description', placeholder='{{::$root.t("EnterQuestionnaireDescription")}}')
                        p.text-center.text-danger(ng-if='(createForm.Description.$touched || createForm.Description.$dirty) && createForm.Description.$error.required') {{::$root.t("ErrorEnterDescriptionForQuestionnaire")}}
                .form-group(ng-class="{'has-error': createForm.Icon.$invalid  && (createForm.Icon.$touched || createForm.Icon.$dirty)}")
                    label.col-sm-4 {{::$root.t("QuestionnaireIcon")}}
                    .col-sm-8.select-icon-modal
                        .row
                            button.col-sm-2.btn.btn-default.no-border(ng-repeat='icon in topIconsList track by $index', ng-class="{'btn-primary': (newTemplate.Icon === icon)}", ng-click='newTemplate.Icon = icon')
                                i.fa.ot.fa-2x(class='{{icon}}')
            .modal-footer
                one-button(
                    data-ng-if='stage == 0',
                    is-disabled='createForm.$invalid',
                    button-click='copyTemplate()',
                    identifier='copyTemplateCreate',
                    type='primary',
                    text='{{::$root.t("CreateQuestionnaire")}}'
                )
                one-button(
                    data-ng-if='stage == 0',
                    button-click='cancel()',
                    identifier='copyTemplateCancel',
                    text='{{::$root.t("Cancel")}}'
                )
        .modal-body(ng-if='stage === 1')
            uib-progressbar.progress-striped.active(value='dynamic', type='{{type}}')
                | {{type}}
                i(ng-if='showWarning') !!! {{::$root.t("WatchOut")}} !!!
        .modal-body(ng-if='stage == 2')
            label {{::$root.t("Results")}}
            br
            p(ng-bind='results')
            .modal-footer
                one-button(
                    data-ng-if='tryAgain',
                    button-click='retry()',
                    identifier='copyTemplateTryAgain',
                    type='primary',
                    text='{{::$root.t("TryAgain")}}'
                )
