.modal
    script(type='text/ng-template', id='createTemplateModal.html')

        section.create-template
            .modal-header
              h3.modal-title.align-left {{::$root.t("CreateNewQuestionnaireTemplate")}}
              h3.modal-title.align-right(ng-click='done()')
                i.ot.ot-times
            .modal-body(ng-if='stage == 0')
                form.form-horizontal(name='createForm')
                    .form-group(ng-class="{'has-error': createForm.Name.$invalid  && (createForm.Name.$touched || createForm.Name.$dirty)}")
                        label.col-sm-4(for='newTemplateName')
                            | {{::$root.t("QuestionnaireName")}}
                            sup.fa.fa-asterisk.text-danger
                        .col-sm-8.input-container
                            input#newTemplateName.form-control(type='text', name='Name', required='', ng-model='newTemplate.Name', placeholder='{{::$root.t("EnterQuestionnaireName")}}')
                            p.text-center.text-danger(ng-if='(createForm.Name.$touched || createForm.Name.$dirty) && createForm.Name.$error.required') {{::$root.t("ErrorEnterQuestionnaireName")}}
                    .form-group(ng-class="{'has-error': createForm.Description.$invalid  && (createForm.Description.$touched || createForm.Description.$dirty)}")
                        label.col-sm-4(for='newTemplateDescription')
                            | {{::$root.t("QuestionnaireDescription")}}
                            sup.fa.fa-asterisk.text-danger
                        .col-sm-8.input-container
                            input#newTemplateDescription.form-control(type='text', name='Description', required='', ng-model='newTemplate.Description', placeholder='{{::$root.t("EnterQuestionnaireDescription")}}')
                            p.text-center.text-danger(ng-if='(createForm.Description.$touched || createForm.Description.$dirty) && createForm.Description.$error.required') {{::$root.t("ErrorEnterDescriptionForQuestionnaire")}}
                    .form-group(ng-class="{'has-error': createForm.Icon.$invalid  && (createForm.Icon.$touched || createForm.Icon.$dirty)}")
                        label.col-sm-4 {{::$root.t("QuestionnaireIcon")}}
                        .col-sm-8.select-icon-modal
                            .row
                                button.col-sm-2.btn.btn-default.no-border(ng-repeat='icon in topIconsList track by $index', ng-class="{'btn-primary': (newTemplate.Icon === icon)}", ng-click='newTemplate.Icon = icon')
                                    i.fa.ot.fa-2x(class='{{icon}}')
                .modal-footer
                    one-button(
                        data-ng-if='tryAgain',
                        button-click='stage = 0; tryAgain = !tryAgain',
                        identifier='createTemplateTryAgain',
                        type='primary',
                        text='{{::$root.t("TryAgain")}}'
                    )
                    one-button(
                        is-disabled='createForm.$invalid',
                        data-ng-if="stage == 0 && (createType === 'new')",
                        button-click='createTemplate()',
                        identifier='createTemplateCreate',
                        type='primary',
                        text='{{::$root.t("CreateQuestionnaire")}}'
                    )
                    one-button(
                        is-disabled="SelectedId === ''",
                        data-ng-if="stage == 0 && (createType === 'clone')",
                        button-click='cloneTemplate()',
                        identifier='createTemplateCopy',
                        type='primary',
                        text='{{::$root.t("CopyQuestionnaire")}}'
                    )
            .modal-body(ng-if='stage == 1')
                uib-progressbar.progress-striped.active(value='dynamic', type='{{type}}')
                    | {{type}}
            .modal-body(ng-if='stage == 2')
                label {{::$root.t("Results")}}
                br
                p(ng-bind='results')
