.modal.add-section-modal
    script(type='text/ng-template', id='EditSectionModal.html')

        section.add-section
            .modal-header
                h3.modal-title.align-left {{::$root.t("SectionBuilder")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    i.ot.ot-times
            .modal-body.wrapper(ng-if='stage === 0')
               form.add-section__form(if='editSectionForm', name='editSectionForm', ng-class="{'has-error': editSectionForm.Name.$invalid  && (editSectionForm.Name.$touched || editSectionForm.Name.$dirty)}")
                    label.add-section__label(for='SectionName')
                        | {{::$root.t("Name")}}
                        sup.fa.fa-asterisk.add-section__required
                    .add-section__entry
                        input#SectionName.one-input.full-width(type='text', name='Name', required='', ng-model='Section.Name', placeholder='{{::$root.t("EnterSectionName")}}')
                        p.add-section__error(ng-if='(editSectionForm.Name.$touched || editSectionForm.Name.$dirty) && editSectionForm.Name.$error.required')
                            | {{::$root.t("ErrorEnterSectionName")}}
                .modal-footer
                    div.edit-section-wrapper
                        div.edit-section-btn-group
                            one-button#CloseButton(
                                identifier='editSectionModalSubmitCloseButton',
                                ng-if='stage == 2',
                                button-click='cancel()',
                                text='{{::$root.t("Close")}}'
                            )
                            one-button#CancelButton(
                                identifier="editSectionModalCancelButton",
                                ng-if='stage == 0',
                                button-click='cancel()',
                                text='{{::$root.t("Cancel")}}'
                            )
                            one-button#SubmitButton(
                                type='primary',
                                identifier="editSectionModalSubmitChangeButton"
                                ng-if='Permissions.canShow("TemplatesSectionEdit") && stage == 0',
                                is-disabled='editSectionForm.$invalid',
                                button-click='EditSection()',
                                text='{{::$root.t("SubmitChanges")}}',
                            )
                            one-button#SubmitButton(
                                type='primary',
                                identifier="editSectionModalSubmitUpgradeButton"
                                ng-if='Permissions.canShow("TemplatesSectionEditUpgrade") && stage == 0',
                                is-disabled='editSectionForm.$invalid',
                                button-click='UpgradeModule("TemplatesSectionEdit")',
                                text='{{::$root.t("SubmitChanges")}}'
                                icon='upgrade__icon'
                            )
            .modal-body(ng-if='stage === 1')
                uib-progressbar.progress-striped.active(value='dynamic', type='{{type}}')
                    | {{type}}
                    i(ng-if='showWarning') !!! {{::$root.t("WatchOut")}} !!!
            .modal-body(ng-if='stage == 2')
                label.col-sm-2(for='results') {{::$root.t("Results")}}
                br
                p#results(name='results', ng-bind='results')
