.modal.save-question-modal
    script(type='text/ng-template', id='SaveQuestionModal.html')

        section.save-question
            .modal-header
                h3.modal-title.align-left {{::$root.t("QuestionBuilder")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    i.ot.ot-times
            .modal-body.wrapper
                loading(
                  ng-if='!Ready && !Disabled',
                  text='{{::$root.t("Question")}}',
                  loading-class='save-question__loading')
                loading(
                  ng-if='!Ready && Disabled',
                  text='{{::$root.t("SavingQuestion")}}',
                  show-loading-prefix='false',
                  loading-class='save-question__loading')
                .modal-container(ng-if='Ready')
                    fieldset.save-question__view-edit(ng-disabled='Disabled')
                        form.save-question__form(name='saveQuestionForm')
                            .save-question__set-form(ng-init="SetForm(saveQuestionForm)")
                            .save-question__group.save-question__group--vertical-center(
                                ng-if='showAttribute("Name")',
                                ng-class="{'has-error': saveQuestionForm.Name.$invalid  && (saveQuestionForm.Name.$touched || saveQuestionForm.Name.$dirty)}")
                                label.save-question__label(for='editTemplateName')
                                    | {{::$root.t("Question")}}
                                    sup.fa.fa-asterisk.required
                                .save-question__entry
                                    input#QuestionName.one-input.full-width(
                                      type='text',
                                      name='Name',
                                      required,
                                      ng-model='Question.Name',
                                      placeholder='{{::$root.t("EnterQuestion")}}')
                                    p.save-question__error(
                                        ng-if='(saveQuestionForm.Name.$touched || saveQuestionForm.Name.$dirty) && saveQuestionForm.Name.$error.required')
                                        | {{::$root.t("ErrorEnterQuestionName")}}
                            .save-question__group.save-question__group--vertical-center(
                              ng-if='showAttribute("Description")',
                              ng-class="{'has-error': saveQuestionForm.Text.$invalid && (saveQuestionForm.Text.$touched || saveQuestionForm.Text.$dirty)}")
                                label.save-question__label(for='QuestionText') {{::$root.t("Description")}}
                                .save-question__entry
                                        one-rich-text-editor(
                                            editor-class-name='editorClassName',
                                            content='Question.Text',
                                            config='editorConfig',
                                            on-content-change='updateQuestionText(data)',
                                            binding-uniq-id='bindingUniqId'
                                        )
                                    p.save-question__error(ng-if='(saveQuestionForm.Text.$touched || saveQuestionForm.Text.$dirty) && saveQuestionForm.Text.$error.required')
                                        | {{::$root.t("EnterTextForThisQuestion")}}
                            .save-question__group.save-question__group--vertical-center(
                              ng-if='showAttribute("Hint")',
                              ng-class="{'has-error': saveQuestionForm.Hint.$invalid }")
                                label.save-question__label(for='QuestionHint') {{::$root.t("Hint")}}
                                .save-question__entry
                                    input#QuestionHint.one-input.full-width(
                                        type='text',
                                        ng-required='false',
                                        name='Hint',
                                        ng-model='Question.Hint',
                                        ng-maxlength='650',
                                        placeholder='{{::$root.t("EnterQuestionHint")}}')
                            .save-question__group.save-question__group--vertical-center(
                                ng-if='!editMode && showAttribute("ReportFriendlyName")',
                                ng-class="{'has-error': saveQuestionForm.ReportFriendlyName.$invalid  && (saveQuestionForm.ReportFriendlyName.$touched || saveQuestionForm.ReportFriendlyName.$dirty)}")
                                label.save-question__label(for='editReportFriendlyName')
                                    | {{::$root.t("ReportFriendlyName")}}&nbsp
                                    i.fa.fa-info-circle(
                                      uib-tooltip='{{::$root.t("ReportFriendlyNameDescriptionInDataMaps")}}',
                                      tooltip-append-to-body="true",
                                      tooltip-placement='top-left',
                                      tooltip-trigger='mouseenter')
                                .save-question__entry
                                    input#addReportFriendlyName.one-input.full-width(
                                        type='text',
                                        name='ReportFriendlyName',
                                        ng-model='Question.ReportFriendlyName',
                                        ng-maxlength='50',
                                        placeholder='{{::$root.t("EnterQuestionReportFriendlyName")}}')
                                    p.save-question__error(
                                        ng-if='(saveQuestionForm.ReportFriendlyName.$touched || saveQuestionForm.ReportFriendlyName.$dirty) && saveQuestionForm.ReportFriendlyName.$error.maxlength')
                                        | {{::$root.t("ExceededMaxCharactesForName")}}
                            .save-question__group.save-question__group--vertical-center(
                              ng-if='!Question.Id',
                              ng-class="{'has-error': addQuestionForm.Type.$invalid && (addQuestionForm.Type.$touched || addQuestionForm.Type.$dirty)}")
                                label.save-question__label(for='QuestionType') {{::$root.t("Type")}}
                                .save-question__entry
                                    .save-question__type.one-select
                                        i.one-select__arrow.fa.fa-caret-down
                                        select#QuestionType.one-select__select(
                                          type='text',
                                          required='',
                                          name='Type',
                                          ng-model='Question.Type',
                                          ng-options='Option.Type as Option.TypeName for Option in QuestionTypes | ItemsNotIn:"Type":LockedQuestionTypes | pick:typeHasPermission')
                                    p.save-question__error(
                                      ng-if='addQuestionForm.Type.$dirty && addQuestionForm.Type.$error.required')
                                        | {{::$root.t("SelectQuestionType")}}
                            .save-question__group.save-question__group--vertical-center(
                                ng-if='!editMode && showAttribute("Options")')
                                label.save-question__label {{::$root.t("DisplayConfiguration")}}
                                .save-question__entry
                                    .save-question__type.one-select
                                        .row-space-between.margin-right-2.margin-bottom-2
                                            | {{::$root.t("EnableAsDropdown")}}
                                            downgrade-switch-toggle(
                                                [identifier]="'PiaUpdateDropdownSettingToggle'",
                                                [switch-class]="'margin-left-right-1'",
                                                [toggle-state]="Question.DisplayTypeId === MultiChoiceTypes.Dropdown",
                                                (callback)="updateDropdownSetting()")
                                        .row-space-between.margin-right-2
                                            span
                                                | {{::$root.t("EnableOptionHints")}}?&nbsp
                                                i.fa.fa-info-circle(
                                                    uib-tooltip='{{::$root.t("QuestionHintsAppearWhenHoveringOverTheApplicableAnswerOption")}}',
                                                    tooltip-placement='top-right',
                                                    tooltip-trigger='mouseenter')
                                            downgrade-switch-toggle(
                                                [identifier]="'PiaUpdateOptionHintSettingToggle'",
                                                [switch-class]="'margin-left-right-1'",
                                                [toggle-state]="Question.OptionHintEnabled",
                                                (callback)="updateOptionHintSetting()")
                            .save-question__group.save-question__group--options(
                                ng-if='!editMode && showAttribute("Options")',
                                ng-class="{'has-error': saveQuestionForm.Options.$invalid}")
                                label.save-question__label {{::$root.t("Options")}}
                                ng-form.save-question__entry(name='Options')
                                    button.save-question__form-button.hide(
                                        ng-click='addOption()')
                                    .save-question__option(ng-repeat='Option in Question.Options track by $index')
                                        .save-question__option-wrapper
                                            input.save-question__option-input.one-input.full-width(
                                                type='text',
                                                required='',
                                                ng-model='Option.Name',
                                                placeholder='{{::$root.t("OptionName")}}')
                                            .save-question__option-icon.row-horizontal-vertical-center.text-error
                                                i.fa.fa-minus-circle(
                                                    type='button',
                                                    ng-click='removeOption($index)')
                                            .save-question__option-icon.row-horizontal-vertical-center.text-success
                                                i.fa.fa-plus(
                                                    type='button',
                                                    ng-if='$index === (Question.Options.length - 1)',
                                                    ng-click='addOption()')
                                        .save-question__option--hint-wrapper.row-flex-start(
                                        ng-if='Question.OptionHintEnabled')
                                            i.fa.fa-info.fa-lg.save-question__option--hint-icon
                                            | &nbsp
                                            textarea.save-question__option--hint(
                                                ng-model='Option.Hint',
                                                ng-keyup='updateOptionHintHeight($event)',
                                                ng-focus='updateOptionHintHeight($event)',
                                                ng-blur='resetOptionHintHeight($event)',
                                                ng-attr-placeholder='{{::$root.t("OptionHint")}}')

                            .save-question__group.save-question__group--vertical-center(
                              ng-if="questionTaggingEnabled",
                              ng-class="{'has-error': saveQuestionForm.Tags.$invalid && (saveQuestionForm.Tags.$touched || saveQuestionForm.Tags.$dirty)}")
                                label.save-question__label(for='QuestionTags') {{::$root.t("QuestionTags")}}
                                .save-question__entry
                                    .save-question__type
                                        one-multiselect(
                                            model="Question.Tags"
                                            allow-other="true"
                                            placeholder="{{::tagInputPlaceholder}}"
                                            label-key="Label"
                                            list="unselectedTagsList"
                                            handle-select="tagSelectCallback($item)"
                                            handle-remove="tagRemoveCallback($item)"
                                        )
                                    p.save-question__error(
                                      ng-if='saveQuestionForm.Tags.$dirty && saveQuestionForm.Tags.$error.required')
                                        | {{::$root.t("EnterQuestion")}} {{::$root.t("Tags")}}
                            .save-question__checkboxes
                                .save-question__checkboxes-group(
                                    data-ng-if='showAttribute("MultiSelect") && Permissions.canShow("TemplatesQuestionTypeMultichoice_Multiselect")',
                                    data-ng-class="{'has-error': saveQuestionForm.MultiSelect.$invalid}"
                                )
                                    .save-question__checkboxes-input
                                        button#QuestionMultiSelect.save-question__checkbox(
                                          name='MultiSelect',
                                          ng-click='toggleCheckbox("MultiSelect")',
                                          ng-model='Question.MultiSelect',
                                          ng-class='{"checked": Question.MultiSelect}')
                                            i.ot.ot-check
                                    label.save-question__checkboxes-label(
                                        for='QuestionMultiSelect',
                                        tooltip-enable='Question.DisplayTypeId === MultiChoiceTypes.Dropdown',
                                        uib-tooltip='{{::$root.t("MultiselectIsDisabledWhenDropdownOptionIsEnabled")}}',
                                        tooltip-placement='top-left',
                                        tooltip-trigger='mouseenter')
                                        | {{::$root.t("Multiselect")}}
                                .save-question__checkboxes-group(
                                    data-ng-if="showAttribute('AllowOther') && Permissions.canShow('TemplatesQuestionTypeMultichoice_Other')",
                                    data-ng-class="{'has-error': saveQuestionForm.AllowOther.$invalid}"
                                )
                                    .save-question__checkboxes-input
                                        button#QuestionAllowOther.save-question__checkbox(
                                          name='AllowOther',
                                          ng-click='toggleCheckbox("AllowOther")',
                                          ng-disabled="Question.MultiSelect && Question.DisplayTypeId === MultiChoiceTypes.Dropdown",
                                          ng-model='Question.AllowOther',
                                          ng-class='{"checked": Question.AllowOther}')
                                            i.ot.ot-check
                                    label.save-question__checkboxes-label(
                                        for='QuestionAllowOther',
                                        ng-class='{"strikethrough": Question.MultiSelect && Question.DisplayTypeId === MultiChoiceTypes.Dropdown}')
                                        | {{::$root.t("AllowOther")}}
                                .save-question__checkboxes-group(
                                    data-ng-if='showAttribute("Required") && Permissions.canShow("TemplatesQuestionAllowRequired")',
                                    data-ng-class="{'has-error': saveQuestionForm.Required.$invalid}"
                                )
                                    .save-question__checkboxes-input
                                        button#QuestionRequired.save-question__checkbox(
                                          name='Required',
                                          ng-click='toggleCheckbox("Required")',
                                          ng-model='Question.Required',
                                          ng-class='{"checked": Question.Required}')
                                            i.ot.ot-check
                                    label.save-question__checkboxes-label(for='QuestionRequired') {{::$root.t("Required")}}
                                .save-question__checkboxes-group(
                                    data-ng-if='showAttribute("AllowNotSure") && Permissions.canShow("TemplatesQuestionAllowNotSure")',
                                    data-ng-class="{'has-error': saveQuestionForm.AllowNotSure.$invalid}"
                                )
                                    .save-question__checkboxes-input
                                        button#QuestionAllowNotSure.save-question__checkbox(
                                          name='AllowNotSure',
                                          ng-click='toggleCheckbox("AllowNotSure")',
                                          ng-model='Question.AllowNotSure',
                                          ng-class='{"checked": Question.AllowNotSure}')
                                            i.ot.ot-check
                                    label.save-question__checkboxes-label(for='QuestionAllowNotSure') {{::$root.t("AllowNotSure")}}
                                .save-question__checkboxes-group(
                                  ng-if='showAttribute("AllowNotApplicable")',
                                  ng-class="{'has-error': saveQuestionForm.AllowNotApplicable.$invalid}")
                                    .save-question__checkboxes-input
                                        button#QuestionAllowNotApplicable.save-question__checkbox(
                                          name='AllowNotApplicable',
                                          ng-click='toggleCheckbox("AllowNotApplicable")',
                                          ng-model='Question.AllowNotApplicable',
                                          ng-class='{"checked": Question.AllowNotApplicable}')
                                            i.ot.ot-check
                                    label.save-question__checkboxes-label(for='QuestionAllowNotApplicable') {{::$root.t("AllowNotApplicable")}}
                                .save-question__checkboxes-group.save-question__checkboxes-group--column(
                                  ng-if='showAttribute("AllowJustification")',
                                  ng-class="{'has-error': saveQuestionForm.AllowJustification.$invalid}")
                                    .save-question__checkboxes-item
                                        .save-question__checkboxes-input
                                            button#QuestionAllowJustification.save-question__checkbox(
                                              name='AllowJustification',
                                              ng-click='toggleCheckbox("AllowJustification")',
                                              ng-model='Question.AllowJustification',
                                              ng-class='{"checked": Question.AllowJustification}')
                                                i.ot.ot-check
                                        label.save-question__checkboxes-label(for='QuestionAllowJustification')
                                            | {{::$root.t("AllowJustification")}}
                                    .save-question__checkboxes-item.save-question__checkboxes-item--indent(
                                      ng-if='showAttribute("RequireJustification") && Question.AllowJustification && Question.Required')
                                        .save-question__checkboxes-spacer
                                        .save-question__checkboxes-input
                                            button#QuestionRequireJustification.save-question__checkbox(
                                              name='RequireJustification',
                                              ng-click='toggleCheckbox("RequireJustification")',
                                              ng-model='Question.RequireJustification',
                                              ng-class='{"checked": Question.RequireJustification}')
                                                i.ot.ot-check
                                        label.save-question__checkboxes-label(for='QuestionRequireJustification')
                                            | {{::$root.t("RequireJustification")}}

                            .save-question__group.save-question__group--filter(ng-if='showAttribute("GroupFilter")')
                                label.save-question__label.save-question__label--filter(for='QuestionFilter')
                                    | {{::$root.t("GroupFilter")}}
                                .save-question__filter
                                    pick-list(
                                      name='QuestionFilter',
                                      list='Question.Options',
                                      filter='Question.Filters',
                                      name-key='Group',
                                      id-key='GroupId',
                                      events='')

                    .save-question__view-example
                        label.save-question__preview-label {{::$root.t("Preview")}}
                        question.example-item(
                            question='Question',
                            template='Template',
                            question-uniq-id='bindingUniqId',
                            question-text-modifier="'save-question'"
                        )

                .modal-footer.save-question__footer(ng-disabled='!Ready || Disabled')
                    one-button.save-question__footer-btn--submit(
                      is-disabled='SaveForm.$invalid || tagFocus || tagPending',
                      identifier='questionModalSave',
                      button-click='SaveQuestion()',
                      type='primary',
                      text='{{::$root.t("Save")}}'
                    )
                    one-button(
                        button-click='cancel()',
                        identifier='questionModalCancel',
                        text='{{::$root.t("Cancel")}}'
                    )
