.modal.select-icon-modal
    script(type='text/ng-template', id='SelectIconModal.html')

        section.select-icon
            .modal-header
                h3.modal-title.align-left {{::$root.t("SelectIcon")}}
                h3.modal-title.align-right(ng-click='cancel()')
                    i.ot.ot-times
            .modal-body.wrapper
                ul.select-icon__list
                    li.select-icon__item(ng-repeat='icon in TopIcons track by $index', ng-class="{'current': (SelectedIcon === icon)}", ng-click='SetIcon($index)')
                        button.select-icon__btn
                            i.select-icon__icon.fa(class='{{icon}}')
                .modal-footer
                    one-button(
                        button-click='cancel()',
                        identifier='selectIconCancel',
                        text='{{::$root.t("Cancel")}}'
                    )
