.modal.statement-modal
    script(type='text/ng-template', id='StatementModal.html')
        .modal-header
            h3.modal-title.align-left
                | {{::translate("StatementBuilder")}}
            h3.modal-title.align-right(ng-click='cancel()')
                i.ot.ot-times
        loading(ng-if='!Ready', loading-class='one__loading')
        .modal-body(ng-if='Ready')
            form.statement__form(name='addStatementForm')
                .statement__group.row-flex-start(ng-class="{'has-error': addStatementForm.Name.$invalid  && (addStatementForm.Name.$touched || addStatementForm.Name.$dirty)}")
                    label.statement__label(for='Name')
                        | {{::translate("Statement")}}
                        sup.fa.fa-asterisk.required
                    .statement__entry
                        input#QuestionName.one-input.full-width(
                            type='text',
                            name='Name',
                            required,
                            ng-model='Question.Name',
                            placeholder='{{::translate("EnterStatementTitle")}}'
                        )
                        p.statement__error(ng-if='(addStatementForm.Name.$touched || addStatementForm.Name.$dirty) && addStatementForm.Name.$error.required')
                            | {{::translate("PleaseEnterTitleForThisStatement")}}
                        p.statement__error(ng-if='(addStatementForm.Name.$touched || addStatementForm.Name.$dirty) && addStatementForm.Name.$error.maxlength')
                            | {{::translate("ExceededMaxCharLengthStatement")}}
            .statement__content
                one-rich-text-editor(
                    editor-class-name='editorClassName',
                    content='Question.Content'
                    config='editorConfig',
                    on-content-change='updateQuestionContent(data)'
                )

        .modal-footer.margin-top-2.padding-top-2
            one-button(
                type="primary",
                button-class="margin-right-1",
                is-disabled="!Question.Name.length || !Question.Content.length",
                button-click="SaveStatement()",
                text="{{::translate('SaveStatement')}}")
            one-button(
                button-click="cancel()",
                text="{{::translate('Cancel')}}")
