.modal
    script(type='text/ng-template', id='WelcomeTextModal.html')
        .modal-header
            h3.modal-title.align-left {{::ctrl.translations.welcomeText}}
            h3.modal-title.align-right(ng-click='ctrl.cancel()')
                i.ot.ot-times
        .modal-body
            one-rich-text-editor(
                content='ctrl.WelcomeText',
                config='ctrl.editorConfig',
                on-content-change='ctrl.updateWelcomeText(data)'
            )
        .modal-footer
            one-button(
                type="primary"
                text="{{::ctrl.translations.save}}"
                button-click="ctrl.save()"
                identifier="welcomeTextModalSave"
            )
            one-button(
                text="{{::ctrl.translations.cancel}}"
                button-click="ctrl.cancel()"
                identifier="welcomeTextModalCancel"
            )
