<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'Transactions' | otTranslate"
    ></ot-page-header>

    <div otDrawerContainer
        class="full-width position-relative flex-full-height overflow-hidden"
        >
        <cr-transaction-filters
            class="full-width"
            [filters]="filters"
            [crPurposes]="crPurposes"
            [crCollectionPoints]="crCollectionPoints"
            (applyCallback)="searchTransactions($event, 0)"
            (refreshCallback)="searchTransactions($event, 0)"
            >
        </cr-transaction-filters>

        <div class="full-width flex-full-height">
            <cr-table
                class="flex-full-height"
                noDataKey="NoTransactionsFound"
                [columns]="columns"
                [rows]="tableData"
                [loading]="searchInProgress"
                [resizable]="false"
                [noCounts]="hidePageCounts"
                (goToRoute)="goToRoute($event)"
                (pageChange)="loadPage($event)"
                >
            </cr-table>
        </div>
    </div>
</div>