<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<section
    *ngIf="!isLoading"
    class="height-100 column-nowrap background-white"
    >
    <div
        *ngIf="!isTopicLanguageTable"
        class="width-100-percent static-vertical border-bottom"
        >
        <button otButton neutral
            class="align-right margin-top-bottom-1 margin-left-right-2"
            ot-auto-id="PurposeEditLanguagesButton"
            [innerText]="'ManageLanguages' | otTranslate"
            [disabled]="!statusDraft || !editable"
            (click)="showEditLanguagesModal()"
        ></button>
    </div>
    <div class="flex-full-height flex-full-width overflow-auto">
        <div class="position-relative">
            <table
                otDataTable
                [rowData]="draftTranslations"
                [rowBordered]="true"
                [rowStriped]="true"
                [rowNoHover]="true"
                [colBordered]="true"
                [truncateCellContent]="true"
                >
                <ng-container *ngFor="let col of columns; trackBy: trackByFn">
                    <ng-container *ngIf="col.columnType === 'language'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            >
                            <ng-template otDataTableHeader [thClass]="'min-width-20'">
                                <div
                                    class="padding-left-2"
                                    title="{{ col.columnName }}"
                                    >
                                    <span class="slds-truncate text-bold"> {{ col.columnName }} </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column"
                                let-rowIndex="rowIndex"
                                let-columnIndex="columnIndex"
                                [tdClass]="'slds-cell-edit min-width-20 ' + cellHeight"
                                >
                                <ng-container *ngIf="canEditRowLanguage(row)">
                                    <div class="padding-all-1 height-100 media-top text-error">
                                        {{ 'ConsentPurposeNoDefaultLanguage' | otTranslate }}
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!canEditRowLanguage(row)">
                                    <div class="padding-all-1 height-100">
                                        <div class="slds-grid">
                                            <span
                                                class="slds-col padding-bottom-1"
                                                [attr.title]="row[column.cellValueKey]">
                                                {{ languageLabels[row[column.cellValueKey]] || ('Unknown' | otTranslate) }}
                                            </span>
                                        </div>
                                        <span
                                            *ngIf="draftTranslations[rowIndex].Default"
                                            [otBadge]="'primary'"
                                            [innerText]="'Default' | otTranslate"
                                        ></span>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>

                    <ng-container *ngIf="col.columnType === 'previous' && statusDraft">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            >
                            <ng-template otDataTableHeader [thClass]="'cr-translation-table__version-column'">
                                <div class="slds-th__action padding-left-2">
                                    <span class="slds-truncate text-bold"> {{ col.columnName }} </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column"
                                let-rowIndex="rowIndex"
                                let-columnIndex="columnIndex"
                                [tdClass]="'cr-translation-table__version-column'"
                                >
                                <ng-container>
                                    <div class="{{ cellHeight }} width-100-percent">
                                        <div otFormElement
                                            class="width-100-percent padding-all-1"
                                            [label]="'Name' | otTranslate"
                                            >
                                            <input otInput
                                                class="width-100-percent"
                                                [placeholder]="'Name' | otTranslate"
                                                [readonly]="true"
                                                [value]="previousTranslations && previousTranslations[row.Language] ? previousTranslations[row.Language].Name : '- - - -'"
                                                />
                                        </div>
                                        <div otFormElement
                                            *ngIf="!isTopicLanguageTable"
                                            class="width-100-percent padding-all-1"
                                            [label]="'Description' | otTranslate"
                                            >
                                            <input otInput
                                                class="width-100-percent"
                                                [placeholder]="'Description' | otTranslate"
                                                [readonly]="true"
                                                [value]="previousTranslations && previousTranslations[row.Language] ? previousTranslations[row.Language].Description : '- - - -'"
                                                />
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>

                    <ng-container *ngIf="col.columnType === 'current'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            >
                            <ng-template otDataTableHeader [thClass]="'cr-translation-table__version-column'">
                                <div class="slds-th__action padding-left-2">
                                    <span
                                        *ngIf="statusDraft"
                                        class="slds-truncate text-bold"
                                        >
                                        {{ col.columnName }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column"
                                let-rowIndex="rowIndex"
                                let-columnIndex="columnIndex"
                                [tdClass]="'cr-translation-table__version-column'"
                                >
                                <ng-container>
                                    <div class="{{ cellHeight }} width-100-percent">
                                        <div otFormElement
                                            class="width-100-percent padding-all-1"
                                            [label]="'Name' | otTranslate"
                                            [required]="true"
                                            >
                                            <input otInput
                                                class="width-100-percent"
                                                [attr.ot-auto-id]="'LanguageTableName' + draftTranslations[rowIndex].Language"
                                                [placeholder]="'Name' | otTranslate"
                                                [disabled]="!editable || !statusDraft"
                                                [ngModel]="draftTranslations[rowIndex].Name"
                                                (ngModelChange)="onModelChange($event, rowIndex, 'Name')"
                                                />
                                        </div>
                                        <div otFormElement
                                            *ngIf="!isTopicLanguageTable"
                                            class="width-100-percent padding-all-1"
                                            [label]="'Description' | otTranslate"
                                            [required]="true"
                                            >
                                            <textarea otTextarea
                                                class="width-100-percent"
                                                [attr.ot-auto-id]="'LanguageTableDescription' + draftTranslations[rowIndex].Language"
                                                [placeholder]="'Description' | otTranslate"
                                                [disabled]="!editable || !statusDraft"
                                                [ngModel]="draftTranslations[rowIndex].Description"
                                                (ngModelChange)="onModelChange($event, rowIndex, 'Description')"
                                            ></textarea>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
</section>