<div
    *ngIf="isLoaded; else loading"
    class="full-size column-nowrap"
>
    <cookie-page-header
        [pageTitle]="'WebsiteDetails' | otTranslate"
        [primaryButton]="primaryButton"
        [secondaryButton]="secondaryButton"
        [breadcrumbItems]="breadcrumbItems"
    ></cookie-page-header>
    <div class="height-100 background-white overflow-y-auto">
        <div class="centered-max-70">
            <ng-container *ngFor="let accordion of accordionConfig; index as accordionIndex;">
                <div
                    class="cursor-pointer padding-all-1 text-huge text-thin color-slate border-bottom row-space-between align-center"
                    [attr.ot-auto-id]="'CookieConsent' + accordion.labelKey + 'Toggle'"
                    (click)="onConfigurationAccordionToggle(accordionIndex)"
                >
                    {{ accordion.labelKey | otTranslate }}
                    <i
                        class="ot cursor-pointer"
                        [ngClass]="{'ot-chevron-right': !accordion.isExpanded, 'ot-chevron-down': accordion.isExpanded}"
                    ></i>
                </div>
                <ng-container *ngIf="accordion.isExpanded">
                    <div class="padding-all-1">
                        <div>{{accordion.descriptionKey | otTranslate}}</div>
                        <ng-container *ngIf="accordion.id === scanLoginTabs.AuthenticationCookies">
                            <ng-container
                                *ngTemplateOutlet="authCookieform; context : { formGroup: authCookiesForm }">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="accordion.id === scanLoginTabs.LoginFormSettings">
                            <ng-container
                                *ngTemplateOutlet="dynamicScanLoginForm; context : { formGroup: loginInfoForm, config: loginInfoFormConfig }">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="accordion.id === scanLoginTabs.WebFormHTMLAttributes">
                            <div class="margin-top-1">
                                {{'ScanMoreInfo' | otTranslate}}&nbsp;
                                <a (click)="scanBehindTutorial()">{{'ClickHere' | otTranslate}}</a>
                            </div>
                            <ng-container
                                *ngTemplateOutlet="dynamicScanLoginForm; context : { formGroup: htmlAttributeForm, config: htmlAttributeConfig }">
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<!-- Authentication cookies template -->
<ng-template
    #authCookieform
    let-formGroup="formGroup"
>
        <form
            class="margin-none"
            [formGroup]="formGroup"
        >
            <div formArrayName="cookies">
                <ng-container *ngFor="let cookie of authCookies.controls; let index = index ; let last = last">
                    <div
                        class="flex align-flex-end"
                        [formGroupName]="index"
                    >
                        <div otFormElement
                            class="margin-top-2"
                            [label]="'CookieName' | otTranslate"
                        >
                            <input
                                otInput
                                formControlName="cookiesName"
                                [placeholder]="'CookieName' | otTranslate"
                                [attr.ot-auto-id]="'CookieScanAuthenticationCookieNameId' + index"
                            />
                        </div>
                        <div otFormElement
                            class="margin-top-2 margin-left-2"
                            [label]="'CookieValue' | otTranslate"
                        >
                            <input
                                otInput
                                formControlName="cookiesValue"
                                [placeholder]="'CookieValue' | otTranslate"
                                [attr.ot-auto-id]="'CookieScanAuthenticationCookieValueId' + index"
                            />
                        </div>
                        <button
                            *ngIf="authCookies.controls.length > 1"
                            otButton
                            class="margin-left-1"
                            [attr.ot-auto-id]="'CookieScanAuthenticationCookieAdd' + index"
                            icon="ot ot-minus-circle text-error text-large"
                            (click)="removeCookie(index)"
                        ></button>
                        <button
                            *ngIf="last && authCookies.controls.length < noOfAuthcookiesAllowed"
                            otButton
                            [attr.ot-auto-id]="'CookieScanAuthenticationCookieRemove' + index"
                            icon="ot ot-plus-circle text-success text-large"
                            (click)="addCookie()"
                        ></button>
                    </div>
                </ng-container>
            </div>
        </form>
</ng-template>
<!-- form component -->
<ng-template
    #dynamicScanLoginForm
    let-formGroup="formGroup"
    let-config="config"
>
    <form
        novalidate
        class="margin-none"
        [formGroup]="formGroup"
    >
        <ng-container *ngFor="let field of config">
            <div otFormElement
                class="margin-top-2"
                [label]="field.labelKey | otTranslate"
                [hasError]="field.hasError || false"
                [errorMessage]="field.errorMessage || ''"
            >
                <input
                    class="full-width"
                    otInput
                    [type]="field.type"
                    [formControlName]="field.name"
                    [attr.ot-auto-id]="field.otAutoId"
                    [placeholder]="field.placeholderKey ? (field.placeholderKey | otTranslate) : field.placeholder"
                />
            </div>
        </ng-container>
    </form>
</ng-template>
<!-- page loader -->
<ng-template #loading>
    <ot-loading otPageLoading *ngIf="!isLoaded">{{ 'Loading' | otTranslate }}...</ot-loading>
</ng-template>
