<ng-template #incidentAddEditModalLoader>
    <ot-loading
        otPageLoading
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    ></ot-loading>
</ng-template>
<ot-modal-header (close)="cancelButtonClicked()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    *ngIf="!(isLoading$ | async); else incidentAddEditModalLoader"
    class="overflow-x-hidden"
    >
    <form
        novalidate
        class="padding-top-2"
        [formGroup]="incidentForm"
        >
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'IncidentType' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="IncidentTypePickList"
                [autoClose]="true"
                [disabled]="isLoading$ | async"
                [hideArrow]="false"
                [labelKey]="labelKey"
                [model]="selectedIncidentType"
                [options]="incidentTypes"
                [placeholder]="'IncidentType' | otTranslate"
                [valueKey]="valueKey"
                (onSelect)="selectIncidentType($event)"
            >
            </ot-picklist>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Organization' | otTranslate"
            [required]="true"
            >
            <org-select
                *ngIf="otModalData?.parentId"
                ot-auto-id="IncidentOrganizationPickList"
                [identifier]="'IncidentOrganizationOrgSelect'"
                [model]="incidentForm.get('selectedOrg').value"
                [placeholder]="'SelectOrganizationGroup' | otTranslate"
                (onSelect)="selectOrg($event)"
                >
            </org-select>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Name' | otTranslate"
            [required]="incidentNamePlaceholder ? false : true"
            >
            <input
                otInput
                formControlName="name"
                ot-auto-id="IncidentName"
                [ngModel]="incidentForm.get('name').value"
                [placeholder]="incidentNamePlaceholder ? incidentNamePlaceholder : 'Name' | otTranslate"
                [required]="incidentNamePlaceholder ? !incidentNamePlaceholder : incidentNamePlaceholder"
                />
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Assignee' | otTranslate"
            >
            <ot-org-user
                ot-auto-id="IncidentOrgUser"
                [allowEmail]="false"
                [model]="incidentForm.get('assignee').value"
                [orgId]="incidentForm.get('selectedOrg').value"
                [permissions]="['IncidentAssignableUser']"
                [traversal]="orgUserTraversal.Up"
                (onSelect)="selectAssignee($event)"
                >
            </ot-org-user>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Description' | otTranslate"
            >
            <textarea
                otTextarea
                formControlName="description"
                ot-auto-id="IncidentDescriptionTextArea"
                [placeholder]="'Description' | otTranslate"
            ></textarea>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'DateOccurred' | otTranslate"
            >
            <ot-date-time-picker
                ot-auto-id="IncidentDateOccurredDateTimePicker"
                [dateTimeModel]="incidentForm.get('dateOccurred').value"
                [dateFormat]="format"
                [datePlaceholder]="'DateOccurred' | otTranslate"
                [hoursText]="'Hours' | otTranslate"
                [is24Hour]="is24Hour"
                [minutesText]="'Minutes' | otTranslate"
                [timePlaceholder]="'TimeOccurred' | otTranslate"
                (onChange)="selectDateOccurred($event)"
            ></ot-date-time-picker>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'DateDiscovered' | otTranslate"
            >
            <ot-date-time-picker
                ot-auto-id="IncidentDateDiscoveredDateTimePicker"
                [dateTimeModel]="incidentForm.get('dateDiscovered').value"
                [dateFormat]="format"
                [datePlaceholder]="'DateDiscovered' | otTranslate"
                [hoursText]="'Hours' | otTranslate"
                [is24Hour]="is24Hour"
                [minutesText]="'Minutes' | otTranslate"
                [timePlaceholder]="'TimeDiscovered' | otTranslate"
                (onChange)="selectDateDiscovered($event)"
            ></ot-date-time-picker>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'DeadlineDate' | otTranslate"
            >
            <ot-date-time-picker
                ot-auto-id="IncidentDeadlineDateTimePicker"
                [dateTimeModel]="incidentForm.get('deadline').value"
                [dateDisableUntil]="disableUntilDate"
                [dateFormat]="format"
                [datePlaceholder]="'DeadlineDate' | otTranslate"
                [hoursText]="'Hours' | otTranslate"
                [is24Hour]="is24Hour"
                [minutesText]="'Minutes' | otTranslate"
                [timePlaceholder]="'DeadlineTime' | otTranslate"
                (onChange)="selectDeadline($event)"
            ></ot-date-time-picker>
        </div>
        <div otFormElement
            class="margin-bottom-1"
            [label]="'RootCause' | otTranslate"
            >
            <textarea
                otTextarea
                formControlName="rootCause"
                ot-auto-id="IncidentRootCauseTextArea"
                [placeholder]="'RootCause' | otTranslate"
            ></textarea>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="IncidentCloseModalButton"
        [disabled]="isSaving"
        (click)="cancelButtonClicked()"
        >
        {{cancelButtonTitle | otTranslate}}
    </button>
    <button
        otButton brand
        ot-auto-id="IncidentAddModalButton"
        [disabled]="isFormDataInvalid() || isSaving"
        [loading]="isSaving"
        (click)="actionButtonClicked()"
        >
        {{actionButtonTitle | otTranslate}}
    </button>
</ot-modal-footer>
