.one-comments-activity {

    &__boxed-item {
        min-width: 2rem;
        min-height: 2rem;
    }

    &--green {
        border-left: solid 1rem $green;
        background-color: $light-green;

        &:first-child {
            padding-left: 1rem;
            margin-left: -1rem;
        }
    }

    .slds-badge {
        max-height: 2rem;
    }
}
