<div
    *ngFor="let activity of activities; trackBy: trackByFn; let index = index"
    class="padding-top-bottom-half border-top one-comments-activity row-nowrap {{ 'one-comments-activity--' + activity?.styleModifier }}"
    >
    <div class="one-comments-activity__icon padding-right-1 row-flex-end flex-full-15">
        <span
            *ngIf="activity?.icon"
            class="one-comments-activity__boxed-item no-outline text-large {{activity.icon}}"
        ></span>
    </div>
    <div class="one-comments-activity__body padding-bottom-2 column-nowrap flex-full-70">
        <div class="margin-bottom-1 row-space-between">
            <div
                *ngIf="activity?.displayString"
                [innerHtml]="activity?.displayString"
            ></div>
            <div>
                <span
                    *ngIf="activity?.prefixText"
                    class="text-bold text-medium margin-right-half"
                    [innerText]="activity?.prefixText"
                ></span>
                <span
                    *ngIf="!activity?.showOnlyPrefix"
                    class="text-medium"
                    [innerText]="activity?.name || activity?.email || '- - - -'"
                ></span>
                <span
                    *ngIf="activity?.date"
                    class="text-small padding-left-1"
                    [innerText]="activity?.date | otDate"
                ></span>
            </div>
            <span
                *ngIf="activity?.showStatus"
                [otBadge]="activity.statusColor"
                [innerText]="activity?.statusText"
            ></span>
        </div>
        <div *ngIf="!activity?.collapsed && (activity?.content || activity?.attachments)">
            <div
                *ngIf="activity?.content"
                class="ql-editor height-auto"
                [innerHtml]="activity?.content"
            ></div>
            <ng-container
                *ngIf="activity.attachments"
                class="margin-top-half"
                >
                <div *ngFor="let attachment of activity.attachments; trackBy: trackByAttachmentName; let index = index">
                    <div
                        *ngIf="!attachment?.isDeleted"
                        (mouseover)="attachment.showDeleteIcon = true"
                        (mouseleave)="attachment.showDeleteIcon = false"
                        >
                        <a
                            class="text-link text-italic remove-anchor-style hover-no-underline"
                            (click)="handleAction(commentsActivitiesEvents.DOWNLOAD_FILE, attachment)">
                                <span [ngClass]="attachment.icon"></span>
                                <span
                                    *ngIf="attachment?.name"
                                    [innerText]="attachment.name"
                                ></span>
                        </a>
                        <i
                            *ngIf="attachment?.showDeleteIcon"
                            class="ot ot-trash-o margin-left-2 cursor-pointer"
                            (click)="handleAction(commentsActivitiesEvents.DELETE_FILE_FROM_COMMENT, { activity: activity, attachment: attachment })">
                        </i>
                    </div>
                    <div *ngIf="attachment?.isDeleted">
                        <span class="{{attachment.icon}} text-grey-4"></span>
                        <span
                            class="text-grey-4"
                            title="{{attachment?.deleteDescriptionText}}"
                            [innerText]="attachment?.name"
                        ></span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="one-comments-activity__toggle padding-left-1 flex-full-15">
        <span
            *ngIf="activity?.content || activity?.attachments"
            class="one-comments-activity__boxed-item no-outline text-large text-bold ot cursor-pointer"
            [ngClass]="{'ot-angle-right': activity?.collapsed, 'ot-angle-down': !activity?.collapsed}"
            (click)="activity.collapsed = !activity.collapsed"
        ></span>
    </div>
</div>
