<div class="height-100" *ngIf="!inputs.length">
    <h2 class="row-space-between text-center">{{ 'NoFields' | translate }}</h2>
</div>
<div *ngFor="let inputItem of inputs; let i=index">
    <div
        *ngIf="inputs.length && inputItem.status===requestTypeStatusEnum.Add"
        class="webform-inputs-manager__inputs row-space-between align-center"
        >
        <div class="text-nowrap overflow-ellipsis">
            <ng-container *ngIf="hasEditAccess">
                <i
                    class="fa fa-arrow-up margin-right-half"
                    aria-hidden="true"
                    (click)="inputsChanged(dsarStoreActions.INPUT_MOVE_UP, inputItem, i)"
                ></i>
                <i
                    class="fa fa-arrow-down padding-right-half"
                    aria-hidden="true"
                    (click)="inputsChanged(dsarStoreActions.INPUT_MOVE_DOWN, inputItem, i)"
                ></i>
            </ng-container>
            <span
                *ngIf="!isFields && inputItem.status === requestTypeStatusEnum.Add"
                class="text-thin-2 overflow-ellipsis-nowrap"
            >{{formTranslations[inputItem.fieldName]}}</span>
            <span
                *ngIf="isFields"
                class="text-thin-2 overflow-ellipsis-nowrap"
            >{{formTranslations[inputItem.fieldKey]}}</span>
        </div>
        <div class="text-nowrap">
            <i
                *ngIf="hasEditAccess && inputItem.canDelete && !inputItem.isUsed"
                class="webform-inputs-manager__action ot ot-trash-o margin-right-half"
                aria-hidden="true"
                (click)="inputsChanged(dsarStoreActions.INPUT_DELETED, inputItem)"
            ></i>
            <i
                *ngIf="hasEditAccess && !inputItem.isUsed"
                class="webform-inputs-manager__action ot ot-pencil-square-o margin-left-right-half"
                aria-hidden="true"
                (click)="inputsChanged(dsarStoreActions.INPUT_EDIT, inputItem, i)"
            ></i>
            <i
                *ngIf="inputItem.isSelected && hasEditAccess && !inputItem.cannotUnselect"
                class="webform-inputs-manager__action ot ot-minus margin-left-half"
                aria-hidden="true"
                (click)="inputsChanged(dsarStoreActions.INPUT_TOGGLED, inputItem)"
            ></i>
            <i
                *ngIf="!inputItem.isSelected && hasEditAccess"
                class="webform-inputs-manager__action ot ot-plus margin-left-half"
                aria-hidden="true"
                (click)="inputsChanged(dsarStoreActions.INPUT_TOGGLED, inputItem)"
            ></i>
        </div>
    </div>
</div>

<webform-add-new-input
    *ngIf="hasEditAccess"
    [isFields]="isFields"
    [permissions]="permissions"
    (inputAction)="upgradedInputsChanged($event)"
></webform-add-new-input>
