<section class="stretch-vertical full-width padding-top-bottom-3 overflow-y-auto background-white">
    <form
        *ngIf="control"
        name="LinkAddControlDetailForm"
        class="row-wrap centered-max-100 full-width"
        [formGroup]="controlForm"
        >
        <ul class="row-wrap centered-max-100 full-width">
            <ng-container *ngFor="let data of formData">
                <li
                    class="row-nowrap full-width min-width-30 max-width-50-percent margin-left-0 margin-right-auto margin-bottom-2 padding-left-right-3">
                    <div
                        otFormElement
                        class="stretch-horizontal"
                        [label]="data?.label | otTranslate"
                        [required]="data.isRequired"
                        [hasError]="controlForm?.get(data.formControlName)?.invalid && (controlForm?.get(data.formControlName)?.dirty || controlForm?.get(data.formControlName)?.touched)"
                        [errorMessage]="(controlForm?.get(data.formControlName)?.errors?.maxlength ? 'ErrorMaxLengthExceeded': data.requiredErrorMessage) | otTranslate"
                        >
                        <ng-container *ngIf="(!editMode || data.readOnly)">
                            <div class="width-100-percent position-relative">
                                <button
                                    class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none link-controls-detail__button"
                                    ot-auto-id="LinkControlsDetailsTabToggleEdit"
                                    (click)="onToggleEdit(data.readOnly)"
                                    >
                                    <span class="word-break-all pre-wrap" *ngIf="data.name === controlsTabColumnNames.MATURITY || data.name === controlsTabColumnNames.STATUS; else defaultDataDisplay">
                                        {{ (control[data.name] | otTranslate) || emptyData }}
                                    </span>
                                    <ng-template #defaultDataDisplay>
                                        <span class="word-break-all pre-wrap">{{ (data.isChildObject ? control[data.childObjectRef][data.name] : control[data.name]) || emptyData }}</span>
                                    </ng-template>
                                    <i
                                        class="ot display-none position-absolute top-half right-0 link-controls-detail__icon"
                                        [ngClass]="data.readOnly ? 'ot-lock' : 'ot-edit'"
                                        >
                                    </i>
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="editMode && !data.readOnly">
                            <ng-container [ngSwitch]="data.type">
                                <ng-container *ngSwitchCase="formDataTypes.PICKLIST">
                                    <ot-picklist
                                        class="full-width"
                                        [labelKey]="data.labelKey"
                                        [valueKey]="data.valueKey"
                                        [attr.ot-auto-id]="data.id"
                                        [placeholder]="'Select' | otTranslate"
                                        [autoClose]="true"
                                        [options]="data.options || []"
                                        [model]="controlForm?.get(data.formControlName).value"
                                        (onSelect)="onDropdownChange(data.formControlName, $event)"
                                        >
                                    </ot-picklist>
                                </ng-container>
                                <ng-container *ngSwitchCase="formDataTypes.TEXTAREA">
                                    <textarea
                                        otTextarea
                                        class="full-width one-text-area resize-none"
                                        [rows]="data.rows"
                                        [attr.ot-auto-id]="data.id"
                                        [placeholder]="'Notes' | otTranslate"
                                        [formControlName]="data.formControlName"
                                        [name]="'LinkControlsDetailsTab'+data.name+'TextArea'"
                                        >
                                    </textarea>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </li>
            </ng-container>
        </ul>
    </form>
</section>
<footer
    *ngIf="editMode"
    otPageFooter
    class="background-white"
    >
    <button
        otButton
        neutral
        ot-auto-id="LinkControlsDetailTabCancelBtn"
        [disabled]="isSaving"
        (click)="cancelAction()"
        >
        {{"Cancel" | otTranslate}}
    </button>
    <button
        otButton
        brand
        ot-auto-id="LinkControlsDetailsTabSaveBtn"
        [disabled]="controlForm.invalid || !hasEdits || isSaving"
        [loading]="isSaving"
        (click)="onSave()"
        >
        {{"Save" | otTranslate}}
    </button>
</footer>