.action-icons {

    &__button {
        background: 0;
        border: 0;
        padding: 0.4rem;

        &--delete:hover {
            color: $light-red;
        }

        &-success {
            color: $green;
        }

        &-error {
            color: $red;
        }

        &--rounded {
            border-radius: 50%;
            border: 1px solid $grey-2;
            background-color: $white;
            padding: 0;
        }
    }

    &__conditions {
        font-size: 1.25em;

        &-active {
            bottom: 17%;
            left: 27%;
            font-size: 75%;
            color: $green;
        }
    }

    &__icon {
        outline: none;
    }
}
