<section class="flex flex-column full-width height-100">
    <ot-page-header title="{{'ReadinessDashboard' | translate }}">
    </ot-page-header>

    <ot-loading otPageLoading
        *ngIf="!isLoaded"
        class="padding-left-right-3 padding-top-bottom-1 flex-full-height row-horizontal-vertical-center"
    ></ot-loading>
    <ot-empty-state
        class="flex-full-height full-width justify-center text-center padding-all-2"
        *ngIf="!assessmentGraphs.length && isLoaded"
        [emptyStateMessage]="'NoAssessmentsVisible' | translate"
        >
        <img emptyStateImg />
    </ot-empty-state>
    <div
        *ngIf="isLoaded && assessmentGraphs.length"
        class="flex-full-height"
        >
        <div
            class="
                gra-dashboard-legend-bar
                full-width
                row-nowrap
                padding-left-right-2
                padding-top-bottom-1
                background-white
                border-bottom"
            >
            <div class="row-nowrap margin-right-1 margin-top-1 row-vertical-center">
                <p class="text-bold text-medium">{{ "Legend" | translate }}</p>
            </div>
            <div
                *ngFor="let legend of legendEntries"
                class="row-nowrap row-vertical-center margin-right-3 margin-top-1">
                <div
                    [ngClass]="legend.colorClass"
                    class="gra-dashboard-legend-bullet row-vertical-center margin-bottom-1"
                ></div>
                <p class="text-medium-small">{{ legend.labelKey | translate }}</p>
            </div>
        </div>
        <div class="full-width padding-left-2 padding-top-bottom-1 row-wrap overflow-y-auto">
            <section
                *ngFor="let graph of assessmentGraphs;"
                class="min-width-25 max-25 background-white shadow margin-right-2 margin-top-bottom-1 flex column-wrap"
                >
                <div class="row-flex-end">
                    <ot-context-menu
                        [type]="menuType"
                        [position]="menuPosition"
                        [menu]="graph.dropDownMenu"
                        >
                        <i class="fa fa-ellipsis-h"></i>
                        <a
                            *otContextMenuItem="let item"
                            (click)="handleMenuItemClicks(graph.assessment.id, item.value)">
                            {{ item.text }}
                        </a>
                    </ot-context-menu>
                </div>
                <h4 class="text-center flex-full-height">
                    {{ graph.assessment.name }}
                </h4>
                <one-horseshoe-graph
                    ot-auto-id="GlobalReadinessDashboardGraph"
                    [title]="graph.title"
                    [titleClass]="'global-readiness-dashboard__graph-total'"
                    [subTitle]="'Ready' | translate"
                    [countText]="graph.countText"
                    [graphData]="graph.graphData"
                    [detailsText]="'Continue' | translate"
                    (onDetailsClick)="onContinue(graph.assessment.id)"
                ></one-horseshoe-graph>
            </section>
        </div>
    </div>
</section>
