.gra-dashboard-legend-bullet {
    content: '\f111';
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
}

.gra-dashboard-legend-bar {
    min-height: 5rem;
    max-height: 5rem;
}
