<ng-template *ngIf="!(isLoading$ | async); then IncidentRules else Loading"></ng-template>
<ng-template #IncidentRules>
    <incident-rules
        class="flex-full-height"
        [rules]="rules"
        [config]="config"
        [editMode]="ruleEditMode"
        [deleteConfig]="deleteConfig"
        (editModeChanged)="editModeChanged($event)"
        (rulesSaved)="rulesSaved($event)"
        (ruleOpened)="getRuleById($event)"
        (ruleCancelled)="resetRules($event)"
    ></incident-rules>
</ng-template>
<ng-template #Loading>
    <ot-loading otPageLoading class="flex-full-height"></ot-loading>
</ng-template>
