<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="overflow-y-auto padding-all-2 flex-full-height">
        <form
            name="linkDataSubjectForm"
            class="width-100-percent max-width-full margin-none flex-full-height"
            >
            <div
                otFormElement
                class="margin-top-1 padding-bottom-2 border-bottom"
                [label]="'DataSubjectGroup' | otTranslate"
                >
                <ot-picklist
                    class="max-width-30"
                    ot-auto-id="LinkDataSubjectModalSubjectSelection"
                    valueKey="valueId"
                    labelKey="valueKey"
                    [placeholder]="'DataSubjectGroup' | otTranslate"
                    [autoClose]="true"
                    [options]="dataSubjectTypeList"
                    [disabled]="!dataSubjectTypeList.length || isSaving"
                    [model]="selectedSubjectType"
                    (onSelect)="selectSubjectType($event)"
                ></ot-picklist>
            </div>
            <div class="flex-full-height">
                <div class="link-data-subject-modal__header row-nowrap">
                    <div class="link-data-subject-modal__category-header background-eggshell border-bottom padding-all-half text-bold row-horizontal-vertical-center">
                        {{ "DataCategories" | otTranslate }}
                    </div>
                    <div
                        class="border-bottom padding-all-1 text-bold width-100-percent"
                        *ngIf="selectedCategory.categoryValue"
                        >
                        <span class="text-medium">{{selectedCategory.categoryKey ? (selectedCategory.categoryKey | otTranslate) : selectedCategory.categoryValue}}</span>
                        <div class="margin-top-half">
                            <ot-checkbox
                                class="inline margin-right-1"
                                ot-auto-id="LinkDataSubjectModalSelectAll"
                                [checked]="allSelected"
                                [disabled]="isSaving"
                                (toggle)="selectAll()"
                                >
                            </ot-checkbox>
                            <label>{{ "SelectAll" | otTranslate }}</label>
                        </div>
                    </div>
                </div>
                <div class="link-data-subject-modal__content stretch-vertical row-nowrap border-bottom">
                    <ul
                        *ngIf="dataCategoryList && dataCategoryList.length && !fetchingCategories"
                        class="link-data-subject-modal__category-list background-eggshell stretch-vertical margin-bottom-0 overflow-y-auto shadow-bottom-inset z-index-1">
                        <li
                            class="link-data-subject-modal__category-item text-pointer border-bottom"
                            *ngFor="let category of dataCategoryList; let i = index"
                            [ngClass]="{'background-grey-2 text-bold': category.categoryId === selectedCategory.categoryId }"
                            [attr.ot-auto-id]="'LinkDataSubjectCategorySelection_' + i"
                            (click)="selectCategory(category)"
                            >
                            <div
                                class="padding-all-1"
                                [ngClass]="category.categoryId === selectedCategory.categoryId ? 'link-data-subject-modal__category-item--selected' : 'link-data-subject-modal__category-item--unselected'">
                                {{category.categoryKey ? (category.categoryKey | otTranslate) : category.categoryValue}}
                            </div>
                        </li>
                    </ul>
                    <div
                        class="flex-full-height justify-center link-data-subject-modal__category-list background-eggshell"
                        *ngIf="fetchingCategories"
                        >
                        <ot-loading otPageLoading></ot-loading>
                    </div>
                    <div
                        class="column-horizontal-vertical-center link-data-subject-modal__category-list background-eggshell padding-left-right-2"
                        *ngIf="!fetchingCategories && !dataCategoryList"
                        >
                        {{ "NoCategoriesAvailable" | otTranslate }}
                    </div>
                    <div
                        class="float-right width-100-percent stretch-vertical overflow-y-auto"
                        [ngClass]="{'flex-full-height': !fetchingCategories && !dataCategoryList}"
                        >
                        <div
                            class="width-100-percent row margin-left-right-0"
                            [ngClass]="{'flex-full-height': !fetchingCategories && !dataCategoryList}"
                            >
                            <div
                                *ngFor="let element of selectedCategory.elements;"
                                class="padding-all-1 border-right border-bottom inline-block col-sm-6 row-vertical-center"
                                [otTooltip]="element.value"
                                >
                                <ot-checkbox
                                    class="inline margin-right-1"
                                    [checked]="elementMap[element.valueId]"
                                    [disabled]="isSaving"
                                    (toggle)="toggleElement(element.valueId)"
                                    >
                                </ot-checkbox>
                                <label class="slds-truncate margin-bottom-0">{{element.value}}</label>
                            </div>
                            <ot-empty-state
                                class="flex-full-height column-vertical-center"
                                *ngIf="!fetchingCategories && !dataCategoryList"
                                [emptyStateMessage]="'NoElementsAvailable' | otTranslate"
                                >
                                <img emptyStateImg />
                            </ot-empty-state>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer class="row-flex-end static-horizontal margin-top-auto padding-top-3">
            <div>
                <button
                    class="margin-right-1"
                    otButton
                    neutral
                    ot-auto-id="LinkDataSubjectModalCancelButton"
                    [innerText]="cancelButtonText"
                    [disabled]="isSaving"
                    (click)="closeModal()"
                    >
                </button>
            </div>
            <div>
                <button
                    otButton
                    brand
                    ot-auto-id="LinkDataSubjectModalSaveButton"
                    [innerText]="submitButtonText"
                    [loading]="isSaving"
                    [disabled]="isSaving || !hasChanges"
                    (click)="saveInventory()"
                    >
                </button>
            </div>
        </footer>
    </div>
</one-modal-base>
