.expandable-tile {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;
    min-height: 6rem;

    &--expanded {
        min-height: 18rem;
    }
}
