<ot-page-header class="background-white">
    <button otButton neutral
        ot-auto-id="RulesHeaderAddRuleButton"
        [disabled]="rulesEditMode$ | async"
        (click)="addRule()"
    >
        {{"AddRule" | translate}}
    </button>
    <button otButton neutral
        *ngIf="!(hasNoRules$ | async)"
        [disabled]="(rulesEditMode$ | async) || !(hasOneRuleExpanded$ | async)"
        ot-auto-id="RulesHeaderCollapseAllButton"
        (click)="collapseAll()"
    >
        {{"CollapseAll" | translate}}
    </button>
</ot-page-header>
<div class="rules-manager row-nowrap stretch-vertical"
    [class.background-white]="!(rulesEditMode$ | async)"
    [class.background-grey]="rulesEditMode$ | async"
>
    <ot-loading otPageLoading *ngIf="isLoading; else rulesContainer"></ot-loading>
    <ng-template #rulesContainer>
        <ot-empty-state *ngIf="hasNoRules$ | async; else rulesView" class="margin-all-auto padding-bottom-0">
            <img emptyStateImg />
            <p class="text-bold text-center">{{"NoRulesFound" | translate}}</p>
            <button otButton brand
                ot-auto-id="RulesEmptyStateAddRuleButton"
                (click)="addRule()"
            >
                {{"AddRule" | translate}}
            </button>
        </ot-empty-state>
        <ng-template #rulesView>
            <!-- TODO: Bring this back once we create functionality for sidepane -->
            <!-- <rules-side-menu [ruleContext]="ruleContext" [ruleForms]="ruleForms$ | async"></rules-side-menu> -->
            <rules-list
                [ruleContext]="ruleContext"
                [ruleForms]="ruleForms$ | async"
            ></rules-list>
        </ng-template>
    </ng-template>
</div>
