.cc-unassigned-list {
    &__header-container {
        background-color: $eggshell;
        border-right: 1px solid $grey-2; 
        border-bottom: 1px solid $grey-4; 
        margin-bottom: 0.5rem;    
    }

    &__header {
        font-weight: 300;
        font-size: 2.2rem;
    }

    &__cookie-container {
        background-color: $eggshell;
        border-right: 1px solid $grey-2;
        align-content: flex-start;
    }

    &__cookie-wrapper {
        display: flex;
        justify-content: center;
    }

    &__cookie-card,
    &__host-card {
        flex: 0 0 auto;
    }
   
}