.cc-policy {
    height: calc(100% - 5rem);

    &__unassigned-list {
        min-width: 22rem;
    }

    &__assigned-groups {
        background-color: $eggshell;
        overflow-y: scroll;
    }
}
.purposes-container,
.vendors-container {
    &.purposes-empty {
        .one-drop-list {
            border: 2px dashed $blue;
        }
        .purposes-drag-placeholder {
            margin: auto;
            text-transform: uppercase;
            color: $blue;
        }
    }
    padding-bottom: 1rem;
    .one-drop-list {
        justify-content: flex-start;
    }
    li {
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        border: 1px solid;
        border-radius: 0.5rem;
        background-color: $blue;
        color: $white;
        font-weight: bold;
        margin-bottom: 1rem;
        border: 1px solid #1977ae;
        &.dndPlaceholder {
            display: none;
        }
        i {
            font-size: 2rem;
            vertical-align: bottom;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
}

.purposes-list {
    ul {
        width: 100%;
        li.template-nodes-group-node {
            background: $blue;
            color: $white;
            width: 100%;
            margin: 1.5rem 0rem;
            height: 5rem;
            .template-nodes-group-node-name,
            i.fa {
                line-height: 2.5rem;
            }
        }
    }

}
