.cc-group {
    border-bottom: 1px solid $grey-2;

    &__group-count {
        font-size: 1.3rem;
    }
    
    &__edit-icon,
    &__delete-icon,
    &__subgroup-heading {
        font-size: 1.5rem;
    }

    &__subgroup-heading {
        cursor: move;
    }

    &__group-description {
        font-size: 1rem;
    }

    &__body[disabled] {
        opacity: 0.25;
        pointer-events: none;
    }
    &__heading {
        cursor: move;
    }
}
