.cc-host-card {
    &_type {
        font-size: 1rem;
    }

    &__card-title {
        &:not(.no-legend):before {
            font-family: 'FontAwesome';
            content: '\f111';
            margin-right: 0.2rem;
        }
    }
}