.template {

    &__button {
        flex: 0 0 16rem;
        background-color: $green;
        color: $white;
        height: 3.6rem;
        border: 0;
        border-radius: 2px;
        margin-right: 1rem;

        &:hover {
            background-color: darken($green, 10%);
        }

        &--outline {
            background-color: $white;
            color: $slate;
            border: 1px solid $grey-1;

            i {
                color: $grey-3;
            }

            &:hover {
                color: darken($slate, 10%);
                border-color: darken($grey-1, 10%);
                background-color: $white;
            }
        }
    }

    &__link {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        padding: 1.4rem 1.4rem 0;
        text-align: center;
        color: $grey-3;
        width: 100%;

        &:hover {
            color: $grey-3;
            text-decoration: none;
        }
    }

    &__item {
        border-radius: 0;
        box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
        border-radius: 3px;
        background-color: $white;
        cursor: pointer;
        min-height: 200px;
        height: 100%;
        flex: 0 0 22rem;
        width: 22rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin: 0;
        position: relative;
        z-index: 98;

        &--child {
            margin-left: 1.6rem;
        }

        &--parent {
            margin-right: 1.6rem;
        }

        &--spacer {
            height: 0;
            min-height: 0;
            margin: 0 10px;
            border: 0;
            cursor: none;
        }

        &.published {

            .template__icon {
                color: $green;
            }

            .template__tags-item {
                color: $green;
            }
        }

        &.open {
            z-index: 99;
        }

        &:hover {
            z-index: 99;
        }

        &-container {
            padding: 1.6rem;

            &--linked {
                flex: 0 0 auto;
            }

            &--unlinked {
                flex: 0 0 auto;
            }
        }

        &-linked {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            position: relative;
            height: 100%;
        }

        .dropdown-backdrop {
            z-index: 1;
        }
    }

    &__link-arrow {
        position: absolute;
        width: 25%;
        height: 1.25rem;
        background-color: $grey-3;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 1.5rem solid transparent;
            border-bottom: 1.5rem solid transparent;
            border-left: 1.4rem solid $grey-3;
            position: absolute;
            right: -1.4rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__info {
        opacity: 0;
        transition: opacity .1s ease;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 1rem 0;
        width: 100%;

        &.is-showing {
            opacity: 1;
            transition: opacity .3s ease;
        }

        &:hover {

            .template__icon,
            .template__tags {
                color: darken($grey-3, 10%);

                &--published {
                    color: darken($green, 10%);
                }
            }

            .template__name {
                color: darken($slate, 15%);
            }
        }
    }

    &__tags {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: center;

        &-item {
            border: 1px solid;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            font-size: 1.2rem;
            flex: 0 0 auto;
            margin: .6rem .6rem .6rem 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &--published {
            color: $green;
        }
    }

    &__tabs {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin: 0;

        &-item {
            border-top: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            background-color: $paper-gray;
            flex: 0 0 auto;
            transition: flex .2s ease;
            text-align: center;

            &--published {
                color: $green;
            }

            &--draft {
                color: $slate;
            }

            &.is-active {
                flex: 1 1 auto;
                transition: flex .2s ease;
                border-top: 0;
                background-color: $white;
            }

            &:last-child {
                border-right: 0;
            }
        }

        &-btn {
            border: 0;
            background: 0;
            height: 100%;
            width: 100%;
            padding: .6rem 1rem;
            outline: 0;
        }
    }

    &__icon {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: $grey-3;

        &--published {
            color: $green;
        }
    }

    &__name {
        font-size: 1.5rem;
        color: $slate;
        margin-bottom: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__loader {
        flex: 1 1 100%;
    }
}
