//////////////////////////////////////////////////////////////////////////////////////////////
// Templates
//////////////////////////////////////////////////////////////////////////////////////////////
#pia-templates {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: $grey-1;
    .navbar {
        flex: 0 0 auto;
        .container-fluid {
            padding: 0 20px;
            box-shadow: rgba(0,0,0,0.08) 0 0 6px 0;
        }
        .navbar-brand {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
    .template {
        &__add {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem 20px 4rem;
            color: $slate;
            background-color: $white;
            box-shadow: rgba(0,0,0,0.08) 0 0 6px 0;
            &-icon {
                margin-right: 1rem;
                font-size: 2.2rem;
            }
            h3 {
                font-size: 2.4rem;
                flex: 1 1 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;
            }
            button {
                margin: 0 6px;
                padding: 1rem 2rem;

                @media (min-width: 500px) {
                    flex: 0 0 auto;
                }
                .navbar {
                    flex: 0 0 auto;
                    .container-fluid {
                        padding: 0 20px;
                    }
                    .navbar-brand {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        &__none {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 6rem 20px 4rem;
            color: $slate;
            h3 {
                font-size: 2.4rem;
                flex: 1 1 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;
            }
            button {
                margin: 0;
            }
        }

        &__edit {
            &-btn {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 1.8rem;
                padding: 0.5rem 0.8rem;
                color: $grey-3;
                appearance: none;
                background: none;
                outline: none;
                border: 0;
                &:hover {
                    color: $slate;
                }
            }
            &-menu {
                width: calc(100% + 6px);
                box-shadow: none;
                border: 3px solid #f5f5f5;
                border-top: 0;
                border-radius: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                position: absolute;
                top: 100%;  //100
                left: -3px; // -3
                z-index: 100;
                padding: 0;
                margin: 0;
                background-color: $grey-3;
                li {
                    text-align: center;
                    padding: 0.6rem;
                    border-top: 1px solid #f5f5f5;
                    &:hover {
                        background-color: $slate;
                        a {
                            background-color: inherit;
                        }
                    }

                    &.is-disabled {
                        opacity: .4;
                        cursor: default;

                        a {
                            cursor: default;
                        }
                    }

                    i {
                        margin-right: 0.6rem;
                    }
                }
                a {
                    color: $white;
                }
                &.up {

                    top: inherit;
                    bottom: 100%;

                }
            }

        }
        // No Templates Messaging
        &__message {

            h2 {
                display: flex;
                justify-content: center;
                text-align: center;
                margin: auto 1rem;
                font-size: 3rem;
                color: #ccc;
                position: relative;
                top: 100px;
            }
        }
    }
    .template-container {
        padding: 0;
        overflow-y: auto;
        flex: 1 1 auto;
        background-color: $paper-gray;
        .templates-list {
            margin: 0;
            padding: 1rem 0.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
    }
    .template-search {
        flex: 0 0 auto;
        width: 20rem;
        height: 3.6rem;
    }
    .create-item {
        .panel {
            height: 100%;
            background-color: #2A5F88;
            position: relative;
            overflow: hidden;
            margin-bottom: 8px;
            border-radius: 0;
            .panel-upper {
                height: 50%;
                background-color: #777;
                position: absolute;
                top: -50%;
                width: 100%;
                transition: all 200ms ease-in-out;
                color: $paper;
                outline: none;
                padding: 1%;
                h3 {
                    text-align: center;
                    margin: 30px auto;
                    width: 90%;
                }
            }
            .panel-body {
                height: 67%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: $paper;
                }
            }
            .panel-footer {
                height: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
                text-align: center;
            }
            .panel-lower {
                height: 50%;
                width: 100%;
                background-color: #777;
                position: absolute;
                top: 100%;
                transition: all 200ms ease-in-out;
                border-top: 1px solid $paper;
                color: $paper;
                outline: none;
                padding: 1%;
                h3 {
                    text-align: center;
                }
            }
        }
        .panel-heading {
            border-radius: 0;
        }
        &--animate {
            .panel:hover {
                .panel-upper {
                    top: 0;
                }
                .panel-lower {
                    top: 50%;
                }
            }
        }
    }
}
