$number-grey: #D3D3D3;

#pia-template-manage {
    height:100%;

    .template-gallery-sections {
      .template-manage__details {
          padding: 1rem 0 0 0rem;
      }
      .pia-question__number {
          padding: 0;
          margin: 0;
          border-radius: 0;
          height: auto;
          align-self: flex-start;
      }
      .qn-label {
          margin: 1rem 0 0 5rem;
          padding: .5rem;
          background-color: #D3D3D3;
          color: $white;
          width: 3.2rem;
          font: {
            size: 18px;
            weight: 700;
          }
      }
      .question {
          padding-left: 10rem;
          margin-top: -3.5rem;
      }
    }

    .module-wrapper {
        padding: 0;

        .question-information {
            ul {
                list-style: none;
                li {
                    display: inline;
                    .input-text {
                        width: 90%;
                    }
                }
            }
            button {
                display: block;
                margin: 0 auto;
                width: 50px;
            }
        }

        @media(max-width: $small){
            overflow-y: auto;
        }
    }

    .templateStudio {
        display: flex;

        @media(max-width: $small){
            flex-flow: column;
        }

        .templateStudio-menu {
            background-color: #f3f3f3;
            flex: 0 0 275px;
            overflow-y: auto;

            @media(max-width: $small){
                flex: 0;
            }

            .panel-group {
                width: 275px;
                border-right: 1px solid #ccc;
                margin: 0;

                @media(max-width: $small){
                    width: 100%;
                    border-right: none;
                }

                .panel {
                    border-bottom: 1px solid #ccc;
                    border-radius: 0px !important;
                    margin: 0;
                    outline: none;
                    &:first-child {
                        border-top: 1px solid #ccc;
                    }
                    .panel-heading {
                        color: #777;
                        padding: 0;
                        .panel-title .accordion-toggle {
                            outline: none;
                            text-decoration: none;
                            padding: 1.5rem 1rem;
                            display: block;

                            @media(max-width: $small){
                                padding: 1rem;
                            }
                        }
                    }
                    div {
                        .btn-group {
                            label {
                                border: 2px solid #ccc;
                                outline: none;
                            }
                            .no {
                                margin-left: 3px;
                            }
                        }
                        .panel-body {
                          color: #777;

                          .name__text {
                              .editable-controls {
                                  position: relative;

                                  .editable-input.editable-has-buttons {
                                      height: 3em !important;
                                      width: inherit !important;
                                  }
                              }
                          }
                          .desc__text {
                              .editable-controls {
                                  position: relative;

                                  .editable-input.editable-has-buttons {
                                      width: inherit !important;
                                  }
                              }
                          }

                        }
                    }
                }
            }

            .self-service {

                .template-manage__sidebar-link-section {
                    display: flex;
                    align-items: center;

                    .self-service-text {
                        width: 85%;
                    }
                }

                .sub-section {
                    padding: 1rem 0 1rem 3rem;
                    flex-flow: column nowrap;

                    &-header {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        width: 100%;

                        .sub-label {
                            width: 80%;
                        }

                        .template-manage__sidebar-link-checkbox .fa {
                            width: 2.4rem;
                        }
                    }

                    &-text {
                        padding-left: 3rem;
                    }
                }
            }
        }

        .manage-template {
            height: 100%;
            flex: 1 1 auto;

            @media(max-width: $small){
                height: auto;
            }

            #TemplateSections {
                padding: 4rem 3rem;
                overflow-y: auto;
                height: 100%;
                width: 100%;

                @media(max-width: $small){
                    overflow: visible;
                    height: auto;
                    padding: 1rem 2rem 5rem;
                }

                .section-container {
                    max-width: 90rem;
                    margin: 0 auto;
                    color: #777;
                    .manage-template-header {
                        text-align: center;
                        font-size: 2.5rem;
                        margin: 0 0 20px;
                        color: #777;
                    }
                    .manage-template-message {
                        text-align: center;
                        font-size: 1.6rem;
                        color: #777;
                        margin: 0 0 20px;
                    }
                }
            }

            .studio-text {

                .studio-message {
                    text-align: center;
                    margin: 0 auto;
                    width: 50%;
                    font-size: 3rem;
                    color: #ccc;
                    height: 100%;
                    position: relative;
                    right: 0;
                }
            }

            .no-questions.studio-text {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding-top: 0;

                .studio-message {
                    height: auto;
                    margin-bottom: 6%;
                }
            }

            &__reorder-loading {
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                opacity: 0.5;
                color: $white;

                .one__loading__text {
                    color: $white;
                }
            }
        }
    }

    .studio-text {
        padding-top: 18%;
        height: 90%;

        .studio-message {
            text-align: center;
            margin: 0 auto;
            width: 75%;
            font-size: 3rem;
            color: #ccc;
            height: 100%;
            position: relative;
            right: 0;
        }
        .studio-message-2 {
            text-align: center;
            margin: 0 auto;
            width: 75%;
            font-size: 2rem;
            color: #ccc;
            height: 100%;
            position: relative;
            right: 0;
            padding-top: 15px;
        }

        &:hover {
          padding-top: calc(18% - 2px);
        }
    }

    .question-information {
        ul {
            list-style: none;
            li {
                display: inline;
                width: 90%;
            }
        }
        button {
            display: block;
            margin: 0 auto;
            width: 50px;
        }
    }
    .add-question-modal {
        .question-preview {
            button {
                display: block;
                margin: 0 auto;
                width: 50px;
            }
            ul {
                list-style: none;
                li {
                    .multiselect-text {
                        display: inline;
                        width: 90%;
                    }
                }
            }
        }
        .view-example {
            .example-item {
                .hint-icon {
                    padding: 10px;
                }
            }
        }
    }

    .footer-container {
        position: relative;
        .footer-action {
            background-color: #ccc;
            bottom: 0px;
            height: 50px;
            padding: 10px;
            position: fixed;
            right: 0px;
            width: calc(100% - 275px - 50px - 1px);
        }
    }

    .studio {

        &__header {
            flex: 0 0 10rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            color: $grey-3;
            background-color: $white;
            box-shadow: rgba(0,0,0,0.08) 0 0 6px 0;
            transition: all .5s ease;

            &.collapsed {
                height: 0;
                flex: 0 0 0px;
                transition: all .5s ease;

                .studio__header-message {
                    opacity: 0;
                    transition: opacity .3s ease;
                    transition-delay: none;
                }
            }

            &-message {
                opacity: 1;
                transition: opacity .3s ease;
                transition-delay: .3s;
                text-align: center;

                &-title {
                    margin: 0 0 1rem;
                }

                &-icon {
                    font-size: 1.8rem;
                }
            }

            &-info {
                max-width: 80rem;
                width: 100%;
                margin: 0 auto;
                padding: 1rem;
            }
        }

        &__gallery {
            margin: 0;
            flex: 1 1 100%;
            min-width: 30rem;
            transition: all .5s ease;
            overflow-y: auto;
            position: relative;
            outline: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding: 0 1.6rem;
            height: 100%;

            &.collapsed {
                flex: 0 0 30rem;
                transition: all .5s ease;
                padding-right: 0;

                .template__item {
                    flex: 1 1 auto;
                    max-width: 22rem;
                    margin: 0 0 1.6rem;
                    transition: margin .5s ease;
                }
            }

            &-list {
                flex: 1 1 auto;
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                flex-flow: row wrap;
                position: relative;
                overflow-y: auto;
                padding: 1.6rem 0;
                height: calc(100% - 12vh);
            }

            &-toggle {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 3rem;
                background-color: $white;
                border: 1px solid $grey-3;
                border-right: 0;
                color: $grey-3;
                text-align: center;
                padding: 2rem 0 2rem .4rem;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                &:hover {
                    background-color: $paper-gray;
                }
            }

            &-placeholder {
                flex: 1 1 auto;
                min-height: 1px;
                color: $grey-3;
                text-align: center;
                margin: 0;
                display: flex;
                align-items: center;
                flex-flow: column nowrap;
                justify-content: center;

                &-text {
                    margin: 1.4rem 0;
                }

                &-description {
                    max-width: 60rem;
                    margin: 4rem auto 0;
                    text-align: left;
                    color: $slate;

                    label {
                        text-align: center;
                        display: block;
                    }
                }

                .upgrade__icon {
                    margin: 0 auto;
                    font-size: 3rem;
                }
            }

            li.active a {
                background-color: #ccc;
            }

            .panel-body {
                padding: 0;
                height: calc(100% - 50px);
            }

            footer {
                padding: 5px 15px;
            }

            // Template Cards
            .template {

                &__item {
                    height: auto;
                    width: 100%;
                    margin: 1.6rem;
                    outline: none;

                    &.selected {
                        opacity: 1;
                        border: 1px solid $grey-3;
                    }

                    &.unselected {
                        opacity: .6;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .upgrade__icon {
                        position: absolute;
                        right: 1.4rem;
                        top: 1rem;
                        font-size: 1.6rem;
                    }
                }

                &__link {
                    padding: 1.4rem;
                    min-height: 200px;
                }

                &__info {
                    opacity: 1;
                    margin: 0;
                }

                &__description {
                    height: 0;
                    background-color: $slate;
                    color: $white;
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;

                    p {
                        padding: 1.4rem;
                    }
                }
            }
        }

        &__container {
            height: 100%;
            margin: 0;
            border-left: 1px solid $grey-3;
            flex: 1 1 100%;
            background-color: $white;
            display: flex;
            flex-flow: column nowrap;

            &.collapsed {
                display: none;
                flex: 0 0 auto;

                .studio-footer-btn {
                    opacity: 0;
                    transition: opacity .5s ease;
                }
            }
        }

        &__loading {
            flex: 1 1 auto;
            min-height: 1px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
    }

    .footer-action-sub {
        background-color: #ccc;
        bottom: 50px;
        height: 50px;
        padding: 10px;
        position: fixed;
        right: 0;
        width: calc(100% - 50px);
        margin: 0px;
    }
    .studio-wrapper {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        background-color: $paper-gray;
        .studio {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            flex: 1 1 auto;
            min-height: .1rem;
            .studio__container {
                .studio-template {
                    //flex: 1 1 auto;
                    min-height: 1px;
                    height: calc(100% - 100px);
                    overflow-x: auto;
                    padding: 2rem 3rem;

                    .Welcome-text {
                        width: 100%;
                        max-width: 900px;
                        margin: 0 auto;
                        padding: 5rem 5%;
                        color: $slate;
                    }
                    // Question styling begins here
                    .questions-container {
                        height: 100%;

                        &--centered {
                            justify-content: center;
                        }

                    }
                    // Welcome Modal styles
                    .tabsdemoDynamicTabs {
                        height: 100%;
                    }
                    .studio-text {
                        .studio-message {
                            text-align: center;
                            margin: 0 auto;
                            width: 50%;
                            font-size: 3rem;
                            color: #ccc;
                            height: 100%;
                            position: relative;
                            right: 0;
                            top: 100px;
                        }
                    }
                }
                .studio-footer {
                    background-color: $grey-1;
                    border-top: 1px solid $grey-3;
                    padding: 0 10px;
                    flex: 0 0 5rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-end;
                    z-index: 1001;

                    &-btn {
                        margin-right: 1rem;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            .studio-information {
                width: 33%;
                padding: 5%;
            }
        }
    }

    .template {
        color: #777;

        &-manage {
            &__header {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                background-color: $table-cell-dark;

                @media(max-width: $small){
                    flex-flow: column wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }

            &__breadcrumb {
                position: static;
                width: auto;
                height: auto;
                background: 0;
                padding: 1rem;

                @media(max-width: $small){
                    padding: 1rem;
                    width: 100%;
                    border-bottom: solid 1px $grey-3;
                    font-size: 1.5rem;
                }
            }

            &__status {
                &.published {
                    color: $green;
                }
            }

            &__read-only {
                display: flex;
                margin: 1rem;

                @media(max-width: $small){
                    margin: 0.5rem;
                    align-items: center;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }

                &-text {
                    color: $slate;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    margin-right: 1.6rem;
                    @media(max-width: $small){
                        width: 100%;
                    }
                }

                &-btn {
                    @media(max-width: $small){
                        padding: 0.4rem 0.9rem;
                    }
                }

                &-edit-mode {
                    color: $slate;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    margin-right: 1.6rem;
                }
            }

            &__edit {
                @media(max-width: $small) {
                    margin: 0.5rem 0;
                }

                &-btn {
                    margin: 0;

                    &:hover {
                        background-color: $grey-1;
                    }

                    &.open {
                        color: $white;
                        background-color: $grey-3;
                        box-shadow: none;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;

                        &:hover {
                            background-color: $slate;
                        }
                    }
                }

                &-list {
                    width: 100%;
                    min-width: 0;
                    padding: 0;
                    border-radius: 2px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    background-color: $grey-3;
                    box-shadow: none;
                }

                &-item {
                    background-color: $slate;
                    text-align: center;
                    border-top: 1px solid $white;

                    &:first-child {
                        border-top: 0;
                    }

                    &.is-disabled {
                        background-color: #9E9D9D;

                        a {
                            color: #ccc;
                            pointer-events: none;
                        }
                    }

                    a {
                        color: $white;
                        padding: .6rem 1rem;

                        &:hover {
                            background-color: darken($slate, 10%);
                        }
                    }
                }
            }

            &__description-section {

                textarea {
                    height: 20rem;
                }
            }

            &__sidebar {

                &-icon {
                    font-size: 4rem;

                    &-btn {
                        display: block;
                        background: 0;
                        border: 0;
                        margin: 0 auto;
                        outline: none;
                    }
                }

                &-welcome {
                    text-align: center;

                    button {
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &-add {

                    &-text {
                        display: block;
                        margin-bottom: 1rem;
                    }
                }

                &-link {

                    &-checkbox {
                        @include checkbox;
                        height: 2.4rem;
                        width: 2.4rem;
                        min-width: 2.4rem;
                        margin-right: .6rem;

                        &.disabled {
                            opacity: .4;
                            pointer-events: none;
                        }

                        i {
                            font-size: 1.4rem;
                        }
                    }

                    &-type {
                        margin: 1.6rem 0 1rem;
                    }
                }

                .self-service {
                    background-color: yellow;
                    display: inline-flex;
                    justify-content: flex-start;
                    &-none {
                        @include checkbox;
                    }
                    &-input {
                        margin-left: 1rem;
                        width: 10rem;
                        height: 3rem;
                        padding-left: 1.2rem;
                        text-align: center;
                        vertical-align: middle;
                    }
                    &-message {
                        margin-left: 1rem;
                        align-self: center;
                    }
                    .btn {
                        background-color: transparent;
                    }

                    .checked {
                        background-color: #509EC4;
                        border-color: #509EC4;
                    }
                }
            }

            &__editable {

                &-text {
                    display: block;
                    justify-content: flex-start;
                    align-items: center;
                    color: $ui-blue;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:hover {
                        color: darken($ui-blue, 10%);
                        text-decoration: underline;
                    }

                    i {
                        margin-left: .6rem;
                        text-decoration: none;
                    }
                }

                &-btn {
                    color: $ui-blue;

                    &:hover {
                        color: darken($ui-blue, 10%);
                    }
                }

                &-icon {
                    margin-right: .6rem;
                }

                &-indicator {
                    vertical-align: text-bottom;
                }
            }

            &__detail {
                padding: 1rem 4rem;
            }

            &__versions {
                flex: 0 0 275px;
                // TODO manage colors as variables
                background-color: #f3f3f3;
                border-top: 1px solid #ccc;
                overflow-y: auto;
                color: $slate;
                padding-bottom: 8rem;

                @media(max-width: $small){
                    overflow: visible;
                    flex: 0;
                }

                &-list {
                    border-left: 1px solid $grey-3;
                }

                &-divider {
                    background-color: $grey-3;
                    color: $white;
                    padding: .2rem 1rem;
                    text-align: center;
                }

                &-item {
                    border-bottom: 1px solid $grey-3;
                    overflow-y: hidden;
                }

                &-label {
                    height: 48px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    padding: 0 1rem;
                    border-bottom: 2px solid $grey-3;

                    h5 {
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        margin: 0 auto;
                    }
                }

                &-header {
                    display: flex;
                    flex-flow: row nowrap;
                    background-color: $white;
                    width: 100%;

                    &:hover {
                        background-color: darken($white, 3%);
                    }

                    &.is-selected {
                        background-color: $slate;
                        color: $white;

                        .template-manage__versions {

                            &-loading {
                                .one-loading-icon {
                                    color: $white;
                                }
                            }

                            &-name {
                                font-weight: bold;
                            }

                            &-state--published {
                                color: lighten($green, 20%);
                                border-color: lighten($green, 20%);
                            }

                            &-delete {
                                color: $grey-1;
                                &:hover {
                                    color: lighten($grey-1, 10%);
                                }
                            }

                            &-details {
                                color: $grey-1;
                                border-color: $grey-1;

                                &:hover {
                                    color: lighten($grey-1, 10%);
                                    border-color: lighten($grey-1, 10%);
                                }
                            }
                        }
                    }
                }

                &-name,
                &-details {
                    border: 0;
                    background: 0;
                }

                &-loading {
                    height: 5rem;
                    margin: 1rem 0 0 4rem;
                    align-items: center;
                    flex: 1 1 auto;
                }

                &-name {
                    padding: 1rem 1rem 1rem 1.6rem;
                    flex: 1 1 auto;
                    outline: none;
                    text-align: left;
                }

                &-number {
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;
                }

                &-state {
                    display: inline-block;
                    margin-left: 1rem;
                    padding: .2rem .6rem;
                    border: 1px solid $grey-3;
                    text-transform: uppercase;
                    letter-spacing: .1rem;
                    font-size: 1rem;

                    &--published {
                        color: $green;
                        border-color: $green;
                    }
                }

                &-updated {
                    font-size: 1.2rem;
                    display: block;
                    text-align: left;
                    margin-top: 0.4rem;
                }

                &-delete {
                    margin-left: 0.5rem;
                    &:hover {
                        color: darken($slate, 10%);
                    }
                }

                &-details {
                    flex: 0 0 2.4rem;
                    align-self: center;
                    border: 1px solid $grey-3;
                    border-radius: 2px;
                    margin: 1rem;

                    &:hover {
                        border-color: darken($grey-3, 10%);
                        color: darken($slate, 10%);
                    }
                }

                &-info {
                    border-top: 1px dashed $grey-1;
                    padding: 1rem 1rem 1.6rem 2.4rem;
                    background-color: $white;

                    &-item {
                        display: flex;
                        flex-flow: row nowrap;
                    }
                }
            }
        }
    }
}

.template {
    &-manage {

        &__add-section {
            width: 100%;
            border: 2px dashed $grey-1;
            background: 0;
            color: $grey-3;
            font-size: 1.6rem;
            padding: 1rem;
            margin: 1rem 0;

            &:hover {
                color: $slate;
                border: 2px solid $grey-1;
            }

            i {
                font-size: 1.4rem;
                margin-right: .6rem;
            }
        }

        &__section {

            &-item {
              margin: 1rem 0;
              background: $paper-gray;
                  &#Welcome {
                      margin: 1rem 0;
                      background: lighten($green, 40%);
                  }
            }
        }

        &__question,
        &__section {
            &-number {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 0.8rem;
                margin: 0;
                border-radius: 0;
                background-color: $number-grey;
                color: $white;
                font-size: 1.6rem;
                font-weight: bold;
                min-height: 4rem;

                span,
                i {
                    height: 2rem;
                }

                .nav {
                    width: 1rem;
                    margin-left: 0.5rem;
                }

                &--read-only {
                    cursor: auto;
                }

                &--read-only.symbol::before {
                    content: '§';
                    font-weight: 100;
                }
            }

            &-required {
                color: $light-red;
                font-size: 7px;
                position: relative;
                top: -8px;
            }

            &-hover--show {
                display: none;
                color: $slate;
            }

            &-hover--hide {
                display: inline-block;

            }

            &-hover--hide.symbol::before {
                content: '§';
                font-weight: 100;
            }

            &-item {
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;
                border: 1px solid $grey-3;
                background: $white;
                color: $slate;
                border-radius: 2px;

                &:hover {

                    .template-manage__question-hover--show {
                        display: inline-block;
                    }

                    .template-manage__question-hover--hide {
                        display: none;
                    }
                }

            }

            &-text {
                flex: 1 1 auto;
                display: inline;
                border-radius: 0;
                margin: 0;
                padding: 1rem 1.6rem;
                font-size: 1.5rem;
                font-weight: normal;
                position: relative;
                outline: none;
                overflow-x: hidden;
                text-overflow: ellipsis;

                i {
                    font-size: 15px;
                    margin-left: 1rem;
                }
            }

            &-actions {
                display: flex;
                justify-content: flex-end;
                flex: 0 0 auto;
                align-items: center;

                .condition-icon {
                    font-size: 1.25em;
                }

                .has-condition-icon {
                    bottom:17%;
                    left: 27%;
                    font-size: .75em;
                    color: $green;
                }

                .upgrade__icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-100%);
                    right: 0;
                }

                button {
                    color: $slate;
                    width: 3.6rem;
                    padding: 0;
                    background-color: transparent;
                    outline: none;
                    position: relative;
                    border: 0;

                    &:hover,
                    &:focus {
                        color: darken($slate, 10%);
                    }
                }
            }
        }

        &__details {
            padding: 1rem 0 0 10rem;
            max-width: 100%;
            flex: 1 1 auto;

            @media(max-width: $small){
                padding: 1rem;
            }

            &-header {
                text-align: center;
                font-size: 2.5rem;
                margin: 0 0 20px;
                color: $slate;
            }
            &-message {
                text-align: center;
                font-size: 1.6rem;
                color: $slate;
                margin: 0 0 20px;
            }
        }
    }

    &-sections {
        .angular-ui-tree-placeholder {
            border: 2px dashed #ccc;
            border-radius: 2px;
            margin-bottom: 1rem;
            text-align: center;
            align-items: center;
            display: flex;
            color: #B7B7B7;
            font-size: 1.6rem;
            &:after {
                content: "Drop Section Here";
                width: 100%;
                padding: 1rem;
                margin: 1rem 0;
            }
        }

        .angular-ui-tree-empty {
            display: none;
        }
    }

    &-group {

        &-actions {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 0 0.5rem;

            &-btn {
                height: 2.4rem;
                width: 2.4rem;
                background: 0;
                border: 0;
                color: $slate;

                &:hover,
                &:focus {
                    color: darken($slate, 10%);
                }
            }
        }

        &-placeholder {
            background-color: $paper-gray;
            padding: 1rem 0 1rem .6rem;
            border-radius: 3px;
            border: 1px solid $grey-1;

            .one__loading {
                flex-flow: row nowrap;

                &__text {
                    margin-bottom: 0;
                }

                &__icon {
                    margin: 0 .6rem 0 0;
                }
            }

        }
    }

    &-nodes{
        margin: 0 auto;
        &-group{
            &-node {
                @include button(default);
                margin: 1rem 2rem;
                height: 4rem;
                text-align: center;
                cursor: move;
            }
        }
    }
}

.self-service-popover {

    background-color: #000;

    &.top > .arrow:after {

        border-top-color: #000;
    }

}
