<section class="one-modal-new flex-full-height max-height-100-percent">
    <div class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4
            class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
            [innerText]="modalTitle"
        ></h4>
        <button
            *ngIf="!hideClose"
            class="one-modal-new__close static-horizontal no-outline"
            [disabled]="closeIsDisabled"
            [attr.ot-auto-id]="identifier"
            (click)="modalClose()"
            >
            <i class="ot ot-times"></i>
        </button>
    </div>
    <ng-content></ng-content>
</section>
