<div *ngIf="assessmentForm">
    <div otFormElement
        class="padding-top-1-half">
        <ot-setting
            [title]="'CopyPreviousAssessment' | translate"
            [description]="'CopyPreviousAssessmentSubTitle' | translate"
            >
            <ot-toggle
                ot-auto-id="RuleActionTemplateVersionToggle"
                [checked]="copyPreviousAssessment.value"
                [disabled]="!editMode"
                (toggle)="onToggleCopyPreviousAssessment($event)">
            </ot-toggle>
        </ot-setting>
    </div>

    <div
        *ngIf="copyPreviousAssessment.value"
        class="row-nowrap padding-top-1-half"
        >
        <div class="width-50-percent">
            <div class="margin-bottom-half row-vertical-center">
                <ot-checkbox
                    class="inline margin-right-1"
                    ot-auto-id="RuleActionCopyLatestAssessmentResponsesCheckbox"
                    [disabled]="!editMode"
                    [checked]="copyResponses.value"
                    (toggle)="onToggle($event, toggleType.COPY_RESPONSES)"
                ></ot-checkbox>
                <span>{{"CopyLatestAssessmentResponses" | translate}}</span>
            </div>
            <div class="margin-bottom-half row-vertical-center">
                <ot-checkbox
                    class="inline margin-right-1"
                    ot-auto-id="RuleActionCopyLatestAssessmentCommentCheckbox"
                    [disabled]="!editMode"
                    [checked]="copyComments.value"
                    (toggle)="onToggle($event, toggleType.COPY_COMMENTS)"
                ></ot-checkbox>
                <span>{{"CopyLatestAssessmentComment" | translate}}</span>
            </div>
        </div>
        <div class="width-50-percent">
            <div class="margin-bottom-half row-vertical-center">
                <ot-checkbox
                    class="inline margin-right-1"
                    ot-auto-id="RuleActionUseLatestTemplateVersionCheckbox"
                    [disabled]="!editMode"
                    [checked]="latestTemplateVersion.value"
                    (toggle)="onToggle($event, toggleType.LATEST_TEMPLATE_VERSION)"
                ></ot-checkbox>
                <span>{{"UseLatestTemplateVersion" | translate}}</span>
            </div>
            <div class="margin-bottom-half row-vertical-center">
                <ot-checkbox
                    class="inline margin-right-1"
                    ot-auto-id="RuleActionRequireConfirmationOfChangesCheckbox"
                    [disabled]="!editMode"
                    [checked]="reviewChangedResponses.value"
                    (toggle)="onToggle($event, toggleType.REVIEW_CHANGED_RESPONSES)"
                ></ot-checkbox>
                <span>{{"RequireConfirmationOfChanges" | translate}}</span>
            </div>
            <div class="margin-bottom-half row-vertical-center">
                <ot-checkbox
                    class="inline margin-right-1"
                    ot-auto-id="RuleActionSendNewBlankAssessmentCheckbox"
                    [disabled]="!editMode"
                    [checked]="sendAssessment.value"
                    (toggle)="onToggle($event, toggleType.SEND_NEW_ASSESSMENT_FALLBACK)"
                ></ot-checkbox>
                <span>{{"SendNewBlankAssessment" | translate}}</span>
            </div>
        </div>
    </div>

    <div
        otFormElement
        class="padding-top-1-half"
        [label]="'TemplateName' | translate"
        [required]="true"
        >
        <ot-template-select
            class=""
            ot-auto-id="RuleActionTemplateSelection"
            valueKey="id"
            labelKey="name"
            [autoClose]="true"
            [disabled]="!editMode"
            [fetchOptionsOnClick]="true"
            [model]="templateRootVersionId.value"
            (onSelect)="onTemplateSelection($event)"
        ></ot-template-select>
    </div>

    <div class="row-nowrap padding-top-1-half">
        <div class="width-50-percent">
            <div
                otFormElement
                [label]="'Deadline' | translate"
                [hasError]="deadline.invalid || assessmentForm.hasError('deadlineIsLessThanReminder')"
                >
                <input otInput
                    class="width-40-percent"
                    type="number"
                    ot-auto-id="RuleActionDeadlineInput"
                    min="1"
                    max="999"
                    [placeholder]="'Number' | translate"
                    [disabled]="!editMode"
                    [ngModel]="deadline.value"
                    (ngModelChange)="onDeadlineChange($event)"
                />
                <span class="padding-left-1">{{ "DaysAfterLaunch" | translate }}</span>
            </div>
            <ng-container *ngIf="assessmentForm.hasError('deadlineIsLessThanReminder')">
                <p class="text-small text-error">{{"DeadlineMustBeGreaterThanReminder" | translate}}</p>
            </ng-container>
            <ng-container *ngFor="let validation of validations.deadline">
                <p *ngIf="deadline.hasError(validation.type)" class="text-small text-error">{{validation.message | translate}}</p>
            </ng-container>
        </div>
        <div class="width-50-percent padding-left-1">
            <div
                otFormElement
                [label]="'Reminder' | translate"
                [hasError]="reminder.invalid"
                >
                <input otInput
                    class="width-40-percent"
                    type="number"
                    ot-auto-id="RuleActionReminderInput"
                    min="1"
                    max="999"
                    [placeholder]="'Number' | translate"
                    [disabled]="!editMode || !(deadline.value && deadline.valid)"
                    [ngModel]="reminder.value"
                    (ngModelChange)="onReminderChange($event)"
                />
                <span class="padding-left-1">{{ "DaysBeforeDeadline" | translate }}</span>
            </div>
            <ng-container *ngFor="let validation of validations.reminder">
                <p *ngIf="reminder.hasError(validation.type)" class="text-small text-error">{{validation.message | translate}}</p>
            </ng-container>
        </div>
    </div>

    <div class="row-nowrap padding-top-1-half">
        <div class="width-50-percent margin-right-1">
            <div
                otFormElement
                [label]="'Approver' | translate"
                >
                <ot-org-user-multi-select
                    ot-auto-id="RuleActionApproverMultiSelect"
                    [allowEmail]="false"
                    [disabled]="!editMode"
                    [traversal]="orgUserTraversal.Up"
                    [userList]="approverList"
                    [fetchOptionsOnClick]="true"
                    placeholder="Approver"
                    (onSelect)="onSelectApprovers($event)"
                ></ot-org-user-multi-select>
            </div>
        </div>
        <div class="width-50-percent margin-left-1">
            <div
                otFormElement
                [label]="'Respondent' | translate"
                [required]="!(usePreviousAssessmentRespondents.value || usePrimaryContactAsRespondent.value)"
                >
                <ot-org-user-multi-select
                    ot-auto-id="RuleActionRespondantMultiSelect"
                    [allowEmail]="true"
                    [disabled]="!editMode"
                    [traversal]="orgUserTraversal.Branch"
                    [userList]="respondentList"
                    [fetchOptionsOnClick]="true"
                    placeholder="Respondent"
                    (onSelect)="onSelectRespondents($event)"
                ></ot-org-user-multi-select>
            </div>
            <ng-container *ngIf="assessmentForm.hasError('respondentsMustBeSelected')">
                <p class="text-small text-error margin-none">{{"PleaseEnterARespondent" | translate}}</p>
            </ng-container>
            <div
                otFormElement
                *ngIf="copyPreviousAssessment.value"
                class="margin-top-1 margin-bottom-half"
                >
                <ot-checkbox
                    class="inline-block"
                    ot-auto-id="RuleActionSendToPreviousRespondentCheckbox"
                    [disabled]="!editMode"
                    [checked]="usePreviousAssessmentRespondents.value"
                    (toggle)="onToggle($event, toggleType.USE_PREVIOUS_RESPONDENT)"
                ></ot-checkbox>
                <span>{{"SendToPreviousRespondent" | translate}}</span>
            </div>
            <div otFormElement>
                <ot-checkbox
                    class="inline-block"
                    [ngClass]="{ 'margin-top-1': !copyPreviousAssessment.value }"
                    ot-auto-id="RuleActionSendToPrimaryVendorContactCheckbox"
                    [disabled]="!editMode"
                    [checked]="usePrimaryContactAsRespondent.value"
                    (toggle)="onToggle($event, toggleType.USE_PRIMARY_CONTACT_RESPONDENT)"
                ></ot-checkbox>
                <span>{{primaryContactAsRespondentText[ruleContext] | translate}}</span>
            </div>
        </div>
    </div>

    <div
        class="padding-top-1-half text-bold text-small row-horizontal-vertical-center"
        ot-auto-id="RuleActionRespondentFormToggle"
        >
        <hr class="stretch-vertical" />
        <span
            role="button"
            (click)="toggleAdvancedOptions()"
            >
            <span class="margin-left-1">{{"AdvancedOptions" | translate}}</span>
            <span class="margin-left-1" [ngClass]="showAdvancedOptions ? 'ot ot-caret-down' : 'fa fa-caret-right'"></span>
        </span>
    </div>
    <div *ngIf="showAdvancedOptions">
        <div
            otFormElement
            [label]="'Description' | translate"
            >
            <textarea
                otTextarea
                ot-auto-id="RuleActionDescriptionTextArea"
                name="Description"
                [disabled]="!editMode"
                [placeholder]="'Description' | translate"
                [ngModel]="description.value"
                (ngModelChange)="onDescriptionChange($event)"
            ></textarea>
        </div>

        <div
            otFormElement
            class="padding-top-1-half"
            [label]="'CommentsToRespondent' | translate"
            >
            <textarea
                otTextarea
                ot-auto-id="RuleActionCommentsTextArea"
                name="Comments"
                [disabled]="!editMode"
                [placeholder]="'Comments' | translate"
                [ngModel]="respondentComments.value"
                (ngModelChange)="onCommentsChange($event)"
            ></textarea>
        </div>
    </div>
</div>
