<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalData.modalTitle"
    (close)="closeModal()"
    >
    <section class="flex-full-height padding-left-right-2 padding-top-2 padding-bottom-1">
        <div class="text-center">
            <upgraded-prettify>
                <p class="word-break-all margin-all-0 ">
                    {{ anchorScript }}
                </p>
            </upgraded-prettify>
        </div>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="DSARGenerateScriptModalCancelButton"
            (click)="closeModal()"
            >
            {{ modalData.cancelButtonText }}
        </button>
        <button
            otButton
            brand
            ot-auto-id="DSARGenerateScriptModalCopyToClipboardButton"
            [disabled]="!hrefString"
            (click)="generateScript()"
            >
            {{ modalData.submitButtonText }}
        </button>
    </footer>
</one-modal-base>
