<ot-modal-header (close)="closeModal()">
    <div>{{ 'UpgradeAccount' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div
        class="text-center text-bold text-huge margin-bottom-2"
        [innerHtml]="'ThanksForUsingEditionOfCompany' | otTranslate"
    ></div>
    <div class="row-space-between stretch-vertical margin-bottom-1-half">
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div>
                <img
                    class="width-35-percent center-block"
                    src="../shared/images/upgrade_icon.svg"
                    >
            </div>
            <div class="text-center">
                <p class="margin-bottom-3 margin-top-2 text-bold text-xlarge">
                    {{ 'InterestedInMoreCapabilities' | otTranslate}}
                </p>
                <p>
                    <button otButton brand
                        ot-auto-id="LicensingModalSubmitButton"
                        (click)="startTrial()"
                        >
                        {{ 'StartTrial' | otTranslate}}
                    </button>
                </p>
                <p class="margin-top-3">
                    {{ 'StartTrialInfoMessage' | otTranslate}}
                </p>
            </div>
        </div>
        <hr class="height-auto border-left">
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div>
                <img
                    class="width-35-percent center-block"
                    src="../shared/images/contact_icon.svg"
                    >
            </div>
            <div class="text-center">
                <p class="margin-bottom-3 margin-top-2 text-bold text-xlarge">
                    {{ 'ReadyToBuy' | otTranslate }}
                </p>
                <p class="text-center">
                    <button otButton neutral
                        ot-auto-id="LicensingModalSubmitButton"
                        (click)="purchaseNow()"
                        >
                        {{ 'BuyNow' | otTranslate}}
                    </button>
                </p>
                <p class="margin-top-3">
                    {{ 'BuyNowInfoMessage' | otTranslate }}
                </p>
            </div>
        </div>
    </div>
</ot-modal-content>
