<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalLabels.title"
    (close)="closeModal()"
    >
    <ot-loading
        otPageLoading
        class="column-nowrap margin-all-auto attribute-modal__loading"
        *ngIf="isLoading; else showForm"
        [text]="'Attribute' | otTranslate"
        >
    </ot-loading>
    <ng-template #showForm>
        <div class="overflow-y-auto flex-full-height">
            <form
                novalidate
                class="flex-full-height max-width-full margin-all-0 full-width"
                [formGroup]="modalForm"
                >
                <div
                    class="static-vertical padding-top-2 padding-left-right-2"
                    *ngIf="modalData.attribute"
                    >
                    <label
                        class="margin-all-0"
                        [innerText]="('AttributeNameKey' | otTranslate) + ':'"
                        >
                    </label>
                    <span [innerText]="modalData.attribute.name"></span>
                </div>
                <div class="row-nowrap stretch-vertical">
                    <section
                        class="flex-stretch-50 flex-full-height padding-all-2"
                        *ngIf="isShowingDetails"
                        [formGroupName]="'detailsForm'"
                        >
                        <upgraded-one-label-content
                            class="block margin-bottom-2"
                            [labelName]="'NameKey' | otTranslate"
                            [isRequired]="true"
                            [wrapperClass]="!detailsForm.get('name').valid && detailsForm.get('name').dirty ? 'slds-has-error' : ''"
                            [otTooltip]="{content: detailsForm.get('name').disabled ? disabledRequiredTooltip : '', placement: 'right'}"
                            >
                            <input
                                class="full-width"
                                otInput
                                name="nameInput"
                                [formControlName]="'name'"
                                [attr.ot-auto-id]="'AttributeModalNameInput'"
                                [placeholder]="'AttributeName' | otTranslate"
                            />
                            <p
                                class="text-red text-center margin-top-1 margin-bottom-0"
                                *ngIf="detailsForm.get('name').hasError('hasConflict')"
                                [innerText]="detailsForm.get('name').errors.hasConflict"
                                >
                            </p>
                        </upgraded-one-label-content>
                        <upgraded-one-label-content
                            class="block margin-bottom-2"
                            [labelName]="'DescriptionKey' | otTranslate"
                            [isRequired]="true"
                            [wrapperClass]="!detailsForm.get('description').valid && detailsForm.get('description').dirty ? 'slds-has-error' : ''"
                            [otTooltip]="{content: detailsForm.get('description').disabled ? disabledRequiredTooltip : '', placement: 'right'}"
                            >
                            <textarea
                                class="full-width"
                                otTextarea
                                name="descriptionInput"
                                [formControlName]="'description'"
                                [attr.ot-auto-id]="'AttributeModalDescriptionInput'"
                                [placeholder]="'AttributeDescription' | otTranslate"
                                >
                            </textarea>
                        </upgraded-one-label-content>
                        <upgraded-one-label-content
                            class="block margin-bottom-2"
                            *ngIf="isShowingTypeSelect"
                            [labelName]="'ResponseType' | otTranslate"
                            [isRequired]="true"
                            >
                            <ot-picklist
                                [placeholder]="'AttributeResponseType' | otTranslate"
                                [autoClose]="true"
                                [options]="responseTypeOptions"
                                [model]="detailsForm.get('type').value"
                                (onSelect)="selectResponseType($event)"
                            ></ot-picklist>
                            <span
                                *ngIf="isShowingTypeChangeWarning"
                                class="text-error"
                                >
                                {{ 'WarningMessageAttributeTypeChange' | otTranslate }}
                            </span>
                        </upgraded-one-label-content>
                        <div
                            class="row-vertical-center margin-bottom-2"
                            *ngIf="isShowingAllowOther"
                            >
                            <span
                                [otTooltip]="{content: allowOtherTooltip, placement: 'right'}"
                                >
                                <span
                                    class="slds-checkbox margin-right-1">
                                    <input
                                        type="checkbox"
                                        name="otherCheckbox"
                                        id="checkbox-other"
                                        tabindex="-1"
                                        [formControlName]="'other'"
                                        [attr.ot-auto-id]="'AttributeModalOtherCheckbox'"
                                        [checked]="modalForm.value.detailsForm.other"
                                    />
                                    <label class="slds-checkbox__label" for="checkbox-other">
                                        <span class="slds-checkbox_faux text-pointer"></span>
                                    </label>
                                </span>
                                <span [innerText]="'AllowOther' | otTranslate"></span>
                            </span>
                        </div>
                        <ng-template #allowOtherTooltip>
                            <span [innerText]="'AllowOtherAttributeTooltip' | otTranslate"></span>
                        </ng-template>
                        <ng-template #disabledRequiredTooltip>
                            <span [innerText]="'RequiredAttributeDisabledEdit' | otTranslate"></span>
                        </ng-template>
                        {{ 'EditAttributeKeyWarningText' | otTranslate }}
                    </section>
                    <section
                        class="flex-stretch-50 flex-full-height padding-all-2"
                        *ngIf="isShowingCurrentOptions"
                        >
                        <label
                            [innerText]="'CurrentActiveOptions' | otTranslate"
                            [ngClass]="{'text-center': !currentActiveOptions.length}"
                            >
                        </label>
                        <ul
                            class="flex-shrink overflow-y-auto margin-bottom-0 padding-left-right-1 border border-radius"
                            *ngIf="currentActiveOptions.length"
                            >
                            <ng-container *ngFor="let option of currentActiveOptions; let last = last;">
                                <li
                                    class="full-width row-vertical-center padding-all-1"
                                    [ngClass]="{'border-bottom': !last}"
                                    [innerText]="option.value"
                                    >
                                </li>
                            </ng-container>
                        </ul>
                        <h4
                            class="margin-bottom-0 margin-top-2 text-center"
                            *ngIf="!currentActiveOptions.length"
                            [innerText]="'NoOptions' | otTranslate"
                            >
                        </h4>
                    </section>
                    <section
                        class="flex-stretch-50 flex-full-height padding-all-2"
                        *ngIf="isShowingNewOptions"
                        [formGroupName]="'optionsForm'"
                        >
                        <one-button-toggle
                            *ngIf="isShowingOptionToggle"
                            class="margin-left-right-auto margin-top-bottom-1"
                            buttonClass="min-width-15"
                            [leftButtonText]="'Custom' | otTranslate"
                            [rightButtonText]="'SystemList' | otTranslate"
                            [primaryButtonActive]="isCustomListType"
                            (toggle)="toggleListType()"
                        ></one-button-toggle>
                        <section *ngIf="!optionsForm.get('isCustomListType').value; else systemList">
                            <upgraded-one-label-content
                                class="block margin-bottom-2"
                                [labelName]="'SystemList' | otTranslate"
                                [isRequired]="true"
                                >
                                <ot-picklist
                                    class="column-nowrap margin-bottom-2"
                                    [attr.ot-auto-id]="'SystemListTypeSelection'"
                                    [placeholder]="'SystemList' | otTranslate"
                                    [autoClose]="true"
                                    [options]="attributeTypeOptions"
                                    [disabled]="!attributeTypeOptions.length"
                                    [valueKey]="'type'"
                                    [labelKey]="'name'"
                                    [model]="optionsForm.get('attributeType').value"
                                    (onSelect)="selectAttributeType($event)">
                                </ot-picklist>
                            </upgraded-one-label-content>
                        </section>
                        <ng-template #systemList>
                            <upgraded-one-label-content
                                class="block static-vertical padding-bottom-2 margin-bottom-3"
                                [ngClass]="{'border-bottom': optionsForm.get('options').controls.length}"
                                [labelName]="'AddNewOption' | otTranslate"
                                [isRequired]="true"
                                >
                                <div
                                    class="row-nowrap margin-all-0 full-width"
                                    >
                                    <input
                                        class="margin-right-2 stretch-horizontal"
                                        otInput
                                        name="newOptionInput"
                                        [attr.ot-auto-id]="'AttributeModalAddNewOptionInput'"
                                        [placeholder]="'NewOptionValue' | otTranslate"
                                        [formControlName]="'newOptionInput'"
                                        (keydown.enter)="addOption($event)"
                                    />
                                    <button
                                        class="static-horizontal"
                                        type="button"
                                        otButton
                                        neutral
                                        [disabled]="!optionsForm.get('newOptionInput').value?.trim()"
                                        [attr.ot-auto-id]="'AttributeModalAddNewOptionButton'"
                                        [innerText]="'Add' | otTranslate"
                                        (click)="addOption()"
                                        >
                                        <i class="fa fa-minus-circle color-cherry"></i>
                                    </button>
                                </div>
                            </upgraded-one-label-content>
                            <label
                                class="margin-bottom-1 text-center"
                                *ngIf="optionsForm.get('options').value.length"
                                [innerText]="'NewOptionValues' | otTranslate"
                                >
                            </label>
                            <ul
                                class="stretch-vertical overflow-y-auto margin-bottom-0 padding-right-2"
                                *ngIf="optionsForm.get('options').controls.length"
                                [formArrayName]="'options'"
                                >
                                <ng-container *ngFor="let option of optionsForm.get('options').controls; let optionIndex = index; let last = last;">
                                    <li
                                        class="full-width row-vertical-center"
                                        [formGroupName]="optionIndex"
                                        [ngClass]="{
                                            'slds-has-error': !option.valid,
                                            'margin-bottom-0': last,
                                            'margin-bottom-1': !last
                                        }"
                                        >
                                        <input
                                            class="stretch-horizontal"
                                            otInput
                                            name="{{'optionInput' + optionIndex}}"
                                            [placeholder]="'OptionValue' | otTranslate"
                                            [formControlName]="'value'"
                                            [attr.ot-auto-id]="'AttributeModalAddNewOptionInput' + optionIndex"
                                        />
                                        <button
                                            class="background-none border-none attribute-modal__delete-option static-horizontal margin-left-1"
                                            type="button"
                                            [attr.ot-auto-id]="'AttributeModalRemoveOptionButton' + optionIndex"
                                            (click)="removeOption(optionIndex)"
                                            >
                                            <i class="fa fa-minus-circle color-cherry"></i>
                                        </button>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-template>
                    </section>
                    <section
                        class="flex-stretch-50 flex-full-height padding-all-2"
                        *ngIf="isShowingChangeTypeMessage"
                        >
                        <h4
                            class="padding-bottom-3 border-bottom margin-bottom-3 margin-top-3 text-center"
                            [innerText]="'NoOptions' | otTranslate"
                            >
                        </h4>
                        <p
                            class="text-center text-bold"
                            [innerText]="'AttributeChangeTypeForOptions' | otTranslate"
                            >
                        </p>
                    </section>
                </div>
            </form>
            <footer class="static-vertical row-flex-end padding-all-2">
                <button
                    class="margin-right-1"
                    type="button"
                    otButton
                    [innerText]="'Cancel' | otTranslate"
                    [attr.ot-auto-id]="'AttributeModalCancelButton'"
                    (click)="closeModal()"
                    >
                </button>
                <button
                    class="margin-right-1"
                    type="button"
                    otButton
                    neutral
                    *ngIf="isShowingAddAnother"
                    [disabled]="!modalForm.valid"
                    [innerText]="'SaveAndAddAnother' | otTranslate"
                    [attr.ot-auto-id]="'AttributeModalSaveAndAddAnotherButton'"
                    (click)="save(true)"
                    >
                </button>
                <button
                    otButton
                    brand
                    type="button"
                    [disabled]="!modalForm.valid"
                    [innerText]="'SaveAttribute' | otTranslate"
                    [attr.ot-auto-id]="'AttributeModalSubmitButton'"
                    (click)="save()"
                    >
                </button>
            </footer>
        </div>
    </ng-template>
</one-modal-base>
