<ot-modal-header (close)="closeModal()">
    <div>{{ 'Tenants' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="flex-full-height min-height-25 max-height-40">
        <ot-loading
            *ngIf="!ready"
            otPageLoading
            class="flex-full-height"
        ></ot-loading>
        <ot-empty-state
            *ngIf="ready && !tenants.length"
            class="margin-top-bottom-auto"
            [emptyStateMessage]="'NoTenantsAreAvailableForSwitching' | otTranslate"
            >
            <img emptyStateImg />
        </ot-empty-state>
        <div
            *ngIf="ready && tenants.length"
            class="column-nowrap min-height-1"
        >
            <ot-search-input
                class="block margin-left-right-2 margin-bottom-half"
                [placeholder]="'Search' | otTranslate"
                (search)="onSearch($event)"
            ></ot-search-input>
            <ot-empty-state
                *ngIf="!filteredTenants.length"
                class="margin-top-bottom-auto align-center full-width"
                [emptyStateMessage]="'NoItemsToDisplay' | otTranslate"
                >
                <img emptyStateImg />
            </ot-empty-state>
            <div
                *ngIf="filteredTenants.length"
                class="overflow-y-auto padding-left-right-2 padding-bottom-2 margin-top-half"
            >
                <div
                    *ngFor="let tenant of filteredTenants; trackBy: trackByFn"
                    class="border-bottom"
                >
                    <button
                        class="heading3 padding-all-1 full-width background-none border-none"
                        [ngClass]="{ 'text-grey-3': tenant.IsOffline }"
                        [title]="tenant.Name"
                        [disabled]="tenant.IsOffline"
                        (click)="selectTenant(tenant.Id, tenant.IsOffline)"
                        >
                        {{tenant.Name}}
                        <span
                            *ngIf="tenant.IsOffline"
                            class="text-medium-small padding-left-half"
                            [innerText]="'UnderMaintenance' | otTranslate"
                        ></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ot-modal-content>
