header.settings-body-header
    span.translate {{::$root.t("ProjectSettings")}}
loading(ng-if='!Ready', text='{{::$root.t("ProjectSettings") }}')
loading(
    ng-if='DeletingStock',
    text='{{ ::$root.t("DeletingSampleProjects", {Projects: $root.customTerms.Projects})}}',
    show-loading-prefix="false")
.settings-body-content
    form.variable-branding.settings-input-section(
        name='projectForm',
        ng-if='Ready && !DeletingStock')
        h3.settings-input-section-name {{::$root.t("DefaultDeadlineReminders")}}
            .upgrade__icon(ng-if='::Permissions.canShow("SettingsProjectsDeadlinesReminderUpgrade")')
        hr
        .settings__section
            label.settings__section-title(for='reminder')
                span.translate
                | {{  ::$root.t("ProjectReminder") }}
            button.btn.reminder-none(
                type='button',
                ng-model="Project.Reminder.Show",
                ng-click='toggleReminder(!Project.Reminder.Show)',
                ng-class="{'checked': Project.Reminder.Show}",
                ng-if='Permissions.canShow("SettingsProjectsDeadlinesReminder")')
                i.ot.ot-check
            button.btn.reminder-none(
                type='button',
                ng-if='Permissions.canShow("SettingsProjectsDeadlinesReminderUpgrade")',
                ng-disabled='true')
                .upgrade__icon
            input.reminder-input.animate-if.one-input(
                name="reminder",
                ng-if='Project.Reminder.Show && Permissions.canShow("SettingsProjectsDeadlinesReminder")',
                type="number",
                ng-model="Project.Reminder.Value",
                min="1",
                max="Project.Deadline",
                ng-change='changeReminderDays(Project.Reminder.Value)')
            span.reminder-message(ng-if='Project.Reminder.Show && Permissions.canShow("SettingsProjectsDeadlinesReminder")')
                | {{  ::$root.t("DaysBeforeDeadline") }}
            span.reminder-message(ng-if='!Project.Reminder.Show || Permissions.canShow("SettingsProjectsDeadlinesReminderUpgrade")')
                | {{  ::$root.t("NoReminders") }}

        h3.settings-input-section-name
            | {{::$root.t("DefaultProjectApprover") }}
            .upgrade__icon(ng-if='Permissions.canShow("SettingsProjectsReviewerUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("AssignProjectApproversByDefault") }}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("DefaultApproverDescription") }}',
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': Project.DefaultReviewer}",
                ng-click='toggleReviewer(true)',
                ng-disabled='Permissions.canShow("SettingsProjectsReviewerUpgrade")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': !Project.DefaultReviewer}",
                ng-click='toggleReviewer(false)',
                ng-disabled='Permissions.canShow("SettingsProjectsReviewerUpgrade")')
                | {{::$root.t("No") }}

        h3.settings-input-section-name
            span.translate  {{::$root.t("ProjectApproval")}}
            .upgrade__icon(ng-if='Permissions.canShow("SettingsProjectsApprovalUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("RequireApproversApproveEachQuestion")}}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("AllowApproversToApproveProjects")}}',
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': !Project.ProjectLevelApproval}",
                ng-click='toggleApproval(false)',
                ng-disabled='Permissions.canShow("SettingsProjectsApprovalUpgrade")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': Project.ProjectLevelApproval}",
                ng-click='toggleApproval(true)',
                ng-disabled='Permissions.canShow("SettingsProjectsApprovalUpgrade")')
                | {{::$root.t("No") }}

        h3.settings-input-section-name
            span.translate  {{::$root.t("MultipleRespondents")}}
            one-tag(translated-text="Beta")
            .upgrade__icon(ng-if='Permissions.canShow("SettingsProjectsSectionAssignmentUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("WantToEnableMultipleRespondents", {ProjectsTerm: $root.customTerms.Projects})}}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip="{{::$root.t('SectionsAssignIndependentRespondents')}}",
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': Project.SectionAssignment}",
                ng-click='toggleMultiRespondEnabled(true)',
                ng-disabled='Permissions.canShow("SettingsProjectsSectionAssignmentUpgrade")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': !Project.SectionAssignment}",
                ng-click='toggleMultiRespondEnabled(false)',
                ng-disabled='Permissions.canShow("SettingsProjectsSectionAssignmentUpgrade")')
                | {{::$root.t("No") }}


        h3.settings-input-section-name
            span.translate  {{::$root.t("ProjectVersions")}}
            .upgrade__icon(ng-if='Permissions.canShow("ProjectVersioningUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("WantToEnableProjectVersions")}}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip="{{::$root.t('ProjectVersionDescription') }}",
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': Project.IsVersioningEnabled}",
                ng-click='toggleVersionEnabled(true)',
                ng-disabled='Permissions.canShow("ProjectVersioningUpgrade")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': !Project.IsVersioningEnabled}",
                ng-click='toggleVersionEnabled(false)',
                ng-disabled='Permissions.canShow("ProjectVersioningUpgrade")')
                | {{::$root.t("No") }}

        h3.settings-input-section-name
            | {{::$root.t("ThresholdQuestionnaires") }}
            .upgrade__icon(ng-if='Permissions.canShow("SettingsProjectsThresholdUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("AllowThresholdQuestionnaires") }}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("ThresholdQuestionnairesDescription")}}',
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': Project.EnableThresholdTemplates}",
                ng-click='toggleThresholds(true)',
                ng-disabled='Permissions.canShow("SettingsProjectsThresholdUpgrade")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': !Project.EnableThresholdTemplates}",
                ng-click='toggleThresholds(false)',
                ng-disabled='Permissions.canShow("SettingsProjectsThresholdUpgrade")')
                | {{::$root.t("No") }}

        h3.settings-input-section-name(ng-if='Permissions.canShow("SettingsProjectsSelfService")')
            | {{::$root.t("SelfService") }}
            one-tag(data-ng-if="Permissions.canShow('SettingsProjectsSelfServiceBeta')", translated-text="Beta")
            .upgrade__icon.fa.fa-lock(ng-if='Permissions.canShow("SettingsProjectsSelfServiceUpgrade")')
        hr(ng-if='Permissions.canShow("SettingsProjectsSelfService")')
        .settings__section(ng-if='Permissions.canShow("SettingsProjectsSelfService")')
            label.settings__section-title
                | {{::$root.t("AllowSelfService", {Projects: $root.customTerms.Projects}) }}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("SelfServiceSettingDescription", {Projects: $root.customTerms.Projects})}}',
                    tooltip-placement='top')
            button.settings__toggle(
                ng-class="{'selected': Project.SelfServiceEnabled}",
                ng-click='toggleSelfService(true)',
                ng-disabled='Permissions.canShow("SettingsProjectSelfService")')
                | {{::$root.t("Yes") }}
            button.settings__toggle(
                ng-class="{'selected': !Project.SelfServiceEnabled}",
                ng-click='toggleSelfService(false)',
                ng-disabled='Permissions.canShow("SettingsProjectSelfServiceUpgrade")')
                | {{::$root.t("No") }}

        h3.settings-input-section-name(ng-if='Project.HasSeeded')
            | {{::$root.t("SampleProjects") }}
        hr(ng-if='Project.HasSeeded')
        .settings__section(ng-if='Project.HasSeeded')
            label.settings__section-title
                | {{::$root.t("WouldDeleteSampleProjects") }}
                i.settings__section-info.fa.fa-info-circle(
                    uib-tooltip='{{::$root.t("DestructiveYesWillDeleteSampleProjects")}}',
                    tooltip-placement='top')
            one-button(
                type='warning'
                button-click='RemoveStockData()',
                text='{{::$root.t("DeleteSampleProjects", {ProjectsTerm: $root.customTerms.Projects})}}'
                )
    .settings-submit-section
        one-button(
            type='primary',
            text='{{::$root.t("SaveSettings") }}',
            button-click='saveProjectSettings()',
            is-disabled="projectForm.$invalid || disableSave",
            identifier='saveProjectSettingsButton',
        )
