<ot-page-header [title]="'CookieBanner' | otTranslate" [type]="'base'">
</ot-page-header>
<div class="height-100">
    <ot-empty-state [emptyStateMessage]="displayMessageText | otTranslate">
        <img emptyStateImg />
    </ot-empty-state>
</div>
