.inventory-card {
    display: block;
    width: 100%;
    max-width: 60rem;
    border-left: solid 6px $ui-blue;
    background-color: $white;
    margin: 2rem 0 1rem;

    &__container {
        border: solid 1px $grey-1;
        border-left: 0;
        border-radius: 4px;
        padding: 1.2rem 2.2rem;
        height: 100%;
    }

    &__title {
        font-size: 1.6rem;
        border-bottom: solid 2px $grey-1;
        padding-bottom: .6rem;
        margin: 0 0 1rem;

        &--prefix {
            margin-right: 0.6rem;
        }

        &--name {
            font-weight: 600;
        }
    }

    &__details {
        margin: 0;
        max-height: calc(100% - 3rem);
        overflow-y: auto;

        &-item {
            padding: 0.6rem 0px;
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid $grey-1;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        &-name {
            flex: 1 1 40%;
            margin: 0 1.6rem 0 0;
        }

        &-value {
            flex: 1 1 60%;
        }
    }

    &__not-found {
        text-align: center;
        margin: 2rem 0 1rem;
        text-transform: capitalize;
        color: #509EC4;
    }
}
