<div class="one-rule-action row-nowrap full-width">
    <span class="fieldDisplay text-bold static-horizontal margin-right-2">{{ config.fieldDisplay }}</span>
    <ng-container [ngSwitch]="config.type">
        <ot-toggle
            *ngSwitchCase="ruleActionType.Toggle"
            class="padding-top-1"
            [attr.ot-auto-id]="'OneRuleActionToggle_' + ruleIndex + '_' + actionIndex"
            [checked]="valueModel"
            [disabled]="!editMode"
            (toggle)="valueSet($event)"
        ></ot-toggle>
        <ot-checkbox
            *ngSwitchCase="ruleActionType.Checkbox"
            [attr.ot-auto-id]="'OneRuleActionCheckbox_' + ruleIndex + '_' + actionIndex"
            [checked]="valueModel"
            [disabled]="!editMode"
            (toggle)="valueSet($event)"
        ></ot-checkbox>
        <input otInput
            class="width-40-percent"
            *ngSwitchCase="ruleActionType.InputNumber"
            type="number"
            [attr.ot-auto-id]="'OneRuleActionInputNumber_' + ruleIndex + '_' + actionIndex"
            [attr.max]="config.inputNumberMax"
            [attr.min]="config.inputNumberMin"
            [disabled]="!editMode"
            [(ngModel)]="valueModel"
            (change)="numberValueSet($event)"
            (keyup)="numberValueSet($event)"
        />
        <input otInput
            class="width-40-percent"
            *ngSwitchCase="ruleActionType.InputString"
            [attr.ot-auto-id]="'OneRuleActionInputString_' + ruleIndex + '_' + actionIndex"
            [disabled]="!editMode"
            [ngModel]="valueModel"
            (ngModelChange)="valueSet($event)"
        />
        <ot-picklist
            class="width-40-percent"
            *ngSwitchCase="ruleActionType.Picklist"
            [attr.ot-auto-id]="'OneRuleActionPicklist_' + ruleIndex + '_' + actionIndex"
            [disabled]="!editMode"
            [options]="config.picklistOptions"
            [labelKey]="config.picklistLabelKey"
            [valueKey]="config.picklistValueKey"
            [model]="valueModel"
            (onSelect)="picklistValueSet($event)"
        ></ot-picklist>
        <org-select
            class="width-40-percent position-relative"
            *ngSwitchCase="ruleActionType.OrgSelect"
            [attr.ot-auto-id]="'OneRuleActionOrgSelect_' + ruleIndex + '_' + actionIndex"
            [disabled]="!editMode"
            [model]="valueModel"
            [options]="config.orgSelectOptions"
            (onSelect)="orgSelectValueSet($event)"
        ></org-select>
        <ot-org-user
            class="width-40-percent"
            *ngSwitchCase="ruleActionType.OrgUser"
            [attr.ot-auto-id]="'OneRuleActionOrgUser_' + ruleIndex + '_' + actionIndex"
            [allowEmail]="false"
            [disabled]="!editMode"
            [fetchOptionsOnClick]="true"
            [model]="valueModel"
            [orgId]="config.orgSelectChoosesUserOrg ? orgUserOrg : config.orgUserOrgId"
            [traversal]="config.orgUserTraversal"
            (onSelect)="orgUserValueSet($event)"
        ></ot-org-user>
        <ot-org-user-multi-select
            class="width-40-percent"
            *ngSwitchCase="ruleActionType.OrgUserMultiSelect"
            [attr.ot-auto-id]="'OneRuleActionOrgUser_' + ruleIndex + '_' + actionIndex"
            [allowEmail]="false"
            [disabled]="!editMode"
            [userList]="valueModel"
            [fetchOptionsOnClick]="true"
            [placeholder]="config.placeholder"
            [permissions]="['DSARRequestDetailsEmail']"
            [traversal]="config.orgUserTraversal"
            [orgId]="config.orgSelectDefaultValue"
            (onSelect)="orgUserMultiSetValue($event)"
        ></ot-org-user-multi-select>
    </ng-container>
</div>
