<ot-modal-header (close)="closeModal()">
    <div>{{ 'PublishPreferenceCenter' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="text-center">
        <h3
            class="padding-bottom-2"
            [innerText]="otModalData.preferenceCenterName"
            >
        </h3>
        <p
            class="padding-bottom-1"
            [innerText]="'PublishPreferenceCenterWarning' | otTranslate"
            >
        </p>
        <p
            class="text-bold"
            [innerText]="'PublishPreferenceCenterConfirmation' | otTranslate"
            >
        </p>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="PublishPreferenceCenterCloseButton"
        [disabled]="actionInProgress"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="PublishPreferenceCenterCreateButton"
        [loading]="actionInProgress"
        [disabled]="actionInProgress"
        (click)="publishPreferenceCenter()"
        >
        {{ 'Publish' | otTranslate }}
    </button>
</ot-modal-footer>
