.template-condition-modal {
    &__header {
        border-bottom: 1px solid $grey-1;
    }

    &__add {
        border: 2px dashed $grey-2;
        height: 8rem;
    }

    form[name="conditionsForm"] {
        width: auto;
        max-width: 100%;
    }

     &__question-number {
         padding: .5rem 1.2rem;
     }

    &__question-content {
        min-height: 3rem;
        max-height: 4rem;
    }
}
