<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle"
    [identifier]="'TemplateRelatedInventoryModal'"
    (close)="closeModal()"
>
    <form
        ot-auto-id="TemplateQuestionConditionModalForm"
        class="stretch-vertical overflow-y-auto overflow-x-hidden margin-all-2"
        name="conditionsForm"
    >
        <section class="template-condition-modal__header padding-bottom-1 row-vertical-center">
            <div
                class="template-condition-modal__question-number text-bold color-white border-none margin-right-1 background-grey-3"
                [innerText]="questionNumber"
            >
            </div>
            <div
                class="template-condition-modal__question-content overflow-hidden position-relative word-wrap"
                [otTooltip]="{ content: questionName, placement: 'bottom' }"
                [innerText]="questionName"
            >
            </div>
        </section>
        <section class="template-condition-modal__body padding-all-2 column-wrap">
            <div
                *ngFor="let condition of conditions; trackBy: trackByCondition"
                class="template-condition-modal__condition margin-bottom-2 flex stretch-vertical border background-grey padding-all-1 max-width-full"
            >
                <template-rule
                    class="width-100-percent"
                    [attr.ot-auto-id]="'TemplateRuleModal_ + $index'"
                    [allowedActions]="allowedActions"
                    [actionId]="condition.id"
                    [mode]="isPreviewMode ? 'PREVIEW' : 'EDIT'"
                    [deleteAction]="!isPreviewMode"
                    (conditionDeleted)="onConditionDeleted($event)"
                >
                </template-rule>
            </div>
            <div
                *ngIf="!isPreviewMode"
                ot-auto-id="TemplateConditionsAddCondition"
                class="template-condition-modal__add margin-bottom-2 row-horizontal-vertical-center cursor-pointer"
                (click)="addCondition()"
            >
                <span [innerText]="'AddCondition' | otTranslate"></span>
            </div>
        </section>
    </form>
    <footer
        *ngIf="!isPublished"
        class="template-condition-modal__footer row-flex-end static-vertical padding-top-bottom-1"
    >
        <fieldset [disabled]="submitInProgress">
            <button
                otButton
                neutral
                ot-auto-id="TemplateQuestionConditionModalCancelButton"
                class="template-condition-modal__cancel margin-all-1"
                [innerText]="'Cancel' | otTranslate"
                (click)="cancel()"
            >
            </button>
            <button
                otButton
                brand
                *ngIf="!isPreviewMode"
                ot-auto-id="TemplateQuestionConditionModalSaveButton"
                class="template-condition-modal-submit margin-all-1"
                [innerText]="'Submit' | otTranslate"
                [disabled]="!allConditionsValid"
                [loading]="submitInProgress"
                (click)="saveNavigations()"
            >
            </button>
        </fieldset>
    </footer>
</one-modal-base>
