.dsar-request-queue-sub-task-table {

    .sub-task-type {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.5rem;
        margin-left: 1.5rem;

        &--user {
            background: $orange;
        }

        &--system {
            background: $ui-blue;
        }

        i {
            position: relative;
            top: 0.3rem;
        }
    }
}
