<table otDataTable
    class="dsar-request-queue-sub-task-table"
    [rowData]="rows"
    [rowBordered]="rowBordered"
    [sortable]="sortable"
    [resizableCol]="resizable"
    [responsiveTable]="responsive"
    [sortOrder]="sortOrder"
    [sortKey]="sortKey"
    (sortChanged)="handleSortChange($event)"
    [truncateCellContent]="true"
>
    <ng-container *ngFor="let col of columnsMap">
        <ng-container *ngIf="col.cellValueKey === 'subTaskName'">
            <ot-data-table-column
                tdClass="max-25"
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdStyle]="{'padding-left': '3rem'}"
                [thStyle]="{'padding-left': '2rem', 'justify-content': 'center'}"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center max-25'}"
            >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-bold">
                        <a
                            ot-auto-id="DSARRequestQueueSubtaskIdClick"
                            (click)="handleNameClick(row, $event, col.cellValueKey)"
                        >
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.cellValueKey === 'requestQueueRefId'">
            <ot-data-table-column
                tdClass="max-25"
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdStyle]="{'padding-left': '3rem'}"
                [thStyle]="{'padding-left': '2rem', 'justify-content': 'center'}"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center max-25'}"
            >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-bold">
                        <a
                            ot-auto-id="DSARRequestQueueSubtaskRequestIdClick"
                            [routerLink]="['/pia/dsar/queue', row.requestQueueId]"
                            (click)="handleNameClick(row, $event, col.cellValueKey)"
                        >
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'status'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" [title]="col.columnName">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row">
                    <div class="slds-truncate text-center">
                        <span
                            [otBadge]="row.subtaskStatus | dsarSubTaskStatusColor"
                            [innerText]="row.subTaskStatusName"
                            >
                        </span>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'date'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader [thStyle]="{'width': '10rem'}">
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{ row[column.cellValueKey] | otDate}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'icon'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader [thStyle]="{'width': '7rem'}">
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" [title]="col.columnName">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        <div
                            class="sub-task-type"
                            [otTooltip]="row.subTaskType === 'USER_TASK' ? userSubtaskConfig : systemSubtaskConfig"
                            [ngClass]="row.subTaskType === 'USER_TASK' ? 'sub-task-type--user' : 'sub-task-type--system'">
                            <i class="ot ot-check-square-o" ></i>
                        </div>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="!col.columnType">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" [title]="col.columnName">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'action'">
            <ot-data-table-column>
                <ng-template otDataTableHeader thClass="float-col" [thStyle]="{'width': 0}">
                </ng-template>
                <ng-template
                    otDataTableCell
                    tdClass="float-col background-transparent"
                    let-row="row"
                    [tdStyle]="{'background': 'transparent'}"
                    >
                    <ot-context-menu
                        class="height-100 flex-full-height column-vertical-center"
                        [position]="setMenuPosition(row)"
                        [menu]="row.dropDownMenu"
                        (toggled)="generateMenuOptions(row)"
                    >
                        <i class="fa fa-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                [attr.ot-auto-id]="'DSARRequestQueueSubtask' + item.text + 'item'"
                                (click)="handleMenuItemClicks(row, item.value)">
                                {{ item.text }}
                            </a>
                    </ot-context-menu>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'required'">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader [thStyle]="{'width': '7rem'}">
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" [title]="col.columnName">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row">
                    <div class="slds-truncate text-center">

                        {{ row.subTaskRequired ? ('Yes' | otTranslate) : ('No' | otTranslate) }}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

    </ng-container>
</table>
