<table
    class="full-width"
    otDataTable
    rowFlagKey="flagged"
    [rowData]="rows"
    [rowBordered]="true"
    >
    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
        <ot-data-table-column [column]="col">
            <ng-template
                otDataTableHeader
                [thStyle]="{'padding': '0 1rem'}"
                >
                <span
                    class="text-bold"
                    [ngClass]="{'block text-center' : columnIndex !== 0}"
                    >
                    {{ col.label }}
                </span>
                <i
                    *ngIf="col?.tooltipKey"
                    class="ot ot-info-circle"
                    [otTooltip]="col.tooltipKey | translate"
                    position="right"
                ></i>
            </ng-template>
            <ng-template otDataTableCell let-row="row" tdClass="max-25">
                <ng-container *ngIf="col.type === cellTypes.link">
                    <a
                        class="slds-truncate block text-pointer text-link text-bold"
                        title="{{ (row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]) || '----' }}"
                        [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                        (click)="goToRoute.emit(row)"
                        >
                        {{ (row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]) || '----' }}
                    </a>
                </ng-container>
                <ng-container *ngIf="col.type === cellTypes.text">
                    <div
                        class="slds-truncate"
                        [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                        title="{{ (row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]) || '----' }}"
                        >
                        {{ (row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.dataKey]) || '----' }}
                    </div>
                </ng-container>
            </ng-template>
        </ot-data-table-column>
    </ng-container>

    <ot-data-table-column>
        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
    </ot-data-table-column>

    <ng-container *ngIf="allowRowActions">
        <ot-data-table-column>
            <ng-template otDataTableHeader thClass="float-col">
                <div></div>
            </ng-template>
            <ng-template
                otDataTableCell
                let-row="row"
                tdClass="float-col background-transparent"
                [tdStyle]="{'background': 'transparent', 'padding': '.3rem'}"
                >
                <div class="flex height-100 align-center justify-center">
                    <ot-context-menu
                        *ngIf="row?.id !== emptyGuid"
                        [type]="2"
                        [menu]="rowActions"
                        [position]="menuPosition"
                        (click)="getActions($event, row)"
                        >
                        <i class="ot ot-ellipsis-h"></i>
                        <a
                            *otContextMenuItem="let item"
                            (click)="item.action(row)"
                            >
                            <span
                                class="text-left"
                                [innerText]="item.text"
                                >
                            </span>
                        </a>
                    </ot-context-menu>
                </div>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
</table>
