<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddFramework' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height width-100-percent">
    <div class="overflow-y-auto flex-full-height height-100 height-70">
        <div class="padding-bottom-2 text-center">{{ "SearchFrameworks" | otTranslate }}</div>
        <div class="padding-bottom-2 width-50-percent margin-0-auto">
            <ot-search-input
                class="margin-right-1"
                ot-auto-id="ControlsFrameworkModalInputFilter"
                [placeholder]="'Search' | otTranslate"
                [searchOnEnter]="true"
                [model]="searchFilter"
                (search)="onSearchFilter($event)"
            ></ot-search-input>
        </div>

        <div class="width-100-percent stretch-vertical overflow-y-auto">
            <ot-loading
                *ngIf="!isReady"
                otPageLoading
                class="margin-all-auto"
            >
            </ot-loading>
            <div *ngIf="isReady" class="width-100-percent row margin-left-right-0">
                <div class="row-wrap row-horizontal-center">
                    <ng-container *ngFor="let framework of frameworks; trackBy: trackByFn">
                        <div
                            class="controls-framework-card margin-all-1 column-nowrap background-white position-relative shadow2"
                            [ngClass]="{'background-active border-blue' : selectedFrameworks && selectedFrameworks.includes(framework), 'background-grey text-grey-3' : framework.availableInControlsLibrary }"
                            (click)="onSelectFrameworks(framework)">
                            <controls-framework-card
                                class="row-horizontal-vertical-center"
                                ot-auto-id="ControlsFrameworkModalCard"
                                [controlsFramework]="framework"
                            ></controls-framework-card>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="ControlsFrameworkModalCancelBtn"
        [disabled]="isLoading"
        (click)="closeModal()"
        >{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="ControlsFrameworkModalAddBtn"
        [loading]="isLoading"
        [disabled]="isLoading || (selectedFrameworks && !selectedFrameworks.length)"
        (click)="onAdd()"
        >{{ 'Add' | otTranslate }}
    </button>
</ot-modal-footer>
