<ng-template #mfaPasswordModalLoader>
    <ot-loading
        otPageLoading
        class="min-height-20 row-horizontal-vertical-center"
    ></ot-loading>
</ng-template>
<ng-container *ngIf="ready; else mfaPasswordModalLoader">
    <ot-modal-header (close)="closeModal()">
        <div>{{ otModalData?.modalTitle | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content
        class="column-horizontal-vertical-center padding-left-right-2">
        <span class="fa-stack fa-3x">
            <i class="ot ot-circle fa-stack-2x text-success"></i>
            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
        </span>
        <div
            class="text-center max-width-full margin-top-bottom-2"
            [innerText]="otModalData.confirmationText | otTranslate"
            >
        </div>
        <div
            *ngIf="generatedPassword"
            class="margin-top-bottom-1 text-bold"
            [innerText]="generatedPassword"
        ></div>
    </ot-modal-content>
    <ot-modal-footer>
        <ng-container *ngIf="otModalData.regenerateFlow && !generatedPassword">
            <button
                otButton
                class="margin-right-1 text-normal text-color-default"
                ot-auto-id="DSARMfaPasswordModalCancelButton"
                [disabled]="!ready"
                (click)="closeModal()"
                >
                {{ otModalData.modalCloseButton | otTranslate }}
            </button>
            <button
                otButton
                brand
                class="margin-right-1 text-normal text-color-default"
                ot-auto-id="DSARMfaPasswordModalRegenerateButton"
                [disabled]="!ready"
                (click)="regeneratePassword()"
                >
                {{ otModalData.modalRegenerateButton | otTranslate }}
            </button>
        </ng-container>
        <ng-container *ngIf="otModalData.secondRequestPasswordFlow && !generatedPassword">
            <button
                otButton
                class="margin-right-1 text-normal text-color-default"
                ot-auto-id="DSARMfaPasswordModalRegenerateButton"
                [disabled]="!ready"
                (click)="regeneratePassword()"
                >
                {{ otModalData.modalRegenerateButton | otTranslate }}
            </button>
            <button
                otButton
                brand
                class="margin-right-1 text-normal text-color-default"
                ot-auto-id="DSARMfaPasswordModalCancelButton"
                [disabled]="!ready"
                (click)="closeModal()"
                >
                {{ otModalData.modalCloseButton | otTranslate }}
            </button>
        </ng-container>
        <ng-container *ngIf="generatedPassword">
            <button
                otButton
                class="margin-right-1 text-normal text-color-default"
                ot-auto-id="DSARMfaPasswordModalCancelButton"
                [disabled]="!ready"
                (click)="closeModal()"
                >
                {{ otModalData.modalCloseButton | otTranslate }}
            </button>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="DSARMfaPasswordModalCopyButton"
                [disabled]="!ready"
                [innerText]="'Copy' | otTranslate"
                (click)="copyLink()"
                >
                {{ 'Copy' | otTranslate }}
            </button>
        </ng-container>
    </ot-modal-footer>
</ng-container>
