<ot-drawer
    class="height-100 row-nowrap"
    [ngClass]="{ 'width-75': showSubPane, 'width-35-rem': !showSubPane }"
    [open]="true"
>
    <div *ngIf="isLoading" class="width-35-rem">
        <ot-loading otPageLoading
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
    </div>

    <ng-container *ngIf="!isLoading">

        <aa-needs-more-info-subpane-drawer
            class="flex-full-height width-40-rem background-white"
            *ngIf="showSubPane"
            (hide)="hide.emit($event)"
            [needsMoreInfoRequest]="selectedRequest"
            (updateRequestEvent)="updateRequest($event)"
            (deleteInfo)="deleteInfo($event)"
        ></aa-needs-more-info-subpane-drawer>

        <div class="width-35-rem border-left background-grey column-nowrap">
            <div class="padding-all-1 border-bottom">
                <ng-container *ngIf="!showSubPane && !noRequests">
                    <div
                        class="row-vertical-center cursor-pointer padding-bottom-1"
                        ot-auto-id="AssessmentNeedsMoreInfoSubPaneShow"
                        (click)="showPane()"
                    >
                        <i class="ot ot-arrow-circle-o-left text-medium"></i>
                        <span class="margin-left-half text-small">{{"Show" | otTranslate}}</span>
                    </div>
                </ng-container>
                <div>
                    <i
                        class="ot ot-close text-medium cursor-pointer pull-right"
                        ot-auto-id="AANeedsMoreInfoDrawerCloseButton"
                        (click)="hide.emit($event)">
                    </i>
                </div>
                <div class="text-bold margin-top-bottom-2">
                    {{"InfoRequest" | otTranslate}}
                </div>
                <div class="flex-full-50">
                    <ot-picklist
                        [attr.ot-auto-id]="'AssessmentNeedsMoreInfoPaneFilter'"
                        [autoClose]="true"
                        [options]="needsMoreInfoFilterOptions"
                        [valueKey]="'value'"
                        [labelKey]="'label'"
                        [model]="selectedFilterValue"
                        (onSelect)="selectFilterOption($event)"
                    ></ot-picklist>
                </div>
            </div>
            <div *ngIf="!noRequests" class="overflow-y-auto ms-overflow-scroll height-100">
                <div
                    *ngFor="let needsMoreInfoModel of filteredNeedsMoreInfoModels;"
                    class="cursor-pointer border-bottom padding-all-1"
                    [ngClass]="{ 'background-active' : selectedRequest.rootRequestId === needsMoreInfoModel.rootRequestId }"
                    (click)="onSelection(needsMoreInfoModel)"
                    >
                    <div class="flex margin-bottom-half row-space-between">
                        <div class="text-bold overflow-ellipsis-nowrap">
                            {{getQuestionSequence(needsMoreInfoModel.questionId)}}
                        </div>
                        <span [otBadge]="responseStateTransalationKeys[needsMoreInfoModel.responseState]?.type">{{responseStateTransalationKeys[needsMoreInfoModel.responseState]?.text | otTranslate}}</span>
                        <span class="text-small">
                            {{needsMoreInfoModel.createdDt | otDate:'dateTime'}}
                        </span>
                    </div>
                    <div class="margin-bottom-half">
                        <span class="text-bold">{{needsMoreInfoModel.creator.name}}</span>
                    </div>
                    <div
                        class="assessment-collaboration-description word-wrap overflow-ellipsis text-small"
                        [innerHTML]="needsMoreInfoModel.response"
                    ></div>
                </div>
            </div>
            <ot-empty-state
                class="full-size"
                *ngIf="noRequests"
                [emptyStateMessage]="'NoResultsFound' | otTranslate"
            >
                <img emptyStateImg />
            </ot-empty-state>
        </div>
    </ng-container>
</ot-drawer>
