<section class="padding-all-3 full-width column-horizontal-center">
    <div class="position-relative">
        <h1 class="margin-top-2 text-center heading1 text-thin">
            {{'HowImportWorks' | otTranslate}}
        </h1>
        <p class="margin-all-2">
            {{'HowImportWorks.Para1' | otTranslate}}
            <br><br>
            {{'HowImportWorks.Para2' | otTranslate}}
            <br><br>
            {{'HowImportWorks.Para3' | otTranslate}}
            <br><br>
            {{'HowImportWorks.Para4' | otTranslate}}
        </p>
        <button otButton brand
            class="margin-top-bottom-5 block margin-left-right-auto"
            ot-auto-id="ConsentBulkImportButton"
            [innerText]="'BulkImport' | otTranslate"
            (click)="goToBulkImport()"
        ></button>
    </div>
</section>
