<section class="incident-list flex-full-height height-100">
    <ot-page-header title="{{'IncidentRegister' | otTranslate }}" [type]="'base'">
        <div>
            <span class="slds-m-left--small">
                <button otButton brand
                    *ngIf="('IncidentRecordsView' | otPermit)"
                    ot-auto-id="IncidentAddNewButton"
                    (click)="onAddNewIncidentClicked()"
                    >
                    {{"AddNew" | otTranslate}}
                </button>
            </span>
        </div>
    </ot-page-header>

    <div *ngIf="table?.rows" class="incident-list__sub-header background-grey border-bottom full-width padding-top-bottom-half padding-left-right-2">
        <div class="incident-list__sub-header--actions full-width row-flex-end">
            <div class="min-width-30">
                <ot-search-input
                    ot-auto-id="IncidentListSearchInput"
                    [placeholder]="'Search' | otTranslate"
                    [reset]="resetSearch$ | async"
                    [model]="searchText"
                    [searchOnEnter]="true"
                    (search)="onSearchChange($event)"
                ></ot-search-input>
            </div>
        </div>
    </div>

    <section class="flex-full-height background-white">

        <ot-loading otPageLoading
            class="margin-all-auto"
            *ngIf="loadingIncidentRegister$ | async"
        ></ot-loading>

        <div *ngIf="!(loadingIncidentRegister$ | async)" class="overflow-auto flex-full-height position-relative">
            <incident-register-table
                [rows]="table.rows"
                [columns]="table.columns"
                [tableMetaData]="tableMetaData"
                [allRowsSelected]="allRowsSelected"
                [sortOrder]="sortOrder"
                [sortKey]="sortKey"
                (handleTableActions)="handleTableAction($event)"
                (addNewRecord)="onAddNewIncidentClicked()"
            ></incident-register-table>
        </div>

        <footer otPaginationFooter *ngIf="table?.rows?.length && tableMetaData.totalPages > 1 || !tableMetaData?.first">
            <ot-pagination
                [currentPage]="tableMetaData.number + 1"
                [numPages]="tableMetaData.totalPages"
                (pageChanged)="onPaginationChange($event)"
            ></ot-pagination>
            <span *ngIf="!(loadingIncidentRegister$ | async)">
                {{ tableMetaData | otPageMeta }}
            </span>
        </footer>
    </section>
</section>
