.inventory-list-manager-entry {

    &__card {
        height: 22rem;
        width: 22rem;

        &-header {
            min-height: 17.5rem;
        }

        &-divider {
            bottom: 1.4rem;
            height: .1rem;
        }

        &-title {
            line-height: 2rem;
            cursor: text;
        }

        &-btn {
            min-width: 10rem;
        }
    }
}
