<section class="inventory-list-manager-entry height-100 column-nowrap">
    <ot-page-header
        class="inventory-list-manager-entry__header static-vertical"
        [title]="'InventoryManager' | translate"
        >
    </ot-page-header>
    <section class="stretch-vertical column-nowrap overflow-y-scroll">
        <h4
            class="margin-top-4 margin-bottom-0 text-xlarge text-center padding-left-right-2"
            [innerText]="'InventoryManagerEntryText' | translate"
            >
        </h4>
        <ul
            class="row-wrap justify-center full-width margin-top-3 margin-left-right-auto padding-bottom-10"
            ot-auto-id="InventoryListManagerTypeList"
            >
            <ng-container *ngFor="let list of listTypes">
                <div class="one-card inventory-list-manager-entry__card margin-all-1-half">
                    <div class="inventory-list-manager-entry__card-header padding-all-1 position-relative column-nowrap">
                        <div
                            class="inventory-list-manager-entry__card-title flex-full-height column-horizontal-vertical-center color-slate border-radius text-large text-center text-bold"
                            [innerText]="list.labelKey | translate"
                        ></div>
                        <div class="inventory-list-manager-entry__card-divider background-grey-2 full-width margin-all-auto margin-bottom-0"></div>
                    </div>
                    <div class="row-horizontal-vertical-center">
                        <button
                            otButton
                            brand
                            [attr.ot-auto-id]="'InventoryListManagerTypeButton_' + list.id"
                            [innerText]="'View' | translate"
                            (click)="goToList(list)"
                            >
                        </button>
                    </div>
                </div>
            </ng-container>
        </ul>
    </section>
</section>