<ot-loading
    *ngIf="loading"
    class="stretch-vertical column-horizontal-vertical-center"
></ot-loading>
<section *ngIf = "!loading">
    <h5 class="margin-top-3 text-center font-weight-bold"
        [innerText]="'MapDataSubjectToContact' | otTranslate">
    </h5>
    <div class="centered-max-100 margin-top-4 margin-bottom-5 padding-left-right-3"
        *ngIf="contactMappingList.length > 0">
            <div class="row-horizontal-center text-bold"
                *ngFor="let item of contactMappingList; let i = index;trackBy: trackContactMappingList">
                <div class="width-50-percent">
                    <span class="inline-block overflow-ellipsis-nowrap">
                    {{item.dsElementField?.FieldName}}
                    </span>
                </div>
                <div class="text-large margin-left-right-2">
                    <i class="ot ot-arrow-right media-top"></i>
                </div>
                <div class="width-50-percent">
                    <span class="width-90-percent inline-block overflow-ellipsis-nowrap">
                        {{item.contactField?.name}}
                    </span>
                    <i class="ot ot-trash-o text-large media-top margin-left-1"
                        (click)="removeContactMapping(i)"
                    ></i>
                </div>
            </div>
    </div>
    <div class="centered-max-100 margin-top-bottom-5 padding-left-right-3">
        <div class="margin-top-1 row-horizontal-center text-bold ng-scope">
            <div class="width-50-percent">
                <div class=" margin-top-1" otFormElement [label]="'OneTrustField' | otTranslate">
                    <ot-picklist
                        ot-auto-id="IntgContMappingOneTrustFieldPicklist"
                        [placeholder]="'SelectOneTrustField' | otTranslate"
                        [autoClose]="autoCloseEnabled"
                        [options]="typeOptions"
                        [valueKey]="'FieldId'"
                        [labelKey]="'FieldName'"
                        [model]="selectedOtfOption"
                        (onSelect)="selectOtfOption($event)"
                    ></ot-picklist>
                </div>
            </div>
            <div class="text-large margin-left-right-1 margin-top-3-5">
                <i class="fa fa-arrow-right media-top"></i>
            </div>
            <div class="width-50-percent">
                <div class="margin-top-1" otFormElement [label]="'Contact' | otTranslate">
                    <ot-picklist
                        ot-auto-id="IntgContMappingContactPicklist"
                        [placeholder]="'SelectContactField' | otTranslate"
                        [autoClose]="autoCloseEnabled"
                        [options]="contactList"
                        [valueKey]="'id'"
                        [labelKey]="'name'"
                        [model]="selectedContactOption"
                        (onSelect)="selectContactOption($event)"
                    ></ot-picklist>
                </div>
            </div>
        </div>
        <div class="margin-top-2 row-horizontal-center">
            <button otButton brand
                ot-auto-id="IntgContMappingAddMapping"
                [innerText]="'Add' | otTranslate"
                [disabled]="!validateForm()"
                (click)="addToList()"
            >
            </button>
        </div>
    </div>
</section>
