<div class="assessment-grid data-tables height-100">
    <table
        class="assessment-grid__table full-width slds-table--fixed-layout position-relative"
        otDataTable
        [rowData]="assessments"
        [rowBordered]="true"
        [sortable]="true"
        [sortedKey]="sortData?.sortedKey"
        [sortOrder]="sortData?.sortOrder"
        [wrapCellContent]="true"
        (sortChanged)="handleSortChange($event)"
    >
        <ng-container *ngFor="let col of columns; let columnIndex = index">

            <ot-data-table-column
                [headerLabel]="col.nameKey ? (col.nameKey | otTranslate) : col.name"
                [column]="col"
                [sortable]="col.sortKey"
                [sortKey]="col.sortKey"
                [thStyle]="col.style"
                [classes]="col.name != 'Name' ? { thAnchor: 'slds-grid slds-grid_align-center max-25'} : max-25"
            >

                <ng-template
                    otDataTableCell let-row="row"
                    [tdClass]="'max-25 padding-all-4'"
                >
                    <ng-container [ngSwitch]="col.nameKey">
                        <ng-container *ngSwitchCase="'Stage'">
                            <div class="slds-truncate slds-text-align_center">
                                <assessment-state-label
                                    [stateDescription]="row[col.valueKey]">
                                </assessment-state-label>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'RiskLevel'">
                            <div
                                *ngIf="row[col.valueKey]; else noRisk"
                                class="slds-truncate slds-text-align_center"
                                >
                                <div
                                    class="assessment-grid__assessment-risklevel-flag border-round margin-auto"
                                    title="{{riskLevel[row['assessmentRiskLevelId']] | otTranslate}}"
                                    [ngStyle]="{'background-color': row['assessmentRiskLevelId'] | otRiskColor }"
                                    >
                                    <i class="ot ot-flag color-white media-middle"></i>
                                </div>
                            </div>
                            <ng-template #noRisk>
                                <div class="slds-truncate text-center">
                                    - - - -
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="'RiskScore'">
                            <div
                                *ngIf="row[col.valueKey] && row[col.valueKey] != 0; else noRiskScore"
                                class="slds-truncate slds-text-align_center"
                                >
                                {{row[col.valueKey]}}
                            </div>
                            <ng-template #noRiskScore>
                                <div class="slds-truncate text-center">
                                    - - - -
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateCreated'">
                            <div class="slds-truncate slds-text-align_center">
                                <upgraded-one-date
                                    data-id="assessmentTableBodyCellContentDateComponent"
                                    class="max-25"
                                    [dateToFormat]="row[col.valueKey]"
                                    [enableTooltip]="true"
                                ></upgraded-one-date>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Deadline'">
                            <div
                                *ngIf="row[col.valueKey]"
                                class="slds-truncate slds-text-align_center"
                            >
                                <upgraded-one-date
                                    data-id="piaProjectTableBodyCellContentDateComponent"
                                    [dateToFormat]="row[col.valueKey]"
                                    [enableTooltip]="true"
                                ></upgraded-one-date>
                            </div>
                            <div
                                *ngIf="!row[col.valueKey]"
                                class="slds-truncate slds-text-align_center"
                            >
                                {{"NoDeadline" | otTranslate}}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Name'">
                            <div class="slds-truncate text-bold">
                                <a title="{{row[col.valueKey]}}" (click)="goToAssessmentDetail.emit(row['assessmentId']);">
                                    {{row[col.valueKey]}}
                                </a>
                            </div>
                        </ng-container>
                        <div class="text-center">
                            <ng-container *ngSwitchCase="'OpenInfoRequestCount'">
                                {{row[col.valueKey] || "- - - -"}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'OpenRiskCount'">
                                    {{row[col.valueKey] || "- - - -"}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'Approver'">
                                <div otFormElement
                                    *ngIf="row[col.valueKey]; else noApprover"
                                    class="assessment-grid__approver overflow-ellipsis-nowrap"
                                    [label]="row[col.valueKey]"
                                    [tooltip]="popoverTooltip"
                                    [tooltipPosition]="'top'"
                                    [tooltipDelay]="'250'"
                                >
                                    <ng-template #popoverTooltip>
                                        <span>{{row[col.valueKey]}}</span>
                                    </ng-template>
                                </div>
                                <ng-template #noApprover>
                                    - - - -
                                </ng-template>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Result'">
                                <div class="slds-truncate">
                                    {{  (row[col.valueKey] | otTranslate) || "- - - -" }}
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Tags'">
                                <div class="slds-truncate">
                                    {{ row[col.valueKey] || "- - - -" }}
                                </div>
                            </ng-container>
                        </div>
                        <ng-container *ngSwitchDefault>
                            <div
                                *ngIf="row[col.valueKey]"
                                class="slds-truncate slds-text-align_center"
                                title="{{row[col.valueKey]}}"
                                [innerHtml]=row[col.valueKey]
                            ></div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container>
            <ot-data-table-column>
                <ng-template otDataTableHeader [thStyle]="{'width': '1rem'}">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell [tdStyle]="{'width': '1rem'}">
                    <div></div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ot-data-table-column>
            <ng-template otDataTableHeader
                [thClass]="'float-col width-0'"
            >
                <div></div>
            </ng-template>
            <ng-template otDataTableCell
                [tdClass]="'float-col background-transparent'"
                [tdStyle]="{'background': 'transparent'}"
                let-row="row"
            >
                <div>
                    <upgraded-one-dropdown
                        class="inventory-table-new__context-button"
                        [icon]="'ot ot-ellipsis-h'"
                        [hideCaret]="true"
                        [alignRight]="true"
                        [getOptions]="getActions(row)"
                        [buttonClass]="'actions-table__context-btn'"
                        [listClass]="menuClass"
                        identifier="{{'AssessmentGridContextMenu'}}"
                        >
                    </upgraded-one-dropdown>
                </div>
            </ng-template>
        </ot-data-table-column>
    </table>
</div>
