.assessment-grid {
    max-height: calc(100vh - 28rem);
    min-height: 40vh;

    &__assessment-risklevel {
        cursor: default;
        min-width: 4.6rem !important;
        width: 4.6rem;
        line-height: 2.3rem;
        height: 2.4rem;
        margin: auto;
        &-flag-width {
            width: 2.2rem;
        }
        &-score {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
        &-flag {
            padding: 0.4rem 0.6rem;
            width: 2.8rem;
        }
    }

    &__none-risk {
        margin: auto;
    }

    &__approver {
        .form-element-label-override {
            font-weight: normal;
        }
    }
}
