.aa_notes-drawer {
    &__text-editor {
        height: calc(100vh - 15.1rem);
        .ql-toolbar {
            flex-grow: 0;
        }
        .ql-container {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    &__content :hover {
        .edit-icon {
            display: block;
        }
    }
}
