<div class="padding-all-1">
    <button
        *ngIf="contextMenuOptions?.length"
        class="ot ot-ellipsis-h cursor-pointer text-xlarge border-none background-none no-outline align-right"
        ot-auto-id="AssessmentNotesPaneContextMenu"
        position="bottom-right"
        closeOnClick="both"
        [interactive]="false"
        [isOpen]="canShowContextMenuOptions"
        [modifierClass]="'width-auto'"
        [otDropdown]="notesSubPaneContextMenu"
        (toggled)="toggleContextMenu($event)"
        (click)="toggleContextMenu(true)"
    ></button>
    <!-- context menu options -->
    <ng-template #notesSubPaneContextMenu>
        <ul
            class="slds-dropdown__list margin-0"
            *ngFor="let option of contextMenuOptions"
        >
            <li class="slds-dropdown__item">
                <a
                    class="text-medium-small cursor-pointer remove-anchor-style text-decoration-none block"
                    ot-auto-id="AssessmentNotesPaneContextMenuAction"
                    (click)="onContextMenuOptionClick(option.value)"
                    >
                    <span>{{option.label | otTranslate}}</span>
                </a>
            </li>
        </ul>
    </ng-template>
</div>

<div class="row-space-between static-vertical align-center padding-all-1">
    <div class="text-bold flex-full-40 overflow-ellipsis-nowrap">{{model.commenter}}</div>
    <span
        [attr.title]="model.createdDT | aaDate: 'dateTime'"
        [innerText]="model.createdDT | aaDate: 'dateTime'"
        >
    </span>
</div>

<div class="overflow-y-auto link-editor flex-grow-1 column-nowrap overflow-x-hidden padding-all-1">
    <div class="margin-bottom-1">
        <ot-picklist
            ot-auto-id="AssessmentNotesDrawerAccessOptions"
            [autoClose]="true"
            [disabled]="!(createAndEditPermission && isEditMode)"
            [labelKey]="'label'"
            [model]="selectedOption"
            [options]="accessOptions"
            [valueKey]="'value'"
            (onSelect)="selectNotesAccessOption($event)"
        ></ot-picklist>
    </div>
    <ot-rich-text-editor
        *ngIf="createAndEditPermission && isEditMode; else displayNoteValue"
        class="aa_notes-drawer__text-editor column-nowrap flex-grow-1"
        ot-auto-id="AssessmentNotesDrawerRichTextEditor"
        [customModules]="customModules"
        [contentModel]="model.value"
        [contentObservable]="contentObservable"
        (onContentChanged)="handleInputChange($event.html)"
    ></ot-rich-text-editor>
    <ng-template #displayNoteValue>
        <div class="aa_notes-drawer__content">
            <button
                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half overflow-hidden"
                ot-auto-id="AssessmentCollaborationPaneViewNote"
                [disabled]="!createAndEditPermission"
                (click)="editNote()"
            >
                <span
                    class="word-break"
                    [innerHTML]="model.value">
                </span>
                <section
                    *ngIf="!createAndEditPermission"
                    class="align-center justify-end position-absolute-full row-nowrap flex"
                >
                    <i class="ot ot-edit display-none edit-icon"
                    >
                    </i>
                </section>
            </button>
        </div>
    </ng-template>
</div>

<footer
    *ngIf="isEditMode && createAndEditPermission"
    class="border-top padding-all-1"
>
    <div class="row-space-between flex-full-80">
        <button otButton default
            ot-auto-id="AssessmentNotesDrawerCancelButton"
            [disabled]="isReadOnly"
            (click)="resetModel()"
            >
            {{"Cancel" | otTranslate}}
        </button>
        <button otButton brand
            ot-auto-id="AssessmentNotesDrawerSaveButton"
            [disabled]="isDisabled || isReadOnly"
            (click)="updateComment()"
            >
            {{"Save" | otTranslate}}
        </button>
    </div>
</footer>
