<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="overflow-y-auto padding-all-2 padding-bottom-0 flex-full-height">
        <inventory-attribute-details
            class="max-width-full margin-none flex-full-height min-height-30"
            [ngClass]="{ 'disabled': isSaving || isLoadingUsers }"
            [canEdit]="true"
            [isEditing]="true"
            [isReady]="true"
            [columnClass]="'flex-full-40 padding-right-3'"
            [context]="addContext"
            [hideErrors]="hideErrors"
            [isParentModal]="true"
            [isDisabled]="isSaving || isLoadingUsers"
            >
        </inventory-attribute-details>
    </div>
    <div
        class="padding-all-2"
        *ngIf ="canLaunch"
        >
        <ot-checkbox
            class="inline margin-right-half"
            [attr.ot-auto-id]="'SendAssessmentAfterSave'"
            (toggle)="toggleSendAssessment($event)"
            >
        </ot-checkbox>
        <label class="media-bottom text-normal">{{ 'SendAssessmentAfterSave' | otTranslate }}</label>
    </div>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'AddInventoryCloseModalButton'"
            [disabled]="isSaving || isLoadingUsers"
            (click)="closeModal()"
            >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button
            otButton
            neutral
            class="margin-right-1"
            [attr.ot-auto-id]="'AddInventorySaveAndAddNewButton'"
            [loading]="isSaving || isLoadingUsers"
            [disabled]="isSaving || !recordIsValid || !usersValid  || sendAssessment || isLoadingUsers"
            (click)="saveAndAddNew()"
            >
            {{ 'SaveAndAddNew' | otTranslate }}
        </button>
        <button
            otButton
            brand
            [attr.ot-auto-id]="'AddInventorySaveButton'"
            [loading]="isSaving || isLoadingUsers"
            [disabled]="isSaving || !recordIsValid || !usersValid || isLoadingUsers"
            (click)="saveAndClose()"
            >
            {{ 'Save' | otTranslate }}
        </button>
    </footer>
</one-modal-base>
