<div class="full-width text-large text-bold margin-top-bottom-2">
    {{'IAgreeTo'| otTranslate}}
</div>
<div otFormElement
    *ngFor="let purpose of purposes"
    class="margin-bottom-3"
    [label]="purpose.Label"
    >
    <ot-checkbox
        id="{{ purpose.Id }}"
        class="position-absolute top-0 right-0"
        [checked]="isPurposeChecked(purpose.Id)"
        [attr.ot-auto-id]="'consentPreviewCheckbox'+purpose.Id"
        (toggle)="setPurpose(purpose.Id, purpose.Version)"
    ></ot-checkbox>

    <ng-container *ngIf="purpose?.Topics?.length">
        <div class="margin-top-bottom-2 margin-left-2">
            <div class="margin-bottom-2">
                <b>{{ 'Topics' | otTranslate }}</b>
            </div>

            <div otFormElement
                *ngFor="let topic of purpose.Topics"
                class="margin-top-bottom-2 margin-left-2"
                [label]="topic.Name"
            >
                <ot-checkbox
                    id="{{ topic.Id }}"
                    class="position-absolute top-0 right-0"
                    [checked]="isTopicChecked(purpose.Id, topic.Id)"
                    [attr.ot-auto-id]="'consentPreviewCheckbox'+purpose.Id+topic.Id"
                    (toggle)="setTopic(purpose.Id, purpose.Version, topic.Id)"
                ></ot-checkbox>
            </div>
        </div>
    </ng-container>

    <ng-container *ngFor="let customPreference of purpose.CustomPreferences">
        <div class="margin-top-bottom-2 margin-left-2" *ngIf="customPreference?.Options?.length">
            <div class="margin-bottom-2">
                <div>
                    <b>{{ customPreference.Name }}</b>
                </div>

                <div class="max-width-50">
                    {{ customPreference.Description }}
                </div>
            </div>

            <div otFormElement
                *ngFor="let option of customPreference.Options"
                class="margin-top-bottom-2 margin-left-2"
                [label]="option.Label"
            >
                <ot-checkbox
                    id="{{ option.Id }}"
                    class="position-absolute top-0 right-0"
                    [checked]="isCustomPreferenceOptionChecked(purpose.Id, customPreference.Id, option.Id)"
                    [attr.ot-auto-id]="'consentPreviewCheckbox' + customPreference.Id + option.Id"
                    (toggle)="setCustomPreferenceOption(purpose.Id, purpose.Version, customPreference.PurposeCustomPreferenceId, option.Id)"
                ></ot-checkbox>
            </div>
        </div>
    </ng-container>
</div>
