<div class="webform-sidebar column-nowrap height-100 overflow-y-auto">
    <div
        class="row-vertical-center cursor-pointer margin-left-1 margin-top-2"
        ot-auto-id="DSARFormFieldSidebarClose"
        (click)="closeSidebar()"
        >
        <i class="ot ot-arrow-circle-o-left text-medium"></i>
        <span class="margin-left-half text-small">{{"Back" | otTranslate}}</span>
    </div>
    <div class="text-thin-2 text-medium margin-top-2 margin-bottom-1 margin-left-2">
        {{"CreateFormField" | otTranslate}}
    </div>
    <hr class="margin-left-right-1 margin-top-bottom-0">
    <div otFormElement
        class="margin-top-2-half margin-left-2-half width-80-percent text-small"
        [label]="'FieldType' | otTranslate">
        <ot-picklist
            ot-auto-id="DSARFormFieldTypeSelect"
            valueKey="value"
            labelKey="label"
            [options]="options"
            [model]="selectedFieldType"
            (onSelect)="selectFieldType($event)"
        ></ot-picklist>
    </div>
    <div class="margin-top-2-half margin-left-2-half text-small">
        <label>{{ typeLabel | otTranslate }}</label>
        <p >{{ typeDescription | otTranslate }}</p>
    </div>
    <hr class="margin-left-right-1 margin-top-bottom-2">
    <div otFormElement
        ot-auto-id="DSARCreateFormField"
        class="align-self-center"
        (click)="createFormField()"
    >
        <button otButton neutral>
            {{"Create" | otTranslate}}
        </button>
    </div>
</div>
