<div class="webform-sidebar column-nowrap height-100 overflow-y-auto">
    <div class="row-space-between cursor-pointer margin-left-1 margin-top-2">
        <div
            ot-auto-id="DSARFormFieldSave"
            (click)="saveFormField()"
            >
            <i class="ot ot-arrow-circle-o-left text-medium"></i>
            <span class="margin-left-half text-small">{{"SaveAndClose" | otTranslate}}</span>
        </div>
        <div
            ot-auto-id="DSARFormFieldCancel"
            (click)="cancelFormField()"
            >
            <span class="margin-left-half margin-right-1 text-small">{{"Cancel" | otTranslate}}</span>
        </div>
    </div>
    <div class="text-thin-2 text-medium margin-top-3 margin-bottom-1 margin-left-2">
        {{"EditField" | otTranslate}}
    </div>
    <hr class="margin-top-bottom-0">
    <form novalidate [formGroup]="formFieldGroup" class="margin-0-auto">
        <div
            otFormElement
            class="margin-top-2-half margin-left-1 text-small"
            [label]="'Label' | otTranslate"
            [required]="true">
            <input
                otInput
                type="text"
                ot-auto-id="DSARFormFieldLabelBox"
                formControlName="label"
                [placeholder]="'InsertLabelTextHere' | otTranslate"
            />
        </div>
        <div
            otFormElement
            class="margin-top-1 margin-bottom-2 margin-left-1 text-small"
            [label]="'Description' | otTranslate">
            <textarea
                otTextarea
                ot-auto-id="DSARFormFieldDescriptionBox"
                formControlName="description"
                [placeholder]="'InsertDescriptionForTooltipHere' | otTranslate"
            ></textarea>
        </div>
        <div otFormElement
            *ngIf="showOptions['internal']"
            class="row-space-between margin-top-bottom-2 margin-left-1 text-small"
            [label]="'Internal' | otTranslate">
            <ot-toggle
                ot-auto-id="DSARFormFieldInternalToggle"
                [checked]="formFieldGroup.get('isInternal').value"
                (toggle)="formFieldGroup.get('isInternal').setValue($event)"
            >
            </ot-toggle>
        </div>
        <div otFormElement
            *ngIf="showOptions['required']"
            class="row-space-between margin-top-bottom-2 margin-left-1 text-small"
            [label]="'Required' | otTranslate">
            <ot-toggle
                ot-auto-id="DSARFormFieldRequiredToggle"
                [checked]="formFieldGroup.get('isRequired').value"
                (toggle)="formFieldGroup.get('isRequired').setValue($event)"
            >
            </ot-toggle>
        </div>
        <ng-container *ngIf="showOptions['masked']">
            <div otFormElement
            *ngIf="!formFieldGroup.get('isInternal').value"
            class="row-space-between margin-top-bottom-2 margin-left-1 text-small"
            [label]="'MaskEntryInEmail' | otTranslate">
                <ot-toggle
                    ot-auto-id="DSARFormFieldMaskInEmailToggle"
                    [checked]="formFieldGroup.get('isEmailMasked').value"
                    (toggle)="formFieldGroup.get('isEmailMasked').setValue($event)"
                >
                </ot-toggle>
            </div>
        </ng-container>
        <hr class="margin-top-bottom-2">
        <ng-container *ngIf="field.inputType === displayType.Multiselect"
            formArrayName="options">
            <div otFormElement
                class="margin-left-1 text-small"
                [label]="'DisplayType' | otTranslate">
                <ot-picklist
                    ot-auto-id="DSARDisplayTypeSelect"
                    valueKey="value"
                    labelKey="label"
                    [options]="displayTypeOptions"
                    [model]="selectedDisplayType"
                    (onSelect)="selectDisplayType($event)"
                ></ot-picklist>
            </div>
            <hr class="margin-top-bottom-2">
            <div otFormElement
                class="row-space-between margin-bottom-1 margin-left-1 text-small"
                [label]="'EnableMultiSelect' | otTranslate">
                <ot-toggle
                    ot-auto-id="DSARFormFieldMultiselectToggle"
                    [checked]="formFieldGroup.get('isMultiselect').value"
                    (toggle)="formFieldGroup.get('isMultiselect').setValue($event)"
                >
                </ot-toggle>
            </div>
            <div *ngFor="let option of formFieldGroup.get('options')!['controls']; let index = index;"
                class="row-vertical-center margin-top-bottom-2 margin-left-1">
                <div [formGroupName]="index">
                    <input otInput
                        class="width-70-percent"
                        formControlName="value"
                        [attr.ot-auto-id]="'DSARFormFieldOption_'+ index"
                        [placeholder]="'AddYourOption' | otTranslate"
                    />
                    <button otButton
                        type="Button"
                        *ngIf="formFieldGroup.get('options')!['controls'].length > 1"
                        [attr.ot-auto-id]="'DSARFormFieldOptionRemove_' + index"
                        [icon]="'ot ot-minus-circle text-error'"
                        (click)="removeCondition(index)"
                    ></button>
                    <button otButton
                        *ngIf="formFieldGroup.get('options')!['controls'].length < 25"
                        [attr.ot-auto-id]="'DSARFormFieldOptionAdd_' + index"
                        [icon]="'ot ot-plus-circle text-success'"
                        (click)="addCondition()"
                    ></button>
                </div>
            </div>
            <hr class="margin-top-bottom-2">
        </ng-container>
    </form>
</div>
