<div class="webform-sidebar column-nowrap height-100 overflow-y-auto">
    <button otButton
        ot-auto-id="DSARWebformSidebarBackButton"
        class="padding-0 background-none border-none margin-all-1 text-large text-left"
        [ngClass]="{'text-thin text-gray remove-anchor-style': errorOnField, 'blue-anchor-style': !errorOnField}"
        [disabled]="errorOnField"
        (click)="handleAction(dsarStoreActions.EDIT_SIDEBAR_DISABLED, { editSidebarEnabled: false })"
    >
        <i class="fa fa-arrow-circle-o-left"></i>
        {{'Back' | otTranslate}}
    </button>
    <div
        *ngIf="inputToEdit.type && inputToEdit.type === 'submitButton'">
        <div class="text-success text-thin-2 text-medium margin-top-2 margin-bottom-1 margin-left-right-1">
            {{'SubmitButtonText' | otTranslate}}
        </div>
        <hr class="margin-left-right-1 margin-top-bottom-0">
        <div class="margin-all-1">
            {{'ButtonText' | otTranslate}}
            <textarea
                otTextArea
                ot-auto-id="DSARWebformSidebarSubmitButtonTextArea"
                class="one-text-area resize-vertical full-width"
                [ngClass]="{'border-has-error': errorOnSubmitButton}"
                [rows]="2"
                [maxlength]="25"
                [ngModel]="formTranslations['SubmitButtonText'] || ''"
                (ngModelChange)="attachmentInfoChanged($event, 'SubmitButtonText', dsarStoreActions.DEFAULT_WEBFORM_CHANGED)"
            ></textarea>
        </div>
    </div>
    <div *ngIf="!inputToEdit.type">
        <div class="text-success text-thin-2 text-medium margin-top-2 margin-bottom-1 margin-left-right-1">
            {{'Edit' | otTranslate}} {{formTranslations[panelName === "formFields" ? inputToEdit.fieldKey :  inputToEdit.fieldName]}}
        </div>
        <hr class="margin-left-right-1 margin-top-bottom-0">
        <div class="margin-top-1 margin-left-right-1 margin-bottom-half">
            {{'Label' | otTranslate}}
            <textarea otTextArea
                ot-auto-id="DSARWebformSidebarTextArea"
                class="one-text-area resize-vertical full-width"
                [ngClass]="{'border-has-error': errorOnField}"
                [rows]="1"
                [maxlength]="350"
                [ngModel]="formTranslations[panelName === 'formFields' ? inputToEdit.fieldKey :  inputToEdit.fieldName]"
                (ngModelChange)="inputNameChanged($event, 'fieldName')"

            ></textarea>
        </div>
        <hr
            *ngIf="hasDescriptionProperty"
            class="margin-left-right-1 margin-top-bottom-0"
            [ngClass]="{ 'margin-top-1': panelProperty !== 'data' }"
        />
        <div
            *ngIf="hasDescriptionProperty"
            class="margin-all-1"
            >{{'Description' | otTranslate}}
            <textarea
                ot-auto-id="DSARWebformSidebarDescriptionTextArea"
                class="one-text-area resize-vertical full-width"
                [rows]="2"
                [maxlength]="500"
                [ngModel]="formTranslations[inputToEdit.description] || ''"
                [placeholder]="'InsertDescriptionForTooltipHere' | otTranslate"
                (ngModelChange)="inputNameChanged($event, 'description')"
            ></textarea>
        </div>
    </div>
</div>
