<div class="overflow-x-auto">
    <table
        class="inventory-table-new full-width"
        otDataTable
        [rowData]="rows"
        [rowBordered]="true"
        [rowNgClass]="{'slds-is-selected': checkIfRowIsSelected, 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled}"
        (rowClicked)="handleRowClick($event)"
    >

        <ot-data-table-column>
            <ng-template otDataTableHeader [thClass]="'inventory-table-new__action-col'">
                <div>
                    <div class="slds-th__action slds-th__action_form">
                        <span class="slds-checkbox">
                            <input
                                type="checkbox"
                                name="default"
                                id="checkbox-header"
                                value="on"
                                tabindex="-1"
                                [disabled]="!hasEditableRows"
                                [ngModel]="allRowsSelected && hasEditableRows"
                                (click)="toggleAllRowsSelected()"
                            />
                            <label class="slds-checkbox__label" for="checkbox-header">
                                <span class="slds-checkbox_faux text-pointer"></span>
                            </label>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template otDataTableCell let-row="row" tdClass="inventory-table-new__action-col">
                <div>
                    <span
                        class="slds-checkbox"
                        [ngClass]="clickPreventClass">
                        <input
                            type="checkbox"
                            name="default"
                            value="on"
                            tabindex="-1"
                            [attr.id]="'checkbox-row-' + row.id"
                            [ngModel]="selectedRecords[row.id]"
                            [disabled]="!row.isEditable"
                            (click)="toggleRowSelection(row)"
                        />
                        <label class="slds-checkbox__label" [attr.for]="'checkbox-row-' + row.id">
                            <span class="slds-checkbox_faux" [ngClass]="{ 'text-pointer': row.isEditable }"></span>
                        </label>
                    </span>
                </div>
            </ng-template>
        </ot-data-table-column>

        <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">

            <ot-data-table-column
                [headerLabel]="col.nameKey ? (col.nameKey | otTranslate) : col.name"
                [column]="col"
                >
                <ng-template
                    otDataTableHeader
                    [thStyle]="{'padding': '0 1rem'}"
                    >
                    <span
                        [ngClass]="{'block text-center' : columnIndex !== 0}"
                        class="text-bold"
                        >
                        {{ col.nameKey ? (col.nameKey | otTranslate) : col.name }}
                    </span>
                </ng-template>
                <ng-template otDataTableCell let-row="row" tdClass="max-25">
                    <ng-container *ngIf="col.cellType === cellTypes.Link && row.isEditable && hasDetailPermission">
                        <a
                            class="slds-truncate block text-pointer text-link text-bold"
                            title="{{ (row[col.fieldName] | attributeDisplayValue:col) || emptyData }}"
                            [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                            (click)="goToRecord(row, $event)"
                            >
                            {{ (row[col.fieldName] | attributeDisplayValue:col) || emptyData }}
                        </a>
                    </ng-container>
                    <ng-container *ngIf="(col.cellType === cellTypes.Text || !row.isEditable || !hasDetailPermission) && col.cellType !== cellTypes.Risk && col.cellType !== cellTypes.InventoryStatus">
                        <div
                            class="slds-truncate"
                            [ngClass]="columnIndex === 0 ? 'text-left' : 'text-center'"
                            title="{{ (row[col.fieldName] | attributeDisplayValue:col) || emptyData }}"
                            >
                            {{ (row[col.fieldName] | attributeDisplayValue:col) || emptyData }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.cellType === cellTypes.Risk">
                        <div
                            class="actions-table__risk block border-round"
                            *ngIf="row[col.fieldName]"
                            [ngClass]="[clickPreventClass, (riskClasses[row[col.fieldName]] ? riskClasses[row[col.fieldName]] : ''), (actionPermissions.canViewRisks && row.isEditable ? 'cursor-pointer' : '')]"
                            [title]="riskTranslations[row[col.fieldName]] | otTranslate"
                            (click)="goToRisks(row)"
                            >
                            <i class="ot ot-flag color-white"></i>
                        </div>
                        <div
                            class="slds-truncate text-center"
                            *ngIf="!row[col.fieldName]"
                            >
                            {{emptyData}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.cellType === cellTypes.InventoryStatus">
                        <div class="row-horizontal-center">
                            <span
                                *ngIf="row[col.fieldName].key === inventoryStatusOptions.Active"
                                otBadge="success"
                                [innerText]="inventoryStatusTranslationKeys.Active | otTranslate"
                                [otTooltip]="{content: 'InventoryActiveStatusDescription' | otTranslate, placement: 'left', delay: 500}"
                                >
                            </span>
                            <span
                                *ngIf="row[col.fieldName].key === inventoryStatusOptions.Archived"
                                otBadge="destructive"
                                [innerText]="inventoryStatusTranslationKeys.Archived | otTranslate"
                                [otTooltip]="{content: 'InventoryArchivedStatusDescription' | otTranslate, placement: 'left', delay: 500}"
                                >
                            </span>
                            <span
                                *ngIf="row[col.fieldName].key === inventoryStatusOptions.Pending"
                                otBadge="warning"
                                [innerText]="inventoryStatusTranslationKeys.Pending | otTranslate"
                                [otTooltip]="{content: 'InventoryPendingStatusDescription' | otTranslate, placement: 'left', delay: 500}"
                                >
                            </span>
                        </div>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ot-data-table-column>
            <ng-template otDataTableHeader [thStyle]="{'min-width': '6rem'}">
                <div></div>
            </ng-template>
            <ng-template otDataTableCell [tdStyle]="{'min-width': '6rem'}">
                <div></div>
            </ng-template>
        </ot-data-table-column>

        <ng-container *ngIf="!bulkEditMode">
            <ot-data-table-column>
                <ng-template otDataTableHeader [thClass]="'float-col'">
                    <div></div>
                </ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    tdClass="float-col background-transparent"
                    [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                    >
                    <div class="flex height-100 align-center justify-center" [ngClass]="clickPreventClass">
                        <ot-context-menu
                            [type]="2"
                            [menu]="rowActions"
                            [position]="menuPosition"
                            (click)="getActions($event, row)"
                            >
                            <i class="ot ot-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                (click)="item.action(row)"
                                >
                                <span
                                    class="text-left"
                                    [innerText]="item.text"
                                    >
                                </span>
                            </a>
                        </ot-context-menu>
                    </div>

                </ng-template>
            </ot-data-table-column>
        </ng-container>
    </table>
</div>
