<div
    *ngIf="emailForm"
    class="row-nowrap padding-top-1-half"
    >
    <div class="full-width margin-right-1">
        <div
            otFormElement
            class="full-width"
            [label]="'Recipients' | translate"
            [required]="!usePrimaryVendorContact.value"
            >
            <ot-org-user-multi-select
                ot-auto-id="RuleActionRecipientMultiSelect"
                placeholder="Recipients"
                [allowEmail]="true"
                [disabled]="!editMode"
                [traversal]="orgUserTraversal.Branch"
                [userList]="recipientList"
                [fetchOptionsOnClick]="true"
                (onSelect)="selectRecipients($event)"
            ></ot-org-user-multi-select>
        </div>
        <ng-container *ngIf="emailForm.hasError('recipientsMustBeSelected')">
            <p class="text-small text-error margin-none">{{"PleaseEnterARecipient" | translate}}</p>
        </ng-container>
        <div
            otFormElement
            class="margin-top-1 margin-bottom-half"
            >
            <ot-checkbox
                class="inline-block"
                ot-auto-id="RuleActionPrimaryVendorContactCheckbox"
                [disabled]="!editMode"
                [checked]="usePrimaryVendorContact.value"
                (toggle)="togglePrimaryContact($event, toggleType.USE_PRIMARY_VENDOR_CONTACT)"
            ></ot-checkbox>
            <span>{{"VendorsPrimaryContact" | translate}}</span>
        </div>
    </div>
    <div class="flex-static-50 margin-left-1">
        <div
            otFormElement
            class="full-width"
            [label]="'EmailTemplate' | translate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="RuleActionEmailTemplateLookup"
                [disabled]="!editMode"
                [model]="emailTemplateSelected"
                [options]="emailTemplates"
                [placeholder]="'EmailTemplate' | translate"
                (onSelect)="selectTemplate($event)"
            ></ot-picklist>
        </div>
    </div>
</div>
