<div *ngIf="!loading; else LoadingSpinner">
    <section class="padding-all-2 full-width column-horizontal-center">
        <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom width-70-rem">{{ "Overview" | otTranslate }}</h4>

        <div class="width-50-rem">
            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'Name' | otTranslate"
                >
                <span>{{collectionPoint.Name}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'Description' | otTranslate"
                >
                <span>{{collectionPoint.Description}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'Purposes' | otTranslate"
                >
                <ul>
                    <li
                        *ngFor="let purpose of collectionPoint.Purposes"
                        class="margin-bottom-1"
                        >
                        <a (click)="goToPurpose(purpose)">
                            {{purpose.Label}} ({{ purpose.Version | consentVersionLabel }})
                        </a>
                        <div *ngIf="purpose.NewVersionAvailable && collectionPoint.Status === crConstants.CRCollectionPointStatus.Active">
                            <span [otBadge]="'warning'">
                                {{'NewVersionAvailable' | otTranslate}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'Organization' | otTranslate"
                >
                <span>{{selectedOrg.Name}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-2 margin-left-right-auto"
                [label]="'ResponsibleUser' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="CollectionPointInfoResponsibleUser"
                    name="ResponsibleUser"
                    labelKey="FullName"
                    valueKey="Id"
                    [autoClose]="true"
                    [disabled]="!(userList?.length) || !('ConsentResponsibleUserSelect' | otPermit)"
                    [dynamicHeight]="true"
                    [model]="responsibleUser"
                    [options]="userListOptions"
                    [placeholder]="'SelectResponsibleUser' | otTranslate"
                    (inputChange)="onResponsibleUserInputChange($event)"
                    (modelChange)="selectResponsibleUser($event)"
                ></ot-lookup>
            </div>
        </div>

        <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom width-70-rem">{{ "Configuration" | otTranslate }}</h4>

        <div class="width-50-rem">
            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                *ngIf="collectionPointType === crConstants.CRTypes.WebForm || typeCookieBanner()"
                [label]="'TypeOfConsent' | otTranslate"
                >
                <span>{{translateConst(collectionPoint.ConsentType, crConstants.CRConsentTypes)}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                *ngIf="collectionPointType === crConstants.CRTypes.WebForm"
                [label]="'FormUrl' | otTranslate"
                >
                <span>{{collectionPoint.WebFormUrl || "- - - -"}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'PrivacyPolicyUrl' | otTranslate"
                >
                <span>{{collectionPoint.PrivacyPolicyUrl || "- - - -"}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                [label]="'DataSubjectIdentifier' | otTranslate"
                >
                <span>{{collectionPoint.SubjectIdentifier}}</span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                *ngIf="!typeCookieBanner() && collectionPointType !== crConstants.CRTypes.Mobile"
                [label]="'DataElements' | otTranslate"
                >
                <div *ngIf="collectionPoint.DataElements.length > 0">
                    <ul>
                        <li *ngFor="let dataElement of collectionPoint.DataElements">
                            {{dataElement}}
                        </li>
                    </ul>
                </div>
                <div
                    class="margin-bottom-1"
                    *ngIf="collectionPoint.DataElements.length === 0"
                    >
                    - - - -
                </div>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                *ngIf="!typeCookieBanner() && collectionPointType !== crConstants.CRTypes.Mobile && collectionPointType !== crConstants.CRTypes.BulkImport"
                [label]="'DoubleOptIn' | otTranslate"
                >
                <span [otBadge]="collectionPoint.DoubleOptIn | consentDoubleOptInStatusColor"
                    >
                    {{translateConst(getDoubleOptInStatusString(collectionPoint.DoubleOptIn), crConstants.CRDoubleOptInStatus)}}
                </span>
            </div>

            <div otFormElement
                class="margin-bottom-1 margin-left-right-auto"
                *ngIf="collectionPointType !== crConstants.CRTypes.Mobile && collectionPointType !== crConstants.CRTypes.BulkImport"
                [label]="'RedirectUrl' | otTranslate"
                >
                <span>{{collectionPoint.RedirectUrl || "- - - -"}}</span>
            </div>

            <section *ngIf="canEditNoticeFields">
                <div otFormElement
                    class="margin-bottom-1 margin-left-right-auto"
                    [label]="'DataControllerName' | otTranslate"
                    >
                    {{collectionPoint.DataControllerName || "- - - -"}}
                </div>

                <div otFormElement
                    class="margin-bottom-1 margin-left-right-auto"
                    [label]="'RightToWithdraw' | otTranslate"
                    >
                    {{collectionPoint.RightToWithdraw || "- - - -"}}
                </div>

                <div otFormElement
                    class="margin-bottom-1 margin-left-right-auto"
                    [label]="'HowToWithdraw' | otTranslate"
                    >
                    {{collectionPoint.HowToWithdraw || "- - - -"}}
                </div>

                <div otFormElement
                    class="margin-bottom-1 margin-left-right-auto"
                    [label]="'OtherInformation' | otTranslate"
                    >
                    {{collectionPoint.OtherInformation || "- - - -"}}
                </div>
            </section>
        </div>
    </section>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>