<div otFormElement [hasError]="error" [errorMessage]="error | translate">
    <ot-lookup
        otClickHandler="outside"
        [autoClose]="true"
        [disabled]="disabled"
        [isGroupKey]="groupLabelKey"
        [hasLazyLoad]="true"
        [labelKey]="labelKey"
        [loading]="loading$ | async"
        [model]="modelForLookup$ | async"
        [options]="options$ | async"
        [placeholder]="lookupPlaceholderKey | translate"
        [valueKey]="valueKey"
        [virtualScroll]="true"
        (inputChange)="onInputChange($event)"
        (onScrollEnd)="updateOptions($event)"
        (modelChange)="onModelChange($event)"
        (click)="onComponentClick()"
        (firstOptionSelect)="onAllowEmailSelect()"
    >
        <ng-template otFirstOption *ngIf="allowEmail && allowEmailInput">
            <span
                role="option"
                ot-auto-id="OtOrgUserAllowEmailOption"
                >
                {{allowEmailPrependTextKey | translate}}: {{allowEmailInput}}
            </span>
        </ng-template>
    </ot-lookup>
</div>
