<ot-setting
    *ngIf="settingMeta.isVisible || settings[settingMeta.visibleString]"
    [description]="settingMeta?.description | otTranslate"
    [title]="settingMeta?.title | otTranslate"
>
        <a
            *ngIf="settingMeta?.showLink"
            [innerText]="settingMeta?.linkText | otTranslate"
            (click)="handleAction($event, settingMeta.linkType)"
        ></a>
    <ng-container [ngSwitch]="settingMeta.type">
        <ot-toggle
            *ngSwitchCase="settingsType.TOGGLE"
            [attr.ot-auto-id]="'Settings' + settingMeta.title"
            [checked]="settings[settingMeta.actionType]"
            [disabled]="settingMeta?.isDisabled || isDisabled"
            (toggle)="handleAction($event, settingMeta.actionType)"
        ></ot-toggle>
        <ot-checkbox
            *ngSwitchCase="settingsType.CHECKBOX"
            [attr.ot-auto-id]="'Settings' + settingMeta.title"
            [checked]="settings[settingMeta.actionType]"
            [disabled]="settingMeta?.isDisabled || isDisabled"
            (toggle)="handleAction($event, settingMeta.actionType)"
        ></ot-checkbox>
        <input otInput
            *ngSwitchCase="settingsType.NUMBER"
            class="max-10 padding-right-0"
            type="number"
            [attr.ot-auto-id]="'Settings' + settingMeta.title"
            [max]="settingMeta.maxValue"
            [min]="settingMeta.minValue"
            [(ngModel)]="settings[settingMeta.actionType]"
            [step]="settingMeta.stepValue"
            [disabled]="settingMeta?.isDisabled || isDisabled"
            (change)="handleAction($event, settingMeta.actionType, settingMeta.minValue, settingMeta.maxValue)"
            (keyup)="handleAction($event, settingMeta.actionType, settingMeta.minValue, settingMeta.maxValue)"
        />
        <ot-picklist
            *ngSwitchCase="settingsType.PICKLIST"
            class="min-width-20"
            [attr.ot-auto-id]="'Settings' + settingMeta.title"
            [autoClose]="true"
            [disabled]="settingMeta?.isDisabled || isDisabled"
            [placeholder]="settingMeta?.placeholder | otTranslate"
            [labelKey]="settingMeta.labelKey"
            [model]="settings[settingMeta.actionType]"
            [options]="settingMeta.options"
            [valueKey]="settingMeta.valueKey"
            (onSelect)="handleAction($event, settingMeta.actionType)"
        ></ot-picklist>
        <ot-lookup
            *ngSwitchCase="settingsType.LOOKUP"
            class="min-width-20 inline-block"
            [attr.ot-auto-id]="'Settings' + settingMeta.title"
            [disabled]="settingMeta?.isDisabled || isDisabled"
            [placeholder]="settingMeta?.placeholder | otTranslate"
            [labelKey]="settingMeta.labelKey"
            [valueKey]="settingMeta.valueKey"
            [autoClose]="true"
            [multiSelect]="settingMeta?.isMultiselect"
            [model]="settings[settingMeta.actionType]"
            [options]="settingMeta.options"
            (modelChange)="handleAction($event, settingMeta.actionType)"
        ></ot-lookup>
        <div
            *ngSwitchCase="settingsType.TEXTAREA"
            otFormElement
        >
            <textarea
                otTextarea
                [attr.ot-auto-id]="'Settings' + settingMeta.title"
                [placeholder]="settingMeta.placeholder">
            </textarea>
        </div>
    </ng-container>
    <ng-container
        otSettingChild
        *ngIf="settingMeta?.children?.length"
    >
        <settings-generator
            *ngFor="let meta of settingMeta.children; trackBy: trackByFn; let index = index"
            [settingMeta]="meta"
            [settings]="settings"
            [isDisabled]="isDisabled"
            (handleSettingAction)="handleAction($event)"
            (settingLinkCallback)="settingLinkClick($event)"
        >
        </settings-generator>
    </ng-container>
</ot-setting>
