<div class="full-size column-nowrap overflow-hidden background-white">
    <ot-page-header [title]="'Roles' | otTranslate">
        <div>
            <button otButton brand
                *ngIf="viewPermissions.create"
                ot-auto-id="RolesListPageRolesAddBtn"
                [innerText]="'AddRole' | otTranslate"
                (click)="goToAddRole()"
            ></button>
            <button otButton neutral
                *ngIf="viewPermissions.import"
                class="margin-left-1"
                ot-auto-id="RolesListPageRolesImportBtn"
                [innerText]="'Import' | otTranslate"
                (click)="openImportModal()"
            ></button>
        </div>
    </ot-page-header>
    <div class="static-vertical row-flex-end background-grey border-bottom padding-top-bottom-half padding-right-2">
        <ot-search-input
            class="margin-right-1"
            ot-auto-id="RolesListPageSearchInputFilter"
            [placeholder]="'Search' | otTranslate"
            [searchOnEnter]="true"
            [model]="searchName"
            (search)="onSearchName($event)"
        ></ot-search-input>
        <button otButton
            ot-auto-id="RolesListPageFilterActivate"
            [select]="filterApplied"
            [icon]="'ot ot-filter'"
            [otPopover]="filterUsersPopup"
            [modifierClass]="'users-filter__popover'"
            [position]="'bottom-right'"
            [size]="'medium'"
            [isOpen]="filterIsOpen"
            (toggled)="onToggle($event)"
            (click)="onToggle(!filterIsOpen)"
        ></button>
        <ng-template #filterUsersPopup>
            <div class="row-space-between margin-bottom-half">
                <div class="slds-dropdown__item text-left">
                    <button otButton
                        *ngIf="filterApplied"
                        class="blue-anchor-style shadow-none padding-none"
                        ot-auto-id="RolesListPageClearAllFilters"
                        [innerText]="'ClearFilters' | otTranslate"
                        (click)="clearAllFiters()"
                    ></button>
                </div>
                <div class="slds-dropdown__item text-right">
                    <button otButton neutral
                        class="static-horizontal padding-left-right-half border-none shadow-none text-large"
                        ot-auto-id="RolesListPageCloseFilters"
                        [icon]="'ot ot-times'"
                        (click)="onToggle(false)"
                    ></button>
                </div>
            </div>
            <ul class="slds-dropdown__list" role="form">
                <li class="slds-dropdown__item margin-bottom-1">
                    <div otFormElement>
                        <org-select
                            ot-auto-id="RolesListPageOrgSelect"
                            [model]="selectedOrg"
                            [placeholder]="'ManagedBy' | otTranslate"
                            [required]="true"
                            [hideClearAction]="true"
                            (onSelect)="selectOrganization($event)"
                        ></org-select>
                    </div>
                </li>
                <li class="slds-dropdown__item text-right margin-bottom-1">
                    <button otButton brand
                        ot-auto-id="RolesListPageFilterApplyAction"
                        [innerText]="'Apply' | otTranslate"
                        [disabled]="!selectedOrg"
                        (click)="orgFilter()"
                    ></button>
                </li>
            </ul>
        </ng-template>
    </div>
    <ot-loading otPageLoading *ngIf="!ready"></ot-loading>
    <div *ngIf="ready" class="overflow-auto position-relative stretch-vertical">
        <table
            *ngIf="rolesList"
            otDataTable
            class="full-width border-top-none"
            [rowData]="rolesList.content"
            [rowBordered]="true"
            >
            <ng-container *ngFor="let col of columns">
                <ot-data-table-column>
                    <!-- Header Section -->
                    <ng-template otDataTableHeader>
                        <div
                            class="padding-left-right-1"
                            [ngClass]="col.columnIndex ? 'text-left' : 'text-center'"
                            >
                            <span
                                class="slds-truncate text-bold"
                                [innerText]="col.columnName"
                            ></span>
                        </div>
                    </ng-template>
                    <!-- Data Section -->
                    <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-30'">
                        <ng-container *ngIf="col.columnType === tableColumnTypes.Link">
                            <div class="slds-truncate text-bold">
                                <a
                                    class="slds-truncate block text-pointer text-link text-bold text-left"
                                    ot-auto-id="AdminRolesNavigateLink"
                                    (click)="handleNameClick(row.Id)"
                                >
                                    {{row[col.cellValueKey]}}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.columnType === tableColumnTypes.Text">
                            <div
                                class="slds-truncate text-center"
                                title="{{row[col.cellValueKey]}}"
                                [innerText]="row[col.cellValueKey]">
                            </div>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
            <ot-data-table-column>
                <ng-template otDataTableHeader [thClass]="'float-col'"></ng-template>
                <ng-template otDataTableCell
                    let-row="row"
                    [tdClass]="'background-transparent text-left center-block float-col'"
                    [tdStyle]="{'background': 'transparent'}"
                    >
                    <ot-context-menu
                        [type]="2"
                        [menu]="row.dropDownMenu"
                        [position]="menuPosition"
                        (click)="setMenuClass($event)"
                        >
                        <i class="fa fa-ellipsis-h"></i>
                        <a *otContextMenuItem="let item"
                            (click)="handleActionClicks(row, item.value)"
                            >
                            {{ item.text }}
                        </a>
                    </ot-context-menu>
                </ng-template>
            </ot-data-table-column>
        </table>
        <ot-empty-state
            *ngIf="!rolesList.content?.length"
            class="margin-top-3"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            >
            <img emptyStateImg />
        </ot-empty-state>
    </div>
    <footer
        otPaginationFooter
        *ngIf="rolesList"
        class="height-5">
        <ot-pagination
            [currentPage]="rolesList.page.number + 1"
            [numPages]="rolesList.page.totalPages"
            (pageChanged)="loadRoles($event- 1)"
        ></ot-pagination>
        <span>{{ rolesList.page | otPageMeta }}</span>
    </footer>
</div>
