<div
    class="incident-assessment-table position-relative"
    *ngIf="table?.rows"
    >
    <table
        otDataTable
        class="border-top-none"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="table.rows"
        [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                >

                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-width-30"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                        [deprecatedOtTooltip]="col.name"
                        [delay]="100"
                        [position]="'top'"
                        >
                        <span class="slds-truncate text-bold">{{col.name}}</span>
                    </div>
                </ng-template>

                <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-20'">
                    <ng-container [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="tableColumnTypes.Link">
                            <div
                                class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <a
                                    ot-auto-id="IncidentListCellLink"
                                    [deprecatedOtTooltip]="row[col.cellValueKey]"
                                    [delay]="100"
                                    [position]="'top-left'"
                                    (click)="goToRoute(row)"
                                    >
                                    {{row[col.cellValueKey]}}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Date">
                            <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                <span>{{ row[col.cellValueKey] | otDate }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Deadline">
                            <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                <one-deadline-label [deadline]="row[col.cellValueKey]" [showDeadline]="showDeadline"></one-deadline-label>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Risk">
                            <div
                                *ngIf="row[col.cellValueKey] || row['assessmentRiskLevelId']; else noRisk"
                                class="slds-truncate slds-text-align_center"
                                >
                                <button otButton neutral
                                    class="assessment-grid__assessment-risklevel flex margin-left-1 box-shadow-none padding-none"
                                    >
                                    <div
                                        class="assessment-grid__assessment-risklevel-flag-width border-round"
                                        [ngStyle]="{'background-color': row['assessmentRiskLevelId'] | otRiskColor }"
                                        title="{{riskLevel[row['assessmentRiskLevelId']] | otTranslate}}"
                                        >
                                        <i class="ot ot-flag color-white media-middle"></i>
                                    </div>
                                    <span
                                        *ngIf="row[col.cellValueKey]  && row[col.cellValueKey] != 0; else noRiskScore"
                                        class="assessment-grid__assessment-risklevel-score text-bold"
                                        >
                                        {{row[col.cellValueKey]}}
                                    </span>
                                    <ng-template #noRiskScore>
                                        <div class="slds-truncate text-center padding-left-half text-bold">
                                            -
                                        </div>
                                    </ng-template>
                                </button>
                            </div>
                            <ng-template #noRisk>
                                <div class="assessment-grid__none-risk slds-truncate text-center">
                                    - - - -
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Status">
                            <div
                                class="slds-truncate slds-text-align_center"
                                [deprecatedOtTooltip]="assessmentStatusName(row[col.cellValueKey])"
                                [delay]="100"
                                [position]="'top'"
                                >
                                <span
                                    [otBadge]="row[col.cellValueKey] | badgeColor: incidentBadgeColorMap"
                                    [innerText]="assessmentStatusName(row[col.cellValueKey])"
                                    >
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Text">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [deprecatedOtTooltip]="row[col.cellValueKey]"
                                [delay]="100"
                                [position]="'top'"
                                >
                                <span>{{row[col.cellValueKey]}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="col.type === 'action'">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        [thClass]="'float-col'"
                        [thStyle]="{'width': 0}"
                    ></ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        [tdClass]="'float-col'"
                        >
                        <upgraded-one-dropdown
                            class="flex height-100 align-center justify-center"
                            [icon]="'ot ot-ellipsis-h'"
                            [hideCaret]="true"
                            [alignRight]="true"
                            [getOptions]="getActions(row)"
                            [buttonClass]="'actions-table__context-btn'"
                            [listClass]="menuClass"
                        ></upgraded-one-dropdown>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
    <ot-empty-state
        class="flex-full-height justify-center text-center padding-all-2"
        *ngIf="table?.rows && !table.rows.length && metaData?.first"
        [emptyStateMessage]="'NoRecordsFound' | otTranslate"
        >
        <img emptyStateImg />
        <button
            *ngIf="('IncidentRecordsView' | otPermit)"
            ot-auto-id="IncidentAssessmentTableLinkAssessment"
            otButton
            brand
            empty-state-content
            (click)="onLinkAssessment.emit()"
            >
            {{ 'LinkAssessment' | otTranslate }}
        </button>
    </ot-empty-state>

    <ng-template #removeAssessmentPopover>
        <span>{{ incidentTranslationKeys.removeLinkIncidentToolTip | otTranslate }}</span>
    </ng-template>
</div>
