loading(ng-if='!Ready', text='{{::$root.t("Assessment")}}')
.full-size.column-nowrap.overflow-hidden.background-grey(ng-if='Ready')

    header.readiness-assessment__header.old-one-header
        span.old-one-header__title
            | {{Assessment.Name}} / {{::$root.t("Assessment") }}

    .overflow-hidden.position-relative.stretch-vertical.row-nowrap
        nav.readiness-assessment__sidebar
            section-nav(sections='Assessment.Sections', section-callback='changeSection', section-index='selectedSectionIndex', show-numbers='true', show-count='true')
        section.readiness-assessment__body.background-white
            section.readiness-assessment__content.min-height-1
                #readiness-section-scroller.flex-full-height.overflow-y-auto(ng-if='!currentlySelectedSection.IsSkipped')
                    // Welcome Section
                    welcome-section.readiness-assessment__section(
                        ng-if='currentlySelectedSection.Questions[0].Type === questionTypes.Content',
                        project='Assessment',
                        section='currentlySelectedSection',
                        editable='true',
                        resources='Permissions',
                        show-header='false',
                        )
                    // Other Sections
                    ul.readiness-assessment__section(ng-if='currentlySelectedSection.Questions[0].Type !== questionTypes.Content')
                        li.readiness-assessment__question(ng-repeat='Question in currentlySelectedSection.Questions track by $index', ng-hide='Question.IsSkipped')
                            .readiness-assessment__question-content
                                label.readiness-assessment__question-number
                                    h4 {{currentlySelectedSection.Number}}.{{Question.Number}}
                                .readiness-assessment__question-container
                                    question(
                                        question='Question',
                                        section='currentlySelectedSection',
                                        project='Assessment',
                                        events='questionEvents'
                                    )
                                    .readiness-assessment__question-action
                                        button.readiness-assessment__question-action-option(ng-click='OpenAttachmentModal(Question)')
                                            span.fa-stack
                                                i.fa.fa-stack-1x.fa-file
                                                i.fa.fa-stack-1x.notification(ng-if='Question.HasAttachments')
                                            | {{::$root.t("Attachments") }}
    footer.readiness__footer
        .margin-right-1
            one-button.margin-right-1(
                is-disabled='previousSectionDisabled()',
                button-click='previousSection()',
                icon='fa fa-chevron-left',
                text='{{::$root.t("PreviousSection")}}'
            )
            one-button(
                is-disabled='nextSectionDisabled()',
                button-click='nextSection()',
                right-side-icon='fa fa-chevron-right',
                text='{{::$root.t("NextSection")}}'
            )
        one-button.margin-right-1(
            button-click='goToReport()',
            text='{{::$root.t("ViewReport")}}'
        )
        one-button(
            type='primary',
            button-click='goToDashboard()',
            text='{{$root.t("Done")}}'
        )

include ../Projects/Modals/AttachmentModal.jade
