.readiness-dashboard
    loading(ng-if='!Ready', text='{{::$root.t("Dashboard")}}')
    loading(ng-if='CreatingAssessment', text='{{::$root.t("CreatingAssessment")}}', show-loading-prefix='false')
    .readiness-dashboard__container(ng-if='Ready')

        header.readiness-dashboard__header.old-one-header
            p.readiness-dashboard__header-title.old-one-header__title
                | {{::$root.t('ReadinessDashboard')}}

        section.readiness-dashboard__key
            .readiness-dashboard__key-container
                label.readiness-dashboard__key-label
                    | {{::$root.t('Legend')}}
                ul.readiness-dashboard__key-list
                    li.readiness-dashboard__key-item(ng-repeat='item in graphKey track by $index')
                        .readiness-dashboard__key-swatch(ng-class='item.class')
                        label.readiness-dashboard__key-text
                            | {{item.text}}

        .readiness-dashboard__list-container
            ul.readiness-dashboard__list
                li.readiness-dashboard__item(
                    ng-repeat='assessment in assessmentData track by $index',
                    ng-if='!(settings.ReadinessSamplesHidden && assessment.IsSample)')
                    .readiness-dashboard__item-container
                        h2.readiness-dashboard__item-title
                            | {{assessment.Name}}
                        .readiness-dashboard__item-graph
                            horseshoe-graph.readiness-dashboard__item-graph-svg(
                                size='200',
                                stroke='30',
                                list='assessment.graphData',
                                title='{{assessment.readyPercentage}}%',
                                subtitle="{{::$root.t('Ready')}}",
                                count-text='{{assessment.completedRatio}}'
                            )
                            button.readiness-dashboard__item-graph-btn(ng-click='goToAssessment(assessment)')
                                span(ng-if='!assessment.notStarted')
                                    | {{::$root.t("Continue")}}
                                span(ng-if='assessment.notStarted')
                                    | {{::$root.t("Start")}}
                        .readiness-dashboard__item-textlink-container(ng-if='!assessment.notStarted')
                            button.readiness-dashboard__item-textlink(ng-click='goToReport(assessment.ProjectId)')
                                | {{::$root.t('ViewReport')}}
                            button.readiness-dashboard__item-textlink(ng-click='exportPDF(assessment)')
                                span(ng-if='!assessment.loadingPDF') {{::$root.t('DownloadPdf')}}
                                loading(ng-if='assessment.loadingPDF', show-text='false')

                // Empty spacers for layout
                li.readiness-dashboard__item.readiness-dashboard__item--spacer(ng-repeat='spacer in spacers track by $index')
