.readiness-report.full-size.column-nowrap.overflow-hidden
    loading(ng-if='!Ready', text='{{::$root.t("Report")}}')
    .readiness-report__wrapper(ng-if='Ready')

        header.readiness-report__header.old-one-header
            span.old-one-header__title
                | {{Assessment.Name}} / {{::$root.t("Report") }}
            .one-header__container
                button.readiness-report__header-button(ng-click='exportPDF()')
                    span(ng-if='!loadingPDF')
                        | {{::$root.t("ExportPdf") }}
                    loading(ng-if='loadingPDF', show-text='false')

        .readiness-report__body.height-100
            ul.readiness-report__list
                li.readiness-report__item(ng-repeat='section in Assessment.Sections track by $index', ng-if='!section.IsSkipped && ($index !== 0)')
                    button.readiness-report__section(ng-click='toggleSection(section)', ng-class='{"is-active": section.isActive}')
                        span.readiness-report__section-name
                            | {{section.Number}}
                            | &nbsp;- {{section.Name}}

                        .readiness-report__section-readiness
                            i.readiness-report__section-risk(ng-if='section.Risk.Level', ng-class='section.riskClass')
                            i.readiness-report__section-risk.fa.fa-question.no-answer(ng-if='!section.Risk.Level && section.UnansweredCount', ng-class='section.riskClass')
                            i.readiness-report__section-risk.ot.ot-check.no-risk(ng-if='!section.Risk.Level && !section.UnansweredCount', ng-class='section.riskClass')
                            | {{section.NoRiskPercentage}}% {{::$root.t("Ready") }}
                        i.readiness-report__section-arrow.fa.fa-caret-up(ng-if='section.isActive')
                        i.readiness-report__section-arrow.fa.fa-caret-down(ng-if='!section.isActive')
                    section.readiness-report__questions(expand='section.isActive', transition='300')

                        ul.readiness-report__key
                            li.readiness-report__key-item
                                i.ot.ot-check.readiness-report__key-icon.none
                                label.readiness-report__key-text
                                    | {{::$root.t("Ready") }} - {{section.NoRiskPercentage}}%
                            li.readiness-report__key-item
                                i.fa.fa-flag.readiness-report__key-icon.medium
                                label.readiness-report__key-text
                                    | {{::$root.t("GapIdentified") }} - {{section.TotalRiskPercentage}}%
                            li.readiness-report__key-item
                                i.fa.fa-question.readiness-report__key-icon.unanswered
                                label.readiness-report__key-text
                                    | {{::$root.t("Unanswered") }} - {{section.UnansweredPercentage}}%

                        .readiness-report__table-wrapper
                            table.readiness-report__table
                                thead.readiness-report__table-header
                                    tr.readiness-report__table-header-row
                                        th.readiness-report__table-header-cell
                                            | {{::$root.t("Status") }}
                                        th.readiness-report__table-header-cell.readiness-report__table-header-cell--long
                                            | {{::$root.t("Question") }}
                                        th.readiness-report__table-header-cell.readiness-report__table-header-cell--long
                                            | {{::$root.t("Answer") }}
                                        th.readiness-report__table-header-cell.readiness-report__table-header-cell--long
                                            | {{ $root.translations.Recommendation }}
                                        th.readiness-report__table-header-cell
                                            | {{::$root.t("Evidence") }}
                                tbody.readiness-report__table-body
                                    tr.readiness-report__table-body-row(ng-repeat='question in section.Questions track by $index', ng-if='!question.IsSkipped')
                                        td.readiness-report__table-body-cell
                                            i.readiness-report__section-risk(ng-class='question.riskClass', ng-if='question.Risk')
                                            i.readiness-report__section-check.ot.ot-check(ng-if='!question.Risk && question.Responses.length')
                                            i.readiness-report__section-x.fa.fa-question(ng-if='!question.Risk && !question.Responses.length')
                                        td.readiness-report__table-body-cell.readiness-report__table-body-cell--long
                                            | {{section.Number}}.{{question.Number}} - {{question.Name}}
                                        td.readiness-report__table-body-cell.readiness-report__table-body-cell--center-last
                                            | {{question.AnswerString}}
                                        td.readiness-report__table-body-cell.readiness-report__table-body-cell--long
                                            span(ng-if='question.Risk.Recommendation')
                                                | {{question.Risk.Recommendation}}
                                            span.placeholder(ng-if='!question.Risk.Recommendation')
                                                | - - - -
                                        td.readiness-report__table-body-cell
                                            button.readiness-assessment__question-action-option(ng-click='OpenAttachmentModal(question)')
                                                i.fa.fa-plus(ng-if='!question.HasAttachments')
                                                span.fa-stack(ng-if='question.HasAttachments')
                                                    i.fa.fa-stack-1x.fa-file
                                                    i.fa.fa-stack-1x.notification

        footer.readiness__footer
            one-button.margin-left-1(
                button-click="goToAssessment()",
                identifier="readinessGoToAssessmentButton",
                text="{{::$root.t('GoToAssessment') }}"
            )
            one-button.margin-left-1(
                button-click="goToDashboard()",
                identifier="readinessGoToDashboardButton",
                text="{{::$root.t('Done') }}",
                type="primary",
            )
// Modals
include ../Projects/Modals/AttachmentModal.jade
