<div class="flex-full-height static-horizontal height-100">
    <div class="row-nowrap width-80-percent margin-bottom-2 static-vertical">
        {{ "OrganizationVisibilityFiltersInstructionalText" | translate }}
    </div>
    <div
        otFormElement
        class="width-40-rem margin-bottom-2 static-vertical"
        [label]="'SelectOrganization' | translate"
        [required]="true"
        >
        <org-select
            identifier="InventoryManageVisibilityOrgSelect"
            describedBy="InventoryManageVisibilityOrgSelect"
            [placeholder]="'Organization' | translate"
            [disabled]="saveEnabled || saving"
            [model]="selectedOrgId"
            [triggerButton]="true"
            [searchDelimiter]="1"
            (onSelect)="selectOrg($event)"
        ></org-select>
    </div>
    <div class="flex-full-height border-top">
        <ng-container *ngIf="selectedOrgId; else noOrgSelected">
            <ng-container *ngIf="loading; else showElementList">
                <ot-loading otPageLoading class="flex-full-height"></ot-loading>
            </ng-container>
            <ng-template #showElementList>
                <div class="background-eggshell row-vertical-center space-between border-bottom padding-left-right-2 min-height-5 height-5">
                    <div class="row-vertical-center width-50-percent">
                        <div class="text-large margin-right-2 text-bold overflow-ellipsis text-nowrap">
                            {{ selectedOrg.Name }}
                        </div>
                        <span
                            *ngIf="override"
                            otBadge="primary"
                            >
                            {{ "Override" | translate }}
                        </span>
                    </div>
                    <div
                        class="row-vertical-center margin-left-auto"
                        [otTooltip]="'OverrideFromParentTooltipText' | translate"
                        >
                        <span class="margin-right-1">{{ "Override" | translate }}</span>
                        <i class="ot ot-info-circle margin-right-1"></i>
                        <ot-toggle
                            ot-auto-id="InventoryManageVisibilityOverrideFromParentToggle"
                            [checked]="override"
                            [disabled]="!dataCategoryList?.length || saving"
                            (toggle)="toggleOverride($event)"
                        ></ot-toggle>
                    </div>
                </div>
                <div class="row-vertical-center space-between background-white padding-left-right-1 border-bottom min-height-5">
                    <div
                        class="row-vertical-center"
                        [otTooltip]="{content: 'AutoAddElementsTooltipText' | translate, placement: 'right'}"
                        >
                        <ot-checkbox
                            class="inline margin-right-1"
                            ot-auto-id="InventoryManageVisibilityAutoAddElementsCheckbox"
                            [checked]="override ? autoAddElements : inheritedAutoAddElements"
                            [disabled]="!override || saving || !dataCategoryList?.length"
                            (toggle)="toggleAutoAddElements($event)"
                            >
                        </ot-checkbox>
                        {{ "AutomaticallyAddNewElements" | translate }}
                    </div>
                    <div class="min-width-30">
                        <ot-search-input
                            name="InventoryManageVisibilitySearchElementInput"
                            class="width-30-percent max-width-50 min-width-20"
                            ot-auto-id="InventoryManageVisibilitySearchElementInput"
                            [model]="elementSearchTerm"
                            [disabled]="saving || !dataCategoryList?.length"
                            [placeholder]="'SearchByDataElementOrDataCategory' | translate"
                            (search)="handleElementSearch($event)"
                        ></ot-search-input>
                    </div>
                </div>
                <div class="overflow-y-auto max-width-full" [ngClass]="{'flex-full-height': !filteredCategoryList?.length}">
                    <div class="width-100-percent margin-left-right-0" [ngClass]="{'flex-full-height': !filteredCategoryList?.length}">
                        <ng-container *ngIf="filteredCategoryList?.length; else noElementsAvailable">
                            <div
                                *ngFor="let category of filteredCategoryList; let categoryIndex = index; trackBy: trackById"
                                class="border-bottom full-width"
                                >
                                <div class="background-eggshell border-bottom row-vertical-center padding-left-right-1 text-bold height-4">
                                    <div
                                        class="overflow-ellipsis text-nowrap"
                                        [title]="category.name"
                                        [innerHTML]="category.name | highlight: elementSearchTerm"
                                    ></div>
                                </div>
                                <div class="row-vertical-center border-bottom padding-left-right-1 width-100-percent height-5">
                                    <ot-checkbox
                                        class="inline margin-right-1"
                                        ot-auto-id="InventoryManageVisibilitySelectAllCategoryCheckbox"
                                        [partialCheck]="category.hasSelections && !category.allSelected"
                                        [checked]="category.allSelected"
                                        [disabled]="!override || saving"
                                        (toggle)="selectAllCategoryElements(category)"
                                        >
                                    </ot-checkbox>
                                    {{ "SelectAll" | translate }}
                                </div>
                                <div class="row-wrap">
                                    <div
                                        *ngFor="let element of category.dataElements; let elementIndex = index; trackBy: trackById"
                                        class="inventory-manage-visibility__grid-cell padding-all-1 inline-block cursor-pointer row-nowrap"
                                        [attr.ot-auto-id]="'InventoryManageVisibilityElementCell_' + category.name + '_' + element.name"
                                        [ngClass]="{'inventory-manage-visibility__grid-cell--even': category.dataElements.length % 2 === 0 }"
                                        (click)="toggleElement(category.id, element.id)"
                                        >
                                        <div class="width-100-percent row-nowrap">
                                            <div class="column-nowrap">
                                                <ot-checkbox
                                                    class="inline margin-right-1"
                                                    [attr.ot-auto-id]="'InventoryManageVisibilityElementCheckbox_' + category.name + '_' + element.name"
                                                    [checked]="override ?
                                                        elementMap[category.id][element.id] :
                                                        inheritedElementMap && inheritedElementMap[category.id] ?
                                                        inheritedElementMap[category.id][element.id] : true"
                                                    [disabled]="!override || saving"
                                                    (toggle)="toggleElement(category.id, element.id)"
                                                    >
                                                </ot-checkbox>
                                            </div>
                                            <div class="column-nowrap width-100-percent">
                                                <div
                                                    class="margin-bottom-0 text-bold text-small"
                                                    [innerHTML]="element.name | highlight: elementSearchTerm"
                                                ></div>
                                                <div class="text-italic text-xsmall">{{ element.description || '' }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #noElementsAvailable>
                            <ot-empty-state
                                class="flex-full-height column-vertical-center padding-0"
                                [emptyStateMessage]="'NoElementsAvailable' | translate"
                                >
                                <img emptyStateImg />
                            </ot-empty-state>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #noOrgSelected>
            <ot-empty-state
                class="flex-full-height column-vertical-center padding-0 width-100-percent text-center"
                [emptyStateMessage]="'SelectAnOrganizationToConfigure' | translate"
                >
                <img emptyStateImg />
            </ot-empty-state>
        </ng-template>
    </div>
</div>
