.inventory-manage-visibility {

    &__grid-cell {

        &:last-child {
            border-bottom: none;
        }

        &:nth-child(even) {
            border-right: none;
        }

        @media (min-width: $small) {
            width: 100%;
            border-right: none;
            border-bottom: solid 1px $grey-2;
            &:last-child {
                border-bottom: none;
            }
        }

        @media (min-width: $medium) {
            width: 50%;
            &:nth-child(odd) {
                border-right: solid 1px $grey-2;
            }

            &--even {
                &:nth-last-child(2) {
                    border-bottom: none;
                }
            }
        }
    }

}
