<div class="search-scroller text-nowrap row-vertical-center">
    <ot-search-input
        class="full-width"
        [model]="searchTerm"
        [placeholder]="placeholder || ('Search' | otTranslate)"
        (search)="onSearch($event)"
        >
    </ot-search-input>
    <span
        class="margin-left-right-1"
        [innerText]="'CountOfTotal' | otTranslate: { Count: searchTerm && count ? currentSelectionIndex + 1 : 0, Total: searchTerm ? count : 0 }"
        >
    </span>
    <i
        class="ot ot-angle-down margin-right-1"
        [ngClass]="{'disabled': !count || currentSelectionIndex + 1 === count}"
        (click)="incrementSelection()"
        >
    </i>
    <i
        class="ot ot-angle-up margin-right-1"
        [ngClass]="{'disabled': !count || currentSelectionIndex === 0}"
        (click)="decrementSelection()"
        >
    </i>
</div>
