<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'Topics' | otTranslate"
        >
        <button otButton brand
            ot-auto-id="topicAddNewBtn"
            [innerText]="'AddNew' | otTranslate"
            (click)="addNewTopics()"
        ></button>
    </ot-page-header>
    <div class="full-width position-relative flex-full-height overflow-hidden">
        <cr-table
            class="flex-full-height"
            [columns]="columns"
            [rows]="tableData"
            [loading]="searchInProgress"
            [resizable]="false"
            (pageChange)="searchTopics($event)"
            (goToRoute)="goToRoute($event)"
            noDataKey="NoTopicsFound"
        ></cr-table>
    </div>
</div>