<ot-modal-header (close)="closeModal()">
    <div>{{ 'Task' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="dsar-response-sub-task-modal max-height-35 overflow-x-hidden">
    <form name="responseTaskForm" novalidate>
        <div>
            <div [ngClass] ="{'row-nowrap': isSystemTask}">
                <div [ngClass] ="{'width-50-percent': isSystemTask}">
                    <div class="text-bold"
                     *ngIf="!isSystemTask"
                        [innerText]="'Assignee' | otTranslate">
                    </div>
                    <div
                        *ngIf="!isSystemTask">
                        {{assignee}}
                    </div>
                    <div class="text-bold"
                        [ngClass] ="{'margin-top-2': !isSystemTask}">
                        {{ 'TaskName' | otTranslate }}
                    </div>
                    <div>
                        {{taskName}}
                    </div>
                    <div *ngIf = "deadline">
                        <div class="text-bold margin-top-2">
                            {{ 'Deadline' | otTranslate }}
                        </div>
                        <div
                            [innerText]="formattedDeadline()">
                        </div>
                    </div>
                    <div class="text-bold margin-top-2">
                        {{ 'TaskDescription' | otTranslate }}
                    </div>
                    <div
                        [innerHtml]="taskComment">
                    </div>
                    <div class="text-bold margin-top-2"
                        *ngIf="isSystemTask">
                        {{ 'System' | otTranslate }}
                    </div>
                    <div *ngIf="isSystemTask">
                        {{selectedSystemName}}
                    </div>
                    <div class="text-bold margin-top-2"
                        *ngIf="isSystemTask"
                        [innerText]="'SystemIntegrationFlow' | otTranslate">
                    </div>
                    <div *ngIf="isSystemTask">
                        {{selectedWorkFlowName}}
                    </div>
                    <div otFormElement
                        *ngIf="permissionsDSAR?.DSARSubTaskComplete"
                        class="margin-top-2"
                        [label]="responseLabelText"
                        [hasError]="false"
                        [required]="true">
                        <ot-rich-text-editor
                            *ngIf="!disableFields && !completed"
                            ot-auto-id="DSARResponseTemplateEditor"
                            [placeholder]="'EnterAResponse' | otTranslate"
                            [customModules]="customModules"
                            [contentModel]="taskResponse"
                            (onContentChanged)="handleMessageChange($event.html)">
                        </ot-rich-text-editor>
                    </div>
                    <div *ngIf="disableFields || completed"
                        [innerHtml]="taskResponse">
                    </div>
                     <div otFormElement
                        *ngIf="dataDiscoveryFileResponse"
                        class="margin-top-2"
                        [label]="'Attachment' | otTranslate"
                        >
                       <a
                            class="text-link text-italic  hover-no-underline"
                            ot-auto-id="DownloadDiscoveryResponse"
                            (click)="attachmentActions('DOWNLOAD_FILE', dataDiscoveryFileResponse)">
                            <span class="ot ot-download margin-right-1"> </span>
                            <span
                                *ngIf="dataDiscoveryFileResponse?.fileName">
                                {{ dataDiscoveryFileResponse.fileName }}
                            </span>
                        </a>
                    </div>
                    <div
                        *ngIf="permissionsDSAR?.DSARSubTaskComplete"
                        otFormElement
                        class="margin-top-bottom-2"
                        [label]="'UploadAttachments' | otTranslate"
                        [required]="false"
                        >
                        <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                            <div otFileDragDrop
                                class="
                                    drop-container
                                    background-white
                                    full-width
                                    column-horizontal-vertical-center
                                    padding-top-bottom-1"
                                [allowedExtensions]="allowedFileExtensions"
                                (filesDropped)="getFiles($event)">
                                <label>
                                    <div class="upload-button slds-button slds-button_brand cursor-pointer">
                                        <input
                                            otFileSelect
                                            class="full-height"
                                            type="file"
                                            accept=".csv, .doc, .docx, .jpg, .jpeg, .mpp, .msg, .pdf, .png, .ppt, .pptx, .txt, .vsd, .vsdx, .xls, .xlsx"
                                            ot-auto-id="ResponseTemplateFileInput"
                                            [allowedExtensions]="allowedFileExtensions"
                                            [disabled]="disableFields || completed"
                                            (filesSelected)="getFiles($event)"
                                            multiple
                                            >
                                            {{"UploadFile" | otTranslate}}
                                    </div>
                                </label>
                                <div class="note text-small margin-bottom-half"
                                    [innerHtml]="maxSizeText">
                                </div>
                            </div>
                        </div>
                    <div class="border-bottom"
                        *ngFor="let attachment of attachments; index as i">
                            <div class="padding-left-1">
                                <div class="text-small padding-top-bottom-half padding-right-1">
                                    {{attachment.FileName}}.{{attachment.Extension}}
                                    <i
                                        class="ot ot-trash pull-right"
                                        ot-auto-id="ResponseTemplateModalDeleteIcon"
                                        (click)="removeFile(i)">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="width-50-percent margin-left-2">
                    <div otFormElement
                        *ngIf="isSystemTask"
                        [label]="'DSARDataDiscoveryResult' | otTranslate"
                        >
                        <div class= "border-all-1">
                            <pre
                                class="min-height-50 max-height-50 overflow-y-auto"
                            >{{dataDiscoveryResponse}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <div class="row-nowrap full-width">
        <div class="width-50-percent row-flex-start">
            <div
                *ngIf="permissionsDSAR?.DSARSubTaskComplete"
                class="flex-start">
                <ot-checkbox
                    ot-auto-id="isTaskCompleted"
                    [checked]="completed"
                    [disabled]="disableFields"
                    (toggle)="toggleComplete()">
                </ot-checkbox>
                <label class="margin-left-1 media-bottom text-bold">{{ 'MarkAsCompleted' | otTranslate }}</label>
            </div>
        </div>
        <div class="width-50-percent row-flex-end">
            <button otButton
                ot-auto-id="ResponseTemplateModalClose"
                (click)="closeModal()"
            >
            {{ cancelButtonText }}
            </button>
            <button otButton brand
                *ngIf="permissionsDSAR?.DSARSubTaskResponse && permissionsDSAR?.DSARSubTaskComplete"
                ot-auto-id="ResponseTemplateModalSubmit"
                [loading]="isSubmitting"
                [disabled]="isSubmitting || !canSubmit "
                (click)="handleSubmit()"
                >
                {{ 'Submit' | otTranslate }}
            </button>
        </div>
    </div>
</ot-modal-footer>
