.dsar-response-sub-task-modal {
    .upload-button {
        cursor: pointer;
        background-color: #1F96DB;
        border-color: #1F96DB;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 2rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        min-width: 10rem;
        input {
            display: none;
        }
    }
    .slds-form-element label {
        font-size:1.4rem;
    }
    form {
        max-width:85rem;
    }
}
