<section class="height-100 column-nowrap">
    <ot-page-header
        class="full-width"
        [title]="'PreferenceCenters' | otTranslate"
        >
        <button otButton brand
            button-class="margin-top-bottom-2"
            ot-auto-id="MultiPreferenceCenterCreateButton"
            [innerText]="'AddNew' | otTranslate"
            (click)="createPreferenceCenterModal()"
        ></button>
    </ot-page-header>
    <div otDrawerContainer class="full-width position-relative flex-full-height overflow-hidden">
        <cr-preference-center-filters
            class="static-vertical"
            [filters]="filters"
            [isDrawerOpen]="isDrawerOpen"
            [purposeList]="purposeList"
            (applyCallback)="pageChange($event, 0)"
            (refreshCallback)="pageChange($event, 0)"
        ></cr-preference-center-filters>

        <div class="full-width flex-full-height">
            <cr-table
                class="flex-full-height"
                noDataKey="NoPreferenceCentersFound"
                [columns]="columns"
                [rows]="preferenceCenterList"
                [loading]="isLoading"
                [resizable]="false"
                (goToRoute)="viewPreferenceCenter($event.params.Id)"
                (pageChange)="pageChange(filters, $event)"
                (noDataRoute)="createPreferenceCenterModal()"
            ></cr-table>
        </div>
    </div>
</section>
