<section class="flex-full-height height-100">
    <ot-page-header [title]="'ControlDetails' | otTranslate">
        <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
            <ot-breadcrumb-item
                ot-auto-id="LinkControlsListBreadcrumbItem"
                [link]="entityListRoutes[recordType]"
                [label]="linkControlsEntityTranslationKey[recordType] | otTranslate"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item
                [link]="entityDetailRoutes[recordType]"
                [label]="linkControlsService.entityName$ | async"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item
                ot-auto-id="LinkControlsListBreadcrumbItemControlsId"
                [label]="linkControlsService.controlName$ | async"
                >
            </ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <ot-loading
        otPageLoading
        *ngIf="isLoading; else controlLoaded"
        >
    </ot-loading>
    <ng-template #controlLoaded>
        <div class="paragraph-medium shadow-header background-white">
            <ot-tabs
                [tabs]="tabOptions"
                [selectedTab]="selectedTab"
                >
                <a
                    *otTabItem="let tab"
                    [attr.ot-auto-id]="tab.otAutoId"
                    (click)="onTabClick(tab)"
                    >
                    {{ tab.text }}
                </a>
            </ot-tabs>
        </div>
        <div class="column-nowrap full-size overflow-y-auto stretch-vertical">
            <ng-container [ngSwitch]="selectedTab">
                <link-controls-detail
                    class="flex-full-height"
                    *ngSwitchCase="controlDetailTabs.Detail"
                    [editMode]="editMode"
                    [recordType]="recordType"
                    (toggleEdit)="setEditMode($event)"
                    >
                </link-controls-detail>
            </ng-container>
        </div>
    </ng-template>
</section>