/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('./fonts/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       //url('./fonts/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       //url('./fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('./fonts/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       //url('./fonts/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
      // url('./fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('./fonts/open-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
      // url('./fonts/open-sans-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v13-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-slab-100 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
       url('./fonts/roboto-slab-v6-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-slab-v6-latin-100.woff') format('woff'), /* Modern Browsers */
      // url('./fonts/roboto-slab-v6-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-slab-v6-latin-100.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('./fonts/roboto-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
      // url('./fonts/roboto-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url('./fonts/roboto-slab-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-slab-v6-latin-300.woff') format('woff'), /* Modern Browsers */
    //   url('./fonts/roboto-slab-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-slab-v6-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('./fonts/roboto-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
   //    url('./fonts/roboto-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-slab-v6-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* Ot-Icons */
@font-face {
    font-family: 'ot-icons';
    src:
        url('~@onetrust/vitreus/assets/ot-icons.ttf') format('truetype'),
        url('~@onetrust/vitreus/assets/ot-icons.woff') format('woff'),
        url('~@onetrust/vitreus/assets/ot-icons.svg#ot-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
