@mixin breakpoint($point, $minWidth: null) {
    @if $point == 'large-device' {
        // larger than 1200px
        @media (min-width: $large) {
             @content;
        }
    }

    @else if $point == 'desktop' {
        // between 992px and 1200px
        @media (min-width: $medium) {
             @content;
        }
    }

    @else if $point == 'tablet' {
        // between 768px and 992px
        @media (min-width: $small) {
             @content;
        }
    }

    @else if $point == 'mobile' {
        // smaller than 768px
        @media (max-width: $small) {
             @content;
        }
    }
    @else if $minWidth == true {
         @media (min-width: $point){
            @content;
        }
    }
    @else {
         @media (max-width: $point){
            @content;
        }
    }
}

@mixin button($type: 'default', $color: $ui-blue) {
    border: 0;
    background: 0;
    border-radius: 2px;
    white-space: nowrap;

    @if $type == 'select' {
        border: 1px solid $grey-3;
        background-color: $white;
        color: $slate;
        padding: 0.8rem 1.8rem;

        &:active,
        &:focus,
        &:hover {
            color: inherit;
            background-color: inherit;
            box-shadow: none;
        }

        &:hover {
            background-color: $grey-1;
        }

        &.selected {
            background-color: $ui-blue;
            border-color: $ui-blue;
            color: $white;
            font-weight: bold;

            &:hover {
                background-color: lighten($ui-blue, 10%);
                border-color: lighten($ui-blue, 10%);
            }

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: lighten($ui-blue, 25%);
                border-color: lighten($ui-blue, 25%);
            }
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            pointer-events: none;
            background-color: $grey-1;
            opacity: 1;
        }
    }

    @if $type == 'primary' {
        background-color: $color;
        color: $white;
        font-weight: bold;
        border: 1px solid $color;
        padding: 0.8rem 1.8rem;

        i {
            margin-right: 0.6rem;
            color: $white;
        }

        &:hover {
            background-color: lighten($color, 10%);
            border-color: lighten($color, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            background-color: $grey-4;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;

            i {
                color: $slate;
            }
        }
    }

    @if $type == 'default' {
        border: 1px solid $grey-3;
        background-color: $white;
        color: $slate;
        padding: 0.8rem 1.8rem;

        i {
            margin-right: 0.6rem;
            color: $grey-4;
        }

        &:hover {
            border: 1px solid $slate;
            color: darken($slate, 10%);
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            opacity: 1;
            pointer-events: none;
            background-color: $grey-1;
        }
    }
}

@mixin checkbox {
    height: 3rem;
    width: 3rem;
    background-color: $white;
    border: 1px solid $grey-3;
    border-radius: 2px;
    box-shadow: none;
    padding: 0;

    i {
        font-size: 1.6rem;
        color: white;
        display: block;
    }

    &.checked {
        background-color: $ui-blue;
        border-color: $ui-blue;
    }

    &:hover {
        border: 1px solid $slate;
    }

    &:disabled,
    &[disabled],
    [disabled] & {
        opacity: 1;
        pointer-events: none;
        background-color: $grey-1;
        border: 1px solid $grey-3;

        i {
            opacity: 0;
        }
    }
}

@mixin textArea {
    border: 1px solid $grey-3;
    min-width: 200px;
    max-width: 600px;
    border-radius: 2px;
    color: $slate;
    padding: 0.6rem;

    &:disabled,
    &[disabled],
    &[readonly],
    [disabled] &,
    [readonly] & {
        opacity: 1;
        background-color: $grey-1;
        box-shadow: none;
        cursor: auto;
    }
}

@mixin hocus {
    &:hover,
    &:focus {
        @content
    }
}
