.one-search {
    background-color: $white;
    display: flex;
    border: 1px solid $grey-3;
    border-radius: 2px;
    margin: 0;
    max-width: none;
    width: 100%;
    padding: 0.6rem 0;

    &:hover {
        border-color: $slate;
    }

    &--rounded {
        border-radius: 2rem;
    }

    &__label {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 1.6rem;
        padding: 0.5rem 0.6rem 0.5rem 1rem;
    }

    &__icon {
        font-size: 75%;
        color: $grey-4;
        margin-right: 0.6rem;
    }

    &__input {
        color: $slate;
        flex: 1 1 auto;
        width: 100%;
        box-shadow: none;
        padding: 0 1rem 0 0;
        text-align: left;
        border: 0;
        min-width: 1px;
        outline: none;
    }
}

.one-select {
    position: relative;

    &__select {
        width: 100%;
        height: 3.6rem;
        padding-left: 1rem;
        padding-right: 3rem;
        margin: 0;
        border: 1px solid $grey-3;
        background-color: $white;
        color: $slate;
        box-shadow: none;
        appearance: none;
        border-radius: 2px;
        text-indent: 1px;

        &::-ms-expand {
            display: none;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            opacity: 1;
            pointer-events: none;
            background-color: $grey-2;
        }

        &:hover {
          border: 1px solid $grey-3;
          color: darken($slate, 10%);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .selected & {
            border: 1px solid $ui-blue;
            background: $ui-blue;
            color: $white;
            font-weight: bold;

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: lighten($ui-blue, 25%);
                border-color: lighten($ui-blue, 25%);
            }
        }
    }

    &__arrow {
        position: absolute;
        right: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
        color: $slate;
        pointer-events: none;

        .selected & {
            color: $white;
        }
    }
}

.one-input {
    border: 1px solid $platinum;
    border-radius: 3px;
    color: $slate;
    height: 3.6rem;
    padding: 0 1rem;

    &:disabled,
    &[disabled],
    [disabled] & {
        opacity: 1;
        pointer-events: none;
        background-color: $frost;
        color: $slate;
        cursor: not-allowed !important;
    }

    &::placeholder {
        color: $grey-4;
    }

    &__icon {
        color: $grey-4;
    }

    &--small {
        max-height: 3rem;
    }
}

.one-text-area {
    border: 1px solid $grey-3;
    border-radius: 2px;
    color: $slate;
    padding: 1rem;
    resize: vertical;

    &:disabled,
    &[disabled],
    [disabled] & {
        opacity: 1;
        pointer-events: none;
        background-color: $paper-gray;
    }
}

.one-navbar {
    display: flex;
    align-items: center;
    min-height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px 0;
    z-index: 100;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__buttons {
        display: block;
        width: 34rem;
    }
}

.one-toggle-picker {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    min-height: 4rem;

    &__toggle {
        flex: 0 0 auto;
        display: flex;

        &-btn {
            @include button(select);
            flex: 1 1 auto;
            margin: 0 1rem 0 0;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &[disabled] {
                    border-color: $grey-3;
                }
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &__input {
        height: 3.8rem;
    }

    &.is-disabled {
        input {
            pointer-events: none;
            background-color: $grey-2 !important;
        }
    }

    & > div {
        flex: 1 1 auto;

        input {
            height: 100%;
        }
    }
}

// DEPRECATED
// TODO: Replace instances of this class (old "one-header" class renamed to "old-one-header") by implementing new one-header directive
.old-one-header {
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    border: none;
    border-radius: 0;
    box-shadow: $grey-1 0 0 0.5rem 0;
    background-color: $paper-gray;

    &__container {
        height: 5rem;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__title {
        padding-left: 0;
        padding-right: 0.5rem;
        color: $slate;
        display: flex;
        flex: 0 0 auto;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.8rem;
        @media(min-width: $small) {
            padding-left: 0.5rem;
        }
    }
}

.one-badge {
    margin-right: 0.4rem;
    display: inline-block;
    background-color: $grey-4;
    height: 20px;
    color: $white;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 50%;

    &__tasks {
        background-color: $light-red;
        position: absolute;
        margin-top: -.3rem;
        margin-left: -1rem;
        font-size: 1.1rem;

        &--single-digit {
            padding: 0.5rem 0.65rem;
        }

        &--double-digit {
            padding: 0.5rem 0.38rem;
        }
    }

    &__risk {
        &--low {
            background-color: $cyan;
        }

        &--medium {
            background-color: $light-orange;
        }

        &--high {
            background-color: $light-red;
        }

        &--very-high {
            background-color: $dark-red;
        }
    }

    &--success {
        background-color: $green;
    }

    &--warning {
        background-color: $light-orange;
    }

    &--info {
        background-color: $cyan;
    }

    &--danger {
        background-color: $light-red;
    }

    .value {
        margin: 0 0.2rem;
    }

    .single-value {
        margin: 0 0.4rem;
    }
}

.one-card {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.15s ease-in-out;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    &__header {
        padding: 1.4rem;
        flex-grow: 1;

        &--locked {
            position: absolute;
            right: 1.6rem;
            height: 3rem;
            width: 3rem;
            padding: 0.5rem 0.9rem;
            border-radius: 50%;
            font-size: 2rem !important;
            line-height: 2rem;
            background-color: $grey-4;
            color: $white !important;
            text-align: center;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }

        &--icon {
            display: flex;
            margin: 0 auto;
            width: 5.5rem;
            cursor: pointer;

            &--disabled {
                filter: grayscale(100%);
                opacity: 0.3;
            }
        }

        &--title {
            margin: 1.4rem auto 0;
            font-size: 1.8rem;
            font-weight: 600;
            color: $slate;
            cursor: pointer;
            line-height: 2.4rem;
            &.locked {
                color: $grey-4;
            }
        }

        &--beta {
            min-width: 5rem;
            margin: 0 auto;
            position: absolute;
            left: 1.6rem;
            top: 1.9rem;
        }
    }
    &__body {
        margin: 1.6rem;

        &--title {
            font-size: 1.8rem;
            font-weight: 600;
            color: $slate;
            cursor: pointer;
            &.locked {
                color: $grey-4;
            }
        }
        &--description {
            font-size: 1.4rem
        }
    }

    &__footer {
        &--textLinks {
            cursor: pointer;
            display: flex;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            transition: color 0.2s ease-in-out;
            padding: 0 1.4rem 1.4rem;

            &.centered {
                justify-content: center;
            }

            &.solo {
                padding: 1.7rem;
                color: $green;
                display: flex;
            }

            &.contact {
                padding: 1.7rem;
                color: $grey-4;
                display: flex;
                float: left;
                font-size: 90%;

                &:hover {
                    color: darken($grey-1, 30%);
                    text-decoration: none;
                }
            }

            &.secondary {
                padding: 1.7rem;
                color: $grey-4;
                display: flex;
                float: left;

                &:hover {
                    color: darken($grey-1, 30%);
                    text-decoration: none;
                }
            }

            &.primary {
                padding: 1.7rem;
                color: $green;
                display: flex;
                float: right;

                &:hover {
                    color: darken($green, 15%);
                    text-decoration: none;
                }
            }

            &.cta {
                padding: 1rem 1.6rem;
                color: $white;
                display: flex;
                float: right;
                background-color: $green;

                &:hover {
                    color: darken($green, 15%);
                    text-decoration: none;
                }
            }
            &.locked {
                text-transform: capitalize;
                font-size: 100%;
                padding: 0.8rem 1.8rem;
                border: 1px solid rgba(0,0,0,0);
            }
        }
    }
}

.toggle-link {

    &.toggled {
        color: $ui-blue;
    }

    &:hover {
        color: darken($ui-blue, 15%);
    }
}

.blockquote {
    display: block;
    padding: 1rem 2rem;
    margin: 0 2rem 1rem;
    font-size: 1.5rem;
    border-left: 0.5rem solid $paper-gray;

    &__footer {
        display: block;
        font-size: 90%;
        line-height: 1.5;
        margin-left: 1.5rem;

        &:before {
            content: '\2014 \00A0';
        }
    }
}
