// Breakpoints
$xsmall: 640px;
$small: 769px;
$medium: 992px;
$large: 1200px;

// Color names
$red:               #BE2F2B;
$light-red:         lighten($red, 15%);
$dark-red:          darken($red, 10%);
$red-faded:         #F8E9E9;
$orange:            #FCA920;
$orange-faded:      #FBF1E6;
$light-orange:      lighten($orange, 10%);
$yellow:            #FED03F;
$teal:              #16BDB7;
$cyan:              #5BC0DE;
$blue:              #008ACC; // progress
$lagoon:            #3BA6A7;
$steel:             #55788C;
$black:             black;
$map-accent-blue:   #9cc6f0;
$map-accent-green:  #7fe3a9;
$map-accent-purple: #daa8dd;
$map-accent-pink:   #fdd2ce;
$light-green :      #F2FBEE;
$light-orange2:     rgba(253, 182, 91, 0.15);
$highlight :        #FDF98A;
$disabled-blue:     #89C5E7;
$alice-blue:        #E3F3FC;

// Grey-tones
$white:     #FFFFFF;
$paper:     #FEFEFE;
$grey-1:    #E4E4E4;
$grey-2:    #DDDDDD;
$grey-3:    #CBCBCB;
$grey-4:    #B7B7B7;
$grey-8:    #D8D8D8;
$grey-9:    #FAFAFA;
$grey-10:   #8B8989;
$grey-20:   #333;

// Cell widths
$cell-width-huge: 35rem;
$cell-width-xlarge: 30rem;
$cell-width-large: 25rem;
$cell-width-normal: 20rem;
$cell-width-medium: 15rem;
$cell-width-small: 10rem;
$cell-width-xsmall: 5rem;
$cell-height: 4rem;

// New UI Color Palette
$accent-blue:           #4DB2EC;

// Primary Colors
$ui-blue:               #1F96DB;
$green:                 #6CC04A;
$admiral-blue:          #2C3643;
$ink:                   #14191F;
$slate:                 #696969;
$platinum:              #D7D7D7;
$frost:                 #E9E9E9;
$eggshell:              #F4F4F4;
$paper-gray:            #F8F8F8;

// Secondary Colors
$active-blue:           #E0F3FF;
$hover-blue:            #F5FBFF;
$ui-hover-blue:         #1977AE;
$cherry:                #FC4F45;
$active-green:          #D2ECC8;

// Risk Colors
$risk-low:              $cyan;
$risk-medium:           #FDB65B;
$risk-high:             #DA5F5C;
$light-grayish-blue:    #D3E6F0;
$very-light-gray:       #E2E2E2;
$risk-very-high:        #942522;

// Activity Stream
$activity-stream-create:        $white;
$activity-stream-edit:       #768CA3;
$activity-stream-add:        #2ACCBA;
$activity-stream-status:     #45AAF2;
$activity-stream-destructive:#FD5B65;

// Table cells
$table-cell-light:  $white;
$table-cell-dark:   $eggshell;
$table-cell-border: $grey-2;

// Font Sizes
$text-tiny: .8rem;
$text-xsmall: 1rem;
$text-small: 1.3rem;
$text-medium-small: 1.4rem;
$text-medium: 1.6rem;
$text-large: 1.8rem;
$text-xlarge: 2rem;
$text-huge: 2.4rem;

// Icons
$icon-huge: 5rem;

// Menu Colors
$menu-blue:         #323f4e;
$menu-dark-blue:    #222a34;
$menu-grey:         #797676;

// Misc Colors
$water-blue:            #b7cfee;

// Box Shadows
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow2-left-right: 0 0 0 rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0.23);
$shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow6: 0 0 14px 0 rgba(0, 0, 0, 0.5);
$shadow6-bottom: 0px 6px 6px -2px rgba(0, 0, 0, 0.24);
$shadow6-bottom-inset: inset 0 -15px 20px -10px rgba(0, 0, 0, 0.24);
$shadow6-left: -6px 1px 6px 0px rgba(0, 0, 0, 0.24);
$shadow7: 0 2px 6px 0 rgba(0,0,0,0.08);
$shadow8: 0 2px 4px 0 rgba(0,0,0,0), 0 7px 14px 0 rgba(50,50,93,0.1);
$shadow-header: 0 1.5px 1.5px rgba(0, 0, 0, 0.08);
$shadow-gray: 0 0 10px 0 rgba(204, 204, 204, 0.5);

// Borders
$border-1px: 1px solid $grey-2;
$border-2px: 2px solid $grey-2;
$border-3px: 3px solid $grey-2;
$border-4px: 4px solid $grey-2;
$border-5px: 5px solid $grey-2;
$border-transparent: 1px solid transparent;

// Border Radius
$border-radius-small: 0.3rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 2rem;
$border-radius-xlarge: 4rem;
