<div class="column-nowrap full-size background-white">
    <ot-page-header [title]="'RiskDetails' | otTranslate">
        <ot-breadcrumb
            *ngIf="riskDetails"
            class="text-nowrap"
            (routeClicked)="goToListView($event)"
            >
            <ot-breadcrumb-item
                ot-auto-id="RiskDetailAssetsBreadcrumbItem"
                [label]="'RiskRegister' | otTranslate"
                link="/risk-repo"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="riskDetails?.number"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <ot-tabs
        *ngIf="tabs"
        [tabs]="tabs"
        [selectedTab]="currentTab"
        >
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'RiskDetailtab-' + tab.id"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
    </ot-tabs>
    <ot-loading otPageLoading
        *ngIf="isLoadingDetails; else RiskDetailsPage"
        class="flex-full-height justify-center"
    ></ot-loading>
    <ng-template #RiskDetailsPage>
        <div *ngIf="currentTab === tabIds.Details" class="flex-full-height full-size">
            <risk-details-form
                class="column-nowrap stretch-vertical margin-left-right-auto min-width-100-percent"
                [riskDetails]="riskDetails"
                [pageUrl]="pageUrl"
            ></risk-details-form>
        </div>
        <div *ngIf="currentTab === tabIds.Controls" class="flex-full-height">
            <div class="background-grey border-bottom padding-top-bottom-1 padding-right-1 row-flex-end static-vertical">
                <ot-search-input
                    class="margin-right-1 min-width-25"
                    debounce="250"
                    ot-auto-id="RiskSearchRecord"
                    [placeholder]="('Search' | otTranslate) + '...'"
                    [searchOnEnter]="true"
                    (search)="handleSearch($event)"
                ></ot-search-input>
                <button
                    otButton
                    icon="ot ot-filter"
                    [select]="currentFilters?.length"
                    (click)="toggleFilterDrawer()"
                ></button>
            </div>
            <div otDrawerContainer class="flex flex-column height-100 min-height-1">
                <div class="stretch-vertical flex-full-height background-white overflow-y-auto">
                    <ot-loading otPageLoading
                        *ngIf="isPageloading"
                        class="flex-full-height justify-center"
                    ></ot-loading>
                    <risk-controls-list
                        *ngIf="!isPageloading"
                        [controlsTableData]="tableData"
                        [recordId]="recordId"
                        [sortData]="sortData"
                        (handleTableSort)="handleSortChange($event)"
                    ></risk-controls-list>
                    <ot-drawer
                        *ngIf="isFilterOpen"
                        class="width-29 column-nowrap"
                        [open]="true"
                        >
                        <risk-controls-filter
                            class="column-nowrap flex-full-height"
                            [fields]="filterOptions"
                            [currentFilters]="currentFilters"
                            [storage]="storageKey"
                            (filterApplied)="filterApplied($event)"
                            (filterCanceled)="toggleFilterDrawer($event)"
                        ></risk-controls-filter>
                    </ot-drawer>
                </div>
                <footer
                    otPaginationFooter
                    *ngIf="tableData?.length"
                    class="background-grey"
                    >
                    <ot-pagination
                        [currentPage]="paginationDetail.number + 1"
                        [numPages]="paginationDetail?.totalPages"
                        (pageChanged)="pageChanged($event)"
                    ></ot-pagination>
                    <span>{{paginationDetail | otPageMeta}}</span>
                </footer>
            </div>
        </div>
        <div *ngIf="currentTab === tabIds.Activity"
            class="column-nowrap stretch-vertical overflow-y-auto background-grey">
            <risk-activity
                class="flex-full-height"
                [riskId]="riskId"
            ></risk-activity>
        </div>
    </ng-template>
</div>
