<ot-modal-header (close)="closeModal()">
    <div>{{ 'ReviewChangedResponses' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="height-40 row-nowrap">
    <div
        *ngIf="changedQuestions && changedQuestions.length; else changedQuestionsPreviewLoading"
        class="aa-changed-responses-modal stretch-vertical row-nowrap">
        <div class="width-30-percent column-nowrap">
            <div class="text-center padding-bottom-3 height-4">
                <span class="text-bold text-small">{{questionsResponseChanged}}</span>
            </div>
            <section class="overflow-y-auto overflow-x-hidden">
                <div
                    *ngFor="let question of changedQuestions;"
                    class="padding-all-half border-bottom cursor-pointer"
                    ot-auto-id="AAChangedResposesConfirmChangesGoToQuestionLink"
                    [class.background-active]="question.questionId === selectedQuestion.questionId"
                    (click)="showResponseDiff(question)"
                >
                    <section class="text-bold text-medium-small margin-bottom-1">{{question.sectionIndex}}.{{question.questionIndex}}</section>
                    <section>
                        <div otClipText class="text-bold max-height-4">{{question.content}}</div>
                        <div otClipText class="max-height-4 text-small" [innerHtml]="question.description || ''"></div>
                    </section>
                </div>
            </section>
        </div>
        <div class="width-70-percent column-nowrap text-center">
            <div class="text-right height-4">
                <a
                    class="text-bold text-ui-blue"
                    ot-auto-id="AAChangedResposesConfirmChangesGoToQuestionLink"
                    (click)="closeModalAndGoToQuestion()">{{'GoToQuestion' | otTranslate}}</a>
            </div>
            <div class="stretch-horizontal row-nowrap overflow-auto">
                <ot-loading
                    *ngIf="loadingResponseDiff; else responseDiffDiv"
                    class="justify-center stretch-horizontal"
                >
                </ot-loading>
                <ng-template #responseDiffDiv>
                    <div class="width-50-percent">
                        <span class="text-bold">{{'OriginalResponse' | otTranslate}}</span>
                        <section class="margin-top-1 word-break-fallback">{{responseDiff?.originalResponse || '-'}}</section>
                    </div>
                    <div class="width-50-percent margin-bottom-1 padding-left-1">
                        <span class="text-bold">{{'CurrentResponse' | otTranslate}}</span>
                        <section class="margin-top-1 word-break-fallback">{{responseDiff?.currentResponse || '-'}}</section>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template #changedQuestionsPreviewLoading>
        <div class="stretch-vertical text-center">
            <ot-loading otPageLoading
                *ngIf="!changedQuestions"
            >
            </ot-loading>
            <ot-empty-state
                *ngIf="changedQuestions && !changedQuestions.length"
                class="flex-full-height justify-center"
                [emptyStateMessage]="'NoChangedResponses' | otTranslate">
                <img emptyStateImg />
            </ot-empty-state>
        </div>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <section
        *ngIf="!otModalData?.readOnly; else closeButton"
        class="width-100-percent row-space-between">
        <section class="padding-top-half">
            <ot-checkbox
                ot-auto-id="AAChangedResposesConfirmChangesCheckbox"
                [checked]="false"
                [disabled]="!changedQuestions?.length"
                (toggle)="confirmChanges($event)"
            >
            </ot-checkbox>
            <span class="padding-left-half text-small">{{ 'ConfirmNoOtherChangesBeforeSubmitting' | otTranslate }}</span>
        </section>
        <section>
            <button
                otButton
                ot-auto-id="AAChangedResposesConfirmChangesCancelButton"
                (click)="closeModal()"
            >{{'Cancel' | otTranslate}}</button>
            <button
                otButton brand
                ot-auto-id="AAChangedResposesConfirmChangesSubmitButton"
                [disabled]="!changesConfirmed && changedQuestions?.length"
                (click)="submitAssessment()"
            >{{'Submit' | otTranslate}}</button>
        </section>
    </section>
    <ng-template #closeButton>
        <section class="width-100-percent text-center">
            <button
                otButton
                brand
                ot-auto-id="AAChangedResposesConfirmChangesCloseButton"
                (click)="closeModal()"
            >
                {{'Close' | otTranslate}}
            </button>
        </section>
    </ng-template>
</ot-modal-footer>
