.aa-changed-responses-modal {
    .ot-modal__footer {
        justify-content: space-between;
    }

    .clip-text {
        overflow: hidden;
        position: relative;
        text-align: left;
        padding-right: 1rem;
    }

    .clip-text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    p {
        margin: 0;
    }
}
