<ot-modal-header (close)="closeOpenTemplateConfirmationModal(false)">
    <div>{{ 'ConfirmChanges' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="in-flight-template-confirmation-modal">
    <ot-confirm-modal-icon type="warning"
    ></ot-confirm-modal-icon>
    <!-- TODO: WHy content inside content -->
    <ot-modal-content>
        <section
            class="text-center text-bold padding-bottom-3"
            [innerHtml]="openAssessmentCountText">
        </section>
        <div>
            <div otSettingContainer>
                <ot-setting
                    [title]="'ApplyChangesToAllOpenAssessments' | otTranslate"
                    [description]="'ApplyChangesToAllOpenAssessmentsDesc' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="TemplateHeaderOpenAssessmentModalApplyAllToggle"
                        (toggle)="toggleApplytoAll($event)"
                    ></ot-toggle>
                </ot-setting>
                <div
                    *ngIf="otModalData.pushTemplateChanges"
                    class="padding-top-bottom-1">
                    <ot-notification
                        [allowClose]="false"
                        icon="ot ot-info-circle"
                        type="warning"
                        >
                        {{ 'ApplyChangesToAllOpenAssessmentsNotification' | otTranslate }}
                    </ot-notification>
                </div>
                <ot-setting
                    *ngIf="otModalData.pushTemplateChanges"
                    [title]="'NotifyRespondent' | otTranslate"
                    [description]="'NotifyRespondentDesc' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="TemplateHeaderOpenAssessmentModalNotifyRespondentToggle"
                        (toggle)="toggleNotifyRespondent($event)"
                    ></ot-toggle>
                </ot-setting>
            </div>
        </div>
    </ot-modal-content>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="TemplateHeaderOpenAssessmentModalCancelButton"
        (click)="closeOpenTemplateConfirmationModal(false)"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="TemplateHeaderOpenAssessmentModalConfirmButton"
        (click)="closeOpenTemplateConfirmationModal(true)"
        >
        {{ 'Confirm' | otTranslate }}
    </button>
</ot-modal-footer>
