.preference-center-builder-menu {
    flex: 1 1 20rem;

    &__purpose {
        &-preview {
            transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
        }

        &-placeholder {
            background-color: $active-blue;
        }

        &-plus {
            width: 4.7rem;
            height: 4.7rem;
        }
    }
}

.ot-bars {
    &-transform-vertical {
        transform: rotate(90deg);
    }
}