<div class="flex-full-height border-right width-40-rem preference-center-builder-menu">
    <div class="border-bottom padding-all-2">
        <div
            otFormElement
            [rightIconClass]="'search'"
            >
            <ot-search-input
                ot-auto-id="preferenceBuilderPurposeFilter"
                [model]="purposeFilter"
                [placeholder]="'Search' | otTranslate"
                [disabled]="isInactive"
                (search)="purposeFilterChanged($event)"
                >
            </ot-search-input>
        </div>
    </div>
    <div cdkDropList
        *ngIf="!loading"
        class="padding-all-1 overflow-y-auto overflow-x-hidden height-100"
        [cdkDropListConnectedTo]="['PreferenceCenterBuilderPurposeList']"
        >
        <div class="row-nowrap padding-all-1 row-vertical-center text-bold">
            {{ 'Purposes' | otTranslate }}
        </div>
        <div cdkDrag
            *ngFor="let purpose of purposes | filter: ['label']:purposeFilter | slice:0:100"
            class=
            "background-white
            padding-all-1
            text-bold
            text-medium
            margin-all-1
            border
            border-radius-3
            row-vertical-center"
            [cdkDragData]="selectedPurposes"
            (cdkDragStarted)="selectPurposeForDragging(purpose, true)"
            (cdkDragDropped)="purposesDropped($event)"
            >
            <i class="ot ot-bars ot-bars-transform-vertical align-left margin-right-2 cursor-pointer"></i>
            <div
                otFormElement
                class="full-width row-vertical-center row-space-between"
                [label]="purpose.label"
                >
                <ot-checkbox
                    id="{{ purpose.value }}"
                    class="align-right"
                    [disabled]="actionInProgress || isInactive"
                    [checked]="selectedPurposeIndex(purpose.value) > -1"
                    [attr.ot-auto-id]="'preferenceBuilderPurposeCheckbox' + purpose.value"
                    (toggle)="selectPurposeForDragging(purpose, $event)"
                    >
                </ot-checkbox>
            </div>

            <div *cdkDragPreview
                class="preference-center-builder-menu__purpose-preview">
                <div
                    class=
                    "row-space-between-center
                    background-grey
                    border
                    border-radius-3
                    min-height-46
                    padding-left-right-2
                    margin-left-2"
                    >
                    <span class="padding-left-2 text-bold">
                        {{ purpose.label }}
                    </span>
                </div>
            </div>
            <div *cdkDragPlaceholder>
                <span
                    class=
                    "preference-center-builder-menu__purpose-plus
                    row-horizontal-vertical-center
                    text-bold
                    border
                    border-round
                    position-absolute
                    background-white"
                    >
                    <i class="flex justify-center ot ot-plus"></i>
                </span>
                <div
                    class=
                    "preference-center-builder-menu__purpose-placeholder
                    row-space-between-center
                    border
                    border-radius-3
                    min-height-46
                    padding-left-right-2
                    margin-top-2
                    margin-right-1
                    margin-left-2"
                    [attr.data-index]="i"
                    >
                    <span class="padding-left-2 text-bold">
                        {{ purpose.label }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<ot-loading otPageLoading *ngIf="loading"></ot-loading>
