<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalData.title"
    (close)="cancel()"
    >
    <div
        otFormElement
        class="flex-stretch-50 flex-full-height padding-all-2"
        [label]="'GroupName' | otTranslate"
        >
        <input
            otInput
            class="full-width"
            ot-auto-id="AttributeGroupSectionName"
            [disabled]="isSaving"
            [placeholder]="'GroupName' | otTranslate"
            [ngModel]="groupName"
            (ngModelChange)="setGroupName($event)"
        />
    </div>
    <div class="padding-all-2">
        <footer class="row-flex-end padding-top-2">
            <button
                class="margin-right-1"
                otButton
                ot-auto-id="AttributeAddGroupCancelBtn"
                [disabled]="isSaving"
                [innerText]="'Cancel' | otTranslate"
                (click)="cancel()"
                >
            </button>
            <button
                otButton
                brand
                ot-auto-id="AttributeAddGroupSaveBtn"
                [disabled]="!groupName || isSaving"
                [loading]="isSaving"
                [innerText]="'Save' | otTranslate"
                (click)="save()"
                >
            </button>
        </footer>
    </div>
</one-modal-base>