<div otFormElement>
    <ot-lookup
        ot-auto-id="InventoryQuestionOption"
        [allowHint]="true"
        [allowCustomOtherPill]="true"
        [customOtherPillKey]="'optionType'"
        [customOtherPillValue]="'OTHERS'"
        [inputValue]="inputValue"
        [autoClose]="true"
        [clearInputOnModelChange]="true"
        [hintKey]="'Hint'"
        [hintPosition]="'left'"
        [labelKey]="'optionDisplay'"
        [valueKey]="'id'"
        [model]="selectedOptions"
        [multiSelect]="true"
        [options]="optionDetails"
        [placeholder]="'Select' | otTranslate"
        (inputChange)="onInputChange($event)"
        (modelChange)="onModelChange($event)"
        (firstOptionSelect)="handleFirstOption(inputValue)"
    >
        <ng-template otFirstOption>
            <span
                *ngIf="!question.attributeJson.allowOther"
                role="option">
                - - - -
            </span>
            <span
                *ngIf="!inputValue && question.attributeJson.allowOther"
                id="listbox-option-unique-id-00"
                role="option"
            >
                {{prependText}}:
            </span>
            <span
                *ngIf="inputValue && question.attributeJson.allowOther"
                id="listbox-option-unique-id-00"
                role="option"
            >
                {{prependText}}: {{inputValue}}
            </span>
        </ng-template>
    </ot-lookup>
</div>
<div class="row-wrap padding-top-bottom-1">
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-right-1 margin-bottom-1 no-outline"
        ot-auto-id="InventoryQuestionNotSureBtn"
        [disabled]="isDisabled"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="toggleNotSureAnswer()"
        >
    </button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-right-1 margin-bottom-1 no-outline"
        ot-auto-id="InventoryNotApplicableBtn"
        [disabled]="isDisabled"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="toggleNotApplicableAnswer()"
        >
    </button>
</div>

