<div
    *ngIf="isReady"
    class="inventory-attribute-body__section"
    [ngClass]="backgroundClass"
    >
    <ul
        class="row-wrap-space-between margin-top-1"
        *ngIf="record?.cells"
        >
        <ng-container *ngFor="let cell of record.cells; trackBy: attributeIdTrackBy">
            <div
                otFormElement
                *ngIf="(!context || (AttributeAllowedContexts[context] && AttributeAllowedContexts[context][cell.attributeCode]) || (!AttributeAllowedContexts[context] && !(AttributeHiddenContexts[context] && AttributeHiddenContexts[context][cell.attributeCode])))"
                class="min-width-15 margin-bottom-2 position-relative"
                [ngClass]="columnClass"
                [label]="getAttributeName(cell)"
                [tooltip]="popoverTooltip"
                [tooltipPosition]="'top'"
                [tooltipDelay]="'250'"
                [required]="attributeMap[cell.attributeId].required"
                (mouseenter)="attributeMap[cell.attributeId].isHovering = true"
                (mouseleave)="attributeMap[cell.attributeId].isHovering = false"
                >
                <ng-template #popoverTooltip>
                    <span>{{getAttributeDescription(cell)}}</span>
                </ng-template>
                <inventory-attribute-cell
                    [attribute]="attributeMap[cell.attributeId]"
                    [cell]="cell"
                    [record]="record"
                    [isEditing]="isEditing"
                    [canEdit]="canEdit && attributeMap[cell.attributeId].editable"
                    [forceChange]="record.updated"
                    [inventoryType]="inventoryId"
                    [disabledTooltip]="disabledTooltip"
                    [backgroundClass]="backgroundClass"
                    [hideErrors]="hideErrors"
                    [isParentModal]="isParentModal"
                    [isDetailsPage]="isDetailsPage"
                    [isDisabled]="isDisabled"
                    (toggleEdit)="editToggle()"
                    (cellChange)="cellUpdate($event)"
                    >
                </inventory-attribute-cell>
            </div>
        </ng-container>
        <span
            class="spacer min-width-15"
            [ngClass]="[columnClass, (canEdit && !isDetailsPage ? 'margin-bottom-5' : '')]"
            >
        </span>
    </ul>
</div>
<ot-loading
    otPageLoading
    class="flex-full-height"
    *ngIf="!isReady"
    >
    {{ 'Details' | otTranslate }}...
</ot-loading>
