<section
    class="frame-work-card padding-all-1 shadow8 border-radius"
    [ngClass]="frameworkLawData.isChecked ? 'border-blue background-active' : 'border background-white'"
    >
    <div class="row-nowrap row-flex-start">
        <ot-checkbox
            [attr.ot-auto-id]="frameworkLawData.lawId + '_frameworkLawCheckBox'"
            [checked]="frameworkLawData.isChecked"
            (toggle)="onToggleFrameworkLaw($event, this.frameworkLawData)"
        ></ot-checkbox>
        <!-- Removing translations until supported-->
        <p class="padding-left-1 text-small text-bold">{{frameworkLawData.displayName}}</p>
    </div>
    <!-- Removing translations until supported-->
    <p class="padding-left-3 text-small">{{frameworkLawData.lawDescription}}</p>
</section>
