
<div class="question-configuration__title background-grey padding-all-2">
    <div otFormElement
        class="row-space-between-center"
        [label]="'ResponseConfiguration' | otTranslate">
        <i
            ot-auto-id="TemplateResponseConfigurationExpandToggle"
            class="text-pointer"
            [ngClass]="isResponseConfigurationExpanded ? 'ot ot-minus':'ot ot-plus'"
            (click)="isResponseConfigurationExpanded = !isResponseConfigurationExpanded">
        </i>
    </div>
</div>
<div
    *ngIf="isResponseConfigurationExpanded"
    class="question-configuration no-select margin-right-3 margin-top-bottom-2 margin-left-2">
    <div otFormElement
        *ngIf="selectedQuestionType.value === questionTypes.MultiChoice.name"
        class="margin-bottom-1 row-space-between"
        [label]="'OptionHints' | otTranslate">
        <ot-toggle
            ot-auto-id="TemplateBuilderResponseConfigurationOptionHintsToggle"
            [checked]="questionAttributes.optionHintEnabled"
            [disabled]="isResponseConfigurationDisabled"
            (toggle)="handleToggleStateChange($event, 'optionHintEnabled')"
        >
        </ot-toggle>
    </div>
    <div otFormElement
        *ngIf="isDisplayAnswerTypeEnabled"
        class="margin-bottom-1 row-space-between"
        [label]="'DisplayAnswerType' | otTranslate"
    >
        <ot-picklist
            ot-auto-id="TemplateBuilderResponseConfigurationDisplayAsSelect"
            [placeholder]="'SelectQuestion' | otTranslate"
            [disabled]="templateEditMode === templateModes.Edit"
            [autoClose]="true"
            [options]="displayAnswerAsOptions"
            [valueKey]="'value'"
            [labelKey]="'label'"
            [model]="selectedDisplayAnswerAsType"
            (onSelect)="handleDisplayAnswerAs($event)">
        </ot-picklist>
    </div>
    <div
        *ngFor="let attribute of additionalAttributes; trackBy: trackByAttributeValue;"
    >
        <div
            *ngIf="selectedQuestionType.attributes[attribute.value]"
            class="margin-bottom-1 row-nowrap"
            [otTooltip]="{ content: isSourceInventoryQuestion && selectedQuestionType.value !== questionTypes.MultiChoice.name ? attribute.tooltip : null, placement: 'top-left' }"
        >
            <ot-checkbox
                ot-auto-id="ResponseConfigurationAdditionalAttributesCheckbox"
                class="margin-right-1"
                [checked]="questionAttributes[attribute.value]"
                [disabled]="isAdditionalAttributesDisabled(attribute.value)"
                (toggle)="handleToggleStateChange($event, attribute.value)"
            >
            </ot-checkbox>
            <span>
                {{attribute.label}}
            </span>
        </div>
    </div>
</div>

