.dm-assessment-list {
    height: calc(100vh - 5rem);
    background-color: $paper-gray;

    &__wrapper {
        margin: 0 auto;
        max-width: 100%;
    }

    &__empty {
        font-size: 3rem;
        color: $grey-3;
    }

}
