<div class="full-size column-nowrap overflow-hidden">
    <ot-page-header
        [title]="'CopyAssessment' | otTranslate"
        [type]="'base'"
    >
    </ot-page-header>
    <ot-loading
        *ngIf="isLoading; else copyAssessmentCard"
        otPageLoading
    >
    </ot-loading>
    <ng-template #copyAssessmentCard>
        <div class="position-relative stretch-vertical row-nowrap">
            <!-- TODO: Hide the bulk controls till BE is ready for multiple copy -->
            <aa-copy-assessment-bulk-controls
                *ngIf="false"
                [bulkCopyContent]="bulkCopyContent"
                (onApplyChanges)="applyBulkChanges($event)">
            </aa-copy-assessment-bulk-controls>
            <div class="width-100-percent text-color-default overflow-auto">
                <ul>
                    <li
                        *ngFor="let assessment of assessments; index as columnIndex;"
                        class="padding-all-1"
                        [attr.ot-auto-id]="'AssessmentCopyAssessmentCard_' + columnIndex"
                    >
                    <copy-assessment-card
                        [assessment]="assessment"
                        [copyContent]="copyContent"
                        (enableSaveButton)="enableSaveButton($event)"
                        (onChange)="constructAssessmentCopyModel($event)"
                    ></copy-assessment-card>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
    <footer
        otPageFooter
        class="max-height-5"
    >
        <button
            otButton
            ot-auto-id="AssessmentCopyAssessmentCancelButton"
            (click)="goToListingPage()"
        >
            {{'Cancel' | otTranslate}}
        </button>
        <button
            otButton
            brand
            ot-auto-id="AssessmentCopyAssessmentCopyAndSendButton"
            [loading]="saveInProgress"
            [disabled]="!canSaveAssessment || isLoading || saveInProgress"
            (click)="saveAssessments()"
        >
            {{'CopyAssessment' | otTranslate}}
        </button>
    </footer>
</div>

