<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <section
        *ngIf="!isLoading; else loading"
        class="column-horizontal-vertical-center padding-left-right-2">
            <ng-container *ngFor="let input of fieldData">
                <div
                    otFormElement
                    *ngIf="input.inputType === 'Text Field'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey] || input.fieldKey"
                    [errorMessage]="input.errorMessage"
                    [hasError]="input.isRequired && !input.selectedValue.trim()"
                    [required]="input.isRequired"
                >
                    <input otInput
                        maxlength="100"
                        [attr.ot-auto-id]="'DSARRequest' + input.fieldKey + 'Input'"
                        [(ngModel)]="input.selectedValue"
                        [type]="input.dataType | lowercase"
                        (ngModelChange)="updateField(input, input.selectedValue)"
                    />
                </div>

                <div
                    otFormElement
                    *ngIf="input.inputType === 'Text Area'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey]"
                    [errorMessage]="input.errorMessage"
                    [hasError]="input.isRequired && !input.selectedValue.trim()"
                    [required]="input.isRequired"
                >
                    <textarea
                        otTextarea
                        [attr.ot-auto-id]="'DSARRequest' + input.fieldKey + 'TextArea'"
                        [attr.maxlength]="input.fieldKey === 'requestDetails' ? 5000 : 1000"
                        [ngModel]="input.selectedValue"
                        [placeholder]="meta?.placeholder || ''"
                        (ngModelChange)="updateField(input, input.selectedValue)"
                        rows="3"
                    ></textarea>
                </div>

                <div
                    otFormElement
                    *ngIf="input.inputType === 'Select'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey]"
                    [required]="input.isRequired"
                >
                    <ot-picklist
                        class="width-100-percent"
                        labelKey="label"
                        valueKey="value"
                        [attr.ot-auto-id]="'DSARRequest' + input.fieldKey + 'Dropdown'"
                        [autoClose]="true"
                        [model]="input.selectedValue"
                        [options]="input.options"
                        (onSelect)="onCountryChange($event)"
                    ></ot-picklist>
                </div>

                <div
                    otFormElement
                    *ngIf="input.fieldKey === 'SubjectTypeText'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey]"
                    [errorMessage]="input.errorMessage"
                    [hasError]="input.isRequired && (!input.selectedValues || !input.selectedValues.length)"
                    [required]="input.isRequired"
                >
                    <ot-lookup
                        #subjectTypeLookup
                        valueKey="Id"
                        labelKey="Label"
                        [attr.ot-auto-id]="'DSARRequestUpdate' + input.fieldKey + 'Dropdown'"
                        [autoClose]="true"
                        [model]="input.selectedValues"
                        [multiSelect]="true"
                        [clearInputOnModelChange]="true"
                        [options]="input.options
                            | dsarFilterBy: filterOptions: input.fieldKey
                            | lookup: (input.selectedValues ? [input.selectedValues] : []) : currentFilterValue : 'Id' : 'Label'"
                        (modelChange)="handleAddMultiSelect(input, $event.currentValue)"
                        (inputChange)="fieldSearch($event)"
                        (click)="clearInput()"
                    ></ot-lookup>
                </div>

                <div
                    otFormElement
                    *ngIf="input.fieldKey === 'RequestTypeText'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey]"
                    [errorMessage]="input.errorMessage"
                    [hasError]="input.isRequired && (!input.selectedValues || !input.selectedValues.length)"
                    [required]="input.isRequired"
                >
                    <ot-lookup
                        #requestTypeLookup
                        valueKey="Id"
                        labelKey="Label"
                        [attr.ot-auto-id]="'DSARRequestUpdate' + input.fieldKey + 'Dropdown'"
                        [autoClose]="true"
                        [model]="input.selectedValues"
                        [multiSelect]="true"
                        [clearInputOnModelChange]="true"
                        [options]="input.options
                            | dsarFilterBy: filterOptions: input.fieldKey
                            | lookup: (input.selectedValues ? [input.selectedValues] : []) : currentFilterValue : 'Id' : 'Label'"
                        (modelChange)="handleAddMultiSelect(input, $event.currentValue)"
                        (inputChange)="fieldSearch($event)"
                        (click)="clearInput()"
                    ></ot-lookup>
                </div>

                <div
                    otFormElement
                    *ngIf="input.inputType === 'Multiselect'"
                    class="width-100-percent margin-bottom-1"
                    [label]="formTranslations[input.fieldKey]"
                    [errorMessage]="input.errorMessage"
                    [hasError]="input.isRequired && (!input.selectedValues || !input.selectedValues.length)"
                    [required]="input.isRequired"
                >
                    <ot-lookup
                        #lookup
                        valueKey="Id"
                        labelKey="Label"
                        [attr.ot-auto-id]="'DSARRequestUpdate' + input.fieldKey + 'Dropdown'"
                        [autoClose]="true"
                        [model]="input.selectedValues"
                        [multiSelect]="true"
                        [clearInputOnModelChange]="true"
                        [options]="input.options
                            | dsarFilterBy: filterOptions: input.fieldKey
                            | lookup: (input.selectedValues ? [input.selectedValues] : []) : currentFilterValue : 'Id' : 'Label'"
                        (modelChange)="handleAddMultiSelect(input, $event.currentValue)"
                        (inputChange)="fieldSearch($event)"
                        (click)="clearInput()"
                    ></ot-lookup>
                </div>
            </ng-container>
        </section>
    <ng-template #loading>
        <ot-loading
            otPageLoading
            class="min-height-20 row-horizontal-vertical-center"
        ></ot-loading>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1"
        ot-auto-id="DSARRequestUpdateCancel"
        [disabled]="isLoading"
        [innerText]="'Cancel' | otTranslate"
        (click)="closeModal()"
    ></button>
    <button
        otButton
        brand
        class="margin-right-1"
        ot-auto-id="DSARRequestUpdateSubmit"
        [loading]="isLoading || isSubmitting"
        [disabled]="isLoading || !canSubmit"
        [innerText]="'Save' | otTranslate"
        (click)="handleSubmit()"
    ></button>
</ot-modal-footer>
