<ng-container *asyncValue="dashboardWidgetFormService.groupByEntitySelection$; let groupByEntitySelection">
    <ng-container *asyncValue="dashboardWidgetFormService.groupByEntityOptions$; let groupByEntityOptions">
        <ot-lookup
            class="block max-width-50 full-width margin-left-right-auto margin-bottom-1"
            ot-auto-id="DashboardWidgetFormGroupByEntity"
            valueKey="id"
            labelKey="label"
            [ngClass]="{'slds-has-error': showEntityError}"
            [placeholder]="'Module' | otTranslate"
            [options]="groupByEntityOptions | lookup: groupByEntitySelection : groupByEntitySearchTerm : 'id' : 'label'"
            [disabled]="!groupByEntityOptions?.length"
            [model]="groupByEntitySelection"
            (modelChange)="onGroupByEntityChange($event.currentValue)"
            (inputChange)="groupByEntitySearch($event)"
            >
        </ot-lookup>
    </ng-container>
</ng-container>
<ng-container *asyncValue="dashboardWidgetFormService.groupBySubEntitySelection$; let groupBySubEntitySelection">
    <ng-container *asyncValue="dashboardWidgetFormService.groupBySubEntityOptions$; let groupBySubEntityOptions">
        <ot-lookup
            class="block max-width-50 full-width margin-left-right-auto margin-bottom-1"
            ot-auto-id="DashboardWidgetFormGroupBySubEntity"
            valueKey="id"
            labelKey="label"
            [ngClass]="{'slds-has-error': showSubEntityError}"
            [placeholder]="'SubEntity' | otTranslate"
            [options]="groupBySubEntityOptions | lookup: groupBySubEntitySelection : groupBySubEntitySearchTerm : 'id' : 'label'"
            [disabled]="!groupBySubEntityOptions?.length"
            [model]="groupBySubEntitySelection"
            (modelChange)="onGroupBySubEntityChange($event.currentValue)"
            (inputChange)="groupBySubEntitySearch($event)"
            >
        </ot-lookup>
    </ng-container>
</ng-container>
<ng-container *asyncValue="dashboardWidgetFormService.groupByAttributeSelection$; let groupByAttributeSelection">
    <ng-container *asyncValue="dashboardWidgetFormService.groupByAttributeOptions$; let groupByAttributeOptions">
        <ot-lookup
            class="block max-width-50 full-width margin-left-right-auto margin-bottom-1"
            ot-auto-id="DashboardWidgetFormGroupByAttribute"
            valueKey="id"
            labelKey="groupName"
            [ngClass]="{'slds-has-error': showAttributeError}"
            [placeholder]="'Attribute' | otTranslate"
            [options]="groupByAttributeOptions  | lookup: groupByAttributeSelection : groupByAttributeSearchTerm : 'id' : 'groupName'"
            [model]="groupByAttributeSelection"
            [disabled]="!groupByAttributeOptions?.length"
            (modelChange)="onGroupByAttributeChange($event.currentValue)"
            (inputChange)="groupByAttributeSearch($event)"
            >
        </ot-lookup>
    </ng-container>
</ng-container>
