.documents

    .documents-wrapper
        .menu(ng-if='Permissions.canShow("DocumentsTree")', ui-view='menu', ng-class='{"is-open": vm.ShowMenu}')
        .main(ui-view='main', ng-class='{"Ready": !vm.Ready}')

include ./Modals/AddDocumentModal.jade
