.question-multichoice {

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__btn {
        width: 100%;

        &-container {
            display: flex;
            flex: 1 1 48%;
            max-width: 48%;
            min-width: 1px;
            margin-bottom: 1rem;
        }
    }
}
