.assessment-header {
    position: relative;
    display: block;

    &__toggle {
        position: absolute;
        top: 2rem;
        right: 2.6rem;
        background: 0;
        border: 0;
        outline: none;
        color: $grey-3;

        &:hover {
            color: $grey-4;
        }

        &.is-active {
            color: $ui-blue;

            &:hover {
                color: lighten($ui-blue, 20%);
            }
        }

        &-icon {
            font-size: 3rem;
        }
    }
}
