<table
    otDataTable
    class="border-top-none"
    [colBordered]="colBordered"
    [resizableCol]="resizableCol"
    [responsiveTable]="responsiveTable"
    [rowBordered]="rowBordered"
    [rowData]="rows"
    [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
    [rowNoHover]="rowNoHover"
    [rowStriped]="rowStriped"
    [sortKey]="sortKey"
    [sortOrder]="sortOrder"
    [sortable]="sortable"
    [truncateCellContent]="truncateCellContent"
    [wrapCellContent]="wrapCellContent"
    (sortChanged)="handleSortChange($event)"
    >
    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
        <ot-data-table-column
            [headerLabel]="col.name"
            [sortable]="col.sortKey ? sortable : false"
            [sortKey]="col.sortKey"
            [column]="col"
            [tdStyle]="{'padding-left': '3rem'}"
            [thStyle]="{'padding-left': '3rem', 'justify-content': 'center'}"
            [classes]="columnIndex !== 0 ? { thAnchor: 'slds-grid slds-grid_align-center'} : { thAnchor: 'slds-grid'}"
            >
            <ng-template otDataTableCell let-row="row" *ngIf="rows && rows.length" [tdClass]="'max-width-20'">
                <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="tableColumnTypes.Link">
                        <div class="slds-truncate text-bold" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <a ot-auto-id="IncidentListCellLink" (click)="goToRoute(row)" title="{{row[col.cellValueKey]}}">{{row[col.cellValueKey]}}</a>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Date">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <span>{{ row[col.cellValueKey] | otDate }}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Deadline">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <one-deadline-label [deadline]="row[col.cellValueKey]" [showDeadline]="showDeadline"></one-deadline-label>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Assignee">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <one-assignee-label [assignee]="row[col.cellValueKey]"></one-assignee-label>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Text">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <span>{{row[col.cellValueKey]}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Type">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <span>{{row[col.cellValueKey] | otTranslate}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Stage">
                        <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <span [otBadge]="row[col.cellValueKey] | badgeColor: incidentBadgeColorMap" [innerText]="row[col.cellValueKey] | otTranslate"></span>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>
        </ot-data-table-column>

        <ng-container *ngIf="col.type === 'action'">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                >
                <ng-template
                    otDataTableHeader
                    [thClass]="'float-col'"
                    [thStyle]="{'width': 0}"
                ></ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    [tdClass]="'float-col'"
                    >
                    <upgraded-one-dropdown
                        class="flex height-100 align-center justify-center"
                        [icon]="'ot ot-ellipsis-h'"
                        [hideCaret]="true"
                        [alignRight]="true"
                        [getOptions]="getActions(row)"
                        [buttonClass]="'actions-table__context-btn'"
                        [listClass]="menuClass"
                    ></upgraded-one-dropdown>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
    </ng-container>

</table>

<ot-empty-state
    class="flex-full-height justify-center text-center margin-top-4"
    *ngIf="rows && !rows.length && tableMetaData?.first"
    [emptyStateMessage]="'NoRecordsFound' | otTranslate"
    >
    <img emptyStateImg />
    <button
        *ngIf="('IncidentRecordsView' | otPermit)"
        ot-auto-id="IncidentRegisterTableAddIncident"
        otButton
        brand
        empty-state-content
        (click)="onAddNewIncidentClicked()"
        >
        {{ 'AddNewIncident' | otTranslate }}
    </button>
</ot-empty-state>
