<one-modal-base
    [modalTitle]="'CreateWorkflow' | otTranslate"
    (close)="closeModal()"
>
    <section class="flex-full-height">
        <form
            novalidate
            class="padding-all-2"
            name="CreateWorkflowModalForm"
            #workFlowform="ngForm"
        >
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'WorkflowName'| otTranslate"
                [required]="true"
            >
                <input
                    otInput
                    required
                    ot-auto-id="IntgWorkflowName"
                    name="workflowName"
                    [placeholder]="'EnterName'| otTranslate"
                    [ngModel]="workflowModal.name"
                    (ngModelChange)="setWorkflowName($event)"
                />
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'System' | otTranslate"
                [required]="true"
            >
                <ot-picklist
                    required
                    ot-auto-id="IntgSystemId"
                    valueKey="id"
                    labelKey="name"
                    [placeholder]="'Select' | otTranslate"
                    [autoClose]="true"
                    [options]="systems"
                    [model]="selectedSystem"
                    [disabled]="isLoading"
                    (onSelect)="setSystem($event)"
                ></ot-picklist>
            </div>
        </form>
        <footer class="static-vertical row-flex-end padding-all-2">
            <button otButton
                ot-auto-id="IntgAddWorkflowModalCancelBtn"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                brand
                ot-auto-id="IntgAddWorkflowModalAddBtn"
                [innerText]="'Create' | otTranslate"
                [disabled]="workFlowform.invalid || !isSystem || saveInProgress"
                [loading]="saveInProgress"
                (click)="onClickAddWorkflow()"
            ></button>
        </footer>
    </section>
</one-modal-base>

