.mcm-modal {
    &__subtitle-font-weight {
        font-weight: 800;
    }

    &__media-shadow {
        box-shadow: 0 2px 4px 0px rgba(105, 105, 105, 0.5);
    }
    &__media-subtext-margin {
        margin-bottom: 7rem;
    }
}
