<section class="background-white flex-full-height">
    <ot-loading
        otPageLoading
        class="margin-all-auto"
        *ngIf="isLoading"
        [text]="'Attribute' | otTranslate"
        >
    </ot-loading>
    <section class="centered-max-50 padding-top-bottom-3 full-width">
        <upgraded-one-label-content
            class="block margin-bottom-2"
            [labelName]="'Name' | otTranslate"
            >
            <span [innerText]="attribute.name"></span>
        </upgraded-one-label-content>
        <upgraded-one-label-content
            class="block margin-bottom-2"
            [labelName]="'Description' | otTranslate"
            >
            <span [innerText]="attribute.description"></span>
        </upgraded-one-label-content>
        <upgraded-one-label-content
            class="block margin-bottom-2"
            [labelName]="'Type' | otTranslate"
            >
            <span [innerText]="typeKeys[attribute.responseType] | otTranslate"></span>
        </upgraded-one-label-content>
        <div
            class="margin-bottom-2 row-vertical-center"
            *ngIf="attribute.responseType === responseTypes.SingleSelect || attribute.responseType === responseTypes.MultiSelect"
            >
            <span class="slds-checkbox margin-right-1">
                <input
                    type="checkbox"
                    name="otherCheckbox"
                    id="checkbox-other"
                    tabindex="-1"
                    [ngModel]="attribute.allowOther"
                    [attr.ot-auto-id]="'AttributeDetailsOtherCheckbox'"
                    [disabled]="true"
                />
                <label class="slds-checkbox__label" for="checkbox-other">
                    <span class="slds-checkbox_faux text-pointer"></span>
                </label>
            </span>
            <span [innerText]="'AllowOther' | otTranslate"></span>
        </div>
    </section>
</section>
