<section class="full-size column-nowrap overflow-hidden background-white">
    <section class="padding-left-right-2 stretch-vertical column-nowrap">
        <ot-page-header class="margin-top-2-half padding-left-right-0" [title]="'UserGroups' | otTranslate" [type]="'clear'">
            <button otButton brand
                *ngIf="userGroupPermissions.add"
                [attr.ot-auto-id]="'UserGroupsAddButton'"
                [innerText]="'UserGroups.AddUserGroup' | otTranslate"
                (click)="openUserGroupsCreateModal()"
            ></button>
        </ot-page-header>
        <div class="margin-top-6">
            <div
                *ngIf="userGroupPermissions.search"
                class="
                    static-vertical
                    row-flex-end
                    background-grey
                    padding-top-bottom-1
                    padding-left-right-2"
                >
                <ot-search-input
                    class="margin-right-1"
                    [attr.ot-auto-id]="'AdminUserGroupSearchInput'"
                    [placeholder]="'Search' | otTranslate"
                    [searchOnEnter]="true"
                    [reset]="resetSearch"
                    (search)="searchUserGroup($event)"
                >
                </ot-search-input>
            </div>
        </div>
        <div
            class="overflow-auto position-relative"
            [ngClass]="{'stretch-vertical': !noRecordFound}">
                <table
                    *ngIf="isReady"
                    otDataTable
                    class="position-relative"
                    [rowData]="userGroupsMeta?.content"
                    [responsiveTable]="true"
                    [rowBordered]="true"
                    >
                    <ng-container *ngFor="let col of userGroupColumns; trackBy: trackByFn">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            >
                            <ng-template otDataTableHeader [thClass]="'max-15'">
                                <div
                                    class="padding-left-right-1"
                                    [title]="col.columnName"
                                    [ngClass]="col.cellClass"
                                    >
                                    <span
                                        class="slds-truncate text-bold align-center"
                                        [innerText]="col.columnName"
                                    ></span>
                                </div>
                            </ng-template>
                            <ng-template
                                otDataTableCell
                                class="slds-truncate"
                                let-row="row"
                                let-column="column"
                                [tdClass]="'max-15 padding-left-right-1 slds-truncate'"
                                >
                                <ng-container *ngIf="col.cellValueKey === 'name'; else defaultColumnHandling">
                                        <a
                                            *ngIf="userGroupPermissions.edit"
                                            class="slds-truncate block text-pointer text-link text-bold text-left"
                                            title="{{row[col.cellValueKey]}}"
                                            [attr.ot-auto-id]="'AdminUsersGotoEditUser'"
                                            [innerText]="row[column.cellValueKey]"
                                            (click)="groupNameClicked(row.id)"
                                        ></a>
                                        <span
                                            *ngIf="!userGroupPermissions.edit"
                                            title="{{row[col.cellValueKey]}}"
                                            [attr.ot-auto-id]="'AdminUsersGotoEditUser'"
                                            [innerText]="row[column.cellValueKey]"
                                        ></span>
                                    </ng-container>
                                <ng-template #defaultColumnHandling>
                                    <ng-container [ngSwitch]="column.type">
                                        <ng-container *ngSwitchCase="cellTypes.date">
                                            <div class="text-center">
                                                <span title="{{row[col.cellValueKey]}}"
                                                    [innerText]="row[column.cellValueKey] | otDate">
                                                </span>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <div class="text-center slds-truncate block">
                                                <span title="{{row[col.cellValueKey]}}"
                                                    [innerText]="row[column.cellValueKey]"
                                                    >
                                                </span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-template>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'"></ng-template>
                        <ng-template otDataTableCell
                            let-row="row"
                            [tdClass]="'background-transparent text-left center-block float-col'"
                            [tdStyle]="{'background': 'transparent'}"
                            >
                            <upgraded-one-dropdown
                                class="float-col inventory-table-new__context-button"
                                [attr.ot-auto-id]="'UserGroupsGetActionsDropdown'"
                                [icon]="'ot ot-ellipsis-h'"
                                [hideCaret]="true"
                                [alignRight]="true"
                                [getOptions]="getActions(row)"
                                [buttonClass]="'actions-table__context-btn'"
                            ></upgraded-one-dropdown>
                        </ng-template>
                    </ot-data-table-column>
                </table>
                <upgraded-loading *ngIf="!isReady" class="absolute-center" [showIcon]="true"></upgraded-loading>
        </div>
        <one-empty-state
            *ngIf="noRecordFound"
            class="flex-full-height column-horizontal-vertical-center stretch-vertical"
            [attr.ot-auto-id]="'UserGroupsAddNewGroupButton'"
            [emptyStateMessage]="'UserGroups.NoUserGroups' | otTranslate"
            [showButton]="userGroupPermissions.add"
            [actionText]="'UserGroups.AddUserGroup' | otTranslate"
            [imagePath]="'images/add_usergroup.svg'"
            (actionCallback)="openUserGroupsCreateModal()"
            >
        </one-empty-state>
    </section>
    <footer otPaginationFooter
        *ngIf="!noRecordFound && userGroupsMeta"
        >
        <ot-pagination
            [currentPage]="params.page + 1"
            [numPages]="userGroupsMeta?.totalPages"
            (pageChanged)="pageChangedEvent($event - 1)">
        </ot-pagination>
        <span>
            {{ userGroupsMeta | otPageMeta }}
        </span>
    </footer>
</section>

