.risk-tile-dropdown {
    &__menu {
        width: 22.5rem;
        height: 25.5rem;
        border: 1px solid $grey-3;
        background-color: $eggshell;
        border-radius: 3px;
        max-height: 25.5rem;
        margin-top: 0.9rem;
    }

    &__desc {
        height: 6.6rem;
        color: $slate;
    }

    &__tile-container {
        height: 15.2rem;
        width: 15.2rem;
        margin: auto;
    }

    &__tile {
        margin: 0.3rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.25);
            transition-duration: 0.05s;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
        }
    }

    &__tile-container-padding {
        width: 3.5rem;
    }

    &__x-axis-label {
        height: 3rem;
        color: $slate;
        padding: 0 3.5rem;
    }

    &__y-axis-label {
        transform: rotate(270deg);
        transform-origin: center;
        width: 15.2rem;
        color: $slate;
        padding: 0 3.5rem;
    }
}