<ot-modal-header (close)="closeModal()">
    {{ 'WebFormMigrationNotification' | otTranslate }}
</ot-modal-header>
<ot-modal-content>
    <form name="WebFormMigrationNotification" novalidate>
        <ot-confirm-modal-icon
            type="warning"
        ></ot-confirm-modal-icon>
        <div>
            <div class="text-center">
                <div class="text-bold">
                    {{ 'DSARFormsMigrated' | otTranslate: { FormsCount: this.formsCount }  }}
                </div>
                <div class="margin-top-2">
                    {{ 'DSARWebformAutoPublishReplaceNotification' | otTranslate }}
                </div>
            </div>
            <div class="margin-top-2">
                <strong>{{ 'DSARNewFormBenefitsHeading' | otTranslate }}</strong>
                <ul class="margin-left-1 margin-top-1">
                    <li class="bullet-list">{{ 'DSARNewFormBenefitsBetterReliability' | otTranslate}}</li>
                    <li class="bullet-list">{{ 'DSARNewFormBenefitsDraftMode'| otTranslate }}</li>
                    <li class="bullet-list">{{ 'DSARNewFormBenefitsLoadsFaster'| otTranslate }}</li>
                    <li class="bullet-list">{{ 'DSARNewFormBenefitsResponsive'| otTranslate }} </li>
                </ul>
            </div>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <div class="row-nowrap full-width">
        <div class="width-50-percent">
            <ot-checkbox
                ot-auto-id="dismissNotification"
                [checked]="dismissNotification"
                (toggle)="disableNotification()">
            </ot-checkbox>
            <label class="margin-left-1 media-bottom text-bold">{{ 'DoNotShowThisMessageAgain' | otTranslate }}</label>
        </div>
        <div class="width-50-percent row-flex-end">
            <button otButton brand
                ot-auto-id="AutoPublishModalClose"
                (click)="closeModal()">
                {{ 'Close' | otTranslate }}
            </button>
        </div>
    </div>
</ot-modal-footer>

