.column-nowrap.full-size.overflow-hidden
    one-global-header.static-vertical
    .pia-container.full-size.stretch-vertical.row-nowrap
        one-global-sidebar(ng-if="::Permissions.canShow('Menu')")
        .full-size.stretch-horizontal.position-relative.z-index-0(ui-view='module')#ot-page-wrapper

        // Modals
        include Modals/UpgradeModal.jade
