.one-org-dropdown {
    &__list {
        margin: 0;
        top: 3.5rem;
        min-width: 200px;
        max-width: 56rem;
        border-radius: 2px;
        border: none;
        max-height: 20rem;
        overflow-y: auto;
        padding-bottom: 10px;
        background: -webkit-gradient(linear, left 90%, left bottom, from(#fff), to(#ccc));
        background: -moz-radial-gradient(0 90%, bottom, #fff, #ccc);
    }

    &__list-item {
        width: 100%;
        padding: 2px 4px;
        color: $slate;
        outline: none;
        cursor: pointer;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            background-color: $eggshell;
            color: $slate;
        }

        &.selected {
            background-color: $ui-blue;
            color: $white;
        }
    }

    &__list-item-icon {
        margin: 0 .5rem;
    }
}
