#pia-project-assessment
    .assessment-wrapper(ui-view='')

include ./Modals/AnalysisModal.jade
include ./Modals/CommentsModal.jade
include ./Modals/NextStepsModal.jade
include ./Modals/ShareProjectModal.jade
include ./Modals/SendBackModal.jade
include ./Modals/SuspendModal.jade
include ./Modals/QuestionHistoryModal.jade
