#assessment-list
    header.assessment-header
        ul.breadcrumb
            li(data-ng-if="permissions.canViewProjects && \
                           !(permissions.selfServiceExecute && selfServiceEnabled) \
                           && !loading")
                a(ui-sref-active='active', ui-sref='{{routes.projects}}')
                    i.fa.fa-chevron-left
                    span.translate {{ ::labels.breadcrumb }}&nbsp;
            li(data-ng-if='permissions.canViewProjects && \
                           permissions.selfServiceExecute && \
                           selfServiceEnabled && \
                           !loading')
                a(ui-sref-active='active', ui-sref='{{routes.selfServiceList}}')
                    i.fa.fa-chevron-left
                    span.translate {{::$root.t("SelfService")}}&nbsp;
            li.active(ng-if='!projectNotAvailable && !loading')
                | {{Project.Name}}
                one-tag(
                    plain-text='V{{Project.Version}}',
                    label-class='projectlabels-tag__default'
                    ng-if='::!isDataMapping'
                )
                one-tag(
                    label-class='projectlabels-tag__{{Project.StateLabel}}',
                    plain-text='{{Project.StateName}}'
                )
        .project-progress(ng-if='Project.StateDesc === ProjectStates.InProgress || \
                                 Project.StateDesc === ProjectStates.InfoNeeded')
          uib-progressbar(
            ng-if='!loading',
            value='ProjectProgress.value',
            type='success'
          )
            span(ng-if="ProjectProgress.value") {{ProjectProgress.value}}%

        section.read-only(ng-if='!loading')
            h5.read-only-text(ng-if='isReadOnly')
                | {{::$root.t("ReadOnly")}}
            one-dropdown.margin-right-1(
                data-id='assessmentHeaderActionDropdownTriggerButton',
                ng-if='::headerOptions.length',
                icon='ot ot-ellipsis-h media-middle',
                options='headerOptions',
                hide-caret='true',
                align-right='true',
                round-button='true',
                list-class='z-index-9999'
            )

    loading(ng-if='loading', text="{{::labels.loadingMessage}}")

    .module-wrapper.module-wrapper--full(ng-if='!loading')
        .assessment-body(ng-if='Project.Sections')
            assessment-menu(
                class="assessment-menu"
                current-user="CurrentUser"
                project="Project"
                phases="projectPhases"
                go-to-section="goToSection"
                go-to-question="goToQuestion"
                go-to-risk-summary="transitionToRiskSummary"
                toggle-phase-expand="togglePhaseExpand"
                check-sidebar-active="checkSidebarActive"
                open-comments-modal="OpenCommentsModal"
                toggle-open-questions="toggleOpenQuestions"
            )
            section.assessment-questions(ui-view='assessment_questions')
            #pageslide-container(
              ng-if='permissions.notesApprovalView && \
                     Project.StateDesc !== ProjectStates.InProgress')
                div(
                    pageslide='',
                    ps-squeezeContent='true',
                    ps-open='pageSlide.checked',
                    ps-class='pageslide',
                    ps-container='pageslide-container',
                    ps-ClickOutside='false')
                    one-review-notes(
                        page-slide="pageSlide",
                        project="Project"
                    )
