.questions-container#questions-container(ng-if='Project.Sections && !showAnalysis')
    .one-slide(ng-repeat='Section in Project.Sections track by $index', ng-if='!Section.IsSkipped')
        .width-100-percent(
            data-ng-if='Section.isWelcomeSection',
            data-ng-class="{'show-slide-left': SelectedIndex === $index && slideDirection === 'right', 'hide hide-slide-left': SelectedIndex !== $index && slideDirection === 'right', 'show-slide-right': SelectedIndex === $index && slideDirection === 'left', 'hide hide-slide-right': SelectedIndex !== $index && slideDirection === 'left', 'hide': SelectedIndex !== $index && slideDirection === null}")
            assessment-section-header(
                actions="headerActions"
                current-section="Section"
                labels="labels"
                assessment-model="Project"
            )

            .welcome__detail.ql-editor
                .Welcome-text(ng-bind-html='Section.Questions[0].Content')

        .section__container(
            data-ng-if='!Section.isWelcomeSection && Section.Questions.length',
            data-ng-class="{'show-slide-left': SelectedIndex === $index && slideDirection === 'right', \
                            'hide hide-slide-left': SelectedIndex !== $index && slideDirection === 'right', \
                            'show-slide-right': SelectedIndex === $index && slideDirection === 'left', \
                            'hide hide-slide-right': SelectedIndex !== $index && slideDirection === 'left', \
                            'hide': SelectedIndex !== $index && slideDirection === null}"
            id='{{Section.Id}}')
            assessment-section-header(
                actions="headerActions"
                current-section="Section"
                labels="labels"
                assessment-model="Project"
            )
            .section__panel.row-flex-end.padding-all-1(
                data-ng-if='Section.canShowNoAdditionalChangesButton',
            )
                one-button.margin-right-3(
                    button-click="noAdditionalChanges()"
                    enable-loading="true"
                    is-loading="isMakingNoAdditionalChangesRequest"
                    is-disabled="isMakingNoAdditionalChangesRequest"
                    identifier="noAdditionalChangesButton"
                    text="{{::$root.t('NoAdditionalChanges')}}"
                    type="primary"
                )

            assessment-question(
                data-question-type='{{Question.Type}}',
                events="questionEvents"
                get-remaining-questions="GetRemainingQuestions"
                get-project-progress="getProjectProgress"
                id="{{Question.Id}}"
                ng-repeat='Question in Section.Questions | filter: filter.QuestionFilter track by Question.Id'
                ng-if="!Question.IsSkipped"
                on-question-action="handleQuestionAction(questionAction)"
                project="Project"
                question="Question"
                section="Section"
            )

assessment-footer-new(
    current-user="CurrentUser"
    current-section="currentSection"
    labels="labels"
    on-button-click="handleFooterButtonActions(actionType)"
    project="Project"
    response-is-updating="responseIsUpdating"
    request-in-progress="requestInProgress"
    selected-index="SelectedIndex"
    show-next-section="ShowNextSection"
)
