<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="row-horizontal-center">
    <ot-dueling-picklist
        #duelingPicklist
        ot-auto-id="GridColumnSelector"
        [labelKey]="labelKey"
        [labelLeft]="labelLeft | otTranslate"
        [labelRight]="labelRight | otTranslate"
        [optionsLeft]="leftList"
        [optionsRight]="rightList"
        (changed)="onChanged()"
    ></ot-dueling-picklist>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="ColumnSelectorCloseButton"
        [innerText]="'Cancel' | otTranslate"
        (click)="closeModal()"
    ></button>
    <button otButton neutral
        ot-auto-id="ColumnSelectorResetDefaultButton"
        [innerText]="'ResetToDefault' | otTranslate"
        (click)="resetToDefault()"
    ></button>
    <button otButton brand
        ot-auto-id="ColumnSelectorSaveButton"
        [disabled]="noChanges"
        [innerText]="'Apply' | otTranslate"
        (click)="saveAndClose()"
    ></button>
</ot-modal-footer>
