#dashboard
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand {{::$root.t("Dashboard")}}

    .module-wrapper.dashboard-container
        section.dashboard-list
            .dashboard-item.information(ng-if='Permissions.canShow("DashboardProjectsStatus")')
                loading(ng-if="!ready", text="{{::$root.t('Statuses')}}", loading-class="information_loading")
                .information-container(ng-if='ready')
                    .information-box.projectlabels__in-progress
                        h2 {{status.projectsInProgress}}
                        h4 {{::$root.t("InProgress")}}
                    .information-box.projectlabels__under-review
                        h2 {{status.projectsUnderReview}}
                        h4 {{::$root.t("UnderReview")}}
                     .information-box.projectlabels__needs-info
                        h2 {{status.projectsInfoNeeded}}
                        h4 {{::$root.t("MoreInfoNeeded")}}
                    .information-box.projectlabels__risk-assessment(ng-if='status.projectsRiskAssessment || ProjectSettings.EnableRiskAnalysis')
                        h2 {{status.projectsRiskAssessment}}
                        h4 {{ $root.t("RiskAssessment") }}
                    .information-box.projectlabels__risk-treatment(ng-if='status.projectsRiskTreatment || ProjectSettings.EnableRiskAnalysis')
                        h2 {{status.projectsRiskTreatment}}
                        h4 {{::$root.t("RiskTreatment")}}
                    .information-box.projectlabels__completed
                        h2 {{status.projectsCompleted}}
                        h4 {{::$root.t("Completed")}}
                    .information-box.wide.projectlabels__default
                        h2 {{status.projectsTotal}}
                        h4 {{::$root.t("AllProjects")}}

            .dashboard-item.graph.status-graph(ng-if='Permissions.canShow("DashboardProjectsStatus")')
                .graph-container
                    h3
                        |  {{::$root.t("ProjectsStatusViewer")}}
                    span.status-graph__subheading
                        label
                            |{{::$root.t("FilterByOrganizationGroup")}}
                        one-dropdown(button-class="small-button", options="orgGroupsForProject", text="{{::$root.t('NoFilter')}}", text-update="true")
                    loading(class="dashboard-container_loading", ng-if="!ready", text='{{::$root.t("StatusGraph")}}')
                    pie-graph(graph-data="projects", project-settings="ProjectSettings", ng-if="ready && projects.length")
                    .no-data(ng-if="ready && !projects.length")
                        | {{::$root.t("NoProjects")}}

            .dashboard-item.graph.age-graph(ng-if='Permissions.canShow("DashboardProjectsAging")')
                .graph-container
                    .inner-container
                        .chart
                            h3 {{::$root.t("AgingProject")}}
                            loading(class="dashboard-container_loading", ng-if="!ready", text='{{::$root.t("AgeGraph")}}')
                            age-graph(graph-data="projects" ng-if="ready && projects.length")
                            .no-data(ng-if="ready && !projects.length")
                                | {{::$root.t("NoProjects")}}
                        .text
                            h4 {{::$root.t("ProjectDetails")}}
                            .filters
                                form.filters-form
                                    .filter-content
                                        label.filter-content__label(for='newDateRange')
                                            | {{::$root.t("FilterByProjectAge")}}
                                    .filter-content
                                        one-dropdown(button-class="small-button", options="projectAgeFilters", text="{{::$root.t('NoFilter')}}", text-update="true")

            .dashboard-item.graph.project-graph(ng-if='Permissions.canShow("DashboardProjectsRisks")')
                .graph-container
                    .inner-container
                        .text
                            h4 {{::$root.t("RiskDetails")}}
                            .filters
                                form.filters-form
                                    .filter-content
                                        label.filter-content__label(for='orgGroupFilter')
                                            | {{::$root.t("FilterByOrganizationGroup")}}
                                    .filter-content
                                        one-dropdown(button-class="small-button", options="orgGroupsForRisk", text="{{::$root.t('NoFilter')}}", text-update="true")
                                form.filters-form
                                    .filter-content
                                        label.filter-content__label(for='riskStatusFilter')
                                            | {{::$root.t("FilterByRiskStatus")}}
                                    .filter-content
                                        button.one-button.small-button(tabindex='0',
                                        title='Status Filter', role='link',
                                        uib-popover-template='"statusFilter.html"', popover-placement='bottom-left',
                                        popover-trigger='"outsideClick"', popover-class='one-popup')
                                            | {{::$root.t("FilterByStatus") }} <span class="one-dropdown__button-icon fa fa-caret-down"></span>
                                        script(type='text/ng-template', id='statusFilter.html')
                                            ul.one-popup__list
                                                li.one-popup__item.one-popup__item--head
                                                    button.one-popup__checkbox(
                                                    type='button',
                                                    ng-click='toggleAllRiskStates()',
                                                    ng-class="{'checked': allRiskStatesEnabled}")
                                                        i.ot.ot-check(ng-class='{"ot-check": riskStatesList.length >= riskStateFilter["filters"].length, "fa-minus": riskStatesList.length < riskStateFilter["filters"].length}')
                                                    span.one-popup__text
                                                        | ({{::$root.t("SelectAll")}})
                                                li.one-popup__item(ng-repeat='item in riskStateFilter["filters"] track by $index')
                                                    button.one-popup__checkbox(
                                                    type='button',
                                                    ng-click="toggleRiskStateFilter(item)",
                                                    ng-class="{'checked': item.Filtered}")
                                                        i.ot.ot-check
                                                    span.one-popup__text
                                                        | {{item.label || '- - - -'}}
                            .risk-text(ng-if="riskGraphReady")
                                h5.risk-text__header(ng-if="filteredRiskCount === 0") {{::$root.t("NoRisk")}}
                                h5.risk-text__header(ng-if="filteredRiskCount > 0") {{::$root.t("RiskTotals")}}
                                .risk(ng-repeat="data in riskGraphData track by $index" ng-if="filteredRiskCount > 0")
                                    h6.risk-text__category(ng-if="$index === 0") {{data.label}}
                                    h6.risk-text__category(ng-if="$index > 0") {{data.label}} {{::$root.t("Risk")}}
                                    p.risk-text__data {{data.count}}

                        .chart
                            h3
                                | {{::$root.t("RiskSummary")}}
                            loading(class="dashboard-container_loading", ng-if="!riskGraphReady", text='{{::$root.t("RiskGraph")}}')
                            project-graph(graph-data="riskGraphData" ng-if="riskGraphReady && filteredRiskCount")
                            .no-data(ng-if="riskGraphData && !filteredRiskCount")
                                | {{::$root.t("NoRisk")}}

            .dashboard-item.graph.project-graph(ng-if='Permissions.canShow("DashboardProjectsRisks")')
                .graph-container
                    .inner-container
                        .chart
                            h3
                                | {{projectCustomTerm}} {{::$root.t("CountByOpenRisks")}}
                            span.project-graph__subheading
                                | {{selectedTemplate}}
                            loading(class="dashboard-container_loading", ng-if="!projectRiskGraphReady", text='{{::$root.t("ProjectRiskGraph")}}')
                            one-donut-graph(
                                ng-if="projectRiskGraphReady && filteredProjectRiskCount"
                                donut-data="projectRiskGraphData",
                                graph-id="projectriskgraph",
                                donut-name="projectDonut",
                                margin="5",
                                outer-radius="140",
                                inner-radius="65",
                                sort-arcs="true",
                                center-label="{{filteredProjectRiskCount}}",
                                disable-percentage="true")
                            .no-data(ng-if="projectRiskGraphData && !filteredProjectRiskCount")
                                | {{::$root.t("NoProjects")}}

                        .text
                            h4 {{::$root.t("ProjectDetails")}}
                            .filters
                                form.filters-form
                                    .filter-content
                                        label.filter-content__label(for='orgGroupFilter')
                                            | {{::$root.t("FilterByOrganizationGroup")}}
                                    .filter-content
                                        one-dropdown(
                                            ng-if="riskGraphReady",
                                            button-class="small-button",
                                            options="orgGroupsForProjectRisk",
                                            text="{{::$root.t('NoFilter')}}",
                                            text-update="true")
                                form.filters-form
                                    .filter-content
                                        label.filter-content__label(for='templateFilter')
                                            | {{::$root.t("FilterByTemplate")}}
                                    .filter-content
                                        one-dropdown(
                                            ng-if="riskGraphReady",
                                            button-class="small-button",
                                            options="templateTypes",
                                            text="{{::$root.t('NoFilter')}}",
                                            text-update="true",
                                            default-index="1")

                            //- .risk-text(ng-if="riskGraphReady")
                                //- h5.risk-text__header(ng-if="filteredProjectRiskCount === 0") {{::$root.t("NoResults")}}
                                //- h5.risk-text__header(ng-if="filteredProjectRiskCount > 0") {{::$root.t("ProjectTotals")}}
                                //- .risk(ng-repeat="data in projectRiskGraphData track by $index" ng-if="filteredProjectRiskCount > 0")
                                    //- h6.risk-text__category {{data.label}}
                                    //- p.risk-text__data {{data.count}}
