.gra-progress-bar {
    max-height: 7rem;
    .slds-progress {
        max-width: 30rem;
    }
}

.gra-launch-sidebar-small-width {
    min-width: 40rem;
    max-width: 30%;
}

.gra-launch-sidebar-full-width {
    max-width: 70rem;
}
