<ot-loading otPageLoading
    *ngIf="isCountriesAndRegionsLoading"
    class="padding-top-5 row-horizontal-vertical-center full-size min-height-20"
></ot-loading>
<section
    *ngIf="!isCountriesAndRegionsLoading"
    class="height-100 text-color-default flex flex-column"
    >
    <!--Hiding this till further confirmation from UX-->
    <div
        *ngIf="false"
        class="gra-progress-bar flex flex-column justify-center background-white border-bottom"
        >
        <ot-progress-indicator
            [progressState$]="progressState$"
            [labels]="labels"
        ></ot-progress-indicator>
    </div>
    <div class="flex flex-column align-center max-height-10 background-grey margin-top-bottom-2">
        <ng-container *ngIf="!(!isCountriesAndRegionsEnabled && !onCountriesAndRegionsPage)">
        <p class="padding-bottom-1 text-xhuge text-bold">{{ "SelectRegions" | translate }}</p>
        <p class="text-center centered-max-50">{{ "GlobalReadinessStartMessage" | translate }}</p>
        </ng-container>
        <ng-container *ngIf="!isCountriesAndRegionsEnabled && !onCountriesAndRegionsPage">
            <p class="padding-bottom-1 text-xhuge text-bold">{{ "SelectLegalFrameworkAndLaws" | translate }}</p>
            <p class="text-medium">{{ "SelectFrameworkMessage" | translate }}</p>
        </ng-container>
    </div>
    <!-- tabs and map wrapper -->
    <section class="flex justify-center min-height-1">
        <!-- tabs -->
        <section
            [ngClass]="onCountriesAndRegionsPage ? 'gra-launch-sidebar-small-width' : 'gra-launch-sidebar-full-width'"
            class="flex flex-column static-horizontal background-grey padding-left-right-2"
            >
            <div *ngIf="onCountriesAndRegionsPage" class="flex flex-column static-vertical">
                <p class="text-bold">{{ "WantToStartWith" | translate }}</p>
                <one-button-toggle
                    [leftButtonText]="'CountriesAndRegions' | translate"
                    [rightButtonText]="'FrameworksAndLaws' | translate"
                    [primaryButtonActive]="isCountriesAndRegionsEnabled"
                    (toggle)="onCountryFrameworkToggle()"
                ></one-button-toggle>
                <!-- CountriesAndRegions tab -->
                <section
                    *ngIf="isCountriesAndRegionsEnabled"
                    class="flex-column"
                    >
                    <p class="text-bold padding-top-2 padding-bottom-1"> {{ "CountriesAndRegions" | translate}}</p>
                    <div class="row-nowrap padding-all-1 margin-bottom-1">
                        <ot-checkbox
                            ot-auto-id="allRegionsGRALaunchCheckbox"
                            [checked]="allRegionsChecked"
                            [disabled]="isCountriesAndRegionsLoading"
                            (toggle)="onAllRegionsToggle($event)"
                        ></ot-checkbox>
                        <p class="text-medium-small padding-left-1">{{ "SelectAll" | translate }}</p>
                    </div>
                </section>
            </div>
            <!--Region Cards List-->
            <div
                *ngIf="isCountriesAndRegionsEnabled && onCountriesAndRegionsPage"
                class="flex-column stretch-vertical overflow-y-auto"
                >
                <ng-container *ngFor="let regionData of regionDataList; trackBy: trackByRegionId">
                    <region-card
                        [regionData]="regionData"
                        (onChange)="regionCardsSelectionChanged($event)"
                    ></region-card>
                </ng-container>
            </div>
            <!-- FrameworksAndLaws tab -->
            <div
                *ngIf="!isCountriesAndRegionsEnabled"
                class="flex flex-column static-vertical"
                >
                <div class="text-bold padding-top-2 padding-bottom-1">
                    <p *ngIf="onCountriesAndRegionsPage">{{ "LegalFrameworkAndLaws" | translate }}</p>
                    <p *ngIf="!onCountriesAndRegionsPage">{{ "ApplicableFrameworksAndLaws" | translate }}</p>
                </div>
                <div class="row-nowrap padding-all-1 margin-bottom-1">
                    <ot-checkbox
                        ot-auto-id="allFrameworkLawGRALaunchCheckbox"
                        [checked]="allFrameworkLawsChecked"
                        (toggle)="onAllFrameworkLawsToggle($event)"
                    ></ot-checkbox>
                    <div class="text-medium-small padding-left-1">
                        <p *ngIf="onCountriesAndRegionsPage">{{ "SelectAll" | translate }}</p>
                        <p *ngIf="!onCountriesAndRegionsPage">{{ "SelectAllFrameworks" | translate }}</p>
                    </div>
                </div>
            </div>
            <!--Framework Cards List-->
            <div
                *ngIf="!isCountriesAndRegionsEnabled"
                class="flex flex-column stretch-vertical overflow-y-auto"
                >
                <ng-container *ngFor="let frameworkLawData of frameworkLawDataList; trackBy: trackByFrameworkLawId">
                    <framework-law-card
                        [ngClass]="{'margin-bottom-1': !isCountriesAndRegionsEnabled && !onCountriesAndRegionsPage,
                                    'margin-bottom-2': !isCountriesAndRegionsEnabled }"
                        [frameworkLawData]="frameworkLawData"
                        (onChange)="frameworkLawCardsSelectionChanged($event)"
                    ></framework-law-card>
                </ng-container>
            </div>
        </section>
        <!--Map-->
        <section [ngClass]="{'display-none': !onCountriesAndRegionsPage}" class="width-100-percent">
            <gra-cross-border-card></gra-cross-border-card>
        </section>
    </section>
    <footer
        otPageFooter
        class="background-white padding-top-bottom-1 z-index-1"
        [justify]="'space-between'"
        >
        <!--TODO: Uncomment below code when the contact button functionality is finalized.-->
        <div class="flex">
            <!-- <div class="flex-column">
                <p class="text-bold text-small">{{ "DontSeeWhatYouNeed" | translate }}</p>
                <p class="text-small">{{ "ClickHereToLetUsKnow" | translate }}</p>
            </div> -->
            <div class="flex">
                <!-- <div class="border-right row-horizontal-vertical-center padding-right-1 margin-left-right-1">
                    <button
                        otButton neutral
                        ot-auto-id="GlobalReadinessLaunchContactButton"
                        [innerText]="'Contact' | translate"
                        (click)="onContactButtonClick()"
                    ></button>
                </div> -->
                <button
                    otButton
                    ot-auto-id="GlobalReadinessLaunchCancelButton"
                    [innerText]="'Cancel' | translate"
                    (click)="onCancelButtonClick()"
                ></button>
            </div>
        </div>
        <button
            *ngIf="!onCountriesAndRegionsPage"
            otButton neutral
            ot-auto-id="GlobalReadinessLaunchPreviousButton"
            class="margin-right-2"
            [innerText]="'Previous' | translate"
            (click)="onPreviousButtonClick()"
        ></button>
        <button
            *ngIf="isCountriesAndRegionsEnabled"
            otButton brand
            ot-auto-id="GlobalReadinessLaunchNextButton"
            class="margin-right-2"
            [innerText]="'Next' | translate"
            (click)="onNextButtonClick()"
        ></button>
        <button
            *ngIf="!isCountriesAndRegionsEnabled"
            otButton brand
            ot-auto-id="GlobalReadinessLaunchButton"
            class="margin-right-2"
            [innerText]="'StartYourAssessment' | translate"
            [disabled]="!enableStartAssessmentButton"
            (click)="onStartAssessmentButtonClick()"
        ></button>
    </footer>
</section>
