<div class="position-relative">
    <div class="
        cr-collection-point-badge
        position-absolute
        shadow
        border-radius
        background-white
        "
        *ngIf="collectionPointType !== crConstants.CRTypes.Mobile"
        [ngClass]="{'cr-collection-point-badge--creating': creating}"
        [ngSwitch]="collectionPointType"
        >
        <div *ngSwitchCase="crConstants.CRTypes.WebForm">
            <p class="text-center margin-top-2"><i class="cr-edit__card-icon ot ot-webform fa-3x"></i></p>
            <p class="text-center text-bold">{{'WebForm' | otTranslate}}</p>
        </div>
        <div *ngSwitchCase="crConstants.CRTypes.API">
            <p class="text-center margin-top-2"><i class="cr-edit__card-icon ot ot-code fa-3x"></i></p>
            <p class="text-center text-bold">{{'CustomAPI' | otTranslate}}</p>
        </div>
        <div *ngSwitchCase="crConstants.CRTypes.BulkImport">
            <p class="text-center margin-top-2"><i class="cr-edit__card-icon ot ot-form fa-3x"></i></p>
            <p class="text-center text-bold">{{'BulkImport' | otTranslate}}</p>
        </div>
        <div *ngSwitchCase="crConstants.CRTypes.Cookie">
            <p class="text-center margin-top-2"><i class="cr-edit__card-icon ot ot-cookies fa-3x"></i></p>
            <p class="text-center text-bold">{{'Cookie' | otTranslate}}</p>
        </div>
        <div *ngSwitchCase="crConstants.CRTypes.NotificationOptOut">
            <p class="text-center margin-top-2"><i class="cr-edit__card-icon ot ot-bell fa-3x"></i></p>
            <p class="text-center text-bold">{{'NotificationOptOutBadge' | otTranslate}}</p>
        </div>
    </div>
</div>
