.cr-collection-point-badge {
    left: calc((100% - 70rem)/2);
    @media(min-width: 1300px) {
        left: calc((100% - 70rem)/2 - 18rem);
    }

    &--creating {
        top: 1.5rem;
        left: calc((100% - 70rem)/2 - 12rem);
        @media(min-width: 1300px) {
            left: calc((100% - 70rem)/2 - 17rem);
        }
    }

    font-size: 1.8rem;
    margin-top: -6rem;
    min-width: 12rem;
    height: 12rem;
    width: auto;
}