.data-mapping-body {
    height: 100%;
    min-width: 1px;
    flex: 1 1 auto;
    padding: 0;
    display: block;
    background-color: $paper-gray;

    .module-wrapper {
        padding: 0;
    }
}
