//////////////////////////////////////////////////////////////////////////////////////////////
// PIA DataMapping
//////////////////////////////////////////////////////////////////////////////////////////////
.data-mapping {
    height: 100%;
    padding: 0;
    color: $slate;

    .data-mapping-content {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .menu-toggle {
        margin: 0 0.7rem;
        font-size: 1.5rem;
        @media(min-width: $small){
            display: none;
        }
    }

    @import 'menu';
    @import 'body';
}

@import 'Tables/table';
@import 'Settings/main';
@import 'Modals/assignment-modal';
