&__menu {
    height: 100%;
    flex: 0 0 20rem;
    overflow-y: auto;
    position: absolute;
    z-index: 250;
    background-color: #f3f3f3;
    border-right: 1px solid #ccc;
    transition: 0.25s;
    left: -100%;
    &.is-open {
        left: 0;
    }
    @media(min-width: $small) {
        height: 100%;
        position: inherit;
        display: block;
    }

    &-textlink {
        color: $slate;
        display: block;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            text-decoration: none;
            color: $slate;
        }

        &-tag {
            margin-left: .6rem;
        }
    }

    &-list {
        height: 100%;
        padding: 0;
    }

    &-section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        border-bottom: 1px solid $grey-1;

        &-title {
            margin: 0;

            &--main {
                border-bottom: 0;
                padding: 2rem;
            }

            &.active {
                background-color: $grey-1;
            }

            &--header {
                background-color: $grey-3;
                height: 3rem;
                color: $slate;
            }
        }

        &-header {
            padding: 1rem 2rem;
            display: block;
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
                float: none;
                display: block;
                &.active {
                    background-color: $grey-1;

                    .data-mapping__menu-textlink {
                        color: $slate;
                    }
                }

                .data-mapping__menu-textlink {
                    padding: .4rem 2rem .4rem 3.8rem;
                }
            }
        }
    }

    .beta-tag {
        color: #B7B7B7 !important;
        box-shadow: none;
    }

    .upgrade__icon {
        margin-left: 0.4rem;
    }
}
