.is-market-place {
    &__header {
        box-shadow: none;
    }
    &__logo div.one-header {
        height: 10rem;
    }

    .intg-details-container {
        padding: 1rem 0;
        display: flex;
    }

    .intg-details-header {
        flex-grow: 1;
        display: inherit;
        align-self: center;
    }

    .intg-details-body-left {
        flex-grow: 1;
        display: inherit;
        font-size: $text-large;
    }

    .intg-details-body-right {
        flex-grow: 1;
        text-align: right;
        align-self: center;
    }

    ot-breadcrumb-item {
        a {
            font-size: $text-medium-small;
        }
    
        a.slds-breadcrumb__item-link {
            text-transform: uppercase;
        }
    }
}