<intg-system-layout
    [system]="system"
    [hideBanner]="true">
    <ot-tabs
        *ngIf="tabs.length > 1"
        [tabs]="tabs"
        [selectedTab]="selectedTab"
    >
        <span otTabsOverflowText>
            {{overflowText}}&nbsp;
            <i class="ot ot-caret-down"></i>
        </span>
        <a
            *otTabItem="let tab"
            ot-auto-id="intgMarketplaceDetailsBodyTabId"
            (click)="onTabClick(tab)"
            >
            {{tab.text}}
        </a>
    </ot-tabs>
    <div class="stretch-vertical column-nowrap full-width">
        <div
            *ngIf="selectedTab === TABS.OVERVIEW"
            class="flex padding-top-2 padding-left-right-3"
            [ngClass]="{'margin-left-right-auto width-50-percent':!isTargetDiscoverySystem}"
            >
            <ng-container *ngIf="isTargetDiscoverySystem; else onlyOverview">
                <section class="full-width row-horizontal-center">
                    <div class="width-80-percent padding-left-right-3">
                        <ng-container *ngIf="loadingTemplate; else templateReady">
                            <ot-loading class="column-horizontal-vertical-center margin-top-3"></ot-loading>
                        </ng-container>
                        <ng-template #templateReady >
                            <ng-container *ngFor="let targetedDataDiscovery of targetedDataDiscoveryList">
                                <div class="centered-max-100 row-space-between shadow2-left-right border margin-top-4"
                                >
                                    <div class="row-horizontal-vertical-center border border-radius-5 width-7 height-7 full-size padding-all-half flex-full-auto margin-all-2"
                                        [ngStyle]='targetedDataDiscovery.style'
                                    >
                                        <img
                                            class="full-width"
                                            [src]='targetedDataDiscovery.url'/>
                                    </div>
                                    <i class="ot ot-chevron-right block text-large row-horizontal-vertical-center"></i>
                                    <div class="row-horizontal-vertical-center border border-radius-5 width-7 height-7 full-size padding-all-half flex-full-auto margin-all-2"
                                        [ngStyle]='system.logo.style'
                                    >
                                        <img
                                            class="full-width"
                                            [src]='system.logo.url'/>
                                    </div>
                                    <div class="padding-left-right-2  width-80-percent margin-top-bottom-1">
                                        <p
                                            class="text-large text-bold margin-0"
                                            [innerText]="targetedDataDiscovery.titleKey"
                                        ></p>
                                        <p
                                            class="text-medium-small"
                                            [innerText]="targetedDataDiscovery.textKey"
                                        ></p>
                                    </div>
                                    <div class="margin-top-bottom-auto  margin-right-2">
                                        <button otButton neutral
                                            ot-auto-id="IntgMarketplaceDetailsBodyDataDiscoveryAddButton"
                                            [innerText]="'Add'| otTranslate"
                                            (click)="openModal(targetedDataDiscovery.templateId)"
                                        ></button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                        <div
                            *ngIf="seededSystem"
                            class="centered-max-100 row-space-between shadow2-left-right border margin-top-4"
                        >
                            <div
                                class="row-horizontal-vertical-center border-radius-5 width-7 height-7 full-size padding-all-half flex-full-auto margin-all-2"
                                [ngStyle]='system.logo.style'
                            >
                                <img
                                    class="full-width"
                                    [src]='system.logo.url' />
                            </div>
                            <div class="padding-left-right-2 width-80-percent margin-top-bottom-1">
                                <p
                                    class="text-large text-bold margin-0"
                                    [innerText]="seededSystem.moduleList[0]| otTranslate"
                                ></p>
                                <p
                                    class="text-medium-small"
                                    [innerText]="seededSystem.descriptionKeys[0] | otTranslate : { 'systemName': system.displayName }"
                                ></p>
                            </div>
                            <div class="margin-top-bottom-auto margin-right-2 width-10">
                                <div *ngIf="canShowButton">
                                    <button otButton brand
                                        *ngIf="!system.isContactOneTrust && !loadingConnections"
                                        ot-auto-id="AttributeAddNewSetupID"
                                        [innerText]="(connections?.length ? ('AddNew' | otTranslate) : ('Setup' | otTranslate))"
                                        (click)="goToRoute.emit(seededSystem.id)">
                                    </button>
                                    <button otButton brand
                                        *ngIf="system.isContactOneTrust"
                                        ot-auto-id="AttributeContactSalesID"
                                        [innerText]="'ContactSales' | otTranslate"
                                        (click)="openContactModal.emit(seededSystem)">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-container>
            <ng-template #onlyOverview>
                <div
                    *ngIf="system.description"
                    class="margin-bottom-2"
                >
                    <p class="text-large text-bold text-center" [innerText]="'Overview' | otTranslate"></p>
                    <p class="paragraph-medium">{{system.description}}</p>
                </div>
                <div
                    *ngIf="system.descriptionKeys"
                    class="margin-bottom-2"
                    >
                    <p class="text-large text-bold text-center" [innerText]="'Overview'"></p>
                    <div *ngFor="let key of system.descriptionKeys; trackBy: trackByIndex; let last = last"
                        [ngClass]="{'margin-bottom-2': last}"
                        >
                        <p class="paragraph-medium"
                            [innerText]="key | otTranslate : system.displayName"
                            >
                            {{ key | otTranslate : { systemName: system.displayName } }}
                        </p>
                    </div>
                    <img
                        *ngIf="system.illustration"
                        class="margin-bottom-3 block margin-all-auto"
                        [src]="system.illustration.url"
                    />
                    <p *ngIf="system.publishedByKey" class="paragraph-medium text-center">
                        <span class="text-bold" [innerText]="'Documentation' | otTranslate"></span>:
                        <a
                            *ngIf="system.publisherLink"
                            class="text-link"
                            [href]="system.publisherLink"
                            target="_blank"
                        >{{ system.publishedByKey | otTranslate : { systemName: system.displayName } }}</a>
                    </p>
                </div>
            </ng-template>
        </div>
        <div *ngIf="selectedTab === TABS.API_CONNECTION" class="padding-top-2 padding-left-right-3">
            <div
                *ngIf="system?.isConnectable && connections?.length"
                >
                <div class="text-large text-bold row-space-between padding-left-right-2">
                    <span [innerText]="'API_Connections' | otTranslate"></span>
                </div>
                <p class="text-medium padding-left-right-2 padding-bottom-1">{{ 'APIConnectionDescription' | otTranslate : { displayName: connections[0].system.toUpperCase() } }}</p>
                <intg-marketplace-connections-list
                    *ngIf="connections?.length"
                    [connections]="connections"
                ></intg-marketplace-connections-list>
            </div>
        </div>
        <intg-credentials
            *ngIf="selectedTab === TABS.CREDENTIALS"
        ></intg-credentials>
        <intg-system-actions
            *ngIf="selectedTab === TABS.ACTIONS"
        ></intg-system-actions>
    </div>
</intg-system-layout>

