<section class="is-market-place column-nowrap full-size overflow-hidden">
    <div class="intg-details-container">
        <ot-page-header
            *ngIf="system"
            class="intg-details-header height-15-percent background-eggshell"
            [title]="headerName | otTranslate"
            >
            <ot-breadcrumb (routeClicked)="onRouteClick($event)">
                <ot-breadcrumb-item
                    [link]="link"
                    [label]="title | otTranslate"
                ></ot-breadcrumb-item>
                <ot-breadcrumb-item
                    class="intg-breadcrumb-display-name text-success text-bold"
                    [label]="system.displayName"
                ></ot-breadcrumb-item>
            </ot-breadcrumb>
            <div *ngIf="system.isCustomConnector">
                <button otButton brand
                    ot-auto-id="IntegrationSystemExportBtn"
                    [loading]="isLoading"
                    [disabled]="isLoading"
                    (click)="exportSystem()"
                >{{ 'ExportSystem' | otTranslate }}
                </button>
                <button
                    otButton
                    destructive
                    ot-auto-id="AttributeEditTemplateSaveBtnID"
                    [innerText]="'DeleteConnection' | otTranslate"
                    [disabled]="disableDeleteButton"
                    (click)="deleteCustomConnector(system)">
                </button>
            </div>
        </ot-page-header>
    </div>
    <div class="static-vertical is-market-place__logo shadow-header">
        <div class="intg-details-container">
            <div class="intg-details-body-left">
                <intg-logo
                    class="static-horizontal margin-left-right-2 text-left"
                    *ngIf="system?.logo"
                    [logoUrl]="system.logo.url"
                    [logoStyle]="system.logo.style"
                    [ribbonText]="(system.isComingSoon ? ('ComingSoon' | otTranslate) : '')"
                    logoSize="small"
                >
                </intg-logo>
                <div>
                    <div
                        class="margin-top-1 heading2 text-uppercase"
                        [innerHtml]="system?.displayName || (system?.nameKey ? (system?.nameKey | otTranslate) : system?.name)">
                    </div>
                    <span class="text-medium-small text-bold margin-top-half">
                        {{('IntegratesWith' | otTranslate) +':'}}
                    </span>
                    <span
                        *ngFor="let name of system?.moduleList; trackBy: trackByIndex; let i = index;"
                        class="text-medium-small margin-top-half"
                        >
                        {{ ModuleFilters[name] | otTranslate }}
                        <span [ngClass]="{'hide': (system.moduleList.length - 1 === i)}">,</span>
                    </span>
                    <span
                        *ngIf="!system?.moduleList"
                        class="text-medium-small margin-top-half"
                        >
                        {{ system?.integratesWith }}
                    </span>
                </div>
            </div>
            <div class="intg-details-body-right"
                *ngIf="ready">
                <div *ngIf="system?.isConnectable && !isEnableContact && !systemIsDisabled">
                    <button otButton brand
                        *ngIf="!system.isContactOneTrust"
                        class="margin-right-5"
                        ot-auto-id="AttributeAddNewSetupID"
                        [innerText]="(connections.length ? ('AddNew' | otTranslate) : ('Setup' | otTranslate))"
                        (click)="goToRoute(systemId)">
                    </button>
                    <button otButton brand
                        *ngIf="system.isContactOneTrust"
                        class="margin-right-5"
                        ot-auto-id="AttributeContactSalesID"
                        [innerText]="'ContactSales' | otTranslate"
                        (click)="openContactModal(system)">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!ready; else emptyState" >
        <ot-loading otPageLoading>
            {{'Integration' | otTranslate}}
        </ot-loading>
    </ng-container>
    <ng-template #emptyState>
        <ng-container *ngIf="ready && !system; else marketPlaceDetailsBody">
            <div class="stretch-vertical full-size">
                <ot-empty-state [emptyStateMessage]="'IntegrationNotFound' | otTranslate">
                    <img [src]="images/empty_state_icon.svg"/>
                </ot-empty-state>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #marketPlaceDetailsBody>
        <intg-marketplace-details-body
            class="stretch-vertical full-size"
            [system]="system"
            [selectedTab]="selectedTab"
            [tabs]="tabs"
            [connections]="connections"
            [seededSystem]="seededSystem"
            [systemName]="systemName"
            [isTargetDiscoverySystem]="isTargetDiscoverySystem"
            [canShowButton]="canShowButton"
            (goToRoute)="goToRoute($event)"
            (openContactModal)="openContactModal($event)"
        ></intg-marketplace-details-body>
    </ng-template>
</section>
