<ot-page-header
    [title]="name"
    [type]="'base'"
>
    <ot-breadcrumb (routeClicked)="goToRoute($event)">
        <ot-breadcrumb-item
            [link]="breadCrumb.stateName"
            [label]="breadCrumb.text"
            ot-auto-id="breadCrumb.identifier"
        > </ot-breadcrumb-item>
        <ot-breadcrumb-item [label]="'Template' | otTranslate"></ot-breadcrumb-item>
    </ot-breadcrumb>
    <span
        [otBadge]="'primary'"
        [innerText]="TemplateStates[status] | otTranslate"
    ></span>
    <span
        [otBadge]
        [innerText]="'versionAbbreviation'| otTranslate:{VersionNumber: version}"
    ></span>
    <span
        *ngIf="isTemplateLocked"
        [otBadge]
        [innerText]="'Locked'| otTranslate"
    ></span>
    <div>
        <span class="slds-m-left--small">
            <button
                *ngIf="isTemplateLocked && isTemplateActive && permissions.TemplateLock"
                otButton
                brand
                ot-auto-id="TemplateUnlockButton"
                [disabled]="headerDisabled"
                (click)="unLockTemplate()"
            >
                {{'Unlock' | otTranslate}}
            </button>
            <button
                *ngIf="primaryButtonObj?.isVisible && !isTemplateLocked && isTemplateActive"
                otButton
                brand
                [attr.ot-auto-id]="createOtAutoId(primaryButtonObj.text)+'Button'"
                [disabled]="primaryButtonObj.isDisabled || headerDisabled || disablePrimaryButton"
                [loading]="loadingAssessmentCount || primaryButtonObj?.isLoading"
                (click)="onPrimaryActionClick(primaryButtonObj.buttonId)"
            >
                {{primaryButtonObj.text}}
            </button>
            <button
                *ngIf="secondaryButtonObj?.isVisible && !isTemplateLocked && isTemplateActive"
                otButton
                neutral
                [attr.ot-auto-id]="createOtAutoId(secondaryButtonObj.text)+'Button'"
                [disabled]="secondaryButtonObj.isDisabled || headerDisabled || loadingAssessmentCount"
                (click)="onSecondaryActionClick(secondaryButtonObj.buttonId)"
            >
                {{secondaryButtonObj.text}}
            </button>
        </span>
    </div>
    <div class="slds-grid slds-grid--align-center slds-p-vertical--medium margin-left-1">
        <ot-context-menu
            ot-auto-id="TemplateHeaderContextMenu"
            position="bottom-right"
            [type]="contextMenuType.Small"
            [menu]="headerOptions"
            [disabled]="headerDisabled || loadingAssessmentCount"
            (itemClicked)="toggleContextMenu($event)"
            (toggled)="toggleContextMenu(true)"
            >
            <i class="ot ot-ellipsis-h"></i>
            <a *otContextMenuItem="let option"
                [attr.ot-auto-id]="createOtAutoId(option.text)+'ContextMenuButton'"
                (click)="option.action(option)"
            >
                {{option.text}}
            </a>
        </ot-context-menu>
    </div>
</ot-page-header>

<template-version-pane
    [isDrawerOpen]="isDrawerOpen"
    [rootVersionId]="rootVersionId"
    [currentVersion]="version"
    [isTemplateLocked]="isTemplateLocked"
    [isTemplateActive]="isTemplateActive"
></template-version-pane>
