.selection-list {

    &__item {

        &:hover {
            background-color: $paper-gray;
        }

        &--selected {
            background-color: lighten($ui-blue, 30%);

            &:hover {
                background-color: lighten($ui-blue, 20%);
            }
        }
    }
}
