<ul class="selection-list border border-radius-2 stretch-vertical margin-bottom-0 overflow-y-auto">
    <ng-container *ngIf="groupKey; else flatList">
        <li *ngFor="let group of list | filterBy:itemFilter | groupBy:groupKey; trackBy: trackByIndex">
            <h5
                class="text-bold margin-left-1"
                [innerText]="group.key || ('Primary' | otTranslate)"
                >
            </h5>
            <ul>
                <ng-container *ngTemplateOutlet="selectionList; context: { arr: group.value, indent: true }"></ng-container>
            </ul>
        </li>
    </ng-container>
    <ng-template #flatList>
        <ng-container *ngTemplateOutlet="selectionList; context: { arr: list, indent: false }"></ng-container>
    </ng-template>
    <ng-template #selectionList let-arr="arr" let-indent="indent">
        <li
            class="selection-list__item padding-all-1 static-vertical user-select-none"
            *ngFor="let item of arr; trackBy: trackByIndex"
            [ngClass]="{'selection-list__item--selected': item.isSelected}"
            (click)="selectItem(item, $event)"
            >
                <span
                    class="block"
                    [ngClass]="{'margin-left-1': indent}"
                    [innerHTML]="item | getLabelBy: getItemLabel | highlight: highlightTerm"
                    >
                </span>
        </li>
    </ng-template>
</ul>
