<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<section class="padding-all-3">
    <h1 class="heading1 text-center text-thin margin-top-2">{{'SDKIntegration' | otTranslate}}</h1>

    <div class="ot-setting-container text-left width-75 margin-left-right-auto">
        <ot-notification
            *ngIf="showUpdateSdkWarning"
            ot-auto-id="CrNoConsentTransactionsCloseWarning"
            icon="warning"
            type="warning"
            (closed)="closeSdkUpdateWarning()"
            >
            {{'NoConsentTransactionUpdateMessage' | otTranslate}}
        </ot-notification>
    </div>

    <div class="flex-full-width space-between">
        <div>
            <h3 class="text-thin">{{'JavaScript' | otTranslate}}</h3>
            <p>{{'PutThisCodeWhere' | otTranslate}}</p>
        </div>
        <div class="column-nowrap align-self-end text-center">
            <div>{{'LastSdkIntegrationDate' | otTranslate}}:</div>
            <div>{{(collectionPoint.LastSdkIntegrationDate | otDate:'dateTime') || '- - - -'}}</div>
            <div>
                <button otButton brand
                    class="margin-top-bottom-1"
                    ot-auto-id="ConsentCopySdkButton"
                    [innerText]="'CopySdk' | otTranslate"
                    [disabled]="updateInProgress || !(collectionPoint && sdkSettings && collectionPointToken)"
                    (click)="copySdk()"
                ></button>
            </div>
        </div>
    </div>

    <section #sdkCode
        *ngIf="!isLoading"
        class="collection-point-sdk word-break-all"
        >
        <upgraded-prettify *ngIf="(!externalSettingsToggle || !collectionPoint.HostedSDK) && !updateInProgress">
<pre class="border-none padding-0">
&lt;!-- OneTrust Consent Receipt Start --&gt;
<span class="pre">&lt;script src="{{sdkSettings.scriptSourceLocation}}" type="text/javascript" charset="UTF-8" id="consent-receipt-script"&gt;</span>
  triggerId="trigger";
  identifierId="inputEmail";
  confirmationId="confirmation";
  token=<span class="pre">"{{collectionPointToken}}";</span>
  settings=<span class="pre">"{{encodedSettings}}";</span>
&lt;/script&gt;<ng-container *ngIf="showDecodedSettings">
&lt;script type="text/javascript" charset="UTF-8"&gt;<ng-container *ngIf="isNoConsent">
  OneTrust.ScriptTag.NoConsentTransactions = true;</ng-container><ng-container>
  OneTrust.ScriptTag.Preferences = [
    <ng-container *ngFor="let preference of sdkSettings.integrationSettings.preferences trackBy: trackByFn; let purposeIndex = index">{{ '{' }}
      "purpose": "{{preference.purpose}}",
      "identifierAttributes": "value",
      "identifierValues": "{{preference.identifierValues}}"<ng-container *ngIf="preference.labels && preference.labels.length > 0">,
      "labels": [
        <ng-container *ngFor="let language of preference.labels trackBy: trackByFn; let languageIndex = index">{{ '{' }}
        "language": "{{language.language}}",
        "label": "{{language.label}}",
        "description": "{{language.description}}"
        {{ '}' }}<ng-container *ngIf="languageIndex + 1 < preference.labels.length">,
        </ng-container></ng-container>
      ]</ng-container><ng-container *ngIf="preference.topics && preference.topics.length > 0">,
      "topics": [
        <ng-container *ngFor="let topic of preference.topics trackBy: trackByFn; let topicIndex = index">{{ '{' }}
          "topic": "{{topic.topic}}",
          "identifierAttributes": "value",
          "identifierValues": "{{topic.identifierValues}}"<ng-container *ngIf="topic.labels && topic.labels.length > 0">,
          "labels": [
            <ng-container *ngFor="let language of topic.labels trackBy: trackByFn; let languageIndex = index">{{ '{' }}
            "language": "{{language.language}}",
            "label": "{{language.label}}"
            {{ '}' }}<ng-container *ngIf="languageIndex + 1 < topic.labels.length">,
            </ng-container></ng-container>
          ]</ng-container>
        {{ '}' }}<ng-container *ngIf="topicIndex + 1 < preference.topics.length">,
        </ng-container></ng-container>
      ]</ng-container><ng-container *ngIf="preference.customPreferences && preference.customPreferences.length > 0">,
      "customPreferences": [<ng-container *ngFor="let pref of preference.customPreferences trackBy: trackByFn; let prefIndex = index">
        {{ '{' }}
          "customPreference": "{{pref.customPreference}}",
          "options": [<ng-container *ngIf="!pref.options.length">]</ng-container><ng-container *ngFor="let option of pref.options trackBy: trackByFn; let optIndex = index">
            {{ '{' }}
              "option": "{{ option.option }}",
              "identifierAttributes": "{{ option.identifierAttributes }}",
              "identifierValues": "{{ option.identifierValues }}"
            {{ '}' }}<ng-container *ngIf="optIndex + 1 < pref.options.length">,</ng-container></ng-container>
        <ng-container *ngIf="pref.options.length">]</ng-container>
        {{ '}' }}<ng-container *ngIf="prefIndex + 1 < preference.customPreferences.length">,</ng-container></ng-container>
      ]</ng-container>
    {{ '}' }}<ng-container *ngIf="purposeIndex + 1 < sdkSettings.integrationSettings.preferences.length">,
    </ng-container></ng-container>
  ];</ng-container>
&lt;/script&gt;</ng-container>
&lt;!-- OneTrust Consent Receipt End --&gt;</pre>
        </upgraded-prettify>
        <upgraded-prettify *ngIf="externalSettingsToggle && collectionPoint.HostedSDK && !updateInProgress">
<pre class="border-none padding-0">
&lt;!-- OneTrust Consent Receipt Start --&gt;
<span class="pre">&lt;script src="{{sdkSettings.scriptSourceLocation}}" type="text/javascript" charset="UTF-8" id="consent-receipt-script"&gt;</span>
  triggerId="trigger";
  identifierId="inputEmail";
  confirmationId="confirmation";
  settingsUrl=<span class="pre">"{{settingsUrl}}";</span>
&lt;/script&gt;
&lt;!-- OneTrust Consent Receipt End --&gt;</pre>
        </upgraded-prettify>
    </section>
</section>
