.dm-asset-popup {
    position: absolute;
    visibility: hidden;
    background-color: $white;
    padding: 1rem 1rem .5rem;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
    border-radius: .2rem;

    &__header {
        border-bottom: 1px solid $grey-3;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    &__icon-circle {
        background-color: $green;
        border-radius: 100%;
        padding: .8rem .8rem .5rem;
        margin-right: .8rem;
        font-size: 1.5rem;
        color: $white;
    }

    &__count {
        font-weight: bolder;
    }

    &__content {
        margin: .5rem 0;
        padding: 1rem 1rem 0;
    }

    &__footer {
        border-top: 1px solid $grey-3;
        font-size: 1.7rem;
        padding-top: .5rem;
    }
}
