.ocean {
    background-color: #f0f2f2;
}

.land {
    fill: #c8cfd2;
    stroke: $white;
    stroke-width: 0.5px;
}

.data-group {
    pointer-events: all;
    cursor: pointer;
}

.data-circle {
    fill: $green;
}

.data-text {
    fill: $white;
    font-weight: bold;
    font-size: 1.4em;
}
