<ot-modal-header (close)="closeModal()">
    <div>{{ 'SelectFieldsToDisplay' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="padding-left-right-2">
    <section>
        <div class="row-nowrap">
            <div class="width-40-percent">
                <div otFormElement
                    [label]="'AvailableFields' | otTranslate"
                >
                    <ot-search-input
                        class="margin-bottom-1"
                        ot-auto-id="AssessmentColumnsEditorInactiveListSearch"
                        [placeholder]="'Search' | otTranslate"
                        [debounce]="500"
                        (search)="setInactiveSearchTerm($event)"
                        >
                    </ot-search-input>
                </div>
            </div>
            <div class="aa-columns-editor-modal__visible-field-search row-nowrap width-45-percent justify-center">
               <div class="width-90-percent">
                    <div otFormElement
                        [label]="'VisibleFields' | otTranslate">
                        <ot-search-input
                            class="margin-bottom-1"
                            ot-auto-id="AssessmentColumnsEditorActiveListSearch"
                            [placeholder]="'Search' | otTranslate"
                            [debounce]="500"
                            (search)="setActiveSearchTerm($event)"
                            >
                        </ot-search-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex aa-columns-editor-modal__dueling-list-width">
            <ot-dueling-picklist #duelingPicklist
                ot-auto-id="AAListGridColumnSelector"
                class="slds-col margin-top-1"
                labelKey="name"
                [optionsLeft]="otModalData.disabledColumns"
                [optionsRight]="otModalData.activeColumns"
                [highlightText]="activeSearchTerm"
                (movedRight)="removeDisabledColumn($event)"
                (movedLeft)="addDisabledColumn($event)"
                >
            </ot-dueling-picklist>
        </div>
    </section>
</ot-modal-content>
<!-- <footer class="row-flex-end padding-top-2"></footer> -->
<ot-modal-footer
    >
    <button otButton neutral
        class="no-outline border-none margin-right-1"
        ot-auto-id="AssessmentColumnsEditorCancelButton"
        [innerText]="'Cancel' | otTranslate"
        (click)="closeModal()"
        >
    </button>
    <button otButton brand
        ot-auto-id="AssessmentColumnsEditorApplyButton"
        [innerText]="'Apply' | otTranslate"
        (click)="applyColumnSelecetions()"
        >
    </button>
</ot-modal-footer>
