.aa-columns-editor-modal {

    &__visible-field-search {
        margin-left: 6.5rem;
    }

    &__dueling-list-width {
        .slds-dueling-list__options,
            .slds-picklist__options {
            width: 35rem;
        }
    }
}
