.webform-content {

    &__label {
        font-size: 1.8rem;
        display: inline-block;
        cursor: pointer;
        border: .1rem solid $grey-2;
        border-radius: .1rem;
        width: 3.8rem;
        height: 3rem;
        text-align: center;
        margin-left: 0.4rem;
        margin-bottom: 0;
    }

    .file-input {
        display: none;
    }

    &__input {
        max-width: 8rem;

        &--number {
            width: 5rem;
        }

        &--color {
            min-width: 11rem;
            height: 3.2rem;
            font-size: 1.1rem;
        }
    }
}
