<div [hidden]="!isQuestionBuildEnabled">
    <form
        novalidate
        class="question-build centered-95-percent full-width margin-left-2-half margin-right-1"
        *ngIf="questionBuildForm"
        [formGroup]="questionBuildForm"
    >
        <div otFormElement
            class="margin-right-half"
            [required]="true"
            [label]="questionContentTitle"
        >
            <input otInput autofocus
                [attr.ot-auto-id]="'TemplateQuestionBuildQuestionContentTextBox'"
                [formControlName]="'question'"
                [placeholder]="questionContentTitle"
            />
        </div>
        <div otFormElement
            *ngIf="questionFieldVisibility.friendlyName"
            class="margin-top-2 margin-right-half"
            [label]="'FriendlyName' | otTranslate"
        >
            <input otInput
                class="question-build__friendly-name-font-size full-width full-height"
                [attr.ot-auto-id]="'TemplateQuestionBuildFriendlyNameTextBox'"
                [formControlName]="'friendlyName'"
            />
            <p
                *ngIf="questionBuildForm.controls.friendlyName.dirty && questionBuildForm.controls.friendlyName.errors?.maxlength"
                class="text-error padding-top-half padding-left-1 text-small"
                >
                {{'FriendlyNameExceeded' | otTranslate}}
            </p>
        </div>
        <div otFormElement
            class="margin-top-2 margin-right-half"
            [label]="'Description' | otTranslate"
            [required]="selectedQuestionType.value === questionTypes.Statement.name"
        >
            <ot-rich-text-editor
                class="question-build__text-editor link-editor block"
                ot-auto-id="TemplateQuestionBuildDescriptionTextEditor"
                editorClass="min-height-10 background-white"
                [contentModel]="questionBuildForm.get('description').value"
                (onContentChanged)="handleDescriptionChange($event.html)"
            >
            </ot-rich-text-editor>
        </div>
        <div otFormElement
            *ngIf="questionFieldVisibility.questionHint"
            class="margin-top-2 margin-right-half"
            [label]="'QuestionHint' | otTranslate"
        >
            <input otInput
                class="full-width full-height"
                [attr.ot-auto-id]="'TemplateQuestionBuildQuestionHintTextBox'"
                [formControlName]="'questionHint'"
                [placeholder]="'Hint' | otTranslate"
            />
        </div>
    </form>
    <div otFormElement
        *ngIf="questionFieldVisibility.mcOptions"
        class="margin-top-2 centered-95-percent full-width margin-left-2-half margin-right-1"
        [label]="'Option' | otTranslate">
        <div
            *ngFor="let option of question.options;let optionIndex = index; trackBy: trackByOptionId"
            class="margin-bottom-2 row-space-between"
        >
            <textarea otTextarea
                class="margin-right-2 text-area-height-ie"
                [attr.ot-auto-id]="'TemplateQuestionBuildMultichoiceOptionTextArea'"
                [attr.rows]="'1'"
                [placeholder]="'OptionName' | otTranslate"
                [disabled]="templateEditMode === templateModes.Edit"
                [ngModel]="option.option"
                (ngModelChange)="setOption($event,optionIndex)"
            ></textarea>
            <textarea otTextarea
                *ngIf="question.attributeJson.optionHintEnabled"
                class="margin-right-2 text-area-height-ie"
                [attr.ot-auto-id]="'TemplateQuestionBuildMultichoiceOptionHintTextArea'"
                [attr.rows]="'1'"
                [placeholder]="'OptionHint' | otTranslate"
                [disabled]="templateEditMode === templateModes.Edit"
                [ngModel]="option?.attributeJson?.hint"
                (ngModelChange)="handleOptionAttributesInputChange($event,'hint',optionIndex)"
            ></textarea>
            <div
                *ngIf="templateEditMode !== templateModes.Edit"
                class="row-vertical-center row-space-between margin-right-1"
            >
                <div
                    class="question-build__option-remove color-cherry text-pointer no-outline
                        row-space-evenly border-round row-vertical-center padding-all-1"
                    [attr.ot-auto-id]="'TemplateQuestionBuilMultichoiceRemoveOptionButton' + optionIndex"
                    (click)="onRemoveOptionClick(optionIndex)"
                >
                    <i class="ot ot-minus-circle"></i>
                </div>
                <div
                    class="question-build__option-add color-green row-space-evenly border-round margin-left-2
                        row-horizontal-vertical-center color-white text-pointer no-outline padding-all-1"
                    [attr.ot-auto-id]="'TemplateQuestionBuildMultichoiceAddOptionButton' + optionIndex"
                    (click)="onAddOptionClick(optionIndex, $event)"
                >
                    <i class=" ot ot-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="template-question-builder-modal__question-build"
    [hidden]="!isQuestionPreviewEnabled">
    <template-question-preview
        [question]="question"
        [removeBorder]="true"
    >
    </template-question-preview>
</div>
