.question-build {
    &__text-editor {
        .ql-container {
            max-height: 25vh;
            overflow-y: auto;
        }
        .ql-toolbar.ql-snow {
            border-bottom: 0;
            padding: 1px;
            background-color: $paper-gray;
        }
    }
    &__option-add,
    &__option-remove  {
        width: 1.7rem;
        height: 1.7rem;
    }
    &__option-add  {
        font-size: 2.2rem;
    }
    &__option-remove  {
        font-size: 2rem;
    }
    &__option-icons {
        padding: 0.2rem;
    }
    &__friendly-name-font-size {
        font-size: 1.5rem !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .text-area-height-ie {
        min-height: 3.8rem;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .flex-option-icons-ie {
        flex: 1 0 auto;
    }
}
