<div class="assessment-detail-side-button">
    <div class="column-nowrap">
        <i
            class="aa-icon ot ot-question cursor-pointer color-slate"
            [ngClass]="{'invisible': !canShowNeedsMoreInfoAddButton, 'disabled': isReadOnly}"
            [title]="'NeedsMoreInfo' | otTranslate"
            [attr.ot-auto-id]="'assessmentDetailNeedsMoreInfoIcon'"
            (click)="needsMoreInfoOnClick()"
        ></i>
        <i
            *ngFor="let needsMoreInfo of needsMoreInfoMetadata; trackBy: trackByFn; let columnIndex = index;"
            class="aa-icon ot ot-question color-white background-green margin-top-half"
            [attr.ot-auto-id]="'assessmentDetailNeedsMoreInfoIcon_' + columnIndex"
            (click)="needsMoreInfoOnClick(needsMoreInfo)"
        ></i>
    </div>
</div>
