<div class="column-nowrap flex max-height-100-percent full-size">
    <ot-loading otPageLoading
        *ngIf="isPageloading; else showRiskCategoryList"
        class="stretch-vertical flex-full-height justify-center"
    ></ot-loading>
    <ng-template #showRiskCategoryList>
        <ot-page-header
            [title]="'Risk.RiskCategories' | translate"
            >
            <button otButton brand
                ot-auto-id="RiskCategoryAddButton"
                (click)="addCategory()">
                {{ "Add" | translate }}
            </button>
        </ot-page-header>
        <div class="stretch-vertical flex-full-height background-white overflow-y-auto">
            <table otDataTable
                class="full-width position-relative"
                [rowData]="tableData"
                [rowBordered]="true"
                [sortable]="false"
                (sortChanged)="handleSortChange($event)"
                >
                <ng-container *ngFor="let col of columns">
                    <ot-data-table-column
                        [headerLabel]="col.nameKey"
                        [cellValueKey]="col.valueKey"
                        [column]="col"
                        [thStyle]="col.style"
                        >
                        <ng-template otDataTableCell
                            let-row="row"
                            let-column="col"
                            tdClass="max-25 padding-all-4"
                            >
                            <ng-container [ngSwitch]="col.type">
                                <ng-container *ngSwitchCase="tableColumnTypes.Text">
                                    <div *ngIf="col.valueKey === 'nameKey'" class="slds-truncate">
                                        {{row[col.valueKey] ? (row[col.valueKey] | translate) : row['name']}}
                                    </div>
                                    <div *ngIf="col.valueKey === 'descriptionKey'" class="slds-truncate">
                                        {{row[col.valueKey] ? ( row[col.valueKey] | translate) : row['description']}}
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="tableColumnTypes.Status">
                                    <div  class="slds-truncate">
                                        <span [otBadge]="row[col.valueKey] ? riskCategoryStatusColorMap.Disabled : riskCategoryStatusColorMap.Success">
                                            {{row[col.valueKey] ?  ('Archived' | translate) : ('Active' | translate)}}
                                        </span>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{'min-width': '6rem'}">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdStyle]="{'min-width': '6rem'}">
                            <div></div>
                        </ng-template>
                    </ot-data-table-column>
                    <ng-container *ngIf="col.type === 'action'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                        >
                            <ng-template otDataTableHeader
                                thClass="float-col width-0"
                            >
                                <div></div>
                            </ng-template>
                            <ng-template otDataTableCell
                                let-row="row"
                                tdClass="float-col background-transparent"
                            >
                                <div class="flex height-100 align-center justify-center">
                                    <ot-context-menu
                                        position="bottom-right"
                                        [type]="menuType"
                                        [menu]="menuOptions"
                                        (toggled)="onToggle($event, row)"
                                    >
                                        <i class="ot ot-ellipsis-h"></i>
                                        <a
                                            *otContextMenuItem="let item"
                                            [attr.ot-auto-id]="'RisksCategory' + item.otAutoId + 'ContextMenuOption'"
                                            (click)="handleMenuItemClicks(row, item.value)">
                                            {{ item.text || emptyValue}}
                                        </a>
                                    </ot-context-menu>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </ng-template>
    <footer
        otPaginationFooter
        *ngIf="tableData?.length"
        class="background-white"
        >
        <ot-pagination
            [currentPage]="paginationDetail.number"
            [numPages]="paginationDetail?.totalPages"
            [handleOffset]="true"
            (pageChanged)="pageChanged($event)"
        ></ot-pagination>
        <span>{{paginationDetail | otPageMeta}}</span>
    </footer>
</div>
