<ot-modal-header (close)="closeModal()">
    <div>{{ 'CreateNewVersion' | otTranslate }}</div>
</ot-modal-header>

<ot-modal-content>
    <div otFormElement
        class="margin-bottom-2"
        [label]="'Name' | otTranslate"
        [required]="true"
    >
        <input otInput required
            class="one-input full-width"
            name="Name"
            maxlength="200"
            autofocus
            ot-auto-id="PrivacyNoticeNameInput"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="privacyNotice.name"
            (ngModelChange)="onModelChange($event, 'name')"
        />
    </div>

    <div otFormElement
        class="margin-bottom-2"
        [label]="'Description' | otTranslate"
        [required]="true"
    >
            <textarea otTextarea required
                name="Description"
                maxlength="500"
                ot-auto-id="PrivacyNoticeCreateDescription"
                [ngModel]="privacyNotice.description"
                [placeholder]="'EnterDescription' | otTranslate"
                (ngModelChange)="onModelChange($event, 'description')"
            >
            </textarea>
    </div>

    <div otFormElement
        class="margin-bottom-2"
        [errorMessage]="'CreatePolicyPublicVersionError' | otTranslate"
        [hasError]="!isPublicVersionValid"
        [label]="'PublicVersion' | otTranslate"
    >
        <input otInput
            class="one-input full-width"
            name="PublicVersion"
            maxlength="200"
            autofocus
            ot-auto-id="PrivacyNoticePublicVersionInput"
            [placeholder]="'PublicVersion' | otTranslate"
            [ngModel]="privacyNotice.publicVersion"
            (ngModelChange)="onModelChange($event, 'publicVersion')"
        />

        <span class="text-small">
            {{ "CreatePolicyPublicVersionDescription" | otTranslate }}
        </span>
    </div>
</ot-modal-content>

<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="PrivacyNoticeCreateVersionCloseButton"
        (click)="closeModal()"
    >
        {{ 'Close' | otTranslate }}
    </button>

    <button otButton brand
        ot-auto-id="PrivacyNoticeCreateVersionConfirmButton"
        [disabled]="!isCreateNewVersionButtonEnabled"
        (click)="confirm()"
    >
        {{ 'CreateNewVersion' | otTranslate }}
    </button>
</ot-modal-footer>
