// risks/_header.scss

&__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 1rem;
    color: $slate;

    .risks__paragraph {
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 0;
    }

    .button-container {
        display: flex;
    }
}

&__search {
    flex: 0 0 16rem;
}

&__open-filters {
    @include button(default);
    flex: 0 0 auto;
    padding: 0 1rem;
    margin-right: 1rem;

    i {
        margin-right: .6rem;
    }
}

// report select
&__dropdown {
    display: inline-block;

    &.is-disabled {
        opacity: .6;
        pointer-events: none;
    }

    &-container {
        margin-right: auto;
        flex: 1;

        &.is-centered {
            margin: 2rem auto;
            text-align: center;
        }

        label {
            margin: 0 1rem 0 0;
            color: $slate;
            font-weight: normal;
        }
    }

    &-headline {
        font-size: 2.4rem;
        color: $slate;
        margin-bottom: 2rem;
    }
}
