$grey-1: $grey-1;

#risks {
    height: 100%;

    .button-container {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        width: auto;
    }

    .container-fluid {
        flex-flow: row nowrap;
    }

    .navbar-header {
        flex: 0 0 auto;
        width: auto;
    }

    .navbar-default {
        transition-timing-function: ease-in-out;
        transition: max-height 0.5s;
        max-height: 50px;
        overflow: hidden;

        &.filterOpen {
            max-height: 40rem;
        }
    }

    .risks {
        @import 'header';

        &__view {
            height: 100%;
            background-color: $paper-gray;
            flex: 1 1 auto;
            overflow-x: auto;
            padding-bottom: 4rem;
        }

        &__content {
            overflow-x: visible;
        }

        &__table {
            border: 1px solid $table-cell-border;
            color: $slate;
            table-layout: auto;
            border-collapse: collapse;
            margin: 0 0 1rem;
            box-shadow: none;
            text-align: center;
            width: 100%;

            .dndPlaceholder {
                display: table-cell;
                background-color: #ddd;
                min-height: 3.8rem;
                min-width: 10rem;
                height: 3.8px;
                width: 10rem;
            }

            .dndDraggingSource {
                display: none;
            }

            &-wrapper {
                box-shadow: none;
                margin: 0;
                padding: 2rem 1rem;
            }

            &-header {
                border-bottom: 2px solid $table-cell-border;
                font-weight: bold;

                &-row {
                    background-color: $white;
                }

                &-cell {
                    outline: none;
                    vertical-align: middle;
                    text-align: center;
                    border: 0;
                    border-right: 1px solid $table-cell-border;
                    padding: 1rem 2rem;
                    position: relative;

                    &:hover {
                        .risks__table-header-move {
                            display: inline-block;
                        }
                    }

                    &:last-child {
                        border-right: 0;
                    }

                    &-link {
                        color: $slate;
                        white-space: nowrap;
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-width: 24rem;
                        vertical-align: middle;

                        &:focus {
                            text-decoration: none;
                        }
                    }
                }

                &-move {
                    display: none;
                    font-size: 10px;
                    position: absolute;
                    left: 0.6rem;
                    top: 48%;
                    transform: translateY(-50%);
                }

                &-arrow {
                    font-size: 16px;
                    position: absolute;
                    right: 0.6rem;
                    top: 48%;
                    transform: translateY(-50%);
                }
            }

            &-row {
                background-color: $table-cell-light;
                border-bottom: 1px solid $table-cell-border;

                &:hover {
                    background-color: $table-cell-dark;
                    padding: 2rem inherit;
                }
            }

            &-cell {
                outline: none;
                vertical-align: middle;
                padding: 0.8rem;
                border: 0;
                border-right: 1px solid $table-cell-border;

                &--risk {
                    min-width: 7rem;
                }

                .risk {
                    pointer-events: none;
                    font-size: 30px;

                    &-word {
                        font-size: 14px;
                    }
                }

                .low {
                    color: $cyan;
                }

                .medium {
                    color: $light-orange;
                }

                .high {
                    color: $light-red;
                }

                .very-high {
                    color: $dark-red;
                }

                .empty {
                    pointer-events: none;
                    font-size: 30px;
                }
            }

            .blank {
                background-color: $grey-1;
            }
        }

        &__navbar {
            align-items: flex-start;
        }

        &__search {
            display: none;
            height: 3.6rem;
            width: 100%;
            @media (min-width: $small) {
                display: flex;
            }
        }
        // Project Filters
        &__filter {
            position: relative;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0;
            }

            &--question-tags,
            &--search {
                flex: 1 1 20rem;
                min-width: 1px;
                max-width: 30rem;
            }

            &--clear {
                margin-top: 2.5rem;

                button {
                    height: 3.6rem;
                }
            }

            &-arrow {
                top: 73% !important;
            }

            tags-input {
                .tags {
                    border-radius: 2px;

                    .input {
                        height: 2.8rem;
                        width: 100%;
                    }
                }
            }
        }
        // No risks Messaging
        &__message {
            color: $grey-3;
        }
    }

    .risks-container {
        display: flex;
        flex-flow: row nowrap;
        height: calc(100% - 5rem);
        padding: 0;
        margin: 0;
        opacity: 0;

        &.is-showing {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        .analysis__filter {
            color: $slate;
            margin-top: 2rem;
        }

        .template {
            &__info i {
                color: $green;
            }

            &__toggle-details {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 1.8rem;
                padding: 0.5rem 0.8rem;
                color: $grey-3;
                -webkit-appearance: none;
                background: none;
                outline: none;
                border: 0;

                &:hover {
                    color: $slate;
                }

                i {
                    pointer-events: none;
                }
            }

            &__description {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: $slate;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                color: $white;
                padding: 1.4rem;
            }
        }

        .label {
            &--danger,
            &--info,
            &--primary,
            &--success,
            &--warning {
                font-weight: bold;
            }

            &--success {
                color: $green;
            }

            &--danger {
                color: $light-red;
            }

            &--warning {
                color: $light-orange;
            }

            &--info {
                color: $cyan;
            }

            &--primary {
                color: $blue;
            }
        }
    }
}
