.risk-single-edit-modal {
    &__label {
        margin-bottom: 0.5rem !important;
        color: $slate;
        &--half-width {
            width: 48%;
        }
    }

    .risk-single-edit-modal__textarea { // done this way to override default one-textarea padding
        padding: 0.5rem;
        min-height: 10rem;
    }
}
