<div class="flex-full-75 background-white padding-all-2">
    <h3>{{"AssessmentsCountByOpenRisks" | otTranslate}}</h3>
    <div>{{selectedTemplate?.id ? selectedTemplate.name : "NoTemplateSelected" | otTranslate}}</div>
    <ot-loading
        *ngIf="!canLoadPage"
        class="margin-top-6 flex"
        >
        {{ 'AssessmentRiskGraph' | otTranslate }}
    </ot-loading>
    <upgraded-one-donut-graph
        *ngIf="canLoadPage && graphData?.length"
        class="padding-top-1 text-center"
        donutName="assessmentRiskCountDonut"
        graphId="assessment-risk-count-donut"
        [donutData]="graphData"
        [margin]="5"
        [outerRadius]="140"
        [innerRadius]="65"
        [sortArcs]="true"
        [centerLabel]="totalRisks"
    ></upgraded-one-donut-graph>
    <div
        *ngIf="canLoadPage && !graphData?.length"
        class="margin-top-6 justify-center flex text-xhuge"
        >
        <h2>{{"NoAssessments" | otTranslate}}</h2>
    </div>
</div>
<div class="flex-full-25 padding-all-1">
    <h4>{{"AssessmentDetails" | otTranslate}}</h4>
    <label class="padding-left-1">{{"FilterByOrganizationGroup" | otTranslate}}</label>
    <ot-picklist
        class="flex-shrink padding-left-1 max-25"
        ot-auto-id="DashboardAssessmentRiskOrgSelection"
        valueKey="Id"
        labelKey="Name"
        indentKey="Level"
        [autoClose]="true"
        [options]="orgList"
        [model]="selectedOrg"
        [placeholder]="'NoFilter' | otTranslate"
        [noOptionsText]="'NoOptionsAvailable' | otTranslate"
        (onSelect)="onOrgChange($event)"
    ></ot-picklist>
    <label class="margin-top-2 padding-left-1">{{"FilterByTemplate" | otTranslate}}</label>
    <ot-template-select
        class="flex-shrink padding-left-1 template-select-max-24 template-select-left-margin-1"
        ot-auto-id="DashboardAssessmentRiskTemplateSelection"
        valueKey="id"
        labelKey="name"
        placeholder="NoFilter"
        [autoClose]="true"
        (onSelect)="onTemplateChange($event)"
    ></ot-template-select>
</div>
