<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        [title]="'ManageDataElementVisibility' | otTranslate"
        type="clear"
        >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="!ready; else showSettings">
        {{ 'Loading' | otTranslate }}...
    </ot-loading>
    <ng-template #showSettings>
        <div class="flex-full-height padding-left-right-2">
            <inventory-manage-visibility class="flex-full-height"></inventory-manage-visibility>
        </div>
        <footer otPageFooter>
            <button otButton
                ot-auto-id="CancelSaveManageVisibilitySettings"
                [disabled]="saving"
                (click)="saveCancelled()"
                >
                {{ 'Cancel' | otTranslate }}
            </button>
            <button otButton brand
                class="margin-left-1"
                ot-auto-id="SaveManageVisibilitySettings"
                [disabled]="!saveEnabled || saving"
                [loading]="saving"
                (click)="saveSettings()"
                >
                {{ 'Save' | otTranslate }}
            </button>
        </footer>
    </ng-template>
</section>