<one-modal-base
    [modalTitle]="modalTitle"
    [attr.ot-auto-id]="'DeleteModalCloseButton'"
    [closeIsDisabled]="isSubmitting"
    (close)="closeModal()">
    <section class="delete-modal padding-all-2">
        <div class="row-horizontal-center margin-bottom-2">
            <span class="delete-modal__icon fa-stack fa-lg">
                <i class="ot ot-circle fa-stack-2x color-cherry"></i>
                <i class="ot ot-trash-o fa-stack-1x fa-inverse margin-top-2-half"></i>
            </span>
        </div>
        <div
            class="delete-modal__text text-center text-color-default"
            [innerText]="confirmationText"
        >
        </div>
    </section>
    <footer class="margin-top-1 row-flex-end padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'DeleteModalCancelButton'"
            [innerText]="cancelButtonText"
            [disabled]="isSubmitting"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            [attr.ot-auto-id]="'DeleteModalSubmitButton'"
            [innerText]="submitButtonText"
            [disabled]="isSubmitting"
            [loading]="isSubmitting"
            (click)="handleSubmit()"
            >
        </button>
    </footer>
</one-modal-base>