<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ManageAttributes' | otTranslate"
    (close)="cancel()"
    >
    <div class="full-width overflow-x-scroll">
        <div class="padding-left-right-2 centered-70 padding-top-2 overflow-y-auto">
            <ot-dueling-picklist
                #duelingPicklist
                class="margin-left-right-auto"
                [optionsLeft]="formattedInitialUngroupedAttributes"
                [optionsRight]="formattedInitialGroupAttributes"
                [labelLeft]="'AvailableAttributes' | otTranslate"
                [labelRight]="modalData?.group?.nameKey | otTranslate"
                [labelKey]="'labelKey'">
            </ot-dueling-picklist>
        </div>
    </div>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            class="margin-right-1"
            otButton
            ot-auto-id="AttributePickerCancelBtn"
            [disabled]="isSaving"
            [innerText]="'Cancel' | otTranslate"
            (click)="cancel()"
            >
        </button>
        <button
            otButton
            brand
            ot-auto-id="'AttributePickerSaveBtn'"
            [disabled]="isSaving"
            [loading]="isSaving"
            [innerText]="'Save' | otTranslate"
            (click)="save()"
            >
        </button>
    </footer>
</one-modal-base>