.one-popup-footer {

    &__main {
        height: 6rem;
        background-color: $paper-gray;
        transition: transform .5s ease;

        &--visible {
            transform: translate(0, -6rem);
        }
    }

    &__left-actions {

        &--divider {
            height: 36px;
            border-right: solid 1px $grey-2;
        }

        &--icon {
            margin-top: 0.8rem;
            font-size: 2rem;
        }

        &--section-icon {
            padding: 0.8rem 0 0 1.5rem;
            font-size: 2rem;

            &[disabled] {
                color: $slate;
                background-color: $grey-4;
                border-color: $grey-4;
                pointer-events: none;
            }
        }

        &--section-item {

            i {
                font-size: 1.5rem;
                margin-left: 0.4rem;
                color: $slate;
            }
        }

        @media (max-width: $large) {
            &--item {
                display: none;
            }

            &--circular-btn {
                border: 1px solid  $grey-4;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                position: relative;
                margin-left: 1.5rem;
            }

            &--section-item {
                display: none;
            }
        }

        @media (min-width: $large) {

            &--section-icon {
                display: none;
            }
        }
    }

    &__loading-icon {
        padding: 0.8rem;
    }

}
