<ot-drawer
    class="height-100 row-nowrap"
    [ngClass]="{ 'width-85': showSubPane, 'width-35-rem': !showSubPane }"
    [open]="true"
>
    <div *ngIf="isLoading" class="width-35-rem">
        <ot-loading otPageLoading
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
    </div>

    <ng-container *ngIf="!isLoading">

        <assessment-risk-drawer
            class="flex-full-height width-50-rem background-white"
            *ngIf="showSubPane"
            [risk]="selectedRisk"
            (hide)="this.hide.emit($event)"
            (updateRisk)="updateRisk($event)"
            (deleteRisk)="deleteRisk($event)"
        ></assessment-risk-drawer>

        <div class="width-35-rem border-left background-grey column-nowrap">
            <div class="padding-all-1 border-bottom">
                <ng-container *ngIf="!showSubPane && !noRisk">
                    <div
                        class="row-vertical-center cursor-pointer padding-bottom-1"
                        ot-auto-id="AssessmentRiskPaneShow"
                        (click)="showPane()"
                        >
                        <i class="ot ot-arrow-circle-o-left text-medium"></i>
                        <span class="margin-left-half text-small">{{ 'Show' | otTranslate }}</span>
                    </div>
                </ng-container>
                <div>
                    <i
                        class="ot ot-close text-medium cursor-pointer pull-right"
                        ot-auto-id="AARisksDrawerCloseButton"
                        (click)="this.hide.emit($event)">
                    </i>
                </div>
                <div class="text-bold margin-top-bottom-2">
                    {{"Risks" | otTranslate}}
                </div>
                <div class="flex-full-50">
                    <ot-picklist
                        [attr.ot-auto-id]="'AssessmentCollaborationPaneRiskFilter'"
                        [autoClose]="true"
                        [options]="riskFilterOptions"
                        [valueKey]="'value'"
                        [labelKey]="'label'"
                        [model]="selectedFilterValue"
                        (onSelect)="selectRiskFilterOption($event)"
                    ></ot-picklist>
                </div>
            </div>
            <div #riskList
                *ngIf="!noRisk && !isLoading"
                class="overflow-y-auto ms-overflow-scroll height-100"
            >
                <div
                    class="cursor-pointer"
                    *ngFor="let riskModel of riskModels;"
                    [ngClass]="{ 'assessment-collaboration__risk--selected' : selectedRisk && (selectedRisk.id === riskModel.id) }"
                    (click)="onRiskSelected(riskModel)">
                    <div class="flex border-bottom padding-all-1">
                        <div class="margin-right-1">
                            <i class="aa-icon cursor-none ot ot-flag color-white"
                                [style.background-color]="riskModel.levelId | otRiskColor"
                            ></i>
                        </div>
                        <div class="assessment-collaboration__risk-block text-wrap overflow-ellipsis">
                            <span class="text-bold">{{getQuestionSequence(riskModel)}}</span>
                            <p class="assessment-collaboration-description margin-auto text-small">{{riskModel.description}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="isLoadingMore" class="assessment-collaboration__show-more-loading full-width">
                    <ot-loading otPageLoading
                        class="row-horizontal-vertical-center full-width"
                    ></ot-loading>
                </div>
                <div *ngIf="loadMore && !isLoadingMore"
                    class="assessment-collaboration__show-more padding-all-1 pull-right cursor-pointer"
                    [attr.ot-auto-id]="'AssessmentCollaborationPaneRiskShowMore'"
                    (click)="loadMoreRisk()"
                >
                    {{"ShowMore" | otTranslate}}
                </div>
            </div>
            <div
                *ngIf="noRisk && !isLoading"
                class="full-size"
            >
                <ot-empty-state
                    [emptyStateMessage]="'NoResultsFound' | otTranslate"
                >
                    <img emptyStateImg />
                </ot-empty-state>
            </div>
        </div>
    </ng-container>
</ot-drawer>
