.assessment-collaboration {
    min-width: 28rem;

    &__description {
        p {
            margin: auto;
            height: 4rem;
        }
    }

    &__risk {
        &-block {
            max-height: 6rem;
            max-width: 80%;
        }

        &-description {
            height: 4rem;
            margin: 0;
        }

        &--selected {
            background-color: $active-blue;
        }
    }

    &__show-more-loading {
        height: 18rem;
    }

    &__show-more {
        color: $ui-blue;
    }
}
