<div class="column-nowrap padding-all-2">
    <div class="webform-content" *ngFor="let input of data; trackBy: trackByIndex;">
        <div
            *ngIf="!((input.fieldName === 'AttachmentButtonColor'
            || input.fieldName === 'SubmitButtonColor'
            || input.fieldName === 'SubmitButtonTextColor')
            && !permissions.DSARWebFormPublishV2)"
            class="text-thin-2 margin-bottom-1 row-space-between-center">
                <div class="width-60-percent">{{input.fieldName | translate}}</div>
                <div class="row-flex-end">
                    <ng-container *ngIf="input.inputType === 'Logo'">
                        <div>
                            <label class="webform-content__label">
                                <i class="ot ot-cloud-upload margin-top-half"></i>
                                <input
                                    otFileSelect
                                    class="file-input"
                                    type="file"
                                    [allowedExtensions]="['jpg', 'jpeg', 'png']"
                                    (filesSelected)="addLogo($event, input)"
                                />
                            </label>
                            <label class="webform-content__label">
                                <i class="ot ot-trash margin-top-half" (click)="clearLogo(input)"></i>
                            </label>
                        </div>
                     </ng-container>
                        <ng-container  *ngIf="input.inputType === 'Color'">
                            <ot-color-picker
                                *ngIf="!((input.fieldName === 'AttachmentButtonColor'
                                || input.fieldName === 'SubmitButtonColor'
                                || input.fieldName === 'SubmitButtonTextColor')
                                && !permissions.DSARWebFormPublishV2)"
                                class="webform-content__input--color"
                                [(color)]="input.value"
                                (isColorValid)="modelChangeForColor($event, input)"
                            ></ot-color-picker>
                        </ng-container>
                        <input
                            *ngIf="input.inputType === 'Number Field'"
                            class="webform-content__input--number"
                            type="number"
                            [disabled]="!permissions.formsStylingEdit"
                            [min]="input.min"
                            [max]="input.max"
                            [(ngModel)]="input.value"
                            (change)="modelChangeForNumberFields($event.target.value, input)"
                            (keyup)="modelChangeForNumberFields($event.target.value, input)"
                        />
                </div>
            </div>
        <hr *ngIf="input.endOfSection
            ||(input.fieldName === 'SubmitButtonTextColor'
            || input.fieldName === 'AttachmentButtonColor')
            && permissions.DSARWebFormPublishV2"/>
    </div>
</div>
