<section class="assessment-list height-100 column-nowrap text-color-default">
    <ot-page-header [title]="'Assessments' | otTranslate">
        <button otButton neutral
            *ngIf="assessmentExportEnabled"
            class="margin-right-1"
            ot-auto-id="AssesmentExportButton"
            (click)="onExportAssessmentClick()"
            >
            {{"Export" | otTranslate}}
        </button>
        <button otButton brand
            *ngIf="allowCreateAssessment"
            class="no-outline"
            ot-auto-id="AssessmentListAddButton"
            (click)="onAddAssessmentClick()"
            >
            {{"AddAssessment" | otTranslate}}
        </button>
    </ot-page-header>
    <div class="background-grey border-bottom padding-top-bottom-half static-vertical"
        [ngClass]="permissions.assessmentSavedViews ? 'row-space-between' : 'row-flex-end'"
        >
        <div *ngIf="permissions.assessmentSavedViews"
            class="padding-left-1-half no-wrap">
            <div *ngIf="!showButton" class="slds-dropdown-trigger slds-dropdown-trigger_click border-right border-left">
                <div
                    class="row-flex-start align-center space-between"
                    (click)="showListDropdown = !showListDropdown">
                    <div class="padding-all-1 margin-left-1 text-bold">
                        {{headerTitle}}
                    </div>
                    <div class="view-selector__header-icon">
                        <span class="slds-icon_container slds-icon slds-icon--small slds-input__icon slds-input__icon_right">
                            <svg *ngIf="showListDropdown" class="slds-icon--xxx-small ot-tree-select-icon" aria-hidden="false">
                                <use
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevrondown"
                                />
                            </svg>
                            <svg *ngIf="!showListDropdown" class="slds-icon--xxx-small ot-tree-select-icon" aria-hidden="false">
                                <use
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevronright"
                                />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <button
                *ngIf="showButton"
                otButton brand
                (click)="showListDropdown = !showListDropdown"
            >
                {{headerTitle}}
            </button>
            <ot-view-selector
                *ngIf="showListDropdown"
                otClickHandler="outside"
                [hideControls]="false"
                [model]="currentView"
                [updateViewDisabled]="true"
                [views]="defaultViews"
                [translations]="viewTranslations"
                (handleClick)="handleViewSelectorOutsideClick()"
                (cloneView)="cloneView($event)"
                (createView)="createView()"
                (manageView)="manageView($event)"
                (onModelChange)="onModelChange($event)"
                (updateView)="updateView($event)"
            ></ot-view-selector>
        </div>
        <div class="row-flex-end padding-top-bottom-half">
            <ot-search-input
                class="margin-right-1"
                ot-auto-id="AssessmentListFilterSearchInput"
                [placeholder]="'Search' | otTranslate"
                [debounce]="300"
                (search)="search($event)">
            </ot-search-input>
            <button otButton
                class="margin-left-1"
                ot-auto-id="AssessmentListColumnsEditorButton"
                icon="ot ot-columns"
                [disabled]="isColumnsEditorDisabled"
                (click)="columnsEditorButton()"
            ></button>
            <button otButton
                class="margin-right-2"
                ot-auto-id="AssessmentListFilterToggleButton"
                icon="ot ot-filter"
                [select]="filtersApplied"
                (click)="toggleFilterPane()"
            ></button>
        </div>
    </div>
    <div otDrawerContainer class="flex flex-column height-100 min-height-1">
        <section
            class="stretch-vertical flex-full-height background-white overflow-y-auto"
            >
            <ot-drawer
                *ngIf="isFilterOpen"
                class="assessment-list__filter flex flex-column"
                [open]="isFilterOpen"
                [closeButtonText]="'Close' | otTranslate"
                (closeClick)="toggleFilterPane()"
                >
                <aa-list-filter
                    class="flex-full-height"
                    [filtersOpen]="isFilterOpen"
                    (applyFilters)="applyFilters($event)"
                    (cancel)="toggleFilterPane()"
                ></aa-list-filter>
            </ot-drawer>
            <ot-loading otPageLoading
                *ngIf="!viewReady; else aaList"
                class="flex-full-height"
                >
                {{ 'FilteringRecords' | otTranslate }}
            </ot-loading>
            <ng-template #aaList>
                <assessment-grid
                    *ngIf="viewReady && assessmentList.length"
                    [assessments]="assessmentList"
                    [pagination]="paginationDetail"
                    [permissions]="permissions"
                    [sortData]="sortData"
                    [columns]="activeColumns"
                    (goToAssessmentDetail)="onAssessmentDetailClick($event)"
                    (sortAssessments)="sortAssessments($event)"
                    (deleteAssessment)="deleteAssessment($event)"
                    (editAssessment)="openAssessmentDetailsModel($event)"
                ></assessment-grid>
                <div
                    *ngIf="viewReady && !assessmentList.length"
                    class="flex flex-column"
                    >
                    <one-empty-state class="padding-top-10"></one-empty-state>
                    <button otButton brand
                        *ngIf="allowCreateAssessment"
                        class="align-self-center position-relative no-outline"
                        ot-auto-id="AssessmentListAddButton"
                        (click)="onAddAssessmentClick()"
                        >
                        {{"AddAssessment" | otTranslate}}
                    </button>
                </div>
            </ng-template>
        </section>
        <footer
            otPaginationFooter
            *ngIf="assessmentList?.length"
            >
            <ot-pagination
                [currentPage]="currentPage"
                [numPages]="numPages"
                (pageChanged)="pageChanged($event)"
            ></ot-pagination>
            <span>{{paginationDetail | otPageMeta}}</span>
        </footer>
    </div>
</section>
