<div class="height-100 full-width column-horizontal-center">
    <h1 class="heading1 text-center text-thin margin-top-2">{{'EditCollectionPoint' | otTranslate}}</h1>
    <section class="padding-all-2 full-width column-horizontal-center">
        <form #collectionPointForm="ngForm" class="width-70-rem margin-bottom-2">
            <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom">{{ "Overview" | otTranslate }}</h4>
            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Name' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    class="one-input"
                    name="Name"
                    maxlength="200"
                    autofocus
                    ot-auto-id="CollectionPointFormName"
                    [placeholder]="'EnterCollectionPointName' | otTranslate"
                    [ngModel]="collectionPoint.Name"
                    (ngModelChange)="handleChanged($event, 'Name')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Description' | otTranslate"
                [required]="true"
                >
                <textarea otTextarea required
                    name="Description"
                    maxlength="500"
                    ot-auto-id="CollectionPointFormDescription"
                    [ngModel]="collectionPoint.Description"
                    [placeholder]="'EnterCollectionPointDescription' | otTranslate"
                    (ngModelChange)="handleChanged($event, 'Description')"
                ></textarea>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType !== crConstants.CRTypes.Mobile"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <ot-lookup
                    ot-auto-id="collectionPointFormMultiSelect"
                    name="Purposes"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    [otTooltip]="{ content: 'ActivePurposesOnly' | otTranslate, placement: 'top' }"
                    [clearInputOnModelChange]="true"
                    [model]="selectedPurposes"
                    [multiSelect]="true"
                    [options]="purposeOptions"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="selectOption($event, selectedPurposes)"
                ></ot-lookup>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Organization' | otTranslate"
                [required]="true"
                >
                <ot-picklist
                    ot-auto-id="collectionPointFormOrganization"
                    name="Organization"
                    indentKey="Level"
                    labelKey="Name"
                    valueKey="Id"
                    [autoClose]="true"
                    [options]="orgList"
                    [model]="selectedOrg"
                    (onSelect)="updateSelectedOrg($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-3 width-50-rem margin-left-right-auto"
                [label]="'ResponsibleUser' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="CollectionPointFormResponsibleUser"
                    name="ResponsibleUser"
                    labelKey="FullName"
                    valueKey="Id"
                    [autoClose]="true"
                    [disabled]="!(userList?.length) || !('ConsentResponsibleUserSelect' | otPermit)"
                    [dynamicHeight]="true"
                    [model]="responsibleUser"
                    [options]="userListOptions"
                    [placeholder]="'SelectResponsibleUser' | otTranslate"
                    (inputChange)="onResponsibleUserInputChange($event)"
                    (modelChange)="selectResponsibleUser($event)"
                ></ot-lookup>
            </div>

            <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom">{{ "Configuration" | otTranslate }}</h4>
            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.WebForm"
                [label]="'TypeOfConsent' | otTranslate"
                >
                <ot-picklist
                    ot-auto-id="collectionPointFormConsentType"
                    name="ConsentType"
                    labelKey="label"
                    valueKey="value"
                    [autoClose]="true"
                    [options]="crConsentTypes"
                    [model]="selectedConsentType"
                    (onSelect)="updateConsentType($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.WebForm"
                [label]="'FormUrl' | otTranslate"
                >
                <input otInput
                    class="one-input"
                    maxlength="400"
                    name="WebFormUrl"
                    ot-auto-id="collectionPointFormPageUrl"
                    [placeholder]="'EnterFormPageUrl' | otTranslate"
                    [ngModel]="collectionPoint.WebFormUrl"
                    (ngModelChange)="handleChanged($event, 'WebFormUrl')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'PrivacyPolicyUrl' | otTranslate"
                [required]="true"
                >
                <input otInput
                    class="one-input"
                    ot-auto-id="collectionPointFormPolicyPage"
                    maxlength="400"
                    name="PrivacyPolicyUrl"
                    [ngClass]="{'border-has-error text-error': !isPrivacyPolicyValid}"
                    [placeholder]="'EnterPrivacyPolicyPageUrl' | otTranslate"
                    [ngModel]="collectionPoint.PrivacyPolicyUrl"
                    (ngModelChange)="handleChanged($event, 'PrivacyPolicyUrl')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && consentIABCollectionPoint"
                [label]="'EnableIAB' | otTranslate"
                >
                <ot-toggle
                    ot-auto-id="collectionPointCreateIabConsentToggle"
                    [checked]="iabConsentToggled"
                    (toggle)="toggleIabConsent()"
                ></ot-toggle>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="iabConsentToggled"
                [label]="'VendorVersionList' | otTranslate"
                >
                <ot-picklist
                    class="cc-language-seletion__select"
                    labelKey="ListName"
                    valueKey="ListId"
                    [autoClose]="autoCloseEnabled"
                    [model]="selectedList"
                    [options]="vendorsList.content"
                    [placeholder]="'Status' | otTranslate"
                    [tooltip]="'Status' | otTranslate"
                    (onSelect)="toggleIabVendor($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && !iabConsentToggled"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <upgraded-one-multiselect
                    ot-auto-id="createCollectionPointPurposeMultiSelect"
                    [list]="fullPurposeList"
                    [model]="selectedPurposes"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    (handleSelect)="handleMultiSelect($event.$model)"
                    (handleRemove)="handleMultiSelect($event.$model)"
                    [isDisabled]="isMobileType"
                ></upgraded-one-multiselect>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && iabConsentToggled"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <upgraded-one-multiselect
                    [list]="purposeListIAB"
                    [model]="selectedPurposes"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    (handleSelect)="handleMultiSelectIAB($event.$model)"
                    (handleRemove)="handleMultiSelectIAB($event.$model)"
                    ot-auto-id="createCollectionPointPurposeMultiSelect"
                ></upgraded-one-multiselect>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'DataSubjectIdentifier' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    class="one-input"
                    maxlength="200"
                    name="SubjectIdentifier"
                    ot-auto-id="collectionPointFormDataSubjectIdentifier"
                    [placeholder]="'EnterDataSubjectIdentifier' | otTranslate"
                    [disabled]="collectionPoint.DoubleOptIn"
                    [ngModel]="collectionPoint.SubjectIdentifier"
                    (ngModelChange)="handleChanged($event, 'SubjectIdentifier')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="dataElementsEnabled && collectionPoint.CollectionPointType !== crConstants.CRTypes.Mobile"
                [label]="'DataElements' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="collectionPointFormDataElements"
                    labelKey="Label"
                    valueKey="Id"
                    [autoClose]="true"
                    [clearInputOnModelChange]="true"
                    [model]="selectedDataElements"
                    [multiSelect]="true"
                    [options]="dataElementOptions"
                    (firstOptionSelect)="selectOtherDataElement()"
                    (inputChange)="onDataElementInputChange($event)"
                    (modelChange)="selectDataElement($event)"
                    >
                    <ng-template otFirstOption *ngIf="dataElementInput && !this.dataElementOptions.length">
                        <span
                            ot-auto-id="ConsentDataElementOtherOption"
                            id="listbox-option-unique-id-00"
                            role="option"
                            >
                            {{ "AddOption" | otTranslate }}: {{ dataElementInput }}
                        </span>
                    </ng-template>
                </ot-lookup>
            </div>

            <section *ngIf="canEditNoticeFields">
                <hr/>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'DataControllerName' | otTranslate"
                    >
                    <textarea otTextarea
                        name="DataControllerName"
                        maxlength="1000"
                        ot-auto-id="collectionPointFormDataControllerName"
                        [ngModel]="collectionPoint.DataControllerName"
                        [placeholder]="'EnterDataControllerName' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'DataControllerName')"
                    ></textarea>
                </div>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'RightToWithdraw' | otTranslate"
                    >
                    <textarea otTextarea
                        name="RightToWithdraw"
                        maxlength="1000"
                        ot-auto-id="collectionPointFormRightToWithdraw"
                        [ngModel]="collectionPoint.RightToWithdraw"
                        [placeholder]="'EnterRightToWithdraw' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'RightToWithdraw')"
                    ></textarea>
                </div>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'HowToWithdraw' | otTranslate"
                    >
                    <textarea otTextarea
                        name="HowToWithdraw"
                        maxlength="1000"
                        ot-auto-id="collectionPointFormHowToWithdraw"
                        [ngModel]="collectionPoint.HowToWithdraw"
                        [placeholder]="'EnterHowToWithdraw' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'HowToWithdraw')"
                    ></textarea>
                </div>

                <div otFormElement
                    [label]="'OtherInformation' | otTranslate"
                    >
                    <textarea otTextarea
                        name="OtherInformation"
                        maxlength="1000"
                        ot-auto-id="collectionPointFormOtherInformation"
                        [ngModel]="collectionPoint.OtherInformation"
                        [placeholder]="'EnterOtherInformation' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'OtherInformation')"
                    ></textarea>
                </div>
            </section>
        </form>
    </section>
</div>
