loading(ng-if='!Ready', show-text='false')
section.thanks__wrapper(ng-if='Ready')
    .thanks__container
        h2.thanks__headline {{::$root.t("ThankYou")}} 
        .thanks__divider
        h5.thanks__subhead(ng-if='messages[currentState].subhead', ng-bind='messages[currentState].subhead')
        p.thanks__description(ng-if='messages[currentState].description', ng-bind-html='messages[currentState].description')
        .thanks__button-container(ng-if='messages[currentState].buttons.length')
            button.thanks__button(ng-repeat='button in messages[currentState].buttons track by $index', ng-bind='button.text', ng-click='button.click()', ng-if='button.show') 
