<section class="column-nowrap full-size overflow-hidden">
    <ot-page-header
        class="static-vertical"
        [title]="title | otTranslate"
    >
        <button
            otButton
            brand
            ot-auto-id="IntgMarketplaceAddNewBtn"
            (click)="goToRoute()"
        >
            {{ 'AddNew' | otTranslate }}
        </button>
        <button
            otButton
            neutral
            *ngIf="viewPermissions.addConnector && listToShow === marketPlaceView.MARKET_PLACE_LIST_VIEW"
            class="margin-left-half"
            ot-auto-id="IntgMarketplaceAddCustomConnectorBtn"
            (click)="openAddCustomModal()"
        >
            {{ 'AddConnector' | otTranslate }}
        </button>
    </ot-page-header>
    <ot-loading
        otPageLoading
        *ngIf="!ready"
        class="column-horizontal-vertical-center full-size"
    >
    </ot-loading>
    <div
        *ngIf="ready"
        class="border-top-bottom full-width padding-top-bottom-1 padding-left-right-2 row-nowrap row-vertical-center"
    >
        <div otFormElement
            class="text-bold padding-left-right-1 flex static-horizontal margin-top-2"
            [label]="'FilterByModule' | otTranslate"
        >
            <intg-marketplace-modules-picklist
                [filterOptions]="filters"
                (filterByModule)="select($event)"
            ></intg-marketplace-modules-picklist>
        </div>
        <span class="padding-left-right-3">
            <div [innerText]="'CannotFindWhatYouLookingFor' | otTranslate"></div>
            <div class="text-bold text-link"
                ot-auto-id="IntgMarketplaceContactSales"
                [innerText]="'ContactSales' | otTranslate"
                (click)="openContactModal()"></div>
        </span>
    </div>
    <ot-empty-state
        *ngIf="ready && !systems.length"
        class="stretch-vertical full-size"
        [emptyStateMessage]="'NoIntegrationsAvailable' | otTranslate">
        <img emptyStateImg />
    </ot-empty-state>
    <intg-marketplace-body
        *ngIf="ready && systems.length"
        class="stretch-vertical full-size padding-top-2"
        [systems]="systems"
        [componentToNavigate]="listToShow"
    ></intg-marketplace-body>
</section>
