<ot-modal-header (close)="closeModal()">
    <div>{{ 'CustomPreferenceBuilder' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    class="row-nowrap stretch-vertical"
    >
    <form
        #customPreferenceForm="ngForm"
        class="max-width-40 background-grey padding-all-2 border border-radius-3 margin-top-bottom-0"
        name="CustomPreferenceForm"
        >
        <div otFormElement
            class="margin-bottom-2"
            [label]="'SelectionType' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="CustomPreferenceSelectionType"
                name="SelectionType"
                labelKey="label"
                valueKey="value"
                [autoClose]="true"
                [disabled]="!selectionTypeOptions?.length"
                [model]="selectedSelectionType"
                [options]="selectionTypeOptions"
                (onSelect)="selectSelectionType($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'DisplayAs' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="CustomPreferenceDisplayAs"
                name="DisplayAs"
                labelKey="label"
                valueKey="value"
                [autoClose]="true"
                [disabled]="!displayAsOptions?.length"
                [model]="selectedDisplayAs"
                [options]="displayAsOptions"
                (onSelect)="selectDisplayAs($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'DefaultLanguage' | otTranslate"
            [required]="true"
            >
            <ot-lookup
                ot-auto-id="CustomPreferenceCreateDefaultLangauge"
                name="Language"
                labelKey="Name"
                valueKey="Code"
                [autoClose]="true"
                [disabled]="!allLanguages?.length"
                [dynamicHeight]="true"
                [model]="selectedLanguage"
                [options]="allLanguages"
                [placeholder]="'SelectLanguage' | otTranslate"
                (inputChange)="onLanguageInputChange($event)"
                (modelChange)="selectLanguage($event)"
            ></ot-lookup>
        </div>
        <div otFormElement
            class="margin-bottom-3"
            [label]="'Description' | otTranslate"
            [hasError]="newCustomPreference?.Description?.length === 500"
            [errorMessage]="'CharacterLimitReached' | otTranslate"
            [required]="true"
            >
            <textarea otTextarea required
                ot-auto-id="CreateCustomPreferenceDescription"
                name="Description"
                maxlength="500"
                [ngModel]="newCustomPreference.Description"
                [placeholder]="'EnterDescription' | otTranslate"
                (ngModelChange)="onDescriptionChange($event)"
            ></textarea>
        </div>
        <div class="ot-setting-container">
            <ot-setting [title]="'Required' | otTranslate">
                <ot-toggle
                    ot-auto-id="CustomPreferenceRequiredToggle"
                    [checked]="newCustomPreference.Required"
                    [disabled]="createInProgress"
                    (toggle)="toggleCustomPreferenceRequired()"
                ></ot-toggle>
            </ot-setting>
        </div>
    </form>
    <div class="column-vertical-center flex-full-width">
            <ot-radio-button-group
                class="margin-bottom-2 margin-left-right-auto width-50-percent"
                labelKey="label"
                valueKey="value"
                [model]="optionTab"
                [options]="options"
                (onSelect)="radioButtonSelect($event)"
            ></ot-radio-button-group>
            <div class="flex-full-height padding-left-right-2 column-nowrap overflow-y-auto">
                <div otFormElement
                    class="margin-bottom-2 width-100-percent"
                    [label]="'Name' | otTranslate"
                    [hasError]="newCustomPreference?.Name?.length === 250"
                    [errorMessage]="'CharacterLimitReached' | otTranslate"
                    [required]="true"
                    >
                    <input otInput required
                        ot-auto-id="EditCustomPreferenceName"
                        class="one-input"
                        maxlength="250"
                        name="Name"
                        [placeholder]="'EnterName' | otTranslate"
                        [(ngModel)]="newCustomPreference.Name"
                        (ngModelChange)="checkNewCustomPreferenceInvalid()"
                        />
                </div>
                <div otFormElement
                    required="true"
                    [label]="'Options' | otTranslate"
                    >
                </div>
                <ng-container *ngIf="optionTab === crConstants.CustomPreferenceOptionTabs.Build">
                    <ng-container *ngFor="let option of newCustomPreference?.Options; trackBy: trackByFn; let i = index">
                        <div otFormElement
                            class="margin-bottom-2"
                            [hasError]="newCustomPreference.Options[i]?.length === 100"
                            [errorMessage]="'CharacterLimitReached' | otTranslate"
                            >
                            <div class="row-nowrap static-vertical width-100-percent">
                                <input otInput
                                    maxlength="100"
                                    [attr.ot-auto-id]="'CreateCustomPreferenceOption' + i"
                                    [name]="'Option' + i"
                                    [placeholder]="'EnterOption' | otTranslate"
                                    [(ngModel)]="newCustomPreference.Options[i]"
                                    (ngModelChange)="checkNewCustomPreferenceInvalid()"
                                    />
                                <button otButton
                                    *ngIf="newCustomPreference.Options.length > 1"
                                    class="margin-left-half"
                                    icon="ot ot-minus-circle color-cherry"
                                    [attr.ot-auto-id]="'CustomPreferenceRemoveOptionButton' + i"
                                    (click)="removeCustomPreferenceOption(i)"
                                ></button>
                                <button otButton
                                    class="margin-left-half"
                                    icon="ot ot-plus-circle color-green"
                                    [attr.ot-auto-id]="'CustomPreferenceAddOptionButton' + i"
                                    (click)="addCustomPreferenceOption(i + 1)"
                                ></button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <div
                    *ngIf="optionTab === crConstants.CustomPreferenceOptionTabs.Preview"
                    class="row-wrap justify-center"
                    >
                    <ng-container *ngFor="let option of newCustomPreference?.Options; trackBy: trackByFn; let i = index">
                        <span class="width-30-percent margin-all-half">
                            <button otButton neutral
                                [attr.ot-auto-id]="'CustomPreferenceCreatePreviewOption' + i"
                                class="overflow-ellipsis width-100-percent"
                                >
                                {{ option }}
                            </button>
                        </span>
                    </ng-container>
                </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="CreateCustomPreferenceCloseButton"
        [disabled]="createInProgress"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="CreateCustomPreferenceCreateButton"
        [disabled]="createInProgress || newCustomPreferenceInvalid"
        [loading]="createInProgress"
        (click)="createCustomPreference()"
        >
        {{ 'Create' | otTranslate }}
    </button>
</ot-modal-footer>
