.icon-list {
    &__item {
        height: 6rem;
        width: 6rem;
        color: $slate;
        border-radius: 3rem;
        &-icon {
            padding: 1.3rem;
            font-size: 3rem;
        }
        &:hover:not(.icon-list__item--selected){
            background-color: $grey-2;
        }
        &--selected {
            background-color: $cyan;
            color: $white;
        }
    }

    &__border {
        border: solid 0.1rem $white;
    }
}
