<section
    otSettingContainer
    class="flex-full-height overflow-y-auto overflow-x-hidden padding-top-bottom-5"
    >
    <ot-setting
        [title]="'IncludeHeader' | otTranslate"
        [description]="'IncludeHeaderDescription' | otTranslate"
        >
        <ot-toggle
            ot-auto-id="PDFSettingsIncludeHeaderToggle"
            [checked]="customizeHeaders"
            (toggle)="toggleCustomizeHeaders($event)"
            >
        </ot-toggle>
        <ot-setting
            *ngIf="showingHeaderSettings"
            [title]="'HeaderOnEachPage' | otTranslate"
            [description]="'HeaderOnEachPageDescription' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="PDFSettingsHeaderEachPageToggle"
                [checked]="headerOnEveryPage"
                (toggle)="toggleHeaderOnEveryPage($event)"
                >
            </ot-toggle>
        </ot-setting>
        <div
            otSettingChild
            otFileDragDrop
            class="drop-container text-center padding-all-2 margin-top-bottom-1 border-dashed-2"
            *ngIf="showingHeaderSettings"
            ot-auto-id="PDFSettingsHeaderImageInput"
            [class.pdf-settings__filepicker--active]="isHoveringFile"
            [class.pdf-settings__filepicker--error]="selectedFileError && !isHoveringFile"
            [mbMaxFileSize]="maxHeaderImageSize"
            [allowedExtensions]="allowedHeaderImagesExtensions"
            (filesDropped)="handleHeaderBackgroundChange($event)"
            (filesHovered)="handleFilesHover($event)"
            (filesInvalid)="handleInvalidFiles($event)"
        >
            <p
                class="ot-setting__title block margin-all-0"
                [innerText]="'HeaderBackgroundImage' | otTranslate"
                >
            </p>
            <span
                class="ot-setting__description block margin-bottom-1"
                [innerText]="'PDFHeaderImageAcceptedFormats' | otTranslate"
                >
            </span>
            <label
                otButton
                class="slds-button slds-button_brand cursor-pointer"
                >
                <input
                    class="invisible position-absolute"
                    type="file"
                    otFileSelect
                    [mbMaxFileSize]="maxHeaderImageSize"
                    [allowedExtensions]="allowedHeaderImagesExtensions"
                    (filesSelected)="handleHeaderBackgroundChange($event)"
                    (filesInvalid)="handleInvalidFiles($event)"
                />
                {{ 'Upload' | otTranslate }}
            </label>
            <p
                class="margin-bottom-0 margin-top-1"
                *ngIf="selectedFileName"
                [innerText]="selectedFileName"
                >
            </p>
            <p
                class="margin-bottom-0 margin-top-1 text-error"
                *ngIf="selectedFileError"
                [innerText]="selectedFileError"
                >
            </p>
        </div>
    </ot-setting>
    <ot-setting
        class="padding-bottom-10"
        [title]="'PaperSize' | otTranslate"
        [description]="'IndicateReportPaperSize' | otTranslate"
        >
        <ot-picklist
            class="full-width min-width-20"
            ot-auto-id="PDFSettingsPaperSize"
            [options]="paperSizeOptions"
            [model]="selectedPaperSize"
            (onSelect)="selectPaperSize($event)"
            >
        </ot-picklist>
    </ot-setting>
</section>

