<div>
    <div class="background-white height-5 row-vertical-center justify-end border-bottom padding-right-2">
        <button otButton neutral
            *ngIf="showLinkAssessment"
            ot-auto-id="IncidentLaunchAssessmentButton"
            (click)="onLaunchAssessment()"
            >
            {{ 'LaunchAssessment' | otTranslate }}
        </button>
        <button otButton neutral
            class="margin-right-half"
            *ngIf="showLinkAssessment"
            ot-auto-id="IncidentLinkAssessmentButton"
            (click)="onLinkAssessment()"
            >
            {{ 'LinkAssessment' | otTranslate }}
        </button>
    </div>
    <ot-loading otPageLoading
        class="margin-left-right-auto margin-top-3"
        *ngIf="loadingIncidentLinkedAssessmentRecords$ | async"
        >
    </ot-loading>

    <div *ngIf="!(loadingIncidentLinkedAssessmentRecords$ | async)" class="overflow-x-scroll">
        <incident-assessment-table
            [table]="table"
            [rows]="table.rows"
            [columns]="table.columns"
            [metaData]="table.metaData"
            (reloadIncidentLinkedAssessments)="getIncidentLinkedAssessments()"
            (onLinkAssessment)="onLinkAssessment()"
        ></incident-assessment-table>
    </div>
    <footer otPaginationFooter *ngIf="!(loadingIncidentLinkedAssessmentRecords$ | async) && ((table?.rows?.length && table?.metaData.totalPages > 1) || (!table?.metaData.first))">
        <ot-pagination
            [currentPage]="table?.metaData?.number"
            [handleOffset]="true"
            [numPages]="table?.metaData?.totalPages"
            (pageChanged)="onPaginationChange($event)"
            >
        </ot-pagination>
        <span>
            {{ table?.metaData | otPageMeta }}
        </span>
    </footer>
</div>