<div class="flex row-nowrap height-auto margin-0 max-width-full full-width">
    <input
        otInput
        [(ngModel)]="text"
    >
    <button
        otButton
        neutral
        class="margin-left-half"
        icon="ot ot-check text-success"
        ot-auto-id="DsarEditableTextSubmitButton"
        (click)="handleSubmit()"
    ></button>
    <button
        otButton
        neutral
        icon="ot ot-times text-error"
        ot-auto-id="DsarEditableTextCancelButton"
        (click)="handleCancel()"
    ></button>
</div>
