<section class="dsar-dashboard full-size column-nowrap">
    <ot-page-header [title]="'DSARDashboard' | otTranslate"></ot-page-header>
    <section class="padding-all-2 overflow-auto flex-full-height" >
        <ot-grid>
            <ot-grid-row>
                <ot-grid-column [span]="4">
                    <ot-card
                        alignment="left"
                        [header]="{text: 'SummaryMetrics' | otTranslate}"
                    >
                        <ng-container otCardContent>
                            <dsar-dashboard-metrics-header class="position-absolute full-width"></dsar-dashboard-metrics-header>
                        </ng-container>
                    </ot-card>
                </ot-grid-column>
                <ot-grid-column [span]="8">
                    <ot-card
                        alignment="left"
                        [header]="{text: 'DSARRequestsByDate' | otTranslate}"
                    >
                        <ng-container otCardContent>
                            <dsar-dashboard-line-chart></dsar-dashboard-line-chart>
                        </ng-container>
                    </ot-card>
                </ot-grid-column>
            </ot-grid-row>

            <ot-grid-row>
                <ot-grid-column [span]="12">
                    <ot-card
                        alignment="left"
                        [header]="{text: 'DSARRequestsByCountry' | otTranslate}"
                    >
                        <ng-container otCardContent>
                            <dsar-dashboard-country-map></dsar-dashboard-country-map>
                        </ng-container>
                    </ot-card>
                </ot-grid-column>
            </ot-grid-row>

            <ot-grid-row class="add-padding">
                <ot-grid-column [span]="6">
                    <ot-card
                        alignment="left"
                        [header]="{text: 'DSARRequestsByRequestType' | otTranslate}"
                    >
                        <ng-container otCardContent>
                            <dsar-dashboard-request-types-chart></dsar-dashboard-request-types-chart>
                        </ng-container>
                    </ot-card>
                </ot-grid-column>
                <ot-grid-column [span]="6">
                    <ot-card
                        alignment="left"
                        [header]="{text: 'DSARRequestsBySubjectType' | otTranslate}"
                    >
                        <ng-container otCardContent>
                            <dsar-dashboard-subject-types-chart></dsar-dashboard-subject-types-chart>
                        </ng-container>
                    </ot-card>
                </ot-grid-column>
            </ot-grid-row>
        </ot-grid>
    </section>
</section>
