.dsar-dashboard {
    ot-grid {
        max-width: 100% !important;
    }

    .add-padding {
        ot-card {
            .ot-card__content-body {
                padding: 2rem;
            }
         }
    }

    ot-card {

        main {
            padding: 1rem 0 !important;
        }

        .ot-card__content-body {
            border-top: solid 1px $frost;
        }

        .ot-card__content-header {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2rem;
        }

        .ot-card__footer {
            padding: 0 !important;
        }
    }

    dsar-dashboard-metrics-header {
        height: 38rem;
    }

    &__line-chart-dashboard-view {
        height: 38rem;
    }

}
