<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData.modalTitle }}</div>
</ot-modal-header>
<ot-modal-content class="position-relative">
    <ot-loading otPageLoading
        *ngIf="isLoading"
        class="margin-left-right-auto margin-top-3"
    ></ot-loading>
    <div
        class="static-vertical padding-top-2 padding-left-right-2"
        *ngIf="otModalData.attributeNameKey"
        >
        <label class="margin-right-1">
            {{ ('AttributeNameKey' | otTranslate) + ' :' }}
        </label>
        <span>{{ otModalData.attributeNameKey }}</span>
    </div>
    <div class="row-nowrap">
        <section
            class="flex-stretch-50 slds-truncate padding-all-2"
            *ngIf="!isLoading"
            >
            <label>
                {{ 'CurrentActiveOptions' | otTranslate }}
            </label>
            <ul
                class="margin-bottom-0 padding-left-right-1 border border-radius"
                *ngIf="otModalData?.currentActiveOptions?.length"
                >
                <ng-container
                    *ngFor="let option of otModalData?.currentActiveOptions">
                    <li
                        class="full-width row-vertical-center padding-all-1"
                        [ngClass]="{'border-bottom': !last}"
                        >
                        <span 
                            class="slds-truncate"
                            [otTooltip]="{ content: option?.nameKey |  otTranslate, placement: 'top' }"
                            >
                            {{ option?.nameKey |  otTranslate }}
                        </span>
                    </li>
                </ng-container>
            </ul>
        </section>
        <section
            class="flex-stretch-50"
            *ngIf="!isLoading"
            >
            <form [formGroup]="optionsForm">
                <div
                    otFormElement
                    class="padding-bottom-2 margin-bottom-3"
                    [ngClass]="{'border-bottom': optionsForm.get('options').controls.length}"
                    [hasError]="isDuplicate"
                    [errorMessage]="'DuplicateOptionsNotAllowed' | otTranslate"
                    [label]="'AddNewOption' | otTranslate"
                    [required]="true"
                    >
                    <div class="row-nowrap margin-all-0 full-width">
                        <input
                            class="margin-right-2 stretch-horizontal"
                            otInput
                            name="IncidentTypeNewOptionInput"
                            autocomplete="off"
                            formControlName="newOptionInput"
                            [attr.ot-auto-id]="'IncidentTypeModalAddNewOptionInput'"
                            [placeholder]="'NewOptionValue' | otTranslate"
                            (keydown.enter)="addOption($event)"
                        />
                        <button
                            class="static-horizontal"
                            type="button"
                            otButton
                            neutral
                            [attr.ot-auto-id]="'IncidentTypeModalAddNewOptionButton'"
                            [disabled]="!optionsForm.get('newOptionInput').value?.trim() || !optionsForm.get('newOptionInput').valid"
                            (click)="addOption()"
                            >
                            {{ 'Add' | otTranslate }}
                        </button>
                    </div>
                </div>
                <label 
                    *ngIf="optionsForm.get('options').controls.length"
                    class="margin-bottom-1 row-horizontal-center"
                    >
                    {{ 'NewOptionValues' | otTranslate }}
                </label>
                <ul
                    class="stretch-vertical overflow-y-auto margin-bottom-0 padding-right-2"
                    *ngIf="optionsForm.get('options').controls.length"
                    formArrayName="options"
                    >
                    <ng-container *ngFor="let option of optionsForm.get('options').controls; let optionIndex = index; let last = last;">
                        <li
                            class="full-width row-vertical-center"
                            [formGroupName]="optionIndex"
                            [ngClass]="{
                                'slds-has-error': !option.valid,
                                'margin-bottom-0': last,
                                'margin-bottom-1': !last
                            }"
                            >
                            <input
                                class="stretch-horizontal"
                                otInput
                                name="{{'optionInput' + optionIndex}}"
                                [placeholder]="'OptionValue' | otTranslate"
                                [formControlName]="value"
                                [attr.ot-auto-id]="'IncidentTypeModalAddNewOptionInput' + optionIndex"
                            />
                            <button
                                class="background-none border-none attribute-modal__delete-option static-horizontal margin-left-1"
                                type="button"
                                [attr.ot-auto-id]="'IncidentTypeModalRemoveOptionButton' + optionIndex"
                                (click)="removeOption(optionIndex)"
                                >
                                <i class="fa fa-minus-circle color-cherry"></i>
                            </button>
                        </li>
                    </ng-container>
                </ul>
            </form>
        </section>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IncidentTypeAddModalCancelButton"
        [disabled]="isLoading"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button 
        otButton
        brand
        *ngIf="!isLoading"
        ot-auto-id="IncidentTypeAddModalSaveButton"
        [disabled]="!optionsForm.get('options').controls.length || !optionsForm.get('options').valid"
        [loading]="isLoading"
        (click)="onSave()"
        >
        {{ 'SaveAttribute' | otTranslate }}
    </button>
</ot-modal-footer>