.pick-list {

    &__list {
        border-left: 1px solid $grey-3;
        border-bottom: 1px solid $grey-3;
        border-bottom-left-radius: 3px;
        padding-left: 1rem;
        margin-bottom: 2rem;

        &--outer {
            border-left: 0;
            border-bottom: 0;
            padding-left: 0;
        }
    }

    &__item {
        margin-bottom: 1rem;
        width: 100%;
        &-header {
            margin-bottom: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
        }
    }

    &__text {
        font-weight: normal;
        margin: 0 0 0 1rem;
    }

    &__checkbox {
        @include checkbox;
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        max-width: 2rem;

        i {
            font-size: 1.2rem;
        }
    }
}
