.section-nav {
    color: $slate;
    margin: 0;
    overflow-y: auto;
    height: 100%;

    &__item {
        border-bottom: 1px solid $grey-3;

        &-header {
            padding: 1rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &.is-active {
                background-color: $slate;
                color: $white;
            }

            &.is-disabled {
                cursor: auto;
            }
        }

        &-title {
            flex: 1 1 auto;

        }

        &-number {

            .is-disabled & {
                opacity: .7;
            }
        }

        &-name {

            .is-disabled & {
                opacity: .7;
            }
        }

        &-count {
            margin-left: .6rem;

            .is-disabled & {
                opacity: .7;
            }

            &-text {
                font-weight: bold;
            }

            &-check {
                color: $green;
            }
        }

        .tag {
            display: inline-block;
            margin-left: .6rem;
            padding: 0rem 0.6rem;
        }

        &-open {
            border-radius: 2px;
            white-space: nowrap;
            border: 1px solid $grey-3;
            color: $slate;
            flex: 0 0 auto;
            padding: 0 0.6rem;
            margin-left: 1rem;
            background-color: transparent;

            i {
                margin: 0;
                color: $grey-4;
            }

            &:hover {
                border-color: $slate;
                color: darken($slate, 10%);

                i {
                    color: $slate;
                }
            }

            .is-active & {
                border-color: $grey-3;

                i {
                    color: $grey-3;
                }

                &:hover {
                    border-color: $white;

                    i {
                        color: $white;
                    }
                }
            }
        }
    }

    &__sub {
        background-color: $white;

        &-item {
            padding: 1rem;
            border-top: 1px solid $grey-1;
        }

        .section-nav__item-count-check {
            margin-left: .6rem;
        }
    }
}