.template-questions {

    &-group-node {
        margin-bottom: 1rem;

        &.has-multiple {
            display: flex;
            flex-flow: row nowrap;
            background-color: $paper-gray;
            padding: .6rem 0 .6rem .6rem;
            border-radius: 3px;
            border: 1px solid $grey-1;
        }
    }

    &-container {
        flex: 1 1 auto;
        min-width: 1px;
    }

    &-wrapper {
        margin-bottom: 0.4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-number {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 4rem;
        padding: 1rem 0.8rem;
        margin: 0;
        border-radius: 0;
        background-color: $number-grey;
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
        min-height: 4rem;

        span {
            height: 2rem;
        }

        .nav {
            width: 1rem;
            margin-left: 0.5rem;
        }

        &--read-only {
            cursor: auto;
        }

        &--read-only.symbol::before {
            content: '§';
            font-weight: 100;
        }
    }

    &-required {
        color: $light-red;
        font-size: 7px;
        position: relative;
        top: -8px;
    }

    &-hover--show {
        display: none;
        color: $slate;
    }

    &-hover--hide {
        display: inline-block;

    }

    &-hover--hide.symbol::before {
        content: '§';
        font-weight: 100;
    }

    &-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        border: 1px solid $grey-3;
        background: $white;
        color: $slate;
        border-radius: 2px;

        &:hover {

            .dm-template__question-hover--show {
                display: inline-block;
            }

            .dm-template__question-hover--hide {
                display: none;
            }
        }

    }

    &-text {
        flex: 1 1 100%;
        display: inline;
        border-radius: 0;
        margin: 0;
        padding: 1rem 1.6rem;
        font-size: 1.5rem;
        font-weight: normal;
        position: relative;
        outline: none;
        overflow-x: hidden;
        text-overflow: ellipsis;

        i {
            font-size: 15px;
            margin-left: 1rem;
        }
    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 auto;

        .condition-icon {
            font-size: 1.25em;
        }

        .has-condition-icon {
            bottom:17%;
            left: 27%;
            font-size: .75em;
            color: $green;
        }

        .upgrade__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
            right: 0;
        }

        button {
            color: $slate;
            width: 3.6rem;
            padding: 0;
            background-color: transparent;
            outline: none;
            position: relative;
            border: 0;

            &:hover,
            &:focus {
                color: darken($slate, 10%);
            }
        }
    }

    &-detail {
        padding: 1rem 5rem;

        .template-manage-detail-label {
          font-weight: bold;
          border-bottom: 1px solid $grey-3;
          i {
            margin-right: 5px;
          }
        }
    }

    &-add-question {
        width: 100%;
        border: 2px dashed $grey-1;
        background: 0;
        color: $grey-4;
        font-size: 1.6rem;
        padding: 1rem;
        margin: 1rem 0;

        &:hover {
            color: $slate;
            border: 2px solid $grey-1;
        }

        i {
            font-size: 1.4rem;
            margin-right: .6rem;
        }
    }

    .angular-ui-tree-placeholder {
        border: 2px dashed #ccc;
        border-radius: 2px;
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        color: #B7B7B7;
        font-size: 1.6rem;
        &:after {
            content: "Drop Question Here";
            width: 100%;
            padding: 1rem;
            margin: 1rem 0;
        }
    }

    .angular-ui-tree-empty {
        display: none;
    }
}
