.welcome,
.welcome-section {

    &__header {
        display: none;
        border-bottom: 1px solid $grey-4;
        min-height: 75px;
        background-color: $grey-1;
        border-left: none;
        padding: 0 5%;

        @media (min-width: $small) {
            display: block;
        }

        .banner {
            display: flex;
            list-style: none;
            width: 100%;
            margin: 0;
            color: #777;

            &-item {
                flex: 1 1 auto;
                padding: 1.2rem 0;
                word-wrap: break-word;

                .collection-picker {
                    width: auto;

                    &-display {
                        height: 20px;
                        background: transparent;
                        font-style: initial;
                        color: #7e7e7e;
                        font-weight: bold;
                        font-size: 1.6rem;
                        margin: 0;
                        padding: 0;
                        border: 0;

                        &-text {
                            justify-content: flex-start;
                            width: auto;
                        }

                        &-icon {
                            margin-left: 0;
                        }
                    }

                    &.dropdown {

                        &.open {
                            height: 20px;
                        }

                        font-size: inherit;
                        font-weight: normal;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        h4 {
            margin: 0;
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        p {
            color: $dark-grey;
            font-weight: bold;
            font-size: 1.4rem;
            margin: 1rem 0 0;
            padding: 0;
            border: 0;

            &:hover {
                text-decoration: underline;
            }

            &.no-edit:hover {
                text-decoration: none;
            }
        }

        .banner-item__text{
            color: $dark-grey;
            font-weight: bold;
            font-size: 1.4rem;
            margin: 1rem 0 0;
            padding: 0;
            border: 0;
        }

        i {
            margin-left: 0.8rem;
            font-size: 80%;
            vertical-align: middle;
        }
    }

    &__description {
        padding: 2rem 0;

        h4 {
            font-size: 1.1rem;
            text-transform: uppercase;
            margin: 0 0 1rem;
        }

        p {
            margin: 0;
            padding: 0;
        }

        form {
            max-width: 100%;
        }
    }

    &__detail {
        padding: 5rem;

        &.ql-editor {
            p {
                margin-bottom: 1rem;
            }
        }
    }
}

// Reassign modal
.reassign-container {
    padding: 0;
    margin-left: 5px;

    button {
        width: 100%;
        border: 1px solid #777;
        background-color: $paper;
        color: #777;
        outline: none;
        padding: 2px;

        h4 {
            margin: 0;
        }

        &:hover {
            color: $paper;
            background-color: #777;
            border-color: $paper;
        }
    }
}
