.one-configurable-item {
    display: block;

    &--separated {
        padding: 1rem 0;
        border-bottom: solid 1px $grey-3;
    }

    &--last {
        border-bottom: none;
    }

    &__text {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

}
