.one-dropdown {
    position: relative;

    &__button {
        &:focus {
            outline: none;
        }

        &-icon {
            font-size: 75%;
            margin-left: .3rem;
        }

        &--round {
            border-radius: 2rem !important;
            padding: 0.3rem 1.4rem !important;
        }

        &--circular {
            padding: 0.3rem 0.7rem !important;
        }

        &--round--large {
            border-radius: 2rem !important;
            padding: 0.6rem 1.8rem !important;
        }

        &--flat {
            width: 2rem;
            border: none !important;
            padding: 0 !important;
            background: transparent !important;
            box-shadow: none !important;
        }
    }

    &__list {
        display: none;
        position: absolute;
        left: 0;
        z-index: 1000;
        min-width: 15rem;
        max-height: 30rem;
        overflow-y: auto;
        margin: 0.5rem 0 0;
        padding: 0;
        background: $white;
        border: 1px solid $grey-3;
        border-radius: 0.2rem;
        list-style: none;
        font-size: 1.4rem;

        &:hover {
            -ms-overflow-style: auto;
        }

        .open & {
            display: block;
        }
    }

    &__item {
        display: block;
        padding: 0.8rem 1.6rem;
        clear: both;
        font-weight: normal;
        white-space: nowrap;
        cursor: pointer;
        overflow-x: hidden;
        color: $slate;

        &:focus,
        &:hover {
            background: $paper-gray;
            color: darken($slate, 25%);
            text-decoration: none;
        }
        &.selected {
            background-color: $ui-blue;
            color: $white;
            text-decoration: none;
        }

        &--disabled {
            pointer-events: none;
            color: $grey-3;
        }
        &--bolder {
            font-weight: bold;
            border-bottom: 2px solid $grey-3;
        }
    }

    &__tooltip {
        &--offset-left {
            margin-left: 1.5rem;
        }
    }
}

.dropdown-menu-right {
    right: 0;
    left: auto !important;
}
