.one-table {
    position: relative;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 0.2rem 0.5rem 0 $grey-1;

    &-header {
        flex: 0 0 auto;
        flex-flow: row nowrap;
        align-items: center;
        display: table;
        background-color: $white;
    }

    &-body {
        display: table;
        flex: 1 1 auto;
        width: auto;
        table-layout: fixed;
    }

    &-rows {
        display: block;
        max-height: calc(100vh - 25rem);
        overflow-y: auto;
        overflow-x: hidden;

        &:after {
            background-color: $white;
            content: '';
            display: block;
            width: 100%;
            height: 2rem;
        }
    }

    &-row {
        display: flex;
        background-color: $white;
        border-bottom: solid 1px $paper-gray;

        &--header {
            border-bottom: solid 1px $grey-1;
        }

        &--hidden {
            height: 0;
            opacity: 0;
            pointer-events: none;
        }

        &--last {
            border-bottom: none;
        }

        &--disabled {
            background-color: $paper-gray;
        }
    }

    &-cell {
        min-height: $cell-height;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: $cell-width-normal;
        min-width: $cell-width-normal;
        max-width: $cell-width-normal;

        &--custom {
            min-width: inherit;
            max-width: inherit;
        }

        &--small {
            width: $cell-width-xsmall;
            max-width: $cell-width-xsmall;
            min-width: $cell-width-xsmall;
        }

        &--medium {
            width: $cell-width-medium;
            max-width: $cell-width-medium;
            min-width: $cell-width-medium;
        }

        &--large {
            width: $cell-width-large;
            max-width: $cell-width-large;
            min-width: $cell-width-large;
        }

        &__wrapper {
            white-space: nowrap;
            text-align: center;
            width: 100%;

            // HACK: Target span to force all transcluded content to respect cells.
            // ng-transclude We cannot yet control that conversion or interact with it.
            ng-transclude {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                max-width: 100%;
            }

        }

        &__toggle {
            margin: 0 -1.5rem 0 -0.5rem;
            padding: 0 0.5rem;
            font-size: 2rem;

            &:first-child {
                margin: 0 auto;
            }
        }

        &--hoverable {
            cursor: default;
        }

        &--clickable {
            cursor: pointer;
            &:hover {
                color: $ui-blue;
            }
        }

        &--error {
            border: solid 1px $light-red;
        }

    }

    &-arrow {
        font-size: 2rem;
        color: $grey-3;

        &--right {
            margin-right: -1rem;
        }

        &--left {
            margin-left: -1rem;
        }
    }
}
