.one-popup {
    position: absolute;
    background-color: $white;
    color: $slate;
    border: 1px solid $grey-1;
    border-radius: 2px;
    padding: 0.5rem;
    right: 0;
    width: 20rem;
    z-index: 999;

    .arrow {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -1.1rem !important;
        right: 0.2rem !important;
    }

    &:after {
        content: '';
        background-image: linear-gradient(rgba(255, 255, 255, 0) 20%, $white 60%);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3rem;
        pointer-events: none;
    }

    &__close {
        background: 0;
        border: 0;
        position: absolute;
        top: 0.4rem;
        right: 0.6rem;
    }

    .popover-content {
        padding: 0 1rem;
    }

    &__body {
        min-height: 7.5rem;
        max-height: 30rem;
    }

    &__item {
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.5rem 0;

        &--head {
            padding: 0.5rem 0;
            font-size: 1.3rem;
        }

        &--separated {
            padding: 1rem 0;
            border-bottom: solid 1px $grey-3;
        }

        &--last {
            border-bottom: none;
        }
    }

    &__checkbox {
        @include checkbox;
        height: 2rem;
        width: 2rem;
        flex: 0 0 2rem;
        margin-right: 0.6rem;

        i {
            font-size: 1rem;
            display: block;
            color: $white;
        }
    }

    &-table {
        width: 21rem;

        .popover-content {
            padding: 0;
        }

        .one-table {
            box-shadow: none;
        }
    }

    &-card {
        min-width: 65rem;
        max-width: 65rem;
        width: 65rem;
        min-height: 20rem;

        .popover-content {
            max-height: 25rem;
            overflow-y: auto;
            padding: 0 1rem 1rem;
        }

        &__loading {
            height: 19rem;
        }

        .arrow {
            left: 7.8rem !important;
        }

        &__title {
            font-size: 1.4rem;
            padding: 0.5rem 0;
        }

        &__list {
            margin: 0.5rem 0 0.5rem 1rem;
        }

        &__item {
            flex: 0 0 29rem;
            font-size: 1.3rem;

            &--width-full {
                flex: 0 0 100%;
            }

            &--padding-min {
                padding: 0.2rem 0;
            }

        }

    }

    &-toggle {
        border-radius: 0;
        width: 30rem;

        &:after {
            background-image: none;
        }

        .popover-content {
            padding: 0;
        }
        
        .arrow {
            display: none;
        }
    }
}
