.pill-list {

    &__item {
        display: inline-block;
        background-color: $ui-blue;
        border-color: $ui-blue;
        color: $white;
        padding: 1rem 4.6rem 1rem 2rem;
        margin: 0 1rem 1rem 0;
        border-radius: 2px;
        position: relative;
        min-width: 5rem;

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $white;
            background-color: lighten($ui-blue, 25%);
            border-color: lighten($ui-blue, 25%);
            pointer-events: none;
            opacity: 1;

            i {
                color: $white;
                background-color: lighten($ui-blue, 25%);
                border-color: lighten($ui-blue, 25%);
            }
        }
    }

    &__remove {
        display: block;
        position: absolute;
        border: 0;
        background-color: darken($ui-blue, 10%);
        padding: 0 1rem;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 0 2px 2px 0;
        outline: none;

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $white;
            background-color: lighten($ui-blue, 25%);
            border-color: lighten($ui-blue, 25%);
            pointer-events: none;
            opacity: 1;

            i {
                color: $white;
                background-color: lighten($ui-blue, 25%);
                border-color: lighten($ui-blue, 25%);
            }
        }
    }

    &__name {
        margin: 0;
    }

    &__description {
        margin-top: 1rem;
    }

}
