<div class="not-found-clouds flex-full-height column-horizontal-vertical-center">
    <div id="clouds">
        <div class="not-found-clouds__cloud not-found-clouds__x1"></div>
        <div class="not-found-clouds__cloud not-found-clouds__x1_5"></div>
        <div class="not-found-clouds__cloud not-found-clouds__x2"></div>
        <div class="not-found-clouds__cloud not-found-clouds__x3"></div>
        <div class="not-found-clouds__cloud not-found-clouds__x4"></div>
        <div class="not-found-clouds__cloud not-found-clouds__x5"></div>
    </div>
    <div class="not-found-clouds__content slds-p-bottom--x-large">
        <div class="not-found-clouds__404">404</div>
        <hr class="not-found-clouds__hr" />
        <div class="not-found-clouds__text not-found-clouds__text--title">
            {{ 'PageNotFound' | translate }}
        </div>
        <div class="not-found-clouds__text not-found-clouds__text--subtitle">
            {{ 'SorryCantFindPage' | translate }}
        </div>
        <a class="not-found-clouds__btn"
            ot-auto-id="NotFoundPageReturnBtn"
            routerLink="/landing"
            >
            {{ 'BackToApplication' | translate }}
        </a>
    </div>
</div>
