.not-found-clouds {
    background: $disabled-blue;
    color: $white;

    &__content {
        text-align: center;
        display: block;
        position: relative;
        margin-bottom: 15%;
        text-transform: uppercase;
    }

    &__404 {
        font-size: 22rem;
        line-height: 22rem;
        position: relative;
        display: inline-block;
        z-index: 2;
        letter-spacing: 1.5rem;
    }

    &__hr {
        padding: 0;
        border: none;
        border-top: 5px solid $white;
        color: $white;
        text-align: center;
        margin: 0 auto;
        width: 42rem;
        height: 1rem;
        z-index: 2;
    }

    &__text {
        text-align: center;
        display: block;
        position: relative;
        margin: 1rem;

        &--title {
            letter-spacing: 1.2rem;
            font-size: 4em;
            line-height: 80%;
        }

        &--subtitle {
            font-size: 2rem;
        }
    }

    &__btn {
        background-color: rgb(255, 255, 255);
        position: relative;
        display: inline-block;
        width: 358px;
        padding: 5px;
        z-index: 5;
        font-size: 25px;
        margin: 0 auto;
        color: $disabled-blue;
        text-decoration: none;
    }

    &__right {
        float: right;
        width: 60%;
    }

    &__cloud {
        width: 35rem;
        height: 12rem;

        background: $white;
        background: linear-gradient(to bottom, $white, 100%);

        border-radius: 10rem;

        position: absolute;
        margin: 12rem auto 2rem;
        z-index: 10;
        transition: ease 1s;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background: $white;
            z-index: -1
        }

        &:after {
            width: 10rem;
            height: 10rem;
            top: -5rem;
            left: 5rem;
            border-radius: 10rem;
        }

        &:before {
            width: 18rem;
            height: 18rem;
            top: -9rem;
            right: 5rem;
            border-radius: 20rem;
        }

    }

    &__x1 {
        top: -5rem;
        left: 10rem;
        transform: scale(0.3);
        opacity: 0.9;
        animation: moveclouds 15s linear infinite;
    }

    &__x1_5 {
        top: -8rem;
        left: 25rem;
        transform: scale(0.3);
        animation: moveclouds 17s linear infinite;
    }

    &__x2 {
        left: 25rem;
        top: 3rem;
        transform: scale(0.6);
        opacity: 0.6;
        animation: moveclouds 25s linear infinite;
    }

    &__x3 {
        left: 25rem;
        bottom: -7rem;

        transform: scale(0.6);
        opacity: 0.8;

        animation: moveclouds 25s linear infinite;
    }

    &__x4 {
        left: 47rem;
        bottom: 2rem;

        transform: scale(0.75);
        opacity: 0.75;

        animation: moveclouds 18s linear infinite;
    }

    &__x5 {
        left: 20rem;
        top: 30rem;

        transform: scale(0.5);
        opacity: 0.8;

        animation: moveclouds 20s linear infinite;
    }

    @keyframes moveclouds {
        0% {
            margin-left: 100rem;
        }

        100% {
            margin-left: -100rem;
        }
    }
}
