<ot-drawer
    class="height-100 row-nowrap"
    [ngClass]="{ 'width-75': showSubPane, 'width-35-rem': !showSubPane }"
    [open]="true"
>
    <div *ngIf="isLoading" class="width-35-rem">
        <ot-loading otPageLoading
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
    </div>

    <ng-container *ngIf="!isLoading">

        <aa-comments-drawer
            class="flex-full-height width-40-rem background-white"
            *ngIf="showSubPane"
            [currentComment]="selectedComment"
            (hide)="hide.emit($event)">
        </aa-comments-drawer>

        <div class="width-35-rem border-left background-grey column-nowrap">
            <div class="padding-all-1 border-bottom">
                <ng-container *ngIf="!showSubPane && commentsList.length">
                    <div
                        class="row-vertical-center cursor-pointer padding-bottom-1"
                        ot-auto-id="AACommentsDrawerShoweButton"
                        (click)="showPane()"
                        >
                        <i class="ot ot-arrow-circle-o-left text-medium"></i>
                        <span class="margin-left-half text-small">{{"Show" | otTranslate}}</span>
                    </div>
                </ng-container>
                <div>
                    <i
                        class="ot ot-close text-medium cursor-pointer pull-right"
                        ot-auto-id="AACommentsDrawerCloseButton"
                        (click)="hide.emit($event)">
                    </i>
                </div>
                <div class="text-bold margin-top-bottom-2">
                    {{"Comments" | otTranslate}}
                </div>
            </div>
            <div #questionList
                *ngIf="commentsList.length && !isLoading"
                class="overflow-y-auto ms-overflow-scroll height-100"
                >
                <div
                    *ngFor="let question of questionsList; let i = index"
                    class="cursor-pointer border-bottom padding-all-1"
                    [ngClass]="{'background-active' : selectedComment && selectedComment.questionId === question.questionId}"
                    [attr.ot-auto-id]="'AACommentsCollaborationPaneComment'"
                    (click)="onCommentSelected(question)"
                    >
                    <div class="row-space-between margin-bottom-half">
                        <div class="text-bold">
                            {{getQuestionSequence(question.questionId)}}
                        </div>
                        <div class="text-small">
                            {{question.createdDate | otDate :"datetime"}}
                        </div>
                    </div>
                    <div class="margin-bottom-half">
                        <span class="text-bold">{{question.createdBy}}</span>
                    </div>
                    <div
                        class="assessment-collaboration-description word-wrap overflow-ellipsis text-small height-4"
                        [innerHTML]="question.comment"
                        >
                    </div>
                </div>
                <div
                    *ngIf="isLoadingMore"
                    class="assessment-collaboration__show-more-loading full-width"
                    >
                    <ot-loading>
                        {{"Loading" | otTranslate}}
                    </ot-loading>
                </div>
                <div
                    *ngIf="loadMore && !isLoadingMore"
                    class="blue-anchor-style padding-all-1 pull-right"
                    ot-auto-id="AACollaborationPaneCommentShowMore"
                    (click)="loadMoreComments()"
                    >
                    {{"ShowMore" | otTranslate}}
                </div>
            </div>
            <ot-empty-state
                *ngIf="!commentsList.length"
                class="full-size"
                [emptyStateMessage]="'NoResultsFound' | otTranslate"
                >
                <img emptyStateImg />
            </ot-empty-state>
        </div>
    </ng-container>
</ot-drawer>
