<ot-drawer
    class="width-50-percent flex-full-height background-white padding-all-2"
    [open]="true"
    >
    <div class="border-bottom row-space-between align-center padding-bottom-2">
        <span class="text-large">{{ "StartAssessment" | translate }}</span>
        <i
            class="ot ot-times"
            (click)="toggleDrawer.emit()"
        ></i>
    </div>
    <div class="height-100 margin-all-4 text-small">
        <div>
            <p class="text-bold">{{ "Template" | translate }}</p>
            <p>{{ currentTemplate?.name }}</p>
        </div>
        <div otFormElement
            class="margin-top-3"
            [label]="'AssessmentName' | translate"
            [required]="true">
            <input otInput
                [placeholder]="'AssessmentName' | translate"
                [ngModel]="assessmentName"
                (ngModelChange)="setAssessmentName($event)"
            />
        </div>
    </div>
    <footer class="row-space-between">
        <button otButton neutral
            (click)="toggleTemplateChosen.emit()"
            >
            {{ 'Back' | translate }}
        </button>
        <div>
            <button otButton
                (click)="toggleDrawer.emit()"
                >
                {{ 'Cancel' | translate }}
            </button>
            <button otButton brand
                [disabled]="!assessmentName"
                (click)="startAssessment.emit(assessmentName)"
                >
                {{ 'Start' | translate }}
            </button>
        </div>
    </footer>
</ot-drawer>
