.actions-table {

    &__icon-list {
        background: linear-gradient(90deg, transparent, $paper-gray 25%);
        top: 1px;
        height: 3.9rem;

        .background-active:hover & {
            background: linear-gradient(90deg, transparent, darken($active-blue, 5%) 25%);
        }

        .background-grey:hover & {
            background: linear-gradient(90deg, transparent, darken($paper-gray, 5%) 25%);
        }

    }

    &__risk {
        padding: 0.4rem 0.6rem;
        margin: -0.2rem auto;
        width: 2.8rem;
    }

    &__context {

        &-btn {
            border-radius: 50%;
            padding: 0.2rem 0.5rem;
        }

        &-list {
            margin: 0.2rem 0;

            &--above {
                bottom: 2.4rem;
            }
        }

        &-spacer {
            height: 3.5rem;
        }

    }
}
