<div class="column-wrap banner-tabs">
    <div class="no-outline column-nowrap">
        <ng-container *ngFor="let accordion of accordions">
            <div
                class="row-space-between text-large text-bold border-bottom padding-all-1 cursor-pointer"
                [attr.ot-auto-id]="accordion.identifier"
                (click)="onAccordionToggle(accordion)"
            >
                <p class="text-thin padding-left-1 text-bold"
                    [innerHTML]="accordion.name">
                </p>
                <i class="padding-right-1 color-grey-20 ot"
                    [ngClass]="{'ot-plus-circle': !accordion.isExpanded, 'ot-minus-circle': accordion.isExpanded}"
                ></i>
            </div>
            <div
                *ngIf="accordion.isExpanded"
                class="background-white"
            >
                <banner-layout-tab
                    *ngIf="accordion.id === bannerAccordions.Layout"
                    [layoutOptions]="bannerLayoutOptions"
                    [templateJson]="templateJson"
                    (layoutSelectionCallback)="layoutSelectionCallback.emit($event)"
                ></banner-layout-tab>
                <banner-colors-tab
                    *ngIf="accordion.id === bannerAccordions.Colors"
                    [templateJson]="templateJson"
                    (validColorSelectionCallback)="validColorSelectionCallback.emit($event)"
                ></banner-colors-tab>
                <banner-content-tab
                    *ngIf="accordion.id === bannerAccordions.Content"
                    [isCenterLayout]="isCenterLayout"
                    [templateJson]="templateJson"
                    (bannerContentFormCallback)="bannerContentFormCallback.emit($event)"
                ></banner-content-tab>
                <banner-behavior-tab
                    *ngIf="accordion.id === bannerAccordions.Behavior"
                    [isCenterLayout]="isCenterLayout"
                    [templateJson]="templateJson"
                    [isCookiesBannerPage]="isCookiesBannerPage"
                ></banner-behavior-tab>
            </div>
        </ng-container>
    </div>
</div>
