.welcome {
    &__detail {
        &-header {
            margin: -1px;

            background: #323f4e;
            color: white;

            &-text {
                max-width: 65rem;
                line-height: 1.5;
            }

            [otButton],
            [otButton]:hover:not([disabled]),
            [otButton]:focus:not([disabled]),
            [otButton]:active:not([disabled]) {
                color: white;
            }
        }

        &-content {
            max-width: 80rem;

            .one-video {
                width: 80rem;
                height: 45rem;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    }

    &__page-content {
        max-width: 90rem;
        align-content: flex-start;
    }

    &__card {
        height: 20rem;
        width: 20rem;
        transition: 0.1s;

        &:hover {
            transform: translateY(-.2rem);
            box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0), 0 .7rem 1.4rem 0 rgba(50, 50, 93, 0.15);
        }

        &__title {
            line-height: 1.6rem;
        }

        img {
            width: 50%;
            margin-bottom: .8rem;
        }

        .upgrade__icon {
            font-size: 2.6rem;
        }
    }
}

@supports (background-size: cover) {
    .welcome__detail-header {
        background: url(../images/welcome-detail/welcome-detail-background.svg) no-repeat center;
        background-size: cover;
    }
}
