<div
    class="typeahead__popup custom-popup-wrapper"
    data-ng-style="{
        top: position().top + 'px', left: position().left +'px',
        width: position().width +'px',
        zIndex: ($parent.$ctrl.isParentModal ? 10000 : ($parent.$ctrl.scrollParent ? 1 : null)),
    }"
    data-ng-mouseenter="$parent.$ctrl.mouseHovering(true)"
    data-ng-mouseleave="$parent.$ctrl.mouseHovering(false)"
    data-ng-show="isOpen() && !moveInProgress"
    aria-hidden="{{!isOpen()}}">
    <ul
        id="{{$parent.$ctrl.uniqueId}}"
        class="typeahead__list"
        role="listbox"
        ng-style="$parent.$ctrl.useVirtualScroll && {'overflow':'hidden'}">
        <div data-ng-if="!$parent.$parent.$ctrl.useVirtualScroll">
            <li
                class="typeahead__item uib-typeahead-match"
                data-ng-repeat="match in matches track by $index"
                data-ng-class="{ active: isActive($index) }"
                data-ng-mouseenter="selectActive($index)"
                data-ng-click="selectMatch($index)"
                role="option"
                id="{{::match.id}}"
                uib-tooltip="{{match.model.Hint}}"
                tooltip-class="typeahead__tooltip--offset-left"
                tooltip-placement="top-left"
                tooltip-append-to-body="false"
                tooltip-animation="false"
                tooltip-enable="match.model.tooltipHintEnabled">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </div>
        <md-virtual-repeat-container
            md-auto-shrink="true"
            data-ng-if="$parent.$parent.$ctrl.useVirtualScroll"
            md-top-index="$parent.$parent.$ctrl.topIndex"
            style="height: 18.5rem"
            md-on-demand
            id="vs-{{$parent.$parent.$ctrl.uniqueId}}"
            >
            <li
                class="typeahead__item uib-typeahead-match"
                md-virtual-repeat="match in matches"
                data-ng-class="{active: isActive($index)}"
                data-ng-mouseenter="selectActive($index)"
                data-ng-click="selectMatch($index)"
                role="option"
                id="{{::match.id}}"
                uib-tooltip="{{match.model.Hint}}"
                tooltip-class="typeahead__tooltip--offset-left"
                tooltip-placement="top-left"
                tooltip-append-to-body="false"
                tooltip-animation="false"
                tooltip-enable="match.model.tooltipHintEnabled"
                flex>
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </md-virtual-repeat-container>
    </ul>
</div>
