.risk-level-round-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    &--shadow-enabled {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    }

    &--hover-enabled {
        &:hover {
            transform: scale(1.25);
            transition-duration: 0.05s;
        }
    }
}

.risk-level-dropdown {
    min-width: 16.8rem;
    padding: 0.6rem 0.8rem 1rem;
	border-radius: 3px;
	background-color: $paper-gray;
    border: solid 1px $grey-3;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
