.modal.info-modal
    script(type='text/ng-template', id='category_details_modal.html')
        .modal-header
            h3.modal-title.align-left {{ PopupHeader }}
            h3.modal-title.align-right
            button.info-modal__close-btn.padding-all-0(ng-click="cancel()")
                i.ot.ot-times
        .modal-body.info-modal__body.row-flex-start
            .info-modal__container.row-flex-start.padding-all-2.full-width
                loading(ng-if='loading', loading-class="info-modal__loading", show-text="false")
                // Contents
                section.info-template.text-left(ng-bind-html="PopupContent")
