.modal
    script(type='text/ng-template', id='reauditWebsiteModal.html')

        section.add-template
            .modal-header
              h3.modal-title.align-left {{::$root.t("ReAudit")}} {{addWebsiteModel.Domain}}
              h3.modal-title.align-right(ng-click='done()')
                i.ot.ot-times
            .modal-body.add-website-dialog
                form.form-horizontal(name='addForm')
                    .form-group
                        .col-sm-7
                            label.cc-toggle
                                input#togglePageLimit.cc-toggle__input(type='checkbox', name='togglePageLimit', ng-model='addWebsiteModel.TogglePageLimit', ng-disabled='addWebsiteModel.DebounceSubmit')
                                span.cc-toggle__slider.cc-toggle__slider--round
                            label
                                span {{::$root.t("LimitScanTo")}}
                                input#limitPages.form-control.add-website-dialog__page-limit(
                                    type='text',
                                    name='limitPages',
                                    ng-model='addWebsiteModel.PageLimit',
                                    placeholder='1000',
                                    ng-pattern="/^[0-9]{1,4}$/",
                                    ng-disabled="!addWebsiteModel.TogglePageLimit || addWebsiteModel.DebounceSubmit",
                                    ng-keypress="doSubmitIfEnterKey($event, true)",
                                    select-on-click)
                                span {{::$root.t("Pages")}}
                        .col-sm-5
                            i.add-website-dialog__tooltip-icon.fa.fa-info-circle(
                            uib-tooltip-html='LimitScanToolTip',
                            tooltip-placement='top-right',
                            tooltip-append-to-body='true',
                            tooltip-trigger='mouseenter',
                            tooltip-class='website-scan')
                    .form-group
                        .col-sm-7
                            label.cc-toggle
                                input#clearPreviousHistory.cc-toggle__input(type='checkbox', name='clearPreviousHistory', ng-model='addWebsiteModel.ClearPreviousHistory', ng-disabled='addWebsiteModel.DebounceSubmit')
                                span.cc-toggle__slider.cc-toggle__slider--round
                            label {{::$root.t("ClearPreviousScanHistory")}}
                        .col-sm-5
                            i.add-website-dialog__tooltip-icon.fa.fa-info-circle(
                            uib-tooltip-html='ClearPreviousScanToolTip',
                            tooltip-placement='top-right',
                            tooltip-append-to-body='true',
                            tooltip-trigger='mouseenter',
                            tooltip-class='website-scan')
                    .form-group(ng-if='::ShowCookieAuditQueryString')
                        .col-sm-7
                            label {{::$root.t("IncludedQueryParams")}}
                        .col-sm-5
                            i.add-website-dialog__tooltip-icon.fa.fa-info-circle(
                            uib-tooltip-html='IncludedQueryParamsToolTip',
                            tooltip-placement='top-right',
                            tooltip-append-to-body='true',
                            tooltip-trigger='mouseenter',
                            tooltip-class='website-scan')
                        .col-sm-7
                            input#queryParams.form-control.add-website-dialog__advanced-settings-query(
                                type='text',
                                name='includedQueryParams',
                                ng-model='addWebsiteModel.IncludedQueryParams',
                                placeholder='',
                                ng-keypress='doSubmitIfEnterKey($event)'
                                select-on-click)
                    .form-group(ng-if='::ShowCookieAuditStartPages')
                        .col-sm-7
                            label {{::$root.t("SecondaryUris")}}
                        .col-sm-5
                            i.add-website-dialog__tooltip-icon.fa.fa-info-circle(
                            uib-tooltip-html='SecondaryUrisToolTip',
                            tooltip-placement='top-right',
                            tooltip-append-to-body='true',
                            tooltip-trigger='mouseenter',
                            tooltip-class='website-scan')
                        .col-sm-12
                            textarea#secondaryUris.form-control.add-website-dialog__advanced-settings-uris(
                                type='text',
                                name='secondaryUris',
                                ng-model='addWebsiteModel.SecondaryUris',
                                placeholder='',
                                select-on-click)
                    .form-group(ng-if='::canShowSiteMapUris')
                            .col-sm-7
                                label {{::$root.t("SitemapsUris")}}
                            .col-sm-5
                                i.add-website-dialog__tooltip-icon.fa.fa-info-circle(
                                uib-tooltip-html='SiteMapUrisToolTip',
                                tooltip-placement='top-right',
                                tooltip-append-to-body='true',
                                tooltip-trigger='mouseenter',
                                tooltip-class='website-scan')
                            .col-sm-12
                                textarea#secondaryUris.form-control.add-website-dialog__advanced-settings-uris(
                                    type='text',
                                    name='sitemapUris',
                                    ng-model='addWebsiteModel.SitemapUris',
                                    placeholder='',
                                    select-on-click)         
                .modal-footer
                    button.add-website-dialog__button--submit.one-button.one-button--primary(ng-disabled='addForm.$invalid || addWebsiteModel.DebounceSubmit', ng-click='submitWebsite(true)', autofocus='true')
                        span(ng-if="!addWebsiteModel.DebounceSubmit") {{::$root.t("StartAudit")}}
                        loading(ng-if="addWebsiteModel.DebounceSubmit", show-text='false')

