<one-modal-base
    [modalTitle]="'RelateInventoryTitle' | otTranslate"
    [identifier]="'TemplateConfigureRelationshipModal'"
    (close)="closeModal()">
    <ot-loading otPageLoading
        *ngIf="!isModalDataReady"
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    >
    </ot-loading>
    <div
        *ngIf="isModalDataReady"
        class="column-horizontal-vertical-center padding-all-2">
        <p class="margin-top-bottom-2 text-color-default width-100-percent">{{"RelateInventorySummary" | otTranslate}}</p>
        <div otFormElement
            class="width-100-percent margin-bottom-2 border-none"
            [label]="'RelatedQuestion' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                ot-auto-id="TemplateConfigureRelationshipModalPicklist"
                name="RelatedQuestion"
                [autoClose]="true"
                [disabled]="isModalDisabled"
                [labelKey]="'content'"
                [model]="selectedQuestion"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                [options]="inventoryQuestions"
                [placeholder]="'RelatedInventoryQuestion' | otTranslate"
                [valueKey]="'id'"
                (onSelect)="onQuestionSelect($event)"
                >
            </ot-picklist>
        </div>
        <div otFormElement
            *ngIf="isRelationshipTypesFetched && relationshipTypeOptions.length"
            class="width-100-percent margin-bottom-2 border-none"
            [label]="'HowDoTheyRelate' | otTranslate"
            [required]="true"
            >
            <div *ngFor="let relationshipTypeOption of relationshipTypeOptions; trackBy: trackByFn" class="margin-top-half">
                <ot-checkbox
                    class="inline-block"
                    ot-auto-id="TemplateConfigureRelationshipModalRelationshipTypeCheckbox"
                    [disabled]="isModalDisabled"
                    [checked]="relationshipTypeOption.selected"
                    (toggle)="onCheckboxToggle(relationshipTypeOption, $event)"
                ></ot-checkbox>
                <span>{{relationshipTypeOption.nameKey | otTranslate}}</span>
                <i
                    class="ot ot-info-circle padding-left-1 height-100"
                    tooltip-trigger="mouseenter"
                    [deprecatedOtTooltip]="relationshipTypeOption.descriptionKey | otTranslate"
                    [position]="'right'"
                    >
                </i>
            </div>
        </div>
    </div>
    <div class="overflow-y-auto padding-all-2 flex-full-height">
        <footer class="position-absolute bottom-2 right-2 row-flex-end padding-top-1">
            <div>
                <button otButton neutral
                    class="margin-right-1 border-none"
                    ot-auto-id="TemplateConfigureRelationshipModalCancelButton"
                    [disabled]="isSaving"
                    (click)="closeModal()"
                >{{"Cancel" | otTranslate}}</button>
            </div>
            <div>
                <button otButton neutral
                    *ngIf="hasExistingRelationship"
                    class="margin-right-1"
                    ot-auto-id="TemplateConfigureRelationshipModalRemoveButton"
                    [disabled]="isSaving || isModalDisabled || !isModalDataReady"
                    (click)="updateRelationship(true)"
                >{{"Remove" | otTranslate}}</button>
            </div>
            <div>
                <button otButton brand
                    ot-auto-id="TemplateConfigureRelationshipModalSaveButton"
                    [disabled]="isSaving || !canSave() || isModalDisabled || !isModalDataReady"
                    (click)="updateRelationship()"
                >{{"Save" | otTranslate}}</button>
            </div>
        </footer>
    </div>
</one-modal-base>
