<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ScheduleScan' | otTranslate"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="ScheduleAuditForm"
    >
        <div>
            <div otFormElement
                [label]="scanScheduleIntervalCaption"
                [required]="true"
                [hasError]="!ScheduleAuditForm.get('periodInMonths').valid && ScheduleAuditForm.get('periodInMonths').dirty"
            >
                <input
                    otInput
                    class="audit-schedule-days-input"
                    name="periodInMonths"
                    type="number"
                    min="1"
                    max="12"
                    ot-auto-id="AuditSchedulePeriodInMonths"
                    [formControlName]="'periodInMonths'"
                    [ngModel]="scheduleData.periodInMonths"
                    (ngModelChange)="validateForSubmit()"
                />
                <span [innerText]="'Months' | otTranslate"></span>
            </div>
            <div otFormElement
                class="margin-top-2"
                [label]="'NextScan' | otTranslate"
            >
                <div>
                    <ot-datepicker
                        [dateModel]="nextAuditString"
                        [placeholder]="'NextScan' | otTranslate"
                        [format]="format"
                        [disableUntil]="disabledUntil"
                        (onChange)="changeAuditDate($event)"
                    ></ot-datepicker>
                </div>
            </div>
            <div otFormElement class="margin-top-2">
                <button
                    otButton
                    neutral
                    ot-auto-id="AuditScheduleCancelButton"
                    [disabled]="isNewSchedule"
                    [loading]="cancelInProgress"
                    [innerText]="'CancelScan' | otTranslate"
                    (click)="cancelSchedule()"
                >
                </button>
            </div>
            <div otFormElement
                class="margin-top-2"
                [label]="'NotifyWhenDone' | otTranslate"
                [required]="true"
            >
                <button
                    otButton
                    brand
                    *ngIf="isAssignedToMe"
                    class="margin-right-half"
                    ot-auto-id="AuditScheduleMeButtonBrand"
                    [innerText]="'Me' | otTranslate"
                    >
                </button>
                <button
                    otButton
                    neutral
                    *ngIf="!isAssignedToMe"
                    class="margin-right-half"
                    ot-auto-id="AuditScheduleMeButtonNeutral"
                    [innerText]="'Me' | otTranslate"
                    (click)="assignToMe()"
                    >
                </button>
                <button
                    otButton
                    brand
                    *ngIf="!isAssignedToMe"
                    class="margin-right-half"
                    ot-auto-id="AuditScheduleSomeoneElseButtonBrand"
                    [innerText]="'SomeoneElse' | otTranslate"
                    >
                </button>
                <button
                    otButton
                    neutral
                    *ngIf="isAssignedToMe"
                    class="margin-right-half"
                    ot-auto-id="AuditScheduleSomeoneElseButton"
                    [innerText]="'SomeoneElse' | otTranslate"
                    (click)="assignToSomeone()"
                    >
                </button>
            </div>
            <div otFormElement
                class="margin-top-2"
                [label]=""
                [required]="true"
            >
                <ot-lookup
                    ot-auto-id="AuditScheduleEmailRecipients"
                    [clearInputOnModelChange]="true"
                    [options]="userSelectionListFiltered ? userSelectionListFiltered : userSelectionList"
                    [model]="scheduleData.emailRecipients"
                    [labelKey]="'FullName'"
                    [valueKey]="'Email'"
                    [multiSelect]="false"
                    [autoClose]="true"
                    [disabled]="isAssignedToMe || saveInProgress"
                    (modelChange)="onModelChange($event)"
                    (inputChange)="onInputChange($event)"
                ></ot-lookup>
            </div>
        </div>
        <footer otPageFooter>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="AuditScheduleSetButton"
                [disabled]="!canSubmit"
                [loading]="saveInProgress"
                [innerText]="isNewSchedule ? ('Set' | otTranslate): ('Save' | otTranslate)"
                (click)="setSchedule()"
            ></button>
        </footer>
    </form>
</one-modal-base>
