<div class="overflow-auto">
    <table
        otDataTable
        class="table-widget__table"
        [rowData]="rows"
        [rowBordered]="true"
        [responsiveTable]="true"
    >
        <ng-container *ngFor="let col of columns; let columnIndex = index;">
            <ot-data-table-column
                [headerLabel]="col.columnNameKey ? (col.columnNameKey | translate) : col.columnName"
                [column]="col"
            >
                <ng-template
                    otDataTableCell
                    let-row="row"
                    >
                    <ng-container [ngSwitch]="col.dataType">
                        <a
                            *ngSwitchCase="filterColumnTypes.Link"
                            class="slds-truncate block text-bold text-link text-decoration-none"
                            [attr.title]="row.cells[columnIndex].valueKey ? (row.cells[columnIndex].valueKey | translate) : (row.cells[columnIndex].value || '')"
                            [attr.href]="row.cells[columnIndex].hyperLink"
                            >
                            {{ row.cells[columnIndex].valueKey ? (row.cells[columnIndex].valueKey | translate) : (row.cells[columnIndex].value || '') }}
                        </a>
                        <ng-container *ngSwitchCase="filterColumnTypes.Date">
                            <span
                                *ngIf="row.cells[columnIndex].preformatted; else unformattedDate"
                                class="slds-truncate block"
                                [attr.title]="row.cells[columnIndex].value"
                                >
                                {{ row.cells[columnIndex].value }}
                            </span>
                            <ng-template #unformattedDate>
                                <span
                                    class="slds-truncate block"
                                    [attr.title]="row.cells[columnIndex].value | aaDate: 'datePicker'"
                                    >
                                    {{ row.cells[columnIndex].value | aaDate: 'datePicker' }}
                                </span>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="filterColumnTypes.DateTime">
                            <span
                                *ngIf="row.cells[columnIndex].preformatted; else unformattedDateTime"
                                class="slds-truncate block"
                                [attr.title]="row.cells[columnIndex].value"
                                >
                                {{ row.cells[columnIndex].value }}
                            </span>
                            <ng-template #unformattedDateTime>
                                <span
                                    class="slds-truncate block"
                                    [attr.title]="row.cells[columnIndex].value | aaDate:'dateTime'"
                                    >
                                    {{ row.cells[columnIndex].value | aaDate: 'dateTime' }}
                                </span>
                            </ng-template>
                        </ng-container>
                        <span
                            *ngSwitchCase="filterColumnTypes.User"
                            class="slds-truncate block"
                            [attr.title]="row.cells[columnIndex].value | otUser"
                            >
                            {{ row.cells[columnIndex].value | otUser }}
                        </span>
                        <span
                            *ngSwitchDefault
                            class="slds-truncate block"
                            [attr.title]="row.cells[columnIndex].valueKey ? (row.cells[columnIndex].valueKey | translate) : (row.cells[columnIndex].value || '')"
                            >
                            {{ row.cells[columnIndex].valueKey ? (row.cells[columnIndex].valueKey | translate) : (row.cells[columnIndex].value || '') }}
                        </span>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
    </table>
</div>
