.question-types-selection {
    max-width: 24rem;
    &__item {
        width: 8rem;
        &-icon {
            padding: 0.8rem;
            width: 4rem;
            height: 4rem;
        }
        &-text{
            width: 7rem;
        }
    }
    &__question-selection-list {
        width: 100%;
    }
}
