header.settings-body-header
    | {{::$root.t("RiskSettings")}}
loading(ng-if='!Ready', text='{{::$root.t("RiskSettings")}}')
.settings-body-content
    form.variable-branding.settings-input-section(name='projectForm', ng-if='Ready')

        h3.settings-input-section-name
            | {{::$root.t("RiskTrackingWorkflow") }}

        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("RiskFollowUpAutomationForProjects") }}
                i.settings__section-info.fa.fa-info-circle(uib-tooltip='{{::$root.t("RiskTrackingDescription")}}', tooltip-placement='top')
            button.settings__toggle(ng-class="{'selected': Project.EnableRiskAnalysis}", ng-click='toggleAnalysis(true)') {{::$root.t("Yes") }}
            button.settings__toggle(ng-class="{'selected': !Project.EnableRiskAnalysis}", ng-click='toggleAnalysis(false)') {{::$root.t("No") }}

        h3.settings-input-section-name
            |  {{::$root.t("EnableRiskImpactHeatmap")}}
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("CalculateRiskOnProbabiltiyImpact")}}
                i.settings__section-info.fa.fa-info-circle(uib-tooltip='{{::$root.t("WithoutEnableSettingReviewerFlagRisk")}}', tooltip-placement='top')
            button.settings__toggle(ng-class="{'selected': heatmap.Enabled}", ng-click='heatmap.Enabled = true') {{::$root.t("Yes")}}
            button.settings__toggle(ng-class="{'selected': !heatmap.Enabled}", ng-click='heatmap.Enabled = false') {{::$root.t("No")}}
        h3.settings-input-section-name(ng-if='heatmap.Enabled')
            | {{::$root.t("RiskHeatmap")}}
            .upgrade__icon(ng-if='Permissions.canShow("SettingsProjectsDeadlinesReminderUpgrade")')
        hr(ng-if='heatmap.Enabled')
        .settings__section(ng-if='heatmap.Enabled')
            label.settings__section-title
                | {{::$root.t("CustomizeHeatMapAxes")}}
            .settings__heatmap-axis
                section.settings__heatmap-axis-x
                    h5.settings__heatmap-axis-title(ng-if='!heatmap.GraphSettings.Axes[0].editing')
                        | {{heatmap.GraphSettings.Axes[0].Label}} (x-axis)
                        span.settings__heatmap-axis-title-edit(ng-click='editLabel(0)')
                            | {{::$root.t("Edit")}}
                    .settings__heatmap-axis-title-form(ng-if='heatmap.GraphSettings.Axes[0].editing')
                        input.settings__heatmap-axis-title-input(ng-model='heatmap.GraphSettings.Axes[0].Label')
                        button.settings__heatmap-axis-title-save(ng-click='saveLabel(0)')
                            i.ot.ot-check
                    ul.settings__heatmap-axis-list
                        li.settings__heatmap-axis-item(ng-repeat='item in heatmap.GraphSettings.Axes[0].Points track by $index')
                            label.settings__heatmap-axis-label
                                | {{$index + 1}}
                            input.settings__heatmap-axis-input(ng-model='item.Label')
                            button.settings__heatmap-axis-delete(ng-click='removeFromAxis(0, $index)', ng-if='heatmapConfig.dynamicAxes')
                                i.fa.fa-trash
                        button.settings__heatmap-axis-add(ng-click='addToAxis(0)', ng-if='heatmapConfig.dynamicAxes')
                            i.fa.fa-plus
                            | {{::$root.t("AddNewColumn")}}
                section.settings__heatmap-axis-y
                    h5.settings__heatmap-axis-title(ng-if='!heatmap.GraphSettings.Axes[1].editing')
                        | {{heatmap.GraphSettings.Axes[1].Label}} (y-axis)
                        span.settings__heatmap-axis-title-edit(ng-click='editLabel(1)')
                            | {{::$root.t("Edit")}}
                    .settings__heatmap-axis-title-form(ng-if='heatmap.GraphSettings.Axes[1].editing')
                        input.settings__heatmap-axis-title-input(ng-model='heatmap.GraphSettings.Axes[1].Label')
                        button.settings__heatmap-axis-title-save(ng-click='saveLabel(1)')
                            i.ot.ot-check
                    ul.settings__heatmap-axis-list
                        li.settings__heatmap-axis-item(ng-repeat='item in heatmap.GraphSettings.Axes[1].Points track by $index')
                            label.settings__heatmap-axis-label
                                | {{$index + 1}}
                            input.settings__heatmap-axis-input(ng-model='item.Label')
                            button.settings__heatmap-axis-delete(ng-click='removeFromAxis(1, $index)', ng-if='heatmapConfig.dynamicAxes')
                                i.fa.fa-trash
                        button.settings__heatmap-axis-add(ng-click='addToAxis(1)', ng-if='heatmapConfig.dynamicAxes')
                            i.fa.fa-plus
                            | {{::$root.t("AddNewRow")}}
        .settings__section(ng-if='heatmap.Enabled')
            heatmap(horizontal-axis='heatmap.GraphSettings.Axes[0].Points', vertical-axis='heatmap.GraphSettings.Axes[1].Points', horizontal-label='heatmap.GraphSettings.Axes[0].Label', vertical-label='heatmap.GraphSettings.Axes[1].Label', tiles='heatmap.RiskMap', content-key='{{heatmapConfig.contentKey}}', mode='{{heatmapConfig.mode}}')
    .settings-submit-section
        one-button(
            data-ng-if='heatmap.Enabled',
            identifier='riskSettingsReset',
            button-click='ResetRiskSettings()',
            is-disabled='disableSave',
            text='{{::$root.t("ResetHeatMap")}}'
        )
        one-button(
            type='primary',
            text='{{::$root.t("SaveSettings")}}',
            identifier='riskSettingsSave',
            button-click='SaveRiskSettings()',
            is-disabled='disableSave'
        )
