<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="edit-report-modal overflow-x-hidden padding-bottom-4 flex-full-height">
    <form name="editReportForm">
        <div
            otFormElement
            class="margin-top-1"
            [label]="'Name' | otTranslate"
            [required]="true"
            >
            <input
                otInput
                name="name"
                [placeholder]="'Name' | otTranslate"
                [value]="reportModelCopy.name"
                [ngModel]="reportModelCopy.name"
                (ngModelChange)="handleInputChange($event, true)"
            />
        </div>
        <div
            otFormElement
            *ngIf="!isCopy"
            class="margin-top-1"
            [label]="'Description' | otTranslate"
            >
            <textarea
                otTextarea
                name="description"
                [placeholder]="'Description' | otTranslate"
                [ngModel]="reportModelCopy.description"
                (ngModelChange)="handleInputChange($event, false)"
                >
            </textarea>
        </div>
        <div
            *ngIf="isCopy"
            otFormElement
            class="margin-top-1"
            [label]="'Organization' | otTranslate"
            >
            <org-select
                class="edit-report-modal__org-select"
                [model]="selectedOrgId"
                [hideClearAction]="true"
                (onSelect)="orgSelect($event)"
                >
            </org-select>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="EditReportCloseModalButton"
        [disabled]="isSubmitting"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="EditReportSubmitButton"
        [loading]="isSubmitting"
        [disabled]="!canSubmit || isSubmitting"
        (click)="submitModal()">
        {{ 'Submit' | otTranslate }}
    </button>
</ot-modal-footer>
