<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        type="clear"
        [title]="'RiskSettings' | otTranslate"
        >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="isLoading; else riskSettingsForm"
        class="stretch-vertical"
        >
        {{ 'Loading' | otTranslate }}...
    </ot-loading>
    <ng-template #riskSettingsForm>
        <div class="stretch-vertical overflow-y-auto">
            <form
                class="centered-max-50"
                name="riskSettingsForm"
            >
                <fieldset>
                    <ot-setting
                        [title]="'RiskHeatmap' | otTranslate"
                        [description]="'RiskHeatmapDescription' | otTranslate"
                    >
                        <ot-toggle
                            ot-auto-id="RiskSettingEnableHeatMaptoggle"
                            [checked]="riskSettings?.enableRiskHeatMap"
                            (toggle)="toggleHeatmapSetting()"
                        ></ot-toggle>
                    </ot-setting>
                </fieldset>
                <risk-heatmap
                    *ngIf="riskSettings?.enableRiskHeatMap"
                    class="block padding-top-3"
                    [heatmapForm]="heatmapForm"
                ></risk-heatmap>
            </form>
        </div>
        <footer otPageFooter *ngIf="riskSettings?.enableRiskHeatMap">
            <button otButton neutral
                ot-auto-id="RiskSettingResetButton"
                [innerText]="'Reset' | otTranslate"
                [disabled]="heatmapForm.invalid || saveInProgress || resetInProgress"
                [loading]="resetInProgress"
                (click)="resetRiskSettings()"
            ></button>
            <button otButton brand
                ot-auto-id="RiskSettingSaveButton"
                [innerText]="'Save' | otTranslate"
                [disabled]="heatmapForm.invalid || saveInProgress || resetInProgress"
                [loading]="saveInProgress"
                (click)="saveRiskSettings()"
            ></button>
        </footer>
    </ng-template>
</section>

