.question-activity {
    &__content-container {
        max-height: 36.5rem;
        min-height: 19.5rem;
    }

    &__content {
        h3 {
            margin: 0;
            line-height: inherit;
        }

        button {
            height: 1.5rem;
        }
    }
}
