<ot-modal-header
    [hideClose]="false"
    (close)="closeModal()">
    {{ 'QuestionActivity' | otTranslate }}
</ot-modal-header>
<ot-modal-content>
    <div class="background-grey padding-top-bottom-1 padding-left-3 margin-bottom-2 margin-left-right-2">
        <button otButton neutral
            ot-auto-id="QuestionActivityStreamSortButton"
            [icon]="sortIcon"
            (click)="reverseActivities()"
        ></button>
        <button otButton neutral
            ot-auto-id="'QuestionActivityStreamExpandAllButton'"
            (click)="allItemsExpanded ? collapseAllToggle() : expandAllToggle()"
        >
            {{allItemsExpanded ? ('CollapseAll' | otTranslate) : ('ExpandAll' | otTranslate)}}
        </button>
    </div>
    <div class="question-activity__content-container centered-max-100 background-white stretch-vertical width-100-percent padding-left-right-3 height-40">
        <ot-loading
            *ngIf="isLoading"
            class="column-horizontal-vertical-center height-100 margin-top-3"
        ></ot-loading>
        <one-empty-state
            *ngIf="!formattedActivities?.length && !isLoading"
            class="column-horizontal-vertical-center height-100 margin-top-3"
        ></one-empty-state>
        <div
            *ngIf="formattedActivities?.length && !isLoading"
            class="question-activity__content padding-all-2">
            <ot-activity-timeline>
                <ot-activity-timeline-item
                    *ngFor="let activity of formattedActivities; trackBy: trackByFn"
                    [activity]="activity"
                    [isExpanded]="expandedActivityMap[activity.id]"
                    [icon]="activity.icon"
                    [iconColor]="activity.iconColor"
                    [iconBackgroundColor]="activity.iconBackgroundColor"
                    (toggle)="toggleActivity(activity.id)">
                    <ul
                        *ngFor="let change of activity.changes"
                        class="row-wrap-space-between padding-bottom-1">
                        <li class="flex-full-33">
                            <span class="block text-small text-bold padding-bottom-half">{{ "Old" | otTranslate }} {{ change.fieldName | otTranslate }}</span>
                            <span class="block text-small">{{ change.oldValue || "- - - -" }}</span>
                        </li>
                        <li class="flex-full-33">
                            <span class="block text-small text-bold padding-bottom-half">{{ "New" | otTranslate }} {{ change.fieldName | otTranslate }}</span>
                            <span class="block text-small">{{ change.newValue || "- - - -" }}</span>
                        </li>
                    </ul>
                </ot-activity-timeline-item>
            </ot-activity-timeline>
        </div>
        <div
            *ngIf="hasMoreActivities && !isLoading"
            class="row-horizontal-vertical-center margin-left-right-2 padding-top-bottom-1 border-bottom">
            <button otButton neutral
                ot-auto-id="QuestionActivityStreamViewMoreButton"
                (click)="getMoreQuestionActivities()"
            >
                {{'ViewMore' | otTranslate}}
            </button>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="QuestionActivityStreamCloseButton"
        (click)="closeModal()"
    >
        {{'Close' | otTranslate}}
    </button>
</ot-modal-footer>
