.cookie-publish-script-modal {
    &__removed-code-highlight {
        background-color: $map-accent-pink;
    }
    pre {
        word-wrap: normal;
        background-color: $white;
    }
    .ins {
        background-color: $active-green;
    }
    .del {
        background-color: $map-accent-pink;
        text-decoration: line-through;
    }
    .modal-dialog {
        height: auto;
    }
}
