<one-modal-base
    class="flex-full-height cookie-publish-script-modal"
    [modalTitle]="'Publish'| otTranslate"
    [identifier]="'CookiePublishScriptModalClose'"
    (close)="closeModal()"
>
    <div class="padding-all-2">
        <ng-container *ngIf="scriptData">
            <div
                class="align-center"
                [ngClass]="{'row-space-between-center' : showNotification,
                            'row-flex-end' : !showNotification,
                            'height-auto' : totalChanges <= 0 && !showNotification,
                            'height-5' : totalChanges > 0 || showNotification }"
            >
                <ot-notification
                    *ngIf="showNotification"
                    [allowClose]="true"
                    [icon]="'ot ot-exclamation-circle'"
                    [type]="totalChanges > 0 ? 'warning' : 'default'"
                    (closed)="onCloseNotificationClick()"
                >
                    <span *ngIf="totalChanges > 0">{{'PublishScriptNotification' | otTranslate: {Count:totalChanges} }}</span>
                    <span *ngIf="totalChanges <= 0">{{'NoChangesSinceLastPublished' | otTranslate}}</span>
                </ot-notification>
                <div
                    *ngIf="totalChanges > 0"
                    class="inline-flex min-width-20"
                >
                    <div class="flex">
                        <div class="border border-rounded-ends margin-right-1 background-active-green min-width-5"></div>
                        {{'New' | otTranslate}}
                    </div>
                    <div class="flex margin-left-2">
                        <div class="border border-rounded-ends margin-right-1 text-center min-width-5 cookie-publish-script-modal__removed-code-highlight">&#8213;</div>
                        {{'Old' | otTranslate}}
                    </div>
                </div>
            </div>
            <div class="flex margin-top-2">
                <div class="margin-right-6 width-40-rem">
                    <label>{{'Stylesheet' | otTranslate}}</label>
                    <pre
                        otScriptDiff
                        class="width-100-percent height-25 pre-wrap"
                        [ngClass]="{'overflow-hidden' : cssChangesCount <= 0, 'overflow-y-auto' : cssChangesCount > 0 }"
                        [left]="cssFilesAggregator?.original"
                        [right]="cssFilesAggregator?.revised"
                        (totalCount)="getCssChangesCount($event)"
                    ></pre>
                </div>
                <div class="width-40-rem">
                    <label>{{'JavaScript' | otTranslate}}</label>
                    <pre
                        otScriptDiff
                        class="width-100-percent height-25 pre-wrap"
                        [ngClass]="{'overflow-hidden' : javascriptChangesCount <= 0, 'overflow-y-auto' : javascriptChangesCount > 0 }"
                        [left]="jsFilesAggregator?.original"
                        [right]="jsFilesAggregator?.revised"
                        (totalCount)="getJsChangesCount($event)"
                    ></pre>
                </div>
            </div>
            <!-- script download button -->
            <div class="row-flex-end margin-top-bottom-1">
                <button
                    otButton
                    neutral
                    [innerText]="'Download' | otTranslate"
                    ot-auto-id="CookiePublishScriptDownloadButton"
                    (click)="onScirptDownlodClick()"
                ></button>
            </div>
        </ng-container>
        <div
            otSettingContainer
            class="margin-left-right-2 margin-top-2"
        >
            <!-- Jquery version change options-->
            <ot-setting
                *ngIf="jqueryVersions?.length && !permissions.nojQueryScriptEnabled"
                [title]="'DoYouWantToChangeJQueryVersion' | otTranslate"
                [description]="('DefaultVersion' | otTranslate) + ':' + defaultJuqeryVersion.jqueryVersion"
            >
                <ot-picklist
                    class="min-width-20 block padding-left-2"
                    ot-auto-id="CookiePublishJqueryScriptVersionSelection"
                    [autoClose]="true"
                    [disabled]="!scriptData?.useOneTrustJQuery"
                    [options]="jqueryVersions"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    [valueKey]="'jqueryVersionId'"
                    [labelKey]="'jqueryVersion'"
                    [model]="selectedJqueryVerion"
                    (onSelect)="onJqueryVersionChange($event)"
                ></ot-picklist>
            </ot-setting>
            <!-- Publishing individual languages option-->
            <ot-setting
                [title]="'PublishIndividualLanguages' | otTranslate"
                [description]="'PublishIndividualLanguagesDescription' | otTranslate"
            >
                <ot-toggle
                    ot-auto-id="CookiePublishIndividualLanguagesToggle"
                    [checked]="publishIndividualLanguage"
                    (toggle)="onPublishIndividualLanguageToggle()"
                ></ot-toggle>
                <!-- Languages dropdown -->
                <ot-setting
                    *ngIf="publishIndividualLanguage"
                    [title]="'SelectLanguagesToPublish' | otTranslate"
                >
                    <ot-lookup
                        class="width-29 block"
                        ot-auto-id="CookiePublishScriptLanguageSelection"
                        [placeholder]="'SelectLanguagesToPublish' | otTranslate"
                        [options]="bannerLanguages"
                        valueKey="domainId"
                        labelKey="englishName"
                        [autoClose]="true"
                        [multiSelect]="true"
                        [model]="selectedLanguages"
                        (modelChange)="onLanguageSelection($event)"
                    ></ot-lookup>
                    <p
                        *ngIf="publishIndividualLanguage && !selectedLanguages.length"
                        class="text-error text-small"
                    >
                        {{'SelectLanguagesToPublishWarning' | otTranslate}}
                    </p>
                </ot-setting>
            </ot-setting>
            <!-- Re-consent option selection -->
            <ot-setting
                [title]="'DoYouRequireUsersToReConsent' | otTranslate"
            >
                <ot-checkbox
                    ot-auto-id="CookiePublishRequireConsentToggle"
                    [checked]="requireReConsent"
                    (toggle)="onRequireConsentToggle()"
                ></ot-checkbox>
            </ot-setting>
        </div>
    </div>
    <footer class="row-flex-end static-horizontal margin-top-1 padding-all-2">
        <button
            otButton
            default
            class="margin-right-1"
            ot-auto-id="CookiePublishScriptModalCancelButton"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button
            otButton
            brand
            ot-auto-id="CookiePublishScriptModalsubmitButton"
            [innerText]="'Submit' | otTranslate"
            [disabled]="publishIndividualLanguage && !selectedLanguages.length"
            (click)="onPublish()"
        ></button>
    </footer>
</one-modal-base>
