.one-global-header {
    .ot-global-header__logo {
        max-width: initial;
    }
    &__item {
        padding: 0 1.5rem;
    }
    &__anchor {
        color: inherit;
        &:active,
        &:focus,
        &:hover {
            outline-width: 2px;
            text-decoration: none;
            color: inherit;
        }
    }
    &__buynow {
        margin-top: .8rem;
    }
    &__text {
        font-size: 1.5rem;
    }
    &__org {
        &-select {
            .slds-input.slds-btn-input {
                background: none;
                border: none;
                padding: 0 2rem 0 4.2rem;
                font-size: 1.5rem;
                max-width: 20rem;
                height: 5rem;
                &:disabled {
                    background-color: transparent;
                    cursor: default;
                }
            }
            .slds-listbox {
                max-height: 25rem;
            }
            .slds-dropdown {
                color: $slate;
            }
        }
        .one-global-header__org-select {
            width: 20rem;
            .slds-dropdown {
                position: absolute;
                max-width: 32rem;
                width: 32rem;
                left: 20%;
            }
        }
    }
    &__badge {
        color: $white;
        background-color: $light-red;
        line-height: 1;
        margin-top: -1.2rem;
        margin-left: -0.9rem;
        font-size: 1rem;

        &--single {
            padding: 0.4rem 0.7rem;
        }

        &--double {
            padding: 0.5rem;
        }
    }
    &__upgrade {
        max-width: 16rem;
    }
}
.one-global-header-dropdown__item > a {
    padding: 0.8rem 2rem;
}

// Todo: Refactor to Vitreus
.ot-launcher__link-icon img {
    width: 30px;
    height: 30px;
}
