.one-profile-popover {
    width: 26rem;
    margin-top: -0.5rem;
    &__roles {
        max-height: 20rem;
        .slds-dropdown__item a {
            padding: 0.8rem 0.5rem;
            justify-content: flex-start;
        }
    }
    &__role {
        min-width: 3rem;
    }
    .slds-popover__body {
        padding: 0;
    }
}
