<ot-global-header
    class="one-global-header"
    [backgroundColor]="branding.backgroundColor"
    [fontColor]="branding.textColor"
    [headerTitle]="branding.title"
    [imageUrl]="brandingLogoUrl"
    [showBorders]="showBorders"
    [launcher]="launcher"
    [toggled]="toggled"
    (closed)="closeLauncher()"
    >
    <ng-template
        otGlobalHeaderNavItem
        *ngIf="canShowHome"
        [isActive]="stateService.includes('module', { path: 'welcome' })"
        >
        <a
            class="one-global-header__item one-global-header__anchor full-size row-horizontal-vertical-center"
            ot-auto-id="GlobalHeaderBtnHome"
            [title]="'Home' | translate"
            [routerLink]="['/module/welcome']"
            >
            <span aria-hidden="true" class="text-xlarge ot ot-home2"></span>
            <span class="slds-assistive-text">{{'Home' | translate}}</span>
        </a>
    </ng-template>
    <ng-template
        otGlobalHeaderNavItem
        *ngIf="permissions.canShow('MenuLauncher') &&  permissions.canShow('Menu')"
        [isActive]="launcher"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnLaunch"
            [attr.aria-pressed]="activeItem === 'Launch'"
            [title]="'Launch' | translate"
            (click)="toggleActiveItem('Launcher', true)"
            >
            <span aria-hidden="true" class="text-xlarge fa fa-th"></span>
            <span class="slds-assistive-text">{{'Launch' | translate}}</span>
        </button>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        *ngIf="canShowSearch"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnSearch"
            [title]="'Search' | translate"
            >
            <span class="text-xlarge ot ot-search2"></span>
            <span class="slds-assistive-text">{{'Search' | translate}}</span>
        </button>
    </ng-template>
     <ng-template
        otGlobalHeaderActionItem
        *ngxPermissionsOnly="['BuyNow']"
        [allowHover]="false"
        >
        <button otButton neutral
            class="one-global-header__buynow flex margin-left-right-1 text-medium"
            ot-auto-id="BuyNowHeaderButton"
            (click)="buyNow()"
            >
            <span
                class="slds-truncate one-global-header__upgrade"
                [title]="'BuyNow'|translate">
                {{'BuyNow' | translate}}
            </span>
        </button>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        *ngxPermissionsOnly="['PrimaryFreeUpgrade']"
        [allowHover]="false"
        >
        <button otButton neutral
            class="one-global-header__buynow flex margin-left-right-1 text-medium"
            ot-auto-id="UpgradeHeaderButton"
            (click)="openSkuManagementModal()"
            >
            <span
                class="slds-truncate one-global-header__upgrade"
                [title]="'Upgrade'|translate">
                {{'Upgrade' | translate}}
            </span>
        </button>
    </ng-template>
    <ng-template otGlobalHeaderActionItem>
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnTask"
            [title]="'Tasks' | translate"
            (click)="openTasksModal()"
            >
            <span aria-hidden="true" class="text-xlarge ot ot-bell fa-fw"></span>
            <span
                class="one-global-header__badge color-white text-bold text-center text-nowrap media-middle border-round position-absolute"
                *ngIf="tasksCount"
                [ngClass]="[tasksCount > 9 ? 'one-global-header__badge--double' : 'one-global-header__badge--single']"
            >{{tasksCount}}</span>
            <span class="slds-assistive-text">{{'Tasks' | translate}}</span>
        </button>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        [isActive]="activeItem === 'Organization'"
        >
        <div class="one-global-header__org position-relative" (click)="closeLauncher()">
            <span
                aria-hidden="true"
                class="
                    one-global-header__org-icon
                    row-horizontal-vertical-center
                    height-100
                    position-absolute
                    left-0
                    padding-all-1
                    text-xlarge
                    ot ot-org
                "
            ></span>
            <org-select
                class="one-global-header__org-select full-size row-horizontal-vertical-center"
                [identifier]="'GlobalHeaderBtnOrganization'"
                [describedBy]="'GlobalHeaderBtnOrganization'"
                [rootTree]="true"
                [triggerButton]="true"
                [model]="currentOrgId"
                [disabled]="!canSwitchOrgs"
                [hideClearAction]="true"
                (onSelect)="selectOrganization($event)"
            ></org-select>
        </div>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        *ngIf="canShowSettings || canShowSubscriptionSettings"
        [isActive]="stateService.includes('zen.app.pia.module.settings')"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnSettings"
            [title]="'Settings' | translate"
            [attr.aria-pressed]="stateService.includes('zen.app.pia.module.settings')"
            (click)="settingsNavigate(settingsRoute)"
            >
            <span class="text-xlarge ot ot-settings"></span>
            <span class="slds-assistive-text">{{'UserSettings' | translate}}</span>
            <span
                *ngIf="canSettingsUpgrade"
                class="upgrade__icon position-absolute top-0 right-0 padding-right-1 color-slate"
                >
            </span>
        </button>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        [isActive]="activeItem === 'Profile' || stateService.includes('zen.app.pia.module.preferences')"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnProfile"
            [attr.aria-pressed]="activeItem === 'Profile'"
            [title]="currentUser.FullName"
            [otPopover]="GlobalHeaderUserProfileDropdown"
            [position]="'bottom-right'"
            [delay]="defaultDropdownDelays"
            [modifierClass]="'one-profile-popover text-color-default'"
            [closeOnClick]="true"
            [isOpen]="activeItem === 'Profile'"
            (click)="toggleActiveItem('Profile', true)"
            (toggled)="toggleActiveItem('Profile', $event)"
            >
            <span aria-hidden="true" class="text-xlarge fa fa-user-circle-o"></span>
            <span class="slds-assistive-text">{{ currentUser.FullName }}</span>
        </button>
        <ng-template #GlobalHeaderUserProfileDropdown>
            <div class="margin-top-1 border-top row-nowrap">
                <div class="static-horizontal padding-all-1" >
                    <span class="slds-avatar slds-avatar_circle slds-avatar_large text-bold">
                        <abbr
                            class="slds-avatar__initials slds-icon-standard-user"
                            [title]="currentUser.FullName"
                            [style.backgroundColor]="branding.backgroundColor"
                            [style.color]="branding.textColor"
                        >{{getUserInitials(currentUser.FullName)}}</abbr>
                    </span>
                </div>
                <div class="stretch-horizontal padding-all-1">
                    <p
                        class="border-bottom padding-bottom-half margin-bottom-0 text-medium slds-truncate cursor-default"
                        [title]="currentUser.FullName"
                    >{{currentUser.FullName}}</p>
                    <p class="margin-top-half margin-bottom-0 text-bold">{{currentUser.OrgGroupName}}</p>
                    <p class="margin-bottom-0">{{currentRoleName}}</p>
                </div>
            </div>
            <ul
                class="slds-dropdown__list one-profile-popover__roles overflow-y-auto border-top-bottom-3 margin-bottom-0"
                role="menu"
                *ngIf="canSwitchRoles"
                ot-auto-id="GlobalHeaderProfileRoles"
                >
                <li class="slds-dropdown__item" role="presentation" *ngFor="let access of currentAccessLevels; let i = index">
                    <a
                        class="row-flex-start"
                        role="menuitem"
                        [attr.ot-auto-id]="'GlobalHeaderProfileRoles__' + i"
                        (click)="selectAccessLevel(access)"
                        >
                        <span class="one-profile-popover__role text-center">
                            <i *ngIf="rootOrgId === access.organizationId" class="fa fa-check color-accent-blue"></i>
                        </span>
                        <span
                            class="text-wrap"
                            [title]="'GlobalHeaderProfileAccessLevelItem' | translate:{role: access.roleName, organization: access.organizationName}"
                        >{{('GlobalHeaderProfileAccessLevelItem' | translate:{role: access.roleName, organization: access.organizationName})}}</span>
                    </a>
                </li>
            </ul>
            <ul class="slds-dropdown__list" role="menu">
                <li *ngIf="canSwitchTenants" class="slds-dropdown__item" role="presentation">
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderProfileSwitchTenantBtn"
                        (click)="openTenantSwitchModal()"
                        >
                        <span>{{'SwitchTenants' | translate}}</span>
                    </a>
                </li>
                <li *ngIf="canShowUserProfile" class="slds-dropdown__item" role="presentation">
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderProfileUserPreferencesBtn"
                        (click)="navigateTo('zen.app.pia.module.preferences.password')"
                        >
                        {{'UserPreferences' | translate}}
                    </a>
                </li>
                <li *ngIf="canChangeLanguages" class="slds-dropdown__item" role="presentation">
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderProfileSwitchLanguageBtn"
                        (click)="openLanguageSwitchModal()"
                        >
                        {{'SetLanguage' | translate}}
                    </a>
                </li>
                <li
                    *ngIf="canSwitchTenants || canChangeLanguages"
                    class="slds-has-divider_top" role="separator"
                ></li>
                <li class="slds-dropdown__item" role="presentation">
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderProfileLogoutBtn"
                        (click)="logout()"
                        >
                        {{'Logout' | translate}}
                    </a>
                </li>
            </ul>
        </ng-template>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        *ngIf="canShowHelpAndPrivacy && !permissions.canShow('MenuLauncher')"
        [isActive]="activeItem === 'Help'"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderBtnHelp"
            [attr.aria-pressed]="activeItem === 'Help'"
            [title]="'HelpAndPrivacy' | translate"
            [otDropdown]="GlobalHeaderHelpAndPrivacyDropdown"
            [modifierClass]="'margin-top-half'"
            [position]="'bottom-right'"
            [size]="canViewHelpSearch ? 'medium' : 'small'"
            [interactive]="false"
            [delay]="defaultDropdownDelays"
            [closeOnClick]="true"
            [isOpen]="activeItem === 'Help'"
            (click)="toggleActiveItem('Help', true)"
            (toggled)="toggleActiveItem('Help', $event)"
            >
            <span aria-hidden="true" class="text-xlarge ot ot-help"></span>
            <span class="slds-assistive-text">{{'HelpAndPrivacy' | translate}}</span>
        </button>
        <ng-template #GlobalHeaderHelpAndPrivacyDropdown>
            <ul class="slds-dropdown__list" role="menu">
                <li
                    class="slds-dropdown__item margin-top-half padding-top-bottom-1 border-top-bottom"
                    role="presentation"
                    *ngIf="canViewHelpSearch"
                    >
                    <label
                        for="GlobalHeaderHelpSearchInput"
                        class="full-width text-center text-color-default"
                    >{{'Help.OneTrustHelpCenter' | translate}}</label>
                    <p
                        class="full-width text-center text-color-default"
                    >{{'Help.WhatDoYouNeedHelpWith' | translate}}</p>
                    <form
                        class="full-width padding-left-right-1 text-right"
                        name="GlobalHeaderHelpSearchForm"
                        >
                        <ot-search-input
                            class="full-width margin-right-1"
                            id="GlobalHeaderHelpSearchInput"
                            name="GlobalHeaderHelpSearchInput"
                            ot-auto-id="GlobalHeaderHelpSearchInput"
                            [model]="helpSearchModel"
                            [placeholder]="'Help.SearchDocPlaceholder' | translate"
                            [disabled]="searchingHelp"
                            (search)="handleSearch($event)"
                        ></ot-search-input>
                        <button otButton brand
                            id="GlobalHeaderHelpSearchBtn"
                            name="GlobalHeaderHelpSearchBtn"
                            class="margin-top-1"
                            ot-auto-id="GlobalHeaderHelpSearchBtn"
                            [loading]="searchingHelp"
                            [disabled]="searchingHelp"
                            (click)="handleHelpSearch()"
                        >{{'Search' | translate}}</button>
                    </form>
                </li>
                <li class="slds-dropdown__item" role="presentation"
                    [ngClass]="{ 'one-global-header-dropdown__item': canViewHelpSearch }"
                    >
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderHelpModalBtn"
                        [title]="'GetHelp' | translate"
                        (click)="openHelpModal()"
                    >{{'GetHelp' | translate}}</a>
                </li>
                <li class="slds-dropdown__item" role="presentation"
                    *ngIf="canViewSupportPortal && supportPortalLink"
                    [ngClass]="{ 'one-global-header-dropdown__item': canViewHelpSearch }"
                    >
                    <a
                        role="menuitem"
                        target="_blank"
                        ot-auto-id="GlobalHeaderSupportPortalBtn"
                        [title]="'SupportPortal' | translate"
                        [href]="supportPortalLink"
                    >{{'SupportPortal' | translate}}</a>
                </li>
                <li class="slds-dropdown__item" role="presentation"
                    *ngIf="canShowHelpAbout"
                    [ngClass]="{ 'one-global-header-dropdown__item': canViewHelpSearch }"
                    >
                    <a
                        role="menuitem"
                        ot-auto-id="GlobalHeaderAboutOneTrustModalBtn"
                        [title]="'AboutOneTrust' | translate"
                        (click)="openAboutOnetrustModal()"
                    >{{'AboutOneTrust' | translate}}</a>
                </li>
            </ul>
        </ng-template>
    </ng-template>
    <ng-template
        otGlobalHeaderActionItem
        *ngIf="canShowHelpAndPrivacy && permissions.canShow('MenuLauncher') && canViewHelpCenter"
        [isActive]="helpCenterActive"
        >
        <button
            class="one-global-header__item full-size border-none background-none text-nowrap"
            ot-auto-id="GlobalHeaderLauncherZenModal"
            [title]="'HelpAndPrivacy' | translate"
            (click)="toggleZenModal()"
            >
            <span aria-hidden="true" class="text-xlarge ot ot-help"></span>
            <span class="slds-assistive-text">{{'HelpAndPrivacy' | translate}}</span>
        </button>
    </ng-template>
    <div launcher-content>
        <launcher-nav (closed)="closeLauncher()"></launcher-nav>
        <footer class="ot-launcher__footer">
            <a ot-auto-id="GlobalHeaderLauncherAboutModal"
                [title]="'AboutOneTrust' | translate"
                (click)="openAboutOnetrustModal()"
                >
                {{ "AboutOneTrust" | translate }}
            </a>
            <a *ngIf="canShowHelpAndPrivacy"
                ot-auto-id="GlobalHeaderLauncherHelpModal"
                [title]="'GetHelp' | translate"
                (click)="openHelpModal()"
                >
                {{ "GetHelp" | translate }}
            </a>
            <a *ngIf="privacyPolicyLink"
                ot-auto-id="GlobalHeaderLauncherPrivacyLink"
                target="_blank"
                [href]="privacyPolicyLink"
            >{{ "PrivacyPolicy" | translate }}</a>
        </footer>
    </div>
</ot-global-header>
