.template-section-rule-pane {
    &__section-height {
        height: 4rem;
    }

    &__number-sequence {
        height: 4.6rem;
        min-width: 4.6rem;
        line-height: 4.6rem;
        border-radius: 50%;
    }

    &__question-body {
        border-radius: 0.5rem;
        background-color: $grey-9;
    }
}
