<section class="padding-bottom-2">
        <div class="margin-all-2"
            *ngFor="let sectionId of sectionAllId;trackBy:trackBySectionId"
        >
            <div class="background-eggshell min-height-3 row-space-between-center padding-left-half">
                <div class="stretch-vertical text-medium overflow-ellipsis-nowrap">
                    <span class="template-section-rule-pane__number-sequence text-center inline-block media-middle background-grey-2 text-bold">
                        {{sectionById[sectionId].sequence}}
                    </span>
                    <span
                        class="margin-left-1 padding-top-bottom-half template-section-rule-pane__section-height text-bold cursor-pointer"
                        (click)="sectionExpanded[sectionId] = !sectionExpanded[sectionId]"
                        ot-auto-id="TemplateRulesSectionToggle"
                    >
                        {{sectionById[sectionId].name}}
                    </span>
                </div>
                <div class="padding-top-bottom-1 margin-left-right-1">
                    <i class="ot no-outline text-medium cursor-pointer"
                        [ngClass]="{'ot-chevron-down':sectionExpanded[sectionId], 'ot-chevron-right': !sectionExpanded[sectionId]}"
                        (click)="sectionExpanded[sectionId] = !sectionExpanded[sectionId]"
                        ot-auto-id="TemplateRulesSectionToggle"
                    >
                    </i>
                </div>
            </div>
            <div *ngFor="let questionId of sectionQuestionIdsMap[sectionId];trackBy:trackByQuestionId">
                <div class="margin-top-1 margin-left-half color-slate flex"
                    *ngIf="sectionExpanded[sectionId]"
                >
                    <div class="border template-section-rule-pane__number-sequence text-center text-small media-middle background-grey margin-right-1 text-bold">
                        {{sectionById[sectionId].sequence}}.{{questionByIds[questionId].sequence}}
                    </div>
                    <div class="border template-section-rule-pane__question-body min-height-3 row-space-between-center stretch-horizontal">
                        <i class="inline-block text-medium padding-left-right-1 align-center {{getQuestionTypeIcon(questionByIds[questionId].questionType)}}"></i>
                        <div
                            class="overflow-ellipsis-nowrap stretch-vertical paragraph-small word-wrap padding-right-1"
                            [otTooltip]="questionByIds[questionId].content"
                        >
                            {{questionByIds[questionId].content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
