<div class="height-100 full-width column-horizontal-center">
    <div
        *ngIf="!isLoading; else LoadingSpinner"
        class="full-width flex-full-height"
        >
        <div
            *ngIf="topic; else EmptyState"
            class="full-width flex-full-height"
            >
            <cr-header
                [title]="'TopicDetails' | otTranslate"
                [parentLabel]="'Topics' | otTranslate"
                [parentRoute]="'zen.app.pia.module.consentreceipt.views.topics.list'"
                [breadcrumbLabel]="topic.Name"
                >
                <button otButton brand
                    ot-auto-id="TopicDetailsSaveButton"
                    [innerText]="'Save' | otTranslate"
                    [disabled]="isSaving"
                    [loading]="isSaving"
                    (click)="saveTopic()"
                ></button>
                <button otButton neutral
                    ot-auto-id="TopicEditLanguagesButton"
                    [innerText]="'ManageLanguages' | otTranslate"
                    [disabled]="isSaving || !('ConsentTopicLanguageEdit' | otPermit)"
                    [loading]="isSaving"
                    (click)="showEditLanguagesModal()"
                ></button>
            </cr-header>

            <cr-translation-table
                *ngIf="('ConsentTopicLanguageDisplay' | otPermit) && topic.Languages[0].Language"
                class="full-width flex-full-height"
                [columns]="columns"
                [editable]="'ConsentTopicLanguageEdit' | otPermit"
                [defaultName]="topic.Name"
                [defaultLanguage]="defaultLanguage"
                [currentTranslations]="topic.Languages"
                [selectedLanguages]="selectedLanguageList"
                [isTopicLanguageTable]="true"
                (translationChange)="onTranslationChange($event)"
            ></cr-translation-table>
        </div>
    </div>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
</ng-template>

<ng-template #EmptyState>
    <ot-empty-state [emptyStateMessage]="'NoResultsFound' | otTranslate">
        <img emptyStateImage/>
    </ot-empty-state>
</ng-template>