.one-split-dropdown {
    &__button {
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
       margin-right: -0.4rem;
    }

     &__dropdown {
         &.one-button {
             border-radius: 0 50% 50% 0;
             border-left: 0;
             width: 4rem;
             padding-right: 0.4rem;
             padding-left: 0.4rem;
         }
     }
}