<div class="column-nowrap full-size background-white">
    <ot-loading
        otPageLoading
        *ngIf="isPageloading; else pageLoaded"
        >
        {{ 'Controls' | otTranslate }}...
    </ot-loading>
    <ng-template #pageLoaded>
        <section class="flex-full-height">
            <div
                class="static-vertical row-flex-end background-white border-bottom padding-top-bottom-1 padding-right-2"
                *ngIf="controlPermissions[recordType].addControl | otPermit"
                >
                <button otButton neutral
                    class="margin-right-1"
                    ot-auto-id="LinkControlsAddControlsBtn"
                    [innerText]="'AddControls' | otTranslate"
                    (click)="addNewControls()"
                    >
                </button>
            </div>
            <div class="static-vertical row-flex-end background-grey border-bottom padding-top-bottom-half padding-right-2">
                <ot-search-input
                    class="margin-right-1"
                    ot-auto-id="LinkControlsSearchInput"
                    [debounce]="250"
                    [placeholder]="'Search' | otTranslate"
                    [model]="searchTerm"
                    (search)="onSearchName($event)"
                    >
                </ot-search-input>
                <button
                    otButton
                    icon="ot ot-filter"
                    ot-auto-id="LinkControlsFilterControlsBtn"
                    [select]="currentFilters?.length"
                    (click)="toggleFilterDrawer()"
                    >
                </button>
            </div>
            <div class="stretch-vertical column-nowrap">
                <div
                    *ngIf="linkControlsService.linkControlsLoading$ | async; else searchCompleted"
                    class="stretch-vertical column-nowrap justify-center"
                    >
                    <ot-loading otPageLoading></ot-loading>
                </div>
                <ng-template #searchCompleted>
                    <ng-container *ngIf="table?.rows?.length; else emptyTable">
                        <div class="overflow-y-auto ms-overflow-scroll height-100 stretch-vertical">
                            <div class="position-relative">
                                <link-controls-table
                                    [table]="table"
                                    [recordId]="recordId"
                                    [recordType]="recordType"
                                    [tableMetaData]="tableMetaData"
                                    [query]="query"
                                    (tableActions)="onSortChange($event)"
                                    >
                                </link-controls-table>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #emptyTable>
                        <div class="stretch-vertical column-nowrap justify-center">
                            <ot-empty-state
                                class="align-self-center margin-top-bottom-4"
                                [emptyStateMessage]="'NoResultsFound' | otTranslate"
                                >
                                <img emptyStateImg />
                                <button otButton brand
                                    *ngIf="controlPermissions[recordType].addControl | otPermit"
                                    empty-state-content
                                    ot-auto-id="LinkControlsTableAddControlsBtn"
                                    (click)="addNewControls()"
                                    >
                                    {{ 'AddControls' | otTranslate }}
                                </button>
                            </ot-empty-state>
                        </div>
                    </ng-template>
                </ng-template>
                <footer
                    *ngIf="table?.rows?.length"
                    otPaginationFooter
                    class="min-height-7 static-vertical border-top row-vertical-center"
                    >
                    <ot-pagination
                        [currentPage]="tableMetaData.number"
                        [handleOffset]="true"
                        [numPages]="tableMetaData.totalPages"
                        (pageChanged)="onPaginationChange($event)"
                        >
                    </ot-pagination>
                    <span>
                        {{ tableMetaData | otPageMeta }}
                    </span>
                </footer>
                <ot-drawer
                    class="width-29 column-nowrap"
                    [open]="isFiltering"
                    >
                    <ng-container *ngIf="table?.columns">
                        <controls-filter
                            class="column-nowrap flex-full-height"
                            [fields]="filterableColumns"
                            [storage]="storageKey"
                            [currentFilters]="currentFilters"
                            (filterApplied)="filterApplied($event)"
                            (filterCanceled)="filterCanceled($event)"
                            >
                        </controls-filter>
                    </ng-container>
                </ot-drawer>
            </div>
        </section>
    </ng-template>
</div>
