<ot-loading otPageLoading
    class="margin-left-right-auto margin-top-3"
    *ngIf="loadingAttachments"
></ot-loading>
<div
    class="incident-attachment-table"
    >
    <table
        otDataTable
        class="border-top-none"
        *ngIf="!loadingAttachments && table?.rows"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="table.rows"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                >

                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-width-30"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                        [deprecatedOtTooltip]="col.name"
                        [delay]="500"
                        [position]="'top'"
                        >
                        <span class="slds-truncate text-bold">{{col.name}}</span>
                    </div>
                </ng-template>

                <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-20'">
                    <ng-container [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="tableColumnTypes.Link">
                            <div
                                class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <a
                                    ot-auto-id="IncidentListCellLink"
                                    [deprecatedOtTooltip]="row[col.cellValueKey]"
                                    [delay]="500"
                                    [position]="'top-left'"
                                    (click)="attachmentActions(row)"
                                    >
                                    {{ row[col.cellValueKey] }}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Text">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [deprecatedOtTooltip]="row[col.cellValueKey]"
                                [delay]="500"
                                [position]="'top'"
                                >
                                <span>{{ row[col.cellValueKey]}}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Type">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [deprecatedOtTooltip]="row[col.cellValueKey] === incidentAttachmentType.URL ? incidentAttachmentType.URL : 'File' | otTranslate"
                                [delay]="500"
                                [position]="'top'"
                                >
                                <span>{{ row[col.cellValueKey] === incidentAttachmentType.URL ? incidentAttachmentType.URL : 'File' | otTranslate }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Date">
                            <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                <span>{{ row[col.cellValueKey] | otDate }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Assignee">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [deprecatedOtTooltip]="row[col.cellValueKey]?.name"
                                [delay]="500"
                                [position]="'top'"
                                >
                                <span>{{ row[col.cellValueKey]?.name }}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="col.type === 'action'">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        [thClass]="'float-col'"
                        [thStyle]="{'width': 0}"
                    ></ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        [tdClass]="'float-col'"
                        >
                        <upgraded-one-dropdown
                            *ngIf="('FileDelete' | otPermit)"
                            class="flex height-100 align-center justify-center"
                            [icon]="'ot ot-ellipsis-h'"
                            [hideCaret]="true"
                            [alignRight]="true"
                            [getOptions]="getActions(row)"
                            [buttonClass]="'actions-table__context-btn'"
                            [listClass]="menuClass"
                        ></upgraded-one-dropdown>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
    <ot-empty-state
        class="flex-full-height justify-center text-center padding-all-2"
        *ngIf="!loadingAttachments && table?.rows && !table.rows.length"
        [emptyStateMessage]="'NoAttachments' | otTranslate"
        >
        <img emptyStateImg />
    </ot-empty-state>
</div>
