<div class="row-wrap padding-bottom-1">
    <div
        otFormElement
        class="padding-right-1 flex-grow-1"
        [label]="'RiskLevel' | otTranslate"
        [required]="true"
    >
        <risk-selector
            ot-auto-id="TemplateRuleRiskHeatmapDropdown"
            [impact]="impactLevel"
            [probability]="probabilityLevel"
            [level]="levelId"
            [score]="score"
            [disabled]="isPreviewMode"
            (onChange)="onRiskChange($event)"
        ></risk-selector>
    </div>
    <div
        otFormElement
        class="risk-modal__textarea flex-grow-1 padding-right-1"
        [label]="'RiskDescription' | otTranslate"
    >
        <textarea
            otTextarea
            ot-auto-id="TemplateRuleRiskDescription"
            [maxlength]="riskCharLimit"
            [attr.placeholder]="'RiskDescription' | otTranslate"
            [disabled]="isPreviewMode"
            [ngModel]="description"
            (ngModelChange)="onParameterChanged('description', $event)"
        ></textarea>
    </div>
    <div
        otFormElement
        class="risk-modal__textarea flex-grow-1"
        [label]="'RiskRecommendation' | otTranslate"
    >
        <textarea
            otTextarea
            ot-auto-id="TemplateRuleRiskRecommendation"
            [maxlength]="riskCharLimit"
            [attr.placeholder]="'RiskRecommendation' | otTranslate"
            [disabled]="isPreviewMode"
            [ngModel]="recommendation"
            (ngModelChange)="onParameterChanged('recommendation', $event)"
        ></textarea>
    </div>
</div>
