<ot-drawer
    class="padding-top-1 z-index-999 overflow-y-auto"
    [open]="drawerOpen"
    >
    <div class="text-bold">
        <button otButton
            class="background-none border-none remove-anchor-style padding-0"
            ot-auto-id="PrivacyNoticeVersionDrawerToggleButton"
            (click)="toggleDrawer.emit()"
        >
            <i class="ot ot-arrow-circle-o-right margin-right-1 cursor-pointer"></i>
            {{ "Close" | otTranslate }}
        </button>
    </div>

    <section class="privacy-notice-version-list max-width-40">
        <h4 class="privacy-notice-version-list__title margin-all-0 text-uppercase text-bold text-center text-medium-small">
            {{ "VersionHistory" | otTranslate }}
        </h4>
        <ul
            class="margin-all-0"
            *ngFor="let item of versions; trackBy: trackByFn"
            >
            <li
                class="privacy-notice-version-list__item"
                [ngClass]="{'is-current-version': item.version === currentVersion.version}"
                >
                <header
                    class="privacy-notice-version-list__tab padding-all-1 row-nowrap align-center"
                    [attr.title]="item.name"
                    (click)="changeVersion(item.id)"
                    >
                    <section class="stretch-horizontal overflow-ellipsis-nowrap">
                        <span
                            class="privacy-notice-version-list__label media-middle"
                            role="button"
                        >
                            {{ item.name }}
                        </span>

                        <div class="margin-top-half">
                            <span [otBadge]="item.status | policyStatusColor">
                                {{ policyStatusLabels[item.status] | otTranslate }}
                            </span>

                            <span otBadge>
                                {{ item.version | policyVersionLabel }}
                            </span>

                            <i
                                *ngIf="isDraft(item) && canDeleteVersion"
                                class="privacy-notice-version-list__delete margin-left-1 fa fa-trash-o margin-left-right-1"
                                tooltip-placement="right"
                                tooltip-trigger="mouseenter"
                                role="button"
                                (click)="onDeleteRequested.emit(item); $event.stopPropagation();"
                            ></i>

                            <span class="privacy-notice-version-list__date block margin-top-half">
                                <span class="text-bold">
                                    {{ ((isDraft(item) ? "UpdatedDate" : "PublishedDate") | otTranslate) + ": " }}
                                </span>

                                <span>
                                    {{ item.lastModifiedDate | otDate: 'datetime' : false : EMPTY_DATE_FALLBACK }}
                                </span>
                            </span>
                        </div>
                    </section>

                    <span
                        role="button"
                        class="privacy-notice-version-list__toggle margin-left-right-1"
                        (click)="toggleItem(item.id); $event.stopPropagation();"
                    >
                        <i [ngClass]="'fa fa-angle-' + (toggledItemsMap[item.id] ? 'down' : 'right')"></i>
                    </span>
                </header>

                <section
                    class="privacy-notice-version-list__details"
                    *ngIf="toggledItemsMap[item.id]"
                >
                    <div *ngIf="item.createdDate" class="privacy-notice-version-list__date">
                        <span class="privacy-notice-version-list text-bold">{{ "CreatedDate" | otTranslate }}: </span>
                        <span>{{ item.createdDate | otDate: 'datetime' : false : EMPTY_DATE_FALLBACK }}</span>
                    </div>

                    <div
                        class="privacy-notice-version-list__date"
                        *ngIf="item.lastModifiedDate"
                        [ngSwitch]="isDraft(item)"
                    >
                        <span class="privacy-notice-version-list text-bold">
                            {{ ((isDraft(item) ? "UpdatedDate" : "PublishedDate") | otTranslate) + ": " }}
                        </span>
                        <span>
                            {{ item.lastModifiedDate | otDate: 'datetime' : false : EMPTY_DATE_FALLBACK }}
                        </span>
                    </div>
                </section>
            </li>
        </ul>
    </section>
</ot-drawer>
