<header class="padding-all-1 background-white border-bottom">
    <h4 class="margin-all-0">
        {{ tableType === 0 ? activeOptionsHeader : inActiveOptionsHeader }}
    </h4>
</header>
<div class="incident-types-table full-width flex-full-height border-bottom height-100">
    <ng-template #incidentTypesTableLoader>
        <ot-loading otPageLoading
            class="margin-left-right-auto margin-top-3"
        ></ot-loading>
    </ng-template>
    <table
        otDataTable
        class="border-top-none"
        *ngIf="!loadingIncidentTypes && table?.rows; else incidentTypesTableLoader"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="table?.rows"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of table?.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                [classes]="{ thAnchor: columnIndex !== 0 ? 'row-horizontal-center' : 'text-left'}"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-width-30"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                        >
                        <span
                            [ngClass]="{'block text-center' : columnIndex !== 0}"
                            class="text-bold"
                            >
                            {{col.name}}
                        </span>
                        <i
                            *ngIf="columnIndex === 0"
                            class="margin-left-1 ot ot-info-circle"
                            [otTooltip]="{ content: 'IncidentManagerKeyColumnDescription' | otTranslate, placement: 'right' }"
                        ></i>
                    </div>
                </ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    [tdClass]="'max-width-20'"
                    >
                    <ng-container 
                        [ngSwitch]="col.type"
                        >
                        <ng-container *ngSwitchCase="tableColumnTypes.Text">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <span 
                                    [otTooltip]="{ content: columnIndex === 0 ? row[col.cellValueKey] : row[col.cellValueKey] | otTranslate, placement: 'top' }"
                                    >
                                    {{ columnIndex === 0 ? row[col.cellValueKey] : row[col.cellValueKey] | otTranslate }}
                                </span>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="col.type === tableColumnTypes.Action">
                <ot-data-table-column
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        thClass="float-col"
                        [thStyle]="{'width': 0}"
                        >
                    </ng-template>
                    <ng-template 
                        otDataTableCell 
                        let-row="row"
                        tdClass="float-col background-transparent"
                        [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                        >
                        <div class="flex height-100 align-center justify-center">
                            <ot-context-menu
                                *ngIf="!row.viewOnly"
                                class="height-100 flex-full-height column-vertical-center"
                                position="bottom-right"
                                [disabled]="hideContextMenuOptions"
                                [otTooltip]="hideContextMenuOptions ? { content: 'AtleastOneActiveOption' | otTranslate, placement: 'top' } : {}"
                                [type]="menuType"
                                [menu]="menuOptions"
                                (toggled)="generateMenuOptions(row)"
                                >
                                <i class="ot ot-ellipsis-h"></i>
                                <a
                                    *otContextMenuItem="let option"
                                    (click)="option.action(row)">
                                    {{ option.text }}
                                </a>
                            </ot-context-menu>
                        </div>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
    <div class="background-white border-bottom">
        <ot-empty-state
            *ngIf="emptyState"
            class="flex-full-height justify-center text-center padding-all-4"
            [emptyStateMessage]="tableType === 0 ? 'NoActiveOptions' : 'NoInactiveOptions' | otTranslate"
            >
            <img emptyStateImg />
        </ot-empty-state>
    </div>
</div>