<div class="risk-summary__content column-nowrap text-color-default shadow padding-top-2 margin-bottom-1 centered-max-100">
    <section class="row-vertical-center margin-bottom-2 padding-left-right-2">
        <span
            class="risk-level-round-button row-horizontal-vertical-center margin-right-1"
            [ngClass]="RiskLabelBgClassesV2[risk.level] || RiskClasses[risk.level]">
            <i class="fa fa-flag fa-inverse text-xsmall"></i>
        </span>
        <span class="text-bold">{{ (RiskLevels[this.risk.level] || RiskTranslations[this.risk.level]) | otTranslate }}</span>
        <upgraded-risk-action-buttons
            class="margin-left-auto"
            [onOpenRiskModal]="openRiskModal"
            [onOpenDeleteModal]="openDeleteModal"
            [onRiskLevelChange]="changeRiskLevel()"
            [heatmapEnabled]="false"
            [enableLevelChange]="canChangeRiskLevel"
            [enableRiskEdit]="canEditRisk"
            [enableRiskDelete]="canDeleteRisk"
            [alignRight]="true"
            >
        </upgraded-risk-action-buttons>
    </section>
    <section
        class="position-relative row-nowrap margin-left-right-2 padding-left-right-4 overflow-hidden risk-summary__expandable-content"
        [ngClass]="{
            'risk-summary__expandable-content--expanded row-wrap': hasOverflow && showingOverflow,
            'risk-summary__expandable-content--no-overflow margin-bottom-3': !hasOverflow || showingOverflow,
            'margin-bottom-1': hasOverflow && !showingOverflow
        }"
        >
        <div
            [ngClass]="{
                'flex-stretch-100 margin-bottom-2': hasOverflow && showingOverflow,
                'column-nowrap flex-grow-1 flex-basis-0 margin-right-2': !hasOverflow || !showingOverflow
            }"
            >
            <label class="block margin-all-0 margin-bottom-half"> {{"Summary" | otTranslate}} </label>
            <span class=""> {{ risk.description || "- - - -" }} </span>
        </div>
        <div
            [ngClass]="{
                'flex-stretch-100': hasOverflow && showingOverflow,
                'column-nowrap flex-grow-1 flex-basis-0 margin-left-2': !hasOverflow || !showingOverflow
            }"
            >
            <label class="block margin-all-0 margin-bottom-half"> {{"Recommendation" | otTranslate}} </label>
            <span class=""> {{ risk.recommendation || "- - - -"}} </span>
        </div>
    </section>
    <footer
        class="padding-left-right-2 padding-top-bottom-1 border-top"
        *ngIf="hasOverflow"
        >
        <button
            otButton neutral
            (click)="toggleOverflow()"
            >
            {{(showingOverflow ? "HideDetails" : "ShowDetails") | otTranslate}}
        </button>
    </footer>
</div>
