.one-sidebar-menu {
    width: 20rem;
    z-index: 250;
    background-color: $eggshell;
    color: $slate;
    position: absolute;
    transition: 0.25s;
    left: -150%;

    &.is-open {
        left: 0;
    }

    @media(min-width: $small) {
        height: 100%;
        position: inherit;
    }

    &__title {
        background-color: $grey-3;
        height: 3rem;
        color: $slate;
    }

    &-link {
        &__anchor {
            color: $slate;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $slate;
                text-decoration: none;
            }

        }
        &.active {
            background-color: $grey-1;
        }
    }

    &.beta-ui {
        background-color: $menu-blue;
        color: $white;

        .border-bottom {
            border-bottom: solid 1px $menu-grey;
        }

        .one-sidebar-menu__title {
            background-color: $menu-grey;
            color: $white;
        }

        .one-sidebar-menu-link {
            font-weight: 1.2rem;
            &__anchor {
                color: $white;
                &:hover,
                &:focus {
                    color: $white;
                }
            }

            &.active {
                background-color: $menu-dark-blue;
                border-left: solid 0.5rem $green;
                font-weight: bold;
                .one-sidebar-menu-link__anchor {
                    margin-left: -0.5rem;
                }

            }
        }

    }

}
