<cr-filters
    [(isDrawerOpen)]="isDrawerOpen"
    [(textSearch)]="filters.identifier"
    (onApply)="handleApply()"
    (onClear)="handleClear()"
    (onRefresh)="handleRefresh()"
    (onTextSearch)="handleTextSearch('identifier', $event, 'ConsentDataSubjectIdentifierFilter')"
    (onToggle)="toggleDrawer()"
>
    <div otFormElement
        [label]="'FilterByIdentifier' | otTranslate"
        >
        <input otInput
            class="one-input full-width"
            ot-auto-id="DataSubjectIdentifierFilter"
            [placeholder]="'Identifier' | otTranslate"
            [ngModel]="filters.identifier"
            (ngModelChange)="setFilterValue('identifier', $event)"
            />
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'SelectPurpose' | otTranslate"
        >
        <ot-lookup
            ot-auto-id="DataSubjectPurposeFilter"
            [labelKey]="'label'"
            [valueKey]="'value'"
            [placeholder]="'PurposeName' | otTranslate"
            [autoClose]="true"
            [clearInputOnModelChange]="true"
            [inputValue]="'inputValue'"
            [model]="selections.purposeGuid"
            [options]="options.purposeGuid ? options.purposeGuid : crPurposes"
            (inputChange)="onInputChange($event)"
            (modelChange)="selectPurpose($event)"
            >
        </ot-lookup>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByPurposeVersion' | otTranslate"
        >
        <ot-picklist
            labelKey="label"
            valueKey="version"
            ot-auto-id="DataSubjectPurposeVersionFilter"
            [options]="options.purposeVersion"
            [model]="selections.purposeVersion"
            [disabled]="!selections.purposeGuid"
            (onSelect)="selectPurposeVersion($event)"
        ></ot-picklist>
    </div>

    <div otFormElement
        *ngIf="showTopicFilter"
        class="margin-top-2"
        [label]="'FilterByTopic' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="DataSubjectTopicFilter"
            [options]="options.topics"
            [model]="selections.topics"
            [disabled]="!selections.purposeVersion || loadingTopics"
            (onSelect)="selectOption('topics', $event)"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByDataElement' | otTranslate"
        >
        <ot-picklist
            labelKey="label"
            valueKey="label"
            ot-auto-id="DataSubjectDataElementFilter"
            [options]="options.dataElements"
            [model]="dataElement"
            (onSelect)="selectDataElementName($event)"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'DataElementValue' | otTranslate"
        >
        <input otInput
            class="one-input full-width"
            ot-auto-id="DataSubjectDataElementValueFilter"
            [placeholder]="'DataElementValue' | otTranslate"
            [ngModel]="dataElementValue"
            (ngModelChange)="setDataElementValue($event)"
            />
    </div>
</cr-filters>