.ui-select {
    &-container {
        & > div {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
    }
    &-toggle,
    &-search,
    &-multiple {
        min-height: 3.2rem !important;
        border-radius: 2px;
        border: 1px solid $grey-3;
        background-color: $white;
        color: $slate;
        & > .caret {
            border-width: 5px;
            border-radius: 2px;
            border-top-color: $slate;
        }
    }
    &-search {
        flex: 1 1 1px;
        min-width: 1px;
        height: 3.2rem !important;
        margin-bottom: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    &-multiple {
        padding: 2px 5px !important;
        .ui-select-match {
            min-height: 3.2rem;
            display: inline-flex;
            align-items: center;
            flex-flow: row wrap;

            &-item {
                width: 100%;
                white-space: initial;
                word-wrap: break-word;
                text-align: initial;
            }
        }
        .ui-select-search {
            width: auto !important;
            &:disabled,
            &[disabled],
            [disabled] & {
                display: none;
            }
        }
    }
    &-match {
        flex: 0 1 auto;
        min-width: 1px;
        & > span {
            max-width: 100%;
            margin-right: 5px;
        }

        &-item {
            padding: 1px 5px;
            &.btn-default {
                border-color: $ui_blue;
                background-color: $ui_blue;
                color: $white !important;
                &:active {
                    border-color: darken($ui_blue, 10%);
                    background-color: darken($ui_blue, 10%);
                }
            }
            &.btn-primary {
                border-color: $ui_blue;
                background-color: $ui_blue;
                color: $white !important;
                &:active {
                    border-color: darken($ui_blue, 10%);
                    background-color: darken($ui_blue, 10%);
                }
            }
            &.btn:focus {
                outline: none;
            }
        }
        &-close {
            font-size: 2.5rem !important;
            line-height: 0.8 !important;
            float: right !important;
            color: $white;
            .btn-primary & {
                color: $white;
            }
            &:active {
                outline: none;
            }
        }
    }
    &-dropdown {
        padding: 0;
        display: block;
        margin: 0;
        width: 100%;
        box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
        border: 1px solid $grey-3;
        border-radius: 3px;
        background-color: $white;
        max-height: 18.5rem;
        overflow-y: auto;
    }
    &-choices {
        &-row {
            color: $slate;
            text-decoration: none;
            outline: 0;
            display: block;
            padding: 0.8rem 1.6rem;
            &-inner {
                background: none !important;
                padding: 0 !important;
                white-space: normal !important;
            }
            &.active {
                background-color: $ui_blue;
                color: $white;
            }
        }
    }
}
