.is-connection-manage {
    &-footer {
        .one-popup-footer {
            &__main {
                height: 7rem;
                background-color: $paper-gray;
                transition: transform .5s ease;
                border-top: solid 1px $grey-2;

                &--visible {
                    transform: translate(0, -7rem);
                }
            }
        }
        &__spacer {
            height: 7rem;
        }
    }
}
