<section class="column-nowrap full-size overflow-hidden">
    <ot-page-header [title]="breadcrumbHeader">
        <ot-breadcrumb
            *ngIf="breadcrumbText"
            (routeClicked)="goToRoute($event)"
        >
            <ot-breadcrumb-item
                [label]="'Connections' | otTranslate"
                [link]="'zen.app.pia.module.intg.connections.list'"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [ngClass]="{'text-uppercase': manageMode !== MODES.SYSTEMS}"
                [label]="breadcrumbText"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <button
            otButton
            destructive
            *ngIf="('IntegrationPageDelete' | otPermit) && ready && manageMode === MODES.EDIT && connection.id"
            ot-auto-id="DeleteDetailConnection"
            [innerText]="'DeleteConnection'| otTranslate"
            (click)="deleteConnection()"
        ></button>
    </ot-page-header>
    <ot-loading
        class="column-horizontal-vertical-center height-100"
        *ngIf="!ready"
    >
        {{"Connection" | otTranslate}}
    </ot-loading>
    <intg-connection-manage-select-system
        class="stretch-vertical full-size"
        *ngIf="ready && manageMode === MODES.SYSTEMS"
        [system]="system"
    ></intg-connection-manage-select-system>
    <intg-connection-manage-body
        class="stretch-vertical full-size"
        *ngIf="ready && (manageMode === MODES.CREATE || (manageMode === MODES.EDIT && connection.id))"
    ></intg-connection-manage-body>
    <ot-empty-state
        class="flex-full-height justify-center text-center margin-top-4"
        *ngIf="ready && manageMode === MODES.EDIT && !connection.id"
        [emptyStateMessage]="'ConnectionNotFound' | otTranslate"
    >
        <img emptyStateImg />
    </ot-empty-state>
</section>
