<table
    otDataTable
    class="full-width"
    [rowData]="rows"
    [rowBordered]="rowBordered"
    [responsiveTable]="responsive"
    >
    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index ">
        <ot-data-table-column
            *ngIf="col.type === columnTypes.Link"
            [headerLabel]="col.name"
            [cellValueKey]="col.columnKey"
            [column]="col"
            >
            <ng-template otDataTableCell let-row="row" let-column="column">
                <div class="slds-truncate">
                    <a (click)="viewDetails(row)"
                        [innerHTML]="row.cells[columnIndex].displayValue"
                    ></a>
                </div>
            </ng-template>
        </ot-data-table-column>
        <ot-data-table-column [headerLabel]="col.name" [cellValueKey]="col.columnKey" [column]="col"
            *ngIf="col.type === columnTypes.Text" >
            <ng-template otDataTableCell let-row="row" let-column="column">
                <div class="slds-truncate">
                    <span [innerHTML]="row.cells[columnIndex].displayValue"></span>
                </div>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
    <ot-data-table-column>
        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
    </ot-data-table-column>
    <ot-data-table-column>
        <ng-template otDataTableHeader [thClass]="'float-col'">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdClass]="'float-col'" let-row="row">
            <upgraded-one-dropdown
                [icon]="'ot ot-ellipsis-h'"
                [hideCaret]="true"
                [alignRight]="true"
                [getOptions]="getActions(row)"
                [buttonClass]="'actions-table__context-btn'"
                [listClass]="menuClass"
                [dropdownClass]="'top-1'"
                >
            </upgraded-one-dropdown>
        </ng-template>
    </ot-data-table-column>
</table>
