<section class="full-size column-nowrap overflow-hidden">
    <ot-page-header
        [title]="'LocalizationEditor' | translate"
        [type]="'base'"
    >
        <div>
            <span class="slds-m-left--small">
                <button otButton neutral
                    *ngIf="'LocalizationExport' | otPermit"
                    ot-auto-id="LocalizationExportButton"
                    (click)="exportLocalization()"
                >{{'Export' | translate}}</button>
                <button otButton neutral
                    *ngIf="currentTab === tabIds.System"
                    ot-auto-id="'LocalizationRestoreAll'"
                    (click)="handleActions({type: LocalizationEditorActions.RESTORE_ALL_VALUE_MODAL, payload: true})"
                >{{'RestoreAll' | translate}}</button>
            </span>
        </div>
    </ot-page-header>
    <ot-tabs
        [tabs]="tabs"
        [selectedTab]="currentTab"
    >
        <a
            *otTabItem="let tab"
            [attr.ot-auto-id]="'OneTabActionNavigation' + tab.text"
            (click)="tab.action(tab)"
        >{{ tab.text }}</a>
    </ot-tabs>
    <ot-loading otPageLoading *ngIf="isLoading" class="stretch-vertical">
        {{'LoadingTerms' | translate}}...
    </ot-loading>
    <div
        class="
            static-vertical
            row-flex-end
            background-grey
            padding-top-bottom-half
            padding-left-right-2
            localization-editor__actions-bar
        "
        *ngIf="!isLoading && currentTab === tabIds.System"
        >
        <ot-search-input
            *ngIf="viewPermissions.search"
            class="localization-editor__search full-width"
            name="LocalizationEditorSearch"
            ot-auto-id="LocalizationEditorSearch"
            [placeholder]="('Search' | translate) + '...'"
            [model]="searchTerm"
            [searchOnEnter]="true"
            (search)="handleActions({type: LocalizationEditorActions.SEARCH, payload: { model: $event } })"
            >
        </ot-search-input>
    </div>
    <div
        class="overflow-auto position-relative stretch-vertical"
        *ngIf="!isLoading && termsTable?.rows?.length"
        >
        <localization-editor-table
            [rows]="termsTable?.rows"
            [columns]="termsTable?.columns"
            [permissions]="viewPermissions"
            [tabId]="currentTab"
            (handleActions)="handleActions($event)"
            >
        </localization-editor-table>
    </div>
    <footer otPaginationFooter>
        <ot-pagination
            *ngIf="!isLoading && termsTable?.rows?.length"
            [currentPage]="termsTable?.metaData?.number + 1"
            [numPages]="termsTable?.metaData?.totalPages"
            (pageChanged)="handleActions({type: LocalizationEditorActions.GET_PAGE, payload: { page: $event - 1 } })"
            >
        </ot-pagination>
        <span *ngIf="!isLoading && termsTable?.rows?.length">
            {{ termsTable?.metaData | otPageMeta }}
        </span>
    </footer>
    <ot-empty-state
        *ngIf="(!isLoading && !termsTable) || (!isLoading && !termsTable?.rows?.length)"
        class="stretch-vertical"
        [emptyStateMessage]="'NoTermsAvailable' | otTranslate"
    ><img emptyStateImg /></ot-empty-state>
</section>
