<div class="assessment-status-donut">
    <h3>{{'AssessmentsStatusViewer' | otTranslate}}</h3>
    <div class="flex padding-bottom-1">
        <label>{{'FilterByOrganizationGroup' | otTranslate}}</label>
        <ot-picklist
            class="flex-shrink padding-left-1 min-width-30"
            [autoClose]="true"
            [valueKey]="'Id'"
            [labelKey]="'Name'"
            [options]="orgList"
            [model]="selectedOrg"
            [indentKey]="'Level'"
            [placeholder]="'NoFilter' | otTranslate"
            ot-auto-id="DashboardAssessmentStatusOrgSelection"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onOrgselection($event)"
        ></ot-picklist>
    </div>
    <div class="flex padding-bottom-1">
        <label>{{'FilterByTemplate' | otTranslate}}</label>
        <ot-template-select
            class="flex-shrink padding-left-1 min-width-30"
            ot-auto-id="AAStatusDonutTemplateDropDownSelector"
            valueKey="id"
            labelKey="name"
            placeholder="NoFilter"
            [autoClose]="true"
            (onSelect)="onTemplateSelection($event)"
        ></ot-template-select>
    </div>
    <ot-loading otPageLoading
        *ngIf="!canLoadPage"
        class="margin-top-6 flex"
    >{{'Loading' | otTranslate}} {{'StatusGraph' | otTranslate}}...
    </ot-loading>
    <upgraded-one-donut-graph
        *ngIf="!isEmptyData && canLoadPage"
        class="padding-top-1 text-center"
        [donutName]="'assessmentStatusDonut'"
        [donutData]="graphData"
        [graphId]="'assessment-status-donut'"
        [margin]="5"
        [outerRadius]="140"
        [innerRadius]="65"
        [sortArcs]="true"
        (donutClickCallback)="donutClickCallback.emit($event)"
    ></upgraded-one-donut-graph>
    <div
        *ngIf="canLoadPage && isEmptyData"
        class="margin-top-6 justify-center text-xhuge flex"
    >
        <h2>{{'NoAssessments' | otTranslate}}</h2>
    </div>
</div>

