<div class="full-width">
    <table
        *ngIf="table?.rows"
        otDataTable
        class="border-top-none"
        [resizableCol]="false"
        [rowBordered]="true"
        [rowNoHover]="false"
        [rowStriped]="false"
        [rowData]="table.rows"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="true"
        [wrapCellContent]="false"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="sortable && col.sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                [classes]="{ thAnchor: columnIndex !== 0 ? 'row-horizontal-center' : 'text-left'}"
                >
                <ng-template
                    *ngIf="!col.sortable;"
                    otDataTableHeader
                >
                    <div
                        class="slds-th__action max-width-30"
                        position="top"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left padding-left-2'"
                        [otTooltip]="col.name"
                        >
                        <span class="slds-truncate text-bold">{{col.name}}</span>
                    </div>
                </ng-template>

                <ng-template otDataTableCell let-row="row" tdClass="max-width-20">
                    <ng-container [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="!row.viewOnly && col.type === tableColumnTypes.Link ? col.type: ''">
                            <div
                                class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <a
                                    ot-auto-id="LinkListCellLink"
                                    position="top-left"
                                    [otTooltip]="row.control[col.cellValueKey]"
                                    (click)="goToRecord(row)"
                                    >
                                    {{ row.control[col.cellValueKey] || emptyData }}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Date">
                            <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                <span>{{ row.control[col.cellValueKey] | otDate }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="(row.viewOnly && col.type === tableColumnTypes.Link) || col.type === tableColumnTypes.Text ? col.type: ''">
                            <div
                                class="slds-truncate"
                                position="top"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [otTooltip]="row.control[col.cellValueKey]"
                                >
                                {{ row.control[col.cellValueKey] || emptyData }}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Status">
                            <div
                                class="slds-truncate"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <span [otBadge]="row[col.cellValueKey] | badgeColor: controlsStatusColorMap">
                                    {{ row[col.cellValueKey] | otTranslate }}
                                </span>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="col.type === 'action'">
                <ot-data-table-column
                    [sortable]="false"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        thClass="float-col"
                        [thStyle]="{'width': 0}"
                        ></ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        tdClass="float-col"
                        [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                        >
                        <ot-context-menu
                            *ngIf="!row.viewOnly"
                            class="height-100 flex-full-height column-vertical-center"
                            position="bottom-right"
                            [type]="contextMenuType.Small"
                            [menu]="menuOptions"
                            >
                            <i class="ot ot-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let option"
                                (click)="option.action(row)">
                                {{ option.text }}
                            </a>
                        </ot-context-menu>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
</div>
