.cc-item-count-tile {

    &__container {
        flex: 1 1 33.33rem;
        flex-wrap: none;
        border-radius: 3px;
    }

    &__content-block {
        padding: 1rem;
        border-radius: 3px;
        margin: 2rem auto;
        width: 14rem;
        min-height: 11rem;
    }
}