.cc-scan-results {
    &__login-icon-not-created { color: $slate; }
    &__login-icon-verified,
    &__login-icon-not-verified { color: lighten($green, 10%); }
    &__login-icon-failed { color: darken($yellow, 5%); }
}

