<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ConsentModel' | otTranslate"
    [identifier]="'CookieConsentPolicyConsentStatusModalCloseButton'"
    (close)="closeModal()"
>
    <div class="padding-all-3">
        <div
            *ngFor="let status of consentStatuses"
            class="margin-bottom-2"
        >
            <label>{{status.label}}</label>
            <div>{{status.value}}</div>
        </div>
        <footer class="flex justify-center static-horizontal margin-top-3">
            <button
               otButton
               brand
               ot-auto-id="CookieConsentPolicyConsentStatusModalCancelButton"
               [innerText]="'Close' | otTranslate"
               (click)="closeModal()"
           ></button>
       </footer>
    </div>

</one-modal-base>
