.question-modal {

    &__form {
        padding: 1rem .5rem 0;
        max-width: 100%;
    }

    &__configuration {
        flex: 1 1 50%;
        border-right: 1px solid $grey-1;
        overflow-y: auto;
    }

    &__preview {
        flex: 1 1 50%;

        &-question {
            background-color: $paper-gray;
            overflow-y: auto;
            border-radius: 3px;
        }
    }

    &__label {
        flex: 1 1 30%;
    }

    &__input {
        width: 100%;

        &-container {
            flex: 1 1 70%;
            min-width: 1px;
        }
    }

    &__question-option {
        min-height: 3.8rem;
    }

    &__option-input {
        border: none;
    }

    &__option-delete {
        flex: 0 1 auto;
        padding: 0.8rem 1.5rem;
        background-color: $light-red;
        color: $white;
        border: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &__footer {
        padding: 2rem 0 .5rem;
        border-top: 1px solid $grey-1;
    }
}
