<ot-modal-header (close)="closeModal()">
    <div>{{ "SelectFieldsToDisplay" | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height overflow-x-hidden">
    <ot-loading
        otPageLoading
        class="column-picker-modal__loading relative"
        *ngIf="!ready"
        >
    </ot-loading>
    <list-manager
        class="flex-full-height"
        *ngIf="ready"
        [activeList]="activeColumns"
        [inactiveList]="inactiveColumns"
        [activeLabel]="'VisibleFields' | otTranslate"
        [inactiveLabel]="'AvailableFields' | otTranslate"
        [labelKey]="'name'"
        [translationKey]="'translationKey'"
        [wrapperClass]="'column-picker-modal__manager'"
        (handleChange)="handleChange($event)"
        >
    </list-manager>
</ot-modal-content>
<ot-modal-footer>
    <button
        class="margin-right-1"
        otButton
        ot-auto-id="columnPickerCancelBtn"
        (click)="closeModal()"
        >
        {{ "Cancel" | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="columnPickerSaveBtn"
        (click)="apply()"
        >
        {{ "Apply" | otTranslate }}
    </button>
</ot-modal-footer>
