.modal
    script(type='text/ng-template', id='CertificateUploadModal.html')

        section.directory-add-modal
            .modal-header
                h3.modal-title.align-left
                    | {{ ::$root.t("Settings.UploadCertificate") }}
                h3.modal-title.align-right(ng-click='cancelCertificateModal()')
                    span.ot.ot-times
            .modal-body
                form.directory-add-modal__form(name='create')
                    .directory-add-modal__form__group
                        label.add-section__label(for='Data')
                            | {{ ::$root.t("File") }}
                            sup.fa.fa-asterisk.add-section__required
                        file-input(
                            input-class='one-input full-width file',
                            accept='',
                            done='certificateSelected(files)',
                            name='Data',
                            required='')
                        p.directory-add-modal__error(ng-if='(create.Data.$touched || create.Data.$dirty) && (create.Data.$errors.$required || create.Data.$errors.$required)')
                            | {{ ::$root.t("Settings.PleaseSelectACertificateFile_") }}
                    .directory-add-modal__form__group
                        label.add-section__label(for='Password')
                            | {{ ::$root.t("Password") }}
                        input.one-input.full-width(
                            type='password',
                            ng-model='certificateFile.Password ',
                            name='Password',
                            ng-maxlength='100',
                            placeholder='{{::$root.t("EnterPassword")}}')

            .modal-footer.directory-add-modal__btn
                button.directory-add-modal__btn--cancel(type='button', ng-click='cancelCertificateModal()')
                    |  {{ ::$root.t("Cancel") }}
                button.directory-add-modal__btn--submit(
                    type='submit',
                    ng-disabled='create.$invalid',
                    ng-click='uploadCertificate()')
                    span(ng-if='!vm.Disabled')  {{ ::$root.t("Settings.Upload") }}
                    span(ng-if='vm.Disabled')
                        loading(ng-if='true', show-text='false')
