&__body {
    height: calc(100% - 5rem);
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    overflow-y: auto;
    color: $slate;

    @media(min-width: $small){
        max-width: 85%;
    }

    &__section {
        display: flex;
        flex-flow: column nowrap;
        &-title {
            margin-bottom: 1rem;
            display: block;
            font-size: 2.5rem;
            font-weight: 100;
            border-bottom: solid 1px $grey-3;
        }

        &-info {
            margin-left: 0.6rem;
            font-size: 1.4rem;
        }

        &__content {
            margin: 1rem 2rem;
            &-title {
                font-size: 1.75rem;
                font-weight: 100;
            }
        }
    }
}
