//////////////////////////////////////////////////////////////////////////////////////////////
// Data Mapping Settings
//////////////////////////////////////////////////////////////////////////////////////////////
.dm-settings {
    height: 100%;
    padding: 0;
    background: $white;

    @import 'body';

}
