<ot-modal-header (close)="cancel()">
    <div>{{ otModalData.title | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    class="flex-full-height"
    [style.min-height.rem]="otModalData.isNew? 30 : null"
    >
    <div class="overflow-y-auto flex-full-height">
        <div
            otFormElement
            class="padding-left-right-2 padding-top-2"
            [tooltip]="'EliminateSectionHeader' | otTranslate"
            tooltipPosition="top-left"
            [label]="'SectionName' | otTranslate "
            >
            <input
                otInput
                class="full-width"
                ot-auto-id="PDFSectionName"
                [placeholder]="'SectionName' | otTranslate"
                [ngModel]="otModalData.sectionName"
                (ngModelChange)="handleSectionNameChange($event)"
            />
        </div>
        <div
            otFormElement
            *ngIf="otModalData.isNew"
            class="padding-left-right-2 padding-top-2"
            [label]="'sectionType' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="PDFSectionType"
                [options]="sectionTypeOptions || []"
                [model]="selectedSectionType"
                (onSelect)="handleSectionTypeChange($event)"
                >
            </ot-picklist>
        </div>
        <div
            otFormElement
            *ngIf="selectedSectionType && selectedSectionType.value === pdfSectionTypes.AssessmentQuestion && otModalData.isNew"
            class="padding-left-right-2 padding-top-2"
            >
            <div class="margin-left-right-1 padding-top-1 row-nowrap">
                <ot-checkbox
                    ot-auto-id="PDFSectionModelIncludeAllQuestions"
                    [checked]="includeAllQuestions"
                    (toggle)="includeAllQuestions = !includeAllQuestions"
                    >
                </ot-checkbox>
                <label class="text-normal">{{ 'IncludeAllQuestions' | otTranslate }}</label>
            </div>
        </div>
        <div
            otFormElement
            *ngIf="selectedSectionType && selectedSectionType.value === pdfSectionTypes.AssessmentQuestion"
            class="padding-left-right-2 padding-top-2"
            [tooltip]="'SelectAtLeastOneOption' | otTranslate"
            tooltipPosition="top-left"
            [label]="'SectionOption' | otTranslate"
            >
            <div>
                <div
                    *ngFor="let option of questionSectionOptions;"
                    class="margin-left-right-1 padding-top-1 row-nowrap"
                    >
                    <ot-checkbox
                        [attr.ot-auto-id]="'PDFSectionModel_' + option"
                        [checked]="selectedQuestionSectionOptions[option]"
                        (toggle)="toggleSectionOption(option)"
                        >
                    </ot-checkbox>
                    <label class="text-normal">{{ sectionOptionTranslationKeys[option] | otTranslate }}</label>
                </div>
            </div>
        </div>
        <div
            otFormElement
            *ngIf="selectedSectionType && selectedSectionType.value === pdfSectionTypes.AssessmentAllQuestions"
            class="padding-left-right-2 padding-top-2"
            [tooltip]="'SelectAtLeastOneOption' | otTranslate"
            tooltipPosition="top-left"
            [label]="'SectionOption' | otTranslate"
            >
            <div>
                <div
                    *ngFor="let option of questionSectionOptions;"
                    class="margin-left-right-1 padding-top-1 row-nowrap"
                    >
                    <ot-checkbox
                        [attr.ot-auto-id]="'PDFSectionModel_' + option"
                        [checked]="selectedQuestionSectionOptions[option]"
                        (toggle)="toggleSectionOption(option)"
                        >
                    </ot-checkbox>
                    <label class="text-normal">{{ sectionOptionTranslationKeys[option] | otTranslate }}</label>
                </div>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        class="margin-right-1"
        otButton
        ot-auto-id="PDFAddSectionCancelBtn"
        (click)="cancel()"
        >
        {{ "Cancel" | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="PDFAddSectionSaveBtn"
        [disabled]="isDisabled"
        [loading]="isSaving"
        (click)="save()"
        >
        {{ "Save" | otTranslate }}
    </button>
</ot-modal-footer>
