<section
    class="padding-all-3 full-width column-horizontal-center">
    <h1 class="text-center margin-top-3 margin-bottom-0 heading1 text-thin">
        {{collectionPoint.Name}}
    </h1>
    <p class="text-center text-small text-uppercase">
        {{collectionPointConsentType}}
    </p>
    <p class="text-center text-italic margin-all-2">
        {{'PreviewDisclaimer'| otTranslate}}
    </p>
    <div
        class="position-relative"
        *ngIf="!testTransactionTriggered && !updateInProgress"
        >
        <div
            class="margin-top-bottom-4 width-50-rem margin-left-right-auto"
            >
            <label
                class="slds-form-element__label form-element-label-override"
                [attr.for]="identifierId"
                >
                <abbr                    
                    class="slds-required"
                    title="required"
                >*</abbr>
                {{previewLabel}}
            </label>
            <input otInput required autofocus
                class="one-input"
                ot-auto-id="ConsentTestIdentifierInput"
                [id]="identifierId"
                [ngModel]="testIdentifier"
                (ngModelChange)="onIdentifierChange($event)"
                />
        </div>

        <cr-collection-point-preview-table
            *ngIf="isExplicitConsent && collectionPoint.Purposes"
            [purposes]="collectionPoint.Purposes"
            (onUpdate)="updatePayload($event)"
        ></cr-collection-point-preview-table>
        <div class="text-center">
            <p class="text-center">
                <a [href]="collectionPoint.PrivacyPolicyUrl || undefined" target="_blank">
                    {{'SubjectToTermsOf'| otTranslate}}
                </a>
            </p>
            <input type="hidden" id="confirmation" value="" />
            <button otButton brand
                class="block margin-left-right-auto margin-top-2"
                ot-auto-id="previewTrigger"
                [id]="triggerId"
                [innerText]="'Send' | otTranslate"
                [disabled]="!testIdentifier"
                (click)="previewTriggerClicked()"
            ></button>
        </div>
    </div>
    <div *ngIf="testTransactionTriggered" class="column-horizontal-center">
        <div *ngIf="testTransactionId">
            {{'ReceiptId'| otTranslate}}:
            <a (click)="goToTransactionList()">
                {{testTransactionId}}
            </a>
        </div>
        <div *ngIf="!testTransactionId">
            {{'ReceiptNotSent'| otTranslate}}
        </div>
        <button otButton brand
            class="margin-all-2 text-center block"
            ot-auto-id="ConsentPreviewBackButton"
            [innerText]="'GoBack' | otTranslate"
            (click)="goBackClicked()"
        ></button>
    </div>
</section>