.preview-tooltip {
    color: $black;
    padding: .8rem;
    transition: opacity .6s;
    left: 40rem;

    &::before {
        content: ' ';
        display: block;
        background: inherit;
        width: 1rem;
        height: 1rem;
        position: absolute;
        transform: rotate(45deg);
        left: -.3rem;
        top: 50%;
        margin-top: -.5rem
    }

    &--visible {
        visibility: visible;
        opacity: .9
    }
}
