.incident-attachment-modal {
    .drop-container {
        height: 15rem;
        border: 2px dashed $platinum;
    
        &.hovering {
            border: 2px solid rgba($blue, 1.0);
            background-color: $active-blue;
        }
    }
}
