<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddFiles' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    class="incident-attachment-modal">

    <div otFileDragDrop
        [multiple]="false"
        class="drop-container margin-bottom-2 column-horizontal-vertical-center"
        [allowedExtensions]="allowedExtensions"
        [ngClass]="{'border-has-error': fileSizeError}"
        [class.hovering]="isHovering"
        (filesDropped)="handleFiles($event)"
        (filesHovered)="handleFilesHover($event)"
        (filesInvalid)="handleInvalidFiles($event)"
        >
        <div class="column-space-between-center">
            <div><b>{{ 'DragImportRoleAttachmentText' | otTranslate }}</b></div>
            <div>{{ 'AcceptedFileSize' | otTranslate: { size: '64MB' } }}</div>
            <input #fileSelect
                otFileSelect
                [multiple]="false"
                class="invisible"
                type="file"
                [allowedExtensions]="allowedExtensions"
                (filesSelected)="handleFiles($event)"
                (filesInvalid)="handleInvalidFiles($event)"
                />
            <button otButton brand
                ot-auto-id="IncidentAttachmentFileModalTriggerFileSelect"
                [disabled]="files.length"
                (click)="triggerFileSelect()"
                >{{ 'Add' | otTranslate }}
            </button>
        </div>
    </div>

    <div class="margin-bottom-2">
        <ng-container *ngFor="let file of files; let index = index">
            <div class="row-space-between-center text-bold border-bottom padding-bottom-1">
                <span>{{file.name}}</span>
                <i class="ot ot-close cursor-pointer" (click)="removeFile(index)"></i>
            </div>
        </ng-container>
    </div>

    <div *ngIf="files.length">
        <div
            otFormElement
            class="margin-bottom-1 text-left"
            [label]="'Name' | otTranslate"
            [required]="true"
            >
            <input
                otInput
                maxlength="100"
                ot-auto-id="IncidentAddFileName"
                [ngClass]="{'border-has-error': hasError && !fileName}"
                [(ngModel)]="fileName"
                [placeholder]="'FileName' | otTranslate"
                />
        </div>
        <div
            otFormElement
            class="text-left margin-bottom-1"
            [label]="'Description' | otTranslate"
            >
            <textarea
                otTextarea
                ot-auto-id="IncidentAddFileDescription"
                [ngClass]="{'border-has-error': hasError && !fileDescription}"
                [(ngModel)]="fileDescription"
                [placeholder]="'Description' | otTranslate"
            ></textarea>
        </div>
    </div>
</ot-modal-content>

<ot-modal-footer>
    <button otButton
        ot-auto-id="IncidentAttachmentFileModalCancel"
        [disabled]="isSavingFile"
        (click)="closeModal()"
        >{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton neutral
        ot-auto-id="IncidentAttachmentFileModalSaveAdd"
        [loading]="isSavingFile === saveType.SaveAddNew"
        [disabled]="disableSaveButton()"
        (click)="onSave(saveType.SaveAddNew)"
        >{{ 'SaveAndAddNew' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="IncidentAttachmentFileModalSave"
        [loading]="isSavingFile === saveType.Save"
        [disabled]="disableSaveButton()"
        (click)="onSave(saveType.Save)"
        >{{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
