<div class="row-wrap padding-bottom-1">
    <div
        otFormElement
        class="padding-right-1 flex-grow-1"
        [label]="'Section' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="TemplateConditionsSectionSelectionDropdown"
            [placeholder]="'Section' | otTranslate"
            [valueKey]="'id'"
            [labelKey]="'name'"
            [autoClose]="true"
            [options]="nextSections"
            [model]="selectedSection"
            [disabled]="isPreviewMode"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onSectionSelected($event)"
        ></ot-picklist>
    </div>
    <div
        otFormElement
        class="flex-grow-1 max-width-full"
        [label]="'Question' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="TemplateConditionsQuestionSelectionDropdown"
            [placeholder]="'Question' | otTranslate"
            [valueKey]="'id'"
            [labelKey]="'content'"
            [autoClose]="true"
            [options]="nextQuestions"
            [model]="selectedQuestion"
            [disabled]="isPreviewMode"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onQuestionSelected($event)"
        ></ot-picklist>
    </div>
</div>
