.one-button {
    border-radius: 2px;
    border: 1px solid $grey-3;
    background-color: $white;
    color: $slate;
    padding: 0.8rem 1.8rem;

    &:focus {
        outline: 0;
        border-color: darken($grey-3, 10%);
        color: $slate;
    }

    &__container {
        position: relative;
    }

    &__loading {
        position: absolute;
        font-size: 2rem;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform-origin: 50% 44.5%;

        &.ng-leave.ng-leave-active {
            display: none !important;
        }
    }

    &:hover {
        border: 1px solid $grey-3;
        color: darken($slate, 10%);
    }

    &:disabled,
    &[disabled],
    [disabled] & {
        opacity: 1;
        pointer-events: none;
        background-color: $grey-2;
        cursor: not-allowed !important;
    }

    &--slim {
        padding: .8rem 1rem;
    }

    &--small {
        padding: 0.5rem 1.5rem;
    }

    &--green-icon {
        i {
            color: $green;
        }
    }

    &--red-icon {
      i {
          color: $cherry;
      }
    }

    &--select {
        &:active,
        &:focus,
        &:hover {
            color: inherit;
            background-color: inherit;
        }

        &:hover {
            background-color: $eggshell;
        }

        &.selected {
            background-color: $ui-blue;
            border-color: $ui-blue;
            color: $white;
            font-weight: bold;

            &:focus {
                border-color: darken($ui-blue, 10%);
                color: $white;
            }

            &:hover {
                background-color: lighten($ui-blue, 10%);
                border-color: lighten($ui-blue, 10%);
            }

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: lighten($ui-blue, 25%);
                border-color: lighten($ui-blue, 25%);
            }
        }

    }

    &--grey {
        background-color: $paper-gray;
        border: 1px solid $very-light-gray;
        color: $slate;
        font-weight: bold;

        &.selected {
            background-color: $grey-1;
            border: 1px solid $grey-3;
            color: $slate;
            font-weight: bold;

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: lighten($slate, 25%);
                border: 1px solid lighten($slate, 25%);
            }
        }
    }

    &--radio {
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
        padding: 0;
        border-radius: 50%;
        border: solid 1px $ui-blue;
        color: transparent;

        .one-button__container {
            height: 1.9rem;
            width: 1.9rem;
            display: inline-block;
        }

        &:focus {
            border-color: darken($ui-blue, 10%);
        }

        &:active,
        &:focus,
        &:hover {
            background-color: inherit;
            color: transparent;
        }

        &:hover {
            border-color: lighten($ui-blue, 10%);
        }

        &.selected {
            background-color: $white;
            color: $ui-blue;
            font-weight: bold;

            &:hover,
            &:focus {
                color: lighten($ui-blue, 10%);
            }

            &:disabled,
            &[disabled],
            [disabled] & {
                color: lighten($ui-blue, 25%);
            }
        }
    }

    &--primary {
        background-color: $ui-blue;
        color: $white;
        font-weight: bold;
        border: 1px solid darken($ui-blue, 10%);

        &:focus {
            border-color: darken($ui-blue, 20%);
            color: $white;
        }

        i {
            color: $white;
        }

        &:hover {
            background-color: lighten($ui-blue, 10%);
            border-color: $ui-blue;
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            background-color: lighten($ui-blue, 25%);
            border-color: lighten($ui-blue, 25%);
            pointer-events: none;
            opacity: 1;

            i {
                color: $white;
            }
        }
    }

    &--cta {
        background-color: $green;
        color: $white;
        font-weight: bold;
        border: 1px solid $green;

        &:focus {
            border-color: darken($green, 10%);
            color: $white;
        }

        i {
            color: $white;
        }

        &:hover {
            background-color: darken($green, 5%);
            border-color: darken($green, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;
            background-color: $grey-4;

            i {
                color: $slate;
            }
        }
    }

    &--warning {
        background-color: $risk-medium;
        color: $white;
        font-weight: bold;
        border: 1px solid $risk-medium;

        &:focus {
            border-color: darken($risk-medium, 10%);
            color: $white;
        }

        i {
            color: $white;
        }

        &:hover {
            background-color: lighten($risk-medium, 10%);
            border-color: lighten($risk-medium, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            background-color: $grey-4;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;

            i {
                color: $slate;
            }
        }
    }

    &--other {
        background-color: $admiral-blue;
        color: $white;
        font-weight: bold;
        border: 1px solid $admiral-blue;

        &:focus {
            border-color: lighten($admiral-blue, 10%);
            color: $white;
        }

        i {
            color: $white;
        }

        &:hover {
            background-color: lighten($admiral-blue, 10%);
            border-color: lighten($admiral-blue, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            background-color: $grey-4;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;

            i {
                color: $slate;
            }
        }
    }

    &--rounded-green {
        color: $green;
        border-color: $green;
        border-radius: 2rem;

        &:focus {
            border-color: darken($green, 10%);
            color: $green;
        }

        &:active,
        &:focus,
        &:hover {
            color: $white;
            background-color: inherit;
        }

        &:hover {
            background-color: $green;
        }
    }

    &--danger {
        background-color: $light-red;
        color: $white;
        font-weight: bold;
        border: 1px solid $light-red;

        &:focus {
            border-color: darken($light-red, 10%);
            color: $white;
        }

        i {
            color: $white;
        }

        &:hover {
            background-color: darken($light-red, 5%);
            border-color: darken($light-red, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;
            background-color: $grey-4;

            i {
                color: $slate;
            }
        }
    }

    &--circular {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        padding: 0;
    }

    &--small-circular {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        padding: 0;
    }

    &--rounded {
        min-width: 4rem;
        border-radius: 2rem;
    }

    &--no-border {
        border: none;
        &:hover {
            border: none;
        }
    }

    &--thin {
        padding: .5rem 1rem;
    }

    &--small {
        padding: .4rem .9rem;
    }

    &--floating {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        }
    }

    &--tab {
        max-width: 12rem;
        padding: .1rem 2rem;
        min-height: 2.5rem;
        border-radius: .3rem .3rem 0rem 0rem;
        border-bottom: none;
    }

    &--flat {
        background: none;
        border: none;
        &:hover {
            border: none;
        }
    }

    &--padding-0 {
        padding: 0;
    }

    &--padding-half {
        padding: 0.5rem;
    }

}

.one-button-group {
    display: flex;
    min-width: 1px;

    one-button {
        float: left;
        min-width: 1px;
        flex: 0 1 auto;

        &:first-child:not(:last-child) {
            .one-button {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }

        &:not(:first-child):not(:last-child) {
            .one-button {
                border-radius: 0;
            }
        }

        &:last-child:not(:first-child) {
            .one-button {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }

        &+one-button {
            .one-button {
                margin-left: -1px;
            }
        }
    }
}
