<section class="gra-report-question-summary padding-top-bottom-1">
    <div class="gra-report-question-summary_row
                paragraph-medium-small
                background-grey
                margin-top-bottom-1
                text-bold
                flex
                align-center
                padding-all-1
                full-width">
        <p class="gra-report-question-summary__status cell-width-xsmall text-center">{{ 'Status' | translate}}</p>
        <p
            class="cell-width-huge text-center"
            [ngClass]="showApplicableLaws ? 'gra-report-question-summary__question' : 'gra-report-question-summary__question-RA'"
        >{{ 'Question' | translate}}</p>
        <p
            *ngIf="showApplicableLaws"
            class="gra-report-question-summary__applicable-laws cell-width-large text-center">{{ 'ApplicableLaws' | translate}}</p>
        <p
            class="cell-width-xlarge text-center"
            [ngClass]="showApplicableLaws ? 'gra-report-question-summary__answer' : 'gra-report-question-summary__answer-RA'"
        >{{ 'Answer' | translate}}</p>
        <p class="gra-report-question-summary__gap-recommendation cell-width-xlarge text-center">{{ 'GapRecommendation' | translate}}</p>
    </div>
    <div class="gra-report-question-summary_row flex align-center full-width padding-left-right-2"
        *ngFor="let question of questionSummary; trackBy: trackByQuestionId"
        >
        <p class="gra-report-question-summary__status cell-width-xsmall flex-grow-1 text-center">
            <ng-container [ngSwitch]="question.status">
                <i *ngSwitchCase="'UNANSWERED'" class="ot ot-question text-color-default"></i>
                <i *ngSwitchCase="'ANSWERED'" class="ot ot-check-circle-o color-green"></i>
                <i *ngSwitchCase="'RISK_FOUND'" class="ot ot-times-circle text-error"></i>
            </ng-container>
        </p>
        <p
            class="cell-width-huge text-center"
            [ngClass]="showApplicableLaws ? 'gra-report-question-summary__question' : 'gra-report-question-summary__question-RA'"
        >{{ question.questionName }}</p>
        <p
            *ngIf="showApplicableLaws"
            class="gra-report-question-summary__applicable-laws cell-width-large text-center">{{ question.laws }}</p>
        <p
            class="cell-width-xlarge text-center"
            [ngClass]="showApplicableLaws ? 'gra-report-question-summary__answer' : 'gra-report-question-summary__answer-RA'"
        >{{ question.response }}</p>
        <p class="gra-report-question-summary__gap-recommendation cell-width-xlarge text-center">{{ question.recommendation }}</p>
    </div>
</section>
