.gra-report-question-summary {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &_row:nth-child(odd) {
        background-color: $paper-gray;
    }

    &__status {
        width: 10%;
    }

    &__question,
    &__applicable-laws,
    &__answer {
        width: 20%;
    }

    &__question-RA,
    &__answer-RA,
    &__gap-recommendation {
        width: 30%;
    }
}
