<div class="empty-state">
    <img
        class="empty-state__image block margin-0-auto"
        *ngIf="showImage"
        [src]="imagePath"
        />
    <h2 *ngIf="!hideMessage" class="empty-state__message text-center text-bold text-medium-small margin-top-1 color-slate">
        {{emptyStateMessage}}
    </h2>
    <div class="row-horizontal-center margin-top-1" *ngIf="showButton && actionText && actionCallback.observers.length">
        <button otButton brand
            *ngIf="isActionEnabled"
            [attr.ot-auto-id]="actionButtonId"
            [innerText]="actionText"
            (click)="actionCallback.emit()"
            >
        </button>
    </div>
</div>
