<section
    class="inventory-list height-100 column-nowrap"
    *ngIf="viewReady"
    >
    <ot-page-header
        class="inventory-list__header static-vertical"
        [ngClass]="{'background-active': bulkEditMode}"
        [title]="name"
        >
        <div *ngIf="!bulkEditMode">
            <button
                otButton
                brand
                class="margin-right-1"
                *ngIf="inventoryPermissions.canAdd"
                [attr.ot-auto-id]="'inventoryAddNewBtn'"
                (click)="addNewRecord()"
                >
                {{ 'AddNew' | otTranslate }}
            </button>
            <button
                otButton
                neutral
                *ngIf="exportOptions.length > 0"
                [attr.ot-auto-id]="'inventoryExport'"
                [loading]="isExporting"
                [disabled]="isExporting"
                (click)="exportOptions[0].action()"
                >
                {{ 'Export' | otTranslate }}
            </button>
        </div>
        <div
            class="row-vertical-center"
            *ngIf="bulkEditMode"
            >
            <span class="color-accent-blue text-bold column-nowrap text-center">
                {{selectedCount}} {{ "Selected" | otTranslate }}
            </span>
            <div class="margin-left-2">
                <button otButton neutral
                    class="margin-right-2"
                    ot-auto-id="inventoryBulkDeleteButton"
                    *ngIf="inventoryPermissions.canDelete"
                    icon="ot ot-trash"
                    [otTooltip]="{content: 'DeleteInventoryRecordsDescription' | otTranslate, placement: 'bottom-end'}"
                    (click)="handleBulkDelete()"
                    >
                </button>
            </div>
            <div class="padding-left-2 border-left">
                <button otButton neutral
                    icon="ot ot-close"
                    position="bottom-right"
                    (click)="toggleAllRecordsSelected(false)"
                    >
                </button>
            </div>
        </div>
    </ot-page-header>
    <div class="inventory-list__sub-header background-grey border-bottom full-width padding-top-bottom-half padding-left-right-2">
        <div class="inventory-list__sub-header--actions full-width row-vertical-center justify-end">
            <ot-search-input
                class="inventory-list__search"
                name="InventorySearchRecord"
                [attr.ot-auto-id]="'InventorySearchRecord'"
                [model]="currentSearchTerm"
                [placeholder]="'SearchByName' | otTranslate"
                [debounce]="250"
                (search)="handleSearch($event)"
            ></ot-search-input>
            <button
                otButton
                class="margin-left-1"
                *ngIf="viewReady"
                [select]="showingFilteredResults"
                [attr.ot-auto-id]="'InventoryListFilterDrawerToggle'"
                [icon]="'ot ot-filter'"
                (click)="toggleFiltersDrawer()"
            >
            </button>
        </div>
    </div>
    <section otDrawerContainer class="stretch-vertical flex-full-height column-nowrap background-white">
        <div class="overflow-y-auto stretch-vertical" *ngIf="!isLoading && table.rows.length">
            <div class="position-relative">
                <inventory-table-new
                    [rows]="table.rows"
                    [columns]="table.columns"
                    [permissions]="inventoryPermissions"
                    [bulkEditMode]="bulkEditMode"
                    [allRowsSelected]="allRowsSelected"
                    [inventoryId]="inventoryId"
                    (deleteRecord)="handleDelete($event)"
                    (viewRecord)="toggleAttributeDrawer($event)"
                    (launchRecord)="handleBulkLaunch($event)"
                    (copyRecord)="handleCopy($event)"
                    (launchInventoryAssessment)="handleLaunchInventoryAssessment($event)"
                    (handleRowSelection)="toggleRecordSelection($event)"
                    (handleAllRowsSelection)="toggleAllRecordsSelected($event)"
                    (addRisk)="openRiskModal($event)"
                    (editRecord)="toggleAttributeDrawer($event, true)"
                    (goToRoute)="goToRoute($event)"
                    (addAssessmentLink)="addAssessmentLink($event)"
                    (changeRecordStatus)="changeRecordStatus($event)"
                    (viewRecordRisks)="viewRecordRisks($event)"
                    >
                </inventory-table-new>
            </div>
        </div>
        <one-empty-state
            class="flex-full-height justify-center text-center padding-all-2"
            *ngIf="!isLoading && !table.rows.length"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            [actionText]="'AddNew' | otTranslate"
            [actionButtonId]="'InventoryAddNewButtonFromTable'"
            (actionCallback)="addNewRecord()"
            >
        </one-empty-state>
        <upgraded-loading
            class="margin-all-auto"
            *ngIf="isLoading"
            >
        </upgraded-loading>
        <footer
            class="min-height-7 static-vertical border-top row-vertical-center"
            *ngIf="table?.metaData?.totalElements"
            >
            <ot-pagination
                class="static-vertical margin-top-bottom-2 margin-left-right-1"
                [currentPage]="table.metaData.number + 1"
                [numPages]="table.metaData.totalPages"
                (pageChanged)="getPage($event - 1)"
                >
            </ot-pagination>
            <span>{{ table.metaData | otPageMeta }}</span>
        </footer>
        <ot-drawer
            class="inventory-list__drawer border-left position-absolute background-grey top-0 flex-full-height overflow-y-hidden"
            [open]="isAttributeDrawerOpen || isFilterDrawerOpen"
            >
            <div class="row-vertical-center margin-all-2 static-vertical">
                <i
                    class="side-drawer__icon ot ot-arrow-circle-o-right"
                    ot-auto-id="InventoryListCloseSidebarBtn"
                    role="button"
                    (click)="toggleAttributeDrawer()"
                    >
                </i>
                <span class="side-drawer__close-text margin-left-1">{{'Close' | otTranslate}}</span>
            </div>
            <div
                class="column-nowrap full-size overflow-y-auto stretch-vertical inventory-list__details-wrapper"
                *ngIf="isAttributeDrawerOpen"
                >
                <div class="text-bold text-large padding-left-2 padding-bottom-1">{{drawerHeader}}</div>
                <inventory-form
                    class="inventory-list__details-form padding-left-right-2 column-nowrap stretch-vertical overflow-y-scroll padding-bottom-2"
                    *ngIf="!allowV1Details[inventoryId]"
                    [isEditable]="inventoryPermissions?.canEdit && currentRecord?.isEditable && !currentRecord?.assessmentOutstanding"
                    [inventoryId]="schemaIds[inventoryId]"
                    [scrollParentClass]="'inventory-list__details-form'"
                    [recordId]="currentRecordId"
                    >
                </inventory-form>
                <inventory-attribute-details
                    class="column-nowrap stretch-vertical margin-left-right-2"
                    *ngIf="allowV1Details[inventoryId]"
                    [canEdit]="inventoryPermissions?.canEdit && currentRecord?.canEdit && !currentRecord?.assessmentOutstanding"
                    [isEditing]="recordEditEnabled"
                    [isReady]="drawerReady"
                    [columnClass]="'flex-full-100 padding-right-2'"
                    [backgroundClass]="'background-grey'"
                    [isDisabled]="savingRecord"
                    [context]="context"
                    (toggleEdit)="toggleEdit()"
                    >
                </inventory-attribute-details>
            </div>
            <inventory-list-filter
                *ngIf="drawerReady && isFilterDrawerOpen"
                class="flex-full-height"
                [isV2Filter]="false"
                [filtersOpen]="isFilterDrawerOpen"
                (applyFilters)="applyFilters($event)"
                (cancel)="toggleFiltersDrawer()"
                >
            </inventory-list-filter>
            <footer
                otPageFooter
                *ngIf="
                    drawerReady &&
                    inventoryPermissions.canEdit &&
                    (currentRecord?.isEditable || currentRecord?.canEdit)
                    && !currentRecord?.assessmentOutstanding &&
                    isAttributeDrawerOpen
                    "
                >
                <button
                    otButton
                    neutral
                    class="margin-left-1"
                    [attr.ot-auto-id]="'cancelSaveInventoryDetails'"
                    [disabled]="!hasEdits || savingRecord"
                    (click)="saveCancelled()"
                    >
                    {{ "Cancel" | otTranslate }}
                </button>
                <button
                    otButton
                    brand
                    class="margin-left-1"
                    [attr.ot-auto-id]="'saveInventoryDetails'"
                    [disabled]="!hasEdits || savingRecord || !requiredFieldsValid || !usersValid"
                    [loading]="savingRecord"
                    (click)="saveRecord()"
                    >
                    {{ "Save" | otTranslate }}
                </button>
            </footer>
        </ot-drawer>
    </section>
</section>
<ot-loading
    otPageLoading
    *ngIf="!viewReady"
    >
</ot-loading>
