<table
    otDataTable
    class="border-top-none"
    [colBordered]="colBordered"
    [resizableCol]="resizableCol"
    [responsiveTable]="responsiveTable"
    [rowBordered]="rowBordered"
    [rowData]="rows"
    [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': checkIfRowIsDisabled, 'slds-is-selected': checkIfRowIsSelected }"
    [rowNoHover]="rowNoHover"
    [rowStriped]="rowStriped"
    [sortKey]="sortData?.sortedKey"
    [sortOrder]="sortData?.sortOrder"
    [sortable]="sortable"
    [truncateCellContent]="truncateCellContent"
    [wrapCellContent]="wrapCellContent"
    (sortChanged)="handleSortChange($event)"
    >
    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
        <ot-data-table-column
            [headerLabel]="col.name | translate"
            [sortable]="col.sortKey ? sortable : false"
            [sortKey]="col.sortKey"
            [column]="col"
            [classes]="'slds-grid slds-grid_align-center max-25'"
            >
            <ng-template otDataTableCell let-row="row" *ngIf="rows && rows.length" [tdClass]="'max-width-20'">
                <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="tableColumnTypes.Link">
                        <div class="slds-truncate text-bold" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                            <a [attr.ot-auto-id]="'ReadinessAssessmentListCellLink'" (click)="goToRoute(row)" title="{{row[col.valueKey]}}">{{row[col.valueKey]}}</a>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Date">
                        <div class="slds-truncate text-left">
                            <span>
                                <span>{{ row[col.valueKey] | otDate }}</span>
                            </span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnTypes.Text">
                        <div class="slds-truncate text-left">
                            <span>{{row[col.valueKey]}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>
        </ot-data-table-column>

        <ng-container *ngIf="col.type === 'action'">
            <ot-data-table-column
                [headerLabel]="col.name | translate"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.valueKey"
                [column]="col"
                >
                <ng-template
                    otDataTableHeader
                    [thClass]="'float-col'"
                    [thStyle]="{'width': 0}"
                ></ng-template>
                <ng-template
                    otDataTableCell
                    let-row="row"
                    [tdClass]="'float-col'"
                    >
                    <div class="flex height-100 align-center justify-center">
                        <ot-context-menu
                            [type]="menuType"
                            [position]="setMenuPosition(row)"
                            [menu]="row.dropDownMenu"
                            >
                            <i class="fa fa-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                (click)="handleMenuItemClicks(row, item.value)">
                                {{ item.text }}
                            </a>
                        </ot-context-menu>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
    </ng-container>

</table>
<ot-empty-state
    class="flex-full-height justify-center text-center margin-top-4"
    *ngIf="!rows || !rows.length"
    [emptyStateMessage]="'NoRecordsFound' | translate"
    >
    <img emptyStateImg />
</ot-empty-state>
