<ot-modal-header (close)="closeModal()">
    <div>{{ 'ReviewUpdates' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="aa-review-updates-modal flex max-height-50">
    <section
        *ngIf="loadingQuestions; else updatedQuestionsSection"
        class="stretch-vertical">
        <ot-loading otPageLoading></ot-loading>
    </section>
    <ng-template #updatedQuestionsSection>
        <ot-empty-state
            *ngIf="!questionsChanged?.length; else updatedQuestions"
            [emptyStateMessage]="'ReviewUpdatesDefaultMessage' | otTranslate">
            <img emptyStateImg />
        </ot-empty-state>
        <ng-template #updatedQuestions>
            <div class="stretch-horizontal padding-right-1">
                <div class="text-bold text-small">
                    {{'TotalUpdatesMade' | otTranslate}}: <span class="text-ui-blue">{{questionsChanged.length}}</span>
                </div>
                <div class="text-bold text-small">
                    {{'ModifyAnswersForUpdatedQuestions' | otTranslate}}
                </div>
                <section class="overflow-y-auto overflow-x-hidden padding-top-1">
                    <div
                        *ngFor="let question of questionsChanged;"
                        class="padding-all-half border-bottom cursor-pointer"
                        ot-auto-id="AAReviewUpdatesSections">
                        <div class="height-36">
                            <span
                                class="text-bold text-medium margin-bottom-1 align-left"
                                [ngClass]="{'strikethrough': question.deleted}">
                                {{question.sectionIndex}}.{{question.questionIndex}}
                            </span>
                            <span class="align-right">
                                <a
                                    *ngIf="!(question.deleted || question.disabled)"
                                    class="text-bold text-ui-blue"
                                    ot-auto-id="AAReviewUpdatesGoToQuestionLink"
                                    (click)="closeModalAndGoToQuestion(question)">
                                    {{'GoToQuestion' | otTranslate}}
                                </a>
                            </span>
                        </div>
                        <div otClipText
                            class="text-bold max-height-4"
                            [ngClass]="{'strikethrough': question.deleted}">
                            {{question.content}}
                        </div>
                        <div class="row-wrap">
                            <div
                                *ngFor="let change of question.changeTypes"
                                ot-auto-id="AAReviewUpdatesBadges"
                                class="margin-top-half margin-right-half">
                                <span [otBadge]="reviewUpdatesStatus[change].status">
                                    {{reviewUpdatesStatus[change].text | otTranslate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </ng-template>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="AAReviewUpdatesCloseButton"
        (click)="closeModal()">
        {{'Close' | otTranslate}}
    </button>
</ot-modal-footer>
