.aa-review-updates-modal {
    .clip-text {
        overflow: hidden;
        position: relative;
        text-align: justify;
        padding-right: 1rem;
    }

    .clip-text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    p {
        margin: 0;
    }

    .ot-empty-state {
        max-width: 60%;
    }
}
