<one-modal-base
    class="flex-full-height"
    [modalTitle]="'UpdateRecords' | otTranslate"
    (close)="closeModal()"
    >
    <form
        novalidate
        class="flex-full-height max-width-full margin-all-0 full-width padding-all-2"
        (ngSubmit)="submitChanges()"
        >
        <upgraded-one-numbered-circle
            class="block margin-top-1 margin-bottom-2 margin-left-right-auto align-self-center"
            circleClass="ot ot-exclamation"
            type="warning"
            size="large"
            >
        </upgraded-one-numbered-circle>
        <p
            class="text-center margin-bottom-2"
            [innerText]="modalData.warningMessage"
            >
        </p>
        <p
            class="text-center text-bold margin-bottom-4"
            [innerText]="'DoYouWantToContinue' | otTranslate"
            >
        </p>
        <footer class="static-vertical row-flex-end">
            <button
                class="margin-right-1 color-slate"
                type="button"
                otButton
                ot-auto-id="ConfirmUpdateCancelButton"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
                >
            </button>
            <button
                otButton
                brand
                type="submit"
                ot-auto-id="ConfirmUpdateSubmitButton"
                [innerText]="'Update' | otTranslate"
                >
            </button>
        </footer>
    </form>
</one-modal-base>
