<section class="dsar-request-queue-details height-100 column-nowrap">
    <ot-loading otPageLoading
        *ngIf="!ready"
    >
    {{ 'LoadingRequestQueueDetails' | otTranslate }}...
    </ot-loading>
    <div
        *ngIf="ready && !requestQueueDetails"
        class="height-100">
        <ot-empty-state [emptyStateMessage]="'NoRequestQueueDetails' | otTranslate">
            <img emptyStateImg />
        </ot-empty-state>
    </div>
    <div
        *ngIf="ready && requestQueueDetails"
        class="height-100"
        >
        <ot-page-header [title]="'DataSubjectRequestDetails' | otTranslate" >
            <span
                *ngIf="permissions?.HeaderSectionWithRequestDetails"
                class="margin-left-2"
                [otBadge]="requestQueueDetails?.status | dsarRequestStatusColor"
                [innerText]="requestQueueDetails?.statusLabel">
            </span>
            <ot-breadcrumb (routeClicked)="onRouteClick($event)">
                <ng-container *ngFor="let item of breadCrumbList">
                    <ot-breadcrumb-item
                        [attr.ot-auto-id]="item?.autoId"
                        [link]="item?.link"
                        [label]="item?.label | otTranslate"
                        [params]="item?.params"
                    ></ot-breadcrumb-item>
                </ng-container>
                <ot-breadcrumb-item
                    [label]="requestQueueDetails?.requestQueueRefId"
                ></ot-breadcrumb-item>
            </ot-breadcrumb>
            <ot-context-menu
                *ngIf="!taskMode"
                [type]="0"
                [menu]="actions"
                [position]="'bottom-right'"
                >
                <i class="fa fa-ellipsis-h"></i>
                <a *otContextMenuItem="let item"
                    (click)="handleActionClicks(item)"
                    >
                    {{ item.textKey }}
                </a>
            </ot-context-menu>
        </ot-page-header>
        <div class="dsar-request-queue-details__body row-nowrap background-white">
            <request-queue-detail-sidebar
                *ngIf="permissions.LeftColumnInDSRDetailPage"
            ></request-queue-detail-sidebar>
            <div class="column-nowrap full-size-block overflow-auto">
                <div class="background-white full-width">
                    <dsar-request-queue-detail-panel
                        *ngIf="permissions.HeaderSectionWithRequestDetails"
                        class="block overflow-x-auto margin-all-2"
                    ></dsar-request-queue-detail-panel>
                    <hr class="margin-top-bottom-1">
                    <dsar-request-queue-status-bar
                        *ngIf="!taskMode"
                        class="block padding-top-bottom-1"
                    ></dsar-request-queue-status-bar>
                    <dsar-request-queue-detail-body
                        class="block"
                        [permissions]="permissions"
                    ></dsar-request-queue-detail-body>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #SubtaskClosed>
    <ot-modal-header (close)="closeSubtaskModal()">
        <div>{{ 'SubtaskClosed' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <ot-confirm-modal-icon
            [type]="confirmModalType.DELETE"
        ></ot-confirm-modal-icon>
        <div class="text-center" [innerText]="'DSARSubtaskClosedDescription' | otTranslate"></div>
    </ot-modal-content>
    <ot-modal-footer>
        <button
            otButton brand
            ot-auto-id="DSARSubtaskCloseButton"
            (click)="closeSubtaskModal()"
            >
            {{ 'Close' | otTranslate }}
        </button>
    </ot-modal-footer>
</ng-template>
