<ot-modal-header (close)="closeModal(false)">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content class="margin-0 padding-bottom-5">
    <ot-confirm-modal-icon
        type="success"
        icon ="ot ot-circle ot-stack-2x text-success ot ot-upload ot-stack-1x ot-inverse"
    ></ot-confirm-modal-icon>
    <div class="text-center">
        <div class="text-bold"> {{otModalData.desc}}</div>
        <div class="text-bold margin-top-2">{{otModalData.dialog}}</div>
        <div class="margin-top-1">{{otModalData.confirm}}</div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        (click)="closeModal(false)"
    >
        {{ otModalData.cancel }}
    </button>
    <button otButton brand
        (click)="closeModal(true)"
    >
        {{ otModalData.submit }}
    </button>
</ot-modal-footer>
