<section class="question-types-selection height-100 overflow-y-auto overflow-x-hidden">
    <div
        class="row-space-between-center
            padding-all-1
            margin-bottom-1
            background-grey
            question-types-selection__header"
    >
        <div class="stretch-vertical text-large text-center">
            {{'QuestionTypes' | otTranslate}}
        </div>
    </div>
    <div class="question-types-selection__question-selection-list row-wrap background-white justify-center"
        [dndList]="{ allowedTypes: [ builderDraggableTypes.None ] }"
        [dndModel]="questionTypes"
    >
        <div
            class="question-types-selection__item
                border-grey
                background-grey
                text-color-default
                margin-all-1
                text-center
                cursor-pointer"
            *ngFor="let questionType of questionTypes; trackBy: trackByIndex"
            [dndType]="builderDraggableTypes.BuilderQuestionIcon"
            [dndDraggable]="{ effectAllowed: 'copy' }"
            [dndObject]="questionType"
        >
            <i class="question-types-selection__item-icon
                border-grey
                background-white
                text-xlarge
                border-round
                margin-all-1
                full-width
                inline-block ot {{questionType.icon}}"></i>
            <div
                class="question-types-selection__item-text
                    padding-bottom-half
                    text-center
                    text-wrap
                    text-xsmall
                    text-bold
                    margin-0-auto"
                [title]="questionType.label | otTranslate"
            >
                {{questionType.label | otTranslate}}
            </div>
        </div>
    </div>
</section>
