<div class="height-100 flex-full-width flex-full-height">
    <div class="height-100 flex overflow-hidden">
        <section class="show width-100-percent height-100 flex-full-width">
            <ng-content></ng-content>
        </section>
    </div>
</div>
