<div class="aa-question__personal-data padding-left-right-2 padding-top-1 padding-bottom-2 border-bottom">
    <div class="aa-question__personal-data-header row-space-between-center margin-right-2-half">
        <p class="text-bold margin-none">{{'DataSubjects' | otTranslate}}</p>
        <button
            otButton
            neutral
            ot-auto-id="AssessmentDetailQuestionPersonalDataAddSubjectButton"
            [disabled]="isDisabled"
            (click)="addPersonalData();"
        >
            {{'AddDataSubject' | otTranslate}}
        </button>
    </div>
</div>
<aa-invalid-response
        *ngIf="invalidResponses?.length"
        [question]="question"
        [responses]="invalidResponses"
        [valueKey]="'optionDisplay'"
        [wrapperClass]="'margin-bottom-1'"
></aa-invalid-response>
<ng-container *ngFor="let dataSubject of dataSubjectResponses; trackBy: trackByFn;">
    <div class="aa-question__personal-data padding-left-right-2 padding-top-bottom-1 margin-top-bottom-2 border border-radius background-grey">
        <div class="aa-question__personal-data-header row-space-between-center">
            <p class="text-bold margin-none">{{ dataSubject.name | otTranslate }}</p>
            <div>
                <button
                    otButton
                    neutral
                    ot-auto-id="AssessmentDetailQuestionPersonalDataAddElementsButton"
                    [disabled]="isDisabled"
                    (click)="editPersonalData(dataSubject, null)"
                >
                    {{'AddDataElements' | otTranslate}}
                </button>
                <i
                    *ngIf="!isDisabled && dataSubjectResponses"
                    class="ot ot-trash margin-left-1 cursor-pointer"
                    ot-auto-id="AssessmentDetailQuestionPersonalDataDeleteSubjectButton"
                    (click)="deletePersonalData(dataSubject)"
                ></i>
            </div>
        </div>
        <div>
            <ng-container *ngFor="let category of dataSubject.categories; trackBy: trackByFn;">
                <div class="aa-question__personal-data-response">
                    <div class="row-space-between-center">
                        <p class="text-bold margin-none">{{ category.categoryValue | otTranslate }}</p>
                        <i
                            *ngIf="!isDisabled"
                            class="ot ot-edit cursor-pointer"
                            ot-auto-id="AssessmentDetailQuestionPersonalDataEditSubjectIcon"
                            (click)="editPersonalData(dataSubject, category)"
                        ></i>
                    </div>
                    <div class="aa-question__personal-data-pill-list">
                        <span
                            *ngFor="let element of category.elementResponses; trackBy: trackByFn;"
                            class="margin-all-half"
                        >
                            <span
                                [otBadge]="invalidDataAttributesMap.get(element.id) ? 'warning':'primary'"
                                [innerText]="element.name">
                            </span>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
