<ot-page-header
    *ngIf="preferenceCenter"
    class="full-width cr-header"
    [title]="'PreferenceCenterDetails' | otTranslate"
    >
    <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
        <ot-breadcrumb-item
            link="zen.app.pia.module.consentreceipt.views.preferencecenters"
            [label]="'PreferenceCenters' | otTranslate"
        ></ot-breadcrumb-item>
        <ot-breadcrumb-item
            [label]="preferenceCenter.Name"
        ></ot-breadcrumb-item>
    </ot-breadcrumb>
    <span
        class="margin-left-2 margin-right-half"
        [otBadge]="displayStatus | consentStatusColor"
        >
        {{ displayStatusLabel }}
    </span>
    <button
        otButton
        brand
        *ngIf="('ConsentPreferenceCenterPublish' | otPermit) && !isInactive"
        (click)="openPublishPreferenceCenterModal()"
        [disabled]="!('ConsentPreferenceCenterPublish' | otPermit) || actionInProgress || !isPreferenceCenterValid"
        [innerText]="'Publish' | otTranslate"
        ot-auto-id="PreferenceCenterBuilderPublishButton">
    </button>
    <button
        otButton
        neutral
        *ngIf="'ConsentPreferenceCenterPreview' | otPermit"
        (click)="previewPreferences()"
        [disabled]="actionInProgress || !isPreferenceCenterValid"
        [innerText]="'Preview' | otTranslate"
        ot-auto-id="PreferenceCenterBuilderPreviewButton">
    </button>
    <ot-context-menu
        *ngIf="!isInactive && ellipsisOptions.length"
        class="margin-left-1"
        [menu]="ellipsisOptions"
        [position]="'bottom-right'"
        (toggle)="getEllipsisOptions()"
        >
        <i class="ot ot-ellipsis-h"></i>
        <a
            *otContextMenuItem="let option"
            (click)="option.action()"
            >
            {{ option.text }}
        </a>
    </ot-context-menu>
</ot-page-header>