<header
    class="
        background-white
        border-top
        border-bottom
        flex-full-width
        row-flex-end
        row-vertical-center
        static-vertical
        "
    >
    <button otButton neutral
        class="margin-right-2 margin-top-bottom-half"
        ot-auto-id="IncidentRulesAddRule"
        [innerText]="translations.AddRule"
        (click)="addRule()"
    ></button>
    <button otButton neutral
        class="margin-right-2 margin-top-bottom-half"
        ot-auto-id="IncidentRulesEditRules"
        [disabled]="!rules.length || editMode"
        [innerText]="translations.EditRules"
        (click)="editRules()"
    ></button>
</header>
<div
    class="
        overflow-y-auto
        padding-all-2
        stretch-vertical
        "
    [ngClass]="rules.length ? '' : 'justify-center'"
    >
    <ng-template *ngIf="rules.length; then RulesContent else RulesEmpty"></ng-template>
    <ng-template #RulesContent>
        <div *ngFor="let rule of rules; trackBy: trackByFn; let index = index">
            <incident-rule
                *ngIf="!rule?.delete"
                class="
                    hover-show-container
                    margin-bottom-2
                    margin-left-right-auto
                    padding-left-right-1
                    centered-max-80
                    flex-full-height
                    flex-grow-1
                    border-grey
                    border-radius-3
                    "
                [ngClass]="{'background-white': editMode, 'background-grey': !editMode, 'border-has-error': validationRules && !validationRules[index]}"
                [editMode]="editMode"
                [enableReorderRules]= "enableReorderRules"
                [rule]="rule"
                [ruleIndex]="index"
                [config]="config"
                [disableConditionBlock]="disableConditionBlock"
                [hasError]="validationRules && !validationRules[index]"
                [translations]="translations"
                [deleteConfig]="deleteConfig"
                (resetValidation)="resetValidation()"
            ></incident-rule>
        </div>
    </ng-template>
    <ng-template #RulesEmpty>
        <ot-empty-state
            class="flex-full-height justify-center text-center padding-all-2"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            >
            <img emptyStateImg />
            <button otButton brand
                empty-state-content
                (click)="addRule()"
                >
                {{ translations.AddRule }}
            </button>
        </ot-empty-state>
    </ng-template>
</div>
<footer
    *ngIf="editMode"
    class="
        static-vertical
        flex-full-width
        row-vertical-center
        row-flex-end
        min-height-7
        border-top
        background-white
        "
    >
    <button otButton
        class="margin-right-2"
        ot-auto-id="IncidentRulesCancel"
        [innerText]="translations.Cancel"
        (click)="cancelRules()"
    ></button>
    <button otButton brand
        class="margin-right-2"
        ot-auto-id="IncidentRulesSave"
        [innerText]="translations.Save"
        (click)="saveRules()"
    ></button>
</footer>
