<ng-container *asyncValue="dashboardWidgetFormService.formValidityState$; let formValidityState">
    <ot-tabs
        class="static-vertical"
        tabId="value"
        [tabs]="tabOptions"
        [selectedTab]="currentTab.value"
        >
        <a
            *otTabItem="let tab"
            [attr.ot-auto-id]="'WidgetCreateTab' + tab.value"
            (click)="changeTab(tab)"
            >
            <abbr
                *ngIf="!formValidityState[tab.formId]"
                class="slds-required"
                >
                *
            </abbr>
            {{ tab.label }}
        </a>
    </ot-tabs>
</ng-container>
<div class="padding-top-2 flex-full-height overflow-y-auto">
    <dashboard-widget-group-by [ngClass]="{'dashboard-widget-form--hidden': currentTab.value !== tabValues.groupBy}"></dashboard-widget-group-by>
    <dashboard-widget-filter-list [ngClass]="{'dashboard-widget-form--hidden': currentTab.value !== tabValues.filter}"></dashboard-widget-filter-list>
</div>
