.assessment-detail-related-data-subject-modal {
    min-height: 100%;

    ot-picklist {
        max-width: 30rem;
    }

    upgraded-one-checkbox {
        div {
            display: inline;

            button {
                border-color: $ui-blue;
            }
        }
    }

    &__header {
        min-height: 8.3rem;
    }

    &__category-header,
    &__category-list,
    &__category-item {
        width: 24rem;
        min-width: 24rem;
    }

    &__category-item {

        &:hover {
            background-color: $grey-2;
        }

        &--selected {
            border-left: solid 10px $green;
        }

        &--unselected {
            border-left: solid 10px transparent;
        }
    }
}
