.template-welcome-message {
    &__welcome-header {
        height: 4.7rem;
        width: 4.7rem;

        &-icon {
            padding-top: 1.5rem;
        }
    }
    &__header {
        cursor: move;
        &:hover {
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
    }
    &__icon {
        line-height: 3rem;
    }
}
.template-welcome-message-editor {
    max-height: 50vh;
}
