<div class="margin-top-2 color-slate full-width template-welcome-message">
    <div>
        <span
            class="template-welcome-message__welcome-header border border-round position-absolute background-white"
        >
            <i class="template-welcome-message__welcome-header-icon flex justify-center ot ot-star"></i>
        </span>
        <div class="template-welcome-message__header width-100-percent row-space-between-center padding-all-1  border background-light-green border-radius-3 margin-left-2">
            <div
                ot-auto-id="TemplateBuilderWelcomeMessageToggle"
                class="stretch-vertical text-large"
                (click)="isWelcomeMessageExpanded = !isWelcomeMessageExpanded"
            >
                <span
                    class="text-bold padding-left-2-half"
                    [innerText]="'Welcome' | otTranslate"
                >
                </span>
            </div>
            <i
                *ngIf="isEditable"
                ot-auto-id="TemplateBuilderWelcomeMessageEditIcon"
                class="ot ot-edit no-outline text-xlarge margin-right-2 cursor-pointer"
                (click)="openWelcomeMessageEditModal()"
            >
            </i>
            <i
                ot-auto-id="TemplateBuilderWelcomeMessageToggleId"
                class="ot no-outline text-xlarge cursor-pointer"
                [ngClass]="{'ot-chevron-right': !isWelcomeMessageExpanded, 'ot-chevron-down': isWelcomeMessageExpanded}"
                (click)="isWelcomeMessageExpanded = !isWelcomeMessageExpanded"
            >
            </i>
        </div>
    </div>
    <div
        *ngIf="isWelcomeMessageExpanded"
        ot-auto-id="TemplateBuilderWelcomeMessageEdit"
        class="margin-left-right-2 no-outline"
        (click)="openWelcomeMessageEditModal()"
    >
        <div class="padding-all-1 border-left">
            <div
                class="ql-editor"
                [innerHTML]="welcomeMessage"
            >
            </div>
        </div>
    </div>
</div>
