.list-table {

    &__row {
        &:hover {
            background-color: $paper-gray;

            .list-table__cell {
                color: $slate;
            }
            .list-table__cell--link {
                color: $blue;
            }
        }

        &.background-active:hover {
            background-color: darken($active-blue, 5%);
        }

        &.background-grey:hover {
            background-color: darken($paper-gray, 5%);
        }

    }

    &__cell {
        color: $slate;
        padding: 1rem 2rem;

        &--link {
            color: $ui-blue;
        }
        &--sortable:hover {
            color: $slate;

            .list-table__sort {
                color: $ui-blue;
                display: block;
            }
        }

    }

    &__sort {
        left: -2rem;
    }

    &__action-buttons {
        color: $slate;
        background: linear-gradient(to right, rgba(255,255,255,0), $eggshell 25%);
        height: 4rem;
        min-width: 25rem;
        padding-left: 6rem;
        right: 2rem;
        top: 0;
    }

}
