<section class="column-nowrap gallery-upgrade">
    <div class="margin-top-bottom-0 margin-left-right-auto upgrade__icon">
    </div>
    <h3 class="gallery-upgrade__text">
        {{'QuestionnaireTemplateAvailableOnUpgrade' | otTranslate}}
    </h3>
    <div>
        <button 
            otButton 
            brand
            (click)="upgradeModule()" 
        >
            {{'ContactSales' | otTranslate}}
        </button>
    </div>
    <div
        *ngIf="description"
        class="text-color-default text-left margin-top-4 margin-bottom-0 margin-left-right-auto gallery-upgrade__description"
    >
        <label class="text-center block">
            {{'AboutThisQuestionnaireTemplate' | otTranslate}}&nbsp;
        </label>
        <p class="overflow-y-auto gallery-upgrade__description-detail">
            {{description}}
        </p>
    </div>
</section>