.gallery-upgrade{
    &__text {
        margin: 1.4rem 0;
    }
    .upgrade__icon {
        font-size: 3rem;
    }
    &__description {
        max-width: 60rem;
        &-detail {
            max-height: 30rem;
        }
    }
}