<div class="height-100 full-width column-horizontal-center">
    <ot-page-header
        class="full-width"
        [title]="'ResponseTemplates' | otTranslate"
        >
        <button otButton brand
            *ngIf="!hideAddButton"
            ot-auto-id="dsarAddResponseTemplate"
            [innerText]="'AddNew' | otTranslate"
            (click)="openAddNewModal()"
        ></button>
        <button otButton neutral
            ot-auto-id="ResponseTemplateLanguagePickerButton"
            [innerText]="'ManageLanguages' | otTranslate"
            (click)="launchLanguagePicker()"
        ></button>
    </ot-page-header>
    <div class="flex-full-height full-width">
        <ot-tabs
            ot-auto-id="DSARResponseTemplateTabsChange"
            [tabs]="tabOptions"
            [selectedTab]="selectedTab?.id"
            >
            <a
                *otTabItem="let tab"
                (click)="changeTab(tab)"
                >
                {{ tab.textKey | otTranslate }}
            </a>
        </ot-tabs>
        <ng-container [ngSwitch]="selectedTab?.id">
            <dsar-response-templates
                *ngSwitchCase="Tabs.Templates"
                [selectedLanguageList]="languageList"
                [addNewModal]="addNewModal"
            ></dsar-response-templates>
            <dsar-response-templates-settings
                *ngSwitchCase="Tabs.Settings"
                class="overflow-y-scroll"
            ></dsar-response-templates-settings>
        </ng-container>
    </div>
</div>
