<ot-sidebar
    [class]="menuClass | async"
    [collapsible$]="!preventCollapse && collapsible$ | async"
    [menu$]="menu$"
    [title$]="title$"
    [collapsed]="isCollapsed"
    [lightTheme]="lightTheme"
    [preventCollapse]="sidebarCollapse || preventCollapse || isIe11"
    (onCollapse)="handleCollapse($event)"
    >
    <a *otSidebarMenuItem="let item"
        [attr.title]="isCollapsed ? null : (item.title | translate)"
        class="ot-sidebar__anchor"
        [attr.ot-auto-id]="item.id"
        [class.active]="item | SidebarActiveItem : currentUrl"
        [uiSref]="item.route"
        [uiParams]="item.params"
        [uiOptions]="item.options"
        (click)="triggerItemAction(item)"
        >
        <span
            class="ot-sidebar__anchor-icon"
            [class.ot-sidebar__anchor-icon--none]="!item.icon"
            >
            <i [class]="item.icon"></i>
        </span>
        <span
            class="ot-sidebar__anchor-text"
            [class.opacity-60]="item.upgrade"
            >
            {{item.title | translate}}
        </span>
        <span *ngIf="item.upgrade"
                class="column-vertical-center padding-left-right-1"
                [class.opacity-60]="item.upgrade"
        ><i class="ot ot-lock"></i></span>
        <span class="ot-sidebar__anchor-dropdown" *ngIf="item.children">
            <i
                class="ot"
                [ngClass]="(item.open ? 'ot-angle-down' : 'ot-angle-right')"
            ></i>
        </span>
    </a>
</ot-sidebar>
