<section class="flex-full-height">
    <ot-page-header
        class="height-49"
        [title]="'Dashboards' | translate"
        >
        <ng-container *asyncValue="dashboardSelection$; let dashboardSelection">
            <ot-lookup
                class="min-width-30"
                ot-auto-id="DashboardSwitcherDropdown"
                valueKey="id"
                labelKey="name"
                [placeholder]="'SelectADashboard' | translate"
                [options]="dashboardOptions | lookup: dashboardSelection : dashboardSearchTerm : 'id' : 'name'"
                [disabled]="!dashboardOptions?.length"
                [model]="dashboardSelection"
                (modelChange)="onDashboardChange($event.currentValue)"
                (inputChange)="dashboardSearch($event)"
                >
            </ot-lookup>
        </ng-container>
    </ot-page-header>
    <dashboard-view
        *ngIf="dashboardsLoading || dashboardOptions?.length; else noDashboards"
        class="flex-full-height overflow-y-auto overflow-x-hidden background-grey padding-left-right-2 padding-top-bottom-4"
        [dashboardId]="currentDashboardId"
        >
    </dashboard-view>
    <ng-template #noDashboards>
        <section class="flex-full-height column-horizontal-vertical-center padding-bottom-2">
            {{ "NoDashboardsAvailable" | translate }}
        </section>
    </ng-template>
</section>
