#pia-projects
    nav.navbar.navbar-default(ng-class="{'filter-open': filterOpen}")
        .container-fluid(ng-if="buttonsReady")
            .navbar-header.projects__navbar
                a.projects__title.navbar-brand(href='')
                    span.translate {{::labels.breadcrumb}}
            one-button.margin-right-1(
                identifier='piaProjectAddProjectButton',
                ng-if='Permissions.canShow("ProjectsAdd") && (templateType !== templateTypes.Datamapping) && !(Permissions.canShow("SelfServiceExecute") && SelfServiceEnabled)',
                type='primary',
                button-click='addProject()',
                text='{{::$root.t("AddProjects")}}')
            one-button.margin-right-1(
                identifier='piaProjectBackToSelfServiceButton',
                ng-if='Permissions.canShow("ProjectsAdd") && (templateType !== templateTypes.Datamapping) && Permissions.canShow("SelfServiceExecute") && SelfServiceEnabled',
                ui-sref='zen.app.pia.module.selfservice.list',
                type='cta',
                text='{{::$root.t("BackToSelfService")}}')
            one-button.margin-right-1(
                identifier='piaProjectAddProjectUpgradeButton',
                ng-if='Permissions.canShow("ProjectsAddUpgrade") && (templateType !== templateTypes.Datamapping) && !SelfServiceEnabled',
                button-click='UpgradeModule("ProjectsAddProject")',
                icon='fa fa-plus-circle',
                text='{{::$root.t("AddProjects")}}')
                    .upgrade__icon
            one-button.margin-right-1(
                identifier='piaProjectExportCsvButton',
                ng-if='Permissions.canShow("ProjectsExportCSV")',
                button-click='GenerateCsv()',
                icon='fa fa-download',
                text='{{::$root.t("ExportCSV")}}')
            one-button.margin-right-1(
                identifier='piaProjectExportCsvUpgradeButton',
                ng-if='Permissions.canShow("ProjectsExportCSVUpgrade")',
                button-click='UpgradeModule("ProjectsExportCSV")',
                icon='fa fa-download',
                text='{{::$root.t("ExportCSV")}}')
                    .upgrade__icon
            one-button.margin-right-1(
                identifier='piaProjectToggleFilterButton',
                button-click='toggleFilter()',
                icon='ot ot-search fa-fw',
                text='{{::$root.t("Filters")}}')
        .container-fluid(ng-if="buttonsReady")
            .navbar-header.projects__navbar

                .projects__filter.projects__filter--state.one-select
                    span.projects__filter-arrow.one-select__arrow.fa.fa-fw.fa-caret-down
                    label {{::$root.t("Status")}}
                    one-select(
                        model='filter.stateFilter',
                        on-change='updateFilter("stateFilter", selection)',
                        options='defaultProjectStates',
                        value-key='value',
                        label-key='label'
                    )

                .projects__filter.projects__filter--template.one-select(ng-if='showTemplateFilter')
                    span.projects__filter-arrow.one-select__arrow.fa.fa-fw.fa-caret-down
                    label {{::$root.t("Template")}}
                    one-select(
                        model='filter.templateFilter',
                        on-change='updateFilter("templateFilter", selection)',
                        options='templateFilters',
                        value-key='value',
                        label-key='label'
                    )
                .projects__filter.projects__filter--search
                    label {{::$root.t("Search")}}
                    form.projects__search.one-search(role='search')
                        label.one-search__label(for='pia-template-search')
                            i.ot.ot-search.one-search__icon
                        input#pia-template-search.one-search__input(
                          type='text',
                          placeholder='{{::$root.t("Search")}} {{::projectsTranslation}}',
                          ng-model='filter.searchFilter',
                          ng-keypress='search($event)')

                .projects__filter.projects__filter--clear
                    one-button(
                        identifier='piaProjectClearFilterButton'
                        button-click='clearFilters()'
                        icon='ot ot-times fa-fw'
                        text='{{::$root.t("ClearFilters")}}')
    loading(ng-if='projectsLoading', text="{{ ::labels.filteringRecords }}", show-loading-prefix="false")

    .module-wrapper.projects(ng-if='Ready', ng-class='{"filter-open": filterOpen}')
        div.projects__table-wrapper(ng-class="{'is-showing': !projectsLoading}")
            pia-project-table(
                data-id="piaProjectTableComponent"
                table-data="projects"
                sort-column="sortColumn"
                sort-direction="sortDirection"
                loading-row-index="loadingRowIndex"
                project-id-in-progress="projectIdInProgress"
                action-callback="receiveAction(action, payload)"
                permissions="permissions"
                is-self-service="false"
                template-data="filter.templateFilter"
            )
        // No projects messages
        .projects__message(ng-if='!projects.length && !projectsLoading')
            h2(ng-if='!filtered && currentUser.RoleName !== RoleNames.ProjectViewer')
                | {{::labels.noExisting}}
            h2(ng-if='!filtered && currentUser.RoleName === RoleNames.ProjectViewer')
                | {{::labels.noExistingShared}}
            h2(ng-if='!filtered && \
                      templateType !== templateTypes.Datamapping && \
                      currentUser.RoleName !== RoleNames.ProjectViewer')
                | {{::labels.createNew}}
            // No project match your filter
            h2(ng-if='filtered') {{$root.t("NoProjectsMatchYourAppliedFilters")}}
            .projects__message--buttons(ng-if='filtered')
                one-button(
                    button-class="projects__filters",
                    button-click="openFilter()",
                    data-ng-if="!filterOpen",
                    icon="ot",
                    icon-class="ot-search fa-fw",
                    text="{{::$root.t('RefineFilters')}}"
                )
                one-button(
                    button-class="projects__filters",
                    button-click="clearFilters()",
                    data-ng-if="!filterOpen",
                    icon="ot",
                    icon-class="ot-times fa-fw",
                    text="{{::$root.t('ClearFilters')}}"
                )

        .projects__pagination(ng-if='pageMetadata.TotalItemCount > pageSize')
            ul.projects__pagination-paging.pagination-sm(
              uib-pagination total-items='pageMetadata.TotalItemCount',
              ng-model='$parent.$parent.pageNumber',
              next-text='>',
              previous-text='<',
              ng-change='updatePage()',
              max-size='maxSize',
              items-per-page='pageSize',
              force-ellipses='true',
              rotate='true')
            p.projects__pagination-text(ng-if='pageMetadata.TotalItemCount')
                | {{$root.t("ShowingPageRangeOfTotalItemCount", {PageRange: pageRange(), TotalItemCount: pageMetadata.TotalItemCount}) }}
    include ./Assessment/Modals/ShareProjectModal.jade
