ui-view

include ./Modals/AssignmentsModal.jade
include ./Modals/ReviewerModal.jade
include ./Modals/TagsModal.jade
include ./Modals/HistoryModal.jade
include ./Modals/DeadlinesModal.jade
include ./Modals/AttachmentModal.jade
