<section class="copy-inventory-v2-modal one-modal-new flex-full-height max-height-100-percent full-width">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4
            class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
            [innerText]="modalHeader | otTranslate"
            >
        </h4>
        <button
            *ngIf="!isSaving"
            otButton
            neutral
            class="one-modal-new__close static-horizontal no-outline"
            ot-auto-id="CopyInventoryCloseButton"
            (click)="closeModal()"
            >
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="stretch-vertical overflow-y-auto padding-all-2">
        <form
            *ngIf="isReady"
            name="copyInventoryForm"
            class="copy-inventory-v2-modal__content flex-full-height"
            >
            <div
                *ngIf="copyAttributes[inventoryId].Name"
                otFormElement
                class="margin-bottom-2"
                [required]="true"
                [hasError]="hasErrors || !selectedName || hasAPIError"
                [label]="itemNameLabel | otTranslate"
                >
                <input
                    otInput
                    required
                    name="inventoryItemName"
                    ot-auto-id="CopyInventoryV2NameInput"
                    [ngModel]="selectedName"
                    [placeholder]="itemNameLabel | otTranslate"
                    [disabled]="isSaving"
                    (ngModelChange)="nameSelect($event)"
                    />
            </div>
            <div
                *ngIf="copyAttributes[inventoryId].Location"
                otFormElement
                class="margin-bottom-2"
                [required]="true"
                [hasError]="hasErrors || !selectedLocation || !selectedLocation.value || hasAPIError"
                [label]="'HostingLocation' | otTranslate"
                >
                <ot-lookup
                    class="position-relative"
                    ot-auto-id="CopyInventoryV2HostingLocationInput"
                    [placeholder]="'HostingLocation' | otTranslate"
                    [options]="filteredLocationOptions"
                    [model]="selectedLocation"
                    [disabled]="isSaving"
                    labelKey="value"
                    valueKey="id"
                    [clearInputOnModelChange]="true"
                    (modelChange)="locationSelect($event)"
                    (inputChange)="handleInputChange($event, attributeFieldNames.Location)"
                    >
                </ot-lookup>
            </div>
            <div
                *ngIf="copyAttributes[inventoryId].Type"
                otFormElement
                class="margin-bottom-2"
                [required]="true"
                [hasError]="hasErrors || !selectedType || !selectedType.value || hasAPIError"
                [label]="'Type' | otTranslate"
                >
                <ot-lookup
                    class="position-relative"
                    ot-auto-id="CopyInventoryV2TypeInput"
                    [placeholder]="'Type' | otTranslate"
                    [options]="filteredTypeOptions"
                    [model]="selectedType"
                    [multiSelect]="false"
                    [disabled]="isSaving"
                    labelKey="value"
                    valueKey="id"
                    [clearInputOnModelChange]="true"
                    (modelChange)="typeSelect($event)"
                    (inputChange)="handleInputChange($event, attributeFieldNames.Type)">
                </ot-lookup>
            </div>
            <div
                *ngIf="copyAttributes[inventoryId].Org"
                otFormElement
                class="margin-bottom-2"
                [required]="true"
                [label]="'ManagingOrganization' | otTranslate"
                [hasError]="hasErrors || hasAPIError"
                >
                <org-select
                    identifier="CopyInventoryV2OrganizationInput"
                    describedBy="CopyInventoryV2OrganizationInput"
                    [model]="selectedOrg.id"
                    [required]="true"
                    [disabled]="isSaving"
                    (onSelect)="orgSelect($event)"
                ></org-select>
            </div>
            <div class="row-nowrap">
                <ot-checkbox
                    class="margin-right-half"
                    ot-auto-id="CopyInventoryV2CopyRelatedCheckbox"
                    [checked]="copyRelated"
                    [disabled]="isSaving"
                    (toggle)="copyRelatedCheck()"
                    >
                </ot-checkbox>
                <span class="padding-left-half">{{ "CopyRelatedInventories" | otTranslate }}</span>
            </div>
        </form>
        <ot-loading otPageLoading *ngIf="!isReady"></ot-loading>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <button
                otButton
                class="margin-right-1 text-color-default text-thin-2"
                ot-auto-id="CopyInventoryV2CloseModalButton"
                [disabled]="isSaving"
                (click)="closeModal()"
                >
                {{"Cancel" | otTranslate}}
            </button>
            <button
                otButton
                neutral
                class="margin-right-1"
                ot-auto-id="CopyInventoryV2SaveAndAddNewButton"
                [disabled]="copyDisabled"
                [loading]="isSaving"
                (click)="copyRecord(false)"
                >
                {{"CopyAndCreateAnother" | otTranslate}}
            </button>
            <button
                otButton
                brand
                ot-auto-id="CopyInventoryV2SaveButton"
                [disabled]="copyDisabled"
                [loading]="isSaving"
                (click)="copyRecord()"
                >
                {{"Copy" | otTranslate}}
            </button>
        </footer>
    </div>
</section>