.self-service-portal {
    &__template-container > :first-child {
        margin-left: auto;
    }
    &__template-container > :last-child {
        margin-right: auto;
    }
    &__assessment-list-section {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    }
    &__assessment-status {
        text-transform: capitalize !important;
    }
    &__view-more {
        color: $ui-blue;
    }
    &__assessment-list-loading {
        height: 40vh;
    }
}
