<section class="height-100 text-color-default flex flex-column overflow-y-auto">
    <!-- header -->
    <ot-page-header [title]="'SelfServicePortal' | otTranslate">
        <button
            *ngIf="canConfigure"
            otButton
            brand
            [attr.ot-auto-id]="'SspConfigButton'"
            class="'margin-right-1 pull-right padding-left-right-3'"
            (click)="goToSspConfig()"
        >{{"Configure" | otTranslate}}</button>
    </ot-page-header>
    <div class="self-service-portal__template-container flex static-vertical background-grey overflow-x-auto">
        <ng-container *ngFor="let sspTemplate of sspTemplates; trackBy: trackByFn;">
            <ssp-template-card
                [sspTemplateDetails]='sspTemplate'
            >
            </ssp-template-card>

        </ng-container>
        <one-empty-state
            *ngIf="(!sspTemplates || !sspTemplates.length) && !isLoading"
            class="flex justify-center padding-top-bottom-3"
            [emptyStateMessage]="'NoAssessmentsAdded' | otTranslate"
        >
        </one-empty-state>
        <upgraded-loading
            *ngIf="isLoading"
            class="height-30 full-size flex">
        </upgraded-loading>
    </div>
    <section class="full-size background-grey-1 padding-top-2 height-auto flex-grow-1">
        <section class="self-service-portal__assessment-list-section centered-max-100 border background-white margin-bottom-2">
            <p
                class="text-bold padding-left-2 margin-top-bottom-2"
                [innerText]="'Assessments' | otTranslate"
            ></p>
            <ng-container *ngIf="viewReady">
                <div class="overflow-auto position-relative stretch-vertical">
                    <table
                        otDataTable
                        class="full-width border-top-none"
                        [rowData]="assessmentList"
                        [rowBordered]="true"
                    >
                        <ng-container *ngFor="let col of assessmentcolumns">
                            <ng-container *ngIf="col.columnType === 'link'">
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [tdClass]="'max-10'"
                                >
                                    <ng-template
                                        otDataTableCell
                                        let-row="row"
                                        let-column="column"
                                    >
                                        <div class="slds-truncate text-bold">
                                            <a
                                                title="{{row[column.cellValueKey]}}"
                                                [attr.ot-auto-id]="'SspAssessmentListNameClickAction'"
                                                (click)="handleNameClick(row.assessmentId)"
                                            >
                                                {{row[column.cellValueKey]}}
                                            </a>
                                        </div>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === 'null'">
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [tdClass]="'max-10'"
                                >
                                    <ng-template otDataTableCell let-row="row" let-column="column">
                                        <div
                                            class="slds-truncate"
                                            title="{{row[column.cellValueKey]}}"
                                        >
                                            {{row[column.cellValueKey]}}
                                        </div>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === 'date'">
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [tdClass]="'max-10'"
                                >
                                    <ng-template
                                        otDataTableCell
                                        let-row="row"
                                        let-column="column"
                                    >
                                        <div class="slds-truncate">
                                            <upgraded-one-date
                                                data-id="assessmentTableBodyCellContentDateComponent"
                                                [dateToFormat]="row[column.cellValueKey]"
                                                [enableTooltip]="true"
                                            ></upgraded-one-date>
                                        </div>
                                    </ng-template>
                                </ot-data-table-column>
                                </ng-container>
                            <ng-container *ngIf="col.columnType === 'status'">
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [cellValueKey]="col.cellValueKey"
                                    [column]="col"
                                    [tdClass]="'max-10'"
                                >
                                    <ng-template
                                        otDataTableCell
                                        let-row="row"
                                        let-column="column"
                                    >
                                        <span
                                            [otBadge]="getStatusIcon(row[column.cellValueKey])"
                                            [innerText]="assessmentStatusKeys[row[column.cellValueKey]]">
                                        </span>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                        </ng-container>
                    </table>
                    <div
                        *ngIf="viewMore && !isLoadingMore"
                        class="self-service-portal__view-more flex justify-center cursor-pointer padding-top-bottom-2 text-bold"
                        [innerText]="'ViewMore' | otTranslate"
                        (click)="onViewMoreClick()"
                    ></div>
                    <div
                        *ngIf="isLoadingMore"
                        class="assessment-collaboration__show-more-loading full-width"
                    >
                        <upgraded-loading
                            show-text="true"
                        >
                        </upgraded-loading>
                    </div>
                </div>
            </ng-container>
            <upgraded-loading
                *ngIf="!viewReady "
                class="self-service-portal__assessment-list-loading full-size flex"
            ></upgraded-loading>
            <one-empty-state
                *ngIf="isAssessmentListEmpty && viewReady"
                class="flex justify-center padding-top-bottom-3"
                [emptyStateMessage]="'NoAssessmentsAdded' | otTranslate"
            >
            </one-empty-state>
        </section>
    </section>
</section>
