.builder-question {
    &__sequence {
        border-radius: 50%;
        height: 4.6rem;
        line-height: 4.6rem;
        min-width: 4.6rem;
        &--invalid {
            background-color: $orange-faded;
            border: 1px solid $orange;
        }
    }
    &__content {
        border-radius: 5rem 0.3rem 0.3rem 5rem;
        &--invalid {
            background-color: $orange-faded;
            border: 1px solid $orange;
        }
        &:hover {
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
    }

    &__parent-sequence-tooltip {
        font-size: $text-xsmall;
        height: 3rem;
        line-height: 3rem;
        width: 3rem;
        &:hover {
            cursor: help;
        }
    }
    &__new-condition.ot-code-fork {
        transform: rotate(90deg);
    }
    &__condition {
        .ot-code-fork {
            transform: rotate(90deg);
        }
        .ot-circle {
            color: $green;
            font-size: 1.2rem;
            left: 27%;
            top: 10%;
        }
        .ot-chain {
            top: 4px;
            left: 4px;
        }
    }
}
