<div class="builder-question color-slate flex align-center {{questionHoverClass}}"
    [dndType]="builderDraggableTypes.BuilderQuestion"
    [dndDraggable]="{ effectAllowed: 'move' }"
    [dndObject]="questionDragData"
    [dndDragDisabled]="dragDisabled"
>
    <div
        class="builder-question__sequence text-center text-medium media-middle margin-right-1 {{questionHoverClass}}"
        [ngClass]="{ 'builder-question__sequence--invalid': questionIsInvalid }"
        [attr.ot-auto-id]="'TemplateBuilderQuestionPanelClickId'"
        (click)="onQuestionPanelClick()"
    >
        {{sectionSequence}}.{{question?.sequence}}
    </div>
    <div
        class="builder-question__content border background-eggshell min-height-46 row-space-between-center margin-top-bottom-1 padding-all-1 stretch-horizontal {{questionHoverClass}}"
        [attr.ot-auto-id]="'TemplateBuilderQuestionHover'"
        [ngClass]="{ 'builder-question__content--invalid': questionIsInvalid }"
        (mouseleave)="hoverEnabled = false"
        (mouseover)="onBuilderQuestionHover()"
        (click)="onQuestionPanelClick()"
    >
        <div
            *ngIf="parentQuestionDetails"
            class="builder-question__parent-sequence-tooltip media-middle margin-right-1 border-dashed border-round text-center"
            [otTooltip]="parentQuestionDetails.tooltip"
        >
            {{parentQuestionDetails.sequence}}
        </div>
        <i class="text-large margin-right-1 {{questionTypeIcon}}"></i>
        <sup
            *ngIf="question && question.required"
            class="helper-icon-required"
        ></sup>
        <div
            class="stretch-vertical paragraph-medium-small overflow-ellipsis-nowrap flex-stretch-0"
            [attr.ot-auto-id]="'TemplateBuilderQuestionToggleId'"
            (click)="onPreviewQuestionClick(questionId)"
        >
            {{ question?.friendlyName || question?.content }}
        </div>
        <div
            *ngIf="hoverEnabled"
            class="row-nowrap margin-left-3"
        >
            <i
                *ngIf="!isReadonly && permissions.TemplatesCreateAndPublish && !isTemplateLocked && isTemplateActive"
                class="ot ot-edit no-outline margin-right-2 text-xlarge cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderQuestionEditIcon'"
                [ngClass]="{'pointer-events-none': editQuestionEnabled}"
                (click)="onEditQuestionClick()"
            ></i>
            <i
                *ngIf="isCreateMode && permissions.TemplatesCreateAndPublish && !isTemplateLocked && isTemplateActive"
                class="ot ot-trash text-xlarge margin-right-2 cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderQuestionDeleteIcon'"
                (click)="onQuestionDelete(question)"
            ></i>
            <i
                *ngIf="isCreateMode && isAddConditionShown && !hasNavigation && !isTemplateLocked && isTemplateActive"
                class="builder-question__new-condition ot ot-code-fork text-xlarge margin-right-2 cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderQuestionConditionAddIcon'"
                (click)="openConditionsModal()"
            ></i>
            <i
                *ngIf="isRelatedInventoryIconShown && question && !question.destinationInventoryQuestion && !isTemplateLocked && isTemplateActive"
                class="builder-question__new-condition ot ot-chain text-xlarge margin-right-2 cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderQuestionRelatedInventoryIcon'"
                [otTooltip]="getRelatedInventoryIconTooltip()"
                (click)="openRelatedInventoryModal()"
            ></i>
        </div>
        <div class="row-vertical-center">
            <span
                *ngIf="hasNavigation && !isTemplateLocked && isTemplateActive"
                role="button"
                class="builder-question__condition fa-stack margin-right-2"
                [attr.ot-auto-id]="'TemplateBuilderQuestionConditionEditIcon'"
                (click)="openConditionsModal()"
            >
                <i class="ot ot-code-fork fa-stack-2x"></i>
                <i class="ot ot-circle fa-stack-1x"></i>
            </span>
            <span
                *ngIf="isRelatedInventoryIconShown && question?.destinationInventoryQuestion && !isTemplateLocked && isTemplateActive"
                class="builder-question__condition fa-stack margin-right-2"
                role="button"
                ot-auto-id="TemplateBuilderQuestionConditionEditIcon"
                [otTooltip]="getRelatedInventoryIconTooltip()"
                (click)="openRelatedInventoryModal()"
            >
                <i class="ot ot-chain text-xlarge position-relative"></i>
                <i class="ot ot-circle fa-stack-1x"></i>
            </span>
            <i
                class="ot text-large no-outline cursor-pointer"
                [ngClass]="{'ot-chevron-right': !isPreviewShown, 'ot-chevron-down': isPreviewShown}"
                [attr.ot-auto-id]="'TemplateBuilderQuestionExpandIcon'"
                (click)="onPreviewQuestionClick(questionId)"
            >
            </i>
        </div>
    </div>
</div>
<div
    *ngIf="isPreviewShown"
    dndNoDrag
>
    <upgraded-loading
        *ngIf="isQuestionPreviewLoaded"
        [showText]="true"
        [text]="questionPreview"
    >
    </upgraded-loading>
    <div
        *ngIf="!isQuestionPreviewLoaded"
        class="margin-left-6"
    >
        <template-question-preview
            [question]="questionDetails"
        >
        </template-question-preview>
    </div>
</div>

