$description-padding-left-right: 20px;
$confirm-text-weight: bold;

.incident-path-confirm-body {
    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        text-align: center;
    }

    &__description {
        flex: 1 1 auto;
        padding: inherit $description-padding-left-right;
    }

    &__sub-description {
        flex: 1 1 auto;
        padding: inherit $description-padding-left-right;
    }

    &__confirm-text {
        flex: 1 1 auto;
        font-weight: $confirm-text-weight;
    }

    &__options {
        align-self: flex-start;

        &__check-box {
            font-weight: $confirm-text-weight;
        }
    }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .incident-path-confirm-body {
        &__sub-description {
            flex: 1 1 auto;
            padding: $description-padding-left-right;
        }

        &__options {
            &__check-box {
                max-width: 45rem;
            }
        }
    }
}