<div class="full-width background-white padding-all-3">
    <ot-path
        *ngIf="!(loadingIncidentPath$ | async)"
        class="background-white block width-90-percent padding-left-2"
        [activeIndex]="activeIndex"
        [allowMultiAdvance]="true"
        [buttonDisabled]="buttonDisabled"
        [buttonText]="'Advance' | otTranslate"
        [buttonLoading]="buttonLoading"
        [pathItems]="pathItems"
        (activeIndexChange)="onStagePathChange($event)"
    ></ot-path>
</div>

<ng-template #IncidentPathConfirmModal>
    <ot-modal-header (close)="closeModal()">
        <div>{{ 'TransitionStage' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <ot-confirm-modal-icon
            [type]="confirmIcon"
        ></ot-confirm-modal-icon>
        <div class="incident-path-confirm-body__content">
            <div class="incident-path-confirm-body__description row-horizontal-center">
                {{ 'Incident.TransitionWarning' | otTranslate }}
            </div>

            <div
                class="incident-path-confirm-body__sub-description margin-top-bottom-2 row-horizontal-center"
                [innerHTML]="'MoveToStage' | otTranslate: { stageName: selectedStage.label }"
                >
            </div>

            <div class="incident-path-confirm-body__options margin-top-2 row-horizontal-center">
                <div class="incident-path-confirm-body__options__check-box">
                    <ot-checkbox
                        ot-auto-id="IncidentPathCheckbox"
                        [checked]="triggerRules"
                        (toggle)="setTriggerRules($event)"
                    ></ot-checkbox>
                    {{ 'RunRulesAndActions' | otTranslate }}
                </div>
            </div>
        </div>
    </ot-modal-content>
    <ot-modal-footer>
        <button otButton (click)="closeModal()">{{ 'Cancel' | otTranslate }}</button>
        <button otButton brand (click)="updateStage()">{{ 'Continue' | otTranslate }}</button>
    </ot-modal-footer>
</ng-template>
