.pretty-print {
    border: 1px solid $grey-3;
    background-color: $white;
    border-radius: 3px;

    .tag {
        border: none;
        color: $slate;
        font-weight:bold;
        text-transform: none;
        letter-spacing: 0;
        font-size: inherit;
        padding: 0;
    }
}
