.launch-assessment-modal {
    max-width: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;

    loading {
        top: 50%;
        position: absolute;
        right: 0;
        left: 0;
    }
    &__list {
        margin: 0;
        flex: 1 1 auto;
        overflow-y: auto;
        max-height: 40rem;

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__item {
        border: 1px solid $grey-3;
        margin-bottom: 1.4rem;
        background-color: $white;
    }
    &__header {
        display: flex;
        flex-flow: row nowrap;
        padding: 1rem 1.4rem;
        &-btn {
            border-radius: 2px;
            white-space: nowrap;
            border: 1px solid $grey-3;
            background-color: $white;
            color: $slate;
            padding: 0.2rem 0.6rem;
            align-self: center;
            min-width: 12rem;
            &:hover {
                border: 1px solid $slate;
                color: darken($slate, 10%);
            }
            &--delete {
                color: $light-red;
                border-color: $light-red;
                margin-bottom: 1rem;
                i {
                    color: $light-red;
                }
                &:hover {
                    color: darken($light-red, 15%);
                    border-color: darken($light-red, 15%);
                    i {
                        color: darken($light-red, 15%);
                    }
                }
            }
        }
    }
    &__group {
        display: flex;
        flex-flow: column nowrap;
        &--action {
            color: $ui-blue;
            background: none;
            margin-left: 0.5rem;
            font-weight: normal;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
                color: lighten($ui-blue, 10%);
                text-decoration: underline;
            }
            &:disabled {
                color: $slate;
                pointer-events: none;
            }
        }
    }
    &__respondent,
    &__name {
        flex: 1 1 42%;
    }
    &__respondent {
        margin-right: auto;
        &-input {
            &.has-errors {
                border: 1px solid $light-red;
            }
        }
    }
    &__name {
        &-text {
            display: block;
        }
    }
    &__details {
        display: flex;
        flex-flow: row nowrap;
        padding: 1rem 1.4rem;
        border-top: 1px dashed $grey-1;
        &-group {
            max-width: 50%;
        }
    }
    &__datepicker {
        .selector {
            position: relative !important;
        }
    }
    &__deadline {
        margin: 0;
        &.has-errors input {
            border: 1px solid $light-red;
        }
    }
    &__toggle {
        display: flex;
        flex-flow: row;
        width: auto;
        max-width: 100%;
        margin: 0;
        align-items: center;
        min-height: 3.8rem;
        &-checkbox {
            @include checkbox;
            margin-right: 1rem;
            height: 2rem;
            width: 2rem;
            i {
                font-size: 1.2rem;
            }
        }
        &-input {
            margin-right: 1rem;
            width: 6rem;
            &.has-errors {
                border: 1px solid $light-red;
            }
        }
    }
    &__comments {
        @include textArea;
        width: 100%;
        max-width: 100%;
    }
    &__label {
        &-optional {
            font-weight: normal;
        }
    }
    &__submit {
        padding-top: 1rem;
        border-top: 1px solid $grey-3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        flex: 0 0 auto;
    }
    &__success {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        opacity: 0;
        &.is-showing {
            animation: 1s show;
            opacity: 1;
        }
        &-message {
            margin: auto 0;
        }
        &-count {
            font-weight: bold;
        }
    }
    &__error {
        color: $light-red;
        margin-top: .6rem;
        &--small {
            font-size: 1.2rem;
        }
    }
}
