<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="stretch-vertical overflow-y-auto padding-all-2">
        <div class="margin-top-1 margin-bottom-6" *ngIf="!isReady || isReady && isSaving">
            <upgraded-loading
                *ngIf="!isReady"
                [text]="tableName"
                >
            </upgraded-loading>
            <upgraded-loading
                *ngIf="isReady && isSaving"
                [text]="'SendingAssessments' | otTranslate"
                [showLoadingPrefix]="false"
                >
            </upgraded-loading>
        </div>
        <ul
            class="launch-assessment-modal__list"
            *ngIf="isReady"
            [ngClass]="{ 'is-hidden': showingSuccessMessage || isSaving }"
            >
            <li
                class="launch-assessment-modal__item"
                *ngFor="let item of items; trackBy: trackByFn"
                [ngClass]="{ 'open': item.showingDetails }"
                >
                <header class="launch-assessment-modal__header">
                    <div
                        otFormElement
                        class="padding-right-3"
                        [required]="true"
                        [label]="'AssessmentName' | otTranslate"
                    >
                        <input
                            otInput
                            autofocus
                            class="launch-assessment-modal__name-text margin-right-1"
                            type="text"
                            [(ngModel)]="item.Name"
                        />
                    </div>
                    <div
                        otFormElement
                        class="padding-right-4"
                        [required]="true"
                        [label]="'Respondents' | otTranslate"
                    >
                        <ot-org-user
                            [allowEmail]="true"
                            [fetchOptionsOnClick]="true"
                            [orgId]="item.OrgGroupId"
                            [traversal]="BRANCH"
                            [model]="item.LeadId"
                            (onSelect)="orgUserSelected($event, item)"
                            >
                        </ot-org-user>
                    </div>
                    <div class="launch-assessment-modal__group static-horizontal justify-center">
                        <button
                            class="launch-assessment-modal__header-btn launch-assessment-modal__header-btn--delete"
                            uib-tooltip="'AssessmentWillNotBeGeneratedIfRemoved' | otTranslate"
                            tooltip-placement="top-right"
                            tooltip-append-to-body="true"
                            tooltip-trigger="mouseenter"
                            (click)="deleteItem(item)"
                            >
                            <i class="ot ot-times"></i>
                            <span>{{ 'Remove' | otTranslate }}</span>
                        </button>
                        <button
                            class="launch-assessment-modal__header-btn launch-assessment-modal__header-btn--toggle"
                            (click)="toggleDetails(item)"
                            >
                            <i class="ot ot-caret-down" *ngIf="!item.showingDetails"></i>
                            <i class="ot ot-caret-up" *ngIf="item.showingDetails"></i>
                            <span *ngIf="!item.showingDetails">{{ 'ShowOptions' | otTranslate }}</span>
                            <span *ngIf="item.showingDetails">{{ 'HideOptions' | otTranslate }}</span>
                        </button>
                    </div>
                </header>
                <section class="launch-assessment-modal__details row-wrap" *ngIf="item.showingDetails">
                    <div class="launch-assessment-modal__group launch-assessment-modal__details-group margin-top-1 flex-full-50 padding-right-3">
                        <upgraded-one-label-content
                            [labelName]="'Deadline' | otTranslate"
                            [description]="'DeadlineWillBeSelectedDateAt1159PmUtc' | otTranslate"
                            [inline]="true"
                            >
                            <a
                                class="launch-assessment-modal__group--action"
                                *ngIf="items.length > 1"
                                (click)="applyToAll(['deadlineFormatted', 'Deadline', 'showingDetails'], item)"
                                >
                                {{ 'ApplyToAll' | otTranslate }}
                            </a>
                        </upgraded-one-label-content>
                        <ot-datepicker
                            class="launch-assessment-modal__datepicker"
                            [dateModel]="item.deadlineFormatted"
                            [disableUntil]="disableUntilDate"
                            [format]="dateFormat"
                            [placeholder]="'EnterDeadlineDate' | otTranslate"
                            (onChange)="changeDate($event, item)"
                        ></ot-datepicker>
                    </div>
                    <div class="launch-assessment-modal__group launch-assessment-modal__details-group margin-top-1 flex-full-50">
                        <upgraded-one-label-content
                            [labelName]="'Reminder' | otTranslate"
                            [description]="'TheseAreDefaultReminderSettings' | otTranslate"
                            [inline]="true"
                            >
                            <a
                                class="launch-assessment-modal__group--action"
                                *ngIf="items.length > 1"
                                (click)="applyToAll(['ReminderDays', 'showingReminder', 'showingDetails'], item)"
                                >
                                {{ 'ApplyToAll' | otTranslate }}
                            </a>
                        </upgraded-one-label-content>
                        <form class="launch-assessment-modal__toggle">
                            <button
                                class="launch-assessment-modal__toggle-checkbox"
                                [ngClass]="{'checked': item.showingReminder}"
                                [disabled]="!item.Deadline"
                                (click)="toggleReminder(item)"
                                >
                                <i class="ot ot-check"></i>
                            </button>
                            <input
                                class="launch-assessment-modal__toggle-input one-input"
                                *ngIf="item.showingReminder"
                                name="reminder"
                                type="number"
                                min="1"
                                max="99999999"
                                [ngClass]="{ 'has-errors': item.errors.reminder }"
                                [(ngModel)]="item.ReminderDays"
                                (ngModelChange)="validateItems()"
                            />
                            <div class="launch-assessment-modal__toggle-message">
                                <span *ngIf="item.showingReminder">{{ "DaysBeforeDeadline" | otTranslate }}</span>
                                <span *ngIf="!item.showingReminder || !item.Deadline">{{ "AddReminder" | otTranslate }}</span>
                            </div>
                        </form>
                        <p
                            class="launch-assessment-modal__error launch-assessment-modal__error--small"
                            *ngIf="item.errors?.reminder"
                            >
                            {{ "ReminderMustBeAtLeastOneDayInTheFuture" | otTranslate }}
                        </p>
                    </div>
                </section>
                <section class="launch-assessment-modal__details row-wrap" *ngIf="item.showingDetails">
                    <div
                        class="launch-assessment-modal__group launch-assessment-modal__details-group margin-top-1 flex-full-50"
                        *ngIf="canPrepopulate"
                        >
                        <upgraded-one-label-content
                            [labelName]="'Prepopulate' | otTranslate"
                            [description]="'PrepopulateDescription' | otTranslate"
                            [inline]="true"
                            >
                            <a
                                class="launch-assessment-modal__group--action"
                                *ngIf="items.length > 1"
                                (click)="applyToAll(['Prepopulate', 'showingDetails'], item)"
                                >
                                {{ 'ApplyToAll' | otTranslate }}
                            </a>
                        </upgraded-one-label-content>
                        <form class="launch-assessment-modal__toggle">
                            <button
                                class="launch-assessment-modal__toggle-checkbox"
                                [ngClass]="{ 'checked': item.Prepopulate }"
                                (click)="togglePrepopulate(item)"
                                >
                                <i class="ot ot-check"></i>
                            </button>
                            <span class="launch-assessment-modal__toggle-message">
                                {{ "PrepopulateResponses" | otTranslate }}
                            </span>
                        </form>
                    </div>
                    <div class="launch-assessment-modal__group launch-assessment-modal__details-group margin-top-1 flex-full-50 max-width-50-percent">
                        <label class="launch-assessment-modal__label">
                            {{ "Comments" | otTranslate }} <span class="launch-assessment-modal__lable-optional">{{ "Optional" | otTranslate }}</span>
                            <a
                                class="launch-assessment-modal__group--action"
                                *ngIf="items.length > 1"
                                (click)="applyToAll(['Comment', 'showingDetails'], item)"
                                >
                                {{ "ApplyToAll" | otTranslate }}
                            </a>
                        </label>
                        <textarea class="launch-assessment-modal__comments" [(ngModel)]="item.Comment"></textarea>
                    </div>
                </section>
            </li>
        </ul>
        <div
            class="launch-assessment-modal__success"
            *ngIf="showingSuccessMessage"
            [ngClass]="{ 'is-showing': showingSuccessMessage }"
            >
            <h3 class="launch-assessment-modal__success-message">
                <span class="launch-assessment-modal__success-count">{{items.length}}&nbsp; </span>
                <span class="launch-assessment-modal__success-text" *ngIf="items.length > 1">{{ 'AssessmentsSentSuccessfully' | otTranslate }}</span>
                <span class="launch-assessment-modal__success-text" *ngIf="items.length === 1">{{ 'AssessmentSentSuccessfully' | otTranslate }}</span>
            </h3>
        </div>
        <footer
            *ngIf="isReady && !isSaving && !showingSuccessMessage"
            class="margin-top-half static-horizontal row-vertical-center margin-top-1 padding-top-1">
            <p
                class="launch-assessment-modal__submit-error launch-assessment-modal__error"
                *ngIf="!canSubmit"
                >
                {{ "ResolveErrorsAbove" | otTranslate }}
            </p>
            <button
                otButton
                neutral
                class="margin-right-1 margin-left-auto"
                [disabled]="isSaving"
                (click)="closeModal()"
                >
                {{ 'Cancel' | otTranslate }}
            </button>
            <button
                otButton
                brand
                [loading]="isSaving"
                [disabled]="!canSubmit || isSaving || !hasValidUsers"
                (click)="sendAssessments()"
                >
                {{ 'SendAssessments' | otTranslate }}
            </button>
        </footer>
    </div>
</one-modal-base>