<ot-modal-header (close)="closeModal(false)">
    <div>{{ 'AddNewCustomControl' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form name="AddControlModalForm"
        [formGroup]="controlForm"
        >
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'ControlID' | otTranslate"
            [hasError]="controlNumber?.invalid && (controlNumber?.dirty || controlNumber?.touched)"
            [errorMessage]="controlNumber?.errors?.maxlength ? ('ErrorMaxLengthExceeded'| otTranslate): ('EnterControlNumber' | otTranslate)"
            [required]="true"
        >
            <input
                otInput
                class="full-width one-input"
                formControlName="controlNumber"
                ot-auto-id="AddControlModalControlNumberInput"
                [name]="'addControlFormControlNumber'"
                [placeholder]="'EnterControlNumber' | otTranslate"
            />
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Name' | otTranslate"
            [hasError]="controlName?.invalid && (controlName?.dirty || controlName?.touched)"
            [errorMessage]="controlName?.errors?.maxlength ? ('ErrorMaxLengthExceeded'| otTranslate): ('EnterControlName' | otTranslate)"
            [required]="true"
        >
            <textarea
                otTextarea
                class="full-width one-text-area resize-none"
                formControlName="controlName"
                rows="2"
                ot-auto-id="AddControlModalControlNameInput"
                [name]="'addControlFormControlName'"
                [placeholder]="'EnterControlName' | otTranslate"
            ></textarea>
        </div>
        <div
            otFormElement
            class="margin-bottom-1 "
            [label]="'Status' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                class="full-width"
                labelKey="name"
                valueKey="nameKey"
                ot-auto-id="AddControlModalControlStatusPicklist"
                [placeholder]="'Select' | otTranslate"
                [autoClose]="true"
                [options]="statusOptions || []"
                [model]="controlStatus.value"
                (onSelect)="onStatusChange($event)"
                >
            </ot-picklist>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [hasError]="controlDescription?.invalid && (controlDescription?.dirty || controlDescription?.touched)"
            [errorMessage]="controlDescription?.errors?.maxlength ? ('ErrorMaxLengthExceeded'| otTranslate): ''"
            [label]="'Description' | otTranslate"
        >
            <textarea
                otTextarea
                class="full-width one-text-area resize-none"
                formControlName="controlDescription"
                rows="2"
                ot-auto-id="AddControlModalControlDescriptionInput"
                [name]="'addControlFormControlDescription'"
                [placeholder]="'EnterControlDescription' | otTranslate"
            ></textarea>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [hasError]="framework?.invalid && (framework?.dirty || framework?.touched || !framework.value)"
            [errorMessage]="framework?.errors?.maxlength ? ('ErrorMaxLengthExceeded'| otTranslate): ''"
            [label]="'Framework' | otTranslate"
        >
            <ot-lookup
                labelKey="name"
                valueKey="id"
                ot-auto-id="AddControlModalFrameworkLookup"
                [model]="framework.value"
                [placeholder]="'Select' | otTranslate"
                [options]="filterredFrameworks || []"
                [useInputDebouncer]="true"
                (modelChange)="updateFramework($event)"
                (inputChange)="onFrameworkInputChange($event)"
                (firstOptionSelect)="addNewFramework()"
                (blur)="resetInputValue('controlFramework')"
                >
                <ng-template otFirstOption *ngIf="frameworkInputValue?.name">
                    <span
                        role="option"
                        ot-auto-id="AddControlModalNewCategory"
                        >
                        <ng-container>
                            {{"Add" | otTranslate}}: {{frameworkInputValue?.name}}
                        </ng-container>
                    </span>
                </ng-template>
            </ot-lookup>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [hasError]="category?.invalid && (category?.dirty || category?.touched || !category.value)"
            [errorMessage]="category?.errors?.maxlength ? ('ErrorMaxLengthExceeded' | otTranslate): ''"
            [label]="'Category' | otTranslate"
        >
            <ot-lookup
                labelKey="name"
                valueKey="id"
                ot-auto-id="AddControlModalCategoryLookup"
                [model]="category.value"
                [placeholder]="'Select' | otTranslate"
                [options]="filterredCategories || []"
                [useInputDebouncer]="true"
                (modelChange)="updateCategory($event)"
                (inputChange)="onCategoryInputChange($event)"
                (firstOptionSelect)="addNewCategory()"
                (blur)="resetInputValue('controlCategory')"
                >
                <ng-template otFirstOption *ngIf="inputValue?.name">
                    <span
                        role="option"
                        ot-auto-id="AddControlModalNewCategory"
                        >
                        <ng-container>
                            {{"Add" | otTranslate}}: {{inputValue?.name}}
                        </ng-container>
                    </span>
                </ng-template>
            </ot-lookup>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="AddControlModalCancelBtn"
        [disabled]="isSaveAndAddNewTriggered || isSaving"
        (click)="closeModal(false)"
        >{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton neutral
        ot-auto-id="AddControlModalSaveAndAddNewBtn"
        [disabled]="controlForm.invalid || isSaving || isSaveAndAddNewTriggered"
        [loading]="isSaveAndAddNewTriggered"
        (click)="onSave(true)"
        >{{ 'SaveAndAddNew' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="AddControlModalSaveBtn"
        [disabled]="controlForm.invalid || isSaveAndAddNewTriggered || isSaving"
        [loading]="isSaving"
        (click)="onSave()"
        >{{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
