.section-navigator-button {

    &__container {
        position: relative;
        margin: 0.8rem;

        &:hover {
            .section-navigator-button__text {
                opacity: 1;
            }
        }
    }

    &__text {
        opacity: 0;
        transition: opacity .4s;
        position: absolute;
        font-size: 1.2rem;
        top: -2rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;

        .is-active & {
            opacity: 1;
        }
    }

    &__button {
        background-color: $grey-4;
        transition: background-color .2s;
        border: 0;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        position: relative;

        &:hover {
            background-color: $slate;
        }

        .is-active & {
            height: 3rem;
            width: 3rem;
            flex: 0 0 3rem;
            border: 4px solid $green;
            background: none;
        }

        .is-completed & {
            background-color: $green;
        }

        .not-started:not(.is-active) & {
            background: 0;
            border: 2px solid $grey-4;
        }

        .is-active.is-completed & {
            background-color: $white;
        }
    }

    &__icon {
        opacity: 0;
        color: $white;
        font-size: 1.2rem;

        .is-completed & {
            opacity: 1;
        }

        .is-active.is-completed & {
            color: $green;
        }
    }

    &__connector {
        height: .2rem;
        background-color: $grey-4;

        .is-completed & {
            background-color: $green;
        }

        .is-previous & {
            background-color: $slate;
        }
    }

    &__required {
        background-color: $light-red;
        border: 1px solid $slate;
        height: .8rem;
        width: .8rem;
        border-radius: 50%;
        position: absolute;
        top: -0.3rem;
        right: -0.3rem;
    }
}
