<div class="gra-report-section-summary flex flex-column">
    <div class="gra-report-section-summary__header
                flex
                row-nowrap
                row-space-between
                row-vertical-center
                padding-left-right-2
                border-bottom
                cursor-pointer"
        [attr.ot-auto-id]="'GRAReportShowQuestionSummary' + sectionSummary.sectionId"
        (click)="toggleQuestionSummary()"
        >
        <div class="flex">{{ sectionSummary.sectionName }}</div>
        <div class="flex row-nowrap row-space-between">
            <div class="row-nowrap row-vertical-center paragraph-small margin-left-right-2">
                <i class="ot ot-check-circle-o color-green margin-right-1"></i>
                {{ 'Ready' | translate }} - {{  sectionSummary.ready }}
            </div>
            <div class="row-nowrap row-vertical-center paragraph-small margin-left-right-2">
                <i class="ot ot-times-circle text-error margin-right-1"></i>
                {{ 'GapIdentified' | translate }} - {{  sectionSummary.gapIdentified }}
            </div>
            <div class="row-nowrap row-vertical-center paragraph-small margin-left-right-2">
                <i class="ot ot-question text-color-default margin-right-1"></i>
                {{ 'Unanswered' | translate }} - {{  sectionSummary.unanswered }}
            </div>
            <div class="row-vertical-center">
                <i [ngClass]="showQuestionSummary? 'fa fa-angle-down' : 'fa fa-angle-right'"></i>
            </div>
        </div>
    </div>
    <gra-report-question-summary
        *ngIf="showQuestionSummary"
        [questionSummary]="sectionSummary.questionDtos"
        [templateType]="templateType"
    ></gra-report-question-summary>
</div>
