<section class="one-modal-new flex-full-height full-width-block max-height-100-percent color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
            [innerText]="modalTitle"
        >
        </h4>
        <button otButton neutral class="one-modal-new__close static-horizontal no-outline" (click)= "closeModal()">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="padding-all-2">
        <form name="createTemplateForm">
            <div class="margin-top-1" otFormElement [label]="templateNameLabel">
                <input otInput
                    [placeholder]="'EnterTemplateName' | otTranslate"
                    [ngModel]="templateName"
                    (ngModelChange)="setTemplateName($event)"
                    name="templateName"
                    required
                />
            </div>
            <p *ngIf="isDuplicateTemplate"
                class="text-center text-danger"
                [innerText]="'TemplateNameExist' | otTranslate">
            </p>
            <div class="margin-top-1" otFormElement [label]="organizationNameLabel">
                <ot-picklist
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    [autoClose]="autoCloseEnabled"
                    [options]="orgGroupList"
                    [valueKey]="'Id'"
                    [labelKey]="'Name'"
                    [model]="selectedOrgGroup"
                    (onSelect)="selectOrgGroup($event)"
                ></ot-picklist>
            </div>
            <div class="margin-top-1" otFormElement [label]="defaultLanguageLabel">
                <ot-picklist
                    [placeholder]="'SelectLanguage' | otTranslate"
                    [autoClose]="autoCloseEnabled"
                    [options]="languageList"
                    [valueKey]="'id'"
                    [labelKey]="'name'"
                    [model]="selectedLanguage"
                    (onSelect)="selectLanguage($event)"
                ></ot-picklist>
            </div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <div>
                <button class="margin-right-1"
                    otButton neutral
                    [innerText]="cancelButtonText"
                    (click)="closeModal()"
                    [attr.ot-auto-id]="'AttributeCancelTemplate'"
                >
                </button>
            </div>
            <div>
                <button otButton brand
                     [loading]="addDisabled"
                     [innerText]="createTemplateButton"
                     [disabled]="!validateForm()"
                     (click)="createTemplate()"
                     [attr.ot-auto-id]="'AttributeAddTemplate'"
                >
                </button>
            </div>
        </footer>
    </div>
</section>
