<section class="one-modal-new flex-full-height full-width-block max-height-100-percent color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
            [innerText]="modalTitle"
        >
        </h4>
        <button
            otButton
            neutral
            class="one-modal-new__close static-horizontal no-outline"
            (click)="closeModal()"
            [attr.ot-auto-id]="'AttributeCloseEditTemplateId'">
            <i class="ot ot-times "></i>
        </button>
    </section>
    <div class="padding-all-2">
        <form name="editTemplateForm">
            <div class="margin-top-1" otFormElement [label]="templateNameLabel">
                <input otInput
                    [placeholder]="'EnterTemplateName' | otTranslate"
                    [ngModel]="templateName"
                    (ngModelChange)="setTemplateName($event)"
                    name="templateName"
                    required
                    [attr.ot-auto-id]="'AttributeTemplateNameId'"
                />
            </div>
            <div class="margin-top-1" otFormElement [label]="organizationNameLabel">
                <ot-picklist
                    [autoClose]="autoCloseEnabled"
                    [options]="orgGroupList"
                    [valueKey]="'Id'"
                    [labelKey]="'Name'"
                    [model]="selectedOrgGroup"
                    (onSelect)="selectOrgGroup($event)"
                    [disabled]="true"
                    [attr.ot-auto-id]="'AttributeTemplateOrgNameId'"
                ></ot-picklist>
            </div>
            <div class="margin-top-1" otFormElement [label]="defaultLanguageLabel">
                <ot-picklist
                    [autoClose]="autoCloseEnabled"
                    [options]="languageList"
                    [valueKey]="'id'"
                    [labelKey]="'name'"
                    [model]="selectedLanguage"
                    (onSelect)="selectLanguage($event)"
                    [disabled]="true"
                    [attr.ot-auto-id]="'AttributeTemplateDefaultLangId'"
                ></ot-picklist>
            </div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <div>
                <button
                    class="margin-right-1"
                    otButton
                    neutral
                    (click)="closeModal()"
                    [innerText]="cancelButtonText"
                    [attr.ot-auto-id]="'AttributeEditTemplateCancelId'">
                </button>
            </div>
            <div>
                <button
                    otButton
                    brand
                    [loading]="editDisabled"
                    (click)="editTemplate()"
                    [innerText]="createTemplateButton"
                    [disabled]="!validateForm()"
                    [attr.ot-auto-id]="'AttributeEditTemplateSaveBtnID'">
                </button>
            </div>
        </footer>
    </div>
</section>
