<section class="one-modal-new flex-full-height full-width-block max-height-100-percent overflow-y-auto color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]="modalTitle"
        >
        </h4>
        <button otButton neutral class="one-modal-new__close static-horizontal no-outline" (click)="closeModal()">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="padding-all-2 text-small">
        <form name="publishTemplateForm">
            <div *ngIf="assignedTemplate.length > 0">
                <div class="text-bold margin-top-1" [innerText]="'PreviouslyAssignedDomain' | otTranslate"></div>
                <div class="border max-height-15 padding-left-right-2 overflow-y-auto">
                    <div class="padding-all-half border-bottom"
                        *ngFor="let assign of assignedTemplate;trackBy:value">
                        {{assign.title}}
                    </div>
                </div>
            </div>
            <div class="margin-top-half" otFormElement [label]="'SelectDomains' | otTranslate">
                <ot-lookup
                    [clearInputOnModelChange]="clearInputOnModelChange"
                    [options]="showDefaultDomains? domainList : domainListLookUp"
                    [model]="multiSelectEnabled ? selectedOptions : selectedOption"
                    [labelKey]="'title'"
                    [valueKey]="'id'"
                    [placeholder]="'SelectDomains' | otTranslate"
                    [multiSelect]="multiSelectEnabled"
                    [autoClose]="true"
                    (modelChange)="onModelChange($event)"
                    (inputChange)="onInputChange($event)"
                    [disabled]="publishDisabled"
                >
                </ot-lookup>
            </div>
            <div class="margin-top-bottom-1" [innerText]="publishConfirmationText"></div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <div>
                <button
                    class="margin-right-1"
                    otButton
                    neutral
                    (click)="closeModal()"
                    [innerText]="cancelButtonText"
                    [attr.ot-auto-id]="'AttributeCancelButtonId'">
                </button>
            </div>
            <div>
                <button
                    otButton
                    brand
                    [loading]="publishDisabled"
                    [disabled]="!validateForm"
                    (click)="publishTemplate()"
                    [innerText]="submitButtonText"
                    [attr.ot-auto-id]="'AttributePublishSaveButtonId'">
                </button>
            </div>
        </footer>
    </div>
</section>
