<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle | translate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ng-template #loading>
        <ot-loading class="stretch-vertical column-horizontal-vertical-center"></ot-loading>
    </ng-template>
    <section *ngIf="ready; else loading">
        <div
            *ngIf="isEdit; else addvalue"
            class="text-center text-warning padding-bottom-1"
        >
            <i class="ot ot-exclamation-circle padding-right-1"></i>
            {{ "EditingCustomValuesWarning" | translate }}
        </div>
        <ng-template #addvalue>
            <div class="text-center text-warning padding-bottom-1">
                <i class="ot ot-exclamation-circle padding-right-1"></i>
                {{ "CustomValueScopesPriority" | translate }}
            </div>
            <div class="text-center text-warning padding-bottom-1">
                <i class="ot ot-exclamation-circle padding-right-1"></i>
                {{ "CustomValuesCreateValueWarning" | translate }}
            </div>
        </ng-template>
        <form  novalidate
            [formGroup]="customValueForm"
        >
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Name'| translate"
                [required]="true"
            >
                <input otInput
                    formControlName="name"
                    ot-auto-id="IntgCustomValueName"
                    maxlength="100"
                    [placeholder]="'EnterName' | translate"
                    (keydown.space)="$event.preventDefault()"
                />
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Type' | translate"
                [required]="true"
            >
                <ot-picklist
                    ot-auto-id="IntgCustomValueTypes"
                    valueKey="value"
                    labelKey="key"
                    [placeholder]="'Select' | translate"
                    [autoClose]="true"
                    [options]="valueTypes"
                    [model]="customValueForm.get('type').value"
                    (onSelect)="setType($event)"
                ></ot-picklist>
            </div>
            <div otFormElement
                *ngIf="customValueForm.get('type').value.value === valueType.STRING"
                class="padding-top-bottom-1"
                [label]="'Value'| translate"
            >
                <input otInput
                    formControlName="value"
                    ot-auto-id="IntgCustomValueString"
                    [type]="varType"
                    [placeholder]="'EnterValue'| translate"
                />
            </div>
            <div otFormElement
                *ngIf="customValueForm.get('type').value.value === valueType.DOUBLE"
                class="padding-top-bottom-1"
                [label]="'Value'| translate"
            >
                <input otInput
                    formControlName="value"
                    ot-auto-id="IntgCustomValueDouble"
                    [type]="varType"
                    [placeholder]="'EnterValue'| translate"
                    (keydown.e)="$event.preventDefault()"
                    (keydown.shift.e)="$event.preventDefault()"
                    (paste)="onPaste($event)"
                />
            </div>
            <div otFormElement
                *ngIf="customValueForm.get('type').value.value === valueType.OBJECT"
                class="padding-top-bottom-1"
                [label]="'Value'| translate"
            >
                <textarea otTextarea
                    formControlName="value"
                    ot-auto-id="IntgCustomValueValues"
                    rows="5"
                    [placeholder]="'EnterValue'| translate"
                ></textarea>
            </div>
            <div otFormElement
                *ngIf="customValueForm.get('type').value.value === valueType.DATE"
                class="padding-top-bottom-1"
                [label]="'Value' | translate"
            >
                <ot-date-time-picker
                    ot-auto-id="IntgCustomValueDateTime"
                    [dateTimeModel]="customValueForm.get('value').value"
                    [dateFormat]="format"
                    [datePlaceholder]="'EnterValue' | translate"
                    [hoursText]="'Hours' | translate"
                    [is24Hour]="is24Hour"
                    [minutesText]="'Minutes' | translate"
                    [timePlaceholder]="'EnterValue' | translate"
                    (onChange)="selectDateTime($event)"
                ></ot-date-time-picker>
            </div>
            <div otFormElement
                *ngIf="customValueForm.get('type').value.value === valueType.BOOLEAN"
                class="padding-top-bottom-1"
                [label]="'Value' | translate"
            >
                <ot-toggle
                    ot-auto-id="IntgCustomValueBoolean"
                    [checked]="isCustomValue"
                    (toggle)="onToggle($event)"
                >
                </ot-toggle>
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'System' | translate"
            >
                <ot-picklist
                    ot-auto-id="IntgCustomValueSystem"
                    valueKey="id"
                    labelKey="name"
                    [placeholder]="'Select' | translate"
                    [disabled]="isSystemsLoading"
                    [autoClose]="true"
                    [options]="systems"
                    [model]="customValueForm.get('selectedSystem').value"
                    (onSelect)="setSystem($event)"
                ></ot-picklist>
            </div>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'Workflow' | translate"
            >
                <ot-picklist
                    ot-auto-id="'IntgCustomValueSystemIntegrationWorkflow'"
                    valueKey="id"
                    labelKey="name"
                    [placeholder]="'Select' | translate"
                    [disabled]="isWorkflowsLoading"
                    [autoClose]="true"
                    [options]="filteredWorkflow"
                    [model]="customValueForm.get('selectedWorkflow').value"
                    (onSelect)="setWorkflow($event)"
                ></ot-picklist>
            </div>
        </form>
    </section>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IntgCustomValueCancelBtn"
        (click)="closeModal()"
        >
        {{ 'Cancel'| translate}}
    </button>
    <button otButton brand
        ot-auto-id="IntgCustomValueCreateBtn"
        [loading]="isLoading"
        [disabled]="customValueForm.invalid || isLoading"
        (click)="createCustomValues()"
        >
        {{ (isEdit ? 'Save' :'Create') | translate }}
    </button>
</ot-modal-footer>
