<section
    class="centered-max-50 full-width padding-top-5"
    *ngIf="pdfReportService.reportView$ | async as view"
    >
    <div
        otFormElement
        class="margin-bottom-3"
        [label]="'ReportName' | otTranslate"
        >
        <span
            class="padding-left-1"
            [innerText]="view.reportName"
            >
        </span>
    </div>
    <div
        otFormElement
        class="margin-bottom-3"
        [label]="'ReportType' | otTranslate"
        >
        <span
            class="padding-left-1"
            [innerText]="'PDF'"
            >
        </span>
    </div>
    <div
        otFormElement
        class="margin-bottom-3"
        [label]="'Module' | otTranslate"
        >
        <span
            class="padding-left-1"
            [innerText]="moduleTranslations[view.type] | otTranslate"
            >
        </span>
    </div>
    <div
        otFormElement
        class="margin-bottom-3"
        [label]="'Template' | otTranslate"
        >
        <span
            class="padding-left-1"
            [innerText]="selectionLabels[view.type] | otTranslate"
            >
        </span>
    </div>
</section>
