header.settings-body-header {{::$root.t("APISettings")}}
.settings-body-content.settings-API
    loading(ng-if='!Ready', text='{{::$root.t("APISettings")}}')
    form.variable-branding.settings-input-section(name='projectForm')
        h3.settings-input-section-name {{::$root.t("APIKey")}}

        .form-group.form-horizontal
            .table.table-responsive
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th.checkbox {{::$root.t("EnableOrDisable")}}
                            th {{::$root.t("Key")}}

                    tbody
                        tr
                            td.checkbox
                                button.reminder-none(type='button', ng-model="API.enable", ng-class="{'checked': API.enable}", ng-click="toggleAPI()")
                                    i.ot.ot-check
                            td.api-key
                                | {{API.key}}
