<!-- page sub-header -->
<cookie-header
    [primaryButton]="primaryButton"
    [secondaryButton]="secondaryButton"
></cookie-header>
<div class="overflow-y-auto">
    <div class="centered-90">
        <div
            *ngFor="let category of categories; trackBy: trackByIndex; let index = index;"
            class="background-grey margin-top-bottom-2"
        >
            <div class="row-space-between padding-top-bottom-1 padding-left-right-2 align-baseline text-bold">
                <div class="row-nowrap">
                    <div class="margin-right-2 word-break width-4">{{category.categoryId}}</div>
                    <div>{{category.name}}</div>
                </div>
                <div class="row-nowrap hover-show-container">
                    <button
                        otButton
                        class="hover-show"
                        ot-auto-id="CookieCategorizationEditCategoryButton"
                        icon="ot ot-edit"
                        (click)="onEditCategory(index, category)"
                    ></button>
                    <button
                        otButton
                        class="hover-show"
                        ot-auto-id="CookieCategorizationDeleteCategoryButton"
                        icon="ot ot-trash"
                        (click)="onRemoveCategory(index)"
                    ></button>
                    <button
                        otButton
                        ot-auto-id="CookieCategorizationTogglecategoryButton"
                        [icon]="category.isOpen ? 'ot ot-chevron-up' : 'ot ot-chevron-down'"
                        (click)="category.isOpen = !category.isOpen"
                    ></button>
                </div>
            </div>
            <div
                *ngIf="category.isOpen"
                class="width-75-percent padding-bottom-1 cookie-category-list__description"
            >
                {{category.description}}
            </div>
        </div>
    </div>
</div>

