<ot-modal-header (close)="closeModal()">
    <div>{{ 'UpdateTerm' | translate }}</div>
</ot-modal-header>
<ng-template #showLoading>
    <ot-loading class="min-height-30 flex-full-height row-horizontal-vertical-center"></ot-loading>
</ng-template>
<ot-modal-content *ngIf="!isLoading; else showLoading" class="overflow-y-auto margin-right-half">
    <div class="margin-bottom-2">
        <p class="margin-none text-bold">{{'Key' | translate}}</p>
        <p class="margin-none">{{currentTabId === tabIds.System ? termKey : defaultTerm}}</p>
    </div>
    <div
        *ngIf="currentTabId === tabIds.System"
        class="row-space-between-center margin-bottom-2 padding-right-1"
    >
        <div>
            <p class="margin-none text-bold">{{'RestoreItem' | translate}}</p>
            <p class="margin-none">{{'RestoreAllValuesToNull' | translate}}</p>
        </div>
        <div class="min-width-15">
            <button
                otButton neutral
                ot-auto-id="LocalizationEditModalRestoreBtn"
                [disabled]="isSaving"
                (click)="showDefaultValues()"
            >{{'RestoreDefaultBtn' | translate}}</button>
        </div>
    </div>
    <form
        *ngIf="terms"
        class="stretch-vertical full-width padding-right-1"
        [formGroup]="localizationEditForm"
    >
        <div formArrayName="languageList">
            <ng-container *ngFor="let languageList of languageLists.controls; let index = index ; let last = last">
                <div class="flex align-flex-end" [formGroupName]="index">
                    <div otFormElement
                        class="full-width margin-bottom-2"
                        [label]="terms[index].language"
                    >
                        <input
                            otInput
                            formControlName="value"
                            class="slds-input"
                            [disabled]="isSaving"
                            [placeholder]="'EnterValue' | translate"
                            [attr.ot-auto-id]="'LocalizationEditModalField_' + index"
                        />
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="LocalizationEditModalCancelBtn"
        [disabled]="isSaving"
        (click)="closeModal()"
    >{{'Close' | translate}}</button>
    <button
        otButton neutral
        class="margin-right-1"
        ot-auto-id="LocalizationEditModalSaveAndNextBtn"
        [disabled]="isSaving"
        [loading]="isSavingTermAndLoadingNext"
        (click)="saveTerm(true)"
    >{{'SaveAndNext' | translate}}</button>
    <button
        otButton brand
        ot-auto-id="LocalizationEditModalSaveBtn"
        [disabled]="isSaving"
        [loading]="isSavingTerm"
        (click)="saveTerm()"
    >{{'Save' | translate}}</button>
</ot-modal-footer>
