<ot-modal-header (close)="closeModal()">
    <div>{{ 'SelectPurposeCustomPreferences' | otTranslate }}</div>
</ot-modal-header>

<ot-modal-content>
    <form #form="ngForm" class="min-height-30">
        <p>
            {{ 'AddPurposeCustomPreferenceModalText' | otTranslate }}
        </p>

        <div otFormElement
             [label]="'SelectPurposeCustomPreferences' | otTranslate"
             [required]="true"
        >
            <ot-lookup
                class="position-relative"
                ot-auto-id="AddPurposeCustomPreferenceLookup"
                labelKey="Name"
                valueKey="Id"
                [placeholder]="'AddPurposeCustomPreferencePlaceholder' | otTranslate"
                [options]="(customPreferences$ | async)"
                [model]="(selectedCustomPreferences$ | async)"
                [multiSelect]="true"
                [clearInputOnModelChange]="true"
                (inputChange)="onInputChange($event)"
                (modelChange)="onModelChanged($event)"
            >
            </ot-lookup>
        </div>
    </form>
</ot-modal-content>

<ot-modal-footer>
    <button otButton
        ot-auto-id="PurposeCustomPreferencesCloseButton"
        [disabled]="isSaving"
        (click)="closeModal()"
    >
        {{ "Close" | otTranslate }}
    </button>

    <button otButton brand
        ot-auto-id="PurposeCustomPreferencesAddButton"
        [disabled]="(isAddButtonDisabled$ | async) || isSaving"
        (click)="saveSelectedCustomPreferences()"
    >
        {{ "Add" | otTranslate }}
    </button>
</ot-modal-footer>
