<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="padding-all-2">
        <div otFormElement
            class="margin-bottom-1"
            [required]="true"
            [label]="'AttributeWhichInventoryQuestion' | otTranslate"
        >
            <ot-picklist
                [attr.ot-auto-id]="'TemplateQuestionAttributeSelect'"
                [autoClose]="true"
                [options]="inventoryQuestions"
                [valueKey]="'id'"
                [labelKey]="'content'"
                [model]="selectedInventoryQuestion"
                [placeholder]="'SelectInventoryQuestion' | otTranslate"
                (onSelect)="onInventoryQuestionChange($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-1"
            [required]="true"
            [label]="'WhichAttribute' | otTranslate"
        >
            <ot-picklist
                [attr.ot-auto-id]="'TemplateBuilderQuestionAttributeTypeSelect'"
                [disabled]="isAttributeDropdownDisabled"
                [autoClose]="true"
                [options]="inventoryAttributes"
                [valueKey]="'id'"
                [labelKey]="'name'"
                [model]="selectedAttributeType"
                [placeholder]="attributePlaceholderText | otTranslate"
                (onSelect)="onAttributeChange($event)"
            ></ot-picklist>
        </div>
        <footer class="margin-top-half row-flex-end static-horizontal padding-top-1">
                <button
                    otButton
                    neutral
                    class="margin-right-1 border-none"
                    [attr.ot-auto-id]="'TemplateAddAttributeCancelButton'"
                    [innerText]="'Cancel' | otTranslate"
                    (click)="closeModal()"
                >
                </button>
                <button
                    otButton
                    neutral
                    class="margin-right-1"
                    [attr.ot-auto-id]="'TemplateAddAttributeSaveAddAnotherButton'"
                    [innerText]="'SaveAndAddNew' | otTranslate"
                    [loading]="saveAndAddInProgress"
                    [disabled]="isSubmitButtonDisabled"
                    (click)="onSaveAttributeQuestion(true)"
                >
                </button>
                <button
                    otButton
                    brand
                    class="margin-right-1 no-outline"
                    [attr.ot-auto-id]="'TemplateAddAttributeSaveButton'"
                    [innerText]="'Save' | otTranslate"
                    [loading]="saveInProgress"
                    [disabled]="isSubmitButtonDisabled"
                    (click)="onSaveAttributeQuestion(false)"
                >
                </button>
        </footer>
    </div>
</one-modal-base>
