<textarea otTextarea
    *ngIf="!isDisabled"
    ot-auto-id="QuestionTextBoxPreview"
    class="one-textarea full-width resize-none"
    [placeholder]="'TypeTextResponse' | otTranslate"
    [ngModel]="answer"
    (ngModelChange)="sendAction('TEXTBOX_UPDATED', $event)">
</textarea>
<div
    *ngIf="isDisabled"
    class="question__content question__content--readonly padding-all-1"
    [innerText]="answer"
>
</div>
<div class="padding-top-bottom-1">
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        ot-auto-id="TextboxQuestionNotSureBtn"
        class="margin-right-1 margin-bottom-1 no-outline"
        [disabled]="isDisabled"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="sendAction('NOT_SURE_SELECTED')"
        >
    </button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        ot-auto-id="TextboxQuestionNotApplicableBtn"
        class="margin-right-1 margin-bottom-1 no-outline"
        [disabled]="isDisabled"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="sendAction('NOT_APPLICABLE_SELECTED')"
        >
    </button>
</div>
