<div
    *ngIf="collectionPointType !== crConstants.CRTypes.Mobile"
    class="position-relative background-grey full-width column-horizontal-center">
    <div class="row-vertical-center border-none margin-top-bottom-1">
        <div class="centered-80 margin-left-right-auto text-center word-break-all">
            <span class="heading2 text-thin">
                {{title ? title : collectionPoint.Name}}
            </span>
        </div>
    </div>
</div>