<footer otPageFooter class="assessment-bulk-launch-footer flex justify-end align-center padding-top-bottom-0 padding-left-right-1">
    <button otButton neutral
        class="margin-right-1 pull-right padding-left-right-3"
        (click)="onCancel()"
        [innerText]="'Cancel' | otTranslate"
        [attr.ot-auto-id]="'AssessmentBulkLaunchFooterCancelButton'"
    ></button>
    <button otButton brand
        class="margin-right-1 pull-right padding-left-right-3"
        [disabled]="isCreateButtonDisabled"
        [loading]="saveInProgress"
        (click)="onCreateAndSend()"
        [innerText]="'CreateAndSend' | otTranslate"
        [attr.ot-auto-id]="'AssessmentBulkLaunchFooterCreateButton'"
    ></button>
</footer>
