.section-edit-modal {

    &__form {
        width: 46rem;
        padding: 3rem 0 4rem;
    }

    &__input {
        &-container {
            flex: 1 1 auto;
            min-width: 1px;
        }
    }

    &__footer {
        padding: 2rem 0 .5rem;
        border-top: 1px solid $grey-1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    &__error {
        color: $light-red;
        margin: 1rem 0 0;
    }
}
