<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]=" 'SectionBuilder' | otTranslate"
    (close)="closeModal()"
    >
    <form
        class="section-edit-modal__form flex-full-height margin-0-auto max-width-full"
        name="sectionEditForm"
        #editSectionForm="ngForm"
        [attr.ot-auto-id]="'SectionEditModalForm'"
        >
        <div otFormElement
            class="section-edit-modal__group"
            [label]="'SectionName' | otTranslate"
            [required]="true"
            [hasError]="nameControl.errors && nameControl.dirty"
            [errorMessage]="'ErrorEnterSectionName' | otTranslate"
            >
            <input otInput
                required
                class="full-width one-input form-control one-input"
                name="sectionName"
                autofocus="true"
                maxlength="50"
                #nameControl="ngModel"
                [attr.ot-auto-id]="'SectionEditModalNameTextBox'"
                [ngModel]="modalData.sectionName"
                [value]="'modalData.sectionName'"
                [disabled]="disabled"
                (keypress)="onKeyPress($event)"
                (ngModelChange)="valuechange($event)"
                />
        </div>
    </form>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'SectionEditModalCancelButton'"
            [innerText]="'Cancel' | otTranslate"
            [loading]="disabled"
            [disabled]="disabled"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            class="section-edit-modal__button"
            [attr.ot-auto-id]="'SectionEditModalSaveAndAddNewButton'"
            [loading]="disabled"
            [disabled]="disabled || emptyName"
            [innerText]="modalData.modalTitle | otTranslate"
            (click)="handleSubmit(modalData.sectionName)"
            >
        </button>
    </footer>
</one-modal-base>