<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="'EditAssessmentDetails' | otTranslate"
    (close)="closeModal()">
    <div
        *ngIf="!modalData?.viewState"
        class="padding-top-bottom-2"
    >
        <ot-loading otPageLoading>
        </ot-loading>
    </div>
    <div
        *ngIf="modalData?.viewState"
        class="flex-full-height overflow-y-auto"
        >
        <section class="row-space-between stretch-vertical min-height-50 max-height-50 padding-top-bottom-2 padding-right-2 margin-left-2">
            <div class="column-nowrap width-50-percent margin-left-right-1-half">
                <div class="margin-left-1 aa-metadata__collapse">
                    <ot-collapse
                        [title]="'AssessmentInformation'| otTranslate"
                        [open]="isToggleAssessmentDetailsOpen"
                        (toggled)="toggleAssessmentDetails($event)">
                        <div
                            otFormElement
                            class="padding-top-1 padding-bottom-1-half"
                            [label]="'Name' | otTranslate"
                            [required]="true">
                            <input
                                otInput
                                autofocus
                                class="form-control one-input aa-metadata__form-field"
                                ot-auto-id="EditAssessmentDetailsAssessmentNameTextBox"
                                [placeholder]="'Name' | otTranslate"
                                [disabled]="!modalData.viewState.canEditName"
                                [ngModel]="assessmentName"
                                (ngModelChange)="setAssessmentName($event)"/>
                        </div>
                        <div
                            otFormElement
                            class="padding-top-1 padding-bottom-1-half"
                            [label]="'Organization' | otTranslate"
                            [required]="true">
                            <org-select
                                *ngIf="'AssessmentChangeAssessmentOrg' | otPermit; else showOrgName"
                                identifier="EditAssessmentMetaDataOrganizationField"
                                [placeholder]="'SelectOrganizationGroup' | otTranslate"
                                [model]="selectedOrg.id"
                                (onSelect)="setOrganization($event)"
                            ></org-select>
                            <ng-template #showOrgName>
                                <p>{{selectedOrg.name}}</p>
                            </ng-template>
                        </div>
                        <div
                            otFormElement
                            class="padding-top-1 padding-bottom-1-half"
                            [label]="'Template' | otTranslate">
                            {{templateName}}
                        </div>
                        <div
                            otFormElement
                            class="padding-bottom-1-half"
                            [label]="'Description' | otTranslate">
                            <textarea
                                otTextarea
                                ot-auto-id="EditAssessmentMetaDataCommentField"
                                [placeholder]="'EnterDescription' | otTranslate"
                                [disabled]="!modalData.viewState.canEditDescription"
                                [ngModel]="assessmentMetaDataDescription"
                                (ngModelChange)="setAssessmentMetaDataDescription($event)"
                            ></textarea>
                        </div>
                        <div
                            otFormElement
                            class="padding-bottom-1-half"
                            [label]="'Deadline' | otTranslate">
                            <ot-datepicker
                                ot-auto-id="EditAssessmentDetailsDeadLine"
                                [format]="format"
                                [disabled]="!modalData.viewState.canEditDeadline"
                                [dateModel]="assessmentDeadlineModel"
                                [disableUntil]="disableUntilDate"
                                [placeholder]="'Deadline' | otTranslate"
                                (onChange)="setAssessmentDeadline($event)"
                            ></ot-datepicker>
                        </div>
                        <div
                            otFormElement
                            class="padding-bottom-1-half"
                            [label]="'Reminder' | otTranslate"
                            [hasError]="assessmentDeadlineModel && assessmentReminder ? !validReminder : false"
                            [errorMessage]=" 'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate">
                            <input otInput
                                type="number"
                                ot-auto-id="EditAssessmentMetaDataReminderTextInput"
                                [placeholder]="'DaysBeforeDeadline' | otTranslate"
                                [min]="1"
                                [disabled]="!assessmentDeadlineModel || !modalData.viewState.canEditReminder"
                                [ngModel]="assessmentReminder"
                                (ngModelChange)="setReminderDaysSelected($event, assessmentDeadlineModel)"/>
                        </div>
                        <div
                            otFormElement
                            class="padding-bottom-1-half"
                            [label]="'Tags' | otTranslate">
                            <ot-lookup
                                [autoClose]="true"
                                [allowCustomOtherPill]="true"
                                [clearInputOnModelChange]="true"
                                [disabled]="!('AssessmentTagging' | otPermit)"
                                [inputValue]="inputValue"
                                [model]="selectedOptions"
                                [multiSelect]="true"
                                [options]="dropdownOptions"
                                [placeholder]="'SearchForTags' | otTranslate"
                                [valueKey]="'id'"
                                [labelKey]="'option'"
                                [virtualScroll]="false"
                                (inputChange)="onInputChange($event)"
                                (modelChange)="onModelChange($event)"
                                (firstOptionSelect)="handleFirstOption(inputValue)">
                                <ng-template otFirstOption *ngIf="inputValue">
                                    <span
                                        *ngIf="inputValue"
                                        id="listbox-option-unique-id-00"
                                        role="option"
                                    >
                                        {{allowOtherPrependText | otTranslate}}: {{inputValue}}
                                    </span>
                                </ng-template>
                            </ot-lookup>
                        </div>
                    </ot-collapse>
                </div>
            </div>
            <div class="column-nowrap width-50-percent margin-left-right-1-half">
                <div class="aa-metadata__collapse">
                    <ot-collapse
                        [title]="'Approver(s)'| otTranslate"
                        [open]="isToggleApproverListOpen"
                        (toggled)="toggleApproverList($event)">
                        <div class="padding-left-1">
                            <div class="padding-top-1 text-bold text-small"
                                otFormElement
                                [label]="'Approver(s)'| otTranslate">
                            </div>
                            <div *ngIf="isLoading">
                                <ot-loading otPageLoading>
                                </ot-loading>
                            </div>
                            <ot-org-user-multi-select
                                *ngIf="!isLoading"
                                ot-auto-id="EditMetaDataApproverList"
                                [allowEmail]="false"
                                [userList]="approverList"
                                [orgId]="orgId"
                                [fetchOptionsOnClick]="true"
                                [permissions]="['AssessmentCanBeApprover']"
                                [traversal]="'UP'"
                                [disabled]="!modalData.viewState.canEditApprover"
                                [retainErrorMessage]="true"
                                (onSelect)="onSelectedApproversList($event)"
                            ></ot-org-user-multi-select>
                            <div otFormElement
                                *ngIf="approverList.length"
                                class="margin-top-bottom-1"
                                [label]="'Comments' | otTranslate">
                                <textarea otTextarea
                                    ot-auto-id="EditAssessmentApproverCommentField"
                                    [placeholder]="'ApproverCommentPlaceholder' | otTranslate"
                                    [disabled]="!modalData.viewState.canEditApprover"
                                    [ngModel]="approverComment"
                                    (ngModelChange)="setApproverComment($event)"
                                ></textarea>
                            </div>
                        </div>
                    </ot-collapse>
                </div>
                <div class="padding-top-half aa-metadata__collapse">
                    <ot-collapse
                        [title]="'Respondent(s)'| otTranslate"
                        [open]="isToggleRespondentListOpen"
                        (toggled)="toggleRespondentList($event)">
                        <div class="padding-left-1">
                            <div class="padding-top-1 text-bold text-small"
                                otFormElement
                                [label]="'Respondent(s)'| otTranslate"
                                [required]="true">
                            </div>
                            <div *ngIf="isLoading">
                                <ot-loading otPageLoading>
                                </ot-loading>
                            </div>
                            <ot-org-user-multi-select
                                *ngIf="!isLoading"
                                ot-auto-id="EditMetaDataRespondentList"
                                [allowEmail]="true"
                                [userList]="respondentList"
                                [orgId]="orgId"
                                [fetchOptionsOnClick]="true"
                                [permissions]="['AssessmentCanBeRespondent']"
                                [traversal]="'BRANCH'"
                                [disabled]="!modalData.viewState.canEditRespondent"
                                [retainErrorMessage]="true"
                                (onSelect)="selectedRespondentsList($event)"
                            ></ot-org-user-multi-select>
                            <div otFormElement
                                *ngIf="respondentList.length"
                                class="margin-top-bottom-1"
                                [label]="'Comments' | otTranslate">
                                <textarea otTextarea
                                    ot-auto-id="EditAssessmentRespondentCommentField"
                                    [placeholder]="'RespondentCommentPlaceholder' | otTranslate"
                                    [disabled]="!modalData.viewState.canEditRespondent"
                                    [ngModel]="respondentComment"
                                    (ngModelChange)="setRespondentComment($event)"
                                ></textarea>
                            </div>
                        </div>
                    </ot-collapse>
                </div>
            </div>
        </section>
    </div>
    <footer otPageFooter
        *ngIf="modalData?.viewState"
        class="flex justify-end align-center margin-left-right-2"
        >
        <button otButton
            ot-auto-id="AAMetaDataCancelButton"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button otButton brand
            ot-auto-id="AAMetadataSaveButton"
            [loading]="isSavingMetaData"
            [disabled]="(isSaveButtonDisabled() && !isAssessmentInCompleteState) || isSavingMetaData"
            (click)="saveAssessmentMetaData()"
        >
            {{'Save' | otTranslate}}
        </button>
    </footer>
</one-modal-base>
