.aa-metadata {
    &__date-select
        .md-datepicker-input {
            min-width: 100%;
            min-height: 3.2rem;
            max-height: 3.2rem;
            font-weight: normal;
        }

    &__form-field {
        max-height: 3.2rem;
    }

    &__description-field {
        font-weight: normal;
        font-size: $text-medium;
    }

    &__collapse .ot-collapse {
        &__header {
            background: $white;
            border-top: 0px;
        }
        &__header-content {
            font-size: $text-medium;
            font-weight: 550;
        }
        &__header-arrow {
            .fa {
                font-size: $text-huge;
                font-weight: bold;
            }
        }
        &__content.active {
            overflow: visible;
        }
    }

    &__dateCalendar .one-datepicker {
        &__calendar {
            top: 0.3rem !important;
        }
    }
}
