<ot-context-menu
    ot-auto-id="AATemplateContextMenu"
    position="bottom-right"
    [menu]="filteredOptions"
    [type]="3"
    [closeOnMouseLeave]="false"
    (toggled)="toggled($event)"
    >
    <i class = "ot ot-ellipsis-h"></i>
        <a *otContextMenuItem="let option"
            (click)="listItemCallback(option.otAutoId)"
            >
            {{ option.text }}
        </a>
</ot-context-menu>
