<one-modal-base [modalTitle]="modalTitle" (close)="closeModal()">
    <section class="confirmation-modal padding-all-2">
        <div *ngIf="iconClass" class="row-horizontal-center margin-bottom-2">
            <span class="confirmation-modal__icon">
                <i [class]="iconClass"></i>
            </span>
        </div>
        <div *ngIf="iconTemplate" class="row-horizontal-center margin-bottom-2">
            <div [innerHTML]="iconTemplate"></div>
            <div class="position-absolute text-bold padding-all-2" [innerHTML]="confirmationRowKey"></div>
        </div>
        <div class="full-width">
            <form role="form"
                name="activateUserForm"
                class="row-vertical-center row-horizontal-center  margin-top-2 margin-bottom-2"
                >
                <div otFormElement class="margin-top-2" [label]="'ExternalUserExpirationDateOptional' | otTranslate">
                    <ot-datepicker
                        ot-auto-id="ExternalUserExpirationModalDate"
                        [placeholder]="'EnterExpirationDate' | otTranslate"
                        [format]="format"
                        [disabled]="isSubmitting"
                        [dateModel]="expirationDateValue"
                        (onChange)="handleDateChange($event)"
                    ></ot-datepicker>
                </div>
            </form>
        </div>
        <div class="margin-bottom-4 confirmation-modal__text text-center text-color-default"
            [innerHTML]="confirmationText"></div>
        <footer class="row-flex-end align-right static-vertical">
            <button otButton neutral
            ot-auto-id="ExternalUserConfirmationModalCancelButton"
                class="margin-right-1"
                [innerText]="cancelButtonText"
                (click)="closeModal()"
            ></button>
            <button otButton brand
                class="center-block text-center"
                [innerText]="submitButtonText"
                ot-auto-id="ExternalUserConfirmationModalSubmitButton"
                [loading]="isSubmitting"
                [disabled]="isSubmitting"
                (click)="handleSubmit()"
            ></button>
        </footer>
    </section>
</one-modal-base>
