<ot-loading otPageLoading
    class="margin-left-right-auto margin-top-3"
    *ngIf="loadingJurisdiction; else jurisdictionTable"
></ot-loading>
<ng-template #jurisdictionTable >
    <div class="incident-jurisdiction-table">
        <table
            otDataTable
            class="border-top-none"
            [colBordered]="colBordered"
            [resizableCol]="resizableCol"
            [responsiveTable]="responsiveTable"
            [rowBordered]="rowBordered"
            [rowData]="table.rows"
            [rowNoHover]="rowNoHover"
            [rowStriped]="rowStriped"
            [truncateCellContent]="truncateCellContent"
            [wrapCellContent]="wrapCellContent"
            >
            <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [column]="col"
                    >

                    <ng-template otDataTableHeader>
                        <div
                            class="slds-th__action max-width-30"
                            [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                            [deprecatedOtTooltip]="col.name"
                            [delay]="100"
                            [position]="'top'"
                            >
                            <span class="slds-truncate text-bold">{{col.name}}</span>
                        </div>
                    </ng-template>

                    <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-20'">
                        <ng-container [ngSwitch]="col.type">
                            <ng-container *ngSwitchCase="tableColumnTypes.Text">
                                <div
                                    class="slds-truncate"
                                    [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                    [deprecatedOtTooltip]="row[col.cellValueKey]"
                                    [delay]="100"
                                    [position]="'top'"
                                    >
                                    <span>{{ row[col.cellValueKey] }}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="tableColumnTypes.Date">
                                <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                    <span>{{ row[col.cellValueKey] | otDate }}</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>

                <ng-container *ngIf="col.type === 'action' && ('IncidentManageJurisdictions' | otPermit)">
                    <ot-data-table-column
                        [headerLabel]="col.name"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        >
                        <ng-template
                            otDataTableHeader
                            thClass="float-col"
                            [thStyle]="{'width': 0}"
                        ></ng-template>
                        <ng-template
                            otDataTableCell
                            let-row="row"
                            tdClass="float-col"
                            >
                            <upgraded-one-dropdown
                                class="flex height-100 align-center justify-center"
                                listClass="actions-table__context-list"
                                buttonClass="actions-table__context-btn"
                                icon="ot ot-ellipsis-h"
                                [hideCaret]="true"
                                [getOptions]="getActions(row)"
                                [alignRight]="true"
                            ></upgraded-one-dropdown>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>

        <ot-empty-state
            *ngIf="!loadingJurisdiction && !table?.rows.length"
            class="flex-full-height row-horizontal-vertical-center text-center padding-all-2"
            [emptyStateMessage]="'NoJurisdictions' | otTranslate"
            >
            <img emptyStateImg />
            <button otButton brand
                empty-state-content
                class="text-nowrap"
                *ngIf="('IncidentManageJurisdictions' | otPermit)"
                ot-auto-id="IncidentJurisdictionTableEmptyAddButton"
                (click)="callManageJurisdiction.emit()"
                >
                {{ 'ManageJurisdictions' | otTranslate }}
            </button>
        </ot-empty-state>
    </div>
</ng-template>
