<ot-modal-header (close)="closeModal()">
    <div>{{ 'ManageJurisdictions' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="incident-jurisdiction-modal one-modal-new flex-full-height width-100-percent">
    <form name="relateDataSubjectForm" class="width-100-percent max-width-full margin-none flex-full-height">
        <div class="flex-full-height">
            <ot-loading otPageLoading
                *ngIf="loading; else jurisdictionBody"
                class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
            ></ot-loading>
            <ng-template #jurisdictionBody>
                <div class="incident-jurisdiction-modal__header row-nowrap">
                    <div class="incident-jurisdiction-modal__category-header background-grey border-top-bottom border-right text-bold column-horizontal-vertical-center">
                        <div>{{ 'Countries' | otTranslate }}</div>
                        <ot-search-input
                            [model]="searchModel"
                            [placeholder]="'Search' | otTranslate"
                            [disabled]="false"
                            [searchOnEnter]="true"
                            [reset]="resetSearch$"
                            (search)="onSearch($event)"
                        ></ot-search-input>
                    </div>
                    <div class="incident-jurisdiction-modal__item border-top-bottom border-right padding-all-1 text-bold width-100-percent">
                        <span class="text-medium">{{ selectedRegion?.name !== 'all' ? selectedRegion.name : ('AllRegions' | otTranslate) }}</span>
                        <div class="row-vertical-center margin-top-2" *ngIf="selectedRegion?.countries?.length; else noRecordsTemplate">
                            <incident-checkbox
                                class="margin-right-1"
                                [checked]="allSelected"
                                [partialCheck]="atleastOneSelected"
                                (toggle)="toggleAll($event)"
                            ></incident-checkbox>
                            <span class="text-bold">{{ 'SelectAll' | otTranslate }}</span>
                        </div>
                    </div>
                </div>
                <div class="incident-jurisdiction-modal__content overflow-y-auto stretch-vertical row-nowrap">
                    <ul
                        *ngIf="regions?.length"
                        class="incident-jurisdiction-modal__category-list background-eggshell overflow-y-auto z-index-1">
                        <li class="incident-jurisdiction-modal__category-item text-pointer border-bottom border-right"
                            [ngClass]="selectedRegion?.name === 'all' ? 'incident-jurisdiction-modal__category-item--selected background-grey-2 text-bold' : 'incident-jurisdiction-modal__category-item--unselected'"
                            (click)="selectRegion('all')"
                            >
                            <div
                                class="padding-all-1">
                                {{ 'AllRegions' | otTranslate }}
                            </div>
                        </li>
                        <ng-container *ngFor="let region of regions; let i = index">
                            <li class="incident-jurisdiction-modal__category-item text-pointer border-bottom border-right"
                                [ngClass]="selectedRegion?.id === region.id ? 'incident-jurisdiction-modal__category-item--selected background-grey-2 text-bold' : 'incident-jurisdiction-modal__category-item--unselected'"
                                (click)="selectRegion(region)"
                                >
                                <div class="padding-all-1">
                                    {{ region.name }}
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                    <div class="float-right width-100-percent stretch-vertical overflow-y-auto">
                        <div class="width-100-percent row margin-left-right-0" *ngIf="selectedRegion?.countries">
                            <ng-container *ngFor="let country of selectedRegion.countries">
                                <ng-template [ngTemplateOutlet]="countryTemplate"
                                    [ngTemplateOutletContext]="{
                                        country: country,
                                        hasChildren: !!country.stateProvinces?.length || !!country.allStateProvinces,
                                        allCountryChildrenSelected: !country.allStateProvinces?.length
                                            ? !!selectedJurisdictions[country.jurisdictionId]
                                            : countryIsFilled(country)
                                    }"
                                ></ng-template>
                            </ng-container>
                            <ng-template #countryTemplate let-country="country" let-hasChildren="hasChildren" let-allCountryChildrenSelected="allCountryChildrenSelected">
                                <div class="incident-jurisdiction-modal__element-item padding-all-1 border-right border-bottom inline-block row-vertical-center"
                                    *ngIf="!searchModel || country.countryName.toLowerCase().includes(searchModel)"
                                    [ngClass]="hasChildren && !searchModel ? 'col-sm-12' : 'col-sm-6'"
                                    >
                                    <incident-checkbox
                                        class="inline margin-right-1"
                                        [checked]="allCountryChildrenSelected"
                                        [partialCheck]="hasChildren && !allCountryChildrenSelected && countryIsPartialFilled(country)"
                                        [disabled]="isSaving"
                                        (toggle)="toggleElement(country, hasChildren)"
                                    ></incident-checkbox>
                                    <label class="slds-truncate margin-bottom-0">{{country.countryName}}</label>
                                </div>
                                <ng-container *ngIf="hasChildren">
                                    <div
                                        class="incident-jurisdiction-modal__element-item padding-all-1 border-right border-bottom inline-block row-vertical-center col-sm-6"
                                        *ngFor="let state of country.stateProvinces"
                                        >
                                        <incident-checkbox
                                            class="inline margin-right-1"
                                            [ngClass]="{ 'margin-left-1': !searchModel }"
                                            [checked]="!!selectedJurisdictions[state.jurisdictionId]"
                                            [disabled]="isSaving"
                                            (toggle)="toggleElement(state, false)"
                                        ></incident-checkbox>
                                        <label class="slds-truncate margin-bottom-0">{{state.stateProvinceName}}</label>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IncidentJurisdictionModalCancel"
        [disabled]="isSaving"
        (click)="closeModal()"
        >{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="IncidentJurisdictionModalSave"
        [disabled]="isSaving || loading"
        [loading]="isSaving"
        (click)="onSave()"
        >{{ 'Update' | otTranslate }}
    </button>
</ot-modal-footer>

<ng-template #noRecordsTemplate>
    <div class="row-vertical-center margin-top-2">
        {{ 'NoRecordsFound' | otTranslate }}
    </div>
</ng-template>
