.incident-jurisdiction-modal {
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active),
    (-ms-ime-align: auto) {
        /*
            TODO: This is temporary until we come up with the vitreus fix
            IE10+ so that the content doesn't go out of the modal content
        */
        max-height: 320px;
    }

    .left-bar-item {
        width: 23rem;
        min-width: 23rem;
        max-width: 23rem;
    }

    ot-picklist {
        max-width: 30rem;
    }

    upgraded-one-checkbox {
        div {
            display: inline;

            button {
                border-color: $ui-blue;
            }
        }
    }

    &__header {
        min-height: 8.3rem;
    }

    &__category-header,
    &__category-list,
    &__category-item {
        width: 24rem;
        min-width: 24rem;
    }

    &__category-item,
    &__element-item {
        height: 4.4rem;
        min-height: 4.4rem;
        max-height: 4.4rem;
    }

    &__category-item {
        &:hover {
            background-color: $grey-2;
        }

        &--selected {
            border-left: solid 10px $green;
        }

        &--unselected {
            border-left: solid 10px transparent;
        }
    }
}
