.assessment-bulk-launch-controls {
    height: 100%;
    width: 35rem;
    background-color: $paper-gray;

    &__header {
        text-align: center;
        font-weight: bold;
    }
    .controls-pane {
        height: calc(100% - 17rem);
        border-bottom: 1px solid $grey-1;
    }
    .apply-all-pane {
        height: 7.2rem;
    }

    .ot-collapse {
        &__header-container {
            background: $paper-gray;
            border-top: 1px solid $platinum;
        }

        &__content {
            background: $white;
            &.active {
                overflow: visible;
            }
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .extra-margin-ie {
        margin-right: 1rem;
    }
}

@supports (-ms-ime-align:auto) {
    .extra-margin-edge {
        margin-right: 1rem;
    }
}
