<section class="assessment-bulk-launch-controls flex flex-column
    height-100 padding-bottom-0 text-color-default position-relative border-right"
    >
    <section class="assessment-bulk-launch-controls__header padding-top-bottom-2 text-center">
        {{'BulkControls' | otTranslate}}
    </section>
    <section class="controls-pane overflow-y-auto full-width border-bottom-2 background-white">
        <ot-collapse
            class="background-white"
            [title]="'Template' | otTranslate"
            [open]="templateAccordianOpen"
            >
                <div otFormElement
                    class="full-width padding-left-right-2"
                    [label]="'Template' | otTranslate">
                    <ot-picklist
                        ot-auto-id="BulkLaunchTemplateDropDownSelector"
                        [placeholder]="'SelectTemplate' | otTranslate"
                        [autoClose]="true"
                        [disabled]="!isTemplateReady"
                        [options]="templateOptions"
                        valueKey="id"
                        labelKey="name"
                        [model]="selectedTemplate"
                        [hideArrow]="true"
                        [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                        (onSelect)="templateSelected($event)"
                    >
                    </ot-picklist>
                </div>
                <div otFormElement
                    class="full-width padding-left-right-2"
                    [label]="'Deadline' | otTranslate">
                    <ot-date-time-picker
                        ot-auto-id="BulkLaunchControlsDeadline"
                        [dateFormat]="format"
                        [dateTimeModel]="dateModel | otDate:'datePicker'"
                        [datePlaceholder]="'Deadline' | otTranslate"
                        [dateDisableUntil]="disableUntilDate"
                        [hideTimePicker]="true"
                        [dateDisabled]="false"
                        [timeDisabled]="true"
                        (onChange)="deadlineSelected($event)"
                    ></ot-date-time-picker>
                </div>
                <div otFormElement
                    class="padding-left-right-2"
                    [label]="'Reminder' | otTranslate"
                    [hasError]="!validReminder"
                    [errorMessage]="'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate"
                    >
                    <input otInput
                        type="number"
                        ot-auto-id="BulkLaunchControlsReminderField"
                        [placeholder]="'DaysBeforeDeadline' | otTranslate"
                        [min]="1"
                        [disabled]="!bulkDeadline"
                        [ngModel]="bulkReminder"
                        (ngModelChange)="reminderDaysSelected($event, bulkDeadline)">
                </div>
        </ot-collapse>
        <ot-collapse
            [title]="'Approver(s)' | otTranslate"
            [open]="templateAccordianOpen"
            >
            <div class="padding-left-right-2 row-space-evenly">
                <ot-org-user-multi-select
                    class="extra-margin-ie extra-margin-edge"
                    ot-auto-id="BulkLaunchControlsApproversMultiSelect"
                    traversal="UP"
                    [allowEmail]="false"
                    [disabled]="isApproverDisabled"
                    [fetchOptionsOnClick]="true"
                    [hideButtons]="isApproverDisabled"
                    [ngClass]="isApproverDisabled ? 'width-90-percent' : 'width-100-percent'"
                    [orgId]="controlsOrgId"
                    [permissions]="['AssessmentCanBeApprover']"
                    [returnEmptyEntriesOnSelect]="true"
                    [userList]="approversList"
                    (onSelect)="approversSelected($event)"
                >
                </ot-org-user-multi-select>
                <span
                    *ngIf="isApproverDisabled"
                    class="row-vertical-center padding-left-1"
                    >
                    <i
                        class="ot ot-info-circle"
                        [otTooltip]="{ content: disabledApproverTooltipMessage, placement: 'top-end' }"
                        >
                    </i>
                </span>
            </div>
        </ot-collapse>
        <ot-collapse
            [title]="'Respondent(s)' | otTranslate"
            [open]="templateAccordianOpen"
            >
            <div class="padding-left-right-2 row-space-evenly">
                <ot-org-user-multi-select
                    class="extra-margin-ie extra-margin-edge"
                    ot-auto-id="BulkLaunchControlsRspondentsMultiSelect"
                    traversal="BRANCH"
                    [allowEmail]="true"
                    [disabled]="isRespondentDisabled"
                    [fetchOptionsOnClick]="true"
                    [hideButtons]="isRespondentDisabled"
                    [ngClass]="isRespondentDisabled ? 'width-90-percent' : 'width-100-percent'"
                    [orgId]="controlsOrgId"
                    [permissions]="['AssessmentCanBeRespondent']"
                    [returnEmptyEntriesOnSelect]="true"
                    [userList]="respondentsList"
                    (onSelect)="respondentsSelected($event)"
                >
                </ot-org-user-multi-select>
                <span
                    *ngIf="isRespondentDisabled"
                    class="row-vertical-center padding-left-1"
                    >
                    <i
                        class="ot ot-info-circle"
                        [otTooltip]="{ content: disabledRespondentTooltipMessage, placement: 'top-end' }"
                        >
                    </i>
                </span>
            </div>
        </ot-collapse>
    </section>
    <section class="apply-all-pane text-center align-center row-vertical-center
        padding-top-bottom-1 margin-top-auto full-width position-absolute bottom-0">
        <button otButton neutral
            class="center-block"
            ot-auto-id="AssessmentBulkLaunchApplyAllButton"
            [disabled]="!validReminder"
            [innerText]="'ApplyToAll' | otTranslate"
            (click)="onApplyToAll()"
        >
        </button>
    </section>
</section>
