<div class="assessment-detail-side-button">
    <div class="column-nowrap">
        <i
            class="aa-icon ot ot-flag cursor-pointer color-slate"
            [title]="'FlagRisks' | otTranslate"
            ot-auto-id="AssessmentDetailFlagRiskIcon"
            [ngClass]="{'invisible': !canCreateRisk}"
            (click)="flagRisk()"
        ></i>
        <i
            *ngFor="let risk of risksMetadata; trackBy: trackByFn"
            class="aa-icon ot ot-flag color-white margin-top-half"
            [ngClass]="setRiskLevelClass(risk.level)"
            (click)="flagRisk(risk)"
        ></i>
    </div>
</div>
