header.settings-body-header {{::$root.t("Branding")}}
.settings-body-content
    loading(ng-if='!Ready', text='{{::$root.t("CustomBrandingSettings")}}')
    section.inheritance(ng-if="rootOrg !== originalOrgGroup")
        h3 {{::suborgInheritText}}
        button(ng-click='Inherit()', ng-model="app.IsInherited", uib-btn-radio="InheritTypes.Inherit", uib-uncheckable="false", ng-class="{'selected': app.IsInherited === InheritTypes.Inherit}")  {{::$root.t("Inherit")}}
        button(ng-click='Override()', ng-model="app.IsInherited",uib-btn-radio="InheritTypes.Override", uib-uncheckable="false", ng-class="{'selected': app.IsInherited === InheritTypes.Override}")  {{::$root.t("Override")}}
    fieldset(ng-disabled="app.InheritsFrom && app.IsInherited")
        form.variable-branding.settings-input-section(name='settingsForm')
            h3.settings-input-section-name {{::$root.t("General")}}
            hr
            .brand-logo.form-group.form-horizontal
                .logo-uploader
                    label.settings-section-label(for='logo-input') {{::$root.t("Logo")}}
                    input#logo-upload.settings-section-file.one-input.full-width(
                        type='file',
                        accept='image/svg+xml, image/jpeg, image/png',
                        file-upload="logo"
                    )
                    .app-logo.one-input.row-horizontal-vertical-center
                        img#logo-preview.text-center(ng-hide='logoLoading', ng-src="{{app.branding.logo.url || ''}}")
                div
                    label.settings-section-label(for='page-title-input') {{::$root.t("PageTitle")}}
                    input#page-title-input.one-input.full-width(
                        name='title',
                        ng-maxlength='60',
                        ng-model='app.branding.header.title',
                        type='text'
                    )
                    p.text-danger(ng-show='(settingsForm.title.$touched || settingsForm.title.$dirty) && settingsForm.title.$invalid') {{::$root.t("TitleCannotExceed60characters")}}
            h3.settings-input-section-name {{::$root.t("Header")}}
            hr
            .variable-branding-header.form-group.form-horizontal
                .logo-uploader
                    label.settings-section-label(for='logo-input') {{::$root.t("Brand")}}
                    input#brand-upload.settings-section-file.one-input.full-width(
                        type='file',
                        accept='image/svg+xml, image/jpeg, image/png',
                        file-upload="brand"
                    )
                    .app-logo.one-input.row-horizontal-vertical-center
                        img#icon-preview.text-center(ng-hide='iconLoading', ng-src="{{app.branding.header.icon.url || ''}}")
                div
                    label.settings-section-label(for='header-color-input') {{::$root.t("BackgroundColor")}}
                    input#header-color-input.one-input.full-width(
                        type='text',
                        minicolors='settings.branding.header.backgroundColor',
                        ng-model='app.branding.header.backgroundColor',
                        ng-blur='app.branding.header.backgroundColor = checkLength(app.branding.header.backgroundColor)'
                    )
                br
                div
                    label.settings-section-label(for='header-text-color-input') {{::$root.t("TextColor")}}
                    input#header-text-color-input.one-input.full-width(
                        type='text',
                        minicolors='settings.branding.header.textColor',
                        ng-model='app.branding.header.textColor',
                        ng-blur='app.branding.header.textColor = checkLength(app.branding.header.textColor)'
                    )
    .settings-submit-section
        one-button(
            identifier='brandingDefaultButton',
            data-ng-if='!app.IsInherited',
            is-disabled='!Permissions.canShow("SettingsCustomBrandingResetDefault")',
            button-click='defaultBranding()',
            uib-tooltip='{{::$root.t("ResetBrandingToDefault")}}',
            text='{{::$root.t("ResetToDefault")}}')
        one-button(
            identifier='brandingResetButton',
            data-ng-if='!app.IsInherited',
            is-disabled='!Permissions.canShow("SettingsCustomBrandingReset")',
            button-click='resetBranding()',
            uib-tooltip='{{::$root.t("ResetTestBrandingSettings")}}',
            text='{{::$root.t("ResetBranding")}}')
        one-button(
            identifier='brandingTestButton',
            data-ng-if='!app.IsInherited',
            is-disabled='settingsForm.$invalid || !Permissions.canShow("SettingsCustomBrandingTest")',
            button-click='testBranding()',
            uib-tooltip='{{::$root.t("TestCustomBrandingSettings")}}',
            text='{{::$root.t("TestBranding")}}')
        one-button(
            identifier='brandingSaveButton',
            type='primary',
            is-disabled='settingsForm.$invalid || !Permissions.canShow("SettingsCustomBrandingSave")',
            button-click='saveBranding()',
            uib-tooltip='{{::$root.t("SaveCustomBranding")}}',
            text='{{::$root.t("SaveBranding")}}')
