header.settings-body-header {{::$root.t("CustomTerminology")}}
.settings-body-content.terminology
    .terminology__dropdown-container(ng-if='languages.length > 1')
        h3.terminology__dropdown-headline {{::$root.t("SelectLanguage")}}

        .terminology__dropdown.one-select
            i.one-select__arrow.fa.fa-caret-down
            select.one-select__select(name="templateSelect" class="templateSelect" ng-model="languageSelected" ng-change="changeLanguage(languageSelected)")
                option(ng-repeat="language in languages track by $index" value="{{language.Code}}") {{language.Name}}

    table.terminology__table
        thead.terminology__table-head
            tr
                th.terminology__table-cell {{::$root.t("Default")}}
                th.terminology__table-cell {{::$root.t("Custom")}}
                th.terminology__table-cell {{::$root.t("Actions")}}
        tbody.terminology__table-body
            tr(ng-repeat='term in customTerms track by $index')
                td.terminology__table-cell.terminology__default(ng-bind='term.DefaultTermName')
                td.terminology__table-cell.terminology__custom
                    .terminology__variation
                        input.one-input.full-width(name='singular', ng-model='term.CustomTermName')
                td.terminology__table-cell.terminology__actions
                    .row-nowrap.row-horizontal-center
                        one-button.margin-right-1(
                            button-click='setToDefault(term)',
                            is-disabled='!Permissions.canShow("SettingsCustomTerminologyReset")',
                            text='{{::$root.t("Reset")}}'
                        )
                        one-button.margin-right-0(
                            type="primary",
                            button-click='saveTerm(term)',
                            is-disabled='!term.CustomTermName || !Permissions.canShow("SettingsCustomTerminologySave")',
                            text='{{::$root.t("Save")}}'
                        )
