<one-modal-base
    [modalTitle]="modalTitle"
    [identifier]="'TemplateRelatedInventoryModal'"
    (close)="closeModal()"
>
    <upgraded-loading
        *ngIf="!isReady"
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    ></upgraded-loading>
    <div *ngIf="isReady" class="column-horizontal-vertical-center padding-all-2">
        <p class="margin-top-bottom-2 text-color-default width-100-percent">{{summary}}</p>
        <div otFormElement
            class="width-100-percent margin-bottom-2 border-none"
            [label]="'RelatedQuestion' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="TemplateRelatedInventoryModalPicklist"
                name="RelatedQuestion"
                [autoClose]="true"
                [disabled]="isModalDisabled"
                [labelKey]="'content'"
                [model]="selectedQuestion"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                [options]="relatedQuestions"
                [placeholder]="'RelatedInventoryQuestion' | otTranslate"
                [valueKey]="'id'"
                (onSelect)="onQuestionSelect($event)"
                >
            </ot-picklist>
        </div>
        <div *ngIf="showAssetRelationshipFields" class="width-100-percent">
            <div otFormElement
                class="width-100-percent margin-bottom-2 border-none"
                [label]="'HowDoTheyRelate' | otTranslate"
                [required]="true"
                >
                <div *ngFor="let checkbox of assetCheckboxes; trackBy: trackByFn" class="margin-top-half">
                    <ot-checkbox
                        class="inline-block"
                        [disabled]="isModalDisabled"
                        [checked]="checkbox.selected"
                        (toggle)="onCheckboxToggle(checkbox, $event)"
                    ></ot-checkbox>
                    <span>{{checkbox.label}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-y-auto padding-all-2 flex-full-height">
        <footer class="position-absolute bottom-2 right-2 row-flex-end padding-top-1">
            <div>
                <button
                    otButton
                    neutral
                    class="margin-right-1 border-none"
                    ot-auto-id="TemplateRelatedInventoryModalCancelButton"
                    (click)="closeModal()"
                    [disabled]="isSaving"
                >{{"Cancel" | otTranslate}}</button>
            </div>
            <div>
                <button
                    class="margin-right-1"
                    otButton
                    neutral
                    *ngIf="hasExistingRelationship"
                    ot-auto-id="TemplateRelatedInventoryModalRemoveButton"
                    (click)="updateRelationship(true)"
                    [disabled]="isModalDisabled || isSaving"
                >{{"Remove" | otTranslate}}</button>
            </div>
            <div>
                <button
                    otButton
                    brand
                    ot-auto-id="TemplateRelatedInventoryModalSaveButton"
                    (click)="updateRelationship()"
                    [loading]="isSaving"
                    [disabled]="isModalDisabled || isSaving || !canSave()"
                >{{"Save" | otTranslate}}</button>
            </div>
        </footer>
    </div>
</one-modal-base>
