<section 
    class="margin-top-bottom-2 row-horizontal-vertical-center" 
    [formGroup]="heatmapForm"
>
    <section class="border-right">
        <p
            class="text-bold padding-bottom-half border-bottom"
            [innerText]="'Impact' | otTranslate"
        ></p>
        <ng-container formArrayName="impactLevels">
            <li
                *ngFor="let impact of heatmapForm.get('impactLevels')!['controls']; let i = index;"
                class="flex list-style-none"
                [formGroupName]="i">
                <input otInput
                    class="settings-risks-heatmap-options__input margin-top-1 margin-right-3"
                    formControlName="name"
                    [attr.ot-auto-id]="'RiskHeatmapImpactInput_' + i"
                />
            </li>
        </ng-container>
    </section>
    <section>
        <p
            class="text-bold padding-left-3 padding-bottom-half border-bottom"
            [innerText]="'Probability' | otTranslate"
        ></p>
        <ng-container formArrayName="probabilityLevels">
            <li
                *ngFor="let impact of heatmapForm.get('probabilityLevels')!['controls']; let i = index;"
                class="flex list-style-none margin-left-2"
                [formGroupName]="i">
                <input otInput
                    class="settings-risks-heatmap-options__input margin-top-1 margin-right-3"
                    formControlName="name"
                    [attr.ot-auto-id]="'RiskHeatmapProbabilityInput_' + i"
                />
            </li>
        </ng-container>
    </section>
</section>

