<ot-modal-header (close)="closeModal()">
    <div>{{ 'UpdateTopic' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form #topicForm="ngForm" class="margin-top-bottom-2">
        <div otFormElement [label]="'IntegrationKey' | otTranslate">
            <input otInput
                class="one-input full-width"
                name="IntegrationKey"
                maxlength="200"
                [placeholder]="'EnterIntegrationKey' | otTranslate"
                [ngModel]="otModalData.integrationKey"
                (ngModelChange)="handleChanged($event)"
                />
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="purposeUpdateTopicModalCancelButton"
        [disabled]="updateInProgress"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="purposeUpdateTopicModalUpdateButton"
        [disabled]="updateInProgress"
        [loading]="updateInProgress"
        (click)="updateTopic()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
