.one-editable-types {
    max-width: 100%;
    flex: 1 1 auto;
    
    &__text {

        &-icon {
            margin-left: .4rem;
        }
        &-value {
            text-overflow: ellipsis;
            overflow: hidden;
            flex: 0 1 auto;
        }
    }

    &__datepicker {
        display: block;
        width: 100%;
        height: 0;
    }


}
