<ng-container *ngFor="let question of questionList; let questionIndex = index; trackBy: trackById" class="assessment-question-group">
    <assessment-detail-question
        *ngIf="!question.hidden && viewState[question.id].canViewQuestion"
        [canShowSideButtons]="canShowSideButtons(question)"
        [question]="question"
        [questionIndex]="questionIndex">

        <ng-container *ngIf="question.questionType === questionTypes.Attribute">
            <div *questionAttributeTitleContent class="row-vertical-center margin-bottom-3">
                <i class="ot ot-attribute"></i>
                <span class="margin-left-1"><b>Attribute:</b> {{question.attributes.name}}</span>
            </div>
        </ng-container>
        <aa-detail-invalid-risk-response
            *ngIf="invalidQuestionRiskIdsMap[question.id]?.length"
            [riskIds]="invalidQuestionRiskIdsMap[question.id]"
            [questionId]="question.id"
            [wrapperClass]="'margin-bottom-1'"
        ></aa-detail-invalid-risk-response>

        <div *ngIf="!question.valid" class="border flex align-center assessment-question-group__validation-error border-radius-3 padding-left-1 height-3">
            <i class="ot ot-exclamation-circle padding-right-1"></i>
            {{'InvalidQuestionMessage' | otTranslate}}
        </div>

        <!-- question component accepts inputs as well. you don't have to do this -->
        <label *questionNumberContent class="aa-question__number border-round-4 background-frost padding-all-1">
            <span class="aa-question__number-text">{{sectionIndex}}.{{question.sequence}}</span>
        </label>

        <!-- question  -->
        <p *questionTitleContent class="aa-question__name margin-bottom-1">
            <sup *ngIf="question.required && question.valid" class="ot ot-asterisk aa-question__required"></sup>
            {{question.content}}
            <i class="fa fa-info-circle assessment-question-group__hint"
                *ngIf="question.hint"
                [otTooltip]="question.hint"
            ></i>
        </p>

        <!-- description -->
        <ng-container *ngIf="question.description">
            <p *questionDescriptionContent
                class="aa-question__description margin-bottom-2 padding-all-0 text-color-default ql-editor"
                [ngClass]="{'margin-bottom-0': question.questionType === questionTypes.TextBox
                                            || question.attributes?.displayAnswerType === questionAnswerTypes.Dropdown }"
                [attr.ot-auto-id]="'AssessmentQuestionDetail_Description'"
                [innerHTML]="question.description"
            ></p>
        </ng-container>

        <!-- textbox -->
        <ng-container *ngIf="question.questionType === questionTypes.TextBox">
            <div class="margin-bottom-1">
                <aa-textbox
                    [isDisabled]="viewState[question.id].isQuestionDisabled"
                    [isRequired]="question.attributes?.requireJustification"
                    [placeholder]="'EnterYourAnswerHere' | otTranslate"
                    [question]="question"
                    (textboxUpdated)="handleTextbox(question.id, $event)"
                ></aa-textbox>
            </div>

            <div class="aa-question__button-row">
                <ng-container *ngFor="let option of question.options; trackBy: trackById">
                    <div *ngIf="option.optionType !== 'DEFAULT'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleNotSureNotApplicable(question, { option: option })"
                        ></button>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- multichoice as buttons -->
        <ng-container *ngIf="question.questionType === questionTypes.MultiChoice && (!question.attributes?.displayAnswerType || question.attributes?.displayAnswerType === questionAnswerTypes.Button)">
            <aa-multichoice-buttons class="word-wrap assessment-question-group__button-height"
                [disabled]="viewState[question.id].isQuestionDisabled"
                [question]="question"
                (handleOtherChange)="handleOther(question.id, $event)"
                (handleNotSureNotApplicable)="handleNotSureNotApplicable(question, $event)"
                (handleMultichoiceChange)="handleMultichoice(question, $event)"
            ></aa-multichoice-buttons>
        </ng-container>

        <!-- multichoice as dropdown -->
        <ng-container *ngIf="question.questionType === questionTypes.MultiChoice && question.attributes?.displayAnswerType === questionAnswerTypes.Dropdown">
            <div class="margin-bottom-2">
                <aa-multichoice-dropdown
                    [disabled]="viewState[question.id].isQuestionDisabled"
                    [question]="question"
                    (handleNotSureNotApplicable)="handleNotSureNotApplicable(question, { option: $event, forceSelect: true })"
                    (multiselectChange)="handleMultiselectDropdown(question, $event)"
                    (multichoiceChange)="handleMultichoice(question, $event)"
                    (multichoiceReset)="handleMultichoiceReset(question.id)"
                    (otherChange)="handleOther(question.id, $event)"
                ></aa-multichoice-dropdown>
            </div>
            <div class="aa-question__button-row">
                <ng-container *ngFor="let option of question.options; trackBy: trackById">
                    <div *ngIf="option.optionType !== 'DEFAULT' && option.optionType !== 'OTHERS'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleNotSureNotApplicable(question, { option: option })"
                        ></button>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- inventory -->
        <ng-container *ngIf="question.questionType === questionTypes.Inventory">
            <div class="margin-bottom-2">
                <aa-inventory-dropdown
                    [disabled]="viewState[question.id].isQuestionDisabled || question.lockReason === questionLockReason.LaunchFromInventory"
                    [question]="question"
                    (otherChange)="handleOther(question.id, $event)"
                    (multiselectChange)="handleMultiselectDropdown(question, $event)"
                    (multichoiceChange)="handleMultichoice(question, $event)"
                    (multichoiceReset)="handleMultichoiceReset(question.id)"
                ></aa-inventory-dropdown>
            </div>
            <div class="aa-question__button-row margin-bottom-2">
                <ng-container *ngFor="let option of question.options; trackBy: trackById">
                    <div *ngIf="option.optionType !== 'DEFAULT' && option.optionType !== 'OTHERS'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled || question.lockReason === questionLockReason.LaunchFromInventory"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleNotSureNotApplicable(question, { option: option })"
                        ></button>
                    </div>
                </ng-container>
            </div>
            <div
                *ngIf="question.lockReason === questionLockReason.LaunchFromInventory"
                class="border flex align-center assessment-question-group__validation-notification border-radius-3 padding-left-1"
            >
                <i class="ot ot-info-circle padding-right-1"></i>
                {{'InventoryQuestionLockedMessage' | otTranslate}}
            </div>
        </ng-container>

        <!-- attribute -->
        <ng-container *ngIf="question.questionType === questionTypes.Attribute">
            <div class="margin-bottom-1">
                <aa-attribute-question class="assessment-question-group__button-height"
                    [isDisabled]="viewState[question.id].isQuestionDisabled"
                    [question]="question"
                    (datetimeChange)="handleDatetime($event)"
                    (handleNotSureNotApplicable)="handleNotSureNotApplicable(question, $event)"
                    (justificationChange)="handleJustification(question, $event)"
                    (multiselectChange)="handleMultiselectDropdown(question, $event)"
                    (multichoiceChange)="handleMultichoice(question, $event)"
                    (multichoiceReset)="handleMultichoiceReset(question.id, $event)"
                    (otherChange)="handleOther(question.id, $event)"
                    (jurisdictionChange)="handleJurisdiction(question, $event)"
                    (handleOtherForButtons)="checkOtherForDuplicates(question, $event)"
                    (textboxUpdated)="handleTextbox(question.id, $event)"
                ></aa-attribute-question>
            </div>
        </ng-container>

        <!-- personal data -->
        <ng-container *ngIf="question.questionType === questionTypes.PersonalData">
            <div class="margin-bottom-1">
                <assessment-detail-question-personal-data
                    [isDisabled]="viewState[question.id].isQuestionDisabled"
                    [question]="question"
                ></assessment-detail-question-personal-data>
            </div>
        </ng-container>

        <!-- yesno -->
        <ng-container *ngIf="question.questionType === questionTypes.YesNo">
            <div class="aa-question__button-row">
                <ng-container *ngFor="let option of question.options; trackBy: trackById">
                    <div *ngIf="option.optionType === 'DEFAULT'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleYesNo(question, option)"
                        ></button>
                    </div>

                    <div *ngIf="option.optionType !== 'DEFAULT'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleNotSureNotApplicable(question, { option: option })"
                        ></button>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- date -->
        <ng-container *ngIf="question.questionType === questionTypes.Date">
            <div class="flex margin-bottom-1">
                <aa-date-picker
                    class="full-width"
                    [isDisabled]="viewState[question.id].isQuestionDisabled"
                    [question]="question"
                    (dateChanged)="handleDate(question.id, $event)"
                ></aa-date-picker>
            </div>
            <div class="aa-question__button-row">
                <ng-container *ngFor="let option of question.options; trackBy: trackById">
                    <div *ngIf="option.optionType !== 'DEFAULT'" class="aa-question__button">
                        <button
                            class="full-width"
                            otButton neutral
                            [attr.ot-auto-id]="'AssessmentQuestionDetail_' + option.option"
                            [disabled]="viewState[question.id].isQuestionDisabled"
                            [innerText]="option.option | otTranslate"
                            [select]="isResponseSelected(question.id, option.id)"
                            (click)="handleNotSureNotApplicable(question, { option: option })"
                        ></button>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- incident -->
        <ng-container *ngIf="question.questionType === questionTypes.Incident">
            <div class="margin-bottom-1">
                <aa-incident [question]="question"></aa-incident>
            </div>
        </ng-container>

        <!-- justification -->
        <ng-container *ngIf="question.questionType !== questionTypes.Attribute && question.attributes?.allowJustification">
            <div class="question__justification margin-top-2">
                <aa-textbox
                    [isDisabled]="viewState[question.id].isQuestionDisabled"
                    [isJustification]="true"
                    [isRequired]="question.attributes?.requireJustification"
                    [label]="'JustifyYourAnswerBelow' | otTranslate: {Justify: 'Justify' | otTranslate}"
                    [placeholder]="'EnterJustificationsHere' | otTranslate: { Justifications: rootScope.customTerms.Justification.toLowerCase() }"
                    [question]="question"
                    [questionIndex]="questionIndex"
                    (textboxUpdated)="handleJustification(question, $event)"
                ></aa-textbox>
            </div>
        </ng-container>
    </assessment-detail-question>
</ng-container>
