.assessment-question-group {
    &__validation-error {
        background-color: $orange-faded;
        border: 0.5px solid $orange;
    }
    &__validation-notification {
        background-color: $active-blue;
        border: 0.5px solid $blue;
        height: 3.8rem;
    }
    &__button-height {
        .slds-button {
            height: 100% !important;
        }
    }
    &__hint {
        font-size: 1.4rem !important;
    }
    &__notification {
        margin-top: -0.75rem;
    }

}
