.bulk-import-modal {
    // Todo: Add drop container global styles to vitreus.
    &__drop-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed $platinum;
        text-align: center;

        &.hovering {
            border: 2px solid #1F96DB;
        }

        p {
            margin: 0;
        }

        input {
            display: none;
        }
    }

    &__upload-btn {
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        color: #1F96DB;
    }
}
