<ot-modal-header (close)="closeModal(false)">
    <div>{{ 'NewImport' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="bulk-import-modal">
    <div
        otFormElement
        class="margin-bottom-2"
        [label]="'ImportName' | otTranslate"
        [required]="true"
        [hasError]="job.name.touched && !job.name.value"
        [errorMessage]="'ErrorEnterImportName' | otTranslate"
    >
        <input
            class="bulk-import-new-modal__input full-width one-input"
            maxlength="50"
            [name]="'bulkImportFormName'"
            ot-auto-id="BulkImportModalNameInput"
            [placeholder]="'EnterImportName' | otTranslate"
            [(ngModel)]="job.name.value"
            (ngModelChange)="nameChange()"
        />
    </div>
    <div
        otFormElement
        class="margin-bottom-2"
        [label]="'ImportDescription' | otTranslate"
    >
            <textarea
                otTextarea
                class="bulk-import-new-modal__input full-width one-text-area resize-none"
                maxlength="2000"
                rows="2"
                [name]="'bulkImportFormDescription'"
                ot-auto-id="BulkImportModalDescriptionTextArea"
                [placeholder]="'EnterImportDescription' | otTranslate"
                [(ngModel)]="job.description"
            ></textarea>
    </div>
    <div
        otFormElement
        class="margin-bottom-2"
        [label]="'ImportType' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="BulkImportModalTypeSelect"
            [options]="importTypeOptions"
            [model]="job.type"
            [placeholder]="'SelectImportType' | otTranslate"
            [labelKey]="'name'"
            [valueKey]="'id'"
            (onSelect)="onImportTypeSelection($event)"
        ></ot-picklist>
    </div>

    <div
        otFormElement
        [label]="'File' | otTranslate"
        [required]="true"
    >
        <div
            otFileDragDrop
            class="bulk-import-modal__drop-container padding-all-3"
            [mbMaxFileSize]="maxSize"
            (filesDropped)="handleFiles($event)"
            (filesHovered)="handleFilesHover($event)"
            (filesInvalid)="handleInvalidFiles($event)"
        >
            <div class="slds-form-element__help">
                <span *ngIf="job.type.isCsvSupported; else csvNotSupported">
                    {{"InfoBulkImportSupportedFileTypes" | otTranslate}}
                </span>
                <ng-template #csvNotSupported>
                    <span>{{"InfoBulkImportSupportedFileTypesCSV" | otTranslate}}</span>
                </ng-template>
            </div>
            <label otButton brand class="margin-top-bottom-1-half cursor-pointer">
                <input
                    otFileSelect
                    type="file"
                    ot-auto-id="BulkImportModalFileInput"
                    (filesSelected)="handleFiles($event)"
                >
                {{"UploadFile" | otTranslate}}
            </label>
            <div class="slds-form-element__help margin-top-0">
                {{"FilesLargerThanSizeNotSupported" | otTranslate:{ MaxSize: this.maxSize } }}
            </div>
        </div>
        <div *ngIf="job.files.length">
            <ul>
                <li
                    *ngFor="let file of job.files"
                    class="margin-top-bottom-1"
                >
                    <span class="text-bold">{{file.name}}</span>
                    <span>
                        <i class="ot ot-trash-o cursor-pointer margin-left-half"
                           ot-auto-id="BulkImportModalRemoveFileButton"
                           (click)="removeFile()"
                        ></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        class="margin-right-1"
        otButton
        ot-auto-id="BulkImportCloseModalButton"
        [disabled]="isSaving"
        (click)="closeModal(false)"
        >
        {{"Cancel" | otTranslate}}
    </button>
    <button
        otButton
        brand
        ot-auto-id="BulkImportSubmitModalButton"
        [disabled]="!job.name || !job.files[0] || isSaving"
        [loading]="isSaving"
        (click)="handleSubmit()"
        >
        {{"Submit" | otTranslate}}
    </button>
</ot-modal-footer>
