@import
"./control/webform-control.component",
"./live/webform-live.component",
"./sidebar/webform-sidebar.component",
"./webform-edit-block/webform-edit-block.component",
"./webform-inputs-manager/webform-inputs-manager.component",
"./accordion-content/webform-content",
"./webform-edit-language/webform-edit-language.component",
"./dsar-webform/_dsar-webforms",
"./webform-settings/dsar-webform-settings",
"./webform-tile/webform-tile.component",
"./shared/components/one-rules/action/one-rule-action.component",
"./shared/components/one-rules/rule-condition/one-rule-condition.component";

.dsar {
    background-color: $paper-gray;
    color: $slate;

    &-content {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    &-body {
        min-width: 1px;
        flex: 1 1 auto;
        padding: 0;
        background-color: $paper-gray;

        .module-wrapper {
            padding: 0;
            overflow-y: auto;
        }
    }

}
