<div class="full-size column-nowrap overflow-hidden">
    <ot-page-header
        class="background-white border-bottom padding-all-0 margin-all-0 padding-left-1 min-height-46"
        [title]="'EmailTemplate' | otTranslate"
    >
    </ot-page-header>
    <upgraded-one-tabs-nav
        [customClass]="'padding-top-3 paragraph-medium shadow-header'"
        [options]="tabOptions"
        [selectedTab]="currentTab"
    >
    </upgraded-one-tabs-nav>
    <ng-container *ngIf="currentTab === tabIds.templates">
        <div class="static-vertical row-flex-end background-grey padding-top-bottom-1 padding-left-right-2">
            <button otButton
                class="border-none"
                [ngClass]="{ 'slds-button_brand': filterActive }"
                ot-auto-id="EmailTemplateListFilterActivate"
                [icon]="'ot ot-filter'"
                [otPopover]="filterGroupPopup"
                [modifierClass]="'email-list-filter__popover'"
                [position]="'bottom-right'"
                [size]="'medium'"
                [isOpen]="filterIsOpen"
                (toggled)="onToggle($event)"
                (click)="onToggle(!filterIsOpen)"
            >
            </button>
            <ng-template #filterGroupPopup>
                <div class="row-flex-end">
                    <button otButton neutral
                        ot-auto-id="EmailTemplateListClearFilter"
                        class="blue-anchor-style shadow-none padding-none border-none"
                        [disabled]="!filterActive"
                        [innerText]="'ClearFilters' | otTranslate"
                        (click)= "clearFilters()"
                    ></button>
                </div>
                <div class="full-width">
                    <div otFormElement *ngIf="tableData">
                        <ot-picklist
                            ot-auto-id="EmailTemplateListFilterbyGroupPicklist"
                            [placeholder]="'Group' | otTranslate"
                            [autoClose]="true"
                            [options]="groupFilterOptions"
                            [valueKey]="'id'"
                            [labelKey]="'translatedName'"
                            [multiSelect]="true"
                            [model]="selectedOptions"
                            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                            (onSelect)="selectOption($event)">
                        </ot-picklist>
                    </div>
                </div>
                <div class="row-flex-end padding-bottom-1">
                    <button otButton brand
                        ot-auto-id="EmailTemplateListClearFilter"
                        class="margin-top-bottom-2"
                        [innerText]="'Apply' | otTranslate"
                        [disabled]="!selectedOptions.length"
                        (click)= "applyGroupFilter()"
                    ></button>
                </div>
            </ng-template>
        </div>
        <upgraded-loading
            *ngIf="isTemplateLoaded"
            class="padding-all-1 flex-full-height"
            loadingClass="flex-full-height column-horizontal-vertical-center"
            [text]="'EmailTemplate' | otTranslate">
        </upgraded-loading>
        <div
            *ngIf="!isTemplateLoaded"
            class="overflow-auto position-relative stretch-vertical">
            <table
                *ngIf="tableData"
                otDataTable
                class="full-width border-top-none"
                [rowData]="tableData.content"
                [rowBordered]="true"
                >

                <ng-container *ngFor="let col of columns">
                    <ot-data-table-column>
                        <!-- Header Section -->
                        <ng-template otDataTableHeader>
                            <div
                                class="padding-left-right-1"
                                [ngClass]="col.columnIndex ? 'text-left' : 'text-center'"
                                >
                                <span
                                    class="slds-truncate text-bold"
                                    [innerText]="col.columnName"
                                ></span>
                            </div>
                        </ng-template>
                        <!-- Data Section -->
                        <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-30'">
                            <ng-container *ngIf="col.columnType === tableColumnTypes.Link">
                                <a
                                    ot-auto-id="EmailTemplateListNameClickAction"
                                    class="slds-truncate block text-pointer text-link text-bold text-left"
                                    title="{{row[col.cellValueKey] | otTranslate}}"
                                    [innerText]="row[col.cellValueKey] | otTranslate"
                                    (click)="handleNameClick(row.messageTypeId)"
                                ></a>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === tableColumnTypes.Translate">
                                <div
                                    class="slds-truncate text-center"
                                    title="{{row[col.cellValueKey] | otTranslate}}">
                                    <span [innerText]="row[col.cellValueKey] | otTranslate">
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === tableColumnTypes.Input">
                                <div
                                    class="slds-truncate text-center"
                                    title="{{row[col.cellValueKey] | otTranslate}}">
                                    <span [innerText]="row[col.cellValueKey] | otTranslate"></span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === tableColumnTypes.Text">
                                <div
                                    class="slds-truncate text-center"
                                    title="{{row[col.cellValueKey]}}"
                                    [innerText]="row[col.cellValueKey]">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="col.columnType === tableColumnTypes.Date">
                                <div class="slds-truncate text-center">
                                    <span>
                                        {{row[col.cellValueKey] ? (row[col.cellValueKey] | otDate:'datetime') : "- - - -"}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
        </div>
        <div class="padding-all-1 row-nowrap">
            <upgraded-one-pagination
                *ngIf="!isTemplateLoaded"
                paginationClass="margin-right-auto"
                [identifier]="'EmailTemplateListPagination'"
                [list]="tableData"
                (onPageChange)="pageChange($event.page)"
                >
            </upgraded-one-pagination>
        </div>
    </ng-container>
    <ng-container *ngIf="currentTab === tabIds.branding">
        <div class="overflow-auto position-relative stretch-vertical">
            <upgraded-settings-email-template></upgraded-settings-email-template>
        </div>
    </ng-container>
</div>
