<section class="flex-full-height height-100 dsar-dashboard margin-all-2">
    <ng-container *ngIf="ready; else loading">
        <div class="dsar-dashboard__line-chart-dashboard-view">
            <canvas id="dsar-line-chart"></canvas>
        </div>
    </ng-container>
    <ng-template #loading>
        <ot-loading otPageLoading>
            {{'LoadingRequestsByDate' | otTranslate}}
        </ot-loading>
    </ng-template>
</section>
