<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <ot-confirm-modal-icon
        [type]="otModalData.archiveTemplate ? 'warning' : 'success'"
        [icon]="otModalData.archiveTemplate ? 'ot ot-archive' : 'ot ot-undo-action'"
    >
    </ot-confirm-modal-icon>
    <ot-modal-content
        class="margin-top-2 text-center"
    >
        <div *ngIf="otModalData.archiveTemplate; else showUnarchiveTemplateIcon">
            {{ archiveModalMessage }}
        </div>
        <ng-template #showUnarchiveTemplateIcon>
            <div class="text-center">
                {{ unarchiveModalMessage }}
            </div>
        </ng-template>
        <div class="margin-top-2 text-bold">{{'DoYouWantToContinue' | otTranslate}}</div>
    </ot-modal-content>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        class="margin-right-1 no-outline border-none"
        ot-auto-id="TemplateArchiveModalCancelButton"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        class="margin-right-1"
        ot-auto-id="TemplateArchiveModalConfirmButton"
        (click)="archiveTemplate()"
        >
        {{ 'Confirm' | otTranslate }}
    </button>
</ot-modal-footer>
