<ng-template #summaryCardsLoader>
    <ot-loading
        otPageLoading 
        class="margin-left-right-auto min-width-40 margin-top-3"
    ></ot-loading>
</ng-template>
<div *ngIf="!loadingCards else summaryCardsLoader" class="margin-top-bottom-3 margin-left-right-2">
    <div otCardGrid otCardColumn>
        <ot-card
            *ngFor="let card of cards; let i = index"
            [title]="card.title"
            [width]="width"
            [alignment]="alignment"
            >
            <ng-container 
                otCardContent
                *ngFor="let body of card.body; let i = index">
                <div class="row-nowrap space-between">
                    <a 
                        ot-auto-id="IncidentSummaryCards"
                        class="slds-truncate text-bold"
                        [deprecatedOtTooltip]="body.name ? body.name : body[card.displayField]"
                        [delay]="500"
                        (click)="viewEditModal(card.editModal, body)"
                        >
                        {{ body.name ? body.name : body[card.displayField] }}
                    </a>
                    <ot-context-menu
                        *ngIf="card.menuOptions.length"
                        [type]="contextMenuType.Icon"
                        [menu]="card.menuOptions"
                        [disabled]="body[card.disableField]"
                        [position]="'bottom-right'"
                        >
                        <i class="ot ot-ellipsis-h"></i>
                        <a *otContextMenuItem="let option"
                            (click)="handleAction(option.value,body)"
                            >
                            {{ option.text }}
                        </a>
                    </ot-context-menu>
                </div>
            </ng-container>
            <ng-container otCardFooter>
                <hr *ngIf="card.body[0] else emptyCard" class="margin-top-bottom-0">
                <span 
                    class="center-block"
                    *ngIf="card.body[0]"
                    >
                    <a class="text-bold row-horizontal-center" (click)="shiftTab(card.shiftTab)">{{ card.footer }}</a>
                </span>
                <ng-template #emptyCard>
                    <ot-empty-state
                        class="min-width-15"
                        [emptyStateMessage]="'NoRecordsFound' | otTranslate"
                        >
                        <img emptyStateImg/>
                    </ot-empty-state>
                </ng-template>
            </ng-container>
        </ot-card>
    </div>
</div>