<section *ngIf="ready; else loading" class="flex-full-height height-100">
    <ot-page-header
        [title]="'SubTasks' | otTranslate"
        [type]="'clear'">
        <button otButton neutral
            *ngIf="showAddSubTaskButton"
            class="margin-right-1"
            ot-auto-id="DSARWorkflowAddSubTasks"
            [innerText]= "'UserSubtask' | otTranslate"
            [disabled]="!draftMode || disableSubTaskActions"
            (click)="handleAction({type: 'CREATE_TASK', payload: null})"
        ></button>
        <button otButton neutral
            *ngIf="showAddSystemTaskButton"
            class="margin-right-1"
            ot-auto-id="DSARWorkflowAddSystemTasks"
            [innerText]= "'SystemSubTask' | otTranslate"
            [disabled]="!draftMode || disableSubTaskActions"
            (click)="handleAction({type: 'CREATE_SYSTEM_TASK', payload: null})"
        ></button>
    </ot-page-header>
    <div
        *ngIf="ready && subTasksTableData?.content?.length"
        class="position-relative"
        >
        <dsar-sub-tasks-table
            [rows]="subTasksTableData"
            [showDropdown]="draftMode"
            [workflowSubtaskTable]="true"
            [readOnly]="!draftMode"
            (pageChange)="loadPage($event)"
            (handleTableActions)="handleAction($event)"
        ></dsar-sub-tasks-table>
    </div>
    <div
        *ngIf="ready && !subTasksTableData?.content?.length"
        class="text-xlarge text-thin flex-full-height column-horizontal-vertical-center padding-top-bottom-2"
        [innerText]="'NoSubTasks' | otTranslate"
    ></div>
</section>
<ng-template #loading>
    <ot-loading></ot-loading>
</ng-template>

