<section class="flex-full-height">
    <ot-page-header
        class="height-49"
        [title]="'Dashboards' | otTranslate"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                [label]="'Dashboards' | otTranslate"
                [link]="'zen.app.pia.module.reports-new.dashboard-list'"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item [label]="dashboard?.name || ''"></ot-breadcrumb-item>
        </ot-breadcrumb>
        <button otButton brand
            *ngIf="editMode"
            ot-auto-id="DashboardEditLayoutBtn"
            (click)="changeLayout()"
            >
            {{ "Dashboard" | otTranslate }}
        </button>
        <button otButton brand
            *ngIf="editMode; else editBtn"
            ot-auto-id="DashboardEditViewAddBtn"
            (click)="toggleEditMode(false)"
            >
            {{ "Save" | otTranslate }}
        </button>
         <ng-template #editBtn>
            <button otButton brand
                ot-auto-id="DashboardEditViewEditBtn"
                (click)="toggleEditMode(true)"
                >
                {{ "Edit" | otTranslate }}
            </button>
        </ng-template>
    </ot-page-header>
    <dashboard-view
        class="flex-full-height overflow-y-auto overflow-x-hidden background-grey padding-left-right-2 padding-top-bottom-4"
        [dashboardId]="dashboardId"
        [editMode]="editMode"
        >
    </dashboard-view>
</section>
