<ot-loading otPageLoading
    *ngIf="(riskActivityService.riskActivityState$ | async).loadingRiskActivityData; else dataReady"
    class="flex-full-height">
    {{ 'Activity' | translate }}...
</ot-loading>
<ng-template #dataReady>
    <ot-empty-state
        *ngIf="!riskActivityList.length; else showActivity"
        class="justify-center flex align-center position-relative margin-top-4"
        [emptyStateMessage]="'NoRiskActivityToDisplay' | translate"
        >
        <img emptyStateImg />
    </ot-empty-state>
    <ng-template #showActivity>
        <div class="centered-max-100 width-100-percent row-vertical-center padding-left-right-2 background-grey shadow2-left-right min-height-5">
            <button otButton neutral
                class="margin-right-1"
                ot-auto-id="RiskActivityOrderToggle"
                [icon]="orderIcon"
                (click)="toggleOrder()">
            </button>
            <button otButton neutral
                class="margin-right-1"
                ot-auto-id="RiskActivityExpandToggle"
                (click)="toggleExpand()">
                {{ allItemsExpanded ? ("CollapseAll" | translate) : ("ExpandAll" | translate) }}
            </button>
        </div>
        <div class="centered-max-100 background-white shadow2 stretch-vertical width-100-percent overflow-y-auto">
            <div class="risk-activity__activity-timeline-header padding-all-2">
                <ot-activity-timeline>
                    <ot-activity-timeline-item
                        *ngFor="let activity of formattedActivities"
                        [activity]="activity"
                        [icon]="activity.icon"
                        [iconColor]="activity.iconColor"
                        [iconBackgroundColor]="activity.iconBackgroundColor"
                        [isExpanded]="expandedItemMap[activity.id]"
                        (toggle)="toggleActivity(activity.id)"
                        >
                        <ul
                            class="row-wrap-space-between padding-bottom-1"
                            *ngFor="let change of activity.changes; let i = index;"
                            >
                            <li class="flex-grow-1 flex-basis-0">
                                <span class="block text-small text-bold padding-bottom-half">{{ activity.fieldLabel }}</span>
                                <span class="block text-small">{{ change.fieldName | translate}}</span>
                            </li>
                            <li *ngIf="activity.showOldNewValueField"
                                class="flex-grow-1 flex-basis-0 margin-right-1">
                                <span class="block text-small text-bold padding-bottom-half">{{ activity.oldFieldLabel }}</span>
                                <span class="block text-small">{{ change.oldValue.name || "- - - -" }}</span>
                            </li>
                            <li
                                class="flex-grow-1 flex-basis-0">
                                <span class="block text-small text-bold padding-bottom-half">{{ activity.newFieldLabel }}</span>
                                <span class="block text-small">{{ change.newValue.name || "- - - -" }}</span>
                            </li>
                        </ul>
                    </ot-activity-timeline-item>
                </ot-activity-timeline>
            </div>
            <ot-loading
                *ngIf="(riskActivityService.riskActivityState$ | async).loadingViewMoreRiskActivityData; else viewMoreActivities">
            </ot-loading>
            <ng-template #viewMoreActivities>
                <div
                    *ngIf="hasMoreActivities"
                    class="row-vertical-center justify-center margin-left-right-2 border-top min-height-5"
                >
                    <button otButton neutral
                        class="margin-top-1"
                        ot-auto-id="RiskActivityViewMoreButton"
                        (click)="loadMoreRiskActivities()"
                        >
                        {{ "ViewMore" | translate }}
                    </button>
                </div>
            </ng-template>
        </div>
    </ng-template>
</ng-template>
