<div class="height-100 column-nowrap">
    <ot-page-header
        [title]="('EnableDataSubjectsElementsV2' | otPermit) && module === moduleContext.Inventory ?
            ('InventoryManager' | otTranslate) :
            ('AttributeManager' | otTranslate)"
        >
        <ot-breadcrumb
            class="text-nowrap"
            (routeClicked)="goToListView($event)"
            >
            <ot-breadcrumb-item
                *ngIf="!hideBreadCrumbs"
                ot-auto-id="AttributeManagerBreadcrum"
                [label]="('EnableDataSubjectsElementsV2' | otPermit) ?
                    ('InventoryManager' | otTranslate) :
                    ('AttributeManager' | otTranslate)"
                [link]="('EnableDataSubjectsElementsV2' | otPermit) ?
                    'zen.app.pia.module.datamap.views.inventory-manager.home' :
                    'zen.app.pia.module.datamap.views.attribute-manager.home'"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="title"
                >
            </ot-breadcrumb-item>
        </ot-breadcrumb>
        <div>
            <button
                otButton
                brand
                *ngIf="attributePermissions.canAdd"
                ot-auto-id="AttributeManagerAddAttributeButton"
                [innerText]="'AddAttribute' | otTranslate"
                (click)="addAttribute()"
                >
            </button>
        </div>
    </ot-page-header>
    <ot-tabs
        class="background-white"
        *ngIf="attributePermissions.canGroup"
        [tabs]="attributeManagerTabs"
        [selectedTab]="selectedTab"
        >
        <a
            *otTabItem="let tab"
            (click)="onTabClick(tab)"
            >
            {{ tab.text }}
        </a>
    </ot-tabs>
    <section class="stretch-vertical column-nowrap overflow-y-auto background-white">
        <ot-loading
            otPageLoading
            class="margin-all-auto"
            *ngIf="loadingAttributes || isLoadingGroups; else managerLoaded"
            >
            {{ 'Attributes' | otTranslate }}
        </ot-loading>
        <ng-template #managerLoaded>
            <ng-container *ngIf="attributePermissions.canGroup; else noAttributeGrouping" [ngSwitch]="selectedTab">
                <div *ngSwitchCase="tabIds.Attributes">
                    <attribute-manager-table
                        class="margin-top-2 shadow"
                        [status]="attributeStatuses.Enabled"
                        >
                    </attribute-manager-table>
                    <attribute-manager-table
                        class="margin-top-2 shadow"
                        [status]="attributeStatuses.Disabled"
                        >
                    </attribute-manager-table>
                </div>
                <div *ngSwitchCase="tabIds.Groups" class="margin-top-2">
                    <attribute-groups-builder [inventoryId]="inventoryId"></attribute-groups-builder>
                </div>
            </ng-container>
            <ng-template #noAttributeGrouping>
                <attribute-manager-table
                    *ngIf="!attributePermissions.canGroup"
                    class="margin-top-2 shadow"
                    [status]="attributeStatuses.Enabled"
                    >
                </attribute-manager-table>
                <attribute-manager-table
                    *ngIf="!attributePermissions.canGroup"
                    class="margin-top-2 shadow"
                    [status]="attributeStatuses.Disabled"
                    >
                </attribute-manager-table>
            </ng-template>
        </ng-template>
    </section>
</div>
