<section class="padding-all-3">
    <h1 class="heading1 text-center text-thin margin-top-2">{{'APIIntegration'| otTranslate}}</h1>
    <p>{{'APIIntegrationIntroduction'| otTranslate}}</p>

    <h3 class="text-thin">{{'YourAPIUrl'| otTranslate}}</h3>
    <ot-loading *ngIf="!sdkSettings"></ot-loading>
    <span *ngIf="sdkSettings" class="text-link">
        {{sdkSettings.integrationSettings.receiptApiEndpoint}}
    </span>

    <h3 class="text-thin">{{'YourAPIToken'| otTranslate}}</h3>
    <ot-loading *ngIf="!(collectionPoint && collectionPointToken)"></ot-loading>
    <pre class="pre" *ngIf="collectionPoint && collectionPointToken">
        {{collectionPointToken}}
    </pre>

    <h3 class="text-thin">{{'ExpectedPayload'| otTranslate}}</h3>
    <ot-loading *ngIf="!(collectionPoint && collectionPointToken)"></ot-loading>
    <upgraded-prettify *ngIf="collectionPoint && collectionPointToken">
        <pre class="border-none padding-0">
{{ '{' }}
  "identifier": "example@otprivacy.com",
  "test": true,
  "requestInformation": <span class="pre">"{{collectionPointToken}}",</span>
  <ng-container *ngIf="collectionPoint.Purposes && collectionPoint.Purposes.length > 0">"purposes": [<ng-container *ngFor="let purpose of collectionPoint.Purposes trackBy: trackByFn; let purposeIndex = index">
    {{ '{' }}
      "Id": "{{purpose.Id}}"<ng-container *ngIf="purpose.Topics && purpose.Topics.length > 0">,
      "Preferences": [<ng-container *ngFor="let topic of purpose.Topics trackBy: trackByFn; let topicIndex = index">
        {{ '{' }} "TopicId": "{{topic.Id}}" {{ '}' }}<ng-container *ngIf="topicIndex + 1 < purpose.Topics.length">,</ng-container></ng-container>
      ]</ng-container><ng-container *ngIf="purpose.CustomPreferences && purpose.CustomPreferences.length > 0">,
      "CustomPreferences": [<ng-container *ngFor="let pref of purpose.CustomPreferences trackBy: trackByFn; let prefIndex = index">
        {{ '{' }}
          "Id": "{{pref.PurposeCustomPreferenceId}}",
          "Options": [<ng-container *ngFor="let option of pref.Options trackBy: trackByFn; let optIndex = index">"{{option.Id}}"<ng-container *ngIf="optIndex + 1 < pref.Options.length">,</ng-container></ng-container>]
        {{ '}' }}<ng-container *ngIf="prefIndex + 1 < purpose.CustomPreferences.length">,</ng-container></ng-container>
      ]</ng-container>
    {{ '}' }}<ng-container *ngIf="purposeIndex + 1 < collectionPoint.Purposes.length">,</ng-container></ng-container>
  ]</ng-container>
{{ '}' }}</pre>
    </upgraded-prettify>

    <section class="margin-top-bottom-1" *ngIf="collectionPoint && collectionPointToken">
        <p>{{'Where'| otTranslate}}:</p>
        <ul class="margin-left-2 text-small">
            <li class="bullet-list"><b>identifier</b> {{'ConsentAPIIdentifier'| otTranslate}}</li>
            <li class="bullet-list"><b>requestinformation</b> {{'ConsentAPIRequestInformation'| otTranslate}}</li>
            <li class="bullet-list"><b>purposes</b> {{'ConsentAPIPurposes'| otTranslate}}</li>
            <li class="bullet-list"><b>test</b> {{'ConsentAPITest'| otTranslate}}</li>
        </ul>
    </section>

    <h3 class="text-thin">{{'YourAPIDocumentation'| otTranslate}}</h3>
    <p>{{'ConsentAPIDocumentation'| otTranslate}}</p>

</section>