.aa_needs-more-info-drawer {

    &__needs-more-info-input {
        display: -ms-flexbox;
        .ql-editor {
            height: 10rem;
            max-width: 38rem;
        }
    }

    &_question-sequence {
        height: 4.6rem;
        line-height: 4.6rem;
        min-width: 4.6rem;
    }

    &_question-title {
        padding-right: 1.5rem;
        padding-top: 1.25rem;
    }

    &__rich-text-editor-container {
        min-height: 18rem;
    }
}
