<div class="padding-all-1">
    <button
        *ngIf="contextMenuOptions?.length && !isReadOnly"
        class="ot ot-ellipsis-h cursor-pointer text-xlarge border-none background-none no-outline align-right"
        [attr.aria-pressed]="canShowContextMenuOptions"
        ot-auto-id="AssessmentNeedsMoreInfoContextMenu"
        [closeOnClick]="true"
        [delay]="defaultDropdownDelays"
        [interactive]="false"
        [isOpen]="canShowContextMenuOptions"
        [modifierClass]="'width-auto'"
        [otDropdown]="needsMoreInfoSubPaneContextMenu"
        [position]="'bottom-right'"
        (toggled)="toggleContextMenu($event)"
        (click)="toggleContextMenu(true)"
    ></button>

    <ng-template #needsMoreInfoSubPaneContextMenu>
        <ul
            class="slds-dropdown__list"
            role="menu"
            *ngFor="let option of contextMenuOptions; trackBy:trackByOptionId">
            <li
                class="slds-dropdown__item"
                role="presentation">
                <a
                    class="text-medium-small cursor-pointer remove-anchor-style text-decoration-none block"
                    role="menuitem"
                    [attr.ot-auto-id]="'AssessmentNeedsMoreInfoSubPaneContextMenuOption_' + option.id"
                    (click)="onContextMenuOptionClick(option.id)"
                    >
                    <span>{{option.name}}</span>
                </a>
            </li>
        </ul>
    </ng-template>
</div>

<div class="static-vertical align-center padding-all-1 row-nowrap">
    <div class="aa_needs-more-info-drawer_question-sequence border-round-4 text-center text-medium media-middle background-frost text-bold margin-right-1">
        {{questionSequence}}
    </div>
    <div
        class="aa_needs-more-info-drawer_question-title text-bold word-wrap overflow-hidden"
        [otTooltip]="questionTitle"
    >
        {{questionTitle}}
    </div>
</div>
<span class="min-width-12 border-bottom padding-all-1">
    <a
        class="text-bold text-ui-blue"
        ot-auto-id="AssessmentNMIDrawerGoToQuestionLink"
        (click)="hidePane(true)">
        {{'GoToQuestion' | otTranslate}}
    </a>
</span>

<ot-loading
    otPageLoading
    *ngIf="isPaneLoading"
    class="flex-full-height justify-center"
></ot-loading>

    <div
        *ngIf="!isPaneLoading"
        class="flex column-nowrap min-height-1"
    >
        <div class="aa_needs-more-info-drawer__content overflow-y-auto overflow-x-hidden ms-overflow-scroll flex-grow-1">
            <div
                class="padding-all-1 height-auto"
                *ngFor="let response of needsMoreInfoResponseList; trackBy:trackByOptionId; let last = last"
                [ngClass]="{ 'border-bottom': !last, 'border-none': last }"
            >
                <div class="row-space-between-center">
                    <div class="text-bold flex-full-40 overflow-ellipsis-nowrap">
                        {{response.creator.name}}
                    </div>
                    <span class="text-small">
                        {{response.createdDt | otDate:'dateTime'}}
                    </span>
                </div>
                <div class="margin-top-1">
                    <span
                        *ngIf="previewMode"
                        class="text-small"
                        [innerHTML]="response?.response"
                    ></span>
                </div>
            </div>
        </div>
        <ng-container *ngIf="canShowNeedsMoreInfoStateChangeForm">
            <div
                class="aa_needs-more-info-drawer__rich-text-editor-container padding-all-1 border-top"
            >
                <ot-rich-text-editor
                    class="aa_needs-more-info-drawer__needs-more-info-input editor-container link-editor column-nowrap flex-grow-1"
                    ot-auto-id="AssessmentNeedsMoreInfoRichTextEditor"
                    [customModules]="customModules"
                    [contentModel]="needsMoreInfoStateChangeInput"
                    (onContentChanged)="onNeedsMoreInfoStateInputChange($event.html)"
                ></ot-rich-text-editor>
            </div>
            <div
                class="margin-bottom-1 padding-top-bottom-1"
                *ngIf="showQuestionEditMessage">
                <div *ngIf="showAllowQuestionEditingToggle">
                    <ot-checkbox
                        class="padding-left-1"
                        ot-auto-id="NeedsMoreInfoSubPaneAllowEditingToggle"
                        [checked]="questionEditEnabled"
                        [disabled]="false"
                        (toggle)="onToggle($event)">
                    </ot-checkbox>
                    <span class="word-wrap text-small padding-left-1">{{ 'AllowQuestionEditing'| otTranslate }}</span>
                </div>
                <div *ngIf="!showAllowQuestionEditingToggle">
                    <ot-checkbox
                        class="padding-left-right-1"
                        ot-auto-id="NeedsMoreInfoSubPaneAllowEditingToggle"
                        [checked]="questionEditEnabled"
                        [disabled]="true"
                        (toggle)="onToggle($event)">
                    </ot-checkbox>
                    <span>{{ 'AllowQuestionEditing'| otTranslate }}</span>
                    <div class="word-wrap text-small color-cherry padding-left-1 padding-top-half">{{ 'DisableEditInfo'| otTranslate }}</div>
                </div>
            </div>
        </ng-container>
        <footer
            *ngIf="primaryButtonObj?.id || secondaryButtonObj?.id"
            class="border-top padding-all-1 row-space-between-center static-vertical row-reverse"
        >
            <section *ngIf="primaryButtonObj?.id">
                <button otButton default
                    class="text-medium-small"
                    [attr.ot-auto-id]="cancelButtonConfig.identifier"
                    [innerText]="'Cancel' | otTranslate"
                    (click)="onSecondaryActionClick(cancelButtonConfig.id)"
                ></button>
                <button otButton brand
                    class="text-medium-small"
                    [attr.ot-auto-id]="primaryButtonObj.identifier"
                    [disabled]="primaryButtonObj.isDisabled || !needsMoreInfoStateChangeInput"
                    [loading]="primaryButtonObj.isLoading"
                    [innerText]="primaryButtonObj.name"
                    (click)="onPrimaryActionClick(primaryButtonObj.id)"
                ></button>
            </section>
            <button otButton neutral
                *ngIf="secondaryButtonObj?.id"
                class="text-medium-small"
                [attr.ot-auto-id]="secondaryButtonObj.identifier"
                [disabled]="secondaryButtonObj.isDisabled || isReadOnly"
                [loading]="secondaryButtonObj.isLoading"
                [innerText]="secondaryButtonObj.name"
                (click)="onSecondaryActionClick(secondaryButtonObj.id)"
            ></button>
        </footer>
    </div>
