.modal
    script(type='text/ng-template', id='AddDocumentModal.html')
        .modal-header
            h3.modal-title.align-left {{vm.TypeText || 'Create File'}}
            h3.modal-title.align-right(ng-click='vm.cancel()')
                span.ot.ot-times
        .modal-body.directory-add-modal
            form.directory-add-modal__form(name='create')
                .directory-add-modal__form__group(ng-if='vm.UploadType === vm.UploadTypes.File')
                    label.add-section__label(for='Data')
                        | {{::$root.t("File")}}
                        sup.fa.fa-asterisk.add-section__required
                    .position-relative
                        file-input(
                            input-class='one-input full-width file',
                            allow-multiple='vm.AllowMultiple',
                            accept='vm.Accept',
                            done='vm.UploadFinished(files)',
                            name='Data',
                            required='')
                    p.directory-add-modal__error(ng-if='(create.Data.$touched || create.Data.$dirty) && (create.Data.$errors.$required || create.Data.$errors.$required)')
                        | {{::$root.t("SelectValidFile")}}
                .directory-add-modal__form__group(ng-if='(vm.UploadType === vm.UploadTypes.Folder) || (vm.file.Data)')
                    label.add-section__label(for='FileName')
                        | {{::$root.t("Name")}}
                        sup.fa.fa-asterisk.add-section__required
                    input.one-input.full-width(
                        type='text',
                        ng-change='vm.InputChanged(vm.file)',
                        ng-model='vm.file.FileName',
                        name='FileName',
                        required='',
                        ng-maxlength='100',
                        placeholder='{{::$root.t("EnterNameHere")}}')
                    p.directory-add-modal__error(ng-if='(create.FileName.$touched || create.FileName.$dirty) && (create.FileName.$errors.$required)')
                        | {{::$root.t("EnterFolderName")}}
                    p.directory-add-modal__error(ng-if='(create.FileName.$touched || create.FileName.$dirty) && (create.FileName.$errors.$maxLength)')
                        | {{::$root.t("SelectShorterName")}}

        .modal-footer.directory-add-modal__btn
            button.directory-add-modal__btn--cancel(type='button', ng-click='vm.cancel()')
                | {{::$root.t("Cancel")}}
            button.directory-add-modal__btn--submit(type='submit', ng-disabled='create.$invalid || vm.Disabled', ng-click='vm.CreateDocument()')
                span(ng-if='!vm.Loading') {{::$root.t("Create")}}
                span(ng-if='vm.Loading')
                    loading(ng-if='true', show-text='false')