.one-editable-text {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;

    &__group {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        &--column {
            flex-flow: column-reverse nowrap;

            .one-editable__buttons-group {
                height: 3rem;
            }
        }
    }

    &__controller {
        flex: 1 1 auto;
    }

    &__input {
        border-right: none;
        min-width: 1px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 3.8rem;
    }

    &__textarea {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-width: 100%;
        min-width: 100%;
    }

    &__buttons-group {
        flex: 1 0 auto;
    }

    &__button {
        flex: 1 0 auto;
        padding: 0 .6rem;
        color: $white !important;
        border: none;

        &--submit {
            background-color: $green;
        }

        &--cancel {
            background-color: $slate;

            &:hover {
                background-color: $slate;
            }
        }

        &:hover {
            border: none;
        }
    }

    .border-round-with-textarea {
        .one-editable-text__button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &--submit {
                border-top-left-radius: 0;
            }
            &--cancel {
                border-top-right-radius: 0;
            }
        }
    }

    .border-round-with-input {
        .one-editable-text__button {
            &--submit {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &--cancel {
                border-radius: 0;
            }
        }
    }
}
