.cc-cookie-compliance-header {
    &__websiteList {
        font-size: 1.3rem;
        max-width: 25rem;
    }

    &__advanced-settings-button,
    &__preview-button,
    &__publish-button {
        font-size: 1.3rem;
    }

    ot-picklist {
       width: 20rem;
       button {
        height: 3.8rem;   
       }
    } 
    button {
        height: 3.8rem;
        .btn-manage-language {
            width: 10rem;
        }
    }
}
