.cc-language-seletion {
    &__languageList {
        font-size: 1.3rem;
    }

    &__addnew-button {
        font-size: 1.3rem;
    }

    &__select {
        height: 3.8rem;
    }    
}
.cc-cookie-compliance-header {
    .language-refresh-text {
        line-height: 4rem;
    }
}