<ot-picklist 
    class="column-nowrap full-size" 
    [placeholder]="'SelectLanguage'| otTranslate"
    [attr.ot-auto-id]="'BannerLanguage'"
    [disabled]="isDisabled"
    [options]="languages" 
    valueKey="domainId"
    labelKey="englishName" 
    [model]="selectedLanguage" 
    (onSelect)="getDomainByLanguage($event)"
></ot-picklist>
<button 
    otButton 
    neutral 
    class="btn-manage-language margin-left-1" 
    *ngIf="!hideAddNewButton"
    [disabled]="isDisabled"
    [attr.ot-auto-id]="'ManageLanguages'"
    (click)="addNewLanguage()"
>   {{'ManageLanguages' | otTranslate}}
</button>
<button 
    otButton
    neutral 
    class="margin-left-1"
    [icon]="'ot ot-refresh'"
    [attr.ot-auto-id]="'RefreshLanguages'"
    *ngIf="!hideAddNewButton && !canManageLanguage" 
    (click)="loadBannerLanguage(true)" 
></button>
<span 
    class="margin-left-1 language-refresh-text text-bold"
    *ngIf="showLoading"
>   
    <i class="ot ot-spinner margin-right-1"></i>
    {{'RefreshingData' | otTranslate}}
</span>



