/* General */

html, body {
    height: 100%;
}

body {
    margin: 0;
    min-width: 960px;
}

.breadcrumb {
    font-size: 0.95em;
    color: gray;
    padding: 10px 50px 0 50px;
}

.clear {
    clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

hr {
    margin: 40px 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.prewrap {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}

#header-bar {
    background-color: #6cc04a;
    color: white;
    padding: 8px 20px;
    height: 34px;
    background-image: url(images/onetrust-logo-small.png?v=1.1);
    background-position: 15px center;
    background-size: 100px 30px;
    background-repeat: no-repeat;
}

#upgrade-banner {
    padding: 1px 10px;
    background-color: #ff8;
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ee7;
}
#header-bar #login-status {
    float: right;
    margin-top: 6px;
    font-size: 1em;
}

#header-bar #login-status a {
    color: white;
    font-weight: normal;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -32px;
}

#wrapper .push {
    height: 32px;
}

#page-container {
    position: relative;
    padding: 0 50px 50px 50px;
}

.color-picker {
    margin: 1px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px;
}

.sp-container, .sp-input {
    border: 1px solid #ccc;
}

.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
    border: 1px solid #333;
}

input[type=submit].large-btn,
input[type=reset].large-btn,
button.large-btn {
    margin-top: 15px;
    width: 160px;
}

input[type=image] {
    width: inherit;
    border: none;
}

input[type=radio] {
    width: initial;
    vertical-align: middle;
}

.delete-button {
    color: #232323;
    display: block;
    padding: 2px 10px 3px;
    font-size: 0.9em;
    background-color: rgb(240, 240, 240);
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    margin: 5px auto 5px 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
.delete-button:hover,
.button:hover {
    background-color: #76b3d1;
    border-color: #76b3d1;
    color: white !important;
    text-decoration: none;
}

input[type=checkbox] {
    width: inherit;
}

.select-style {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    padding-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;
    margin-bottom: 5px;
}

.select-style select {
    padding: 5px 8px;
    width: 140%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.bold {
    font-weight: 600;
}

h1 {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

h1 span.domain-name {
    font-style: italic;
    color: #6cc04a;
}

h1.sub-heading {
    font-size: 1.8em;
    margin-top: -20px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #6cc04a;
    margin-bottom: 5px;
}

sup {
    font-size: initial;
}

p.page-intro {
    /*margin: -15px 0 25px 0;*/
    font-style: italic;
    color: #333;
}

p.tab-intro {
    margin: 8px 0 25px 0;
    font-style: italic;
    color: #333;
}

p.page-intro .domain-navigation {
    display: block;
    margin-top: 4px;
    font-style: normal;
    width: 165px;
    white-space: nowrap;
}

p.page-intro .domain-navigation i {
    margin-left: 4px;
    vertical-align: middle;
}

table {
    width: 100%;
}

table#page-report {
    table-layout: fixed;
}

table th, table td {
    text-align: left;
    padding: 0 20px 5px 0;
    padding: 3px 8px;
}

table th {
    background-color: #ddd;
    color: #666;
}

table#page-report td {
    word-wrap: break-word;
    white-space: pre-wrap;
}

table#page-report .host {
    width: 15%;
}

table#page-report .name {
    width: 15%;
}

table#page-report .path {
    width: 15%;
}

table#page-report .value {
    width: 55%;
}

table td {
    border-bottom: 1px solid #ddd;
}

table.striped {
    border-collapse: collapse;
}

table.striped th, table.striped td {
    border-right: 1px solid white;
}

table.striped tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}

table.striped tr.disabled {
    color: gray;
    background-color: #eee;
}

table.striped tr.disabled a {
    color: gray;
}
table.striped tr.disabled a.enable-domain-link,
table.striped tr.disabled a.remove-domain-link {
    color: #509EC4;
}

table.selectable tr.selected {
    background-color: #eee;
}

table td.price {
    font-weight: bold;
}

table td.no-results {
    color: #999;
}

table .narrow-col {
    width: 5%;
}

table .wide-col {
    width: 50%;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable thead th {
    padding: 10px !important;
    border-bottom-color: #aaa !important;
}

table.dataTable.no-footer {
    border-bottom-color: #aaa !important;
}

#consent-groups-table .show-additional,
#consent-groups-table .additional {
    display: none;
}

div.page-footer {
    background-color: #eee;
    border-top: 1px solid white;
    margin: 0;
    padding: 8px 50px;
    text-align: right;
    color: #666;
    font-size: 12px;
    height: 15px;
}

div.page-footer a {
    color: #333;
}

@media all and (max-width: 1024px)
{
    table .collapse {
        display: none;
        visibility: collapse;
    }

    table td {
        font-size: 0.9em;
    }
}

a {
    color: #509EC4;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.old-cookie td:first-child {
    border-left: 4px solid red;
}

.new-cookie td:first-child {
    border-left: 4px solid green;
}

ul.cookie-key {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    padding: 5px;
}

ul.cookie-key li {
    float: left;
    margin-right: 20px;
    padding-left: 6px;
    border-left: 4px solid white;
    font-size: 0.9em;
}

ul.cookie-key li.old-cookie {
    border-left: 4px solid red;
}

ul.cookie-key li.new-cookie {
    border-left: 4px solid green;
}

ul.cookie-key input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    margin: 0 0 0 5px;
    padding: 0;
}

.ajax-loader {
    position: relative;
    top: -2px;
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.cookie-count {
    position: absolute;
    color: #ddd;
    font-weight: bold;
    font-size: 42px;
    top: 50%;
    margin-top: -0.59em;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0.5em;
}

.cookie-count span {
    font-size: 18px;
}

/* Audit page */

#new-audit-form {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}

#new-audit-form label {
    font-weight: 600;
    font-size: 0.9em;
}

#new-audit-form .field-container {
    float: left;
    margin-right: 10px;
}

#new-audit-form .field-container input {
    margin-left: 0;
}

#new-audit-form .trial-message {
    font-size: 0.8em;
    color: gray;
}

#new-audit-form .field-container {
    display: inline-block;
}

#new-audit-form .field-container label,
#new-audit-form .field-container input {
    display: block;
}

#new-audit-form .field-container.push-down {
    padding-top: 1.3em;
}

#new-audit-form .field-container.push-down label,
#new-audit-form .field-container.push-down input[type=checkbox] {
    position: relative;
    top: 0.75em;
    display: inline-block;
}

#new-audit-form .field-container.push-down input[type=checkbox] {
    top: 0.8em;
    margin-left: 8px;
}

#new-audit-form .multiple-domain-link {
    margin-left: 2px;
    display: block;
    clear: both;
}

#progress-bar-container {
    width: 50px;
    height: 6px;
    border: 1px solid #6cc04a;
    display: inline-block;
    margin-left: 20px;
}

#progress-bar {
    height: 100%;
    background-color: #6cc04a;
}

.reaudit-button {
    width: auto;
    font-size: 0.8em;
    padding: 3px 10px;
    margin: 0;
}

/* Login page*/

body.login {
    background-color: #6cc04a !important;
}

.login-container {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 530px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #aaaaaa;
}

.login-panel {
    margin: auto;
    width: 90%;
}

.login-panel h1.sub-heading {
    margin-top: 20px;
}

.login-panel .form-field label {
    min-width: 130px !important;
    /*float: left;
    clear: both;*/
}

.login-panel input[type=text],
.login-panel input[type=password],
.login-panel input[type=email] {
    width: 300px;
    font-size: 1.2em;
}

.login-panel .right,
.login-panel .field-validation-error {
    margin-left: 138px !important;
}

.login-panel .right a {
    margin-bottom: 14px;
    display: block;
}

.login-panel .right input[type=checkbox] {
    margin-left: 0 !important;
}


.login-panel .error-message {
    margin-left: 0;
}

.login-panel .panel-footer {
    text-align: center;
}

.login-panel .panel-footer .smaller {
    font-size: 0.9em;
}

.login-panel .form-submit {
    clear: both;
    text-align: center;
    margin-top: 0 !important;
}

/* Add Multiple Domains */
#domain-list {
    border: 1px solid #dddddd;
    width: 100%;
    height: 400px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 10px;
}

input#page-limit {
    width: 100px;
}

/* Actions panel */
#actions {
    margin-bottom: 30px;
    text-align: right;
}

#actions a {
    display: inline-block;
    background: #eee;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin: 5px;
}

#actions a:hover {
    background-color: #6cc04a;
    border-color: #006981;
    color: white !important;
}

#actions a.disabled,
#actions a.disabled:hover {
    color: gray !important;
    cursor: default;
    text-decoration: none;
    background: #eee;
    border: 1px solid #dddddd;
}

.cookie-description {
    color: gray !important;
    font-size: 0.8em;
}

.error-message {
    color: red;
    margin-left: 20px;
}

.auditor-error {
    color: red;
}

.cancel-button {
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Dashboard */

.dashboard-wrapper {
    width: 100%;
}

.summary-data {
    width: 30%;
    float: left;
}

.summary-data table {
    margin-bottom: 30px;
}

table.summary-total td,
.summary-data table caption {
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    padding: 0;
}

.summary-data table tr td:first-child {
    width: 75%;
}

.summary-data table tr td:last-child
{
    width: 25%;
    text-align: center;
}

.summary-data td.sub-total {
    font-weight: 600;
}

.cookies-by-category,
.cookies-by-type {
    position: relative;
    width: 35%;
    height: 500px;
    float: left;
    text-align: center;
}

.cookies-by-category h3,
.cookies-by-type h3
 {
    font-size: 1.4em;
    /*margin-top: 50px;*/
    font-weight: 600;
}

#cookies-by-category-chart,
#cookies-by-type-chart {
    margin: auto;
}

.chart-key {
    width: 320px;
    margin: auto;
}

.chart-key ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chart-key li {
    font-size: 0.95em;
    float: left;
    margin: 2px 10px;
    padding-left: 1em;
    text-indent: -.7em;
    width: 126px;
    text-align: left;
}

.chart-key li:before {
    content: "■ ";
    font-size: 1.2em;
}

.chart-container {
    width: 100%;
    position: absolute;
    bottom: 50px;
}

li.strictly-necessary:before {
    color: #40c47b;
}

li.performance:before {
    color: #4094d0;
}

li.functionality:before {
    color: #fffe41;
}

li.targeting:before {
    color: #fe4040;
}

li.unknown:before {
    color: #9563b8;
}

li.first-party-session:before {
    color: #70d39d;
}

li.first-party-persistent:before {
    color: #40c47b;
}

li.third-party-session:before {
    color: #ff7070;
}

li.third-party-persistent:before {
    color: #fe4040;
}

td.check-column {
    text-align: center;
    color: green;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
}


td .alert,
th .alert {
    color: #E52420;
}

.audits-alert {
    display: none;
    float: right;
    padding-left: 5px;
}
.audits-alert .alert-icon {
    color: yellow;
}

.alert-column {
    text-align: center;
    color: #E52420;
    font-size: 1.3em;
    line-height: 1em;
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.privacy-policy-alert {
    background: url(images/alert-icon.svg) left center no-repeat;
    padding-left: 35px;
    height: 25px;
    font-size: 1.2em;
    animation: blinker 1s 3;
}

.privacy-cookie-policy-alert {
    height: 20px;
    font-size: 1.1em;
    width:900px;
}

.privacy-cookie-policy-alert .alert-left-icon {
    font-size: 1.3em;
    padding-right:10px;
    font-weight: bold;
}

.privacy-cookie-policy-alert .alert-found {
    color: green;
}

.privacy-cookie-policy-alert .alert-not-found {
    color: red;
}

/* Tabs */
#pages-audited, #tags, #consent-groups, #consent-design, #consent-notice, #consent-colors, #cookie-assignment, #script-tags, #admin-patterns, #admin-audits {
    display: none;
}

#tabs {
    border-bottom: 2px solid #6cc04a;
    list-style: none;
    padding: 0;
}

#tabs li {
    background-color: #ddd;
    display: block;
    float: left;
    padding: 10px 18px;
    margin: 0 5px 0 0;
    font-weight: bold;
    cursor: pointer;
}

#tabs li.active {
    background-color: #6cc04a;
    color: white;
}

#scripttabs {
    border-bottom: 2px solid #6cc04a;
    list-style: none;
    padding: 0;
}

#scripttabs li {
    background-color: #ddd;
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    font-weight: bold;
    cursor: pointer;
}

#scripttabs li.active {
    background-color: #6cc04a;
    color: white;
}


.prettyprint {
    overflow: scroll;
    padding: 10px !important;
    border: 1px solid gray !important;
    background-color: #eee !important;
}

#tags table tr td.type {
    width: 10%;
}

#tags table tr td.params {
    width: 20%;
}

.upgrade-message {
    margin-bottom: 50px;
}

table.upgrade-table {
    margin-top: 30px;
}

table td.field-name,
table td.label {
    width: 30%;
}

table td.type,
table td.title {
    width: 15%;
}

table td.is-pii {
    width: 10%;
}

.positioning {
    position: relative;
}

.increased.indented,
.decreased.indented,
.no-change.indented {
    top: 5px;
    left: 70% !important;
    white-space: nowrap;
    font-size: 12px;
}

.increased {
    position: absolute;
    left: 50%;
    color: green;
    font-size: small;
}

.increased:before {
    position: relative;
    content: '\25b2';
    font-size: x-small;
    left: 1px;
    top: -2px;
}

.decreased {
    position: absolute;
    left: 50%;
    color: red;
    font-size: small;
}

.decreased:before {
    position: relative;
    content: '\25bc';
    font-size: x-small;
    left: 1px;
}

.no-change {
    position: absolute;
    left: 50%;
    color: gray;
    font-size: small;
    margin-top: -2px;
    margin-left: 1px;
}

.new-item {
    position: relative;
    top: -3px;
    left: 10px;
    background-color: #999;
    text-transform: uppercase;
    color: white;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 5px 3px 5px;
    border-radius: 4px;
    letter-spacing: 0.02em;
}

.waiting img {
    margin-right: 10px;
}

.upgrade-complete button {
    width: 160px;
}

/* Add domain licenses page */

.domain-offer {
    position: relative;
    width: 30%;
    margin-right: 5%;
    height: 350px;
    float: left;
    background-color: #ddd;
    margin-top: 20px;
}

.domain-offer.last {
    margin-right: 0;
}

.domain-offer .number-of-licenses {
    position: absolute;
    font-size: 80px;
    color: #6cc04a;
    top: 20px;
    width: 100%;
    text-align: center;
}

.domain-offer.recommended {
    margin-top: 0;
    height: 390px;
    background-color: #eee;
}

.domain-offer .recommended {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6cc04a;
    padding: 4px 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
    text-align: center;
}

.domain-offer.recommended .number-of-licenses {
    top: 40px;
}

.domain-offer .offer-text {
    position: absolute;
    font-size: larger;
    top: 120px;
    width: 100%;
    text-align: center;
}

.domain-offer.recommended .offer-text {
    top: 140px;
}

.domain-offer .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #999;
}

.domain-offer .buttons .paypal-button {
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #ddd;
}

.domain-offer .buttons .paypal-button .price {
    font-weight: normal;
}

.domain-offer .buttons input {
    margin: 8px 0 0 0;
    padding: 0;
}

.footer {
    clear: both;
    padding-top: 30px;
    text-align: center;
    padding: 30px 18%;
}

/* Account usage module */
.account-usage {
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 0 20px;
    background-color: #666;
    color: white;
    text-align: left;
}

.account-usage p.licenses-used {
    margin: 5px 0;
    font-size: 12px;
}

.account-usage p.licenses-used:first-child {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #888;
    font-size: 14px;
}

.account-usage p.licenses-used .number {
    font-weight: bold;
}

.account-usage p.add-licenses-message {
    font-size: smaller;
    margin: 0 0 15px 0;
}

.account-usage p.add-licenses-message a {
    color: white;
    text-decoration: underline;
}

/* Settings page */
#period-in-months {
    width: 50px;
}

/* Cookie Manager */

.line-breaks {
    white-space: pre-line;
}

.limit-width {
    max-width: 800px;
}

.alert {
    font-style: italic;
    color: #666;
}

.space-after {
    margin-bottom: 10px;
}

.space-before {
    margin-top: 50px;
}

.highlight-panel {
    margin-top: 20px;
    background-color: #eee;
    border-radius: 8px;
    padding: 5px 20px 15px 20px;
}

.clear-panel {
    position: relative;
    margin-top: 30px;
    margin-bottom: -10px;
    /*background-color: #eee;*/
    border: 1px solid #6cc04a;
    border-radius: 8px;
    padding: 5px 200px 15px 20px;
}

.clear-panel button {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -18px;
}

.highlight-panel button,
.clear-panel button,
.product button,
.login-panel input[type=submit] {
    background-color: #509EC4;
    color: white;
    border: 1px solid #509EC4;
}

.highlight-panel button:hover,
.clear-panel button:hover,
.product button:hover,
.login-panel input[type=submit]:hover {
    background-color: #76b3d1;
    border-color: #76b3d1;
}

.highlight-panel label {
    font-weight: 600;
    font-size: 0.9em;
}

.highlight-panel input[type=checkbox] {
    position: relative;
    top: 2px;
}

.highlight-pre-panel {

    background: none repeat scroll 0 0 #fff;
    border: 1px ridge #006981;
    overflow-x: auto;
    padding: 5px;
}

.highlight-pre-panel pre {
    margin: 0;
}

/* Products landing page */

.products {
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.product {
    position: relative;
    width: 30%;
    min-width: 300px;
    margin-right: 5%;
    background-color: #eee;
    min-height: 490px;
    float: left;
    overflow: hidden;
}

.product img {
    display: block;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.product.disabled:after,
.coming-soon:after {
    content: 'Offline for Maintenance';
    font-weight: 600;
    font-size: xx-large;
    color: #fff;
    padding: 120px 20px;
    text-align: center;
    display: block;
    background-color: #333;
    opacity: 0.75;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.coming-soon:after {
    content: 'Coming Soon...';
}

.product h2 {
    display: block;
    background: #6cc04a;
    color: white;
    margin: auto;
    padding: 6px 20px 7px 20px;
    font-weight: 300;
    font-size: 1.4em;
}

.product button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -65px;
}

.product p {
    padding: 0 20px;
    font-size: 1em;
    font-style: italic;
    line-height: 1.5em;
    color: #333;
    padding-bottom: 100px;
}

.product p.license {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #666;
    padding: 8px 20px 10px 20px;
    text-align: center;
    margin: 0;
    font-style: normal;
}

.product h2 i {
    position: relative;
    left: -5px;
}

.product p.call-us {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -120px;
    font-size: large;
    font-style: normal;
    text-align: center;
    padding: 0;
}

.product p.call-us i {
    font-size: x-large;
    vertical-align: middle;
    margin-right: 5px;
}

/* Cookie manager forms */

div.form div.form-field {
    position: relative;
}

div.form div.form-field label {
    display: inline-block;
    min-width: 250px;
    vertical-align: top;
    font-weight: 600;
    margin-top: 10px;
}

div.form div.form-field div.form-field-tip {
    position: absolute;
    top: 40px;
    width: 200px;
    font-size: 0.9em;
    color: #666;
}

div.form div.form-field textarea {
    width: 600px;
    height: 225px;
}

div.form div.form-field input[type=checkbox] {
    margin: 15px 6px;
}

div.form div.form-field input[type=number] {
    -moz-appearance: textfield;
    width: 100px;
}

div.form div.form-field input[type=number]::-webkit-outer-spin-button,
div.form div.form-field input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

div.form div.form-submit {
    margin-top: 20px;
}

.wide-button {
    width: 200px;
}

div.form div.form-field input.wider {
    width: 600px;
}

div.form div.form-field .field-validation-error {
    margin-left: 260px;
    display: block;
}

div.form div.existing-manager-account-field {
    display: none;
}

.sort-handle {
    cursor: ns-resize;
    color: #ccc;
}

.back-button {
    border: 1px solid #ddd;
    background-color: rgb(250,250,250);
    padding: 5px 10px;
    border-radius: 4px;
}

.back-button i {
    margin-right: 6px;
}

/* Add cookie group form */

.insert-panel {
    display: none;
    position: relative;
    margin-top: 8px;
    padding: 5px 20px 20px 20px;
    background-color: #eee;
    border-radius: 8px;
}

.insert-panel:before {
    position: absolute;
    color: #eee;
    top: -17px;
    left: 62px;
    font-family: FontAwesome;
    font-size: 25px;
    content: '\f0d8'
}

#add-language-panel.insert-panel:before {
    left: 350px;
}

.insert-panel textarea {
    height: 100px;
    margin-right: 130px;
}

.insert-panel button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.insert-panel .close {
    position: absolute;
    color: #666;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.insert-panel .close:hover {
    color: #333;
}

#save-button {
    position: relative;
    display: none;
}

button {
    position: relative;
}

button:disabled,
button:disabled:hover {
    border-color: #ddd;
    color: transparent !important;
    background-color: rgb(240,240,240);
    cursor: default;
}

button:disabled::after {
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    content: '\f110';
    color: #999;
    -webkit-animation:fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

.busy-wrapper {
    display: inline;
}

.busy {
    position: relative;
}

.busy:after {
    font-family: FontAwesome;
    font-size: 13px;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    content: '\f110';
    color: #999;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

.script-settings .busy:after {
    right: 35px;
}

.domain-preview.busy:after,
.domain-publish.busy:after,
.domain-active.busy:after,
.domain-remove.busy:after {
    right: inherit;
    margin-left: -1px;
    color: #6cc04a;
}

.domain-preview .fa,
.domain-publish .fa,
.domain-active .fa,
.domain-remove .fa {
    transform: none;
}

.form.consent-model {
    margin: 20px 0;
}

#group-menu,
#group-menu ul ul {
    display: none;
    padding: 3px 3px 4px 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
}

.no-title .ui-dialog-titlebar {
    display: none;
}

#group-menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

#group-menu li {
    list-style: none;
    margin-left: 1px ;
    margin-right: 1px;
    margin-top: 1px;
    background-color: #eee;
    padding: 5px 10px;
    cursor: pointer;
}

#group-menu li:hover,
#group-menu li:hover > a {
    background-color: #6cc04a;
    color: white;
}

.ui-menu .ui-menu { margin-top: -2px; position: absolute; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block;  }
.ui-menu i { float: right; color: #666; margin-top: 3px; }

/* Help icons */

.help-icon {
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}

th .help-icon {
    position: relative;
    margin-left: 3px;
    top: -2px;
}

th .disable-preview-script-all-link,
th .enable-preview-script-all-link,
th .publish-domain-unpublished-all-link,
th .publish-domain-all-link,
th .disable-domain-all-link,
th .enable-domain-all-link,
th .remove-domain-all-link
 {
    margin-left: 10px;
}

.ui-tooltip {
    position: absolute;
    padding: 5px 10px 6px 10px;
    background-color: #509EC4;
    color: white;
    line-height: 150%;
    font-size: smaller;
    border-radius: 3px;
    max-width: 200px;
    z-index: 9999;
}

.ui-tooltip:before {
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    color: #509EC4;
    left: -6px;
    top: 50%;
    margin-top: -8px;
    content: '\f0d9'
}

.ui-helper-hidden-accessible {
    display: none;
}

/* Preview button */

.preview-panel,
.admin-audits-panel {
    font-size: large;
    float: right;
    cursor: pointer;
}

.admin-audits-panel {
    display: none;
}

.preview-panel {
    margin-top: 55px;
}

.admin-audits-panel {
    margin-top: 30px;
}

.preview-panel i,
.admin-audits-panel i {
    margin-right: 4px;
    vertical-align: middle;
}

.preview-panel #update-from-audit {
    margin-right: 15px;
}

.preview-panel #update-from-audit i,
.admin-audits-panel #refresh-audits i {
    -webkit-animation: none;
    animation: none;
}

.preview-panel #update-from-audit.working i,
.admin-audits-panel #refresh-audits.working i {
    -webkit-animation: fa-spin 1s linear infinite;
    animation: fa-spin 1s linear infinite;
}

@media all and (max-width: 1085px) {
    .preview-panel,
    .admin-audits-panel {
        width: 185px;
        margin-top: 30px;
        line-height: 150%;
    }

    .preview-panel a,
    .admin-audits-panel a {
        display: block;
        font-size: 0.9em;
    }
}

/* Contributions */
.icc-description {
    font-size: 0.8em;
    color: #808080;
}

/* Auto assign button */
#cookie-assignments {
    position: relative;
}

.selectable th input[type=checkbox] {
    width: auto !important;
}


#auto-assign-button {
    position: absolute;
    right: 0;
    top: 23px;
}

/* Documentation link */
#documentation {
    position: absolute;
    top: -10px;
    right: 50px;
    font-size: large;
}

#documentation i {
    margin-right: 4px;
    margin-top: -2px;
    vertical-align: middle;
}

/* Add language panel */

#add-language-button {
    position: relative;
}

/* Cookie policy */
.optanon-cookie-policy-subgroup-table-header.clearfix {
    display: block !important;
}

.optanon-cookie-policy-group-name {
    color: #6cc04a;
    font-size: large;
}

.optanon-cookie-policy-subgroup-table-column-header {
    font-weight: bold;
    color: #6cc04a;
}

.optanon-cookie-policy-subgroup-name {
    font-weight: bold;
}

.optanon-cookie-policy-subgroup-cookies-list {
    padding: 20px;

}

.optanon-cookie-policy-group {
    clear: both;
}

/* Tour */

.tour-tour.popover {
    max-width: 400px !important;
}

.tour-backdrop {
    opacity: 0.25 !important;
}

.tour-tour button {
    width: inherit;
}

.tour-tour button:hover {
    color: #232323 !important;
}

#take-the-tour {
    position: absolute;
    top: 0;
    right: 50px;
}

#take-the-tour button {
    padding: 12px 20px 12px 10px;
    width: auto;
    color: white;
    background-color: #6cc04a;
    border-color: #6cc04a;
}

#take-the-tour button:hover {
    background-color: #7ac357;
    border-color: #7ac357;
}

#take-the-tour a {
    font-size: large;
}

/* Admin */

#add-domain-panel .help-icon,
#add-pattern-panel .help-icon,
.script-settings .help-icon,
.script-settings .fa-lg,
.form.consent-model .help-icon,
.form.consent-model .help-icon {
    vertical-align: inherit;
}

#live-preview {
    position: absolute;
    display: block;
    right: 18px;
    top: -25px;
    font-size: 0.9em;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

/* Design tab */

.design-container {
    width: 100%;
}

.design-controls {
    margin-top: -15px;
    width: 40%;
    float: left;
}

.design-preview {
    width: 60%;
    float: left;
}

.design-controls label {
    width: initial;
    display: block;
}

#consent-design .design-controls label input {
    width: initial;
}

#consent-colors .design-controls label {
    margin-left: 5px;
    display: inline-block;
    position: relative;
    width: 170px;
}

.design-preview .preview-container {
    position: relative;
    width: 480px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto 0;
    background-color: #eee;
    /*box-shadow: 0 0 15px 5px rgba(0,0,0,0.15);*/
}

#consent-design .design-preview .preview-container {
    margin-top: 50px;
}

.design-preview .popup-preview-container {
    position: relative;
    width: 480px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto 0;
    /*box-shadow: 0 0 15px 5px rgba(0,0,0,0.15);*/
}

.design-preview .preview-container img {
    width: 480px;
    height: 360px;
}

.design-preview .popup-preview-container img {
    width: 480px;
    height: 360px;
}

.design-preview .preview-container iframe {
    width: 1280px;
    height: 960px;
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    border: none;
}

.design-preview .preview-container:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.design-preview .alert-notice {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: white;
    padding: 15px 220px 15px 50px;
    font-size: 50%;
}

.design-controls .form-submit {
    clear: both;
    margin-top: 20px;
}

.design-controls .form-submit button.busy:after {
    right: auto;
}

ul.consent-thumbnails {
    list-style-type: none;
    padding: 0 0 0 2px;
}

ul.consent-thumbnails li {
    position: relative;
    float: left;
    margin: 0 50px 20px 0;
    width: 160px;
    height: 120px;
    border: 4px solid transparent;
}

ul.consent-thumbnails li img {
    width: 160px;
    height: 120px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);
}

ul.consent-thumbnails li.active {
    border: 4px solid #509EC4;
}

label.show-checkbox {
    min-width: initial !important;
}

label.show-checkbox input {
    margin: 6px !important;
}

ul.consent-thumbnails:not(.custom) li.saved:after {
    position: absolute;
    content: "Saved";
    left: 50%;
    top: 50%;
    text-align: center;
    margin-left: -100px;
    margin-top: -0.75em;
    width: 200px;
    color: rgba(0,0,0,0.2);
    font-size: 2em;
    pointer-events: none;
}

.update-languages, .custom-skin {
    clear: both;
}

.theme-name {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.alert-warning {
    position: relative;
    padding: 10px 10px 10px 40px;
    background-color: #ff8;
    border: 1px solid #ee7;
}

.alert-warning i {
    position: absolute;
    left: 12px;
    top: 14px;
}

/* New landing page */

#audit-form {
    position: relative;
    width: 700px;
    margin: 20px 0 30px 0;
    margin-bottom: 30px;
}

#audit-form div {
    display:inline-block;
    vertical-align: top;
}

#audit-form div.options {
    margin-left: 10px;
    font-size: 0.95em;
}

#audit-form div.options i {
    font-size: 0.9em;
    margin-right: 2px;
    color: #ccc;
}

#audit-form label {
    margin-right: 10px;
    position: relative;
    top: 7px;
    font-size: 1.4em;
}

.dataTables_wrapper .dataTables_length select {
    padding: 3px;
    border-color: #ddd;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: rgb(240, 240, 240) !important;
    border: 1px solid #ddd !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #76b3d1 !important;
    border: 1px solid #76b3d1 !important;
    color: white !important;
}

.empty-account #audit-form {
    margin: 150px auto 50px;
}

.empty-account #audit-domains {
    display: none;
}

.ui-tooltip.tooltip-error {
    background-color: #cc0000;
    font-weight: bold;
}

.ui-tooltip.tooltip-error:before {
    color: #cc0000;
}

div.dialog {
    display: none;
    position: absolute;
    left: 50%;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    width: 400px;
    margin-left: -200px;
    top: 0;
}

div.dialog a.close {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 2em;
    color: #999;
}

div.dialog a.close:hover {
    text-decoration: none;
    color: #666;
}

div#dialog-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

div.dialog h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
}

div.dialog input[type=text].page-limit {
    width: 50px;
}

div.dialog p {
    margin: 20px 0;
}

div.dialog div {
    margin: 4px 0 0 0;
}

div.dialog button {
    display: block;
    margin: auto;
}

div.dialog .switch {
    top: 4px;
    margin-right: 5px;
}

/* Toggle buttons */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #76b3d1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #76b3d1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

#advanced-options div.option {
  position: relative;
}

#advanced-options div.option .fa-question-circle {
    position: absolute;
    left: 230px;
    top: 7px;
}

/* Optanon preview */
#consent-colors .preview-container {
    position: relative;
    height: 500px;
    background-color: rgba(0,0,0,0.65);
    /*box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.25) inset;*/
    overflow: hidden;
    width: 100%;
}

#consent-colors .preview-container #optanon-popup-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -233px;
}

#optanon #optanon-branding-top-logo {
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 50px !important;
}

#consent-colors .optanon-alert-box-wrapper {
    position: absolute;
    bottom: 0;
}

#consent-colors .optanon-alert-box-wrapper .optanon-alert-box-button-middle {
    border: none;
    padding: 9px 19px;
}

#consent-colors .optanon-main-info-text{
     max-height:195px !important;
}
