<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.copying ? ('CopyTemplate' | otTranslate) : ('CreateTemplate' | otTranslate) }}</div>
</ot-modal-header>
<ot-modal-content class="min-height-20">
    <form #createTemplateForm="ngForm"
        *ngIf="templateSettings; else loader"
        ot-auto-id="TemplateCreateCustomTemplateModalForm"
        name="CreateTemplateForm"
        class="border-bottom overflow-hidden"
    >
        <div class="max-height-45">
            <div otFormElement
                class="margin-bottom-2"
                required="true"
                [label]="'Name' | otTranslate"
            >
                <input otInput
                    ot-auto-id="TemplateCreateCustomTemplateModalNameTextBox"
                    maxlength="100"
                    name="templateName"
                    [placeholder]="'EnterTemplateName' | otTranslate"
                    [ngModel]="templateName"
                    (ngModelChange)="onNameChange($event)"
                />
            </div>
            <div otFormElement
                *ngIf="templateSettings?.allowAccessControl"
                class="margin-bottom-2"
                required="true"
                [label]="'Organization' | otTranslate"
            >
                <org-select
                    identifier="TemplateCreateCustomTemplateModalOrgSelect"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    [model]="selectedOrg?.id"
                    [disabled]="isSubmitting"
                    (onSelect)="orgSelect($event)"
                ></org-select>
            </div>
            <div otFormElement
                class="margin-bottom-2"
                [label]="'Description' | otTranslate"
            >
                <textarea otTextarea
                    ot-auto-id="TemplateCreateCustomTemplateModalDescriptionTextArea"
                    required="true"
                    name="templateDesc"
                    [placeholder]="'EnterTemplateDescription' | otTranslate"
                    [ngModel]="description"
                    (ngModelChange)="handleInputChange($event)"
                >
                </textarea>
            </div>
            <icon-list
                [identifier]="'TemplateCreateCustomTemplateModalIcon'"
                [iconList]="iconList"
                [selectedIcon]="icon"
                (iconSelected)="iconSelected($event)"
            >
            </icon-list>
        </div>
    </form>
    <ng-template #loader>
        <ot-loading otPageLoading></ot-loading>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="TemplateCreateCustomTemplateModalCancelButton"
        class="margin-right-1"
        (click)="closeModal()"
    >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="TemplateCreateCustomTemplateModalCreateButton"
        class="margin-right-1"
        [loading]="isSubmitting"
        [disabled]="!(templateName?.trim().length && selectedOrg?.id && templateSettings) || isSubmitting"
        (click)="onCreateTemplateClick()"
    >
        {{ otModalData?.copying ? ('CopyTemplate' | otTranslate) : ('CreateTemplate' | otTranslate) }}
    </button>
</ot-modal-footer>
