 <div
    class="template-section margin-top-2 color-slate"
    [dndType]="builderDraggableTypes.BuilderSection"
    [dndDraggable]
    [dndObject]="sectionId"
    [dndDragDisabled]="dragDisabled"
    (dndDragStart)="onDragStart()"
    (dndDragEnd)="onDragEnd()"
    (dragover)="onDragOver($event)"
>
    <span class="template-section__header__sequence row-horizontal-vertical-center text-bold border border-round position-absolute background-white">
        {{sequence}}
    </span>
    <div
        class="template-section__header border background-eggshell width-100-percent min-height-46 row-space-between-center padding-left-right-1 border-radius-3 margin-left-2"
        [attr.ot-auto-id]="'TemplateBuilderSectionHover'"
        (mouseleave)="hoverEnabled = false"
        (mouseover)="hoverEnabled = true"
    >
        <div
            class="width-65-percent stretch-vertical text-medium overflow-ellipsis-nowrap padding-left-2"
            [attr.ot-auto-id]="'TemplateBuilderSectionToggle'"
            (click)="isSectionExpanded = !isSectionExpanded"
        >
            <div class="text-bold padding-top-bottom-1 padding-left-half overflow-ellipsis-nowrap template-section__section-name">{{sectionName}}</div>
        </div>
        <div
            *ngIf="hoverEnabled"
            class="width-35-percent row-flex-end row-nowrap align-center"
        >
            <button
                otButton
                neutral
                *ngIf="isCreateMode && permissions.TemplatesCreateAndPublish && !isTemplateLocked  && isTemplateActive"
                class="paragraph-medium-small text-bold no-outline margin-right-2"
                [attr.ot-auto-id]="'TemplateBuilderQuestionAdd'"
                [innerText]="'AddQuestion' | otTranslate"
                (click)="onAddQuestionClick()"
            >
            </button>
            <i
                *ngIf="!isReadonly && permissions.TemplatesCreateAndPublish && !isTemplateLocked && isTemplateActive"
                class="ot ot-edit text-xlarge margin-right-2 no-outline block cursor-pointer"
                [attr.ot-auto-id]="'TemplateBuilderSectionEditIcon'"
                (click)="launchEditSectionModal()"
            ></i>
            <i
                *ngIf="isCreateMode && permissions.TemplatesCreateAndPublish && !isTemplateLocked && isTemplateActive"
                class="ot ot-trash text-xlarge margin-right-2 no-outline block cursor-pointer"
                [attr.ot-auto-id]="TemplateBuilderSectionDeleteIcon"
                (click)="onSectionDelete(section)"
            ></i>
        </div>
        <div
            *ngIf="section.invalidQuestionCount"
            class="template-section__header--invalid-question-count standard-pill margin-right-1"
        >
            {{section.invalidQuestionCount}}
        </div>
        <div class="column-horizontal-vertical-center">
            <i
                [attr.ot-auto-id]="'TemplateBuilderSectionToggle'"
                class="ot no-outline text-xlarge cursor-pointer"
                [ngClass]="{'ot-chevron-down': isSectionExpanded, 'ot-chevron-right': !isSectionExpanded}"
                (click)="isSectionExpanded = !isSectionExpanded"
            ></i>
        </div>
    </div>
    <div
        dndNoDrag
        *ngIf="isSectionExpanded"
        class="template-section__sideline-margin-left"
        id="sectionList"
    >
        <div class="padding-left-right-1 padding-bottom-1 border-left">
            <builder-question-list
                [sectionId]="sectionId"
                [sectionSequence]="sequence"
                [templateId]="templateId"
            >
            </builder-question-list>
        </div>
    </div>
</div>
