.template-section {
    &__header {
        &:hover {
            cursor: move;
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
        &__sequence {
            width: 4.7rem;
            height: 4.7rem;
        }
        &--invalid-question-count {
            background-color: $orange;
            color: $white;
            width: 4rem;
        }
    }

    &__section-name {
        font-size: 1.4rem;
    }

    &__sideline-margin-left {
        margin-left: 2.4rem;
    }
}
.dndDragging:not(.dndDraggingSource) {
    #sectionList {
        opacity: 0.01;
        visibility: hidden;
    }
}
