.link-personal-data-modal {

    .slds-checkbox__label {
        cursor: pointer !important;
    }

    &__subject-header,
    &__subject-list,
    &__subject-item {
        width: 24rem;
        min-width: 24rem;
    }

    &__subject-item {

        &:hover {
            background-color: $grey-2;
        }

        &--selected {
            border-left: solid 10px $green;
        }

        &--unselected {
            border-left: solid 10px transparent;
        }
    }

    &__subject-card {
        width: 30rem;
        max-height: 4.6rem;

        label {
            margin-bottom: 0;
        }
    }

    &__grid-cell {

        &:last-child {
            border-bottom: none;
        }

        &:nth-child(even) {
            border-right: none;
        }

        @media (min-width: $small) {
            width: 100%;
            border-right: none;
            border-bottom: solid 1px $grey-2;
            &:last-child {
                border-bottom: none;
            }
        }

        @media (min-width: $medium) {
            width: 50%;
            &:nth-child(odd) {
                border-right: solid 1px $grey-2;
            }

            &--even {
                &:nth-last-child(2) {
                    border-bottom: none;
                }
            }
        }
    }
}
