
<ot-modal-header (close)="closeModal()">
    <div>{{ 'ManageDataElements' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="link-personal-data-modal flex-full-height">
    <div class="overflow-y-auto flex-full-height">
        <ng-container *ngIf="fetchingCurrentElements || fetchingSubjectTypes; else showPersonalDataForm">
            <ot-loading otPageLoading class="flex-full-height"></ot-loading>
        </ng-container>
        <ng-template #showPersonalDataForm>
            <div class="flex-full-height" [ngClass]="{'background-eggshell': !hasPrepopulatedElements && !savedSubjectType}">
                <div *ngIf="!hasPrepopulatedElements && !savedSubjectType; else showForm" class="flex-full-height">
                    <div class="padding-bottom-2 background-white">
                        <div class="row-nowrap space-between">
                            <div class="width-50-percent padding-right-1">
                                <div class="text-large text-bold">{{ "SelectDataSubjectTypes" | otTranslate }}</div>
                                <div class="max-width-50" [innerHTML]="'SelectDataSubjectTypesDescription' | otTranslate : { RecordName: '<span class=\'text-bold\'>' + otModalData.recordName + '</span>' }"></div>
                            </div>
                            <div class="align-self-end width-50-percent max-width-40 min-width-20">
                                <ot-search-input
                                    name="InventoryLinkPersonalDataSearchSubjectType"
                                    class="height-100"
                                    ot-auto-id="InventoryLinkPersonalDataSearchSubjectType"
                                    [model]="subjectSearchTerm"
                                    [placeholder]="('Search' | otTranslate)"
                                    (search)="handleSubjectSearch($event)"
                                ></ot-search-input>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dataSubjectTypeList.length" class="flex-full-height full-width overflow-y-scroll padding-all-3">
                        <div class="justify-center row-wrap">
                            <ng-container *ngFor="let subjectType of dataSubjectTypeList | filter: ['name'] : subjectSearchTerm; trackBy: trackById">
                                <div class="
                                    link-personal-data-modal__subject-card
                                    one-card
                                    cursor-pointer
                                    min-height-46
                                    padding-all-1
                                    margin-all-1
                                    row-vertical-center
                                    "
                                    ot-auto-id="LinkDataSubjectModalSelectSubjectCard"
                                    [ngClass]="{'background-active border-blue': subjectCardSelections[subjectType.id]}"
                                    [otTooltip]="subjectType.name"
                                    (click)="selectDataSubjectTypCard(subjectType)"
                                    >
                                    <ot-checkbox
                                        class="inline margin-right-1"
                                        ot-auto-id="LinkDataSubjectModalSelectSubjectCardCheckbox"
                                        [checked]="subjectCardSelections[subjectType.id]"
                                        (toggle)="selectDataSubjectTypCard(subjectType)"
                                        >
                                    </ot-checkbox>
                                    <div class="inline overflow-ellipsis text-nowrap">{{ subjectType.name }}</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <ng-template #showForm>
                    <div class="margin-bottom-1">
                        <div class="row-nowrap space-between">
                            <div
                                class="height-100 width-50-percent"
                                [innerHTML]="inventoryTranslationKeys[otModalData.linkedType].linkPersonalDataHelpText | otTranslate: { RecordName: '<span class=\'text-bold\'>' + otModalData.recordName + '</span>' }">
                            </div>
                            <div class="height-100 column-nowrap width-auto align-self-end">
                                <div>{{ subjectsSelectedCount || 0 }} {{ "DataSubjectTypesSelected" | otTranslate }}</div>
                                <div>{{ elementsSelectedCount || 0 }} {{ "DataElementsSelected" | otTranslate }}</div>
                            </div>
                        </div>
                    </div>
                    <form
                        name="linkPersonalDataForm"
                        class="flex-full-height width-100-percent max-width-full margin-none row-nowrap"
                        >
                        <div class="flex-full-height">
                            <div class="link-personal-data-modal__content stretch-vertical row-nowrap border">
                                <div class="background-eggshell column-nowrap align-flex-end border-right shadow-bottom-inset">
                                    <div class="link-personal-data-modal__subject-header border-bottom padding-all-half text-bold row-horizontal-vertical-center row-nowrap min-height-5 height-5">
                                        {{ "DataSubjectTypes" | otTranslate }}
                                    </div>
                                    <div *ngIf="addingSubjectType; else showAddSubjectButton" class="background-white padding-bottom-1 border-bottom width-100-percent">
                                        <div class="row-horizontal-center">
                                            <ot-lookup
                                                class="margin-top-bottom-1 margin-left-right-half width-100-percent"
                                                ot-auto-id="LinkPersonalDataModalAddDataSubjectLookup"
                                                [placeholder]="'DataSubjectType' | otTranslate"
                                                [options]="dataSubjectTypeList | lookup : (currentDataSubjectTypeList ? currentDataSubjectTypeList : []) : subjectSearchTerm : 'id' : 'name'"
                                                [model]="selectedType"
                                                [multiSelect]="false"
                                                labelKey="name"
                                                valueKey="id"
                                                (modelChange)="selectType($event)"
                                                (inputChange)="handleLookupSearch($event)">
                                            </ot-lookup>
                                        </div>
                                        <div class="row-horizontal-center">
                                            <button
                                                class="margin-right-1"
                                                otButton
                                                ot-auto-id="LinkPersonalDataModalCancelAddingSubjectTypeButton"
                                                type="button"
                                                [innerText]="'Cancel' | otTranslate"
                                                (click)="setAddingSubjectType(false)"
                                                >
                                            </button>
                                            <button
                                                otButton
                                                brand
                                                ot-auto-id="LinkPersonalDataModalAddSubjectTypeButton"
                                                [innerText]="'Add' | otTranslate"
                                                [disabled]="!selectedType"
                                                (click)="setSelectedSubjectTypes(selectedType)"
                                                >
                                            </button>
                                        </div>
                                    </div>
                                    <ng-template #showAddSubjectButton>
                                        <div class="column-horizontal-vertical-center width-100-percent border-bottom min-height-6">
                                            <button
                                                otButton
                                                neutral
                                                class="margin-top-bottom-1 margin-left-right-auto"
                                                ot-auto-id="LinkPersonalDataModalAddDataSubjectButton"
                                                type="button"
                                                [innerText]="'AddDataSubject' | otTranslate"
                                                (click)="setAddingSubjectType(true)"
                                                >
                                            </button>
                                        </div>
                                    </ng-template>
                                    <ul
                                        *ngIf="currentDataSubjectTypeList?.length && !fetchingSubjectTypes"
                                        class="link-personal-data-modal__subject-list stretch-vertical margin-bottom-0 overflow-y-auto z-index-1">
                                        <li
                                            class="link-personal-data-modal__subject-item text-pointer border-bottom"
                                            *ngFor="let subject of currentDataSubjectTypeList; let i = index; trackBy: trackById"
                                            [ngClass]="{'background-grey-2 text-bold': subject.id === selectedSubjectType.id }"
                                            [attr.ot-auto-id]="'LinkPersonalDataSubjectSelection_' + i"
                                            (click)="selectSubjectType(subject)"
                                            >
                                            <div
                                                class="padding-all-1 row-vertical-center space-between"
                                                [ngClass]="'link-personal-data-modal__subject-item--' + (subject.id === selectedSubjectType.id ? 'selected' : 'unselected')">
                                                {{ subject.name }}
                                                <span
                                                    *ngIf="!subject.hasSelections"
                                                    ot-auto-id="LinkPersonalDataSubjectModalRemoveSelectionButton"
                                                    (click)="setSelectedSubjectTypes(subject)"
                                                    >
                                                    <i class="ot ot-times"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div
                                        class="flex-full-height justify-center link-personal-data-modal__subject-list"
                                        *ngIf="fetchingSubjectTypes"
                                        >
                                        <ot-loading otPageLoading></ot-loading>
                                    </div>
                                </div>
                                <div class="column-nowrap flex-full-width">
                                    <ng-container *ngIf="selectedSubjectType; else noSubjectSelected">
                                        <div class="background-eggshell row-vertical-center border-bottom space-between padding-left-right-2 min-height-5 height-5">
                                            <div class="text-large margin-right-2 text-bold overflow-ellipsis text-nowrap">
                                                {{ selectedSubjectType.name }}
                                            </div>
                                            <div class="min-width-30">
                                                <ot-search-input
                                                    name="InventoryLinkPersonalDataSearchElement"
                                                    class="width-30-percent max-width-50 min-width-20"
                                                    ot-auto-id="InventoryLinkPersonalDataSearchElement"
                                                    [model]="elementSearchTerm"
                                                    [disabled]="!dataCategoryList?.length || fetchingCategories || isSaving"
                                                    [placeholder]="'SearchByDataElementOrDataCategory' | otTranslate"
                                                    (search)="handleElementSearch($event)"
                                                ></ot-search-input>
                                            </div>
                                        </div>
                                        <div class="row-vertical-center background-white padding-left-right-1 border-bottom min-height-5">
                                            <ot-checkbox
                                                class="inline margin-right-1"
                                                ot-auto-id="LinkDataSubjectModalSelectAllElementsOfSubject"
                                                [partialCheck]="selectedSubjectType.hasSelections && !selectedSubjectType.allSelected"
                                                [checked]="selectedSubjectType.allSelected && filteredCategoryList?.length"
                                                [disabled]="!filteredCategoryList?.length || fetchingCategories || isSaving"
                                                (toggle)="selectAllSubjectElements(selectedSubjectType.allSelected)"
                                                >
                                            </ot-checkbox>
                                            {{ "SelectAllDataElements" | otTranslate }}
                                        </div>
                                        <div class="overflow-y-auto max-width-full" [ngClass]="{'flex': fetchingCategories || !filteredCategoryList.length}">
                                            <div class="width-100-percent row-wrap margin-left-right-0">
                                                <ng-container *ngIf="fetchingCategories; else showElementList">
                                                    <ot-loading otPageLoading class="flex-full-height"></ot-loading>
                                                </ng-container>
                                                <ng-template #showElementList>
                                                    <ng-container *ngIf="filteredCategoryList?.length; else noElementsAvailable">
                                                        <div *ngFor="let category of filteredCategoryList; let categoryIndex = index; trackBy: trackById" class="border-bottom full-width">
                                                            <div class="background-eggshell border-bottom row-vertical-center padding-left-right-1 text-bold height-4">
                                                                <div
                                                                    class="overflow-ellipsis text-nowrap"
                                                                    [innerHTML]="category.name | highlight: elementSearchTerm"
                                                                ></div>
                                                            </div>
                                                            <div class="row-vertical-center border-bottom padding-left-right-1 width-100-percent height-5">
                                                                <ot-checkbox
                                                                    class="inline margin-right-1"
                                                                    ot-auto-id="LinkDataSubjectModalSelectAll"
                                                                    [partialCheck]="category.hasSelections && !category.allSelected"
                                                                    [checked]="category.allSelected"
                                                                    [disabled]="isSaving"
                                                                    (toggle)="selectAllCategoryElements(category)"
                                                                    >
                                                                </ot-checkbox>
                                                                {{ "SelectAll" | otTranslate }}
                                                            </div>
                                                            <div class="row-wrap">
                                                                <div
                                                                    *ngFor="let element of category.dataElements; let elementIndex = index; trackBy: trackById"
                                                                    class="link-personal-data-modal__grid-cell padding-all-1 inline-block cursor-pointer row-nowrap"
                                                                    [ngClass]="{'link-personal-data-modal__grid-cell--even': category.dataElements.length % 2 === 0 }"
                                                                    (click)="toggleElement(category.id, element.id)"
                                                                    >
                                                                    <div class="width-100-percent row-nowrap">
                                                                        <div class="column-nowrap">
                                                                            <ot-checkbox
                                                                                class="inline margin-right-1"
                                                                                [checked]="elementMap[selectedSubjectType.id][category.id][element.id]"
                                                                                [disabled]="isSaving"
                                                                                (toggle)="toggleElement(category.id, element.id)"
                                                                                >
                                                                            </ot-checkbox>
                                                                        </div>
                                                                        <div class="column-nowrap width-100-percent">
                                                                            <div
                                                                                class="margin-bottom-0 text-bold text-small"
                                                                                [innerHTML]="element.name | highlight: elementSearchTerm"
                                                                            ></div>
                                                                            <div class="text-italic text-xsmall">{{ element.descriptionKey ? (element.descriptionKey | otTranslate) : '' }}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #noElementsAvailable>
                                                        <ot-empty-state
                                                            class="flex-full-height column-vertical-center padding-0"
                                                            [emptyStateMessage]="'NoElementsAvailable' | otTranslate"
                                                            >
                                                            <img emptyStateImg />
                                                        </ot-empty-state>
                                                    </ng-template>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #noSubjectSelected>
                                        <ot-empty-state
                                            class="flex-full-height column-vertical-center padding-0"
                                            [emptyStateMessage]="'NoDataSubjectTypeSelected' | otTranslate"
                                            >
                                            <img emptyStateImg />
                                        </ot-empty-state>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </div>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        class="margin-right-1"
        otButton
        ot-auto-id="LinkPersonalDataModalCancelButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ cancelButtonText }}
    </button>
    <button
        otButton
        brand
        *ngIf="!hasPrepopulatedElements && !savedSubjectType; else showSave"
        ot-auto-id="LinkPersonalDataModalSaveSubjectTypeButton"
        [disabled]="!hasCardSelections || isSaving"
        (click)="saveSelectedSubjectType()"
        >
        {{ 'Next' | otTranslate }}
    </button>
    <ng-template #showSave>
        <button
            otButton
            brand
            ot-auto-id="LinkPersonalDataModalSaveButton"
            [loading]="isSaving"
            [disabled]="isSaving || !hasChanges"
            (click)="saveInventory()"
            >
            {{ submitButtonText }}
        </button>
    </ng-template>
</ot-modal-footer>
