.incident-databreachpedia-view {
    &__meta {
        border-left: 2px solid gray;
    }

    &__lawview {
        &__content {
            h3 {
                font-weight: bold;
                font-size: $text-medium-small;
            }
            font-size: $text-small;
        }
    }
}
