<ng-template #dbpViewLoader>
    <ot-loading otPageLoading
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    ></ot-loading>
</ng-template>
<div 
    class="incident-databreachpedia-view overflow-y-auto flex-full-height height-100" 
    *ngIf="jurisdictionLaws && incidentDBPContent; else dbpViewLoader"
    >
    <ot-page-header
        [title]="'DataBreachPedia' | otTranslate"
    ></ot-page-header>
    <div class="row-nowrap flex flex-row full-size stretch-vertical height-100">
        <section class="incident-databreachpedia-view__navbar column-wrap justify-start width-25-percent background-grey overflow-x-hidden border-right height-100">
            <div class="text-bold">
                <button
                    otButton
                    icon="ot ot-chevron-left"
                    ot-auto-id="BackToDBPListViewButton"
                    (click)="goToDBPListView()"
                    >
                </button>
                {{ jurisdictionName }}
            </div>
            <div class="border-top"></div>
            <ng-container 
                class="incident-databreachpedia-view__navcontent margin-top-1 overflow-y-auto flex-full-height height-100" 
                *ngFor="let jurisdictionLaw of jurisdictionLaws; trackBy: lawTrackBy; let id = index;"
                >
                <a 
                    class="text-bold hover-no-underline margin-top-1 margin-left-1 padding-right-2 slds-truncate"
                    [otTooltip]="{ content: jurisdictionLaw?.law?.displayName, placement: 'top-start' }"
                    [ngClass]="jurisdictionLaw?.law?.isActive ? 'remove-anchor-style' : 'blue-anchor-style'"
                    (click)="openLaw(jurisdictionLaw?.law?.id)"
                    >
                    {{ jurisdictionLaw?.law?.displayName }}
                </a>
                <ul class="incident-databreachpedia-view__meta margin-left-2" *ngIf="jurisdictionLaw?.isActive">
                    <li 
                        class="margin-top-1"
                        *ngFor="let section of jurisdictionLaw?.lawSections"
                        >
                        <a class="blue-anchor-style text-bold text-small hover-no-underline margin-left-right-1" (click)="goToLawSection(section)"> {{ section }} </a>
                    </li>
                </ul>
            </ng-container>
        </section>
        <section class="incident-databreachpedia-view__lawview background-white flex-full-height height-100 overflow-y-auto">
            <ng-template #selectLaw>
                <ot-empty-state
                    class="flex-full-height justify-center text-center padding-all-2"
                    [emptyStateMessage]="jurisdictionLaws[0] ? 'SelectALaw' : 'ComingSoon' | otTranslate"
                    >
                    <img emptyStateImg />
                </ot-empty-state>
            </ng-template>
            <div *ngIf="incidentDBPContent; else selectLaw">
                <h3>
                    <p class="margin-left-right-3 text-bold"> 
                        {{ incidentDBPContent?.law?.displayName }}
                    </p>
                </h3>
                <span class="margin-top-bottom-2 margin-left-3 text-small"> {{ 'Jurisdictions' | otTranslate }} </span>
                <span class="text-small"> {{ ': ' }} </span>
                <span class="text-small"> {{ incidentDBPContent?.jurisdictions[0]?.name }} </span>
                <div class="margin-top-1 border-top"></div>
                <div class="incident-databreachpedia-view__lawview__content padding-left-right-5 margin-left-right-5 padding-bottom-4 column-wrap centered-max-90 margin-bottom-2">
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.OVERVIEW]" [id]="incidentDBPViewContentSections.OVERVIEW"></div>
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.NOTIFYREGULATOR]" [id]="incidentDBPViewContentSections.NOTIFYREGULATOR"></div>
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.NOTIFYINDIVIDUALS]" [id]="incidentDBPViewContentSections.NOTIFYINDIVIDUALS"></div>
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.DEADLINE]" [id]="incidentDBPViewContentSections.DEADLINE"></div>
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.REGULATOR]" [id]="incidentDBPViewContentSections.REGULATOR"></div>
                    <div [innerHtml]="incidentDBPContent?.lawContents[incidentDBPViewContentSections.NOTIFICATIONFORMAT]" [id]="incidentDBPViewContentSections.NOTIFICATIONFORMAT"></div>
                </div>    
            </div>
        </section>
    </div>
</div>
