<ot-modal-header (close)="closeModal()">
    <div>{{'LivePreview' | otTranslate}}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height margin-0">
  
    <div class="cc-banner-wrapper">
        <div class="cc-banner-template__module-wrapper cc-banner-wrapper" *ngIf="!showPrefCenter">
          <banner-preview
            class="overflow-hidden modern"
            *ngIf="!loading"
            [ngClass]="themeClass"
            [isLivePreview]="true"
            [templateJson]="templateJson"
            [bodyStyle]="bodyStyle"
            [isCenterLayout]="isCenterLayout"
            (openPrefCenter)="togglePrefCenter()">
          </banner-preview>
        </div>
        <preference-center-preview
            *ngIf="showPrefCenter && !loading"
            class="flex-full-height"
            [isLivePreview]="true"
            [preferenceCenterData]="prefCenterData"
            [policyGroupData]="policyGroupData"
            [previewStyle]="previewStyle"
            [categoryPreview]="categoryPreview"
            [isCenterTileSkin]="isCenterTileSkin"
            (closePrefCenter)="togglePrefCenter()">
        </preference-center-preview>
    </div>
    <ot-loading
        *ngIf="loading"
        class="flex-full-height"
    ></ot-loading>
</ot-modal-content>
