<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <cr-header [title]="'DataSubjectTypes' | otTranslate"></cr-header>

    <header class="padding-top-1">
        <h1 class="heading1 text-thin margin-top-2 text-center">{{'DataSubjectTypes' | otTranslate}}</h1>
        <h4 class="margin-top-bottom-2 text-center">{{'DataSubjectsPreview' | otTranslate}}</h4>
    </header>

    <section class="padding-all-2 column-horizontal-center">
        <img class="margin-bottom-2 shadow" src="{{'images/screenshot-ds-types.png'}}"/>
        <button otButton brand
            ot-auto-id="ConsentDataSubjectTypesUpgradeButton"
            [innerText]="'ContactSales' | otTranslate"
            (click)="upgradeModule()"
        ></button>
    </section>
</div>