<button otButton neutral
    [attr.ot-auto-id]="'QuestionYesNoPreviewYesButton'"
    [select]="answer"
    [innerText]="'Yes' | otTranslate"
    (click)="sendAction('YES_SELECTED', true)"
></button>
<button otButton neutral
    [attr.ot-auto-id]="'QuestionYesNoPreviewNoButton'"
    [select]="answer === false"
    [innerText]="'No' | otTranslate"
    (click)="sendAction('NO_SELECTED', false)"
></button>
<button otButton neutral
    *ngIf="question.attributeJson.allowNotSure"
    [attr.ot-auto-id]="'QuestionYesNoPreviewNotSureButton'"
    [select]="notSure"
    [innerText]="'NotSure' | otTranslate"
    (click)="sendAction('NOT_SURE_SELECTED')"
></button>
<button otButton neutral
    *ngIf="question.attributeJson.allowNotApplicable"
    [attr.ot-auto-id]="'QuestionYesNoPreviewNotApplicableButton'"
    [select]="notApplicable"
    [innerText]="'NotApplicable' | otTranslate"
    (click)="sendAction('NOT_APPLICABLE_SELECTED')"
></button>
<div otFormElement
    *ngIf="question.attributeJson.allowJustification"
    class="margin-top-bottom-1"
    [label]="'JustifyYourAnswerBelow' | otTranslate: {Justify: 'Justify' | otTranslate}"
    [required]="question.attributeJson.requireJustification">
    <textarea otTextarea
        [attr.ot-auto-id]="'QuestionYesNoPreviewJustificationField'"
        [placeholder]="'PleaseProvideJustification' | otTranslate"
        [ngModel]="justification"
    ></textarea>
</div>
