<div class="column-nowrap padding-all-2">
    <p class="text-success text-thin-2 text-medium">{{'SubjectType' | translate }}</p>
    <div
        class="text-thin-2 margin-top-bottom-half row-space-between-center width-100-percent"
    >
        {{'EnableMultiSelect' | translate}}
        <ot-toggle
            class="margin-right-neg-1"
            ot-auto-id="DSARWebformEnableSubjectTypesToggle"
            [checked]="subjectTypeToggle"
            (toggle)="toggleChanged('EnableSubjectTypes')"
        ></ot-toggle>
    </div>
    <webform-edit-block
        [hasEditAccess]="permissions.formsDetailsEdit"
        [text]="formTranslations['SubjectTypeText']"
        [maxTextLength]="200"
        (inputChanged)="inputChanged($event, 'SubjectTypeText')"
    ></webform-edit-block>
    <webform-inputs-manager
        [hasEditAccess]="permissions.formsDetailsEdit"
        [inputs]="data.subjectTypes"
        [formTranslations]="formTranslations"
        [isSubjectTypes]="true"
        (actionCallback)="handleAction($event)">
    </webform-inputs-manager>
</div>
<hr class="margin-top-bottom-0 margin-left-right-2"/>
<div class="column-nowrap padding-all-2">
    <p class="text-success text-thin-2 text-medium">{{'RequestType' | translate }}</p>
    <div
        class="text-thin-2 margin-top-bottom-half row-space-between-center width-100-percent row-space-between"
    >
        {{'EnableMultiSelect' | translate}}
        <ot-toggle
            class="margin-right-neg-1"
            ot-auto-id="DSARWebformEnableRequestTypesToggle"
            [checked]="requestTypeToggle"
            (toggle)="toggleChanged('EnableRequestTypes')"
        ></ot-toggle>
    </div>
    <webform-edit-block
        [hasEditAccess]="permissions.formsDetailsEdit"
        [text]="formTranslations['RequestTypeText']"
        [maxTextLength]="200"
        (inputChanged)="inputChanged($event, 'RequestTypeText')"
    ></webform-edit-block>
    <webform-inputs-manager
        [hasEditAccess]="permissions.formsDetailsEdit"
        [inputs]="data.requestTypes"
        [formTranslations]="formTranslations"
        [isRequestTypes]="true"
        (actionCallback)="handleAction($event)">
    </webform-inputs-manager>
</div>
