<one-modal-base
    class="flex-full-height full-width"
    [modalTitle]="'WelcomeText'  | otTranslate"
    [identifier]="'EditTemplateSectionCloseButton'"
    (close)="closeModal()"
>
    <div class="link-editor flex flex-full-height padding-all-2">
        <upgraded-one-rich-text-editor
            class="ql-tooltip block"
            [attr.ot-auto-id]="'TemplateEditWelcomeMessageTextEditor'"
            [contentObservable]="contentObservable"
            [editorClassName]="'template-welcome-message-editor editor-container column-nowrap flex-grow-1'"
            (onContentChange)="onWelcomeMessageChange($event.data)"
        >
        </upgraded-one-rich-text-editor>
    </div>
    <footer class="margin-top-bottom-1 row-flex-end static-vertical padding-all-2">
        <button
            otButton
            neutral
            class="margin-right-1 border-none"
            [attr.ot-auto-id]="'TemplateEditWelcomeMessageCancelButton'"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        >
        </button>
        <button
            otButton
            neutral
            class="margin-right-1"
            [attr.ot-auto-id]="'TemplateResetToDefaultWelcomeMessageButton'"
            [innerText]="'RestoreDefault' | otTranslate"
            [disabled]="saveInProgress"
            (click)="onResetToDefaultMessageClick()"
        >
        </button>
        <button
            otButton
            brand
            class="margin-right-1"
            [attr.ot-auto-id]="'TemplateEditWelcomeMessageSaveButton'"
            [innerText]="'Save' | otTranslate"
            [disabled]="!welcomeMessage || saveInProgress"
            [loading]="saveInProgress"
            (click)="onSaveMessageClick()"
        >
        </button>
    </footer>
</one-modal-base>
