.cr-dashboard {

    &__graph-total {
        font-size: 3.5rem;
    }

    .dashboard-item {
        background-color: $white;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
        margin: 1rem;
        padding: 2rem 2rem 1rem;
        position: relative;
        width: 30%;
        min-width: 30rem;

        &__heading {
            text-align: center;
            font-size: 1.8rem;
            margin: 0 0 1rem;
            width: 100%;

            &--left {
                text-align: left;
            }
        }

        &--center {
            margin: 0 auto;
        }

        &__count {
            color: $white;
            padding: 1rem;
            border-radius: 3px;
            margin: 2rem auto;
            width: 16rem;
            min-height: 14rem;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px;

            &-heading {
                margin-top: 1rem;
                font-size: 5rem;
                font-weight: 500;
                margin-bottom: 0;
            }

            &-loading {
                color: $white;
            }

            &-sub-heading {
                margin-top: 0;
                text-transform: uppercase;

                &--date {
                    line-height: 1.5;
                }

                &--status {
                    font-size: 2rem;
                }
            }
        }

        .one-table {
            box-shadow: none;
            border: 1px solid $eggshell;
        }
    }
}
