<div class="cr-dashboard height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'ConsentDashboard' | otTranslate"
    ></ot-page-header>
    <ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
    <section
        *ngIf="!isLoading"
        class="full-width padding-all-2 row-wrap dashboard-container justify-center"
        >
        <div
            *ngIf="'ConsentPurposeDashboardDetails' | otPermit"
            class="dashboard-item stretch-horizontal width-30-percent"
            >
            <h2 class="dashboard-item__heading">
                {{ "Top5Purposes" | otTranslate }}
            </h2>
            <one-horseshoe-graph
                ot-auto-id="ConsentDashboardPurposesGraph"
                titleClass="cr-dashboard__graph-total"
                [title]="dashboardData.Purposes.title"
                [subTitle]="'Transactions' | otTranslate"
                [graphData]="dashboardData.Purposes"
                (onDetailsClick)="goToPurposes()"
                >
            </one-horseshoe-graph>
        </div>
        <div class="dashboard-item stretch-horizontal width-30-percent">
            <h2 class="dashboard-item__heading">
                {{ "CollectionPoints" | otTranslate }}
            </h2>
            <one-horseshoe-graph
                ot-auto-id="ConsentDashboardCollectionPointsGraph"
                titleClass="cr-dashboard__graph-total"
                [title]="dashboardData.CollectionPoints.title"
                [subTitle]="'CollectionPoints' | otTranslate"
                [graphData]="dashboardData.CollectionPoints"
                [showDetailsButton]="'ConsentCollectionPointsDashboardDetails' | otPermit"
                (onDetailsClick)="goToCollectionPoints()"
                >
            </one-horseshoe-graph>
        </div>
        <div class="dashboard-item stretch-horizontal width-30-percent">
            <h2 class="dashboard-item__heading">
                {{ "Consents" | otTranslate }}
            </h2>
            <one-horseshoe-graph
                ot-auto-id="ConsentDashboardStatusesGraph"
                titleClass="cr-dashboard__graph-total"
                [title]="dashboardData.Statuses.title"
                [subTitle]="'Consents' | otTranslate"
                [graphData]="dashboardData.Statuses"
                (onDetailsClick)="goToDataSubjects()"
                >
            </one-horseshoe-graph>
        </div>
    </section>
</div>
