<one-modal-base
    class="flex-full-height width-100-percent"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <div class="stretch-vertical overflow-y-auto padding-all-2">
        <form
            class="link-inventory-modal__content flex-full-height"
            *ngIf="!isLoadingInventory"
            name="linkInventoryForm"
            [attr.ot-auto-id]="'LinkInventoryModalForm'"
            >
            <div
                otFormElement
                [label]="chooseInventoryItemText"
                [required]="true"
                >
                <ot-lookup
                    [attr.ot-auto-id]="'LinkInventoryModalList'"
                    [options]="showDefaultList ? inventoryList : inventoryListLookUp"
                    [disabled]="isSaving || !inventoryList.length"
                    [model]="selectedOption"
                    [labelKey]="'label'"
                    [setScrollHeight]="20"
                    [virtualScroll]="true"
                    [dynamicHeight]="false"
                    [placeholder]="chooseInventoryItemText"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="onModelChange($event)"
                >
                </ot-lookup>
            </div>
            <div
                otFormElement
                class="link-inventory-modal__type-list margin-top-2 margin-bottom-1"
                *ngIf="relationshipOptions.length"
                [label]="howIsInventoryRelatedText"
                [required]="true"
                >
                <div *ngFor="let option of relationshipOptions; trackBy: trackByFn" class="flex flex-initial padding-all-1">
					<ot-checkbox
                        class="margin-right-1"
                        [attr.ot-auto-id]="'LinkInventoryModalTypeSelection'"
                        [checked]="linkedOptions[option.nameKey]"
                        [disabled]="isSaving"
                        (toggle)="checkboxChange(option.nameKey)"
					    >
					</ot-checkbox>
                    <label>{{ option.nameKey | otTranslate }}</label>
                    <i
                        class="ot ot-info-circle padding-left-1 height-100"
                        [otTooltip]="{content: option.descriptionKey | otTranslate, placement: 'right'}"
                        >
                    </i>
				</div>
            </div>
        </form>
        <upgraded-loading
            *ngIf="isLoadingInventory"
            show-text="true"
            class="link-inventory-modal__content flex-full-height justify-center"
            >
        </upgraded-loading>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <button
                class="margin-right-1"
                otButton
                neutral
                [attr.ot-auto-id]="'LinkInventoryCloseModalButton'"
                [disabled]="isSaving"
                (click)="closeModal()"
                >
                {{cancelButtonText}}
            </button>
            <button
                class="margin-right-1"
                otButton
                neutral
                [attr.ot-auto-id]="'LinkInventorySaveAndAddNewButton'"
                [disabled]="isSaving || !requiredFieldsPopulated"
                (click)="saveInventoryLink(false)"
                >
                {{ "SaveAndAddNew" | otTranslate }}
            </button>
            <button
                otButton
                brand
                [attr.ot-auto-id]="'LinkInventorySaveButton'"
                [disabled]="isSaving || !requiredFieldsPopulated"
                [loading]="isSaving"
                (click)="saveInventoryLink()"
                >
                {{submitButtonText}}
            </button>
        </footer>
    </div>
</one-modal-base>
