<upgraded-loading
    *ngIf="isPageLoading"
></upgraded-loading>
<ng-container *ngIf="!isPageLoading">
    <upgraded-one-nav-header
        [title]="'TemplateDetails' | otTranslate"
        [breadcrumbText]="'Templates' | otTranslate"
        [breadcrumbRoute]="'zen.app.pia.module.cookiecompliance.views.templates'"
        [body]="selectedTemplate.templateName"
    >
        <header-actions>
            <button
                otButton
                brand
                [innerText]="'Publish' | otTranslate"
                [attr.ot-auto-id]="'AttributeTemplatePublishId'"
                (click)="publishBanner()"
            ></button>
            <button
                otButton
                neutral
                [innerText]="'Save' | otTranslate"
                [attr.ot-auto-id]="'AttributeTemplateSaveId'"
                [disabled]="!validateForm()"
                (click)="saveBannerPrefernceCenter()"
            ></button>
        </header-actions>
    </upgraded-one-nav-header>
    <div class="row-flex-start background-grey border-bottom padding-all-1">
        <ot-picklist
            class="margin-all-half width-auto min-width-20"
            [attr.ot-auto-id]="'AttributeSelectTemplateId'"
            [placeholder]="'TemplateName' | otTranslate"
            [autoClose]="true"
            [options]="templates"
            [valueKey]="'templateId'"
            [labelKey]="'templateName'"
            [model]="selectedTemplate"
            (onSelect)="selectTemplate($event)"
        ></ot-picklist>
        <ot-picklist
            class="margin-all-half"
            [attr.ot-auto-id]="'AttributeSelectLnguageId'"
            [placeholder]="'SelectLanguage' | otTranslate"
            [autoClose]="true"
            [options]="languageList"
            [valueKey]="'id'"
            [labelKey]="'name'"
            [model]="selectedLanguage"
            (onSelect)="selectLanguage($event)"
        ></ot-picklist>
        <button
            otButton
            neutral
            class="margin-all-half"
            [innerText]="'AddNew' | otTranslate"
            [attr.ot-auto-id]="'AttributeAddNewLanguageId'"
            (click)="addNewLanguage()"
        ></button>
    </div>
    <upgraded-one-tabs-nav
        [selectedTab]="currentTab"
        [options]="tabOptions"
        [customClass]="'padding-top-3 paragraph-medium shadow-header background-white'">
    </upgraded-one-tabs-nav>
    <cc-banner-template
        *ngIf="currentTab === templateTabOptions.Banner && templateJsonData"
        [templateJson]="templateJsonData"
        (validColorSelectionCallback)="validColorSelectionCallback($event)"
        (bannerContentFormCallback)="bannerContentFormCallback($event)"
    ></cc-banner-template>
    <upgraded-preference-center
        *ngIf="currentTab === templateTabOptions.PreferenceCenter && templateJsonData"
        [templateJson]="templateJsonData"
    ></upgraded-preference-center>
</ng-container>
