.scan-behind-tutorial {
    .modal-dialog {
        width: auto;
    }
}

.scan-behind-panel {
    height: 82vh;
    &__content {
        height: calc(100% - 10rem);
    }
    &__left-panel {
        background-color : $paper-gray;
    }
    &__option-icons {
        flex: 1 1 3rem;
    }
}
.prettify-default-color-change {
    & > .str {
        color: $black;
    }
}

.typ {
    color: $black;
}

.prettify-id-name-color-change {
    & > .str {
        color: $ui-blue;
    }
}

