<section class="one-modal-new flex-full-height full-width-block max-height-100-percent color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]="'HtmlInspectTutorialText' | otTranslate"
        >
        </h4>
        <button otButton neutral class="one-modal-new__close static-horizontal no-outline" (click)= "closeModal()">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="row-nowrap scan-behind-panel__content padding-left-right-2">
        <div class="scan-behind-panel__left-panel link-editor margin-right-2 margin-top-1 overflow-y-auto width-30-percent">
            <section class="restore-default-modal padding-all-1">
                <div class="text-bold padding-left-1" [innerText]="'LoginFormId' | otTranslate"></div>
                <div class="row-horizontal-center margin-bottom-2">
                    <upgraded-prettify>
                        <p
                            class="margin-all-0">
                            {{'LoginFormName' | otTranslate}} : &lt;
                            form name="<span class='text-bold prettify-id-name-color-change'>login</span>"
                            id="<span class='text-bold prettify-id-name-color-change'>loginForm</span>"
                            action=<span class="prettify-default-color-change">"</span><span class="prettify-default-color-change">"</span>
                            method=<span class="prettify-default-color-change">''</span>post<span class="prettify-default-color-change">''</span>
                            novalidate &gt;
                        </p>
				    </upgraded-prettify>
                </div>
                <div class="text-bold padding-left-1" [innerText]="'SubmitButtonId' | otTranslate"></div>
                <div class="row-horizontal-center margin-bottom-2">
                    <upgraded-prettify>
                        <p
                            class="margin-all-0">
                            {{'BtnName' | otTranslate}} : &lt;
                            button id="<span class='text-bold prettify-id-name-color-change'>btnSubmit</span>"
                            type=<span class="prettify-default-color-change">''</span>submit<span class="prettify-default-color-change">''</span>
                            name="<span class='text-bold prettify-id-name-color-change'>submit</span>"&gt;
                            Login&lt;/button&gt;
                        </p>
                    </upgraded-prettify>
                </div>
                <div class="text-bold padding-left-1" [innerText]="'UsernameFieldId' | otTranslate"></div>
                <div class="row-horizontal-center margin-bottom-2">
                    <upgraded-prettify>
                        <p
                            class="margin-all-0">
                            {{'Username' | otTranslate}} : &lt;
                            input id="<span class='text-bold prettify-id-name-color-change'>txtUserName</span>"
                            type=<span class="prettify-default-color-change">''</span>text<span class="prettify-default-color-change">''</span>
                            placeholder=<span class="prettify-default-color-change">''</span>Enter Username<span class="prettify-default-color-change">''</span>
                            name="<span class='text-bold prettify-id-name-color-change'>username</span>"
                        </p>
                    </upgraded-prettify>
                </div>
                <div class="text-bold padding-left-1" [innerText]="'PasswordFieldId' | otTranslate"></div>
                <div class="row-horizontal-center margin-bottom-2">
                    <upgraded-prettify>
                        <p
                            class="margin-all-0">
                            {{'Password' | otTranslate}} : &lt;
                            input id="<span class='text-bold prettify-id-name-color-change'>txtPassword</span>"
                            type=<span class="prettify-default-color-change">''</span>password<span class="prettify-default-color-change">''</span>
                            placeholder=<span class="prettify-default-color-change">''</span>Enter Password<span class="prettify-default-color-change">''</span>
                            name="<span class='text-bold prettify-id-name-color-change'>password</span>"
                            required=<span class="prettify-default-color-change">"</span><span class="prettify-default-color-change">"</span>&gt;
                        </p>
                    </upgraded-prettify>
                </div>
            </section>
        </div>
        <div class="width-70-percent margin-top-1 column-nowrap overflow-y-auto">
            <div class="text-center text-color-default">
                <img class="max-width-full" src="https://cookiesdevstorage.blob.core.windows.net/documentation/HTML-Login-Inspect_3_1_18.gif"
                    alt="altText">
            </div>
            <div class="padding-all-2">
                <h3 [innerText]="'HowTo' | otTranslate"></h3>
                <ul>
                    <li class="bullet-list" [innerText]="'RightClickSelectInspect' | otTranslate"></li>
                    <li class="bullet-list" [innerText]="'NameOrIdElement' | otTranslate"></li>
                    <li class="bullet-list" [innerText]="'HoveringCodeHighlightTheFormControls' | otTranslate"></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="margin-top-1 row-flex-end static-vertical modal-footer padding-right-1">
        <button otButton brand
            (click)="closeModal()"
            [innerText] = "'Close' | otTranslate"
            [attr.ot-auto-id]="'AttributeScanBehindCloseId'"
        >
        </button>
    </footer>
</section>