<ot-loading otPageLoading *ngIf="!isLoaded">{{ 'Loading' | otTranslate }}...</ot-loading>
<div
    *ngIf="isLoaded"
    class="overflow-y-auto height-100 full-width column-horizontal-center"
    >
    <cr-header
        class="cr-header full-width"
        [title]="'CreatePurpose' | otTranslate"
        [parentLabel]="'PurposesOfProcessing' | otTranslate"
        [parentRoute]="'zen.app.pia.module.consentreceipt.views.purposes.list'"
        [breadcrumbLabel]="'CreatePurpose' | otTranslate"
        >
    </cr-header>

    <header class="padding-top-1 text-center">
        <h1 class="heading1 text-thin margin-top-1">{{ 'CreatePurpose' | otTranslate }}</h1>
        <p>{{ 'CreatePurposeHeadline' | otTranslate }}</p>
    </header>

    <section class="padding-all-2 full-width show">
        <form #purposeForm="ngForm" class="width-70-rem margin-top-bottom-2 column-horizontal-center">
            <div otFormElement
                class="margin-bottom-2"
                [label]="'PurposeName' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    class="one-input width-45"
                    maxlength="200"
                    name="Name"
                    [placeholder]="'EnterPurposeName' | otTranslate"
                    [ngModel]="purpose.Name"
                    (ngModelChange)="handleChanged($event, 'Name')"/>
            </div>

            <div otFormElement
                class="margin-bottom-2"
                [label]="'Description' | otTranslate"
                [otTooltip]="{ content: 'DescriptionTooltip' | otTranslate, position: 'top' }"
                [required]="true"
                >
                <textarea otTextarea required
                    ot-auto-id="purposeCreateDescription"
                    class="width-45 cr-edit__textarea"
                    name="Description"
                    max-length="500"
                    [placeholder]="'EnterPurposeDescription' | otTranslate"
                    [ngModel]="purpose.Description"
                    (ngModelChange)="handleChanged($event, 'Description')"
                ></textarea>
            </div>

            <div otFormElement
                class="margin-bottom-2"
                [label]="'DefaultLanguage' | otTranslate"
                [otTooltip]="{ content: 'PurposeDefaultLanguageTooltip' | otTranslate, position: 'top' }"
                [required]="true"
                >
                <div class="width-45">
                    <ot-picklist
                        ot-auto-id="purposeDefaultLanguageSelect"
                        labelKey="Name"
                        valueKey="Code"
                        [options]="languageList"
                        [model]="selectedLanguage"
                        (onSelect)="selectLanguage($event)"
                        >
                    </ot-picklist>
                </div>
            </div>

            <div otFormElement
                class="margin-bottom-2 margin-left-right-auto max-width-50"
                [label]="'HowLongWillConsentLast' | otTranslate"
                >
                <div
                    *ngIf="consentLength"
                    class="margin-bottom-2 width-45 row-nowrap"
                    >
                    <ot-toggle
                        ot-auto-id="PurposeDetailsCheckbox"
                        class="margin-right-2 row-vertical-center"
                        [checked]="!consentLength.untilWithdrawn"
                        [otTooltip]="{ content: 'ConsentLengthTooltip' | otTranslate, position: 'top' }"
                        (toggle)="toggleUntilWithdrawn()"
                        >
                    </ot-toggle>
                    <input otInput
                        *ngIf="!consentLength.untilWithdrawn"
                        ot-auto-id="PurposeDetailsConsentLengthNumberInput"
                        class="margin-right-2 cr-number"
                        type="number"
                        name="consentLengthNumber"
                        maxlength="99"
                        [ngModel]="consentLength.number"
                        (ngModelChange)="consentLengthNumber($event)"
                        />
                    <ot-picklist
                        *ngIf="!consentLength.untilWithdrawn"
                        ot-auto-id="PurposeDetailsConsentLengthUnitTypes"
                        class="cr-number"
                        [autoClose]="true"
                        [options]="crConsentLengthUnitTypes"
                        [model]="consentLengthDropdownElement"
                        [valueKey]="'value'"
                        [labelKey]="'label'"
                        (onSelect)="consentLengthUnit($event)"
                        >
                    </ot-picklist>
                </div>
            </div>
        </form>

        <div class="row-horizontal-center margin-top-1">
            <button otButton neutral
                ot-auto-id="purposeCreateCancelButton"
                class="margin-left-right-half"
                [innerText]="'Cancel' | otTranslate"
                [disabled]="createInProgress"
                (click)="returnToPurposeList()"
                >
            </button>
            <button otButton brand
                ot-auto-id="createPurpose"
                class="margin-left-right-half"
                [innerText]="'CreatePurpose' | otTranslate"
                [loading]="createInProgress"
                [disabled]="createInProgress || !purposeForm.form.valid || !selectedLanguage || emptyField"
                (click)="createPurpose()"
                >
            </button>
        </div>
    </section>
</div>
