<table otDataTable
    class="dsar-request-queue-table"
    [rowData]="rows"
    [rowBordered]="rowBordered"
    [sortable]="sortable"
    [resizableCol]="resizable"
    [responsiveTable]="responsive"
    [sortOrder]="sortOrder"
    [sortKey]="sortKey"
    (sortChanged)="handleSortChange($event)"
    [truncateCellContent]="true"
>
    <ng-container *ngFor="let col of columnsMap">
        <ng-container *ngIf="col.columnType === 'link'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdClass]="'max-25'"
                [tdStyle]="{'padding-left': '3rem'}"
                [thStyle]="{'padding-left': '2rem', 'justify-content': 'center'}"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center max-25'}"
            >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-bold">
                        <a
                            [attr.ot-auto-id]="'DSARRequestQueueRowClick'"
                            [routerLink]="['/pia/dsar/queue', row.requestQueueId]"
                            (click)="handleNameClick(row, $event)"
                        >
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'status'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row">
                    <div class="slds-truncate text-center">
                        <span
                            [otBadge]="row.status | dsarRequestStatusColor"
                            [innerText]="row.statusLabel"
                            >
                        </span>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

         <ng-container *ngIf="col.columnType === 'daysLeft'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div
                        class="slds-truncate text-center"
                        [ngClass]="{ 'text-bold text-error' : row[column.cellValueKey] < 0 }"
                    >
                         {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'date'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        <upgraded-one-date
                            [dateToFormat]="row[column.cellValueKey]"
                            [enableTooltip]="false"
                        >
                        </upgraded-one-date>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'completedSubtasks'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{row["completedSubtasks"] + ' / ' + row["totalSubtasks"]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="!col.columnType">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [classes]="{ thAnchor: 'slds-grid slds-grid_align-center'}"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold padding-top-bottom-half"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'action'">
            <ot-data-table-column>
                <ng-template
                    otDataTableHeader [thClass]="'float-col'" [thStyle]="{ 'width': '0rem' }">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell
                    [tdClass]="'float-col background-transparent'"
                    let-row="row"
                >
                    <upgraded-one-dropdown
                        class="inventory-table-new__context-button padding-right-2"
                        [icon]="'ot ot-ellipsis-h'"
                        [hideCaret]="true"
                        [alignRight]="true"
                        [getOptions]="getActions(row)"
                        [buttonClass]="'actions-table__context-btn'"
                        [listClass]="menuClass"
                    ></upgraded-one-dropdown>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

    </ng-container>
</table>
