<div class="full-width position-relative flex-full-height overflow-hidden background-white">
    <table otDataTable
        *ngIf="customPreference?.Options"
        [rowBordered]="true"
        [rowData]="customPreference.Options"
        >
        <ot-data-table-column
            thClass="cr-table__header"
            [headerLabel]="'Name' | otTranslate"
            >
            <ng-template otDataTableCell let-row="row">
                {{ row.Label }}
            </ng-template>
        </ot-data-table-column>
    </table>
</div>