<section class="text-color-default flex full-size flex-column">
    <!-- header with breadcrumb-->
    <ot-page-header
        [title]="'SelfServicePortalConfiguration' | otTranslate"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="SSPBreadcrumbItem"
                [label]="'SelfServicePortal' | otTranslate"
                [link]="'zen.app.pia.module.ssp.list'"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="'SelfServicePortalConfiguration' | otTranslate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <div>
            <button otButton
                brand
                ot-auto-id="'SspConfigAddTemplateButton'"
                (click)="addTemplate()">
                {{ "AddTemplate" | otTranslate }}
            </button>
        </div>
    </ot-page-header>
    <section class="flex min-height-1">
        <section class="width-40-percent background-grey padding-left-right-1 min-width-15">
            <ssp-template-list
                [reloadTemplates]="reloadTemplates"
                (sspTemplateSelected)="onSspTemplateSelect($event);"
            ></ssp-template-list>
        </section>
        <section class="width-60-percent">
            <!-- template config settings -->
            <ssp-template-config-edit
                *ngIf="selectedTemplate"
                [selectedSspTemplate]="selectedTemplate"
                (removeSspTemplate)= "removeSspTemplate($event)"
            ></ssp-template-config-edit>
            <one-empty-state
                *ngIf="!selectedTemplate"
                class="flex justify-center padding-top-10"
                [emptyStateMessage]="'AddTemplateToManageSettings' | otTranslate"
            >
            </one-empty-state>
        </section>
    </section>
</section>
