.side-drawer {
    background-color: $paper-gray;
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.3);
    bottom: 0;
    right: 0;
    width: 30rem;
    position: absolute;
    transition: right .25s linear, height 0s linear;
    z-index: 2;

    &__icon {
        color: $slate;
        font-size: 2.4rem;
        outline: none;
        transition: all .25s ease;
    }
    &--open {
        right: 0rem;

        .side-drawer__contents--body,
        .side-drawer__close-text {
            transition: margin-left .25s linear;
        }

        .side-drawer__icon {
            transform: rotate(180deg);
        }
    }
    &--close {
        right: -24rem;

        &-full {
            right: -30rem;
        }

        .side-drawer__contents--body,
        .side-drawer__close-text {
            transition: margin-left .25s linear;
            margin-left: 6rem;
        }
    }
}
