<div class="webform-edit-block">
    <div
        *ngIf="!editModeEnabled"
        class="webform-edit-block--static flex row-space-between row-vertical-center"
    >
        <span
            class="webform-edit-block--text overflow-ellipsis-nowrap text-thin-2"
            [ngClass]="textStyle"
        >{{text}}</span>
        <i
            class="ot ot-pencil-square-o align-right"
            *ngIf="hasEditAccess"
            (click)="editModeEnabled = true"
        ></i>
    </div>
    <div *ngIf="editModeEnabled && hasEditAccess" class="webform-edit-block--input">
        <dsar-editable-text
            [text]="text"
            (cancelled)="saveModel($event)"
            (submitted)="saveModel($event); inputChangedCallback($event)">
        </dsar-editable-text>
    </div>
</div>