<div class="
    row-space-between-center
    height-4
    padding-top-bottom-quarter
    padding-left-right-1
    background-white
    border
    border-radius
    margin-bottom-1
    "
>
    <div class="flex-static-80 overflow-ellipsis-nowrap">
        <i *ngIf="itemConfig" class="ot {{itemConfig.icon}} margin-right-half"></i>
        <span class="margin-right-half">{{index + 1}}</span>
        <span>{{rule.value}}</span>
    </div>
    <i *ngIf="rule.value.editMode" class="ot ot-edit"></i>
    <ng-container *ngIf="ruleMenuOptions$ | async as ruleMenuOptions">
        <ot-context-menu
            [menu]="ruleMenuOptions"
            [type]="contextMenuType.Thin"
        >
            <i class="ot ot-ellipsis-h"></i>
            <a *otContextMenuItem="let option" (click)="option.action(rule)">
                {{ option.text }}
            </a>
        </ot-context-menu>
    </ng-container>
</div>
