<ot-loading
    otPageLoading
    *ngIf="isFetchingAssessment || isValidatingAssessment"
    class="row-horizontal-vertical-center full-width inline-block"
>
</ot-loading>
<section
    *ngIf="!isFetchingAssessment && !isLoadingSection && !assessmentModel"
    class="full-size column-nowrap"
    id="assessment-automation"
>
    <span>{{'UnableToLoadAssessment' | otTranslate}}</span>
</section>
<section
    *ngIf="!isFetchingAssessment && assessmentModel"
    class="full-size column-nowrap"
    id="assessment-automation"
>
    <div class="aa-detail-header">
        <ot-page-header class="static-vertical slds-page-header">
            <div class="position-absolute left-2 center-header-ie">
                <i
                    *ngIf="!isUserInvited"
                    class="ot ot-chevron-left caret-size inline-block media-middle"
                    ot-auto-id="AssessmentListIcon"
                    (click)="goToSectionList()"
                >
                </i>
                <i
                    class="ot ot-nested aa-icon media-middle margin-left-2-half margin-right-1"
                    ot-auto-id="AssessmentShowHideButton"
                    [ngClass]="!hideSectionNav ? 'background-blue color-white' : 'background-white border-platinum'"
                    (click)="toggleHideSection()"
                ></i>
                <button
                    otButton
                    brand
                    *ngIf="!isReadinessTemplate"
                    class="inline-block media-middle slds-button"
                    position="bottom-left"
                    size="medium"
                    modifierClass="aa-detail-header__popover"
                    [icon]="'ot ot-info-circle'"
                    [otPopover]="basicPopover"
                    [closeOnClick]="'outside'"
                    [isOpen]="isOpen"
                    (toggled)="onToggle($event)"
                    (click)="onToggle(true)"
                >
                </button>
                <ng-template #basicPopover>
                    <div class="max-height-50 overflow-y-auto">
                        <div
                            otFormElement
                            class="padding-top-1 padding-bottom-1-half padding-left-half"
                            [label]="'ID' | otTranslate"
                        >
                            <section class="padding-top-half">
                                {{assessmentModel.assessmentNumber}}
                            </section>
                        </div>
                        <div
                            otFormElement
                            *ngIf="assessmentModel.description && viewState.canShowDescription"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Description' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                                ot-auto-id="AssessmentDescriptionPopover"
                                [disabled]="!viewState.canEditDescription"
                                (click)="openEditMetadataModal()"
                            >
                                <span class="word-break">
                                    {{assessmentModel.description}}
                                </span>
                                <i
                                    *ngIf="viewState.canEditDescription"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            *ngIf="viewState.canShowOrg"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Organization' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                                ot-auto-id="AssessmentOrganizationNamePopover"
                                [disabled]="!viewState.canEditOrg"
                                (click)="openEditMetadataModal()"
                            >
                                <span class="word-break">
                                    {{assessmentModel.orgGroup.name}}
                                </span>
                                <i
                                    *ngIf="viewState.canEditOrg"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            *ngIf="viewState.canShowDeadline"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Deadline' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                                ot-auto-id="AssessmentDeadlinePopover"
                                [disabled]="!viewState.canEditDeadline"
                                (click)="openEditMetadataModal()"
                            >
                                <span class="word-break">
                                    {{assessmentModel.deadline ? (assessmentModel.deadline | otDate) : ('NoDeadline' | otTranslate)}}
                                </span>
                                <i
                                    *ngIf="viewState.canEditDeadline"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            *ngIf="assessmentModel.reminder && viewState.canShowDeadline"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Reminder' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                                ot-auto-id="AssessmentReminderPopover"
                                [disabled]="!viewState.canEditDeadline"
                                (click)="openEditMetadataModal()"
                            >
                                <span class="word-break">
                                    {{assessmentModel.reminder}}
                                </span>
                                <i
                                    *ngIf="viewState.canEditDeadline"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            *ngIf="viewState.canShowRespondent"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Respondent(s)' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half column-nowrap word-break"
                                ot-auto-id="AssessmentRespondentsPopover"
                                [disabled]="!viewState.canEditRespondent"
                                (click)="openEditMetadataModal()"
                            >
                                <span *ngFor="let respondent of respondentNames; last as lastItem">
                                    {{respondent}}<span *ngIf="!lastItem">,</span>
                                </span>
                                <i
                                    *ngIf="viewState.canEditRespondent"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            *ngIf="viewState.canShowApprover"
                            class="stretch-horizontal padding-top-1 padding-bottom-2 padding-left-half aa-detail-header__hover-div"
                            [label]="'Approver(s)' | otTranslate"
                        >
                            <button
                                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half column-nowrap word-break"
                                ot-auto-id="AssessmentApproversPopover"
                                [disabled]="!viewState.canEditApprover"
                                (click)="openEditMetadataModal()"
                            >
                                <ng-container *ngIf="assessmentModel.approvers?.length; else noApproversLabel">
                                    <span *ngFor="let approver of approverNames; last as lastItem">
                                        {{approver}}<span *ngIf="!lastItem">,</span>
                                    </span>
                                </ng-container>
                                <ng-template #noApproversLabel>
                                    <span>{{'Unassigned' | otTranslate}}</span>
                                </ng-template>
                                <i
                                    *ngIf="viewState.canEditApprover"
                                    class="ot ot-edit display-none position-absolute top-half edit-icon"
                                ></i>
                            </button>
                        </div>
                        <div
                            otFormElement
                            class="padding-top-1 padding-bottom-2 padding-left-half"
                            [label]="'Template' | otTranslate"
                        >
                            <span>{{assessmentModel.template.name}}</span>
                        </div>
                    </div>
                </ng-template>
                <a [otTooltip]="{ content: assessmentModel.name, placement: 'bottom' }">
                    <span
                        class="assessment-name text-medium text-bold margin-left-4 inline-block media-middle overflow-ellipsis-nowrap max-width-30"
                    >
                        <i
                            *ngIf="invalidQuestionsCount"
                            class="ot ot-exclamation-circle color-orange"
                        ></i>
                        {{ assessmentModel.name }}
                    </span>
                </a>
                <section class="margin-left-4 inline-block">
                    <span
                        *ngIf="!isReadinessTemplate"
                        [otBadge]="assessmentStatusKeys[assessmentModel.status] | displayBadge"
                    >
                        {{assessmentStatusKeys[assessmentModel.status] | otTranslate}}
                    </span>
                </section>
                <section class="margin-left-2 inline-block">
                    <span
                        otBadge
                        *ngIf="!isReadinessTemplate && assessmentModel.result"
                    >
                        {{assessmentResultKeys[assessmentModel.result] | otTranslate}}
                    </span>
                </section>
                <section class="margin-left-2 inline-block">
                    <span
                        *ngIf="isReadOnly"
                        [otBadge]="'disabled'"
                    >
                        {{'ReadOnly' | otTranslate}}
                    </span>
                </section>
            </div>
            <section class="flex flex-ie actions">
                <button
                    otButton
                    neutral
                    *ngIf="!isReadinessTemplate"
                    class="aa-detail__collab-buttons box-shadow-none background-white padding-none margin-top-bottom-1 flex-grow-1 align-self-center margin-right-1 "
                    ot-auto-id="AssessmentOpenNeedsMoreInfoCollaborationDrawerIcon"
                    (click)="toggleNeedsMoreInfoCollaborationDrawer()"
                >
                    <span class="padding-left-right-1 text-bold">
                        {{ aaCollaborationPaneCountsService.totalNMISubject$ | async }}
                    </span>
                    <i
                        class="aa-icon background-white ot ot-question pull-left"
                        [ngClass]="{'color-white background-blue': isNeedsMoreInfoCollaborationDrawerOpen}"
                    ></i>
                </button>
                <button
                    otButton
                    neutral
                    class="aa-detail__collab-buttons box-shadow-none padding-none margin-top-bottom-1 flex-column align-self-center margin-right-1"
                    ot-auto-id="AssessmentNotesCollaborationDrawerIcon"
                    (click)="toggleNotesDrawer()"
                >
                    <span class="padding-left-right-1 text-bold">
                        {{ aaCollaborationPaneCountsService.totalNotesSubject$ | async }}
                    </span>
                    <i
                        class="aa-icon background-white ot ot-sticky-note pull-left"
                        [ngClass]="{'color-white background-blue': isNotesDrawerOpen}"
                    ></i>
                </button>
                <button
                    otButton
                    neutral
                    *ngIf="isRespondent || permissions.createQuestionComment || permissions.viewQuestionComment"
                    class="aa-detail__collab-buttons padding-none margin-top-bottom-1 flex-grow-1 align-self-center margin-right-1"
                    ot-auto-id="AssessmentOpenNeedsMoreInfoCollaborationDrawerIcon"
                    (click)="toggleCommentsCollaborationDrawer()"
                >
                    <span class="padding-left-right-1 text-bold">
                        {{ aaCollaborationPaneCountsService.totalCommentSubject$ | async }}
                    </span>
                    <i
                        class="aa-icon background-white ot ot-comment pull-left"
                        [ngClass]="{'color-white background-blue': isCommentsCollaborationDrawerOpen}"
                    ></i>
                </button>
                <button otButton neutral
                    *ngIf="canShowRiskCollaborationPane && !isReadinessTemplate"
                    class="aa-detail__inherit-width ot ot-flag cursor-pointer margin-right-1-half pull-left align-self-center"
                    ot-auto-id="AssessmentOpenRiskCollaborationDrawerIcon"
                    [select]="isRiskCollaborationDrawerOpen"
                    (click)="toggleRiskCollaborationDrawer()"
                ></button>
                <ot-context-menu
                    *ngIf="contextMenuOption.length && !isReadinessTemplate"
                    class="margin-top-bottom-1"
                    position="bottom-right"
                    [type]="contextMenuType.Basic"
                    [menu]="contextMenuOption"
                >
                    <i class="ot ot-ellipsis-h"></i>
                    <a
                        *otContextMenuItem="let item"
                        [attr.ot-auto-id]="item.id"
                        (click)="contextMenuItemSelected(item)"
                    >
                        {{ item.text }}
                    </a>
                </ot-context-menu>
            </section>
        </ot-page-header>
    </div>
    <div class="aa-container position-relative">
        <div class="flex position-absolute full-size">
            <div
                *ngIf="!hideSectionNav"
                class="aa-section-list ms-overflow-none"
            >
                <aa-section-list-filter>
                </aa-section-list-filter>
            </div>
            <div class="assessment-questions">
                <div
                    *ngIf="infoRequestsNotSentCount > 0 && approverSendBackFlow"
                    class="slds-page-header row-vertical-center row-space-between"
                >
                    <ot-notification
                        class="flex width-50-percent margin-left-6"
                        icon="ot ot-question-circle"
                        type="notice"
                        [allowClose]="false"
                    >
                        <span [innerHTML]="infoRequestBannerDescription"></span>
                    </ot-notification>
                    <div class="flex justify-end width-50-percent">
                        <button
                            *ngIf="('AssessmentSendBackToInProgress' | otPermit) && !isReadOnly"
                            otButton
                            brand
                            ot-auto-id="AssessmentNMIBannerSendButton"
                            (click)="showSendBackModal()"
                        >
                            {{'Send' | otTranslate}}
                        </button>
                        <button
                            otButton
                            neutral
                            ot-auto-id="AssessmentNMIBannerViewButton"
                            (click)="toggleNeedsMoreInfoCollaborationDrawer(true)"
                        >
                            {{'View' | otTranslate}}
                        </button>
                    </div>
                </div>
                <div
                    id="scrolling-container"
                    class="questions-container"
                >
                    <ng-container *ngIf="!isLoadingSection; else loadingSection">
                        <div *ngIf="assessmentModel.section && !assessmentModel.welcomeSection">
                            <assessment-detail-question-group
                                [questionList]="questionList"
                                [assessmentModel]="assessmentModel"
                            >
                            </assessment-detail-question-group>
                        </div>
                        <div
                            *ngIf="assessmentModel.welcomeSection && assessmentModel.welcomeText"
                            class="aa-welcome__detail ql-editor text-color-default"
                        >
                            <div
                                class="Welcome-text padding-top-3"
                                [innerHTML]="assessmentModel.welcomeText"
                            >
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #loadingSection>
                        <ot-loading
                            otPageLoading
                            class="row-horizontal-vertical-center height-100"
                        ></ot-loading>
                    </ng-template>
                </div>
                <aa-section-footer
                    [approverSendBackFlow]="approverSendBackFlow"
                    [openInfoRequestMsg]="infoRequestBannerDescription"
                >
                </aa-section-footer>
            </div>
        </div>
        <div
            *ngIf="isNeedsMoreInfoCollaborationDrawerOpen || isRiskCollaborationDrawerOpen || isNotesDrawerOpen || isCommentsCollaborationDrawerOpen"
            class="full-size position-absolute z-index-2 row-nowrap"
        >
            <div
                class="aa-detail__side-pane-overlay flex"
                (click)="paneOverlayClickCallback()"
            >
            </div>
            <aa-needs-more-info-collaboration-pane
                *ngIf="isNeedsMoreInfoCollaborationDrawerOpen"
                (hide)="closeDrawerAndGoToQuestion($event)"
                (toggleDrawer)="toggleNeedsMoreInfoCollaborationDrawer()"
            >
            </aa-needs-more-info-collaboration-pane>
            <aa-risk-collaboration-pane
                *ngIf="isRiskCollaborationDrawerOpen"
                (hide)="closeDrawerAndGoToQuestion($event)"
                (toggleDrawer)="toggleRiskCollaborationDrawer()"
            >
            </aa-risk-collaboration-pane>
            <aa-notes-collaboration-pane
                *ngIf="isNotesDrawerOpen"
                (hide)="closeDrawerAndGoToQuestion()"
                (toggleDrawer)="toggleNotesDrawer()"
            >
            </aa-notes-collaboration-pane>
            <aa-comments-collaboration-pane
                *ngIf="isCommentsCollaborationDrawerOpen"
                (hide)="closeDrawerAndGoToQuestion($event)"
                (toggleDrawer)="toggleCommentsCollaborationDrawer()"
            >
            </aa-comments-collaboration-pane>
        </div>
    </div>
</section>
