.aa-detail {
    &-header {
        &__actions {
            align-items: baseline;
        }

        .aa-icon {
            border: 1px solid $platinum !important;
        }

        .slds-page-header {
            height: 6rem;

            &__title {
                display: none;
            }
        }

        .caret-size {
            font-size: $text-medium;
            cursor: pointer;
        }

        .slds-badge {
            display: inline-block;
            vertical-align: middle;
        }

        .assessment-name {
            height: 2.2rem;
            color: $slate;
        }

        .slds-button {
            color: $slate;
            border: 1px solid $platinum;
            background-color: $white;
        }

        &__hover-div :hover {
            .edit-icon {
                display: block;
                right: 1.5rem;
            }
        }

        &__popover {
            left: -1rem !important;
        }
    }

    &__side-pane-overlay {
        background-color: rgba(0, 0, 0, 0.7)
    }
    &__collab-buttons {
        min-width: inherit !important;
        border-left: none !important;
    }

    // TODO: This is a temporary class! Remove when risks' counts is added & apply collab buttons instead
    &__inherit-width {
        min-width: inherit !important;
        height: 3.2rem;
        width: 5.9rem;
        margin-left: none !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .center-header-ie {
        top: 1.3rem;
    }

    .flex-ie {
        flex: 1 0 auto;
    }
}
