.aa-finish-review-modal {
    &__action-picklist {
        overflow-y: inherit !important;
    }
    &__content {
        padding-bottom:5.5rem;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aa-finish-review-modal__content {
        max-height: 25rem;
        overflow-x: hidden;
    }
}
