<div
    *ngIf="initializing; else finishReviewModal"
    class="flex-full-height justify-center"
>
    <ot-loading otPageLoading></ot-loading>
</div>
<ng-template #finishReviewModal>
    <ot-modal-header (close)="closeModal()">
        <div>{{ 'CompleteAssessment' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <ot-confirm-modal-icon
            type="success"
            icon="ot ot-check-square-o"
            >
        </ot-confirm-modal-icon>
        <div
            class="padding-left-right-1 aa-finish-review-modal__content"
            [ngClass]="{ 'aa-finish-review-modal__action-picklist': !approveModalData?.needsConfirmation}"
            >
            <div *ngIf="approveModalData?.needsConfirmation && selectedReviewAction?.value === 1; else directApprove">
                <div
                    *ngIf="approveModalData?.approverNMI; else noNMI"
                    class="margin-bottom-2 paragraph-medium-small text-center text-bold"
                    >
                    {{'ApproveAssessmentWithRulesSetAndNMIOpen' | otTranslate}}
                </div>
                <ng-template #noNMI>
                    <div class="margin-bottom-2 paragraph-medium-small text-center text-bold">
                        {{'ApproveAssessmentWithRulesSet' | otTranslate}}
                    </div>
                </ng-template>
            </div>
            <ng-template #directApprove>
                <div
                    *ngIf="approveModalData?.approverNMI"
                    class="margin-bottom-2 paragraph-medium-small text-center text-bold"
                    >
                    {{'OpenInformationRequests' | otTranslate}}
                </div>
            </ng-template>
            <div class="margin-bottom-2 paragraph-medium-small text-center">
                <span>
                    {{"SelectActionToFinishReviewAssessment" | otTranslate}}
                </span>
                <span *ngIf="approveModalData?.forceApprove">
                    {{ "ByPassOtherApproverMessage" | otTranslate }}
                </span>
            </div>
            <div otFormElement
                [label]="'Result' | otTranslate"
                required="true"
                class="margin-bottom-2"
                >
                <ot-picklist
                    [id]="AAFinishReviewActionDropdown"
                    [model]="selectedReviewAction"
                    [options]="finishReviewActionItems"
                    [placeholder]="'SelectAResult' | otTranslate"
                    (onSelect)="selectReviewAction($event)"
                ></ot-picklist>
            </div>
            <div otSettingContainer
                *ngIf="approveModalData?.bypassOtherApproversEnabled"
                class="aa-footer__settings-toggle aa-footer__settings-title margin-bottom-2">
                <ot-setting
                    [title]="'ByPassOtherApproverTitle' | otTranslate"
                    [description]="'ByPassOtherApproverMessage' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="AssessmentSkipOtherRequiredApproverToggle"
                        [checked]="false"
                        (toggle)="toggleForceOverride($event)"
                    ></ot-toggle>
                </ot-setting>
            </div>
            <div otSettingContainer
                *ngIf="approveModalData?.needsConfirmation && selectedReviewAction?.value === 1"
                class="aa-footer__settings-toggle aa-footer__settings-title margin-bottom-2">
                <ot-setting
                    [title]="'SendFollowUpAssessmentTitle' | otTranslate"
                    [description]="'SendFollowUpAssessmentMessage' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="AssessmentSendFollowUpAssessmentToggle"
                        [checked]="false"
                        [disabled]="approveModalData?.bypassOtherApproversEnabled && !forceOverride"
                        (toggle)="sendFollowUpAssessment()"
                    ></ot-toggle>
                </ot-setting>
            </div>
            <!-- Uncooment once the BE is ready -->
            <!-- <div otFormElement
                [label]="'EmailComments' | otTranslate"
            >
                <textarea otTextarea
                    ot-auto-id="AAApproveAssessmentEmailCommentsTextarea"
                    [ngModel]="emailComment"
                    (ngModelChange)="updateComment($event)"
                >
                </textarea>
            </div> -->
        </div>
    </ot-modal-content>
</ng-template>
<ot-modal-footer>
    <button otButton neutral
        class="margin-right-1 no-outline border-none"
        ot-auto-id="AssessmentSendUponApprovalCancelButton"
        [disabled]="isSubmitting"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        class="margin-right-1"
        ot-auto-id="AssessmentSectionDetailFooterFinishReviewButton"
        [disabled]="isSubmitting || initializing || !selectedReviewAction"
        [loading]="isSubmitting"
        (click)="confirmAssessmentApproval()"
        >
        {{ 'Confirm' | otTranslate }}
    </button>
</ot-modal-footer>
