section.login
    loading(ng-if='!Ready', loading-class="login__loading", show-text="false")
    section.login__form-container(ng-if='Ready')
        form.login__form(name='changePasswordForm', role='form', novalidate)
            img.login__logo(ng-src='{{app.branding.logo.url || app.branding.header.icon.url || marketingContent.loginLogo || "images/logo.png"}}', title='OneTrust', alt='OneTrust Logo')
            .login__form-wrapper
                h3.login__headline
                    | {{::$root.t("PasswordExpired")}}
                p.login__description {{::$root.t("EnterNewPasswordToContinue")}}
                .login__has-email(ng-bind='changePasswordData.Email')
                .login__input-container(ng-class="{'has-error': changePasswordForm.NewPassword.$invalid && (changePasswordForm.NewPassword.$touched || changePasswordForm.NewPassword.$dirty)}")
                .login__input-container
                        label.login__label
                            | {{::$root.t("NewPassword")}}
                        .login__input-wrapper
                            input#NewPassword.one-input.full-width(
                                ng-change='validatePassword()',
                                name='NewPassword',
                                type='{{type1}}',
                                ng-model='changePasswordData.NewPassword',
                                required='',
                                ng-model-options="{ updateOn: 'default', debounce: { 'default': 0 }}",
                                placeholder='{{::$root.t("EnterNewPassword")}}'
                                ng-trim="false"
                                ng-paste="false"
                            )
                            button.login__input-addon(type='button', ng-mouseenter="type1= 'text'", ng-mouseleave="type1 = 'password'")
                                i.fa.fa-eye
                .login__input-container.validation-container
                    label.login__label
                        | {{::$root.t("ConfirmPassword")}}
                    .login__input-wrapper
                        input#ConfirmNewPassword.one-input.full-width(
                            ng-change='validatePassword()',
                            name='ConfirmNewPassword',
                            type='{{type2}}',
                            ng-model='changePasswordData.ConfirmNewPassword',
                            required='',
                            ng-model-options="{ updateOn: 'default', debounce: { 'default': 0 }}",
                            placeholder='{{::$root.t("ConfirmNewPassword")}}'
                            ng-trim="false"
                            ng-paste="false"
                        )
                        button.login__input-addon(type='button', ng-mouseenter="type2= 'text'", ng-mouseleave="type2 = 'password'")
                            i.fa.fa-eye

                    pw-validation-alert(
                        is-erroneous='initState || errors.Uppercase',
                        text='{{::$root.t("OneUppercaseCharacter")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || errors.Lowercase',
                        text='{{::$root.t("OneLowercaseCharacter")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || errors.Number',
                        text='{{::$root.t("OneNumber")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || errors.PasswordLength',
                        text='{{::$root.t("PasswordEightCharactersLong")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || errors.PasswordMatch',
                        text='{{::$root.t("PasswordsMustMatch")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || errors.emailEqualToPassword',
                        text='{{::$root.t("PasswordMustBeDifferentThanEmail")}}'
                    )

                    pw-validation-alert(
                        is-erroneous='initState || !errors.mustContainOneSpecialChar',
                        text='{{::$root.t("PasswordMustContainOneSpecialChar")}}'
                    )

                button.login__button(type='submit', ng-disabled='loading', ng-click='changeForgotPassword(changePasswordForm)')
                    span(ng-if='!loading') {{::$root.t("Submit")}}
                    loading(ng-if='loading', loading-class="login__loading", show-text="false")
                span.login__help
                    a.login__help__confirm(ng-click='helpChangePasswordContactModal()') {{::$root.t("NeedHelp")}}
                    a.login__help__go_to_login(ui-sref='zen.app.auth.login') {{::$root.t("ReturnToLogin")}}

            .login__version
                p.login__version-number
                    | {{::$root.t("Version")}} #{VERSION}
                p.login__version-branding
                    span {{::$root.t("PoweredBy")}}
                    img(ng-src='images/logo_green_transparent.svg', title='OneTrust', alt='OneTrust Logo')
        footer.login__form-footer
            p.login__form-footer-text
                | {{marketingContent.copyright}}&nbsp;|&nbsp;
                a.toggle-link.toggled(href='{{marketingContent.privacyPolicy}}' target="_blank") {{::$root.t("PrivacyPolicy")}}
    section.login__ad(ng-if='Ready', style='background-image: url("{{marketingContent.backgroundImage}}")')
        .login__ad-wrapper
            img.login__ad-image(ng-if='marketingContent.marketingLogo', ng-src='{{marketingContent.marketingLogo}}')
            h1.login__ad-headline(ng-if='marketingContent.headline', ng-bind-html='marketingContent.headline')
            p.login__ad-text(ng-if='marketingContent.copy', ng-bind-html='marketingContent.copy')
            a.login__ad-button(ng-if='marketingContent.buttonText && marketingContent.marketingUrl', href='{{marketingContent.marketingUrl}}')
                | {{marketingContent.buttonText}}
