section#forgot-password.login
    loading(ng-if='!Ready', loading-class="login__loading", show-text="false")
    section.login__form-container(ng-if='Ready')
        form.login__form(name='forgotForm', role='form', novalidate)
            img.login__logo(ng-src="{{app.branding.logo.url || app.branding.header.icon.url || marketingContent.loginLogo || 'images/logo.png'}}", title='OneTrust', alt='OneTrust Logo')
            .login__form-wrapper
                div(ng-if='!emailSentSuccess')
                    h3.login__headline {{::$root.t("ForgotPassword")}}
                    p.login__description  {{::$root.t("EmailInstructionsOnHowToReset")}}
                    .login__input-container
                        label.login__label
                            | {{::$root.t("Email")}}
                        input#Email.one-input.full-width(
                            name='Email',
                            type='email',
                            ng-model='forgotData.Email',
                            required='',
                            placeholder='{{::$root.t("EnterEmailAddress")}}'
                        )
                        p.login__error(ng-show='errors.Email && forgotForm.Email.$invalid')
                            | {{::$root.t("PleaseEnterValidEmail")}}
                    footer.login__footer
                        button.login__button(type='submit', ng-disabled='loading', ng-click='forgotPassword(forgotForm)')
                            span(ng-if="!loading") {{::$root.t("Send")}}
                            loading(ng-if='loading', loading-class="login__loading", show-text="false")
                        a.login__forgot-pw(ui-sref="zen.app.auth.login") {{::$root.t("ReturnToLogin")}}
                div(ng-if='emailSentSuccess')
                    h3.login__headline {{::$root.t("ForgotPasswordConfHeader")}}
                    p.login__description  {{::$root.t("WillReceiveAnEmailWithInstructions")}}
                    a.login__forgot-pw(ui-sref="zen.app.auth.login") {{::$root.t("ReturnToLogin")}}
            .login__version
                p.login__version-number
                    | {{::$root.t("Version")}} #{VERSION}
                p.login__version-branding
                    span {{::$root.t("PoweredBy")}}
                    img(ng-src='images/logo_green_transparent.svg', title='OneTrust', alt='OneTrust Logo')
        footer.login__form-footer
            p.login__form-footer-text
                | {{marketingContent.copyright}}&nbsp;|&nbsp;
                a.toggle-link.toggled(href='{{marketingContent.privacyPolicy}}' target="_blank") {{::$root.t("PrivacyPolicy")}}
    section.login__ad(ng-if='Ready', style='background-image: url("{{marketingContent.backgroundImage}}")')
        .login__ad-wrapper
            img.login__ad-image(ng-if='marketingContent.marketingLogo', ng-src='{{marketingContent.marketingLogo}}')
            h1.login__ad-headline(ng-if='marketingContent.headline', ng-bind-html='marketingContent.headline')
            p.login__ad-text(ng-if='marketingContent.copy', ng-bind-html='marketingContent.copy')
            a.login__ad-button(ng-if='marketingContent.buttonText && marketingContent.marketingUrl', href='{{marketingContent.marketingUrl}}') {{marketingContent.buttonText}}
