section#login.login
    loading(ng-if='!Ready', loading-class="login__loading", show-text="false")
    section.login__form-container(ng-if='Ready')
        form.login__form(name='loginForm', role='form', novalidate)
            img.login__logo(ng-src='{{app.branding.logo.url || app.branding.header.icon.url || marketingContent.loginLogo || "images/logo.png"}}', title='OneTrust', alt='OneTrust Logo')
            .login__form-wrapper
                .login__input-container(
                    ng-class="{'has-error': loginForm.Email.$invalid  && (loginForm.Email.$touched || loginForm.Email.$dirty)}"
                )
                    label.login__label(ng-if='!isBasic && !basicChecked')
                        | {{::$root.t("Email")}}
                    input#MarketingEmail.one-input.full-width(ng-if='!isBasic && !basicChecked', name='Email', type='email', ng-model='loginData.Email', required='', placeholder='{{::$root.t("EnterEmailAddress")}}')
                    p.login__error(ng-show='errors.Email && loginForm.Email.$invalid')
                        | {{::$root.t("PleaseEnterValidEmail")}}
                    p.login__error(ng-if="!isBasic")
                        | {{errorMessage}}
                    .login__back(ng-if='isBasic && basicChecked')
                        button.login__back-btn(type='button' ng-click='goBack()' ng-if='basicChecked && isBasic')
                            i.fa.fa-arrow-left.login__back-icon
                        p.login__back-text {{loginData.Email}}
                .login__input-container(
                    ng-if="isBasic",
                    ng-class="{'has-error': loginForm.Password.$invalid  && (loginForm.Password.$touched || loginForm.Password.$dirty)}"
                )
                    label.login__label
                        | {{::$root.t("Password")}}
                    input#MarketingPassword.one-input.full-width(name='Password', type='password', autocomplete="off", ng-model='loginData.Password', ng-model-options="{ updateOn: 'default', debounce: { 'default': 0 }}", required='', placeholder='{{::$root.t("Password")}}',focus-if='isBasic && basicChecked')
                    p.login__error(ng-show='errors.Password && loginForm.Password.$invalid')
                        | {{::$root.t("PleaseEnterYourPassword")}}
                    p.login__error(ng-show='invalidPassword')
                        | {{::$root.t("IncorrectEmailOrPassword")}}
                    p.login__error
                        | {{errorMessage}}
                button.login__button(type='submit', ng-disabled='loading', ng-click='login(loginForm)')
                    span(ng-if="!loading && basicChecked") {{::$root.t("LogIn")}}
                    span(ng-if="!loading && !basicChecked") {{::$root.t("Continue")}}
                    loading(ng-if='loading', loading-class="login__loading", show-text="false")
                a.login__forgot-pw(ng-click='helpForgotContactModal()') {{::$root.t("ForgotPassword")}}
                br
                span.login-headline {{::$root.t("Language")}}
                div.login__dropdown
                  span.login__dropdown__select.one-select
                    span.login__dropdown__select-arrow.one-select__arrow.fa.fa-caret-down
                    select.login__dropdown__select-select.one-select__select(name="templateSelect" class="templateSelect" ng-model="languageSelected" ng-change="changeLanguage(languageSelected)")
                      option(ng-repeat="language in languages track by $index" value="{{language.Code}}") {{language.Name}}

            // TODO : make a resource
            .login__register(ng-if='false')
                span.login__register-text
                    | {{::$root.t("DontHaveAnAccount")}}
                a.login__register-btn(href='{{marketingContent.registerUrl}}')
                    | {{::$root.t("RegisterForFree")}}

            .login__version
                p.login__version-number
                    | {{::$root.t("Version")}} #{VERSION}
                p.login__version-branding
                    span {{::$root.t("PoweredBy")}}
                    img(ng-src='images/logo_green_transparent.svg', title='OneTrust', alt='OneTrust Logo', ng-click="getDev()")
        footer.login__form-footer
            p.login__form-footer-text
                | {{marketingContent.copyright}}&nbsp;|&nbsp;
                a.toggle-link.toggled(href='{{marketingContent.privacyPolicy}}' target="_blank") {{::$root.t("PrivacyPolicy")}}
    section.login__ad(ng-if='Ready', style='background-image: url("{{marketingContent.backgroundImage}}")')
        .login__ad-wrapper
            img.login__ad-image(ng-if='marketingContent.marketingLogo', ng-src='{{marketingContent.marketingLogo}}')
            h1.login__ad-headline(ng-if='marketingContent.headline', ng-bind-html='marketingContent.headline')
            p.login__ad-text(ng-if='marketingContent.copy', ng-bind-html='marketingContent.copy')
            a.login__ad-button(ng-if='marketingContent.buttonText && marketingContent.marketingUrl', href='{{marketingContent.marketingUrl}}') {{marketingContent.buttonText}}
