<ng-container *ngIf="topics?.length">
    <div class="full-width padding-bottom-2 row-flex-start dashboard-container">
        <table otDataTable
            class="margin-top-2 width-100-percent"
            [rowData]="topics"
            [rowBordered]="true"
            [truncateCellContent]="true"
            >
            <ng-container *ngFor="let col of columns">
                <ot-data-table-column
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-container *ngIf="col.cellValueKey === 'Name'">
                        <ng-template otDataTableCell
                            let-row="row"
                            >
                            {{row.Name}}
                        </ng-template>
                    </ng-container>
                    <ng-container *ngIf="col.cellValueKey === 'Id'">
                        <ng-template otDataTableCell
                            let-row="row"
                            >
                            <i *ngIf="isTopicActive(row.Id)"
                                class="ot ot-check color-green"
                                >
                            </i>
                        </ng-template>
                    </ng-container>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
</ng-container>
