<div>
    <div class="background-white height-5 row-vertical-center justify-end border-bottom padding-right-2">
        <button otButton neutral
            [innerText]="'AddFiles' | otTranslate"
            [disabled]="!('FileCreate' | otPermit)"
            ot-auto-id="IncidentAttachmentAddFile"
            (click)="onAddFile()"
        ></button>
        <button otButton neutral
            ot-auto-id="IncidentAttachmentAddLink"
            class="margin-right-half"
            [disabled]="!('FileCreate' | otPermit)"
            [innerText]="'AddLinks' | otTranslate"
            (click)="onAddLink()"
        ></button>
    </div>
    <div class="position-relative">
        <incident-attachments-table
            [table]="table"
            [loadingAttachments]="loadingAttachments"
        ></incident-attachments-table>
    </div>
    <footer otPaginationFooter *ngIf="!loadingAttachments && table?.rows?.length && tableMetaData.totalPages > 1 || (!loadingAttachments && !tableMetaData.first)">
        <ot-pagination
            [currentPage]="tableMetaData.number"
            [handleOffset]="true"
            [numPages]="tableMetaData.totalPages"
            (pageChanged)="onPaginationChange($event)"
            >
        </ot-pagination>
        <span>
            {{ tableMetaData | otPageMeta }}
        </span>
    </footer>
</div>
