<ot-modal-header (close)="cancel()">
    <div>{{ "CreateNewReport" | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <section class="flex-full-height padding-all-1  padding-bottom-5 margin-bottom-5 overflow-y-auto overflow-x-hidden"> 
        <div
            otFormElement
            [label]="'ReportName' | otTranslate"
            [required]="true"
            >
            <input
                otInput
                name="name"
                [ngModel]="reportDetail.name"
                [placeholder]="'EnterName' | otTranslate"
                (ngModelChange)="handleInputChange($event, 'name')"
                />
        </div>
        <div
            otFormElement
            class="padding-top-2"
            [label]="'Description' | otTranslate"
            >
            <textarea
                otTextarea
                name="description"
                [ngModel]="reportDetail.description"
                [placeholder]="'EnterDescription' | otTranslate"
                (ngModelChange)="handleInputChange($event, 'description')"
                >
            </textarea>
        </div>
        <div
            otFormElement
            class="padding-top-2"
            [label]="'SelectModule' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="reportNewModuleDropdown"
                [options]="reportModuleOptions || []"
                [model]="selectedReportModule"
                (onSelect)="handleReportModuleChange($event)"
                >
            </ot-picklist>
        </div>
        <div
            otFormElement
            *ngIf="showViewType"
            class="padding-top-2"
            [label]="'SelectType' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="reportNewTypeDropdown"
                [options]="reportTypesOptions || []"
                [model]="selectedReportType"
                (onSelect)="handleReportTypeChange($event)">
            </ot-picklist>
        </div>
        <div
            otFormElement
            *ngIf="showTemplateSelection"
            class="padding-top-2"
            [label]="'SelectTemplate' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="reportNewTemplateDropdown"
                [options]="(reportTemplateOptions || []) | map: getTemplateDropdownOption"
                [model]="([selectedReportTemplate] | map: getTemplateDropdownOption)[0]"
                [disabled]="!reportTemplateDropdownEnabled"
                (onSelect)="handleReportTemplateChange($event)"
                >
            </ot-picklist>
        </div>
    </section>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1"
        ot-auto-id="reportNewCancelButton"
        (click)="cancel()"
        >
        {{ "Cancel" | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="reportCreateReportButton"
        [disabled]="!createButtonEnabled || createInProgress"
        [loading]="createInProgress"
        (click)="createReport()"
        >
        {{ "Create" | otTranslate }}
    </button>
</ot-modal-footer>
