<div class="risk-selector flex">
    <button
        neutral
        [attr.ot-auto-id]="'RiskHeatmapDropdownButton'"
        class="risk-selector__button padding-none"
        [ngStyle]="{'background-color': color}"
        [ngClass]="{'risk-selector__button--disabled': isDisabled && !showClickableWhenDisabled}"
        [otDropdown]="heatmapEnabled ? heatmapPopoverDropdown : riskLevelPopoverDropdown"
        [closeOnClick]="'both'"
        [interactive]="false"
        [isOpen]="isHeatmapOpen"
        [modifierClass]="'padding-none risk-selector__pop-over'"
        [position]="'bottom-left'"
        [size]="'small'"
        (click)="onHeatmapButtonClick()"
        (toggled)="onHeatmapButtonToggle($event)"
    >
        <div
            class="flex column-nowrap full-size"
            [ngClass]="{'color-white': score}"
        >
            <div
                class="padding-top-1 text-bold risk-selector__score-container-height"
                [ngClass]="isDisabled ? 'risk-selector__score-container-height-disabled' : 'risk-selector__score-container-height-enabled'"
                >
                {{score}}
            </div>
            <div
                *ngIf="!isDisabled"
                class="risk-selector__arrow-container flex-full-width justify-center width-100-percent">
                <i [ngClass]="dropdownIconClass"></i>
            </div>
        </div>
    </button>
    <div class="margin-left-1">
        <div
            *ngIf="score && heatmapEnabled && impactLevelName && probabilityLevelName"
            class="full-size row-vertical-center text-italic"
        >
            {{impactLevelName}} {{'Impact'| otTranslate}}
            <br>
            {{probabilityLevelName}} {{'Probability'| otTranslate}}
        </div>
        <div
            *ngIf="riskLevel && (!heatmapEnabled || !(impactLevelName && probabilityLevelName))"
            class="full-size row-vertical-center text-italic"
        >
            {{ riskLevelName}}
        </div>
        <div
            *ngIf="!riskLevel && !score && !isDisabled"
            class="full-size row-vertical-center text-italic"
        >
            {{'ChooseRiskLevel'| otTranslate}}
        </div>
        <div
            *ngIf="loadingSettings && !isDisabled"
        >
            <span class="ot ot-spinner"></span>
        </div>
    </div>
</div>
<ng-template #heatmapPopoverDropdown>
    <div class="risk-selector__heatmap background-eggshell border-radius-3">
        <div
            class="full-width row-horizontal-vertical-center text-bold padding-top-1 overflow-ellipses text-center"
        >
            {{hoveredImpactLevelName || "----"}}
        </div>
        <div
            class="full-width row-horizontal-vertical-center text-bold padding-bottom-1 overflow-ellipses text-center"
        >
            {{hoveredProbabilityLevelName || "----"}}
        </div>
        <div class="row-nowrap">
            <div class="column-horizontal-vertical-center text-italic width-3 height-15">
                <div class="risk-selector__heatmap__y-axis__label color-slate">
                    {{'Probability'| otTranslate}}
                </div>
            </div>
            <div class="risk-selector__heatmap__y-axis flex row-nowrap padding-right-3">
                <div
                    *ngFor="let impact of impactLevels; let i = index;"
                    class="risk-selector__heatmap__row flex text-bold text-center column-reverse height-100"
                >
                    <ng-container *ngFor="let heatmap of heatmapMatrix[i]">
                        <a
                            [attr.ot-auto-id]="'RiskHeatmapDropdownTile__' + i"
                            class="risk-selector__heatmap__tile margin-top-quarter text-decoration-none color-white full-size margin-top-bottom-quarter column-horizontal-vertical-center"
                            [ngStyle]="{'background-color': heatmap.color}"
                            (click)="onHeatMapTileClick(heatmap)"
                            (mouseleave)="onHeatmapTileMouseLeave()"
                            (mouseover)="onHeatmapTileMouseOver(heatmap)"
                        >
                            {{heatmap.score}}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
        <div
            class="risk-selector__heatmap__score-container-height full-width row-horizontal-vertical-center text-italic padding-top-bottom-half"
        >
            {{'Impact' | otTranslate}}
        </div>
    </div>
</ng-template>
<ng-template #riskLevelPopoverDropdown>
    <ul class="sld-dropdown__list" role="menu">
        <li
            *ngFor="let level of riskLevels"
            class="slds-dropdown__item" role="presentation">
            <a role="menuitem"
                class="risk-selector__level__item"
                (click)="onRiskLevelSelected(level)"
            >
                <div class="height-2 width-2" [ngStyle]="{ 'backgroundColor': riskV2Levels[level.name] | otRiskColor }">
                    <p class="text-center color-white">{{level.score}}</p>
                </div>
                <span class="text-medium padding-left-1">{{ riskTranslations[level.name] | otTranslate}}</span>
            </a>
        </li>
    </ul>
</ng-template>
