.risk-selector {
    &__button {
        height: 4.6rem !important;
        width: 4.6rem !important;
        border-radius: 3px;
        min-width: 4rem;

        &--disabled {
            cursor: default;
        }
    }

    &__score-container-height {
        min-height: 2.6rem;

        &--enabled {
            height: 3.5rem;
        }

        &--disabled {
            height: 4.6rem;
        }
    }

    &__arrow-container {
        height: 1.5rem;
        background-color: rgba(203, 203, 203, 0.5);
    }

    &__pop-over {
        z-index: 50000 !important;
    }

    &__heatmap {
        border: 1px solid $grey-3;

        &__y-axis {
            flex-basis: 17rem;

            &__label {
                transform: rotate(270deg);
                transform-origin: center;
                width: 15.2rem;
                padding: 0 3.5rem
            }
        }

        &__row {
            width: 3.5rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }

        &__tile {
            margin-bottom: 0.25rem !important;
            &:hover {
                color: $white;
                transform: scale(1.15);
                transition-duration: 0.05s;
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
            }
        }
    }

    &__level {
        &__item {
            justify-content: start !important;
        }
    }

    &__pop-over{
        z-index: ($z-index-modal + 1);
    }
}
