<div class="padding-all-2 flex-full-height full-width background-white overflow-auto">
    <form
        name="PreferenceCenterContent"
        class="margin-top-bottom-2 margin-left-right-auto max-width-50"
        #pcform="ngForm"
        >
        <h2 class="margin-top-4 text-center">
            {{ "CustomStyleSheet" | otTranslate }}
        </h2>
        <p class="margin-bottom-2">
            {{ "ConsentCustomStyleSheetDescription" | otTranslate }}
        </p>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'CustomCssUrl' | otTranslate"
            [hasError]="hasCssUrlError"
            [errorMessage]="'InvalidCustomCssUrl' | otTranslate"
            >
            <input otInput
                class="one-input full-width"
                name="PreferenceCenterCustomCss"
                maxlength="200"
                [attr.ot-auto-id]="'PreferenceCenterCustomCss'"
                [placeholder]="'PreferenceCenterCustomCssPlaceholder' | otTranslate"
                [ngModel]="preferenceCenterSettings.CustomCssUrl"
                [readonly]="cssUrlReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onCustomCssChange($event)"
                />
        </div>
        <h2 class="margin-top-4 text-center">
            {{ "Content" | otTranslate }}
        </h2>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Title' | otTranslate"
            >
            <input otInput
                class="one-input full-width"
                name="Title"
                maxlength="200"
                autofocus
                [attr.ot-auto-id]="'PreferenceCenterContentTitleInput'"
                [placeholder]="'PreferenceCenterTitle' | otTranslate"
                [ngModel]="preferenceCenterLabels.Title"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'Title')"
                />
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'UnsubscribeAllButtonLabel' | otTranslate"
            >
            <input otInput
                class="one-input full-width"
                name="PreferenceCenterUnsubscribeAllButtonLabel"
                maxlength="200"
                [attr.ot-auto-id]="'PreferenceCenterContentUnsubscribeAllLabel'"
                [placeholder]="'UnsubscribeAllButtonLabel' | otTranslate"
                [ngModel]="preferenceCenterLabels.UnsubscribeAllLabel"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'UnsubscribeAllLabel')"
                />
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'ChangePreferencesButtonLabel' | otTranslate"
            >
            <input otInput
                class="one-input full-width"
                name="PreferenceCenterChangePreferencesButtonLabel"
                maxlength="200"
                [attr.ot-auto-id]="'PreferenceCenterContentChangePreferencesLabel'"
                [placeholder]="'ChangePreferencesButtonLabel' | otTranslate"
                [ngModel]="preferenceCenterLabels.ChangePreferencesLabel"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'ChangePreferencesLabel')"
                />
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'PreferenceCenterUpdateSuccessLabel' | otTranslate"
            >
            <textarea otTextarea
                class="full-width"
                name="PreferenceCenterUpdateSuccessLabel"
                maxlength="500"
                [attr.ot-auto-id]="'PreferenceCenterUpdateSuccessLabel'"
                [placeholder]="'PreferenceCenterUpdateSuccessPlaceholder' | otTranslate"
                [ngModel]="preferenceCenterLabels.UpdateSuccessLabel"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'UpdateSuccessLabel')"
                >
            </textarea>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'PreferenceCenterUpdateErrorLabel' | otTranslate"
            >
            <textarea otTextarea
                class="full-width"
                name="PreferenceCenterUpdateErrorLabel"
                maxlength="500"
                [attr.ot-auto-id]="'PreferenceCenterUpdateErrorLabel'"
                [placeholder]="'PreferenceCenterUpdateErrorPlaceholder' | otTranslate"
                [ngModel]="preferenceCenterLabels.UpdateErrorLabel"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'UpdateErrorLabel')"
                >
            </textarea>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'PreferenceCenterUnsubscribeSuccessLabel' | otTranslate"
            >
            <textarea otTextarea
                class="full-width"
                name="PreferenceCenterUnsubscribeSuccessLabel"
                maxlength="500"
                [attr.ot-auto-id]="'PreferenceCenterUnsubscribeSuccessLabel'"
                [placeholder]="'PreferenceCenterUnsubscribeSuccessPlaceholder' | otTranslate"
                [ngModel]="preferenceCenterLabels.UnsubscribeSuccessLabel"
                [readonly]="formReadonly"
                [disabled]="isInactive"
                (ngModelChange)="onLabelChange($event, 'UnsubscribeSuccessLabel')"
                >
            </textarea>
        </div>
    </form>
</div>