<ot-modal-header (close)="completeModalEvent(false)">
    <div>{{ (isEditMode ? 'EditCategoryDetails' : 'AddCategory') | translate }}</div>
</ot-modal-header>
<ot-modal-content class="margin-0 padding-bottom-5">
    <ot-notification
        *ngIf="isEditMode"
        class="margin-bottom-2"
        icon="ot ot-exclamation-circle"
        type="warning"
        [allowClose]="false"
    >
        {{ 'RiskEditCategoryWarningMessage' | translate }}
    </ot-notification>
    <div
        *ngIf="isEditMode"
        class="margin-top-bottom-2"
        >
        <span class="text-bold padding-right-1">
            {{ 'CurrentName' | translate }}
        </span>
        {{ otModalData.categoryInformation.name }}
    </div>
    <form [formGroup]="categoryForm" class="full-width">
        <div otFormElement
            class="margin-top-bottom-2"
            [label]="(isEditMode ? 'NewName' : 'Name') | translate"
            [required]="true"
            >
            <input otInput
                ot-auto-id="RiskAddCategoryNameInput"
                autofocus
                formControlName="name"
                [placeholder]="'CategoryName' | translate"
            />
        </div>
        <div otFormElement
            [label]="'Description' | translate"
            >
            <textarea otTextarea
                ot-auto-id="RiskAddCAtegoryDescriptionTextArea"
                formControlName="description"
                [placeholder]="'CategoryDescription' | translate"
            ></textarea>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="RiskAddCategoryCancelModalButton"
        [disabled]="isSavingAndAddingNewCategory || isSaving"
        (click)="completeModalEvent(false)"
        >
        {{ 'Cancel' | translate }}
    </button>
    <button otButton neutral
        *ngIf="!isEditMode"
        ot-auto-id="RiskAddCategorySaveAndAddAnotherModalButton"
        [disabled]="isSaving || canSave()"
        [loading]="isSavingAndAddingNewCategory"
        (click)="onSave(true)"
        >
        {{ 'SaveAndAddAnother' | translate }}
    </button>
    <button otButton brand
        ot-auto-id="RiskAddCategorySaveModalButton"
        [disabled]="canSave() || isSavingAndAddingNewCategory"
        [loading]="isSaving"
        (click)="onSave(false)"
        >
        {{ 'Save' | translate }}
    </button>
</ot-modal-footer>
