.assessment-dashboard-wrapper {
    &__dashboard-card {
        min-height: 46rem;
    }
    &__aging-card {
        min-height: 40rem;
    }
// overriding project graph and aging graph styles
    path.slice {
        stroke-width: 2px;
    }
    polyline {
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }

    #one-aging-graph text {
        fill: $slate;
        font-weight: normal !important;
    }

    .domain {
        fill: none;
        stroke: $grey-1;
        stroke-width: 1px;
    }
    .node {
        cursor: pointer;
    }
    .template-select-max-25 {
        .slds-has-inline-listbox,
        .slds-combobox {
            max-width: 25rem;
        }
    }
    .template-select-max-24 {
        .slds-has-inline-listbox,
        .slds-combobox {
            max-width: 24rem;
        }
    }
    .template-select-left-margin-1 {
        .slds-has-inline-listbox {
            margin-left: 1rem;
        }
    }
}
