<div class="assessment-dashboard-wrapper flex-full-height height-100 background-grey padding-bottom-1 color-slate">
    <!-- dashboard header -->
    <div class="paragraph-large padding-all-1 shadow7">
        {{"Dashboard" | otTranslate}}
    </div>
    <div class="overflow-y-auto overflow-x-hidden stretch-vertical column-nowrap padding-left-right-1">
        <!-- assessment status count and chart -->
        <assessment-status-wrapper
            class="assessment-dashboard-wrapper__dashboard-card row-nowrap padding-top-2 static-vertical"
            [orgList]="orgList"
        ></assessment-status-wrapper>
        <!-- assessment aging graph -->
        <assessment-aging-graph-wrapper
            class="assessment-dashboard-wrapper__aging-card shadow7 row-nowrap margin-top-2 static-vertical"
            [orgList]="orgList"
        ></assessment-aging-graph-wrapper>
        <!--TODO: below two graphs will be shown for the next release -->
        <!-- risk summary graph -->
        <risk-summary-graph-wrapper
            class="assessment-dashboard-wrapper__dashboard-card shadow7 row-nowrap margin-top-2 static-vertical"
            [orgList]="orgList"
        ></risk-summary-graph-wrapper>
        <!-- project counts by risk-->
        <assessment-risk-count-wrapper
            class="assessment-dashboard-wrapper__dashboard-card shadow7 row-nowrap margin-top-2 static-vertical"
            [orgList]="orgList"
        ></assessment-risk-count-wrapper>
    </div>
</div>
