<div otFormElement>
    <ot-lookup
        ot-auto-id="MultiSelectDropdownSelectOption"
        [allowHint]="question.attributeJson.optionHintEnabled"
        [allowCustomOtherPill]="true"
        [customOtherPillKey]="'optionType'"
        [customOtherPillValue]="'OTHERS'"
        [inputValue]="inputValue"
        [autoClose]="true"
        [clearInputOnModelChange]="true"
        [hintKey]="'Hint'"
        [hintPosition]="'left'"
        [labelKey]="'option'"
        [valueKey]="'id'"
        [model]="selectedOptions"
        [multiSelect]="true"
        [options]="options"
        [placeholder]="'Select' | otTranslate"
        (inputChange)="onInputChange($event)"
        (modelChange)="onModelChange($event)"
        (firstOptionSelect)="handleFirstOption(inputValue)"
    >
        <ng-template otFirstOption>
            <span
                *ngIf="!question.attributeJson.allowOther"
                role="option">
                - - - -
            </span>
            <span
                *ngIf="!inputValue && question.attributeJson.allowOther"
                id="listbox-option-unique-id-00"
                role="option"
            >
                {{prependText}}:
            </span>
            <span
                *ngIf="inputValue && question.attributeJson.allowOther"
                id="listbox-option-unique-id-00"
                role="option"
            >
                {{prependText}}: {{inputValue}}
            </span>
        </ng-template>
    </ot-lookup>
</div>
<div class="row-wrap padding-top-bottom-1">
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'MultiSelectDropdownQuestionNotSureBtn'"
        [disabled]="isDisabled"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="toggleNotSureAnswer()"
        >
    </button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'MultiSelectDropdownNotApplicableBtn'"
        [disabled]="isDisabled"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="toggleNotApplicableAnswer()"
        >
    </button>
</div>
<div otFormElement
    *ngIf="question.attributeJson.allowJustification"
    name="translations.justifyYourAnswerBelow"
    class="margin-top-bottom-1"
    [label]="'JustifyYourAnswerBelow' | otTranslate: {Justify: 'Justify' | otTranslate}"
    [required]="question.attributeJson.requireJustification"
>
    <textarea
        otTextarea
        [attr.ot-auto-id]="'PreviewTextboxJustification'"
        [placeholder]="'PleaseProvideJustification' | otTranslate"
    >
    </textarea>
</div>

