<one-modal-base
    class="aa-attachments-modal one-modal-new flex-full-height border-bottom"
    [modalTitle]="'Attachments' | otTranslate"
    [closeIsDisabled]="isLoading"
    (close)="closeModal()">
    <div   
        *ngIf="!isLoading; else showLoader" 
        class="row-nowrap margin-top-5 margin-left-right-5 height-100">   
        <div class="width-50-percent overflow-y-auto padding-right-5">
            <div otFileDragDrop
                class="drop-container background-white full-width column-horizontal-vertical-center  padding-bottom-1"
                [class.hovering]="isHovering"
                [allowedExtensions]="acceptedFileTypes"
                (filesDropped)="handleFilesDropped($event)"
                (filesHovered)="handleFilesHovered($event)">
                <div [innerHTML]="'DropAttachmentOrClickToBrowse' | otTranslate"></div>
                <label class="padding-top-bottom-half">
                    <span
                        otButton brand
                        class="upload-button cursor-pointer"
                        [ngClass] = "{'pointer-events-none opacity-50': isDisabled || isReadOnly || restrictInvitedUser}"
                    >
                        <input otFileSelect
                            class="full-height"
                            type="file"
                            ot-auto-id="AAAttachmentsModalFileInputField"
                            [allowedExtensions]="acceptedFileTypes"
                            [disabled] = "isDisabled || isReadOnly || restrictInvitedUser"
                            (filesSelected)="handleFileSelected($event)"
                        >
                            {{"UploadAttachment" | otTranslate}}
                    </span>
                </label>
            </div>
            <div class="text-small text-center color-cherry"
                *ngFor="let error of attachmentErrorList;trackBy: columnTrackBy;">
                    {{error}}
            </div>
            <div class="text-small text-center padding-bottom-2 padding-top-1">
                {{"FilesLargerThan64MbNotSupported" | otTranslate}}
            </div>
            <div class="description-container">
                <div *ngIf="attachment" class="border-top">
                    <div class="padding-top-bottom-2 text-bold">
                        {{attachment.name}}
                        <i *ngIf="!isDisabled" class="ot ot-times pull-right"
                            ot-auto-id="AAAttachmentsModalCancelButton"
                            (click)="cancelAttachment()">
                        </i>
                    </div>
                    <div otFormElement
                        [label]="'Description' | otTranslate">
                        <textarea otTextarea
                            ot-auto-id="AAAttachmentsModalDescription"
                            [placeholder]="placeholder"
                            [ngModel]="description"
                            (ngModelChange)="getDescription($event)">
                        </textarea>
                    </div>
                    <div class="row-flex-end padding-top-3">
                        <button otButton neutral
                            *ngIf="permissions.canShow('AssessmentAttachmentAdd') && !restrictInvitedUser"
                            ot-auto-id="AAAtachmentsModalAddAttachmentButton"
                            (click)="addAttachment()"
                            [disabled]="isDisabled">
                            {{"AddAttachment" | otTranslate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div  
            *ngIf="!isLoading"  
            class="list-height width-50-percent overflow-y-auto ms-overflow-none padding-left-5">
              
            <one-empty-state
                *ngIf="!attachmentList.length && !isLoading"
                class="column-horizontal-vertical-center height-100">
            </one-empty-state>
            <ng-container *ngIf="attachmentList.length && !isLoading">
                <div
                    class="border-bottom"
                    *ngFor="let attachment of attachmentList;trackBy: columnTrackBy;">
                    <div class="padding-left-1">
                        <div class="text-small padding-top-bottom-half padding-right-1">
                            {{attachment.createdDate | otDate: "dateTime"}}
                            <i
                                *ngIf="canUserDeleteAttachment(attachment.attachmentId) && !isReadOnly && !restrictInvitedUser"
                                class="ot ot-trash pull-right"
                                ot-auto-id="AAAttachmentsModalDeleteIcon"
                               (click)="deleteAttachment(attachment.attachmentId)">
                            </i>
                        </div>
                        <a class="text-bold padding-bottom-half"
                            (click)="downloadAttachment(attachment)">
                            {{attachment.fileName}}
                        </a>
                        <div class="text-bold padding-bottom-half">
                            {{"AddedBy" | otTranslate}}:
                            <p class="text-normal inline">{{attachment.creator?.name}}</p>
                        </div>
                        <div
                            class="overflow-hidden max-height-5 padding-bottom-half text-small slds-truncate"
                            [otTooltip]="attachment.fileDescription">
                            {{attachment.fileDescription}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-template #showLoader>
        <ot-loading otPageLoading></ot-loading>
    </ng-template>
    <footer class="flex justify-center modal-footer border-none padding-all-1 background-white">
        <button otButton brand
            ot-auto-id="AAAttachmentsModalCloseButton"
            [disabled]="isLoading"
            [innerText]="'Close' | otTranslate"
            (click)="closeModal()">
        </button>
    </footer>
</one-modal-base>
