.aa-attachments-modal {
    .drop-container {
        height: 15rem;
        border: 2px dashed $platinum;
        &:hover {
            border: 2px solid rgba($blue, 0.3);
        }

        &.hovering {
            border: 2px solid rgba($blue, 0.3);
        }
        .upload-button {
            cursor: pointer;
            input {
                display: none;
            }
        }
    }
    .description-container {
        height: 23rem;
    }
    .list-height {
        max-height: 41.1rem;
    }

}
