<div class="position-relative background-white shadow7 cursor-pointer column-space-between border-radius template-card__item">
    <div
        *ngIf="showSettings"
        class="ot ot-gear position-absolute text-large top-1 text-grey-3 template-card__top-icon no-outline"
        ot-auto-id="TemplateCustomCardSettingsMenuToggle"
        (click)="toggleSettingsMenu($event)"
    >
    </div>
    <i
        *ngIf="infoIconTooltipText"
        class="position-absolute text-large top-1 text-grey-3 template-card__top-icon no-outline"
        [ngClass]="{'ot ot-info': showInfoIcon}"
        [otTooltip]="{ content: infoIconTooltipText, placement: 'bottom' }"
    >
    </i>
    <div class="column-space-between text-center stretch-vertical align-center full-width text-decoration-none text-grey-3 template-card__link">
        <div
            class="column-vertical-center stretch-horizontal full-width opacity-1 template-card__info"
            (click)="templateDetailsNavigator()"
        >
            <i
                class="margin-bottom-1 text-grey-3 template-card__icon ot {{icon}}"
                [ngClass]="{
                            'template-card__icon--published':((!isLocked && !activeState) || (activeState && activeState !== templateStates.Draft))
                        }"
            >
            </i>
            <p
                class="template-card__name overflow-ellipsis-nowrap text-color-default padding-left-right-2"
                [otTooltip]="{ content: templateName, placement: 'bottom' }"
            >
                {{templateName}}
            </p>
            <section
                class="row-horizontal-center static-vertical text-uppercase text-small template-card__tags"
                [ngClass]="{'template-card__tags--published':((!isLocked && !activeState) || (activeState && activeState !== templateStates.Draft))}"
            >
                <span
                    *ngIf="version"
                    class="template-card__tags-item margin-top-bottom-half" >
                    V{{version}}
                </span>
                <span
                    *ngIf="isLocked"
                    class="template-card__tags-item margin-left-half margin-top-bottom-half"
                >
                    <i class="ot ot-lock"></i>
                </span>
            </section>
        </div>
        <section
            *ngIf="(published || draft)"
            class="margin-all-0 static-vertical row-nowrap full-width template-card__tabs"
            (click)="$event.stopPropagation()"
        >
            <div class="full-width flex text-center background-grey static-vertical">
                <div
                    *ngIf="published"
                    class="border-all-0 no-outline full-size text-success background-none template-card__tabs-action"
                    ot-auto-id="TemplateCustomCardNavigateToPublishedTemplate"
                    [ngClass]="{'background-white stretch-vertical template-card__tabs-action--is-active':activeState === templateStates.Published}"
                    (click)="toggleState(templateStates.Published)"
                >
                    {{"Published" | otTranslate}}
                </div>
                <div
                    *ngIf="draft"
                    class="border-all-0 no-outline full-size text-color-default background-none template-card__tabs-action"
                    ot-auto-id="TemplateCustomCardNavigateToDraftTemplate"
                    [ngClass]="{'background-white stretch-vertical template-card__tabs-action--is-active':activeState === templateStates.Draft}"
                    (click)="toggleState(templateStates.Draft)"
                >
                    {{"Draft" | otTranslate}}
                </div>
            </div>
        </section>
    </div>
    <div class="row-horizontal-center stretch-vertical align-center">
        <template-card-settings
            *ngIf="isSettingsShown"
            [draft]="draft"
            [published]="published"
            [templateRootId]="templateRootId"
            [activeState]="activeState"
            (onClose)="hideSettingsMenu()"
            (click)="$event.preventDefault()"
            >
        </template-card-settings>
    </div>
</div>
