.template-card {
    &__item {
        width: 22rem;
        min-height: 200px;
        flex: 0 0 22rem;
        margin: 1.6rem;
    }

    &__top-icon {
        right: 1.4rem;
    }

    &__link {
        min-height: 200px;
    }

    &__info {
        transition: opacity .1s ease;
        &:hover {
            .template-card__icon,
            .template-card__tags {
                color: darken($grey-3, 10%);
                &--published {
                    color: darken($green, 10%);
                }
            }
            .template-card__name {
                color: darken($slate, 15%);
            }
        }
    }

    &__icon {
        font-size: 4rem;
        &--published {
            color: $green;
        }
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
    &__tags {
        align-items: baseline;
        &-item {
            border: 1px solid;
            padding: 0.2rem 1rem;
            letter-spacing: 0.8px;
        }
        &--published {
            color: $green;
        }
    }

    &__tabs {
        outline: none;
        &-action {
            border-top: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            padding: .6rem 1rem;
            &--is-active {
                border-top: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
