<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
    >
    <section class="export-report-confirmation-modal padding-all-2">
        <p
            class="text-center margin-top-bottom-2"
            [innerText]="modalBody"
            >
        </p>
        <div class="text-center margin-bottom-4">
            <img [src]="imgSrc"/>
        </div>
    </section>
    <footer class="row-horizontal-center margin-bottom-2">
        <button
            otButton
            brand
            [attr.ot-auto-id]="'EditOptionCancelButton'"
            [innerText]="closeText"
            (click)="closeModal()"
            >
        </button>
    </footer>
</one-modal-base>
