<ot-modal-header (close)="closeModal()">
    <div>{{ title }}</div>
</ot-modal-header>
<ot-modal-content>
    <form  novalidate
        class="height-100"
        [formGroup]="importForm"
    >
        <div otFormElement
            class="padding-top-bottom-1"
            [label]="'ImportType' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                ot-auto-id="IntgImportModalImportType"
                valueKey="value"
                labelKey="key"
                [placeholder]="'Select' | otTranslate"
                [autoClose]="true"
                [options]="importTypes"
                [model]="importForm.get('importType').value"
                (onSelect)="importForm.get('importType').setValue($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            *ngIf="selectedImportType === importType.UpdateSystemFromJSON"
            class="padding-top-bottom-1"
            [label]="'System' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                ot-auto-id="IntgImportModalSystem"
                valueKey="id"
                labelKey="name"
                [autoClose]="true"
                [options]="systems"
                [model]="importForm.get('system').value"
                (onSelect)="importForm.get('system').setValue($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            *ngIf="selectedImportType === importType.CreateSystemFromJSON"
            class="padding-top-bottom-1"
            [label]="'System' | otTranslate"
            [required]="true"
        >
            <input otInput
                formControlName="systemName"
                ot-auto-id="IntgImportModalSystemName"
                maxlength="100"
                [placeholder]="'EnterName'| otTranslate"
            />
        </div>
        <div otFormElement
            *ngIf="selectedImportType === importType.CreateSystem"
            class="padding-top-bottom-1"
            [label]="'Name' | otTranslate"
            [required]="true"
        >
            <input otInput
                formControlName="name"
                ot-auto-id="IntgImportModalCustomSystemName"
                maxlength="100"
                [placeholder]="'EnterName'| otTranslate"
            />
        </div>
        <div otFormElement
            *ngIf="selectedImportType === importType.CreateSystem"
            class="padding-top-bottom-1"
            [label]="'Description' | otTranslate"
            [required]="true"
        >
            <textarea otTextarea
                formControlName="description"
                ot-auto-id="IntgImportModalCustomSystemDescription"
                maxlength="200"
                [placeholder]="'EnterDescription' | otTranslate"
            ></textarea>
        </div>
        <div otFormElement
            *ngIf="selectedImportType === importType.WorkflowCreate; else system"
            class="padding-top-bottom-1"
            [label]="'WorkflowName' | otTranslate"
            [required]="true"
        >
            <input otInput
                formControlName="workflowName"
                ot-auto-id="IntgImportModalWorkflowName"
                maxlength="100"
                [placeholder]="'EnterName'| otTranslate"
            />
        </div>
        <ng-template #system>
            <div otFormElement
                class="padding-top-bottom-1"
                [label]="'CustomIcon' | otTranslate"
            >
                <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                    <div otFileDragDrop
                        class="drop-container background-white full-width column-horizontal-vertical-center padding-bottom-1"
                        (filesDropped)="handleFile($event, true)">
                        <div class="margin-top-2 text-medium-small text-bold">{{'UploadIconForSystem' | otTranslate}}</div>
                        <div class="text-medium-small">{{ 'AcceptedFileFormatWording' | otTranslate }}</div>
                        <label class="padding-top-bottom-half margin-bottom-1">
                            <span class="file-upload-button slds-button slds-button_brand cursor-pointer">
                                <input otFileSelect
                                    class="full-height"
                                    ot-auto-id="IntgImportModalUploadIconButton"
                                    type="file"
                                    accept=".png, .jpg, .jpeg"
                                    (filesSelected)="handleFile($event, true)">
                                    {{'UploadIcon' | otTranslate}}
                            </span>
                        </label>
                    </div>
                </div>
                <div
                    *ngIf="iconInvalidFilesFromDrag.length"
                    class="slds-m-around_small"
                >
                    <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'acceptedIconTypes' | otTranslate}}
                        <ng-container *ngFor="let file of iconInvalidFilesFromDrag">
                            <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                        </ng-container>
                    </div>
                </div>
                <div
                    *ngIf="iconFilesFromTooBig.length && !isCurrentFileSizeAccepted"
                    class="slds-m-around_small"
                >
                    <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'iconFileSizeTooLarge' | otTranslate}}
                        <ng-container *ngFor="let file of iconFilesFromTooBig">
                            <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                        </ng-container>
                    </div>
                </div>
                <div
                    *ngIf="iconFilesFromInput.length"
                    class="slds-m-around_small"
                >
                    <div class="text-bold color-green"><i class="ot ot-check-circle-o" aria-hidden="true"></i> {{'ValidUpload' | otTranslate}}
                        <ng-container *ngFor="let file of iconFilesFromInput">
                            <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                        </ng-container>
                    </div>
                </div>
                <div class="text-right text-xlarge margin-top-1">
                    <i class="ot ot-trash text-pointer"
                        ot-auto-id="IntgImportClearIconFile"
                        (click)="clearFiles(true)"
                    ></i>
                </div>
            </div>
        </ng-template>
        <div otFormElement
            *ngIf="isFileUplod"
            class="padding-top-bottom-1"
            [label]="'File' | otTranslate"
            [required]="true"
        >
            <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                <div otFileDragDrop
                    class="drop-container background-white full-width column-horizontal-vertical-center padding-bottom-1"
                    (filesDropped)="handleFile($event, false)">
                    <div class="margin-top-2 text-medium-small">{{ 'FilesLargerThan64MbNotSupported' | otTranslate }}</div>
                    <label class="padding-top-bottom-half margin-bottom-1">
                        <span class="file-upload-button slds-button slds-button_brand cursor-pointer">
                            <input otFileSelect
                                class="full-height"
                                type="file"
                                accept=".json"
                                [allowedExtensions]="allowedExtensions"
                                ot-auto-id="IntgImportModalFileUpload"
                                (filesSelected)="handleFile($event, false)">
                                {{'UploadFile' | otTranslate}}
                        </span>
                    </label>
                    <div class="text-medium-small color-cherry">{{ 'ChooseJsonFileFormat' | otTranslate }}</div>
                </div>
            </div>
            <div
                *ngIf="swaggerInvalidFilesFromDrag.length || isInvalidJsonFile"
                class="slds-m-around_small"
            >
                <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'InvalidJSONFile' | otTranslate}}
                    <ng-container *ngFor="let file of swaggerInvalidFilesFromDrag">
                        <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                    </ng-container>
                    <ng-container *ngFor="let file of swaggerFilesFromInput">
                        <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                    </ng-container>
                </div>
            </div>
            <div class="slds-m-around_small"
                *ngIf="swaggerFilesFromTooBig.length && !isCurrentSwaggerFileSizeAccepted">
                <div class="text-bold color-cherry"><i class="ot ot-times-circle" aria-hidden="true"></i> {{'iconFileSizeTooLarge' | otTranslate}}
                    <ng-container *ngFor="let file of swaggerFilesFromTooBig">
                        <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                    </ng-container>
                </div>
            </div>
            <div
                *ngIf="swaggerFilesFromInput.length && !isInvalidJsonFile"
                class="slds-m-around_small"
            >
                <div class="text-bold color-green"><i class="ot ot-check-circle-o" aria-hidden="true"></i> {{'ValidUpload' | otTranslate}}
                    <ng-container *ngFor="let file of swaggerFilesFromInput">
                        <p class="pull-right text-medium-small text-color-default">{{file.name}}</p>
                    </ng-container>
                </div>
            </div>
            <div class="text-right text-xlarge margin-top-1">
                <i class="ot ot-trash text-pointer"
                    ot-auto-id="IntgImportClearJsonFile"
                    (click)="clearFiles()"
                ></i>
            </div>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IntgImportModalCancelBtn"
        (click)="closeModal()"
        >
        {{ 'Cancel'| otTranslate}}
    </button>
    <button otButton brand
        ot-auto-id="IntgImportModalSubmitBtn"
        [loading]="isSubmitting"
        [disabled]="importForm.invalid || canDisableImport()"
        (click)="import()"
        >
        {{ submitButtonText | otTranslate }}
    </button>
</ot-modal-footer>
