<section
    class="inventory-form min-width-100-percent flex-full-height"
    [ngClass]="wrapperClass"
    >
    <ot-loading
        otPageLoading
        class="margin-all-auto"
        *ngIf="isLoadingRecord || isLoadingGroups; else showForm"
        >
    </ot-loading>
    <ng-template #showForm>
        <ul class="row-wrap centered-max-100 full-width">
            <ng-container *ngIf="!onlyUngroupedAttributes; else noGrouping">
                <ng-container *ngFor="let group of groupsData; trackBy: idTrackBy">
                    <ng-container *ngIf="group?.attributes?.length">
                        <div class="min-width-100-percent border-bottom row-space-between margin-bottom-2 padding-all-1">
                            <span class="text-bold text-medium">
                                {{ group.nameKey ? (group.nameKey | otTranslate) : group.name }}
                            </span>
                            <i
                                class="margin-top-bottom-auto cursor-pointer"
                                *ngIf="groupsOpenMap && groupsOpenMap[group.id] !== undefined"
                                [ngClass]="groupsOpenMap[group.id] ? 'ot ot-chevron-down' : 'ot ot-chevron-right'"
                                (click)="groupsOpenMap[group.id] = !groupsOpenMap[group.id]"
                            ></i>
                        </div>
                        <ng-container *ngIf="groupsOpenMap && groupsOpenMap[group.id]">
                            <ng-container *ngFor="let fieldName of group.attributes; trackBy: indexTrackBy; let i = index">
                                <inventory-form-cell
                                    class="inventory-form__cell full-width max-width-50-percent row-nowrap"
                                    *ngIf="attributeMap && attributeMap[fieldName]"
                                    [scrollParentClass]="scrollParentClass"
                                    [attribute]="attributeMap[fieldName]"
                                    [isEditable]="isEditable"
                                    (viewRisk)="riskClick()"
                                ></inventory-form-cell>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-template #noGrouping>
                <ng-container *ngFor="let attribute of schema; trackBy: idTrackBy; let i = index">
                    <inventory-form-cell
                        class="inventory-form__cell full-width max-width-50-percent row-nowrap"
                        [scrollParentClass]="scrollParentClass"
                        [attribute]="attribute"
                        [isEditable]="isEditable"
                        (viewRisk)="riskClick()"
                    ></inventory-form-cell>
                </ng-container>
            </ng-template>
        </ul>
    </ng-template>
</section>
