<ot-loading otPageLoading *ngIf="loading"></ot-loading>
<div class="centered-max-50 margin-top-bottom-5">
    <h1 class="heading1 margin-bottom-2 text-thin text-center">{{'AddNewAPIConnection' | otTranslate}}</h1>
    <div
        otFormElement
        class="text-bold padding-left-right-1"
        [label]="'ConnectionType' | otTranslate"
        [required]="true"
    >
        <ot-lookup
            ot-auto-id="ConnectionManageSelectSystem"
            [placeholder]="'SelectAConnectionType' | otTranslate"
            [autoClose]="true"
            [options]="options"
            [labelKey]="'name'"
            [valueKey]="'id'"
            [model]="selectedSystem"
            (modelChange)="selectConnectionType($event)"
            (inputChange)="filterOptions($event)">
        </ot-lookup>
    </div>
    <div class="margin-top-2 text-right">
        <button
            otButton
            neutral
            ot-auto-id="ConnectionManageSelectSystemCancelBtn"
            (click)="goToRoute()"
        >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button
            otButton
            brand
            ot-auto-id="ConnectionManageSelectSystemNextBtn"
            button-class="margin-left-half"
            [disabled]="!selectedSystem"
            (click)="createConnection()">
            {{ 'Next' | otTranslate }}
        </button>
    </div>
</div>
