.vendor-related-asset-pa {
    .slds-virtual-scroll {
        .slds-listbox-virtual-scroll__first-option-template {
            border-bottom: none !important;
        }
        .slds-listbox {
            max-height: 15rem !important;
        }
    }
}
