.settings__heatmap {

    &-axis {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 2rem 0 0;

        &-x {
            padding-right: 1rem;
        }

        &-y {
            padding-left: 1rem;
        }

        &-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 2.1rem;

            &-edit {
                color: $ui-blue;
                margin-left: .6rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            &-form {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 1rem;
            }

            &-input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &-save {
                background-color: $ui-blue;
                color: $white;
                border: 1px solid $ui-blue;
                border-radius: 2px;
                &:hover {
                    background-color: lighten($ui-blue, 10%);
                    border-color: lighten($ui-blue, 10%);
                }
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 0 1.2rem;

                i {
                    margin: 0;
                }
            }
        }

        &-item {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 1rem;
        }

        &-label {
            margin: 0 1rem 0 0;
        }

        &-input {
            flex: 1 1 auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 3.8rem;
        }

        &-delete {
            background-color: $light-red;
            color: $white;
            border: 1px solid $light-red;
            border-radius: 2px;
            &:hover {
                background-color: lighten($light-red, 10%);
                border-color: lighten($light-red, 10%);
            }
            padding: 0.4rem 1.4rem;
            flex: 0 0 auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
            height: 3.8rem;

            i {
                margin: 0;
            }

            &:hover {
                border-left: 0;
            }
        }

        &-add {
            width: 100%;
            border: 1px dashed $grey-3;
            color: $grey-3;
            background: 0;

            i {
                margin-right: .6rem;
            }

            &:hover {
                border: 1px dashed $grey-3;
                color: $slate;
            }
        }
    }
}
