.pia-settings {
    height: 100%;
    padding: 0;
    color: #5e5e5e;

    .navbar-header {
        display: inline-flex;
        align-items: center;
        padding-left: 0.75rem;
        .navbar-header_toggle {
            margin-right: 1rem;
            font-size: 1.5rem;
            @media(min-width: $small) {
                display: none;
            }
        }
    }
    .beta-tag {
        margin-left: 1rem;
        vertical-align: middle;
    }
}

.switch {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    i {
        margin-right: 1rem;
        font-size: 2.2rem;
    }
    h3 {
        font-size: 2.4rem;
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }
}

.settings-list {
    height: 100%;
    padding: 0 20px 20px;
    .settings-section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        .settings-section-title {
            padding: 10px 10px 15px 0;
            margin: 20px 0 8px;
            border-bottom: 1px solid #E8E8E8;
            &-span {
                font-size: 1em;
            }
        }
        .settings-section-list {
            margin-left: 0;
            list-style: none;
            padding: 0 0 12px;
            .active,
                :active,
                :hover {
                color: #111;
                background-color: #e9e9e9;
                box-shadow: 0 -1px 1px #DDD;
            }
            .settings-section-list-item {
                float: none;
                height: 25px;
                display: block;
                margin-bottom: 0.5rem;
                &-a {
                    display: block;
                    opacity: 0.8;
                    padding: 5px 10px;
                    border-radius: 3px;
                    margin-bottom: 0.5rem;
                    text-decoration: none;
                    .beta-tag {
                        color: #B7B7B7 !important;
                        box-shadow: none;
                    }
                    .upgrade__icon {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
}

.settings-body-header {
    background-color: $paper;
    width: auto;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 5rem;
    outline: none;
    height: 5rem;
    font-size: 2em;
    @media(max-width: $small) {
        padding: 0.5rem 2rem;
    }
}

.settings-description {
    display: flex;
    border-bottom: 1px solid $grey-3;
    min-height: 2rem;
    background-color: #efefef;
    border-left: none;
    padding: 1rem 5rem;
}

.settings-body-content {
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 2.5rem 5rem;
    margin-bottom: 5rem;
    @media(max-width: $small) {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    .inheritance {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 20px 4rem;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px 0;
        i {
            margin-right: 1rem;
            font-size: 2.2rem;
        }
        h3 {
            font-size: 2.4rem;
            flex: 1 1 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
        }
        button {
            @include button(select);
            margin: 0 1rem 1rem 0;
        }
        span {
            color: $white;
            margin: 1rem 2rem;
            font-size: 1.8rem;
            @media (min-width: 500px) {
                margin: 0 2rem;
            }
        }
    }
    .settings-input-section {
        .settings-input-section-name {
            text-align: left;
            &:not(:first-child) {
                margin-top: 50px;
            }
            .upgrade__icon {
                position: relative;
                top: -0.8rem;
                font-size: 1.4rem;
                margin-left: .4rem;
            }
            .beta-tag {
                display: inline;
            }
        }
        .settings-section-label {
            display: block;
            font-size: 1.25em;
            font-weight: lighter;
            margin-top: 0.5rem;
        }
        .settings-section-file {
            padding: 0.75rem 1rem;
        }
        .logo-uploader {
            .app-logo {
                background-image: url('../images/checkered-blend.png');
                margin: 1rem 0;
                padding: .5rem;
                height: 5.5rem;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
        .deadline,
        .reminder {
            display: inline-flex;
            justify-content: flex-start;
            &-none {
                @include checkbox;
            }
            &-input {
                margin-left: 1rem;
                width: 10rem;
                height: 3rem;
                padding-left: 1.2rem;
                text-align: center;
                vertical-align: middle;
            }
            &-message {
                margin-left: 1rem;
                align-self: center;
            }
        }
    }
}

.settings-submit-section {
    width: 90%;
    margin: 1rem auto 0;
    border-top: solid 1px #E4E4E4;
    padding: 1rem;
    text-align: center;
    @media(max-width: $small) {
        padding: 1rem 0;
        width: 100%;
    }
}

.settings {
    &__section {
        margin-bottom: 3rem;
        &-title {
            margin-bottom: 1rem;
            display: block;
            font-size: 1.25em;
            font-weight: normal;
        }
        &-info {
            margin-left: 0.6rem;
            font-size: 1.4rem;
        }
    }
    &__toggle {
        @include button(select);
        margin-right: 1rem;
    }
}

.settings-API {
    .checkbox {
        width: 110px;
    }
    th,
    td {
        width: 100%;
    }
}

@import 'terminology';
@import 'risks';

.message-template {
    form {
        max-width: inherit;
        width: 100%;
    }

    .minicolors-swatch.minicolors-sprite {
        top: 0.4rem;
        left: 0.4rem;
    }
}

.pia-settings .settings-content .settings-body .settings-submit-section {
    border: none;
}
