.terminology {

      &__dropdown {
        flex: none;
        display: inline-block;
        margin: 0 auto;

        &-container{
            margin: 2rem auto;
            text-align: center;
        }
        &-headline {
            font-size: 2.4rem;
            color: $slate;
            margin-bottom: 2rem;
        }
    }

    &__table {
        background-color: $white;
        color: $slate;
        border-color: $table-cell-border;
        width: 100%;
        max-width: 100rem;
        min-width: 60rem;
        margin: 0 auto;
        table-layout: auto;
        border-collapse: collapse;

        &-head {
            border-bottom: 2px solid $table-cell-border;
        }

        &-cell {
            padding: 1rem 2rem;
            text-align: center;
            vertical-align: middle;
        }
    }

    &__variation {
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &:last-child {
            margin-bottom: 0;
        }

        &-label {
            flex: 0 0 6rem;
            margin: 0 1rem 0 0;
            text-align: right;
        }

        &-input {
            flex: 1 1 auto;
            max-width: 30rem;
        }
    }

    &__default,
    &__custom,
    &__actions {
        padding: 1rem 2rem;
    }

    &__custom {
        width: 60%;
    }

    table,
    th,
    tr,
    td {
        border: 1px solid $table-cell-border;
    }
}
