<ot-modal-header (close)="closeSuccessModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content>

    <div *ngIf="successType === 'TrialSubmit'; else ContactUsSubmit">
        <img
            class="center-block"
            src="../shared/images/upgrade_image.svg">
        <div class="text-center">
            <p class="text-huge text-bold margin-top-3">
                {{ 'UpgradeAccountMessage' | otTranslate}}
            </p>
            <p>
                {{ 'UpgradeAccountInfo' | otTranslate }}
            </p>
        </div>
    </div>
    <ng-template #ContactUsSubmit>
        <img
            class="center-block width-20-percent"
            src="../shared/images/email_success.svg">
        <img
            class="
                center-block
                width-20-percent
                margin-top-1-half
                margin-bottom-2"
            src="../shared/images/logo.png">
        <div class="text-center">
            <p class="text-xlarge text-bold margin-bottom-2">
                {{'ContactUsThankYouMessage' | otTranslate}}
            </p>
            <p class="width-50-percent text-medium margin-0-auto">
                {{'ContactUsInfoMessage' | otTranslate}}
            </p>
        </div>
    </ng-template>
</ot-modal-content>
<ot-modal-footer *ngIf="successType === 'ContactSalesForm'">
    <button otButton brand
        ot-auto-id="ContactSalesSuccessCloseBtn"
        (click)="closeSuccessModal()"
        >
        {{'Close' | otTranslate}}
    </button>
</ot-modal-footer>
