<div class="height-100 column-nowrap">
    <upgraded-one-nav-header
        class="static-vertical"
        [title]="'AttributeManager' | otTranslate"
        >
    </upgraded-one-nav-header>
    <section class="stretch-vertical column-nowrap">
        <h4
            class="margin-top-4 margin-bottom-0 text-center"
            [innerText]="'ChooseYourInventoryType' | otTranslate"
            >
        </h4>
        <ul
            class="row-wrap justify-center full-width margin-top-4 margin-left-right-auto padding-bottom-10"
            ot-auto-id="AttributeManagerInventoryTypeList"
            >
            <ng-container *ngFor="let inventory of inventories">
                <li
                    class="one-card webform-tile margin-all-1-half padding-all-1 column-space-between align-center"
                    [attr.ot-auto-id]="'AttributeManagerInventoryTypeItem_' + inventory.id"
                    >
                    <h4
                        class="attribute-manager-entry__card-title text-bold text-center margin-all-auto full-width word-break-all"
                        [innerText]="inventory.label"
                        >
                    </h4>
                    <button
                        otButton
                        brand
                        class="attribute-manager-entry__card-btn"
                        [attr.ot-auto-id]="'AttributeManagerInventoryTypeButton_' + inventory.id"
                        [innerText]="'View' | otTranslate"
                        (click)="goToList(inventory.id)"
                        >
                    </button>
                </li>
            </ng-container>
        </ul>
    </section>
</div>
