.pia-project-table__name {
    &-version-select-wrapper {
        position: relative;
        height: 3rem;
    }

    &-version-select {
        height: 3rem;
        padding: .4rem 1.8rem .4rem .6rem;
        margin: 0;
        border: 1px solid $grey-3;
        border-radius: 2px;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline-width: 0;
        }

        &::-ms-expand {
            display: none;
        }
    }

    &-arrow {
        position: absolute;
        top: 0.8rem;
        right: .8rem;
        pointer-events: none;
        z-index: 1;
    }

    &-share-icon {
        min-width: 2rem;
        color: $grey-4;
    }
}
