<div>
    <h3>{{"Settings" | otTranslate}}</h3>
    <!-- use one trust jquery toggle -->
    <div
        otFormElement
        class="row-space-between width-25-percent margin-top-2"
        [label]="(permissions.nojQueryScriptEnabled) ? ('UseOneTrustJQueryScript' | otTranslate) : ('UseOneTrustJQuery' | otTranslate)"
        >
        <ot-toggle
            ot-auto-id="CookieScriptUseOneTrustJqueryToggle"
            [checked]="useOneTrustJqueryScript"
            [disabled]="disableOneTrustScriptToggle"
            (toggle)="onUseOneTrustJqueryToggle()"
        ></ot-toggle>
    </div>
    <div class="text-small">{{(permissions.nojQueryScriptEnabled) ? ('UseOneTrustPureJSNote' | otTranslate) : ('UseOneTrustJQueryNote' | otTranslate)}}</div>

    <!-- language switcher -->
    <ng-container *ngIf="permissions.canShowLanguageSwitcher">
         <!-- language switcher toggle -->
        <div class="flex">
            <div
                otFormElement
                class="row-space-between width-25-percent margin-top-2"
                [label]="'LanguageDetection' | otTranslate"
                >
                <ot-toggle
                    ot-auto-id="CookieScriptLanguageSwitcherToggle"
                    [checked]="languageSwitcher?.isEnabled"
                    [disabled]="disableLanguageSwitcher || disableGeoLocationSwitcher"
                    (toggle)="onLanguageSwitcherToggle()"
                ></ot-toggle>
            </div>
            <ot-loading
                *ngIf="disableLanguageSwitcher"
                class="margin-left-2 margin-top-1"
            ></ot-loading>
        </div>
        <div class="text-small">{{'LanguageDetectionNotes' | otTranslate}}</div>
        <!-- Default language selection -->
        <div
            *ngIf="languageSwitcher?.isEnabled"
            otFormElement
            class="flex margin-top-2"
            [label]="'DefaultLanguage' | otTranslate"
            >
            <ot-picklist
                class="min-width-25"
                ot-auto-id="CookieScriptBannerdefaultLanguageSelection"
                labelKey="englishName"
                valueKey="domainId"
                [placeholder]="'SelectLanguage' | otTranslate"
                [options]="languages"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                [disabled]="disableGeoLocationSwitcher || disableLanguageSwitcher"
                [model]="selectedDefaultLanguage"
                (onSelect)="onDefaultLanguageSelection($event)"
            ></ot-picklist>
        </div>
    </ng-container>
    <!-- geo location switcher-->
    <ng-container *ngIf="permissions.canShowGeoLocationSwitcher">
        <div
            otFormElement
            class="row-space-between width-25-percent margin-top-2"
            [label]="'GeoLocationDetection' | otTranslate"
        >
            <ot-toggle
                ot-auto-id="CookieScriptGeoLocationSwitcherToggle"
                [checked]="geoLocationSwitcher?.isEnabled"
                [disabled]="disableGeoLocationSwitcher || disableLanguageSwitcher"
                (toggle)="onGeoLocationSwitcherToggle()"
            ></ot-toggle>
        </div>
        <ng-container *ngIf="geoLocationSwitcher?.isEnabled">
            <!-- EU language -->
            <div
                otFormElement
                class="row-space-between max-width-35"
                [label]="'EU' | otTranslate"
            >
                <ot-picklist
                    class="min-width-25"
                    ot-auto-id="CookieScriptBannerEuLanguageSelection"
                    labelKey="englishName"
                    valueKey="domainId"
                    [placeholder]="'SelectLanguage' | otTranslate"
                    [options]="languages"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    [disabled]="disableGeoLocationSwitcher || disableLanguageSwitcher"
                    [model]="selectedEuLanguage"
                    (onSelect)="onEuLanguageSelection($event)"
                ></ot-picklist>
            </div>
            <!-- non-EU languagee -->
            <div
                otFormElement
                class="row-space-between max-width-35 margin-top-2"
                [label]="'NonEU' | otTranslate"
            >
                <ot-picklist
                    class="min-width-25"
                    [placeholder]="'SelectLanguage' | otTranslate"
                    ot-auto-id="CookieScriptBannerNonEuLanguageSelection"
                    [options]="languages"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    labelKey="englishName"
                    valueKey="domainId"
                    [disabled]="disableGeoLocationSwitcher || disableLanguageSwitcher"
                    [model]="selectedNonEuLanguage"
                    (onSelect)="onNonEuLanguageSelection($event)"
                ></ot-picklist>
            </div>
        </ng-container>
    </ng-container>
</div>
