.gra-welcome {
    .ot-card__wrapper {
        margin: 0 1rem;
        max-width: 20rem;
    }
    &__readiness-message {
        max-width: 51rem;
    }
    &__card {
        font-size: 1.3rem;
        height: 25rem;
        width: 20rem;
        &--content {
            white-space: normal !important;
        }
        &:hover {
            .ot-card {
                background-color: lighten($ui-blue, 45%);
                border: 1px solid $ui-blue;
            }
            .preview-show {
                visibility: visible;
            }
        }
    }
    &__overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }
}
