<section
    *ngIf="!isLoadingReadinessAssessment"
    class="gra-welcome flex flex-column full-size position-absolute overflow-y-auto"
    >
    <ot-loading otPageLoading
        *ngIf="isLoadingReadinessAssessment"
        class="padding-top-5 row-horizontal-vertical-center full-size"
    ></ot-loading>
    <section class="column-nowrap align-center background-white padding-bottom-4">
        <p class="text-bold padding-top-5 text-huge">{{ "WelcomeMaturityBenchmarking" | translate }}</p>
        <p class="gra-welcome__readiness-message padding-bottom-1-half text-small">{{ "ReadinessWelcomeMessage" | translate }}</p>
        <p class="padding-bottom-1-half text-small">{{ "ReadinessAssessmentMessage" | translate }}</p>
        <button otButton brand
            ot-auto-id="GRACustomizeGlobalReadinessButton"
            [innerText]="'CustomizeAssessment' | translate"
            [disabled]="!globalReadinessTemplate"
            (click)="onCustomizeGlobalReadinessClick()"
        ></button>
    </section>
    <div class="background-grey border-top-bottom padding-top-bottom-half">
        <div class="padding-top-bottom-half row-flex-end padding-right-2">
            <ot-search-input
                ot-auto-id="GRASearchTemplateInputField"
                [placeholder]="'Search' | translate"
                [model]="searchTerm"
                [debounce]="500"
                (search)="searchTemplate($event)"
                >
            </ot-search-input>
        </div>
    </div>
    <section class="flex flex-column padding-top-2">
        <div class="text-center static-vertical margin-bottom-3">
            <p class="text-huge text-bold">{{ "ReadinessTemplates" | translate }}</p>
            <p class="text-small centered-max-50">{{ "ReadinessTemplatesMessage" | translate }}</p>
        </div>
        <div class="flex row-wrap justify-center padding-left-right-3">
            <ng-container *ngIf="filteredTemplates.length; else noTemplates">
                <ot-card
                    *ngFor="let filteredTemplate of filteredTemplates"
                    class="gra-welcome__card no-outline"
                    alignment="center"
                    width="28"
                    [header]="filteredTemplate.title"
                    >
                    <ng-container otCardContent>
                        <div class="gra-welcome__card--content overflow-hidden height-7"
                            [otTooltip]="{ content: filteredTemplate.content, delay: 2000 }"
                            [innerText]="filteredTemplate.content"
                            >
                        </div>
                    </ng-container>
                    <ng-container otCardFooter>
                        <button otButton brand
                            class="invisible preview-show"
                            (click)="openPreviewView(filteredTemplate.id)"
                            >
                            {{ 'Preview' | translate }}
                        </button>
                    </ng-container>
                </ot-card>
            </ng-container>
            <ng-template #noTemplates>
                <div class="flex-full-height justify-center text-center padding-all-2">
                    <ot-empty-state
                        class="full-width"
                        *ngIf="!filteredTemplates.length"
                        [emptyStateMessage]="'NoResultsFound' | translate"
                        >
                        <img emptyStateImg />
                        <button otButton brand empty-state-content
                            *ngIf="!filteredTemplates.length"
                            ot-auto-id="GRATemplateClearSearchButton"
                            [innerText]="'ClearSearch' | translate"
                            (click)="clearSearchField()"
                            >
                        </button>
                    </ot-empty-state>
                </div>
            </ng-template>
        </div>
    </section>
</section>
<section
    *ngIf="isPreviewOpen"
    class="full-size position-absolute"
    >
    <div
        class="gra-welcome__overlay full-size"
        (click)="closeOnClick()"
        >
    </div>
    <global-readiness-welcome-preview
        [currentTemplate]="currentTemplate"
        [isLoading]="isTemplateLoading"
        (goToNextTemplate)="openPreviewView($event, 'next')"
        (goToPreviousTemplate)="openPreviewView($event, 'previous')"
        (toggleDrawer)="closeOnClick()"
        (showQuestionPreview)="showQuestionPreview($event)"
        (startAssessment)="startAssessment($event)"
        >
    </global-readiness-welcome-preview>
</section>
