<ot-loading
    *ngIf="!ready; else subtasks"
    class="margin-top-5"
    >
</ot-loading>

<ng-template #subtasks>
    <section class="flex-full-height height-100">
        <ot-page-header
            [title]="'SubTasks' | otTranslate"
            [type]="'clear'">
            <button otButton neutral
                class="margin-right-1"
                ot-auto-id="DSARRequestDetailsAddSubTasks"
                *ngIf="showAddSubTaskButton"
                [innerText]= "'UserSubtask' | otTranslate"
                [disabled]="!showDropdown"
                (click)="handleAction({type: 'CREATE_TASK', payload: null})"
            ></button>
            <button otButton neutral
                class="margin-right-1"
                ot-auto-id="DSARRequestDetailsAddSystemTasks"
                *ngIf="showAddSystemTaskButton"
                [innerText]= "'SystemSubTask' | otTranslate"
                [disabled]="!showDropdown"
                (click)="handleAction({type: 'CREATE_SYSTEM_TASK', payload: null})"
            ></button>
        </ot-page-header>
        <div
            *ngIf="ready && subTasksTableData.content.length"
            class="position-relative"
            >
            <dsar-sub-tasks-table
                *ngIf="ready"
                [rows]="subTasksTableData"
                [showDropdown]="showDropdown"
                (handleTableActions)="handleAction($event)"
                (pageChange)="loadPage($event)"
            >
            </dsar-sub-tasks-table>
        </div>
        <div
            *ngIf="ready && !subTasksTableData.content.length"
            [innerText]="'NoSubTasks' | otTranslate"
            class="text-xlarge text-thin flex-full-height column-horizontal-vertical-center padding-top-bottom-2"
            >
        </div>
    </section>
</ng-template>
