<div class="margin-top-2 color-slate overflow-auto stretch-vertical">
    <div class="centered-max-70">
        <div
            class="no-outline row-space-between text-huge padding-all-1"
            ot-auto-id="TemplateDetailsToggle"
            (click)="isDetailsExpanded=!isDetailsExpanded"
        >
            <div class="text-thin">{{translations.details}}</div>
            <i
                class="ot"
                [ngClass]="{'ot-chevron-right': !isDetailsExpanded, 'ot-chevron-down': isDetailsExpanded}"
            >
            </i>
        </div>
        <div
            *ngIf="isDetailsExpanded"
            class="padding-left-right-2"
        >
            <div
                otFormElement
                class="margin-top-1-half"
                required="true"
                [label]="translations.name"
            >

                <div
                    *ngIf="!isEditMode || !isTemplateActive || isReadonly || originalTemplate.isLocked; else templateName"
                    class="row-space-between-center aa-risk-drawer__hover-div"
                >
                    <button
                        class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                        ot-auto-id="TemplateDetailsNameEditIcon"
                        (click)="setEditMode()"
                    >
                        <span class="word-break">
                            {{template.name || '----'}}
                        </span>
                        <i
                            *ngIf="isTemplateActive && permissions.TemplatesEditPublished"
                            class="aa-risk-drawer__edit-icon ot display-none position-absolute top-1"
                            [ngClass]="originalTemplate.isLocked ? 'ot-lock' : 'ot-edit'"
                        >
                        </i>
                    </button>
                </div>
                <ng-template #templateName>
                    <input
                        otInput
                        type="text"
                        maxlength="100"
                        ot-auto-id="TemplateDetailsNameTextBox"
                        [placeholder]="translations.enterName"
                        [ngModel]="template.name"
                        (ngModelChange)="saveModelChange('name', $event)"
                    />
                </ng-template>
            </div>
            <div
                otFormElement
                *ngIf="templateSettings?.allowAccessControl"
                class="margin-top-1-half"
                required="true"
            >
                <div class="row-nowrap">
                    <div class="form-element-label-override"><span class="slds-required">*&nbsp;</span>{{'Organization' | otTranslate}}</div>
                    <i
                        class="ot ot-info-circle padding-left-1-half margin-top-quarter"
                        [otTooltip]="'TheTemplateOrganizationAppliesToAllTemplateVersions' | otTranslate"
                    >
                    </i>
                </div>
                <div
                    *ngIf="!isEditMode || !isTemplateActive || isReadonly || originalTemplate.isLocked; else templateOrg"
                    class="row-space-between-center aa-risk-drawer__hover-div"
                >
                    <button
                        class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                        ot-auto-id="TemplateDetailsOrgEditIcon"
                        (click)="setEditMode()"
                    >
                        <span class="word-break">
                            {{selectedOrgName || '----'}}
                        </span>
                        <i
                            *ngIf="isTemplateActive && permissions.TemplatesEditPublished"
                            class="aa-risk-drawer__edit-icon ot display-none position-absolute top-1"
                            [ngClass]="originalTemplate.isLocked ? 'ot-lock' : 'ot-edit'"
                        >
                        </i>
                    </button>
                </div>
                <ng-template #templateOrg>
                    <org-select
                        identifier="TemplateCreateCustomTemplateModalOrgSelect"
                        [model]="template.orgGroupId"
                        [disabled]="originalTemplate.isLocked && isTemplateActive"
                        (onSelect)="selectOrg('orgGroupId', $event)"
                    ></org-select>
                </ng-template>
            </div>
            <div
                otFormElement
                class="margin-top-1-half"
            >
                <div class="row-nowrap">
                    <div class="form-element-label-override">{{translations.friendlyName}}</div>
                    <i
                        class="ot ot-info-circle padding-left-1-half margin-top-quarter"
                        [otTooltip]="translations.templateFriendlyNameTooltip"
                    >
                    </i>
                </div>
                <div
                    *ngIf="!isEditMode || !isTemplateActive || isReadonly || originalTemplate.isLocked; else templateFreindlyName"
                    class="row-space-between-center aa-risk-drawer__hover-div"
                >
                    <button
                        class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                        ot-auto-id="TemplateDetailsFriendlyNameEditIcon"
                        (click)="setEditMode()"
                    >
                        <span class="word-break">
                            {{template.friendlyName || '----'}}
                        </span>
                        <i
                            *ngIf="isTemplateActive && permissions.TemplatesEditPublished"
                            class="aa-risk-drawer__edit-icon ot display-none position-absolute top-1"
                            [ngClass]="originalTemplate.isLocked ? 'ot-lock' : 'ot-edit'"
                        >
                        </i>
                    </button>
                </div>
                <ng-template #templateFreindlyName>
                    <input
                        otInput
                        type="text"
                        maxlength="25"
                        ot-auto-id="TemplateDetailsFriendlyNameTextBox"
                        [placeholder]="translations.enterFriendlyName"
                        [ngModel]="template.friendlyName"
                        (ngModelChange)="saveModelChange('friendlyName',$event)"
                    />
                </ng-template>
            </div>
            <div
                otFormElement
                class="margin-top-1-half"
                [label]="translations.description"
            >
                <div
                    *ngIf="!isEditMode || !isTemplateActive || isReadonly || originalTemplate.isLocked; else templateDesc"
                    class="row-space-between-center aa-risk-drawer__hover-div"
                >
                    <button
                        class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                        ot-auto-id="TemplateDetailsDescriptionEditIcon"
                        (click)="setEditMode()"
                    >
                        <span class="word-break">
                            {{template.description || '----'}}
                        </span>
                        <i
                            *ngIf="isTemplateActive && permissions.TemplatesEditPublished"
                            class="aa-risk-drawer__edit-icon ot display-none position-absolute top-1"
                            [ngClass]="originalTemplate.isLocked ? 'ot-lock' : 'ot-edit'"
                        >
                        </i>
                    </button>
                </div>
                <ng-template #templateDesc>
                    <textarea
                        otTextarea
                        type="text"
                        maxlength="100"
                        ot-auto-id="TemplateDetailsDescriptionTextBox"
                        [placeholder]="translations.enterName"
                        [ngModel]="template.description"
                        (ngModelChange)="saveModelChange('description',$event)"
                    >
                    </textarea>
                </ng-template>
            </div>
            <div
                otFormElement
                class="icon-list margin-top-1-half"
                [label]="translations.templateIcon"
            >
                <div class="row-wrap-flex-start margin-top-half">
                    <div
                        *ngFor="let icon of iconList; let i=index"
                        class="icon-list__item icon-list__border text-pointer no-outline"
                        [attr.ot-auto-id]="'TemplateDetailsIcon_'+(i+1)"
                        [ngClass]="{'icon-list__item--selected': template.icon === icon, 'icon-list__icon-disabled': isIconDisabled}"
                        (click)="iconChanged(icon,'icon')"
                    >
                        <i class="icon-list__item-icon full-width inline-block text-center ot {{icon}}"></i>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="no-outline row-space-between text-huge padding-all-1"
            ot-auto-id="TemplateOptionSettingsToggle"
            (click)="isOptionsExpanded=!isOptionsExpanded"
        >
            <div class="text-thin">{{ 'Settings' | otTranslate }}</div>
            <i
                class="ot"
                [ngClass]="{'ot-chevron-right': !isOptionsExpanded, 'ot-chevron-down': isOptionsExpanded}"
            >
            </i>
        </div>
        <template-options
            class="padding-left-2 center-block"
            *ngIf="isOptionsExpanded"
            (updateAttributeQuestionSettings)="updateAttributeQuestionSettings($event)"
        >
        </template-options>
    </div>
</div>
<footer otPageFooter
    *ngIf="showFooter"
>
    <button
        otButton
        ot-auto-id="TemplateDetailsCancelButton"
        (click)="discardChanges()"
    >
        {{'Cancel' | otTranslate}}
    </button>
    <button
        otButton
        brand
        ot-auto-id="TemplateDetailsSaveButton"
        [loading]="isSaveInProgress$ | async"
        [disabled]="(isSaveInProgress$ | async) || !isTemplateValid"
        (click)="saveTemplateDetails()"
    >
        {{'Save' | otTranslate}}
    </button>
</footer>
