<ot-page-header
    class="border-bottom"
    [title]="pageTitle"
    [type]="headerType"
    (routeClicked)="goToRoute($event)"
>
    <ot-breadcrumb
        *ngIf="breadcrumbItems && breadcrumbItems.length"
        (routeClicked)="goToRoute($event)"
    >
        <ng-container *ngFor="let breadcrumb of breadcrumbItems">
            <ot-breadcrumb-item
                *ngIf="!breadcrumb.path"
                [attr.ot-auto-id]="breadcrumb.otAutoId"
                [label]="breadcrumb.labelKey ? (breadcrumb.labelKey | otTranslate) : breadcrumb.label"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                *ngIf="breadcrumb.path"
                [attr.ot-auto-id]="breadcrumb.otAutoId"
                [label]="breadcrumb.labelKey ? (breadcrumb.labelKey | otTranslate) : breadcrumb.label"
                [link]="breadcrumb.path"
                [params]="breadcrumb.params"
            ></ot-breadcrumb-item>
        </ng-container>
    </ot-breadcrumb>
    <div *ngIf="showContent">
        <button
            *ngIf="primaryButton"
            otButton
            brand
            class="margin-left-1"
            [attr.ot-auto-id]="primaryButton.otAutoId"
            [disabled]="primaryButton.isDisabled"
            [loading]="primaryButton.isLoading"
            [innerText]="primaryButton.labelKey | otTranslate"
            (click)="primaryButton.action()"
        ></button>
        <button
            *ngIf="secondaryButton"
            otButton
            neutral
            class="margin-left-1"
            [attr.ot-auto-id]="secondaryButton.otAutoId"
            [disabled]="secondaryButton.isDisabled"
            [loading]="secondaryButton.isLoading"
            [innerText]="secondaryButton.labelKey | otTranslate"
            (click)="secondaryButton.action()"
        ></button>
    </div>
</ot-page-header>
