<ot-modal-header (close)="closeModal()">
    <div>{{ 'WithdrawConsentTitle' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form #withdrawForm="ngForm" class="margin-top-bottom-2">
        <div class="text-bold text-center padding-bottom-4">
            {{ 'WithdrawConsentHeader' | otTranslate }}
        </div>
        <textarea otTextarea
            class="min-height-20"
            name="withdrawModalComment"
            [ngModel]="notes"
            [placeholder]="'EnterMessage' | otTranslate"
            (ngModelChange)="handleChanged($event)"
        ></textarea>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="withdrawConsentModalCancelButton"
        [disabled]="actionInProgress"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="withdrawConsentModalWithdrawButton"
        [disabled]="actionInProgress"
        [loading]="actionInProgress"
        (click)="withdrawConsent()"
        >
        {{ 'Withdraw' | otTranslate }}
    </button>
</ot-modal-footer>
