<upgraded-loading [text]="loading" *ngIf="isPageLoading"></upgraded-loading>
<ng-container *ngIf="!isPageLoading">
    <section class="full-size column-nowrap">
        <upgraded-one-nav-header
            class="full-width border-bottom static-vertical"
            [title]="'TemplateDetails' | translate"
            [body]="emailData?.templateNameTranslationKey | translate"
            [breadcrumbText]="breadCrumb.text"
            [breadcrumbRoute]="breadCrumb.stateName"
        >
            <header-actions>
                <button otButton brand
                    ot-auto-id="CreateEmailTemplatePreviewButton"
                    (click)="previewEmailTemplate()"
                >{{ 'Preview' | translate }}
                </button>
            </header-actions>
        </upgraded-one-nav-header>
        <section class="column-nowrap overflow-y-auto email-edit-template">
            <p
                class="margin-left-right-5 padding-left-right-5 margin-top-4 margin-bottom-0 text-bold"
            >{{ 'MessageName' | translate }}
            </p>
            <p
                class="margin-left-right-5 padding-left-right-5 margin-bottom-1"
            >{{ emailData?.templateNameTranslationKey | translate }}
            </p>
            <p
                class="margin-left-right-5 padding-left-right-5 margin-bottom-0 text-bold"
            >{{ 'Description' | translate }}
            </p>
            <p
                class="margin-left-right-5 padding-left-right-5 margin-bottom-3"
            >{{ emailData?.templateDetailTranslationKey | translate}}
            </p>
            <div *ngIf="'CustomEmailDisableNotification' | otPermit"
                class="row-space-between margin-bottom-5">
                <div>
                    <p class="text-bold margin-0">{{ 'DisableEmailNotification'| translate }}</p>
                    <p>{{ 'DisableEmailNotificationDescription' | translate }}</p>
                </div>
                <div otFormElement>
                    <ot-toggle
                        ot-auto-id="DisableEmailNotificationToggle"
                        [checked]="emailData?.disabled"
                        (toggle)="disableEmailState($event)"
                    >
                    </ot-toggle>
                </div>
            </div>
            <div class="row-space-between margin-bottom-5">
                <div>
                    <p class="text-bold margin-0">{{ 'Override' | translate }}</p>
                    <p>{{ 'TemplateDetailsOverrideToggleSubHeading' | translate }}</p>
                </div>
                <div otFormElement>
                    <ot-toggle
                        ot-auto-id="OverrideToggleStateChangeCallback"
                        [checked]="toggleOptionValue"
                        (toggle)="toggleStateChangeCallback($event)"
                    >
                    </ot-toggle>
                </div>
            </div>
            <hr>
            <div
                otFormElement
                class="width-40-rem margin-left-right-5 padding-left-right-5 margin-bottom-1"
                [label]="'Language' | translate"
            >
                <ot-picklist
                    ot-auto-id="EmailTemplateEditLanguageSelect"
                    [autoClose]="true"
                    [options]="languages"
                    [valueKey]="'Id'"
                    [labelKey]="'Name'"
                    [model]="selectedLanguage"
                    [noOptionsText]="'NoOptionsAvailable' | translate"
                    (onSelect)="onEmailLanguageChange($event, languageId)">
                </ot-picklist>
            </div>
            <div
                otFormElement
                class="margin-left-right-5 padding-left-right-5 margin-bottom-1"
                [label]="'SubjectLine' | translate"
            >
                <input otInput
                    *ngIf="toggleOptionValue"
                    ot-auto-id="EmailTemplateEditTextSelectionInputEditEnabled"
                    [ngModel]="emailData?.subject"
                    (ngModelChange)="handleEmailSubjectChange($event)"
                />
                <p *ngIf="!toggleOptionValue">
                    {{emailData?.subject}}
                </p>
            </div>
            <div
                otFormElement
                class="margin-left-right-5 padding-left-right-5 margin-top-1"
                [label]="'EmailBody' | translate"
                >
                <textarea otTextarea
                    *ngIf="toggleOptionValue"
                    ot-auto-id="SettingsEmailTextAreaSelectionInput"
                    name="EmailBody"
                    rows="10"
                    [ngModel]="emailData?.bodyText"
                    (ngModelChange)="handleEmailBodyChange($event)"
                    >
                </textarea>
                <p
                    *ngIf="!toggleOptionValue"
                    class="margin-bottom-2"
                >
                    {{emailData?.bodyText}}
                </p>
            </div>
            <div
                *ngIf="toggleOptionValue"
                otFormElement
                class="margin-left-right-5 padding-left-right-5 margin-top-bottom-1"
            >
                <button
                    otButton neutral
                    ot-auto-id="ResetEmailEditTemplateDetails"
                    class="no-outline"
                    (click)="resetEmailEditTemplateDetails(templateId)"
                >{{'ResetContent' | translate}}
                </button>
            </div>
        </section>
        <section class="margin-top-bottom-auto" *ngIf="toggleOptionValue">
            <footer class="row-flex-end static-vertical modal-footer padding-right-0">
                <center-actions>
                    <div class="full-width text-right padding-right-2">
                        <button otButton neutral
                            ot-auto-id="CancelSaveEmailEditTemplateDetails"
                            class="margin-right-1-half border-none"
                            (click)= "saveCancelled()"
                        >{{ 'Cancel' | translate }}</button>
                        <button otButton brand
                            ot-auto-id="SaveEmailEditTemplateDetails"
                            [disabled]="disableSave"
                            (click)="SaveEmailEditTemplateDetails()"
                        >{{ 'Save' | translate }}</button>
                    </div>
                </center-actions>
            </footer>
        </section>
    </section>
</ng-container>
