<section *ngIf="loading; else map" class="flex-full-height height-40">
    <ot-loading otPageLoading>
        {{'LoadingRequestsByCountry' | otTranslate}}
    </ot-loading>
</section>
<ng-template #map>
    <ot-data-maps
        [config$]="config$"
        (click)="click($event)"
        class="dsar-dashboard-country-map margin-all-2"
    ></ot-data-maps>
    <dsar-dashboard-country-map-range-indicator
        *ngIf="config?.maxRequests"
        class="full-block"
        [totalRequests]="config?.maxRequests"
    ></dsar-dashboard-country-map-range-indicator>
</ng-template>
