<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.title | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="request-queue-change-workflow__modal-content max-height-35 overflow-x-hidden">
    <section class="flex-full-height padding-all-1">
        <ot-confirm-modal-icon
            type="warning"
        ></ot-confirm-modal-icon>
        <div class="text-center" [innerText]="'DSARChangeWorkflowDescription' | otTranslate"></div>
        <div
            otFormElement
            class="margin-top-2"
            [label]="'CurrentWorkflow' | otTranslate"
        >
            <div [innerText]="otModalData.workflowName"></div>
        </div>
        <div
            otFormElement
            class="margin-top-1"
            [label]="'TargetWorkflow' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                class="width-100-percent"
                ot-auto-id="DSARTargetWorkflowPicklist"
                labelKey="workflowName"
                valueKey="referenceId"
                [autoClose]="true"
                [model]="targetWorkflow"
                [options]="publishedWorkflows | sort: 'workflowName'"
                (onSelect)="changeWorkflow($event)"
            ></ot-picklist>
        </div>
        <ot-setting
            class="margin-top-1"
            [title]="'DSARCloseOpenSubtasks' | otTranslate"
            [description]="'DSARCloseOpenSubtasksDescription' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="DSARCloseOpenSubtasksToggle"
                [checked]="deleteOpenSubtasks"
                (toggle)="deleteOpenSubtasks = !deleteOpenSubtasks"
            ></ot-toggle>
        </ot-setting>
    </section>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="DSARChangeWorkflowModalCancelButton"
        [disabled]="saveInProgress"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="DSARChangeWorkflowModalSaveButton"
        [loading]="saveInProgress"
        [disabled]="!canSubmit || saveInProgress"
        (click)="handleSubmit()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
