<div class="full-size flex-full-height background-white">
    <!-- page header -->
    <cookie-header
        class="background-grey"
        [pageTitle]="'Categorizations' | otTranslate"
    ></cookie-header>
    <!-- Tabs -->
    <ot-tabs
        [tabs]="tabs"
        [selectedTab]="selectedTab"
    >
        <a
            *otTabItem="let tab"
            [attr.ot-auto-id]="tab.otAutoId"
            (click)="onTabClick(tab.id)"
        >
            {{tab.label | otTranslate}}
        </a>
    </ot-tabs>
    <!-- Tab content -->
    <ng-container [ngSwitch]="selectedTab">
        <cc-category-list *ngSwitchCase="categorizationTabs.Categories" class="flex-full-height"></cc-category-list>
        <cc-cookie-list *ngSwitchCase="categorizationTabs.Cookies" class="flex-full-height"></cc-cookie-list>
    </ng-container>

</div>
