.aa {

    &-container {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
    }

    &-section-list {
        display: none;
        border-right: 1px solid $grey-4;
        flex: 0 0 280px;
        overflow-y: auto;
        overflow-x: hidden;

        @media (min-width: $medium) {
            display: block;
        }
    }

    &-welcome {

        &__header {
            display: none;
            border-bottom: 1px solid $section-details-border-color;
            min-height: 75px;
            background-color: $grey-1;
            border-left: none;
            padding: 0 5%;

            @media (min-width: $medium) {
                display: block;
            }

            .banner {
                display: flex;
                list-style: none;
                width: 100%;
                margin: 0;
                color: $section-details-banner-color;

                &-item {
                    flex: 1 1 auto;
                    padding: 1.2rem 0;
                    word-wrap: break-word;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            h4 {
                margin: 0;
                font-size: 1.1rem;
                text-transform: uppercase;
            }

            p {
                color: $dark-grey;
                font-weight: bold;
                font-size: 1.4rem;
                margin: 1rem 0 0;
                padding: 0;
                border: 0;

                &:hover {
                    text-decoration: underline;
                }

                &.no-edit:hover {
                    text-decoration: none;
                }
            }

            .banner-item__text{
                color: $dark-grey;
                font-weight: bold;
                font-size: 1.4rem;
                margin: 1rem 0 0;
                padding: 0;
                border: 0;
            }

            i {
                margin-left: 0.8rem;
                font-size: 80%;
                vertical-align: middle;
            }
        }

        &__description {
            padding: 2rem 0;

            h4 {
                font-size: 1.1rem;
                text-transform: uppercase;
                margin: 0 0 1rem;
            }

            p {
                margin: 0;
                padding: 0;
            }

            form {
                max-width: 100%;
            }
        }

        &__detail {

            &.ql-editor {
                padding: 0 4rem;
                p {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &-icon {
        display: inline-block;
        line-height: 2.8rem;
        width: 3rem;
        border: 1px solid $question-side-icon-color;
        border-radius: 50%;
        text-align: center;
        // margin-top: 0.5rem;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        @include hocus {
            border-color: darken($question-side-icon-color, 10%);
        }
    }
}
