.panel {
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
    margin: 0;
    outline: none;

    &.active {
        .panel-heading .panel-title {
            background-color: $section-panel-active-bg-color;
            .accordion-toggle {
                color: $paper;
            }
            .toggle-questions:hover {
                color: darken($white, 10%);
            }
        }
    }
    &-heading {
        padding: 0;
        border-radius: 0;
        pointer-events: none;
        .panel-title {
            padding: 0 1rem;
        }
        .panel-title .accordion-toggle {
            color: $slate;
            outline: none;
            text-decoration: none;
            padding: 15px 10px;
            span {
                display: flex;
                align-items: center;
                flex-flow: row nowrap;

                span {
                    &.assessment__menu-pill {
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    section {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                    .badge-container {
                        width: 75px;
                        margin: auto 15px auto auto;

                        .badge {

                            span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .section-header {
                display: inline-flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                width: 100%;
            }
            .section-name {
                align-items: flex-start;
                padding-right: 1rem;
                flex: 1 1 auto;
                line-height: 1.8rem;
                font-size: 1.4rem;

                i {
                    margin-left: .6rem;
                }
            }
            .section-badges {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                i.required {
                    font-size: 1rem;
                }
                span {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                }
            }
        }
    }
    .toggle-questions {
        flex: 0 0 auto;
        width: 2rem;
        pointer-events: auto;
        padding: 0;
        margin-left: 0.6rem;
        border: 0;
        background: 0;
        text-align: center;
        &:hover {
            color: darken($slate, 10%);
        }
    }
}

.aa {

    &__menu-pill {
        border-radius: 10px;
        border: 1px solid transparent;
        color: $white;
        font-size: 12px;
        font-weight: bold;
        height: 2.2rem;
        line-height: 1;
        margin-right: 0.5rem;
        padding: 3px 5px;
        width: 4.2rem;

        &:focus {
            outline: 0;
        }

        &--risk {
            &-low {
                background-color: $risk-low-pill-bg-color;
                @include hocus {
                    border-color: lighten($risk-low-pill-bg-color, 10%);
                }
            }
            &-medium {
                background-color: $risk-med-pill-bg-color;
                @include hocus {
                    border-color: lighten($risk-med-pill-bg-color, 10%);
                }
            }
            &-high {
                background-color: $risk-high-pill-bg-color;
                @include hocus {
                    border-color: lighten($risk-high-pill-bg-color, 10%);
                }
            }
            &-very-high {
                background-color: $risk-very-high-pill-bg-color;
                @include hocus {
                    border-color: lighten($risk-very-high-pill-bg-color, 10%);
                }
            }
        }

        &--unanswered-required {
            background-color: $unanswered-required-pill-bg-color;
            padding: 0.4rem 0.8rem;
            font-size: $text-xsmall;
            i {
                margin-right: 0.6rem !important;
            }
            @include hocus {
                border-color: lighten($unanswered-required-pill-bg-color, 10%);
            }
        }

        &--invalid-question-count {
            background-color: $risk-medium;
            padding: 0.4rem 1.2rem;
            font-size: $text-xsmall;
            i {
                margin-right: 0.6rem !important;
            }
            @include hocus {
                border-color: lighten($risk-medium, 10%);
            }
        }

        &--needs-info-count {
            background-color: $admiral-blue;
            @include hocus {
                border-color: lighten($admiral-blue, 10%);
            }
        }

        i {
            margin-right: 0.2rem;
        }
    }

    &__phase {

        &-body {
            [role="tabpanel"] {
                overflow: hidden;
            }
            &__section {
                &.active {
                    .ot-collapse__header-container {
                        color: $white;
                        background-color: $slate;
                    }

                    .ot-collapse__content {
                        border-bottom: 1px solid $grey-3;
                    }
                }
                &--disabled {
                    .ot-collapse__header {
                        cursor: not-allowed;
                        color: $grey-1;
                    }
                }
                border-bottom: 1px solid $grey-3;

                @supports (-ms-ime-align: auto) {
                    padding-right: 1rem;
                }
                &-filter {
                    border-bottom: 1px solid $grey-3;
                    max-height: 6rem;
                    min-height: 6rem;
                }
            }

            .toggle-questions {
                &--hidden {
                    display: none;
                }
            }
        }

        &-header {
            width: 100%;
            border: 0;
            border-bottom: 1px solid $grey-3;
            background-color: $grey-4;
            color: $slate;
            min-height: 3.6rem;
            padding: 0.6rem 3.4rem 0.6rem 1rem;
            font-size: 1.3rem;
            outline: none;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: bold;
            position: relative;

            &-lock {
                margin-left: .6rem;
            }

            &-caret {
                position: absolute;
                right: 1.4rem;
                top: 50%;
                transform: translateY(-50%);
            }

            &--analysis.active {
                background-color: $slate;
                color: $white;

                .beta-tag {
                    color: $grey-3;
                    border-color: $grey-3;
                }
            }
        }
    }
}
