.aa-question {
    border-bottom: 1px solid $grey-1;

    @media (min-width: $small) {
        padding: 2rem 2rem 2rem 6rem;
    }

    @media (min-width: $large) {
        padding: 4rem 6rem;
    }

    &__container {
        padding: 2rem;
        width: 100%;

        @media (min-width: $small) {
            padding: 0;
            width: 60rem;
        }
    }

    &__required {
        color: $question-required-asterisk-color;
        font-size: $question-required-asterisk-size;
        position: absolute;
        left: $question-required-asterisk-left;
        top: $question-required-asterisk-top;
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;

        @media (min-width: $small) {
            flex-flow: row nowrap;
        }
    }

    &__name {
        font-size: $question-name-font-size;
        font-weight: bold;
        position: relative;
    }

    &__hint {
        cursor: help;
        font-size: $question-hint-font-size;
        margin-left: 1rem;
    }

    &__number {
        margin: 0;
        position: relative;
        left: -1rem;
        top: -1rem;

        &-text {
            font-size: $question-number-font-size;
            font-weight: bold;
        }

        @media (min-width: $big) {
            top: 3.4rem;
            left: -8.2rem;
        }

        @media (max-width: $big) and (min-width: $small)  {
            top: 3.4rem;
            left: -5.2rem;
        }
    }

    &__button-row {
        display: flex;
        flex-flow: row wrap;

        @media (min-width: $small) {
            flex-flow: row wrap;
        }
    }

    &__button {
        width: 100%;
        margin-bottom: 1rem;

        @media (min-width: $small) {
            margin-right: 1rem;
            margin-bottom: 0;
            width: auto;
            &--multi {
                margin-bottom: 1rem;
                width: 48%;
            }
        }

        &--invalid {
            background-color: $risk-medium;
            border-color: $risk-medium;
        }
    }

    &__side-buttons {
        // TODO: Mobile defaults for side button

        @media (min-width: $big) {
            margin-left: 4rem;
            margin-top: 2rem;
        }

        @media (max-width: $big) and (min-width: $small)  {
            margin-left: 2rem;
            margin-top: 2rem;
        }
    }

    &__side-buttons-risk {
        // TODO: Mobile defaults for side button

        @media (min-width: $small)  {
            margin-left: 2rem;
            margin-top: 2rem;
        }
    }

    &__multichoice {
        display: flex;
        flex-flow: row wrap;
        margin: 0;

        &--separated {
            padding-top: 2rem;
        }

        .btn-group {
            width: 100%;
            min-width: 200px;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            display: flex;
            flex-flow: row wrap;
        }
        .option-container {
            flex: 1 1 48%;
            max-width: 48%;
            margin-bottom: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            label {
                margin: 2px 0;
                border: 2px solid #ccc;
                outline: none;
                text-align: left;
                white-space: normal;
            }
        }
        button {
            white-space: normal;
            flex: 1 1 auto;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__personal-data {

        &-response {
            padding: 1rem;
            margin-top: 1rem;
            border: 1px solid $section-details-border-color;
            border-radius: 3px;
            background-color: $paper;
        }

        &-pill-list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            margin-top: 1rem;
        }

        &-pill-element {
            background-color: $slds-input-ss-bg-color;
            border-radius: 5px;
            margin: 0 0.5rem 0.5rem 0;
            color: white;
            padding: 3px 5px;

            &--other {
                background-color: $slds-input-ss-other-bg-color;
            }

            &--invalid {
                background-color: $slds-input-ss-invalid-bg-color;
            }
        }
    }

    &__invalid-response {
        background-color: $question-invalid-response-bg-color;
        border: 1px solid $question-invalid-response-border-color;

        &-text {
            font-size: $question-invalid-font-size;
        }
    }

    &__icon-button {
        border-left: none;
        background-color: $paper-gray;
        min-width: inherit;
        .aa-icon {
            margin-top: 0;
            border-color: $platinum;
        }
    }
}

.assessment-questions {
    flex: 1 1 auto;
    min-width: 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: $paper;

    .questions-container {
        flex: 1 1 auto;
        min-height: 1px;
        overflow-y: auto;
        height: 100%;
        display: inline-block;

        .ql-editor {
            overflow-y: initial;
        }
    }
}
