// Lightning Design Overrides
.slds-required {
    border: none;
    color: $question-required-asterisk-color;
    cursor: default;
    position: absolute;
    left: $question-required-asterisk-left;
    top: $slds-required-asterisk-top;
}

// Virtual-scroll Other Option
.slds-virtual-scroll .slds-listbox-virtual-scroll__first-option-template .tabbable-button {
    padding: 0.9rem 1.2rem;
}

.slds-listbox {
    font-size: 1.4rem;
    .slds-listbox_vertical .slds-listbox__option_entity {
        padding: $slds-dropdown-options-padding;
    }
}

// Matches otButton[select] style with one-editable-types (Other) button style
// TODO: Convert one-editable-types to use ot-button
.aa-question__button .slds-button {
    height: auto;
    line-height: normal;
    padding: 0.8rem 1.8rem;
}

.slds-input {
    border-radius: 3px;
    font-size: 1.4rem;
    padding: $slds-dropdown-padding;
    // border: 1px solid $slds-input-border-color;
}

.aa__question-single-select {

    .slds-input {
        border-color: $slds-input-ss-border-color;
        background-color: $slds-input-ss-bg-color;
        color: $slds-input-ss-text-color;
        font-weight: bold;

        &__icon {
            background-color: $slds-input-ss-bg-color;
            color: $slds-input-ss-text-color;
        }
    }

    &--other {
        .slds-input {
            border-color: $slds-input-ss-other-border-color;
            background-color: $slds-input-ss-other-bg-color;
            color: $slds-input-ss-text-color;
            font-weight: bold;

            &__icon {
                background-color: $slds-input-ss-other-bg-color;
                color: $slds-input-ss-text-color;
            }
        }
    }

    &--invalid {
        .slds-input {
            border-color: $slds-input-ss-invalid-bg-color;
            background-color: $slds-input-ss-invalid-bg-color;
            color: $slds-input-ss-text-color;
            font-weight: bold;

            &__icon {
                background-color: $slds-input-ss-invalid-bg-color;
                color: $slds-input-ss-text-color;
            }
        }
    }
}

.slds-form-element__label {
    font-size: $slds-form-element-label-size;
    margin-bottom: 0.5rem;
}

.slds-pill__label {
    font-weight: bold;
    padding: 0 0.5rem;
}
