// Assessment
$aa-background-color:                       $paper-gray;

// Section Details Banner
$section-details-banner-color:              $slate;
$section-details-border-color:              $grey-2;
$section-details-banner-bg-color:           $slate;

// Section Panel
$section-panel-active-bg-color:             $slate;

// Section Panel Pills
$question-accepted-pill-bg-color:           $green;
$info-added-pill-bg-color:                  $cyan;
$needs-info-pill-bg-color:                  $light-orange;
$risk-low-pill-bg-color:                    $risk-low;
$risk-med-pill-bg-color:                    $risk-medium;
$risk-high-pill-bg-color:                   $risk-high;
$risk-very-high-pill-bg-color:              $risk-very-high;
$unanswered-required-pill-bg-color:         $cherry;

// Question Container
$question-content-max-width:                60rem;

// Question Number
$question-number-bg-color-needs-review:     $risk-medium;
$question-number-font-size:                 $text-medium;

// Question Name
$question-name-font-size:                   $text-large;

// Question Hint
$question-hint-font-size:                   $text-medium-small;

// Question Required
$question-required-asterisk-color:          $cherry;
$question-required-asterisk-size:           .7rem;
$question-required-asterisk-left:           -10px;
$question-required-asterisk-top:            0px;

// Question Justification
$question-justification-font-size:          $text-medium-small;

// Question Side Icons
$question-side-icon-color:                  $slate;

// Question Invalid Response
$question-invalid-response-border-color:    $risk-medium;
$question-invalid-response-bg-color:        $orange-faded;
$question-invalid-font-size:                $text-small;

// Assessment Footer
$aa-footer-background-color:                $paper-gray;
$aa-footer-border-color:                    $grey-2;
$aa-footer-height:                          5rem;

// SLDS overrides
$slds-required-asterisk-top:                -3px;
$slds-dropdown-padding:                     0.3rem 0.8rem;
$slds-dropdown-options-padding:             0.7rem 0.1rem;
$slds-form-element-label-size:              $text-medium-small;
$slds-input-border-color:                   $platinum;
$slds-input-ss-border-color:                $ui-blue;
$slds-input-ss-bg-color:                    $ui-blue;
$slds-input-ss-other-border-color:          $admiral-blue;
$slds-input-ss-other-bg-color:              $admiral-blue;
$slds-input-ss-invalid-bg-color:            $risk-medium;
$slds-input-ss-text-color:                  $white;
