<one-modal-base
    class="one-modal-new flex-full-height max-height-100 width-100-percent overflow-y-auto"
    [modalTitle]="'FlagRisk' | otTranslate"
    (close)="closeModal()"
    >
    <ot-loading otPageLoading
        *ngIf="!dataLoaded"
        class="min-height-30"
    ></ot-loading>
    <section
        *ngIf="dataLoaded"
        class="padding-all-2"
        >
        <div class="flex-full-width row-space-between padding-bottom-2">
            <div
                otFormElement
                class="flex-grow-1 flex-basis-0 padding-bottom-2"
                [label]="'RiskLevel' | otTranslate"
                [required]="true"
                >
                <risk-selector
                    ot-auto-id="AssessmentRiskModalDropdown"
                    [disabled]="!viewState.canEditRisk"
                    (onChange)="onRiskHeatmapSelected($event)"
                ></risk-selector>
            </div>
            <div
                otFormElement
                *ngIf="'RiskEditCategory' | otPermit"
                class="flex-grow-1 flex-basis-0 padding-bottom-2"
                [label]="'Category' | otTranslate"
                >
                <ot-lookup
                    valueKey="id"
                    labelKey="name"
                    [model]="selectedCategories"
                    [multiSelect]="true"
                    [options]="filteredCategoryOptions"
                    [disabled]="!('RiskEditCategory' | otPermit)"
                    [placeholder]="'Category' | otTranslate"
                    (inputChange)="onCategoryLookupInputChange($event)"
                    (modelChange)="onModelValueChange($event)"
                    >
                </ot-lookup>
            </div>
        </div>
        <div class="flex-full-width row-space-between padding-bottom-2">
            <div otFormElement
                class="flex-grow-1 flex-basis-0 margin-right-2"
                [label]="'Deadline' | otTranslate"
                >
                <div>
                    <ot-datepicker
                        name="deadline"
                        ot-auto-id="AssessmentRiskModalDatePicker"
                        [disabled]="!viewState.canEditRisk"
                        [disableUntil]="disableUntilDate"
                        [format]="format"
                        [placeholder]="'Deadline' | otTranslate"
                        [dateModel]="deadline"
                        (onChange)="handleInputChange($event, 'deadline')"
                    ></ot-datepicker>
                </div>
            </div>
            <div otFormElement
                class="flex-grow-1 flex-basis-0 margin-right-2"
                [label]="'RiskOwner' | otTranslate"
                >
                <ot-org-user
                    ot-auto-id="AssessmentRiskModalOwnerDropdown"
                    [allowEmail]="true"
                    [disabled]="!(viewState.canEditRisk || viewState.canEditRiskOwner)"
                    [fetchOptionsOnClick]="true"
                    [model]="riskOwner"
                    placeholder="PleaseSelectOwner"
                    (onSelect)="handleRiskOwnerChange($event)"
                    >
                </ot-org-user>
            </div>
        </div>
        <div otFormElement
            class="flex-grow-1 flex-basis-0 margin-right-2"
            [label]="'Description' | otTranslate"
            >
            <textarea otTextarea
                name="Description"
                rows="3"
                ot-auto-id="AssessmentRiskModalSummaryTextArea"
                [maxlength]="riskCharLimit"
                [disabled]="!viewState.canEditRisk"
                [ngModel]=""
                (ngModelChange)="handleInputChange($event, 'description')"
                >
            </textarea>
            <div class="row-flex-end">{{risk.description.length || 0}} / {{riskCharLimit}}</div>
        </div>
        <div otFormElement
            class="flex-grow-1 flex-basis-0 margin-right-2"
            [label]="'Recommendations' | otTranslate"
            >
            <textarea otTextarea
                name="recommendation"
                rows="3"
                ot-auto-id="AssessmentRiskModalRecommendationTextArea"
                [maxlength]="riskCharLimit"
                [disabled]="!(viewState.canAddRecommendation || viewState.canEditRecommendation)"
                [ngModel]=""
                (ngModelChange)="handleInputChange($event, 'recommendation')"
                >
            </textarea>
            <div class="row-flex-end">{{risk.recommendation.length || 0}} / {{riskCharLimit}}</div>
        </div>
        <footer class="row-flex-end margin-top-2">
            <button otButton
                class="margin-right-2"
                ot-auto-id="AssessmentRiskCloseModalButton"
                [disabled]="isSubmitting"
                (click)="closeModal()"
                >{{ 'Cancel' | otTranslate }}
            </button>
            <button otButton neutral
                *ngIf="'RiskAddControl' | otPermit"
                ot-auto-id="AssessmentRiskSubmitAndLinkControlsModalButton"
                [loading]="isSubmitting"
                [disabled]="!canSubmit || isSubmitting"
                (click)="submitModal(true)"
                >{{ 'SaveAndAddControls' | otTranslate }}
            </button>
            <button otButton brand
                class="margin-right-2"
                ot-auto-id="AssessmentRiskSubmitModalButton"
                [loading]="isSubmitting"
                [disabled]="!canSubmit || isSubmitting"
                (click)="submitModal()"
                >{{ 'Save' | otTranslate }}
            </button>
        </footer>
    </section>
</one-modal-base>
