.list-group {

    &__item {
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        height: 6rem;

        &--dashed {
            border: 2px dashed $ui-blue;
        }
    }

    &__icon {
        height: 6rem;
        width: 6rem;
        left: -2.1rem;
    }

    &__sub-item {
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        width: 48%;

        &--single-column {
            width: 100%;
        }
    }
}
