<ng-template *ngIf="!canShowRiskInheritance then riskcards else inventoryRiskTable"></ng-template>
<ng-template #riskcards>
    <ot-loading
        otPageLoading
        class="flex-full-height justify-center"
        *ngIf="isLoadingRisks; else showRisks"
        >
        {{ 'Risks' | otTranslate }}...
    </ot-loading>
    <ng-template #showRisks>
        <div
            *ngIf="!risks.length; else inventoryRiskCardExist"
            class="column-nowrap padding-top-5 align-center"
            >
            <ot-empty-state [emptyStateMessage]="'NoRisksToDisplay' | otTranslate">
                <img emptyStateImg />
                <button otButton brand
                    empty-state-content
                    ot-auto-id="InventoryRiskEmptyStateAddNewButton"
                    [innerText]="'AddRisk' | otTranslate"
                    (click)="addRisk()"
                ></button>
            </ot-empty-state>
        </div>
        <ng-template #inventoryRiskCardExist>
            <div>
                <risk-summary-card
                    *ngFor="let risk of risks; trackBy: risksTrackBy;"
                    [risk]="risk"
                    [canDeleteRisk]="permissions.canShow(recordPermissions.deleteRisk)"
                    [canChangeRiskLevel]="permissions.canShow(recordPermissions.editRiskLevel)"
                    [canEditRisk]="permissions.canShow(recordPermissions.addRisk)"
                    (openInModal)="openRiskModal($event)"
                    (delete)="openDeleteModal($event)"
                    (changeLevel)="changeRiskLevel($event)"
                    >
                </risk-summary-card>
            </div>
        </ng-template>
    </ng-template>
</ng-template>
<!--Risk Inheritance table-->
<ng-template #inventoryRiskTable>
    <section class="assessment-list height-100 column-nowrap text-color-default">
        <div class="border-bottom padding-bottom-1 padding-right-1 row-flex-end static-vertical">
            <ot-search-input
                class="margin-right-1 min-width-25"
                debounce="250"
                ot-auto-id="InventoryRiskSearchRecord"
                [placeholder]="('Search' | otTranslate) + '...'"
                (search)="handleSearch($event)"
            ></ot-search-input>
            <button otButton
                class="margin-right-1 border-none"
                ot-auto-id="InventoryRiskRepositoryColumnPicker"
                icon="ot ot-columns"
                (click)="openColumnPickerModal()"
            ></button>
            <button
                otButton
                ot-auto-id="InventoryRiskFilterDrawerToggle"
                icon="ot ot-filter"
                [select]="filtersApplied"
                (click)="toggleFilterPane()"
            >
            </button>
        </div>
        <div otDrawerContainer class="flex flex-column height-100 min-height-1">
            <section class="inventory-risks stretch-vertical flex-full-height background-white overflow-y-auto"
            >
                <ot-loading otPageLoading
                    *ngIf="isLoadingTable; else risksTableView"
                    class="margin-all-auto background-white flex-full-height justify-center"
                ></ot-loading>
                <ot-drawer
                    *ngIf="isFilterOpen"
                    class="inventory-risks__filter flex flex-column"
                    [open]="isFilterOpen"
                    [closeButtonText]="'Close' | otTranslate"
                    (closeClick)="toggleFilterPane()"
                >
                    <risk-filter
                        class="flex-full-height"
                        [filtersOpen]="isFilterOpen"
                        (applyFilters)="applyFilter($event)"
                        (cancel)="toggleFilterPane()"
                    ></risk-filter>
                </ot-drawer>
                <ng-template #risksTableView>
                    <div *ngIf="tableData?.length === 0; else risksTable"
                        class="column-nowrap padding-top-5 align-center"
                    >
                        <ot-empty-state
                            [emptyStateMessage]="'NoRisksToDisplay' | otTranslate">
                            <img emptyStateImg />
                            <button otButton brand
                                empty-state-content
                                ot-auto-id="InventoryRiskTableEmptyStateAddNewButton"
                                [innerText]="'AddRisk' | otTranslate"
                                (click)="addRisk()"
                            ></button>
                        </ot-empty-state>
                    </div>
                    <ng-template #risksTable>
                        <div class="position-relative stretch-vertical">
                            <risks-table
                                [columns]="columnList"
                                [tableData]="tableData"
                                [sortData]="sortData"
                                [inventoryRecordName]="recordName"
                                [inventoryId]="schemaId"
                                [recordId]="recordId"
                                (onDeleteRisk)="openDeleteModal($event)"
                                (onUnlinkRisk)="unlinkRisk($event)"
                                (handleTableSort)="sortInventoryRisks($event)"
                                >
                            </risks-table>
                        </div>
                    </ng-template>
                </ng-template>
            </section>
            <footer
                otPaginationFooter
                *ngIf="tableData?.length"
            >
                <ot-pagination
                    [currentPage]="currentPage"
                    [numPages]="paginationDetail?.totalPages"
                    (pageChanged)="pageChanged($event)"
                ></ot-pagination>
                <span>{{paginationDetail | otPageMeta}}</span>
            </footer>
        </div>
    </section>
</ng-template>
