.dropdown-checklist {

    &__list {
        top: 100%;
        border-radius: 2px;
        max-height: 20rem;
    }

    &__item {
        color: $slate;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
