&-assessment {

    &__question {
        padding: 4rem;
        border-bottom: 1px solid $grey-3;

        &:last-child {
            border-bottom: 0;
        }

        &-content {
            flex: 1 1 auto;
            max-width: 100rem;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
        }

        &-number {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 0.2rem 1rem;
            margin: 0;
            flex: 0 0 auto;
            border-radius: 0;
            background-color: $number-grey;
            color: $white;
            margin-right: 2rem;

            @media (min-width: $small) {
                min-width: 4rem;
                max-width: 100%;
            }

            h4 {
                font-weight: bold;
                margin: 0.6rem 0;
                font-size: 1.6rem;

                @media (min-width: $small) {
                    margin: 1rem 0;
                    font-size: 18px;
                }
            }

            i {
                margin-left: .4rem;
            }
        }

        &-container {
            flex: 1 1 auto;
        }

        &-action {
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            margin: 1rem 0;

            &-option {
                color: $slate;
                border: 0;
                padding: 0;
                margin: 0;
                background: 0;
                outline: 0;

                &:hover {
                    color: darken($slate, 10%);
                }

                .fa-stack {
                    width: 1.8rem;
                    height: 2.8rem;
                    margin-right: 0.4rem;
                    margin-bottom: 0.2rem;
                }

                i {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
