&-assessment {
    color: $slate;

    loading {
        height: calc(100vh - 5rem);
        display: block;
    }

    &__wrapper {
        height: calc(100vh - 5rem);
        display: flex;
        flex-flow: column nowrap;
    }

    &__header {
        flex: 0 0 5rem;
    }

    &__container {
        flex: 1 1 auto;
        background-color: $paper-gray;
        display: flex;
        flex-flow: row nowrap;
    }

    &__sidebar {
        flex: 0 0 27.5rem;
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        -ms-flex: 1;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        border-left: 1px solid $grey-3;
    }
}
