//- header.data-mapping-body-header {{::$root.t("CrossBorderGraph")}}
loading(ng-if='!Ready', text='{{::$root.t("CrossBorderGraph")}}')

.data-mapping__cross-border#cross-border-graph-container(ng-show="Ready")
    #cross-border-graph
