<section class="dsar-request-queue-detail-panel width-75">
    <div
        class="text-bold text-large"
        [innerHtml]="panelTitle">
    </div>
    <div class="column-nowrap margin-top-1">
        <ng-container *ngTemplateOutlet="detailsTable; context: defaultTable"></ng-container>
        <div
            *ngIf="details?.length > minRows"
            class="text-bold text-small row-horizontal-vertical-center"
            (click)="isToggled=!isToggled">
            <hr class="stretch-vertical"/>
            <span class="margin-left-1 cursor-pointer">
                {{ isToggled ? ("ShowLess" | otTranslate) : ("ShowMore" | otTranslate) }}
            </span>
            <span class="margin-left-1 cursor-pointer ot"
                [ngClass]="
                {
                    'ot-caret-right-solid': !isToggled,
                    'ot-caret-down': isToggled
                }"
            ></span>
        </div>
        <div *ngIf="isToggled">
            <ng-container *ngTemplateOutlet="detailsTable; context: overflowTable"></ng-container>
        </div>
    </div>
    <ng-template #detailsTable let-details="details" >
        <ng-container *ngFor="let detail of details">
            <div otFormElement
                class="padding-bottom-1 row-nowrap min-width-30"
                [label]="(detail.translate ? (detail.key | otTranslate) : detail.key) + ':'"
            >
                <div
                    class="min-width-30 text-small"
                    [innerHtml]="detail.value">
                </div>
            </div>
        </ng-container>
    </ng-template>
</section>
