<section
    class="list-manager row-nowrap"
    [ngClass]="wrapperClass"
    >
    <div class="flex-stretch-100 flex-full-height stretch-horizontal">
        <label [innerText]="inactiveLabel"></label>
        <ot-search-input
            class="full-width margin-bottom-1"
            ot-auto-id="SearchInactiveList"
            [placeholder]="'Search' | otTranslate"
            (search)="setInactiveSearchTerm($event)"
            >
        </ot-search-input>
        <selection-list
            class="list-manager__inactive-list flex-full-height"
            ot-auto-id="InactiveSelectionList"
            groupKey="groupLabel"
            [list]="filteredInactiveList"
            [isMultiSelect]="true"
            [getLabel]="getItemLabel"
            >
        </selection-list>
    </div>
    <div class="column-vertical-center static-horizontal margin-left-right-1">
        <button
            otButton
            neutral
            class="list-manager__button margin-bottom-1"
            icon="ot ot-angle-right"
            ot-auto-id="moveToActiveBtn"
            (click)="moveItem('activeList', 'inactiveList')"
            >
        </button>
        <button
            otButton
            neutral
            class="list-manager__button"
            icon="ot ot-angle-left"
            ot-auto-id="moveToInactiveBtn"
            (click)="moveItem('inactiveList', 'activeList')"
            >
        </button>
    </div>
    <div class="flex-stretch-100 flex-full-height stretch-horizontal">
        <label [innerText]="activeLabel"></label>
        <search-scroller
            class="margin-bottom-1"
            ot-auto-id="SearchActiveList"
            [count]="filteredActiveList ? filteredActiveList.length : 0"
            (goToItem)="scrollToItem($event, '.list-manager__active-list')"
            (handleSearch)="searchActiveList($event)"
            >
        </search-scroller>
        <selection-list
            class="list-manager__active-list flex-full-height"
            ot-auto-id="ActiveSelectionList"
            [list]="activeList"
            [getLabel]="getItemGroupNameLabel"
            [isMultiSelect]="true"
            [highlightTerm]="activeSearchTerm"
            >
        </selection-list>
    </div>
    <div class="column-vertical-center static-horizontal margin-left-1">
        <button
            otButton
            neutral
            class="list-manager__button margin-bottom-1"
            icon="fa fa-angle-double-up"
            ot-auto-id="moveUpFullBtn"
            (click)="moveToEnd(activeList, directions.up)"
            >
        </button>
        <button
            otButton
            neutral
            class="list-manager__button margin-bottom-1"
            icon="ot ot-angle-up"
            ot-auto-id="moveUpBtn"
            (click)="reorderList(activeList, directions.up)"
            >
        </button>
        <button
            otButton
            neutral
            class="list-manager__button margin-bottom-1"
            icon="ot ot-angle-down"
            ot-auto-id="moveDownBtn"
            (click)="reorderList(activeList, directions.down)"
            >
        </button>
        <button
            otButton
            neutral
            class="list-manager__button margin-bottom-1"
            icon="fa fa-angle-double-down"
            ot-auto-id="moveDownFullBtn"
            (click)="moveToEnd(activeList, directions.down)"
            >
        </button>
    </div>
</section>
