<div class="cc-banner-wrapper cc-banner-template__module-wrapper" *ngIf="pageLoading">
    <ot-loading></ot-loading>  
</div>

<div class="row-wrap cc-banner-wrapper cc-banner-template__module-wrapper modern" *ngIf="!pageLoading">
    <upgraded-cookie-compliance-header
        class="flex-full-100"
        pageName="ccBannerPage"
        [navigationTitle]="'CookieBanner' | otTranslate"
        [isUnpublishedChanges]='bannerModel?.containsUnpublishedChanges'
        [showAdvanceSettingsButton]="true"
        [showPublishButton]="!useTemplate"
        [showLanguageSelection]="true"
        [useTemplate]="useTemplate"
        (domainChangeFunction)="loadReport()">
    </upgraded-cookie-compliance-header>
    <div class="cc-banner-wrapper-body flex-full-100">
        <div class="cc-left-scroll-area">
            <div *ngIf="showCookieBannerTemplate" otFormElement class="cc-use-template-toggle" [label]="'UseTemplate' | otTranslate">
                <ot-toggle
                    id="CookieUseTemplateToggle"
                    [checked]="useTemplate"
                    (toggle)="toggleUseTemplatesSwitch($event)">
                </ot-toggle>
            </div>
            <cc-template-toggle
                [useTemplate]="useTemplate"
                [unLinkTemplate]="unLinkTemplate"
                [domainId]="consentNotice.DomainId"
                [templateId]="templateId"
                [templateName]="templateName"
                (unLinkTemplateCallback)="unLinkTemplateCallback($event)">
            </cc-template-toggle>
            <banner-tabs
                *ngIf="!useTemplate"
                class="overflow-y-auto border-right background-off-white"
                [bannerLayoutOptions]="layoutOptions"
                [isCenterLayout]="isCenterLayout"
                [templateJson]="templateJson"
                [isCookiesBannerPage]="true"
                [(itemBeingEdited)]="itemBeingEdited"
                (layoutSelectionCallback)="selectLayout($event)"
                (validColorSelectionCallback)="validateColor($event)"
                (bannerContentFormCallback)="validateContent($event)"
            ></banner-tabs>
            <div class="cc-banner-wrapper-button-row">
                <div class="cc-banner-wrapper-button-container">
                    <button otButton neutral
                        *ngIf="!useTemplate"
                        class="cc-accordion-navigation__button flex-full-40"
                        ot-auto-id="RevertToDefault"
                        [innerText]="'RevertToDefault' | otTranslate"
                        (click)="revertToDefaultBanner()"
                    >
                    </button>
                </div>
                <div class="cc-banner-wrapper-button-container">
                    <button otButton brand
                        *ngIf="!useTemplate"
                        class="cc-accordion-navigation__button flex-full-40"
                        ot-auto-id="SaveTemplate"
                        [innerText]="'Save' | otTranslate"
                        [disabled]="!formValid"
                        (click)="saveConsentBanner()"
                    >
                    </button>
                </div>
            </div>
            
        </div>
        <div class="cc-banner-wrapper-banner-preview">
            <div>
                <banner-preview
                    class="overflow-hidden"
                    [ngClass]="themeClass"
                    [isCenterLayout]="isCenterLayout"
                    [bodyStyle]="previewBodyStyle"
                    [templateJson]="templateJson"
                    [(itemBeingEdited)]="itemBeingEdited"
                ></banner-preview>
            </div>
        </div>
        
    </div>
</div>