<pre class="width-100
            background-grey
            border-radius-3
            border
            pre-wrap
            prettyprint
            prettyprint-html"
    [innerText]="snippet">
</pre>

<div class="margin-left-right-auto width-100">
    <div class="pull-right">
        <button otButton neutral
            ot-auto-id="PrivacyNoticeIntegrationsCopyButton"
            (click)="copyPrivacyNoticeScript()"
        >
            {{ 'Copy' | otTranslate }}
        </button>
    </div>
</div>
