<ot-loading otPageLoading
    *ngIf="isLoading; else settings"
    class="stretch-vertical"
    >
    {{ 'ResonseTemplateSettings' | otTranslate }}
</ot-loading>
<ng-template #settings>
    <div otSettingContainer class="margin-0-auto">
        <ot-setting
            [title]="'FilterResponseTemplateLanguage' | otTranslate"
            [description]="'LimitResponseTemplateGuidanceText' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="DSARLimitResponseTemplates"
                [checked]="limitResponseTemplate"
                (toggle)="toggleAndSaveResponseTemplateSetting()"
            ></ot-toggle>
        </ot-setting>
    </div>
</ng-template>
