<label
    class="padding-top-1 text-bold margin-left-2"
    [innerText]="'ChooseALayout' | otTranslate"
></label>
<div class="overflow-y-auto row-horizontal-center row-wrap padding-all-1 banner-layout">
    <ng-container *ngFor="let layout of layoutOptions; let columnIndex = index;">
        <div
            class="shadow7 margin-all-1 padding-all-1 text-center max-25 flex-full-40 cursor-pointer"
            ot-auto-id="AttributeLayoutOptions"
            (click)="layoutSelectionCallback.emit(columnIndex)"
        >
            <div
                class="shadow margin-top-bottom-2 margin-left-right-1 padding-all-half banner-layout__img-container"
                [ngClass]="{ 'banner-layout__active-img': layout.selected }"
            >
                <img [src]="layout.imageSrc">
            </div>
            <span class="text-grey-4"
                [innerText]="layout.label"
            ></span>
        </div>
    </ng-container>
</div>
