<div class="padding-all-2 flex-full-height full-width background-white overflow-x-auto">
    <form
    name="PreferenceCenterForm"
    class="margin-top-bottom-2"
    #pcform="ngForm"
    >
        <div otFormElement
            class="margin-bottom-2 margin-left-right-auto centered-max-70"
            [label]="'Name' | otTranslate"
            [required]="true"
            >
            <input otInput required
                class="one-input full-width"
                name="Name"
                maxlength="200"
                autofocus
                ot-auto-id="PreferenceCenterNameInput"
                [placeholder]="'PreferenceCenterName' | otTranslate"
                [ngModel]="preferenceCenter.Name"
                [disabled]="isInactive"
                (ngModelChange)="onModelChange($event, 'Name')"
                />
        </div>

        <div otFormElement
            class="margin-bottom-2 margin-left-right-auto centered-max-70"
            [label]="'Organization' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                name="Organization"
                ot-auto-id="PreferenceCenterOrgList"
                [autoClose]="true"
                [options]="organizations"
                [model]="selectedOrganization"
                [labelKey]="'Name'"
                [valueKey]="'Id'"
                [indentKey]="'Level'"
                [disabled]="isInactive"
                (onSelect)="selectOrganization($event)"
                >
            </ot-picklist>

            <p class="padding-top-bottom-1">
                {{ "YouMustPublishYourPreferenceCenterForAnyBrandingChanges" | otTranslate }}
            </p>
        </div>

        <div otFormElement
            class="margin-bottom-2 margin-left-right-auto centered-max-70"
            [label]="'Description' | otTranslate"
            [required]="true"
            >
            <textarea otTextarea required
                name="Description"
                maxlength="500"
                [disabled]="isInactive"
                ot-auto-id="PreferenceCenterCreateDescription"
                [ngModel]="preferenceCenter.Description"
                [placeholder]="'EnterDescription' | otTranslate"
                (ngModelChange)="onModelChange($event, 'Description')"
                >
            </textarea>
        </div>

        <ot-setting
            [title]="'SendPreferenceChangeEmailsTitle' | otTranslate"
            [description]="'SendPreferenceChangeEmailsSubTitle' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="SendPreferenceChangeEmailsToggle"
                [disabled]="isInactive"
                [checked]="preferenceCenter.SendPreferenceChangeEmails"
                (toggle)="onToggleChange('SendPreferenceChangeEmails')"
            ></ot-toggle>
        </ot-setting>

        <ot-setting
            *ngIf="'ConsentPreferenceCenterUnsubscribeEmail' | otPermit"
            [title]="'SendUnsubscribeEmailsTitle' | otTranslate"
            [description]="'SendUnsubscribeEmailsSubTitle' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="SendUnsubscribeEmailsToggle"
                [disabled]="isInactive"
                [checked]="preferenceCenter.SendUnsubscribeEmails"
                (toggle)="onToggleChange('SendUnsubscribeEmails')"
            ></ot-toggle>
        </ot-setting>
    </form>

</div>

