<section>
    <form
        novalidate
        class="padding-all-2"
        name="CreateWorkflowModalForm"
    >
        <div otFormElement
            class="padding-top-bottom-1"
            [label]="'JsonPathToOutputFromPreviousStep'| otTranslate"
            [required]="true"
        >
            <div class="width-90-percent inline-block">
                <ot-lookup
                    ot-auto-id="IntgActionApplyEachJsonPath"
                    labelKey="formattedKey"
                    valueKey="jsonPath"
                    [autoClose]="true"
                    [options]="lookUpFields"
                    [model]="selectedJsonPath"
                    [inputValue]="inputValue"
                    (modelChange)="selectJsonPath($event)"
                    (inputChange)="onInputChange($event)"
                    (firstOptionSelect)="handleCustomOption(inputValue)"
                >
                    <ng-template otFirstOption *ngIf="inputValue">
                        <div
                            id="listbox-option-unique-id-00"
                            role="option"
                            ot-auto-id="IntgActionApplyEachCustomJsonPath"
                            >
                            {{allowOtherPrependText | otTranslate}}: {{inputValue}}
                        </div>
                    </ng-template>
                </ot-lookup>
            </div>
            <span
                class="padding-right-half padding-top-half"
                [otTooltip]="'JsonPathTooltip' | otTranslate"
            >
                <i class="ot ot-info-circle padding-left-half"></i>
            </span>
        </div>
    </form>
    <li class="list-group-item border-none padding-left-right-2 padding-top-bottom-1 text-right border-top">
        <button otButton brand
            ot-auto-id="IntgActionApplyEachFinish"
            [innerText]="'Finish' | otTranslate"
            [disabled]="!selectedJsonPath || !isFinishButtonReady"
            (click)="finishApplyEachAction()"
            >
        </button>
    </li>
</section>
