<div otSettingContainer class="margin-left-right-auto width-100-percent">
    <ot-setting
        [title]="'Type' | otTranslate"
        required="true"
        >
        <ot-picklist
            class="width-100-percent"
            ot-auto-id="IntgWorkflowLogicActionDelayTypePicklist"
            valueKey="value"
            labelKey="key"
            [options]="delayTypeOptions"
            [model]="selectedDelayType"
            (onSelect)="selectType($event)"
        ></ot-picklist>
        <ot-setting
            [title]="'Count' | otTranslate"
            required="true"
            >
            <input
                otInput
                class="width-100-percent"
                type="number"
                ot-auto-id="IntgWorkflowLogicActionDelayCountInput"
                [ngModel]="delayCount"
            />
        </ot-setting>
        <ot-setting
            [title]="'Unit' | otTranslate"
            required="true"
            >
            <ot-picklist
                class="width-100-percent"
                ot-auto-id="IntgWorkflowLogicActionDelayUnitPicklist"
                valueKey="value"
                labelKey="key"
                [options]="delayUnitOptions"
                [model]="selectedDelayUnit"
                (onSelect)="selectUnit($event)"
            ></ot-picklist>
        </ot-setting>
    </ot-setting>
</div>
