<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddNewTopics' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <form
        #topicForm="ngForm"
        class="margin-top-bottom-2 min-height-30"
        >
        <div otFormElement
            class="margin-bottom-2"
            [label]="'TopicName' | otTranslate"
            [required]="true"
            >
            <input otInput required
                ot-auto-id="createTopicName"
                class="one-input full-width"
                name="Name"
                maxlength="200"
                [placeholder]="'EnterTopicName' | otTranslate"
                [ngModel]="topic.Name"
                (ngModelChange)="handleChanged($event, 'Name')"/>
        </div>

        <div otFormElement
            [label]="'DefaultLanguage' | otTranslate"
            [tooltip]="'TopicDefaultLanguageTooltip' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="topicDefaultLanguageSelect"
                labelKey="Name"
                valueKey="Code"
                [disabled]="!languageList"
                [options]="languageList"
                [model]="selectedLanguage"
                (onSelect)="selectLanguage($event)"
                >
            </ot-picklist>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="addTopicModalCloseButton"
        [disabled]="createInProgress"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="addTopicModalConfirmButton"
        [disabled]="createInProgress || !topicForm.form.valid || !selectedLanguage"
        [loading]="createInProgress"
        (click)="addTopic()"
        >
        {{ 'Add' | otTranslate }}
    </button>
</ot-modal-footer>
