<div class="max-width-30 max-height-10 align-top padding-top-bottom-1 row-nowrap">
    <div class="width-10 column-nowrap">
        <p class="text-center text-xhuge text-bold color-green">{{responseSummaryDetail.readyQuestionsCount}}</p>
        <p class="text-center text-small">{{'Ready' | translate}}</p>
    </div>
    <div class="width-10 column-nowrap">
        <p class="text-center text-xhuge text-bold color-orange">{{responseSummaryDetail.gapsIdentified}}</p>
        <p class="text-center text-small">{{'GapsIdentified' | translate}}</p>
    </div>
    <div class="width-10 column-nowrap">
        <p class="text-center text-xhuge text-bold text-color-default">{{responseSummaryDetail.unAnsweredQuestionsCount}}</p>
        <p class="text-center text-small">{{'Unanswered' | translate}}</p>
    </div>
</div>
