<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalData.modalTitle"
    (close)="closeModal()"
    >
    <section class="column-horizontal-vertical-center padding-left-right-2 padding-top-2">
        <span class="fa-stack fa-3x">
            <i class="ot ot-circle fa-stack-2x text-success"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <div
            class="text-center max-width-full margin-top-bottom-2"
            [innerText]="modalData.confirmationText">
        </div>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="DSARCompleteModalCancelButton"
            [disabled]="saveInProgress"
            [innerText]="modalData.cancelButtonText"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            ot-auto-id="DSARCompleteModalSaveButton"
            [loading]="saveInProgress"
            [innerText]="modalData.submitButtonText"
            [disabled]="saveInProgress"
            (click)="handleSubmit()"
            >
        </button>
    </footer>
</one-modal-base>
