
<div class="question-configuration__title background-grey padding-all-2">
    <div otFormElement
        class="row-space-between-center"
        [label]="'QuestionConfiguration' | otTranslate">
        <i
            class="text-pointer"
            [attr.ot-auto-id]="'TemplateQuestionConfigurationExpandToggle'"
            [ngClass]="isQuestionConfigurationExpanded ? 'ot ot-minus':'ot ot-plus'"
            (click)="isQuestionConfigurationExpanded = !isQuestionConfigurationExpanded">
        </i>
    </div>
</div>
<div
    *ngIf="isQuestionConfigurationExpanded"
    class="question-configuration no-select margin-left-2 margin-right-3 margin-top-2"
>

    <div *ngIf="selectedQuestionType.value === questionTypes.Inventory.name && isInventoryTypesFetched">
        <div otFormElement
            class="margin-bottom-1 row-space-between"
            [label]="'Inventory' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                [attr.ot-auto-id]="'TemplateBuilderQuestionConfigurationInventoryTypeSelect'"
                [placeholder]="'SelectAnInventory' | otTranslate"
                [autoClose]="true"
                [options]="inventoryTypes"
                [valueKey]="'nameKey'"
                [labelKey]="'name'"
                [disabled]="templateEditMode === templateModes.Edit"
                [model]="selectedInventoryType"
                (onSelect)="handleInventoryTypeChange($event)">
            </ot-picklist>
        </div>
        <div
            *ngIf="showAttributeDeleteMessage"
            class="padding-top-half margin-bottom-1 text-warning"
        >
            {{"AssociatedAttributeQuestionDelete" | otTranslate}}
        </div>
        <div class="question-configuration__inventory margin-bottom-1">
            <template-option-details
                [identifier]="'TemplateBuilderQuestionConfigurationInventoryPrepopulateToggle'"
                [option]="prePopulateResponseDetails"
                [optionValue]="question.prePopulateResponse"
                (toggleStateChanged)="inventoryPrepopulateToggleStateChanged($event)"
            ></template-option-details>
        </div>
        <div class="question-configuration__inventory margin-bottom-1">
            <template-option-details
                [identifier]="'TemplateBuilderQuestionConfigurationLinkAssessmentToInventory'"
                [option]="linkAssessmentToInventoryDetails"
                [optionValue]="question.linkAssessmentToInventory"
                (toggleStateChanged)="linkAssessmentToInventoryToggleStateChanged()"
            ></template-option-details>
        </div>
    </div>

    <div otFormElement
        class="margin-bottom-1 row-space-between"
        [label]="'AnswerRequired' | otTranslate">
        <ot-toggle
            [attr.ot-auto-id]="'TemplateBuilderQuestionConfigurationAnswerRequiredToggle'"
            [checked]="question.required"
            [disabled]="isQuestionConfigurationDisabled"
            (toggle)="onToggle($event, 'isAnswerRequired')"
        >
        </ot-toggle>
    </div>

    <div otFormElement
        class="margin-bottom-1 row-space-between"
        [label]="'QuestionHint' | otTranslate">
        <ot-toggle
            [attr.ot-auto-id]="'TemplateBuilderQuestionConfigurationHintToggle'"
            [checked]="question.attributeJson.isQuestionHintEnabled"
            [disabled]="isQuestionConfigurationDisabled"
            (toggle)="onToggle($event, 'isQuestionHintEnabled')"
        >
        </ot-toggle>
    </div>

    <div *ngIf="selectedQuestionType.value === questionTypes.Attribute.name">
        <div otFormElement
            class="margin-bottom-1 row-space-between"
            [required]="true"
            [label]="'InventoryFollowUpQuestion' | otTranslate"
        >
            <ot-picklist
                [attr.ot-auto-id]="'TemplateBuilderQuestionConfigurationAttributeFollowUpSelect'"
                [autoClose]="true"
                [disabled]="templateEditMode === templateModes.Edit"
                [placeholder]="'SelectInventory' | otTranslate"
                [options]="inventoryQuestions"
                [valueKey]="'id'"
                [labelKey]="'content'"
                [model]="selectedInventoryQuestion"
                (onSelect)="onInventoryQuestionChange($event)"
            ></ot-picklist>
        </div>

        <div otFormElement
            class="margin-bottom-1 row-space-between"
            [required]="true"
            [label]="'AttributeType' | otTranslate"
        >
            <ot-picklist
                [attr.ot-auto-id]="'TemplateBuilderQuestionConfigurationAttributeTypeSelect'"
                [autoClose]="true"
                [disabled]="isAttributeDropdownDisabled || templateEditMode === templateModes.Edit"
                [placeholder]="attributePlaceholderText"
                [options]="inventoryAttributes"
                [valueKey]="'fieldName'"
                [labelKey]="'name'"
                [model]="selectedAttributeType"
                (onSelect)="onAttributeChange($event)"
            ></ot-picklist>
        </div>
    </div>
</div>
