.question-configuration {
    &__title {
        .form-element-label-override {
            font-weight: normal;
            font-size: $text-medium-small;
        }
    }
    &__inventory {
        .template-option-details {
            border-bottom-color: transparent;
        }
    }
    .slds-input.slds-btn-input {
        width: 18rem;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}