.dm-assessment-table {

    &__body {
        max-height: calc(100vh - 30rem);
        -ms-overflow-style: none;

        &--filter-open {
            max-height: calc(100vh - 40rem);
        }
    }
}
