<div class="one-card webform-tile">
    <div class="padding-all-1 position-relative one-card__header column-nowrap">
        <div class="row-flex-end">
            <ot-context-menu
                [type]="contextMenuType.Icon"
                [menu]="dropdownList"
                [position]="'bottom'"
                >
                <i class="fa fa-ellipsis-h"></i>
                <a *otContextMenuItem="let item"
                    (click)="handleActionClicks(item)"
                    >
                    {{ item.textKey }}
                </a>
            </ot-context-menu>
        </div>
        <div
            class="one-card__header--title text-large text-center margin-bottom-2 margin-top-0 margin-left-right-0 overflow-ellipsis-nowrap"
            [innerText]="tileName"
        ></div>
        <div
            class="text-center text-bold margin-bottom-half overflow-ellipsis-nowrap"
            [innerText]="descriptionTitle"
        ></div>
        <div
            class="text-center inline-block overflow-ellipsis-nowrap"
            [innerText]="descriptionContent"
        ></div>
        <div class="text-center">
            <span [class]="tileIcon"></span>
        </div>
        <div class="one-card__header--divider full-width margin-all-auto margin-bottom-0"></div>
    </div>
    <div class="row-horizontal-vertical-center padding-bottom-1">
        <button
            otButton
            brand
            [attr.ot-auto-id]="'OneTile' + tileName + 'Button'"
            [innerText]="tileButtonText"
            (click)="tileButtonClick()"
            >
        </button>
    </div>
</div>
