.webform-tile {
    width: 20rem;
    height: 20rem;
    border-radius: .3rem;
    .one-card__header {
        min-height: 15rem;
        &--divider {
            bottom: 1.4rem;
            height: .1rem;
            background-color: $grey-2;
        }
        &--title {
            font-weight: 600;
            color: $slate;
            line-height: 2rem;
            cursor: text;
        }
    }
}
