<form
    novalidate
    class="flex-full-height full-width padding-left-right-2 padding-top-bottom-1"
    [formGroup]="bannerContentForm"
>
    <!-- Banner title -->
    <div
        otFormElement
        [label]="'BannerTitle' | otTranslate"
    >
        <input
            otInput
            class="full-width"
            name="bannerTitle"
            ot-auto-id="CookieBannerTitleInput"
            [formControlName]="'bannerTitle'"
            [placeholder]="'BannerTitle' | otTranslate"
            (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.BANNER_TITLE)"
            (mouseleave)="setItemBeingEdited(null)"
        />
    </div>
    <!-- Banner description -->
    <div
        otFormElement
        class="margin-top-1"
        [required]="true"
        [label]="'NoticeDescription' | otTranslate"
        [hasError]="!bannerContentForm.get('noticeText').valid && bannerContentForm.get('noticeText').dirty"
        [errorMessage]="'PleaseEnterTheTextForYourNotice' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.NOTICE_DESCRIPTION)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <p [innerText]="'ThisMayNeedCustomizingToMatchTheConsentModel' | otTranslate"></p>
        <textarea
            otTextarea
            class="full-width"
            name="noticeText"
            ot-auto-id="CookieBannerNoticeTextInput"
            [formControlName]="'noticeText'"
            [attr.rows]="'3'"
            [placeholder]="'NoticeDescription' | otTranslate"
        ></textarea>
    </div>
    <!-- policy toggle,link & name-->
    <div otFormElement
        class="row-space-between margin-top-1"
        [label]="'AddCookiePolicyLink' | otTranslate"
        [required]="bannerContentForm.get('showAddPolicyLink').value"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.COOKIE_POLICY_LINK)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <ot-toggle
            ot-auto-id="CookieBannershowAddPolicyToggle"
            [checked]="bannerContentForm.get('showAddPolicyLink').value"
            (toggle)="onCookiePolicyToggle()"
        ></ot-toggle>
    </div>
    <div
        otFormElement
        [hasError]="bannerContentForm.get('showAddPolicyLink').value &&
            !bannerContentForm.get('cookiePolicyLinkText').valid &&
            bannerContentForm.get('cookiePolicyLinkText').dirty"
        [errorMessage]="'PleaseEnterYourPolicyLinkText' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.COOKIE_POLICY_LINK)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <input
            otInput
            class="full-width"
            name="cookiePolicyLinkText"
            ot-auto-id="CookieBannerPolicyLinkTextInput"
            [formControlName]="'cookiePolicyLinkText'"
            [placeholder]="'LinkText' | otTranslate"
        />
    </div>
    <div
        otFormElement
        [hasError]="bannerContentForm.get('showAddPolicyLink').value &&
            !bannerContentForm.get('cookiePolicyUrl').valid &&
            bannerContentForm.get('cookiePolicyUrl').dirty"
        [errorMessage]="'PleaseEnterYourPolicyLinkUrl' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.COOKIE_POLICY_LINK)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <input
            otInput
            class="full-width"
            name="cookiePolicyUrl"
            ot-auto-id="CookieBannerPolicyURLInput"
            [formControlName]="'cookiePolicyUrl'"
            [placeholder]="'LinkURLExample' | otTranslate"
        />
    </div>
    <!-- cookie Setting button toggle & name-->
    <div otFormElement
        class="row-space-between margin-top-1"
        [label]="'CookieSettingsButton' | otTranslate"
        [required]="bannerContentForm.get('showCookieSettings').value"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.COOKIE_SETTINGS_BUTTON)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <ot-toggle
            ot-auto-id="CookieBannershowCookieSettingsToggle"
            [checked]="bannerContentForm.get('showCookieSettings').value"
            (toggle)="onCookieSettingToggle()"
        ></ot-toggle>
    </div>
    <div
        otFormElement
        [hasError]="bannerContentForm.get('showCookieSettings').value &&
            !bannerContentForm.get('cookieSettings').valid &&
            bannerContentForm.get('cookieSettings').dirty"
        [errorMessage]="'PleaseEnterTheCookieSettingsButtonText' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.COOKIE_SETTINGS_BUTTON)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <input
            otInput
            class="full-width"
            name="cookieSettings"
            ot-auto-id="CookieBannerCookieSettingsButtonInput"
            [formControlName]="'cookieSettings'"
            [placeholder]="'CookieSettings' | otTranslate"
        />
    </div>
    <!-- accept cookies toogle & name-->
    <div otFormElement
        class="row-space-between margin-top-1"
        [label]="'AcceptCookiesButton' | otTranslate"
        [required]="bannerContentForm.get('showAcceptCookies').value"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.ACCEPT_COOKIES_BUTTON)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <ot-toggle
            ot-auto-id="CookieBannerShowAcceptCookiesToggle"
            [checked]="bannerContentForm.get('showAcceptCookies').value"
            (toggle)="onAcceptCookieToggle()"
        ></ot-toggle>
    </div>
    <div
        otFormElement
        [hasError]="bannerContentForm.get('showAcceptCookies').value &&
            !bannerContentForm.get('acceptCookies').valid &&
            bannerContentForm.get('acceptCookies').dirty"
        [errorMessage]="'PleaseEnterTheAcceptCookiesButtonText' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.ACCEPT_COOKIES_BUTTON)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <input
            otInput
            class="full-width"
            name="acceptCookies"
            ot-auto-id="CookieBannerAcceptCookiesInput"
            [formControlName]="'acceptCookies'"
            [placeholder]="'AcceptCookies' | otTranslate"
        />
    </div>
    <!-- Banner footer description -->
    <div
        *ngIf="isCenterLayout"
        otFormElement
        class="margin-top-1"
        [label]="'CenterTileFooter' | otTranslate"
        [hasError]="bannerContentForm.get('footerDescriptionText').errors"
        [errorMessage]="'FooterDescriptionExceededMaxLength' | otTranslate"
        (mouseenter)="setItemBeingEdited(EDITABLE_ITEMS.BANNER_FOOTER)"
        (mouseleave)="setItemBeingEdited(null)"
    >
        <p [innerText]="'ThisMayNeedToCustomizeFooter' | otTranslate"></p>
        <textarea
            otTextarea
            class="full-width"
            name="footerDescriptionText"
            ot-auto-id="CookieBannerFooterDescriptionTextInput"
            [formControlName]="'footerDescriptionText'"
            [attr.rows]="'3'"
            [placeholder]="'FooterDescription' | otTranslate"
        ></textarea>
    </div>
</form>

