<section class="one-modal-new flex-full-height full-width-block max-height-100-percent color-slate">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]= "'AddLanguage' | otTranslate"
        >
        </h4>
        <button otButton neutral class="one-modal-new__close static-horizontal no-outline" (click)= "closeModal()">
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="padding-all-2">
        <form name="addLanguageForm">
            <div otFormElement [label]="'SelectBannerLanguage' | otTranslate" class="margin-right-1">
                <ot-picklist
                    ot-auto-id="AttributeTemplateLanguageId"
                    [placeholder]="'SelectLanguage' | otTranslate"
                    [autoClose]="true"
                    [options]="languageList"
                    [valueKey]="'id'"
                    [labelKey]="'name'"
                    [model]="selectedLanguage"
                    (onSelect)="selectLanguage($event)"
                ></ot-picklist>
            </div>
        </form>
        <footer class="margin-top-half row-flex-end static-horizontal padding-top-1 margin-bottom-1">
            <button
                otButton neutral
                ot-auto-id="AttributeCloseLanguageModalId"
                (click)="closeModal()"
                [innerText] = "'Cancel' | otTranslate"
            >
            </button>
            <button
                otButton brand
                ot-auto-id="AttributeAddLanguageId"
                [loading]="isLoading"
                [disabled]="!validateForm()"
                (click)="addLanguage()"
                [innerText] = "'Add' | otTranslate"
            >
            </button>
        </footer>
    </div>
</section>
