<div class="cr-edit overflow-y-auto height-100 full-width column-horizontal-center background-white">
    <cr-header [title]="'DefineCollectionPoint' | otTranslate"></cr-header>

    <cr-collection-point-header
        class="full-width border-bottom"
        [title]="'DefineCollectionPoint' | otTranslate"
        [collectionPoint]="collectionPoint"
    ></cr-collection-point-header>
    <cr-collection-point-badge
        [creating]="true"
        [collectionPointType]="collectionPointType"
    ></cr-collection-point-badge>
    <section class="padding-all-2 full-width column-horizontal-center">
        <form #collectionPointForm="ngForm" class="width-70-rem margin-bottom-2">
            <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom">{{ "Overview" | otTranslate }}</h4>
            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Name' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    ot-auto-id="CollectionPointCreateName"
                    class="one-input"
                    name="Name"
                    maxlength="200"
                    autofocus
                    [placeholder]="'EnterCollectionPointName' | otTranslate"
                    [ngModel]="collectionPoint.Name"
                    (ngModelChange)="handleChanged($event, 'Name')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Description' | otTranslate"
                [required]="true"
                >
                <textarea otTextarea required
                    ot-auto-id="CollectionPointCreateDescription"
                    name="Description"
                    maxlength="500"
                    [ngModel]="collectionPoint.Description"
                    [placeholder]="'EnterCollectionPointDescription' | otTranslate"
                    (ngModelChange)="handleChanged($event, 'Description')"
                ></textarea>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType !== crConstants.CRTypes.Mobile"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <ot-lookup
                    ot-auto-id="CollectionPointCreateMultiSelectPurpose"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    [otTooltip]="{ content: 'ActivePurposesOnly' | otTranslate, placement: 'top' }"
                    [clearInputOnModelChange]="true"
                    [model]="selectedPurposes"
                    [multiSelect]="true"
                    [options]="purposeOptions"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="selectOption($event)"
                ></ot-lookup>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'Organization' | otTranslate"
                [required]="true"
                >
                <ot-picklist
                    name="Organization"
                    ot-auto-id="CollectionPointCreateOrganization"
                    [autoClose]="true"
                    [options]="orgList"
                    [model]="selectedOrg"
                    [labelKey]="'Name'"
                    [valueKey]="'Id'"
                    [indentKey]="'Level'"
                    (onSelect)="updateSelectedOrg($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-3 width-50-rem margin-left-right-auto"
                [label]="'ResponsibleUser' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="CollectionPointCreateResponsibleUser"
                    name="ResponsibleUser"
                    labelKey="FullName"
                    valueKey="Id"
                    [autoClose]="true"
                    [disabled]="!(userList?.length) || !('ConsentResponsibleUserSelect' | otPermit)"
                    [dynamicHeight]="true"
                    [model]="responsibleUser"
                    [options]="userListOptions"
                    [placeholder]="'SelectResponsibleUser' | otTranslate"
                    (inputChange)="onResponsibleUserInputChange($event)"
                    (modelChange)="selectResponsibleUser($event)"
                ></ot-lookup>
            </div>

            <div otFormElement
                *ngIf="collectionPointType === crConstants.CRTypes.Mobile"
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'DefaultLanguage' | otTranslate"
                [required]="true"
                >
                <ot-picklist
                    ot-auto-id="CreateCollectionPointDefaultLanguageSelect"
                    name="selectedLanguage"
                    labelKey="Name"
                    valueKey="Code"
                    [autoClose]="true"
                    [options]="languageList"
                    [model]="selectedLanguage"
                    (onSelect)="updateSelectedLanguage($event)"
                ></ot-picklist>
            </div>

            <h4 class="margin-top-0 margin-bottom-1 padding-bottom-1 border-bottom">{{ "Configuration" | otTranslate }}</h4>
            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.WebForm"
                [label]="'FormUrl' | otTranslate"
                >
                <input otInput
                    ot-auto-id="CollectionPointCreatePageUrl"
                    class="one-input"
                    maxlength="400"
                    name="WebFormUrl"
                    [placeholder]="'EnterFormPageUrl' | otTranslate"
                    [ngModel]="collectionPoint.WebFormUrl"
                    (ngModelChange)="handleChanged($event, 'WebFormUrl')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'PrivacyPolicyUrl' | otTranslate"
                >
                <input otInput
                    class="one-input"
                    ot-auto-id="CollectionPointCreatePolicyPage"
                    maxlength="400"
                    name="PrivacyPolicyUrl"
                    [ngClass]="{'border-has-error text-error': !isPrivacyPolicyValid}"
                    [placeholder]="'EnterPrivacyPolicyPageUrl' | otTranslate"
                    [ngModel]="collectionPoint.PrivacyPolicyUrl"
                    (ngModelChange)="handleChanged($event, 'PrivacyPolicyUrl')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && consentIABCollectionPoint"
                [label]="'EnableIAB' | otTranslate"
                >
                <ot-toggle
                    ot-auto-id="CollectionPointCreateIabConsentToggle"
                    [checked]="iabConsentToggled"
                    (toggle)="toggleIabConsent()"
                ></ot-toggle>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="iabConsentToggled"
                [label]="'VendorVersionList' | otTranslate"
                >
                <ot-picklist
                    class="cc-language-seletion__select"
                    [placeholder]="'Status' | otTranslate"
                    [autoClose]="autoCloseEnabled"
                    [options]="vendorsList.content"
                    [model]="selectedList"
                    (onSelect)="toggleIabVendor($event)"
                    [tooltip]="'Status' | otTranslate"
                    labelKey="ListName"
                    valueKey="ListId"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && !iabConsentToggled"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <upgraded-one-multiselect
                    ot-auto-id="CreateCollectionPointPurposeMultiSelect"
                    [list]="fullPurposeList"
                    [model]="selectedPurposes"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    (handleSelect)="handleMultiSelect($event.$model)"
                    (handleRemove)="handleMultiSelect($event.$model)"
                    [isDisabled]="isMobileType"
                ></upgraded-one-multiselect>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.Mobile && iabConsentToggled"
                [label]="'PurposeOfProcessing' | otTranslate"
                [required]="true"
                >
                <upgraded-one-multiselect
                    ot-auto-id="CreateCollectionPointPurposeMultiSelect"
                    [list]="purposeListIAB"
                    [model]="selectedPurposes"
                    labelKey="Label"
                    valueKey="Id"
                    throttleValue="100"
                    (handleSelect)="handleMultiSelectIAB($event.$model)"
                    (handleRemove)="handleMultiSelectIAB($event.$model)"
                ></upgraded-one-multiselect>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                [label]="'DataSubjectIdentifier' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    ot-auto-id="CollectionPointCreateDataSubjectIdentifier"
                    class="one-input"
                    maxlength="200"
                    name="SubjectIdentifier"
                    [placeholder]="'EnterDataSubjectIdentifier' | otTranslate"
                    [disabled]="collectionPoint.DoubleOptIn"
                    [ngModel]="collectionPoint.SubjectIdentifier"
                    (ngModelChange)="handleChanged($event, 'SubjectIdentifier')"
                    />
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="collectionPoint.CollectionPointType === crConstants.CRTypes.WebForm"
                [label]="'TypeOfConsent' | otTranslate"
                >
                <ot-picklist
                    ot-auto-id="CollectionPointCreateConsentType"
                    name="ConsentType"
                    [autoClose]="true"
                    [options]="crConsentTypes"
                    [model]="selectedConsentType"
                    [labelKey]="'label'"
                    [valueKey]="'value'"
                    (onSelect)="updateConsentType($event)"
                ></ot-picklist>
            </div>

            <div otFormElement
                class="margin-bottom-1 width-50-rem margin-left-right-auto"
                *ngIf="dataElementsEnabled && collectionPoint.CollectionPointType !== crConstants.CRTypes.Mobile"
                [label]="'DataElements' | otTranslate"
                >
                <ot-lookup
                    ot-auto-id="collectionPointCreateDataElements"
                    labelKey="Label"
                    valueKey="Id"
                    [autoClose]="true"
                    [clearInputOnModelChange]="true"
                    [model]="selectedDataElements"
                    [multiSelect]="true"
                    [options]="dataElementOptions"
                    (firstOptionSelect)="selectOtherDataElement()"
                    (inputChange)="onDataElementInputChange($event)"
                    (modelChange)="selectDataElement($event)"
                    >
                    <ng-template otFirstOption *ngIf="dataElementInput && !this.dataElementOptions.length">
                        <span
                            ot-auto-id="ConsentDataElementOtherOption"
                            id="listbox-option-unique-id-00"
                            role="option"
                            >
                            {{ "AddOption" | otTranslate }}: {{ dataElementInput }}
                        </span>
                    </ng-template>
                </ot-lookup>
            </div>

            <section *ngIf="canEditNoticeFields">
                <hr/>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'DataControllerName' | otTranslate"
                    >
                    <textarea otTextarea
                        ot-auto-id="CollectionPointCreateDataControllerName"
                        name="DataControllerName"
                        maxlength="1000"
                        [ngModel]="collectionPoint.DataControllerName"
                        [placeholder]="'EnterDataControllerName' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'DataControllerName')"
                    ></textarea>
                </div>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'RightToWithdraw' | otTranslate"
                    >
                    <textarea otTextarea
                        ot-auto-id="CollectionPointCreateRightToWithdraw"
                        name="RightToWithdraw"
                        maxlength="1000"
                        [ngModel]="collectionPoint.RightToWithdraw"
                        [placeholder]="'EnterRightToWithdraw' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'RightToWithdraw')"
                    ></textarea>
                </div>

                <div otFormElement
                    class="margin-bottom-1 width-50-rem margin-left-right-auto"
                    [label]="'HowToWithdraw' | otTranslate"
                    >
                    <textarea otTextarea
                        ot-auto-id="CollectionPointCreateHowToWithdraw"
                        name="HowToWithdraw"
                        maxlength="1000"
                        [ngModel]="collectionPoint.HowToWithdraw"
                        [placeholder]="'EnterHowToWithdraw' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'HowToWithdraw')"
                    ></textarea>
                </div>

                <div otFormElement
                    [label]="'OtherInformation' | otTranslate"
                    >
                    <textarea otTextarea
                        ot-auto-id="CollectionPointCreateOtherInformation"
                        name="OtherInformation"
                        maxlength="1000"
                        [ngModel]="collectionPoint.OtherInformation"
                        [placeholder]="'EnterOtherInformation' | otTranslate"
                        (ngModelChange)="handleChanged($event, 'OtherInformation')"
                    ></textarea>
                </div>
            </section>
            <div class="flex-full-width margin-top-2 margin-bottom-1 margin-left-right-auto">
                <button otButton neutral
                    ot-auto-id="CollectionPointCreateCancelButton"
                    class="margin-left-auto"
                    [innerText]="'Cancel' | otTranslate"
                    [disabled]="createInProgress"
                    (click)="goToCollectionPoints()"
                ></button>
                <button otButton brand
                    ot-auto-id="CollectionPointCreateButton"
                    class="margin-right-auto"
                    [innerText]="'CreateCollectionPoint' | otTranslate"
                    [loading]="createInProgress"
                    [disabled]="createInProgress || !isPurposeValid || !collectionPointForm.form.valid || emptyField"
                    (click)="createCollectionPoint()"
                ></button>
            </div>
        </form>
    </section>
</div>
