<cr-filters
    [(isDrawerOpen)]="isDrawerOpen"
    [(textSearch)]="filters.identifier"
    (onApply)="handleApply()"
    (onClear)="handleClear()"
    (onRefresh)="handleRefresh()"
    (onTextSearch)="handleTextSearch('identifier', $event, 'ConsentTransactionIdentifierFilter')"
    (onToggle)="toggleDrawer()"
>
    <div otFormElement
        [label]="'FilterByIdentifier' | otTranslate"
        >
        <input otInput
            class="one-input full-width"
            ot-auto-id="TransactionIdentifierFilter"
            [placeholder]="'Identifier' | otTranslate"
            [ngModel]="filters.identifier"
            (ngModelChange)="setFilterValue('identifier', $event)"
            />
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'SelectPurpose' | otTranslate"
        >
        <ot-lookup
            ot-auto-id="TransactionPurposeFilter"
            [labelKey]="'label'"
            [valueKey]="'value'"
            [placeholder]="'PurposeName' | otTranslate"
            [autoClose]="true"
            [clearInputOnModelChange]="true"
            [inputValue]="inputs.purposeGuid"
            [model]="selections.purposeGuid"
            [options]="filteredOptions.purposeGuid ? filteredOptions.purposeGuid : options.purposeGuid"
            (inputChange)="onLookupInputChange('purposeGuid', $event)"
            (modelChange)="selectPurpose($event)"
        ></ot-lookup>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByPurposeVersion' | otTranslate"
        >
        <ot-picklist
            labelKey="label"
            valueKey="version"
            ot-auto-id="TransactionPurposeVersionFilter"
            [options]="options.purposeVersion"
            [model]="selections.purposeVersion"
            [disabled]="!selections.purposeGuid"
            (onSelect)="selectOption('purposeVersion', $event, 'version')"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByCollectionPoint' | otTranslate"
        >
        <ot-lookup
            ot-auto-id="TransactionCollectionPointFilter"
            [labelKey]="'label'"
            [valueKey]="'value'"
            [placeholder]="'CollectionPointName' | otTranslate"
            [autoClose]="true"
            [clearInputOnModelChange]="true"
            [inputValue]="inputs.collectionPointGuid"
            [model]="selections.collectionPointGuid"
            [options]="filteredOptions.collectionPointGuid ? filteredOptions.collectionPointGuid : options.collectionPointGuid"
            (inputChange)="onLookupInputChange('collectionPointGuid', $event)"
            (modelChange)="selectCollectionPoint($event)"
        ></ot-lookup>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByCollectionPointVersion' | otTranslate"
        >
        <ot-picklist
            labelKey="label"
            valueKey="version"
            ot-auto-id="TransactionCollectionPointVersionFilter"
            [options]="options.collectionPointVersion"
            [model]="selections.collectionPointVersion"
            [disabled]="!selections.collectionPointGuid"
            (onSelect)="selectOption('collectionPointVersion', $event, 'version')"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByTransactionNumber' | otTranslate"
        >
        <input otInput
            class="one-input full-width"
            ot-auto-id="TransactionNumberFilter"
            [placeholder]="'TransactionNumber' | otTranslate"
            [ngModel]="filters.guid"
            (ngModelChange)="setFilterValue('guid', $event)"
            />
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByReceiptId' | otTranslate"
        >
        <input otInput
            class="one-input full-width"
            ot-auto-id="ReceiptIdFilter"
            [placeholder]="'ReceiptId' | otTranslate"
            [ngModel]="filters.receiptGuid"
            (ngModelChange)="setFilterValue('receiptGuid', $event)"
            />
    </div>
</cr-filters>