.modal
    script(type='text/ng-template', id='AnalysisModal.html')
        .modal-header
            h3.modal-title.align-left {{::$root.t("ContinueRiskTracking", { RiskTracking: $root.customTerms.RiskTracking })}}
            h3.modal-title.align-right(ng-click='cancel()')
                i.ot.ot-times
        .modal-body
            .analysis-modal
                loading(ng-if="!Ready")
                .content(ng-if="Ready")
                    p.content-info
                        | {{::$root.t("ProjectFlaggedRisks")}}

                    .submit-buttons
                        one-button(
                            button-class="margin-right-1"
                            button-click="continueToRiskSummary()",
                            enable-loading="true",
                            is-loading="isLoading"
                            identifier="proceedToRiskSummaryButton",
                            is-disabled="isLoading",
                            text="{{::$root.t('ContinueRiskTracking', { RiskTracking: $root.customTerms.RiskTracking })}}",
                            type="primary"
                        )
                        one-button(
                            button-click="cancel()",
                            identifier="returnToProjectReviewButton",
                            text="{{::$root.t('ReturnToProjectReview')}}",
                        )
