.modal
    script(type='text/ng-template', id='CommentsModal.html')

        section.question-comments-modal
            .modal-header
                h3.modal-title.align-left
                    span.fa.fa-comment-o
                    |  {{::$root.t("Comments")}}
                h3.modal-title.align-right(ng-click='closeModal()')
                    span.ot.ot-times
            .modal-body(scroll-glue='')
                .animate-if(ng-if='!HasComments')
                    .col-md-12.col-xs-12.empty-placeholder
                        h1 {{::$root.t("NoComments")}}
                .animate-if(
                    ng-if='HasComments',
                    ng-repeat='comment in questionComments track by $index',
                    ng-init='selfCommented = currentUser.Id === comment.CommentorId')
                    .chat-bubble(if='{{comment.Id}}')
                        .chat-bubble__comment(
                            ng-class="{'chat-bubble__comment--right': selfCommented, 'chat-bubble__comment--left': !selfCommented}")
                            span.hide currentUserId:{{currentUser.Id}}
                            img.profile(
                                ng-if='comment.ImageUrl',
                                ng-class="{'pull-right': selfCommented, 'pull-left': !selfCommented}",
                                ng-src='{{comment.ImageUrl}}')
                            p(class="chat-bubble__comment-text")
                                | {{comment.Value}}
                        .chat-bubble__metadata(
                            ng-class="{'chat-bubble__metadata--right': selfCommented, 'chat-bubble__metadata--left': !selfCommented}")
                            em {{comment.Commentor}}&nbsp
                            date.date(model="comment.CreatedDT")
            .modal-footer(ng-if='::canAddQuestionComments')
                form(style='display:inherit', ng-submit='AddComment()')
                    .input-group
                        input.form-control.input-sm.chat-input(
                            type='text',
                            placeholder='{{::$root.t("EnterCommentHere")}}',
                            ng-model='newComment.Value')
                        span.input-group-btn
                            input.btn.btn-sm.btn-success(
                                type='submit',
                                ng-disabled="newComment.Value === '' || processing",
                                value='{{::$root.t("Send")}}')
