.modal
    script(type='text/ng-template', id='NextStepsModal.html')

        .modal-header
            h3.modal-title.align-left(ng-if="!isAssigningAdditional")
                | {{ ::$root.t("SendAdditionalQuestionnaire") }}
            h3.modal-title.align-left(ng-if="isAssigningAdditional")
                | {{ ::$root.t("AssignAdditionalQuestionnaire") }}
            h3.modal-title.align-right(ng-click='done()')
                i.ot.ot-times
        .modal-body
            loading(
                ng-if="!Ready",
                text="{{ ::$root.t('SendAdditionalQuestionnaire') }}")

            // Send Additional Questionnaire (Form 1)
            form.next-steps(
                ng-if="Ready && !isAssigningAdditional",
                role='form',
                name='sendAdditionalQuestionnaire')
                p.next-steps__info
                    | {{ ::$root.t("NextStepsModal.ThisAssessmentIsAThreshold") }}:
                p.next-steps__info.next-steps__info--main.text-bold
                    | {{ TemplateName }}
                p.next-steps__info
                    | {{ ::$root.t("NextStepsModal.WouldYouLikeToAssign") }}
                .next-steps__button-row
                    button.one-button.next-steps__button(
                        ng-click="noAdditional()",
                        ng-disabled="isSubmitted")
                        p.next-steps__button-text.next-steps__button-text--main
                            | {{ ::$root.t("No") }}
                        p.next-steps__button-text
                            | {{ ::$root.t("NoAdditionalQuestionnairesNeeded") }}
                        .next-steps__button-icon.fa.fa-info-circle(
                            uib-tooltip="{{ ::$root.t('NoAdditionalQuestionnairesTooltip') }}",
                            tooltip-append-to-body="true",
                            tooltip-placement="top")
                    button.one-button.one-button--primary.next-steps__button.next-steps__button--primary(
                        ng-click="assignAdditional()",
                        ng-disabled="isSubmitted")
                        p.next-steps__button-text.next-steps__button-text--main(
                            ng-if='!loadingAssign')
                            | {{ ::$root.t("Yes") }}
                        p.next-steps__button-text(ng-if='!loadingAssign')
                            | {{ ::$root.t("AssignAdditionalQuestionnaire") }}
                        loading(ng-if='loadingAssign', show-text='false')

            // Assigning Additional (Form 2)
            form.next-steps(
                ng-if="Ready && isAssigningAdditional",
                role='form',
                name='assignAdditionalQuestionnaire')
                p.next-steps__info.next-steps__info--main.text-bold(
                    ng-if="isAssigningAdditional")
                    | {{ ::TemplateName }}
                p.next-steps__info(
                    ng-if="isAssigningAdditional")
                    | {{ ::$root.t("NextStepsModal.SelectTheRespondent") }}:
                one-respondent-assign(
                    project="project",
                    current-user="currentUser",
                    users="allUsers",
                    update-parent="respondentAssignUpdated()"
                )
                p.next-steps__info--comments
                    | {{ ::$root.t("PleaseEnterCommentsHere") }}
                textarea.next-steps__comments(
                    ng-model='comment',
                    ng-change="updateComment(this.comment)",
                    name='comment')
                p.next-steps__banner.alert-success(ng-if="project.Lead")
                    | {{ $root.t("AfterSubmitLeadWillReceiveEmail", {LeadName: LeadName}) }}
                .next-steps__button-row.next-steps__button-row--right
                    one-button(
                        button-click="done()",
                        identifier='nextStepsCancel',
                        text="{{ ::$root.t('Cancel') }}")
                    one-button(
                        button-click="previous()",
                        identifier='nextStepsPrevious',
                        text="{{ ::$root.t('Previous') }}")
                    one-button(
                        button-click="assignQuestionnaire()",
                        identifier='nextStepsAssign',
                        enable-loading="true",
                        is-disabled="isSubmitted || !respondentSelected",
                        is-loading="loadingAssign",
                        text="{{submitButtonText}}",
                        type="primary")
