.modal
    script(type='text/ng-template', id='QuestionHistoryModal.html')
        section.question-history-modal.history-modal
            .modal-header.history-modal__header
                h3.modal-title.align-left {{::$root.t("HistoryQuestion")}} {{Question.Number}}
                h3.modal-title.align-right(ng-click='closeModal()')
                    span.ot.ot-times
            .modal-body.history-modal__body
                .history-modal__metadata
                    // Question contents
                    section.history-modal__metadata-item
                        b {{::$root.t("Question")}}
                        p {{questionHistory.Name}}
                    section.history-modal__metadata-item
                        b {{::$root.t("CreatedBy")}}
                        p {{questionHistory.CreatedBy}}
                    section.history-modal__metadata-item
                        b {{::$root.t("CreatedDate")}}
                        one-date(date-to-format="questionHistory.CreateDT")

                .history-modal__filters
                    form.history-modal__search.one-search
                        label.one-search__label(for='history-modal__search')
                            i.ot.ot-search.one-search__icon
                        input#history-modal__search.history-modal__search-input.one-search__input(type='text', ng-model='historyFilter.All', placeholder='{{::$root.t("SearchHistory")}}')

                    .history-modal__select-container
                        span.history-modal__select-arrow.fa.fa-caret-down
                        select.history-modal__select(ng-model='historyFilter.State', ng-options='status.Value as status.Name for status in projectStatuses')

                #questionHistory.history-modal__table
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                th {{::$root.t("UpdateDate")}}
                                th {{::$root.t("UpdateDescription")}}
                                th {{::$root.t("UpdateBy")}}
                                th {{::$root.t("State")}}
                        tbody
                            tr(ng-repeat='event in questionHistory.Entries | filter:historyFilter.All | pick:questionStateFilter')
                                td(ng-class='{"align-top": event.isExtended}')
                                    one-date(
                                        date-to-format="event.UpdateDT"
                                        ng-if='event.UpdateDT'
                                    )
                                    span(ng-if='!event.UpdateDT') {{::$root.t("Current")}}
                                td.description.description--short(ng-if='!isLongValue(event)')
                                    span.description(ng-bind-html='event.UpdateDesc')
                                td.description.long-value(ng-if='isLongValue(event)', ng-class='{"truncate-values": !event.isExtended}')
                                    span(ng-bind-html='event.UpdateDescShort' ng-hide='event.isExtended')
                                    span(ng-bind-html='event.UpdateDesc' ng-show='event.isExtended')
                                    button.read-more(ng-click='event.isExtended = !event.isExtended;')
                                        span {{::$root.t("More")}}
                                        i.fa.fa-caret-down
                                    button.read-less(ng-click='event.isExtended = !event.isExtended;')
                                        span {{::$root.t("Less")}}
                                        i.fa.fa-caret-up
                                td(ng-class='{"align-top": event.isExtended}')
                                    span(ng-bind='event.UpdatedBy')
                                td(ng-class='{"align-top": event.isExtended}')
                                    //using default styling for now
                                    //span.label(class='label-{{event.StateLabel}}', ng-bind='event.StateLabelText')
                                    span {{event.StateLabelText}}
