.modal
    script(type='text/ng-template', id='SendBackModal.html')
        .modal-header
            h3.modal-title.align-left {{::$root.t("SendBack")}}
            h3.modal-title.align-right(ng-click='cancel()')
                i.ot.ot-times
        .modal-body
            .send-back
                form(role='form', name='commentForm')
                    p.send-back__label {{ ::labels.sendBackText(Lead) }}
                    .form-group(ng-class="{'has-error': commentForm.Comments.$invalid  && (commentForm.Comments.$touched || commentForm.Comments.$dirty)}")
                        label.send-back__label {{::$root.t("CommentsToSendWithEmail")}} *
                        textarea.send-back__textarea.resize-none(required='', name='Comments', placeholder='{{::$root.t("PleaseEnterCommentsHere")}}', ng-model='comments')
                        p.text-center.text-danger(ng-show='commentForm.Comments.$invalid  && (commentForm.Comments.$touched || commentForm.Comments.$dirty)')
                            | {{::$root.t("PleaseEnterComments")}}
                    .margin-bottom-2(ng-if='canRespondentEditAnswer')
                        one-checkbox(
                            toggle='toggleAllowRespondentEditing()'
                            is-selected='AllowRespondentEditing'
                        )
                        span {{::$root.t("AllowRespondentToChangeAnswers")}}.&nbsp
                        i.fa.fa-info-circle(
                            uib-tooltip='{{::$root.t("IfEnabledChangesNotTracked")}}'
                            tooltip-append-to-body='true'
                            tooltip-placement='top'
                        )
                    .send-back__btn
                        one-button.margin-right-1(
                            button-click='cancel()',
                            text='{{::$root.t("Cancel")}}'
                        )
                        one-button(
                            button-click='sendBack(comments)'
                            enable-loading="true"
                            is-loading="requestInProgress"
                            is-disabled='commentForm.$invalid || requestInProgress'
                            text='{{::$root.t("Send")}}'
                            type='primary'
                        )
