.modal
    script(type='text/ng-template', id='ShareProjectModal.html')

        .modal-header
            h3.modal-title.align-left {{::translations.shareProject}}
            h3.modal-title.align-right(ng-click="cancel()")
                i.ot.ot-times

        .modal-body
            loading(ng-if="!Ready")
            .content.padding-all-2(data-ng-if="Ready")
                label(ng-if="::notDisabledUsers.length") {{::translations.shareAReadOnlyCopy}}
                label.text-error(ng-if="!notDisabledUsers.length")
                    | {{::translations.emptyPlaceholder}}
                one-multiselect(
                    append-to-body="true",
                    allow-other="false",
                    container-class="z-index-9999",
                    handle-select="handleSelect('NOT_SHARED_WITH_USER', $item)",
                    handle-remove="handleRemove('NOT_SHARED_WITH_USER', $item)",
                    label-key="FullName",
                    list="notDisabledUsers",
                    model="notSharedWithUserModel",
                    multiple="true",
                    is-disabled="!notDisabledUsers.length"
                    placeholder="{{::translations.enterNames}}",
                )
                .row-space-between.margin-top-half
                    one-comma-separated-list(
                        class-name="'one-multiselect-subtext paragraph-small'"
                        data-ng-if="isProjectShared && !isAdvancedButtonClicked",
                        list="sharedWithUsers",
                        list-key="'FullName'",
                        prepend-text="'Shared with'"
                    )
                    p.in-progress.margin-none.text-pointer(
                        role="presentation",
                        tabindex="-1",
                        data-id="share-project-advanced-button",
                        data-ng-click="advancedButtonClicked()",
                        data-ng-if="isProjectShared && !isAdvancedButtonClicked",
                    )
                        | {{::translations.advanced}}
                label.margin-top-2(data-ng-if="isProjectShared && isAdvancedButtonClicked")
                    | {{::translations.sharedWith}}
                one-multiselect(
                    append-to-body="true",
                    allow-other="false",
                    container-class="z-index-9999",
                    data-ng-if="isProjectShared && isAdvancedButtonClicked",
                    handle-select="handleSelect('SHARED_WITH_USER', $item)",
                    handle-remove="handleRemove('SHARED_WITH_USER', $item)",
                    label-key="FullName",
                    list="sharedWithUsers",
                    model="sharedWithUserModel",
                    multiple="true",
                    placeholder="{{::translations.enterNames}}",
                )
                .submit-buttons.row-flex-end.margin-top-2
                    one-button(
                        button-class="margin-left-1 padding-left-right-1",
                        button-click="cancel()",
                        identifier="shareProjectCancelButton",
                        text="{{::translations.cancel}}"
                    )
                    one-button(
                        button-class="margin-left-1 padding-left-right-1",
                        button-click="shareProject()",
                        data-ng-if="!isAdvancedButtonClicked || !removedSharedWithUsers.length",
                        enable-loading="true",
                        identifier="share-project-share-button",
                        is-disabled='!notSharedWithUserModel.length || isLoading',
                        is-loading="isLoading",
                        text="{{::translations.shareProject}}",
                        type="primary"
                    )
                    one-button(
                        button-class="margin-left-1 padding-left-right-1",
                        button-click="shareProject()",
                        data-ng-if="isAdvancedButtonClicked && removedSharedWithUsers.length",
                        enable-loading="true",
                        identifier="share-project-save-changes-button",
                        is-disabled='isLoading',
                        is-loading="isLoading",
                        text="{{::translations.saveChanges}}",
                        type="primary"
                    )
