.modal
    script(type='text/ng-template', id='SuspendModal.html')
        .modal-header
            h3.margin-none.align-left {{::$root.t("UnableToAccessProject")}}
        .modal-body
            loading(ng-if="!Ready", text='{{::$root.t("NextSteps")}}')
            form.padding-left-right-3.padding-top-bottom-1(
                ng-if="Ready",
                role='form',
                name='commentForm'
            )
                p.text-medium.margin-bottom-2
                    | {{::$root.t("UnableToChangeDueToRisktrackingDisabled")}}&nbsp
                    span(ng-if="hasProjectFullAccess")
                        | {{::$root.t("ToContinuePleaseEnableRisktracking")}}
                .row-horizontal-center
                    one-button(
                        button-class="margin-right-1"
                        identifier="suspendModalReturnToProjectsButton"
                        text="{{::$root.t('ReturnToProjectsPage')}}"
                        ui-sref='zen.app.pia.module.projects.list'
                    )
                    one-button(
                        identifier="suspendModalGoToSettingsButton"
                        ng-if="hasProjectFullAccess"
                        text="{{::$root.t('GoToSettingsPage')}}"
                        type="primary"
                        ui-sref='zen.app.pia.module.settings.risks'
                    )
