.incident-checkbox {
    label {
        margin-bottom: 0;
    }

    .slds-checkbox__label {
        .slds-checkbox_faux {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        &.on,
        &.indeterminate  {
            .slds-checkbox_faux {
                background: $ui-blue;
            }
        }
    }
}