<span class="incident-checkbox slds-checkbox" (click)="checkboxToggled()">
    <ng-template [ngTemplateOutlet]="checkboxTemplate"
        [ngTemplateOutletContext]="{
            checked: checked,
            indeterminate: !checked && partialCheck
        }"
    ></ng-template>

    <ng-template #checkboxTemplate let-checked="checked" let-indeterminate="indeterminate">
        <label
            class="slds-checkbox__label"
            [ngClass]="{'on': checked, 'indeterminate': indeterminate}"
            >
            <span class="slds-checkbox_faux">
                <span></span>
                <i *ngIf="indeterminate" class="ot ot-minus"></i>
                <i *ngIf="!indeterminate && checked" class="ot ot-check"></i>
            </span>
        </label>
    </ng-template>
</span>
