<ot-modal-header [hideClose]="false" (close)="closeModal()">
    <div>{{ (systemTrayModalService.modalTitle$ | async) | translate }}</div>
</ot-modal-header>
<ot-modal-content class="system-tray-modal__content">
    <div class="row-nowrap full-size stretch-vertical height-100">
        <div class="flex-full-height height-100 width-65-percent">
            <ot-tabs
                class="paragraph-medium shadow-header"
                *ngIf="!(systemTrayModalService.hideNav$ | async)"
                [tabs]="tabOptions"
                [selectedTab]="currentTab"
                >
                <a
                    *otTabItem="let tab"
                    [attr.ot-auto-id]="tab.otAutoId"
                    (click)="changeTab(tab.id)"
                    >
                    {{ tab.text }}
                </a>
            </ot-tabs>

            <div class="flex-full-height height-100 overflow-y-auto" [ngSwitch]="currentTab">
                <system-tray-notifications *ngSwitchCase="systemTrayOptions.SYSTEM"></system-tray-notifications>
                <system-tray-subtasks class="height-100" *ngSwitchCase="systemTrayOptions.SUBTASKS"></system-tray-subtasks>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="TasksModalAddTaskButton"
        [disabled]="systemTrayModalService.closeDisabled$ | async"
        (click)="closeModal()"
    >{{'Close' | translate}}</button>
</ot-modal-footer>
