<div *ngIf="!editModeEnabled; else editingMode" class="row-horizontal-center">
    <button
        otButton
        brand
        class="margin-top-1"
        ot-auto-id="DSARFormFieldConfiguration"
        (click)="openConfiguration()"
    >{{ 'AddNew' | otTranslate }}</button>
</div>
<ng-template #editingMode>
    <div class="margin-top-1">
        <dsar-editable-text
            [text]="fieldValue"
            (cancelled)="close($event)"
            (submitted)="saveNewInput($event)">
        </dsar-editable-text>
    </div>
</ng-template>
