<div class="padding-all-1 width-29">
    <ot-datepicker
        [attr.ot-auto-id]="'QuestionDatePreviewId'"
        [format]="format"
        [disabled]="isDisabled"
        [placeholder]="'ChooseDate' | otTranslate"
        [dateModel]="answer"
        (onChange)="sendAction('DATE_SELECTED', $event)"
    ></ot-datepicker>
</div>
<div class="padding-top-bottom-1">
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'DateQuestionNotSureBtn'"
        [disabled]="isDisabled"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="sendAction('NOT_SURE_SELECTED')"
        >
    </button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'DateQuestionNotApplicableBtn'"
        [disabled]="isDisabled"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="sendAction('NOT_APPLICABLE_SELECTED')"
        >
    </button>
</div>
