.count-risks-formula {

    &__risk-level,
    &__assessment-risk-level {
        width: 25%;
    }

    &__operator {
        width: 30%;
    }

    &__count,
    &__action-buttons {
        width: 10%;
    }

    &__default-label {
        width: 65%;
    }

    &__default-block {
        margin-bottom: 17rem;
    }
}
