<div>
    <div
        class="count-risks-formula background-grey border flex-stretch-50 padding-all-1 margin-bottom-1"
        [formGroup]="templateForm"
    >
        <div class="row-nowrap justify-start">
            <p class="text-medium-small text-bold text-left count-risks-formula__risk-level">{{'RiskLevel' | otTranslate}}</p>
            <p class="text-medium-small text-bold text-left count-risks-formula__operator">{{'Operator' | otTranslate}}</p>
            <p class="text-medium-small text-bold text-left count-risks-formula__count">{{'Count' | otTranslate}}</p>
            <p class="text-medium-small text-bold text-left count-risks-formula__assessment-risk-level">{{ riskLevel | otTranslate}}</p>
            <div class="count-risks-formula__action-buttons"></div>
        </div>
        <ng-container formArrayName="riskRuleEntries">
            <div
                *ngFor="let ruleEntry of templateForm.get('riskRuleEntries')['controls']; let i = index; trackBy: trackBySequence"
                class="row-nowrap justify-start stretch-vertical padding-bottom-1"
                [formGroupName]="i"
            >
                <div class="count-risks-formula__risk-level padding-right-1">
                    <ot-picklist
                        labelKey="displayName"
                        valueKey="name"
                        [attr.ot-auto-id]="'CountOfRisksMethodRuleEntryFieldRiskLevelPicklist_'+i"
                        [model]="ruleEntry.get('conditionGroups').get('fieldRiskLevel').value"
                        [options]="riskLevels"
                        (onSelect)="ruleEntry.get('conditionGroups').get('fieldRiskLevel').setValue($event)"
                    ></ot-picklist>
                </div>
                <div class="count-risks-formula__operator padding-right-1">
                    <ot-picklist
                        [attr.ot-auto-id]="'CountOfRisksMethodRuleEntryComparisonOperatorPicklist_'+i"
                        [model]="ruleEntry.get('conditionGroups').get('operatorSelection').value"
                        [options]="countOfRisksComparisonOperators"
                        (onSelect)="ruleEntry.get('conditionGroups').get('operatorSelection').setValue($event)"
                    ></ot-picklist>
                </div>
                <div
                    class="count-risks-formula__count padding-right-1"
                    formGroupName="conditionGroups"
                >
                    <input otInput
                        type="number"
                        formControlName="value"
                        [attr.ot-auto-id]="'CountOfRisksMethodRuleEntryValueInput_'+i"
                    />
                </div>
                <div class="count-risks-formula__assessment-risk-level padding-right-1">
                    <ot-picklist
                        labelKey="displayName"
                        valueKey="name"
                        [attr.ot-auto-id]="'CountOfRisksMethodRuleEntryActionParametersRiskLevelPicklist_'+i"
                        [model]="ruleEntry.get('actionParametersRiskLevel').value"
                        [options]="riskLevelActionParams"
                        (onSelect)="ruleEntry.get('actionParametersRiskLevel').setValue($event)"
                    ></ot-picklist>
                </div>
                <div class="count-risks-formula__action-buttons justify-center stretch-vertical padding-top-half">
                    <i
                        *ngIf="templateForm.get('riskRuleEntries').controls.length > 1"
                        class="ot ot-minus-circle color-cherry text-xlarge cursor-pointer margin-right-2"
                        ot-auto-id="CountOfRisksMethodRemoveRuleEntryButton"
                        (click)="removeRuleEntry(i)"
                    ></i>
                    <i
                        class="ot ot-plus-circle color-green text-xlarge cursor-pointer"
                        ot-auto-id="CountOfRisksMethodAddRuleEntryButton"
                        (click)="addRuleEntry(i)"
                    ></i>
                </div>
            </div>
        </ng-container>
    </div>
    <div
        *ngIf="defaultRiskRuleEntry"
        class="count-risks-formula count-risks-formula__default-block full width background-grey border flex-stretch-50 padding-all-1 margin-bottom-1"
        >
        <div class="row-nowrap">
            <div class="count-risks-formula__default-label"></div>
            <p class="count-risks-formula__assessment-risk-level text-medium-small text-bold text-left">{{ riskLevel | otTranslate}}</p>
            <div class="count-risks-formula__action-buttons"></div>
        </div>
        <div class="row-nowrap">
            <p class="count-risks-formula__default-label text-medium-small text-bold text-left">{{'OtherwiseSetAs' | otTranslate}}</p>
            <div class="count-risks-formula__assessment-risk-level padding-right-1">
                <ot-picklist
                    ot-auto-id="CountOfRisksMethodRuleEntryDefaultActionParametersRiskLevelPicklist"
                    labelKey="displayName"
                    valueKey="name"
                    [model]="defaultRiskRuleEntry.actionParametersRiskLevel"
                    [options]="riskLevelActionParams"
                    (onSelect)="selectRuleEntryDefaultActionParameters($event)"
                ></ot-picklist>
            </div>
            <div class="count-risks-formula__action-buttons"></div>
        </div>
    </div>
</div>
