<form
    class="intg-connection-form centered-max-50"
    #connectionForm="ngForm"
    novalidate
>
    <div otFormElement
        class="block margin-top-half padding-bottom-1"
        *ngFor="let field of formInputFields; let index=index;"
        [label]="(field.dataType !== formDataTypes.BUTTON) ? (field.fieldNameKey ? (field.fieldNameKey| otTranslate) : field.fieldName) : ''"
        [required]="field.required"
    >
        <div *ngIf="field.dataType === formDataTypes.TEXT">
            <input
                otInput
                autocomplete="off"
                class="one-input full-width"
                maxlength="100"
                required="field.required"
                [attr.ot-auto-id]="'IntgConnectionDetailsFormInput'+index"
                [disabled]="formIsDisabled"
                [name]="field.fieldKey || field.fieldNameKey"
                [placeholder]="(field.placeholderKey ? (field.placeholderKey| otTranslate) : field.placeholder)"
                [type]="field.inputType"
                [(ngModel)]="field.inputValue"
                #connectionInput="ngModel"
            />
            <p
                *ngIf="connectionInput?.invalid && (connectionInput?.dirty ||  connectionInput?.touched)"
                class="text-error margin-top-half"
                [innerHTML]="(field.validationKey ? (field.validationKey| otTranslate) : field.validation)"
            ></p>
        </div>
        <div
            class="row-flex-end"
            *ngIf="field.dataType === formDataTypes.BUTTON"
        >
            <button
                otButton brand
                ot-auto-id="IntgConnectionDetailsFormBtn"
                [disabled]="field.isLoading || connectionForm.invalid"
                [loading]="field.isLoading"
                (click)="handleFormAction(field)"
            >
                {{field.textKey ? (field.textKey| otTranslate) : field.text}}
            </button>
        </div>
    </div>
</form>