<div otFormElement>
    <ot-lookup
        [ngClass]= "{
            'aa__question-single-select' : applySingleSelectInputStyle,
            'aa__question-single-select--other' : applySingleSelectOtherInputStyle
        }"
        [attr.ot-auto-id]="'SingleSelectDropdownSelectOption'"
        [allowHint]="true"
        [autoClose]="autoCloseEnabled"
        [clearInputOnModelChange]="clearInputOnModelChange"
        [hintKey]="'Hint'"
        [hintPosition]="'left'"
        [labelKey]="'option'"
        [inputValue]="inputValue"
        [valueKey]="'id'"
        [model]="selectedOption"
        [multiSelect]="multiSelectEnabled"
        [options]="this.question.options"
        [placeholder]="'TypeOrSelectAnOption' | otTranslate"
        (inputChange)="onInputChange($event)"
        (modelChange)="onModelChange($event)"
        (firstOptionSelect)="addOtherOption(inputValue)"
        >
        <ng-template otFirstOption *ngIf="inputValue && question.attributeJson.allowOther">
            <span
                *ngIf="inputValue && question.attributeJson.allowOther"
                id="listbox-option-unique-id-00"
                role="option"
                >
                {{allowOtherPrependText}}: {{inputValue}}
            </span>
        </ng-template>
    </ot-lookup>
</div>
<div class="row-wrap padding-top-bottom-1">
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'SingleSelectDropdownQuestionNotSureBtn'"
        [disabled]="isDisabled"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="toggleNotSureAnswer()"
        ></button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-right-1 margin-bottom-1 no-outline"
        [attr.ot-auto-id]="'SingleSelectDropdownNotApplicableBtn'"
        [disabled]="isDisabled"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="toggleNotApplicableAnswer()"
        ></button>
</div>
<div otFormElement
    *ngIf="question.attributeJson.allowJustification"
    name="translations.justifyYourAnswerBelow"
    class="margin-top-bottom-1"
    [label]="'JustifyYourAnswerBelow' | otTranslate: {Justify: 'Justify' | otTranslate}"
    [required]="question.attributeJson.requireJustification"
    >
    <textarea
        otTextarea
        [attr.ot-auto-id]="'PreviewTextboxJustificationSingleSelect'"
        [placeholder]="'PleaseProvideJustification' | otTranslate"
    ></textarea>
</div>

