<div class="row-wrap question-multichoice__other question-multichoice__multiselect word-wrap">
    <ng-container *ngFor="let option of question.options; first as isFirst">
        <button otButton neutral
            *ngIf="option.option && option.option.trim().length"
            class="margin-bottom-1 text-bold width-25-percent"
            [ngClass]="{'margin-left-half':isFirst}"
            [otTooltip]="option.attributeJson?.hint"
            [attr.ot-auto-id]="'QuestionMultichoiceMultiSelectPreviewOptionsButton'"
            [innerText]="option.option"
            [select]="isSelected(option)"
            (click)="sendAction('MULTISELECT_OPTION_SELECTED', option)"
        ></button>
    </ng-container>
    <ng-container *ngIf="question.attributeJson.allowOther">
        <upgraded-one-editable-types
            *ngFor="let otherAnswer of otherAnswers; let i = index"
            class="margin-bottom-1 margin-left-half text-bold width-25-percent"
            [buttonClass]="'question-multichoice__other'"
            [config]="otherConfig"
            [model]="otherAnswer"
            [isButtonRounded]="true"
            (handleEdit)="sendAction('OTHER_OPTION_UPDATED', $event.model, i)"
        ></upgraded-one-editable-types>
        <upgraded-one-editable-types
            class="margin-bottom-1 margin-left-half text-bold width-25-percent"
            [buttonClass]="'question-multichoice__other'"
            [config]="newOtherConfig"
            [model]="newOtherModel"
            [isButtonRounded]="true"
            (handleEdit)="sendAction('OTHER_OPTION_CREATED', $event.model)"
        ></upgraded-one-editable-types>
    </ng-container>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-bottom-1 margin-left-half text-bold width-25-percent"
        [attr.ot-auto-id]="'QuestionMultichoiceMultiSelectPreviewNotSureButton'"
        [select]="notSure"
        [innerText]="'NotSure' | otTranslate"
        (click)="sendAction('NOT_SURE_SELECTED')"
    ></button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-bottom-1 width-25-percent text-bold"
        [attr.ot-auto-id]="'QuestionMultichoiceMultiSelectPreviewNotApplicableButton'"
        [select]="notApplicable"
        [innerText]="'NotApplicable' | otTranslate"
        (click)="sendAction('NOT_APPLICABLE_SELECTED')"
    ></button>
</div>
<div otFormElement
    *ngIf="question.attributeJson.allowJustification"
    class="margin-top-bottom-1"
    [label]="'JustifyYourAnswerBelow' | otTranslate: {Justify: 'Justify' | otTranslate}"
    [required]="question.attributeJson.requireJustification">
    <textarea otTextarea
        [attr.ot-auto-id]="'QuestionMultichoiceMultiSelectPreviewJustificationField'"
        [placeholder]="'PleaseProvideJustification' | otTranslate"
        [ngModel]="justification"
    ></textarea>
</div>
