.question-multichoice {
    .slds-radio .slds-form-element__label {
        font-weight: normal;
    }

    &__multiselect {
        .slds-button {
            height: auto !important;
            white-space: normal !important;
            margin-left: .4rem;
            min-height: 3.8rem;
        }
    }

    &__other {
        .question-multichoice__btn {
            height: 100% !important;
            min-height: 3.8rem;
        }
        .one-editable-types {
            height: 100% !important;
            min-height: 3.8rem;
        }
    }
}

.aa__question-single-select {

    .slds-input {
        border-color: $slds-input-ss-border-color;
        background-color: $slds-input-ss-bg-color;
        color: $slds-input-ss-text-color;
        font-weight: bold;

        &__icon {
            background-color: $slds-input-ss-bg-color;
            color: $slds-input-ss-text-color;
        }
    }

    &--other {
        .slds-input {
            border-color: $slds-input-ss-other-border-color;
            background-color: $slds-input-ss-other-bg-color;
            color: $slds-input-ss-text-color;
            font-weight: bold;

            &__icon {
                background-color: $slds-input-ss-other-bg-color;
                color: $slds-input-ss-text-color;
            }
        }
    }

    &--invalid {
        .slds-input {
            border-color: $slds-input-ss-invalid-bg-color;
            background-color: $slds-input-ss-invalid-bg-color;
            color: $slds-input-ss-text-color;
            font-weight: bold;

            &__icon {
                background-color: $slds-input-ss-invalid-bg-color;
                color: $slds-input-ss-text-color;
            }
        }
    }
}
