<div class="row-wrap question-multichoice__other question-multichoice__multiselect word-wrap">
    <ng-container *ngFor="let option of question.options; first as isFirst">
        <button otButton neutral
            *ngIf="option.option && option.option.trim().length"
            class="margin-bottom-1 text-bold width-25-percent"
            [ngClass]="{'margin-left-half':isFirst}"
            [otTooltip]="option.attributeJson?.hint"
            [attr.ot-auto-id]="'QuestionMultichoicePreviewOptionsButton'"
            [innerText]="option.option"
            [select]="option === answer"
            (click)="sendAction('MULTICHOICE_OPTION_SELECTED', option)"
        ></button>
    </ng-container>
    <upgraded-one-editable-types
        *ngIf="question.attributeJson.allowOther"
        class="margin-bottom-1 margin-left-half text-bold width-25-percent"
        [buttonClass]="'question-multichoice__other'"
        [config]="otherConfig"
        [model]="otherAnswer"
        [isButtonRounded]="true"
        (handleEdit)="sendAction('OTHER_OPTION_UPDATED', $event.model)"
    ></upgraded-one-editable-types>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotSure"
        class="margin-bottom-1 margin-left-half text-bold width-25-percent"
        [attr.ot-auto-id]="'QuestionMultichoicePreviewNotSureButton'"
        [select]="notSure"
        [innerText]="translations.notSure"
        (click)="sendAction('NOT_SURE_SELECTED')"
    ></button>
    <button otButton neutral
        *ngIf="question.attributeJson.allowNotApplicable"
        class="margin-bottom-1 width-25-percent text-bold"
        [attr.ot-auto-id]="'QuestionMultichoicePreviewNotApplicableButton'"
        [select]="notApplicable"
        [innerText]="translations.notApplicable"
        (click)="sendAction('NOT_APPLICABLE_SELECTED')"
    ></button>
</div>
<div otFormElement
    *ngIf="question.attributeJson.allowJustification"
    class="margin-top-1"
    [label]="translations.justifyYourAnswerBelow"
    [required]="question.attributeJson.requireJustification">
    <textarea otTextarea
        [attr.ot-auto-id]="'QuestionMultichoicePreviewJustificationField'"
        [placeholder]="translations.pleaseProvideJustification"
        [ngModel]="justification"
    ></textarea>
</div>
