<section class="full-size column-nowrap">
    <ot-page-header type="clear" [title]="'LearningAndFeedbackTools' | otTranslate"></ot-page-header>
    <ot-loading otPageLoading *ngIf="!ready; else learningAndFeedbackSettingsForm"></ot-loading>
    <ng-template #learningAndFeedbackSettingsForm>
        <div class="stretch-vertical overflow-y-auto">
            <div otSettingContainer
                *ngIf="permissions.canShow('UserFeedBack')"
                class="column-nowrap stretch-vertical">
                <ot-setting
                    [title]="'EnableFeedbackToolTitle' | otTranslate"
                    [description]="'EnableFeedbackToolDescription' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="WootricSettingsUserToggle"
                        [disabled]="userFeedbackAdminDisabled"
                        [checked]="userFeedbackAdminChecked"
                        (toggle)="toggleUserFeedback($event)"
                        >
                    </ot-toggle>
                </ot-setting>
            </div>
            <div otSettingContainer
                *ngIf="permissions.canShow('UserGuidance')"
                class="column-nowrap stretch-vertical margin-top-1">
                <ot-setting
                    [title]="'EnableLearningToolTitle' | otTranslate"
                    [description]="'EnableLearningToolDescription' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="UserlaneSettingsUserToggle"
                        [disabled]="userGuidanceAdminDisabled"
                        [checked]="userGuidanceAdminChecked"
                        (toggle)="toggleUserGuidance($event)"
                        >
                    </ot-toggle>
                </ot-setting>
            </div>
        </div>
        <footer otPageFooter *ngIf="showSaveButton">
            <button otButton brand
                ot-auto-id="ToolsUserPreferencesSaveBtn"
                [disabled]="disableSaveButton"
                [loading]="loading"
                (click)="saveSettings()"
                >
                {{ 'Save' | otTranslate }}
            </button>
        </footer>
    </ng-template>
</section>
