<div
    class="aa-question row-horizontal-vertical-center"
    [ngClass]="{'opacity-50': applyFilterOpacity && !(isDateQuestion && isDateOpen())}"
    [attr.ot-auto-id]="'AssessmentQuestionContainer_' + questionIndex"
>
    <div class="aa-question__container">
        <div class="aa-question__content-container" [attr.ot-auto-id]="'AssessmentQuestionDetail'">
            <label *ngIf="!questionNumberContent" class="assessment-question__label">
                <h4>{{number}}</h4>
            </label>

            <ng-container *ngIf="questionNumberContent">
                <ng-container *ngTemplateOutlet="questionNumberContent?.templateRef"></ng-container>
            </ng-container>

            <div
                *ngIf = "question.copyErrors && question.copyErrors.length && showCopyError"
                class="padding-bottom-2 assessment-question-group__notification">
                <ot-notification
                    [allowClose]="false"
                    [icon]="'ot ot-info-circle'"
                    [type]="'notice'">
                        {{ question.copyErrors | displayQuestionNotification  | otTranslate }}
                </ot-notification>
            </div>

            <h3 *ngIf="!questionTitleContent" class="aa-question__name">{{title}}</h3>

            <ng-container *ngIf="questionTitleContent">
                <ng-container *ngTemplateOutlet="questionTitleContent?.templateRef"></ng-container>
            </ng-container>

            <ng-container *ngIf="questionDescriptionContent">
                <ng-container *ngTemplateOutlet="questionDescriptionContent?.templateRef"></ng-container>
            </ng-container>
            <div
                *ngIf="isGRATemplate"
                class= "text-bold margin-bottom-half cursor-pointer text-ui-blue"
                (click)="showGuidance()"
            >
                {{ 'ShowGuidance' | otTranslate}}
            </div>

            <ng-content></ng-content>
        </div>
        <button
            otButton
            neutral
            *ngIf="canShowAttachmentButton"
            class="aa-question__icon-button box-shadow-none max-10 padding-none margin-top-bottom-1 flex-grow-1 margin-right-2"
            [attr.ot-auto-id]="'AssessmentQuestionAttachment'"
            [disabled]="question.totalAttachments === 0 && isReadOnly"
            (click)="onAttachmentClicked(question)">
            <span class="padding-left-right-1 text-bold">
                {{question.totalAttachments || 0}}
            </span>
            <i class="aa-icon background-white fa fa-paperclip pull-left"
               [ngClass]="{'color-white background-green': question.totalAttachments}">
            </i>
        </button>
        <button
            otButton
            neutral
            *ngIf="canShowCommentButton"
            class="aa-question__icon-button box-shadow-none max-10 padding-none margin-top-bottom-1 flex-grow-1 margin-right-2"
            [attr.ot-auto-id]="'AssessmentQuestionComment'"
            [disabled]="question.totalComments === 0 && isReadOnly"
            (click)="onCommentsClicked(question)"
        >
            <span
                class="padding-left-right-1 text-bold"
            >
                 {{question.totalComments || 0}}
            </span>
            <i
                class="aa-icon background-white ot ot-comments-o pull-left"
                [ngClass]="{'color-white background-green': question.totalComments}"
            ></i>
        </button>
        <button otButton neutral
            *ngIf="canShowActivityStreamButton"
            [attr.ot-auto-id]="'AssessmentQuestionActivityStream'"
            [icon]="'ot ot-history'"
            (click)="onActivityStreamClick(question)"
        ></button>
    </div>
    <aa-detail-question-needs-more-info
        *ngIf="!isReadinessTemplate"
        class="aa-question__side-buttons padding-top-2 align-self-start"
        [question]="question"
    ></aa-detail-question-needs-more-info>
    <assessment-detail-question-side-button
        *ngIf="!isReadinessTemplate"
        class="aa-question__side-buttons-risk padding-top-2 align-self-start"
        [ngClass]="{'invisible': !canShowSideButtons}"
        [question]="question"
    ></assessment-detail-question-side-button>
</div>
