.controls-framework-card {
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
    width: 18rem;
    height: 18rem;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        @extend .shadow3;
    }

    &__header {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: 12rem;
        padding: 1rem 5rem;

        &--img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            min-width: 1px;
        }
    }

    &__footer {
        min-height: 5rem;
        font-size: 1.2rem;
    }
}
