<div class="controls-framework-card">
    <a
        class="controls-framework-card__header row-horizontal-vertical-center text-center"
        [ngClass]="{'opacity-60' : controlsFramework.availableInControlsLibrary }"
        ot-auto-id="controlsFrameworkCardLogo"
        >
        <img
            class="controls-framework-card__header--img"
            [src]="imgSrc"
            onerror="this.src='images/vendor/certificates/FrameworkDefault.png'"/>
    </a>
    <div class="controls-framework-card__footer padding-all-1 row-horizontal-vertical-center text-center">
        <span class="text-bold padding-left-right-half "
            ot-auto-id="ControlsFrameworkCardName">
            {{controlsFramework.name}}
        </span>
    </div>
</div>
