<ot-page-header
    class="full-width cr-header"
    [title]="'PrivacyNoticeDetails' | otTranslate"
>
    <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
        <ot-breadcrumb-item
            link="zen.app.pia.module.policy.privacynotices.list"
            [label]="'PrivacyNotices' | otTranslate"
        ></ot-breadcrumb-item>
        <ot-breadcrumb-item
            *ngIf="privacyNotice"
            [label]="version?.name"
        ></ot-breadcrumb-item>
    </ot-breadcrumb>

    <span
        *ngIf="privacyNotice"
        class="margin-left-2 margin-right-half"
        [otBadge]="displayStatusClass"
    >
        {{ displayStatusLabel }}
    </span>

    <button otButton neutral
        ot-auto-id="PrivacyNoticeSaveButton"
        *ngIf="isDraft"
        [disabled]="actionInProgress || !hasPendingChanges"
        (click)="savePrivacyNotice()"
    >
        {{ 'Save' | otTranslate }}
    </button>

    <button otButton brand
        ot-auto-id="PrivacyNoticePublishButton"
        *ngIf="isDraft"
        [disabled]="('PrivacyNoticePublish' | otPermit) || actionInProgress"
        (click)="openPublishPrivacyNoticeModal()"
    >
        {{ 'Publish' | otTranslate }}
    </button>

    <button otButton brand
        ot-auto-id="PrivacyNoticeNewVersionButton"
        *ngIf="!isDraft && !privacyNotice.draftVersion"
        [disabled]="('PrivacyNoticePreview' | otPermit) || actionInProgress"
        (click)="createNewVersion()"
    >
        {{ 'CreateNewVersion' | otTranslate }}
    </button>

    <button otButton neutral
        ot-auto-id="PrivacyNoticePreviewButton"
        [disabled]="('PrivacyNoticePreview' | otPermit) || actionInProgress"
        (click)="previewPrivacyNotice()"
    >
        {{ 'Preview' | otTranslate }}
    </button>

    <ot-context-menu
        class="margin-left-1"
        position="bottom-right"
        [menu]="ellipsisOptions"
        (toggled)="getEllipsisOptions()"
    >
        <i class="ot ot-ellipsis-h"></i>
        <a
            *otContextMenuItem="let option"
            (click)="option.action()"
        >
            {{ option.text }}
        </a>
    </ot-context-menu>
</ot-page-header>
