<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        type="clear"
        [title]="'Templates' | translate"
    >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="loading; else assessmentTemplateSettingsForm"
        class="stretch-vertical"
    >
        {{ 'Loading' | translate }}...
    </ot-loading>
    <ng-template #assessmentTemplateSettingsForm>
        <div class="stretch-vertical">
            <form
                class="centered-max-75"
                name="assessmentSettingsForm"
            >
                <ot-setting
                    [title]="'TemplateAccessControls' | translate"
                    [description]="'TemplateAccessControlsDesc' | translate"
                >
                    <ot-toggle
                        ot-auto-id="SettingsAssessmentTemplateAccessControlsToggle"
                        [checked]="allowAccessControl"
                        (toggle)="toggleTemplateAccessControl($event)"
                    ></ot-toggle>
                    <ot-setting
                        [title]="'TemplateUsageControls' | translate"
                        [description]="'TemplateUsageControlsDesc' | translate"
                    >
                        <ot-toggle
                            ot-auto-id="SettingsAssessmentTemplateUsageControlsToggle"
                            [disabled]="!allowAccessControl"
                            [checked]="allowBranchOrg"
                            (toggle)="selectTemplateOrgTraversal($event)"
                        ></ot-toggle>
                    </ot-setting>
                </ot-setting>
            </form>
        </div>
        <footer otPageFooter>
            <button otButton brand
                class="margin-right-1"
                ot-auto-id="SettingsAssessmentTemplateSaveButton"
                [disabled]="saving || !touched"
                [loading]="saving"
                (click)="saveTemplateSettings()"
            >
            {{ 'Save' | translate }}
            </button>
        </footer>
    </ng-template>
</section>

