<ot-page-header
    class="margin-bottom-1"
    [title]="'Help' | otTranslate"
    type="clear"
></ot-page-header>
<ot-loading otPageLoading
    *ngIf="isLoading"
    >
    {{ 'Loading' | otTranslate }}...
</ot-loading>
<div otSettingContainer *ngIf="!isLoading" class="stretch-vertical overflow-y-auto">
    <ot-setting
        [title]="'CustomSupportMessage' | otTranslate"
        [description]="'ReceiverHelpMessage' | otTranslate"
        >
        <ot-toggle
            ot-auto-id="SettingsHelpCustomMessageToggle"
            [checked]="helpSettings.Enabled"
            [disabled]="isSaving"
            (toggle)="enableCustomMessage($event)"
        ></ot-toggle>

        <ot-setting
            *ngIf="helpSettings.Enabled"
            [title]="'User' | otTranslate"
            [required]="true"
            >
            <ot-org-user
                ot-auto-id="SettingsHelpCustomMessageEmail"
                [allowEmail]="false"
                [model]="helpSettings.ContactId"
                (onSelect)="updateCustomMessageEmail($event)"
            ></ot-org-user>
        </ot-setting>

        <div
            otSettingChild
            otFormElement
            *ngIf="helpSettings.Enabled"
            class="padding-left-right-1 padding-top-half"
            [label]="'CustomMessage' | otTranslate"
            >
            <textarea otTextarea
                ot-auto-id="SettingsHelpCustomMessageText"
                [placeholder]="'EnterCustomMessage' | otTranslate"
                [ngModel]="helpSettings.DefaultComment"
                (ngModelChange)="updateCustomMessageText($event)"
            ></textarea>
        </div>
    </ot-setting>
</div>
<footer otPageFooter>
    <button otButton brand
        ot-auto-id="SettingsHelpCustomMessageSave"
        [disabled]="!canSave() || isSaving"
        [loading]="isSaving"
        (click)="saveSetting()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</footer>
