//////////////////////////////////////////////////////////////////////////////////////////////
// Collections
//////////////////////////////////////////////////////////////////////////////////////////////

.collections {
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px;
}

@import 'collection';
@import 'member';
