.collection {
    .angular-ui-tree-placeholder {
        border: 2px dashed #ccc;
        border-radius: 2px;
    }
    .angular-ui-tree-empty {
        border: 2px dashed #ccc;
        border-radius: 2px;
        text-align: center;

        min-height: 100px;
        background-color: inherit;
        background-image: none;

        &:after{
            width: 100%;
            padding: 1rem;
            margin: 1rem 0;
            content: "Click 'Add Organization' to get started.";
        }
    }
}
