.angular-ui-tree-nodes .angular-ui-tree-nodes{
    padding: 0;
}

.member {

    .member-box {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-content {
            padding: 8px 10px;

            &-handle {
                color: #aaa;
                margin-right: 10px;
            }

            &-collapse {
                color: #aaa;
                padding: 8px 10px;
                margin-right: 10px;
                border: none;
                &:hover {
                    color: #1c5380;
                    outline: none;
                }
                &:focus,
                &:active {
                    outline: none;
                }
            }

            &-name {
                margin-right: 10px;
                text-transform: uppercase;
                font-weight: bold;
            }

            &-subname {
                font-size: 1.4rem;
                border-left: 1px solid;
                padding-left: 10px;
            }
        }

        &-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #aaa;
            padding: 8px 10px;
            margin-right: 10px;

            &-item {
                border: none;

                .btn {
                    &:hover {
                        color: #1c5380;
                        outline: none;
                    }
                    &:focus,
                    &:active {
                        outline: none;
                    }
                }

            }
        }

        &:hover {
            box-shadow: 0 3px 2px $grey-1;
            transform: translateY(-1px);
        }
    }

    .member-children {
        padding-left: 50px;

        &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: calc(100% - 50px);
            top: 55px;
            left: 0;
            border-left: 1px dashed #ccc;
        }

    }

}
