<header
    class="
        background-white
        border-bottom
        flex-full-width
        row-flex-end
        row-vertical-center
        static-vertical
        "
    >
    <button otButton neutral
        class="margin-right-2 margin-top-bottom-half"
        ot-auto-id="OneRulesAddRule"
        [innerText]="translations.AddRule"
        (click)="addRule()"
    ></button>
</header>
<div
    class="
        column-horizontal-center
        column-nowrap
        overflow-y-auto
        padding-all-2
        stretch-vertical
        "
    [ngClass]="rules.length ? '' : 'justify-center'"
    >
    <ng-template *ngIf="rules.length; then RulesContent else RulesEmpty"></ng-template>
    <ng-template #RulesContent>
        <div
            *ngFor="let rule of rules; trackBy: trackByFn; let index = index"
            class="width-100-percent"
            >
            <one-rule
                *ngIf="!rule?.delete"
                class="
                    hover-show-container
                    margin-bottom-2
                    margin-left-right-auto
                    padding-left-right-2
                    max-width-75
                    flex-full-height
                    flex-grow-1
                    border-grey
                    border-radius-3
                    "
                [ngClass]="{'background-white': editMode, 'background-grey': !editMode, 'border-has-error': validationRules && !validationRules[index]}"
                [editMode]="editMode"
                [enableReorderRules]= "enableReorderRules"
                [rule]="rule"
                [ruleIndex]="index"
                [config]="config"
                [hasError]="validationRules && !validationRules[index]"
                [translations]="translations"
                [deleteConfig]="deleteConfig"
                (editModeToggled)="toggleEditMode($event)"
                (ruleIdToOneRules)="ruleIdToWebform($event)"
            ></one-rule>
        </div>
    </ng-template>
    <ng-template #RulesEmpty>
        <one-empty-state></one-empty-state>
    </ng-template>
</div>
<footer
    *ngIf="editMode && rules.length"
    class="
        static-vertical
        flex-full-width
        row-vertical-center
        row-flex-end
        min-height-7
        border-top
        background-white
        "
    >
    <button otButton
        class="margin-right-2"
        ot-auto-id="OneRulesCancel"
        [innerText]="translations.Cancel"
        (click)="cancelRules()"
    ></button>
    <button otButton brand
        class="margin-right-2"
        ot-auto-id="OneRulesSave"
        [innerText]="translations.Save"
        (click)="saveRules()"
    ></button>
</footer>
