<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ReassignOrgGroup' | otTranslate"
    [identifier]="'OrgGroupReAssignModalCloseButton'"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="addOrgGroupReAssign"
    >
        <div
            otFormElement
            [label]="'WebsiteURL' | otTranslate"
        >
            <input
                otInput
                name="WebsiteURL"
                ot-auto-id="websiteURLInput"
                [value]="selectedDomain"
                [disabled]="true"
                />
        </div>
        <div otFormElement
            class="margin-top-2"
            [label]="'Organization' | otTranslate"
            [required]="true"
            [hasError]="!addOrgGroupReAssign.get('organization').valid && addOrgGroupReAssign.get('organization').dirty"
            >
            <org-select
                [identifier]="'orgGroupReAssignOrgInput'"
                [describedBy]="'orgGroupReAssignOrgInput'"
                [model]="organizationUUID"
                (onSelect)="handleOrgSelection($event)"
            ></org-select>
        </div>
        <footer otPageFooter>
            <button
                otButton
                neutral
                class="margin-right-1"
                ot-auto-id="CustomCookieCancelButton"
                [innerText]="'Cancel' | otTranslate"
                [disabled]="isSaveInProgress"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="OrgGroupReAssignButton"
                [disabled]="isSaveInProgress || !isValidOrgSelection"
                [innerText]="'ReAssign' | otTranslate"
                [loading]="isSaveInProgress"
                (click)="reAssignOrgGroup()"
            ></button>
        </footer>
    </form>
</one-modal-base>
