.one-datepicker {

    &__label {
        color: $slate;
    }

    &__required {
        color: $red;
        font-weight: bold;
    }

    &__container {
        position: relative;
        &:hover .one-datepicker__calendar {
            color: $slate;
        }
    }

    &__calendar {
        color: $platinum;
        cursor: pointer;
        font-size: 2.4rem;
        position: absolute;
        top: 0.6rem;
        left: 1rem;
        z-index: 1;

        &.disabled {
            color: $platinum !important;
        }
    }

}