.one-drop-list {
    min-height: 5rem;
    border: 2px solid transparent;

    &:not(&--borderless).dndDragover {
        border: 2px dashed $grey-2;
    }

    &[disabled] {
        opacity: 0.25;
        pointer-events: none;
    }
}