.one-draggable-card {
    background-color: $white;
    border: 1px solid $grey-4;
    width: 21rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    z-index: 99;

    &--no-body {
        width: auto;
        max-width: 30rem;
    }

    &.dndDraggingSource {
        opacity: 0.5;
    }

    &.dndDragging { z-index:1000; }
    &__handle {
        align-items: baseline;
    }

    &__title {
        overflow: hidden;
        word-break: break-all;
    }

    &__title-bar {
        position: relative;
        height: auto;
        cursor: move;
        padding: 0.7rem 1rem;
        border-bottom: 1px solid $grey-1;
        color: $slate;
        font-weight: bold;
    }

    .one-draggable-card--no-body &__title-bar {
        border-bottom: none;
        font-weight: normal;
        font-size: 1.2rem;
        padding: 0.5rem 0.8rem;
    }

    &__body {
        font-size: 1.25rem;
        line-height: 1.2rem;
        word-break: break-all;
    }

    &__selector {
        position: absolute;
        right: 1rem;
    }
}
