<section class="column-nowrap full-size">
    <ot-loading
        otPageLoading
        *ngIf="(!systemId && !ready) else credentialList"
    ></ot-loading>
    <ng-template #credentialList>
        <ot-page-header
            *ngIf="!systemId"
            [title]="'Credentials' | otTranslate">
            <button
                otButton
                brand
                *ngIf="viewPermissions.add"
                ot-auto-id="IntgCredentialAddBtn"
                [innerText]="'AddNew'| otTranslate"
                (click)="addCredentials()"
            ></button>
        </ot-page-header>
        <ot-loading
            *ngIf="!ready"
            class="min-height-30 column-horizontal-vertical-center"
        ></ot-loading>
        <div *ngIf="ready" class="background-paper overflow-auto">
            <intg-table
                [ready]="true"
                [page]="page"
                [columns]="columns"
                [emptyStateMessage]="'NoCredentialsAdded'"
                [viewActions]="viewActions"
                [options]="options"
            ></intg-table>
        </div>
        <footer
            otPaginationFooter
            *ngIf="ready && page?.totalPages > 1"
        >
            <ot-pagination
                [currentPage]="page.number"
                [numPages]="page.totalPages"
                [handleOffset]="true"
                (pageChanged)="handlePageChanged($event)"
            ></ot-pagination>
            <span>{{ page | otPageMeta }}</span>
        </footer>
    </ng-template>
</section>
