#ot-alert-banner__container {
    a {
        text-decoration: underline;
        font-weight: bold;
    }

    a.fa {
        position: relative;
        text-decoration: none;
        font-weight: normal;
        padding-left: 1rem;
        top: 0.1rem;
    }
}
