//////////////////////////////////
// Reset bootstrap styles
//////////////////////////////////

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // IE auto-hide scrollbars when element not active
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.fa {
    font-family: 'Open Sans', 'Helvetica', 'FontAwesome';
}

%input-group {
    position: relative;
    display: flex;
}

.dropdown-menu {
    overflow-y: auto;
    max-height: 20rem;
    .active > a {
        background-color: $ui-blue;
        &:focus,
        &:hover {
            background-color: $ui-blue;
        }
    }
}

:focus {
    outline-width: 1px;
}
// Hide "X" in IE input fields
input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

html {
    min-height: inherit;
    max-height: 100%;
}

body {
    background-color: $paper;
    color: $slate;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
}

ng-component {
    @extend .flex-full-height;
}

ng-component,
[ui-view],
ui-view {
    // TODO: Enable below to resolve app layout issues as per CORE-5686
    // NOTE: Requires all view in the app to conform to flex heights.
    // @extend .flex-full-height;

    &:empty {
        display: none;
    }
}

.page-wrapper {
    position: relative;
    z-index: 0;
    height: 100%;
}

.app-wrapper {
    width: 100%;
    height: calc(100% - 50px);
}

.pia-container {

    .navbar-default {
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px 0;
    }

    .module-wrapper {
        height: calc(100% - 50px);
        padding: 2rem 1rem;

        &--full {
            height: 100%;
        }
    }
    // Override Loading Spinner Icon colors
    .one__loading {
        &__icon {
            color: $grey-4;
        }

        &__text {
            color: $slate;
        }
    }
}
// IE11 Reset
[contenteditable="false"] {
    display: none;
}

.module-wrapper {
    padding: calc(5% + 50px) 5% 5% 5%;
}

form {
    margin: auto;
    max-width: 690px;
    width: 90%;

    .form-group {
        label {
            sup {
                position: relative;
                font-size: 7px;
                top: -7px;
            }
        }
    }
}

.page-wrapper,
.pia-container {
    flex: 1 1 auto;
    min-width: 1px;

    header {
        .breadcrumb {
            border-radius: 0;
            font-weight: 400;
            height: 50px;
            margin: 0;
            padding: 13px 10px;
            z-index: 100;
            flex-shrink: 0;
            background: inherit;

            i {
                font-size: 1.5rem;
            }

            li {
                color: #777;
                font-weight: 400;
                @media (min-width: $small) {
                    font-size: 1.8rem;
                }

                a {
                    color: darken($ui-blue, 15%);
                }

                span {
                    display: none;
                    position: relative;
                    top: 0;
                    left: 0.5rem;
                    @media (min-width: $small) {
                        display: inline-block;
                    }
                }

                .label {
                    top: -3px;
                    left: 1rem;
                }

                .draft {
                    color: #B7B7B7;
                }

                .published {
                    color: $green;
                }

                .translate,
                translate {
                    span {
                        position: inherit;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    .navbar-default {
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 100;

        .container-fluid {
            margin: 0;
            padding: 0 10px;
            display: flex;
            align-items: center;

            form {
                padding: 0;
                margin: 0;
                height: 35px;
                width: 250px;

                .form-group {
                    width: 100%;

                    input {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .navbar-header {
                margin: 0;
                width: 80%;
                flex: 1 1 auto;
            }

            .button-container {
                width: 10%;
                min-width: 150px;
            }

            form {
                padding: 0;
                margin-right: 0;
                height: 35px;
                min-width: 150px;
                width: 10%;
                &.template-search {
                    @at-root .page-wrapper .navbar-default .container-fluid .navbar-header {
                        width: 100%;
                    }
                }
                input {
                    border: none;
                }
            }

        }

        .navbar-header {
            a img {
                transform: translate(-2px, -3px);
            }
        }
        @include breakpoint(mobile) {
            height: 3.5rem;
        }
    }
}

.form-group {
    div .btn {
        border-radius: 0;
        border: none;
    }

    .input-group {
        span {
            border-radius: 0;
            border: 1px solid #ccc;
        }

        input {
            border-radius: 0;
            border: 1px solid #ccc;
        }

        #emailAddonIcon i,
        #passwordAddonIcon i {
            display: none;
        }
    }
}

.btn.btn-success {
    border-radius: 0;
    border: none;
    outline: none;
}

.btn {
    border-radius: 0;
}

label.form-control,
input.form-control,
select.form-control {
  border-radius: 2px;
  color: $slate;
  height: 3.8rem;
  font-weight: normal;
  font-size: 1.5rem;
}

input.form-control {
    border: 1px solid #ccc;
}

select.form-control {
    width: 66%;
    -webkit-appearance: none;
}
// Text-Editor
.text-editor {
    margin-top: 5px;

    ol,
    ul {
        padding-left: 10px;
    }
}

.html-editor {
    display: none;
}

.question-comments-modal {
    height: 500px;
    overflow-y: hidden;
    position: relative;

    .modal-header {
        position: relative;
        width: 100%;
    }

    .modal-body {
        height: 75%;
        overflow-y: auto;
        position: relative;

        .empty-placeholder {
            color: gray;
            text-align: center;
        }
    }

    .modal-footer {
        .btn-success {
            padding-bottom: 6px;
            padding-top: 6px;
        }
    }
}

.bullet {
    &:before {
        content: '\2022';
    }
}
/** Material Design Overrides! **/
// Alert styles
.md-dialog-backdrop {
    position: fixed;
    z-index: 1035 !important;
}

.alerts {
    .dialogdemoBasicUsage #popupContainer {
        position: relative;
    }

    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }

    .dialogdemoBasicUsage .footer,
    .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px;
    }
}

.md-dialog-container {
    height: 100% !important;
    z-index: 1040;
    overflow: hidden;

    .md-dialog {
        width: 80%;
        height: 80%;
        max-height: inherit;
        min-width: inherit;
    }
}

.tooltip-150px .tooltip-inner {
    max-width: 150px;
}

.popover {
    background-color: #000;
    color: $white;
    padding: 0;
    margin: 0;

    .popover-content {
        padding: 5px;
        font-size: 1.2rem;
    }
}
.popover.top>.arrow:after {
    border-top-color: #000;
}
fieldset {
    position: relative;
}
fieldset[disabled]:after {
    /* i don't know... it was necessary to set background */
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
