//////////////////////////////////////////////////////////////////////////////////////////////
// Dashboard
//////////////////////////////////////////////////////////////////////////////////////////////
#dashboard {
    height: 100%;
    padding-bottom: 60px;
    background-color: $paper-gray;

    .no-data {
        display: flex;
        flex: 0 0 auto;
        height: 65%;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }

    .dashboard-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow-y: auto;

        .graph-container {
            display: flex;
            flex-flow: column nowrap;

            .small-button {
                padding: 0.2rem 1.8rem;
            }
        }

        &_loading {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }

        .dashboard-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

            .dashboard-item {
                border-radius: 3px;
                cursor: pointer;
                min-height: 200px;
                min-width: 18%;
                color: #B7B7B7;
                position: relative;
            }

            .status-graph {
                box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
                min-width: 430px;
                width: 70%;
                background-color: $white;
                display: flex;
                justify-content: center;
                h3,
                h5 {
                    margin-left: 15px;
                }
                h6 {
                    margin: -10px 0 0 20px;
                }
                select {
                    margin-left: 3px;
                }
                .graph-container {
                    min-height: 46rem;
                    padding: 1rem;
                    text {
                        fill: #777;
                    }
                }
                &__subheading {
                    margin: 0 0 10px 15px;
                }
            }
            .age-graph {
                box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
                min-width: 615px;
                width: 100%;
                margin-top: 2%;
                background-color: $white;
                display: flex;
                justify-content: center;
                height: 350px;

                h3 {
                    margin-left: 15px;
                }
                h4 {
                    margin: 25px 0 -0 -5px;
                }
                .graph-container {
                    text {
                        fill: #777;
                    }
                    .grow {
                        transition: all .12s ease-in-out;
                    }
                    .grow:hover {
                        transform: scale(2);
                        &:after {
                            background-color: yellow;
                            z-index: 2000;
                        }
                    }
                }
            }
            .project-graph {
                box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
                width: 100%;
                background-color: $white;
                display: flex;
                justify-content: center;
                margin-top: 2%;

                h3 {
                    margin-left: 15px;
                }
                h4 {
                    margin: 25px 0 -0 -5px;
                }

                .graph-container {
                    text {
                        fill: #777;
                    }

                    .inner-container {
                        height: inherit;

                        #projectgraph {
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            width: 50rem;
                            height: 35rem;
                            margin: auto;

                            @include breakpoint(mobile) {
                                transform: scale(0.8, 0.8);
                            }
                        }

                        one-donut-graph > div {
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            width: 50rem;
                            height: 35rem;
                            margin: auto;

                            @include breakpoint(mobile) {
                                transform: scale(0.8, 0.8);
                            }
                        }

                        .chart {
                            height: 43rem;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        path.slice {
                            stroke-width: 2px;
                        }

                        polyline {
                            opacity: .3;
                            stroke: black;
                            stroke-width: 2px;
                            fill: none;
                        }
                    }
                }

                &__subheading {
                    margin: 0 0 1rem 1.5rem;
                }
            }
            .graph {
                &-container {
                    width: 100%;
                    .inner-container {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 350px;
                        .chart {
                            width: 100%;
                            padding: 10px;
                            display: flex;
                            flex-flow: column nowrap;
                        }
                        .text {
                            width: 30%;
                            background-color: lighten($grey-1, 6%);
                            padding: 15px;
                            .info {
                                position: relative;
                                color: #777;
                                padding: 10px;
                                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                h6 {
                                    margin-bottom: 3px;
                                }
                            }

                            .filters {
                                .filters-form {
                                    &:first-child {
                                        margin-top: 15px;
                                    }
                                    &:last-child {
                                        margin-bottom: 15px;
                                    }

                                    margin: 10px 5px;

                                    .filter-content {
                                        display: flex;
                                        flex-direction: column;

                                        &__label {
                                            font-weight: bold;
                                        }

                                        &__select {
                                            border: 2px solid #ccc;
                                            border-radius: 0px;
                                            outline: none;
                                            width: 20rem;
                                        }

                                        &__button {
                                            border: 0;
                                            background: 0;
                                            border-radius: 2px;
                                            white-space: nowrap;
                                            border: 1px solid $grey-3;
                                            background-color: $white;
                                            color: $slate;
                                            padding: 0.8rem 1.8rem;
                                            width: 14.5rem;

                                            &:hover {
                                                border: 1px solid $slate;
                                                color: darken($slate, 10%);
                                            }
                                        }

                                        .one-dropdown {
                                            &__button {
                                                max-width: 28rem;
                                                white-space: nowrap;
                                                overflow-x: hidden;
                                                text-overflow: ellipsis;
                                            }

                                            &__list {
                                                max-width: 28rem;
                                            }

                                            &__item {
                                                white-space: normal;
                                            }
                                        }

                                        .small-button {
                                            padding: 0.2rem 1.8rem;
                                        }
                                    }
                                }
                            }

                            .risk-text {
                                margin: 5px;

                                &__header {
                                    font-weight: bold;
                                }

                                &__category {
                                    margin-left: 5px;
                                    margin-bottom: 0px;
                                }

                                &__data {
                                    margin-left: 10px;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
            .information {
                min-width: 125px;
                width: 30%;
                margin: auto;
                &_loading {
                    min-height: 20rem;
                }
                .information-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: -9px 0 -9px -9px;
                    min-width: 195px;
                    .information-box {
                        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
                        width: 44%;
                        text-transform: uppercase;
                        margin: 3%;
                        padding: 1rem;
                        color: $white;
                        outline: none;
                        border-radius: 3px;
                        cursor: default;
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        h2 {
                            text-align: center;
                            font-size: 5rem;
                            margin: 0px;
                        }
                        h4 {
                            text-align: center;
                            margin-top: 0px;
                            font-size: 1.4rem;
                        }
                    }
                    .information-group {
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                    }
                    .wide {
                        width: 100%;
                    }
                }
            }
        }
    }
    aside {
        width: 16%;
        padding: 0 2%;
        color: #B7B7B7;
        background-color: $white;
        select {
            border-radius: 0;
            border: 1px solid #ccc;
            outline: none;
            margin-bottom: 10px;
            min-width: 100%;
            max-width: 100%;
            background-color: transparent;
        }
        .history-item {
            border-left: 2px solid #ccc;
            padding: 5px;
            margin-top: 5px;
        }
        .In {
            border-color: #337ab7;
        }
        .Under {
            border-color: #f0ad4e;
        }
        .Completed {
            border-color: #5cb85c;
        }
        .More {
            border-color: #5bc0de;
        }
    }
}
