.documents {
    height: 100%;
    background-color: $paper-gray;
    color: $slate;

    .old-one-header {
        &__title {
            &-name {
                padding-left: 0.5rem;
            }

            &-back {
                background: transparent;
                border: none;
                font-weight: bold;
                outline: none;
                margin: 0 -1rem;

                &:hover {
                    color: $ui-blue;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        height: 100%;
    }

    .main {
        height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    .Ready {
        display: block;
    }

    .menu {
        height: 100%;
        z-index: 150;
        flex: 0 0 5rem;
        overflow: hidden;
        background-color: #f3f3f3;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        color: $slate;
        padding-bottom: 5rem;
        transition: 0.25s;
        left: -100%;

        &.is-open {
            flex: 0 0 25rem;

            .menu {
                &-header {
                    justify-content: space-between;

                    &-title {
                        display: block;
                    }
                }

                &-content {
                    display: flex;
                }
            }
        }

        &-header {
            height: 5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            border-bottom: 2px solid $grey-4;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            &-title {
                display: none;
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            display: none;

            .tree {
                width: 100%;

                .collection {
                    &-picker {
                        &-dropdown {
                            min-width: 100%;
                            max-height: 100%;
                            border: none;
                            border-radius: none;
                            background: none;
                        }

                        &-item {
                            padding: 0.4rem 0.5rem;

                            &.active {
                                background: $ui-blue;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .details {
        height: 100%;
        z-index: 150;
        flex: 0;
        overflow: hidden;
        background-color: #f3f3f3;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        color: $slate;
        padding-bottom: 5rem;
        transition: 0.25s;

        &.is-open {
            flex: 0 0 25rem;
        }

        &-header {
            height: 5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            border-bottom: 2px solid $grey-4;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            &-title {
                display: none;
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            overflow-y: auto;
        }

        .actions {
            display: flex;
            margin: 0.5rem 1rem;
            justify-content: flex-end;
            width: 23.5rem;
            outline: none;

            a {
                text-decoration: none;
                margin: 0 0.5rem;
                text-align: center;
            }

            .download {
                border-radius: 2px;
                white-space: nowrap;
                padding: 0.8rem 1.8rem;
                border: 1px solid darken($ui-blue, 10%);
                background-color: $ui-blue;
                color: $white;
                width: 100%;

                &:hover {
                    background-color: lighten($ui-blue, 10%);
                    color: $white;
                }
            }

            .delete {
                background: 0;
                border-radius: 2px;
                white-space: nowrap;
                border: 1px solid $grey-3;
                background-color: $white;
                color: $slate;
                padding: 0.8rem 1.8rem;
                cursor: pointer;

                &:hover {
                    color: darken($slate, 10%);
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
            }
        }

        .item {
            &-details {
                width: 100%;
                padding: 0 1rem;
            }

            &-group {
                display: flex;
                border-top: solid 1px $grey-1;
                border-bottom: solid 1px $grey-1;
                padding: 1.5rem;

                &:first-child {
                    border-top: none;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            &-none {
                text-align: center;
                padding: 1rem;
            }

            &-label {
                flex: 0 0 6rem;
                font-weight: 600;
            }

            &-info {
                flex: 1 1 auto;
            }

            &-icon {
                font-size: 5rem;
                margin: 0 auto;
            }
        }
    }

    .body {
        height: 100%;
        width: 100%;
        display: block;

        .directory {
            overflow-y: auto;
            height: calc(100% - 5rem);
            padding: 2rem;

            &-title {
                font-size: 1.5rem;
                margin: 1rem 0;
            }

            &-content {
                margin: 0 -1rem;
                display: flex;
                flex-flow: row wrap;
            }

            &-empty {
                margin: 3rem auto;
                font-size: 3rem;
                text-align: center;
            }

            .active {
                background: $ui-blue;
                color: $white;
            }

            &-folders {
                &-item {
                    margin: 1rem;
                    height: 4rem;
                    width: 20rem;
                    border-bottom-right-radius: 1px;
                    border-top-right-radius: 1px;
                    background: $white;
                    box-shadow: 0 1px 1px 0 $grey-4;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    border: 0;
                    outline: none;
                    cursor: default;

                    &-icon {
                        background: lighten($grey-1, 7%);
                        padding: 1.3rem;
                        min-width: 4rem;
                        width: 4rem;
                        outline: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &-name {
                        width: 100%;
                        padding: 1rem;
                        text-align: left;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        outline: none;
                    }

                    &:hover {
                        .directory-folders-item-actions {
                            opacity: 1;
                            color: inherit;
                            border: none;
                        }
                    }

                    &-actions {
                        color: $slate;

                        &:hover {
                            border: 1px solid $slate;
                            color: darken($slate, 10%);
                        }
                        opacity: 0;
                        padding: 1rem;
                        border: none;
                        background: transparent;
                        color: inherit;
                    }
                }
            }

            &-files {
                &-item {
                    margin: 1rem;
                    padding: 2.5rem 1rem;
                    width: 20rem;
                    height: 15rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    background: $white;
                    border-bottom-right-radius: 1px;
                    border-top-right-radius: 1px;
                    box-shadow: 0 1px 1px 0 $grey-4;
                    border: 0;
                    outline: none;
                    z-index: 5;

                    &-icon {
                        width: 100%;
                        height: 100%;
                        font-size: 4.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &-name {
                        width: 100%;
                        height: 3.8rem;
                        padding: 0.5rem 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                    }

                    &:hover {
                        .directory-files-item-actions {
                            opacity: 1;
                            color: inherit;
                            border: none;

                            a {
                                opacity: 1;
                                color: inherit;
                                border: none;
                            }
                        }
                    }

                    &-actions {
                        position: relative;
                        left: 7rem;
                        bottom: 9.2rem;
                        z-index: 10;

                        button,
                        a {
                            &:hover {
                                border: 1px solid $slate;
                                color: darken($slate, 10%);
                            }
                            z-index: 30;
                            opacity: 0;
                            padding: 0.5rem;
                            border: none;
                            background: transparent;
                            color: $slate;
                            font-size: 1.5rem;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
