// Editable Styles Overwrite
// Inline Editing Forms
.editable {

    &-click {
        border: 0;

        &:hover {
            border-bottom-color: $grey-4;
        }
    }

    &-wrap {
        position: relative;
        width: auto;
        max-width: 100%;
        display: flex;
        margin: 0;
    }

    &-controls,
    &-controls.form-group {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }

    &-input.editable-has-buttons {
        flex: 1 1 auto;
        min-width: 1px;
        border: 1px solid #ccc;
        border-radius: 0;
        height: auto;
    }

    &-buttons {
        margin: 0;

        button {
            margin: 0;
            background-color: $white;
            border: 1px solid $grey-3;
            border-left: 0;

            &:hover,
            &.btn-primary:hover {
                color: inherit;
                background-color: $white;
                border: 1px solid $grey-4;
                border-left: 0;
            }

            &:active,
            &:focus {
                background-color: $white;
                border-color: $white;
                box-shadow: none;
                border: 1px solid $grey-4;
                border-left: 0;
            }
        }

        .glyphicon-ok {
            color: $green;
        }

        .glyphicon-remove {
            color: $light-red;
        }
    }

    &-empty,
    &-empty:hover,
    &-empty:focus {
        font-style: normal;
        color: inherit;
        text-decoration: none;
    }

    input,
    textarea {
      width: 100% !important;
      box-shadow: none;
      text-align: right;

      &:active,
      &:focus {
          border-color: #777;
      }
    }

    input {
        height: inherit !important;
        display: block;
    }

    textarea {
        height: 100px !important;
        margin-left: 1px;
        border-radius: 0;
    }

    button {
        width: 40px;
        margin-left: 4px;

        span {
            top: 3px;
            left: 2px;
        }
    }
}

// Typeahead Styles

[uib-typeahead-popup].dropdown-menu {
    z-index: 1200;
}
