.upload {
    text-align: center;

    &-input {
        cursor: pointer;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &+label {
            @include button($ui-blue);
            font-family: 'Open Sans', 'Helvetica', 'FontAwesome';
            background: $ui-blue;
            color: $white;
            padding: 1rem;
            width: 35rem;
            cursor: pointer;
        }

        &+label:hover,
        &:focus+label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            &+label {
                background: lighten($ui-blue, 25%);
                cursor: default;
            }
            &+label:hover,
            &:focus+label {
                outline: none;
            }
        }

    }

    .note {
        display: block;
        width: 100%;
        text-align: center;
        color: $slate;
        margin-bottom: 0;
        &.error {
            color: $light-red;
        }
    }

    .files,
    .no-files {
        font-family: 'Open Sans', 'Helvetica', 'FontAwesome';
    }

    &-list {
        &-item {
            &__close {
                color: $black;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}
