.graph-container {
    .domain {
        fill: none;
        stroke: #ccc;
        stroke-width: 1px;
    }

    #piegraph {
        display: flex;
        justify-content: center;
    }

    #agegraph {
        display: flex;
        justify-content: center;
    }
}
