.navigation {
    border: 0;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    min-height: 50px;
    height: 50px;
    margin-bottom: 20px;
    display: block;
    flex-flow: row nowrap;
    background-color: $green;
    color: $white;
    border: none;

    @media (min-width: $small) {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    &__menu-toggle,
    &__user-toggle {
        position: absolute;
        top: 1rem;
        font-size: 1.8rem;
        border: 0;
        background: 0;
        outline: none;

        @media (min-width: $small) {
            display: none;
        }
    }

    &__menu-toggle {
        left: 1.6rem;
    }

    &__user-toggle {
        right: 1.6rem;
    }

    &__actions {
        display: flex;
        position: absolute;
        top: -200%;
        background-color: $slate;
        width: 100%;
        padding: 1rem;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        transition: top .2s ease;
        z-index: -1;

        @media (min-width: $small) {
            position: static;
            width: auto;
            background-color: inherit;
            display: flex;
            flex: 1 1 auto;
            min-width: 1px;
        }

        &.active {
            top: 100%;
        }
    }

    &__user {
        padding-right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $white;

        @media (min-width: $small) {
            padding-right: 15px;
            margin: 0;
            color: inherit;
        }

        &-login {
            position: static;

            @media (min-width: $small) {
                position: relative;
            }

            &-ul {
                margin: 0 5% 0 0;
                min-width: 16rem;
                border-radius: 0;
                border: none;
                width: 95%;
                left: auto !important;
                right: 0;
                top: 4.1rem;

                .navigation__user-login-a {
                    color: $slate;

                    @media (min-width: $small) {
                        text-align: left;
                    }
                }

                .navigation__user-login-divider {
                    height: 0.1rem;
                    margin: 0.5rem 0;
                    background-color: $grey-1;
                }
            }
        }

        &-menu {
            padding: 6px 12px;
            font-size: 1.5rem;
            font-weight: 400;
            box-shadow: none;
            border: 0;
            background: 0;

            .caret {
                margin-left: 5px;
            }
        }

        &-tasks-toggle {
            background: transparent;
            border: none;
            color: inherit;
            outline: none;
            padding: 3px 12px;
            margin-right: 1rem;

            i.tasks-icon {
              font-size: 150%;
              margin-top: .5rem;
            }
        }

        .collection-picker {
            min-width: 0;

            &.dropdown.open {
                position: static;

                @media (min-width: $small) {
                    position: relative;
                }
            }

            .collection-picker-display {
                border: none;
                background: transparent;
                color: inherit;
                text-align: right;
                min-width: 0;
                padding: 0 12px;
                &-text {
                    justify-content: flex-end;
                }
            }
            .collection-picker-dropdown {
                width: 100%;
                top: 3.3rem;
                left: inherit;
                right: 0px;
                border-radius: 0;
                border: none;
                background-image: inherit;
                background-color: $white;

                @media (min-width: $small) {
                    width: auto;
                }
            }
            border-right: solid 1px rgba(255,255,255,.5);
        }

        //force show scroll bar on Chrome on Mac OSX
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: .7rem;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
    }

    &__logo {
        width: 100%;

        @media (min-width: $small) {
            width: auto;
        }
    }

    &__brand {
        height: 50px;
        margin: 0;
        padding: 10px;
        font-size: 2rem;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $small) {
            text-align: left;
            margin-left: 5px;
            justify-content: flex-start;
        }

        &-span {
            margin-left: 15px;
        }

        .logo {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
