.heatmap {
    color: $slate;

    $graph-yellow: #fcff34;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        padding-right: 5rem;
    }

    &__container {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }

    &__y-title {
        flex: 0 0 2rem;
        width: 2rem;
        margin: 0 0 6.4rem;
        position: relative;

        &--sideways {
            transform: rotate(-90deg) translateX(-50%);
            transform-origin: left top;
            position: absolute;
            top: 50%;
            white-space: nowrap;
        }
    }

    &__y-labels {
        flex: 0 0 auto;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 0 6.4rem;
        padding: 0 1.4rem;

        &-single {
            flex-flow: column nowrap;
            text-align: right;
        }
    }

    &__x-title {
        flex: 0 0 auto;
        text-align: center;
        margin: 0;
    }

    &__x-labels {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        padding: 1.4rem 0;
        margin: 0;

        &-single {
            flex-flow: row nowrap;
            text-align: center;
        }
    }

    &__label {
        flex: 1 1 auto;
        justify-content: center;
        display: flex;
        font-size: 1.2rem;
        color: $slate;
    }

    &__graph {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        position: relative;
        border: 1px solid $white;
        color: $white;

        &.low {
            background-color: $cyan;
        }
        &.medium {
            background-color: $light-orange;
        }
        &.high {
            background-color: $light-red;
        }
        &.very-high {
            background-color: $dark-red;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: .6rem;
        font-weight: bold;
    }

    &__risk {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0;
        padding: 0.6rem;

        &:hover {
            opacity: 1;
        }

        &-select {
            width: 100%;
            margin: 0;
            border: 0;
            box-shadow: none;
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            cursor: pointer;

            &::-ms-expand {
                display: none;
            }
        }

        &-title {
            text-align: center;
            margin-bottom: 0;
        }
    }

    &__spacer {
        width: 100%;
        padding-bottom: 100%;
        display: block;
    }
}
