.horseshoe {
    position: relative;

    &__title {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 4rem;
        line-height: 2rem;
        font-weight: bold;
        color: $slate;

        &-sub {
            display: block;
            font-size: 1.6rem;
            line-height: 3rem;
            text-transform: uppercase;
        }
    }

    &__graph {
        transform: rotate(135deg);

        &-item {
            fill: none;
        }

        .none {
            stroke: $green;

            &:hover {
                stroke: lighten($green, 10%);
            }
        }

        .low {
            stroke: $cyan;

            &:hover {
                stroke: lighten($cyan, 10%);
            }
        }

        .medium {
            stroke: $light-orange;

            &:hover {
                stroke: lighten($light-orange, 10%);
            }
        }

        .high {
            stroke: $light-red;

            &:hover {
                stroke: lighten($light-red, 10%);
            }
        }

        .very-high {
            stroke: $dark-red;

            &:hover {
                stroke: lighten($dark-red, 10%);
            }
        }

        .remaining {
            stroke: $paper-gray;
        }

        .empty {
            stroke: $eggshell;
        }
    }

    &__count {
        display: block;
        width: 100%;
        text-align: center;
        color: $grey-4;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}