@keyframes hideFromLeft {
  0% {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
    margin-left: 200rem;
  }
}

@keyframes showFromLeft {
  0% {
    display: none;
    opacity: 0;
    margin-left: 200rem;
  }
  99% {
    display: none;
  }
  100% {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes hideFromRight {
  0% {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
    margin-left: -200rem;
  }
}

@keyframes showFromRight {
  0% {
    display: block;
    opacity: 1;
    margin-left: -200rem;
  }
  99% {
    display: none;
  }
  100% {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    50% {
        box-shadow: 0rem 0rem 0.5rem 0.2rem $grey-1;
    }
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
