.one__loading {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__image {
        max-height: 5rem;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    &__icon {
        color: inherit;
        font-size: 2rem;
        color: $grey-1;
        transform-origin: 50% 44.5%;
    }

    &__text {
        color: inherit;
        font-size: 1.6rem;
    }
}
