.login {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100%;
    background-color: $paper-gray;
    padding: 0;

    loading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    &-headline {
        font-size: 1.4rem;
        color: $slate;
        margin-bottom: 1rem;
        display: inline-block;
    }
    &__dropdown {
        position: relative;
        display: inline;
        @media (min-width: $small) {
            margin-right: 1rem;
        }

        &-container {
            margin: 2rem auto;
            text-align: center;
        }

        &-headline {
            font-size: 1.4rem;
            color: $slate;
            margin-bottom: 1rem;
        }

        &__select {
            &-select {
              width: auto;
              border: none;
            }
            position: relative;
            flex: 0 0 14rem;
            max-width: 14rem;
            outline: none;
            color: $slate;
            @media (min-width: $small) {
                margin-right: 1rem;
                flex: 0 0 16rem;
                max-width: 16rem;
            }
        }
    }

    &__loading {
        color: $grey-4;
    }

    &__form {
        margin: auto;
        max-width: 35rem;
        width: 100%;
        position: relative;

        &-container {
            padding: 2rem;
            flex: 1 1 40%;
            display: flex;
            flex-flow: column nowrap;
            overflow-y: auto;
        }

        &-wrapper {
            background-color: $white;
            border: 1px solid $grey-3;
            padding: 2rem;
            border-radius: 4px;
        }

        &-footer {
            text-align: center;
            margin-top: 10%;

            &-text {
                margin: 0;
                color: $grey-4;
                font-size: 1.4rem;
            }
        }
    }

    &__logo {
        max-width: 100%;
        max-height: 10rem;
        margin: 0 auto 2rem;
        display: block;
    }

    &__label {
        color: $slate;
        font-weight: normal;
        margin-bottom: 0.2rem;
    }

    &__headline {
        color: $slate;
        margin: 0 0 1rem;
        text-align: center;

        &--standalone {
            text-align: center;
            margin-bottom: 1.6rem;
        }
    }

    &__description {
        color: $slate;
        margin: 0 0 2rem;
        text-align: center;
    }

    &__input {

        &-group {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .login__input-container {
                flex: 1 1 49%;
                min-width: 1px;
                max-width: 49%;
                width: 49%;
            }
        }

        &-container {
            margin-bottom: 1rem;
        }

        &-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        &-addon {
            width: 4rem;
            background: 0;
            border: 1px solid $grey-3;
            border-left: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            color: $slate;

            &:hover {
                color: darken($slate, 10%);
            }
        }
    }

    &__back {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: $grey-4;
        margin: 1rem 0 2rem;

        &-btn {
            background: 0;
            border: 0;
            outline: none;
        }

        &-icon {
            font-size: 1.6rem;
            margin-right: 1.6rem;
            vertical-align: text-top;
        }

        &-text {
            margin: 0;
            color: $slate;
        }
    }

    &__has-email {
        text-align: center;
        margin: 2rem 0;
        color: $slate;
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__button {
        @include button(primary);
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 2rem;

        i {
            margin: 0;
        }
    }

    &__error {
        text-align: center;
        margin-top: 0.6rem;
        line-height: 1.8rem;
        font-size: 1.3rem;

        .fa {
            margin-right: 0.2rem;
            color: $light-red;
        }
    }

    &__success {
        text-align: center;
        margin-top: 0.6rem;
        line-height: 1.8rem;
        font-size: 1.3rem;

        .ot {
            margin-right: 0.2rem;
            color: $green;
        }
    }

    .validation-container {
        .login__error,
        .login__success {
            text-align: left;
        }
    }

    &__validations {
        color: $grey-4;
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    &__forgot-pw {
        display: block;
        text-align: center;
        color: $ui-blue;

        &:hover {
            color: darken($ui-blue, 10%);
        }
    }

    &__help {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        a {
            color: $ui-blue;

            &:hover {
                color: darken($ui-blue, 10%);
            }
        }
    }

    &__register {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        &-text {
            color: $slate;
            margin: 1rem 0.5rem;
        }

        &-btn {
            @include button;
            display: inline-block;
            margin: 0 0.5rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__version {
        color: $grey-4;
        font-size: 1.2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 1rem 0.4rem;

        &-number {
            margin: 0;
        }

        &-branding {
            margin: 0;
            white-space: nowrap;

            span {
                vertical-align: top;
                margin-right: 0.6rem;
            }

            img {
                min-width: 6rem;
                width: 6rem;
                max-width: 6rem;
                vertical-align: text-bottom;
            }
        }
    }

    &__ad {
        display: none;
        overflow-y: auto;
        background-size: cover;
        background-color: $slate;
        flex: 1 1 60%;
        padding: 2rem 8rem;
        flex-flow: column nowrap;
        align-items: flex-start;
        border-left: 1px solid $grey-3;
        @media (min-width: $small) {
            display: flex;
        }

        &-wrapper {
            margin: auto auto auto 0;
            padding-bottom: 10%;
            max-width: 36rem;
            width: 100%;
        }

        &-image {
            display: block;
            width: auto;
            max-width: 100%;
            margin-bottom: 2rem;
        }

        &-headline {
            color: $white;
            margin: 0 0 1rem;
        }

        &-text {
            color: $paper-gray;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        &-button {
            border-radius: 2px;
            white-space: nowrap;
            border: 1px solid $grey-3;
            background-color: $white;
            color: $slate;
            padding: 0.8rem 1.8rem;
            display: inline-block;

            &:hover {
                border: 1px solid $slate;
                color: darken($slate, 10%);
                text-decoration: none;
            }
        }
    }
    .flow-right {
        justify-content: flex-end;
    }
}
