.notify {

    padding: 1.4rem;
    display: flex;
    flex-flow: column;

    &__modal {
        .modal-content {
            top: 25vh;
        }
    }

    &-header {
        font-size: 2rem;
        font-weight: 600;
        color: $slate;
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-start;

        &--close {
            margin-left: auto;
            margin-right: -1rem;
            border: none;
            padding: 0 1rem;
            background: none;
            color: $grey-4;

            &:hover {
                color: $slate;
            }

            i {
                margin: 0;
            }
        }
    }
    &-body {
        font-size: 1.5rem;
        font-weight: 400;
        color: $slate;
        margin-bottom: 0.5rem;
        overflow-wrap: break-word;

    }
    &-actions {
        display: flex;
        justify-content: flex-end;
    }
}
