//////////////////////////////////////////////////////////////////////////////////////////////
// Organizations
//////////////////////////////////////////////////////////////////////////////////////////////
#pia-organizations {
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-flow: column nowrap;

    .organizations {
        &__search {
            height: 3.8rem;
            width: 25rem;
            margin-left: 0.6rem;
        }

        &__loading {
            height: 100%;
        }
    }

    .module-wrapper {
        overflow-y: auto;
        flex: 1 1 auto;
    }

    .footer-action {
        margin: 0;
        width: 100%;
    }

    .meButton-container {
        border: 1px solid #ccc;
    }

    .createOrg-container {
        margin: 100px auto 0;
        max-width: 480px;
        width: 66%;

        .approver-input-group {
            display: flex;

            .one-toggle-picker__toggle-btn {
                padding: 6px 12px;
            }

            div:last-child {
                flex: 1 0 auto;
            }
        }
    }

    .table-actions {
        .btn.btn-danger {
            background-color: #ccc;
            border-radius: 0;
            border: none;
            color: $slate;
            margin-left: 1px;
            &:hover {
                color: #1c5380;
            }
        }
        .btn.btn-info {
            background-color: #ccc;
            border-radius: 0;
            border: none;
            color: $slate;
            &:hover {
                color: #1c5380;
            }
        }
        .btn.btn-primary {
            background-color: #ccc;
            border-radius: 0;
            border: none;
            color: $slate;
            margin-left: -3px;
            &:hover {
                color: #1c5380;
            }
        }
    }
}
