pageslide {
    background-color: #ccc;
}

.pageslide {
    background-color: $white;
    border: 1px solid #ccc;
    border-bottom: 0;
    bottom: inherit !important;
    height: calc(100% - 100px) !important;
    position: fixed;
    top: initial !important;

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;

        &.hidden {
            display: none;
        }
    }

    &__header {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        color: $white;
        background-color: $slate;
        padding: 1.6rem;
        text-align: center;
        align-items: center;

        &-text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
            letter-spacing: .1rem;
            margin: 0;
        }

        i {
            font-size: 2rem;
        }
    }

    &__body {
        overflow-y: auto;
        height: 100%;
        color: $slate;
    }

    &__notes {
        margin: 0;
        padding: 0;

        .edit-mode & {
            padding: 0 0 1.6rem;
        }

        &-headline {
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: bold;
            text-align: center;

            .edit-mode & {
                display: block;
            }
        }

        &-text {
            .ta-scroll-window {
                flex: 1 1 auto;
                display: flex;
                flex-flow: column nowrap;
                min-height: 1px;

                .ta-bind {
                    max-height: 20rem;
                    flex: 1 1 auto;
                    min-height: 0;
                    overflow-y: scroll;
                    min-height: 1px;
                    padding: 0;
                    border: 1px solid $grey-3;
                    padding: 6px 12px;

                    .edit-mode & {

                        &:hover {
                            border-color: $slate;
                            &:focus {
                                border-color: $grey-3;
                                }
                        }
                    }
                    p {
                        margin: 0;
                    }
                    ul {
                        li {
                            list-style: initial;
                        }
                    }
                    ol {
                        li {
                            list-style: inherit;
                        }
                    }
                }
            }

            .btn-toolbar {
                display: none;
                flex: 0 0 auto;
                flex-flow: row wrap;
                justify-content: center;

                &.focussed {
                    display: inherit;
                }

                .btn-group {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                }
            }

            button {
                padding: 0.2rem 0.6rem;
                margin-bottom: .4rem;
            }
        }
    }

    &__overlay {
        height: calc(100% - 50px);
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;

        .edit-mode & {
            display: none;
        }
    }

    .closeSlide {
        background-color: #f1f1f1;
        border: 1px solid #B7B7B7;
        display: block !important;
        height: 20px;
        position: relative;
        right: 20px;
        top: 50%;
        width: 30px;
        text-align: center;
        border-radius: 15px;
        outline: none;
        color: $slate;
    }
}
