//////////////////////////////////////////////////////////////////////////////////////////////
// Project Labels
//////////////////////////////////////////////////////////////////////////////////////////////

.projectlabels {
    &__default {
        background: $slate;
        border-color: $slate;
    }
    &__not-started {
        background: $slate;
        border-color: $slate;
    }

    &__in-progress {
        background: $blue;
        border-color: $blue;
    }

    &__under-review {
        background: $orange;
        border-color: $orange;
    }

    &__needs-info {
        background: $teal;
        border-color: $teal;
    }

    &__completed {
        background: $green;
        border-color: $green;
    }

    &__risk-assessment {
        background: $yellow;
        border-color: $yellow;
    }

    &__risk-treatment {
        background: $steel;
        border-color: $steel;
    }
}

.projectlabels-text {
    &__default,
    &__not-started,
    &__in-progress,
    &__under-review,
    &__needs-info,
    &__risk-assessment,
    &__risk-treatment,
    &__completed {
      font-weight: bold;
    }

    &__default {
        color: $slate;
    }

    &__not-started {
        color: $slate;
    }

    &__in-progress {
        color: $blue;
    }

    &__under-review {
        color: $orange;
    }

    &__needs-info {
        color: $teal;
    }

    &__completed {
        color: $green;
    }

    &__risk-assessment {
        color: $yellow;
    }

    &__risk-treatment {
        color: $steel;
    }
}

.projectlabels-tag {

    &__default,
    &__in-progress,
    &__not-started,
    &__under-review,
    &__needs-info,
    &__risk-assessment,
    &__risk-treatment,
    &__completed {
        vertical-align: top;
        margin: 0 0.5rem;
        font-weight: bold;
    }

    &__default {
        color: $slate;
    }

    &__not-started {
        color: $slate;
    }

    &__in-progress {
        color: $blue;
    }

    &__under-review {
        color: $orange;
    }

    &__needs-info {
        color: $teal;
    }

    &__completed {
        color: $green;
    }

    &__risk-assessment {
        color: $yellow;
    }

    &__risk-treatment {
        color: $steel;
    }
}
