.project-info,
.portal-modal {
    &__reminder {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &-btn {
            height: 2.2rem;
            width: 2.2rem;
            flex: 0 0 2.2rem;

            i {
                font-size: 1.4rem;
            }
        }

        &-input {
            width: 8rem;
            margin-right: 1rem;
        }
    }

    &__error {
        color: $light-red;
        text-align: center;
        margin: 0.6rem 0 0;
    }

    &__message {
        border: none;
        border-radius: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #newProjectOwner.respondent-disabled {
        background-color: $grey-1 !important;
    }

    input {
        height: 3.8rem;
    }

    textarea,
    .assigment-container {
        @include textArea;
        display: block;
        max-width: 100%;
        width: 100%;
        min-height: 7rem;
        padding: .8rem;
    }

    .wizard-preview {
        height: inherit;
        background-color: $paper;
        max-height: 22.8rem;
        overflow-y: auto;

        .angular-ui-tree-handle {
            cursor: default;
        }

        .section-assign {
            margin: auto;
        }
    }

}

.project-info {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__header {
        flex: 0 0 auto;
        min-height: 1px;
    }

    &__container {
        flex: 1 1 auto;
        min-height: 1px;
        padding-top: 50px;
        padding-bottom: 20px;
        overflow-y: auto;
        color: $slate;
    }

    &__footer {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__form {
        margin: auto;
        padding: 2rem;
        max-width: 70rem;
        width: 100%;

        &-group {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 2rem;

            @media(min-width: $small) {
                flex-flow: row nowrap;
            }
        }
    }

    &__headline {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__read-only-text {
        margin: 0;
    }

    &__text {
        margin: 0;

        i {
            margin-left: .6rem;
        }
    }

    &__label {
        flex: 1 1 100%;
        margin: 0 0 1rem;

        @media(min-width: $small) {
            margin: .8rem 0 0;
            flex: 0 0 10rem;
        }

        &--reviewer {
            margin: 0;
        }

        &--text {
            margin: 0;
        }

        sup {
            position: relative;
            font-size: 7px;
            top: -10px;
            color: $light-red;
        }

        i {
            margin-left: .6rem;
        }
    }

    &__input-group {
        flex: 1 1 auto;
    }

    &__assignment {
        flex-flow: column;

        &-toggle {
            display: block;
            margin-bottom: 0.5rem;
            &-btn {
                margin-right: 0.25rem;
            }
        }
        &-input {
            min-height: 4rem;
        }
    }

    &__loading {

        .one__loading__icon {
            color: $white;
            margin: 0;
        }
    }

    .has-error {

        input {
            border-color: $light-red;
        }
    }

    .md-thumb {
        background-color: $grey-1;
    }

    .md-ink-ripple {
        color: $grey-1;
    }
    .md-bar {
        background-color: #ccc;
        height: 16px;
    }

    .md-button.md-icon-button {
        margin: 0 1rem 0 0;
        height: auto;
        padding: 0;
        width: auto;
    }

    .deadlinePicker {
        .deadlineTooltip {
            align-self: center;
        }
    }

    .collection-picker {

        &.dropdown.open {
            height: auto;
        }

        &-display {
            height: 3.8rem;

            &-text {
                font-size: 1.4rem;
            }
        }
    }
}
