#pia-projects {
    height: 100%;
    background-color: $paper-gray;

    .navbar-default {
        transition-timing-function: ease-in-out;
        transition: height .5s;
        height: 50px;
        overflow: hidden;

        &.filter-open {
            height: 120px;
        }

    }

    .module-wrapper {
        overflow-y: auto;
    }

    .template {

        &__info i {
            color: $green;
        }

        &__toggle-details {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.8rem;
            padding: .5rem 0.8rem;
            color: $grey-3;
            -webkit-appearance: none;
            background: none;
            outline: none;
            border: 0;

            &:hover {
              color: $slate;
            }

            i {
                pointer-events: none;
            }
        }

        &__description {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $slate;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            color: $white;
            padding: 1.4rem;
        }
    }

    .projects {
        padding: 0;
        height: calc(100% - 50px);
        transition-timing-function: ease-in-out;
        transition: height .5s;

        &.filter-open {
          height: calc(100% - 120px);
        }

        &__loading {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;

            i {
                color: $grey-3;
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                color: $slate;
                margin-bottom: 10%;
            }
        }

        &__cta {
            flex: 0 0 auto;
            height: 3.6rem;
            border-radius: 2px;
            margin-right: 1rem;
            width: 4rem;

            &:hover {
                background-color: darken($green, 10%);
            }

            p {
                display: none;

                @media (min-width: $small) {
                    display: inline-block;
                }
            }
        }

        &__utility {

            &-container {
                position: absolute;
                background-color: $white;
                border: 1px solid $grey-3;
                border-radius: 2px;
                top: calc(100% + 1rem);
                right: 1rem;
                min-width: 22rem;
                z-index: 10;
                box-shadow: rgba(0,0,0,0.08) 0 0 6px 0;

                .menu-title {
                    padding: 9px 14px;
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: bold;
                    background-color: #e4e4e4;
                    border-bottom: 1px solid #ebebeb;
                    border-radius: .2375rem .2375rem 0 0;
                  }

                &:before {
                    content: '';
                    width: 0;
                	height: 0;
                    position: absolute;
                    top: -1.4rem;
                    right: 1.4rem;
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    border-bottom: 1.4rem solid $grey-1;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 5rem;
                    pointer-events: none;
                }

            }

            &-close {
                background: 0;
                border: 0;
                position: absolute;
                top: 0.7rem;
                right: 0.7rem;
                height: auto;
                width: auto;
                color: #777;

                &:hover {
                  color: #262626;
                }
            }
            &-content {

              ul {
                margin-bottom: 0;

                li {
                  padding: .8rem;
                  color: #777;
                  border-top: 1px solid #efefef;
                  padding-top: 1rem;
                  padding-left: 1.2rem;

                  &:first-child {
                    border-top: 0;
                  }
                  &:hover {
                    color: #262626;
                    background-color: #f5f5f5;
                  }

                  i {
                    margin-right: .4rem;
                  }
                }
              }
          }

            &-list {
                margin: 0;
                max-height: 40rem;
                overflow-y: auto;
            }

            &-item {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }

            &.active .projects__manage {

                &button {
                    border: 1px solid $slate;
                    background-color: $slate;
                    color: $white;
                }
            }
        }

        &__navbar {
            display: flex;
            align-items: center;
        }

        &__title {
            padding-left: 0;
            padding-right:5px;

            @media (min-width: $small) {
                padding-left: 15px;
            }
        }

        &__search {
            flex: 0 0 auto;
            width: 30rem;
            height: 36px;
        }

        &__refresh {
            border: 0;
            background: 0;
            align-items: center;
            width: 35px;
            color: $slate;

            &:hover {
                color: $grey-3;
            }

        }

        &__filter {
            position: relative;
            flex: 0 0 15rem;
            max-width: 15rem;
            margin-right: 1.5rem;

            &-arrow {
              top: 73%;
            }

            &--state {
              flex: 0 0 17rem;
              max-width: 17rem;
            }
            &--template,
            &--search {
              flex: 0 0 30rem;
              max-width: 30rem;
            }
            &--clear {
              margin-top: 2.3rem;
            }

            @media (min-width: $small) {
                margin-right: 1.5rem;
                flex: 0 0 15rem;
                max-width: 15rem;

                &--state {
                  flex: 0 0 17rem;
                  max-width: 17rem;
                }
                &--template,
                &--search {
                  flex: 0 0 30rem;
                  max-width: 30rem;
                }
                &--clear {
                  margin-top: 2.3rem;
                }
            }
        }

        &__table {
            border: 1px solid $table-cell-border;
            color: $slate;
            table-layout: auto;
            border-collapse: collapse;
            margin: 0;
            box-shadow: none;
            text-align: center;
            width: 100%;

            &-wrapper {
                padding: 0;
                margin: 2rem 1rem 1rem;
                box-shadow: none;
                overflow-x: auto;
                position: relative;
                opacity: 0;

                &.is-showing {
                    opacity: 1;
                    transition: opacity .5s ease;
                }
            }

            &-header {
                border-bottom: 2px solid $table-cell-border;
                font-weight: bold;

                .fa {
                    font-size: 16px;
                    margin-left: .6rem;
                }

                &-row {
                    background-color: $white;
                }

                &-cell {
                    background-color: $white;
                    padding: 1rem;
                    text-align: center;

                    &:last-child {
                        border-right: 0;
                    }

                    &-link {
                        color: $slate;
                        white-space: nowrap;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }

            &-row {
                background-color: $table-cell-light;
                border-bottom: 1px solid $table-cell-border;

                &:hover {
                    background-color: $table-cell-dark;
                    padding: 2rem inherit;
                }
            }

            &-cell {
                outline: none;
                vertical-align: middle;
                padding: 0.7rem;
                border: 0;
                border-right: 1px solid $table-cell-border;

                .risk {
                    font-size: 30px;
                }
                .low {
                    color: $cyan;
                }
                .medium {
                    color: $light-orange;
                }
                .high {
                    color: $light-red;
                }
                .very-high {
                    color: $dark-red;
                }
                .empty {
                    pointer-events: none;
                    font-size: 30px;
                }
            }
        }

        &__name {

            &-container {
                position: relative;

                &.has-selector {
                    padding-right: 6rem;
                }
            }

            &-text {
                font-weight: bold;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__version-selector {
            position: absolute;
            right: 0;
            top: -0.2rem;
        }

        &__label {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1rem;
        }

        &__actions {
            padding: 1rem;
            white-space: nowrap;

            .action__button__container {
                display: inline-block;
                padding: 4px;
            }

            &-btn {
                background: 0;
                border: 0;
                color: $slate;
                margin-right: 1rem;
                padding: 0;
                flex: 0 0 3rem;
                height: 3rem;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: $green;
                }

                &:disabled,
                &[disabled] {
                    color: $grey-3;

                    &:hover {
                        color: $grey-3;
                    }

                    i {
                        pointer-events: none;
                    }
                }
            }
        }

        &__pagination {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0rem 1rem 2rem;

            &-paging {
                margin: 0 2rem 0 0;

                &.pagination-sm>li:first-child>a,
                &.pagination-sm>li:first-child>span {
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                &.pagination-sm>li:last-child>a,
                &.pagination-sm>li:last-child>span {
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                &.pagination>li>a,
                &.pagination>li>span {
                    color: $ui-blue;
                    background-color: $white;
                    border: 1px solid $grey-3;
                }

                &.pagination>.active>a,
                &.pagination>.active>span,
                &.pagination>.active>a:hover,
                &.pagination>.active>span:hover,
                &.pagination>.active>a:focus,
                &.pagination>.active>span:focus {
                    z-index: 2;
                    color: $white;
                    cursor: default;
                    background-color: $ui-blue;
                    border-color: $ui-blue;
                }

                &.pagination>.disabled>span,
                &.pagination>.disabled>span:hover,
                &.pagination>.disabled>span:focus,
                &.pagination>.disabled>a,
                &.pagination>.disabled>a:hover,
                &.pagination>.disabled>a:focus {
                    color: $grey-3;
                    cursor: not-allowed;
                    background-color: $paper-gray;
                    border-color: $grey-3;
                }
            }

            &-text {
                color: $slate;
                margin: 0;
            }
        }

        // No Projects Messaging
        &__message {

            h2 {
                display: flex;
                justify-content: center;
                text-align: center;
                margin: auto 1rem;
                font-size: 3rem;
                color: #ccc;
                position: relative;
                top: 100px;
            }
            &--buttons {
              position: relative;
              top: 120px;
              text-align: center;
            }
        }
    }

    // Wizard
    #wizard {
        height: 100%;
        background-color: $paper-gray;
        .projectType {

            &-wrapper {
                height: 100%;
            }

            &-header {
                box-shadow: rgba(0,0,0,0.08) 0px 0px 6px 0px;
            }

            &-container {
                padding: 10px;
                overflow-y: auto;
                height: calc(100vh - 100px);
                .template-container {
                    display: flex;
                    flex-wrap: wrap;
                    header {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 20px 0;
                        color: #777;
                    }
                    .template-item {
                        border-radius: 0;
                        border: none;
                        box-shadow: 5px 5px 10px #777;
                        cursor: pointer;
                        height: 200px;
                        min-width: 175px;
                        margin: 1%;
                        width: 22%;
                        .panel {
                            height: 100%;
                            outline: none;
                            border-radius: 0;
                            a {
                                text-decoration: none !important;
                                .panel-heading {
                                    height: 100%;
                                    padding: 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .header {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        i {
                                            margin-bottom: 10px;
                                            color: #2A5F88;
                                        }
                                    }
                                }
                            }
                            .panel-footer {
                                height: 33%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                align-content: flex-end;
                                border: none;
                                .panel-footer-text {
                                    color: #434343;
                                    font-size: 1.5rem;
                                }
                                .label {
                                    width: 50%;
                                    border-radius: 0;
                                    font-size: 100%;
                                    text-align: left;
                                }
                                .dropdown {
                                    width: 50%;
                                    .btn-group {
                                        display: block;
                                        text-align: right;
                                        i {
                                            font-size: 25px;
                                            color: #777;
                                        }
                                        ul {
                                            top: 50px;
                                            right: -17px;
                                            font-size: 1.5rem;
                                            li a i {
                                                font-size: 1.3rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .panel-green a .panel-heading {
                            border-color: $green;
                            color: $white;
                            background-color: $green;
                            .header div i {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .footer-container {
            position: relative;
            .footer-action {
                background-color: #ccc;
                bottom: 0;
                height: 50px;
                padding: 10px;
                position: fixed;
                right: 0;
                width: calc(100% - 50px);
            }
        }
    }
}
