.version-selector {

    &__dropdown {
        margin-right: 0;

        &-select {
            height: auto;
            padding: 0.4rem 1.8rem 0.4rem 0.6rem;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            cursor: pointer;
        }

        &-arrow {
            right: 0.8rem;
            font-size: 1.2rem;
        }
    }
}
