.question-change {
    padding: 1rem 0 1rem 2rem;
    border-left: 1px solid $grey-3;

    &__text {
        margin-bottom: 0;
    }

    button {
        margin: 1rem 0 0;
        padding: 0.8rem 1.2rem;
        width: 100%; // Change Answer and No Change buttons same width
    }
}
