.question {
    textarea {
        @include textArea;
    }

    button {
        &.review {
            &.selected {
                background-color: $orange;
                border-color: $orange;
                color: $white;
                &:hover {
                    background-color: lighten($orange, 10%);
                    border-color: lighten($orange, 10%);
                }

                &:disabled,
                &[disabled],
                [disabled] & {
                    opacity: 1;
                    pointer-events: none;
                    background-color: lighten($orange, 10%);
                }
            }
        }

        &.checkbox {
            @include checkbox;
            height: 2rem;
            width: 2rem;
            min-height: 2rem;
            min-width: 2rem;

            i {
                font-size: 1.2rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .quill-contents-container {
        width: auto;
        img {
            max-width: 40rem;
        }
    }

    &__required {
        color: $light-red;
    }

    &__body {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    &__numbers {
        margin: 0 0.8rem 0 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-number {
            margin: 1rem 0;
            font-size: 1.6rem;
        }
    }

    // Question Text
    &__headline {
        margin: 1rem 0;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;

        &--text {
            font-size: 1.75rem;
        }
    }
    &__name {
        font-size: 2rem;
        // Required for IE
        display: flex;
        flex-basis: 100%;
        margin: 0;
        sup {
            position: relative;
            font-size: 7px;
            top: -10px;
            left: 0;
        }
        i {
            font-size: 15px;
        }
    }
    &__hint {
        display: inline-block;
        margin-left: 1rem;
    }
    &__text {
        margin: 2rem 0;

        // Controls the sizing of images uploaded from Quill
        &--save-question {
            p > img {
                max-width: 100%;
            }
        }
        &--section-detail {
            p > img {
                max-width: 34rem;
            }
        }
    }
    // Question Types
    &__content--readonly {
        background-color: $grey-1;
        min-height: 8rem;
        max-width: 60rem;
    }

    // Multi
    &__multi {
        // Editable Overwrites
        .editable {
            &-controls {
                width: 100%;
                input {
                    flex: 1 1 auto;
                }
                button {
                    flex: 0 0 auto;
                    width: auto;
                    border-radius: 0;
                    margin: 0;
                    &.btn-primary {
                        background-color: $white;
                        border-color: $grey-3;
                        border-radius: 0;
                        &:hover {
                            background-color: $white;
                            border-color: $grey-3;
                        }
                    }
                }
            }
            &-wrap {
                width: 100%;
            }
        }
    }
    &__multiselect,
    &__multichoice {
        min-width: 200px;
        max-width: 600px;
        margin-bottom: 0;

        &--separated {
            padding-top: 2rem;
        }

        .btn-group {
            width: 100%;
            min-width: 200px;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            display: flex;
            flex-flow: row wrap;
        }
        .option-container {
            flex: 1 1 48%;
            max-width: 48%;
            margin-bottom: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            label {
                margin: 2px 0;
                border: 2px solid #ccc;
                outline: none;
                text-align: left;
                white-space: normal;
            }
        }
        button {
            white-space: normal;
            flex: 1 1 auto;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            border: 1px solid $grey-3;
        }

        &-other {
            flex: 1 1 48%;
            max-width: 48%;
            display: flex;
            margin-bottom: 1rem;
            form {
                width: 100%;
            }
            button {
                font-style: normal;
                margin: 0;
                width: auto;
            }
            &-preview {
                flex: 1 1 48%;
                max-width: 48%;
                display: flex;
                margin-bottom: 1rem;
                form {
                    width: 100%;
                }
                button {
                    font-style: normal;
                    margin: 0;
                    width: auto;
                }

                input {
                    min-width: 40%;
                }
            }
        }
    }

    &__date {
        margin: 0 1rem 1rem 0;

        button.question__date-other {
            margin-left: 1rem;
        }
    }

    &__inventory {

        &-form {
            width: auto;
            max-width: 28rem;
            margin: 0 1rem 1rem 0;
            position: relative;
        }

        &-submit {
            width: 100%;
            max-width: 20rem;
        }

        &-input {
            width: 100%;

            &.has-errors {
                border: 1px solid $light-red;
            }
        }

        &-btn {
            text-align: left;
            position: absolute;
            z-index: 1;

            &.is-hidden {
                opacity: 0;
            }
        }

        .dropdown-menu {
            padding: 0;
            display: block;

            li {

                &.active {
                    background-color: $ui-blue;

                    a {
                        color: $white;
                    }
                }
            }

            a {
                padding: 0.8rem 1.6rem;
                color: $slate;
            }
        }

        &-btn,
        .dropdown-menu {
            margin: 0;
            width: 100%;
            box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 1px solid $grey-3;
            border-radius: 3px;
            max-height: 20rem;
        }

        &-error {
            color: $light-red;
        }

    }

    &__justification {
        margin-top: 1rem;

        label.question__justification-label {
            display: block;
            margin-bottom: 0.6rem;
            font-weight: normal;

            sup {
                position: relative;
                font-size: 7px;
                top: -10px;
            }
        }

        &__required {
            color: $light-red;
        }

        &-text {
            width: 100%;
            &--readonly {
                background-color: $grey-1;
                min-height: 8rem;
            }
        }
    }

    &-group {
        padding: 0 0 3rem 2rem;
    }

    &__data {

        &-map{

            &-placeholder {
                border-left: dashed 1px $grey-3;
            }
        }
    }

    &.ql-editor {
        p {
            margin-bottom: 1rem;
        }
    }
}

.question-popover {
    background-color: #000;

    &.top > .arrow:after {
        border-top-color: #000;
    }
}
