.sidebar {
    // overflow: hidden will break hover text on sidebar icons
    position: relative;
    display: flex;
    @media (min-width: $small) {
        left: 0;
    }
    &-wrapper {
        background-color: $grey-1;
        color: $slate;

        flex: 0 0 5rem;
        width: 5rem;
        z-index: 999;

        position: fixed;
        left: -100%;
        @media (min-width: $small) {
            position: relative;
            left: 0;
            transition: flex .2s, width .2s;
        }
        &.is-open {
            left: 0;
            flex: 0 0 22rem;
            width: 22rem;
            overflow-x: hidden;
            transition: flex .2s, width .2s;
        }
    }
    &__list {
        &-container {
            -ms-overflow-style: -ms-autohiding-scrollbar;

            &:hover {
                .sidebar__list {
                    width: auto;
                }
            }

            .sidebar__list {
                min-width: 100%;
                width: 100%;
            }
        }
    }
    &__item {
        background-color: $grey-1;
        cursor: pointer;
        height: 5rem;
        text-align: center;
        width: 100%;
        outline: none;
        display: flex;
        flex-flow: row nowrap;

        &.active {
            background-color: darken($grey-1, 5%);
            color: darken($slate, 10%);
        }
        &:hover {
            color: darken($slate, 15%);
            .sidebar__text {

                &--container {
                    pointer-events:none;
                }
                left: 100%;
                transition: left 0.2s;
            }
        }
        .is-open & {

            &:first-child {
                span {
                    border-top-right-radius: 2px;
                }
            }
            &:last-child {
                span {
                    border-bottom-right-radius: 2px;
                }
            }
        }
    }
    &__icon {
        pointer-events: none;

        &-container {
            width: 5rem;
            flex: 0 0 5rem;
            background: 0;
            border: 0;
            outline: none;
            padding: 1.5rem 0;
            position: relative;
        }

        &-image {
            pointer-events: none;
            width: 1.5rem;
            height: 1.5rem;
            fill: $slate;
        }

        &--upgrade {
            color: $green;
            font-size: 2rem;
            &:hover {
                color: $green;
            }
        }

        &--feedback {
            color: $ui-blue;
            font-size: 2rem;
            &:hover {
                color: $ui-blue;
            }
        }
    }
    &__text {
        left: 100%;
        width: 10rem;
        height: 5rem;
        white-space: nowrap;
        border-radius: 0;
        align-self: center;
        background-color: $grey-1;
        flex: 1 1 auto;
        padding: 1.5rem 2rem 0 0.1rem;
        position: absolute;
        text-align: left;
        z-index: -1;
        @media (min-width: $small) {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            left: -100rem;
            width: auto;
            .is-open & {
                left: 100%;
                width: 10rem;
                border-radius: 0;
            }
        }
        .is-open & {
            position: static;
            border-radius: 0;
            text-align: left;
            width: 12rem;
            z-index: 1;
        }
        .active & {
            background: darken($grey-1, 5%);
        }
    }
    &__toggle-view {
        display: none;
        background: 0;
        border: 0;
        border-top: 1px solid $grey-3;
        flex: 0 0 auto;
        height: 5rem;
        width: 100%;
        @media (min-width: $small) {
            display: block;
        }
    }

    .upgrade-list,
    .feedback-list {
        .sidebar__item:first-child {
            border-top: solid 1px $grey-3;
        }
    }

    .feedback-list {
      overflow-y: hidden;
    }

    .upgrade__icon {
        position: absolute;
        top: 0.8rem;
        right: 2.8rem;
        color: $grey-3;
    }
}

.ot-sidebar {
    // Todo: Remove after Vitreus 0.2.17
    -ms-overflow-style: none !important;
}
