//////////////////////////////////////////////////////////////////////////////////////////////
// Task Labels
//////////////////////////////////////////////////////////////////////////////////////////////

.tasklabels {
    &__default {
        background: $slate;
        border-color: $slate;
    }

    &__open {
        background: $blue;
        border-color: $blue;
    }

    &__completed {
        background: $green;
        border-color: $green;
    }

    &__failed {
        background: $red;
        border-color: $red;
    }
}

.tasklabels-text {
    &__default,
    &__open,
    &__completed, 
    &__failed {
        font-weight: bold;
        text-align: center;
    }

    &__default {
        color: $slate;
    }

    &__open {
        color: $blue;
    }

    &__completed {
        color: $green;
    }

    &__failed {
        color: $red;
    }

    &__error {
        color: $red;
    }

    &__link {
        color: $accent-blue;
    }
}
