.thanks {

    &__wrapper {
        height: calc(100vh - 50px);
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        background-color: $white;
        padding: 0;

        @media (min-width: 500px) {
            background-color: $paper-gray;
            padding: 2rem 2rem 4rem;
        }
    }

    &__container {
        max-width: 50rem;
        width: 100%;
        margin: auto;
        padding: 4rem 3rem;
        text-align: center;
        background-color: $white;
        color: $slate;
        border-radius: 4px;

        @media (min-width: 500px) {
            border: 1px solid $grey-1;
        }
    }

    &__headline {
        font-size: 5rem;
        margin: 0 0 2rem;
    }

    &__divider {
        margin: 2rem auto;
        border-top: 1px solid $grey-1;
        max-width: 14rem;
    }

    &__subhead {
        font-size: 2.2rem;
        margin: 0 0 1rem;
        color: $ui-blue;
    }

    &__description {
        margin: 0 0 2rem;

        a {
            color: $ui-blue;

            &:hover {
                color: $ui-blue;
            }
        }
    }

    &__button {
        border-radius: 2px;
        background-color: $ui-blue;
        color: $white;
        font-weight: bold;
        border: 1px solid $ui-blue;
        padding: 0.8rem 1.8rem;
        width:100%;
        max-width: 20rem;
        margin: 0 auto 1rem;
        display: block;

        @media (min-width: 500px) {
            width: auto;
            margin: 0 1.6rem 1.6rem 0;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }
        }

        &-container {
            margin-bottom: 2rem;

            @media (min-width: 500px) {
                margin-bottom: 0;
            }
        }
    }
}
