.upgrade__icon {
    @extend .fa;
    margin-left: 0.3125rem;
    color: $grey-3;
    font-size: 1.2rem;

    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:after {
        content: '\f023';
    }
}
