<section
    class="stretch-vertical full-width padding-top-bottom-3 overflow-y-auto background-white"
    [class.background-grey]="editMode"
>
    <form *ngIf="control"
        name="VendorAddControlModalForm"
        class="row-wrap centered-max-100 full-width"
        [formGroup]="controlForm">
        <ul class="row-wrap centered-max-100 full-width">
            <ng-container *ngFor="let data of formData">
                <li class="row-nowrap full-width min-width-30 max-width-50-percent margin-left-0 margin-right-auto margin-bottom-2 padding-left-right-3">
                    <div otFormElement
                        class="stretch-horizontal"
                        [label]="data?.label | otTranslate"
                        [required]="data.isRequired"
                        [hasError]="controlForm?.get(data.formControlName)?.invalid && (controlForm?.get(data.formControlName)?.dirty || controlForm?.get(data.formControlName)?.touched)"
                        [errorMessage]="(controlForm?.get(data.formControlName)?.errors?.maxlength ? 'ErrorMaxLengthExceeded': data.requiredErrorMessage) | otTranslate"
                        >
                        <ng-container *ngIf="isEditable">
                            <ng-container [ngSwitch]="data.type">
                                <ng-container *ngSwitchCase="formDataTypes.INPUT">
                                    <div *ngIf="!editMode"
                                        class="width-100-percent position-relative">
                                        <button
                                            class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none control-details__button"
                                            ot-auto-id="ControlsControlDetailsToggleEdit"
                                            (click)="onToggleEdit()"
                                            >
                                                <span class="word-break-all pre-wrap">{{ controlForm?.get(data.formControlName).value || emptyData }}</span>
                                                <i
                                                    class="ot display-none position-absolute top-half right-0 control-details__icon"
                                                    [ngClass]="isEditable ? 'ot-edit': 'ot-lock'"
                                                    >
                                                </i>
                                        </button>
                                    </div>
                                    <input *ngIf="editMode"
                                        otInput
                                        class="full-width"
                                        [formControlName]="data.formControlName"
                                        [attr.ot-auto-id]="data.id"
                                        [placeholder]="(data?.placeholder ? data?.placeholder : 'TextInput') | otTranslate"
                                    />
                                </ng-container>
                                <ng-container *ngSwitchCase="formDataTypes.LOOKUP">
                                    <div *ngIf="!editMode"
                                        class="width-100-percent position-relative">
                                        <button
                                            class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none control-details__button"
                                            ot-auto-id="ControlsControlDetailsToggleEdit"
                                            (click)="onToggleEdit()"
                                            >
                                                <span class="word-break-all pre-wrap">{{ controlForm?.get(data.formControlName).value?.name || emptyData }}</span>
                                                <i
                                                    class="ot display-none position-absolute top-half right-0 control-details__icon"
                                                    [ngClass]="isEditable ? 'ot-edit': 'ot-lock'"
                                                    >
                                                </i>
                                        </button>
                                    </div>
                                    <ot-lookup
                                        *ngIf="editMode"
                                        [labelKey]="data.labelKey"
                                        [valueKey]="data.valueKey"
                                        [attr.ot-auto-id]="data.id"
                                        [model]="controlForm?.get(data.formControlName).value"
                                        [placeholder]="'Select' | otTranslate"
                                        [options]="data.options || []"
                                        [useInputDebouncer]="true"
                                        (modelChange)="onLookupModelChange(data.formControlName, $event)"
                                        (inputChange)="onLookupInputChange(data.formControlName, $event)"
                                        (firstOptionSelect)="onLookupAddNew(data.formControlName)"
                                        (blur)="resetInputValue(data.formControlName)"
                                        >

                                        <ng-template otFirstOption *ngIf="data.inputValue?.name">
                                            <span
                                                role="option"
                                                [attr.ot-auto-id]="'ControlsControlDetailsAddNew'+data.formControlName"
                                                >
                                                <ng-container>
                                                    {{"Add" | otTranslate}}: {{data.inputValue?.name}}
                                                </ng-container>
                                            </span>
                                        </ng-template>
                                    </ot-lookup>
                                </ng-container>
                                <ng-container *ngSwitchCase="formDataTypes.TEXTAREA">
                                    <div *ngIf="!editMode"
                                        class="width-100-percent position-relative">
                                        <button
                                            class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none control-details__button"
                                            ot-auto-id="ControlsControlDetailsToggleEdit"
                                            (click)="onToggleEdit()"
                                            >
                                                <span class="word-break-all pre-wrap">{{ controlForm?.get(data.formControlName).value || emptyData }}</span>
                                                <i
                                                    class="ot display-none position-absolute top-half right-0 control-details__icon"
                                                    [ngClass]="isEditable ? 'ot-edit': 'ot-lock'"
                                                    >
                                                </i>
                                        </button>
                                    </div>
                                    <textarea
                                        *ngIf="editMode"
                                        otTextarea
                                        class="full-width one-text-area resize-none"
                                        [rows]="data.rows"
                                        [attr.ot-auto-id]="data.id"
                                        [formControlName]="data.formControlName"
                                        [attr.ot-auto-id]="'ControlsControlDetails'+data.name+'TextArea'"
                                        [name]="'ControlsControlDetails'+data.name+'TextArea'"
                                        [otTextAreaPlaceholder]="(data?.placeholder ? data?.placeholder : 'TextInput') | otTranslate"
                                    ></textarea>
                                </ng-container>
                                <ng-container *ngSwitchCase="formDataTypes.PICKLIST">
                                    <div *ngIf="!editMode; else nonEditablePicklist"
                                        class="width-100-percent position-relative">
                                        <button
                                            class="row-space-between-center full-width text-left padding-right-2 position-relative background-none border-none control-details__button"
                                            ot-auto-id="ControlsControlDetailsToggleEdit"
                                            (click)="onToggleEdit()"
                                            >
                                                <span class="word-break-all pre-wrap">{{ controlForm?.get(data.formControlName).value?.name || emptyData }}</span>
                                                <i
                                                    class="ot display-none position-absolute top-half right-0 control-details__icon"
                                                    [ngClass]="isEditable ? 'ot-edit': 'ot-lock'"
                                                    >
                                                </i>
                                        </button>
                                    </div>
                                    <ng-template #nonEditablePicklist>
                                        <ot-picklist
                                        *ngIf="editMode"
                                        class="full-width"
                                        [labelKey]="data.labelKey"
                                        [valueKey]="data.valueKey"
                                        [attr.ot-auto-id]="data.id"
                                        [placeholder]="'Select' | otTranslate"
                                        [autoClose]="true"
                                        [options]="data.options || []"
                                        [model]="controlForm?.get(data.formControlName).value"
                                        (onSelect)="onDropdownChange(data.formControlName, $event)"
                                        >
                                    </ot-picklist>
                                </ng-template>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </li>
            </ng-container>
        </ul>
    </form>
</section>
<footer
    *ngIf="editMode"
    otPageFooter
    class="background-white"
    >
    <button otButton neutral
        ot-auto-id="ControlDetailsCancelBtn"
        [disabled]="isSaving"
        (click)="cancelAction()"
        >
        {{"Cancel" | otTranslate}}
    </button>
    <button otButton brand
        ot-auto-id="ControlDetailsSaveBtn"
        [disabled]="controlForm.invalid || !hasEdits || isSaving"
        [loading]="isSaving"
        (click)="onSave()"
        >
        {{"Save" | otTranslate}}
    </button>
</footer>

