.modal
    script(type='text/ng-template', id='portalModal.html')

        .modal-header
            h3.modal-title.align-left
                | {{::$root.t("SelfServiceProjectLaunch", {Project: $root.customTerms.Project})}}
        .modal-body
            .portal-modal
                .content(ng-if="!loading")
                    .portal-modal__container
                        form.portal-modal__form(name='selfserviceForm')
                            h2.portal-modal__headline
                                span.translate {{::template.Name}}
                            section.portal-modal__form-group(ng-class="{'has-error': projectInfoForm.Name.$invalid  && (projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty)}")
                                label.portal-modal__label(for='newProjectName')
                                    | {{::$root.t("ProjectName", {Project: $root.customTerms.Project})}}
                                    sup.fa.fa-asterisk
                                .portal-modal__input-group
                                    input#newProjectName.portal-modal__input.one-input.full-width.block(
                                        type='text',
                                        name='Name',
                                        required='',
                                        ng-maxlength="100",
                                        ng-model='wizard.Project.Name',
                                        placeholder='{{::labels.enterProjectName}}'
                                    )
                                    p.portal-modal__error(ng-show='(projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty) && projectInfoForm.Name.$error.required')
                                        | {{::labels.errorEnterProjectName}}
                                    p.portal-modal__error(ng-show='(projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty) && projectInfoForm.Name.$error.maxlength')
                                        | {{::labels.exceedCharacterLengthName}}
                            section.portal-modal__form-group(ng-if='mode === "version"')
                                label.portal-modal__label.portal-modal__label--text
                                    | {{::$root.t("Version")}}
                                .portal-modal__input-group
                                    p.portal-modal__read-only-text Version {{wizard.SelectedVersion}}
                            section.portal-modal__form-group
                                label.portal-modal__label(for='newProjectDescription') {{::$root.t("Description")}}
                                .portal-modal__input-group
                                    textarea#newProjectDescription.portal-modal__textarea(
                                        type='text',
                                        name='Description',
                                        ng-model='wizard.Project.Description',
                                        placeholder='{{::labels.enterDescription}}')
                            section.portal-modal__form-group(ng-if='mode === "version"')
                                label.portal-modal__label.portal-modal__label--text
                                    | {{::$root.t("Template")}}
                                .portal-modal__input-group
                                    p.portal-modal__read-only-text
                                        | {{::labels.templateAssociation }}
                            section.portal-modal__form-group(
                                ng-if='selectOrgGroup',
                                ng-class="{'has-error': wizard.Project.OrgGroupId === '' && (projectInfoForm.OrganizationGroup.$touched || projectInfoForm.OrganizationGroup.$dirty)}")
                                label.portal-modal__label
                                    | {{::$root.t("Group")}}
                                    sup.fa.fa-asterisk
                                    i.fa.fa-info-circle(uib-tooltip='{{::$root.t("ConfigureGroupsInSettings")}}', tooltip-placement='top', tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[Authorized]}}")
                                .portal-modal__input-group
                                    one-org-input(
                                        org-list="orgList",
                                        selected-org="selectedOrg",
                                        action-callback="orgSelected(action, payload)",
                                        placeholder="{{::$root.t('SelectOrganizationGroup')}}"
                                    )
                                    p.portal-modal__error(ng-show="(projectInfoForm.OrganizationGroup.touched || projectInfoForm.OrganizationGroup.$dirty) && (projectInfoForm.OrganizationGroup.$error.required || wizard.Project.OrgGroupId === '')")
                                        | {{::$root.t("ErrorSelectProjectOrganizationGroup")}}

                            section.portal-modal__form-group(ng-if='selectAssignee')
                                label.portal-modal__label(for='newProjectOwner')
                                    | {{::$root.t("Respondent") }}
                                    sup.fa.fa-asterisk
                                    i.fa.fa-info-circle(
                                        uib-tooltip='{{labels.respondentTooltip}}',
                                        tooltip-placement='top',
                                        tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[Authorized]}}")
                                    .warning-text(ng-show="(projectInfoForm.Owner.$touched || projectInfoForm.Owner.$dirty) && (projectInfoForm.Owner.$error.required || formatLeadLabel(wizard.Project.LeadId, currentUser, Team) === '')")
                                .portal-modal__input-group(ng-disabled="wizard.MultipleRespondentShow")
                                    .portal-modal__assignment.one-toggle-picker(
                                        ng-class='{"is-disabled": !wizard.Project.OrgGroupId || wizard.Project.LeadId === currentUser.Id}')
                                        .portal-modal__assignment-toggle.one-toggle-picker__toggle
                                            button.portal-modal__assignment-toggle-btn.one-toggle-picker__toggle-btn(
                                                type='button',
                                                ng-class="{'selected': wizard.Project.LeadId === currentUser.Id}",
                                                ng-click='assignToMe()',
                                                ng-disabled="!wizard.Project.OrgGroupId || wizard.MultipleRespondentShow")
                                                | {{::$root.t("Me")}}
                                            button.portal-modal__assignment-toggle-btn.one-toggle-picker__toggle-btn(
                                                type='button',
                                                ng-class="{'selected': wizard.Project.LeadId !== currentUser.Id}",
                                                ng-click="assignToSomeoneElse()",
                                                ng-disabled="!wizard.Project.OrgGroupId || wizard.MultipleRespondentShow")
                                                | {{::$root.t("SomeoneElse")}}
                                        input#newProjectOwner.portal-modal__assignment-input.one-toggle-picker__input.one-input.full-width.block(
                                            ng-class="{'respondent-disabled': wizard.MultipleRespondentShow}",
                                            type='text',
                                            ng-model='wizard.Project.LeadId',
                                            ng-change='isTypedUserEmailDisabled(wizard.Project.LeadId)',
                                            autocomplete='off',
                                            name='Owner',
                                            ng-click="type = 'other'",
                                            ng-required='',
                                            placeholder='{{placeholder.lead}}',
                                            typeahead-input-formatter='formatLeadLabel($model)',
                                            typeahead-min-length='0',
                                            typeahead-show-hint='true',
                                            focus-me='wizard.Project.LeadId !== currentUser.Id',
                                            uib-typeahead='user.Id as user.FullName for user in TeamPicker | filter:$viewValue | IsInParentTree:TreeMap:wizard.Project.OrgGroupId:"OrgGroupId"',
                                            ng-disabled='!wizard.Project.OrgGroupId || wizard.Project.LeadId === currentUser.Id')
                                    p.portal-modal__error(ng-show="(projectInfoForm.Owner.$touched || projectInfoForm.Owner.$dirty) && (projectInfoForm.Owner.$error.required || formatLeadLabel(wizard.Project.LeadId, currentUser, Team) === '') && !wizard.MultipleRespondentShow")
                                        | {{error.lead || 'Please assign a valid '+$root.customTerms.Project+' Respondent'}}.
                            section(ng-if='isTypedEmailDisabledUser')
                                .alert.alert-danger.project-info__message(role='alert')
                                    p
                                        strong(ng-if='!formatLeadLabel(SectionAssignments[0].AssigneeId)')
                                            | {{formatLeadLabel(wizard.Project.LeadId)}}
                                        strong(ng-repeat='Assignment in UniqueAssignments = (SectionAssignments | unique: "AssigneeId" | omit:"AssigneeId === \'\'") track by $index')
                                            span(ng-if='!$first && UniqueAssignments.length > 2') ,
                                            span(ng-if='!$first && $last') &nbsp{{::$root.t("And") | lowercase }}
                                            | &nbsp{{formatLeadLabel(Assignment.AssigneeId)}}
                                        |  {{::$root.t("IsADisabledUser")}}.

                            section.portal-modal__form-group(ng-if='showDeadline')
                                label.portal-modal__label
                                    | {{::$root.t("Deadline")}}
                                    i.fa.fa-info-circle(
                                        uib-tooltip='{{::$root.t("DeadlineWillBeSelectedDateAt1159PmUtc")}}.',
                                        tooltip-placement="top",
                                        tooltip-trigger="mouseenter")
                                .portal-modal__input-group--deadline
                                    .deadlinePicker
                                        downgrade-one-date-time-picker(
                                            [date-disable-until]="wizard.MinDate",
                                            [date-placeholder]="$root.t('EnterDeadlineDate')",
                                            [date-time-model]="wizard.Project.Deadline",
                                            (on-change)="updateDeadline($event.jsdate)",
                                            )
                                label.portal-modal__label.reminder {{::$root.t("Reminders")}}
                                .portal-modal__input-group--reminder
                                    .portal-modal__reminder
                                        button.portal-modal__reminder-btn.margin-right-1.one-checkbox(
                                            type='button',
                                            uib-btn-checkbox,
                                            ng-model="wizard.ReminderShow",
                                            ng-class="{'checked': wizard.ReminderShow}",
                                            ng-change="validateReminder()")
                                            i.ot.ot-check
                                        input.portal-modal__reminder-input.animate-if.one-input.block(
                                            ng-if="wizard.ReminderShow",
                                            type="number",
                                            ng-model="wizard.Project.Reminder",
                                            min="1",
                                            ng-change="validateReminder()",
                                            placeholder='{{::$root.t("DaysBeforeDeadline")}}')
                                        span.portal-modal__reminder-message.animate-if(ng-if="!wizard.ReminderShow") {{::$root.t("AddReminder")}}
                                    p.portal-modal__error(ng-hide="validReminder")
                                        | {{::$root.t("ReminderMustBeAtLeastOneDayInTheFuture")}}
                    .submit-buttons.margin-bottom-3.width-100-percent
                        one-button(
                            button-class="margin-right-1",
                            button-click="Save()",
                            enable-loading="true",
                            identifier="selfServiceCreateAndBeginButton",
                            is-disabled="saveInProgress || projectInfoForm.Name.$invalid || !wizard.Project.Name || (selectAssignee && !wizard.Project.LeadId) || !validReminder",
                            is-loading="saveInProgress",
                            data-ng-if="!selectAssignee || (wizard.Project.LeadId === currentUser.Id)",
                            text="{{::$root.t('CreateAndBeginProject')}}",
                            type="primary"
                        )
                        one-button(
                            button-class="margin-right-1",
                            button-click="Save()",
                            enable-loading="true",
                            identifier="selfServiceCreateAndAssignButton",
                            is-disabled="saveInProgress || projectInfoForm.Name.$invalid || !wizard.Project.Name || (selectAssignee && !wizard.Project.LeadId) || !validReminder || isTypedEmailDisabledUser",
                            is-loading="saveInProgress",
                            data-ng-if="selectAssignee && wizard.Project.LeadId !== currentUser.Id",
                            text="{{::$root.t('CreateAndAssign')}}",
                            type="primary"
                        )
                        one-button(
                            button-click="cancel()",
                            identifier="selfServiceDiscardProjectButton",
                            text='{{::$root.t("DiscardProject", {Project: $root.customTerms.Project})}}',
                            is-disabled="saveInProgress"
                        )
                loading.block.portal-modal__loading(ng-if="loading")
