#self-service
    .header
        ol.breadcrumb
            li.active {{::$root.t("SelfServicePortal")}}
        one-button.header__link.text-center(
            data-ng-if='Permissions.canShow("ProjectsExportCSV")',
            ui-sref='zen.app.pia.module.projects.list',
            text='{{::$root.t("ViewAllProjects", {Projects: $root.customTerms.Projects})}}',
            identifier='selfServiceViewAllProjects',
        )

    .module-wrapper.list-wrapper(ng-if='Ready')
        .text-center(ng-if='templateError')
            div
                button.btn.btn-primary.text-center(ui-sref='{{routes.list}}') {{::$root.t("GoBackToQuestionnaireTemplates")}}
        .list
            section.list__gallery.collapsed(
                data-ng-class='{"collapsed": galleryIsCollapsed()}',
                data-ng-if="templateCount"
            )
                .quick-list-header
                    h3 {{::$root.t("BeginANewProject", {Project: $root.customTerms.Project})}}
                .list__gallery-list
                    .template__item(
                        ng-repeat='template in templates track by template.Id',
                        ng-class="{'selected': (SelectedId === template.Id), 'unselected': SelectedId && (SelectedId !== template.Id)}"
                    )
                        .upgrade__icon(ng-if='template.State === TemplateStates.Locked')
                        .template__link
                            .template__info
                                h3.template__name(ng-bind='template.Name', uib-tooltip='{{template.Name}}', tooltip-append-to-body="true")
                                p.template__truncated-description(ng-bind='template.Description')
                                one-button(
                                    ng-if='!template.DirectLaunch'
                                    button-click='CreateProjectModal(template)'
                                    identifier='selfServiceCreateProject'
                                    enable-loading='true'
                                    is-loading='projectLaunching && template.Id === loadingId'
                                    is-disabled='projectLaunching'
                                    type='primary'
                                    text='{{::$root.t("Begin")}}'
                                )
                                one-button(
                                    ng-if='template.DirectLaunch'
                                    button-click='directLaunchProject(template)'
                                    identifier='selfServiceCreateProject'
                                    enable-loading='true'
                                    is-loading='projectLaunching && template.Id === loadingId'
                                    is-disabled='projectLaunching'
                                    type='primary'
                                    text='{{::$root.t("Begin")}}'
                                )
                button.list__gallery-toggle(ng-if='galleryIsCollapsed()', ng-click='unCollapseGallery()')
                    i.fa.fa-chevron-right
            section.list__container
                .project-list-header
                    h3 {{::$root.t("YourOutstandingItems")}}
                loading(class="list__loading", ng-if="loadingTemplate", text="{{ ::$root.t('QuestionnaireTemplates') }}")
                section.list__gallery-placeholder(ng-show='showingUpgradeMessage && !loadingTemplate')
                    .upgrade__icon
                    h3.list__gallery-placeholder-text
                        | {{::$root.t("QuestionnaireTemplateAvailableOnUpgrade")}}
                    button.list__gallery-placeholder-btn(ng-click='UpgradeModule("Templates", Upgrade.ModuleStates.Form)')
                        | {{::$root.t("ContactSales")}}
                    .list__gallery-placeholder-description(ng-if='template.Description')
                        label {{::$root.t("AboutThisQuestionnaireTemplate")}}&nbsp;
                        p {{template.Description}}
                section.list-template(ng-show='template && !showingUpgradeMessage && !loadingTemplate')
                    .questions-container(layout='column')
                        section.manage-template(ng-if='template.Sections.length')
                            #TemplateSections

                .module-wrapper.portal(ng-class='{"filter-open": filterOpen}')
                    loading(ng-if='projectsLoading', text="{{::labels.loading}}")
                    .projects__table-wrapper(ng-if="!projectsLoading", ng-class="{'is-showing': !projectsLoading}")
                        pia-project-table(
                            data-id="piaSelfServiceProjectTableComponent"
                            table-data="projects"
                            sort-column="sortColumn"
                            sort-direction="sortDirection"
                            action-callback="receiveAction(action, payload)"
                            permissions="permissions"
                            is-self-service="true")

                    .portal__message(ng-if='!projects.length && !projectsLoading')
                        h2 {{::labels.noExisting}}

                .portal__pagination(ng-if='pageMetadata.TotalItemCount > pageSize')
                    ul.portal__pagination-paging.pagination-sm(uib-pagination total-items='pageMetadata.TotalItemCount' ng-model='$parent.$parent.pageNumber' next-text='>' previous-text='<' ng-change='updatePage()' max-size='maxSize' items-per-page='pageSize' force-ellipses='true' rotate='true')
                    p.portal__pagination-text(ng-if='pageMetadata.TotalItemCount')
                        | {{$root.t("ShowingPageRangeOfTotalItemCount", {PageRange: pageRange(), TotalItemCount: pageMetadata.TotalItemCount}) }}

        include portalModal.jade
    loading(class="loading self-service-loading", ng-if="!Ready", text="{{ ::$root.t('SelfServicePortal') }}")
