<ot-loading
    otPageLoading
    *ngIf="!reportState.reportInitialized"
    class="flex-full-height"
    >
</ot-loading>
<section
    class="column-report column-nowrap flex-full-height"
    *ngIf="reportState.reportInitialized"
    >
    <ot-page-header [title]="'Reports' | otTranslate">
        <ot-breadcrumb
            class="overflow-ellipsis"
            (routeClicked)="goToReportList($event)"
            >
            <ot-breadcrumb-item
                ot-auto-id="ColumnReportBreadcrumbItem"
                [label]="'Reports' | otTranslate"
                link="zen.app.pia.module.reports-new.list"
                >
            </ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="reportName"
                >
            </ot-breadcrumb-item>
        </ot-breadcrumb>
        <div>
            <button otButton brand
                class="margin-left-half"
                ot-auto-id="reportsExportBtn"
                *ngIf="showExport && !showExportCsv"
                [innerText]="'Export' | otTranslate"
                [disabled]="reportState.exportInProgress"
                [loading]="reportState.exportInProgress"
                (click)="exportReport(exportTypes.XLSX)"
                >
            </button>
            <ot-context-menu
                class="margin-left-half"
                ot-auto-id="ReportsExportToggle"
                *ngIf="showExport && showExportCsv"
                position="bottom"
                [type]="4"
                [menu]="dropdownOptions"
                [disabled]="reportState.exportInProgress"
                >
                <span class="padding-left-right-1">
                    {{ 'Export' | otTranslate }}
                </span>
                <a
                    *otContextMenuItem="let item"
                    [attr.ot-auto-id]="item.id"
                    (click)="item.action()"
                    >
                    <span class="text-left">
                        {{ item.text }}
                    </span>
                </a>
            </ot-context-menu>
            <button otButton neutral
                *ngIf="'ReportsEdit' | otPermit"
                class="margin-left-half"
                ot-auto-id="reportsSaveBtn"
                [innerText]="'Save' | otTranslate"
                [disabled]="!reportState.hasUnsavedChanges"
                [loading]="reportState.saveInProgress"
                (click)="saveReport()"
                >
            </button>
        </div>
    </ot-page-header>
    <section
        *ngIf="'ReportsEdit' | otPermit"
        class="static-vertical row-flex-end row-vertical-center column-report__actions padding-right-1"
        >
        <ot-loading *ngIf="reportState.loadingColumnMetaData; else actions"></ot-loading>
        <ng-template #actions>
            <button
                otButton
                class="margin-left-1"
                ot-auto-id="ReportsColumnManager"
                icon="ot ot-columns"
                (click)="launchColumnModal()"
                >
            </button>
            <button
                otButton
                class="margin-left-1"
                ot-auto-id="ReportsFiltersToggle"
                icon="ot ot-filter"
                [select]="reportState.hasFiltersApplied"
                (click)="toggleFilters()"
                >
            </button>
        </ng-template>
    </section>
    <div class="flex-full-height full-width overflow-hidden position-relative">
        <section class="flex-full-height full-width overflow-auto">
            <div class="flex-full-height margin-left-right-auto min-width-100-percent">
                <ot-loading
                    otPageLoading
                    class="flex-full-height"
                    *ngIf="reportState.loadingReport; else reportTable"
                    >
                </ot-loading>
                <ng-template #reportTable>
                    <ng-container *ngIf="columnReportService.reportSort$ | async as sort">
                        <table
                            otDataTable
                            [rowData]="columnReportService.reportRow$ | async"
                            [rowBordered]="true"
                            [colBordered]="true"
                            [sortable]="true"
                            [sortKey]="sort.columnName"
                            [sortOrder]="sort.ascending ? 'asc' : 'desc'"
                            (sortChanged)="handleSort($event)"
                            >
                            <ng-container *ngFor="let col of columnReportService.reportColumn$ | async; trackBy: columnTrackBy; let columnIndex = index;">
                                <ot-data-table-column
                                    [headerLabel]="col.groupName"
                                    [column]="col"
                                    [sortable]="col.sortable"
                                    [sortKey]="col.columnId"
                                    >
                                    <ng-template
                                        otDataTableHeader
                                        *ngIf="!col.sortable"
                                        [thStyle]="{'padding': '0 1rem'}"
                                        [thClass]="'max-width-50'"
                                        >
                                        <span
                                            class="slds-truncate block text-bold paragraph-medium-small"
                                            [attr.title]="col.groupName"
                                            [innerText]="col.groupName"
                                            >
                                        </span>
                                    </ng-template>
                                    <ng-template
                                        otDataTableCell
                                        let-row="row"
                                        [tdStyle]="{'padding': '0 1rem'}"
                                        [tdClass]="'max-width-50'"
                                        >
                                        <ng-container [ngSwitch]="col.dataType">
                                            <a
                                                *ngSwitchCase="filterColumnTypes.Link"
                                                class="slds-truncate block text-bold text-link text-decoration-none"
                                                [attr.title]="row.cells[columnIndex].value || ''"
                                                [innerText]="row.cells[columnIndex].value || ''"
                                                [attr.href]="row.cells[columnIndex].hyperLink"
                                                >
                                            </a>
                                            <ng-container *ngSwitchCase="filterColumnTypes.Date">
                                                <span
                                                    *ngIf="row.cells[columnIndex].preformatted; else unformattedDate"
                                                    class="slds-truncate block"
                                                    [attr.title]="row.cells[columnIndex].value"
                                                    [innerText]="row.cells[columnIndex].value"
                                                    >
                                                </span>
                                                <ng-template #unformattedDate>
                                                    <span
                                                        class="slds-truncate block"
                                                        [attr.title]="row.cells[columnIndex].value | aaDate: 'datePicker'"
                                                        [innerText]="row.cells[columnIndex].value | aaDate: 'datePicker'"
                                                        >
                                                    </span>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="filterColumnTypes.DateTime">
                                                <span
                                                    *ngIf="row.cells[columnIndex].preformatted; else unformattedDateTime"
                                                    class="slds-truncate block"
                                                    [attr.title]="row.cells[columnIndex].value"
                                                    [innerText]="row.cells[columnIndex].value"
                                                    >
                                                </span>
                                                <ng-template #unformattedDateTime>
                                                    <span
                                                        class="slds-truncate block"
                                                        [attr.title]="row.cells[columnIndex].value | aaDate:'dateTime'"
                                                        [innerText]="row.cells[columnIndex].value | aaDate:'dateTime'"
                                                        >
                                                    </span>
                                                </ng-template>
                                            </ng-container>
                                            <span
                                                *ngSwitchCase="filterColumnTypes.User"
                                                class="slds-truncate block"
                                                [attr.title]="row.cells[columnIndex].value | otUser"
                                                [innerText]="row.cells[columnIndex].value | otUser"
                                                >
                                            </span>
                                            <span
                                                *ngSwitchDefault
                                                class="slds-truncate block"
                                                [attr.title]="row.cells[columnIndex].value || ''"
                                                [innerText]="row.cells[columnIndex].value || ''"
                                                >
                                            </span>
                                        </ng-container>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                        </table>
                    </ng-container>
                </ng-template>
            </div>
            <ot-drawer
                class="width-29 flex-full-height"
                [open]="filtersOpen"
                >
                <div
                    class="padding-all-2 cursor-pointer row-vertical-center"
                    ot-auto-id="ReportsCloseFiltersBtn"
                    (click)="toggleFilters()"
                    >
                    <i class="side-drawer__icon ot ot-arrow-circle-o-right margin-right-1"></i>
                    <span [innerText]="'Close' | otTranslate"></span>
                </div>
                <column-report-filter
                    class="flex-full-height"
                    *ngIf="!reportState.loadingColumnMetaData"
                    [filtersOpen]="filtersOpen"
                    (applyFilters)="toggleFilters()"
                    (cancel)="toggleFilters()"
                    >
                </column-report-filter>
            </ot-drawer>
        </section>
    </div>
    <footer otPaginationFooter>
        <ot-pagination
            ot-auto-id="ReportsPagination"
            *ngIf="pageData && !reportState.loadingReport"
            [currentPage]="pageData.number || 0"
            [numPages]="pageData.totalPages || 1"
            [handleOffset]="true"
            (pageChanged)="columnReportService.changePage($event)"
            >
        </ot-pagination>
        <span
            *ngIf="pageData && !reportState.loadingReport"
            [innerText]="pageData | otPageMeta"
            >
        </span>
    </footer>
</section>
