.cc-templates-table {
    &__context-button {
        .one-dropdown {
            top: .7rem;
        }
        .one-dropdown__list {
            max-height: 50rem;
        }
    }

    &__search {
        max-width: 30rem;
    }

    &__progress-bar-container {
        width: 8rem;
        border: 1px solid $green;

        .progress-bar {
            box-shadow: none;
            background-size: 2rem 2rem;
            background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            animation: animate-stripes 3s linear infinite;
        }
    }
    .status {
        color: $white;
        height: 2rem;
        width: 10rem;
        letter-spacing: 0.4px;
        margin: auto;
        border-radius: 1rem;
        &-green {
            background: $green;
            border: 1px solid $frost;
        }
        &-grey {
            background: $slate;
            border: 1px solid $frost;
        }
        &-published_drafted {
            background: $ui-blue;
            width: 15rem;
        }
        &-blue {
            background: $ui-blue;
            width: 20rem;
            border: 1px solid $frost;
        }
    }

}
