<upgraded-loading [text]="loading" *ngIf="isPageLoading"></upgraded-loading>
<ng-container *ngIf="!isPageLoading">
    <ot-page-header
        class="height-49"
        [title]="title"
    >
        <div>
            <button otButton brand
                (click)="addTemplate()"
                [innerText]="addNewTemplate"
                [attr.ot-auto-id]="'AttributeAddTemplateId'"
            >
            </button>
        </div>
    </ot-page-header>
    <section class="full-height-minus-5 column-nowrap overflow-y-auto">
        <div class="position-relative background-white overflow-x-auto height-100 margin-bottom-2">
            <table
                otDataTable
                class="cc-templates-table full-width"
                [rowData]="rows"
                [rowBordered]="true"
            >
                <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                    <ng-container *ngIf="col.columnTitleKey === 'templateTitle'">
                        <ot-data-table-column
                            [headerLabel]="col.columnHeader"
                            [column]="col"
                            [classes]="{ thAnchor: 'slds-th__action max-25 text-left' }"
                            >
                            <ng-template otDataTableCell let-row="row" let-column="column" [tdClass]="'max-25'">
                                <a
                                    class="slds-truncate block text-pointer text-link text-bold text-left"
                                    title="{{row[column.cellValueKey]}}"
                                    [innerText]="row[column.cellValueKey]"
                                    (click)="getNewTemplate(row)"
                                    [attr.ot-auto-id]="'AttributeTemplateName'">
                                </a>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnTitleKey === 'organization' || col.columnTitleKey === 'createdBy'">
                        <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                            <ng-template otDataTableHeader>
                                <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                                    <span class="text-bold" [innerText]="col.columnHeader"></span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                                <div class="slds-truncate text-center" [innerText]="row[column.cellValueKey]" title="{{row[column.cellValueKey]}}">
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnTitleKey === 'defaultLanguage'">
                        <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                            <ng-template otDataTableHeader>
                                <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                                    <span class="text-bold" [innerText]="col.columnHeader"></span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                                <div class="slds-truncate text-center" [innerText]="row[column.cellValueKey].name" title="{{row[column.cellValueKey].name}}">
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnTitleKey === 'statusText'">
                        <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                            <ng-template otDataTableHeader>
                                <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                                    <span class="text-bold" [innerText]="col.columnHeader"></span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                                <div *ngIf="row[column.cellValueKey].id == 10"
                                    class="slds-truncate text-center status-grey"
                                    [ngClass]="{'status text-bold': col.columnTitleKey === 'statusText'}"
                                    [innerText]="row[column.cellValueKey].name"
                                    title="{{row[column.cellValueKey].name}}">
                                </div>
                                <div *ngIf="row[column.cellValueKey].id == 20"
                                    class="slds-truncate text-center status-green"
                                    [ngClass]="{'status text-bold': col.columnTitleKey === 'statusText'}"
                                    [innerText]="row[column.cellValueKey].name"
                                    title="{{row[column.cellValueKey].name}}">
                                </div>
                                 <div *ngIf="row[column.cellValueKey].id == 30"
                                    class="slds-truncate text-center status-green"
                                    [ngClass]="{'status text-bold': col.columnTitleKey === 'statusText'}"
                                    [innerText]="row[column.cellValueKey].name"
                                    title="{{row[column.cellValueKey].name}}">
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnTitleKey === 'dateCreated' || col.columnTitleKey === 'lastPublished'">
                        <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                            <ng-template otDataTableHeader>
                                <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                                    <span class="text-bold" [innerText]="col.columnHeader"></span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell [tdClass]="'max-25 text-center'" let-row="row" let-column="column">
                                <upgraded-one-date
                                    [dateToFormat]="row[col.cellValueKey]"
                                    [enableTooltip]="true">
                                </upgraded-one-date>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ng-container >
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'float-col background-transparent'" [tdStyle]="{'background': 'transparent'}" let-row="row">
                            <upgraded-one-dropdown
                                class="website-list-table__context-button"
                                [icon]="'ot ot-ellipsis-h'"
                                [hideCaret]="true"
                                [alignRight]="true"
                                [getOptions]="getEllipsisOptions(row)"
                                [buttonClass]="'actions-table__context-btn'"
                                [listClass]="menuClass"
                                (click)="setMenuClass($event)"
                            >
                            </upgraded-one-dropdown>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </table>
        </div>
    </section>
</ng-container>
