<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'CustomPreferences' | otTranslate"
        >
        <button otButton brand
            ot-auto-id="CustomPreferencesCreateButton"
            [innerText]="'AddNew' | otTranslate"
            (click)="createCustomPreference()"
        ></button>
    </ot-page-header>
    <div
        *ngIf="!loading; else LoadingSpinner"
        class="full-width position-relative flex-full-height overflow-hidden"
        >
        <cr-table
            *ngIf="tableData"
            class="flex-full-height"
            noDataKey="NoCustomPreferencesFound"
            [columns]="columns"
            [rows]="tableData"
            [loading]="loading"
            [resizable]="false"
            (pageChange)="getCustomPreferenceList($event)"
            (goToRoute)="goToRoute($event)"
        ></cr-table>
    </div>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>