.template-rule {
    &__add {
        border: 2px dashed $grey-2;
        height: 8rem;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__item {
        flex-grow: 0;
    }

    &__list {
        flex: 1 0 66%;
    }

    &__add-rule-padding {
        padding-bottom: 0.01rem;
    }
}
