<section class="template-rule flex height-100">
    <div class="template-rule__sections-pane background-grey flex-full-33 overflow-y-auto">
        <template-section-rule-pane></template-section-rule-pane>
    </div>
    <section
        class="template-rule__list column-nowrap overflow-y-auto"
    >
        <template-rule
            class="template-rule__item margin-bottom-2 border background-grey margin-all-2 padding-all-2"
            *ngFor="let ruleId of ruleAllIds"
            [allowedActions]="allowedActions"
            [actionId]="ruleId"
            [mode]="templateRuleMode"
            [deleteAction]="!isTemplatePublished"
            [editAction]="!isTemplatePublished"
            (conditionEditAction)="onEditRule(ruleId)"
            (conditionDeleted)="onConditionDeleted($event)"
        ></template-rule>
        <div
            *ngIf="!isTemplatePublished && !template.isLocked && template.isActive"
            class="template-rule__add flex-full-width margin-all-2 row-horizontal-vertical-center color-accent-blue cursor-pointer text-bold"
            ot-auto-id="TemplateRulesAddTemplateRule"
            (click)="addRule()"
        >
            <span>{{('AddRule' | otTranslate).toUpperCase()}}</span>
        </div>
        <div class="template-rule__add-rule-padding"></div>
    </section>
</section>
