<section class="one-modal-new flex-full-height max-height-100-percent full-width">
    <section class="one-modal-new__header row-space-between-center static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]="'RequestInfo' | otTranslate"
            >
        </h4>
        <i
            class="ot ot-times cursor-pointer text-xlarge"
            *ngIf="!isSaving"
            ot-auto-id="NeedsMoreInfoModalXButton"
            (click)="closeModal()">
        </i>
    </section>
    <div class="stretch-vertical link-editor overflow-y-auto padding-all-2">
        <upgraded-one-label-content
            class="flex-grow-1"
            [labelName]="('CommentsToRespondent' | otTranslate)"
            [isRequired]="true"
            [requiredFlagBeforeLabel]="true"
            wrapperClass="margin-top-bottom-2"
        >
            <upgraded-one-rich-text-editor
                class="aa-needs-more-info__text-editor column-nowrap flex-grow-1 editor-container"
                ot-auto-id="AssessmentNeedsMoreInfoRichTextEditor"
                [content]=""
                (onContentChange)="handleInputChange($event.data)"
            >
            </upgraded-one-rich-text-editor>
        </upgraded-one-label-content>
        <div
            class="margin-bottom-1 padding-top-bottom-1"
            *ngIf="showQuestionEditMessage">
            <div>
                <ot-checkbox
                    class="padding-right-1"
                    ot-auto-id="NeedsMoreInfoModalAllowEditingToggle"
                    [checked]="questionEditEnabled"
                    [disabled]="!showAllowQuestionEditingToggle"
                    (toggle)="onToggle($event)">
                </ot-checkbox>
                <span>{{ 'AllowResponseEditing'| otTranslate }}</span>
                <div
                    *ngIf="!showAllowQuestionEditingToggle"
                    class="text-small color-cherry padding-top-half"
                >
                    {{ 'DisableEditInfo'| otTranslate }}
                </div>
            </div>
        </div>
        <footer class="flex justify-end align-center padding-top-2 padding-left-1">
            <button otButton neutral
                class="pull-right margin-right-1 border-none"
                ot-auto-id="AANeedsMoreInfoModalCloseButton"
                (click)="closeModal()"
            >
                {{ 'Cancel' | otTranslate }}
            </button>
            <button otButton brand
                class="pull-right cell-min-width-small"
                [disabled]="isSendButtonDisabled"
                [loading]="isLoading"
                ot-auto-id="AANeedsMoreInfoModalSaveButton"
                (click)="sendRequest()"
            >
                {{ 'Add' | otTranslate }}
            </button>
        </footer>
    </div>
</section>
