.aa-needs-more-info {

    &__text-editor {
        height: 20vh;

        .ql-toolbar {
            flex-grow: 0;
        }

        .ql-container {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
