<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalData.title"
    (close)="closeModal()"
    >
    <ot-loading
        otPageLoading
        class="column-nowrap margin-all-auto attribute-modal__loading"
        *ngIf="isLoading"
        [text]="'Attribute' | otTranslate"
        >
    </ot-loading>
    <form
        novalidate
        class="flex-full-height max-width-full margin-all-0 full-width padding-all-2"
        *ngIf="!isLoading"
        (ngSubmit)="submitChanges()"
        >
        <upgraded-one-numbered-circle
            class="block margin-top-1 margin-bottom-2 margin-left-right-auto align-self-center"
            [circleClass]="'ot ot-exclamation'"
            [type]="'warning'"
            [size]="'large'"
            >
        </upgraded-one-numbered-circle>
        <p
            class="text-center margin-bottom-2"
            [innerText]="modalData.warningMessage"
            >
        </p>
        <footer class="static-vertical row-flex-end">
            <button
                class="margin-right-1"
                type="button"
                otButton
                neutral
                ot-auto-id="OptionStatusCancelButton"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
                >
            </button>
            <button
                otButton
                brand
                type="submit"
                ot-auto-id="OptionStatusSubmitButton"
                [innerText]="modalData.title"
                >
            </button>
        </footer>
    </form>
</one-modal-base>
