<div class="control-library column-nowrap full-size background-white">
    <ot-loading *ngIf="isPageloading; else pageLoaded" otPageLoading></ot-loading>
    <ng-template #pageLoaded>
        <section class="flex-full-height">
            <ot-page-header
                class="border-bottom"
                [ngClass]="{'background-active': showHeader}"
                [title]="'ControlsLibrary' | otTranslate"
                type="clear"
            >
                <div
                    class="row-vertical-center"
                    *ngIf="showHeader; else headerOff"
                >
                    <span class="color-accent-blue text-bold column-nowrap text-center">
                        {{ selectedCount }} {{ "Selected" | otTranslate }}
                    </span>
                    <div class="margin-left-2">
                        <button otButton neutral
                            *ngIf="'ControlsLibraryRemoveControl' | otPermit"
                            class="margin-right-2"
                            icon="ot ot-exchange"
                            position="bottom-right"
                            ot-auto-id="ControlsLibraryBulkChangeStatusButton"
                            [otTooltip]="'ChangeControlStatus' | otTranslate"
                            (click)="handleBulkChangeStatus()"
                        ></button>
                    </div>
                    <div class="padding-left-2 border-left">
                        <button otButton neutral
                            icon="ot ot-close"
                            position="bottom-right"
                            ot-auto-id="ControlsLibraryHeaderTabClose"
                            (click)="closeControlsHeaderTab()"
                        ></button>
                    </div>
                </div>
                <ng-template #headerOff>
                    <span class="slds-m-left--small">
                        <button *ngIf="'ControlsLibraryAddControl' | otPermit"
                            otButton
                            brand
                            class="margin-right-1"
                            ot-auto-id="ControlsLibraryAddButton"
                            (click)="addNewControl()"
                        >
                            {{"AddNew" | otTranslate}}
                        </button>
                        <button *ngIf="'ControlsLibraryImportFramework' | otPermit"
                            otButton
                            neutral
                            ot-auto-id="ControlsLibraryAddFrameworkButton"
                            (click)="addFrameworks()"
                        >
                            {{"AddFramework" | otTranslate}}
                        </button>
                        <ot-context-menu
                            *ngIf="contextMenuOptions?.length"
                            class="margin-left-1"
                            position="bottom-right"
                            [type]="contextMenuType.Small"
                            [menu]="contextMenuOptions"
                        >
                            <i class="ot ot-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                [attr.ot-auto-id]="item.id"
                                (click)="contextMenuItemSelected(item)"
                            >
                                {{ item.text }}
                            </a>
                        </ot-context-menu>
                    </span>
                </ng-template>
            </ot-page-header>
            <div
                class="static-vertical row-flex-end background-white border-bottom padding-top-bottom-half padding-right-2"
            >
                <ot-search-input
                    class="margin-right-1"
                    ot-auto-id="ContractLibraryInputFilter"
                    [placeholder]="'Search' | otTranslate"
                    [debounce]="250"
                    [model]="searchName"
                    (search)="onSearchName($event)"
                ></ot-search-input>
                <button
                    otButton
                    icon="ot ot-filter"
                    [select]="currentFilters?.length"
                    (click)="toggleFilterDrawer(true)"
                ></button>
            </div>
            <div class="stretch-vertical column-nowrap" otDrawerContainer>
                <div
                    *ngIf="controlsLibraryService.controlsLoading$ | async; else searchCompleted"
                    class="stretch-vertical column-nowrap justify-center"
                >
                    <ot-loading otPageLoading></ot-loading>
                </div>
                <ng-template #searchCompleted>
                    <ng-container *ngIf="table.rows.length; else emptyTable">
                        <div class="stretch-vertical overflow-y-auto column-nowrap">
                            <div class="position-relative">
                                <controls-library-table
                                    [table]="table"
                                    [searchName]="searchName"
                                    [currentQuery]="query"
                                    (controlIds)="displayControlsHeaderTab($event)"
                                    (handleTableActions)="onSortChange($event)"
                                ></controls-library-table>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #emptyTable>
                        <div class="stretch-vertical column-nowrap justify-center">
                            <ot-empty-state
                                class="align-self-center margin-top-bottom-4"
                                [emptyStateMessage]="'NoResultsFound' | otTranslate"
                            >
                                <img emptyStateImg />
                                <button *ngIf="'ControlsLibraryAddControl' | otPermit"
                                        otButton
                                        brand
                                        empty-state-content
                                        ot-auto-id="ControlsLibraryTableAddControlsBtn"
                                        (click)="addNewControl()"
                                >
                                    {{ 'AddControl' | otTranslate }}
                                </button>
                            </ot-empty-state>
                        </div>
                    </ng-template>
                </ng-template>
                <footer
                    *ngIf="table?.rows?.length"
                    otPaginationFooter
                    class="min-height-7 static-vertical border-top row-vertical-center background-white"
                >
                    <ot-pagination
                        *ngIf="tableMetaData?.totalElements > tableMetaData?.size"
                        [currentPage]="tableMetaData.number"
                        [handleOffset]="true"
                        [numPages]="tableMetaData.totalPages"
                        (pageChanged)="onPaginationChange($event)"
                    ></ot-pagination>
                    <span>{{ tableMetaData | otPageMeta }}</span>
                </footer>
                <ot-drawer
                    class="width-29 column-nowrap"
                    [open]="isFiltering"
                >
                    <ng-container *ngIf="table?.columns">
                        <controls-filter
                            class="column-nowrap flex-full-height"
                            [fields]="table.columns | filterBy: getFilterableColumns"
                            [currentFilters]="currentFilters"
                            [storage]="storageKey"
                            (filterApplied)="filterApplied($event)"
                            (filterCanceled)="filterCanceled($event)"
                        ></controls-filter>
                    </ng-container>
                </ot-drawer>
            </div>
        </section>
    </ng-template>
</div>
