<ot-modal-header (close)="closeModal()">
    <div>{{ 'SetLanguage' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ot-loading *ngIf="!isReady" class="margin-all-auto"></ot-loading>
    <div class="flex-full-height min-height-30 max-height-50 overflow-hidden">
        <div class="text-bold margin-bottom-1">
            {{'SelectLanguage' | otTranslate}}
        </div>
        <ot-picklist
            ot-auto-id="ChangeLanguageFormatPickList"
            valueKey="Id"
            labelKey="Name"
            [placeholder]="'SelectLanguage' | otTranslate"
            [autoClose]="true"
            [options]="languages"
            [model]="selectedOption"
            (onSelect)="selectOption($event)"
        ></ot-picklist>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="ChangeLanguageModalCancelButton"
        (click)="closeModal()"
    >{{'Cancel' | otTranslate}}</button>
    <button otButton brand
        ot-auto-id="ChangeLanguageModalSaveButton"
        [disabled]="disabled || (selectedOption === currentLanguage)"
        [loading]="disabled"
        (click)="changeLanguage()"
    >{{'Save' | otTranslate}}</button>
</ot-modal-footer>
