<div
    *ngIf="!loading; else LoadingSpinner"
    class="height-100 full-width column-nowrap"
    >
    <ot-page-header
        class="cr-header"
        [title]="'CustomPreferenceDetails' | otTranslate"
        >
        <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
            <ot-breadcrumb-item
                link="zen.app.pia.module.consentreceipt.views.custompreferences.list"
                [label]="'CustomPreferences' | otTranslate"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="customPreference?.Name"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <button otButton brand
            ot-auto-id="CustomPreferenceEditButton"
            [innerText]="'Edit' | otTranslate"
            [disabled]="loading"
            (click)="editCustomPreferenceModal()"
        ></button>
        <button otButton destructive
            ot-auto-id="CustomPreferenceDeleteButton"
            *ngIf="'CanDeleteCustomPreference' | otPermit"
            [innerText]="'Delete' | otTranslate"
            [disabled]="loading"
            (click)="deleteCustomPreferenceModal()"
        ></button>
    </ot-page-header>
    <div class="static-vertical">
        <ot-tabs
            [tabs]="tabs"
            [selectedTab]="tabName"
            >
            <a
                *otTabItem="let tab"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
    </div>
    <div
        *ngIf="customPreference && allLanguages"
        class="stretch-vertical flex-full-height"
        >
        <cr-custom-preference-form
            *ngIf="tabName === crConstants.CustomPreferenceTabs.Details"
            class="full-width overflow-y-auto flex-full-height background-white"
            [allLanguages]="allLanguages"
            [customPreference]="customPreference"
            (resetBreadcrumb)="resetBreadcrumb($event)"
        ></cr-custom-preference-form>
        <cr-custom-preference-options
            *ngIf="tabName === crConstants.CustomPreferenceTabs.Options"
            class="full-width overflow-y-auto"
            [customPreference]="customPreference"
            [loading]="loading"
        ></cr-custom-preference-options>
        <cr-custom-preference-translations
            *ngIf="tabName === crConstants.CustomPreferenceTabs.Translations"
            class="full-width"
            [allLanguages]="allLanguages"
            [customPreference]="customPreference"
            [loading]="loading"
        ></cr-custom-preference-translations>
    </div>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>
