<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddLinks' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div
        otFormElement
        class="margin-bottom-1 text-left"
        [label]="'URL' | otTranslate"
        [required]="true"
        >
        <input
            otInput
            ot-auto-id="IncidentAddLink"
            [(ngModel)]="incidentAttachmentsModel.link"
            [placeholder]="'URL' | otTranslate"
            />
    </div>
    <div
        otFormElement
        class="margin-bottom-1 text-left"
        [label]="'Name' | otTranslate"
        [required]="true"
        >
        <input
            otInput
            maxlength="100"
            ot-auto-id="IncidentAddLinkName"
            [(ngModel)]="incidentAttachmentsModel.name"
            [placeholder]="'Name' | otTranslate"
            />
    </div>
    <div
        otFormElement
        class="text-left margin-bottom-1"
        [label]="'Description' | otTranslate"
        >
        <textarea
            otTextarea
            ot-auto-id="IncidentAddLinkDescription"
            [(ngModel)]="incidentAttachmentsModel.description"
            [placeholder]="'Description' | otTranslate"
            >
        </textarea>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IncidentAttachmentLinkModalCancel"
        [disabled]="isSavingLink"
        (click)="closeModal()"
        >{{ 'Cancel' | otTranslate }}
    </button>
    <button otButton neutral
        ot-auto-id="IncidentAttachmentLinkModalSaveAdd"
        [disabled]="validate()"
        [loading]="isSavingLink === saveType.SaveAddNew"
        (click)="onSave(saveType.SaveAddNew)"
        >{{ 'SaveAndAddNew' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="IncidentAttachmentLinkModalSave"
        [disabled]="validate()"
        [loading]="isSavingLink === saveType.Save"
        (click)="onSave(saveType.Save)"
        >{{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
