.border-none {
    border: none;
}

.border-top-none,
.border-top-bottom-none {
    border-top: none;
}

.border-bottom-none,
.border-top-bottom-none {
    border-bottom: none;
}

.border-left-none,
.border-left-right-none {
    border-left: none;
}

.border-right-none,
.border-left-right-none {
    border-right: none;
}

.border-default {
    border: $border-transparent;
}

.border-top-bottom,
.border-top,
.border {
    border-top: $border-1px;
}

.border-top-bottom,
.border-bottom,
.border {
    border-bottom: $border-1px;
}

.border-left-right,
.border-left,
.border {
    border-left: $border-1px;
}

.border-left-right,
.border-right,
.border {
    border-right: $border-1px;
}

.border-top-bottom-2,
.border-top-2,
.border-2 {
    border-top: $border-2px;
}

.border-top-bottom-2,
.border-bottom-2,
.border-2 {
    border-bottom: $border-2px;
}

.border-left-right-2,
.border-left-2,
.border-2 {
    border-left: $border-2px;
}

.border-left-right-2,
.border-right-2,
.border-2 {
    border-right: $border-2px;
}

.border-top-bottom-3,
.border-top-3,
.border-3 {
    border-top: $border-3px;
}

.border-top-bottom-3,
.border-bottom-3,
.border-3 {
    border-bottom: $border-3px;
}

.border-left-right-3,
.border-left-3,
.border-3 {
    border-left: $border-3px;
}

.border-left-right-3,
.border-right-3,
.border-3 {
    border-right: $border-3px;
}

.border-top-bottom-5,
.border-top-5,
.border-5 {
    border-top: $border-5px;
}

.border-top-bottom-5,
.border-bottom-5,
.border-5 {
    border-bottom:  $border-5px;
}

.border-left-right-5,
.border-left-5,
.border-5 {
    border-left:  $border-5px;
}

.border-left-right-5,
.border-right-5,
.border-5 {
    border-right:  $border-5px;
}

.border-grey {
    border: $border-1px;
    border-color: $grey-1;
}

.border-platinum {
    border: $border-1px;
    border-color: $platinum;
}

.border-radius-3,
.border-radius {
    border-radius: $border-radius-small;
}

.border-top-left-radius-3 {
    border-top-left-radius: $border-radius-small;
}

.border-top-right-radius-3 {
    border-top-right-radius: $border-radius-small;
}

.border-bottom-left-radius-3 {
    border-bottom-left-radius: $border-radius-small;
}

.border-bottom-right-radius-3 {
    border-bottom-right-radius: $border-radius-small;
}

.border-radius-5 {
    border-radius: $border-radius-medium;
}

.border-blue {
    border: $border-1px;
    border-color: $ui-blue;
}

.border-dashed {
    border: $border-1px;
    border-style: dashed;
}

.border-dashed-2 {
    border: $border-2px;
    border-style: dashed;
}

.border-dashed-3 {
    border: $border-3px;
    border-style: dashed;
}

.border-bottom-dashed {
    border-bottom: $border-1px;
    border-bottom-style: dashed;
}

.border-round {
    border-radius: 50%;
}

.border-round-4 {
    border-radius: $border-radius-xlarge;
}

.border-rounded-ends {
    border-radius: $border-radius-large;
}

.border-has-error {
    border: $border-1px;
    border-color: $cherry !important;
}

.outline-has-error {
    outline: $border-1px;
    outline-color: $cherry;
}

.border-style-dashed {
    border-style: dashed;
}
