.background-none {
    background: none;
}

.background-transparent {
    background-color: transparent;
}

.background-white {
    background-color: $white;
}

.background-paper {
    background-color: $paper;
}

.background-eggshell {
    background-color: $eggshell;
}

.background-frost {
    background-color: $frost;
}

.background-grey {
    background-color: $paper-gray;
}

.background-slate {
    background-color: $slate;
}

.background-platinum {
    background-color: $platinum;
}

.background-grey-1 {
    background-color: $grey-1;
}

.background-grey-2 {
    background-color: $grey-2;
}

.background-grey-3 {
    background-color: $grey-3;
}

.background-grey-4 {
    background-color: $grey-4;
}

.background-blue {
    background-color: $blue;
}

.background-lagoon {
    background-color: $lagoon;
}

.background-ui-blue {
    background-color: $ui-blue;
}

.background-map-water-blue {
    background-color: $water-blue;
}

.background-green {
    background-color: $green;
}

.background-light-green {
    background-color: $light-green;
}

.background-light-red {
    background-color: $light-red;
}

.background-cherry {
    background-color: $cherry;
}

.background-orange {
    background-color: $orange;
}

.background-yellow {
    background-color: $yellow;
}

.background-active {
    background-color: $active-blue;
}

.background-active-green {
    background-color: $active-green;
}

.background-red {
    background-color: $red;
}

.background-black {
    background-color: $black;
}

.background-teal {
    background-color: $teal;
}

.text-color-default,
.color-slate {
    color: $slate;
}

.text-error,
.color-cherry {
    color: $cherry;
}

.text-success,
.color-green {
    color: $green;
}

.text-warning,
.color-light-orange {
    color: $light-orange;
}

.color-white {
    color: $white;
}

.color-grey-20 {
    color: $grey-20;
}

.color-blue {
    color: $blue;
}

.color-admiral-blue {
    color: $admiral-blue;
}

.color-frost {
    color: $frost;
}

.color-platinum {
    color: $platinum;
}

.color-accent-blue {
    color: $accent-blue !important;
}

.color-green {
    color: $green !important;
}

.color-orange {
    color: $orange !important;
}

.color-lagoon {
    color: $lagoon;
}

.color-light-red {
    color: $light-red;
}

.color-steel {
    color: $steel;
}

.color-ui-blue {
    color: $ui-blue;
}

.fill-slate {
    fill: $slate;
}

.stroke-blue {
    stroke: $blue;
}

.stroke-frost {
    stroke: $frost;
}

.stroke-lagoon {
    stroke: $lagoon;
}

.stroke-green {
    stroke: $green;
}

.stroke-light-red {
    stroke: $light-red;
}

.stroke-orange {
    stroke: $orange;
}

.stroke-yellow {
    stroke: $yellow;
}

.stroke-grey-1 {
    stroke: $grey-1;
}

.stroke-grey-2 {
    stroke: $grey-2;
}

.stroke-red {
    stroke: $red;
}

.stroke-slate {
    stroke: $slate;
}

.stroke-teal {
    stroke: $teal;
}

.opacity-0 {
    opacity: 0;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-1 {
    opacity: 1;
}
