///////////////////////////////////////////////////////////////////////////////
// Headings
///////////////////////////////////////////////////////////////////////////////

.heading1 {
  font-size: 3rem;
  line-height: 4.3rem
}

.heading2 {
  font-size: 2.8rem;
  line-height: 3.6rem
}

.heading3 {
  font-size: 2.25rem;
  line-height: 3.25rem;
}

.heading4 {
  font-size: 2rem;
  line-height: 2.9rem;
}

.heading5 {
  font-size: 1.75rem;
  line-height: 2.65rem
}
