.invisible {
    visibility: hidden;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.display-none {
    display: none;
}

.list-style-none {
    list-style: none;
}

.display-mobile-only {
    @media(min-width: $small) {
        display: none;
    }
}

.no-outline {
    outline: none;
    &:focus {
        outline: none;
    }
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

.disabled {
    opacity: 0.9;
    pointer-events: none;
}

.flex {
    display: flex !important;
}

.overflow-hidden {
    overflow: hidden;
}

.transition-opacity-0p3-linear {
    transition: opacity 0.3s linear;
}

.shadow-on-hover {
    &:hover {
        border: 1px solid $grey-3;
        color: darken($slate, 10%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}

.box-shadow-none {
    box-shadow: none !important;
}

.highlight {
    background-color: $highlight;
}

.background-none {
    background: 0;
}

.square-tiny {
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
}

.standard-pill {
    border-radius: 1rem;
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 2rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
}

.hover-show-container {
    .hover-show {
        visibility: hidden;
    }

    &:hover .hover-show {
        visibility: visible;
    }
}

// Cursors
.cursor-default {
    cursor: default !important;
}
.cursor-help {
    cursor: help;
}
.cursor-move {
    cursor: move;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-no-drop {
    cursor: no-drop;
}
