.helper-icon {

    &-required {
        color: $light-red;
        position: relative;
        vertical-align: super;
        font-size: 0.7rem;

        font-family: 'FontAwesome';
        &:before {
            content: "\f069";
        }
    }

    &-link {
        font-family: 'FontAwesome';
        &:before {
          content: "\f08e";
        }
    }

    &-yes {
        color: $green;
        font-family: 'FontAwesome';
        &:before {
          content: "\f00c";
        }
    }

    &-no {
        color: $light-red;
        font-family: 'FontAwesome';
        &:before {
          content: "\f00d";
        }
    }

    &-not-sure {
        font-family: 'FontAwesome';
        &:before {
          content: "\f128";
        }
    }
}
