.align-right {
    float: right !important;
}

.align-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.media-top {
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

.media-baseline {
    vertical-align: baseline;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-baseline {
    align-self: baseline;
}

.position-relative {
    position: relative;
}

.position-absolute,
.absolute-center,
.position-absolute-full,
.absolute-vertical-center {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-absolute-full {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-0 {
    top: 0;
}

.top-half {
    top: .5rem;
}

.absolute-vertical-center,
.absolute-center {
    top: 50%;
}

.absolute-vertical-center {
    transform: translateY(-50%);
}

.absolute-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.right-half {
    right: .5rem;
}

.left-1,
.top-left-1 {
    left: 1rem;
}

.left-1,
.left-bottom-1 {
    left: 1rem;
}

.left-2,
.left-bottom-2 {
    left: 2rem;
}

.left-3,
.left-bottom-3 {
    left: 3rem;
}

.left-15 {
    left: 15rem;
}

.left-50 {
    left: 50%;
}

.top-right-1,
.right-1,
.right-bottom-1 {
    right: 1rem;
}

.right-2,
.right-bottom-2 {
    right: 2rem;
}

.right-3,
.right-bottom-3 {
    right: 3rem;
}

.top-right-1,
.top-1,
.top-left-1 {
    top: 1rem;
}

.bottom-1,
.right-bottom-1,
.left-bottom-1 {
    bottom: 1rem;
}

.bottom-2,
.right-bottom-2,
.left-bottom-2 {
    bottom: 2rem;
}

.bottom-3,
.right-bottom-3,
.left-bottom-3 {
    bottom: 3rem;
}

.bottom-0 {
    bottom: 0;
}

.top-1-half {
    top: 1.5rem;
}

.left-1-half {
    left: 1.5rem;
}

.center-block,
.centered-max-100,
.centered-max-90,
.centered-max-80,
.centered-max-70,
.centered-max-50,
.full-size-block,
.full-width-block,
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.inline-flex {
    display: inline-flex;
}

.file-upload-button {
    cursor: pointer;
    input {
        display: none;
    }
}

.flex-initial {
    flex: initial !important;
}

.flex-full-height,
.flex-full-width,
.row-horizontal-center,
.row-horizontal-vertical-center,
.row-vertical-center,
.row-space-evenly,
.row-space-between,
.row-space-between-center,
.row-space-around,
.row-flex-end,
.row-wrap-flex-start,
.row-flex-start,
.row-wrap,
.row-nowrap,
.row-wrap-space-evenly,
.row-wrap-space-between,
.column-horizontal-center,
.column-horizontal-vertical-center,
.column-vertical-center,
.column-space-evenly,
.column-space-between,
.column-space-between-center,
.column-nowrap,
.column-wrap,
.flex {
    display: flex;
}

.flex-full-width,
.row-horizontal-center,
.row-horizontal-vertical-center,
.row-vertical-center,
.row-space-evenly,
.row-space-between,
.row-space-between-center,
.row-space-around,
.row-flex-end,
.row-flex-start,
.row-nowrap {
    flex-flow: row nowrap;
}

.column-horizontal-center,
.column-horizontal-vertical-center,
.column-vertical-center,
.column-space-evenly,
.column-space-between,
.column-space-between-center,
.column-nowrap,
.flex-full-height {
    flex-flow: column nowrap;
}

.column-wrap {
    flex-flow: column wrap;
}

.flex-full-height,
.flex-full-width,
.stretch-vertical,
.stretch-horizontal {
    flex: 1 1 auto;
}

.static-vertical,
.static-horizontal {
    flex: 0 0 auto;
}

.flex-shrink {
    flex: 0 1 auto;
}

.flex-shrink-50 {
    flex: 0 1 50%;
}

.flex-full-auto {
    flex: 1 0 auto;
}

.flex-full-12 {
    flex: 1 0 12.5%;
}

.flex-full-15 {
    flex: 1 0 15%;
}

.flex-full-20 {
    flex: 1 0 20%;
}

.flex-full-23 {
    flex: 1 0 23%;
}

.flex-full-25 {
    flex: 1 0 25%;
}

.flex-full-30 {
    flex: 1 0 30%;
}

.flex-full-33 {
    flex: 1 0 33%;
}

.flex-full-40 {
    flex: 1 0 40%;
}

.flex-full-50 {
    flex: 1 0 50%;
}

.flex-full-60 {
    flex: 1 0 60%;
}

.flex-full-70 {
    flex: 1 0 70%;
}

.flex-full-75 {
    flex: 1 0 75%;
}

.flex-full-80 {
    flex: 1 0 80%;
}

.flex-full-100 {
    flex: 1 0 100%;
}

.flex-stretch-0 {
    flex: 1 1 0%;
}

.flex-stretch-100 {
    flex: 1 1 100%;
}

.flex-stretch-50 {
    flex: 1 1 50%;
}

.flex-static-33 {
    flex: 0 0 33%;
}

.flex-static-50 {
    flex: 0 0 50%;
}

.flex-static-80 {
    flex: 0 0 80%;
}

.flex-static-90 {
    flex: 0 0 90%;
}

.flex-full-12,
.flex-full-15,
.flex-full-20,
.flex-full-23,
.flex-full-25,
.flex-full-33,
.flex-full-50,
.flex-full-70,
.flex-full-75,
.flex-full-80,
.flex-full-height,
.stretch-vertical,
.static-vertical,
.flex-shrink,
.flex-shrink-50,
.flex-static-33,
.flex-static-50,
.flex-static-80,
.flex-static-90,
.min-height-1 {
    min-height: 1px;
}

.flex-full-12,
.flex-full-15,
.flex-full-20,
.flex-full-23,
.flex-full-25,
.flex-full-33,
.flex-full-50,
.flex-full-70,
.flex-full-75,
.flex-full-80,
.flex-full-width,
.stretch-horizontal,
.static-horizontal,
.min-width-1,
.flex-shrink,
.flex-static-33,
.flex-static-50,
.flex-static-80,
.flex-static-90,
.flex-shrink-50 {
    min-width: 1px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-basis-0 {
    flex-basis: 0;
}

.flex-basis-auto {
    flex-basis: auto;
}

.align-start {
    align-items: flex-start !important;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

.align-flex-end {
    align-items: flex-end;
}

.column-horizontal-center,
.column-horizontal-vertical-center,
.row-horizontal-vertical-center,
.row-vertical-center,
.row-space-between-center,
.column-space-between-center,
.align-center {
    align-items: center;
}

.column-horizontal-vertical-center,
.column-vertical-center,
.row-horizontal-center,
.row-horizontal-vertical-center,
.justify-center {
    justify-content: center;
}

.row-flex-end,
.justify-end {
    justify-content: flex-end;
}

.row-wrap-flex-start,
.row-flex-start,
.justify-start {
    justify-content: flex-start;
}

.column-space-evenly,
.row-space-evenly {
    justify-content: space-evenly;
}

.column-space-between,
.column-space-between-center,
.row-wrap-space-between,
.row-space-between-center,
.row-space-between,
.space-between {
    justify-content: space-between;
}

.row-space-around {
    justify-content: space-around;
}

.row-wrap-flex-start,
.row-wrap-space-between,
.row-wrap-space-evenly,
.row-wrap {
    flex-flow: row wrap;
}

.column-space-evenly,
.row-space-evenly,
.row-wrap-space-evenly {
    justify-content: space-evenly;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.margin-none,
.margin-0 {
    margin: 0 !important;
}

.margin-auto {
    margin: auto;
}

.margin-0-auto {
    margin: 0 auto;
}

.padding-none,
.padding-0 {
    padding: 0 !important;
}

.center-block,
.centered-max-100,
.centered-max-90,
.centered-max-80,
.centered-max-75,
.centered-max-70,
.centered-max-75,
.centered-max-50,
.centered-max-25,
.centered-100-percent,
.centered-90-percent,
.centered-95-percent,
.centered-80-percent,
.centered-75-percent,
.centered-70-percent,
.centered-50-percent,
.centered-100,
.centered-90,
.centered-80,
.centered-75,
.centered-70,
.centered-50 {
    margin-right: auto;
    margin-left: auto;
}

.max-10,
.max-width-10 {
    max-width: 10rem;
}

.max-15,
.max-width-15 {
    max-width: 15rem;
}

.max-20,
.max-width-20 {
    max-width: 20rem;
}

.max-25,
.centered-max-25 {
    max-width: 25rem;
}

.max-width-30 {
    max-width: 30rem;
}

.max-width-35 {
    max-width: 35rem;
}

.max-width-40 {
    max-width: 40rem;
}

.max-width-45 {
    max-width: 45rem;
}

.max-width-50,
.centered-max-50 {
    max-width: 50rem;
}

.centered-max-70 {
    max-width: 70rem;
}

.max-width-75,
.centered-max-75 {
    max-width: 75rem;
}

.centered-max-80 {
    max-width: 80rem;
}

.centered-max-90 {
    max-width: 90rem;
}

.centered-max-100 {
    max-width: 100rem;
}

.max-width-50-percent,
.centered-50-percent {
    max-width: 50%;
}

.max-width-70-percent,
.centered-70-percent {
    max-width: 70%;
}

.centered-75-percent {
    max-width: 75%;
}

.centered-80-percent {
    max-width: 80%;
}

.centered-90-percent {
    max-width: 90%;
}

.centered-100-percent,
.max-width-full {
    max-width: 100%;
}

.centered-12 {
    width: 12rem;
}

.centered-50 {
    width: 50rem;
}

.centered-70 {
    width: 70rem;
}

.centered-75,
.width-75 {
    width: 75rem;
}

.centered-80 {
    width: 80rem;
}

.width-85 {
    width: 85rem;
}

.centered-90 {
    width: 90rem;
}

.centered-95-percent {
    max-width: 95%;
}

.centered-100 {
    width: 100rem;
}

.full-height-minus-5 {
    height: calc(100% - 5rem);
}

.max-height-4 {
    max-height: 4rem;
}

.max-height-5 {
    max-height: 5rem;
}

.max-height-10 {
    max-height: 10rem;
}

.max-height-15 {
    max-height: 15rem;
}

.max-height-20 {
    max-height: 20rem;
}

.max-height-25 {
    max-height: 25rem;
}

.max-height-30 {
    max-height: 30rem;
}

.max-height-35 {
    max-height: 35rem;
}

.max-height-40 {
    max-height: 40rem;
}

.max-height-45 {
    max-height: 45rem;
}

.max-height-50 {
    max-height: 50rem;
}

.max-height-70 {
    max-height: 70rem;
}

.max-height-80-percent {
    max-height: 80%;
}

.max-height-100-percent {
    max-height: 100%;
}

.full-size,
.full-size-block,
.full-size-min-height,
.full-width-block,
.full-width {
    width: 100%;
}

.width-0 {
    width: 0;
}

.min-height-100,
.full-size-min-height {
    min-height: 100%;
}

.full-size,
.full-size-block,
.height-100 {
    height: 100%;
}

.width-10-percent {
    width: 10%;
}

.width-15-percent {
    width: 15%;
}

.width-20-percent {
    width: 20%;
}

.width-25-percent {
    width: 25%;
}

.width-30-percent {
    width: 30%;
}

.width-33-percent {
    width: 33%;
}

.width-35-percent {
    width: 35%;
}

.width-40-percent {
    width: 40%;
}

.width-45-percent {
    width: 45%;
}

.width-50-percent {
    width: 50%;
}

.width-55-percent {
    width: 55%;
}

.width-60-percent {
    width: 60%;
}

.width-65-percent {
    width: 65%;
}

.width-70-percent {
    width: 70%;
}

.width-75-percent {
    width: 75%;
}

.width-80-percent {
    width: 80%;
}

.width-90-percent {
    width: 90%;
}

.width-100-percent {
    width: 100% !important;
}

.min-width-5 {
    min-width: 5rem;
}

.min-width-11 {
    min-width: 11rem;
}

.min-width-15 {
    min-width: 15rem;
}

.min-width-12 {
    min-width: 12rem
}

.min-width-20 {
    min-width: 20rem;
}

.min-width-25 {
    min-width: 25rem;
}

.min-width-30 {
    min-width: 30rem;
}

.min-width-33 {
    min-width: 33rem;
}

.min-width-40 {
    min-width: 40rem;
}

.min-width-50 {
    min-width: 50rem;
}

.min-width-60 {
    min-width: 60rem;
}

.min-width-40-percent {
    min-width: 40%;
}

.min-width-100-percent {
    min-width: 100%;
}

.min-height-1 {
    min-height: 1px;
}

.min-height-3 {
    min-height: 3rem;
}

.min-height-4 {
    min-height: 4rem;
}

.min-height-46 {
    min-height: 4.6rem;
}

.min-height-5 {
    min-height: 5rem;
}

.min-height-5-half {
    min-height: 5.5rem;
}

.min-height-6 {
    min-height: 6rem;
}

.min-height-6-half {
    min-height: 6.5rem;
}

.min-height-7 {
    min-height: 7rem;
}

.min-height-8 {
    min-height: 8rem;
}

.min-height-10 {
    min-height: 10rem;
}

.min-height-20 {
    min-height: 20rem;
}

.min-height-25 {
    min-height: 25rem;
}

.min-height-30 {
    min-height: 30rem;
}

.min-height-50 {
    min-height: 50rem;
}

.min-height-85-percent {
    min-height: 85%;
}

.responsive-wrap {
    flex-flow: wrap;
    @media (min-width: $small) {
        flex-flow: nowrap;
    }
}

.responsive-wrap-md {
    flex-flow: wrap;
    @media (min-width: $medium) {
        flex-flow: nowrap;
    }
}

.responsive-width-50 {
    width: 100%;
    @media (min-width: $small) {
        width: 50%;
    }
}

.margin-all-auto,
.margin-top-auto,
.margin-top-bottom-auto {
    margin-top: auto;
}

.margin-all-auto,
.margin-bottom-auto,
.margin-top-bottom-auto {
    margin-bottom: auto;
}

.margin-all-auto,
.margin-left-auto,
.margin-left-right-auto {
    margin-left: auto;
}

.margin-all-auto,
.margin-left-right-auto,
.margin-right-auto {
    margin-right: auto;
}

.margin-all-0,
.margin-top-0,
.margin-top-bottom-0 {
    margin-top: 0;
}

.margin-all-0,
.margin-bottom-0,
.margin-top-bottom-0 {
    margin-bottom: 0;
}

.margin-all-0,
.margin-left-0,
.margin-left-right-0 {
    margin-left: 0;
}

.margin-all-0,
.margin-left-right-0,
.margin-right-0 {
    margin-right: 0;
}

.margin-all-quarter,
.margin-top-quarter,
.margin-top-bottom-quarter {
    margin-top: 0.25rem;
}

.margin-all-quarter,
.margin-bottom-quarter,
.margin-top-bottom-quarter {
    margin-bottom: 0.25rem;
}

.margin-all-quarter,
.margin-left-quarter,
.margin-left-right-quarter {
    margin-left: 0.25rem;
}

.margin-all-quarter,
.margin-right-quarter,
.margin-left-right-quarter {
    margin-right: 0.25rem;
}

.margin-all-half,
.margin-top-half,
.margin-top-bottom-half {
    margin-top: 0.5rem;
}

.margin-all-half,
.margin-bottom-half,
.margin-top-bottom-half {
    margin-bottom: 0.5rem;
}

.margin-all-half,
.margin-left-half,
.margin-left-right-half {
    margin-left: 0.5rem;
}

.margin-all-half,
.margin-left-right-half,
.margin-right-half {
    margin-right: 0.5rem;
}

.margin-all-1,
.margin-top-1,
.margin-top-bottom-1 {
    margin-top: 1rem;
}

.margin-all-1,
.margin-bottom-1,
.margin-top-bottom-1 {
    margin-bottom: 1rem;
}

.margin-all-1,
.margin-left-1,
.margin-left-right-1 {
    margin-left: 1rem;
}

.margin-all-1,
.margin-left-right-1,
.margin-right-1 {
    margin-right: 1rem;
}

.margin-top-1-half,
.margin-top-bottom-1-half,
.margin-all-1-half {
    margin-top: 1.5rem;
}

.margin-bottom-1-half,
.margin-top-bottom-1-half,
.margin-all-1-half {
    margin-bottom: 1.5rem;
}

.margin-left-1-half,
.margin-left-right-1-half,
.margin-all-1-half {
    margin-left: 1.5rem;
}

.margin-right-1-half,
.margin-left-right-1-half,
.margin-all-1-half {
    margin-right: 1.5rem;
}

.margin-all-2,
.margin-top-2,
.margin-top-bottom-2 {
    margin-top: 2rem;
}

.margin-top-2-half {
    margin-top: 2.5rem;
}

.margin-left-2-half {
    margin-left: 2.5rem;
}

.margin-all-2,
.margin-bottom-2,
.margin-top-bottom-2 {
    margin-bottom: 2rem;
}

.margin-all-2,
.margin-left-2,
.margin-left-right-2 {
    margin-left: 2rem;
}

.margin-all-2,
.margin-left-right-2,
.margin-right-2 {
    margin-right: 2rem;
}

.margin-right-2-half,
.margin-left-right-2-half,
.margin-all-2-half {
    margin-right: 2.5rem;
}

.margin-all-3,
.margin-top-3,
.margin-top-bottom-3 {
    margin-top: 3rem;
}

.margin-all-3,
.margin-bottom-3,
.margin-top-bottom-3 {
    margin-bottom: 3rem;
}

.margin-all-3,
.margin-left-3,
.margin-left-right-3 {
    margin-left: 3rem;
}

.margin-all-3,
.margin-left-right-3,
.margin-right-3 {
    margin-right: 3rem;
}

.margin-all-4,
.margin-top-4,
.margin-top-bottom-4 {
    margin-top: 4rem;
}

.margin-all-4,
.margin-bottom-4,
.margin-top-bottom-4 {
    margin-bottom: 4rem;
}

.margin-all-4,
.margin-left-4,
.margin-left-right-4 {
    margin-left: 4rem;
}

.margin-all-4,
.margin-left-right-4,
.margin-right-4 {
    margin-right: 4rem;
}

.margin-all-5,
.margin-top-5,
.margin-top-bottom-5 {
    margin-top: 5rem;
}

.margin-all-5,
.margin-bottom-5,
.margin-top-bottom-5 {
    margin-bottom: 5rem;
}

.margin-all-5,
.margin-left-5,
.margin-left-right-5 {
    margin-left: 5rem;
}

.margin-all-5,
.margin-left-right-5,
.margin-right-5 {
    margin-right: 5rem;
}

.margin-all-6,
.margin-top-6,
.margin-top-bottom-6 {
    margin-top: 6rem;
}

.margin-all-6,
.margin-bottom-6,
.margin-top-bottom-6 {
    margin-bottom: 6rem;
}

.margin-all-6,
.margin-left-6,
.margin-left-right-6 {
    margin-left: 6rem;
}

.margin-all-6,
.margin-left-right-6,
.margin-right-6 {
    margin-right: 6rem;
}

.margin-top-9 {
    margin-top: 9rem;
}

.margin-top-10 {
    margin-top: 10rem;
}

.margin-right-neg-1 {
    margin-right: -1rem;
}

.padding-all-0,
.padding-top-0,
.padding-top-bottom-0 {
    padding-top: 0;
}

.padding-all-0,
.padding-bottom-0,
.padding-top-bottom-0 {
    padding-bottom: 0;
}

.padding-all-0,
.padding-left-0,
.padding-left-right-0 {
    padding-left: 0;
}

.padding-all-0,
.padding-left-right-0,
.padding-right-0 {
    padding-right: 0;
}

.padding-all-quarter,
.padding-left-right-quarter,
.padding-right-quarter {
    padding-right: 0.25rem;
}

.padding-all-quarter,
.padding-left-right-quarter,
.padding-left-quarter {
    padding-left: 0.25rem;
}

.padding-all-quarter,
.padding-top-bottom-quarter,
.padding-top-quarter {
    padding-top: 0.25rem;
}

.padding-all-quarter,
.padding-top-bottom-quarter,
.padding-bottom-quarter {
    padding-bottom: 0.25rem;
}

.padding-all-half,
.padding-top-half,
.padding-top-bottom-half {
    padding-top: 0.5rem;
}

.padding-all-half,
.padding-bottom-half,
.padding-top-bottom-half {
    padding-bottom: 0.5rem;
}

.padding-all-half,
.padding-left-right-half,
.padding-left-half {
    padding-left: 0.5rem;
}

.padding-all-half,
.padding-left-right-half,
.padding-right-half {
    padding-right: 0.5rem;
}

.padding-all-1,
.padding-top-1,
.padding-top-bottom-1 {
    padding-top: 1rem;
}

.padding-all-1,
.padding-bottom-1,
.padding-top-bottom-1 {
    padding-bottom: 1rem;
}

.padding-all-1,
.padding-left-1,
.padding-left-right-1 {
    padding-left: 1rem;
}

.padding-all-1,
.padding-left-right-1,
.padding-right-1 {
    padding-right: 1rem;
}

.padding-top-1-half,
.padding-top-bottom-1-half,
.padding-all-1-half {
    padding-top: 1.5rem;
}

.padding-bottom-1-half,
.padding-top-bottom-1-half,
.padding-all-1-half {
    padding-bottom: 1.5rem;
}

.padding-left-1-half,
.padding-left-right-1-half,
.padding-all-1-half {
    padding-left: 1.5rem;
}

.padding-right-1-half,
.padding-left-right-1-half,
.padding-all-1-half {
    padding-right: 1.5rem;
}

.padding-all-2,
.padding-top-2,
.padding-top-bottom-2 {
    padding-top: 2rem;
}

.padding-all-2,
.padding-bottom-2,
.padding-top-bottom-2 {
    padding-bottom: 2rem;
}

.padding-all-2,
.padding-left-2,
.padding-left-right-2 {
    padding-left: 2rem;
}

.padding-all-2-half,
.padding-left-2-half,
.padding-left-right-2-half {
    padding-left: 2.5rem;
}

.padding-all-2,
.padding-left-right-2,
.padding-right-2 {
    padding-right: 2rem;
}

.padding-all-3,
.padding-top-3,
.padding-top-bottom-3 {
    padding-top: 3rem;
}

.padding-all-3,
.padding-bottom-3,
.padding-top-bottom-3 {
    padding-bottom: 3rem;
}

.padding-all-3,
.padding-left-3,
.padding-left-right-3 {
    padding-left: 3rem;
}

.padding-all-3,
.padding-left-right-3,
.padding-right-3 {
    padding-right: 3rem;
}

.padding-all-4,
.padding-top-4,
.padding-top-bottom-4 {
    padding-top: 4rem;
}

.padding-all-4,
.padding-bottom-4,
.padding-top-bottom-4 {
    padding-bottom: 4rem;
}

.padding-all-4,
.padding-left-4,
.padding-left-right-4 {
    padding-left: 4rem;
}

.padding-all-4,
.padding-left-right-4,
.padding-right-4 {
    padding-right: 4rem;
}

.padding-all-5,
.padding-top-5,
.padding-top-bottom-5 {
    padding-top: 5rem;
}

.padding-all-5,
.padding-bottom-5,
.padding-top-bottom-5 {
    padding-bottom: 5rem;
}

.padding-all-5,
.padding-left-5,
.padding-left-right-5 {
    padding-left: 5rem;
}

.padding-all-5,
.padding-left-right-5,
.padding-right-5 {
    padding-right: 5rem;
}

.padding-right-6 {
    padding-right: 6rem;
}

.padding-bottom-10 {
    padding-bottom: 10rem;
}

.padding-bottom-15 {
    padding-bottom: 15rem;
}

.padding-top-10 {
    padding-top: 10rem;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-auto {
    overflow: auto;
}

// Important is required as we are using it in modal and the
// overflow-y: auto; is added by vitreus which is not getting override
.overflow-y-inherit {
    overflow-y: inherit !important;
}

.overflow-visible {
    overflow: visible;
}

.ms-overflow-scroll {
    -ms-overflow-style: scrollbar;
}

.ms-overflow-none {
    -ms-overflow-style: none;
}

.height-auto {
    height: auto;
}

.height-2 {
    height: 2rem;
}

.height-3 {
    height: 3rem;
}

.height-4 {
    height: 4rem;
}

.height-5 {
    height: 5rem;
}

.height-7 {
    height: 7rem;
}

.height-10 {
    height: 10rem;
}

.height-15 {
    height: 15rem;
}

.height-20 {
    height: 20rem;
}

.height-25 {
    height: 25rem;
}

.height-30 {
    height: 30rem;
}

.height-40 {
    height: 40rem;
}

.height-36 {
    height: 3.6rem;
}

.height-38 {
    height: 3.8rem;
}

.height-49 {
    height: 4.9rem;
}

.height-70 {
    height: 70rem;
}

.width-auto {
    width: auto;
}

.width-1 {
    width: 1rem;
}

.width-2 {
    width: 2rem;
}

.width-3 {
    width: 3rem;
}

.width-4 {
    width: 4rem;
}

.width-5 {
    width: 5rem;
}

.width-7 {
    width: 7rem;
}

.width-10 {
    width: 10rem;
}

.width-29 {
    width: 29rem;
}

.width-33 {
    width: 33rem;
}

.width-35-rem {
    width: 35rem;
}

.width-40-rem {
    width: 40rem;
}

.width-45 {
    width: 45rem;
}

.width-50-rem {
    width: 50rem;
}

.width-55 {
    width: 55rem;
}

.width-70-rem {
    width: 70rem;
}

.spacer {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-9999 {
    z-index: 9999 !important;
}

.z-index-999 {
    z-index: 999 !important;
}

.resize-none {
    resize: none;
}

.resize-vertical {
    resize: vertical;
}

.resize-horzontal {
    resize: horizontal;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.table-row-group {
    display: table-row-group;
}

.table-layout-fixed {
    table-layout: fixed;
}

.cell-width-xlarge {
    width: $cell-width-xlarge;
}

.cell-width-large {
    width: $cell-width-large;
}

.cell-width-normal {
    width: $cell-width-normal;
}

.cell-width-medium {
    width: $cell-width-medium;
}

.cell-width-small {
    width: $cell-width-small;
}

.cell-width-xsmall {
    width: $cell-width-xsmall;
}

.cell-min-width-xlarge {
    min-width: $cell-width-xlarge;
}

.cell-min-width-large {
    min-width: $cell-width-large;
}

.cell-min-width-normal {
    min-width: $cell-width-normal;
}

.cell-min-width-medium {
    min-width: $cell-width-medium;
}

.cell-min-width-small {
    min-width: $cell-width-small;
}

.cell-min-width-xsmall {
    min-width: $cell-width-xsmall;
}

.bullet-list {
    list-style: disc;
}

.word-wrap {
    word-wrap: break-word;
}

.height-15-percent {
    height: 15%;
}

.height-25-percent {
    height: 25%;
}
