.one-header {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0.6rem 0;
    justify-content: center;
    position: relative;
    z-index: 100;

    &__bar {
        height: 6.5rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
    }

    &__title {
        flex: 0 1 auto;
        min-width: 1px;
    }

    &__body {
        flex: 1 1 auto;
        min-width: 1px;
        margin: 0 1rem;
    }

    &__actions {
        flex: 0 0 auto;
        min-width: 1px;
        font-size: 1.4rem;
    }

    &__button {

        .one-button {
            padding: 0.5rem 1rem;
            font-size: 1.4rem;

            &__text {
                display: none;
                @media(min-width: $small){
                    display: inherit;
                }
            }

            &__icon {
                margin: 0;
                @media(min-width: $small){
                    margin-right: 0.6rem;
                }
            }
        }

        &--icon {
            font-size: 75%;
        }

        &--hover {
            background: none;
            border: none;
            margin: 1px;
            padding: 0.2rem 0.5rem;
            animation: pulse 1.5s ease-out;

            &:hover {
                background: $white;
                border: solid 1px $slate;
                margin: 0;
            }
        }

    }

}
