.section-navigator-toggle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    margin: 1rem 0;
    transition: opacity .3s;
    opacity: 1;

    &.fade-out {
        opacity: 0;
        transition: none;
        pointer-events: none;
    }

    &__item {
        width: 33%;
        flex: 1 1 33%;
        text-align: center;
    }

    &__content {

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__btn {
        flex: 0 0 auto;
        padding: .6rem;
        background: 0;
        border: 0;
        width: 100%;

        &:disabled {
            color: $grey-4;
        }

        &:hover:not([disabled]) {
            color: darken($slate, 20%);
        }
    }

    &__name {
        font-style: italic;

        &-icon {
            font-size: 1.2rem;

            &--left {
                margin-right: 1rem;
            }

            &--right {
                margin-left: 1rem;
            }
        }
    }
}
