///////////////////////////////////////////////////////////////////////////////
// Shadows
///////////////////////////////////////////////////////////////////////////////

.shadow,
.shadow1 {
    box-shadow: $shadow1;
}

.shadow2 {
    box-shadow: $shadow2;
}

.shadow2-left-right {
    box-shadow: $shadow2-left-right;
}

.shadow3 {
    box-shadow: $shadow3;
}

.shadow4 {
    box-shadow: $shadow4;
}

.shadow5 {
    box-shadow: $shadow5;
}

.shadow6 {
    box-shadow: $shadow6;
}

.shadow7 {
    box-shadow: $shadow7;
}

.shadow8 {
    box-shadow: $shadow8;
}

.shadow-transition {
    transition: box-shadow 0.25s ease-in-out;
}
.shadow-none {
  box-shadow: none;
  &:focus {
      box-shadow: none;
  }
}

.shadow-header {
  box-shadow: $shadow-header;
}

.shadow-bottom-6 {
    box-shadow: $shadow6-bottom;
}

.shadow-bottom-inset {
    box-shadow: $shadow6-bottom-inset;
}

.shadow-left-6 {
    box-shadow: $shadow6-left;
}

.gray-shadow {
    box-shadow: $shadow-gray;
}
