.not-started,
.archived {
    color: $slate;
}

.in-progress {
    color: $blue;
}

.under-review {
    color: $orange;
}

.needs-info {
    color: $teal;
}

.risk-treatment {
    color: $yellow;
}

.risk-assessment {
    color: $steel;
}

.completed {
    color: $green;
}

.inverse-in-progress,
.inverse-under-review,
.inverse-needs-info,
.inverse-risk-assessment,
.inverse-risk-treatment,
.inverse-completed {
    color: $white;
}

.inverse-in-progress {
    background-color: $blue;
}

.inverse-under-review,
.inverse-orange {
    background-color: $orange;
}

.inverse-red {
    background-color: $red,
}

.inverse-light-red {
    background-color: $light-red,
}

.inverse-needs-info {
    background-color: $teal;
}

.inverse-risk-assessment {
    background-color: $steel;
}

.inverse-in-mitigation,
.inverse-steel {
    background-color: $steel;
}

.inverse-risk-treatment {
    background-color: $yellow;
}

.inverse-lagoon {
    background-color: $lagoon;
}

.inverse-completed,
.inverse-green {
    background-color: $green;
}

.risk-very-high {
    color: $dark-red;
}

.risk-high {
    color: $light-red;
}

.risk-medium,
.cookie-scan-pending {
    color: $light-orange;
}

.risk-low {
    color: $cyan;
}

.risk-very-high--bg {
    background-color: $dark-red;
}

.risk-high--bg {
    background-color: $light-red;
}

.risk-medium--bg {
    background-color: $light-orange;
}

.risk-low--bg {
    background-color: $cyan;
}

.risk-none--bg {
    background-color: $white;
}

.notification {
    bottom: 0rem;
    left: .4rem;
    color: $green;

    &:before {
        content: "\2022";
        font-size: 2em;

        &:focus {
            outline: none;
        }
    }
}
