.stat-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__container {
        height: 12.2rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 10px 1px;
        margin: 1rem;
        padding-bottom: 1.3rem;

        &.large-card {
            flex: 1 1 40%;
            min-height: 1px;
        }

        &.small-card {
            flex: 1 1 25%;
            min-height: 1px;
        }
    }

    &__number {
        font-size: 6em;
    }

    &__label {
        text-transform: uppercase;
        margin-top: -2.5rem;
    }
}
