.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-top {
    text-align: top;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.text-justify {
    text-align: justify;
}

.text-underline,
.hover-underline:hover {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.hover-no-underline:hover {
    text-decoration: none;
}

.text-nowrap {
    white-space: nowrap;
}

.text-wrap {
    white-space: normal;
}

.text-compact {
    letter-spacing: -0.5px;
}

.text-cursor-default {
    cursor: default;
}

.text-pointer {
    cursor: pointer;
}

.text-link {
    @extend .hover-underline;
    cursor: pointer;
    color: $ui-blue;
    &:hover,
    &:focus {
        color: darken($ui-blue, 10%);
    }

    &--success {
        color: $green;
        &:hover,
        &:focus {
            color: darken($green, 10%);
        }
    }
}

.grey4-text {
    color: $grey-4;
}

.strikethrough {
    text-decoration: line-through;
}

.text-thin,
.text-thin-1 {
    font-weight: 300;
}

.text-thin-2 {
    font-weight: 500;
}

.text-tiny {
    font-size: $text-tiny;
}

.text-xsmall {
    font-size: $text-xsmall;
}

.text-small {
    font-size: $text-small;
}

.text-medium-small {
    font-size: $text-medium-small;
}

.text-medium {
    font-size: $text-medium;
}

.text-large {
    font-size: $text-large;
}

.text-xlarge {
    font-size: $text-xlarge;
}

.text-huge {
    font-size: $text-huge;
}

.text-xhuge {
    font-size: 2.8rem;
}

.icon-huge {
    font-size: $icon-huge;
}

.paragraph-large {
    font-size: 1.8rem;
    line-height: 3rem;
}

.paragraph-medium {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.paragraph-medium-small {
    font-size: 1.4rem;
    line-height: 2rem;
}

.paragraph-small {
    font-size: 1.2rem;
    line-height: 2rem;
}

.line-height-0 {
    line-height: 0;
}

.line-height-1 {
    line-height: 1rem;
}

.line-height-1-half {
    line-height: 1.5rem;
}

.overflow-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-ellipsis-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-ellipsis-inherit {
    overflow: inherit;
    text-overflow: inherit;
}

.pre {
    white-space: pre-line;
}

.pre-wrap {
    white-space: pre-wrap;
}

.word-break-inherit {
    word-break: inherit;
}

.word-break {
    word-break: break-word;
}

.word-break-all {
    word-break: break-all;
}

.word-break-fallback {
    word-break: break-all;
    word-break: break-word;
}

.line-height-2 {
    line-height: 2;
}

.remove-anchor-style {
    color: $slate;
    cursor: pointer;
    &:hover {
        color: $slate;
    }
}

.blue-anchor-style {
    color: $ui-blue;
    cursor: pointer;
    &:hover {
        color: $ui-hover-blue;
    }
}

.red-anchor-style {
    color: $light-red;
    cursor: pointer;
    &:hover {
        color: $dark-red;
    }
}

.green-anchor-style {
    color: $green;
    cursor: pointer;
    &:hover {
        color: darken($green, 10%);
    }
}

.sup-asterisk {
    position: relative;
    font-size: .7rem;
    top: -1rem;
    color: $light-red;
}

.sup-asterisk-table {
    position: relative;
    font-size: .7rem;
    top: -.7rem;
    color: $light-red;
}

.text-grey-4 {
    color: $grey-4;
}

.text-grey-3 {
    color: $grey-3;
}

.text-ui-blue {
    color: $ui-blue;
}

.user-select-none {
    user-select: none;
}

.text-monospace {
    font-family: monospace, monospace;
}
