.typeahead {
    width: auto;
    margin: 0;
    position: relative;

    &__input {
        width: 100%;

        &.has-arrow {
            padding: 0 3.4rem 0 1rem;
        }
        &.has-errors {
            border: 1px solid $light-red;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 1.4rem;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__iconloading {
        position: absolute;
        top: 30%;
        right: 1.4rem;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__popup {
        display: block;
        position: absolute;
        z-index: 10000;
    }

    &__list {
        padding: 0;
        display: block;
        margin: 0;
        width: 100%;
        box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $grey-3;
        border-radius: 3px;
        background-color: $white;
        max-height: 18.5rem;
        overflow-y: auto;
    }

    &__item {
        cursor: pointer;

        &.active {
            background-color: $ui-blue;
        }
    }

    &__link {
        padding: 0.8rem 1.6rem;
        color: $slate;
        text-decoration: none;
        outline: 0;
        display: block;

        .active & {
            color: $white;
            background: 0;
        }
    }

    &__tooltip {
        &--offset-left {
            margin-left: 1.5rem;
        }
    }
}
