<div class="incident-details padding-all-2 margin-bottom-2 background-white border-bottom">
    <form name="incidentDetailForm">
        <div class="row-nowrap space-between">
            <div class="column-nowrap">
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'IncidentName' | otTranslate"
                    >
                    <div class="max-width-45 slds-truncate"
                        [otTooltip]="model.name"
                        >
                        <span class="margin-right-1">{{model.name}}</span>
                    </div>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'Type' | otTranslate">
                    <div class="max-width-45 slds-truncate" 
                        [otTooltip]="model.incidentTypeNameKey | otTranslate"
                        >
                        <span class="margin-right-1">{{model.incidentTypeNameKey | otTranslate}}</span>
                    </div>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'Assignee' | otTranslate"
                    >
                    <one-assignee-label [assignee]="model.assigneeName"></one-assignee-label>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'DateOccurred' | otTranslate"
                    >
                    <span class="margin-right-1">{{ model.dateOccurred | otDate:'dateTime':false:'- - - -' }}</span>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'Number' | otTranslate"
                    >
                    <div class="max-width-45 slds-truncate">
                        <span class="margin-right-1">{{model.number}}</span>
                    </div>
                </div>
            </div>
            <div class="column-nowrap">
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'DateReported' | otTranslate"
                    >
                    <span class="margin-right-1">{{model.createdDT | otDate}}</span>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'Deadline' | otTranslate"
                    >    
                    <span class="margin-right-1">{{ model.deadline | otDate:'dateTime':false:'- - - -' }}</span>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'DateDiscovered' | otTranslate"
                    >
                    <span class="margin-right-1">{{ model.dateDiscovered | otDate:'dateTime':false:'- - - -' }}</span>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'Organization' | otTranslate"
                    >
                    <div class="max-width-45 slds-truncate">
                        <span class="margin-right-1">{{model.orgGroupName}}</span>
                    </div>
                </div>
                <div 
                    otFormElement
                    class="paragraph-medium-small margin-bottom-2 slds-truncate"
                    [label]="'MethodOfReporting' | otTranslate"
                    >
                    <div class="max-width-45 slds-truncate">
                        <span class="margin-right-1">{{sourceTypes[model.sourceType] | otTranslate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div 
            otFormElement
            class="paragraph-medium-small margin-bottom-2 slds-truncate"
            [label]="'Reporter' | otTranslate"
            >
            <div class="max-width-45 slds-truncate">
                <span class="margin-right-1">{{model.creator}}</span>
            </div>
        </div>
        <div 
            otFormElement
            class="paragraph-medium-small margin-bottom-2"
            [label]="'RootCause' | otTranslate"
            >
            <span class="word-break-all">{{ model.rootCause }}</span>
        </div>
        <div 
            otFormElement
            class="paragraph-medium-small margin-bottom-2"
            [label]="'Description' | otTranslate"
            >
            <span class="word-break-all">{{ model.description }}</span>
        </div>
    </form>
</div>