.assessment-question__label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    min-height: 4.2rem;
    margin: 0;
    align-self: flex-start;
    max-width: 10%;
    border-radius: 0;
    background-color: $number-grey;
    color: $white;

    @media (min-width: $small) {
        min-width: 4rem;
        max-width: 100%;
    }

    &.needs-review {
        background-color: $light-orange;
    }

    h4 {
        font-weight: bold;
        margin: 0.6rem 0;
        font-size: 1.6rem;

        @media (min-width: $small) {
            margin: 1rem 0;
            font-size: 18px;
        }
    }

    i {
        margin-left: .4rem;

        &.fa-quote-right {
            margin: 0;
        }
    }
}
