.dashboard-aging {
    display: flex;
    width: 100%;

    &__chart {
        flex: 1 0 auto;
        display: flex;
    }

    &__controls {
        flex: 0 1 22rem;
        padding: .2rem 1rem 0 0;
    }

    .domain {
        fill: none;
        stroke: #ccc;
        stroke-width: 1px;
    }

    &__age-filter {
        flex: 1 1 auto;
    }

    &__details {
        display: 1 1 80%;
        margin-top: 1.2rem;
    }

    &__detail-group {
        display: flex;
        flex-flow: column nowrap;
        margin-top: .4rem;
    }
}
