span
    li.collection-picker-item(ng-class='{ "active": ngModel === Node.Id }')
        span.collection-picker-item-caret(ng-if='!collectionKeyIcon', 
            ng-class='{"fa fa-caret-down": item[collectionKeyNodes].length, "bullet": !item[collectionKeyNodes].length }', 
            ng-style='{"padding-left": num}',
            ng-click='thisCaretClick(item, $event)')
            |&nbsp
        span.collection-picker-item-caret(ng-if='collectionKeyIcon', 
            class='{{item[collectionKeyIcon]}}', 
            ng-style='{"padding-left": num}', 
            ng-click='thisCaretClick(item, $event)')
            |&nbsp
        span(ng-bind="Node.Name")
