.collection-picker
    .collection-picker-input(uib-dropdown, is-open="status.isopen", ng-if='DisplayType === DisplayTypes["input"]')
        button.collection-picker-display(type="submit", uib-dropdown-toggle, ng-disabled="ngDisabled", ng-mouseenter="showClear = true;", ng-mouseleave="showClear = false;", data-ng-class='{"cursor-default" : !AllowOpen}')
            span.collection-picker-display-text
                span(ng-if="!list && replacement ") {{ replacement }}
                span(ng-if="list && !isPlaceholder") {{SelectedNode[Node.Name]}}
                span.placeholder(ng-if="isPlaceholder") {{collectionPlaceholder || ''}}
                span.collection-picker-display-icon(ng-if="AllowOpen && !(!isPlaceholder && cancel && showClear)")
                    i(class="{{ collectionIconClass || 'caret'}}")
                span.collection-picker-display-icon.clear(ng-if="(!isPlaceholder && cancel && showClear)" ng-click="Clear($event)")
                    i.ot.ot-times
        ul.collection-picker-dropdown(ng-if="AllowOpen", uib-dropdown-menu role="menu")
            collection-picker-list(
                ng-model="ngModel",
                select="select(item)",
                caret-click="caretClick(item)",
                filter="filter",
                list="list",
                collection-key-nodes="Node.Nodes",
                collection-key-name="Node.Name",
                collection-key-subname="Node.Subname",
                collection-key-icon="Node.Icon",
                collection-key-show-children="Node.ShowChildren")

    ul.collection-picker-dropdown(ng-if='DisplayType === DisplayTypes["tree"]')
        collection-picker-list(
            ng-model="ngModel",
            select="select(item)",
            caret-click="caretClick(item)",
            filter="filter",
            list="list",
            collection-key-nodes="Node.Nodes",
            collection-key-name="Node.Name",
            collection-key-subname="Node.Subname",
            collection-key-icon="Node.Icon",
            collection-key-show-children="Node.ShowChildren",
            track-by="trackBy")
