ul.collection-picker-list(ng-class='{"collection-picker-children": (num && num > 0)}')
    collection-picker-item(
        ng-model="ngModel",
        filter="filter",
        select="thisSelect(item)",
        caret-click="thisCaretClick(item)",
        num="num",
        track-by="trackBy",
        collection-key-nodes="Node.Nodes",
        collection-key-name="Node.Name",
        collection-key-subname="Node.SubName",
        collection-key-icon="Node.Icon",
        collection-key-show-children="Node.ShowChildren",
        ng-repeat="item in (l = (list | filter:filter)) track by trackById(item, $index)",
        item="item")
