<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="groupForm"
    >
        <div class="overflow-y-auto">
            <!-- Group name -->
            <div otFormElement
                [label]="'GroupName' | otTranslate"
                [required]="true"
                [hasError]="!groupForm.get('name').valid && groupForm.get('name').dirty"
            >
                <input
                    class="full-width"
                    otInput
                    name="name"
                    [formControlName]="'name'"
                    ot-auto-id="CookieGroupName"
                    [placeholder]="'EnterGroupName' | otTranslate"
                />
            </div>
             <!-- Group Id -->
             <div
                *ngIf="'CookieCustomGroupId' | otPermit"
                otFormElement
                class="margin-top-2"
                [label]="'CustomGroupId' | otTranslate"
                [hasError]="!groupForm.get('customGroupId').valid && groupForm.get('customGroupId').dirty"
            >
                <input
                    class="full-width"
                    otInput
                    name="customGroupId"
                    [formControlName]="'customGroupId'"
                    ot-auto-id="CookieCustomGroupId"
                    [placeholder]="'EnterCustomGroupId' | otTranslate"
                />
            </div>
            <!-- Group description -->
            <div otFormElement
                class="margin-top-2"
                [label]="'Description' | otTranslate"
                [required]="!modalData.isSubgroup"
            >
                <textarea
                    otTextarea
                    name="description"
                    [formControlName]="'description'"
                    [attr.rows]="'5'"
                    [placeholder]="'EnterGroupDescription' | otTranslate"
                    ot-auto-id="CookieGroupDescription"
                ></textarea>
            </div>
            <!-- DNT toggle -->
            <div otFormElement
                *ngIf="canShowDNTOption"
                class="margin-top-2"
                [label]="'DoNotTrack' | otTranslate"
            >
                <switch-toggle
                    [identifier]="'CookieGroupDNTToggle'"
                    [isDisabled]="modalData?.purposeGroupId === purposeGroupId.TargettingCookies"
                    [toggleState]="groupForm.get('isDntEnabled').value"
                    (callback)="groupForm.get('isDntEnabled').setValue(!groupForm.get('isDntEnabled').value)"
                ></switch-toggle>
            </div>
        </div>
        <footer class="margin-top-bottom-2 row-flex-end static-vertical">
            <button
                otButton
                neutral
                class="margin-right-1"
                [disabled]="!groupForm.valid"
                [loading]="saveInProgress"
                [innerText]="modalData?.isNewGroup ? ('Create' | otTranslate) : ('Update' | otTranslate)"
                ot-auto-id="CookieGroupModalSubmit"
                (click)="submitModal()"
            ></button>
        </footer>
    </form>
</one-modal-base>
