.one-searchable-dropdown {
    position: relative;

    &__input {
        border: 1px solid $grey-3;
        border-radius: 2px;
        color: $slate;
        height: 3.6rem;
        display: block;
        width: 100%;
    }

    &__button {
        &:focus {
            outline: none;
        }

        &-icon {
            font-size: 75%;
        }
    }

    &__list {
        display: none;
        position: absolute;
        left: 0;
        z-index: 1000;
        min-width: 15rem;
        max-height: 20rem;
        overflow-y: auto;
        margin: 0.5rem 0 0;
        padding: 0;
        background: $white;
        border: 1px solid $grey-3;
        border-radius: 0.2rem;
        list-style: none;
        font-size: 1.4rem;

        &:hover {
            -ms-overflow-style: auto;
        }

        &--right {
            right: 0;
            left: inherit;
        }

        .open & {
            display: block;
        }
    }
    
    &__item {
        display: block;
        padding: 0.8rem 1.6rem;
        clear: both;
        font-weight: normal;
        color: $slate;
        white-space: nowrap;
        cursor: pointer;
        overflow-x: hidden;
        width: 100%;

        &:focus,
        &:hover {
            background-color: $grey-3;
            color: darken($slate, 25%);
            text-decoration: none;
        }
        &.selected {
            background-color: $ui-blue;
            color: $white;
            text-decoration: none;

            &:focus,
            &:hover {
                background-color: lighten($ui-blue, 10%) !important;
                color: $white !important;
                text-decoration: none;
            }
        }
    }

    &__tooltip {
        &--offset-left {
            margin-left: 1.5rem;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 1.4rem;
        transform: translateY(-50%);
        pointer-events: none;
    }
}
