.modal.upgrade-modal
    script(type='text/ng-template', id='UpgradeModal.html')

        .modal-body.upgrade-modal__body
            .upgrade-modal__container

                loading(ng-if='loading', loading-class="upgrade-modal__loading", show-text="false")

                button.upgrade-modal__back-link.text-medium.rem(ng-if="returnView", ng-click="changeView(returnView)")
                    span.ot.ot-angle-left.padding-right-half
                    span(ng-bind="$root.t('Back')")

                button.upgrade-modal__close-btn(ng-click="cancel()")
                    span.ot.ot-times

                section.text-center(ng-if="currentViewIs(upgradeViews.Message)")
                    .upgrade-modal__icon-container
                        i.upgrade-modal__icon.fa.fa-arrow-up
                    h3.heading3(ng-if='Options.isFeatureRequest')
                        | {{::$root.t("FeatureAvailableInPremium")}}
                    h3.heading3(ng-if='!Options.isFeatureRequest')
                        | {{::$root.t("PremiumFeatures")}}
                    p.upgrade-modal__text(ng-if='Options.isFeatureRequest')
                        | {{::$root.t("WouldYouLikeToUpgradeNow")}}
                    .upgrade-modal__features(ng-if='!Options.isFeatureRequest', ng-bind-html='UpgradeModalFeatureList')
                    .upgrade-modal__submit.text-center.padding-bottom-2.border-bottom(ng-if="UpgradeModalSalesLink")
                        one-anchor-button(
                            anchor-link="{{::UpgradeModalSalesLink}}"
                            identifier="UpgradeModalSalesLink"
                            is-rounded="true"
                            new-tab="true"
                            text-key="BuyNow"
                            type="primary",
                        )
                    .upgrade-modal__submit.text-center
                        p.text-medium(ng-if='UpgradeModalSalesLink && !Options.isFeatureRequest')
                            | {{::$root.t("ContactOneTrustToEnablePremium")}}
                        one-button(
                            button-click="changeView(upgradeViews.Form, upgradeViews.Message)",
                            button-class="{{ UpgradeModalSalesLink ? 'one-button--small' : '' }}"
                            identifier="UpgradeModalContactSalesButton"
                            is-rounded="true"
                            text="{{::$root.t('ContactSales')}}"
                            type="{{ !UpgradeModalSalesLink ? 'primary' : '' }}",
                        )

                section.text-center(ng-if="currentViewIs(upgradeViews.Video)")
                    downgrade-one-video.upgrade-modal__video.block.margin-top-bottom-2(url="{{Options.video}}")
                    h3.upgrade-modal__title.upgrade-modal__title--video(ng-if='Options.isFeatureRequest')
                        | {{::$root.t("FeatureAvailableInPremium")}}
                    h3.upgrade-modal__title.upgrade-modal__title--video(ng-if='!Options.isFeatureRequest')
                        | {{::$root.t("UpgradePremiumForFullAccess")}}
                    p.upgrade-modal__text
                        | {{::$root.t("WouldYouLikeToUpgradeNow")}}
                    .upgrade-modal__submit.text-center
                        one-button(
                            type='primary',
                            is-rounded="true"
                            button-click="changeView(upgradeViews.Form)",
                            text='{{::$root.t("ContactSales")}}'
                        )

                // Upgrade Form
                section.text-center(ng-if='currentViewIs(upgradeViews.Form) && !loading')
                    .upgrade-modal__icon-container
                        i.upgrade-modal__icon.fa.fa-arrow-up
                    div(ng-if="::!customModalOptions")
                        h3.upgrade-modal__title {{::$root.t("GetInTouchWithSalesRepresentative")}}
                    div(ng-if="::customModalOptions")
                        h3.upgrade-modal__title--thanks.padding-bottom-1 {{::customModalTitle}}
                        p.padding-bottom-1.border-bottom(ng-if="::customModalBodyText") {{::customModalBodyText}}
                    form.upgrade-modal__form(role='form', name='upgradeInfo', novalidate)
                        .upgrade-modal__group
                            label.upgrade-modal__label
                                | {{::$root.t("FirstName")}}
                                span.required *
                            input.upgrade-modal__input.one-input(
                                type='text',
                                placeholder='{{::$root.t("EnterYourFirstName")}}',
                                name='firstName',
                                ng-model='upgradeForm.firstName',
                                ng-required='true'
                            )
                        p.upgrade-modal__error(ng-if='errors.firstName && upgradeInfo.firstName.$invalid')
                            | {{::$root.t("PleaseEnterYourFirstName")}}
                        .upgrade-modal__group
                            label.upgrade-modal__label
                                | {{::$root.t("LastName")}}
                                span.required *
                            input.upgrade-modal__input.one-input(
                                type='text',
                                placeholder='{{::$root.t("EnterYourLastName")}}',
                                name='lastName',
                                ng-model='upgradeForm.lastName',
                                ng-required='true'
                            )
                        p.upgrade-modal__error(ng-if='errors.lastName && upgradeInfo.lastName.$invalid')
                            | {{::$root.t("PleaseEnterYourLastName")}}
                        .upgrade-modal__group
                            label.upgrade-modal__label
                                | {{::$root.t("EmailAddress")}}
                                span.required *
                            input.upgrade-modal__input.one-input(
                                type='email',
                                placeholder='{{::$root.t("EnterEmailAddress")}}',
                                name='email',
                                ng-model='upgradeForm.email',
                                ng-required='true'
                            )
                        p.upgrade-modal__error(ng-if='errors.email && upgradeInfo.email.$invalid')
                            | {{::$root.t("ErrorEnterValidEmailAddress")}}
                        .upgrade-modal__group
                            label.upgrade-modal__label
                                | {{::$root.t("PhoneNumber")}}
                            input.upgrade-modal__input.one-input(
                                type='tel',
                                placeholder='{{::$root.t("EnterPhoneNumberOptional")}}',
                                name='phone',
                                ng-model='upgradeForm.phone'
                            )
                        .upgrade-modal__submit.text-center
                            one-button(
                                button-click="sendUpgradeForm(upgradeInfo)",
                                is-rounded="true"
                                text='{{::$root.t("Submit")}}'
                                type="primary",
                            )

                // Success Message
                section.text-center(ng-if='currentViewIs(upgradeViews.Submitted)')
                    .upgrade-modal__icon-container
                        i.upgrade-modal__icon.fa.fa-arrow-up
                    h3.upgrade-modal__title.upgrade-modal__title--thanks
                        | {{::$root.t("ThankYou")}}
                    p.upgrade-modal__text
                        | {{::$root.t("RequestSentSalesTeamWillContact")}}
                    .upgrade-modal__submit.text-center
