.modal.video-modal
    script(type='text/ng-template', id='VideoModal.html')

        .modal-header.video-modal__header
            h3.modal-title.align-left
                | {{title}}
            h3.modal-title.align-right(ng-click='cancel()')
                span.ot.ot-times
        .modal-body.video-modal__body
            section.video-modal__video-container
                downgrade-one-video.video-modal__video(video-id="{{videoId}}")
