<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="max-height-35 overflow-x-hidden">
    <div class="column-horizontal-vertical-center padding-left-right-2 padding-bottom-4 overflow-hidden">
        <div
            otFormElement
            class="full-width"
            [label]="('Approver' | otTranslate) + ':'"
            >
            <ot-org-user
                ot-auto-id="DSARAssignModalUserDropDown"
                [model]="reviewerToSubmit"
                [orgId]="requestOrgId"
                [allowEmail]="true"
                [traversal]="orgUserTraversal.Up"
                (onSelect)="assigneeSelected($event.selection, $event.valid)"
                >
            </ot-org-user>
        </div>
        <div
            otFormElement
            class="full-width margin-top-2"
            [label]="('Comment' | otTranslate) + ':'"
            >
            <ot-rich-text-editor
                class="block full-width margin-bottom-1 flex-full-height max-height-20"
                ot-auto-id="DSARAssignModalTextEditor"
                [contentModel]="comment"
                [placeholder]="'EnterTextHere' | otTranslate"
                [editorClass]="'request-queue-detail-messaging__quill-editor height-auto background-white flex-full-height stretch-vertical'"
                [customModules]="customModules"
                (onContentChanged)="handleMessageChange($event.html)"
            ></ot-rich-text-editor>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="DSARAssignModalCancelButton"
        [disabled]="saveInProgress"
        (click)="closeModal()"
        >
        {{ otModalData.cancelButtonText }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="DSARAssignModalSaveButton"
        [loading]="saveInProgress"
        [disabled]="!canSubmit || saveInProgress"
        (click)="handleSubmit()"
        >
        {{ otModalData.submitButtonText }}
    </button>
</ot-modal-footer>
