.one-org-input {
    width: auto;
    min-width: 150px;
    margin: 0px;
    height: 3.8rem;
    cursor: default;
    width: 100%;
    min-width: 150px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 6px 12px;
    background-color: $white;
    color: $slate;
    border: 1px solid $grey-3;
    border-radius: 2px;
    font-size: 1.5rem;
    line-height: 1.42857143;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

    &__text {
        width: 100%;
        cursor: pointer;
        border-right: solid 1px rgba(255, 255, 255, 0.5);
    }

    .one-org-dropdown__list {
        top: 3.8rem;
    }
}