<ot-modal-header class="padding-left-right-2 padding-top-2" (close)="closeModal()">
    <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold padding-left-right-2">
        {{modalTitle}}
    </h4>
</ot-modal-header>
<ot-modal-content class="flex-full-height overflow-x-hidden padding-left-right-2">
    <section class="padding-bottom-2 margin-bottom-5">
        <template-rule
            [allowedActions]="allowedActions"
            [actionId]="templateActionRule.id"
            [mode]="mode"
            [editAction]="false"
            [deleteAction]="false"
        >
        </template-rule>
    </section>
</ot-modal-content>
<ot-modal-footer class="padding-right-2 padding-bottom-2">
    <button otButton neutral
        ot-auto-id="TemplateRuleModalCancel"
        class="'margin-right-1 no-outline'"
        (click)="closeModal()"
    >  {{'Cancel' | otTranslate}}
    </button>
    <button otButton brand
        ot-auto-id="TemplateRuleModalSave"
        class="'no-outline'"
        [loading]="isSaving"
        [disabled]="isSaving || invalidRule"
        (click)="saveRule()"
    >  {{'Save' | otTranslate}}
    </button>
</ot-modal-footer>
