<div class="slds-button-group">
    <button
        otButton
        neutral
        class="slds-truncate"
        type="button"
        [ngClass]="buttonClass"
        [select]="primaryButtonActive"
        [innerText]="leftButtonText"
        [attr.ot-auto-id]="'OneButtonToggleLeft'"
        (click)="toggleButtons('primary')"
        >
    </button>
    <button
        otButton
        neutral
        class="slds-truncate"
        type="button"
        [ngClass]="buttonClass"
        [select]="!primaryButtonActive"
        [innerText]="rightButtonText"
        [attr.ot-auto-id]="'OneButtonToggleRight'"
        (click)="toggleButtons('secondary')"
        >
    </button>
</div>