<one-modal-base
    [identifier]="'TemplateQuestionEditModalCloseButton'"
    [modalTitle]="'QuestionBuilder' | otTranslate"
    (close)="closeModal()"
>
    <!-- Modal Content here-->
    <section class="template-question-builder-modal flex-full-height full-width padding-left-right-2">
        <div class="row-nowrap template-question-builder-modal__content height-100">
            <div class="template-question-builder-modal__left-panel margin-right-2 margin-top-2 width-35-percent overflow-y-auto border-right">
                <div
                    class="template-question-builder-modal__question-type padding-all-2"
                    [ngClass]="{ 'border-bottom': hasQuestionConfiguration || hasResponseConfiguration }"
                    >
                    <div otFormElement
                        [label]="'QuestionType' | otTranslate"
                    >
                        <ot-picklist
                            class="margin-right-1"
                            [attr.ot-auto-id]="'TemplateQuestionBuilderModalQuestionTypeSelect'"
                            [placeholder]="'SelectQuestion' | otTranslate"
                            [autoClose]="true"
                            [options]="questionTypeOptions"
                            [valueKey]="'value'"
                            [labelKey]="'label'"
                            [disabled]="isQuestionTypeDisabled()"
                            [model]="selectedQuestionType"
                            (onSelect)="handleQuestionTypeChanges($event)">
                        </ot-picklist>
                    </div>
                </div>
                <question-configuration
                    *ngIf="hasQuestionConfiguration"
                    [question]="question"
                    [selectedQuestionType]="selectedQuestionType"
                    [templateEditMode]="templateEditMode"
                    [questionIdExists]="questionIdExists"
                    [parentQuestionId]="question.parentQuestionId"
                    (handleQuestionConfigurationToggleState)="onQuestionConfigurationToggle($event)"
                    (selectedInventory)="selectedInventoryType = $event"
                    (handleAttributeQuestionChange)="onAttributeQuestionChange($event)"
                ></question-configuration>
                <response-configuration
                    *ngIf="hasResponseConfiguration"
                    [selectedQuestionType]="selectedQuestionType"
                    [questionAttributes]="question.attributeJson"
                    [sourceInventoryQuestion]="question.sourceInventoryQuestion"
                    [templateEditMode]="templateEditMode"
                    [questionIdExists]="questionIdExists"
                    (handleResponseConfigurationToggleState)="onResponseConfigurationToggle($event)"
                    (handleDisplayAnswerAsChange)="onDisplayAnswerAsChange($event)"
                ></response-configuration>
            </div>
            <div
                #scrollContainer
                class="width-65-percent margin-top-2 column-nowrap">
                <div class="template-question-builder-modal__build-preview flex align-self-center align-center">
                    <one-button-toggle
                        [leftButtonText]="'Build' | otTranslate"
                        [rightButtonText]="'Preview' | otTranslate"
                        [primaryButtonActive]="isQuestionBuildEnabled || isQuestionPreviewEnabled"
                        (toggle)="onBuildPreviewtoggle()"
                    ></one-button-toggle>
                </div>
                <question-build
                    class="template-question-builder-modal__question-build overflow-y-auto"
                    [question]="question"
                    [selectedQuestionType]="selectedQuestionType"
                    [isQuestionBuildEnabled]="isQuestionBuildEnabled"
                    [templateEditMode]="templateEditMode"
                    [isQuestionPreviewEnabled]="isQuestionPreviewEnabled"
                    (questionChange)="changeQuestion($event)"
                ></question-build>
            </div>
        </div>
    </section>
    <footer class="height-25-percent margin-top-bottom-2 margin-right-2 row-flex-end static-vertical">
        <button otButton neutral
            class="centered-12 margin-right-1 no-outline border-none"
            [attr.ot-auto-id]="'TemplateQuestionEditModalCancelButton'"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button otButton neutral
            *ngIf = "!questionIdExists"
            class="margin-right-1"
            [attr.ot-auto-id]="'TemplateQuestionEditModalSaveAndAddNewButton'"
            [innerText]="'SaveAndAddNew' | otTranslate"
            [disabled]="saveAndAddInProgress || isSaveQuestionsDisabled()"
            [loading]="savaAndAddInProgress"
            (click)="saveAndAddNewQuestion()"
        ></button>
        <button otButton brand
            class="centered-12 no-outline"
            [attr.ot-auto-id]="'TemplateQuestionEditModalSaveButton'"
            [loading]="saveInProgress"
            [disabled]="saveAndAddInProgress || isSaveQuestionsDisabled()"
            [innerText]="'Save' | otTranslate"
            (click)="saveQuestion()"
        ></button>
    </footer>
</one-modal-base>
