.template-question-builder-modal {
    height: 70vh;
    
    &__question-type {
        background-color: $paper-gray;
    }
    &__build-preview {
        height: 20%;
        .slds-button.slds-button_select {
            border-radius: 0;
        }
    }
    &__question-build {
        height: 80%;
    }
}

.question-builder-modal {
    .modal-dialog {
        width: auto;
    }
}


