&-report {
    color: $slate;

    &__header {

        &-btn {
            @include button;
            min-width: 11rem;
        }

        loading {
            height: auto;

            i {
                margin: 0;
            }
        }
    }

    &__item {
        border-bottom: 1px solid $grey-3;
    }

    .tag {
        display: inline-block;
        margin-left: .6rem;
        padding: 0rem 0.6rem;
    }

    &__section {
        width: 100%;
        padding: 1rem;
        background: 0;
        border: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            background-color: $paper-gray;
        }

        &.is-active {
            background-color: $slate;
            color: $white;

            &:hover {
                background-color: $slate;
            }
        }

        &-name {
            text-align: left;
        }

        &-risk {
            font-size: 1.4rem;
            margin-right: .8rem;

            &.no-risk {
                color: $green;
            }

            &.no-answer {
                color: $grey-3;
            }

            &.low {
                color: $cyan;
            }

            &.medium {
                color: $light-orange;
            }

            &.high {
                color: $light-red;
            }

            &.very-high {
                color: $dark-red;
            }
        }

        &-readiness {
            border-left: 1px solid $grey-3;
            padding-left: 1rem;
            margin-left: auto;
            min-width: 11rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &-check {
            color: $green;
        }

        &-x {
            color: $grey-3;
        }

        &-arrow {
            margin-left: 1rem;
        }
    }

    &__questions {
        padding: 0 2rem;
        background-color: $paper-gray;
    }

    &__key {
        flex: 0 0 auto;
        background-color: $white;
        border: 1px solid $grey-1;
        border-bottom-width: 2px;
        border-top: 0;
        padding: 1.4rem 2rem;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;

        &-item {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 1.4rem;

            &:last-child {
                margin-right: 0;
            }

            @media (min-width: 600px) {
                flex: 0 0 auto;
                margin-right: 3.6rem;
                flex-flow: row nowrap;
            }
        }

        &-icon {
            @media (min-width: 600px) {
                margin-right: 0.6rem;
            }

            &.none {
                color: $green;
            }
            &.low {
                color: $cyan;
            }
            &.medium {
                color: $light-orange;
            }
            &.high {
                color: $light-red;
            }
            &.very-high {
                color: $dark-red;
            }
            &.unanswered {
                color: $grey-3;
            }
        }

        &-text {
            font-weight: normal;
            font-size: 1.2rem;
            margin: 0;
            text-align: center;

            @media (min-width: 600px) {
                text-align: left;
            }
        }
    }

    &__table {
        table-layout: fixed;
        min-width: 100%;

        &-wrapper {
            width: 100%;
            border: 1px solid $grey-1;
            border-top: 0;
            margin-bottom: 2rem;
            overflow-x: auto;
        }

        &-header-cell,
        &-body-cell {
            padding: 0.6rem 2rem;
            width: 10rem;
            text-align: center;

            &--long,
            &--center-single {
                width: 30rem;
            }
        }

        &-header {

            &-row {
                background-color: $paper-gray;
            }
        }

        &-body {

            &-row {
                border-top: 1px solid $grey-1;
                background-color: $white;
            }

            &-cell {

                &--long {
                    text-align: left;
                }

                &--center-single {
                    text-align-last: center;
                }
            }

            .placeholder {
                font-size: 1.6rem;
                font-weight: bold;
                color: $grey-3;
                display: block;
                text-align: center;
            }
        }

        .readiness-report__section-risk {
            margin: 0;
        }
    }
}
