&-report {
    color: $slate;

    loading {
        height: calc(100vh - 5rem);
        display: block;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    &__header {
        flex: 0 0 5rem;

        &-button {
            border: 0;
            background: 0;
            border-radius: 2px;
            white-space: nowrap;
            border: 1px solid #CBCBCB;
            background-color: $white;
            color: $slate;
            padding: 0.8rem 1.8rem;
            margin-right: 1rem;
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
    }

    &__list {
        margin: 0;
    }
}
