.one-background-message {

    &--row {
        user-select: none;
        cursor: default;
        justify-content: center;
        margin: 1rem auto;
        font-size: 3rem;
        color: #ccc;
        position: relative;
        top: 100px;
    }

    &--row-styled {
        color: $slate;
        font-size: 1.4rem;
    }
}
