<ot-modal-header (close)="closeModal()">
    <div>{{ 'PrivacyNoticePublished' | otTranslate }}</div>
</ot-modal-header>

<ot-modal-content>
    <ot-confirm-modal-icon
        [type]="type"
    ></ot-confirm-modal-icon>

    <p class="margin-left-right-auto text-center">
        {{ "PrivacyNoticePublishDescription" | otTranslate }}
    </p>
</ot-modal-content>

<ot-modal-footer>
    <button otButton brand
        ot-auto-id="PrivacyNoticePublishScriptCloseButton"
        (click)="closeModal()"
    >
        {{ 'Close' | otTranslate }}
    </button>
</ot-modal-footer>
