<div otFormElement>
    <aa-invalid-response
        *ngIf="invalidResponses?.length"
        [question]="question"
        [responses]="invalidResponses"
        [valueKey]="'optionDisplay'"
        [wrapperClass]="'margin-bottom-1'"
    ></aa-invalid-response>
    <p
        *ngIf="applySingleSelectOtherInputStyle"
        class="color-admiral-blue text-xsmall text-bold margin-bottom-half"
    >
        <i class="ot ot-star"></i>
        <span>{{"OtherSelection" | otTranslate}}</span>
    </p>
    <ot-lookup
        [ngClass]="{
            'aa__question-single-select': applySingleSelectInputStyle,
            'aa__question-single-select--other': applySingleSelectOtherInputStyle,
            'aa__question-single-select--invalid': applySingleSelectInvalidInputStyle
        }"
        [attr.ot-auto-id]="'AssessmentQuestionDetail_Inventory'"
        [allowCustomOtherPill]="true"
        [allowInvalidPill]="true"
        [allowHint]="allowHint"
        [autoClose]="true"
        [clearInputOnModelChange]="true"
        [customOtherPillKey]="'optionType'"
        [customOtherPillValue]="'OTHERS'"
        [disabled]="disabled"
        [loading]="(loading$ | async)"
        [hintKey]="'hint'"
        [hintPosition]="'left'"
        [labelKey]="labelKey"
        [model]="(multiSelect ? responses : response)"
        [multiSelect]="multiSelect"
        [options]="(filteredOptions$ | async)"
        [placeholder]="placeholder"
        [useInputDebouncer]="true"
        [valueKey]="'id'"
        [validPillKey]="validPillKey"
        [virtualScroll]="true"
        (inputChange)="onInputChange($event)"
        (modelChange)="onModelChange($event)"
        (firstOptionSelect)="addOtherOption()"
    >
        <ng-template otFirstOption *ngIf="allowOther && showAllowOtherOption">
            <span
                id="listbox-option-unique-id-00"
                role="option"
                [attr.ot-auto-id]="'AssessmentQuestionDetail_InventoryOtherOption'">
                <ng-container *ngIf="showAllowOtherOption">
                    {{allowOtherPrependText | otTranslate}}: {{allowOtherOptionValue}}
                </ng-container>
            </span>
        </ng-template>
    </ot-lookup>
    <p
        *ngIf="showError"
        class="text-error text-small"
        id="listbox-text-error"
    >
        <ng-container>
            {{errorText | otTranslate}}
        </ng-container>
    </p>
</div>
