<one-modal-base
    class="flex-full-height"
    [modalTitle]="'AddTemplate' | otTranslate"
    (close)="closeModal()"
    >
    <form
        novalidate
        class="max-width-full margin-all-0 full-width padding-all-2 flex-full-height"
        [formGroup]="templateForm"
    >
        <div class="padding-all-1 overflow-y-auto">
            <div otFormElement
                class="padding-bottom-2"
                [label]="'Template' | otTranslate"
                [required]="true"
            >
                <ot-picklist
                    [attr.ot-auto-id]="'SSPBaseTemplatePicklist'"
                    [placeholder]="templatePlaceHolder"
                    [autoClose]="true"
                    [disabled]="disableTemplateDropdown"
                    [options]="templateOptions"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    [valueKey]="'id'"
                    [labelKey]="'name'"
                    [model]="templateForm.get('template').value"
                    (onSelect)="templateForm.get('template').setValue($event)"
                ></ot-picklist>
            </div>

            <div class="border-bottom padding-bottom-1">
                <div
                    otFormElement
                    class="row-space-between line-height-1 text-medium-small"
                    [label]="'EnableDirectLaunch' | otTranslate"
                >
                    <ot-toggle
                        [checked]="templateForm.get('directLaunch').value"
                        [attr.ot-auto-id]="'SSPAddTemplateDirectLaunchToggle'"
                        (toggle)="onDirectLaunchToggle($event)"
                    >
                    </ot-toggle>
                </div>
                <div
                    class="color-slate max-width-70-percent text-small"
                    [innerText]="'SspDirectLaunchMessage' | otTranslate"
                ></div>
            </div>

            <div
                class="border-bottom padding-top-bottom-1"
                *ngIf="!templateForm.get('directLaunch').value"
            >
                <div
                    otFormElement
                    class="row-space-between line-height-1 text-medium-small"
                    [label]="'SspAllowUserSelectRespondent' | otTranslate"
                >
                    <ot-toggle
                        [checked]="templateForm.get('respondent').value"
                        [attr.ot-auto-id]="'SSPAddTemplateRespondentToggle'"
                        (toggle)="templateForm.get('respondent').setValue($event)"
                    >
                    </ot-toggle>
                </div>
                <div
                    class="color-slate max-width-70-percent text-small"
                    [innerText]="'SspSelectRespondentMessage' | otTranslate"
                ></div>
            </div>

            <div
                class="border-bottom padding-top-bottom-1"
                *ngIf="!templateForm.get('directLaunch').value"
            >
                <div
                    otFormElement
                    class="row-space-between line-height-1 text-medium-small"
                    [label]="'SspAllowUserSelectApprover' | otTranslate"
                >
                    <ot-toggle
                        [checked]="templateForm.get('approver').value"
                        [attr.ot-auto-id]="'SSPAddTemplateApproverToggle'"
                        (toggle)="templateForm.get('approver').setValue($event)"
                    >
                    </ot-toggle>
                </div>
                <div
                    class="color-slate max-width-70-percent text-small"
                    [innerText]="'SspSelectApproverMessage' | otTranslate"
                ></div>
            </div>

            <div
                class="border-bottom padding-top-bottom-1"
                *ngIf="!templateForm.get('directLaunch').value"
            >
                <div
                    otFormElement
                    class="row-space-between line-height-1 text-medium-small"
                    [label]="'SspAllowUserSelectOrganization' | otTranslate"
                >
                    <ot-toggle
                        [checked]="templateForm.get('organization').value"
                        [attr.ot-auto-id]="'SSPAddTemplateOrganizationToggle'"
                        (toggle)="templateForm.get('organization').setValue($event)"
                    >
                    </ot-toggle>
                </div>
                <div
                    class="color-slate max-width-70-percent text-small"
                    [innerText]="'SspSelectOrganizationMessage' | otTranslate"
                ></div>
            </div>
        </div>

        <footer class="static-vertical row-flex-end margin-top-2">
            <button
                class="margin-right-1"
                type="button"
                otButton
                neutral
                [innerText]="'Cancel' | otTranslate"
                [attr.ot-auto-id]="'SSPAddTemplateCancelButton'"
                (click)="closeModal()"
            >
            </button>
            <button
                otButton
                neutral
                type="button"
                [disabled]="!templateForm.valid || saveInProgress || saveAndAddInProgress"
                [loading]="saveAndAddInProgress"
                [innerText]="'SaveAndAddNew' | otTranslate"
                [attr.ot-auto-id]="'SSPAddTemplateSaveAndAddAnotherButton'"
                (click)="submitChanges(true)"
            >
            </button>
            <button
                otButton
                brand
                type="button"
                [disabled]="!templateForm.valid || saveAndAddInProgress || saveInProgress"
                [loading]="saveInProgress"
                [innerText]="'Add' | otTranslate"
                [attr.ot-auto-id]="'SSPAddTemplateAddButton'"
                (click)="submitChanges(false)"
            >
            </button>
        </footer>
    </form>
</one-modal-base>
