<div
    class="flex-full-height height-100 flex-full-height"
    *ngIf="pdfReportService.reportState$ | async as state"
    >
    <ng-container *ngIf="!state.isLoadingReport; else loading">
        <ot-page-header
            class="height-49"
            [title]="'PDFBuilder' | otTranslate"
            >
            <ot-breadcrumb (routeClicked)="goToReportList($event)">
                <ot-breadcrumb-item
                    ot-auto-id="PDFReportBreadcrumbItem"
                    [label]="'Reports' | otTranslate"
                    [link]="'zen.app.pia.module.reports-new.list'"
                    >
                </ot-breadcrumb-item>
                <ot-breadcrumb-item
                    ot-auto-id="PDFReportBreadcrumbItem"
                    [label]="(pdfReportService.reportView$ | async).reportName"
                >
                </ot-breadcrumb-item>
            </ot-breadcrumb>
            <div>
                <button otButton brand
                    *ngIf="'ReportsExportNew' | otPermit"
                    ot-auto-id="ReportExport"
                    [innerText]="'Export' | otTranslate"
                    [disabled]="state.isSaving"
                    (click)="exportReport()"
                    >
                </button>
                <button otButton neutral
                    *ngIf="('ReportsEdit' | otPermit) || ('ReportsExportNew' | otPermit)"
                    ot-auto-id="SaveReport"
                    [innerText]="'Save' | otTranslate"
                    [disabled]="state.isSaving || !state.hasChanges"
                    [loading]="state.isSaving"
                    (click)="saveReport()"
                    >
                </button>
            </div>
        </ot-page-header>
        <section
            *ngIf="('ReportsEdit' | otPermit) || ('ReportsExportNew' | otPermit)"
            class="row-vertical-center static-vertical padding-left-right-2 padding-top-bottom-1 border-bottom background-grey">
            <label
                class="inline-block margin-right-1 margin-bottom-0"
                [innerText]="selectionLabels[state.moduleType] | otTranslate"
                >
            </label>
            <ot-lookup
                class="min-width-30"
                ot-auto-id="PDFReportProcessSelect"
                labelKey="label"
                valueKey="id"
                [placeholder]="'Select' | otTranslate"
                [options]="state.options"
                [model]="state.selectedOption"
                [virtualScroll]="true"
                (modelChange)="select($event)"
                (inputChange)="search($event)"
                >
                <ng-template otOption let-option>
                    <span
                        class="padding-right-1 pdf-report__entity block overflow-ellipsis-nowrap"
                        [deprecatedOtTooltip]="option.label"
                        position="right"
                        delay="300"
                        >
                        {{option.label}}
                    </span>
                </ng-template>
            </ot-lookup>
        </section>
        <ot-tabs
            class="padding-top-2 paragraph-medium shadow-header"
            [tabs]="tabs"
            [selectedTab]="currentTab"
            >
            <a
                *otTabItem="let tab"
                (click)="onTabClick(tab)"
                >
                {{tab.text}}
            </a>
        </ot-tabs>
        <pdf-details
            class="flex-full-height overflow-y-auto"
            *ngIf="currentTab === tabIds.Details"
            >
        </pdf-details>
        <pdf-settings
            class="flex-full-height"
            *ngIf="currentTab === tabIds.Settings"
            >
        </pdf-settings>
        <pdf-builder
            class="flex-full-height overflow-y-auto padding-top-bottom-2"
            *ngIf="currentTab === tabIds.PDFBuilder"
            >
        </pdf-builder>
    </ng-container>
    <ng-template #loading>
        <ot-loading otPageLoading class="flex-full-height"></ot-loading>
    </ng-template>
</div>
