<ot-loading otPageLoading
    *ngIf="isLoading; else showCountOfRisksForm"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<ng-template #showCountOfRisksForm>
    <div>
        <p class="text-bold padding-top-bottom-1">{{'RiskFormula' | otTranslate}}</p>
        <p class="padding-bottom-1">{{ riskSettingsTranslationKeys.RiskFormulaDescription | otTranslate}}</p>
        <count-risks-formula
            [riskLevels]="riskLevels"
            [riskLevelActionParams]="riskLevelActionParams"
            [riskLevel]="riskSettingsTranslationKeys.RiskLevel"
            [templateForm]="templateForm"
            [defaultRiskRuleEntry]="defaultRiskRuleEntry"
        ></count-risks-formula>
    </div>
</ng-template>
