<ot-drawer
    class="padding-top-1 z-index-999 overflow-y-auto"
    [open]="isDrawerOpen"
    >
    <div class="text-bold">
        <button otButton
            class="background-none border-none remove-anchor-style padding-0"
            [attr.ot-auto-id]="'PreferenceCenterFilterToggleButton'"
            (click)="toggleDrawer.emit()"
            >
            <i class="ot ot-arrow-circle-o-right margin-right-1 cursor-pointer"></i>
            {{ "Close" | otTranslate }}
        </button>
    </div>
    <section class="cr-version-list max-width-40">
        <h4 class="cr-version-list__title margin-all-0 text-uppercase text-bold text-center text-medium-small"> {{ "VersionHistory" | otTranslate }} </h4>
        <ul
            class="margin-all-0"
            *ngFor="let item of versionList; trackBy: trackByFn"
            >
            <li
                class="cr-version-list__item"
                ng-class="'is-current-version': item.Version === purpose.Version"
                >
                <header
                    class="cr-version-list__tab padding-all-1 row-nowrap align-center"
                    [attr.title]="item.Label"
                    (click)="goToVersion.emit(item.Version)"
                    >
                    <section class="stretch-horizontal overflow-ellipsis-nowrap">
                        <span class="cr-version-list__label media-middle">
                            {{ item.Label }}
                        </span>
                        <div class="margin-top-half">
                            <span [otBadge]="item.Status | consentStatusColor">
                                {{ item.Status | consentTranslateStatus: crConstants.CRPurposeStatus }}
                            </span>
                            <span [otBadge]>{{ item.Version | consentVersionLabel }}</span>
                            <i
                                *ngIf="canDeleteVersion && item.Status === crConstants.CRPurposeStatus.Draft"
                                class="cr-version-list__delete margin-left-1 fa fa-trash-o"
                                tooltip-placement="right"
                                tooltip-trigger="mouseenter"
                                (click)="deleteVersion.emit(item.Version); $event.stopPropagation();"
                            ></i>
                            <span
                                *ngIf="item.Status !== crConstants.CRPurposeStatus.Draft"
                                class="cr-version-list__date block margin-top-half"
                                >
                                <span class="text-bold">
                                    {{ ("PublishedDate" | otTranslate) + ": " }}
                                </span>
                                <span>{{ item.UpdatedDate ? (item.UpdatedDate | otDate:'datetime') : "- - - -" }}</span>
                            </span>
                            <span
                                *ngIf="item.Status === crConstants.CRPurposeStatus.Draft"
                                class="cr-version-list__date block margin-top-half"
                                >
                                <span class="text-bold">
                                    {{ ("UpdatedDate" | otTranslate) + ": " }}
                                </span>
                                <span>{{ item.UpdatedDate ? (item.UpdatedDate | otDate:'datetime') : "- - - -" }}</span>
                            </span>
                        </div>
                    </section>
                    <button
                        class="cr-version-list__toggle margin-top-1"
                        (click)="toggleItem(item); $event.stopPropagation();"
                        >
                        <i [ngClass]="'fa fa-caret-' + (item.IsExpanded ? 'down' : 'right')"></i>
                    </button>
                </header>
                <section
                    class="cr-version-list__details"
                    *ngIf="item.IsExpanded"
                    >
                    <span
                        *ngIf="item.CreatedBy"
                        class="cr-version-list__date"
                        >
                        <span class="cr-version-list text-bold">{{ "CreatedBy" | otTranslate }}: </span>
                            {{ item.CreatedBy }}
                    </span>
                    <span
                        *ngIf="item.CreatedDate"
                        class="cr-version-list__date"
                        >
                        <span class="cr-version-list text-bold">{{ "CreatedDate" | otTranslate }}: </span>
                        <span>{{ item.CreatedDate | otDate:'datetime' }}</span>
                    </span>
                    <span
                        *ngIf="item.UpdatedBy"
                        class="cr-version-list__date"
                        >
                        <div *ngIf="item.Status !== crConstants.CRPurposeStatus.Draft">
                            <span class="cr-version-list text-bold">{{ "PublishedBy" | otTranslate }}: </span>
                            {{ item.UpdatedBy }}
                        </div>
                        <div *ngIf="item.Status === crConstants.CRPurposeStatus.Draft">
                            <span class="cr-version-list text-bold">{{ "UpdatedBy" | otTranslate }}: </span>
                            {{ item.UpdatedBy }}
                        </div>
                    </span>
                    <span
                        *ngIf="item.UpdatedDate"
                        class="cr-version-list__date"
                        >
                        <div *ngIf="item.Status !== crConstants.CRPurposeStatus.Draft">
                            <span class="cr-version-list text-bold">{{ "PublishedDate" | otTranslate }}: </span>
                            <span *ngIf="item.Status !== crConstants.CRPurposeStatus.Draft">
                                {{ item.UpdatedDate | otDate:'datetime' }}
                            </span>
                        </div>
                        <div *ngIf="item.Status === crConstants.CRPurposeStatus.Draft">
                            <span class="cr-version-list text-bold">{{ "UpdatedDate" | otTranslate }}: </span>
                            <span *ngIf="item.Status === crConstants.CRPurposeStatus.Draft">
                                {{ item.UpdatedDate | otDate:'datetime' }}
                            </span>
                        </div>
                    </span>
                </section>
            </li>
        </ul>
    </section>
</ot-drawer>
