.cr-version-list {

    &__item {
        border-bottom: 1px solid $grey-3;
    }

    &__title {
        padding: 1.6rem 1rem;
        letter-spacing: .1rem;
        border-bottom: 1px solid $grey-3;
    }

    &__divider {
        padding: .2rem;
    }

    &__tab {
        &:hover {
            background-color: $white;
            cursor: pointer;
        }
    }

    &__label {
        margin-right: .6rem;
        margin-left: .3rem;
        font-size: 1.7rem;
    }

    &__date {
        font-size: 1.2rem;
    }

    &__toggle {
        flex: 0 0 auto;
        background: 0;
        border: 1px solid $grey-3;
        padding: 0 0.6rem;
        border-radius: 2px;
        margin-top: .7rem;

        &:hover {
            border: 1px solid $slate;
            color: darken($slate, 20%);
        }
    }

    &__delete {
        &:hover {
            color: darken($slate, 20%);
        }
    }

    &__details {
        padding: 1rem 1rem 1rem 2rem;
        border-top: 1px dashed $grey-1;
    }

    &__item.is-current-version {
        .cr-version-list {

            &__tab {
                color: $black;
                cursor: auto;
            }

            &__details {
                border-top: 0;
            }

            &__state {
                .current-draft {
                    color: $black;
                }
            }
        }
    }
}
