<section class="inventory-details column-nowrap full-size background-white">
    <ot-page-header [title]="'InventoryDetails' | otTranslate">
        <ot-breadcrumb
            class="text-nowrap"
            *ngIf="recordName"
            (routeClicked)="goToListView($event)"
            >
            <ot-breadcrumb-item
                ot-auto-id="StartNewAssessmentBreadcrumbItem"
                [label]="inventoryTranslationKey | otTranslate"
                [link]="inventoryListRoutes[inventoryId]"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="recordName"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <div class="slds-grid slds-grid--align-center slds-p-vertical--medium margin-left-1">
            <ot-context-menu
                ot-auto-id="InventoryDetailsHeaderContextDropdown"
                position="bottom-right"
                [type]="2"
                [menu]="dropdownOptions"
                [disabled]="savingRecord"
                >
                <i class="ot ot-ellipsis-h"></i>
                <a
                    *otContextMenuItem="let item"
                    (click)="item.action()"
                    >
                    <span class="text-left">
                        {{ item.text }}
                    </span>
                </a>
            </ot-context-menu>
        </div>
    </ot-page-header>
    <ot-tabs
        [tabs]="tabs"
        [max]="tabs.length"
        [selectedTab]="currentTab"
        >
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'tab-' + tab.id"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
    </ot-tabs>
    <div
        *ngIf="currentTab === tabIds.Details"
        class="inventory-details__container column-nowrap full-size overflow-y-auto stretch-vertical background-white"
        >
        <inventory-form
            class="column-nowrap height-100 padding-left-right-2 stretch-vertical margin-left-right-auto min-width-100-percent"
            scrollParentClass="inventory-details__container"
            wrapperClass="padding-top-bottom-3"
            [isEditable]="inventoryPermissions.canEditDetails && recordV2.isEditable"
            [inventoryId]="schemaIds[inventoryId]"
            [recordId]="recordId"
            [loadDataFromStore]="true"
            (viewRisk)="viewRiskTab()"
            >
        </inventory-form>
    </div>
    <div
        class="column-nowrap stretch-vertical overflow-y-auto background-grey"
        *ngIf="currentTab === tabIds.Activity"
        >
        <inventory-activity
            class="flex-full-height"
            [recordId]="recordId"
        ></inventory-activity>
    </div>
    <div
        class="column-nowrap flex-full-height overflow-y-auto"
        *ngIf="currentTab === tabIds.Assessments"
        >
        <inventory-assessments
            class="flex-full-height"
            [recordId]="recordId"
            [record]="recordV2"
            (goToRoute)="goToAssessment($event)"
            >
        </inventory-assessments>
    </div>
    <div
        class="column-nowrap flex-full-height overflow-y-auto"
        *ngIf="currentTab === tabIds.Risks"
        >
        <inventory-risks
            class="overflow-x-auto flex-full-height background-grey padding-top-1"
            [recordId]="recordId"
            [record]="recordV2"
            [schemaId]="inventoryId"
            [recordName]="recordName"
            [reload]="reloadRisks$"
            >
        </inventory-risks>
    </div>
    <div
        *ngIf="currentTab === tabIds.Documents || currentTab === tabIds.Attachments"
        class="column-nowrap flex-full-height overflow-y-auto"
        >
        <inventory-attachments-wrapper
            class="flex-full-height"
            [recordId]="recordId"
            [inventoryId]="inventoryId"
            [permissions]="inventoryPermissions"
            [tabId]="currentTab"
        ></inventory-attachments-wrapper>
    </div>
    <div
        class="column-nowrap stretch-vertical overflow-y-auto position-relative background-grey overflow-x-hidden"
        *ngIf="currentTab === tabIds.Related"
        >
        <inventory-related-list
            class="flex-full-height height-100"
            [recordId]="recordId"
            [recordName]="recordName"
            [orgGroupId]="orgGroupId"
            [permissions]="inventoryPermissions"
            >
        </inventory-related-list>
    </div>
    <div
        class="column-nowrap stretch-vertical overflow-y-auto background-grey"
        *ngIf="currentTab === tabIds.Lineage"
        >
        <inventory-lineage
            class="flex-full-height"
            *ngIf="lineageReady; else loadingLineage"
            [record]="recordV2"
            [recordId]="recordId"
            >
        </inventory-lineage>
        <ng-template #loadingLineage>
            <ot-loading
                otPageLoading
                class="flex-full-height justify-center"
                >
                {{ 'Lineage' | otTranslate }}...
            </ot-loading>
        </ng-template>
    </div>
    <div
        class="height-100 column-nowrap overflow-y-auto position-relative background-grey overflow-x-hidden"
        *ngIf="currentTab === tabIds.Controls && showVendorControlList[inventoryId]"
        >
        <vendor-controls-list
            class="height-100"
            [record]="recordV2"
        ></vendor-controls-list>
    </div>
    <div
        class="height-100 column-nowrap overflow-y-auto position-relative background-grey overflow-x-hidden"
        *ngIf="currentTab === tabIds.Controls && !showVendorControlList[inventoryId]"
        >
        <link-controls-list
            class="height-100"
            [recordId]="recordV2.id"
            [recordType]="schemaIds[inventoryId]"
            >
        </link-controls-list>
    </div>
    <div
        class="height-100 column-nowrap overflow-y-auto position-relative background-grey overflow-x-hidden"
        *ngIf="currentTab === tabIds.Certificates"
        >
        <certificates-details
            class="height-100"
            [recordId]="recordId"
            [recordType]="schemaIds[inventoryId]"
        ></certificates-details>
    </div>
    <footer
        otPageFooter
        *ngIf="!isLoadingDetails && inventoryPermissions.canEditDetails && currentTab === tabIds.Details && recordEditEnabled"
        >
        <button otButton
            ot-auto-id="cancelSaveInventoryDetails"
            [disabled]="savingRecord"
            (click)="saveCancelled()"
            >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button otButton brand
            class="margin-left-1"
            ot-auto-id="saveInventoryDetails"
            [disabled]="!hasEdits || savingRecord || !requiredFieldsValid || !usersValid"
            [loading]="savingRecord"
            (click)="saveRecord()"
            >
            {{ 'Save' | otTranslate }}
        </button>
    </footer>
</section>
