<one-modal-base
    [modalTitle]="modalData.modalTitle"
    (close)="closeModal()"
    >
    <section class="flex-full-height min-height-25 max-height-50">
        <upgraded-loading
            *ngIf="!ready"
            class="flex-full-height row-horizontal-vertical-center"
        ></upgraded-loading>
        <div *ngIf="ready"
            class="column-nowrap flex-full-height margin-top-3"
            >
            <div *ngIf="userGroupPermissions.add"
                class="stretch-vertical
                    padding-left-right-2
                    full-height overflow-y-auto"
                >
                <form
                    novalidate
                    class="margin-all-0 full-width"
                    [formGroup]="userGroupManageForm">
                    <div otFormElement
                        [label]="'GroupName' | otTranslate"
                        [required]="true"
                        [errorMessage]="errorMessage"
                        [hasError]="getError('name')"
                        >
                        <input otInput
                            formControlName="name"
                            maxlength="200"
                            [attr.ot-auto-id]="'UserGroupsNameInput'"
                            [placeholder]="'UserGroups.EnterUserGroupName' | otTranslate"
                        />
                    </div>
                    <div otFormElement
                        class="margin-top-bottom-2"
                        [hasError]="getError('description')"
                        [errorMessage]="errorMessage"
                        [label]="'Description' | otTranslate"
                        >
                        <textarea otTextarea
                            formControlName="description"
                            [attr.ot-auto-id]="'UserGroupsDescriptionInput'"
                            [placeholder]="'EnterDescription' | otTranslate"
                        ></textarea>
                    </div>
                </form>
            </div>
            <div class="static-vertical row-flex-end margin-top-1 padding-all-2">
                <button otButton
                    [attr.ot-auto-id]="'UserGroupsCancelUserGroupButton'"
                    [innerText]="'Cancel' | otTranslate"
                    (click)="closeModal()"
                ></button>
                <button otButton brand
                    [attr.ot-auto-id]="'UserGroupsCreateUserGroupButton'"
                    [disabled]="disabled || !userGroupManageForm.valid"
                    [innerText]="modalData.userGroupActions | otTranslate"
                    [loading]="disabled"
                    (click)="createOrEditUserGroup()"
                ></button>
            </div>
        </div>
    </section>
</one-modal-base>