<section class="full-size column-nowrap overflow-hidden background-white">
    <section class="padding-left-right-2 stretch-vertical column-nowrap">
        <ot-page-header
            *ngIf="isReady"
            class="margin-top-2-half padding-left-right-0"
            [title]="'UserGroupDetails' | otTranslate"
            [type]="'clear'"
            (routeClicked)="goToRoute($event)"
            >
            <ot-breadcrumb (routeClicked)="goToRoute($event)">
                <ot-breadcrumb-item
                    [attr.ot-auto-id]="'UserGroupDetailsBreadcrumbItem'"
                    [label]="'UserGroups' | otTranslate"
                    [link]="'zen.app.pia.module.admin.user-groups.list'"
                ></ot-breadcrumb-item>
                <ot-breadcrumb-item
                    [label]="userGroupName"
                ></ot-breadcrumb-item>
            </ot-breadcrumb>
            <button otButton brand
                *ngIf="userGroupPermissions.add"
                [attr.ot-auto-id]="'AddUsersButton'"
                [innerText]="'UserGroups.AddUsers' | otTranslate"
                (click)="openAddUserModal()"
            ></button>
        </ot-page-header>
        <div class="margin-top-6">
            <p>
                <span class="text-bold">{{"Description" | otTranslate}}: </span>
                {{description}}
            </p>
            <div class="margin-top-1-half">
                <div
                    *ngIf="userGroupPermissions.search"
                    class="
                        static-vertical
                        row-flex-end
                        background-grey
                        padding-top-bottom-1
                        padding-left-right-2"
                    >
                    <ot-search-input
                        class="margin-right-1"
                        [attr.ot-auto-id]="'AdminUserSearchInput'"
                        [placeholder]="'Search' | otTranslate"
                        [searchOnEnter]="true">
                    </ot-search-input>
                </div>
            </div>
        </div>
        <div
            class="overflow-auto position-relative"
            [ngClass]="{'stretch-vertical': !noRecordFound}">
            <table
                *ngIf="isReady"
                otDataTable
                class="position-relative"
                [rowData]="usersMeta?.content"
                [responsiveTable]="true"
                [rowBordered]="true"
                >
                <ng-container *ngFor="let col of userGroupUsersColumns; trackBy: trackByFn">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        >
                        <ng-template otDataTableHeader [thClass]="'max-15'">
                            <div
                                class="padding-left-right-1"
                                [title]="col.columnName"
                                [ngClass]="col.cellClass"
                                >
                                <span
                                    class="slds-truncate text-bold align-center"
                                    [innerText]="col.columnName"
                                ></span>
                            </div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            class="slds-truncate"
                            let-row="row"
                            let-column="column"
                            [tdClass]="'max-15 padding-left-right-1 slds-truncate'"
                            >
                            <ng-container [ngSwitch]="column.cellValueKey">
                                <ng-container *ngSwitchCase="'fullName'">
                                    <span
                                        class="text-bold"
                                        title="{{row[col.cellValueKey]}}"
                                        [innerText]="row[column.cellValueKey]"
                                    ></span>
                                </ng-container>
                                <ng-container *ngSwitchCase="'createdDate'">
                                    <div class="text-center">
                                        {{ row[column.cellValueKey] | otDate }}
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <span title="{{row[col.cellValueKey]}}"
                                        [innerText]="row[column.cellValueKey]">
                                    </span>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thClass]="'float-col'"></ng-template>
                    <ng-template otDataTableCell
                        let-row="row"
                        [tdClass]="'background-transparent
                            text-left
                            center-block
                            float-col'"
                        [tdStyle]="{'background': 'transparent'}"
                        >
                        <upgraded-one-dropdown
                            class="float-col inventory-table-new__context-button"
                            [attr.ot-auto-id]="'UserGroupsUsersGetActionsDropdown'"
                            [icon]="'ot ot-ellipsis-h'"
                            [hideCaret]="true"
                            [alignRight]="true"
                            [getOptions]="getActions(row)"
                            [buttonClass]="'actions-table__context-btn'"
                        ></upgraded-one-dropdown>
                    </ng-template>
                </ot-data-table-column>
            </table>
            <upgraded-loading *ngIf="!isReady" class="absolute-center" [showIcon]="true"></upgraded-loading>
        </div>
        <one-empty-state
            *ngIf="noRecordFound"
            class="flex-full-height column-horizontal-vertical-center stretch-vertical"
            [attr.ot-auto-id]="'UserGroupsAddUserButton'"
            [emptyStateMessage]="'UserGroups.NoUsersAdded' | otTranslate"
            [showButton]="userGroupPermissions.add"
            [imagePath]="'images/add_user.svg'"
            [actionText]="'UserGroups.AddUsers' | otTranslate"
            (actionCallback)="openAddUserModal()"
            >
        </one-empty-state>
    </section>
    <footer otPaginationFooter
        *ngIf="!noRecordFound && usersMeta"
        >
        <ot-pagination
            [currentPage]="params.page + 1"
            [numPages]="usersMeta?.totalPages"
            (pageChanged)="pageChangedEvent($event - 1)">
        </ot-pagination>
        <span>
            {{ usersMeta | otPageMeta }}
        </span>
    </footer>
</section>

