<one-modal-base
    [modalTitle]="modalData.modalTitle"
    (close)="closeModal()"
    >
    <section class="row-space-between stretch-vertical min-height-50 max-height-50 padding-top-3 ">
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div class="margin-bottom-1 padding-left-right-1">
                <ot-search-input
                    ot-auto-id="UserGroupUserSearchInput"
                    [placeholder]="'Search' | otTranslate"
                    [searchOnEnter]="true"
                    [disabled]="disabled"
                    (search)="onSearch($event)"
                ></ot-search-input>
            </div>
            <div *ngIf="isReady && noRecordFound" class="text-center margin-top-3 text-bold">
                {{"NoSearchResultsFound" | otTranslate}}
            </div>
            <upgraded-loading
                *ngIf="!isReady"
                class="flex-full-height row-horizontal-vertical-center"
            ></upgraded-loading>
            <od-virtualscroll
                *ngIf="isReady"
                class="padding-left-right-1 overflow-y-auto"
                [vsData]="data$"
                [vsOptions]="options$"
                [vsUserCmd]="scrollTop$"
                [vsEqualsFunc]="equals"
                >
                <ng-template let-item let-index="row">
                    <div
                        class="
                            row-vertical-center
                            padding-top-bottom-half
                            padding-left-right-1
                            border-bottom
                            row-space-between
                            min-width-40
                        ">
                        <div>
                            <div class="text-bold">{{item?.user?.fullName}}</div>
                            <div>{{item?.user?.email}}</div>
                        </div>
                        <ot-checkbox
                            class="padding-right-1"
                            ot-auto-id="AddUsersCheckbox"
                            [checked]="isChecked(item?.user)"
                            (toggle)="onToggle($event, item)"
                            >
                        </ot-checkbox>
                    </div>
                </ng-template>
            </od-virtualscroll>
        </div>
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div class="text-bold margin-bottom-2 padding-left-1">
                {{"SelectedUsers" | otTranslate}}
            </div>
            <ul class="padding-left-right-1 overflow-y-auto">
                <li
                    *ngFor="let data of selectedUsers; trackBy: trackByFn"
                    class="row-vertical-center
                        padding-top-bottom-half
                        padding-left-right-1
                        border-bottom
                        row-space-between"
                    >
                    <div>
                        <div class="text-bold">{{data?.user?.fullName}}</div>
                        <div>{{data?.user?.email}}</div>
                    </div>
                    <i class="ot ot-close padding-right-1"
                        ot-auto-id="AddUsersDeSelectUserIcon"
                        (click)="removeItem(data?.user)"
                    ></i>
                </li>
            </ul>
        </div>
    </section>
    <footer class="static-vertical row-flex-end padding-all-2">
        <button otButton
            ot-auto-id="UserGroupsCancelAddUsersButton"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button otButton brand
            ot-auto-id="UserGroupsAddUsersButton"
            [disabled]="!selectedUsers.length || disabled"
            [loading]="disabled"
            [innerText]="'Add' | otTranslate"
            (click)="addUsers()"
        ></button>
    </footer>
</one-modal-base>
