section.data-mapping
    loading(ng-if='!Ready', show-text='false')
    .data-mapping-content(ng-if='Ready')
        //- section.data-mapping__menu(ui-view='data_mapping_menu', role='navigation', ng-class='{"is-open": isOpen}', ng-if='::(Permissions.canShow("DataMappingSidebar") || Permissions.canShow("DataMappingSidebarNew"))')
        section.data-mapping-body(ui-view='data_mapping_body')

// Modals
include ./Modals/AssignmentModal.jade
