.data-mapping__menu-list
    .data-mapping__menu-section
        .data-mapping__menu-section-title.data-mapping__menu-section-title--main
            span.text-bold.text-uppercase
                | {{::$root.t("DataMapping")}}

    //- Welcome
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingWelcomeHomePage")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.welcome")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.welcome")')
                | {{::$root.t("Welcome")}}

    //- Dashboard
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingAssessmentsDashboard") && !Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.dashboard")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.dashboard")')
                | {{::$root.t("Dashboard")}}

    //- DM V2 Dashboard
    .data-mapping__menu-section(ng-if='::Permissions.canShow("ViewDashboards") && Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.dashboardv2")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.dashboardv2")')
                | {{::$root.t("Dashboard")}}

    //- New Assessments
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingAssessmentsList") && !Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.assessment")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.assessment.list")')
                | {{::$root.t("Assessments")}}

    //- DM V2 Assessment
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.assessment")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.assessment.list")')
                | {{::$root.t("Assessments")}}

    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingNew") && (Permissions.canShow("DataMappingInventoryAssets") || Permissions.canShow("DataMappingInventoryProcessingActivity"))')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--header.column-vertical-center.padding-top-bottom-half.padding-left-right-1.text-small
            span.text-bold.text-uppercase
                | {{::$root.t("Inventory")}}

    //- New Inventories
    .data-mapping__menu-section(ng-repeat='inventory in Inventories track by $index', ng-if='::Permissions.canShow("DataMappingInventoryNew")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: isActiveInventory(inventory.id)}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.inventory.list", {Id: inventory.id, page: null, size: null})')
                | {{ ::(inventory.nameKey ? $root.t(inventory.nameKey) : inventory.name) }}

    //- New Reporting
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingNew") && hasReportingPermission')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--header.column-vertical-center.padding-top-bottom-half.padding-left-right-1.text-small
            span.text-bold.text-uppercase
                | {{::$root.t("Reporting")}}

    //- New Mapping
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingDataMapsAssetsByLocation")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.asset")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.asset")')
                span {{::$root.t("AssetMap")}}

    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingAssetMapUpgrade")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='UpgradeModule("Data Mapping Asset Map", Upgrade.ModuleStates.Form);')
                span {{::$root.t("AssetMap")}}
                span.upgrade__icon

    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingCrossborder")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.crossborder")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.crossborder")')
                span {{::$root.t("Crossborder")}}

    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingCrossborderUpgrade")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='UpgradeModule("Data Mapping Cross Border", Upgrade.ModuleStates.Form);')
                span {{::$root.t("Crossborder")}}
                span.upgrade__icon

    //- TODO : Hide Lineage menu item until further notice
    //- .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingDataMapsLineage")')
    //-     .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.lineage") || $state.includes("zen.app.pia.module.datamap.views.diagram")}')
    //-         a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.lineage")')
    //-             span {{::$root.t("Lineage")}}

    //- Lineage Upgrade
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataLineageUpgrade")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='UpgradeModule("Data Lineage", Upgrade.ModuleStates.Form);')
                span {{::$root.t("DataLineage")}}
                span.upgrade__icon

    //- Scan Upgrade
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingScanUpgrade")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='UpgradeModule("DataMappingScanResults", Upgrade.ModuleStates.Form);')
                span {{::$root.t("ScanResults")}}
                span.upgrade__icon

    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingNew") && (Permissions.canShow("DataMappingAttributesDataElements") || Permissions.canShow("DataMappingAssetTemplate") || Permissions.canShow("DataMappingProcessingTemplate") || Permissions.canShow("InventoryViewAttributes"))')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--header.column-vertical-center.padding-top-bottom-half.padding-left-right-1.text-small
            span.text-bold.text-uppercase
                | {{::$root.t("Setup")}}

    //- New Asset Template
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingAssetTemplate") && !Permissions.canShow("DataMappingOld") && !Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: ($state.includes("zen.app.pia.module.datamap.views.template", {templateType: InventoryTableIds.Assets}) || $state.includes("zen.app.pia.module.datamap.views.template-redirect", {templateType: InventoryTableIds.Assets}))}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goToTemplate(InventoryTableIds.Assets)', ng-disabled='LoadingTemplate === InventoryTableIds.Assets')
                | {{::$root.t("AssetTemplate")}}

    //- New Processing Template
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingProcessingTemplate") && !Permissions.canShow("DataMappingOld") && !Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: ($state.includes("zen.app.pia.module.datamap.views.template", {templateType: InventoryTableIds.Processes}) || $state.includes("zen.app.pia.module.datamap.views.template-redirect", {templateType: InventoryTableIds.Processes}))}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goToTemplate(InventoryTableIds.Processes)', ng-disabled='LoadingTemplate === InventoryTableIds.Processes')
                | {{::$root.t("ProcessingTemplate")}}

    //- DM V2 Templates
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DMAssessmentV2")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.templatesv2")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.templatesv2.list")')
                | {{::$root.t("Templates")}}

    //- Data Elements Inventory
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingInventoryNew") && DEInventory')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.inventory.list", {Id: DEInventory.id})}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.inventory.list", {Id: DEInventory.id})')
                | {{ ::(DEInventory.nameKey ? $root.t(DEInventory.nameKey) : DEInventory.name) }}

    //- Old Template
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingQuestionnaire")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.questionnaire") || $state.includes("zen.app.pia.module.datamap.views.template-redirect")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goToTemplate(InventoryTableIds.Processes)', ng-disabled='LoadingTemplate')
                | {{::$root.t("Template")}}

    //- Old Assessments
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingAssessments")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.assessment-old")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.assessment-old.list")')
                | {{::$root.t("Assessments")}}

    //- Old Inventories
    .data-mapping__menu-section(ng-if='::Permissions.canShow("DataMappingInventories") && table.ResourceKey && Permissions.canShow(table.ResourceKey)', ng-repeat='table in Tables.Inventories track by $index')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.tables", {tableId: table.InventoryId})}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.tables", {tableId: table.InventoryId, page: null, size: null, filter: null, search: null})')
                | {{table.InventoryName || 'Inventory Table'}}

    //- Maps Upgrade
    .data-mapping__menu-section(ng-if='::map.resourceUpgradeKey && Permissions.canShow(map.resourceUpgradeKey)', ng-repeat='map in DataMaps track by $index')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='UpgradeModule("Data Maps", Upgrade.ModuleStates.Form)')
                span {{::$root.t(map.name)}}
                span.upgrade__icon

    //- Attribute Manager
    .data-mapping__menu-section(ng-if='::Permissions.canShow("InventoryViewAttributes")')
        .data-mapping__menu-section-title.data-mapping__menu-section-title--link(ng-class='{active: $state.includes("zen.app.pia.module.datamap.views.attribute-manager")}')
            a.data-mapping__menu-textlink.data-mapping__menu-section-header(ng-click='goTo("zen.app.pia.module.datamap.views.attribute-manager.home")')
                | {{::$root.t("AttributeManager")}}
