<ot-modal-header (close)="closeModal()">
    <div>{{ 'CreatePrivacyNotice' | otTranslate }}</div>
</ot-modal-header>

<ot-modal-content class="flex-full-height overflow-y-auto">
    <div otFormElement
        class="margin-bottom-2"
        [label]="'Name' | otTranslate"
        [required]="true"
    >
        <input otInput required
            class="one-input full-width"
            name="Name"
            maxlength="200"
            autofocus
            ot-auto-id="PrivacyNoticeNameInput"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="privacyNotice.name"
            (ngModelChange)="onModelChange($event, 'name')"
        />
    </div>

    <div otFormElement
        class="margin-bottom-2"
        [label]="'Organization' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            name="Organization"
            ot-auto-id="PrivacyNoticeOrgList"
            labelKey="Name"
            valueKey="Id"
            indentKey="Level"
            [autoClose]="true"
            [options]="organizations"
            [model]="selectedOrganization"
            (onSelect)="selectOrganization($event)"
        >
        </ot-picklist>
    </div>

    <div otFormElement
        class="margin-bottom-2"
        [label]="'Description' | otTranslate"
        [required]="true"
    >
        <textarea otTextarea required
            name="Description"
            maxlength="500"
            ot-auto-id="PrivacyNoticeCreateDescription"
            [ngModel]="privacyNotice.description"
            [placeholder]="'EnterDescription' | otTranslate"
            (ngModelChange)="onModelChange($event, 'description')"
        >
        </textarea>
    </div>

    <div otFormElement
        class="margin-bottom-2"
        [errorMessage]="'CreatePolicyPublicVersionError' | otTranslate"
        [hasError]="!isPublicVersionValid"
        [label]="'PublicVersion' | otTranslate"
    >
        <input otInput
            class="one-input full-width"
            name="PublicVersion"
            maxlength="200"
            autofocus
            ot-auto-id="PrivacyNoticePublicVersionInput"
            [placeholder]="'PublicVersion' | otTranslate"
            [ngModel]="privacyNotice.publicVersion"
            (ngModelChange)="onModelChange($event, 'publicVersion')"
        />

        <span class="text-small">
            {{ "CreatePolicyPublicVersionDescription" | otTranslate }}
        </span>
    </div>
</ot-modal-content>

<ot-modal-footer>
    <button otButton
        class="margin-left-auto"
        ot-auto-id="PrivacyNoticeCloseButton"
        [disabled]="createInProgress"
        (click)="closeModal()"
    >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="PrivacyNoticeCreateButton"
        [loading]="createInProgress"
        [disabled]="isSubmitButtonDisabled"
        (click)="createPrivacyNotice()"
    >
        {{ 'Create' | otTranslate }}
    </button>
</ot-modal-footer>
