.dm-assessment {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: $paper-gray;

    &__header {
        flex: 0 0 auto;
        box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px 0;
        border-bottom: 1px solid $grey-1;
        z-index: 2;
        background-color: inherit;
    }

    &__body {
        padding: 0 2rem;
        overflow-y: auto;
    }

}
