.dm-section-exit {

    &__btn {
        display: block;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__link {
        background: 0;
        border: 0;
        color: $ui-blue;
        display: block;
        margin: 0 auto;

        &:hover {
            text-decoration: underline;
        }
    }
}
