<div
    *ngIf="!loading; else LoadingSpinner"
    class="height-100 full-width column-horizontal-center"
    >
    <h1 class="heading1 text-center text-thin margin-top-2">{{ 'Settings' | otTranslate }}</h1>
    <div
        *ngIf="('ConsentSDKExternalSettings' | otPermit) && collectionPoint.CollectionPointType === crConstants.CRTypes.WebForm"
        class="ot-setting-container margin-bottom-1"
        >
        <ot-setting
            [title]="'ExternalSdkSettingsTitle' | otTranslate"
            [description]="'ExternalSdkSettingsDescription' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="CrExternalSdkSettingsToggle"
                [checked]="collectionPoint.HostedSDK"
                [disabled]="updateInProgress"
                (toggle)="toggleExternalSdkSettings()"
            ></ot-toggle>
        </ot-setting>
    </div>
    <div
        *ngIf="('ConsentSettingNoConsentTransaction' | otPermit) && consentSettings?.noConsentTransactions"
        class="ot-setting-container margin-bottom-1"
        >
        <ot-setting
            [title]="'NoConsentTransactionTitle' | otTranslate"
            [description]="'NoConsentTransactionDescription' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="CrNoConsentTransactionsToggle"
                [checked]="collectionPoint.NoConsentTransactions && collectionPoint.ConsentType !== crConstants.CRConsentTypes.FormSubmitOnly"
                [disabled]="updateInProgress || collectionPoint.ConsentType === crConstants.CRConsentTypes.FormSubmitOnly"
                (toggle)="toggleNoConsentTransactions()"
            ></ot-toggle>
        </ot-setting>
    </div>
    <div
        *ngIf="('ConsentDoubleOptIn' | otPermit) && collectionPoint.CollectionPointType !== crConstants.CRTypes.Mobile"
        class="ot-setting-container margin-bottom-1"
        >
        <ot-setting
            [title]="'DoubleOptIn' | otTranslate"
            [description]="'SendValidationLink' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="collectionPointDoubleOptInToggle"
                [checked]="collectionPoint.DoubleOptIn"
                [disabled]="updateInProgress || collectionPoint.Status !== crConstants.CRCollectionPointStatus.Draft"
                (toggle)="toggleDoubleOptIn()"
            ></ot-toggle>
            <div otSettingChild
                *ngIf="collectionPoint.DoubleOptIn"
                class="padding-top-bottom-1 row-nowrap row-vertical-center border-bottom"
                >
                <span class="margin-right-5 text-bold text-nowrap">{{ "RedirectUrl" | otTranslate }}</span>
                <input otInput
                    class="one-input stretch-horizontal"
                    ot-auto-id="createCollectionPointRedirectUrl"
                    maxlength="200"
                    name="RedirectUrl"
                    [disabled]="updateInProgress || collectionPoint.Status !== crConstants.CRCollectionPointStatus.Draft"
                    [ngClass]="{'border-has-error text-error': !redirectUrlValid}"
                    [placeholder]="'EnterAlternativeRedirectUrl' | otTranslate"
                    [ngModel]="collectionPoint.RedirectUrl"
                    (ngModelChange)="handleRedirectUrlChange($event, 'RedirectUrl')"
                    />
            </div>
        </ot-setting>
    </div>
    <div
        *ngIf="('ConsentAcknowledgementEmail' | otPermit) && consentSettings?.consentAcknowledgementEmail"
        class="ot-setting-container margin-bottom-1">
        <ot-setting
            [title]="'ConsentAcknowledgementEmail' | otTranslate"
            [description]="'ConsentAcknowledgementEmailDescription' | otTranslate"
            >
            <ot-toggle
                ot-auto-id="CollectionPointConsentAcknowledgementEmailToggle"
                [checked]="collectionPoint.SendConsentEmail"
                [disabled]="updateInProgress || consentAcknowledgementEmailDisabled"
                (toggle)="toggleConsentAcknowledgementEmail()"
            ></ot-toggle>
            <div otSettingChild
                *ngIf="collectionPoint.SendConsentEmail"
                class="padding-top-bottom-1 row-nowrap row-vertical-center border-bottom"
                >
                <span class="margin-right-5 text-bold text-nowrap">{{ "PreferenceCenterLink" | otTranslate }}</span>
                <ot-lookup
                    class="stretch-horizontal"
                    ot-auto-id="CollectionPointPreferenceCenterLink"
                    labelKey="Name"
                    valueKey="Id"
                    [autoClose]="true"
                    [disabled]="updateInProgress || collectionPoint.Status !== crConstants.CRCollectionPointStatus.Draft"
                    [dynamicHeight]="true"
                    [model]="selectedPreferenceCenter"
                    [options]="preferenceCenterOptions"
                    [placeholder]="'SelectPreferenceCenter' | otTranslate"
                    (inputChange)="onInputChange($event)"
                    (modelChange)="selectOption($event, selectedPurposes)"
                ></ot-lookup>
            </div>
        </ot-setting>
    </div>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>