<div class="row-flex-end border-bottom padding-top-bottom-half padding-left-right-2 align-center static-vertical background-grey">
    <ot-search-input
        *ngIf="!hideTextSearch"
        class="margin-left-right-1"
        ot-auto-id="ConsentTextSearchFilter"
        [placeholder]="'Search' | otTranslate"
        [(model)]="textSearch"
        [searchOnEnter]="true"
        [searchDelimiter]="1"
        (search)="onTextSearch.emit($event)"
    ></ot-search-input>
    <i
        class="ot ot-refresh margin-left-right-1 cursor-pointer"
        ot-auto-id="ConsentRefreshFilters"
        (click)="onRefresh.emit()"
    ></i>
    <i
        class="ot ot-filter padding-all-1 cursor-pointer"
        ot-auto-id="ConsentToggleFilters"
        (click)="onToggle.emit()"
    ></i>
</div>
<ot-drawer
    class="min-width-40 padding-all-2 z-index-999 overflow-y-auto overflow-x-hidden"
    [open]="isDrawerOpen"
    >
    <div class="text-bold margin-bottom-2">
        <button otButton
            class="background-none border-none remove-anchor-style padding-0"
            ot-auto-id="ConsentFilterToggleButton"
            (click)="onToggle.emit()"
            >
            <i class="ot ot-arrow-circle-o-right margin-right-1 cursor-pointer"></i>
            {{ "Close" | otTranslate }}
        </button>
    </div>

    <ng-content></ng-content>

    <div class="margin-top-3 full-width row-flex-end">
        <button otButton neutral
            class="margin-right-1"
            ot-auto-id="ConsentClearFilters"
            [innerText]="'ClearFilters' | otTranslate"
            (click)="onClear.emit()"
        ></button>
        <button otButton brand
            ot-auto-id="ConsentApplyFilters"
            [innerText]="'Apply' | otTranslate"
            (click)="onApply.emit()"
        ></button>
    </div>
</ot-drawer>