<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        type="clear"
        [title]="'Assessments' | translate"
    >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="loading; else assessmentSettingsForm"
        class="stretch-vertical"
    >
        {{ 'Loading' | translate }}...
    </ot-loading>
    <ng-template #assessmentSettingsForm>
        <div class="stretch-vertical">
            <form
                class="centered-max-75"
                name="assessmentSettingsForm"
            >
                <ot-setting
                    [title]="'BulkInfoRequestWorkflow' | translate"
                    [description]="'BulkInfoRequestWorkflowSettingsDesc' | translate"
                >
                    <ot-toggle
                        ot-auto-id="SettingsAssessmentBulkSendInfoRequestToggle"
                        [checked]="bulkSendIR"
                        (toggle)="toggleBulkSendIR($event)"
                    ></ot-toggle>
                </ot-setting>
            </form>
        </div>
        <footer otPageFooter>
            <button otButton brand
                class="margin-right-1"
                ot-auto-id="SettingsAssessmentBulkSendInfoRequestSaveButton"
                [disabled]="saving || !modelChanged"
                [loading]="saving"
                (click)="saveBulkSendIRSettings()"
            >
            {{ 'Save' | translate }}
            </button>
        </footer>
    </ng-template>
</section>

