<one-modal-base
    class="one-modal-new flex-full-height max-height-100-percent"
    [identifier]="'AACommentModalCloseButton'"
    [modalTitle]="'Comments' | otTranslate"
    (close)="closeModal()"
>
    <!-- Modal Content here-->
    <section class="flex-full-height full-width margin-top-4 padding-left-right-2">
        <div class="aa-comments-modal__editor link-editor row-nowrap margin-bottom-1 editor-container">
            <upgraded-one-rich-text-editor
                ot-auto-id="AACommentModalRichTextEditor"
                class="full-width flex-grow-1"
                [content]="currentComment.comment"
                [editorClassName]="'max-height-30'"
                (onContentChange)="handleInputChange($event.data)"
            >
            </upgraded-one-rich-text-editor>
        </div>
    </section>
    <footer class="margin-right-1 margin-bottom-1 row-flex-end modal-footer border-none padding-all-1">
        <button
            otButton
            neutral
            ot-auto-id="AACommentModalCloseButton"
            class="aa-comments-modal__button-width margin-right-1 border-none"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        >
        </button>
        <button
            otButton
            brand
            ot-auto-id="AACommentModalSendButton"
            class="aa-comments-modal__button-width"
            [otTooltip]="'AddComment' | otTranslate"
            [innerText]="'Send' | otTranslate"
            [loading]="isAdding"
            [disabled]="!currentComment.comment.length || isAdding"
            (click)="saveComments()"
        >
        </button>
    </footer>
</one-modal-base>
