.aa-comments-modal{
    &__comment-list{
        height: 25rem;
    }

    &__editor {
        height: 20rem;
        .editor {
            height: 15rem;
            width: 100%;
        }
    }
    &__button-width {
        width: 10rem;
    }
}
