<section class="relate-data-subject-modal one-modal-new flex-full-height width-100-percent">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2 max-width-full">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]="modalTitle"
            >
        </h4>
        <button
            otButton
            neutral
            class="one-modal-new__close static-horizontal no-outline"
            [attr.ot-auto-id]="'RelateDataSubjectModalCloseButton'"
            *ngIf="!isSaving"
            (click)="closeModal()"
            >
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="overflow-y-auto padding-all-2 flex-full-height">
        <form name="relateDataSubjectForm" class="width-100-percent max-width-full margin-none flex-full-height">
            <div class="margin-top-1 padding-bottom-2 border-bottom" otFormElement [label]="'DataSubjectGroup' | otTranslate">
                <ot-picklist
                    class="max-width-30"
                    valueKey="valueId"
                    labelKey="valueKey"
                    [placeholder]="'DataSubjectGroup' | otTranslate"
                    [autoClose]="true"
                    [options]="dataSubjectTypeList"
                    [disabled]="!dataSubjectTypeList.length || isSaving"
                    [model]="selectedSubjectType"
                    (onSelect)="selectSubjectType($event)"
                ></ot-picklist>
            </div>
            <div class="flex-full-height">
                <div class="relate-data-subject-modal__header row-nowrap">
                    <div class="relate-data-subject-modal__category-header background-eggshell border-bottom padding-all-half text-bold row-horizontal-vertical-center">{{'DataCategories' | otTranslate}}</div>
                    <div *ngIf="selectedCategory.categoryValue" class="border-bottom padding-all-1 text-bold width-100-percent">
                        <span class="text-medium">{{selectedCategory.categoryKey ? (selectedCategory.categoryKey | otTranslate) : selectedCategory.categoryValue}}</span>
                        <div class="margin-top-half">
                            <ot-checkbox
                                class="inline margin-right-1"
                                ot-auto-id="RelateDataSubjectModalSelectAll"
                                [checked]="allSelected"
                                [disabled]="isSaving"
                                (toggle)="selectAll()"
                                >
                            </ot-checkbox>
                            <label>{{"SelectAll" | otTranslate}}</label>
                        </div>
                    </div>
                </div>
                <div class="relate-data-subject-modal__content stretch-vertical row-nowrap border-bottom">
                    <ul
                        *ngIf="dataCategoryList && dataCategoryList.length && !fetchingCategories"
                        class="relate-data-subject-modal__category-list background-eggshell stretch-vertical margin-bottom-0 overflow-y-auto shadow-bottom-inset z-index-1">
                        <li
                            *ngFor="let category of dataCategoryList; trackBy:categoryId; let i = index"
                            [ngClass]="{'background-grey-2 text-bold': category.categoryId === selectedCategory.categoryId }"
                            class="relate-data-subject-modal__category-item text-pointer border-bottom"
                            [attr.ot-auto-id]="'RelateDataSubjectCategorySelection_' + i"
                            (click)="selectCategory(category)"
                            >
                            <div
                                class="padding-all-1"
                                [ngClass]="category.categoryId === selectedCategory.categoryId ? 'relate-data-subject-modal__category-item--selected' : 'relate-data-subject-modal__category-item--unselected'">
                                {{category.categoryKey ? (category.categoryKey | otTranslate) : category.categoryValue}}
                            </div>
                        </li>
                    </ul>
                    <div *ngIf="fetchingCategories" class="flex-full-height justify-center relate-data-subject-modal__category-list background-eggshell">
                        <ot-loading otPageLoading></ot-loading>
                    </div>
                    <div *ngIf="!fetchingCategories && !dataCategoryList" class="column-horizontal-vertical-center relate-data-subject-modal__category-list background-eggshell padding-left-right-2">
                        {{"NoCategoriesAvailable" | otTranslate}}
                    </div>
                    <div
                        class="float-right width-100-percent stretch-vertical overflow-y-auto"
                        [ngClass]="{'flex-full-height': !fetchingCategories && !dataCategoryList}"
                        >
                        <div
                            class="width-100-percent row margin-left-right-0"
                            [ngClass]="{'flex-full-height': !fetchingCategories && !dataCategoryList}"
                            >
                            <div
                                *ngFor="let element of selectedCategory.elements;"
                                class="padding-all-1 border-right border-bottom inline-block col-sm-6 row-vertical-center"
                                >
                                <ot-checkbox
                                    class="inline margin-right-1"
                                    [checked]="elementMap[element.valueId]"
                                    [disabled]="isSaving"
                                    (toggle)="toggleElement(element.valueId)"
                                    >
                                </ot-checkbox>
                                <label class="slds-truncate margin-bottom-0">{{element.value}}</label>
                            </div>
                            <ot-empty-state
                                class="flex-full-height column-vertical-center"
                                *ngIf="!fetchingCategories && !dataCategoryList"
                                [emptyStateMessage]="'NoElementsAvailable' | otTranslate"
                                >
                                <img emptyStateImg />
                            </ot-empty-state>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer class="row-flex-end static-horizontal margin-top-auto padding-top-3">
            <div>
                <button
                    class="margin-right-1"
                    otButton
                    neutral
                    [attr.ot-auto-id]="'RelateDataSubjectModalCancelButton'"
                    (click)="closeModal()"
                    [innerText]="cancelButtonText"
                    [disabled]="isSaving"
                    >
                </button>
            </div>
            <div>
                <button
                    otButton
                    brand
                    [attr.ot-auto-id]="'RelateDataSubjectModalSaveButton'"
                    (click)="saveInventory()"
                    [innerText]="submitButtonText"
                    [loading]="isSaving"
                    [disabled]="isSaving"
                    >
                </button>
            </div>
        </footer>
    </div>
</section>
