section.cookiecompliance(ng-init="isOpen = true;")    
    .cookiecompliance-content
        section.cookiecompliance-body.overflow-x-auto.overflow-y-hidden(ui-view='cookiecompliance')

include ./Modals/add_website_modal.jade
include ./Modals/reaudit_website_modal.jade
include ./Modals/category_details_modal.jade