.cookiecompliance.cookiecompliance-dashboard.animation
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")
        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.dashboard-item-pages
                div.dashboard-item-pages__page-count
                    h3.dashboard-item-pages__page-count-heading {{model.summaryReport.localStorageItems}}
                    h4.dashboard-item-pages__page-count-sub-heading.margin-left-right-2 {{::$root.t("ObjectsFound")}}

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend {{::$root.t("LocalStorage")}}

                table.dashboard-item-detail__table.local-storage
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("Host")}}
                        th {{::$root.t("Key")}}
                        th {{::$root.t("Value")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='localStorage in localStorageReport track by $index')
                            td {{localStorage.host}}
                            td {{localStorage.key}}
                            td {{localStorage.value}}

             div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend {{::$root.t("SessionStorage")}}

                table.dashboard-item-detail__table.local-storage
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("Host")}}
                        th {{::$root.t("Key")}}
                        th {{::$root.t("Value")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='sessionStorage in sessionStorageReport track by $index')
                            td {{sessionStorage.host}}
                            td {{sessionStorage.key}}
                            td {{sessionStorage.value}}
