.cookiecompliance.cookiecompliance-consent.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("CookieDisclosure")}}
                    li
                        include cookiecompliance_domain_selection.jade
            include cookiecompliance_advanced_settings.jade

    .module-wrapper
        section.cookiecompliance-consent-wrapper

            div.cookiecompliance-consent-wrapper__body.text-center
                h3.cookiecompliance-consent-wrapper__body-text {{::$root.t("CreateACustomCookiePolicy")}}
                button.cookiecompliance__launch.one-button.one-button--primary(ng-click='launchCookieCompliance(true, false)', ng-if="Permissions.canShow('SettingsCookieAdvanced')") 
                    i.fa.fa-external-link 
                    span {{::$root.t("AdvancedSettings")}}  
                h4.cookiecompliance-consent-wrapper__body-info 
                    i {{::$root.t("AdvanceSettingsLaunchMessage")}}
                p.cookiecompliance-consent-wrapper__body-contact
                    | {{::$root.t("ForHelpPleaseContact")}} 
                    a(href="mailto:cookies@onetrust.com") cookies@onetrust.com
