nav.navbar.navbar-default
    .container-fluid
        header.navbar-header
            ol.breadcrumb
                li {{::$root.t("Websites")}}
        one-button(type="primary",
            button-class="margin-right-1",
            button-click="addWebsite()",
            data-ng-if="CanAddWebsites && canShowAddWebsite",
            text="{{::$root.t('AddWebsite')}}",
            identifier="cookiesAddWebsite",
            is-rounded="showNewWebsiteList")
        one-button(type="primary",
            button-class="margin-right-1",
            button-click="UpgradeModule('Cookies')",
            data-ng-if="!CanAddWebsites && Ready",
            right-side-icon="upgrade__icon",
            text="{{::$root.t('AddWebsite')}}",
            identifier="cookiesAddWebsiteUpgrade",
            is-rounded="showNewWebsiteList")
        .margin-right-1
            include cookiecompliance_advanced_settings.jade
        form.cookiecompliance__search.one-search(role='search', ng-if="!showNewWebsiteList")
            label.one-search__label
                i.ot.ot-search.one-search__icon
            input.one-search__input(type='text', placeholder='{{::$root.t("SearchWebsites")}}', ng-model='model.websitesFilter')

.cookiecompliance__container.module-wrapper(ng-if="!showNewWebsiteList")
    loading(ng-if='!Ready', text="{{ ::labels.loading }}")

    // Domains table
    .cookiecompliance__domainlist.websites__table-wrapper.is-showing
        div.key(ng-if='Ready && model.domainList.length')
            span.new-badge {{::$root.t("New")}}
            span
            | = {{::$root.t("NewReportAvailable")}}

        table.websites__table
            thead(class='websites__table-header', ng-if='Ready')
                tr(class='websites__table-header-row')
                    th.websites__table-header-cell.websites__table-cell.websites__table-cell-domain-column(ng-click="updateSort('domain', !sortReverse)")
                        span.websites__table-header-cell-link {{::$root.t("Domain")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'domain' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'domain' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell
                        span.websites__table-header-cell {{::$root.t("ScanResults")}}
                    th.websites__table-header-cell.websites__table-cell(ng-click="updateSort('pages', !sortReverse)")
                        span.websites__table-header-cell-link {{::$root.t("Pages")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'pages' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'pages' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-click="updateSort('cookies', !sortReverse)")
                        span.websites__table-header-cell-link {{::$root.t("Cookies")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'cookies' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'cookies' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-click="updateSort('banner', !sortReverse)")
                        span.websites__table-header-cell {{::$root.t("CookieBanner")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'banner' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'banner' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-if='::Permissions.canShow("CookiePolicyEditor")' ng-click="updateSort('policy', !sortReverse)")
                        span.websites__table-header-cell {{::$root.t("CookieDisclosure")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'policy' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'policy' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-if='::Permissions.canShow("PreferenceCenterEditor")' ng-click="updateSort('preferences', !sortReverse)")
                        span.websites__table-header-cell {{::$root.t("PreferenceCenter")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'preferences' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'preferences' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-click="updateSort('lastAudit', !sortReverse)")
                        span.websites__table-header-cell-link {{::$root.t("LastScan")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'lastAudit' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'lastAudit' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell(ng-click="updateSort('nextScan', !sortReverse)", ng-if='::canAuditSchedule')
                        span.websites__table-header-cell-link {{::$root.t("NextScan")}}
                        span.fa.fa-fw.fa-caret-down(ng-if="sortType === 'nextScan' && !sortReverse")
                        span.fa.fa-fw.fa-caret-up(ng-if="sortType === 'nextScan' && sortReverse")
                    th.websites__table-header-cell.websites__table-cell
                        span.websites__table-header-cell {{::$root.t("Actions")}}

            tbody(ng-if='Ready && model.domainList.length')
                tr(ng-repeat='domain in model.domainList | filter:{auditDomain: model.websitesFilter} track by domain.auditDomain', class='websites__table-row')
                    td(class='websites__name websites__table-cell websites__table-cell-domain-column')
                        span(class='websites__name-text') {{domain.auditDomain}}
                        span.new-badge(ng-if="isNewDomain(domain)") {{::$root.t("New")}}
                        div(ng-if="domain.status === ScanStatus.InProgress")
                            i.fa.fa-spinner.fa-pulse.one__loading__icon
                    td(class='websites__table-cell text-center')
                        div.websites__table-cell-contents--pending(ng-if="domain.status === ScanStatus.Pending")
                            span {{::$root.t("ScanPending")}}
                        div.progress-bar-container(ng-if="domain.status === ScanStatus.InProgress")
                            div.progress-bar(ng-style='{ width: calculateProgress(domain) }')
                        div.websites__table-cell-contents--success(ng-if='canShowViewResults(domain)')
                            a(ng-click='goToReport(domain.auditDomain)') {{::$root.t("ViewResults")}}
                        div.websites__table-cell-contents--error(ng-if='canShowScanErrorMessage(domain)', uib-tooltip='{{::$root.t("ScanErrorTooltip")}}', tooltip-append-to-body='true')
                            span {{::$root.t("ScanError")}}
                        div.websites__table-cell-contents--not-started(ng-if='canShowLoginFailedMessage(domain)', uib-tooltip='{{::$root.t("FailedScanBehindLoginToolTip")}}', tooltip-append-to-body='true')
                            span {{::$root.t("FailedLogin")}}
                    td(class='websites__table-cell text-center')
                        span(ng-bind='domain.auditedPages')
                    td(class='websites__table-cell websites__table-cell-cookies-column')
                        span(class='websites__table-cell-cookies-count text-right', ng-bind='domain.cookiesFound')
                        changeindicator(ng-if="domain.status === ScanStatus.Complete", changed-by="domain.cookiesChangedBy")
                    td(class='websites__table-cell text-center')
                        div.websites__table-cell-contents--success(ng-if='domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="manageConsentBanner(domain.auditDomain)") {{::$root.t("Manage")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="createConsentBanner(domain.auditDomain)") {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.domainReadyForBanner && !domain.scanError', uib-tooltip='{{::$root.t("WaitForScan")}}', tooltip-append-to-body='true')
                            span {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='domain.scanError')
                            span {{::$root.t("NotStarted")}}
                    td(ng-if='::Permissions.canShow("CookiePolicyEditor")', class='websites__table-cell text-center')
                        div.websites__table-cell-contents--success(ng-if='domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="manageCookiePolicy(domain.auditDomain)") {{::$root.t("Manage")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="createConsentBanner(domain.auditDomain)") {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.domainReadyForBanner && !domain.scanError', uib-tooltip='{{::$root.t("WaitForScan")}}', tooltip-append-to-body='true')
                            span {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='domain.scanError')
                            span {{::$root.t("NotStarted")}}
                    td(ng-if='::Permissions.canShow("PreferenceCenterEditor")', class='websites__table-cell text-center')
                        div.websites__table-cell-contents--success(ng-if='domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="managePreferenceCenter(domain.auditDomain)") {{::$root.t("Manage")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.hasBanner && !domain.scanError && domain.domainReadyForBanner')
                            a(ng-click="createConsentBanner(domain.auditDomain)") {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='!domain.domainReadyForBanner && !domain.scanError', uib-tooltip='{{::$root.t("WaitForScan")}}', tooltip-append-to-body='true')
                            span {{::$root.t("NotStarted")}}
                        div.websites__table-cell-contents--not-started(ng-if='domain.scanError')
                            span {{::$root.t("NotStarted")}}
                    td(class='websites__table-cell text-center')
                        div.websites__table-cell-contents--calendar(ng-if="domain.status === ScanStatus.Pending && !domain.lastSuccessfulScanRowKey")
                            span {{::$root.t("None")}}
                        div.websites__table-cell-contents--calendar(ng-if="domain.status === ScanStatus.InProgress && !domain.lastSuccessfulScanRowKey")
                            a(ng-click="goToReport(domain.auditDomain)") {{::$root.t("InProgress")}}
                        div.websites__table-cell-contents--calendar(ng-if="(domain.status === ScanStatus.InProgress || domain.status === ScanStatus.Pending) && domain.lastSuccessfulScanRowKey")
                            a(ng-click="goToReport(domain.auditDomain, domain.lastSuccessfulScanRowKey, true)")
                                one-date(data-id="lastScanDate",
                                    ng-if="domain.lastScanDate",
                                    date-to-format="domain.lastScanDate"
                                    enable-tooltip="true")
                        div.websites__table-cell-contents--calendar(ng-if="(domain.status === ScanStatus.Complete || domain.status === ScanStatus.Cancelled) && domain.lastScanDate && !domain.scanError")
                            a(ng-click="goToReport(domain.auditDomain)")
                                one-date(data-id="lastScanDate",
                                    ng-if="domain.lastScanDate",
                                    date-to-format="domain.lastScanDate"
                                    enable-tooltip="true")
                        div.websites__table-cell-contents--calendar(ng-if="(domain.status === ScanStatus.Complete || domain.status === ScanStatus.Cancelled) && (!domain.lastScanDate || domain.scanError)")
                            span {{::$root.t("None")}}
                    td(class='websites__table-cell text-center' ng-if='::canAuditSchedule')
                        div.websites__table-cell-contents--calendar
                            a(ng-click="setOrUpdateNextScan(domain.auditDomain)")
                                one-date(ng-if="domain.scheduledDateOfNextScan",
                                    data-id="scheduledDateOfNextScan",
                                    date-to-format="domain.scheduledDateOfNextScan"
                                    enable-tooltip="true")
                                span(ng-if="!domain.scheduledDateOfNextScan") {{::$root.t("NotSet")}}
                    td(class='websites__table-cell text-center')
                        div
                            cc-web-audit-action-list(
                                re-audit-callback="reauditWebsite(domain.auditDomain)",
                                login-callback="scanLoginDetails(domain)",
                                delete-scan-callback="deleteWebsite(domain.auditDomain)",
                                re-assign-callback="reassignOrgGroup(domain)",
                                stop-scan-callback="cancelAudit(domain.auditDomain)",
                                is-scan-complete="isComplete(domain)",
                                can-stop-scan="isStoppable(domain)",
                                can-reassign-org-group="canReassignOrgGroup",
                                scan-login-info-status="{{domain.scanLoginInfoStatus}}"
                            )
    // No websites messages
    .cookiecompliance__message(ng-if='Ready && !model.domainList.length')
        h2.cookiecompliance__message-heading {{::$root.t("YouHaveNoExistingWebsites")}}
        h2.cookiecompliance__message-heading {{::$root.t("PleaseCreateANewWebsite")}}


section.full-height-minus-5.column-nowrap(ng-if="showNewWebsiteList")
    div
        .padding-top-half.margin-right-2
            span.pull-right.btn.btn-website-refresh(ng-click="refreshAction()" ng-class="{'btn-disable': isLoading }")
                i.fa.fa-refresh
            one-search-input(
                ng-if="Permissions.canShow('CookieAuditUnlimited')"
                name="WebsiteListSearchRecord"
                id="WebsiteListSearchRecord"
                model="searchString"
                search-class="website-list-table__search margin-right-1 pull-right"
                placeholder="{{::$root.t('SearchWebsites')}}"
                on-search="handleSearch(model)"
                throttle="250")
            div.pull-right.margin-right-2.padding-top-1(ng-if="isLoading")
                i.fa.fa-spinner
                span.text-bold  {{::$root.t('RefreshingData')}}

    div.padding-top-half
    section.stretch-vertical.flex-full-height.column-nowrap(ng-if='Ready && model.domainList.length')
        div.overflow-y-auto.stretch-vertical
            div.position-relative.background-white
                div.overflow-x-auto.margin-bottom-2
                    website-list-table(domains="{{model.domainList}}",
                        cookie-policy-permission="{{::Permissions.canShow('CookiePolicyEditor')}}",
                        preference-center-permission="{{::Permissions.canShow('PreferenceCenterEditor')}}",
                        audit-schedule-permission="{{::Permissions.canShow('CookieAuditScheduling')}}",
                        tenant-level-audit-schedule-permission="{{::Permissions.canShow('CookieTenantLevelScheduledScan')}}",
                        cookie-org-group-assignment-permission="{{::Permissions.canShow('CookieOrgGroupAssignment')}}",
                        cookie-scan-behind-login-permission="{{::Permissions.canShow('CookieScanBehindLogin')}}",
                        cookie-banner-template-permission="{{::Permissions.canShow('CookieReadBannerTemplates')}}",
                        cookie-delete-website-permission="{{::Permissions.canShow('CookieDeleteWebsite')}}",
                        sort-order="{{sortOrder}}",
                        sort-key="{{sortKey}}",
                        row-flag-key="showThirdPartyBannerWarning",
                        (go-to-reports)="goToReport($event)",
                        (create-consent-banner)="createConsentBanner($event)",
                        (manage-consent-banner)="manageConsentBanner($event)",
                        (manage-cookie-policy)="manageCookiePolicy($event)",
                        (manage-preference-center)="managePreferenceCenter($event)",
                        (set-or-update-next-scan)="setOrUpdateNextScan($event)",
                        (re-audit-callback)="reauditWebsite($event)",
                        (login-callback)="scanLoginDetails($event)",
                        (delete-scan-callback)="deleteWebsite($event)",
                        (re-assign-callback)="reassignOrgGroup($event)",
                        (stop-scan-callback)="cancelAudit($event)",
                        (sort-search-callback)="handleSortSearch($event)",
                        (reload-website-list-callback)="loadWebsitesListCallback($event)")

                div.margin-all-1
                    one-pagination(pagination-class='margin-all-2',
                        list='model.pagination',
                        on-page-change='handlePageChange(page)')

    .cookiecompliance__container.module-wrapper(ng-if='!Ready')
        loading(text="{{ ::labels.loading }}")
    // No websites messages
    .cookiecompliance__message(ng-if='Ready && !model.domainList.length')
        h2.cookiecompliance__message-heading(ng-if="!searchString") {{::$root.t("YouHaveNoExistingWebsites")}}
        h2.cookiecompliance__message-heading(ng-if="!searchString") {{::$root.t("PleaseCreateANewWebsite")}}
        h2.cookiecompliance__message-heading(ng-if="searchString") {{::$root.t("NoRecordsFound")}}
