.cookiecompliance.cookiecompliance-consent.animation(ng-class="{'fade-in': fade }")
    cc-cookie-compliance-header(
        ng-if="model.selectedWebsite",
        navigation-title='{{::$root.t("ScriptIntegration")}}',
        domain-change-function="loadReport()",
        is-unpublished-changes="false",
        page-ready="true",
        show-preview-button="false",
        show-advance-settings-button="true",
        show-publish-button="false",
        show-language-selection="true",
        page-name="ccConsentPage",)
    .module-wrapper
        loading(ng-if='!PageReady', text="{{ ::labels.loading }}")

        section.cookiecompliance-consent-wrapper(ng-if='PageReady && !ScriptUnavailable')
            h3 {{::$root.t("PutThisCode")}}

            div
                div
                    h5 {{::$root.t("ProductionTag")}}
                    h6 {{::$root.t("UseThisCodeInYourLiveWebsite")}}
                    prettify
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonConsentNoticeStart")}} --&gt;
                        p.margin-all-0 &lt;script src="{{domainModel.PublishedScriptUrl}}" type="text/javascript" charset="UTF-8"&gt;&lt;/script&gt;
                        p.margin-all-0 &lt;script type="text/javascript"&gt;
                        p.margin-all-0 function OptanonWrapper() { }
                        p.margin-all-0 &lt;/script&gt;
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonConsentNoticeEnd")}} --&gt;
                div
                    h5 {{::$root.t("TestTag")}}
                    h6 {{::$root.t("YouCanUseThisVersionOnTesting")}}
                    prettify
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonConsentNoticeStart")}} --&gt;
                        p.margin-all-0 &lt;script src="{{domainModel.TestScriptUrl}}" type="text/javascript" charset="UTF-8"&gt;&lt;/script&gt;
                        p.margin-all-0 &lt;script type="text/javascript"&gt;
                        p.margin-all-0 function OptanonWrapper() { }
                        p.margin-all-0 &lt;/script&gt;                        
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonConsentNoticeEnd")}} --&gt;
                div(ng-if='::Permissions.canShow("PreferenceCenterEditor")')
                    h5 {{::$root.t("CookieSettingsButtonTitle")}}
                    h6 {{::$root.t("CookieSettingsInstructions")}}
                    prettify
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonCookieSettingsButtonStart")}} --&gt;
                        p.margin-all-0 &lt;a class="optanon-show-settings"&gt;{{::$root.t("CookieSettings")}}&lt;/a&gt;
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonCookieSettingsButtonEnd")}} --&gt;
                div(ng-if='::Permissions.canShow("CookiePolicyEditor")')
                    h5 {{::$root.t("CookieDisclosure")}}
                    h6 {{::$root.t("CookieDisclosureScriptDescription")}}
                    prettify
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonCookieDisclosureStart")}} --&gt;
                        p.margin-all-0 &lt;div id="optanon-cookie-policy"&gt;&lt;/div&gt;
                        p.margin-all-0 &lt;!-- {{::$root.t("OptanonCookieDisclosureEnd")}} --&gt;

        // Script unavailable
        .cookiecompliance__message(ng-if='PageReady && ScriptUnavailable')
            h2.cookiecompliance__message-heading {{::$root.t("YouHaveNotSetUpBanner")}}
            h2.cookiecompliance__message-heading {{::$root.t("WhenYouDoTheCodeWillAppear")}}
