span.margin-right-1
    one-select(options="model.domainSelectionList",
        model="model.selectedWebsite",
        on-change="loadReport(selection)",
        label-key="auditDomain",
        value-key="auditDomain",
        select-class="cookiecompliance__website-list")