.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")

        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.cookies
                h2.dashboard-item__heading {{::$root.t("CookiesByPurpose")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.cookiesBreakdown', title='{{model.summaryReport.cookies}}', subtitle='{{::$root.t("Cookies")}}')
                    span.changes
                        changeindicator(changed-by='model.summaryReport.cookiesChangedBy')
                ul.graph-legend
                    li.graph-legend__strictly-necessary {{::$root.t("StrictlyNecessary")}}
                    li.graph-legend__performance {{::$root.t("Performance")}}
                    li.graph-legend__functionality {{::$root.t("Functionality")}}
                    li.graph-legend__targeting {{::$root.t("Targeting")}}
                    li.graph-legend__unknown {{::$root.t("Unknown")}}

            .dashboard-item.cookies
                h2.dashboard-item__heading {{::$root.t("CookiesByType")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.cookiesByType', title='{{model.summaryReport.cookies}}', subtitle='{{::$root.t("Cookies")}}')
                    span.changes
                        changeindicator(changed-by='model.summaryReport.cookiesChangedBy')
                ul.graph-legend
                    li.graph-legend__first-party-session {{::$root.t("FirstPartySession")}}
                    li.graph-legend__first-party-persistent {{::$root.t("FirstPartyPersistent")}}
                    li.graph-legend__third-party-session {{::$root.t("ThirdPartySession")}}
                    li.graph-legend__third-party-persistent {{::$root.t("ThirdPartyPersistent")}}

            .dashboard-item.cookies
                h2.dashboard-item__heading {{::$root.t("CookiesSummary")}}
                table.summary
                    thead
                        tr
                            th.summary__head {{::$root.t("Purpose")}}
                            th.summary__head {{::$root.t("Count")}}
                    tbody
                        tr(ng-repeat='category in model.summaryReport.cookiesBreakdown track by $index')
                            td.summary__column {{category.label}}
                            td.summary__column {{category.count}}
                    thead
                        tr
                            th.summary__head {{::$root.t("Type")}}
                            th.summary__head {{::$root.t("Count")}}
                    tbody
                        tr(ng-repeat='category in model.cookiesByType track by $index')
                            td.summary__column {{category.label}}
                            td.summary__column {{category.count}}
                    thead
                        tr
                            th.summary__nohead
                            th.summary__nohead
                    tbody
                        tr
                            td.summary__column {{::$root.t("ThirdPartyHostCount")}}
                            td.summary__column {{model.summaryReport.thirdPartyHostCount}}

            div.dashboard-item.dashboard-item-detail.dashboard-item-detail__legend
                div.dashboard-item-detail__legend-item.new {{::$root.t("NewCookiesFoundInThisScan")}}
                div.dashboard-item-detail__legend-item.old {{::$root.t("CookiesNoLongerFoundInThisScan")}}

            div.dashboard-item.dashboard-item-detail(ng-repeat='purpose in PurposeList track by $index')
                h2.dashboard-item-detail__heading(ng-class="getClassNameFor(purpose)") {{purpose}}

                div(ng-if="hasFirstParty(purpose)")
                    h3.dashboard-item-detail__sub-heading {{::$root.t("FirstParty")}}

                    table.cookies.dashboard-item-detail__table
                        thead.dashboard-item-detail__table-head
                            tr
                                th(rowspan=2) {{::$root.t("Host")}}
                                th(rowspan=2) {{::$root.t("Name")}}
                                th(colspan=4) {{::$root.t("Description")}}
                            tr
                                th {{::$root.t("Lifespan")}}
                                th {{::$root.t("Path")}}
                                th {{::$root.t("Secure")}}
                                th {{::$root.t("HttpOnly")}}
                        tbody.dashboard-item-detail__table-body
                            tr(ng-repeat-start='cookie in filterFirstPartyBy(purpose)', ng-class="cookie.change")
                                td.indicator-cell(rowspan=2) {{cookie.host}}
                                td(rowspan=2)
                                    a(ng-click='goTo("zen.app.pia.module.cookiecompliance.views.cookievalues", {cookie: cookie.name, url: cookie.host})') {{cookie.name}}
                                    span.align-right(ng-if="cookie.isBehindLogin && canShowScanBehindLogin")
                                        i.fa.fa-key.color-green.text-large(uib-tooltip='{{::$root.t("CookieFoundBehindLoginToolTip")}}', tooltip-append-to-body='true')
                                td(colspan=4) {{cookie.combinedDescription}}
                            tr(ng-repeat-end, ng-class="cookie.change")
                                td {{cookie.expiry}}
                                td {{cookie.path}}
                                td
                                    checkmark(checked='cookie.secure')
                                td
                                    checkmark(checked='cookie.httpOnly')

                div(ng-if="hasThirdParty(purpose)")
                    h3.dashboard-item-detail__sub-heading {{::$root.t("ThirdParty")}}

                    table.cookies.dashboard-item-detail__table
                        thead.dashboard-item-detail__table-head
                            tr
                                th(rowspan=2) {{::$root.t("Host")}}
                                th(rowspan=2) {{::$root.t("Name")}}
                                th(colspan=4) {{::$root.t("Description")}}
                            tr
                                th {{::$root.t("Lifespan")}}
                                th {{::$root.t("Path")}}
                                th {{::$root.t("Secure")}}
                                th {{::$root.t("HttpOnly")}}
                        tbody.dashboard-item-detail__table-body
                            tr(ng-repeat-start='cookie in filterThirdPartyBy(purpose)', ng-class="cookie.change")
                                td.indicator-cell(rowspan=2) {{cookie.host}}
                                td(rowspan=2)
                                    a(ng-click='goTo("zen.app.pia.module.cookiecompliance.views.cookievalues", {cookie: cookie.name, url: cookie.host})') {{cookie.name}}
                                     span.align-right(ng-if="cookie.isBehindLogin")
                                        i.fa.fa-key.color-green.text-large
                                td(colspan=4) {{cookie.combinedDescription}}
                            tr(ng-repeat-end, ng-class="cookie.change")
                                td {{cookie.expiry}}
                                td {{cookie.path}}
                                td
                                    checkmark(checked='cookie.secure')
                                td
                                    checkmark(checked='cookie.httpOnly')
