span.cookepart-list.margin-right-1
    one-select(options="model.reportPartsSelectionList",
        model="model.selectedPart",
        on-change="loadReportPart(selection)",
        label-key="label",
        value-key="value",
        class="cookepart-list__select")
span(class="padding-left-half padding-right-half text-small cookiepedia-label"
    ng-bind-html="$root.t('PoweredByCookiepedia')")
