.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady && model.domainList.length', text="{{ ::labels.loading }}")
        div.margin-top-1.aign-center.margin-left-right-2(ng-if='reportReady && (model.summaryReport.isThirdPartyBannerEnabled && !model.summaryReport.isBannerWarningClosed)')
            third-party-banner-notification(
                domain="{{model.summaryReport.domain}}",
                message="{{::$root.t('ThirdPartyBannerDetectionWarningMessage')}}",
                (callback)="updateBannerWarningClosedStatus($event)")
        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.dashboard-item-cookies
                div.what-this-means
                    i.what-this-means__icon.fa.fa-info-circle
                    a.what-this-means__link(ng-click='showInfoModal(cookieParts.Cookies)') {{::$root.t("WhatThisMeans")}}
                h2.dashboard-item__heading {{::$root.t("Cookies")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.cookiesBreakdown', title='{{model.summaryReport.cookies}}', subtitle='{{::$root.t("Cookies")}}')
                    span.changes
                        changeindicator(changed-by='model.summaryReport.cookiesChangedBy')
                    button.graph-container__button.one-button.one-button--primary(ng-click='goToCookieDetailsReport()') {{::$root.t("Details")}}
                ul.graph-legend
                    li.graph-legend__strictly-necessary {{::$root.t("StrictlyNecessary")}}
                    li.graph-legend__performance {{::$root.t("Performance")}}
                    li.graph-legend__functionality {{::$root.t("Functionality")}}
                    li.graph-legend__targeting {{::$root.t("Targeting")}}
                    li.graph-legend__unknown {{::$root.t("Unknown")}}

            .dashboard-item.dashboard-item-tags
                div.what-this-means
                    i.what-this-means__icon.fa.fa-info-circle
                    a.what-this-means__link(ng-click='showInfoModal(cookieParts.Tags)') {{::$root.t("WhatThisMeans")}}
                h2.dashboard-item__heading {{::$root.t("Tags")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.tagsBreakdown', title='{{model.summaryReport.tags}}', subtitle='{{::$root.t("Tags")}}')
                    span.changes
                        changeindicator(changed-by='model.summaryReport.tagsChangedBy')
                    button.graph-container__button.one-button.one-button--primary(ng-click='goToTagDetailsReport()') {{::$root.t("Details")}}
                ul.graph-legend
                    li.graph-legend__script {{::$root.t("JavaScript")}}
                    li.graph-legend__image {{::$root.t("Images")}}
                    li.graph-legend__object {{::$root.t("Object")}}
                    li.graph-legend__embed {{::$root.t("Embed")}}
                    li.graph-legend__iframe {{::$root.t("Iframe")}}
                    li.graph-legend__webbeacon {{::$root.t("WebBeacons")}}

            .dashboard-item.dashboard-item-forms(ng-if='!model.selectedRowKey')
                div.what-this-means
                    i.what-this-means__icon.fa.fa-info-circle
                    a.what-this-means__link(ng-click='showInfoModal(cookieParts.Forms)') {{::$root.t("WhatThisMeans")}}
                h2.dashboard-item__heading {{::$root.t("Forms")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.formsBreakdown', title='{{model.summaryReport.forms}}', subtitle='{{::$root.t("Forms")}}')
                    span.changes
                    button.graph-container__button.one-button.one-button--primary(ng-click='goToFormDetailsReport()') {{::$root.t("Details")}}
                ul.graph-legend
                    li.graph-legend__personal {{::$root.t("PersonalInformation")}}
                    li.graph-legend__not-personal {{::$root.t("OtherFields")}}

            .dashboard-item.dashboard-item-pages
                cc-item-count-tile(
                    tile-type='Cookies',
                    tile-title='{{::$root.t("Cookies")}}',
                    item-count-total='model.summaryReport.cookies',
                    item-sub-heading-total='{{::$root.t("Total")}}',
                    item-count-behind-login='model.summaryReport.behindLoginCookies',
                    item-sub-heading-behind-login='{{::$root.t("BehindLogins")}}'
                    tool-tip-text='{{::$root.t("BehindLoginsDashboardTooltip")}}',
                )

            .dashboard-item.dashboard-item-pages
                cc-item-count-tile(
                    tile-type='Pages',
                    tile-title='{{::$root.t("Pages")}}',
                    item-count-total='model.summaryReport.pagesScanned',
                    item-sub-heading-total='{{::$root.t("PagesScanned")}}',
                    item-count-behind-login='model.summaryReport.behindLoginPagesScanned',
                    item-sub-heading-behind-login='{{::$root.t("BehindLogins")}}'
                    tool-tip-text='{{::$root.t("BehindLoginsDashboardTooltip")}}'
                    is-scan-history='model.selectedRowKey ? true: false'
                )

            .dashboard-item.dashboard-item-pages
                cc-item-count-tile(
                    tile-type='LocalStorage',
                    tile-title='{{::$root.t("LocalStorage")}}',
                    item-count-total='model.summaryReport.localStorageItems',
                    item-sub-heading-total='{{::$root.t("ObjectsFound")}}',
                    is-scan-history='model.selectedRowKey ? true: false'
                )

            .dashboard-item.dashboard-item-policies
                h2.dashboard-item__heading {{::$root.t("Policies")}}
                ul.dashboard-item-policies__list
                    li.dashboard-item-policies__list-item
                        h3.dashboard-item-policies__list-item-heading.found(ng-if='model.summaryReport.privacyPolicy')
                            i.fa.fa-fw.fa-check-square-o
                            | {{::$root.t("PrivacyPolicy")}}
                        p.dashboard-item-policies__list-item-body(ng-if='model.summaryReport.privacyPolicy && model.summaryReport.privacyPolicyLinkCount <= 0.0') {{model.PrivacyPolicyNotes}}
                        p.dashboard-item-policies__list-item-body(ng-if='model.summaryReport.privacyPolicy && model.summaryReport.privacyPolicyLinkCount > 0.0') {{model.PrivacyPolicyNotes}}
                        h3.dashboard-item-policies__list-item-heading(ng-if='!model.summaryReport.privacyPolicy')
                            i.fa.fa-fw.fa-square-o
                            | {{::$root.t("PrivacyPolicy")}}
                        p.dashboard-item-policies__list-item-body(ng-if='!model.summaryReport.privacyPolicy') {{model.PrivacyPolicyNotes}}
                    li.dashboard-item-policies__list-item
                        h3.dashboard-item-policies__list-item-heading.found(ng-if='model.summaryReport.cookiePolicy')
                            i.fa.fa-fw.fa-check-square-o
                            | {{::$root.t("CookieDisclosure")}}
                        p.dashboard-item-policies__list-item-body(ng-if='model.summaryReport.cookiePolicy') {{model.CookiePolicyNotes}}
                        h3.dashboard-item-policies__list-item-heading(ng-if='!model.summaryReport.cookiePolicy')
                            i.fa.fa-fw.fa-square-o
                            | {{::$root.t("CookieDisclosure")}}
                        p.dashboard-item-policies__list-item-body(ng-if='!model.summaryReport.cookiePolicy') {{model.CookiePolicyNotes}}
                    li.dashboard-item-policies__list-item
                        h3.dashboard-item-policies__list-item-heading.found(ng-if='model.summaryReport.cookieNotice')
                            i.fa.fa-fw.fa-check-square-o
                            | {{::$root.t("CookieNotice")}}
                        p.dashboard-item-policies__list-item-body(ng-if='model.summaryReport.cookieNotice') {{model.CookieNoticeNotes}}
                        h3.dashboard-item-policies__list-item-heading(ng-if='!model.summaryReport.cookieNotice')
                            i.fa.fa-fw.fa-square-o
                            | {{::$root.t("CookieNotice")}}
                        p.dashboard-item-policies__list-item-body(ng-if='!model.summaryReport.cookieNotice') {{model.CookieNoticeNotes}}

        // No websites messages
        .cookiecompliance__message(ng-if='Ready && !model.domainList.length')
            h2.cookiecompliance__message-heading {{::$root.t("YouHaveNoExistingWebsites")}}
            h2.cookiecompliance__message-heading {{::$root.t("PleaseCreateANewWebsite")}}
