one-button(button-click='launchCookieCompliance(true, false)',
    icon="fa fa-external-link",
    data-ng-if="Permissions.canShow('SettingsCookieAdvanced')",
    text="{{::$root.t('AdvancedSettings')}}",
    identifier="cookiesAdvancedSettings",
    is-rounded="showNewWebsiteList")
one-button(button-click='UpgradeModule("Cookies")',
    icon="fa fa-external-link",
    right-side-icon="upgrade__icon",
    data-ng-if="Permissions.canShow('SettingsCookieAdvancedUpgrade')",
    text='{{::$root.t("AdvancedSettings")}}',
    identifier="cookiesAdvancedSettingsUpgrade",
    is-rounded="showNewWebsiteList")
