.cookiecompliance.cookiecompliance-consent.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("CookieBanner")}}
                    li
                        include cookiecompliance_domain_selection.jade
            include cookiecompliance_advanced_settings.jade
            
    .module-wrapper
        loading(ng-if='!PageReady && model.domainList.length',
            text='{{consentLoadingMessage}}',
            show-loading-prefix="showLoadingPrefix.value")

        section.cookiecompliance-consent-wrapper(ng-if='PageReady')
            div(ng-if="!Permissions.canShow('CookieBannerEditor')")
                h3 {{::$root.t("ChooseYourLayout")}}
                h4 {{::$root.t("SelectPositionAndColorTheme")}}

            div.text-center.margin-bottom-3(ng-if="Permissions.canShow('CookieBannerEditor')")
                h3 {{::$root.t("CreateCookieBanner")}}
                h4 {{::$root.t("SelectThemeToGetStarted")}}

            ul.layout-thumbnails.row-wrap(ng-class="{'row-horizontal-center': Permissions.canShow('CookieBannerEditor'), 'row-flex-start': !Permissions.canShow('CookieBannerEditor')}")
                li.layout-thumbnails__thumb.text-center.column-flex-start.margin-top-bottom-1.margin-right-2.padding-all-1(ng-repeat='layout in LayoutOptions track by $index', ng-click='selectLayout($index)')
                    .layout-thumbnails__thumb-image-container.margin-top-bottom-2.margin-left-right-1(ng-class="{ 'layout-thumbnails__thumb-image-container--active': layout.selected }")
                        img.layout-thumbnails__thumb-image(ng-src='{{layout.imageSrc}}')
                    span.layout-thumbnails__thumb-label {{layout.label}}

            div.cookiecompliance-consent-wrapper__body.text-center(ng-if="!Permissions.canShow('CookieBannerEditor')")
                h3.cookiecompliance-consent-wrapper__body-text {{::$root.t("MoreConfigurationOptionsMessage")}} 
                    i {{::$root.t("AdvancedSettings")}}.
                button.cookiecompliance__launch.one-button.one-button--primary(ng-click='launchCookieCompliance(true, false)', ng-if="Permissions.canShow('SettingsCookieAdvanced')")
                    i.fa.fa-external-link
                    span {{::$root.t("AdvancedSettings")}} 
                h4.cookiecompliance-consent-wrapper__body-info
                    i {{::$root.t("AdvanceSettingsLaunchMessage")}}
                p.cookiecompliance-consent-wrapper__body-contact
                    | {{::$root.t("ForHelpPleaseContact")}} 
                    a(href="mailto:cookies@onetrust.com") cookies@onetrust.com

            div.text-center.margin-top-3(ng-if="Permissions.canShow('CookieBannerEditor')")
                button.cookiecompliance-consent-footer__button.one-button.one-button--primary(ng-click='saveConsentBanner()')
                    | {{$root.t("Create")}}

        // No websites messages
        .cookiecompliance__message(ng-if='Ready && !model.domainList.length')
            h2.cookiecompliance__message-heading {{::$root.t("YouHaveNoExistingWebsites")}}
            h2.cookiecompliance__message-heading {{::$root.t("PleaseCreateANewWebsite")}}
            
    footer.cookiecompliance-consent-footer__wrapper(ng-if="PageReady && !Permissions.canShow('CookieBannerEditor')")
        .cookiecompliance-consent-footer
            one-button(button-click='saveConsentBanner()'
                class='margin-right-1'
                type='primary'
                text='{{consentNotice.DomainId==0 ? $root.t("CreateConsentBanner") : $root.t("UpdateConsentBanner")}}'
                identifier="saveBanner")
