.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")
        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.tags
                h2.dashboard-item__heading {{::$root.t("Tags")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.tagsBreakdown', title='{{model.summaryReport.tags}}', subtitle='{{::$root.t("Tags")}}')
                    span.changes
                        changeindicator(changed-by='model.summaryReport.tagsChangedBy')
                ul.graph-legend
                    li.graph-legend__script {{::$root.t("JavaScript")}}
                    li.graph-legend__image {{::$root.t("Images")}}
                    li.graph-legend__object {{::$root.t("Object")}}
                    li.graph-legend__embed {{::$root.t("Embed")}}
                    li.graph-legend__iframe {{::$root.t("Iframe")}}
                    li.graph-legend__webbeacon {{::$root.t("WebBeacons")}}

            div.dashboard-item.dashboard-item-detail.dashboard-item-detail__legend
                div.dashboard-item-detail__legend-item.new {{::$root.t("NewTagsFoundInThisScan")}}
                div.dashboard-item-detail__legend-item.old {{::$root.t("TagsNoLongerFoundInThisScan")}}

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend {{::$root.t("ThirdPartyTags")}}

                h3.dashboard-item-detail__sub-heading(ng-repeat-start='host in TagDetailReport') {{host.name}}
                table.dashboard-item-detail__table.tags(ng-repeat-end)
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("Type")}}
                        th {{::$root.t("Age")}}
                        th {{::$root.t("SourceUrl")}}
                        th {{::$root.t("Parameters")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='tag in host.tags track by $index' ng-class='tag.change')
                            td.indicator-cell(ng-class="tag.className") {{tag.tagType}}
                            td {{tag.age}}
                            td {{tag.src}}
                            td {{tag.params}}
