.cookiecompliance.cookiecompliance-dashboard
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")

        section.cookiecompliance-dashboard-list(ng-if='reportReady')

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend
                    | {{::$root.t("ReportForPagesContainingForm", {formName: formName}) }}

                table.dashboard-item-detail__table
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("PageURL")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='formPage in formPages track by $index')
                            td
                                a(href="{{formPage.auditUrl}}", target="_blank") {{formPage.auditUrl}}
