.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")
        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.forms
                h2.dashboard-item__heading {{::$root.t("Forms")}}
                .graph-container
                    horseshoe-graph(size='200', stroke='30', list='model.summaryReport.formsBreakdown', title='{{model.summaryReport.forms}}', subtitle='{{::$root.t("Forms")}}')
                    span.changes
                ul.graph-legend
                    li.graph-legend__personal {{::$root.t("PersonalInformation")}}
                    li.graph-legend__not-personal {{::$root.t("OtherFields")}}

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend {{::$root.t("Forms")}}

                div.dashboard-item-detail__sub-heading-container
                    h3.dashboard-item-detail__sub-heading.pull-left(ng-repeat-start='form in FormDetailReport track by $index') {{form.name}}
                    .dashboard-item-detail__form-page-link.pull-left.margin-left-4(id='{{form.name}}', ng-bind="::getFormLink(form.name, form.numberOfPagesFound)")

                    table.dashboard-item-detail__table.forms(ng-repeat-end)
                        thead.dashboard-item-detail__table-head
                            th {{::$root.t("FieldName")}}
                            th {{::$root.t("Label")}}
                            th {{::$root.t("Type")}}
                            th {{::$root.t("Value")}}
                            th {{::$root.t("PersonalData")}}
                        tbody.dashboard-item-detail__table-body
                            tr(ng-repeat='field in form.formDataFields track by $index')
                                td(ng-class="field.className") {{field.fieldName}}
                                td {{field.label}}
                                td {{field.type}}
                                td {{field.value}}
                                td
                                    checkmark(checked='field.isPersonalData')
