.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")

        section.cookiecompliance-dashboard-list(ng-if='reportReady')

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend(ng-if='cookieValuesReport.reportType === "cookie"')
                    | {{$root.t("CookieNameFromHostWasFound", {CookieName: cookieName, Host: host}) }}
                h2.dashboard-item-detail__heading.no-legend(ng-if='cookieValuesReport.reportType === "url"')
                    | {{$root.t("CookiesFoundOnPageURL", {PageURL: pageURL}) }}

                table.dashboard-item-detail__table(ng-if='cookieValuesReport.reportType === "cookie"')
                    thead.dashboard-item-detail__table-head
                    th {{::$root.t("PageURL")}}
                        th {{::$root.t("Value")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='cookieValue in cookieValuesReport.reportData track by $index')
                            td {{cookieValue.auditUrl}}
                            td {{cookieValue.value}}

                table.dashboard-item-detail__table(ng-if='cookieValuesReport.reportType === "url"')
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("Cookie")}}
                        th {{::$root.t("Host")}}
                        th {{::$root.t("Path")}}
                        th {{::$root.t("Value")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='cookieValue in cookieValuesReport.reportData track by $index')
                            td {{cookieValue.name}}
                            td {{cookieValue.host}}
                            td {{cookieValue.path}}
                            td {{cookieValue.value}}
