.cookiecompliance.cookiecompliance-dashboard.animation(ng-class="{'fade-in': fade }")
    nav.navbar.navbar-default
        .container-fluid
            header.navbar-header
                ol.breadcrumb
                    li {{::$root.t("ScanResults")}}
                    li
                        include cookiecompliance_domain_selection.jade
                    li
                        include cookiecompliance_cookiepart_selection.jade
            cc-scan-results-export.margin-right-1(ng-if="model.summaryReport.domain" button-text="{{::$root.t('Export')}}", domain-name="{{model.summaryReport.domain}}" row-key="model.selectedRowKey")
            include cookiecompliance_advanced_settings.jade

    include cookiecompliance_dashboard_topbar.jade

    .module-wrapper.dashboard-container
        loading(ng-if='!reportReady', text="{{ ::labels.loading }}")
        section.cookiecompliance-dashboard-list(ng-if='reportReady')
            .dashboard-item.dashboard-item-pages(ng-if="!canShowScanBehindLogin")
                div.dashboard-item-pages__page-count
                    h3.dashboard-item-pages__page-count-heading {{model.summaryReport.pagesScanned}}
                    h4.dashboard-item-pages__page-count-sub-heading.margin-left-right-2 {{::$root.t("PagesScanned")}}

            .flex.cc-item-count-tile__container.shadow7.background-white.padding-top-2.padding-left-right-2.padding-bottom-1.margin-all-1(ng-if="canShowScanBehindLogin")
                div.text-center.cc-item-count-tile__content-block.background-blue.color-white.shadow7
                    h3.text-thin-2.margin-bottom-0.margin-top-1 {{model.summaryReport.pagesScanned}}
                    h4.text-uppercase.margin-left-right-2.margin-top-0 {{::$root.t("TotalScanned")}}

                div.cc-item-count-tile__content-block.background-green.color-white.text-center.shadow7
                    h3.text-thin-2.margin-bottom-0.margin-top-1 {{model.summaryReport.behindLoginPagesScanned}}
                    h4.text-uppercase.margin-left-right-2.margin-top-0 {{::$root.t("BehindLogins")}}

            div.dashboard-item.dashboard-item-detail
                h2.dashboard-item-detail__heading.no-legend {{::$root.t("Pages")}}

                table.dashboard-item-detail__table.pages
                    thead.dashboard-item-detail__table-head
                        th {{::$root.t("Url")}}
                        th {{::$root.t("Cookies")}}
                        th {{::$root.t("Forms")}}
                        th {{::$root.t("PrivacyPolicy")}}
                        th {{::$root.t("CookieDisclosure")}}
                        th {{::$root.t("Log-in")}}
                    tbody.dashboard-item-detail__table-body
                        tr(ng-repeat='page in PagesReport track by $index')
                            td
                                a(ng-click='goTo("zen.app.pia.module.cookiecompliance.views.cookievalues", {url: page.auditUrl})') {{page.auditUrl}}
                            td {{page.cookieCount}}
                            td
                                checkmark(checked='page.hasUnauditedFeatures')
                            td
                                checkmark(checked='page.isPrivacyPolicy')
                            td
                                checkmark(checked='page.isCookiePolicy')
                            td
                                checkmark(checked='page.isLoginForm')
                                span.align-right(ng-if="page.isBehindLogin && canShowScanBehindLogin")
                                    i.fa.fa-key.color-green.text-large(uib-tooltip='{{::$root.t("PageFoundBehindLoginToolTip")}}', tooltip-append-to-body='true')
