nav.navbar.navbar-default.navbar-secondary.padding-left-1(ng-show='reportReady && !scanInProgress')
    .container-fluid
        header.navbar-header
            one-button(ng-if='!scanPending', button-click='reauditWebsite(model.selectedWebsite, false)',
                icon="true",
                icon-class='fa fa-undo',
                class='cookiecompliance-dashboard__scannow-button position-absolute',
                type='primary',
                text='{{::$root.t("ScanNow")}}',
                identifier="scanNow")
            .cookiecompliance-dashboard__pending-message.padding-all-1.text-bold.cookie-scan-pending.position-absolute(ng-if="scanPending") {{::$root.t("AScanCurrentlyPending")}}
.scan-in-progress.padding-all-1(ng-if="reportReady && scanInProgress")
    span.cookiecompliance-dashboard__progress-message.position-relative.pull-right {{::$root.t("AScanCurrentlyInProgress")}}
    .progress-bar-container        
        .progress-bar(ng-style='{ width: calculateProgress(CurrentDomain) }')
    one-button(button-click='reloadReport()',
        is-disabled='debounceRefresh',
        class='cookiecompliance-dashboard__refresh-button position-absolute',   
        text='{{::$root.t("Refresh")}}',
        identifier="refreshScan")
.cookiecompliance-dashboard__scan-date-container.position-relative(ng-if="reportReady")
    .cookiecompliance-dashboard__scan-date.position-absolute
        span.text-bold.padding-left-1(ng-class="{'cookiecompliance-dashboard__scan-date-white': scanInProgress}") {{::$root.t("ScanDate")}} :
    .cookiecompliance-dashboard__previous-scan-list.position-absolute
        one-select(options="model.domainHistorySelectionList",
            model="model.selectedRowKey",
            on-change="loadScanHistoryReport(selection)",
            label-key="scanDateTimeInUserTimezone",
            value-key="rowKey",
            class="cookiecompliance-dashboard__previous-scan-list-select")

