<one-modal-base
    class="flex-full-height"
    [modalTitle]="'ChangeManagingOrganization' | otTranslate"
    (close)="closeModal()"
    >
    <section class="column-horizontal-vertical-center padding-left-right-2 padding-top-2">
        <div
            otFormElement
            class="margin-bottom-2 full-width"
            [required]="true"
            [label]="'ManagingOrganization' | otTranslate"
            >
            <org-select
                [required]="true"
                [identifier]="'DSARChangeOrgSelect'"
                [model]="orgGroupId"
                (onSelect)="orgSelect($event)"
                >
            </org-select>
        </div>
        <div
            otFormElement
            class="margin-bottom-2 full-width"
            [label]="'Approver' | otTranslate"
            >
            <ot-org-user
                ot-auto-id="ChangeOrgModalUser"
                [orgId]="orgGroupId"
                [model]="reviewerToSubmit"
                [traversal]="orgUserTraversal.Up"
                [disabled]="isAssignedToMe"
                [fetchOptionsOnClick]="true"
                (onSelect)="assigneeSelected($event)"
            ></ot-org-user>
        </div>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="DSAROrgChangeOrgModalCancelButton"
            [disabled]="saveInProgress"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            ot-auto-id="DSAROrgChangeOrgModalSaveButton"
            [loading]="saveInProgress"
            [innerText]="'Save' | otTranslate"
            [disabled]="!canSubmit || saveInProgress"
            (click)="handleSubmit()"
            >
        </button>
    </footer>
</one-modal-base>
