<div class="text-center padding-top-1-half padding-bottom-3 background-white">
    <h1 class="text-bold" translate>WelcomeToOnetrust</h1>
    <h5 translate>PrivacyManagementSoftware</h5>
</div>
<div class="padding-top-bottom-3">
    <div class="welcome__page-content margin-0-auto flex row-wrap justify-center">
        <ng-container
            *ngFor="let card of welcomeCards"
            [ngTemplateOutlet]="WelcomeCard"
            [ngTemplateOutletContext]="{ $implicit: card, locked: false }"
        ></ng-container>
        <ng-container
            *ngFor="let card of lockedCards"
            [ngTemplateOutlet]="WelcomeCard"
            [ngTemplateOutletContext]="{ $implicit: card, locked: true }"
        ></ng-container>
    </div>
</div>

<ng-template #WelcomeCard let-card let-locked="locked">
    <a
        class="
            welcome__card
            static-horizontal
            background-white
            remove-anchor-style
            text-decoration-none
            border
            border-radius-5
            shadow8
            margin-all-1
            padding-all-1
            column-nowrap
            position-relative
        "
        [uiSref]="card.route"
        [uiParams]="card.params"
        (click)="triggerItemAction(card)"
    >
        <div class="text-center static-vertical">
            <img
                [src]="card.icon"
                [alt]="card.title | translate"
            />
        </div>
        <div
            class="welcome__card__title stretch-vertical text-center text-bold slds-truncate"
            [attr.title]="card.title"
            [translate]="card.title"
            >
        </div>
        <div class="text-center static-vertical">
            <ng-template *ngIf="locked; then UpgradeBlock; else GetStartedBlock"></ng-template>
            <ng-template #UpgradeBlock>
                <button otButton brand
                    [attr.ot-auto-id]="'WelcomePageCard__UpgradeBtn--'+card.id"
                    >
                    {{ 'Upgrade' | translate }}
                </button>
                <span class="upgrade__icon position-absolute top-0 right-0 padding-right-1"></span>
            </ng-template>
            <ng-template #GetStartedBlock>
                <ng-template *ngIf="card.legacy; then legacyAnchor; else ngAnchor"></ng-template>
                <ng-template #legacyAnchor>
                    <a otButton brand
                        [attr.ot-auto-id]="'WelcomePageCard__'+card.id"
                        translate="GetStarted"
                        [uiSref]="card.route"
                        [uiParams]="card.params"
                    ></a>
                </ng-template>
                <ng-template #ngAnchor>
                    <a otButton brand
                        translate="GetStarted"
                        [attr.ot-auto-id]="'WelcomePageCard__'+card.id"
                        [routerLink]="['/module/welcome', card.id]"
                    ></a>
                </ng-template>
            </ng-template>
        </div>
    </a>
</ng-template>
