<section class="relate-inventory-modal one-modal-new flex-full-height max-height-100-percent full-width">
    <section class="one-modal-new__header row-space-between static-vertical margin-left-right-2">
        <h4 class="one-modal-new__title stretch-horizontal margin-all-0 text-bold"
             [innerText]="modalTitle"
            >
        </h4>
        <button
            otButton
            neutral
            *ngIf="!isSaving"
            [attr.ot-auto-id]="'RelateInventoryCloseButton'"
            class="one-modal-new__close static-horizontal no-outline"
            (click)="closeModal()"
            >
            <i class="ot ot-times"></i>
        </button>
    </section>
    <div class="stretch-vertical overflow-y-auto padding-all-2">
        <form
            *ngIf="!isLoadingInventory"
            name="relateInventoryForm"
            class="relate-inventory-modal__content flex-full-height"
            >
            <div
                otFormElement
                [label]="chooseInventoryItemText"
                [required]="true"
                >
                <ot-lookup
                    ot-auto-id="RelateInventorySingleSelect"
                    *ngIf="!multiSelectEnabled"
                    [placeholder]="chooseInventoryItemText"
                    [options]="filteredInventoryList"
                    [labelKey]="'label'"
                    [valueKey]="'id'"
                    [model]="selectedOption"
                    [disabled]="isSaving || !inventoryList.length"
                    [virtualScroll]="true"
                    [dynamicHeight]="true"
                    (modelChange)="onSelect($event)"
                    (inputChange)="searchItems($event)"
                    >
                </ot-lookup>

                <upgraded-one-multiselect
                    *ngIf="multiSelectEnabled"
                    [list]="inventoryList"
                    [labelKey]="'label'"
                    [model]="selectedOptions"
                    [isDisabled]="isSaving || !inventoryList.length"
                    [placeholder]="chooseInventoryItemText"
                    [appendToBody]="true"
                    [isParentModal]="true"
                    [throttleValue]="100"
                    (handleSelect)="onSelect($event)"
                    (handleRemove)="onRemove($event)"
                    >
                </upgraded-one-multiselect>
            </div>
            <div
                otFormElement
                *ngIf="!multiSelectEnabled"
                class="margin-top-2"
                [label]="howIsInventoryRelatedText"
                [required]="true"
                >
                <div *ngFor="let attribute of relationshipOptions;trackBy:id" class="flex flex-initial padding-all-1">
					<upgraded-one-checkbox
						class="margin-right-1"
                        [isSelected]="relatedAttributes[attribute.id]"
                        [isDisabled]="isSaving"
                        (toggle)="checkboxChange(attribute.id)"
					    >
					</upgraded-one-checkbox>
					<label>{{attribute.name}}</label>
				</div>
            </div>
        </form>
        <upgraded-loading
            *ngIf="isLoadingInventory"
            show-text="true"
            class="relate-inventory-modal__content flex-full-height justify-center"
            >
        </upgraded-loading>
        <footer class="margin-top-half row-flex-end static-horizontal margin-top-1 padding-top-1">
            <button
                class="margin-right-1"
                otButton
                neutral
                [attr.ot-auto-id]="'RelateInventoryCloseModalButton'"
                (click)="closeModal()"
                [disabled]="isSaving"
                >
                {{cancelButtonText}}
            </button>
            <button
                *ngIf="!multiSelectEnabled"
                class="margin-right-1"
                otButton
                neutral
                [attr.ot-auto-id]="'RelateInventorySaveAndAddNewButton'"
                (click)="saveInventory(false)"
                [disabled]="isSaving || !requiredFieldsPopulated"
                >
                {{"SaveAndAddNew" | otTranslate}}
            </button>
            <button
                otButton
                brand
                [attr.ot-auto-id]="'RelateInventorySaveButton'"
                (click)="saveInventory()"
                [disabled]="isSaving || !requiredFieldsPopulated"
                [loading]="isSaving"
                >
                {{submitButtonText}}
            </button>
        </footer>
    </div>
</section>
