<div class="row-wrap">
    <div class="width-50-percent">
        <ot-loading
            *ngIf="isLoading; else selectApprovers"
            class="pull-left margin-top-1"
        >
        </ot-loading>
        <ng-template #selectApprovers>
            <div
                otFormElement
                [label]="'Approver' | otTranslate"
                [required]="true"
            >
                <ot-org-user-multi-select
                    ot-auto-id="'TemplateRuleAddApproversMultiSelect'"
                    [userList]="approverList"
                    [fetchOptionsOnClick]="true"
                    [disabled]="isPreviewMode"
                    [hideButtons]="isPreviewMode"
                    [permissions]="['AssessmentCanBeApprover']"
                    [placeholder]="'Approver'"
                    (onSelect)="onApproverSelected($event)"
                ></ot-org-user-multi-select>
            </div>
        </ng-template>
    </div>
</div>
