<section class="dsar-add-new-webform full-size column-nowrap">
    <ot-page-header [title]="'CreateNewWebForm' | otTranslate"></ot-page-header>
    <ot-loading otPageLoading
        *ngIf="isLoading; else form">
    </ot-loading>
    <ng-template #form>
        <div class="column-horizontal-vertical-center">
            <h2
                class="text-center text-huge text-bold margin-top-4 margin-bottom-0"
                [innerText]="'CreateNewWebForm' | otTranslate"
            ></h2>
            <general-settings-generator
                class="width-50-percent max-width-50 margin-top-4"
                [settingMeta]="webformCreateMeta"
                [settings]="settings"
                (handleSettingAction)="handleAction($event)"
            ></general-settings-generator>
            <div class="width-50-percent max-width-50 row-flex-end">
                <button
                    otButton
                    ot-auto-id="DsarAddNewWebFormCancel"
                    class="margin-right-1"
                    [innerText]="'Cancel' | otTranslate"
                    [disabled]="loadingSave"
                    (click)="handleCancel()"
                ></button>
                <button
                    otButton
                    brand
                    ot-auto-id="DsarAddNewWebFormAdd"
                    [loading]="loadingSave"
                    [innerText]="'Save' | otTranslate"
                    [disabled]="!canSubmit"
                    (click)="handleSubmit()"
                ></button>
            </div>
        </div>
    </ng-template>
</section>
