<ng-container *ngIf="customPreferences.length">
    <ng-container *ngFor="let customPreference of customPreferences; trackBy: trackByFn">
        <div class="padding-bottom-2 full-width">
            <table otDataTable
                class="margin-top-2"
                [rowData]="customPreference.Options"
                [rowBordered]="true"
                [truncateCellContent]="true">
                <ng-container *ngFor="let col of columns">
                    <ot-data-table-column
                        [headerLabel]="col.cellValueKey === columnTypes.Name ? customPreference.Name : ''"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [ngSwitch]="col.cellValueKey"
                    >
                        <ng-container *ngSwitchCase="columnTypes.Name">
                            <ng-template otDataTableCell let-row="row">
                                {{ row.Label }}
                            </ng-template>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnTypes.Id">
                            <ng-template otDataTableCell let-row="row">
                                <i
                                    class="ot ot-check color-green"
                                    *ngIf="isOptionConsented(customPreference.PurposeCustomPreferenceId, row.Id)"
                                ></i>
                            </ng-template>
                        </ng-container>
                    </ot-data-table-column>
                </ng-container>
            </table>

            <div
                class="margin-left-1 padding-top-bottom-1"
                *ngIf="customPreference.Options.length === 0"
            >
                {{ 'NoOptionsFound' | otTranslate }}
            </div>
        </div>
    </ng-container>
</ng-container>
