<div class="height-100 flex-full-width flex-full-height cr">
    <div class="cr-content height-100 flex overflow-hidden">
        <section class="cr-body show width-100-percent height-100 flex-full-width">
            <ng-content></ng-content>
        </section>
    </div>
</div>
