.request-queue-detail-messaging {
    background-color: $paper;
    &__attachment {
        font-size: 2.5rem;
        &:hover,
        &:focus {
            text-shadow: .1rem .1rem .1rem $grey-2;
            transform: translateY(-0.15rem);
        }
    }
    &__textarea {
        border-radius: 0px 2px 2px;
        &--green {
            background-color: $light-green;
        }
    }

    &__respond-dropdown {
        &.one-button {
            padding-right: 0.4rem;
            padding-left: 0.4rem;
        }
        &.one-button--primary {
            border-left: .1rem solid white;
            &:disabled,
            &[disabled],
            [disabled] & {
                border-left: .1rem solid white;
            }
        }
    }

    &__button-active {
        border-top: 0.3rem solid $green !important;
        font-weight: bold;

    }

    &__button-inactive {
        background-color: $frost !important;
        font-weight: normal;
    }

    &__response-template {
        width: 30rem;
        top: .4rem;
        right: .8rem;

        button {
            line-height: 2rem;
            min-height: 2.5rem;
            max-height: 2.5rem;
        }
    }

    &__quill-editor {
        min-height: 7rem;
    }

    &__extend-modal-quill-editor {
        min-height: 10rem;
    }

    .ot-context-menu__split-dropdown i {
        display: inline;
    }
}
