<section class="request-queue-detail-messaging padding-top-2">
    <div class="centered-75-percent padding-bottom-1">
        <div class="row-space-between">
            <div class="padding-top-2 one-button-group">
                <button
                    *ngIf="permissionsMap.DSARExternalCommentCreate && !requestQueueDetailService.taskMode"
                    class="one-button--tab margin-right-half one-button"
                    ot-auto-id="DSARRequestQueuePublicTab"
                    [disabled]="isUnverified"
                    [innerText]="'Public' | otTranslate"
                    [ngClass]="isInternalComment ? 'request-queue-detail-messaging__button-inactive' : 'request-queue-detail-messaging__button-active' "
                    (click)="changeCommentType(false)"
                ></button>
                <button
                    *ngIf="permissionsMap.DSARInternalCommentCreate"
                    class="one-button--tab margin-right-half one-button"
                    ot-auto-id="DSARRequestQueueInternalTab"
                    [innerText]="'Internal' | otTranslate"
                    [ngClass]="isInternalComment ? 'request-queue-detail-messaging__button-active' : 'request-queue-detail-messaging__button-inactive' "
                    (click)="changeCommentType(true)"
                ></button>
            </div>
        </div>
        <ng-container *ngIf="isInternalComment && !disablePostingComment">
            <ng-container
                [ngTemplateOutlet]="content"
                [ngTemplateOutletContext]="{ isInternalComment : true }"
            ></ng-container>
        </ng-container>
        <ng-container *ngIf="!isInternalComment && !disablePostingComment">
            <ng-container
                [ngTemplateOutlet]="content"
                [ngTemplateOutletContext]="{ isInternalComment : false }"
            ></ng-container>
        </ng-container>
        <ng-template #content let-isInternalComment="isInternalComment">
            <div class="position-relative">
                <ot-picklist
                    class="request-queue-detail-messaging__response-template position-absolute"
                    ot-auto-id="DSARRequestQueueMessagingTemplateDropdown"
                    labelKey="templateName"
                    valueKey="templateContent"
                    [autoClose]="true"
                    [model]="selectedTemplate"
                    [options]="responseTemplates"
                    [placeholder]="'SelectResponse' | otTranslate"
                    (onSelect)="selectTemplate($event.templateContent)"
                ></ot-picklist>
                <ot-rich-text-editor
                    class="block full-width flex-full-height margin-bottom-1"
                    ot-auto-id="DSARRequestQueueMessagingTextEditor"
                    [contentObservable]="isInternalComment ? internalContentObservable : externalContentObservable"
                    [customModules]="customModules"
                    [editorClass]="'request-queue-detail-messaging__quill-editor height-auto background-white flex-full-height stretch-vertical'"
                    [placeholder]="'PleaseEnterMessage' | otTranslate"
                    (onContentChanged)="handleMessageChange($event.html, isInternalComment)"
                ></ot-rich-text-editor>
            </div>
            <ng-container
                *ngFor="let attachment of attachments"
                class="margin-top-half"
            >
                <div
                    ot-auto-id="DSARRequestQueueMessagingAttachmentSection"
                    (mouseleave)="attachment.showDelete = false"
                    (mouseover)="attachment.showDelete = true"
                >
                    <a
                        ot-auto-id="DSARRequestQueueMessagingAttachmentDownload"
                        class="text-link text-italic remove-anchor-style hover-no-underline"
                        (click)="attachmentActions('DOWNLOAD_FILE', attachment, false)"
                    >
                        <span
                            *ngIf="attachment?.icon"
                            class="{{attachment.icon}}"
                        ></span>
                        <span
                            *ngIf="attachment?.name"
                            [innerText]="attachment.name"
                        ></span>
                    </a>
                    <i
                        *ngIf="attachment?.showDelete"
                        aria-hidden="true"
                        class="ot ot-trash-o margin-left-2 cursor-pointer"
                        ot-auto-id="DSARRequestQueueMessagingAttachmentDelete"
                        (click)="attachmentActions('DELETE_FILE', attachment, isInternalComment)">
                    </i>
                </div>
            </ng-container>
            <div [ngClass]="requestQueueDetailService.permissionsMap.AttachmentsUpload ? 'row-space-between' : 'row-flex-end'">
                <button
                    *ngIf="requestQueueDetailService.permissionsMap.AttachmentsUpload"
                    class="background-none border-none"
                    ot-auto-id="DSARRequestQueueMessagingAttachmentUploadButton"
                    [disabled]="isInternalComment ? !internalComment?.length : !externalComment?.length"
                    (click)="requestQueueDetailService.handleAction('ADD_ATTACHMENTS', isInternalComment)"
                >
                    <i
                        class="request-queue-detail-messaging__attachment fa fa-paperclip"
                        [ngClass]="{ 'text-grey-3': (isInternalComment ? !internalComment?.length : !externalComment?.length) }"
                    ></i>
                </button>
                <div *ngIf="isInternalComment">
                    <button
                        otButton
                        brand
                        ot-auto-id="DSARRequestQueueMessagingSubmitButton"
                        [disabled]="!internalComment?.length || requestQueueDetailService?.postingComment"
                        [loading]="requestQueueDetailService.postingComment"
                        [innerText]="submitButtonText | otTranslate"
                        (click)="handleAction(isInternalComment)"
                    ></button>
                </div>
                <div *ngIf="!isInternalComment">
                    <button
                        *ngIf="!dropdownActions.length"
                        otButton
                        brand
                        ot-auto-id="DSARRequestQueueMessagingSubmitButton"
                        [disabled]="!externalComment?.length || requestQueueDetailService?.postingComment"
                        [loading]="requestQueueDetailService.postingComment"
                        [innerText]="submitButtonText | otTranslate"
                        (click)="handleAction(isInternalComment)"
                    ></button>
                    <button
                        *ngIf="dropdownActions.length"
                        otButton
                        otSplitButton
                        brand
                        ot-auto-id="DSARRequestQueueMessagingSubmitButton"
                        [disabled]="!externalComment?.length"
                        [loading]="requestQueueDetailService.postingComment"
                        [innerText]="submitButtonText | otTranslate"
                        (click)="handleAction(isInternalComment)"
                    ></button>
                    <ot-context-menu
                        *ngIf="dropdownActions.length"
                        class="ot-context-menu__split-dropdown"
                        position="bottom-right"
                        [type]="contextMenuType.Brand"
                        [disabled]="!externalComment?.length"
                        [menu]="dropdownActions"
                        >
                        <i class="ot ot-angle-down"></i>
                        <a *otContextMenuItem="let item"
                            (click)="onItemClick(item)"
                            >
                            {{ item.textKey | otTranslate }}
                        </a>
                    </ot-context-menu>
                </div>
            </div>
        </ng-template>
    </div>
</section>
