<one-modal-base
    class="flex-full-height"
    [modalTitle]="headerTitle | otTranslate"
    (close)="closeModal()"
    >
    <section class="padding-left-right-2 padding-top-2">
        <div [innerText]="bodyText | otTranslate">
        </div>
        <div class="row-nowrap margin-top-2 text-color-default text-bold">
            <div otFormElement
                class="row-space-evenly padding-top-bottom-half grantAccessForm"
                [label]="label | otTranslate">
                    <input otInput
                        class="width-40-percent"
                        type="number"
                        min="1"
                        [ngModel]="daysToRevoke"
                        (ngModelChange)="validateForSubmit($event)"
                        [attr.ot-auto-id]="'DSARGrantAccessDays'"
                    />
            </div>
            <div class="margin-top-1 text-color-default"
                [innerText]="dateToRevokeText"></div>
        </div>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'DSARGrantAccessCancelButton'"
            [disabled]="saveLoading"
            [innerText]="cancelButtonText | otTranslate"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            [attr.ot-auto-id]="'DSARGrantAccessSaveButton'"
            [loading]="saveLoading"
            [innerText]="saveButtonText | otTranslate"
            [disabled]="saveLoading || saveDisabled"
            (click)="onSave()"
            >
        </button>
    </footer>
</one-modal-base>
