<ng-template #incidentAddEditSubtaskLoader>
    <ot-loading otPageLoading></ot-loading>
</ng-template>

<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    *ngIf="!(isLoading$ | async); else incidentAddEditSubtaskLoader"
    class="overflow-x-hidden"
    >
    <form
        novalidate
        class="padding-top-2"
        [formGroup]="incidentAddEditSubTasksForm"
        >
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Name' | otTranslate"
            [required]="true"
            >
            <input
                otInput
                formControlName="name"
                ot-auto-id="IncidentSubTasksAddEditNameInput"
                [ngModel]="incidentAddEditSubTasksForm.get('name').value"
                [placeholder]="'Name' | otTranslate"
                [required]="true"
                />
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Description' | otTranslate"
            [required]="true"
            >
            <ot-rich-text-editor
                formControlName="description"
                ot-auto-id="IncidentSubTasksAddEditDescriptionTextArea"
                [placeholder]="'Description' | otTranslate"
                [contentModel]="incidentAddEditSubTasksForm.get('description').value"
                [customModules]="customModules"
                [required]="true"
            ></ot-rich-text-editor>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Assignee' | otTranslate"
            >
            <ot-org-user
                ot-auto-id="IncidentSubTasksAddEditAssignee"
                [allowEmail]="false"
                [model]="incidentAddEditSubTasksForm.get('assignee').value"
                [orgId]="otModalData?.orgGroupId"
                [permissions]="['IncidentAssignableUser']"
                [fetchOptionsOnClick]="false"
                [traversal]="orgUserTraversal.Up"
                (onSelect)="selectAssignee($event)"
            ></ot-org-user>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'Tasks.Status' | otTranslate"
            [hidden]="editSubTaskFlag"
            >
            <ot-picklist
                ot-auto-id="IncidentSubTasksStatusPicklist"
                [autoClose]="true"
                [disabled]="isLoading$ | async"
                [hideArrow]="false"
                [model]="subTasksStatusState"
                [options]="subTasksStatusStates"
                [placeholder]="'Status' | otTranslate"
                (onSelect)="selectSubTasksStatusType($event)"
            ></ot-picklist>
        </div>
        <div
            otFormElement
            class="margin-bottom-1"
            [label]="'DeadlineDate' | otTranslate"
            >
            <ot-date-time-picker
                ot-auto-id="IncidentSubTasksAddEditDeadlineDateTimePicker"
                [dateTimeModel]="incidentAddEditSubTasksForm.get('deadline').value"
                [dateDisableUntil]="disableUntilDate"
                [dateFormat]="format"
                [datePlaceholder]="'DeadlineDate' | otTranslate"
                [hoursText]="'Hours' | otTranslate"
                [is24Hour]="is24Hour"
                [minutesText]="'Minutes' | otTranslate"
                [timePlaceholder]="'DeadlineTime' | otTranslate"
                (onChange)="selectDeadline($event)"
            ></ot-date-time-picker>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="IncidentSubTasksAddEditCloseModalButton"
        [disabled]="isSaving"
        (click)="cancelButtonClicked()"
        >
        {{cancelButtonTitle | otTranslate}}
    </button>
    <button
        otButton brand
        ot-auto-id="IncidentSubTasksAddEditModalButton"
        [disabled]="isFormDataInvalid() || isSaving"
        [loading]="isSaving"
        (click)="actionButtonClicked()"
        >
        {{actionButtonTitle | otTranslate}}
    </button>
</ot-modal-footer>
