.webform-control {
    color: $slate;

    &__header {
        background-image: url(../images/checkered-blend.png);
        height: 5.5rem;
        border-radius: .1rem;
    }

    &__header-img {
        max-height: 80%;
        max-width: 80%;
    }

    &__form {
        min-height: 90vh;
    }

    &__label-button {
        width: 15rem;
        margin: .4rem;
        background-color: $paper-gray;
        border-radius: .4rem;
        border: .1rem solid $platinum;
        padding: .6rem 1rem;
        font-size: 1.2rem;
        font-weight: normal;
        cursor: pointer;
        user-select:none;
        &:hover {
            color: $ui-blue;
            border: .1rem solid $ui-blue;
        }
    }

    &__half-form-field {
        max-width: 48%;
    }

    &__error {
        margin-top: .6rem;
        font-size: 1.2rem;
    }

    &__completed {
        height: 50rem;

        &--verification div {
            font-size: 20px;
        }
    }

    &__edit-mode {
        border: .1rem solid $ui-blue;
    }

    &__attachmentDesc {
        width: 36rem;
    }

}
