<ng-template #showLoader>
    <ot-loading otPageLoading></ot-loading>
</ng-template>

<section
    *ngIf="!isLoading; else showLoader"
    class="height-100 column-nowrap background-white"
>
    <div class="width-100-percent static-vertical border-bottom">
        <button otButton neutral
            class="align-right margin-top-bottom-1 margin-left-right-2"
            ot-auto-id="PurposeCustomPreferencesButton"
            [innerText]="'SelectPurposeCustomPreferences' | otTranslate"
            [disabled]="!canAddCustomPreferences"
            (click)="openAddCustomPreferenceModal()"
        ></button>
    </div>

    <div class="position-relative overflow-auto height-100">
        <ng-container *ngIf="shouldShowCustomPreferencesTable; else emptyState">
            <cr-purpose-custom-preferences-list
                [purpose]="purpose"
                (onRemoveRequested)="openRemoveCustomPreferenceModal($event)"
            ></cr-purpose-custom-preferences-list>
        </ng-container>

        <ng-template #emptyState>
            <div class="row-horizontal-vertical-center margin-top-4 flex-full-height text-center">
                <ot-empty-state [emptyStateMessage]="'NoPurposeCustomPreferencesFound' | otTranslate">
                    <img emptyStateImg />

                    <button otButton brand
                        empty-state-content
                        ot-auto-id="ConsentEmptyStateAddNewButton"
                        *ngIf="canAddCustomPreferences"
                        (click)="openAddCustomPreferenceModal()"
                    >
                        {{ 'SelectPurposeCustomPreferences' | otTranslate }}
                    </button>
                </ot-empty-state>
            </div>
        </ng-template>
    </div>
</section>
