<div class="flex-full-height stretch-vertical full-width column-horizontal-center overflow-y-auto background-white">
    <div
        *ngIf="preferenceCenter"
        class="margin-top-3 centered-90 padding-left-right-2"
    >
        <h5 class="text-bold margin-bottom-half">
            {{preferenceCenter.Name}}
        </h5>
        <pre class="pre">
            {{preferenceCenter.Url}}
        </pre>
        <p class="align-left text-small">
            {{ "LoginLinkPublishNote" | otTranslate }}
        </p>
        <div class="align-right">
            <button
                otButton
                neutral
                *ngIf="!isInactive"
                class="margin-top-2"
                [attr.ot-auto-id]="'PreferenceCenterCopyUrlButton'"
                [innerText]="'Copy' | otTranslate"
                (click)="copyPreferenceCenterUrl()"
                >
            </button>
        </div>
    </div>
    <div
        *ngIf="preferenceCenter.LinkTokenUrl"
        class="margin-top-5 centered-90 padding-left-right-2"
    >
        <h5 class="text-bold margin-bottom-half">
            {{ "MagicLinkTitle" | otTranslate }}
        </h5>
        <pre class="pre">
            {{ preferenceCenter.LinkTokenUrl }}&lt;tokenid&gt;
        </pre>
        <p class="align-left text-small">
            {{ "MagicLinkDescription" | otTranslate }}
        </p>
        <div class="align-right">
            <button
                otButton
                neutral
                *ngIf="!isInactive"
                class="margin-top-2"
                [attr.ot-auto-id]="'PreferenceCenterCopyMagicLinkUrlButton'"
                [innerText]="'Copy' | otTranslate"
                (click)="copyPreferenceCenterMagicLinkUrl()"
                >
            </button>
        </div>
    </div>
    <div
        *ngIf="preferenceCenter.BlobUrl && preferenceCenter.PublishedDate && canUseAzureBlobUrl"
        class="margin-top-3 centered-90 padding-left-right-2"
    >
        <h5 class="text-bold margin-bottom-half">
            {{"BlobUrlTitle" | otTranslate}}
        </h5>
        <pre class="pre">
            {{preferenceCenter.BlobUrl}}
        </pre>
        <p class="align-left text-small">
            {{"BlobUrlDescription" | otTranslate}}
        </p>
        <div class="align-right">
            <button
                otButton
                neutral
                *ngIf="!isInactive"
                class="margin-top-2"
                ot-auto-id="PreferenceCenterCopyBlobUrlButton"
                [innerText]="'Copy' | otTranslate"
                (click)="copyPreferenceCenterBlobUrl()"
                >
            </button>
        </div>
    </div>
</div>
