<div
    *ngIf="'ConsentPreferenceCenterLanguage' | otPermit"
    class="flex-full-width border-bottom"
    >
    <div otFormElement
        class="row-nowrap padding-all-1 padding-left-right-2 row-vertical-center"
        [label]="'Language' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="preferenceBuilderLanguageDropdown"
            class="min-width-20"
            labelKey="Name"
            valueKey="Code"
            [placeholder]="'SelectLanguage' | otTranslate"
            [autoClose]="'true'"
            [options]="languages"
            [model]="language"
            [disabled]="actionInProgress"
            (onSelect)="selectActiveLanguage($event)"
        ></ot-picklist>
    </div>
    <a
        *ngIf="('ConsentPreferenceCenterEditLanguages' | otPermit) && !isInactive"
        ot-auto-id="ConsentEditLanguagesClick"
        class="margin-top-1-half text-bold"
        (click)="showEditLanguagesModal()"
        >
        {{ "EditLanguages" | otTranslate }}
    </a>
</div>
