<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.title | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ot-rich-text-editor
        ot-auto-id="DSARWebFormTextContentEditor"
        class="block"
        editorClass="min-height-20 background-white"
        [ngClass]="{'border-has-error': textTouched && !canSubmit}"
        [placeholder]="'InsertTextHere' | otTranslate"
        [customModules]="customModules"
        [contentModel]="text"
        (onContentChanged)="handleMessageChange($event.html)">
    </ot-rich-text-editor>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="dsarWebFormTextModalClose"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="dsarWebFormTextModalSave"
        [disabled]="isSubmitting || !canSubmit"
        [loading]="isSubmitting"
        (click)="handleSubmit()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
