<div class="row-wrap padding-bottom-1">
    <div
        otFormElement
        class="flex-grow-1"
        [label]="'AssessmentsTemplate' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="TemplateConditionsTemplateSelectionDropdown"
            [placeholder]="'AssessmentsTemplate' | otTranslate"
            [autoClose]="true"
            [disabled]="isPreviewMode"
            [model]="selectedTemplate"
            [options]="templateList"
            [labelKey]="'name'"
            [valueKey]="'id'"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onSelectTemplate($event)"
        ></ot-picklist>
    </div>
</div>
<div class="row-wrap padding-bottom-1">
    <div
        otFormElement
        class="padding-right-1 width-50-percent"
        [label]="'Approver' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="TemplateConditionsApproverSelectionDropdown"
            [placeholder]="'Approver' | otTranslate"
            [autoClose]="true"
            [disabled]="isPreviewMode"
            [options]="approverOptions"
            [model]="approver"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onApproverSelected($event)"
        ></ot-picklist>
    </div>
    <div
        otFormElement
        class="width-50-percent"
        [label]="'Respondent' | otTranslate"
        [required]="true"
    >
        <ot-picklist
            ot-auto-id="TemplateConditionsRespondentSelectionDropdown"
            [placeholder]="'Respondent' | otTranslate"
            [autoClose]="true"
            [disabled]="isPreviewMode"
            [options]="respondentOptions"
            [model]="respondent"
            [noOptionsText]="'NoOptionsAvailable' | otTranslate"
            (onSelect)="onRespondentSelected($event)"
        ></ot-picklist>
    </div>
</div>
<div
    *ngIf="actionSelected === templateRuleActions.ASSESSMENT_CREATION_ON_SUBMIT"
    class="template-option-details padding-bottom-1 row-space-between-center border-bottom"
>
    <div class="padding-right-1 flex-full-70">
        <div class="color-slate text-bold paragraph-medium-small">{{"AutoCloseOriginalAssessment" | otTranslate}}</div>
        <div class="color-slate paragraph-medium-small">{{"AutoCloseAssessmentDescription" | otTranslate}}</div>
    </div>
    <ot-toggle
        ot-auto-id="TemplateOptionDetailsToggle"
        [checked]="!keepOpen"
        [disabled]="isPreviewMode"
        (toggle)="toggleStateChange(!$event)"
    ></ot-toggle>
</div>
<div
    *ngIf="actionSelected === templateRuleActions.ASSESSMENT_CREATION_ON_APPROVAL"
    class="padding-bottom-1 row-space-between-center border-bottom"
>
    <div class="padding-right-1 flex-full-70">
        <div class="color-slate text-bold paragraph-medium-small">{{'ConfirmationUponApproval' | otTranslate}}</div>
        <div class="color-slate paragraph-medium-small">{{'ConfirmationUponApprovalDescription' | otTranslate}}</div>
    </div>
    <ot-toggle
        ot-auto-id="TemplateAssessmentCreationUponApprovalToggle"
        [checked]="needsConfirmation"
        [disabled]="isPreviewMode"
        (toggle)="confirmUponApproval($event)"
    ></ot-toggle>
</div>
