header.settings-body-header {{::$root.t("Tagging")}}
.settings-body-content.settings-API
    loading(ng-if='!Ready', text='{{::$root.t("Tagging")}}')
    form.variable-branding.settings-input-section(name='taggingForm')

        h3.settings-input-section-name
            | {{::$root.t("ProjectTags", {ProjectTerm: $root.customTerms.Project})}}
            .upgrade__icon(ng-if='Permissions.canShow("ProjectTaggingUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("AllowProjectTagging", {ProjectTerm: $root.customTerms.Project})}}
                i.settings__section-info.fa.fa-info-circle(uib-tooltip='{{::$root.t("ProjectTaggingDescription", {ProjectTerm: $root.customTerms.Project, ProjectsTerm: $root.customTerms.Projects})}}', tooltip-placement='top')
            button.settings__toggle(ng-class="{'selected': Tagging.ProjectTaggingEnabled}", ng-click='toggleTagging(true)', ng-disabled='Permissions.canShow("ProjectTaggingUpgrade")') {{::$root.t("Yes") }}
            button.settings__toggle(ng-class="{'selected': !Tagging.ProjectTaggingEnabled}", ng-click='toggleTagging(false)', ng-disabled='Permissions.canShow("ProjectTaggingUpgrade")') {{::$root.t("No") }}

        h3.settings-input-section-name
           | {{::$root.t("QuestionTags")}}
           .upgrade__icon(ng-if='Permissions.canShow("QuestionTaggingUpgrade")')
        hr
        .settings__section
            label.settings__section-title
                | {{::$root.t("AllowQuestionTagging")}}
                i.settings__section-info.fa.fa-info-circle(uib-tooltip='{{::$root.t("QuestionTaggingDescription")}}', tooltip-placement='top')
            button.settings__toggle(ng-class="{'selected': Tagging.QuestionTaggingEnabled}", ng-click='toggleQuestionTagging(true)', ng-disabled='Permissions.canShow("QuestionTaggingUpgrade")') {{::$root.t("Yes") }}
            button.settings__toggle(ng-class="{'selected': !Tagging.QuestionTaggingEnabled}", ng-click='toggleQuestionTagging(false)', ng-disabled='Permissions.canShow("QuestionTaggingUpgrade")') {{::$root.t("No") }}

        .settings-submit-section
            one-button(
                type='primary',
                text='{{::$root.t("SaveSettings") }}',
                identifier='taggingSaveSettings',
                button-click='SaveTaggingSettings()',
                is-disabled="taggingForm.$invalid || disableSave"
            )
