<section
    class="dsar-webforms full-size column-nowrap"
    [ngClass]="{'background-white' : !webFormsList.length }">
    <ot-page-header [title]="'WebFormTemplates' | otTranslate">
        <button
            otButton
            brand
            class="margin-right-1"
            *ngIf="canAddWebForm"
            ot-auto-id="DSARWebformAddNewButton"
            [innerText]="'AddNew' | otTranslate"
            (click)="goToAddNewWebform()"
        ></button>
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="!ready"
    >
    {{ 'WebFormTemplates' | otTranslate }}...
    </ot-loading>
    <ot-empty-state *ngIf="ready && !webFormsList.length" class="align-self-center">
        <img src="../../../../../images/empty_state_icon.svg"/>
        <div
            class="text-bold text-center margin-top-1"
            [innerText]="'NoItemsToDisplay' | otTranslate"></div>
        <button
            otButton
            brand
            class="margin-top-1"
            *ngIf="canAddWebForm"
            ot-auto-id="DSARWebformAddWebformButton"
            [innerText]="'AddWebform' | otTranslate"
            (click)="goToAddNewWebform()"
        ></button>
    </ot-empty-state>
    <div
        *ngIf="ready && webFormsList.length"
        class="flex-full-height height-100 overflow-y-scroll"
        >
        <div class="centered-max-100 align-self-center padding-all-2 row-wrap-space-evenly">
            <ng-container *ngFor="let webFormItem of webFormsList">
                <webform-tile
                    class="margin-all-2"
                    [descriptionContent]="webFormItem.orgName || '- - - -'"
                    [descriptionTitle]="'Organization' | otTranslate"
                    [tileButtonText]="'View' | otTranslate"
                    [tileName]="webFormItem.templateName"
                    [dropdownList]="webFormItem.dropdownList"
                    [tileObject]="webFormItem"
                    (tileButtonCallback)="goToWebForm($event.payload.templateId)"
                ></webform-tile>
            </ng-container>
        </div>
    </div>
</section>
