<one-modal-base 
    class="flex-full-height" 
    [modalTitle]="'WebsiteLimitReached'| otTranslate" 
    [identifier]="'WebsiteLimitModalCloseButton'"
    (close)="closeModal()"
>
    <div class="row-horizontal-center margin-bottom-2 color-orange">
        <span class="delete-modal__icon fa-stack">
            <i class="ot ot-exclamation-circle fa-stack-2x color-orange margin-left-auto"></i>
        </span>
    </div>
    <div class="padding-all-1 text-center text-color-default margin-bottom-2"
        [innerText]="'PublishLimitMessage' | otTranslate">
    </div>
    <div class="row-horizontal-center margin-bottom-2 padding-bottom-1">
        <a 
            otButton 
            brand 
            target="_blank"
            *ngIf="isAdmin"
            ot-auto-id="WebsiteLimitCookieUpgradeNowButton"
            [innerText]="'UpgradeNow' | otTranslate" 
            [href]="upgradeLink"
        ></a>
        <span 
            class="contact-message padding-right-4 flex flex-initial align-center" 
            *ngIf="!isAdmin"
        >
            <i class="ot ot-envelope fa-2x padding-right-1"></i>
            {{'ContactAdminMessage' | otTranslate}}
        </span>
        <a 
            otButton 
            neutral 
            class="margin-right-1"
            *ngIf="!isAdmin"
            ot-auto-id="WebsiteLimitCookieContactButton"
            [innerText]="'Contact' | otTranslate" 
            (click)="sendEmail()"
        ></a>
    </div>
    <footer class="row-horizontal-center margin-bottom-2">
        <button 
            otButton
            brand
            ot-auto-id="WebsiteLimitCookieCloseButton"
            [innerText]="'Close' | otTranslate" 
            (click)="closeModal()"
        ></button>
    </footer>
</one-modal-base>