.template-question-list {
    padding: 0 0 0 4rem;

    &__add {
        width: 100%;
        display: block;
        margin: 1rem 0 2rem;
    }

    &__spacer {
      min-height: 1px;
      max-height: 1px;
    }

    .angular-ui-tree-placeholder {
        border: 2px dashed $grey-3;
        border-radius: 2px;
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        color: $grey-4;
        font-size: 1.6rem;
        &:after {
            content: "Drop Question Here";
            width: 100%;
            padding: 1rem;
            margin: 1rem 0;
        }
    }
}
