.website-list-table {

    &__sorted-column-title {
        .slds-truncate {
            overflow:visible;
        }
    }

    &__context-button {
        .one-dropdown {
            top: .7rem;
        }
        .one-dropdown__list {
            max-height: 50rem;            
        }
    }

    &__search {
        max-width: 30rem;
    }

    &__progress-bar-container {
        width: 8rem;
        border: 1px solid $green;

        .progress-bar {
            box-shadow: none;
            background-size: 2rem 2rem;
            background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            animation: animate-stripes 3s linear infinite;
        }
    }

    .status {
        color: #FFFFFF;
        height: 20px;
        width: 85px;
        margin: auto;
        border-radius: 10px;
        &-completed {
            background: #6CC04A;
            border: 1px solid #E9E9E9;
        }
        &-cancelled {
            background: #D7D7D7;
            border: 1px solid #E9E9E9;
        }
        &-scan-error {
            background: #FC4F45;
            border: 1px solid #E9E9E9;
        }
        &-failed-login {
            background: #FDB65B;
            border: 1px solid #E9E9E9;
        }
        &-pending {
            background: #2ACCBA;
            border: 1px solid #E9E9E9;
        }
        &-in-progress {
            background: #1596DB;
            border: 1px solid #E9E9E9;     
        }
    }

}