<table
    class="website-list-table full-width"
    otDataTable
    [rowData]="rows"
    [rowBordered]="true"
    [sortable]="sortable"
    [sortKey]="sortKey"
    [sortOrder]="sortOrder"
    [rowFlagKey]="rowFlagKey"
    [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': canShowScanErrorMessage }"
    (sortChanged)="handleSortChange($event)">
    <ng-container *ngFor="let col of columns; let columnIndex = index">

        <ng-container *ngIf="col.columnTitleKey === 'domainTitle'">
            <ot-data-table-column
                [headerLabel]="col.columnHeader"
                [column]="col"
                [sortable]="sortable"
                [sortKey]="col.cellValueKey"
                [classes]="{ thAnchor: 'website-list-table__sorted-column-title slds-th__action max-25 text-left' }"
                >
                <ng-template otDataTableCell let-row="row" let-column="column" [tdClass]="'max-25'">
                    <a
                        class="slds-truncate block text-pointer text-link text-bold text-left"
                        *ngIf="viewResultsLinkToLatestResults(row) || viewResultsLinkToHistory(row)"
                        (click)="navigateToReports(row)"
                        title="{{row[column.cellValueKey]}}"
                        >
                        {{row[column.cellValueKey]}}
                    </a>
                    <div
                        *ngIf="viewResultsWithoutLink(row)"
                        class="slds-truncate text-left"
                        title="{{row[column.cellValueKey]}}"
                        >
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'numberPages'">
            <ot-data-table-column
                [headerLabel]="col.columnHeader"
                [column]="col"
                [sortable]="sortable"
                [sortKey]="col.cellValueKey"
                [classes]="{ thAnchor: 'website-list-table__sorted-column-title slds-th__action max-25 justify-center margin-left-right-auto' }"
                >
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <div class="slds-truncate text-center" title="{{row[column.cellValueKey]}}">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'cookiesCount'">
            <ot-data-table-column
                [headerLabel]="col.columnHeader"
                [column]="col"
                [sortable]="sortable"
                [sortKey]="col.cellValueKey"
                [classes]="{ thAnchor: 'website-list-table__sorted-column-title slds-th__action max-25 justify-center margin-left-right-auto' }"
                >
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <div class="slds-truncate text-center" title="{{row[column.cellValueKey]}}">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'cookiesChange'">
            <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                        <span class="text-bold"> {{col.columnHeader}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <div class="slds-truncate text-center" title="{{formatCookiesChange(row)}}">
                        {{formatCookiesChange(row)}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'bannerLink'
            || (col.columnTitleKey === 'cookiePolicyLink' && cookiePolicyPermission === 'true')
            || (col.columnTitleKey === 'preferenceCenterLink' && preferenceCenterPermission === 'true')">
            <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                        <span class="text-bold"> {{col.columnHeader}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <a
                        class="slds-truncate block text-pointer text-link text-bold text-center"
                        *ngIf="isDomainReadyForCreateBanner(row)"
                        (click)="createConsentBanner.emit(row.auditDomain)"
                        title="{{translations.notStarted}}"
                        >
                        {{translations.notStarted}}
                    </a>
                    <a
                        class="slds-truncate block text-pointer text-link text-bold text-center"
                        *ngIf="isDomainReadyForManageBanner(row)"
                        (click)="navigateToPage(col.columnTitleKey, row)"
                        title="{{translations.manage}}"
                        >
                        <span
                            *ngIf="isTemplateAvailable(row) && cookieBannerTemplatePermission === 'true' && col.columnTitleKey !== 'cookiePolicyLink'"
                            [innerText]="row['templateName']"
                        >
                        </span>
                        <span
                            *ngIf="!isTemplateAvailable(row) || cookieBannerTemplatePermission !== 'true' || col.columnTitleKey === 'cookiePolicyLink'"
                            [innerText]="translations.manage"
                        >
                        </span>
                    </a>
                    <div
                        *ngIf="isDomainWaitingForScan(row) || isDomainContainScanError(row) || (!isDomainReadyForCreateBanner(row) && !isDomainReadyForManageBanner(row))"
                        class="slds-truncate text-center"
                        title="{{translations.notStarted}}"
                        >
                        {{translations.notStarted}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'nextScanDate' && auditSchedulePermission === 'true'">
            <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnHeader}}">
                        <span class="text-bold"> {{col.columnHeader}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <div *ngIf="row.scheduledDateOfNextScan" class="slds-truncate text-pointer text-center">
                        <upgraded-one-date
                                [dateToFormat]="row[col.cellValueKey]"
                                [enableTooltip]="true">
                            </upgraded-one-date>
                    </div>
                    <div
                        *ngIf="!row.scheduledDateOfNextScan"
                        class="slds-truncate text-center"
                        title="{{translations.notSet}}"
                        >
                        {{translations.notSet}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
        <ng-container *ngIf="col.columnTitleKey === 'statusText'">
            <ot-data-table-column [headerLabel]="col.columnHeader" [column]="col">
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto'" title="{{col.columnHeader}}">
                        <span class="text-bold"> {{col.columnHeader}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'max-25'" let-row="row" let-column="column">
                    <div *ngIf="row.status === ScanStatus.Pending" class="website-list-table__contents--pending slds-truncate text-center status status-pending">
                        {{translations.scanPending}}
                    </div>
                    <div *ngIf="row.status === ScanStatus.InProgress" class="website-list-table__contents--success slds-truncate text-center status status-in-progress">
                        {{translations.inProgress}}
                    </div>
                    <div *ngIf="canShowCompletedMessage(row)" class="website-list-table__contents--success slds-truncate text-center status status-completed">
                        {{translations.completed}}
                    </div>
                    <div *ngIf="canShowCancelledMessage(row)" class="website-list-table__contents--not-started slds-truncate text-center status status-cancelled">
                        {{translations.cancelled}}
                    </div>
                    <div *ngIf="canShowScanErrorMessage(row)" class="website-list-table__contents--error slds-truncate text-center status status-scan-error">
                        {{translations.scanError}}
                    </div>
                    <div *ngIf="canShowLoginFailedMessage(row)" class="website-list-table__contents--not-started slds-truncate text-center status status-failed-login">
                        {{translations.failedLogin}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>
    </ng-container>

    <ot-data-table-column>
        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
    </ot-data-table-column>
    <ng-container >
        <ot-data-table-column>
            <ng-template otDataTableHeader [thClass]="'float-col'">
                <div></div>
            </ng-template>
            <ng-template otDataTableCell [tdClass]="'float-col background-transparent'" [tdStyle]="{'background': 'transparent'}" let-row="row">
                <upgraded-one-dropdown
                    class="website-list-table__context-button"
                    [icon]="'ot ot-ellipsis-h'"
                    [hideCaret]="true"
                    [alignRight]="true"
                    [getOptions]="getEllipsisOptions(row)"
                    [buttonClass]="'actions-table__context-btn'"
                    [listClass]="menuClass">
                </upgraded-one-dropdown>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
</table>
