 .change-password {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;

    loading {
        width: 100%;
    }

    &__loading {
        color: $grey-4;
    }

    &__form {
        margin: auto;
        max-width: 35rem;
        width: 100%;
        position: relative;

        &-container {
            padding: 2rem;
            flex: 1 1 40%;
            overflow-y: auto;
        }

        &-wrapper {
            background-color: $white;
            border-radius: 4px;
        }
    }

    &__label {
        color: $slate;
        font-weight: normal;
        margin-bottom: 0.2rem;
    }

    &__description {
        color: $slate;
        margin: 0 0 2rem;
        text-align: center;
    }

    &__input {
        &-group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .change-password__input-container {
                flex: 1 1 49%;
                min-width: 1px;
                max-width: 49%;
                width: 49%;
            }
        }

        &-container {
            margin-bottom: 1rem;
        }

        &-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        &-addon {
            width: 4rem;
            background: 0;
            border: 1px solid $grey-3;
            border-left: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            color: $slate;

            &:hover {
                color: darken($slate, 10%);
            }
        }
    }

    &__has-email {
        text-align: center;
        margin: 2rem 0;
        color: $slate;
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__button {
        border-radius: 2px;
        background-color: $ui-blue;
        color: $white;
        font-weight: bold;
        border: 1px solid $ui-blue;

        i {
            margin-right: 0.6rem;
            color: $white;
        }

        &:hover {
            background-color: lighten($ui-blue, 10%);
            border-color: lighten($ui-blue, 10%);
            color: $white;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
            background-color: $grey-4;
            border-color: $grey-4;
            pointer-events: none;
            opacity: 1;

            i {
                color: $slate;
            }
        }

        width: 100%;
        margin: 1rem 0;
        padding: 1rem 2rem;

        .fa {
            margin: 0;
        }
    }

    .indicator {
        text-align: center;
        line-height: 1rem;
        font-size: 1.3rem;

        .fa {
            margin-right: 0.6rem;
        }
    }

    &__error {
        .fa {
            color: $light-red;
        }
    }

    &__success {
        .ot {
            color: $green;
        }
    }

    .validation-container {
        .change-password__error,
        .change-password__success {
            text-align: left;
        }
    }
}
