.pia-profile {
    height: 100%;
    padding: 0;
    color: #5e5e5e;

    .navbar-header {
        display: inline-flex;
        align-items: center;
        padding-left: 0.75rem;
        .navbar-header_toggle {
            margin-right: 1rem;
            font-size: 1.5rem;
            @media(min-width: $small) {
                display: none;
            }
        }
    }
    .profile-content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 50px);
        overflow: hidden;
        .profile-menu {
            height: 100%;
            background-color: #f3f3f3;
            border-right: 1px solid #ccc;
            min-width: 25rem;
            max-width: 25rem;
            display: block;
            @media(max-width: $small) {
                height: 100%;
                z-index: 250;
                position: absolute;
                transition: 0.25s;
                left: -100%;
                &.is-open {
                    left: 0;
                }
                .profile-section-list-item {
                    margin: 0.5rem;
                }
            }
            .profile-list {
                height: 100%;
                padding: 0 20px 20px;
                .profile-section {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    vertical-align: baseline;
                    background: transparent;
                    .profile-section-title {
                        padding: 10px 10px 15px 0;
                        margin: 20px 0 8px;
                        border-bottom: 1px solid #E8E8E8;
                        &-span {
                            font-size: 1em;
                        }
                    }
                    .profile-section-list {
                        margin-left: 0;
                        list-style: none;
                        padding: 0 0 12px;
                        .active,
                        :active,
                        :hover {
                            color: #111;
                            background-color: #e9e9e9;
                            box-shadow: 0 -1px 1px #DDD;
                        }
                        .profile-section-list-item {
                            float: none;
                            height: 25px;
                            display: block;
                            margin-bottom: 0.5rem;
                            &-a {
                                display: block;
                                opacity: 0.8;
                                padding: 5px 10px;
                                border-radius: 3px;
                                margin-bottom: 0.5rem;
                                text-decoration: none;
                                .beta-tag {
                                    color: #B7B7B7 !important;
                                    box-shadow: none;
                                }

                                .upgrade__icon {
                                    margin-left: 0.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .profile-body {
            height: 100%;
            width: 100%;
            display: block;
            background-color: $paper;
            .profile-body-header {
                background-color: $paper;
                width: auto;
                border-bottom: 1px solid #ccc;
                padding: 0.5rem 5rem;
                outline: none;
                height: 5rem;
                font-size: 2em;
                @media(max-width: $small) {
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}
