<one-modal-base
    class="flex-full-height cookie-restore-script-modal"
    [modalTitle]="'Restore'| otTranslate"
    [identifier]="'CookieRestoreScriptModalClose'"
    (close)="closeModal()"
>
    <div class="padding-all-2">
        <div
            class="align-center"
            [ngClass]="{'row-space-between-center' : showNotification,
                        'row-flex-end' : !showNotification,
                        'height-auto' : totalChanges <= 0 && !showNotification,
                        'height-5' : totalChanges > 0 || showNotification }"
        >
            <ot-notification
                *ngIf="showNotification"
                [allowClose]="true"
                [icon]="'ot ot-exclamation-circle'"
                [type]="totalChanges > 0 ? 'warning' : 'default'"
                (closed)="onCloseNotificationClick()"
            >
                <span *ngIf="totalChanges > 0">{{'PublishScriptNotification' | otTranslate: {Count:totalChanges} }}</span>
                <span *ngIf="totalChanges <= 0">{{'NoChangesSinceLastPublished' | otTranslate}}</span>
            </ot-notification>
            <div
                *ngIf="totalChanges > 0"
                class="flex justify-end"
            >
                <div class="flex flex-shrink margin-left-2">
                    <div class="border border-rounded-ends margin-right-1 background-active-green width-4"></div>
                    {{'New' | otTranslate}}
                </div>
                <div class="flex flex-shrink margin-left-2">
                    <div class="border border-rounded-ends margin-right-1 text-center width-4 cookie-publish-script-modal__removed-code-highlight">&#8213;</div>
                    {{'Old' | otTranslate}}
                </div>
            </div>
        </div>
        <div class="flex margin-top-2">
            <div class="margin-right-6 width-40-rem">
                <label>{{'Stylesheet' | otTranslate}}</label>
                <pre
                    otScriptDiff
                    class="width-100-percent height-25 pre-wrap"
                    [ngClass]="{'overflow-hidden' : cssChangesCount <= 0, 'overflow-y-auto' : cssChangesCount > 0 }"
                    [left]="scriptData?.cssFilesAggregator?.original"
                    [right]="scriptData?.cssFilesAggregator?.revised"
                    (totalCount)="getCssChangesCount($event)"
                ></pre>
            </div>
            <div class="width-40-rem">
                <label>{{'JavaScript' | otTranslate}}</label>
                <pre
                    otScriptDiff
                    class="width-100-percent height-25 pre-wrap"
                    [ngClass]="{'overflow-hidden' : javascriptChangesCount <= 0, 'overflow-y-auto' : javascriptChangesCount > 0 }"
                    [left]="scriptData?.jsFilesAggregator?.original"
                    [right]="scriptData?.jsFilesAggregator?.revised"
                    (totalCount)="getJsChangesCount($event)"
                ></pre>
            </div>
        </div>
        <div
            otSettingContainer
            class="margin-left-right-2 margin-top-2"
        >
         <!-- Re-consent option selection -->
         <ot-setting
            [title]="'DoYouRequireUsersToReConsent' | otTranslate"
        >
            <ot-checkbox
                ot-auto-id="CookieRestoreScriptRequireConsentToggle"
                [checked]="requireReConsent"
                (toggle)="onRequireConsentToggle()"
            ></ot-checkbox>
        </ot-setting>
        </div>
    </div>
    <footer class="row-flex-end static-horizontal margin-top-1 padding-all-2">
        <button
            otButton
            default
            class="margin-right-1"
            ot-auto-id="CookieRestoreScriptModalCancelButton"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button
            otButton
            brand
            ot-auto-id="CookieRestoreScriptModalsubmitButton"
            [innerText]="'Submit' | otTranslate"
            [loading]="restoreInprogress"
            [disabled]="restoreInprogress"
            (click)="onSubmit()"
        ></button>
    </footer>
</one-modal-base>
