<div>
    <span class="text-bold text-medium"
        [innerText]="'Host' | otTranslate"
    ></span>
    <p
        class="margin-top-bottom-1"
        [innerText]="'UsedToIdentifyHostsInYourEnvironment' | otTranslate"
    ></p>
    <div class="centered-max-50">
        <table
            otDataTable
            [rowData]="rows"
            [rowNoHover]="true"
            >
            <ng-container *ngFor="let col of HostConfigColumns; let columnIndex = index">
                <ot-data-table-column
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    [thStyle]="col.style"
                    >
                    <div *ngIf="col.columnKey === 'Name'">
                        <ng-template otDataTableHeader>
                            <i class="ot ot-asterisk sup-asterisk-table"></i>
                            <span [innerText]="col.columnName"></span>
                        </ng-template>
                    </div>
                    <ng-template otDataTableHeader>
                        <span [innerText]="col.columnName"></span>
                    </ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        let-column="column"
                        let-rowIndex="rowIndex"
                        >
                        <ng-container *ngIf="col.columnKey !== 'Actions'">
                            <input
                                class="full-width"
                                otInput
                                [attr.ot-auto-id]="'SettingsSsoConfigHost__'+column.cellValueKey"
                                [ngModel]="row[column.cellValueKey]"
                                (ngModelChange)="onChangeHost($event, column.cellValueKey, row)"
                            />
                        </ng-container>
                        <ng-container *ngIf="col.columnKey === 'Actions'">
                            <ng-container>
                                <button
                                    otButton
                                    [attr.ot-auto-id]="'SettingsSsoConfigHostRemove' + columnIndex"
                                    [icon]="'ot ot-minus-circle text-error text-large'"
                                    (click)="removeRow(rowIndex)"
                                ></button>
                            </ng-container>
                            <ng-container *ngIf="rowIndex === rows.length - 1">
                                <button
                                    otButton
                                    [attr.ot-auto-id]="'SettingsSsoConfigHostAdd' + columnIndex"
                                    [icon]="'ot ot-plus-circle text-success text-large'"
                                    [ngClass]="{'invisible': !row.Name}"
                                    (click)="addRow()"
                                ></button>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
</div>
<div class="margin-top-1 padding-top-2 padding-bottom-3 border-bottom">
    <div>
        <i class="ot ot-asterisk sup-asterisk-table"></i>
        <span class="text-bold text-medium"
            [innerText]="'AttributesMapping' | otTranslate"
        ></span>
        <p
            class="margin-top-bottom-1"
            [innerText]="'OneTrustAssertionMappingsUsed' | otTranslate"
        ></p>
        <table
            otDataTable
            [rowData]="attributeRows"
            [rowNoHover]="true"
            >
            <ng-container *ngFor="let col of AttributeMappingsColumns">
                <ot-data-table-column
                    *ngIf="col.columnKey === 'Attribute'"
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        let-column="column"
                        let-rowIndex="rowIndex"
                        >
                        <div class="slds-truncate">
                            <span
                                ot-auto-id="SettingsSsoConfigAttribute"
                                [innerText]="row[column.cellValueKey] | otTranslate"
                            ></span>
                        </div>
                    </ng-template>
                </ot-data-table-column>
                <ot-data-table-column
                    *ngIf="col.columnKey === 'AttributeKey'"
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        let-column="column"
                        let-rowIndex="rowIndex"
                        >
                        <div>
                            <input
                                otInput
                                ot-auto-id="SettingsSsoConfigAttributeKey"
                                [ngModel]="row[column.cellValueKey]"
                                (ngModelChange)="onChange($event, row, column.cellValueKey)"
                            />
                        </div>
                    </ng-template>
                </ot-data-table-column>
                <ot-data-table-column
                    *ngIf="col.columnKey === 'DefaultValue'"
                    [headerLabel]="col.columnName"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        let-column="column"
                        let-rowIndex="rowIndex"
                        >
                        <div>
                            <input
                                otInput
                                ot-auto-id="SettingsSsoConfigDefaultValue"
                                [ngModel]="row[column.cellValueKey]"
                                (ngModelChange)="onChange($event, row, column.cellValueKey)"
                            />
                        </div>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
    </div>
</div>
