<section class="full-size column-nowrap">
    <ot-page-header
        [title]="'SingleSignOn' | otTranslate"
        [type]="'clear'"
    ></ot-page-header>
    <ng-template #loadingSettingSso>
        <ot-loading otPageLoading>
            {{ 'Loading' | otTranslate }}...
        </ot-loading>
    </ng-template>
    <section *ngIf="!isReady; else loadingSettingSso"
        class="overflow-y-auto full-size column-nowrap">
        <ot-tabs
        [tabs]="tabOptions"
        [selectedTab]="currentTab">
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'SettingSsoTab-' + tab.id"
                (click)="changeTab(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
        <section class="padding-top-bottom-2"
            *ngIf="currentTab === navTabs.CONFIGURATION">
            <div class="centered-max-75">
                <ot-setting
                    class="settings-sso-config__settings"
                    [title]="'EnableSingleSignOn' | otTranslate"
                    [description]="'EnablingSsoAuthenticatesWithIdp' | otTranslate"
                    >
                    <ot-toggle
                        ot-auto-id="SettingsSingleSingOnToggle"
                        [checked]="settingSsoConfig.IsEnabled"
                        (toggle)="setEnable()"
                        >
                    </ot-toggle>
                </ot-setting>
                <div *ngIf="settingSsoConfig.IsEnabled">
                    <section class="column-nowrap full-size overflow-y-auto">
                        <div class="padding-top-1">
                            <span class="text-bold text-medium padding-left-right-1"
                                [innerText]="'ServiceProviderConfiguration' | otTranslate"
                            ></span>
                            <ot-setting
                                class="settings-sso-config__settings"
                                [title]="'ResponseBindingType' | otTranslate"
                                [description]="'MethodOfExchangingRequestsAndResponses' | otTranslate"
                                >
                                <div otFormElement *ngIf="settingSsoConfig.ResponseBindingTypeId">
                                    <div *ngIf="settingSsoConfig.ResponseBindingTypeId"
                                        class="slds-button-group">
                                        <button
                                            otButton neutral
                                            class="no-outline"
                                            ot-auto-id="SettingSsoConfigUploadBtn"
                                            [select]="settingSsoConfig.ResponseBindingTypeId === bindingTypes.Post"
                                            (click)="setBindingType(bindingTypes.Post, true)"
                                        >
                                        {{"Post" | otTranslate}}
                                        </button>
                                        <button
                                            otButton neutral
                                            class="no-outline"
                                            ot-auto-id="SettingSsoConfigDeleteBtn"
                                            [select]="settingSsoConfig.ResponseBindingTypeId === bindingTypes.Redirect"
                                            (click)="setBindingType(bindingTypes.Redirect, true)"
                                        >
                                        {{"Redirect" | otTranslate}}
                                        </button>
                                    </div>
                                </div>
                            </ot-setting>
                        </div>
                        <ot-setting
                            *ngIf="('SettingsSSOSaveSignRequests' | otPermit)
                                && !settingSsoConfig.IsLegacy && settingSsoConfig?.Id"
                            class="settings-sso-config__settings"
                            [title]="'SignSAMLRequest' | otTranslate"
                            [description]="'SignSAMLRequestDescription' | otTranslate"
                            >
                            <ot-toggle
                                ot-auto-id="SettingsSamlToggle"
                                [checked]="settingSsoConfig.WantRequestsSign"
                                (toggle)="toggleSamlRequest()"
                                >
                            </ot-toggle>
                        </ot-setting>
                        <ot-setting
                            class="settings-sso-config__settings"
                            [title]="'ServiceProviderName' | otTranslate"
                            [description]="'OnetrustServiceProviderName' | otTranslate"
                            >
                            <p class="text-bold">{{ settingSsoConfig.SericeProviderName }}</p>
                        </ot-setting>
                        <div class="padding-top-1">
                            <!-- <div otFormElement
                                class="settings-sso-config__title padding-top-1 padding-left-right-1"
                                [label]="'IdentityProviderConfiguration' | otTranslate">
                            </div> -->
                            <span class="text-bold text-medium padding-left-right-1"
                                [innerText]="'IdentityProviderConfiguration' | otTranslate"
                            ></span>
                            <ot-setting
                                class="settings-sso-config__settings"
                                [title]="'RequestBindingType' | otTranslate"
                                [description]="'MethodOfExchangingRequestsAndResponses' | otTranslate"
                                >
                                <div otFormElement *ngIf="settingSsoConfig.RequestBindingTypeId">
                                    <div class="slds-button-group">
                                        <button otButton neutral
                                            class="no-outline"
                                            ot-auto-id="SettingSsoConfigUploadBtn"
                                            [select]="settingSsoConfig.RequestBindingTypeId === bindingTypes.Post"
                                            (click)="setBindingType(bindingTypes.Post, false)"
                                        >
                                        {{"Post" | otTranslate}}
                                        </button>
                                        <button otButton neutral
                                            class="no-outline"
                                            ot-auto-id="SettingSsoConfigDeleteBtn"
                                            [select]="settingSsoConfig.RequestBindingTypeId === bindingTypes.Redirect"
                                            (click)="setBindingType(bindingTypes.Redirect, false)"
                                        >
                                        {{"Redirect" | otTranslate}}
                                        </button>
                                    </div>
                              </div>
                            </ot-setting>
                        </div>
                        <div class="border-bottom">
                            <form
                                novalidate
                                class="margin-top-bottom-1-half full-width"
                                [formGroup]="singleSignOnForm"
                                #singleSignOnFormForm="ngForm"
                                >
                                <div otFormElement
                                    class="padding-top-bottom-half"
                                    [label]="'Name' | otTranslate"
                                    [required]="true"
                                    [errorMessage]="errorMessage"
                                    [hasError]="getError('IdentityProviderName')"
                                    >
                                    <input otInput
                                        formControlName="IdentityProviderName"
                                        ot-auto-id="SettingSsoConfigName"
                                        [placeholder]="'EnterEntityId' | otTranslate"
                                    />
                                </div>
                                <div
                                    otFormElement
                                    class="flex"
                                    [label]="'SignOnUrl' | otTranslate"
                                    [required]="true"
                                    >
                                    <i
                                        class="ot ot-info-circle"
                                        [otTooltip]="{ content: 'UrlThatOnetrustWillUseForUserLogin' | otTranslate, placement: 'top-start' }"
                                    ></i>
                                </div>
                                <div
                                    otFormElement
                                    [errorMessage]="errorMessage"
                                    [hasError]="getError('IdentityProviderSignOnUrl')"
                                    >
                                    <input
                                        otInput
                                        formControlName="IdentityProviderSignOnUrl"
                                        ot-auto-id="SettingSsoConfigSignOnUrl"
                                        [placeholder]="'EnterCustomURL' | otTranslate"
                                    />
                                </div>
                                <div
                                    otFormElement
                                    class="flex"
                                    [label]="'SignoutUrl' | otTranslate"
                                    >
                                    <i
                                        class="ot ot-info-circle"
                                        [otTooltip]="{ content: 'UrlCalledToLogThemOutOfIdp' | otTranslate, placement: 'top-start' }"
                                    ></i>
                                </div>
                                    <div otFormElement
                                        [errorMessage]="errorMessage"
                                        [hasError]="getError('IdentityProviderSignOutUrl')"
                                    >
                                    <input otInput
                                        formControlName="IdentityProviderSignOutUrl"
                                        ot-auto-id="SettingSsoConfigSignOutUrl"
                                        [placeholder]="'EnterCustomURL' | otTranslate"
                                    />
                                </div>
                            </form>
                        </div>
                        <ot-setting
                            class="settings-sso-config__settings"
                            [title]="'UploadCertificate' | otTranslate"
                            [description]="'AuthenticationCertificateIssuedByYourIdp' | otTranslate"
                            [ngClass]="{ 'settings-sso-config__upload': settingSsoConfig?.IdpCertificate }"
                            >
                            <div otFormElement>
                                <div class="slds-button-group">
                                    <button otButton neutral
                                        class="no-outline settings-sso-config__upload-icon"
                                        ot-auto-id="SettingSsoConfigUploadBtn"
                                        [select]="!settingSsoConfig.IdpCertificate"
                                        [disabled]="settingSsoConfig.IdpCertificate"
                                        (click)="openCertificateUploadtModal()"
                                        >
                                        {{"Upload" | otTranslate}}
                                    </button>
                                    <button otButton neutral
                                        class="no-outline"
                                        ot-auto-id="SettingSsoConfigDeleteBtn"
                                        [icon]="'ot ot-trash'"
                                        [disabled]="!settingSsoConfig.IdpCertificate"
                                        [select]="settingSsoConfig.IdpCertificate"
                                        (click)="clearCertificate()"
                                    ></button>
                                </div>
                            </div>
                        </ot-setting>
                        <div class="border-bottom"
                            *ngIf="settingSsoConfig?.IdpCertificate">
                            <form
                                novalidate
                                class="full-width margin-bottom-1-half"
                                form="ssoCertificate"
                                #ssoCertificate="ngForm"
                                >
                                <div otFormElement
                                    class="padding-top-bottom-half"
                                    [label]="'Subject' | otTranslate"
                                    >
                                    <input otInput
                                        name="SubjectName"
                                        [disabled]="true"
                                        [ngModel]="settingSsoConfig?.IdpCertificate?.SubjectName"
                                        ot-auto-id="SettingSsoConfigCertSubject"
                                    />
                                </div>
                                <div otFormElement
                                    class="padding-top-bottom-half"
                                    [label]="'Issuer' | otTranslate"
                                    >
                                    <input otInput
                                        name="IssuerName"
                                        [disabled]="true"
                                        [ngModel]="settingSsoConfig?.IdpCertificate?.IssuerName"
                                        ot-auto-id="SettingSsoConfigCertIssuerName"
                                    />
                                </div>
                                <div otFormElement
                                    class="padding-top-bottom-half"
                                    [label]="'Thumbprint' | otTranslate"
                                    >
                                    <input otInput
                                        name="Thumbprint"
                                        [disabled]="true"
                                        [ngModel]="settingSsoConfig?.IdpCertificate?.Thumbprint"
                                        ot-auto-id="SettingSsoConfigCertThumbprint"
                                    />
                                </div>
                            </form>
                        </div>
                        <div class="padding-all-1">
                            <settings-config-table
                                [rows]="hostClone"
                                [attributeRows]="settingSsoConfig?.AttributeMappings"
                                [enableAdd]="isAddHostEnable"
                                (addNew)="addHost()"
                                (removeHost)="removeHost($event)"
                                (validateAttributeMapping)="validateAttributeMapping()"
                                (hostChanges)="hostInputChanges()"
                            ></settings-config-table>
                        </div>
                        <div class="margin-bottom-1">
                            <button otButton neutral
                                class="no-outline"
                                *ngIf="'SettingsSSOSave' | otPermit"
                                ot-auto-id="SettingSsoConfigResetSettings"
                                [disabled]="!settingSsoConfig?.Id"
                                (click)="resetSettings()"
                                >
                                {{"Reset" | otTranslate}}
                            </button>
                            <button otButton neutral
                                class="no-outline"
                                ot-auto-id="SettingSsoConfigDownloadLogs"
                                [disabled]="!settingSsoConfig?.Id"
                                (click)="downloadLogs()"
                                >
                                {{"DownloadLogs" | otTranslate}}
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <settings-org-group-mapping
            class="full-size overflow-hidden"
            *ngIf="currentTab === navTabs.ORG_ASGMT && !isOrgAssgmtTabEnable"
        ></settings-org-group-mapping>
    </section>
    <footer otPageFooter
        *ngIf="currentTab === navTabs.CONFIGURATION">
        <button
            otButton neutral
            ot-auto-id="SettingSsoConfigCancelBtn"
            [innerText]="'Cancel' | otTranslate"
            (click)="cancelSamlSettings()"
        ></button>
        <button
            otButton brand
            *ngIf="'SettingsSSOSave' | otPermit"
            ot-auto-id="SettingSsoConfigSaveBtn"
            [disabled]="canSave || !singleSignOnForm?.valid"
            [innerText]="'Save' | otTranslate"
            (click)="addSamlSettings()"
        ></button>
    </footer>
</section>
