<section class="full-size padding-left-right-3 padding-top-1 overflow-y-auto column-nowrap">
    <ng-template #loadingOrgMapping>
        <ot-loading otPageLoading
          class="align-self-center">
          {{ 'Loading' | otTranslate }}...
        </ot-loading>
    </ng-template>
    <section class="overflow-y-auto full-size column-nowrap" *ngIf="!isLoading; else loadingOrgMapping">
        <div class="border-bottom padding-bottom-1">
            <button otButton brand
                ot-auto-id="SettingsSsoAddNewAttribute"
                class="pull-right"
                [innerText]="'AddNew' | otTranslate"
                (click)= "addNewAttribute()"
            ></button>
        </div>
        <div class="centered-50 margin-top-bottom-4">
            <div otFormElement [label]="'SamlGroupAttributeName' | otTranslate" [required]="true">
                <div class="text-thin-2 padding-left-1 padding-top-half border-radius  {{borderClass}}"
                    (mouseover)="setHovering(true)"
                    (mouseleave)="setHovering(false)"
                    >
                    <span [innerText]="attrGroupName"></span>
                    <i *ngIf="isHovering"
                        class="ot ot-edit position-absolute right-1 margin-top-half text-pointer"
                        ot-auto-id="SettingsSsoOrgGroupName"
                        (click)="addGroupName()"
                    ></i>
                </div>
            </div>
        </div>
        <div class="position-relative overflow-auto"
            *ngIf="!isLoading && orgGroupMappingRows">
            <div class="
                    row-flex-end
                    background-grey
                    padding-right-2
                    height-5
                    row-horizontal-vertical-center
                ">
                <ot-search-input
                    ot-auto-id="SettingsSsoSearch"
                    [model]="searchOrgMappingKey"
                    [placeholder]="'Search' | otTranslate"
                    [searchOnEnter]="true"
                    (search)="onChangeSearchKey($event)"
                ></ot-search-input>
            </div>
            <table
                *ngIf="orgGroupMappingRows?.totalElements >= 1"
                otDataTable
                class="full-width"
                [rowData]="orgGroupMappingRows?.content"
                [rowBordered]="true"
                [responsiveTable]="true"
                [sortable]="true"
                [sortKey]="sortData?.sortKey"
                [sortOrder]="sortData?.sortOrder"
                (sortChanged)="handleSortChange($event)"
                >
                <ng-container *ngFor="let col of AttributeMappingConfigColumns; trackBy: columnTrackBy; let columnIndex = index ">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.columnKey"
                        [column]="col"
                        *ngIf="col.columnKey === 'Key'">
                        <ng-template otDataTableCell let-row="row" let-column="column">
                            <div class="slds-truncate">
                                <a class="text-bold text-link"
                                    ot-auto-id="SettingsSsoOrgAttributeValue"
                                    [innerText]="row[column.cellValueKey]"
                                    (click)="viewDetails(row)"
                                ></a>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column
                        *ngIf="col.columnKey !== 'Key'"
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.columnKey"
                        [column]="col"
                        [sortable]="true"
                        [sortKey]="col.cellValueKey"
                        >
                        <ng-template otDataTableCell let-row="row" let-column="column">
                            <div class="slds-truncate">
                                <span [innerText]="row[column.cellValueKey]"></span>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thClass]="'float-col'">
                        <div></div>
                    </ng-template>
                    <ng-template
                        otDataTableCell [tdClass]="'float-col'" let-row="row"
                        >
                        <div class="flex height-100 align-center justify-center">
                            <ot-context-menu
                                [type]="2"
                                [menu]="rowActions"
                                [position]="menuPosition"
                                (click)="menuOptions($event, row)"
                                >
                                <i class="ot ot-ellipsis-h"></i>
                                <a
                                    *otContextMenuItem="let item"
                                    (click)="item.action(row)"
                                    >
                                    <span
                                        class="text-left"
                                        [innerText]="item.text"
                                        >
                                    </span>
                                </a>
                            </ot-context-menu>
                        </div>
                    </ng-template>
                </ot-data-table-column>
            </table>
            <div *ngIf="!orgGroupMappingRows?.content?.length && !isLoading"
                class="margin-top-3">
                <ot-empty-state [emptyStateMessage]="noRecordsFoundText">
                    <img emptyStateImg />
                </ot-empty-state>
            </div>
        </div>
    </section>
    <footer otPaginationFooter
        *ngIf="orgGroupMappingRows?.totalElements >= 1"
        class="border-none">
        <ot-pagination
            class="static-vertical margin-top-bottom-2 margin-left-right-1"
            [currentPage]="orgGroupMappingRows?.number + 1"
            [numPages]="orgGroupMappingRows?.totalPages"
            (pageChanged)="pageChange($event - 1)"
            >
        </ot-pagination>
        <span>{{ orgGroupMappingRows | otPageMeta }}</span>
    </footer>
</section>
