<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.title }}</div>
</ot-modal-header>
<ot-modal-content class="overflow-x-hidden">
    <ng-template #loadingOrgMappingModal>
        <ot-loading otPageLoading
          class="align-self-center">
          {{ 'Loading' | otTranslate }}...
        </ot-loading>
    </ng-template>
    <div *ngIf="!isLoading; else loadingOrgMappingModal"
        class="min-height-20">
        <form role="form" name="orgGroupMappingForm">
            <div otFormElement
                class="margin-top-1"
                [label]="otModalData.inputName"
                [required]="true">
                <input otInput
                    name="SettingsSsoOrgGroupAttributeName"
                    ot-auto-id="SettingsSsoOrgGroupAttributeName"
                    [placeholder]="'EnterValue' | otTranslate"
                    [ngModel]="attrInputValue"
                    (ngModelChange)="setAttributeName($event)"
                />
            </div>
            <div otFormElement
                *ngIf="showOrgDropdown"
                class="margin-top-1"
                [label]="'Organization' | otTranslate"
                [required]="true">
                <org-select
                    identifier="SettingsOrgMappingOrgSelect"
                    [describedBy]="'SettingsOrgMappingOrgSelect'"
                    [model]="selectedOrgGroup"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    [required]="true"
                    (onSelect)="selectOrgGroup($event)"
                ></org-select>
            </div>
        </form>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="SettingsSsoOrgGroupCancel"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button *ngIf="otModalData.showOrgDropdown && otModalData.isEditOrgMappingAttr"
        otButton neutral
        class="margin-right-1"
        ot-auto-id="SettingsSsoOrgGroupSaveAndNext"
        [loading]="isSavingNext"
        [disabled]="validationsForEditModal()"
        (click)="handleSubmit(true)"
        >
        {{ 'SaveAndNext' | otTranslate }}
    </button>
    <button
        otButton brand
        ot-auto-id="SettingsSsoOrgGroupSave"
        [loading]="isLoading"
        [disabled]="validationsForEditModal()"
        (click)="handleSubmit()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
