.settings-sso-host {
    &__btn {
        max-height: 1.6rem;
        width: 1.6rem;
        line-height: 1rem;
        font-size: 1.2rem;
        border-radius: 2rem;
        margin-bottom: 0.3rem;
    }

    &__table-header {
        font-weight: bold;
        padding: 0.4rem 0.8rem;
    }

}

.settings-sso-org-mapping {

    &__search {
        max-width: 30rem;
    }

    &__input {
        border-radius: 2rem;
        min-height: 3.7rem;
    }

    &__table-btn {
        border-radius: 50%;
        border: 1px solid $grey-3;
        background-color: $white;
        color: $slate;
        padding: 0.4rem 0.5rem;
    }

}

.settings-sso-config {

    &__upload .ot-setting {
        border-bottom: none;
    }

}
