<ot-modal-header (close)="closeModal()">
    <div>{{ 'UploadCertificate' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ng-template #loadingSsoCertificateModal>
        <ot-loading otPageLoading
            class="align-self-center">
            {{ 'Loading' | otTranslate }}...
        </ot-loading>
    </ng-template>
    <div *ngIf="!isLoading; else loadingSsoCertificateModal">
        <div otFormElement
            [label]="'Password' | otTranslate"
            >
            <input otInput required
                class="full-width"
                name="Password"
                maxlength="100"
                ot-auto-id="SettingSsoCertificatePassword"
                type="password"
                [placeholder]="'EnterPassword' | otTranslate"
                [ngModel]="certificateFile?.Password"
                />
        </div>
        <div otFormElement
            class="margin-top-bottom-2"
            [label]="'File' | otTranslate"
            [required]="true">
            <div class="width-100-percent overflow-y-auto padding-all-0 border-dashed-2">
                <div otFileDragDrop
                    class="drop-container
                        background-white
                        full-width
                        column-horizontal-vertical-center
                        padding-top-bottom-2">
                    <div class="note text-small margin-bottom-half"
                        [innerHtml]="'FilesLargerThan64MbNotSupported' | otTranslate"
                    ></div>
                    <label class="padding-top-bottom-half">
                        <div class="file-upload-button slds-button slds-button_brand border-round-4">
                            <input
                                otFileSelect
                                type="file"
                                ot-auto-id="SettingSsoCertificateSelect"
                                [allowedExtensions]="allowedFileExtension"
                                (filesSelected)="certificateSelected($event)"
                            >
                            {{"Upload" | otTranslate}}
                        </div>
                    </label>
                </div>
            </div>
            <div *ngIf="certificateFile?.FileName" class="slds-m-around_small">
                <div class="pull-right text-medium-small text-color-default text-bold">
                    {{ certificateFile.FileName }}
                    <i
                        class="ot ot-trash-o cursor-pointer margin-left-half"
                        ot-auto-id="SettingSsoCertificateDelete"
                        (click)="removeFile()"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        class="margin-right-1"
        ot-auto-id="SettingSsoCertificateCancelBtn"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        class="margin-right-1"
        ot-auto-id="SettingSsoCertificateSaveBtn"
        [disabled]="!certificateFile?.FileName"
        [loading]="isLoading"
        (click)="uploadCertificate()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
