<div class="flex static-vertical padding-all-1 text-bold">
    <div class="aa-comment-drawer__question-number border-round-4 text-center background-frost text-bold">
        {{questionSequence}}
    </div>
    <div
        class="aa-comment-drawer__question-title overflow-hidden margin-left-2 text-bold"
        [otTooltip]="questionName"
        >
        {{questionName}}
    </div>
</div>
<span class="min-width-12 border-bottom padding-all-1">
    <a
        class="text-bold text-ui-blue"
        ot-auto-id="AssessmentCommentsDrawerGoToQuestionLink"
        (click)="hidePane(true)">
        {{'GoToQuestion' | otTranslate}}
    </a>
</span>

<ot-loading
    otPageLoading
    *ngIf="isLoading"
    class="flex-full-height justify-center"
></ot-loading>

<ng-container *ngIf="!isLoading">
    <div class="overflow-y-auto overflow-x-hidden ms-overflow-scroll flex-grow-1">
        <div
            *ngFor="let comment of commentList; trackBy: commentTrackBy; let last = last"
            class="padding-all-1 height-auto"
            [ngClass]="{ 'border-bottom': !last, 'border-none': last }"
        >
            <div class="row-space-between-center">
                <div class="text-bold">{{comment.createdBy}}</div>
                <div>{{comment.createdDate | otDate: "dateTime"}}</div>
            </div>
            <div class="margin-top-1" [innerHTML]="comment.comment"></div>
        </div>
    </div>

    <div class="aa-comment-drawer__rich-text-editor-container border-top padding-all-1">
        <ot-rich-text-editor
            class="aa-comment-drawer__comments-input editor-container link-editor column-nowrap flex-grow-1"
            ot-auto-id="AssessmentCommentsDrawerRichTextEditor"
            [customModules]="customModules"
            [contentModel]="commentText"
            (onContentChanged)="handleContentChange($event.html)">
        </ot-rich-text-editor>
    </div>

    <footer class="border-top static-vertical padding-all-1 align-center row-space-between row-reverse">
        <button otButton brand
            ot-auto-id="AACommentsDrawerEditButton"
            [disabled]="!commentText || isReadOnly"
            [innerText]="'Send' | otTranslate"
            (click)="sendComment()">
        </button>
        <button otButton default
            *ngIf="commentText"
            ot-auto-id="AACommentsDrawerCancelButton"
            [innerText]="'Cancel' | otTranslate"
            [disabled]="isReadOnly"
            (click)="cancelComment()">
        </button>
    </footer>
</ng-container>
