<section class="inventory-list height-100 column-nowrap">
    <ot-page-header
        class="static-vertical"
        [ngClass]="{'background-active': bulkEditMode}"
        [title]="name"
        >
        <div *ngIf="!bulkEditMode">
            <button otButton brand
                class="margin-right-1"
                *ngIf="viewPermissions.add | otPermit"
                ot-auto-id="inventoryAddNewBtn"
                (click)="addNewRecord()"
                >
                {{ "AddNew" | otTranslate }}
            </button>
            <button otButton neutral
                *ngIf="viewPermissions.export | otPermit"
                ot-auto-id="inventoryExport"
                [loading]="isExporting"
                [disabled]="isExporting"
                (click)="exportOption.action()"
                >
                {{ "Export" | otTranslate }}
            </button>
            <ot-context-menu
                *ngIf="contextMenuOptions?.length"
                class="margin-left-1"
                position="bottom-right"
                [type]="contextMenuType.Small"
                [menu]="contextMenuOptions"
            >
                <i class="ot ot-ellipsis-h"></i>
                <a *otContextMenuItem="let item"
                    [attr.ot-auto-id]="item.id"
                    (click)="contextMenuItemSelected(item)"
                    >
                    {{ item.text }}
                </a>
            </ot-context-menu>
        </div>
        <div
            class="row-vertical-center"
            *ngIf="bulkEditMode"
            >
            <span class="color-accent-blue text-bold column-nowrap text-center">
                {{ selectedCount }} {{ "Selected" | otTranslate }}
            </span>
            <div class="margin-left-2">
                <button
                    otButton
                    neutral
                    class="margin-right-2"
                    ot-auto-id="inventoryBulkLaunchButton"
                    *ngIf="allowCreateAssessment && ((viewPermissions.launch | otPermit) || (viewPermissions.launchVendorAssessment | otPermit))"
                    icon="ot ot-send"
                    [otTooltip]="{content: 'LaunchAssessmentsDescription' | otTranslate, placement: 'bottom-end'}"
                    (click)="handleBulkLaunch()"
                ></button>
                <button
                    otButton
                    neutral
                    class="margin-right-2"
                    ot-auto-id="inventoryBulkDeleteButton"
                    *ngIf="viewPermissions.delete | otPermit"
                    icon="ot ot-trash"
                    [otTooltip]="{content: 'DeleteInventoryRecordsDescription' | otTranslate, placement: 'bottom-end'}"
                    (click)="handleBulkDelete()"
                ></button>
                <button
                    otButton
                    neutral
                    class="margin-right-2"
                    ot-auto-id="inventoryBulkChangeStatusButton"
                    *ngIf="viewPermissions.changeInventoryStatus | otPermit"
                    icon="ot ot-exchange"
                    [otTooltip]="{content: 'ChangeInventoryStatus' | otTranslate, placement: 'bottom-end'}"
                    (click)="handleBulkChangeStatus()"
                    >
                </button>
                <button
                    otButton
                    neutral
                    class="margin-right-2"
                    ot-auto-id="inventoryBulkEditButton"
                    *ngIf="viewPermissions.bulkEdit | otPermit"
                    icon="ot ot-edit"
                    [otTooltip]="{content: 'BulkEditInventoryDescription' | otTranslate, placement: 'bottom-end'}"
                    (click)="handleBulkEdit()"
                ></button>
            </div>
            <div class="padding-left-2 border-left">
                <button
                    otButton
                    neutral
                    icon="ot ot-close"
                    (click)="toggleAllRecordsSelected(false)"
                ></button>
            </div>
        </div>
    </ot-page-header>
    <div class="background-grey border-bottom full-width padding-top-bottom-half padding-left-right-2">
        <div class="full-width row-vertical-center justify-end">
            <ot-search-input
                class="inventory-list__search"
                name="InventorySearchRecord"
                ot-auto-id="InventorySearchRecord"
                [model]="currentSearchTerm"
                [placeholder]="'SearchByName' | otTranslate"
                [debounce]="250"
                (search)="handleSearch($event)"
            ></ot-search-input>
            <button otButton
                class="margin-left-1"
                ot-auto-id="InventoryListColumnSelector"
                icon="ot ot-columns"
                (click)="launchColumnSelectorModal()"
            ></button>
            <button otButton
                ot-auto-id="InventoryListFilterDrawerToggle"
                icon="ot ot-filter"
                [select]="showingFilteredResults"
                (click)="toggleFiltersDrawer()"
            ></button>
        </div>
    </div>
    <section otDrawerContainer class="stretch-vertical flex-full-height column-nowrap background-white">
        <ng-container *ngIf="listReady && stateInventoryId === inventoryId; else listNotReady">
            <div class="overflow-y-auto stretch-vertical" *ngIf="table.rows.length; else noRecords">
                <div class="position-relative">
                    <inventory-table-v2
                        [rows]="table.rows"
                        [columns]="table.columns"
                        [inventoryId]="inventoryId"
                        [bulkEditMode]="bulkEditMode"
                        (editMode)="enableEditMode($event)"
                        >
                    </inventory-table-v2>
                </div>
            </div>
            <ng-template #noRecords>
                <div class="flex-full-height justify-center text-center padding-all-2">
                    <ot-empty-state
                        class="full-width"
                        [emptyStateMessage]="'NoRecordsFound' | otTranslate"
                        >
                        <img emptyStateImg />
                        <button
                            otButton
                            brand
                            empty-state-content
                            ot-auto-id="InventoryAddNewButtonFromTable"
                            [innerText]="'AddNew' | otTranslate"
                            (click)="addNewRecord()"
                            >
                        </button>
                    </ot-empty-state>
                </div>
            </ng-template>
            <footer
                otPaginationFooter
                class="min-height-7 static-vertical border-top row-vertical-center"
                *ngIf="table?.metaData?.totalElements"
                >
                <ot-pagination
                    *ngIf="table?.metaData?.totalElements > table?.metaData?.size"
                    class="static-vertical margin-top-bottom-2 margin-left-right-1"
                    [handleOffset]="true"
                    [currentPage]="table.metaData.number"
                    [numPages]="table.metaData.totalPages"
                    (pageChanged)="getInventoryList($event)"
                    >
                </ot-pagination>
                {{ table.metaData | otPageMeta }}
            </footer>
        </ng-container>
        <ng-template #listNotReady>
            <ot-loading otPageLoading class="flex-full-height"></ot-loading>
        </ng-template>
        <ot-drawer
            class="inventory-list__drawer border-left position-absolute background-grey top-0 flex-full-height overflow-y-hidden"
            [open]="attributeDrawerOpen || filterDrawerOpen"
            >
            <div class="row-vertical-center margin-all-2 static-vertical">
                <i
                    class="side-drawer__icon ot ot-arrow-circle-o-right"
                    ot-auto-id="InventoryListCloseSidebarBtn"
                    role="button"
                    (click)="closeDrawer()"
                    >
                </i>
                <span class="side-drawer__close-text margin-left-1">{{'Close' | otTranslate}}</span>
            </div>
            <div
                class="column-nowrap full-size overflow-y-auto stretch-vertical"
                *ngIf="attributeDrawerOpen"
                >
                <div class="text-bold text-large padding-left-2 padding-bottom-1">{{drawerHeader}}</div>
                <inventory-form
                    class="inventory-list__details-form padding-left-right-2 column-nowrap stretch-vertical overflow-y-scroll padding-bottom-2"
                    [isEditable]="(viewPermissions?.edit | otPermit) && currentRecord?.isEditable"
                    [isEditing]="isEditing"
                    [inventoryId]="schemaIds[inventoryId]"
                    [recordId]="currentRecordId"
                    scrollParentClass="inventory-list__details-form"
                    >
                </inventory-form>
            </div>
            <inventory-list-filter
                *ngIf="filterDrawerOpen"
                class="flex-full-height"
                [filtersOpen]="filterDrawerOpen"
                (applyFilters)="toggleFiltersDrawer()"
                (cancel)="toggleFiltersDrawer()"
                >
            </inventory-list-filter>
            <footer
                otPageFooter
                *ngIf="
                    (viewPermissions.edit | otPermit) &&
                    currentRecord?.isEditable &&
                    attributeDrawerOpen &&
                    recordEditEnabled
                    "
                >
                <button
                    otButton
                    neutral
                    class="margin-left-1"
                    ot-auto-id="cancelSaveInventoryDetails"
                    [disabled]="savingRecord"
                    (click)="saveCancelled()"
                    >
                    {{ "Cancel" | otTranslate }}
                </button>
                <button
                    otButton
                    brand
                    class="margin-left-1"
                    ot-auto-id="saveInventoryDetails"
                    [disabled]="!hasEdits || savingRecord || !requiredFieldsValid || !usersValid"
                    (click)="saveRecord()"
                    >
                    {{ "Save" | otTranslate }}
                </button>
            </footer>
        </ot-drawer>
    </section>
</section>
