<ot-modal-header (close)="closeModal()">
    <div>{{ 'TrialComplete' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <img
        class="center-block margin-bottom-3"
        src="../shared/images/warning_icon.svg">
    <div class="text-center">
        <p class="text-bold text-huge">
            {{ 'TrialAlreadyCompleted' | otTranslate}}
        </p>
        <p>
            {{ 'TrialAlreadyCompletedMessage' | otTranslate}}
        </p>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="TrialFailureModalSubmitButton"
        (click)="purchaseNow()"
        >
        {{'BuyNow' | otTranslate}}
    </button>
</ot-modal-footer>
