<section
    *ngIf="enableTemplates"
    class="gray-shadow background-white flex-full-height">
    <div
        class="padding-top-bottom-half padding-left-right-2 border-bottom full-width static-vertical"
        [ngClass]="{'row-space-between': templateTranslation, 'row-flex-end': !templateTranslation}"
        >
        <div class="row-vertical-center">
            <span
                *ngIf="templateTranslation"
                class="margin-right-1 text-bold"
                [innerText]="'Language' | otTranslate"
            ></span>
            <ot-picklist
                class="min-width-15"
                ot-auto-id="DSARLanguageChange"
                labelKey="Name"
                valueKey="Code"
                [disabled]="isLoading"
                [model]="selectedLanguage"
                [options]="languageList"
                (onSelect)="selectLanguage($event)"
            ></ot-picklist>
        </div>
        <ot-search-input
            ot-auto-id="DSARResponseTemplateSearchInput"
            [model]="searchString"
            [placeholder]="'Search' | otTranslate"
            [searchOnEnter]="true"
            (search)="search($event)"
        ></ot-search-input>
    </div>
    <ot-loading otPageLoading
        class="stretch-vertical"
        *ngIf="isLoading; else ResponseTemplateTable"
        >
        {{ 'ResponseTemplates' | otTranslate }}
    </ot-loading>
    <ng-template #ResponseTemplateTable>
        <one-empty-state
            class="flex-full-height justify-center"
            *ngIf="!templateTableData?.length"
            [emptyStateMessage]="'NoItemsToDisplay' | otTranslate"
            [imagePath]="'images/empty_state_icon.svg'"
        ></one-empty-state>
        <dsar-response-templates-table
            class="stretch-vertical overflow-y-auto position-relative"
            *ngIf="templateTableData?.length"
            [rows]="templateTableData"
            [users]="users"
            [permissions]="permissions"
            (deleteResponseTemplate)="handleAction($event)"
            (editResponseTemplate)="handleAction($event)"
        ></dsar-response-templates-table>
    </ng-template>
    <footer
        otPaginationFooter
        *ngIf="templateList?.totalPages > 1"
        >
        <ot-pagination
            *ngIf="templateList?.totalPages > 1"
            class="margin-left-right-2"
            [currentPage]="params.page"
            [handleOffset]="true"
            [numPages]="templateList.totalPages"
            (pageChanged)="handlePageChange($event)"
        ></ot-pagination>
        <span *ngIf="!isLoading">
            {{ templateList | otPageMeta }}
        </span>
    </footer>
</section>
