<ng-container [ngSwitch]="layoutType">
    <ng-container *ngSwitchCase="layoutIds.One">
        <svg viewBox="0 0 105 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-479.000000, -514.000000)">
                    <g transform="translate(456.000000, 484.000000)">
                        <g>
                            <g>
                                <g transform="translate(23.000000, 30.000000)">
                                    <g>
                                        <mask id="dashboard-layout-option-1-mask" fill="white">
                                            <path d="M24,0 L24,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L24,0 Z M27,0 L51,0 L51,89 L27,89 L27,0 Z M54,0 L78,0 L78,89 L54,89 L54,0 Z M81,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L81,89 L81,0 Z"></path>
                                        </mask>
                                        <path
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            d="M24,0 L24,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L24,0 Z M27,0 L51,0 L51,89 L27,89 L27,0 Z M54,0 L78,0 L78,89 L54,89 L54,0 Z M81,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L81,89 L81,0 Z"
                                            >
                                        </path>
                                        <g
                                            class="dashboard-layout-option__fill"
                                            mask="url(#dashboard-layout-option-1-mask)"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            >
                                            <rect x="0" y="0" width="105" height="89"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </ng-container>
    <ng-container *ngSwitchCase="layoutIds.Two">
        <svg viewBox="0 0 105 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-639.000000, -514.000000)">
                    <g transform="translate(456.000000, 484.000000)">
                        <g>
                            <g transform="translate(160.000000, 0.000000)">
                                <g transform="translate(23.000000, 30.000000)">
                                    <g>
                                        <mask id="dashboard-layout-option-2-mask" fill="white">
                                            <path
                                                d="M24,0 L24,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L24,0 Z M27,0 L51,0 L51,89 L27,89 L27,0 Z M54,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L54,89 L54,0 Z">
                                            </path>
                                        </mask>
                                        <path
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            d="M24,0 L24,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L24,0 Z M27,0 L51,0 L51,89 L27,89 L27,0 Z M54,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L54,89 L54,0 Z">
                                        </path>
                                        <g
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            mask="url(#dashboard-layout-option-2-mask)"
                                            >
                                            <rect x="0" y="0" width="105" height="89"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </ng-container>
    <ng-container *ngSwitchCase="layoutIds.Three">
        <svg viewBox="0 0 105 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-799.000000, -514.000000)">
                    <g transform="translate(456.000000, 484.000000)">
                        <g>
                            <g transform="translate(320.000000, 0.000000)">
                                <g transform="translate(23.000000, 30.000000)">
                                    <g>
                                        <mask id="dashboard-layout-option-3-mask" fill="white">
                                            <path
                                                d="M51,0 L51,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L51,0 Z M54,0 L78,0 L78,89 L54,89 L54,0 Z M81,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L81,89 L81,0 Z">
                                            </path>
                                        </mask>
                                        <path
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            d="M51,0 L51,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L51,0 Z M54,0 L78,0 L78,89 L54,89 L54,0 Z M81,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L81,89 L81,0 Z">
                                        </path>
                                        <g
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            mask="url(#dashboard-layout-option-3-mask)"
                                            >
                                            <rect x="0" y="0" width="105" height="89"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </ng-container>
    <ng-container *ngSwitchCase="layoutIds.Four">
        <svg viewBox="0 0 105 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-559.000000, -674.000000)">
                <g transform="translate(456.000000, 484.000000)">
                    <g transform="translate(80.000000, 160.000000)">
                        <g>
                            <g transform="translate(23.000000, 30.000000)">
                                <g>
                                    <mask id="dashboard-layout-option-4-mask" fill="white">
                                        <path
                                            d="M51,0 L51,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L51,0 Z M54,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L54,89 L54,0 Z"
                                            >
                                        </path>
                                    </mask>
                                    <path
                                        class="dashboard-layout-option__fill"
                                        [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                        d="M51,0 L51,89 L5,89 C2.23857625,89 3.38176876e-16,86.7614237 0,84 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L51,0 Z M54,0 L100,0 C102.761424,-5.07265313e-16 105,2.23857625 105,5 L105,84 C105,86.7614237 102.761424,89 100,89 L54,89 L54,0 Z"
                                        >
                                    </path>
                                    <g
                                        class="dashboard-layout-option__fill"
                                        [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                        mask="url(#dashboard-layout-option-4-mask)"
                                        >
                                        <rect x="0" y="0" width="105" height="89"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </ng-container>
    <ng-container *ngSwitchCase="layoutIds.Five">
        <svg viewBox="0 0 105 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-719.000000, -674.000000)">
                    <g transform="translate(456.000000, 484.000000)">
                        <g transform="translate(80.000000, 160.000000)">
                            <g transform="translate(160.000000, 0.000000)">
                                <g transform="translate(23.000000, 30.000000)">
                                    <g>
                                        <mask id="dashboard-layout-option-5-mask" fill="white">
                                            <rect x="0" y="0" width="105" height="89" rx="5"></rect>
                                        </mask>
                                        <rect
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            x="0" y="0" width="105" height="89" rx="5"
                                            >
                                        </rect>
                                        <g
                                            class="dashboard-layout-option__fill"
                                            [ngClass]="{'dashboard-layout-option__fill--active': isActive}"
                                            mask="url(#dashboard-layout-option-5-mask)"
                                            >
                                            <rect x="0" y="0" width="105" height="89"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </ng-container>
</ng-container>
