.assessment-question__addon {
    &--button {
        color: $slate;
        background: 0;

        &:hover {
            color: darken($slate, 10%);
        }

        .fa-stack {
            width: 1.8rem;
            height: 2.8rem;
            margin-right: 0.4rem;
            margin-bottom: 0.2rem;
        }

        &-icon {
            font-size: 1.25em;
        }
    }
}
