<section class="inventory-list column-nowrap full-size background-white">
    <ot-page-header [title]="listTitle | translate">
        <ot-breadcrumb
            class="text-nowrap"
            (routeClicked)="goToListManagerEntry($event)"
            >
            <ot-breadcrumb-item
                ot-auto-id="ListManagerEntryBreadcrumbItem"
                [label]="'InventoryManager' | translate"
                [link]="inventoryListManagerRoutes.Entry"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="listTitle | translate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <div *ngIf="listActions.length">
            <ng-container *ngFor="let listAction of listActions">
                <button
                    otButton
                    brand
                    *ngIf="listAction.buttonType === buttonTypes.Brand"
                    class="margin-left-1"
                    [attr.ot-auto-id]="'InventoryListManagerActionButton' + listAction.labelKey"
                    (click)="listAction.action()"
                    >
                    {{ listAction.labelKey | translate }}
                </button>
                <button
                    otButton
                    neutral
                    *ngIf="listAction.buttonType === buttonTypes.Neutral"
                    [attr.ot-auto-id]="'InventoryListManagerActionButton' + listAction.labelKey"
                    (click)="listAction.action()"
                    >
                    {{ listAction.labelKey | translate }}
                </button>
                <ot-context-menu
                    *ngIf="listAction.buttonType === buttonTypes.Context"
                    class="margin-left-1"
                    position="bottom-right"
                    [type]="contextMenuType.Small"
                    [menu]="listAction.options"
                    >
                    <i class="ot ot-ellipsis-h"></i>
                    <a *otContextMenuItem="let item"
                        [attr.ot-auto-id]="item.id"
                        (click)="contextMenuItemSelected(item)"
                        >
                        {{ item.text }}
                    </a>
                </ot-context-menu>
            </ng-container>
        </div>
    </ot-page-header>
    <div class="inventory-list__sub-header background-grey border-bottom full-width padding-top-bottom-half padding-left-right-2">
        <div class="inventory-list__sub-header--actions full-width row-vertical-center justify-end">
            <ot-search-input
                class="inventory-list__search"
                name="InventoryListManagerSearchRecord"
                ot-auto-id="InventoryListManagerSearchRecord"
                [model]="currentSearchTerm"
                [placeholder]="'SearchByKey' | translate"
                [debounce]="250"
                (search)="handleSearch($event)"
            ></ot-search-input>
        </div>
    </div>
    <section otDrawerContainer class="stretch-vertical flex-full-height column-nowrap background-white">
        <ng-container *ngIf="inventoryListManagerService.inventoryListManagerViewState$ | async as state">
            <ng-container *ngIf="state.listReady; else listNotReady">
                <div class="overflow-y-auto stretch-vertical" *ngIf="state.rows.length; else noRecords">
                    <div class="position-relative">
                        <inventory-list-manager-table
                            [rows]="state.rows | filter:['name'] : currentSearchTerm"
                            [columns]="state.columns"
                            [listId]="state.listId"
                            (goToRoute)="goToDetails($event)"
                            >
                        </inventory-list-manager-table>
                    </div>
                </div>
                <ng-template #noRecords>
                    <div class="flex-full-height justify-center text-center padding-all-2">
                        <ot-empty-state [emptyStateMessage]="'NoRecordsFound' | translate">
                            <img emptyStateImg />
                        </ot-empty-state>
                    </div>
                </ng-template>
            </ng-container>
            <ng-template #listNotReady>
                <ot-loading otPageLoading class="flex-full-height"></ot-loading>
            </ng-template>
        </ng-container>
    </section>
</section>