.inventory-activity {

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        &__footer {
            button {
                top: 0.8rem;
            }
        }
    }

    &__content {
        h3 {
            margin: 0;
            line-height: inherit;
        }

        button {
            height: 1.5rem;
        }
    }
}
