<ng-container *ngIf="!(inventoryActivityService.inventoryActivityState$ | async).loadingActivityData; else showLoading">
    <div class="inventory-activity__header centered-max-100 width-100-percent row-vertical-center padding-left-right-2 background-grey shadow2-left-right min-height-5">
        <button otButton neutral ot-auto-id="inventoryActivityToggleAscendingDescending" [icon]="orderIcon" (click)="toggleOrder()"></button>
        <button otButton neutral ot-auto-id="inventoryActivityToggleExpand" (click)="toggleExpand()">
            {{ allItemsExpanded ? ("CollapseAll" | translate) : ("ExpandAll" | translate) }}
        </button>
    </div>
    <div class="centered-max-100 background-white shadow2 stretch-vertical width-100-percent overflow-y-auto">
        <div class="inventory-activity__content padding-all-2">
            <ot-activity-timeline>
                <ot-activity-timeline-item
                    *ngFor="let activity of formattedActivities"
                    [activity]="activity"
                    [isExpanded]="expandedItemMap[activity.id]"
                    [icon]="activity.icon"
                    [iconColor]="activity.iconColor"
                    [iconBackgroundColor]="activity.iconBackgroundColor"
                    (toggle)="toggleActivity(activity.id)"
                    >
                    <ng-container *ngIf="activity?.changes?.length">
                        <ul
                            class="row-wrap-space-between padding-bottom-1"
                            *ngFor="let change of activity.changes; let i = index"
                            [ngClass]="{
                                'border-bottom' : activity.changes.length > 1 && i !== activity.changes.length - 1,
                                'margin-top-1' : activity.changes.length > 1 && i !== 0
                            }"
                            >
                            <li class="flex-grow-1 flex-basis-0">
                                <span class="block text-small text-bold padding-bottom-half">{{ change.fieldLabel }}</span>
                                <span class="block text-small word-break-fallback">{{ change.fieldName }}</span>
                            </li>
                            <li
                                *ngIf="activity.showOldNewValueField"
                                class="flex-grow-1 flex-basis-0"
                                >
                                <span class="block text-small text-bold padding-bottom-half">{{ "OldValue" | translate }}</span>
                                <span class="block text-small word-break-fallback">{{ change.oldValue ? change.oldValue.name : "" }}</span>
                            </li>
                            <li
                                *ngIf="activity.showOldNewValueField"
                                class="flex-grow-1 flex-basis-0"
                                >
                                <span class="block text-small text-bold padding-bottom-half">{{ "NewValue" | translate }}</span>
                                <span class="block text-small word-break-fallback">{{ change.newValue ? change.newValue.name : "" }}</span>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="activity?.associations?.length">
                        <ul
                            class="row-wrap-space-between padding-bottom-1"
                            *ngFor="let association of activity.associations; let i = index"
                            [ngClass]="{
                                'border-top padding-top-1': activity.changes?.length && i === 0,
                                'border-bottom' : activity.associations.length > 1 && i !== activity.associations.length - 1,
                                'margin-top-1' : activity.associations.length > 1 && i !== 0
                            }"
                            >
                            <li class="flex-grow-1 flex-basis-0">
                                <span class="block text-small text-bold padding-bottom-half">{{ "Action" | translate }}</span>
                                <span class="block text-small word-break-fallback">{{ activityAction[association.action] | translate }}</span>
                            </li>
                            <ng-container *ngFor="let object of association.objects; let i = index">
                                <li
                                    class="flex-grow-1 flex-basis-0"
                                    >
                                    <span class="block text-small text-bold padding-bottom-half">{{ personalDataType[object.type] | translate }}</span>
                                    <span class="block text-small word-break-fallback">{{ object.name }}</span>
                                </li>
                            </ng-container>
                        </ul>
                    </ng-container>
                </ot-activity-timeline-item>
            </ot-activity-timeline>
        </div>
        <ot-loading
            *ngIf="isLoadingMoreActivities"
            >
        </ot-loading>
        <div
            class="inventory-activity__footer row-vertical-center margin-left-right-2 border-top min-height-5"
            *ngIf="hasMoreActivities && !isLoadingMoreActivities"
            >
            <button
                otButton
                neutral
                class="margin-0-auto"
                ot-auto-id="inventoryActivityToggleExpand"
                (click)="addActivitiesToView()"
                >
                {{ "ViewMore" | translate }}
            </button>
        </div>
    </div>
</ng-container>
<ng-template #showLoading>
    <ot-loading
        otPageLoading
        class="flex-full-height justify-center"
        >
        {{ 'Activity' | translate }}...
    </ot-loading>
</ng-template>

