.width-63 {
    width: 63%;
}

.incident-rule-component {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .slds-badge {
            min-width: 12rem;
        }
    }
}
