<div class="min-height-7 row-vertical-center row-space-between incident-rule-component">
    <abbr class="slds-required border-none margin-all-quarter" *ngIf="editMode">*</abbr>
    <input otInput
        class="margin-right-5"
        maxLength="100"
        [ngClass]="{ 'border-has-error': hasError && !rule.name, 'width-50-rem': !editMode, 'overflow-ellipsis-nowrap': !editMode }"
        [attr.ot-auto-id]="'IncidentRuleTitle_'+ruleIndex"
        [deprecatedOtTooltip]="editMode ? null : rule.name"
        [ngModel]="rule.name"
        [readonly]="editMode ? null : true"
        [placeholder]="translations.RuleName"
        (ngModelChange)="setRuleName($event)"
    />
    <div class="row-nowrap">
        <span
            *ngIf="!editMode"
            [otBadge]="default"
            [innerText]="conditionsLengthBadgeValue"
            >
        </span>
        <span
            *ngIf="!editMode"
            [otBadge]="default"
            [innerText]="actionsLengthBadgeValue"
            >
        </span>
    </div>
    <div class="row-nowrap">
        <button otButton
            *ngIf="editMode && enableReorderRules"
            [attr.ot-auto-id]="'IncidentRuleShiftRuleUp_'+ruleIndex"
            [icon]="'fa fa-arrow-up'"
            (click)="shiftRuleUp()"
        ></button>
        <button otButton
            *ngIf="editMode && enableReorderRules"
            class="margin-right-2"
            [attr.ot-auto-id]="'IncidentRuleShiftRuleDown_'+ruleIndex"
            [icon]="'fa fa-arrow-down'"
            (click)="shiftRuleDown()"
        ></button>
        <button otButton
            *ngIf="editMode"
            [attr.ot-auto-id]="'IncidentRuleDeleteRule_'+ruleIndex"
            [icon]="'fa fa-trash-o'"
            (click)="deleteRule()"
        ></button>
        <button otButton
            [attr.ot-auto-id]="'IncidentRuleToggleRuleContent_'+ruleIndex"
            [icon]="rule?.isOpen ? 'ot ot-chevron-up' : 'ot ot-chevron-down'"
            (click)="toggleRuleContent(!rule?.isOpen)"
        ></button>
    </div>
</div>
<div
    *ngIf="rule?.isOpen"
    class="padding-bottom-2"
    >
    <ng-template *ngIf="rule.conditionGroups && rule.actionParameters; then ruleContent; else ruleLoading"></ng-template>
    <ng-template #ruleContent>
        <div
            class="text-bold margin-bottom-1 row-vertical-center"
            >
            <ng-template *ngIf="config.ruleOperators?.options?.length; then multiConditionOperator; else basicRuleOperator"></ng-template>
            <ng-template #multiConditionOperator>
                <span>{{ translations.Conditions }}</span>
                <ot-picklist
                    *ngIf="!conditionBlockFlag"
                    class="margin-left-1 width-15-percent"
                    ot-auto-id="IncidentRuleConditionsOperatorSelectionDropdown"
                    [autoClose]="true"
                    [placeholder]="config.ruleOperators.placeholder"
                    [options]="config.ruleOperators.options"
                    [model]="rule.operator"
                    [disabled]="!editMode"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    [hideArrow]="false"
                    (onSelect)="setRuleOperator($event)"
                ></ot-picklist>
            </ng-template>
            <ng-template #basicRuleOperator>
                {{ translations.Conditions }}
            </ng-template>
        </div>
        <ng-container *ngFor="let subRule of rule.conditionGroups; trackBy: trackByFn; let index = index; let first = first; let last = last;">
            <div
                *ngIf="!first && rule.conditionGroups.length > 1 && !enableConditions"
                class="margin-bottom-1 text-bold margin-left-half"
                [innerText]="rule.operator?.value === 'any' ? translations.OR : translations.AND"
            ></div>
            <div class="border-grey border-radius-3 margin-bottom-1">
                <button otButton neutral
                    *ngIf="conditionBlockFlag && editMode"
                    class = "margin-all-1"
                    [attr.ot-auto-id]="'IncidentConditionBlockButton_'+ruleIndex"
                    (click)="disableConditionsBlock(false)"
                    >
                    {{ translations.AddCondition }}
                </button>
                <incident-sub-rule
                    *ngIf="!conditionBlockFlag"
                    class="flex-full-width row-nowrap"
                    [editMode]="editMode"
                    [ruleIndex]="ruleIndex"
                    [subRuleIndex]="index"
                    [subRule]="subRule"
                    [conditionMeta]="config.conditionMeta"
                    [translations]="translations"
                    (conditionBlockFlag)="disableConditionsBlock($event)"
                ></incident-sub-rule>
            </div>
            <button otButton neutral
                 *ngIf="last && editMode && !conditionBlockFlag"
                 class="margin-bottom-2"
                 [attr.ot-auto-id]="'IncidentRuleAddSubRule_' + ruleIndex"
                 [innerText]="translations.AddConditionBlock"
                 (click)="addSubRule()"
                 >
             </button>
        </ng-container>
        <ng-container *ngIf="config.task">
            <div class="margin-bottom-1">
                <abbr class="slds-required border-none margin-all-quarter" *ngIf="editMode">*</abbr>
                <span class="text-bold">{{ translations.Actions }}</span>
            </div>
            <div class="border-grey border-radius-3">
                <ot-picklist
                    class="conditions-item__logical-operator margin-all-1 width-63"
                    [ngClass]="{'border-has-error': hasError && !rule.taskType}"
                    ot-auto-id="IncidentRuleSingleActionSelectionDropdown"
                    [autoClose]="true"
                    [options]="config.task.options"
                    [model]="rule.taskType"
                    [disabled]="!editMode"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    (onSelect)="setRuleTaskType($event)"
                ></ot-picklist>
    
                <ng-container *ngIf="rule.taskType">
                    <ng-container *ngFor="let configItem of config.task.subOptions[rule.taskType.value]; let index = index">
                        <incident-rule-action
                            class="margin-all-1 row-vertical-center"
                            [hasError]="validateActionParameter(configItem)"
                            [ruleIndex]="ruleIndex"
                            [actionIndex]="index"
                            [editMode]="editMode"
                            [config]="configItem"
                            [actions]="rule.actionParameters"
                        ></incident-rule-action>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #ruleLoading>
        <ot-loading otPageLoading
            *ngIf="isLoading$ | async"
            >
        </ot-loading>
    </ng-template>
</div>
