<div class="ssp-config-template-card__item background-white shadow7 cursor-pointer border-radius">
    <button
        *ngIf="contextMenuOptions?.length"
        class="ot ot-ellipsis-h margin-top-1-half align-right cursor-pointer border-none background-none no-outline margin-right-1"
        [attr.ot-auto-id]="'SspTemplateCardContextMenu'"
        [closeOnClick]="'both'"
        [isOpen]="isContextMenuOpen"
        [modifierClass]="'ssp-config-template-card__ot-popover width-auto'"
        [otDropdown]="sspTemplateCardContextMenu"
        [position]="'bottom-right'"
        [interactive]="false"
        (toggled)="toggleContextMenu($event)"
        (click)="toggleContextMenu(true, $event)"
    ></button>
    <div class="flex flex-column text-center full-width">
        <i
            class="ssp-config-template-card__icon ot margin-top-3 margin-bottom-1"
            [ngClass]="sspTemplateDetails.icon"
        >
        </i>
        <p
            class="ssp-config-template-card__name text-bold text-medium word-wrap overflow-ellipsis padding-left-right-2"
            [otTooltip]="sspTemplateDetails.name"
        >
            {{sspTemplateDetails.name}}
        </p>
        <span class="ssp-config-template-card__tags align-self-center">
            V{{sspTemplateDetails.version}}
        </span>
    </div>
    <!-- context menu options -->
    <ng-template #sspTemplateCardContextMenu>
        <ul
            *ngFor="let option of contextMenuOptions"
            class="slds-dropdown__list margin-0"
        >
            <li class="slds-dropdown__item">
                <a
                    class="text-medium-small cursor-pointer remove-anchor-style text-decoration-none block"
                    [attr.ot-auto-id]="'SspTemplateCardContextMenuAction'"
                    (click)="onContextMenuOptionClick(option.value)"
                >
                    <span>
                        {{option.label | otTranslate}}
                    </span>
                </a>
            </li>
        </ul>
    </ng-template>
    <!-- GetLink Modal -->
    <ng-template #GetLinkModal>
        <ot-modal-header (close)="closeModal()">
            <div>{{ 'LinkToThisTemplate' | otTranslate }}</div>
        </ot-modal-header>
        <ot-modal-content>
            <div class="ssp-config-template-card__input-disabled">
                <div class="text-medium-small text-bold padding-bottom-half">{{'Link' | otTranslate}}</div>
                <input otInput
                    type="text"
                    id="TemplateLinkField"
                    class="block"
                    ot-auto-id="TemplateLinkGenerationField"
                    [ngModel]="templateIdLink"
                    readonly/>
                <button otButton
                    neutral
                    class="margin-top-1 align-right"
                    ot-auto-id="GetLinkModalCopyButton"
                    (click)="copyToClipBoard()">
                    {{'Copy' | otTranslate}}
                </button>
            </div>
        </ot-modal-content>
        <ot-modal-footer>
            <button otButton brand
                ot-auto-id="GetLinkModalCancelButton"
                (click)="closeModal()">
                {{'Close' | otTranslate}}
            </button>
        </ot-modal-footer>
    </ng-template>
</div>
