.ssp-config-template-card {
    &__item {
        width: 21rem;
        min-height: 20rem;
        margin: 1.2rem;
        height: 1px;
    }

    &__icon {
        font-size: 4rem;
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        height: 4rem;
    }
    &__tags {
        border-radius: 2rem;
        border: $input-border;
        width: 7rem;
        height: 2rem;
        font-size: 1.1rem;
    }

    &__ot-popover {
        min-width: 14rem;

        span{
            width: 100%;
            text-align: center;
        }
    }
    &__input-disabled {
        .slds-input[readonly]{
            background-color: $grey-1;
            color: $grey-20;
        }
    }
}
