<div>
    <div class="background-white height-5 row-vertical-center space-between border-bottom padding-left-right-2">
        <div>
            <ng-container
                [ngTemplateOutlet]="currentTab === incidentJurisdictionTabOptions.MapView ? activeButton : inactiveButton"
                [ngTemplateOutletContext]="{ tab: incidentJurisdictionTabOptions.MapView, tooltip: 'MapView', icon: 'ot ot-globe' }"
            ></ng-container>
            <ng-container
                [ngTemplateOutlet]="currentTab === incidentJurisdictionTabOptions.TableView ? activeButton : inactiveButton"
                [ngTemplateOutletContext]="{ tab: incidentJurisdictionTabOptions.TableView, tooltip: 'ListView', icon: 'ot ot-list-ul' }"
            ></ng-container>
        </div>
        <div>
            <button otButton neutral
                *ngIf="'IncidentLaunchDINA' | otPermit"
                ot-auto-id="IncidentLaunchDINA"
                [disabled]="currentJurisdictions?.length === 0"
                (click)="onLaunchDINA()"
                >
                {{ 'AssessJurisdictions' | otTranslate }}
            </button>
            <button otButton neutral
                *ngIf="('IncidentManageJurisdictions' | otPermit)"
                ot-auto-id="IncidentJurisdictionManage"
                (click)="onManage()"
                >
                {{ 'Manage' | otTranslate }}
            </button>
        </div>
    </div>

    <ng-template #activeButton let-tooltip="tooltip" let-tab="tab" let-icon="icon">
        <button otButton brand
            ot-auto-id="IncidentJurisdictionTableTab"
            [otTooltip]="tooltip | otTranslate"
            [icon]="icon"
            (click)="changeTab(tab)"
        ></button>
    </ng-template>
    <ng-template #inactiveButton let-tooltip="tooltip" let-tab="tab" let-icon="icon">
        <button otButton neutral
            ot-auto-id="IncidentJurisdictionTableTab"
            [otTooltip]="tooltip | otTranslate"
            [icon]="icon"
            (click)="changeTab(tab)"
        ></button>
    </ng-template>

    <ot-loading otPageLoading
        class="margin-left-right-auto margin-top-3"
        *ngIf="loadingJurisdiction; else jurisdictionSubTab"
    ></ot-loading>

    <ng-template #jurisdictionSubTab>
        <ng-container [ngSwitch]="currentTab">
            <div class="position-relative" *ngSwitchCase="incidentJurisdictionTabOptions.MapView">
                <incident-jurisdiction-map></incident-jurisdiction-map>
            </div>
            <div class="position-relative" *ngSwitchCase="incidentJurisdictionTabOptions.TableView">
                <incident-jurisdiction-table
                    [table]="table"
                    [loadingJurisdiction]="loadingJurisdiction"
                    (callManageJurisdiction)="onManage()"
                    (removeJurisdiction)="removeJurisdiction($event)"
                ></incident-jurisdiction-table>
                <footer otPaginationFooter *ngIf="!loadingJurisdiction && ((table?.rows?.length && table?.metaData.totalPages > 1) || (!table?.metaData.first))">
                    <ot-pagination
                        [currentPage]="table?.metaData?.number"
                        [handleOffset]="true"
                        [numPages]="table?.metaData?.totalPages"
                        (pageChanged)="onPaginationChange($event)"
                        >
                    </ot-pagination>
                    <span>
                        {{ table?.metaData | otPageMeta }}
                    </span>
                </footer>
            </div>
        </ng-container>
    </ng-template>
</div>
