.risk-modal {
    &__label {
        margin-bottom: 0.3rem;
        color: $slate;
        &--half-width {
            width: 48%;
        }
    }

    &__typeahead {
        .typeahead__input {
            height: 3.8rem;

            &:focus {
               outline-width: 0;
            }
        }
    }

    &__textarea {
        .slds-textarea:disabled {
            background-color: $frost;
        }
    }
}

.risk-modal__dropdown {
    position: relative;

    &-button,
    &-item {
        padding-left: 1rem !important;
    }
    &-button:disabled {
        color: $grey-20;
        background-color: $frost !important;
    }

    &-arrow {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }
}
