<div class="padding-all-2 height-100">
    <ng-container [ngSwitch]="privacyNotice.activeVersion">
        <ng-container *ngSwitchDefault>
            <ng-template #integrationCode>
                <p class="margin-top-bottom-2">
                    {{ "PrivacyNoticeIntegrationsDescription" | otTranslate }}
                </p>

                <privacy-notice-integration-snippet
                    *ngIf="(settings$ | async) as settings"
                    [id]="privacyNotice.id"
                    [contentUrl]="settings.contentUrl"
                    [scriptUrl]="settings.scriptUrl"
                ></privacy-notice-integration-snippet>
            </ng-template>

            <ng-container *ngIf="(settings$ | async) === null; else integrationCode">
                <ot-loading otPageLoading class="flex-full-height"></ot-loading>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="undefined">
            <p class="margin-top-bottom-2">
                {{ "PrivacyNoticeIntegrationsNoCodeDescription" | otTranslate }}
            </p>
        </ng-container>
    </ng-container>
</div>
