<ot-modal-header (close)="closeModal()">
    <div>{{ 'CustomPreferenceBuilder' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content
    class="row-nowrap stretch-vertical"
    >
    <form
        #customPreferenceForm="ngForm"
        class="max-width-40 background-grey padding-all-2 border border-radius-3 margin-top-bottom-0"
        name="CustomPreferenceForm"
        >
        <div otFormElement
            class="margin-bottom-2"
            [label]="'SelectionType' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="CustomPreferenceSelectionType"
                name="SelectionType"
                labelKey="label"
                valueKey="value"
                [autoClose]="true"
                [disabled]="!selectionTypeOptions?.length"
                [model]="selectedSelectionType"
                [options]="selectionTypeOptions"
                (onSelect)="selectSelectionType($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'DisplayAs' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="CustomPreferenceDisplayAs"
                name="DisplayAs"
                labelKey="label"
                valueKey="value"
                [autoClose]="true"
                [disabled]="!displayAsOptions?.length"
                [model]="selectedDisplayAs"
                [options]="displayAsOptions"
                (onSelect)="selectDisplayAs($event)"
            ></ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-3"
            [label]="'Description' | otTranslate"
            [hasError]="otModalData?.Description?.length === 500"
            [errorMessage]="'CharacterLimitReached' | otTranslate"
            [required]="true"
            >
            <textarea otTextarea required
                ot-auto-id="EditCustomPreferenceDescription"
                name="Description"
                maxlength="500"
                [ngModel]="otModalData.Description"
                [placeholder]="'EnterDescription' | otTranslate"
                (ngModelChange)="onDescriptionChange($event)"
            ></textarea>
        </div>
        <div class="ot-setting-container">
            <ot-setting [title]="'Required' | otTranslate">
                <ot-toggle
                    ot-auto-id="CustomPreferenceRequiredToggle"
                    [checked]="otModalData.Required"
                    [disabled]="saveInProgress"
                    (toggle)="toggleCustomPreferenceRequired()"
                ></ot-toggle>
            </ot-setting>
        </div>
    </form>
    <div class="column-vertical-center flex-full-width">
        <ot-radio-button-group
            class="margin-bottom-2 margin-left-right-auto width-50-percent"
            labelKey="label"
            valueKey="value"
            [model]="optionTab"
            [options]="options"
            (onSelect)="radioButtonSelect($event)"
        ></ot-radio-button-group>
        <div class="flex-full-height padding-left-right-2 column-nowrap overflow-y-auto">
            <div otFormElement
                class="margin-bottom-2 width-100-percent"
                [label]="'Name' | otTranslate"
                [hasError]="otModalData?.Name?.length === 250"
                [errorMessage]="'CharacterLimitReached' | otTranslate"
                [required]="true"
                >
                <input otInput required
                    ot-auto-id="EditCustomPreferenceName"
                    class="one-input"
                    maxlength="250"
                    name="Name"
                    [placeholder]="'EnterName' | otTranslate"
                    [(ngModel)]="otModalData.Name"
                    (ngModelChange)="checkCustomPreferenceInvalid()"
                    />
            </div>
            <div otFormElement
                required="true"
                [label]="'Options' | otTranslate"
                >
            </div>
            <ng-container *ngIf="optionTab === crConstants.CustomPreferenceOptionTabs.Build">
                <ng-container *ngFor="let option of otModalData?.Options; trackBy: trackByFn; let i = index">
                    <div otFormElement
                        class="margin-bottom-2"
                        [hasError]="otModalData.Options[i]?.Label?.length === 100"
                        [errorMessage]="'CharacterLimitReached' | otTranslate"
                        >
                        <div class="row-nowrap static-vertical width-100-percent">
                            <input otInput
                                maxlength="100"
                                [attr.ot-auto-id]="'EditCustomPreferenceOption' + i"
                                [name]="'Option' + i"
                                [placeholder]="'EnterOption' | otTranslate"
                                [(ngModel)]="otModalData.Options[i].Label"
                                (ngModelChange)="checkCustomPreferenceInvalid()"
                                />
                            <button otButton
                                *ngIf="otModalData.Options.length > 1"
                                class="margin-left-half"
                                icon="ot ot-minus-circle color-cherry"
                                [attr.ot-auto-id]="'CustomPreferenceRemoveOptionButton' + i"
                                [class.opacity-60]="!option.CanDelete"
                                [disabled]="!option.CanDelete"
                                (click)="removeCustomPreferenceOption(i)"
                            ></button>
                            <button otButton
                                class="margin-left-half"
                                icon="ot ot-plus-circle color-green"
                                [attr.ot-auto-id]="'CustomPreferenceAddOptionButton' + i"
                                (click)="addCustomPreferenceOption(i + 1)"
                            ></button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <div
                *ngIf="optionTab === crConstants.CustomPreferenceOptionTabs.Preview"
                class="row-wrap justify-center"
                >
                <ng-container *ngFor="let option of otModalData?.Options; trackBy: trackByFn; let i = index">
                    <span class="width-30-percent margin-all-half">
                        <button otButton neutral
                            [attr.ot-auto-id]="'CustomPreferenceEditPreviewOption' + i"
                            class="overflow-ellipsis width-100-percent"
                            >
                            {{ option.Label }}
                        </button>
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="EditCustomPreferenceCloseButton"
        [disabled]="saveInProgress"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="EditCustomPreferenceCreateButton"
        [disabled]="saveInProgress || customPreferenceInvalid"
        [loading]="saveInProgress"
        (click)="saveCustomPreference()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
