<cr-filters
    [(isDrawerOpen)]="isDrawerOpen"
    [(textSearch)]="filters.name"
    (onApply)="handleApply()"
    (onClear)="handleClear()"
    (onRefresh)="handleRefresh()"
    (onTextSearch)="handleTextSearch('name', $event, 'ConsentPreferenceCenterNameFilter')"
    (onToggle)="toggleDrawer()"
    >
    <div otFormElement [label]="'FilterByName' | otTranslate">
        <input otInput
            class="one-input full-width"
            ot-auto-id="PreferenceCenterNameFilter"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="filters.name"
            (ngModelChange)="setFilterValue('name', $event)"
            />
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByPurpose' | otTranslate"
        >
        <ot-lookup
            ot-auto-id="PreferenceCenterListPurposeFilter"
            labelKey="label"
            valueKey="value"
            [autoClose]="true"
            [clearInputOnModelChange]="true"
            [placeholder]="'Purpose' | otTranslate"
            [inputValue]="inputs.purposeGuid"
            [model]="selections.purposeGuid"
            [options]="filteredOptions.purposeGuid ? filteredOptions.purposeGuid : options.purposeGuid"
            (inputChange)="onLookupInputChange('purposeGuid', $event)"
            (modelChange)="selectLookupOption('purposeGuid', $event)"
        ></ot-lookup>
    </div>
</cr-filters>