<form
    novalidate
    class="flex-full-height full-width"
    [formGroup]="configurationForm"
>
     <!-- Cookies Label -->
    <div
        otFormElement
        [label]="'Cookies' | otTranslate"
    >
        <input
            otInput
            ot-auto-id="CookieConfigurationCookiesLabelInput"
            class="full-width"
            name="cookiesLabel"
            formControlName="cookiesLabel"
            [placeholder]="'EnterAliasForThisLabel' | otTranslate"
        />
    </div>
     <!-- Categories Label -->
    <div
        otFormElement
        class="margin-top-1"
        [label]="'Categories' | otTranslate"
    >
        <input
            otInput
            ot-auto-id="CookieConfigurationCategoriesLabelInput"
            class="full-width"
            name="categoriesLabel"
            formControlName="categoriesLabel"
            [placeholder]="'EnterAliasForThisLabel' | otTranslate"
        />
    </div>
    <!-- life span toggle-->
    <div
        otFormElement
        class="row-space-between margin-top-2"
        [label]="'ShowLifespan' | otTranslate"
    >
         <ot-toggle
            ot-auto-id="CookieConfigurationShowLifespanToggle"
            [checked]="configurationForm.get('showLifespanToggle').value"
            (toggle)="configurationForm.get('showLifespanToggle').setValue(!configurationForm.get('showLifespanToggle').value)"
        ></ot-toggle>
    </div>
    <ng-container *ngIf="configurationForm.get('showLifespanToggle').value">
        <!-- life span Label  -->
        <div
            otFormElement
            [label]="'Lifespan' | otTranslate"
        >
            <input
                otInput
                ot-auto-id="CookieConfigurationLifespanLabelInput"
                class="full-width"
                name="lifeSpanLabel"
                formControlName="lifeSpanLabel"
                [placeholder]="'EnterAliasForThisLabel' | otTranslate"
            />
        </div>
        <!-- Session Label -->
        <div
            otFormElement
            class="margin-top-1"
            [label]="'Session' | otTranslate"
        >
            <input
                otInput
                ot-auto-id="CookieConfigurationSessionLabelInput"
                class="full-width"
                name="sessionLabel"
                formControlName="sessionLabel"
                [placeholder]="'EnterAliasForThisLabel' | otTranslate"
            />
        </div>
        <!-- Days Label -->
        <div
            otFormElement
            class="margin-top-1"
            [label]="'Days' | otTranslate"
        >
            <input
                otInput
                ot-auto-id="CookieConfigurationDaysLabelInput"
                class="full-width"
                name="daysLabel"
                formControlName="daysLabel"
                [placeholder]="'EnterAliasForThisLabel' | otTranslate"
            />
        </div>
    </ng-container>
</form>
