<ot-modal-header (close)="cancel(false)">
    <div>{{ modalTitle }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height width-100-percent">
    <div class="flex-full-height">
        <ot-confirm-modal-icon type="warning"></ot-confirm-modal-icon>
        <!-- TODO: Why is this using content inside content -->
        <ot-modal-content
            class="text-center"
        > {{ descText }} </ot-modal-content>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="UnsavedChangesConfirmModalCancelBtn"
        [disabled]="isSaving"
        (click)="cancel(false)"
        >{{ 'Cancel' | translate }}
    </button>
    <button otButton neutral
        ot-auto-id="UnsavedChangesConfirmModalAddBtn"
        [loading]="isSaving"
        [disabled]="isSaving"
        (click)="onDiscard()"
        >{{ cancelButtonText }}
    </button>
    <button otButton brand
        ot-auto-id="UnsavedChangesConfirmModalAddBtn"
        [loading]="isSaving"
        [disabled]="isSaving"
        (click)="onSaveAndContinue()"
        >{{ submitButtonText }}
    </button>
</ot-modal-footer>
