<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddControls' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="inventory-add-controls-modal one-modal-new flex-full-height width-100-percent position-relative">
    <div class="overflow-y-auto flex-full-height height-70">
        <ot-loading otPageLoading
            *ngIf="loading"
            class="padding-all-4 flex-full-height row-horizontal-vertical-center full-size min-height-46"
        ></ot-loading>
        <div *ngIf="!loading && !frameworksCached?.length" class="row-horizontal-vertical-center full-size min-height-46">
            <div>
                <ot-empty-state class="max-width-full">
                    <img emptyStateImg />
                    <p class="align-self-center text-bold margin-top-bottom-1">{{"PleaseAddControlsToControlsLibrary" | otTranslate}}</p>
                    <button otButton brand
                        class="align-self-center max-width-50"
                        ot-auto-id="AddControlsFrameworkRouteToControlsLibraryButton"
                        [innerText]="'AddToControlsLibrary' | otTranslate"
                        (click)="closeAndRouteToAddFrameworks()"
                    ></button>
                </ot-empty-state>
            </div>
        </div>
        <form *ngIf="!loading && frameworksCached?.length" class="width-100-percent max-width-full margin-none flex-full-height">
            <div class="flex-full-height border">
                <div class="row-nowrap min-height-10">
                    <div class="inventory-add-controls-modal__category-header background-grey border-bottom border-right column-horizontal-vertical-center">
                        <div class="text-bold margin-bottom-1">{{ 'Framework' | otTranslate }}</div>
                        <ot-search-input
                            [model]="searchFrameworksModel"
                            [placeholder]="'SearchFrameworks' | otTranslate"
                            [disabled]="false"
                            [reset]="resetSearch$"
                            (search)="onSearchFrameworks($event)"
                        ></ot-search-input>
                    </div>
                    <div class="inventory-add-controls-modal__item border-bottom padding-all-1 width-100-percent">
                        <div class="row-space-between-center">
                            <span
                                class="text-bold text-medium slds-truncate max-width-30"
                                [otTooltip]="selectedFramework?.frameworkNameKey ? (selectedFramework.frameworkNameKey | otTranslate) : selectedFramework?.frameworkName"
                            >
                                {{ selectedFramework?.frameworkNameKey ? (selectedFramework.frameworkNameKey | otTranslate) : selectedFramework?.frameworkName }}
                            </span>
                            <ot-search-input
                                class="min-width-25"
                                [model]="searchControlsModel"
                                [placeholder]="'SearchControls' | otTranslate"
                                [disabled]="false"
                                [reset]="resetSearch$"
                                (search)="onSearchControls($event)"
                            ></ot-search-input>
                        </div>
                        <div class="margin-top-2 row-space-between">
                            <div [style.visibility]="controls?.length && !searchControlsModel ? 'visible' : 'hidden'">
                                <ot-checkbox
                                    class="margin-right-1"
                                    ot-auto-id="AddControlsFrameworkSelectAllCheckbox"
                                    [checked]="allSelected"
                                    [partialCheck]="partiallySelected"
                                    [disabled]="isSaving"
                                    (toggle)="toggleAll($event)"
                                ></ot-checkbox>
                                <span class="text-bold">{{ 'SelectAll' | otTranslate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inventory-add-controls-modal__content stretch-vertical row-nowrap">
                    <ul class="inventory-add-controls-modal__category-list background-eggshell overflow-y-auto overflow-x-hidden ms-overflow-none">
                        <div class="text-center">
                            <ot-empty-state *ngIf="!frameworks?.length; else frameworksList"
                                class="max-width-full text-center"
                                [emptyStateMessage]="'NoResultsFound' | otTranslate"
                            >
                                <img emptyStateImg />
                            </ot-empty-state>
                        </div>
                        <ng-template #frameworksList>
                            <ng-container *ngFor="let framework of frameworks; let i = index">
                                <li class="inventory-add-controls-modal__category-item text-pointer border-right border-bottom"
                                    [ngClass]="selectedFramework?.frameworkId === framework.frameworkId ? 'inventory-add-controls-modal__category-item--selected background-grey-2 text-bold' : 'inventory-add-controls-modal__category-item--unselected'"
                                    [class.text-italic]="framework.frameworkNameKey === 'NoFramework'"
                                    (click)="selectFramework(framework)"
                                    >
                                    <div class="padding-all-1 row-space-between-center">
                                        <span
                                            class="slds-truncate"
                                            [otTooltip]="{content: framework.frameworkNameKey ? (framework.frameworkNameKey | otTranslate) : framework.frameworkName, timeout: 0}"
                                        >
                                            {{ framework.frameworkNameKey ? (framework.frameworkNameKey | otTranslate) : framework.frameworkName }}
                                        </span>
                                        <span otBadge
                                            [style.visibility]="framework.count ? 'visible' : 'hidden'"
                                        >
                                            {{framework.count}}
                                        </span>
                                    </div>
                                </li>
                            </ng-container>
                        </ng-template>
                    </ul>
                    <div class="float-right width-100-percent stretch-vertical overflow-y-auto">
                        <ot-empty-state
                            *ngIf="!controls || !controls.length; else controlsList"
                            class="max-width-full text-center margin-top-5"
                            [emptyStateMessage]="'NoResultsFound' | otTranslate"
                        >
                            <img emptyStateImg />
                        </ot-empty-state>
                        <ng-template #controlsList>
                            <ng-container *ngFor="let controlId of controls; let index = index;">
                                <div class="padding-all-1 border-bottom row-vertical-center">
                                    <ot-checkbox
                                        class="inline margin-right-1"
                                        [attr.ot-auto-id]="'AddControlsFrameworkControlsCheckbox_' + index"
                                        [checked]="controlsMap[controlId].isSelected"
                                        [disabled]="isSaving"
                                        (toggle)="toggleControl($event, controlId)"
                                    ></ot-checkbox>
                                    <span class="slds-truncate margin-bottom-0" otTooltip="{{controlsMap[controlId].identifier}}: {{controlsMap[controlId].name}}">
                                        {{controlsMap[controlId].identifier}}: {{controlsMap[controlId].name}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-template>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="AddControlsFrameworkModalCancel"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="AddControlsFrameworkModalSave"
        [disabled]="isSaving || loading || !isAnySelected()"
        [loading]="isSaving"
        (click)="onSave()"
        >
        {{ 'Add' | otTranslate }}
    </button>
</ot-modal-footer>
