.inventory-add-controls-modal {
    &__category-header,
    &__category-list,
    &__category-item {
        width: 24rem;
        min-width: 24rem;
    }

    &__category-item,
    &__element-item {
        min-height: 4.4rem;
    }

    &__category-item {

        &:hover {
            background-color: $grey-2;
        }

        &--selected {
            border-left: solid 10px $green;
        }

        &--unselected {
            border-left: solid 10px transparent;
        }

        // override for otBadge which replaces custom classes with .slds-badge and sets min-width to 8.6rem
        .slds-badge {
            min-width: 0;
        }
    }
}
