$modal-border-radius: 4px;

.modal-dialog {
    margin: 0 auto;
    padding: 3rem 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.modal-content {
    border-radius: $modal-border-radius;
    max-height: 100%;
    flex: 0 1 auto;

    & > [modal-instance] {
        max-height: 100%;
        display: flex;
        flex: 1 1 auto;
        min-height: 1px;
        flex-flow: column nowrap;
    }

    .modal-body {
        padding: 2rem;
        color: $slate;

        .form-group .btn {
            margin-left: 0;
        }
    }
}

.one-modal {
    color: $slate;

    &__wrapper {
        .modal-content {
            border-radius: 4px;
        }
    }

    &__header {
        position: relative;
        padding: 1.5rem;
    }

    &__title {
        color: $slate;
        line-height: 3rem;
    }

    &__close {
        border: 0;
        background: 0;
        font-size: 2rem;
    }

    &__body {
        padding: 1.5rem;
        max-height: calc(100vh - 16rem);
        overflow-y: auto;
    }
}

.one-modal-new {
    border-radius: $modal-border-radius;

    &__header {
        position: relative;
        padding: 1.5rem 0;
        border-bottom: 1px solid $platinum;
    }

    &__title {
        line-height: 3rem;
    }

    &__close {
        border: 0;
        background: 0;
        font-size: 2rem;
    }

    &__body {
        padding: 1.5rem;
        max-height: calc(100vh - 16rem);
        overflow-y: auto;
    }
}
