.question-app-info {

    &__table {
        border: 1px solid $grey-3;
        background-color: $white;
        border-radius: 2px;
        margin: 0;
    }

    &__row {
        padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: 1px solid $grey-3;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__label {
        flex: 1 1 auto;
        min-width: 1px;
        margin-bottom: 0;
        margin-right: 2rem;

        &--fixed {
            margin: 0;
        }
    }

    &__cell,
    &__label--fixed {
        flex: 0 0 18rem;
        min-width: 1px;
    }

    &__input {
        width: 100%;
    }

    &__btn {
        display: block;
        text-align: center;
        margin-bottom: 3rem;
    }
}
