<ot-loading otPageLoading
    *ngIf="loading"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<div *ngIf="!loading" class="flex-full-height height-100 overflow-y-auto maring-bottom-4">
    <ot-page-header
        [title]="'IncidentTypes' | otTranslate"
        >
        <div>
            <button 
                otButton
                brand
                (click)="addIncidentType()"
                >
                {{ 'AddNew' | otTranslate }}
            </button>
        </div>
    </ot-page-header>
    <div class="position-relative">
        <incident-types-status-table
            [table]="incidentTypesActiveTable"
            [loadingIncidentTypes]="loading"
            [tableType]="incidentTypeStatus.ACTIVE"
            [emptyState]="incidentTypesActive?.length === 0"
            >
        </incident-types-status-table>
    </div>
    <div class="position-relative padding-top-4">
        <incident-types-status-table
            [table]="incidentTypesInActiveTable"
            [loadingIncidentTypes]="loading"
            [tableType]="incidentTypeStatus.INACTIVE"
            [emptyState]="incidentTypesInActive?.length === 0"
            >
        </incident-types-status-table>
    </div>
</div>
