<div>
    <ot-path
        class="block width-90-percent padding-left-2 margin-bottom-2"
        [pathItems]="pathItems"
        [activeIndex]="activeIndex"
        (activeIndexChange)="handleActiveIndexChange($event)"
        [buttonText]="buttonText"
        [readOnly]="readOnly"
        [buttonDisabled]="buttonDisabled"
        [buttonLoading]="buttonLoading"
    ></ot-path>
    <hr class="margin-top-0 margin-bottom-1">
    <div class="padding-top-1 padding-left-2 width-90-percent padding-bottom-1 margin-bottom-1">
        <div class="text-xlarge margin-bottom-half"
            [innerText]="statusTextLabel">
        </div>
        <div
            class="ql-editor padding-all-0"
            [innerHtml]="statusTextDisplay">
        </div>
        <div class="text-bold text-small row-horizontal-vertical-center"
            *ngIf="canShowMore"
            role="button"
            [attr.ot-auto-id]="'DsarPortalToggleText'"
            (click)="toggleText()"
        >
            <hr class="stretch-vertical" />
            <span class="margin-left-1"
                [innerText]="toggleButtonText">
            </span>
            <span class="margin-left-1"
                [ngClass]="toggleButtonIcon">
            </span>
        </div>
    </div>
</div>
