.dsar-request-queue-detail-header {
    &__navbar {
        background-color: $grey-1;
        height: 5.1rem;
    }
    &__breadcrumb-header-bar {
        color: $slate;
        background-color: $paper-gray;
    }

    &__breadcrumb-icon {
        margin: 0.3rem;
    }

    &__project-name {
        color: $green;
    }
    &__status {
        padding-top: .25rem;
    }

}
