.one-checkbox {
    height: 2rem;
    width: 2rem;
    background-color: $white;
    border: 1px solid $grey-3;
    border-radius: 2px;
    box-shadow: none;
    padding: 0;

    &__icon {
        font-size: 1.2rem;
        color: white;
        display: block;
        opacity: 0;
    }

    &.selected {
        background-color: $ui-blue;
        border-color: $ui-blue;

        .one-checkbox__icon {
            opacity: 1;
        }

        &:disabled,
        &[disabled],
        [disabled] & {
            background-color: lighten($ui-blue, 25%);
            border-color: lighten($ui-blue, 25%);
        }
    }

    &--primary {
        border-color: lighten($ui-blue, 15%);
    }

    &--danger {
        border-color: lighten($light-red, 15%);
        &.selected {
            background-color: $light-red;
            border-color: $light-red;

            .one-checkbox__icon {
                opacity: 1;
            }

            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: lighten($light-red, 25%);
                border-color: lighten($light-red, 25%);
            }
        }
    }

    &:hover {
        border: 1px solid $slate;
    }

    &:disabled,
    &[disabled],
    [disabled] & {
        pointer-events: none;
        background-color: $grey-1;
        border: 1px solid $grey-3;
    }

}
