<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'PurposesOfProcessing' | otTranslate">
        <button otButton brand
            *ngIf="'ConsentCreatePurposes' | otPermit"
            ot-auto-id="createPurposeButton"
            [innerText]="'AddNew' | otTranslate"
            (click)="stateService.go('zen.app.pia.module.consentreceipt.views.purposes.create')"
        ></button>
    </ot-page-header>
    <div
        otDrawerContainer
        class="full-width position-relative flex-full-height overflow-hidden"
        >
        <cr-purpose-filters
            class="full-width"
            [filters]="filters"
            (applyCallback)="searchPurposes($event, 0)"
            (refreshCallback)="searchPurposes($event, 0)"
        ></cr-purpose-filters>

        <div class="full-width flex-full-height">
            <cr-table
                class="flex-full-height"
                noDataKey="NoPurposesFound"
                [columns]="columns"
                [loading]="searchInProgress"
                [noDataRoutePermission]="'ConsentCreatePurposes' | otPermit"
                [resizable]="false"
                [rows]="tableData"
                (goToRoute)="goToRoute($event)"
                (pageChange)="loadPage($event)"
                (noDataRoute)="createPurpose()"
            ></cr-table>
        </div>
    </div>
</div>