<div class="dm-welcome flex-full-height height-100">
    <ot-page-header [title]="'Welcome' | otTranslate"></ot-page-header>
    <section class="overflow-y-auto background-paper full-size">
        <h3 class="text-center text-thin">{{"WelcomeToDm" | otTranslate}}</h3>
        <p class="text-center centered-max-50 padding-left-right-1">{{"DMWelcomeDescription" | otTranslate}}</p>
        <ot-tabs
            [tabs]="tabs"
            [selectedTab]="currentTab"
            >
            <a
                *otTabItem="let tab"
                (click)="onTabClick(tab)"
                >
                {{tab.text}}
            </a>
        </ot-tabs>
        <div *ngIf="currentTab === tabIds.Overview">
            <div class="centered-max-90 padding-all-3 border-bottom row-wrap-space-between stretch-horizontal align-center">
                <div class="margin-top-bottom-2">
                    <p class="text-medium margin-all-0 text-bold">{{"LookingForMoreInfo" | otTranslate}}</p>
                    <p class="text-medium margin-all-0 text-thin-2">{{"DownloadOurProductGuide" | otTranslate}}</p>
                </div>
                <one-anchor-button
                    [text]="'Download' | otTranslate"
                    [icon]="'fa fa-download'"
                    [type]="'primary'"
                    [wrapText]="false"
                    [identifier]="'dmWelcomeDownloadProductGuide'"
                    [anchorLink]="content.GetKey('DataMappingDocumentationLink')"
                    [newTab]="true"
                    >
                </one-anchor-button>
            </div>
            <div
                class="centered-max-90 padding-all-3 border-bottom row-wrap-space-between"
                *ngIf="content.GetKey('tutorialDataMapping')"
                >
                <div class="margin-right-2 margin-bottom-2 flex-full-33">
                    <h2 class="heading2 margin-all-0">{{"Welcome.Dmi.Tour.Title" | otTranslate}}</h2>
                    <p class="paragraph-medium-small text-thin-2">{{"Welcome.Dmi.Tour.Text" | otTranslate}}</p>
                </div>
                <one-video class="flex stretch-horizontal" [url]="content.GetKey('tutorialDataMapping')"></one-video>
            </div>
        </div>
        <div *ngIf="currentTab === tabIds.GettingStartedChecklist">
            <div class="centered-max-90 padding-all-3">
                <one-static-container-list [list]="content.GetKey('dataMappingWelcomeGettingStartedData')"></one-static-container-list>
            </div>
        </div>
    </section>
</div>