<section
    *ngIf="!loading; else LoadingSpinner"
    class="flex-full-height overflow-auto background-white"
>
    <div
        *ngIf="rows?.totalElements"
        class="position-relative flex-full-height">
        <table
            otDataTable
            class="overflow-visible"
            [responsiveTable]="responsive"
            [rowBordered]="rowBordered"
            [rowData]="rows.content"
            [rowFlagKey]="rowFlagKey"
            [sortable]="sortable"
            [sortOrder]="sortOrder"
            [sortedKey]="sortedKey"
            [truncateCellContent]="true"
            (sortChanged)="handleSortChange($event)"
        >
            <ng-container *ngFor="let col of columns; let columnIndex = index ">
                <ng-container *ngIf="col.columnType === 'selectRow'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [column]="col"
                        [thClass]="'text-center min-width-5'"
                        [tdClass]="'text-center margin-0 min-width-5 media-middle'"
                    >
                        <ng-template otDataTableHeader let-column="column">
                            <div class="slds-th__action slds-th__action_form">
                                <ot-checkbox
                                    tabindex="-1"
                                    ot-auto-id="RowSelectionHeaderCheckbox"
                                    [checked]="allRowsSelected"
                                    (toggle)="handleSelectAll(col.cellValueKey)"
                                ></ot-checkbox>
                            </div>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row" let-column="column">
                            <div class="padding-top-1">
                                <ot-checkbox
                                    tabindex="-1"
                                    [attr.ot-auto-id]="'LanguageSelectionLanguageCheckbox-'+row.value"
                                    [checked]="rowSelection[resolveProperty(row,col.cellValueKey)]"
                                    (toggle)="handleSelectRow(resolveProperty(row,col.cellValueKey))"
                                ></ot-checkbox>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'statusLabel'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [thClass]="'cr-table__header'"
                    >
                        <ng-template otDataTableCell tdClass="slds-truncate {{col.cellClass}}" let-row="row"
                            let-column="column">
                           <span [otBadge]="getBadgeClass(col.rowToText(row))" class="text-bold">
                                {{ col.rowToText(row) }}
                            </span>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'idLink'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [thClass]="'cr-table__header'"
                    >
                        <ng-template otDataTableCell tdClass="slds-truncate {{col.cellClass}}" let-row="row"
                            let-column="column">
                            <a
                                [attr.ot-auto-id]="'CrTableIdLink_' + columnIndex + '_' + row[col.routeIdField || 'Id']"
                                [title]="col.rowToText(row)"
                                (click)="generateRoute(row, col)"
                            >
                                <span class="text-bold">
                                    {{ col.rowToText(row) }}
                                </span>
                            </a>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'versionTag'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                    >
                        <ng-template otDataTableHeader [thClass]="'max-width-15'">
                            <div
                                class="text-center margin-left-right-auto slds-truncate"
                                title="{{ col.columnName }}"
                            >
                                <span class="text-bold">
                                    {{ col.columnName }}
                                </span>
                            </div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'text-center slds-truncate'" let-row="row" let-column="column">
                            <span [otBadge]>{{ col.rowToText(row) }}</span>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'timestamp'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [thClass]="'cr-table__header'"
                    >
                        <ng-template otDataTableCell let-row="row" let-column="column">
                            <div class="slds-truncate" [ngSwitch]="!!col.rowToText">
                                <span *ngSwitchCase="false">
                                    {{ resolveProperty(row, col.cellValueKey) ? (resolveProperty(row, col.cellValueKey) | otDate: 'datetime') : "- - - -" }}
                                </span>

                                <span *ngSwitchCase="true">
                                    {{ col.rowToText(row) ? (col.rowToText(row) | otDate: 'datetime') : "- - - -" }}
                                </span>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <!-- <ng-container *ngIf="col.columnType === 'statusTag'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [thClass]="'cr-table__header'"
                        >
                        <ng-template otDataTableHeader [thClass]="'max-width-15'">
                            <div
                                class="text-center margin-left-right-auto slds-truncate"
                                title="{{ col.columnName }}"
                                >
                                <span class="text-bold">
                                    {{ col.columnName }}
                                </span>
                            </div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'text-center slds-truncate'" let-row="row" let-column="column">
                            <span [otBadge]="resolveProperty(row, col.cellValueKey || 'Status') | policyStatusColor">
                                {{ col.rowToText(row) }}
                            </span>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container> -->
                <ng-container *ngIf="col.columnType === 'actions'">
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'max-width-15'" [thStyle]="{'min-width': '4rem'}">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                            <div></div>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col max-width-15'">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'float-col z-index-1'" let-row="row">
                            <ot-context-menu
                                class="height-100 flex-full-height column-vertical-center"
                                position="bottom-right"
                                [menu]="ellipsisOptions"
                                [type]="2"
                                (toggled)="getEllipsisOptions(col, row)"
                            >
                                <i class="ot ot-ellipsis-h"></i>
                                <a *otContextMenuItem="let option"
                                    (click)="option.action()"
                                >
                                    {{ option.text }}
                                </a>
                            </ot-context-menu>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="!col.columnType">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [sortable]="sortable"
                        [sortKey]="col.sortKey"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [thClass]="'cr-table__header'"
                    >
                        <ng-template otDataTableCell tdClass="slds-truncate {{col.cellClass}}" let-row="row">
                            {{ col.rowToText ? col.rowToText(row) : resolveProperty(row, col.cellValueKey) }}
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>
        <div
            *ngIf="!rows"
            class="row-horizontal-vertical-center margin-top-4"
        >
            {{ (errorKey || 'ErrorLoadingResults') | otTranslate }}
        </div>
    </div>
    <div
        *ngIf="rows?.totalElements === 0"
        class="row-horizontal-vertical-center margin-top-4 flex-full-height text-center"
    >
        <ot-empty-state [emptyStateMessage]="(noDataKey || 'NoResultsFound') | otTranslate">
            <img emptyStateImg />
            <button otButton brand
                empty-state-content
                *ngIf="noDataRoute.observers.length"
                ot-auto-id="PrivacyNoticeEmptyStateAddNewButton"
                [innerText]="'AddNew' | otTranslate"
                (click)="noDataRoute.emit()"
            >
            </button>
        </ot-empty-state>
    </div>
    <footer class="padding-all-2 background-grey">
        <ot-pagination
            class="margin-top-bottom-auto align-left"
            [currentPage]="rows?.number || 1"
            [handleOffset]="true"
            [numPages]="rows?.totalPages || 1"
            (pageChanged)="pageChange.emit($event)"
        ></ot-pagination>
    </footer>
</section>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading class="flex-full-height"></ot-loading>
</ng-template>
