.cc-preference-center-preview {
    &__button-container {
      width: 100%;
      margin-top: 1rem;
      button {
        float: right;
      }
    }
    &__modal-height {
      height: 70vh;
    }
    .cc-preview-container {
        height: 52rem;
        min-width: 70rem;
        background: url("../images/consent/webpage-placeholder.svg");
        box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.5);
    }
    #optanon-popup-wrapper {
        position: absolute !important;
        top: -3% !important;
        display: block !important;
        z-index:0 !important;
        #optanon-popup-bottom-logo {
            background: url("../images/cookies/cookie-collective-top-bottom.png");
            width: 155px;
            height: 35px;
        }
        #optanon-close {
            background: url("../images/cookies/optanon-pop-up-close.png");
            width: 34px;
            height: 34px;
        }
        .optanon-main-info-text a {
            text-decoration: underline !important;
            color: $accent-blue !important;
        }
        .optanon-allow-all-button {
            display: block !important;
        }
        #optanon-popup-body-right {
            .cc-pref-center-right-title {
                // float: right;
                font-weight: bold;
            }
        }
    }
    .blue-border {
        border: 2px solid $ui-blue !important;
    }
}
