<div class="cc-preference-center-preview
    margin-left-4
    padding-top-bottom-2
    padding-right-4
    full-width
    overflow-y-auto"
    [ngClass]="{'modern' : preferenceCenterData?.styling?.style === STYLES.MODERN, 'classic': preferenceCenterData?.styling?.style !== STYLES.MODERN, 'height-100': !isLivePreview, 'cc-preference-center-preview__modal-height': isLivePreview}">
    <div class="cc-preview-container full-width position-relative">
        <div id="optanon">
            <div id="optanon-popup-wrapper">
                <div id="optanon-popup-top" [ngStyle]="preferenceCenterData?.styling?.style === STYLES.MODERN ? {'background-color':  preferenceCenterData.styling.primaryColor} : ''"
                    [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.PRIMARY_COLOR}">
                    <a class="optanon-close-link optanon-close"
                        *ngIf="preferenceCenterData?.details?.showPreferenceCenterCloseButton"
                        [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.SHOW_CLOSE_BUTTON}"
                        (click)="closePreferenceCenter()">
                        <div id="optanon-close" title="{{'ClosePopup' | otTranslate}}"></div>
                    </a>
                </div>
                <div id="optanon-popup-body">
                    <div *ngIf="!isCenterTileSkin" id="optanon-popup-body-left">
                        <div>
                            <div id="optanon-popup-body-left-shading" [ngStyle]="preferenceCenterData?.styling?.style === STYLES.MODERN ? {'background-color':  preferenceCenterData?.styling?.primaryColor} : ''"></div>
                            <div [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.YOUR_LOGO}" id="optanon-branding-top-logo" [ngStyle]="{'background-image': previewStyle.logoURL ? 'url(' + previewStyle.logoURL + ')' : ''}">
                            </div>
                            <ul id="optanon-menu">
                                <li class="menu-item-on" [ngStyle]="{'background-color': preferenceCenterData?.styling?.menuHighlightColor}"
                                    [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.MENU_HIGHLIGHT_COLOR, 'menu-item-selected': activeMenu === MENU_ITEMS.YOUR_PRIVACY}"
                                    (click)="selectMenuItem(MENU_ITEMS.YOUR_PRIVACY)">
                                    <p><a>{{preferenceCenterData?.details?.privacyTitle}}</a></p>
                                </li>
                                <li *ngFor="let item of policyGroupData" class="menu-item-on" [ngStyle]="{'background-color': preferenceCenterData?.styling?.menu}"
                                [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.MENU_COLOR, 'menu-item-selected': activeMenu === item.name}"
                                (click)="selectMenuItem(item.name)">
                                    <p><a>{{item.name}}</a></p>
                                </li>
                                <li class="menu-item-off" [ngStyle]="{'background-color': preferenceCenterData?.styling?.menu}"
                                    [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.COOKIE_POLICY_LINK || itemBeingEdited === PREFERENCE_ITEMS.MENU_COLOR}">
                                    <p><a href="https://cookiepedia.co.uk/giving-consent-to-cookies" target="_blank">{{preferenceCenterData?.details?.cookiePolicyLink}}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="optanon-popup-body-right">
                        <h2 [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.TITLE}">{{preferenceCenterData?.details?.title}}</h2>
                        <ng-container *ngIf="activeMenu === MENU_ITEMS.YOUR_PRIVACY">
                            <h3 [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.YOUR_PRIVACY_TITLE}">
                                {{preferenceCenterData?.details?.privacyTitle}}
                            </h3>
                            <div class="optanon-main-info-text" [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.YOUR_PRIVACY_TEXT}"
                                [innerHTML]="preferenceCenterData?.details?.privacyText">
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let item of policyGroupData">
                            <h3 *ngIf="activeMenu === item.name">
                                {{item.name}}
                            </h3>
                            <div class="optanon-main-info-text" *ngIf="activeMenu === item.name">{{item.description}}</div>
                        </ng-container>
                    </div>
                    <div class="optanon-bottom-spacer"></div>
                </div>
                <div id="optanon-popup-bottom" [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.PRIMARY_COLOR}"
                    [ngStyle]="{'background-color': preferenceCenterData?.styling?.primaryColor}">
                    <a>
                        <div id="optanon-popup-bottom-logo" title="{{'PoweredByOneTrust' | otTranslate}}"></div>
                    </a>
                    <div class="optanon-button-wrapper optanon-save-settings-button optanon-close">
                        <div class="optanon-white-button-left"></div>
                        <div class="optanon-white-button-middle" [ngStyle]="{'background-color': preferenceCenterData?.styling?.buttonColor}"
                            [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.SAVE_SETTINGS_BUTTON || itemBeingEdited === PREFERENCE_ITEMS.BUTTON_COLOR}">
                            <a>{{preferenceCenterData?.details?.saveSettingsButtonLabel}}</a>
                        </div>
                        <div class="optanon-white-button-right"></div>
                    </div>
                    <div class="optanon-button-wrapper optanon-allow-all-button optanon-allow-all">
                        <div class="optanon-white-button-left"></div>
                        <div class="optanon-white-button-middle" [ngStyle]="{'background-color': preferenceCenterData?.styling?.buttonColor}"
                            [ngClass]="{'blue-border': itemBeingEdited === PREFERENCE_ITEMS.ALLOW_ALL_COOKIES_BUTTON || itemBeingEdited === PREFERENCE_ITEMS.BUTTON_COLOR}">
                            <a>{{preferenceCenterData?.details?.allowAllCookiesButtonLabel}}</a>
                        </div>
                        <div class="optanon-white-button-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="cc-preference-center-preview__button-container"
        *ngIf="!isLivePreview">
            <button
                otButton
                neutral
                class="cc-banner-preview-panel__preview-button"
                [otTooltip]="previewTooltip"
                (click)="openLivePreview()">
                  {{"LivePreview" | otTranslate}}
            </button>
    </div>
</div>