<div class="column-nowrap padding-all-2">
    <div class="row-space-between">
        <span class="text-success text-thin-2 text-medium"
            [innerText]= "'WelcomeText' | translate"></span>
        <i
            class="ot ot-edit"
            ot-auto-id="DSARWebformSidebarWelcomeButton"
            (click)="launchTextModal(DSARModalType.WELCOME)"
        ></i>
    </div>
</div>
<hr class="margin-top-bottom-0 margin-left-right-2"/>
<div class="column-nowrap padding-all-2">
    <div class="row-space-between">
        <span class="text-success text-thin-2 text-medium"
            [innerText]= "'FooterText' | translate"></span>
        <i
            class="ot ot-edit"
            ot-auto-id="DSARWebformSidebarFooterTextButton"
            (click)="launchTextModal(DSARModalType.FOOTER)"
        ></i>
    </div>
</div>
<hr class="margin-top-bottom-0 margin-left-right-2"/>
<div class="column-nowrap padding-all-2">
    <div class="row-space-between">
        <span class="text-success text-thin-2 text-medium"
            [innerText]= "'SubmitButtonText' | translate"></span>
        <i
            class="ot ot-edit"
            ot-auto-id="DSARWebformSidebarThankYouPageButton"
            (click)="inputChanged('submitButton')"
        ></i>
    </div>
</div>
<hr class="margin-top-bottom-0 margin-left-right-2"/>
<div class="column-nowrap padding-all-2">
    <div class="row-space-between">
        <span class="text-success text-thin-2 text-medium"
            [innerText]= "'ThankYouPage' | translate"></span>
        <i
            class="ot ot-edit"
            ot-auto-id="DSARWebformSidebarThankYouPageButton"
            (click)="launchTextModal(DSARModalType.THANKYOU)"
        ></i>
    </div>
</div>
