<div class="flex-full-height height-30 border border-radius shadow8 margin-bottom-2 background-white">
    <ng-container *ngIf="!isLoading; else loading">
        <header
            *ngIf="showTitle || showActions"
            class="row-vertical-center border-bottom padding-all-1"
            >
            <h5
                *ngIf="showTitle"
                class="text-bold margin-top-bottom-0 margin-right-auto"
                >
                {{ _widget?.name }}
            </h5>
            <ng-container *ngIf="showActions">
                <i
                    class="ot ot-edit margin-right-2 cursor-pointer"
                    (click)="editWidget(_widget)"
                ></i>
                <i
                    class="ot ot-trash margin-right-2 cursor-pointer"
                    (click)="deleteWidget(_widget?.id)"
                ></i>
                <i
                    class="fa fa-caret-left margin-right-2 cursor-pointer"
                    (click)="moveWidget(directions.Left)"
                ></i>
                <i
                    class="fa fa-caret-up margin-right-2 cursor-pointer"
                    (click)="moveWidget(directions.Up)"
                ></i>
                <i
                    class="fa fa-caret-down margin-right-2 cursor-pointer"
                    (click)="moveWidget(directions.Down)"
                ></i>
                <i
                    class="fa fa-caret-right cursor-pointer"
                    (click)="moveWidget(directions.Right)"
                ></i>
            </ng-container>
        </header>
        <div class="flex-full-height padding-all-2">
            <ng-container [ngSwitch]="_widget?.type">
                <div
                    *ngSwitchCase="widgetTypes.Bar"
                    class="flex-full-height"
                    >
                    <ot-bar-chart
                        class="flex-full-height"
                        [data]="_widget?.data"
                        [isHorizontal]="true"
                        (clicked)="handleClick($event)"
                        >
                    </ot-bar-chart>
                </div>
                <div
                    *ngSwitchCase="widgetTypes.Donut"
                    class="flex-full-height"
                    >
                    <ot-donut-chart
                        class="flex-full-height"
                        [data]="_widget?.data"
                        [hideLegend]="true"
                        (clicked)="handleClick($event)"
                        >
                    </ot-donut-chart>
                </div>
                <div
                    *ngSwitchCase="widgetTypes.Table"
                    class="flex-full-height"
                    >
                    <table-widget
                        class="flex-full-height"
                        [data]="_widget?.data"
                        >
                    </table-widget>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #loading>
        <ot-loading class="flex-full-height justify-center"></ot-loading>
    </ng-template>
</div>
