<ot-page-header
    class="margin-bottom-1"
    [title]="'DateTime' | otTranslate"
    type="clear"
    >
</ot-page-header>
<div otSettingContainer class="stretch-vertical">
    <ot-setting
        [title]="'DateFormat' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="TimeStampSettingsDateFormatPickList"
            class="min-width-15"
            [placeholder]="'SelectDateFormat' | otTranslate"
            [autoClose]="true"
            [options]="dateFormats"
            [valueKey]="'value'"
            [labelKey]="'label'"
            [model]="selectedDateOption"
            (onSelect)="selectOption($event,'dateformat')"
        ></ot-picklist>
    </ot-setting>
    <ot-setting
        [title]="'TimeFormat' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="TimeStampSettingsTimeFormatPickList"
            class="min-width-15"
            [placeholder]="'SelectTimeFormat' | otTranslate"
            [autoClose]="true"
            [options]="timeFormats"
            [valueKey]="'value'"
            [labelKey]="'label'"
            [model]="selectedTimeOption"
            (onSelect)="selectOption($event,'timeformat')"
        ></ot-picklist>
    </ot-setting>
</div>
    <footer otPageFooter>
        <button otButton brand
            ot-auto-id="TimeStampSettingsSaveDateTimeBtn"
            [disabled]="isButtonDisabled() || isLoading"
            [loading]="isLoading"
            (click)="saveDateTime()"
            >
            {{ 'Save' | otTranslate }}
        </button>
</footer>