<intg-system-layout [system]="system?.meta">
    <ot-loading *ngIf="!ready"></ot-loading>
    <div *ngIf="ready" class="flex flex-column">
        <ot-tabs
            *ngIf="tabs.length"
            [tabs]="tabs"
            [selectedTab]="selectedTab"
        >
            <span otTabsOverflowText>
                {{overflowText}}&nbsp;
                <i class="ot ot-caret-down"></i>
            </span>
            <a
                ot-auto-id="intgConnectionManageBodyTabId"
                *otTabItem="let tab"
                (click)="onTabClick(tab)"
                >
                {{ tab.text}}
            </a>
        </ot-tabs>
        <intg-connection-details
            *ngIf="selectedTab === TABS.AUTHENTICATION"
            [system]="system"
            [connection]="connection"
            [manageMode]="manageMode"
            [formIsDisabled]="formIsDisabled"
        ></intg-connection-details>
        <intg-connection-details-advanced
            *ngIf="selectedTab === TABS.ADVANCED"
            [allowedTabs]="allowedTabs"
            [regex]="regex"
            [selectedTemplateId]="selectedTemplate"
            (callback)="getAdressAndCidr($event)"
            (selectTemplateCallback)="selectTemplate($event)"
            (toggleIpAddress)="toggleIpAddressType($event)"
        ></intg-connection-details-advanced>
        <intg-connection-events
            *ngIf="selectedTab === TABS.API_DEFINITION"
            class="stretch-vertical"
            [events]="events"
            [connection]="connection"
            [system]="system"
            (sendEvents)="setEvents($event)"
        ></intg-connection-events>
        <intg-contact-mapping
            *ngIf="selectedTab === TABS.DATA_SUBJECT_ELEMENTS"
            class="flex-full-height"
            [contactMappings]="integrationContactMappings"
            (contactMappingOutput)="contactMappingOutValues($event)"
            (deleteContactMapping)="removeContactMapping($event)"
        ></intg-contact-mapping>
        <intg-data-subject-profile
            *ngIf="selectedTab === TABS.DATA_SUBJECT_PROFILE"
            class="flex-full-height"
            [dataSubjProfMapped]="integrationDataSubProfileMap"
            [intgAdvPurposeList]="integrationPreferenceData"
            (addDataSubjectProfile)="addDataSubjectProfile($event)"
            (removeDataSubjProfMapping)="removeDataSubjProfMapping($event)"
        ></intg-data-subject-profile>
        <intg-preferences
            *ngIf="selectedTab === TABS.ADVANCED_PREFERENCE"
            class="flex-full-height"
            [intgPreferenceDataList]="integrationPreferenceData"
            (preferenceModalDataEmit)="intgPreferenceMapping($event)"
            (editPreferenceModalEmit)="intgPreferenceEditMapping($event)"
            (deletePreferenceModalEmit)="deleteSelectedPreferenceRow($event)"
        ></intg-preferences>
    </div>
    <div class="spacer static-vertical is-connection-manage-footer__spacer"></div>
</intg-system-layout>
<intg-connection-manage-footer
    [selectedTab]="selectedTab"
    [outboundFields]="system?.form?.outboundFields"
    [system]="system"
    [connection]="connection"
    [isSavingConnection]="isSavingConnection"
    [saveActionText]="saveActionText"
    (saveConnection)="saveConnection()"
></intg-connection-manage-footer>
