<ot-loading
    otPageLoading
    *ngIf="!ready; else connectioListTemplate"
></ot-loading>

<ng-template #connectioListTemplate>
    <section class="column-nowrap full-size overflow-hidden">
        <ot-page-header
            class="margin-top-bottom-0 text-thin"
            [title]="title | otTranslate"
        >
            <div>
                <button otButton brand
                    *ngIf="'IntegrationPageEdit' | otPermit"
                    class="margin-left-1"
                    ot-auto-id="IntgConnectionListAddNewButton"
                    [innerText]="'AddNew' | otTranslate"
                    (click)="goToManage()"
                ></button>
            </div>
        </ot-page-header>

        <ot-empty-state
            class="flex-full-height justify-center text-center margin-top-4"
            *ngIf="ready && !connections?.length"
            [emptyStateMessage]="'NoConnectionsAvailable' | otTranslate"
        >
            <img emptyStateImg />
        </ot-empty-state>
        <div
            class="overflow-auto position-relative stretch-vertical background-paper"
            *ngIf="ready && table?.rows?.length"
        >
            <intg-connections-table
                [rows]="table.rows"
                [columns]="table.columns"
                [isUpgradeDropdown]="true"
                (goToRoute)="goToRoute($event)"
                (handleActionClicks)="handleActionClicks($event)"
            ></intg-connections-table>
        </div>
        <footer otPaginationFooter
            *ngIf="ready && table?.rows?.length && page"
        >
            <ot-pagination
                [currentPage]="page.number+1"
                [numPages]="page.totalPages"
                (pageChanged)="pageChanged($event)"
            ></ot-pagination>
            <span>
                {{page | otPageMeta}}
            </span>
        </footer>
    </section>
</ng-template>
