<table
    otDataTable
    class="full-width"
    [rowData]="rows"
    [rowBordered]="rowBordered"
    [responsiveTable]="responsive"
    >
    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index ">
        <ot-data-table-column [headerLabel]="col.headerText" [cellValueKey]="col.modelPropKey" [column]="col"
            *ngIf="col.modelPropKey === 'name'">
            <ng-template otDataTableCell let-row="row" let-column="column">
                <div class="slds-truncate">
                    <a (click)="goToRoute.emit({route: row.cells[columnIndex].route, params: row.cells[columnIndex].routeParams})">
                        {{row.cells[columnIndex].displayValue}}
                    </a>
                </div>
            </ng-template>
        </ot-data-table-column>
        <ot-data-table-column [headerLabel]="col.headerText" [cellValueKey]="col.modelPropKey" [column]="col"
            *ngIf="col.modelPropKey === 'system'" >
            <ng-template otDataTableCell let-row="row" let-column="column">
                <div class="slds-truncate">
                    <span>{{row.cells[columnIndex].displayValue}}</span>
                </div>
            </ng-template>
        </ot-data-table-column>
        <ot-data-table-column [headerLabel]="col.headerText" [cellValueKey]="col.modelPropKey" [column]="col"
            *ngIf="col.component === 'org-name-table-cell'"
            >
            <ng-template class="slds-truncate" otDataTableCell let-row="row" let-column="column">
                <span [innerText]="row.orgName"></span>
            </ng-template>
        </ot-data-table-column>
        <ot-data-table-column [headerLabel]="col.headerText" [cellValueKey]="col.modelPropKey" [column]="col"
            *ngIf="col.component === 'active-tag-table-cell'"
            >
            <ng-template otDataTableCell let-row="row" let-column="column">
                <span [innerText]="row.statusText" [otBadge]="row.modifierClass"></span>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
    <ot-data-table-column>
        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
        <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
            <div></div>
        </ng-template>
    </ot-data-table-column>
    <ng-container *ngIf="isUpgradeDropdown">
        <ot-data-table-column>
            <ng-template otDataTableHeader [thClass]="'float-col'">
                <div></div>
            </ng-template>
            <ng-template otDataTableCell [tdClass]="'float-col'" let-row="row">
                <div class="flex height-100 align-center justify-center">
                    <ot-context-menu
                        [type]="2"
                        [position]="'bottom-right'"
                        [menu]="menuOptions"
                        (toggled)="getActions(row)"
                    >
                        <i class="ot ot-ellipsis-h"></i>
                        <a
                            *otContextMenuItem="let item"
                            ot-auto-id="IntgConnectionActions"
                            (click)="item.action()"
                        >
                            {{ item.text }}
                        </a>
                    </ot-context-menu>
                </div>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
</table>
