<section class="assessment-bulk-launch-cards padding-all-2 max-width-full text-color-default">
    <ul>
        <li class="padding-all-1"
            *ngFor="let assessmentDetails of bulkAssessmentDetails; let columnIndex = index;"
            [attr.ot-auto-id]="'AssessmentBulkLaunchCard_' + columnIndex "
            >
            <div class="margin-bottom-half">
                <ot-notification
                    *ngIf="assessmentDetails.showDuplicateWarning"
                    [icon]="'ot ot-exclamation-circle'"
                    [type]="'warning'"
                    [allowClose]="true"
                    (closed)="closeWarning(assessmentDetails)">
                    {{ "RecordAlreadyHasOpenAssessment" | otTranslate }}
                </ot-notification>
            </div>
            <div class="background-grey margin-bottom-2 flex stretch-vertical border" >
                <div class="column-nowrap width-100-percent">
                    <div
                        class="flex justify-end align-center padding-top-1 padding-left-right-2"
                        *ngIf="bulkAssessmentDetails && bulkAssessmentDetails.length > 1"
                        >
                        <i
                            class="ot ot-trash text-xlarge cursor-pointer"
                            [attr.ot-auto-id]="'AssessmentBulkLaunchCardDeleteIcon'"
                            (click)="deleteAssessment(assessmentDetails)"
                        ></i>
                    </div>
                    <div class="text-bold row-nowrap width-100-percent  padding-left-right-1">
                        <div
                            otFormElement
                            class="width-50-percent padding-left-right-1 margin-bottom-half text-medium-small"
                            [label]="'AssessmentName' | otTranslate"
                            [required]="true"
                            >
                            <input
                                otInput
                                [attr.ot-auto-id]="'AssessmentBulkLaunchCardInventoryName_' + columnIndex "
                                [ngModel]="accessName(assessmentDetails)"
                                (ngModelChange)="saveModel($event, 'name', assessmentDetails)"
                            />
                        </div>
                        <div otFormElement
                            class="width-50-percent padding-left-right-1"
                            [label]="'Template' | otTranslate"
                            [required]="true">
                            <ot-picklist
                                class="width-100-percent line-height-2"
                                [ngClass]="{'assessment-bulk-launch-cards__duplicate-template': assessmentDetails.showDuplicateWarning}"
                                [attr.ot-auto-id]="'BulkLaunchCardTemplateDropDownSelector_' + columnIndex"
                                [placeholder]="'SelectTemplate' | otTranslate"
                                [autoClose]="true"
                                [disabled]="!isTemplateReady"
                                [options]="templateOptions"
                                valueKey="id"
                                labelKey="name"
                                [model]="getTemplateSelectedModel(assessmentDetails)"
                                [hideArrow]="true"
                                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                                (onSelect)="templateSelected($event, assessmentDetails)"
                            ></ot-picklist>
                        </div>
                    </div>
                    <div class="text-bold row-nowrap width-100-percent  padding-left-right-1">
                        <div otFormElement
                            class="width-50-percent padding-left-right-1"
                            [label]="'Deadline' | otTranslate"
                            >
                            <ot-date-time-picker
                                ot-auto-id="BulkLaunchCardsDeadline"
                                [dateFormat]="format"
                                [dateTimeModel]="assessmentDetails.deadline | otDate:'datePicker'"
                                [datePlaceholder]="'Deadline' | otTranslate"
                                [dateDisableUntil]="disableUntilDate"
                                [hideTimePicker]="true"
                                [dateDisabled]="false"
                                [timeDisabled]="true"
                                (onChange)="dateSelected($event, assessmentDetails)"
                            ></ot-date-time-picker>
                        </div>
                        <div otFormElement
                            class="width-50-percent padding-left-right-1"
                            [label]="'Reminder' | otTranslate"
                            [hasError]="!assessmentDetails.isValidReminder"
                            [errorMessage]="'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate"
                            >
                            <input otInput
                                type="number"
                                class="margin-top-half"
                                [attr.ot-auto-id]="BulkLaunchCardsReminderField"
                                [placeholder]="'DaysBeforeDeadline' | otTranslate"
                                [min]="1"
                                [disabled]="!assessmentDetails.deadline"
                                [ngModel]="assessmentDetails.reminder"
                                (ngModelChange)="reminderSelected($event, assessmentDetails)"
                                >
                        </div>
                    </div>
                    <div class="text-bold row-nowrap width-100-percent  padding-left-right-1">
                        <div otFormElement
                            class="width-50-percent padding-left-right-1"
                            [label]="'Approver' | otTranslate">
                            <ot-org-user-multi-select
                                ot-auto-id="BulkLaunchCardsApproversMultiSelect"
                                traversal="UP"
                                [allowEmail]="false"
                                [disabled]="false"
                                [fetchOptionsOnClick]="true"
                                [orgId]="assessmentDetails.orgGroupId"
                                [permissions]="['AssessmentCanBeApprover']"
                                [returnEmptyEntriesOnSelect]="true"
                                [userList]="assessmentDetails.approversOrgUserList||[]"
                                (onSelect)="approversSelected($event, assessmentDetails)"
                            >
                            </ot-org-user-multi-select>
                        </div>
                        <div otFormElement
                            class="width-50-percent padding-left-right-1"
                            [label]="'Respondent' | otTranslate"
                            [required]="true">
                            <ot-org-user-multi-select
                                ot-auto-id="BulkLaunchCardsRespondentsMultiSelect"
                                traversal="BRANCH"
                                [allowEmail]="true"
                                [disabled]="false"
                                [fetchOptionsOnClick]="true"
                                [orgId]="assessmentDetails.orgGroupId"
                                [permissions]="['AssessmentCanBeRespondent']"
                                [returnEmptyEntriesOnSelect]="true"
                                [userList]="assessmentDetails.respondentsOrgUserList || []"
                                (onSelect)="respondentsSelected($event, assessmentDetails)"
                            >
                            </ot-org-user-multi-select>
                        </div>
                    </div>
                    <!-- More Option here -->
                    <div class="padding-all-1 row-nowrap">
                        <div class="flex-full-80 margin-right-1">
                            <hr>
                        </div>
                        <div
                            class="flex-full-20 row-horizontal-vertical-center text-pointer"
                            (click)="toggleDetails(assessmentDetails)"
                            [attr.ot-auto-id]="'AssessmentBulkLaunchCardToggleDetails'"
                            >
                            <span class="margin-left-1">
                                {{ (assessmentDetails.showDetails ? "LessOptions" : "MoreOptions") | otTranslate }}
                            </span>
                            <span class="margin-left-1 ot ot-caret-down"
                                [ngClass]="{'assessment-bulk-launch-cards--rotate-option': !assessmentDetails.showDetails}"
                            ></span>
                        </div>
                    </div>
                    <div *ngIf="assessmentDetails.showDetails" class="padding-all-1 margin-right-1 row-nowrap">
                        <div otFormElement
                            class="flex-stretch-50  margin-right-1 padding-left-right-1"
                            [label]="'Description' | otTranslate">
                            <textarea otTextarea
                                [placeholder]="'Description' | otTranslate"
                                [ngModel]="assessmentDetails.description"
                                (ngModelChange)="saveModel($event, 'description', assessmentDetails)"
                                [attr.ot-auto-id]= "'AssessmentBulkLaunchCardDescription_' + columnIndex"
                            ></textarea>
                        </div>
                        <div otFormElement
                            class="flex-stretch-50 padding-left-right-1"
                            [label]="'CommentsToRespondent' | otTranslate">
                            <textarea otTextarea
                                [placeholder]="'CommentsToRespondent' | otTranslate"
                                [ngModel]="assessmentDetails.comments"
                                (ngModelChange)="saveModel($event, 'comments', assessmentDetails)"
                                [attr.ot-auto-id]= "'AssessmentBulkLaunchCardComments_' + columnIndex"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
