.assessment-bulk-launch-cards {
    abbr[title] {
        border: none;
    }
    &--rotate-option{
        transform: rotate(-90deg);
    }

    &__duplicate-template {
        .slds-input.slds-btn-input {
            border-color: $orange;
        }
    }
}
