<upgraded-loading
    class="height-100"
    *ngIf="!isTemplateLoaded"
    [text]="'QuestionnaireTemplate' | otTranslate"
>
</upgraded-loading>
<div
    class="template-detail height-100 column-nowrap"
    *ngIf="isTemplateLoaded && permissions.TemplatesView"
>
    <template-page-header></template-page-header>
    <ot-tabs
        class="padding-top-2 paragraph-medium shadow-header"
        [tabs]="tabOptions"
        [selectedTab]="currentTab"
    >
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'AATemplateDetails' + tab.id + 'Tab'"
                (click)="tab.action(tab)"
            >
                {{ tab.text }}
            </a>
    </ot-tabs>
    <template-detail-editor
        *ngIf="currentTab === templateTabOptions.Details"
        class="flex-full-height"
        [templateSettings]="templateSettings"
    ></template-detail-editor>
    <template-builder
        *ngIf="currentTab === templateTabOptions.Builder"
        class="stretch-vertical height-100 overflow-y-auto"
        [templateId]="templateId"
    >
    </template-builder>
    <template-rule-list
        *ngIf="currentTab === templateTabOptions.Rules"
        class="stretch-vertical height-100 overflow-y-auto"
    >
    </template-rule-list>
</div>
