<section class="column-nowrap full-size">
    <ot-loading
        otPageLoading
        *ngIf="!ready else workflowList"
    ></ot-loading>

    <ng-template #workflowList>
        <ot-page-header [title]="'Workflows' | otTranslate">
            <button
                otButton
                brand
                ot-auto-id="IntgWorkflowAddBtn"
                [innerText]="'AddNew'| otTranslate"
                (click)="openAddWorkflowModal()"
            ></button>
            <button
                otButton
                neutral
                ot-auto-id="IntgWorkflowImportBtn"
                [innerText]="'Import'| otTranslate"
                (click)="openImportModal()"
            ></button>
        </ot-page-header>
        <div class="position-relative background-paper overflow-auto height-100">
            <intg-table
                [ready]="ready"
                [page]="page"
                [columns]="columns"
                [emptyStateMessage]="'NoWorkflowAdded'"
                [options]="options"
                (clickAction)="getContextMenuActions($event)"
            ></intg-table>
        </div>
        <footer
            otPaginationFooter
            *ngIf="page?.totalPages > 1"
        >
            <ot-pagination
                [currentPage]="page?.number"
                [numPages]="page?.totalPages"
                [handleOffset]="true"
                (pageChanged)="handlePageChanged($event)"
            ></ot-pagination>
            <span>{{ page | otPageMeta }}</span>
        </footer>
    </ng-template>
</section>
