loading(ng-if='loading')
section.project-info(ng-if='!loading')
    header.old-one-header
        ol.breadcrumb.project-info__header
            li
                a(ui-sref-active='active', ui-sref='{{routes.projects}}')
                    i.fa.fa-chevron-left
                    span.translate {{::labels.breadcrumb}}&nbsp
            li.active
                span.translate(ng-if='mode !== "version"') {{::labels.createHeadline}}
                span.translate(ng-if='mode === "version"') {{::labels.createVersionHeadline}}
    .project-info__container
        form.project-info__form(name='projectInfoForm')
            h2.project-info__headline
                span.translate(ng-if='mode !== "version"') {{::labels.createHeadline}}
                span.translate(ng-if='mode === "version"') {{::labels.createVersionHeadline}}

            section.project-info__form-group(ng-class="{'has-error': projectInfoForm.Name.$invalid  && (projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty)}")
                label.project-info__label(for='newProjectName')
                    | {{::$root.t("Name")}}
                    sup.fa.fa-asterisk
                .project-info__input-group
                    input#newProjectName.project-info__input.one-input.full-width.block(
                        type='text',
                        name='Name',
                        required='',
                        ng-maxlength="100",
                        ng-model='wizard.Project.Name',
                        placeholder='{{::labels.enterProjectName}}')
                    p.project-info__error(ng-show='(projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty) && projectInfoForm.Name.$error.required')
                        | {{::labels.errorEnterProjectName}}
                    p.project-info__error(ng-show='(projectInfoForm.Name.$touched || projectInfoForm.Name.$dirty) && projectInfoForm.Name.$error.maxlength')
                        | {{::labels.exceedCharacterLengthName}}
            section.project-info__form-group(ng-if='mode === "version"')
                label.project-info__label.project-info__label--text
                    | {{::$root.t("Version")}}
                .project-info__input-group
                    p.project-info__read-only-text Version {{wizard.SelectedVersion}}
            section.project-info__form-group
                label.project-info__label(for='newProjectDescription') {{::$root.t("Description")}}
                .project-info__input-group
                    textarea#newProjectDescription.project-info__textarea(
                        type='text',
                        name='Description',
                        ng-model='wizard.Project.Description',
                        placeholder='{{::labels.enterDescription}}')
            section.project-info__form-group(ng-if='mode === "version"')
                label.project-info__label.project-info__label--text
                    | {{::$root.t("Template")}}
                .project-info__input-group
                    p.project-info__read-only-text
                        | {{::labels.templateAssociation }}
            section.project-info__form-group(ng-class="{'has-error': wizard.Project.OrgGroupId === '' && (projectInfoForm.OrganizationGroup.$touched || projectInfoForm.OrganizationGroup.$dirty)}")
                label.project-info__label
                    | {{::$root.t("Group")}}
                    sup.fa.fa-asterisk
                    i.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("ConfigureGroupsInSettings")}}'
                        tooltip-enable="hasOrgGroupsListPermission"
                    )
                .project-info__input-group
                    one-org-input(
                        org-list="orgList"
                        selected-org="selectedOrg"
                        action-callback="orgSelected(action, payload)"
                        placeholder="{{::$root.t('SelectOrganizationGroup')}}"
                    )
                    p.project-info__error(ng-show="(projectInfoForm.OrganizationGroup.touched || projectInfoForm.OrganizationGroup.$dirty) && (projectInfoForm.OrganizationGroup.$error.required || wizard.Project.OrgGroupId === '')")
                        | {{::$root.t("ErrorSelectProjectOrganizationGroup")}}
            section.project-info__form-group(ng-if="Settings.DefaultReviewer")
                label.project-info__label.project-info__label--reviewer(for='ProjectReviewer')
                    | {{::$root.t("Approver")}}
                    i.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("ConfigureAutoAssignmentRules")}}'
                        tooltip-enable="hasDefaultApproverSettingsPermission"
                    )
                .project-info__input-group
                    p#ProjectReviewer.project-info__text(ng-if='wizard.Project.OrgGroupId && orgTable[wizard.Project.OrgGroupId]')
                        strong {{$root.t("PrivacyOfficerWillReviewProjectDuplicate", { ProjectTerm: $root.translations.Project, PrivacyOfficerName: orgTable[wizard.Project.OrgGroupId].privacyOfficerName })}}
                    p#ProjectReviewerError.project-info__text(ng-if='!wizard.Project.OrgGroupId')
                        | {{::$root.t("SelectGroupForAssociatedApprover")}}
            section.project-info__form-group(ng-if='Permissions.canShow("Tagging") && Tagging.ProjectTaggingEnabled')
                label.project-info__label
                    | {{::$root.t("ProjectTags", {ProjectTerm: $root.customTerms.Project})}}
                .project-info__input-group
                    div
                        tags-input(
                            ng-model='wizard.Project.Tags',
                            name='tags',
                            display-property='Label',
                            on-tag-added='addTag($tag)',
                            replace-spaces-with-dashes='false',
                            min-length='1'
                            )
                                auto-complete(
                                    source='getTagsList($query, 10)',
                                    min-length='1',
                                    select-first-match='false')
            section.project-info__form-group(ng-if='Permissions.canShow("ProjectsDeadline")')
                label.project-info__label
                    | {{::$root.t("Deadline")}}
                    i.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("DeadlineWillBeSelectedDateAt1159PmUtc")}}.',
                        tooltip-placement="top",
                        tooltip-trigger="mouseenter")
                .project-info__input-group
                    .deadlinePicker
                        downgrade-one-date-time-picker(
                            [date-disable-until]="wizard.MinDate",
                            [date-placeholder]="$root.t('EnterDeadlineDate')",
                            [date-time-model]="wizard.Project.Deadline",
                            (on-change)="updateDeadline($event.jsdate)",
                            )
            section.project-info__form-group(ng-if='Permissions.canShow("ProjectsDeadline") && wizard.Project.Deadline')
                label.project-info__label {{::$root.t("Reminders")}}
                .project-info__input-group
                    .project-info__reminder
                        one-checkbox.project-info__reminder-btn.margin-right-1(
                            is-selected="wizard.ReminderShow",
                            toggle="toggleReminder()"
                        )
                        input.project-info__reminder-input.animate-if.one-input.block(
                            ng-if="wizard.ReminderShow",
                            type="number",
                            ng-model="wizard.Project.Reminder",
                            min="1",
                            ng-change="validateReminder()")
                        span.project-info__reminder-message(ng-if="wizard.ReminderShow") {{::$root.t("DaysBeforeDeadline")}} &nbsp
                            i.fa.fa-info-circle.deadlineTooltip(
                                ng-if="wizard.IsDefault",
                                uib-tooltip='{{::$root.t("TheseAreDefaultReminderSettings")}}',
                                tooltip-placement="right",
                                tooltip-trigger="mouseenter")
                        span.project-info__reminder-message.animate-if(ng-if="!wizard.ReminderShow") {{::$root.t("AddReminder")}}
                    p.project-info__error(ng-hide="validReminder")
                        | {{::$root.t("ReminderMustBeAtLeastOneDayInTheFuture")}}
        section(ng-show='(projectInfoForm.$valid && validReminder && wizard.Project.OrgGroupId && (formatLeadLabel(wizard.Project.LeadId)) && (wizard.Project.LeadId !== currentUser.Id))')
            .alert.alert-success.project-info__message(role='alert')
                p
                | {{ getEmailLeadText()}}

        footer.project-info__footer
            one-button(
                button-click="cancel()",
                text="{{::$root.t('Cancel')}}")
            one-button.margin-left-1(
                type='primary',
                is-disabled='projectInfoForm.$invalid || (wizard.Project.OrgGroupId.length === 0) || !validReminder',
                button-click='next()',
                text="{{::labels.assignProjectRespondents}}")
