loading(ng-if='loading')
section.project-info(ng-if='!loading')
    header.old-one-header
        ol.breadcrumb
            li
                a(ui-sref-active='active', ui-sref='{{routes.projects}}')
                    i.fa.fa-chevron-left
                    span.translate {{::labels.breadcrumb}}&nbsp
            li.active
                span.translate {{::labels.assignmentHeadline}}
    .project-info__container
        form.project-info__form(name='projectInfoForm')
            h2.project-info__headline
                span.translate {{::labels.assignmentHeadline}}
            section.project-info__form-group(ng-if="Settings.DefaultReviewer")
                label.project-info__label.project-info__label--reviewer(for='ProjectReviewer')
                    | {{::$root.t("Approver")}}
                    i.fa.fa-info-circle(
                        uib-tooltip='{{::$root.t("ConfigureAutoAssignmentRules")}}',
                        tooltip-enable="hasDefaultApproverSettingsPermission"
                    )
                .project-info__input-group
                    p#ProjectReviewer.project-info__text(ng-if='wizard.Project.OrgGroupId && orgTable[wizard.Project.OrgGroupId]')
                        strong {{$root.t("PrivacyOfficerWillReviewProjectDuplicate", { ProjectTerm: $root.translations.Project, PrivacyOfficerName: orgTable[wizard.Project.OrgGroupId].privacyOfficerName })}}
                    p#ProjectReviewerError.project-info__text(ng-if='!wizard.Project.OrgGroupId')
                        | {{::$root.t("SelectGroupForAssociatedApprover") }}
            section.project-info__form-group
                label.project-info__label(for='newProjectOwner')
                    | {{::$root.t("Respondent") }}
                    sup.fa.fa-asterisk
                    i.fa.fa-info-circle(uib-tooltip='{{labels.respondentTooltip}}')
                    .warning-text(ng-show="(projectInfoForm.Owner.$touched || projectInfoForm.Owner.$dirty) && (projectInfoForm.Owner.$error.required || formatLeadLabel(wizard.Project.LeadId) === '')")
                .project-info__input-group(ng-disabled="wizard.MultipleRespondentShow")
                    .project-info__assignment.one-toggle-picker(
                        ng-init="type = ''",
                        ng-class='{"is-disabled": !wizard.Project.OrgGroupId || wizard.Project.LeadId === currentUser.Id}')
                        .project-info__assignment-toggle.one-toggle-picker__toggle
                            one-button(
                                ng-model="type",
                                type="select",
                                button-click="assignToMe()",
                                is-disabled="!wizard.Project.OrgGroupId || wizard.MultipleRespondentShow",
                                is-selected="wizard.Project.LeadId === currentUser.Id",
                                text="{{::$root.t('Me')}}"
                            )
                            one-button(
                                ng-model="type",
                                type="select",
                                button-click="assignToSomeoneElse()",
                                is-disabled="!wizard.Project.OrgGroupId || wizard.MultipleRespondentShow",
                                is-selected="wizard.Project.LeadId !== currentUser.Id",
                                text="{{::$root.t('SomeoneElse')}}"
                            )
                        input#newProjectOwner.project-info__assignment-input.one-toggle-picker__input.one-input.full-width.block(
                            ng-class="{'respondent-disabled': wizard.MultipleRespondentShow}",
                            type='text',
                            ng-model='wizard.Project.LeadId',
                            ng-change="isTypedUserEmailDisabled(wizard.Project.LeadId)",
                            autocomplete='off',
                            name='Owner',
                            ng-click="type = 'other'",
                            ng-focus='getRootTree()',
                            ng-required='',
                            placeholder='{{placeholder.lead}}',
                            typeahead-input-formatter='formatLeadLabel($model)',
                            typeahead-min-length='0',
                            typeahead-show-hint='true',
                            focus-me='wizard.Project.LeadId !== currentUser.Id',
                            uib-typeahead='user.Id as user.FullName for user in TeamPicker | filter:$viewValue | IsInParentTree:TreeMap:wizard.Project.OrgGroupId:"OrgGroupId"',
                            ng-disabled='!wizard.Project.OrgGroupId || wizard.Project.LeadId === currentUser.Id')
                    p.project-info__error(ng-show="(projectInfoForm.Owner.$touched || projectInfoForm.Owner.$dirty) && (projectInfoForm.Owner.$error.required || formatLeadLabel(wizard.Project.LeadId) === '') && !wizard.MultipleRespondentShow")
                        | {{error.lead || 'Please assign a valid '+$root.customTerms.Project+' Respondent'}}.
            section.project-info__form-group(ng-if='wizard.Project.LeadId !== currentUser.Id;')
                label.project-info__label(for='comment')
                    | {{::$root.t("Comment") }}
                .project-info__input-group
                    textarea#comment(
                        type='text',
                        name='comment',
                        ng-model='wizard.Project.Comment',
                        placeholder='{{::$root.t("AddCommentOptional")}}')
            section.project-info__form-group(ng-if="Settings.SectionAssignment")
                label.project-info__label
                .project-info__input-group
                    .project-info__reminder.margin-top-1.margin-bottom-2
                        one-checkbox(
                            identifier="projectAssignmentMultipleRespondentToggleButton"
                            class="margin-right-1"
                            is-selected="wizard.MultipleRespondentShow"
                            toggle="toggleMultipleRespondent()"
                        )
                        span.project-info__reminder-message.animate-if {{::$root.t("AddMultipleRespondents")}}
                    .project-info__reminder.assigment-container.wizard-preview(ng-if="wizard.MultipleRespondentShow")
                        include ../../Templates/pia_template_manage_sections.jade

        section(ng-if='(isTypedEmailDisabledUser && projectInfoForm.$valid && validReminder && wizard.Project.OrgGroupId && (formatLeadLabel(wizard.Project.LeadId) || formatLeadLabel(SectionAssignments[0].AssigneeId)) && (wizard.Project.LeadId !== currentUser.Id || wizard.MultipleRespondentShow))')
            .alert.alert-danger.project-info__message(role='alert')
                p
                    strong(ng-if='!formatLeadLabel(SectionAssignments[0].AssigneeId)')
                        | {{formatLeadLabel(wizard.Project.LeadId)}}
                    strong(ng-repeat='Assignment in UniqueAssignments = (SectionAssignments | unique: "AssigneeId" | omit:"AssigneeId === \'\'")')
                        span(ng-if='!$first && UniqueAssignments.length > 2') ,
                        span(ng-if='!$first && $last') &nbsp{{::$root.t("And") | lowercase }}
                        | &nbsp{{formatLeadLabel(Assignment.AssigneeId)}}
                    |  {{::$root.t("IsADisabledUser")}}.

        section(ng-if='(!isTypedEmailDisabledUser && projectInfoForm.$valid && validReminder && wizard.Project.OrgGroupId && (formatLeadLabel(wizard.Project.LeadId) || formatLeadLabel(SectionAssignments[0].AssigneeId)) && (wizard.Project.LeadId !== currentUser.Id || wizard.MultipleRespondentShow))')
            .alert.alert-success.project-info__message(role='alert')
                p
                    strong(ng-if='!formatLeadLabel(SectionAssignments[0].AssigneeId)')
                        | {{formatLeadLabel(wizard.Project.LeadId)}}
                    strong(ng-repeat='Assignment in UniqueAssignments = (SectionAssignments | unique: "AssigneeId" | omit:"AssigneeId === \'\'")')
                        span(ng-if='!$first && UniqueAssignments.length > 2') ,
                        span(ng-if='!$first && $last') &nbsp{{::$root.t("And") | lowercase }}
                        | &nbsp{{formatLeadLabel(Assignment.AssigneeId)}}
                    |  {{::$root.t("WillReceiveAnEmail")}}
                    span(ng-if='wizard.Project.Deadline')
                        | ,&nbsp{{::$root.t("WithACalendarAttachmentAndComments")}},
                    | &nbsp{{::$root.t("InvitingThemToComplete")}}&nbsp"{{wizard.Project.Name}}"
                    span(ng-if='wizard.Project.LeadId !== currentUser.Id && !wizard.Project.Deadline')
                        | {{::$root.t("WithYourCommentsIncluded")}}
                    | .

        footer.project-info__footer
            one-button(
                identifier="piaCancelAssignment",
                button-click="cancel()",
                text="{{::$root.t('Cancel')}}"
            )
            one-button(
                identifier="piaGoPrevious",
                button-click="previous()",
                text="{{::$root.t('Previous')}}"
            )
            one-button(
                identifier="piaSaveProject",
                type="primary",
                button-click="Save()",
                text="{{createProjectText}}",
                is-disabled="(!validReminder || !(formatLeadLabel(wizard.Project.LeadId)) || !wizard.Project.OrgGroupId) || (!isAssigned && wizard.MultipleRespondentShow) || isCreatingProject || isTypedEmailDisabledUser",
                enable-loading="true",
                is-loading="isCreatingProject"
            )
