loading(ng-if='loading')
.projectType-wrapper(ng-if='!loading')
    header.projectType-header
        ol.breadcrumb
            li
                a(ui-sref='{{routes.projects}}')
                    i.fa.fa-chevron-left
                    span.translate {{ ::$root.translations.Projects }}&nbsp;
            li.active {{::$root.t("StartNew")}}
                span.translate {{ ::$root.translations.Project }}
    .projectType-container(ng-if='templates')
        .template-container(ng-if='templates.length')
            header
                h3 {{::$root.t("SelectQuestionnaireForProject")}}

            .template__item-container.template__item-container--unlinked(
                data-ng-repeat='template in templates track by template.Id'
            )
                .template__item
                    button.template__toggle-details(ng-mouseover='toggleDetails(template)', ng-mouseleave='toggleDetails(template)')
                        i.fa.fa-info-circle
                    a.template__link(ng-click='goToProjectInfo(template.Id, template.Version);')
                        .template__info.is-showing
                            i.fa.template__icon.template__icon--published(ng-if='template.Icon', class='{{template.Icon}}')
                            i.fa.fa-archive.template__icon.template__icon--published(ng-if='!template.Icon')
                            p.template__name(ng-bind='template.Name')
                            section.template__tags.template__tags--published
                                span.template__tags-item(uib-tooltip='{{::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.TotalProjectCount || "0", VersionProjectCount : template.VersionProjectCount || "0"}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.Version}}
                    .template__description(ng-show='template.detailsOpen')
                        p {{ template.Description }}

            .template__item.template__item--spacer(ng-repeat='spacer in spacers track by $index')
        .template-container(ng-if='!templates || templates.length === 0')
            header
                .text-center
                    h2 {{::$root.t("NoPublishedQuestionnairesAvailable")}}
                    div(ng-if='canCreateTemplate')
                        p {{::$root.t("ClickToMakeYourOwnQuestionnaire")}}
                        one-button(
                            ui-sref='{{routes.templates}}',
                            identifier='makeYourOwnQuestionnaire',
                            type='primary',
                            text='{{::$root.t("Questionnaires")}}',
                        )
                    div(ng-if='!canCreateTemplate')
                        h4 {{::$root.t("AskPrivacyOfficerToCreateQuestionnaires")}}
