<cr-filters
    [(isDrawerOpen)]="isDrawerOpen"
    [(textSearch)]="filters.name"
    (onApply)="handleApply()"
    (onClear)="handleClear()"
    (onRefresh)="handleRefresh()"
    (onTextSearch)="handleTextSearch('name', $event, 'ConsentCollectionPointNameFilter')"
    (onToggle)="toggleDrawer()"
>
    <div otFormElement [label]="'FilterByName' | otTranslate">
        <input otInput
            class="one-input full-width"
            ot-auto-id="CollectionPointNameFilter"
            [placeholder]="'Name' | otTranslate"
            [ngModel]="filters.name"
            (ngModelChange)="setFilterValue('name', $event)"
            />
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'SelectPurpose' | otTranslate"
        >
        <ot-lookup
            ot-auto-id="CollectionPointPurposeFilter"
            labelKey="label"
            valueKey="value"
            [placeholder]="'PurposeName'| otTranslate"
            [autoClose]="true"
            [clearInputOnModelChange]="true"
            [inputValue]="inputs.purposeGuid"
            [model]="selections.purposeGuid"
            [options]="filteredOptions.purposeGuid ? filteredOptions.purposeGuid : options.purposeGuid"
            (inputChange)="onLookupInputChange('purposeGuid', $event)"
            (modelChange)="selectPurpose($event)"
        ></ot-lookup>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByPurposeVersion' | otTranslate"
        >
        <ot-picklist
            labelKey="label"
            valueKey="version"
            ot-auto-id="CollectionPointPurposeVersionFilter"
            [options]="options.purposeVersion"
            [model]="selections.purposeVersion"
            [disabled]="!selections.purposeGuid"
            (onSelect)="selectOption('purposeVersion', $event, 'version')"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByCollectionPointType' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="collectionPointTypeFilter"
            [options]="options.collectionPointType"
            [model]="selections.collectionPointType"
            (onSelect)="selectOption('collectionPointType', $event)"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByConsentType' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="consentTypeFilter"
            [options]="options.consentType"
            [model]="selections.consentType"
            (onSelect)="selectOption('consentType', $event)"
        ></ot-picklist>
    </div>

    <div otFormElement
        class="margin-top-2"
        [label]="'FilterByCollectionPointStatus' | otTranslate"
        >
        <ot-picklist
            ot-auto-id="statusFilter"
            [options]="options.status"
            [model]="selections.status"
            (onSelect)="selectOption('status', $event)"
        ></ot-picklist>
    </div>
</cr-filters>