<section class="full-size padding-bottom-2 column-nowrap overflow-hidden">
    <ot-page-header class="height-49" [title]="'LoginHistory' | otTranslate">
        <div>
            <button otButton neutral
                class="margin-left-1"
                ot-auto-id="exportUsersButton"
                [innerText]="'Export' | otTranslate"
                [disabled]="exportInProgress"
                (click)="exportUsers()"
            >
            </button>
        </div>
    </ot-page-header>
    <div class="static-vertical row-flex-end background-grey padding-top-bottom-1 padding-left-right-2">
        <ot-search-input
            class="margin-right-1 min-width-30"
            ot-auto-id="AdminUserSearchInput"
            [placeholder]="'Search' | otTranslate"
            [searchOnEnter]="true"
            [model]="searchList"
            (search)="onSearchList($event)"
        ></ot-search-input>
    </div>
    <ot-loading otPageLoading *ngIf="!ready"></ot-loading>
    <div
        *ngIf="ready"
        class="overflow-auto position-relative stretch-vertical background-white">
        <table
            *ngIf="tableData"
            otDataTable
            class="full-width border-top-none"
            [rowData]="tableData.content"
            [rowBordered]="true"
            >
            <ng-container *ngFor="let col of columns">
                <ot-data-table-column>
                    <!-- Header Section -->
                    <ng-template otDataTableHeader>
                        <div
                            class="padding-left-right-1"
                            [ngClass]="col.columnIndex ? 'text-left' : 'text-center'"
                            >
                            <span
                                class="slds-truncate text-bold"
                                [innerText]="col.columnName"
                            ></span>
                        </div>
                    </ng-template>
                    <!-- Data Section -->
                    <ng-template otDataTableCell let-row="row" [tdClass]="'max-width-30'">
                        <ng-container *ngIf="col.columnType === tableColumnTypes.Text">
                            <div
                                class="slds-truncate text-center"
                                title="{{row[col.cellValueKey]}}"
                                [innerText]="row[col.cellValueKey]">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.columnType === tableColumnTypes.Date">
                            <div class="slds-truncate text-center">
                                <span>
                                    {{row[col.cellValueKey] ? (row[col.cellValueKey] | otDate:'datetime') : "- - - -"}}
                                </span>
                            </div>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </table>
        <one-empty-state
            class="justify-center flex align-center position-relative margin-top-4"
            *ngIf="!tableData.content.length"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            >
        </one-empty-state>
    </div>
    <footer otPaginationFooter *ngIf="tableData">
        <ot-pagination
            class="static-vertical margin-top-bottom-2 margin-left-right-1"
            [currentPage]="tableData.number + 1"
            [numPages]="tableData.totalPages"
            (pageChanged)="loadLoginUsers($event - 1)"
            >
        </ot-pagination>
        <span>{{ tableData | otPageMeta }}</span>
    </footer>
</section>
