<div class="incident-activity__header centered-max-100 width-100-percent row-vertical-center padding-left-right-2 background-grey shadow2-left-right min-height-5">
    <button otButton neutral
        ot-auto-id="incidentActivityToggleAscendingDescending"
        [icon]="orderIcon"
        (click)="toggleOrder()"
    ></button>
    <button otButton neutral
        ot-auto-id="incidentActivityToggleExpand"
        (click)="toggleExpand()"
    >
        {{ allItemsExpanded ? ("CollapseAll" | otTranslate) : ("ExpandAll" | otTranslate) }}
    </button>
</div>
<div class="centered-max-100 background-white shadow2 flex-full-height width-100-percent">
    <div class="incident-activity__content padding-all-2">
        <ot-activity-timeline>
            <ot-activity-timeline-item
                *ngFor="let activity of formattedActivities"
                [activity]="activity"
                [isExpanded]="expandedItemMap[activity.id]"
                [icon]="activity.icon"
                [iconColor]="activity.iconColor"
                [iconBackgroundColor]="activity.iconBackgroundColor"
                (toggle)="toggleActivity(activity.id)"
                >
                <ul
                    class="row-wrap-space-between padding-bottom-1"
                    *ngFor="let change of activity.changes; let i = index"
                    [ngClass]="{
                        'border-bottom' : activity.changes.length > 1 && i !== activity.changes.length - 1,
                        'margin-top-1' : activity.changes.length > 1 && i !== 0
                    }"
                    >
                    <li class="flex-full-33">
                        <span class="block text-small text-bold padding-bottom-half">{{ change.fieldLabel }}</span>
                        <span class="block text-small">{{ change.fieldName }}</span>
                    </li>
                    <ng-container *ngIf="activity.showOldNewValueField && (allItemsExpanded || expandedItemMap[activity.id]) && expandedItemMap[activity.id]">
                        <li class="flex-full-33">
                            <span class="block text-small text-bold padding-bottom-half">{{ "OldValue" | otTranslate }}</span>
                            <span class="block text-small word-wrap" [innerHtml]="change.oldValue ? change.oldValue.name : ''"></span>
                        </li>
                        <li class="flex-full-33">
                            <span class="block text-small text-bold padding-bottom-half">{{ "NewValue" | otTranslate }}</span>
                            <span class="block text-small word-wrap" [innerHtml]="change.newValue ? change.newValue.name : ''"></span>
                        </li>
                    </ng-container>
                </ul>
            </ot-activity-timeline-item>
        </ot-activity-timeline>
        <ot-loading otPageLoading
            class="margin-left-right-auto margin-top-3"
            *ngIf="!formattedActivities?.length"
        ></ot-loading>
    </div>
    <div
        class="incident-activity__footer row-vertical-center margin-left-right-2 border-top min-height-5"
        *ngIf="hasMoreActivities"
        >
        <button
            otButton
            neutral
            class="margin-0-auto"
            ot-auto-id="incidentActivityToggleExpand"
            [disabled]="(isLoadingMoreActivities$ | async)"
            [loading]="(isLoadingMoreActivities$ | async)"
            [innerText]="('ViewMore' | otTranslate)"
            (click)="addActivitiesToView()"
            >
        </button>
    </div>
</div>
