<section class="height-100 column-nowrap overflow-hidden">
    <div class="row-nowrap static-vertical padding-all-1 text-bold text-large">
        <p
            class="overflow-ellipsis-nowrap max-width-70-percent"
            [title]="selectedSspTemplate.name"
            >
            {{selectedSspTemplate.name}}
        </p>
        <span class="ssp-template-config-edit__version-tag margin-left-1 text-center padding-all-half text-small">
            V{{selectedSspTemplate.version}}
        </span>
    </div>
    <ot-loading otPageLoading *ngIf="isLoadingTemplate"></ot-loading>
    <section class="overflow-auto position-relative background-white stretch-vertical">
        <div
            novalidate
            *ngIf="!isLoadingTemplate"
            class="margin-all-0"
            [formGroup]="templateForm"
            >
            <div class="full-width column-space-between padding-all-1 overflow-auto">
                <div class="column-space-between border-bottom padding-bottom-1">
                    <div
                        otFormElement
                        class="row-space-between line-height-1 text-medium-small"
                        [label]="'EnableDirectLaunch' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="SSPAddTemplateDirectLaunchToggle"
                            [checked]="templateForm.get('directLaunch').value"
                            (toggle)="onDirectLaunchToggle($event)"
                        ></ot-toggle>
                    </div>
                    <div
                        class="max-width-70-percent color-slate text-small"
                        [innerText]="'SspDirectLaunchMessage' | otTranslate"
                    ></div>
                </div>

                <div
                    *ngIf="!templateForm.get('directLaunch').value"
                    class="border-bottom padding-top-bottom-1"
                    >
                    <div
                        otFormElement
                        class="row-space-between line-height-1 text-medium-small"
                        [label]="'SspAllowUserSelectRespondent' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="SSPAddTemplateRespondentToggle"
                            [checked]="templateForm.get('respondent').value"
                            (toggle)="templateForm.get('respondent').setValue($event)"
                        ></ot-toggle>
                    </div>
                    <div
                        class="color-slate max-width-70-percent text-small"
                        [innerText]="'SspSelectRespondentMessage' | otTranslate"
                    ></div>
                </div>

                <div
                    *ngIf="!templateForm.get('directLaunch').value"
                    class="border-bottom padding-top-bottom-1"
                    >
                    <div
                        otFormElement
                        class="row-space-between line-height-1 text-medium-small"
                        [label]="'SspAllowUserSelectApprover' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="SSPAddTemplateApproverToggle"
                            [checked]="templateForm.get('approver').value"
                            (toggle)="templateForm.get('approver').setValue($event)"
                        >
                        </ot-toggle>
                    </div>
                    <div
                        class="color-slate max-width-70-percent text-small"
                        [innerText]="'SspSelectApproverMessage' | otTranslate"
                    ></div>
                </div>

                <div
                    *ngIf="!templateForm.get('directLaunch').value"
                    class="border-bottom padding-top-bottom-1"
                    >
                    <div
                        otFormElement
                        class="row-space-between line-height-1 text-medium-small"
                        [label]="'SspAllowUserSelectOrganization' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="SSPAddTemplateOrganizationToggle"
                            [checked]="templateForm.get('organization').value"
                            (toggle)="templateForm.get('organization').setValue($event)"
                        ></ot-toggle>
                    </div>
                    <div
                        class="color-slate max-width-70-percent text-small"
                        [innerText]="'SspSelectOrganizationMessage' | otTranslate"
                    ></div>
                </div>
            </div>
        </div>
    </section>
    <footer otPageFooter>
        <button otButton destructive
            class="margin-right-1"
            ot-auto-id="SspTemplateConfigEditRemoveButton"
            [innerText]="'Remove' | otTranslate"
            (click)="removeSspTemplate.emit(selectedSspTemplate.id)"
        ></button>
        <button otButton brand
            ot-auto-id="SspTemplateConfigEditSaveButton"
            [disabled]="saveInProgress"
            [loading]="saveInProgress"
            [innerText]="'Save' | otTranslate"
            (click)="submitChanges()"
        ></button>
    </footer>
</section>
