.inventory-body {
    overflow: hidden;
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;

    &__not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
        height: 40vh;
        color: $grey-4;
    }

}
