.inventory-header {

    &__title {

        &--loading {
            min-width: 8rem;
            max-height: 1.5rem;
            display: inline-flex;
            justify-content: center;
            .one__loading__icon {
                font-size: 1.7rem;
            }
        }
    }

    &__body {
        font-size: 1.3rem;
    }

    &__actions {

        &--item {
            &:nth-child(n){
                margin: 0 0.5rem;
            }
        }
    }

}
