.inventory-table {
    &-rows {
        max-height: calc(100vh - 25rem);
    }

    &-row {
        &__info {
            line-height: 2;
        }
    }
    &__assessment-link {
        top: 10rem;
    }
}

.inventory-table-new {
    &__context-button {
        .one-dropdown {
            top: .7rem;
        }
    }
}
