.inventory-add {
    width: 100%;
    height: $cell-height;
    background: 0;
    border: 1px dashed $table-cell-border;
    border-top: 1px solid $table-cell-border;
    color: $grey-4;
    font-weight: bold;

    &:hover {
        border: 1px solid $grey-3;
        border-top: 1px solid $table-cell-border;
        color: $slate;

        .inventory-add__icon {
            color: $slate;
        }
    }

    &__icon {
        color: $grey-4;
        font-size: 1.2rem;
        margin-right: 0.6rem;
    }
}
