.inventory-list {

    &__sub-header {
        .action-icons__icon {
            width: 3.4rem;
            height: 3.4rem;
        }
    }

    &__header {
        z-index: 3;
    }

    &__sub-header {
        z-index: 2;
    }

    &__search {
        max-width: 30rem;
    }
}
