.inventory {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__header {
        flex: 0 0 5rem;
    }
}

@import
'inventory-add',
'inventory-body',
'inventory-header',
'inventory-panel/inventory-panel',
'inventory-table',
'inventory-details',
'inventory-list'
;
