<div class="background-grey margin-bottom-2 border">
    <div class="column-nowrap width-100-percent padding-left-right-1">
        <div class="padding-top-bottom-1">
            <span class="text-large text-bold padding-left-1">
                {{'AssessmentDetails' | otTranslate}}
            </span>
            <!-- Delete button; TODO: Uncomment once copy multiple assessments are done -->
            <!-- <i
                class="ot ot-trash text-xlarge cursor-pointer pull-right"
                ot-auto-id="AssessmentCopyAssessmentCardDeleteIcon"
                (click)="deleteAssessment()"
            ></i> -->
        </div>
        <div>
            <hr class="margin-all-0">
        </div>
        <div class="row-nowrap padding-top-half">
            <div
                otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'AssessmentName' | otTranslate"
                [required]="true">
                <input
                    otInput
                    ot-auto-id="AssessmentCopyAssessmentCardName"
                    [ngModel]="assessmentCopy.name"
                    (ngModelChange)="handleAction(assessmentActions.NAME_CHANGED, $event)"
                />
            </div>
            <div otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'Organization' | otTranslate"
                [required]="true"
            >
                <org-select
                    ot-auto-id="AssessmentCopyAssessmentOrganizationPickList"
                    [model]="assessmentCopy.orgGroupId"
                    [placeholder]="'SelectOrganizationGroup' | otTranslate"
                    (onSelect)="handleAction(assessmentActions.ORG_SELECTED, $event)"
                >
                </org-select>
            </div>
        </div>
        <div class="row-nowrap padding-top-half">
            <div
                otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'Deadline' | otTranslate"
            >
                <ot-date-time-picker
                    ot-auto-id="AssessmentCopyAssessmentDeadlineDatepicker"
                    [dateTimeModel]="deadline"
                    [dateDisableUntil]="disableUntil"
                    [dateFormat]="dateFormat"
                    [datePlaceholder]="'ChooseDeadline' | otTranslate"
                    [hideTimePicker]="true"
                    (onChange)="handleAction(assessmentActions.DEADLINE_CHANGED, $event)"
                ></ot-date-time-picker>
            </div>
            <div
                otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'Reminder' | otTranslate"
                [hasError]="!assessment.isReminderValid"
                [errorMessage]="'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate"
            >
                <input
                    otInput
                    type="number"
                    ot-auto-id="AssessmentCopyAssessmentReminderInput"
                    min="1"
                    [placeholder]="'DaysBeforeDeadline' | otTranslate"
                    [disabled]="!deadline"
                    [ngModel]="assessmentCopy.reminder"
                    (ngModelChange)="reminderDaysSelected($event)"
                >
            </div>
        </div>
        <div class="row-nowrap padding-top-half">
            <div
                otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'Approver' | otTranslate"
            >
                <ot-org-user-multi-select
                    ot-auto-id="AssessmentCopyAssessmentApproverMultiSelect"
                    [allowEmail]="false"
                    [traversal]="'UP'"
                    [userList]="approverList"
                    [fetchOptionsOnClick]="true"
                    [permissions]="['AssessmentCanBeApprover']"
                    [placeholder]="'Approver' | otTranslate"
                    [orgId]="assessmentCopy.orgGroupId"
                    (onSelect)="selectedApprovers($event)"
                ></ot-org-user-multi-select>
            </div>
            <div
                otFormElement
                class="padding-left-right-1 width-50-percent"
                [label]="'Respondent' | otTranslate"
                [required]="true"
            >
                <ot-org-user-multi-select
                    ot-auto-id="AssessmentCopyAssessmentRespondantMultiSelect"
                    [allowEmail]="true"
                    [traversal]="'BRANCH'"
                    [userList]="respondentList"
                    [fetchOptionsOnClick]="true"
                    [permissions]="['AssessmentCanBeRespondent']"
                    [placeholder]="'Respondent' | otTranslate"
                    [orgId]="assessmentCopy.orgGroupId"
                    (onSelect)="selectedRespondents($event)"
                ></ot-org-user-multi-select>
            </div>
        </div>
        <div class="padding-top-bottom-1">
            <span class="text-large text-bold padding-left-1">
                {{'CopyAssessmentConfiguration' | otTranslate}}
            </span>
        </div>
        <div>
            <hr class="margin-all-0">
        </div>
        <div class="row-nowrap">
            <div class="width-40-percent margin-left-1">
                <div
                    otFormElement
                    class="margin-top-1 padding-bottom-half"
                    [label]="'CopyAssessmentContent' | otTranslate">
                </div>
                <div *ngFor="let content of contentCheckboxData;index as checkboxIndex">
                    <ot-checkbox
                        [attr.ot-auto-id]="'AssessmentCopyAssessmentCardCheckbox_'+ checkboxIndex"
                        [checked]="copyContent[content.model]"
                        (toggle)="copyParameters(content.model)"
                    >
                    </ot-checkbox>
                    <span class="padding-left-half">{{ content.label | otTranslate }}</span>
                </div>
            </div>
            <div class="width-60-percent">
                <div otSettingContainer>
                    <ot-setting
                        [title]="'UseLatestTemplateVersion' | otTranslate"
                        [description]="'UseLatestTemplateVersionDesc' | otTranslate"
                    >
                        <ot-toggle
                            [checked]="assessmentCopy.latestTemplateVersion"
                            (toggle)="handleAction(assessmentActions.SELECT_TEMPLATE_VERSION, $event);"
                        ></ot-toggle>
                    </ot-setting>
                    <ot-setting
                        *ngIf="copyContent.copyResponses"
                        [title]="'RequireConfirmationOfChanges' | otTranslate"
                        [description]="'RequireConfirmationOfChangesDesc' | otTranslate"
                    >
                        <ot-toggle
                           [checked]="assessmentCopy.reviewChangedResponses"
                           (toggle)="handleAction(assessmentActions.EXPLICIT_CHANGE_REQUIRED, $event);"
                        ></ot-toggle>
                    </ot-setting>
                </div>
            </div>
        </div>
        <!-- More Option here  -->
        <div class="padding-all-1 row-nowrap">
            <div class="flex-full-80 margin-right-1">
                <hr>
            </div>
            <div
                class="flex-full-20 row-horizontal-vertical-center text-pointer"
                ot-auto-id="AssessmentCopyAssessmentCardToggleDetails"
                (click)="assessment.showDetails = !assessment.showDetails"
            >
                <span class="margin-left-1">
                    {{ (assessment.showDetails ? "LessOptions" : "MoreOptions") | otTranslate }}
                </span>
                <span
                    class="margin-left-1 ot ot-caret-down"
                    [ngClass]="{'assessment-bulk-launch-cards--rotate-option': !assessment.showDetails}"
                ></span>
            </div>
        </div>
        <div
            *ngIf="assessment?.showDetails"
            class="padding-all-1 margin-right-1 row-nowrap"
        >
            <div
                otFormElement
                class="flex-full-50 margin-right-1"
                [label]="'Description' | otTranslate">
                <textarea
                    otTextarea
                    ot-auto-id= "AssessmentCopyAssessmentCardDescription"
                    [placeholder]="'Description' | otTranslate"
                    [ngModel]="assessmentCopy?.description"
                    (ngModelChange)="handleAction(assessmentActions.DESCRIPTION_CHANGED, $event)"
                ></textarea>
            </div>
            <div
                otFormElement
                class="flex-full-50"
                [label]="'CommentsToRespondent' | otTranslate"
            >
                <textarea
                    otTextarea
                    ot-auto-id= "AssessmentCopyAssessmentCardComments"
                    [placeholder]="'CommentsToRespondent' | otTranslate"
                    [ngModel]="assessmentCopy?.comment"
                    (ngModelChange)="handleAction(assessmentActions.COMMENT_CHANGED, $event)"
                ></textarea>
            </div>
        </div>
    </div>
</div>
