<ng-container *ngIf="isLoadingAssessments; else showAssessments">
    <ot-loading
        otPageLoading
        class="flex-full-height justify-center"
        >
        {{ 'Assessments' | otTranslate }}...
    </ot-loading>
</ng-container>
<ng-template #showAssessments>
    <div
        *ngIf="rows.length <= 0;else inventoryAssessmentsExist"
        class="flex flex-column align-center position-relative">
        <upgraded-one-background-message
            [showEmptyStateImg]="true"
            [rowStyled]="true"
        ></upgraded-one-background-message>
        <button
            otButton brand
            *ngIf="showAddAssessmentButton"
            class="inventory-table__assessment-link"
            ot-auto-id="InventoryAddAssessmentButton"
            [innerText]="'AddAssessment' | otTranslate"
            (click)="onAddAssessmentClick()"
        ></button>
    </div>
    <ng-template #inventoryAssessmentsExist>
        <div class="overflow-x-auto overflow-y-auto stretch-vertical">
            <div class="position-relative">
                <table
                    class="inventory-table-new full-width border-top-none"
                    otDataTable
                    [rowData]="rows"
                    [rowBordered]="bordered"
                    >
                    <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                        <ot-data-table-column>
                            <ng-template otDataTableHeader>
                                <div
                                    class="slds-th__action max-25 {{columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'}}"
                                    title="{{col.labelKey | otTranslate}}"
                                    >
                                    <span class="slds-truncate text-bold"> {{col.labelKey | otTranslate}} </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell let-row="row" [tdClass]="'max-25'">
                                <ng-container *ngIf="col.type === cellTypes.link">
                                    <a
                                        (click)="goToRoute.emit(row)"
                                        class="slds-truncate block text-pointer text-link text-bold text-left"
                                        title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]}}"
                                        >
                                        {{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]}}
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="col.type === cellTypes.date">
                                    <div class="slds-truncate text-center">
                                        <upgraded-one-date [dateToFormat]="row[col.rowTextKey]"></upgraded-one-date>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="col.type === cellTypes.text">
                                    <div
                                        class="slds-truncate text-center"
                                        title="{{row[col.rowTranslationKey] ? getTranslatedText(row[col.rowTranslationKey]) : row[col.rowTextKey]}}"
                                        >
                                        {{row[col.rowTranslationKey] ? getTranslatedText(row[col.rowTranslationKey]) : row[col.rowTextKey]}}
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'actions-table__context-spacer'" [tdStyle]="{'min-width': '4rem'}">
                            <div></div>
                        </ng-template>
                    </ot-data-table-column>
                    <ot-data-table-column>
                        <ng-template otDataTableHeader [thClass]="'float-col'">
                            <div></div>
                        </ng-template>
                        <ng-template otDataTableCell [tdClass]="'float-col actions-table__context-spacer'" let-row="row">
                            <ng-container *ngIf="row.type === assessmentTypes.PIA || row.type === assessmentTypes.PIAV2">
                                <upgraded-one-dropdown
                                    class="inventory-table-new__context-button"
                                    [icon]="'ot ot-ellipsis-h'"
                                    [hideCaret]="true"
                                    [alignRight]="true"
                                    [getOptions]="getActions(row)"
                                    [buttonClass]="'actions-table__context-btn'"
                                    [listClass]="menuClass"
                                    (click)="setMenuClass($event)"
                                    >
                                </upgraded-one-dropdown>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </table>
            </div>
        </div>
    </ng-template>
</ng-template>
