<section class="background-grey height-100 text-color-default">
    <ot-page-header
        [title]="'StartNewAssessment' | otTranslate"
        (routeClicked)="goToRoute($event)"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                [attr.ot-auto-id]="'StartNewAssessmentBreadcrumbItem'"
                [label]="breadCrumb.text"
                [link]="breadCrumb.stateName"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="'StartNewAssessment' | otTranslate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>

    <section class="app-wrapper padding-all-0 overflow-y-auto stretch-vertical aa-template-selection">
        <ot-loading otPageLoading
            *ngIf="loadingTemplates"
        ></ot-loading>
        <div *ngIf="templateCards?.length">
            <div class="row-horizontal-center margin-top-bottom-2">
                <h3>{{"SelectQuestionnaireForAssessment" | otTranslate}}:</h3>
            </div>
            <div otCardGrid
                class="full-width"
                maxWidth="500"
                >
                <div otCardRow class="padding-top-1">
                    <ot-card
                        class="aa-template-selection__card-customizations"
                        *ngFor="let card of templateCards; index as i"
                        alignment="center"
                        width="24"
                        [header]="card.header"
                        [image]="card.image"
                        >
                        <ng-container otCardMenu>
                        </ng-container>
                        <ng-container otCardFooter>
                            <button otButton brand
                                class="invisible preview-show"
                                (click)="onTemplateClick(card)">
                                {{ 'Select' | otTranslate }}
                            </button>
                        </ng-container>
                    </ot-card>
                </div>
            </div>
        </div>
        <div
            class="text-center margin-top-bottom-3"
            *ngIf="!loadingTemplates && !templateCards?.length"
        >
            <h2>{{"NoPublishedQuestionnairesAvailable" | otTranslate}}</h2>
            <p>{{"ClickToMakeYourOwnQuestionnaire" | otTranslate}}</p>
            <button otButton brand
                [attr.ot-auto-id]="'makeYourOwnQuestionnaire'"
                (click)="routeToQuestionnaires()"
            >
                {{"Questionnaires" | otTranslate}}
            </button>
        </div>
    </section>
</section>
