.aa-template-selection {
    .ot-card__wrapper {
        margin: 0 1rem;
        max-width: 24rem;
    }
    &__card-customizations {
        .ot-card {
            &__icon{
                color: $green;
            }
        }
        &:hover {
            .ot-card {
                background-color: lighten($ui-blue, 45%);
                border: 1px solid $ui-blue;
            }
            .preview-show {
                visibility: visible;
            }
        }
    }
}
