.modal
    script(type='text/ng-template', id='AssignmentModal.html')

        .modal-header
            h3.modal-title.align-left {{::$root.t("SendAssessments")}}
            h3.modal-title.align-right(
                ng-click='cancel()'
                ng-if='!(showingSuccessMessage || Saving)'
                )
                i.ot.ot-times
        .modal-body.dm-assignment__body
            loading(
                ng-if='!Ready'
                text='{{::tableName}}'
                )
            loading(
                ng-if='Ready && Saving'
                text='{{::$root.t("SendingAssessments")}}'
                show-loading-prefix='false'
                )
            .dm-assignment(
                ng-if='Ready'
                ng-class='{"is-hidden": showingSuccessMessage || Saving}'
                )

                ul.dm-assignment__list
                    li.dm-assignment__item(
                        ng-repeat='item in Items track by item.InventoryId'
                        ng-class='{"open": item.showingDetails}'
                        )
                        header.dm-assignment__header
                            .dm-assignment__name.dm-assignment__group
                                one-label-content(
                                    name='{{::$root.t("AssessmentName")}}'
                                    description='{{::$root.t("ItemForWhichAssessmentIsBeingLaunched", {item: tableName})}}'
                                    )
                                span.dm-assignment__name-text
                                    | {{item.Name || '- - - -'}}
                            .dm-assignment__respondent.dm-assignment__group
                                one-label-content(
                                    name='{{::$root.t("Respondent")}}'
                                    description='{{::$root.t("AnEmailWithAssessmentLinkIsSentToThisIndividual")}}'
                                    )
                                    //- TODO: Implement Apply To All for Respondent with respect to Invited Users. (Related to JIRA DM-466)
                                    //- a.dm-assignment__group--action(ng-if='Items.length > 1', ng-click='ApplyToAll(["LeadId"], item)')
                                    //-     | {{::$root.t('ApplyToAll')}}

                                input.dm-assignment__respondent-input.one-input(
                                    type='text',
                                    ng-model='item.LeadId',
                                    autocomplete='off',
                                    name='assignee',
                                    ng-click="selectInputText($event)",
                                    ng-blur='unsetFocusedElement($event)'
                                    ng-required='',
                                    placeholder='{{$root.t("AssignARespondent")}}',
                                    typeahead-input-formatter='formatTypeahead(Users, item.LeadId)',
                                    typeahead-min-length='0',
                                    typeahead-show-hint='true',
                                    typeahead-auto-open,
                                    typeahead-append-to-body='true',
                                    uib-typeahead='user.ColumnValueId as user.ColumnValue for user in Users | filter:$viewValue | IsInParentTree:TreeMap:item.OrgGroupId:"ColumnOrgGroupId"',
                                    ng-class='{"has-errors": item.errors.lead}',
                                    ng-change='validateIfHasErrors(item, "lead")',
                                    typeahead-on-select='validateIfHasErrors(item, "lead")'
                                )
                                p.dm-assignment__error.dm-assignment__error--small(ng-if='item.errors.lead')
                                    | {{::$root.t('PleaseSelectFromTheDropdown')}}

                            .dm-assignment__group.dm-assignment__actions
                                button.dm-assignment__header-btn.dm-assignment__header-btn--delete(
                                    ng-click='deleteItem(item)',
                                    uib-tooltip="{{::$root.t('AssessmentWillNotBeGeneratedIfRemoved')}}"
                                    tooltip-placement="top-right"
                                    tooltip-append-to-body="true"
                                    tooltip-trigger="mouseenter"
                                    )
                                    i.ot.ot-times
                                    span {{::$root.t('Remove')}}
                                button.dm-assignment__header-btn.dm-assignment__header-btn--toggle(ng-click='toggleDetails(item)')
                                    i.fa.fa-caret-down(ng-if='!item.showingDetails')
                                    i.fa.fa-caret-up(ng-if='item.showingDetails')
                                    span(ng-if='!item.showingDetails') {{::$root.t('ShowOptions')}}
                                    span(ng-if='item.showingDetails') {{::$root.t('HideOptions')}}

                        section.dm-assignment__details.row-wrap(ng-if='item.showingDetails')
                            .dm-assignment__group.dm-assignment__details-group.margin-top-1.flex-full-33.padding-right-1
                                one-label-content(
                                    name='{{::$root.t("Deadline")}}'
                                    description='{{::$root.t("DeadlineWillBeSelectedDateAt1159PmUtc")}}'
                                    inline='true'
                                    )
                                    a.dm-assignment__group--action(
                                        ng-if='Items.length > 1'
                                        ng-click='ApplyToAll(["Deadline", "showingDetails"], item)'
                                        )
                                        | {{::$root.t('ApplyToAll')}}
                                downgrade-one-date-time-picker.datePicker.dm-assignment__deadline(
                                    [date-disable-until]="ProjectSettings.MinDate",
                                    [date-placeholder]="$root.t('EnterDeadlineDate')",
                                    [date-time-model]="item.Deadline",
                                    (on-change)="onDeadlineSelect($event.jsdate, item)",
                                )
                            .dm-assignment__group.dm-assignment__details-group.margin-top-1.flex-full-33.padding-right-1
                                one-label-content(
                                    name='{{::$root.t("Reminder")}}'
                                    description='{{::$root.t("TheseAreDefaultReminderSettings")}}'
                                    inline='true'
                                    )
                                    a.dm-assignment__group--action(
                                        ng-if='Items.length > 1'
                                        ng-click='ApplyToAll(["ReminderDays", "showingReminder", "showingDetails"], item)'
                                        )
                                        | {{::$root.t('ApplyToAll')}}
                                form.dm-assignment__toggle
                                    button.dm-assignment__toggle-checkbox(
                                        ng-click='toggleReminder(item)'
                                        ng-class='{"checked": item.showingReminder}'
                                        ng-disabled='!item.Deadline'
                                        )
                                        i.ot.ot-check
                                    input.dm-assignment__toggle-input.one-input(
                                        ng-if='item.showingReminder'
                                        type='number'
                                        ng-model='item.ReminderDays'
                                        min='1'
                                        max='99999999'
                                        ng-change='validateIfHasErrors(item, "reminder")'
                                        ng-class='{"has-errors": item.errors.reminder}'
                                        )
                                    span.dm-assignment__toggle-message
                                        span(ng-if='item.showingReminder') {{::$root.t('DaysBeforeDeadline')}}
                                        span(ng-if='!item.showingReminder || !item.Deadline') {{::$root.t('AddReminder')}}
                                p.dm-assignment__error.dm-assignment__error--small(ng-if='item.errors.reminder')
                                    | {{::$root.t("ReminderMustBeAtLeastOneDayInTheFuture")}}
                            .dm-assignment__group.dm-assignment__details-group.margin-top-1.flex-full-33(ng-if='NewInventory && canPrepopulate')
                                one-label-content(
                                    name='{{::$root.t("Prepopulate")}}'
                                    description='{{::$root.t("PrepopulateDescription")}}'
                                    inline='true'
                                    )
                                    a.dm-assignment__group--action(
                                        ng-if='Items.length > 1'
                                        ng-click='ApplyToAll(["Prepopulate", "showingDetails"], item)'
                                        )
                                        | {{::$root.t('ApplyToAll')}}
                                form.dm-assignment__toggle
                                    button.dm-assignment__toggle-checkbox(
                                        ng-click='togglePrepopulate(item)'
                                        ng-class='{"checked": item.Prepopulate}'
                                        )
                                        i.ot.ot-check
                                    span.dm-assignment__toggle-message
                                        span {{::$root.t('PrepopulateResponses')}}
                            .dm-assignment__group.dm-assignment__details-group.margin-top-1.flex-full-33.max-width-33
                                label.dm-assignment__label
                                    | {{::$root.t('Comments')}}
                                    span.dm-assignment__label-optional
                                        | &nbsp({{::$root.t('Optional')}})
                                    a.dm-assignment__group--action(
                                        ng-if='Items.length > 1'
                                        ng-click='ApplyToAll(["Comment", "showingDetails"], item)'
                                        )
                                        | {{::$root.t('ApplyToAll')}}
                                textarea.dm-assignment__comments(ng-model='item.Comment')

                .dm-assignment__submit
                    p.dm-assignment__submit-error.dm-assignment__error(ng-if='!canSubmit')
                        | {{::$root.t('ResolveErrorsAbove')}}
                    one-button.margin-left-auto.margin-right-1(
                        button-click="cancel()"
                        text="{{::$root.t('Cancel')}}"
                    )
                    one-button(
                        type="primary"
                        button-click="SendAssessments()"
                        is-disabled='!canSubmit'
                        identifier="sendAssessmentsButton"
                        text="{{::$root.t('SendAssessments')}}"
                    )

            .dm-assignment__success(
                ng-show='showingSuccessMessage'
                ng-class='{"is-showing": showingSuccessMessage}'
                )
                h3.dm-assignment__success-message
                    span.dm-assignment__success-count
                        | {{Items.length}}&nbsp;
                    span.dm-assignment__success-text(ng-if='Items.length > 1')
                        | {{::$root.t('AssessmentsSentSuccessfully')}}
                    span.dm-assignment__success-text(ng-if='Items.length === 1')
                        | {{::$root.t('AssessmentSentSuccessfully')}}
