<section class="flex-full-height height-100">
    <ot-page-header
        class="border-bottom"
        [title]="'ControlsLibrary' | otTranslate"
        type="clear"
    >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="ControlsPageBreadcrumbItemControls"
                link="zen.app.pia.module.risks.views.controls.library"
                [label]="'ControlsLibrary' | otTranslate"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                ot-auto-id="ControlsPageBreadcrumbItemControlsId"
                [label]="control?.identifier"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <ot-loading otPageLoading *ngIf="isLoading; else controlLoaded"></ot-loading>
    <ng-template #controlLoaded>
        <div class="paragraph-medium shadow-header background-white">
            <ot-tabs
                [tabs]="tabOptions"
                [selectedTab]="selectedTab"
                >
                <a
                    *otTabItem="let tab"
                    [attr.ot-auto-id]="tab.otAutoId"
                    (click)="onTabClick(tab)"
                    >
                    {{ tab.text }}
                </a>
            </ot-tabs>
        </div>
        <div class="column-nowrap full-size overflow-y-auto stretch-vertical">
            <ng-container [ngSwitch]="selectedTab">
                <control-details
                    class="flex-full-height"
                    *ngSwitchCase="ControlDetailsTabOptions.Details"
                    [editMode]="editMode"
                    [isEditable]="'ControlsLibraryEditControl' | otPermit"
                    [controlId]="controlId"
                    (toggleEdit)="setEditMode($event)"
                >
                </control-details>
            </ng-container>
        </div>
    </ng-template>
</section>
