<div
    class="padding-all-2 cursor-pointer row-vertical-center"
    (click)="cancel()"
>
    <i class="side-drawer__icon ot ot-arrow-circle-o-right margin-right-1"></i>
    <span [innerText]="'Close' | otTranslate"></span>
</div>
<one-filter
    class="flex-full-height"
    [fields]="fields"
    [getFieldLabelValue]="getFieldLabelValue"
    [getOperatorLabelValue]="getOperatorLabelValue"
    [currentOperators]="filterOperators"
    [currentValues]="currentFilterValues"
    [selectedFilters]="selectedFilters"
    [togglePopup$]="closeFilter$"
    [disableAddFilter]="selectedFilters.length >= fields.length"
    [disableVirtualScroll]="true"
    (addFilter)="addFilter($event)"
    (selectField)="setFilterValues($event)"
    (selectOperator)="selectOperator($event)"
    (applyFilters)="applyFilters($event)"
    (removeFilter)="removeFilter($event)"
    (removeAllFilters)="removeAllFilters()"
    (cancel)="cancel()"
></one-filter>
