<div class="ot-launcher__grid">
    <ng-container *ngFor="let menu of menus">
        <div *ngIf="menu.length" class="ot-launcher__grid-col">
            <ul>
                <li *ngFor="let item of menu">
                    <ng-container *ngIf="item.legacy === false; else legacyItem">
                        <a class="ot-launcher__link"
                            routerLinkActive="ot-launcher__link--active"
                            [class.opacity-60]="item.upgrade"
                            [attr.ot-auto-id]="item.id"
                            [routerLink]="[item.route, item.params]"
                            (click)="triggerItemAction(item); close();"
                            >
                            <div class="ot-launcher__link-icon">
                                <img [src]="item.icon" [alt]="item.title | translate">
                            </div>
                            <div class="ot-launcher__link-text row-space-between">
                                {{item.title | translate}}
                                <span *ngIf="item.upgrade" class="upgrade__icon"></span>
                            </div>
                        </a>
                    </ng-container>
                    <ng-template #legacyItem>
                        <a class="ot-launcher__link"
                            [class.ot-launcher__link--active]="isActive(item)"
                            [class.opacity-60]="item.upgrade"
                            [attr.ot-auto-id]="item.id"
                            [uiSref]="item.route"
                            [uiParams]="item.params"
                            [uiOptions]="item.options"
                            (click)="triggerItemAction(item); close();"
                            >
                            <div class="ot-launcher__link-icon">
                                <img [src]="item.icon" [alt]="item.title | translate">
                            </div>
                            <div class="ot-launcher__link-text row-space-between">
                                {{item.title | translate}}
                                <span *ngIf="item.upgrade" class="upgrade__icon"></span>
                            </div>
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </ng-container>
</div>
