<div class="padding-all-2 full-height-minus-5 overflow-y-auto stretch-vertical">
    <table
        *ngIf="archiveList.length"
        otDataTable
        class="position-relative"
        [rowData]="archiveList"
        [rowBordered]="true"
        [responsiveTable]="true"
        [sortKey]="sortKey"
        [sortOrder]="sortOrder"
        [sortable]="sortable"
        (sortChanged)="handleSortChange($event)"
    >
        <ng-container *ngFor="let column of archiveColumns; trackBy: trackByFn;">
            <ot-data-table-column
                [headerLabel]="column?.name"
                [sortable]="sortable && column?.sortKey"
                [sortKey]="column?.sortKey"
                [cellValueKey]="column?.cellValueKey"
                [column]="column"
                [wrapCellContent]="true"
            >
                <ng-template
                    otDataTableCell
                    let-row="row"
                >
                    <ng-container [ngSwitch]="column.type">
                        <ng-container *ngSwitchCase="columnTypes.PublishedDate">
                            {{row[column.cellValueKey] | otDate:'dateTime'}}
                        </ng-container>
                        <ng-container *ngSwitchCase="columnTypes.ReConsentRequired">
                            <div [innerText]="row[column.cellValueKey] ? ('Yes' | otTranslate) : ('No' | otTranslate)"></div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{row[column.cellValueKey]}}
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="column.type === columnTypes.Action">
                <ot-data-table-column
                    [headerLabel]="column.name"
                    [column]="column"
                >
                    <ng-template
                        otDataTableHeader
                        [thClass]="'float-col'"
                        [thStyle]="{'width': 0}"
                    ></ng-template>
                    <ng-template
                        otDataTableCell
                        let-row="row"
                        [tdClass]="'float-col'"
                    >
                        <ot-context-menu
                            class="position-relative"
                            [type]="2"
                            [menu]="contextMenuOptions"
                            [position]="'bottom-right'"
                        >
                            <i class="ot ot-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                class="text-medium-small"
                                [attr.ot-auto-id]="'CookieScriptArchive' + item.otAutoId + 'ContextMenuButton'"
                                (click)="item.action(row)"
                            >
                                {{item.text}}
                            </a>
                        </ot-context-menu>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
</div>
<ot-empty-state
    *ngIf="!archiveList.length"
    class="flex-full-height justify-center text-center margin-top-4"
    [emptyStateMessage]="'NoScriptArchives' | otTranslate"
>
    <img emptyStateImg />
</ot-empty-state>
