<div
    class="inventory-attribute-cell position-relative full-width border-radius"
    [ngClass]="borderClass"
    (mouseenter)="setBorderClasses(true)"
    (mouseleave)="setBorderClasses(false)"
    >
    <div *ngIf="attribute.fieldResponseTypeId && isEditing && canEdit">
        <section>
            <form
                tabindex="-1"
                class="inventory-attribute-cell__form full-width"
                *ngIf="isEditing"
                >
                <input
                    data-input="inputTypes.Text"
                    data-id="attr-edit_{{attribute.id}}"
                    class="inventory-attribute-cell__input full-width one-input"
                    *ngIf="attribute.fieldResponseTypeId === inputTypes.Text"
                    name="AttributeCellInput"
                    [ngModel]="cell?.values[0]?.value"
                    [disabled]="isDisabled"
                    (ngModelChange)="handleTextChange($event)"

                    />
                <ot-lookup
                    *ngIf="attribute.fieldResponseTypeId === inputTypes.Select && !isUserAttribute && !isOrgAttribute"
                    [disabled]="isDisabled"
                    [autoClose]="true"
                    [allowCustomOtherPill]="attribute.allowOther"
                    [model]="cell?.values && cell.values[0] && cell.values[0].value ? cell.values[0] : ''"
                    [options]="filteredOptions"
                    labelKey="value"
                    valueKey="valueId"
                    (modelChange)="handleSingleSelection($event)"
                    (inputChange)="handleInputChange($event.value)"
                    >
                </ot-lookup>
                <upgraded-one-multiselect
                    data-input="inputTypes.Multiselect"
                    class="inventory-attribute-cell__multiselect"
                    tabindex="-1"
                    *ngIf="attribute.fieldResponseTypeId === inputTypes.Multiselect && !isUserAttribute"
                    identifier="attr-edit_{{attribute.id}}"
                    [list]="options"
                    [labelKey]="'name'"
                    [openOnInit]="false"
                    [orderByLabel]="false"
                    [model]="multiSelectModel"
                    [allowOther]="attribute.allowOther"
                    [allowOtherLabel]="'Add' | otTranslate"
                    [allowEmpty]="true"
                    [emptyOptionText]="'- - - -'"
                    [emptyOptionLast]="emptyOptionLast"
                    [pillTabbing]="false"
                    [isDisabled]="isDisabled"
                    (handleSelect)="handleMultiSelection($event)"
                    (handleRemove)="handleMultiSelection($event)"
                    >
                </upgraded-one-multiselect>
                <ot-org-user
                    *ngIf="isUserAttribute"
                    [model]="userModel"
                    [orgId]="currentOrgId"
                    [allowEmail]="attribute.allowOther"
                    [traversal]="orgUserTraversal.Branch"
                    (onSelect)="handleUserSelection($event)"
                    >
                </ot-org-user>
                <org-select
                    *ngIf="isOrgAttribute"
                    class="inventory-attribute-cell__org-select"
                    [identifier]="'InventoryAttributeOrgSelect'"
                    [describedBy]="'InventoryAttributeOrgSelect'"
                    [model]="cell?.values[0]?.valueId"
                    [disabled]="isDisabled"
                    (onSelect)="handleOrgSelection($event)"
                ></org-select>
            </form>
        </section>
    </div>
    <div class="width-100-percent position-relative" *ngIf="!(attribute.fieldResponseTypeId && isEditing && canEdit)">
        <a
            *ngIf="cell.route && record.canEdit && (!isDetailsPage || !isNameAttribute)"
            class="text-link"
            (click)="goToRoute(cell)"
            >
            {{ cell.displayValue || "- - - -"}}
            </a>
        <span *ngIf="!cell.route || (isDetailsPage && isNameAttribute) || (!record.canEdit && (isNameAttribute || isStatusAttribute))">
            {{  cell.displayValue || "- - - -"}}
        </span>
        <i
            class="ot ot-edit position-absolute right-0 top-half remove-anchor-style"
            *ngIf="isHovering && canEdit"
            (click)="cellToggleEdit()"
            >
        </i>
        <i
            class="ot ot-lock position-absolute right-0 top-half remove-anchor-style"
            *ngIf="isHovering && !canEdit"
            [otTooltip]="{content: popoverTooltip, placement: 'top', delay: 200}"
            (click)="cellCallback(attribute.fieldAttributeCode)"
            >
            <ng-template #popoverTooltip *ngIf="disabledTooltip">
                <span>{{disabledTooltip}}</span>
            </ng-template>
        </i>
    </div>
</div>
