.inventory-attribute-cell {
    .one-input {
        height: 3.2rem;
    }

    .one-multiselect {
        padding: 0 !important;

        .ui-select-match {
            padding: .3rem 0 .1rem .5rem;
        }

        .ui-select-search {
            padding-left: .5rem;
        }
    }
}