
<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="inventory-add-modal__content">
        <ot-loading
            otPageLoading
            class="flex-full-height"
            *ngIf="isLoadingUsers; else showForm"
        ></ot-loading>
        <ng-template #showForm>
            <inventory-form
                [ngClass]="{'height-100': isSaving}"
                [isEditable]="true"
                [inventoryId]="newInventorySchemaIds[otModalData.inventoryId]"
                [loadDataFromStore]="true"
                [context]="inventoryContexts.Add"
                >
            </inventory-form>
            <div
                class="padding-top-bottom-2"
                *ngIf="canLaunch && !isSaving"
                >
                <ot-checkbox
                    class="inline margin-right-half"
                    ot-auto-id="SendAssessmentAfterSave"
                    (toggle)="toggleSendAssessment($event)"
                    >
                </ot-checkbox>
                <label class="media-bottom text-normal">{{ 'SendAssessmentAfterSave' | otTranslate }}</label>
            </div>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="AddInventoryCloseModalButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        neutral
        ot-auto-id="AddInventorySaveAndAddNewButton"
        [loading]="isSaving"
        [disabled]="isSaving || !recordIsValid || !usersValid  || sendAssessment"
        (click)="saveAndAddNew()"
        >
        {{ 'SaveAndAddNew' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="AddInventorySaveButton"
        [loading]="isSaving"
        [disabled]="isSaving || !recordIsValid || !usersValid"
        (click)="saveAndClose()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
