<div class="question__multi">

    <aa-invalid-response
        *ngIf="invalidResponses?.length"
        [question]="question"
        [subQuestion]="subQuestion"
        [responses]="invalidResponses"
        [valueKey]="'response'"
        [wrapperClass]="'margin-bottom-1'"
    ></aa-invalid-response>

    <p *ngIf="question.attributes?.isMultiSelect" class="margin-bottom-1">{{"SelectAllThatApply" | otTranslate}}</p>
    <div class="aa-question__multichoice">
        <ng-container *ngFor="let option of options; let optionIndex = index; trackBy: trackByIndex">
            <!-- Default Options -->
            <div
                *ngIf="option.optionType === 'DEFAULT'"
                class="aa-question__button aa-question__button--multi"
                [otTooltip]="option.attributes?.hint">
                <button
                    class="full-width"
                    [ngClass]="{'aa-question__button--invalid': option.valid === false}"
                    otButton neutral
                    [attr.ot-auto-id]="'AssessmentQuestionDetail_Option_' + optionIndex"
                    [disabled]="disabled"
                    [innerText]="option.translatedOption"
                    [select]="option.selected"
                    (click)="onMultichoiceChange(option)"
                ></button>
            </div>
            <!-- NotSure / NotApplicable -->
            <div *ngIf="(option.optionType !== 'DEFAULT' && option.optionType !== 'OTHERS')" class="aa-question__button aa-question__button--multi">
                <button
                    class="full-width"
                    [ngClass]="{'aa-question__button--invalid': option.valid === false}"
                    otButton neutral
                    [attr.ot-auto-id]="option.option"
                    [disabled]="disabled"
                    [innerText]="option.option | otTranslate"
                    [select]="option.selected"
                    (click)="onNotSureNotApplicableChange(option)"
                ></button>
            </div>
            <!-- Other for Standard Questions -->
            <ng-container *ngIf="!isSubQuestion && option.optionType === 'OTHERS'">
                <ng-container *ngFor="let responseId of question?.responses?.allIds; trackBy: trackByIndex">
                    <div
                        *ngIf="(question.responses.byId[responseId].type === 'OTHERS' && question.responses.byId[responseId].response)"
                        class="aa-question__button aa-question__button--multi"
                    >
                        <one-editable-button
                            [buttonClass]="'full-width'"
                            [disabled]="disabled"
                            [model]="question.responses.byId[responseId].response"
                            [modelFromParent]="true"
                            (onChange)="onOtherChange($event, responseId, question.responses.byId[responseId].response)"
                        ></one-editable-button>
                    </div>
                </ng-container>

                <div
                    *ngIf="question.attributes?.isMultiSelect || shouldShowOtherOption(question)"
                    class="aa-question__button aa-question__button--multi"
                >
                    <one-editable-button
                        [buttonClass]="'full-width'"
                        [disabled]="disabled"
                        [modelFromParent]="true"
                        (onChange)="onOtherChange($event)"
                    ></one-editable-button>
                </div>
            </ng-container>
        </ng-container>

        <!-- Other for Sub Questions (Attribute) -->
        <ng-container *ngIf="isSubQuestion && question.attributes?.allowOther">
            <ng-container *ngFor="let responseId of subQuestion?.responses?.allIds; trackBy: trackByIndex">
                <div
                    *ngIf="(subQuestion.responses?.byId[responseId].type === 'OTHERS' && subQuestion.responses?.byId[responseId].response)"
                    class="aa-question__button aa-question__button--multi"
                >
                    <one-editable-button
                        [buttonClass]="'full-width'"
                        [disabled]="disabled"
                        [model]="subQuestion.responses?.byId[responseId].response"
                        [modelFromParent]="true"
                        (onChange)="onOtherChange($event, responseId, subQuestion.responses.byId[responseId].response)"
                    ></one-editable-button>
                </div>
            </ng-container>

            <ng-container>
                <div
                    *ngIf="question.attributes?.isMultiSelect || shouldShowOtherOptionSubQuestion(subQuestion)"
                    class="aa-question__button aa-question__button--multi"
                >
                    <one-editable-button
                        [buttonClass]="'full-width'"
                        [disabled]="disabled"
                        [modelFromParent]="true"
                        (onChange)="onOtherChange($event)"
                    ></one-editable-button>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
