<ot-loading otPageLoading
    *ngIf="isLoading; else formSection"
    class="flex-full-height justify-center margin-top-bottom-5">
</ot-loading>
<ng-template #formSection>
    <ot-modal-header (close)="closeModal()">
        <div>{{ 'CreateNewWorkflow' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <form [formGroup]="workflowForm" class="dsarWorkflowCreateModal">
            <ng-container *ngFor="let data of formData">
                <ng-container [ngSwitch]="data.type">
                    <div otFormElement
                        *ngSwitchCase="formDataTypes.TEXT"
                        class="margin-bottom-1"
                        [label]="data.label | otTranslate"
                        [required]="data.isRequired"
                        [hasError]="!workflowForm.get(data.name).valid && workflowForm.get(data.name).dirty"
                        >
                        <input
                            class="full-width"
                            otInput
                            [formControlName]="data.name"
                            [attr.ot-auto-id]="'DSARWorkflow' + data.name + 'input'"
                        />
                    </div>
                    <div otFormElement
                        *ngSwitchCase="formDataTypes.SELECT"
                        class="margin-bottom-2"
                        [label]="data.label | otTranslate"
                        [required]="data.isRequired"
                        >
                        <ot-lookup
                            placeholder="- - - -"
                            [allowHint]="false"
                            [autoClose]="true"
                            [clearInputOnModelChange]="false"
                            [labelKey]="data.labelKey"
                            [valueKey]="data.valueKey"
                            [attr.ot-auto-id]="'DSARWorkflow' + data.name + 'lookup'"
                            [model]="workflowForm.get('defaultWorkflow').value"
                            [multiSelect]="false"
                            [options]="showAllWorkflows ? data.options : data.optionsLookup"
                            (modelChange)="updateField($event, data.name)"
                            (inputChange)="onInputChange($event, data.name)"
                        ></ot-lookup>
                    </div>
                </ng-container>
            </ng-container>
        </form>
    </ot-modal-content>
    <ot-modal-footer>
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="DSARWorkflowCreateCancelButton"
            [disabled]="isLoading || isSubmitting"
            (click)="closeModal()"
            >
            {{ 'Cancel' | otTranslate }}
        </button>
        <button
            otButton
            brand
            ot-auto-id="DSARWorkflowCreateSubmitButton"
            [loading]="isLoading || isSubmitting"
            [disabled]="!workflowForm.valid || isLoading || isSubmitting"
            (click)="handleSubmit()"
            >
            {{ 'Create' | otTranslate }}
        </button>
    </ot-modal-footer>
</ng-template>
