<table
    otDataTable
    [rowData]="tableData"
    [rowBordered]="true">
    <ng-container *ngFor="let col of columns; trackBy: trackByFn">
        <ot-data-table-column
            [headerLabel]="col.columnName"
            [cellValueKey]="col.cellValueKey"
            [column]="col"
            >
            <ng-template otDataTableHeader
                *ngIf="col.cellValueKey !== 'assessmentName'"
                [thClass]="'text-center'">
                <div [title]="col.columnName">
                    <span
                        class="slds-truncate text-bold align-center"
                        [innerText]="col.columnName"
                    ></span>
                </div>
            </ng-template>
            <ng-template otDataTableCell
                let-row="row"
                >
                <ng-container [ngSwitch]="col.cellValueKey">
                    <ng-container *ngSwitchCase="tableColumnKeys.Id">
                        <div class="text-center">
                            {{ row[col.cellValueKey] }}
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.AssessmentName">
                        <div class="text-bold">
                            <a
                                [href]="row.assessmentId ? routeToAssessmentLink(row.assessmentId) : routeToAssessmentLink(row.id)"
                                (click)="closeRelatedAssessmentModal()">
                                {{ row[col.cellValueKey] }}
                            </a>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.TemplateName">
                        <div class="text-center">
                            {{ row[col.cellValueKey] }}
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.AssessmentStatus">
                        <div class="text-center">
                            <span
                                [otBadge]="row[col.cellValueKey] | badgeColor: badgeColorMap"
                                [innerText]="row[col.cellValueKey] | badgeLabel | otTranslate"
                            ></span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.Status">
                        <div class="text-center">
                            <span
                                [otBadge]="row[col.cellValueKey] | badgeColor: badgeColorMap"
                                [innerText]="row[col.cellValueKey] | badgeLabel | otTranslate"
                            ></span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.ParentAssessmentName">
                        <div class="text-center">
                            <a *ngIf="row[col.cellValueKey];else noParentAssessment"
                                class="text-bold"
                                (click)="routeToAssessment(row.parentAssessmentId)"
                                >
                                {{ row[col.cellValueKey] }}
                            </a>
                            <ng-template #noParentAssessment>
                                {{ "- - - -" }}
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tableColumnKeys.Relationship">
                        <div class="text-center">
                            {{ row[col.cellValueKey] }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>
        </ot-data-table-column>
    </ng-container>
</table>
