<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData.title }}</div>
</ot-modal-header>
<ot-modal-content>
    <form
        novalidate
        class="margin-none"
        [formGroup]="categoryFormGroup"
    >
        <ng-container *ngFor="let field of categoryFormConfig">
            <div otFormElement
                class="margin-top-2"
                [label]="field?.labelKey ? (field.labelKey | otTranslate) : field.label"
                [required]="field?.isRequired"
                [hasError]="field?.hasError || (!categoryFormGroup.get(field.controlName).valid && categoryFormGroup.get(field.controlName).dirty)"
                [errorMessage]="field?.errorMessage"
            >
                <input
                    class="full-width"
                    otInput
                    [type]="field?.inputType"
                    [formControlName]="field.controlName"
                    [attr.ot-auto-id]="field.otAutoId"
                    [placeholder]="field?.placeholderKey ? (field.placeholderKey | otTranslate) : field.placeholder"
                />
            </div>
        </ng-container>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="CookieCategoryDetailModalCloseButton"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="CookieCategoryDetailModalSubmitButton"
        [disabled]="categoryFormGroup.invalid"
        (click)="submitModal()"
        >
        {{ 'Create' | otTranslate }}
    </button>
</ot-modal-footer>
