<section class="full-size column-nowrap">
    <ot-page-header
        class="margin-bottom-1"
        [title]="'InventorySettings' | otTranslate"
        type="clear"
        >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="isLoading; else settings">
        {{ 'Loading' | otTranslate }}...
    </ot-loading>
    <ng-template #settings>
        <div otSettingContainer
            class="stretch-vertical overflow-y-auto"
            >
            <ng-container *ngIf="inventorySettings.length">
                <h4 class="margin-top-bottom-0">{{ "AccessControl" | otTranslate }}</h4>
                <hr class="margin-top-bottom-1" />
                <ng-container  *ngFor="let setting of inventorySettings; index as i; trackBy: getSettingName">
                    <div class="margin-top-bottom-2">
                        <ot-setting
                            *ngIf="setting.valueType === inventorySettingValueTypes.Boolean"
                            [title]="settingDetails[setting.name].titleKey | otTranslate"
                            [description]="settingDetails[setting.name].descriptionKey | otTranslate"
                            >
                            <ot-toggle
                                [attr.ot-auto-id]="settingDetails[setting.name].otAutoId"
                                [checked]="setting.value"
                                [disabled]="isSaving || isLoading"
                                (toggle)="updateSetting(i, !setting.value)"
                                >
                            </ot-toggle>
                        </ot-setting>
                    </div>
                </ng-container>
                <h4 class="margin-top-bottom-0">{{ "InventoryStatus" | otTranslate }}</h4>
                <hr class="margin-top-bottom-1" />
                <ng-container *ngFor="let setting of inventorySettings; index as i; trackBy: getSettingName">
                    <div class="margin-top-bottom-2">
                        <ot-setting
                            *ngIf="setting.name === inventorySettingNames.AssessmentDefaultInventoryStatus"
                            [title]="settingDetails[setting.name].titleKey | otTranslate"
                            [description]="settingDetails[setting.name].descriptionKey | otTranslate"
                            >
                            <form>
                                <div otFormElement>
                                    <ot-picklist
                                        [attr.ot-auto-id]="settingDetails[setting.name].otAutoId"
                                        [options]="setting.options"
                                        [model]="setting.selectedOption"
                                        [multiSelect]="false"
                                        [autoClose]="true"
                                        [disabled]="isSaving || isLoading"
                                        (onSelect)="updateSetting(i, $event.value, $event)"
                                        >
                                    </ot-picklist>
                                </div>
                            </form>
                            <ot-setting
                                [title]="'StatusDescription' | otTranslate"
                                [description]="inventoryStatusDescTranslationKeys[setting.value] | otTranslate"
                                >
                            </ot-setting>
                        </ot-setting>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!inventorySettings.length">
                <h3 class="row-horizontal-center">{{"NoSettingsAvailable" | otTranslate }}</h3>
            </ng-container>
        </div>
    </ng-template>
    <footer otPageFooter>
        <button otButton brand
            ot-auto-id="SettingsInventorySaveButton"
            [disabled]="isSaving || !inventorySettings?.length || !hasChange"
            (click)="saveSetting()"
            >
            {{ 'Save' | otTranslate }}
        </button>
    </footer>
</section>
