<div class="height-100 full-width column-horizontal-center mobile-sdk-container">
    <section class="padding-all-2 full-width text-center column-horizontal-center">
        <section class="width-55 text-left margin-top-bottom-3 margin-left-right-auto">
            <p>{{"MobileSDKDescription" | otTranslate}}</p>
        </section>
        <h3 class="heading3 text-thin text-left width-75">{{ "APIInformation" | otTranslate }}
            <i class="fa fa-fw no-outline align-right collapse-icon-big"
                [ngClass]="{'ot-chevron-down': apiIsExpanded, 'ot-chevron-right': !apiIsExpanded }"
                (click)="onToggleApi()"></i>
        </h3>
        <hr class="width-75" />
        <section
            [hidden]="!apiIsExpanded"
            class="width-75 margin-left-right-auto text-left">
            <div class="text-bold margin-top-2">{{'YourPreferenceCenterUrl' | otTranslate}}</div>
            <p *ngIf="sdksetting" class="text-link" [innerText]="sdksetting?.mobileSDK?.preferenceCenterUrl"></p>
        <section
            [hidden]="!apiIsExpanded"
            class="width-75 margin-left-right-auto text-left">
            <div class="text-bold margin-top-2">{{'YourDataSubjectUrl' | otTranslate}}</div>
            <p *ngIf="sdksetting" class="text-link" [innerText]="sdksetting?.mobileSDK?.dataSubjectUrl"></p>
        </section>
        <section
            [hidden]="!apiIsExpanded"
            class="width-75 margin-left-right-auto text-left">
            <div class="text-bold margin-top-2">{{'YourAuthorizationUrl' | otTranslate}}</div>
            <p *ngIf="sdksetting" class="text-link" [innerText]="sdksetting?.mobileSDK?.authorizationUrl"></p>
        </section>
            <section *ngIf="preferenceCenterId">
                <div class="text-bold text-left margin-top-2">{{'YourPreferenceId' | otTranslate}}</div>
                <upgraded-prettify class="text-left pretty-print-background border-radius">
                    <p [innerText]="preferenceCenterId" class="margin-all-0 word-break-all"></p>
                </upgraded-prettify>
                <div class="row-horizontal-right margin-top-1 text-right">
                    <button otButton neutral (click)="copyItem(preferenceCenterId, 'PrefIdCopied')">{{'Copy' | otTranslate}}</button>
                </div>
            </section>
            <section *ngIf="organizationId">
                <div class="text-bold text-left margin-top-2">{{'YourOrganizationId' | otTranslate}}</div>
                <upgraded-prettify class="text-left pretty-print-background border-radius">
                    <p [innerText]="organizationId" class="margin-all-0 word-break-all"></p>
                </upgraded-prettify>
                <div class="row-horizontal-right margin-top-1 text-right">
                    <button otButton neutral (click)="copyItem(organizationId, 'OrgIdCopied')">{{'Copy' | otTranslate}}</button>
                </div>
            </section>
        </section>
        <h3 class="heading3 text-thin text-left width-75">{{'SDKInformation' | otTranslate}}
            <i class="fa fa-fw no-outline align-right collapse-icon-big"
                [ngClass]="{'ot-chevron-down': sdkIsExpanded, 'ot-chevron-right': !sdkIsExpanded }"
                (click)="onToggleSdk()"></i>
        </h3>
        <hr class="width-75" />
        <section
            class="width-75"
            [hidden]="!sdkIsExpanded">
            <section *ngIf="sdksetting">
                <div class="ot-setting-container text-left width-75">
                    <ot-setting
                        [title]="'iOS' | otTranslate"
                        [description]="'iOSDescription' | otTranslate">
                        <button
                            otButton
                            neutral
                            type="submit"
                            ot-auto-id="CollectionPointIOSDownloadBtn"
                            [loading]="isDownloading && filename===sdkFileNames.IOSSdk"
                            (click)="downloadSdk(sdkFileNames.IOSSdk)"
                        >{{'Download' | otTranslate}}</button>
                    </ot-setting>
                </div>
                <div class="ot-setting-container text-left">
                    <ot-setting
                        [title]="'Android' | otTranslate"
                        [description]="'AndroidDescription' | otTranslate">
                        <button
                            otButton
                            neutral
                            type="submit"
                            ot-auto-id="CollectionPointAndroidDownloadBtn"
                            [loading]="isDownloading && filename===sdkFileNames.AndroidSdk"
                            (click)="downloadSdk(sdkFileNames.AndroidSdk)"
                        >{{'Download' | otTranslate}}</button>
                    </ot-setting>
                </div>
                <div class="ot-setting-container text-left">
                    <ot-setting
                        [title]="'tvOS' | otTranslate"
                        [description]="'tvOSDescription' | otTranslate">
                        <button
                            otButton
                            neutral
                            type="submit"
                            ot-auto-id="CollectionPointTvOSDownloadBtn"
                            [loading]="isDownloading && filename===sdkFileNames.TvOSSdk"
                            (click)="downloadSdk(sdkFileNames.TvOSSdk)"
                        >{{'Download' | otTranslate}}
                    </button>
                    </ot-setting>
                </div>
            </section>
        </section>
    </section>
</div>
