<div class="height-100 full-width column-horizontal-center overflow-y-auto cr-dashboard">
    <ot-loading otPageLoading *ngIf="!transaction"></ot-loading>

    <cr-header
        *ngIf="transaction"
        [title]="'TransactionDetails' | otTranslate"
        [parentLabel]="'Transactions' | otTranslate"
        [parentRoute]="'zen.app.pia.module.consentreceipt.views.transactions.list'"
    ></cr-header>

    <section *ngIf="transaction"
        class="full-width border-bottom padding-left-right-3 padding-bottom-1 align-center background-white"
        >
        <h4 class="text-small text-uppercase margin-top-2 margin-bottom-0">{{ 'DataSubjectIdentifier' | otTranslate }}</h4>
        <h3 class="color-green margin-top-half">{{ transaction.Identifier }}</h3>
    </section>

    <section *ngIf="transaction" class="full-width">
        <div class="full-width padding-top-2 padding-left-right-2 row-wrap dashboard-container">
            <div class="dashboard-item stretch-horizontal">
                <h2 class="dashboard-item__heading">
                    {{ 'Status' | otTranslate }}
                </h2>
                <div class="dashboard-item__count text-center margin-top-2 column-vertical-center {{transactionStatusStyle(transaction.ReceiptStatus)}}">
                    <h4 class="dashboard-item__count-sub-heading dashboard-item__count-sub-heading--status padding-all-1">
                        {{ transaction.ReceiptStatus | consentTranslateStatus: crConstants.CRReceiptStatus }}
                        <div
                            *ngIf="transaction.WithdrawalDate"
                            class="text-medium padding-top-1"
                            >
                            <span>{{ transaction.WithdrawalDate ? (transaction.WithdrawalDate | otDate:'datetime') : "- - - -" }}</span>
                        </div>
                    </h4>
                </div>
            </div>
            <div class="dashboard-item stretch-horizontal">
                <h2 class="dashboard-item__heading">
                    {{ 'IssueDate' | otTranslate }}
                </h2>
                <div class="dashboard-item__count text-center margin-top-2 column-vertical-center inverse-green">
                    <h4 class="dashboard-item__count-sub-heading dashboard-item__count-sub-heading--date padding-all-1">
                        <span>{{ transaction.IssueDate ? (transaction.IssueDate | otDate:'datetime') : "- - - -" }}</span>
                    </h4>
                </div>
            </div>
            <div class="dashboard-item stretch-horizontal">
                <h2 class="dashboard-item__heading">
                    {{ 'ExpiryDate' | otTranslate }}
                </h2>
                <div class="dashboard-item__count text-center margin-top-2 column-vertical-center inverse-green">
                    <h4 class="dashboard-item__count-sub-heading dashboard-item__count-sub-heading--date padding-all-1">
                        <span *ngIf="transaction.ExpiryDate">{{ transaction.ExpiryDate | otDate:'datetime' }}</span>
                        <span *ngIf="!transaction.ExpiryDate">{{'ConsentExpiryNone' | otTranslate}}</span>
                    </h4>
                </div>
            </div>
        </div>

        <section class="full-width">
            <div class="full-width padding-top-1 padding-left-right-2 row-flex-start dashboard-container">
                <div class="dashboard-item stretch-horizontal">
                    <h3 class="heading3 text-thin margin-top-0">{{'Details' | otTranslate}}</h3>

                    <ot-loading
                        class="margin-all-2"
                        *ngIf="!collectionPoint"
                    ></ot-loading>

                    <div *ngIf="collectionPoint">
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'TransactionId' | otTranslate"
                            >
                            <span class="color-green">{{ transaction.Id }}</span>
                        </div>
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'ReceiptId' | otTranslate"
                            >
                            <span class="color-green">{{ transaction.ReceiptId }}</span>
                        </div>
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'CollectionPoint' | otTranslate"
                            >
                            <a (click)="goToDetails('collections.details', collectionPoint.Id, collectionPoint.Version)">
                                {{ collectionPoint.Name }} ({{ collectionPoint.Version | consentVersionLabel }})
                            </a>
                        </div>
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'Purpose' | otTranslate"
                            >
                            <a (click)="goToDetails('purposes.details', transaction.PurposeId, transaction.Purpose.Version)">
                                {{ transaction.PurposeName }} ({{ transaction.Purpose.Version | consentVersionLabel }})
                            </a>
                        </div>
                        <div otFormElement
                            class="margin-bottom-1"
                            [label]="'TypeOfConsent' | otTranslate"
                            >
                            <span>
                                {{ (collectionPoint.ConsentType | consentTranslateStatus: crConstants.CRConsentTypes) || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="showReferrer"
                            class="margin-bottom-1"
                            [label]="'ReferrerUrl' | otTranslate"
                            >
                            <span>
                                {{ collectionPoint.WebFormUrl || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.ReceiptStatus === crConstants.CRReceiptStatus.Withdrawn"
                            class="margin-bottom-1"
                            [label]="'WithdrawnBy' | otTranslate"
                            >
                            <span>
                                {{ transaction.WithdrawnBy || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.ReceiptStatus === crConstants.CRReceiptStatus.Withdrawn"
                            class="margin-bottom-1"
                            [label]="'Notes' | otTranslate"
                            >
                            <span>
                                {{ transaction.Notes || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.Origin"
                            class="margin-bottom-1"
                            [label]="'Origin' | otTranslate"
                            >
                            <span>
                                {{ transaction.Origin || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.Origin"
                            class="margin-bottom-1"
                            [label]="'ImportedBy' | otTranslate"
                            >
                            <span>
                                {{ transaction.ImporterId || "- - - -" }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.DoubleOptIn"
                            class="margin-bottom-1"
                            [label]="'DoubleOptInActivationDate' | otTranslate"
                            >
                            <span>{{ transaction.ActivationDate ? (transaction.ActivationDate | otDate:'datetime') : "- - - -" }}</span>
                        </div>
                        <div otFormElement
                            *ngIf="dataElementsList"
                            class="margin-bottom-1"
                            [label]="'DataElements' | otTranslate"
                            >
                            <span>
                                {{ dataElementsList }}
                            </span>
                        </div>
                        <div otFormElement
                            *ngIf="transaction.CustomPayload"
                            class="margin-bottom-1"
                            [label]="'CustomPayload' | otTranslate"
                            >
                            <span *ngIf="customPayloadIsString">
                                {{ transaction.CustomPayload }}
                            </span>
                            <table otDataTable
                                *ngIf="!customPayloadIsString"
                                [rowData]="getCustomProperties()"
                                >
                                <ot-data-table-column>
                                    <ng-template otDataTableHeader [thStyle]="{ 'height': '0' }"></ng-template>
                                    <ng-template otDataTableCell let-row="row" [tdClass]="'width-30-percent'">
                                        {{ row.key }}
                                    </ng-template>
                                </ot-data-table-column>
                                <ot-data-table-column>
                                    <ng-template otDataTableHeader [thStyle]="{ 'height': '0' }"></ng-template>
                                    <ng-template otDataTableCell let-row="row" [tdClass]="'width-70-percent'">
                                        {{ row.value }}
                                    </ng-template>
                                </ot-data-table-column>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section *ngIf="showPreferences" class="full-width">
            <ng-container *ngIf="transaction.Purpose.Topics.length || transaction.Purpose.CustomPreferences.length">
                <div class="full-width padding-top-1 padding-left-right-2 row-flex-start dashboard-container">
                    <div class="dashboard-item stretch-horizontal">
                        <h3 class="heading3 margin-top-0 text-thin">
                            {{ 'Preferences' | otTranslate }}
                        </h3>

                        <cr-data-subject-preferences
                            [preferences]="transaction.Preferences"
                            [topics]="transaction.Purpose.Topics"
                        ></cr-data-subject-preferences>

                        <div class="margin-top-2">
                            <cr-consented-custom-preferences-options
                                [customPreferencesOptionsConsented]="transaction.CustomPreferences"
                                [customPreferences]="transaction.Purpose.CustomPreferences"
                            >
                            </cr-consented-custom-preferences-options>
                        </div>
                    </div>
                </div>
            </ng-container>
        </section>
    </section>
</div>
