.gra-seeded-template-card {
    height: 23rem;
    width: 25rem;
    border-color: $platinum;

    &__heading {
        max-height: 7rem;
    }

    &__description {
        max-height: 9.5rem;
    }
}
