<div
    class="
        flex
        flex-column
        gra-seeded-template-card
        column-horizontal-center
        shadow8
        border
        border-radius-5
        background-white
        margin-all-1
        padding-all-1"
        >
    <div
        class="
            gra-seeded-template-card__heading
            overflow-hidden
            flex
            text-bold
            text-medium
            text-center
            max-width-20
            padding-bottom-1"
        [deprecatedOtTooltip]="seededTemplateDetails.name"
        >
        <p>{{ seededTemplateDetails.name }}</p>
    </div>
    <div
        class="
            gra-seeded-template-card__description
            flex
            flex-full-height
            text-small
            text-center
            max-width-20
            overflow-hidden
            margin-bottom-1"
        [deprecatedOtTooltip]="seededTemplateDetails.description"
        >
        <p>{{ seededTemplateDetails.description }}</p>
    </div>
    <button otButton brand
        class="align-center padding-left-right-4"
        [attr.ot-auto-id]="seededTemplateDetails.id+'_GRAStartReadinessButton'"
        [innerText]="'Start' | translate"
        (click)="onStartClick()"
    ></button>
</div>
