<div
    *ngIf="isLoading; else metrics"
    class="column-horizontal-vertical-center min-height-20"
>
    <ot-loading>
        {{'LoadingMetrics' | otTranslate}}
    </ot-loading>
</div>
<ng-template #metrics>
    <div class="height-100 column-horizontal-vertical-center margin-left-right-1">
        <ot-grid>
            <ng-container *ngFor="let cardRow of cards">
                <ot-grid-row class="margin-bottom-1" [ngClass]="{'justify-center': cardRow.length === 1}">
                    <ng-container *ngFor="let card of cardRow">
                        <ot-grid-column [span]="6">
                            <ot-count-card
                                [amount]="card?.amount"
                                [title]="card?.title"
                                [description]="card?.description"
                                [size]="card?.size"
                                [color]="card?.color"
                                [maxHeight]="card?.maxHeight"
                                [maxWidth]="card?.maxWidth"
                            ></ot-count-card>
                        </ot-grid-column>
                    </ng-container>
                </ot-grid-row>
            </ng-container>
        </ot-grid>
    </div>
</ng-template>


