<div class="height-100 full-width column-horizontal-center">
    <section class="full-width flex-full-height">
        <ng-container *ngIf="(privacyNotice$ | async) as privacyNotice">
            <privacy-notice-header
                [privacyNotice]="privacyNotice"
                [editingMode]="selectedEditingMode"
                [actionInProgress]="(isActionInProgress$ | async)"
                [hasPendingChanges]="(hasPendingChanges$ | async)"
                (onSaveRequested)="onSaveRequested()"
                (onPublishRequested)="onPublishRequested($event)"
                (onCreateNewVersionRequested)="onCreateNewVersionRequested($event)"
                (editingModeToggled)="onEditModeChanged($event)"
                (onResetRequested)="onResetRequested()"
                (toggleDrawer)="toggleDrawer()"
            ></privacy-notice-header>
            <ot-tabs
                [tabs]="tabs"
                [selectedTab]="currentTab"
            >
                <a *otTabItem="let tab" (click)="tab.action(tab)">
                    {{ tab.text }}
                </a>
            </ot-tabs>
            <div otDrawerContainer class="flex-full-height">
                <privacy-notice-versions
                    [privacyNotice]="privacyNotice"
                    [drawerOpen]="drawerOpen"
                    (onDeleteRequested)="onDeleteRequested($event)"
                    (onChangeVersionRequested)="goToVersion($event)"
                    (toggleDrawer)="toggleDrawer()"
                ></privacy-notice-versions>
                <!-- TODO: create privacy-notice-ribbon -->
                <privacy-notice-builder
                    *ngIf="currentTab === policyConstants.PrivacyNoticeTabs.Builder"
                    class="flex-full-height"
                    [editingMode]="selectedEditingMode"
                    [privacyNotice]="privacyNotice"
                ></privacy-notice-builder>
                <privacy-notice-integrations
                    *ngIf="currentTab === policyConstants.PrivacyNoticeTabs.Integrations"
                    class="flex-full-height"
                    [privacyNotice]="privacyNotice"
                ></privacy-notice-integrations>
                <!-- TODO: create privacy-notice-settings -->
                <!-- <privacy-notice-settings
                    *ngIf="currentTab === policyConstants.PrivacyNoticeTabs.Settings"
                    class="flex-full-height"
                    [privacyNotice]="privacyNotice"
                ></privacy-notice-settings> -->
            </div>
        </ng-container>
    </section>
</div>
