<!-- TODO: Uncomment once search in scope -->
<div class="padding-left-right-2">
    <ot-search-input
        class="full-width"
        [placeholder]="'Search' | translate"
    ></ot-search-input>
</div>
<div class="margin-top-bottom-3 margin-left-right-2 border-bottom"></div>
<div class="overflow-y-auto padding-left-right-2 padding-bottom-3">
    <ng-container *ngFor="let rule of ruleForms; trackBy: trackByFn; let i = index;">
        <rules-side-menu-item
            [rule]="rule"
            [index]="i"
            [ruleContext]="ruleContext"
            [itemConfig]="itemConfig"
        ></rules-side-menu-item>
    </ng-container>
</div>
