<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalData.modalTitle | translate"
    [identifier]="'GlobalReadinessStartAssessmentModalCloseButton'"
    (close)="closeModal()"
>
    <!-- body -->
    <section class="padding-all-2">
        <div
            otFormElement
            [label]="'Name' | translate"
            [required]="true">
            <input
                otInput
                ot-auto-id="GRAStartAssessmentModalNameField"
                [placeholder]="'AssessmentName' | translate"
                [ngModel]="this.modalData.startAssessmentRequest.name"
                (keyup)="saveModel($event)"
            />
        </div>
        <footer class="margin-top-half row-flex-end static-vertical padding-top-1 padding-right-0">
            <button
                otButton
                neutral
                class="margin-right-1 border-none"
                ot-auto-id="GRAStartAssessmentModalCancelButton"
                [innerText]="'Cancel' | translate"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                brand
                class="margin-right-1"
                ot-auto-id="GRAStartAssessmentModalStartButton"
                [innerText]="'Start' | translate"
                [disabled]="isStartButtonDisabled || isStartingAssessment"
                (click)="onStart()"
            ></button>
        </footer>
    </section>
</one-modal-base>
