<section class="column-nowrap height-100 text-color-default">
    <ot-page-header
        [title]="'RiskRegister' | otTranslate"
        >
        <button otButton brand
            ot-auto-id="RiskRepositoryExportButton"
            [innerText]="'Export' | otTranslate"
            (click)="handleExportClick()">
        </button>
    </ot-page-header>
    <div class="background-grey border-bottom padding-top-bottom-half row-flex-end static-vertical">
        <ot-search-input
            class="margin-right-1"
            ot-auto-id="RiskRepositorySearchInput"
            [placeholder]="'Search' | otTranslate"
            (search)="handleSearch($event)">
        </ot-search-input>
        <button otButton
            ot-auto-id="RiskRepositoryColumnPicker"
            icon="ot ot-columns"
            (click)="openColumnPickerModal()"
        ></button>
        <button otButton
            class="margin-right-2"
            ot-auto-id="RiskRepositoryFilterButton"
            icon="ot ot-filter"
            (click)="toggleFilterPane()"
        ></button>
    </div>

    <section class="flex-full-height background-white overflow-x-hidden position-relative">
        <risk-repo-filter
            class="position-absolute right-0 top-0 bottom-0 z-index-1"
            [isOpen]="showFilterPane"
            [initialFilter]="filters"
            (apply)="applyFilter($event)"
            (close)="showFilterPane = false;"
        ></risk-repo-filter>
        <div class="flex-full-height overflow-auto">
            <div class="flex-full-height justify-center" *ngIf="!ready">
                <ot-loading otPageLoading></ot-loading>
            </div>
            <risk-repo-table
                *ngIf="ready && risksExist"
                [columns]="activeColumnList"
                [sortData]="sortData"
                [tableData]="tableData"
                (goToAssessment)="goToAssessment($event)"
                (goToRiskDetails)="goToRiskDetails($event)"
                (goToRiskControls)="goToRiskControls($event)"
                (sortRisks)="handleSort($event)">
            </risk-repo-table>
            <one-empty-state
                *ngIf="ready && !risksExist"
                class="flex-full-height justify-center"
                [showImage]="true">
            </one-empty-state>
        </div>
        <footer otPaginationFooter
                *ngIf="paginationInfo">
            <ot-pagination
                [currentPage]="paginationInfo?.number"
                [numPages]="paginationInfo?.totalPages"
                [handleOffset]="true"
                (pageChanged)="fetchPage($event)"
            ></ot-pagination>
            <span *ngIf="risksExist">
                {{ paginationInfo | otPageMeta }}
            </span>
        </footer>
    </section>
</section>

