<ng-template #showLoading>
    <ot-loading class="min-height-30 flex-full-height row-horizontal-vertical-center"></ot-loading>
</ng-template>
<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle }}</div>
</ot-modal-header>
<ot-modal-content *ngIf="!isLoading; else showLoading" class="padding--left-right-1 overflow-y-inherit">
    <div class="padding-left-right-4 padding-bottom-2 padding-top-3 flex-full-height">
        <form
            name="previewEmailTemplate"
            class="width-100-percent max-width-full margin-none flex-full-height"
        >
            <div
                otFormElement
                [label]="'Email' | translate"
                [required]="true"
            >
                <input otInput required
                    ot-auto-id="SettingsTestEmailModalEmailInput"
                    name="templateName"
                    type="email"
                    [placeholder]="'Email' | translate"
                    [ngModel]="templateName"
                    (ngModelChange)="setEmail($event)"
                />
            </div>
            <div
                *ngIf="languageId"
                otFormElement
                class="margin-top-3"
                [label]="'Language' | translate"
                [required]="true"
            >
                <ot-picklist
                    ot-auto-id="SettingsTestEmailModalLanguageInput"
                    class="column-nowrap full-size"
                    valueKey="Id"
                    labelKey="Name"
                    [autoClose]="true"
                    [options]="languages"
                    [model]="selectedLanguage"
                    [noOptionsText]="'NoOptionsAvailable' | translate"
                    (onSelect)="onEmailLanguageChange($event)">
                </ot-picklist>
            </div>
        </form>
    </div>
</ot-modal-content>
<ot-modal-footer *ngIf="!isLoading">
    <button
        otButton neutral
        ot-auto-id="SettingsTestEmailModalCancelButton"
        class="margin-right-1 border-none"
        (click)="closeModal()"
    >{{'Cancel' | translate}}</button>
    <button
        otButton brand
        ot-auto-id="SettingsTestEmailModalSubmitButton"
        [loading]="isSaving"
        [disabled]="!validateForm() || isSaving"
        (click)="sendTestEmail()"
    >{{ submitEmailButtonText }}</button>
</ot-modal-footer>
