.aa-risk-drawer {

    &__risk-status {
        margin-bottom: 1.8rem;
        .status-text span {
            text-transform: none;
        }
    }

    &__question-sequence {
        border-radius: 4.0rem;
        height: 4.6rem;
        line-height: 4.6rem;
        min-width: 4.6rem;
    }

    &__typeahead {
        .typeahead__input {
            height: 3.8rem;

            &:focus {
                outline-width: 0;
            }
        }
    }

    &__hover-div:hover {
        .aa-risk-drawer__edit-icon {
            display: block;
            right: 0;
        }
    }

    &__risk-edit-icon {
        top: 2rem;
    }

    &__div-button:hover {
        cursor: pointer;
    }

    &__controls:after {
        content: "";
        height: 3.5rem;
        display: block;
    }
}
