<div class="padding-all-1">
    <button
        *ngIf="canShowContextMenu"
        class="ot ot-ellipsis-h cursor-pointer text-xlarge border-none background-none no-outline align-right"
        [attr.aria-pressed]="canShowContextMenuOptions"
        ot-auto-id="AssessmentRiskPaneContextMenu"
        [closeOnClick]="true"
        [interactive]="false"
        [isOpen]="canShowContextMenuOptions"
        [modifierClass]="'width-auto'"
        [otDropdown]="riskSubPaneContextMenu"
        [position]="'bottom-right'"
        (toggled)="toggleContextMenu($event)"
        (click)="toggleContextMenu(true)"
    ></button>
    <!-- context menu options -->
    <ng-template #riskSubPaneContextMenu>
        <ul
            class="slds-dropdown__list margin-0"
            *ngFor="let option of contextMenuOptions;trackBy:trackByOptionId">
            <li class="slds-dropdown__item">
                <a
                    class="text-medium-small cursor-pointer remove-anchor-style text-decoration-none block"
                    [attr.ot-auto-id]="'AssessmentRiskPane'+option.id+'action'"
                    (click)="onContextMenuOptionClick(option.id)"
                    >
                    <span>{{option.name}}</span>
                </a>
            </li>
        </ul>
    </ng-template>
</div>

<div class="static-vertical align-center padding-all-1 row-nowrap">
    <div class="aa-risk-drawer__question-sequence text-center border-round-4 text-medium media-middle background-frost text-bold margin-right-1">
        {{questionSequence}}
    </div>
    <div
        class="text-bold word-wrap overflow-hidden"
        [otTooltip]="questionTitle"
    >
        {{questionTitle}}
    </div>
</div>
<span class="min-width-12 border-bottom padding-all-1">
    <a
        class="text-bold text-ui-blue"
        ot-auto-id="AssessmentRiskDrawerGoToQuestionLink"
        (click)="hidePane(true)">
        {{'GoToQuestion' | otTranslate}}
    </a>
</span>
<!-- will be shown when clear recommendation / exception / remediation actions taken -->
<ot-loading
    otPageLoading
    *ngIf="isPaneLoading"
    class="flex-full-height justify-center"
></ot-loading>

<ng-container *ngIf="!isPaneLoading">
    <div class="overflow-x-hidden overflow-y-auto ms-overflow-scroll flex-grow-1 padding-all-1">
        <!-- risk status -->
        <div class="aa-risk-drawer__risk-status">
            <div class="aa_risk-drawer__risk-status status-text">
                <span [otBadge]>{{ (riskV2StateTranslationKeys[model.state] || riskV2StateTranslationKeys[riskStates[model.state]]) | otTranslate }}</span>
            </div>
        </div>
        <!-- risk Id -->
        <div otFormElement
            class="padding-top-bottom-1"
            [label]="'RiskID' | otTranslate">
            {{riskNumber}}
        </div>
        <!-- risk level -->
        <div otFormElement
            class="row-space-between-center"
            [label]="'RiskLevel' | otTranslate"
        >
        </div>
        <div class="stretch-horizontal row-space-between-center aa-risk-drawer__hover-div">
            <div
                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half no-outline"
                ot-auto-id="AssessmentRiskDrawerRiskSelectorButton"
                [ngClass]="{ 'aa-risk-drawer__div-button': previewMode && canEditRiskDetails }"
                (click)="canEditRiskDetails && onContextMenuOptionClick(riskV2Actions.EditRisk)">
                <risk-selector
                    class="stretch-vertical"
                    ot-auto-id="AssessmentRiskPaneEditHeatmap"
                    [impact]="model.impactLevel"
                    [probability]="model.probabilityLevel"
                    [level]="model.levelId"
                    [score]="model.riskScore"
                    [disabled]="previewMode || !canEditRiskDetails"
                    [showClickableWhenDisabled]="canEditRiskDetails"
                    (onChange)="onRiskChange($event)"
                ></risk-selector>
                <i
                    *ngIf="previewMode && canEditRiskDetails"
                    class="aa-risk-drawer__risk-edit-icon aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute">
                </i>
            </div>
        </div>
        <div
            otFormElement
            class="padding-top-2"
        >
            <div class="text-bold">
                {{ 'RiskOwner' | otTranslate }}
            </div>
            <div
                *ngIf="previewMode || !canEditRiskOwner; else riskOwnerDropdown"
                class="row-space-between-center aa-risk-drawer__hover-div"
            >
                <button
                    class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                    ot-auto-id="AssessmentRiskDrawerRiskOwnerButton"
                    [disabled]="!canEditRiskOwner"
                    (click)="onContextMenuOptionClick(riskV2Actions.EditRisk)">
                        <span
                            class="word-break"
                        >{{ model.riskOwner || '----' }}
                        </span>
                        <i
                            *ngIf="canEditRiskOwner"
                            class="aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute top-1"
                        ></i>
                </button>
            </div>
            <ng-template #riskOwnerDropdown>
                <ot-org-user
                    ot-auto-id="AssessmentRiskDrawerRiskOwnerDropdown"
                    class="assessment-risk-drawer__typeahead"
                    placeholder="EnterRiskOwner"
                    [model]="model.riskOwnerId ? model.riskOwnerId : model.riskOwner"
                    [allowEmail]="true"
                    (onSelect)="onRiskOwnerChange($event)"
                ></ot-org-user>
            </ng-template>
        </div>
        <div
            otFormElement
            class="padding-top-2"
            [label]="'Deadline' | otTranslate"
        >
        </div>
        <div
            *ngIf="previewMode || !canEditRiskDetails; else riskDeadlineDatePicker"
            class="stretch-horizontal row-space-between-center aa-risk-drawer__hover-div"
        >
            <button
                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                ot-auto-id="AssessmentRiskDrawerDeadlineButton"
                [disabled]="!canEditRiskDetails"
                (click)="onContextMenuOptionClick(riskV2Actions.EditRisk)">
                <span
                    class="word-break"
                >{{ model.deadline | otDate: 'dateLocal': false: '----' }}
                </span>
                <i
                    *ngIf="canEditRiskDetails"
                    class="aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute top-1"
                ></i>
            </button>
        </div>
        <ng-template #riskDeadlineDatePicker>
            <ot-date-time-picker
                ot-auto-id="AssessmentRiskPaneEditDeadline"
                [dateDisableUntil]="dateDisableUntil"
                [dateFormat]="dateFormat"
                [datePlaceholder]="'Deadline' | otTranslate"
                [dateTimeModel]="model.deadline"
                [hideTimePicker]="true"
                [is24Hour]="is24Hour"
                (onChange)="model.deadline = $event.jsdate;"
            ></ot-date-time-picker>
        </ng-template>
        <!--Categories-->
        <div
            otFormElement
            *ngIf="'RiskViewCategory' | otPermit"
            class="padding-top-2"
            [label]="'RiskCategory' | otTranslate"
        >
            <div
                *ngIf="previewMode || !canEditCategory; else riskCategoryDropDown"
                class="stretch-horizontal row-space-between-center aa-risk-drawer__hover-div"
            >
                <button
                    class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                    ot-auto-id="AssessmentRiskDrawerCategoryButton"
                    [disabled]="!canEditCategory"
                    (click)="onContextMenuOptionClick(riskV2Actions.EditRisk)">
                    <span
                        class="word-break"
                    >{{ selectedCategoriesCSV || '----'}}
                    </span>
                    <i
                        *ngIf="canEditCategory"
                        class="aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute top-1"
                    ></i>
                </button>
            </div>
            <ng-template #riskCategoryDropDown>
                <ot-lookup
                    class="full-width"
                    labelKey="name"
                    valueKey="id"
                    [placeholder]="'RiskCategory' | otTranslate"
                    [autoClose]="true"
                    [clearInputOnModelChange]="true"
                    [multiSelect]="true"
                    [options]="filteredCategoryOptions"
                    [model]="selectedCategories"
                    (inputChange)="onCategoryLookupInputChange($event)"
                    (modelChange)="onModelValueChange($event)"
                >
                </ot-lookup>
            </ng-template>
        </div>
        <!-- Description -->
        <div
            otFormElement
            class="padding-top-2"
            [label]="'Description' | otTranslate"
        >
        </div>
        <div
            *ngIf="previewMode || !canEditRiskDetails; else riskDescTextarea"
            class="stretch-horizontal row-space-between-center aa-risk-drawer__hover-div"
        >
            <button
                class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                ot-auto-id="AssessmentRiskDrawerRiskDescButton"
                [disabled]="!canEditRiskDetails"
                (click)="onContextMenuOptionClick(riskV2Actions.EditRisk)">
                <span
                    class="word-break"
                >{{ model.description || '----' }}
                </span>
                <i
                    *ngIf="canEditRiskDetails"
                    class="aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute top-1"
                ></i>
            </button>
        </div>
        <ng-template #riskDescTextarea>
            <textarea
                otTextarea
                ot-auto-id="AssessmentRiskPaneEditDescription"
                [maxlength]="maxCharLimit"
                [ngModel]="model.description"
                (ngModelChange)="model.description = $event;"
            ></textarea>
        </ng-template>
        <!-- Recommendation -->
        <ng-container *ngIf="!canShowRiskStateChangeForm && (model.recommendation || canAddRecommendation || canEditRecommendation)">
            <div otFormElement
                class="padding-top-2"
                [label]="'Recommendation' | otTranslate"
            >
            </div>
            <div
                *ngIf="!canShowRiskStateChangeForm && (previewMode || !(canAddRecommendation || canEditRecommendation))"
                class="stretch-horizontal row-space-between-center aa-risk-drawer__hover-div margin-bottom-1"
            >
                <button
                    *ngIf="previewMode || !(canAddRecommendation || canEditRecommendation) || !model.recommendation"
                    class="full-width text-left padding-right-2 position-relative background-none border-none padding-top-half"
                    ot-auto-id="AssessmentRiskDrawerRecommendationButton"
                    [disabled]="retainedOrReduced || !(canEditRecommendation || canAddRecommendation)"
                    (click)="onContextMenuOptionClick(riskV2Actions.EditRisk)">
                    <span
                        class="word-break"
                    >{{ model.recommendation || '----' }}
                    </span>
                    <i
                        *ngIf="canAddRecommendation || canEditRecommendation"
                        class="aa-risk-drawer__edit-icon ot ot-edit display-none position-absolute top-1">
                    </i>
                </button>
            </div>
            <textarea otTextarea
                *ngIf="!previewMode && (canAddRecommendation || canEditRecommendation)"
                ot-auto-id="AssessmentRiskPaneEditRecommendation"
                [maxlength]="maxCharLimit"
                [ngModel]="model.recommendation"
                (ngModelChange)="model.recommendation = (!retainedOrReduced ? $event : '')"
            ></textarea>
        </ng-container>
        <!-- Remediation -->
        <div
            *ngIf="model.mitigation && canShowRemediation"
            otFormElement
            class="padding-top-2"
            [label]="'Remediation' | otTranslate"
        >
            <span>{{model.mitigation}}</span>
        </div>
            <!-- Exception -->
            <div
            *ngIf="model.requestedException && canShowException"
            otFormElement
            class="padding-top-2"
            [label]="'Exception' | otTranslate"
        >
            <span>{{model.requestedException}}</span>
        </div>
        <!-- Add Risk Control button -->
        <footer otPageFooter
            *ngIf="previewMode && ('RiskAddControl' | otPermit) && showAddRiskControlButton && !canShowRiskStateChangeForm"
            class="margin-top-2"
            >
            <button otButton neutral
                ot-auto-id="AssessmentRiskPaneAddRiskControlButton"
                (click)="onAddRiskControl()"
            >{{ 'AddRiskControl' | otTranslate }}</button>
        </footer>
        <!-- Added Risk Controls -->
        <ot-loading
            *ngIf="isRiskControlLoading"
            class="flex-full-height justify-center"
        ></ot-loading>
        <div *ngIf="!isRiskControlLoading" class="aa-risk-drawer__controls">
            <ng-container *ngFor="let riskControl of riskControls">
                <aa-risk-control
                    [riskControl]="riskControl"
                    [removeRiskControlOption]="showAddRiskControlButton"
                    (onRiskControlRemove)="riskControlRemove($event)"
                    (onRiskControlUpdate)="riskControlUpdate($event)"
                ></aa-risk-control>
            </ng-container>
            <ng-container *ngIf="showMoreButton && !isMoreRiskControlsLoading">
                <span class="assessment-collaboration__show-more text-bold padding-all-1 pull-right cursor-pointer"
                    (click)="showMoreClick()"
                    >
                    {{ 'ShowMore' | otTranslate }}
                </span>
            </ng-container>
            <ot-loading
                *ngIf="isMoreRiskControlsLoading"
                class="flex-full-height justify-center"
            ></ot-loading>
        </div>
    </div>
    <!-- Risk state change input form -->
    <div *ngIf="canShowRiskStateChangeForm" class="padding-all-1 border-top">
        <div otFormElement [label]="riskStateChangeFieldLabel">
            <textarea
                otTextarea
                ot-auto-id="AssessmentRiskPaneRiskStateChangeInput"
                [maxlength]="maxCharLimit"
                [ngModel]="riskStateChangeInput"
                (ngModelChange)="onRiskStateInputChange($event)"
            ></textarea>
        </div>
    </div>
    <!-- footer actions -->
    <footer
        *ngIf="primaryButtonObj?.id || secondaryButtonObj?.id"
        class="border-top padding-all-1 row-space-between-center static-vertical row-reverse"
    >
        <button otButton brand
            *ngIf="primaryButtonObj?.id"
            class="text-nowrap text-medium-small margin-left-half row-reverse"
            [attr.ot-auto-id]="primaryButtonObj.identifier"
            [disabled]="primaryButtonObj.isDisabled || primaryButtonObj.isLoading || isReadOnly"
            [loading]="primaryButtonObj.isLoading"
            [innerText]="primaryButtonObj.name"
            (click)="onPrimaryActionClick(primaryButtonObj.id)"
        ></button>
        <button otButton neutral
            *ngIf="secondaryButtonObj?.id"
            class="text-nowrap text-medium-small"
            [attr.ot-auto-id]="secondaryButtonObj.identifier"
            [disabled]="secondaryButtonObj.isDisabled || secondaryButtonObj.isLoading || isReadOnly"
            [loading]="secondaryButtonObj.isLoading"
            [innerText]="secondaryButtonObj.name"
            (click)="onSecondaryActionClick(secondaryButtonObj.id)"
        ></button>
    </footer>
</ng-container>
