.question-bank {

    &__list {
        margin: 0;
    }

    &__item {
        border: 1px solid $grey-3;
        border-radius: 2px;
        background-color: $white;
        margin-bottom: 1rem;

        &:hover {
            border: 1px solid $slate;
            color: $slate;
        }

        &--disabled {
            pointer-events: none;
            background-color: $grey-3;
        }
    }

    &__text {
        display: block;
        padding: 1rem;
        width: 100%;
    }
}
