<div class="height-100 column-nowrap">
    <ot-page-header
        [title]="'BulkEditInventory' | otTranslate"
        (routeClicked)="goToRoute($event)"
        >
        <ot-breadcrumb (routeClicked)="goToRoute($event)">
            <ot-breadcrumb-item
                ot-auto-id="InventoryBulkEditBreadcrumbItem"
                [label]="inventoryName"
                [link]="returnRoute"
                [params]="returnParams"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="'BulkEdit' | otTranslate"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
    </ot-page-header>
    <section class="flex-full-height overflow-y-auto overflow-x-hidden padding-top-bottom-4 background-white">
        <ot-loading
            otPageLoading
            class="margin-all-auto"
            *ngIf="isLoading"
            >
        </ot-loading>
        <ng-container *ngIf="!isLoading">
            <ul class="row-wrap centered-max-100">
                <ng-container *ngFor="let attribute of schema; trackBy: attributeTrackBy; let i = index">
                    <ng-container *ngIf="attribute | transform: canEditInBulk">
                        <li class="margin-bottom-2 padding-left-right-3 flex-shrink-50 max-width-50-percent row-nowrap">
                            <ot-checkbox
                                id="{{ 'BulkEditCheckAttribute_' + i }}"
                                class="static-horizontal margin-right-1"
                                [attr.ot-auto-id]="'BulkEditCheckAttribute_' + i"
                                [checked]="selectedMap[attribute.fieldName]"
                                (toggle)="selectAttribute($event, attribute)"
                                >
                            </ot-checkbox>
                            <div
                                otFormElement
                                class="stretch-horizontal"
                                [label]="attribute.nameKey ? (attribute.nameKey | otTranslate) : attribute.name"
                                >
                                <ng-container *ngIf="attribute.responseType === responseTypes.Text">
                                    <input
                                        otInput
                                        [attr.ot-auto-id]="'BulkEditTextInputField_' + i"
                                        [placeholder]="'TextInput' | otTranslate"
                                        [ngModel]="record[attribute.fieldName] || ''"
                                        (ngModelChange)="textChange($event, attribute)"
                                        />
                                </ng-container>
                                <ng-container *ngIf="attribute.responseType === responseTypes.SingleSelect && attribute.attributeType !== attributeTypes.Users">
                                    <ot-lookup
                                        [attr.ot-auto-id]="'BulkEditSingleSelect_' + i"
                                        [placeholder]="'Select' | otTranslate"
                                        [options]="attribute.filteredValues || []"
                                        [labelKey]="'label'"
                                        [valueKey]="'id'"
                                        [model]="record[attribute.fieldName] ? record[attribute.fieldName][0] : null"
                                        (modelChange)="singleSelectChange($event, attribute)"
                                        (inputChange)="handleInputChange($event, attribute)"
                                        (firstOptionSelect)="selectOther(attribute)"
                                        >
                                        <ng-template otFirstOption *ngIf="attribute.allowOther && otherMap[attribute.fieldName]">
                                            <span
                                                id="listbox-option-unique-id-00"
                                                role="option"
                                                [attr.ot-auto-id]="'BulkEditSingleSelectOther'"
                                                >
                                                <ng-container>
                                                    {{"Add" | otTranslate}}: {{otherMap[attribute.fieldName]}}
                                                </ng-container>
                                            </span>
                                        </ng-template>
                                    </ot-lookup>
                                </ng-container>
                                <ng-container *ngIf="attribute.responseType === responseTypes.MultiSelect">
                                    <ot-lookup
                                        [attr.ot-auto-id]="'BulkEditMultiSelect_' + i"
                                        [placeholder]="'Select' | otTranslate"
                                        [options]="attribute.filteredValues || []"
                                        [labelKey]="'label'"
                                        [valueKey]="'id'"
                                        [model]="record[attribute.fieldName] || []"
                                        [multiSelect]="true"
                                        [clearInputOnModelChange]="true"
                                        (modelChange)="multiSelectChange($event, attribute)"
                                        (inputChange)="handleInputChange($event, attribute)"
                                        (firstOptionSelect)="selectOther(attribute)"
                                        >
                                        <ng-template otFirstOption *ngIf="attribute.allowOther && otherMap[attribute.fieldName]">
                                            <span
                                                id="listbox-option-unique-id-00"
                                                role="option"
                                                [attr.ot-auto-id]="'BulkEditSingleMultiOther'"
                                                >
                                                <ng-container>
                                                    {{"Add" | otTranslate}}: {{otherMap[attribute.fieldName]}}
                                                </ng-container>
                                            </span>
                                        </ng-template>
                                    </ot-lookup>
                                </ng-container>
                                <ng-container *ngIf="attribute.responseType === responseTypes.Date">
                                    <ot-datepicker
                                        [attr.ot-auto-id]="'BulkEditDate_' + i"
                                        [placeholder]="'Select' | otTranslate"
                                        [format]="format"
                                        [dateModel]="getDateModel(attribute)"
                                        (onChange)="dateValueChanged($event, attribute)"
                                    ></ot-datepicker>
                                </ng-container>
                                <ng-container *ngIf="attribute.attributeType === attributeTypes.Users">
                                    <ot-org-user
                                        [attr.ot-auto-id]="'BulkEditUser_' + i"
                                        [allowEmail]="attribute.allowOther"
                                        [orgId]="record?.organization?.id"
                                        [model]="record[attribute.fieldName] && record[attribute.fieldName][0] ? record[attribute.fieldName][0].id || record[attribute.fieldName][0].value : ''"
                                        [traversal]="orgUserTraversal.Branch"
                                        (onSelect)="userChange($event, attribute)"
                                        >
                                    </ot-org-user>
                                </ng-container>
                            </div>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </ng-container>
    </section>
    <footer class="static-vertical border-top padding-all-2 row-flex-end">
        <button
            otButton
            class="color-slate"
            [disabled]="isLoading"
            [attr.ot-auto-id]="'BulkEditCancel'"
            [innerText]="'Cancel' | otTranslate"
            (click)="goBack()"
            >
        </button>
        <button
            otButton
            brand
            [disabled]="!canSubmit || isLoading"
            [attr.ot-auto-id]="'BulkEditSubmit'"
            [innerText]="'Save' | otTranslate"
            (click)="submit()"
            >
        </button>
    </footer>
</div>
