#risks.overflow-y-auto
    nav.navbar.navbar-default(ng-class="{'filterOpen': filterOpen}", ng-style="{'overflow': filterOverflow ? 'visible':'hidden'}")
        .container-fluid
            .navbar-header
                a.navbar-brand(href='')
                    | {{::$root.t("Risks")}}
            .button-container
                .risks__dropdown-container(ng-class='{"is-hidden": !isFinishedLoading}')

                one-button.margin-right-1(
                    ng-if="Permissions.canShow('Risks')",
                    type="primary",
                    button-click="saveReportView()",
                    text="{{::$root.t('SaveView')}}",
                    identifier="risksSaveView"
                    )

                button.one-button.margin-right-1(
                    title='Status Filter',
                    data-id="riskFilterByStatus"
                    role='link',
                    uib-popover-template='"statusFilter.html"',
                    popover-placement='bottom-left',
                    popover-trigger='"outsideClick"',
                    popover-append-to-body='true',
                    popover-class='one-popup'
                    )
                    i.fa.fa-filter.margin-right-1
                    | {{::$root.t("FilterByStatus") }}
                script(type='text/ng-template', id='statusFilter.html')
                    ul.one-popup__list
                        li.one-popup__item.one-popup__item--head
                            button.one-popup__checkbox(type='button' ng-click='toggleAllRiskFilterItems()', ng-class="{'checked': riskStates.allStatesEnabled}")
                                i.ot.ot-check(ng-class='{"ot-check": riskStatesList.length >= riskStates["filters"].length, "fa-minus": riskStatesList.length < riskStates["filters"].length}')
                            span.one-popup__text
                                | ({{::$root.t("SelectAll")}})
                        li.one-popup__item(ng-repeat='item in riskStates["filters"] track by $index')
                            button.one-popup__checkbox(type='button' ng-click="toggleStatusFilterItem(item)" ng-class="{'checked': item.Filtered}")
                                i.ot.ot-check
                            span.one-popup__text
                                | {{item.label || '- - - -'}}

                .risks__manage
                    button.one-button.margin-right-1(
                        uib-popover-template='"manageColumnsPopover.html"',
                        popover-placement='bottom-right',
                        popover-trigger='"outsideClick"',
                        popover-append-to-body='true',
                        popover-class='one-popup')
                        i.fa.fa-columns.margin-right-1
                        | {{::$root.t("ManageColumns")}}
                    script(type='text/ng-template', id='manageColumnsPopover.html')
                        ul.one-popup__list
                            li.one-popup__item(ng-repeat='column in report.columns track by $index')
                                button.one-popup__checkbox(
                                    type='button',
                                    ng-click="column.isActive = !column.isActive",
                                    ng-class="{'checked': column.isActive}")
                                    i.ot.ot-check
                                span.one-popup__text {{column.friendlyName}}

                one-button.margin-right-1(
                    button-click="generateCsv()",
                    text="{{::$root.t('ExportXLSX')}}",
                    icon="fa fa-external-link",
                    identifier="reportsExportXLSX")
                // TODO replace when using backend filters
                //- one-button(
                //-     button-click="toggleFilter()",
                //-     text="{{::$root.t('Filters')}}",
                //-     icon="fa fa-search",
                //-     identifier="risksToggleFilter")

        // TODO reuse ui when swapping to back end filtering
        //- .container-fluid
        //-     .risks__navbar.flex.stretch-horizontal.margin-bottom-1
        //-         .risks__filter.risks__filter--multiselect.column-vertical-center.static-horizontal
        //-             label
        //-                 | {{::$root.t("StatusFilter") }}
        //-             button.one-button(tabindex='0',
        //-                 title='Status Filter', role='link',
        //-                 uib-popover-template='"statusFilter.html"', popover-placement='bottom-left',
        //-                 popover-trigger='"outsideClick"', popover-append-to-body='true', popover-class='one-popup')
        //-                 | {{::$root.t("FilterByStatus") }}
        //-             script(type='text/ng-template', id='statusFilter.html')
        //-                 ul.one-popup__list
        //-                     li.one-popup__item.one-popup__item--head
        //-                         button.one-popup__checkbox(type='button' ng-click='toggleAllRiskFilterItems()', ng-class="{'checked': riskStates.allStatesEnabled}")
        //-                             i.fa.fa-check(ng-class='{"fa-check": riskStatesList.length >= riskStates["filters"].length, "fa-minus": riskStatesList.length < riskStates["filters"].length}')
        //-                         span.one-popup__text
        //-                             | ({{::$root.t("SelectAll")}})
        //-                     li.one-popup__item(ng-repeat='item in riskStates["filters"]')
        //-                         button.one-popup__checkbox(type='button' ng-click="toggleStatusFilterItem(item)" ng-class="{'checked': item.Filtered}")
        //-                             i.fa.fa-check
        //-                         span.one-popup__text
        //-                             | {{item.label || '- - - -'}}
        //-
        //-         .risks__filter.risks__filter--question-tags(ng-if="questionTaggingEnabled")
        //-             label
        //-                 | {{::$root.t("TagFilter") }}
        //-             tags-input#risksFilter(
        //-               ng-model='risksFilter.QuestionTags',
        //-               name='tags',
        //-               display-property='Label',
        //-               replace-spaces-with-dashes='false',
        //-               min-length='1',
        //-               placeholder='{{::$root.t("EnterTags")}}',
        //-               add-from-autocomplete-only='true',
        //-               )
        //-                 auto-complete(source='getTagsList($query, 10)', min-length='1', select-first-match='false')
        //-         .risks__filter.risks__filter--search
        //-             label {{::$root.t("Search")}}
        //-             form.risks__search.one-search(role='search')
        //-                 label.one-search__label(for='pia-template-search')
        //-                     i.fa.fa-search.one-search__icon
        //-                 input.one-search__input(type='text', placeholder='{{::$root.t("SearchRisks")}}', ng-model='risksFilter.$')
        //-
        //-         .risks__filter.risks__filter--clear
        //-             one-button(
        //-                 button-click='clearFilters()',
        //-                 icon='ot ot-times fa-fw',
        //-                 text='{{::$root.t("ClearFilters")}}'
        //-             )
    loading(ng-if="!Ready", text = '{{::$root.t("Risks")}}')
    .module-wrapper.risks-container(ng-class='{"is-showing": Ready}')
        section.risks__view
            .risks__content(ng-if='Ready')
                // Table
                .risks__table-wrapper.animate-if
                    table.risks__table
                        thead(class='risks__table-header')
                            tr(dnd-list='report.columns' dnd-drop="columnMoved(index, item)" dnd-allowed-types="['column']" class='risks__table-header-row')
                                th(dnd-horizontal-list="true" dnd-selected="item.selected = !item.selected" dnd-type="'column'" dnd-draggable='column' dnd-effect-allowed="move" class='risks__table-header-cell' ng-repeat="column in report.columns" ng-show='column.isActive' ng-if='column.resource')
                                    i.risks__table-header-move.fa.fa-arrows
                                    span {{column.friendlyName || column.text}}
                        tbody
                            tr.risks__table-row(ng-repeat='risk in report.risks track by risk.Id')
                                td(class='risks__table-cell' ng-repeat="column in report.columns track by $index" ng-if='column.isActive && column.resource')
                                    span(ng-switch='column.key')
                                        span(ng-switch-when='Level' uib-tooltip='{{risk.riskWord}}', tooltip-placement='top', tooltip-trigger='mouseenter')
                                            span.risk(ng-class="risk.riskClass")
                                            span.risk(ng-if="!risk.riskClass")
                                                | -
                                        a.text-pointer(ng-switch-when='ProjectName', ng-click='goToProject(risk.ProjectId, risk.OriginalProjectVersion)')
                                            | {{ risk.ProjectName }}
                                        span(ng-switch-when='Deadline')
                                            one-date(
                                                date-to-format="risk.Deadline",
                                                enable-tooltip="true")
                                        span(ng-switch-when='MitigatedDt')
                                            one-date(
                                                date-to-format="risk.MitigatedDt"
                                                enable-tooltip="true")
                                        span(ng-switch-when="Justification")
                                            span(ng-if="risk.State === RiskStateENUM.Addressed") {{ risk.Mitigation }}
                                            span(ng-if="risk.State === RiskStateENUM.Exception") {{ risk.RequestedException }}
                                            span(ng-if="risk.State === RiskStateENUM.Reduced") {{ risk.Mitigation }}
                                            span(ng-if="risk.State === RiskStateENUM.Retained") {{ risk.RequestedException }}
                                        span(ng-switch-when="Status")
                                            span(ng-if="risk.State === RiskStateENUM.Reduced") {{ $root.t("RiskReduced") }}
                                            span(ng-if="risk.State === RiskStateENUM.Retained") {{ $root.t("RiskRetained") }}
                                            span(ng-if="risk.State !== RiskStateENUM.Reduced && risk.State !== RiskStateENUM.Retained") {{ risk[column.key].text || risk[column.key] }}
                                        // Default
                                        span(ng-switch-default ng-class='{"blank": !risk[column.key]}') {{ risk[column.key].text || risk[column.key] }}

                    .risks__message.column-horizontal-vertical-center.margin-top-bottom-3(ng-if='!report.risks.length')
                        .text-large(ng-if='!hasFiltersApplied')
                            | {{::$root.t("YouHaveNoExistingRisks")}}
                        .text-large(ng-if='hasFiltersApplied')
                            | {{::$root.t("TryUpdatingFilters")}}

                    one-pagination(list='Metadata', hide-pagination-number='Metadata.totalPages === 0')
