<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <p
        class="text-center margin-top-bottom-2"
        [innerText]="modalBody"
        >
    </p>
    <div class="text-center margin-bottom-4">
        <img [src]="imgSrc"/>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        brand
        ot-auto-id="EditOptionCancelButton"
        (click)="closeModal()"
        >
        {{ closeText }}
    </button>
</ot-modal-footer>
