.question__multichoice {

    &-typeahead {
        margin-bottom: 2rem;
    }

    &__button {
        &:disabled,
        &[disabled],
        [disabled] & {
            color: $slate;
        }

        &.selected {
            &:disabled,
            &[disabled],
            [disabled] & {
                background-color: $disabled-blue !important;
                border-color: $disabled-blue !important;
            }
        }
    }
}
