<ot-modal-header (close)="closeModal()">
    <div>{{ 'LinkAssessment' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="flex-full-height">
        <div class="text-center text-color-default">{{otModalData?.body}}</div>
        <div otFormElement [label]="'Template' | otTranslate">
            <ot-picklist
                ot-auto-id="LinkAssessmentsModalTemplateSelect"
                labelKey="name"
                valueKey="id"
                [autoClose]="true"
                [disabled]="!templateOptions?.length || isLinkingAssessments"
                [model]="templateSelection"
                [options]="templateOptions"
                [placeholder]="'Template' | otTranslate"
                (onSelect)="selectTemplate($event)"
            ></ot-picklist>
        </div>
        <div otFormElement class="margin-top-2" [label]="'Assessments' | otTranslate">
            <ot-lookup
                ot-auto-id="LinkAssessmentsModalAssessmentsSelect"
                labelKey="name"
                valueKey="id"
                [autoClose]="true"
                [clearInputOnModelChange]="true"
                [disabled]="!assessmentOptions?.length || isLinkingAssessments"
                [multiSelect]="true"
                [model]="assessmentSelections"
                [options]="assessmentOptions | lookup: (assessmentSelections ? assessmentSelections : []) : assessmentSearchTerm : 'id' : 'name'"
                [placeholder]="'Assessments' | otTranslate"
                (modelChange)="selectAssessments($event)"
                (inputChange)="assessmentSearch($event)"
            ></ot-lookup>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="LinkAssessmentsModalCloseButton"
        [disabled]="isLinkingAssessments"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="LinkAssessmentsModalLinkButton"
        [loading]="isLinkingAssessments"
        [disabled]="isLinkingAssessments || !assessmentSelections"
        (click)="linkAssessments()"
        >
        {{ 'Link' | otTranslate }}
    </button>
</ot-modal-footer>
