<ot-loading
    *ngIf="loading"
    class="stretch-vertical column-horizontal-vertical-center"
></ot-loading>
<section *ngIf="!loading">
            <div
            class="centered-max-100 row-nowrap margin-top-bottom-1 padding-left-right-3"
            *ngFor="let purposeMapping of dataMappingPurposeGroup; let purposeIndex = index;">
            <div class="width-30-percent"
                ><!-- purposeID-->
                <span class=" overflow-ellipsis-nowrap">
                        {{purposeMapping.purpose.Label}}
                </span>
            </div>
            <div class="width-70-percent">
                <div
                    class="row-nowrap"
                    *ngFor="let item of purposeMapping.contactMappings; let contactIndex = index;">
                    <div class="width-50-percent">
                        <span class="width-90-percent overflow-ellipsis-nowrap margin-left-right-2">
                            <i class="ot ot-arrow-right media-top margin-left-right-2"></i>
                            {{item.dsElementField.FieldName}}
                        </span>
                    </div>
                    <div class="width-50-percent">
                        <span class="width-90-percent overflow-ellipsis-nowrap">
                            <i class="ot ot-arrow-right media-top margin-left-right-2"></i>
                            {{item.contactField.name}}
                        </span>
                    </div>

                    <div>
                        <i class="ot ot-trash-o text-large media-top margin-left-1"
                        (click)="deleteDataSubjProfMap(purposeIndex,contactIndex)">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="centered-max-100 margin-top-bottom-5 padding-left-right-3">
            <div class="width-45 margin-top-1" otFormElement [label]="'Purpose' | otTranslate">
                <ot-picklist
                    [autoClose]="autoCloseEnabled"
                    [options]="purposeList"
                    [valueKey]="'Id'"
                    [labelKey]="'Label'"
                    [model]="selectedPurposeOption"
                    [attr.ot-auto-id]="'IntgDataSubProfOnePurposePicklist'"
                    (onSelect)="selectPurposeOption($event)">
                </ot-picklist>
            </div>
            <div class="margin-top-1 row-horizontal-center text-bold ng-scope">
                <div class="width-50-percent">
                    <div class=" margin-top-1" otFormElement [label]="'OneTrustField' | otTranslate">
                        <ot-picklist
                            [autoClose]="autoCloseEnabled"
                            [options]="otfOptions"
                            [valueKey]="'FieldId'"
                            [labelKey]="'FieldName'"
                            [model]="selectedOtfOption"
                            [attr.ot-auto-id]="'IntgDataSubProfOneTrustFieldlist'"
                            (onSelect)="selectOtfOption($event)">
                        </ot-picklist>
                    </div>

                </div>
                <div class="text-large margin-left-right-1" style="margin-top:3.5rem">
                    <i class="fa fa-arrow-right media-top"></i>
                </div>
                <div class="width-50-percent">
                   <div class=" margin-top-1" otFormElement [label]="'Contact' | otTranslate">
                        <ot-picklist
                            [autoClose]="autoCloseEnabled"
                            [options]="contactList"
                            [valueKey]="'id'"
                            [labelKey]="'name'"
                            [model]="selectedContactOption"
                            (onSelect)="selectContactOption($event)"
                            [attr.ot-auto-id]="'IntgDataSubProfContactlist'">
                        </ot-picklist>
                    </div>
                </div>
            </div>
           <div  class="margin-top-2 row-horizontal-center" >
           <button otButton brand
                [innerText]="'Add' | otTranslate"
                [disabled]="!validateForm()"
                (click)="addProfile()">
            </button>
           </div>
        </div>
    </section>
