#pia-templates
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(ui-sref='{{routes.list}}') {{::$root.t("ArchivedQuestionnaireTemplates")}}
            one-button.margin-right-1(
                ng-if='templates.length',
                ui-sref='{{routes.list}}'
                identifier='templateArchiveViewActive',
                icon='ot ot-check'
                text='{{::$root.t("ViewActive")}}'
                )
            form.template-search.one-search(role='search')
                label.one-search__label(for='pia-template-search')
                    i.ot.ot-search.one-search__icon
                input#pia-template-search.one-search__input(type='text', placeholder='{{::$root.t("SearchQuestionnaires")}}', ng-model='templateFilter')
    loading.module-wrapper.template-container(ng-if='!Ready', text='{{::$root.t("ArchivedQuestionnaireTemplates")}}')
    .module-wrapper.template-container(ng-if='Ready')
        .text-center(ng-if='templateError')
            div(ng-bind-html='templateError')
            div
                one-button.text-center(
                    ui-sref='{{routes.list}}',
                    type='primary',
                    identifier='templateArchiveGoBack',
                    text='{{::$root.t("GoBackToQuestionnaireTemplates")}}'
                )

        section.template__none(ng-if='!templates.length')
            h3 {{::$root.t("NoArchivedQuestionnaireTemplates")}}
            one-button(
                type='cta',
                button-click='goToActive()',
                identifier='templateArchiveGoToActive',
                text='{{::$root.t("GoToActiveQuestionnaireTemplates")}}'
            )

        .templates-list(ng-show='templates')
            // Templates Panels
            .template__item-container.template__item-container--linked(ng-repeat='template in (templates | filter: templateFilter) track by $index')
                .template__item(uib-dropdown)
                    button.template__edit-btn(uib-dropdown-toggle)
                        i.fa.fa-gear
                    a.template__link(ng-click='goToTemplate(template.Id, template.Version)')
                        .template__info.is-showing
                            i.fa.template__icon(ng-if='template.Icon', class='{{template.Icon}}', data-text-style='primary')
                            i.fa.fa-archive.template__icon(ng-if='!template.Icon', data-text-style='primary')
                            p.template__name(ng-bind='template.Name')
                    // Toggle template state
                    ul.template__tabs
                        li.template__tabs-item.template__tabs-item--draft.is-active
                            button.template__tabs-btn
                                | {{::$root.t("Archived")}}
                    ul.dropdown-menu.pull-right.template__edit-menu(role='menu')
                        li(ng-if='Permissions.canShow("TemplatesUnarchive")')
                            a(ng-click='activate(template.Id)')
                                i.fa.fa-toggle-on
                                |  {{::$root.t("ReActivateQuestionnaire")}}
