.template__item(
    id='{{template.Id}}',
    uib-dropdown
)
    button.template__edit-btn(
        uib-dropdown-toggle,
        data-ng-click='setDropdownDirection(template)'
    )
        i.fa.fa-gear
    // Published State
    a.template__link(ng-click='goToTemplate(template.Id, template.activeVersion)' ng-show='template.activeState === "Published"', ng-if='template.Ready')
        .template__info(ng-class='{"is-showing": template.showInfo}')
            i.fa.template__icon.template__icon--published(ng-if='template.Published.Icon', class='{{template.Published.Icon}}')
            i.fa.fa-archive.template__icon.template__icon--published(ng-if='!template.Published.Icon')
            p.template__name(ng-bind='template.Published.Name')
            section.template__tags.template__tags--published
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.TotalProjectCount, VersionProjectCount : template.Published.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.Published.Version}}
                span.template__tags-item(ng-if="template.Published.IsLocked")
                    i.fa.fa-lock
    // Draft State
    a.template__link(ng-click='goToTemplate(template.Id, template.activeVersion)' ng-show='template.activeState === "Draft"', ng-if='template.Ready')
        .template__info(ng-class='{"is-showing": template.showInfo}')
            i.fa.template__icon(ng-if='template.Draft.Icon', class='{{template.Draft.Icon}}')
            i.fa.fa-archive.template__icon(ng-if='!template.Draft.Icon')
            p.template__name(ng-bind='template.Draft.Name')
            section.template__tags
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.TotalProjectCount, VersionProjectCount : template.Draft.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.Draft.Version}}
                span.template__tags-item(ng-if="template.Draft.IsLocked")
                    i.fa.fa-lock
    // Toggle template state
    ul.template__tabs(ng-if='template.Ready')
        li.template__tabs-item.template__tabs-item--published(ng-if='template.Published' ng-class='{"is-active": template.activeState === "Published"}')
            button.template__tabs-btn(ng-if='!(template.Published && template.Draft)')
                | {{::$root.t("Published")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template, "Published")', ng-if='template.Published && template.Draft')
                | {{::$root.t("Published")}}
        li.template__tabs-item.template__tabs-item--draft(ng-if='template.Draft' ng-class='{"is-active": template.activeState === "Draft"}')
            button.template__tabs-btn(ng-if='!(template.Published && template.Draft)')
                | {{::$root.t("Draft")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template, "Draft")', ng-if='template.Published && template.Draft')
                | {{::$root.t("Draft")}}
    loading(class="template__loader", ng-if="!template.Ready", show-text="false")
    // Template Actions
    ul.dropdown-menu.pull-right.template__edit-menu(role='menu', ng-class='{"up":template.hasInverted}')
        li(ng-if='permissions.TemplatesPublish && template.activeState === "Draft"')
            a(ng-click='publishTemplate(template)')
                i.fa.fa-cloud-upload
                span {{::$root.t("PublishDraft")}}
        li(ng-if='permissions.TemplatesDiscard && template.activeState === "Draft"')
            a(ng-click='deleteTemplate(template, template.activeVersion)')
                i.fa.fa-trash-o
                span {{::$root.t("DiscardDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.activeState === "Draft"')
            a(ng-click='copy(template, template.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.activeState === "Published"')
            a(ng-click='copy(template, template.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyPublished")}}
        li(ng-if='::permissions.TemplatesArchive')
            a(ng-click='archiveTemplate(template)')
                i.fa.fa-archive
                span {{::$root.t("ArchiveQuestionnaire")}}
