.template-sections.section-container(ui-tree='SectionOptions', data-drag-enabled='!wizard')
    .template-sections-group(ui-tree-nodes, ng-model="template.Sections")
        .template-manage__section-item(id="Welcome", ng-if='!wizard')
            .template-manage__section-number.template-manage__section-number--read-only(ng-if='readOnly', ng-click='template.ShowWelcomeText = !template.ShowWelcomeText')
                i.ot.ot-star
                i.nav(class='fa' ng-class="{\'fa-caret-down\': template.ShowWelcomeText, \'fa-caret-right\': !template.ShowWelcomeText }")
            .template-manage__section-number(ng-if='!readOnly', ng-click='template.ShowWelcomeText = !template.ShowWelcomeText')
                span.template-manage__section-hover--hide
                i.ot.ot-star
                i.nav(class='fa' ng-class="{\'fa-caret-down\': template.ShowWelcomeText, \'fa-caret-right\': !template.ShowWelcomeText }")
                i.fa.fa-arrows.template-manage__section-hover--show
            .template-manage__section-text
                | {{::$root.t("WelcomeSection")}}

        .template-manage__details.pia-section(ng-if='template.ShowWelcomeText')
            one-welcome-text(
                data-ng-if='readOnly && !editMode',
                has-custom-text="template.HasCustomWelcomeText",
                custom-welcome-text="template.WelcomeText",
            )
            one-welcome-text(
                data-ng-if='!readOnly || editMode',
                has-custom-text="template.HasCustomWelcomeText",
                custom-welcome-text="template.WelcomeText",
                is-editable="false",
                on-click="OpenWelcomeTextModal()"
            )
        .template-sections-group-node(ng-repeat='Section in template.Sections track by Section.Id', ui-tree-node)
            .template-manage__section-item

                .template-manage__section-number.template-manage__section-number--read-only(ng-if='readOnly', ng-click='Section.Show = !Section.Show')
                    | {{::$root.t("Section")}}&nbsp{{ Section.Number || $index + 1}}&nbsp
                    i.nav(ng-if='!wizard', class='fa' ng-class="{\'fa-caret-down\': Section.Show, \'fa-caret-right\': !Section.Show }")
                .template-manage__section-number(ng-if='!readOnly && permissions.TemplatesQuestionItemPreview', ng-click='Section.Show = !Section.Show')
                    | {{::$root.t("Section")}}&nbsp{{ Section.Number || $index + 1}}&nbsp
                    i.nav(ng-if='!wizard', class='fa' ng-class="{\'fa-caret-down\': Section.Show, \'fa-caret-right\': !Section.Show }")
                    span.template-manage__section-hover--hide
                    i.fa.fa-arrows.template-manage__section-hover--show
                .template-manage__section-text(ng-if='!readOnly', ui-tree-handle)
                    | {{Section.Name}}

                .template-manage__section-text(ng-if='readOnly')
                    | {{Section.Name}}

                .template-manage__section-actions(ng-if='!wizard')
                    button(ng-if='::permissions.TemplatesQuestionItemPreviewUpgrade', ng-click='UpgradeModule("TemplatesQuestionItemPreview")')
                        i.fa.fa-eye
                        .upgrade__icon
                    button(ng-if='permissions.TemplatesQuestionItemEdit && (!readOnly || editMode) && !Section.isDeleting', ng-click='editSection(Section)')
                        i.fa.fa-pencil
                    button(ng-if='permissions.TemplatesQuestionItemEditUpgrade && (!readOnly || editMode) && !Section.isDeleting', ng-click='UpgradeModule("TemplatesQuestionItemEdit")')
                        i.fa.fa-pencil
                        .upgrade__icon
                    button(ng-if='permissions.TemplatesSectionDelete && !readOnly && !Section.isDeleting', ng-click='deleteSection(template.Version, Section)')
                        i.fa.fa-trash-o
                    button(ng-if='permissions.TemplatesSectionDelete && !readOnly && Section.isDeleting')
                        i.fa.fa-spinner.fa-pulse
                    button(ng-if='permissions.TemplatesSectionDeleteUpgrade && !readOnly', ng-click='UpgradeModule("TemplatesSectionDelete")')
                        i.fa.fa-trash-o
                        .upgrade__icon

                .template-manage__section-actions(ng-if='wizard')
                    p.section-assign(ng-click='OpenProjectAssignmentsModal(Section.Id, $index)')
                        | {{ formatLeadLabel(SectionAssignments[$index].AssigneeId) || "- - - - -" }}&nbsp;
                        i.fa.fa-edit
                    button.btn(ng-if='::permissions.TemplatesQuestionItemPreview', ng-click='Section.Show = !Section.Show')
                        i(ng-if='!wizard', class='fa' ng-class="{\'fa-caret-down\': Section.Show, \'fa-caret-right\': !Section.Show }")
                    button.btn(ng-if='::permissions.TemplatesQuestionItemPreviewUpgrade', ng-click='UpgradeModule("TemplatesQuestionItemPreview")')
                        i.fa.fa-eye
                        .upgrade__icon

            .template-manage__details.pia-section(ng-if='Section.Show && !wizard')
                h1.template-manage__details-header(ng-if='!readOnly && !Section.QuestionGroups.length')
                    | {{::$root.t("SectionHasNoQuestions")}}

                template-questions(question-groups='Section.QuestionGroups', section='Section', template='template', reorder-options='QuestionOptions', read-only='readOnly', edit-mode='editMode', events='questionEvents')

    button.template-manage__add-section(ng-if='permissions.TemplatesSectionAdd && !readOnly && !wizard', ng-click='OpenAddSectionModal()')
        i.fa.fa-plus
        |  {{::$root.t("AddSection")}}
    button.template-manage__add-section(ng-if='permissions.TemplatesSectionAddUpgrade && !wizard', ng-click='UpgradeModule("TemplatesSectionAdd")')
        i.fa.fa-plus
        |  {{::$root.t("AddSection")}}
        .upgrade__icon
