.template__item.template__item--parent(uib-dropdown)
    button.template__edit-btn(uib-dropdown-toggle)
        i.fa.fa-gear

    a.template__link(ng-click='goToTemplate(template.parent.Id, template.parent.activeVersion)', ng-show='template.parent.activeState === "Published"', ng-if="template.parent.Ready")
        .template__info(ng-class='{"is-showing": template.parent.showInfo}')
            i.fa.template__icon.template__icon--published(ng-if='template.parent.Published.Icon', class='{{template.parent.Published.Icon}}')
            i.fa.fa-archive.template__icon.template__icon--published(ng-if='!template.parent.Published.Icon')
            p.template__name(ng-bind='template.parent.Published.Name')
            section.template__tags.template__tags--published
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.parent.TotalProjectCount, VersionProjectCount : template.parent.Published.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.parent.Published.Version}}

    a.template__link(ng-click='goToTemplate(template.parent.Id, template.parent.activeVersion)', ng-show='template.parent.activeState === "Draft"', ng-if="template.parent.Ready")
        .template__info(ng-class='{"is-showing": template.parent.showInfo}')
            i.fa.template__icon(ng-if='template.parent.Draft.Icon', class='{{template.parent.Draft.Icon}}')
            i.fa.fa-archive.template__icon(ng-if='!template.parent.Draft.Icon')
            p.template__name(ng-bind='template.parent.Draft.Name')
            section.template__tags
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.parent.TotalProjectCount, VersionProjectCount : template.parent.Draft.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.parent.Draft.Version}}

    ul.template__tabs(ng-if="template.parent.Ready")
        li.template__tabs-item.template__tabs-item--published(ng-if='template.parent.Published', ng-class='{"is-active": template.parent.activeState === "Published"}')
            button.template__tabs-btn(ng-if='!(template.parent.Published && template.parent.Draft)')
                | {{::$root.t("Published")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template.parent, "Published")', ng-if='template.parent.Published && template.parent.Draft')
                | {{::$root.t("Published")}}
        li.template__tabs-item.template__tabs-item--draft(ng-if='template.parent.Draft' ng-class='{"is-active": template.parent.activeState === "Draft"}')
            button.template__tabs-btn(ng-if='!(template.parent.Published && template.parent.Draft)')
                | {{::$root.t("Draft")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template.parent, "Draft")', ng-if='template.parent.Published && template.parent.Draft')
                | {{::$root.t("Draft")}}
    loading(class="template__loader", ng-if="!template.parent.Ready", show-text="false")

    ul.dropdown-menu.pull-right.template__edit-menu(role='menu')
        li(ng-if='permissions.TemplatesPublish && template.parent.activeState === "Draft"')
            a(ng-click='publishTemplate(template.parent)')
                i.fa.fa-cloud-upload
                span {{::$root.t("PublishDraft")}}
        li(ng-if='permissions.TemplatesDiscard && template.parent.activeState === "Draft"')
            a(ng-click='deleteTemplate(template.parent, template.parent.activeVersion)')
                i.fa.fa-trash-o
                span {{::$root.t("DiscardDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.parent.activeState === "Draft"')
            a(ng-click='copy(template.parent, template.parent.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.parent.activeState === "Published"')
            a(ng-click='copy(template.parent, template.parent.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyPublished")}}
        li.is-disabled(ng-if='::permissions.TemplatesArchive', uib-tooltip='{{::$root.t("CannotArchiveLinkedQuestionnaires")}}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')
            a
                i.fa.fa-archive
                span {{::$root.t("ArchiveQuestionnaire")}}

.template__link-arrow

.template__item.template__item--child(uib-dropdown)
    button.template__edit-btn(uib-dropdown-toggle)
        i.fa.fa-gear

    a.template__link(ng-click='goToTemplate(template.child.Id, template.child.activeVersion)' ng-show='template.child.activeState === "Published"', ng-if="template.child.Ready")
        .template__info(ng-class='{"is-showing": template.child.showInfo}')
            i.fa.template__icon.template__icon--published(ng-if='template.child.Published.Icon', class='{{template.child.Published.Icon}}')
            i.fa.fa-archive.template__icon.template__icon--published(ng-if='!template.child.Published.Icon')
            p.template__name(ng-bind='template.child.Published.Name')
            section.template__tags.template__tags--published
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TotalProjectAndVersionProjectCount", {TotalProjectCount : template.child.TotalProjectCount, VersionProjectCount : template.child.Published.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.child.Published.Version}}

    a.template__link(ng-click='goToTemplate(template.child.Id, template.child.activeVersion)' ng-show='template.child.activeState === "Draft"', ng-if="template.child.Ready")
        .template__info(ng-class='{"is-showing": template.child.showInfo}')
            i.fa.template__icon(ng-if='template.child.Draft.Icon', class='{{template.child.Draft.Icon}}')
            i.fa.fa-archive.template__icon(ng-if='!template.child.Draft.Icon')
            p.template__name(ng-bind='template.child.Draft.Name')
            section.template__tags
                span.template__tags-item(uib-tooltip='{{ ::$root.t("TemplateProjectAndVersionProjectCount", {TotalProjectCount : template.child.TotalProjectCount, VersionProjectCount : template.child.Draft.VersionProjectCount}) }}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')  v{{template.child.Draft.Version}}

    ul.template__tabs(ng-if="template.child.Ready")
        li.template__tabs-item.template__tabs-item--published(ng-if='template.child.Published' ng-class='{"is-active": template.child.activeState === "Published"}')
            button.template__tabs-btn(ng-if='!(template.child.Published && template.child.Draft)')
                | {{::$root.t("Published")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template.child, "Published")', ng-if='template.child.Published && template.child.Draft')
                | {{::$root.t("Published")}}
        li.template__tabs-item.template__tabs-item--draft(ng-if='template.child.Draft' ng-class='{"is-active": template.child.activeState === "Draft"}')
            button.template__tabs-btn(ng-if='!(template.child.Published && template.child.Draft)')
                | {{::$root.t("Draft")}}
            button.template__tabs-btn(ng-click='toggleTemplateState(template.child, "Draft")', ng-if='template.child.Published && template.child.Draft')
                | {{::$root.t("Draft")}}
    loading(class="template__loader", ng-if="!template.child.Ready", show-text="false")

    ul.dropdown-menu.pull-right.template__edit-menu(role='menu')
        li(ng-if='permissions.TemplatesPublish && template.child.activeState === "Draft"')
            a(ng-click='publishTemplate(template.child)')
                i.fa.fa-cloud-upload
                span {{::$root.t("PublishDraft")}}
        li(ng-if='permissions.TemplatesDiscard && template.child.activeState === "Draft"')
            a(ng-click='deleteTemplate(template.child, template.child.activeVersion)')
                i.fa.fa-trash-o
                span {{::$root.t("DiscardDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.child.activeState === "Draft"')
            a(ng-click='copy(template.child, template.child.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyDraft")}}
        li(ng-if='permissions.TemplatesCopy && template.child.activeState === "Published"')
            a(ng-click='copy(template.child, template.child.activeVersion)')
                i.fa.fa-copy
                span {{::$root.t("CopyPublished")}}
        li.is-disabled(ng-if='::permissions.TemplatesArchive', uib-tooltip='{{::$root.t("CannotArchiveLinkedQuestionnaires")}}', tooltip-placement='bottom', tooltip-append-to-body='true', tooltip-class='tooltip-150px')
            a
                i.fa.fa-archive
                span {{::$root.t("ArchiveQuestionnaire")}}
