#pia-template-manage
    loading(ng-if="!Ready", text='{{::$root.t("QuestionnaireTemplate")}}')
    loading(
        ng-if="LoadingNewVersion",
        text="{{::$root.t('CreatingNewVersion')}}",
        show-loading-prefix="false")
    header.template-manage__header(ng-if="Ready && !LoadingNewVersion")
        ol.breadcrumb.template-manage__breadcrumb
            li(ng-if='templateType !== templateTypes.Datamapping')
                a(ui-sref='{{routes.list}}')
                    i.fa.fa-chevron-left
                    |  {{::$root.t("QuestionnaireTemplates")}}
            li.active {{::$root.t("Studio")}}
            li.active(ng-if='template.Name')
                | {{template.Name}}
                one-tag(
                    data-ng-if='template.State === TemplateStates.Published'
                    plain-text='V{{template.Version}}'
                    label-class='margin-right-half published'
                )
                one-tag(
                    data-ng-if='template.State !== TemplateStates.Published'
                    plain-text='V{{template.Version}}'
                    label-class='margin-right-half'
                )
                one-tag(
                    data-ng-if='template.State === TemplateStates.Draft'
                    translated-text='Draft'
                    label-class='margin-right-half'
                )
                one-tag(
                    data-ng-if='template.State === TemplateStates.Published'
                    translated-text='Published'
                    label-class='margin-right-half published'
                )
                one-tag(
                    data-ng-if='template.State == TemplateStates.Archived'
                    translated-text='Archived'
                    label-class='margin-right-half'
                )
                one-tag(
                    data-ng-if='lockTemplateEnabled'
                    translated-text='Locked'
                    icon="fa fa-lock margin-right-half"
                )

        section.template-manage__read-only
            h5.template-manage__read-only-text(ng-if='readOnly && !editMode')
                | {{::$root.t("ReadOnly")}}
            h5.template-manage__read-only-edit-mode(ng-if='editMode')
                | {{::$root.t("EditMode")}}
            .template-manage__edit.margin-right-1(
                uib-dropdown='',
                ng-if='permissions.TemplatesPublishedEdit && !editMode && templateIsEditable && !lockTemplateEnabled')
                one-button.template-manage__read-only-btn.template-manage__edit-btn(
                    data-ng-if='!editMode',
                    uib-dropdown-toggle='',
                    on-toggle='toggled(open)',
                    text='{{::$root.t("EditQuestionnaire")}}'
                )
                ul.template-manage__edit-list.dropdown-menu(
                    uib-dropdown-menu='',
                    aria-labelledby='simple-dropdown')
                    li.template-manage__edit-item(
                        uib-tooltip="{{::$root.t('MakeLimitedChangesToThisVersion')}}",
                        tooltip-placement='right',
                        tooltip-trigger='mouseenter',
                        tooltip-append-to-body='true')
                        a(ng-click='toggleEditMode()')
                            |  {{::$root.t("ThisVersion")}}
                    li.template-manage__edit-item(
                        ng-class='{"is-disabled" : !permissions.TemplatesShowVersions || (hasLaterVersions && templateType !== templateTypes.Datamapping)}',
                        uib-tooltip-template="'new-version-tooltip.html'",
                        tooltip-placement='right',
                        tooltip-trigger='mouseenter',
                        tooltip-append-to-body='true')
                        a(ng-click='createNewVersion(template.Id)')
                            |  {{::$root.t("NewVersion")}}
                script(type='text/ng-template', id='new-version-tooltip.html')
                    span(ng-if='!permissions.TemplatesShowVersions || (hasLaterVersions && templateType !== templateTypes.Datamapping)')
                        | {{::$root.t('NewVersionCannotBeCreated')}}
                    span(ng-if='permissions.TemplatesShowVersions && (!hasLaterVersions || templateType === templateTypes.Datamapping)')
                        | {{::$root.t('NewVersionCanBeCreated')}}

            .template-manage__edit(ng-if='permissions.TemplatesPublishedEditUpgrade && !editMode && templateIsEditable', ng-click='UpgradeModule("TemplatesPublishedEdit")')
                one-button.template-manage__read-only-btn.template-manage__edit-btn(
                    text='{{::$root.t("EditQuestionnaire")}}',
                    identifier='templateEditQuestionnaire',
                    icon-class='upgrade__icon'
                )
            one-button.template-manage__read-only-btn.margin-right-1(
                data-ng-if='permissions.TemplatesCopy && readOnly && !editMode && (templateType !== templateTypes.Datamapping)',
                uib-tooltip-template="'readonly-tooltip.html'",
                tooltip-placement='bottom',
                tooltip-trigger='mouseenter',
                button-click='copy()',
                text='{{::$root.t("CopyQuestionnaire")}}',
                identifier='templateCopyQuestionnaire',
            )
            one-button.template-manage__read-only-btn(
                data-ng-if='permissions.TemplatesCopyUpgrade && readOnly && !editMode && (templateType !== templateTypes.Datamapping)',
                button-click='UpgradeModule("TemplatesCopy")',
                text='{{::$root.t("CopyQuestionnaire")}}',
                icon-class='upgrade__icon',
                identifier='templateCopyUpgrade',
            )
            script(type='text/ng-template', id='readonly-tooltip.html')
                span(ng-if='template.State === TemplateStates.Published')
                    | {{::$root.t("CreatNewDraftWithFullEditCapabilities")}}
                span(ng-if='template.State === TemplateStates.Archived')
                    | {{::$root.t("ArchivedCopyQuestionnaireToCustomize")}}

            one-button.margin-right-1(
                data-ng-if='editMode',
                uib-tooltip='{{::$root.t("ExitEditModeReturnToReadOnlyMode")}}',
                tooltip-placement='bottom',
                tooltip-trigger='mouseenter',
                button-click='toggleEditMode()',
                text='{{::$root.t("SwitchToReadOnly")}}',
                identifier='templateReturnReadOnly',
            )
            one-button(
                data-ng-if='permissions.TemplatesShowVersions && !versionMenuShowing',
                button-click='toggleVersionMenu()',
                text='{{::$root.t("ShowVersions")}}',
                identifier='templateShowVersions',
            )
            one-button(
                data-ng-if='permissions.TemplatesShowVersions && versionMenuShowing',
                button-click='toggleVersionMenu()',
                text='{{::$root.t("HideVersions")}}',
                identifier='templateHideVersions',
            )
            one-button(
                data-ng-if='permissions.TemplatesShowVersionsUpgrade && !versionMenuShowing',
                button-click='UpgradeModule("TemplatesShowVersions")',
                text='{{::$root.t("ShowVersions")}}'.
                icon='upgrade__icon'
            )
            one-button(
                data-ng-if='!readOnly && permissions.TemplatesPublish',
                button-click='publishTemplate()',
                text='{{::$root.t("PublishQuestionnaire")}}',
                identifier='templatePublishQuestionnaire',
                class='margin-left-1'
            )
            one-button(
                data-ng-if='!readOnly && permissions.TemplatesPublish_Single',
                button-click='publishTemplateSingle()',
                text='{{::$root.t("PublishQuestionnaire")}}',
                identifier='templatePublishQuestionnaireSingle',
                class='margin-left-1'
            )
    .module-wrapper.templateStudio(ng-if="Ready")
        .text-center(ng-if='templateError')
            div(ng-bind-html='templateError')
            div
                button.btn.btn-primary.text-center(ui-sref='{{routes.list}}')
                    | {{::$root.t("GoBackToQuestionnaires")}}
        section.templateStudio-menu
            uib-accordion(close-others='true')
                div(
                    uib-accordion-group=""
                    heading='{{::$root.t("QuestionnaireDetails")}}',
                    data-ng-if='permissions.TemplatesDetailsEditName || permissions.TemplatesDetailsEditDescription || permissions.TemplatesDetailsEditIcon')
                    div.template-manage__sidebar-detail(ng-if='!readOnly || editMode')
                        div.template-manage__name-section(
                            data-ng-if='::permissions.TemplatesDetailsEditName')
                            p {{::$root.t("Name")}}
                            p.template-manage__editable-text(editable-text='template.Name' onaftersave='Save()')
                                | {{ template.Name || "- - - - -" }}
                                i.template-manage__editable-indicator.fa.fa-edit
                            hr
                        div.template-manage__description-section(
                            data-ng-if='::permissions.TemplatesDetailsEditDescription')
                            p {{::$root.t("Description")}}
                            p.template-manage__editable-text(editable-textarea='template.Description' onaftersave='Save()')
                                | {{ template.Description || "- - - - -" }}
                                i.template-manage__editable-indicator.fa.fa-edit
                            hr
                        div.template-manage__icon-section(
                            data-ng-if='::permissions.TemplatesDetailsEditIcon')
                            p {{::$root.t("Icon")}}
                            button.template-manage__sidebar-icon-btn.template-manage__editable-btn.editable.icon-edit(ng-click='OpenSelectIconModal()')
                                i.template-manage__sidebar-icon.template-manage__editable-icon.fa(class='{{template.Icon}}')
                                i.template-manage__editable-indicator.fa.fa-edit
                    div.template-manage__sidebar-detail(ng-if='readOnly && !editMode')
                        p {{::$root.t("Name")}}
                        p(ng-bind='template.Name')
                        hr
                        p {{::$root.t("Description")}}
                        p(ng-bind='template.Description')
                        hr
                        p {{::$root.t("Icon")}}
                        button.template-manage__sidebar-icon-btn
                            i.template-manage__sidebar-icon.fa(class='{{template.Icon}}')
                div(
                    uib-accordion-group=""
                    heading='{{::$root.t("WelcomeTextOption")}}',
                    data-ng-if='::permissions.TemplatesCustomWelcomeText',
                    data-ng-click='template.SelectedIndex = 0;')
                    .template-manage__sidebar-welcome(ng-if='!readOnly || editMode')
                        one-button(
                            identifier='editModeWelcomeTextDefaultButton',
                            is-selected='template.HasCustomWelcomeText === false',
                            data-ng-model='template.HasCustomWelcomeText',
                            button-click='SetWelcomeText(false)',
                            type='select',
                            text='{{::$root.t("Default")}}',
                        )
                        one-button(
                            identifier='editModeWelcomeTextCustomButton',
                            is-selected='template.HasCustomWelcomeText',
                            data-ng-model='template.HasCustomWelcomeText',
                            button-click='SetWelcomeText(true); OpenWelcomeTextModal();',
                            type='select'
                            text='{{::$root.t("Custom")}}'
                        )
                    .template-manage__sidebar-welcome(ng-if='readOnly && !editMode')
                        one-button(
                            identifier='readonlyWelcomeTextDefaultButton',
                            is-selected='template.HasCustomWelcomeText === false',
                            ng-model='template.HasCustomWelcomeText',
                            ng-disabled='true',
                            type='select',
                            text='{{::$root.t("Default")}}')
                        one-button(
                            identifier='readonlyWelcomeTextCustomButton',
                            is-selected='template.HasCustomWelcomeText',
                            ng-model='template.HasCustomWelcomeText',
                            ng-disabled='true',
                            type='select',
                            text='{{::$root.t("Custom")}}')
                div(
                    uib-accordion-group=""
                    heading='{{::$root.t("TemplateBuilder")}}',
                    ng-if='!readOnly && template.Sections.length')
                    p.template-manage__sidebar-add-text {{::$root.t("DragAndDropQuestionToTemplate")}}
                    .template-nodes(
                        ui-tree='QuestionOptions',
                        data-clone-enabled='true',
                        data-nodrop-enabled='true')
                        ul.template-nodes-group(
                            ui-tree-nodes,
                            ng-model="QuestionTypesArray")
                            li.template-nodes-group-node(
                                ui-tree-node,
                                ng-repeat="Type in QuestionTypesArray track by $index",
                                ng-if="::((!Type.Permission.Key || Permissions.canShow(Type.Permission.Key)) || (Type.Permission.Upgrade && Permissions.canShow(Type.Permission.Upgrade)))"
                                ng-disabled='(IsTypeDisabled(Type.Type) || (Type.Permission.Upgrade && Permissions.canShow(Type.Permission.Upgrade)))')
                                .template-nodes-group-node-name(ui-tree-handle)
                                    | {{Type.TypeName}}
                                    .template-nodes-group-node-icon.upgrade__icon(ng-if="::Permissions.canShow(Type.Permission.Upgrade)")
                div(
                    uib-accordion-group=""
                    heading='{{::$root.t("TemplateThreshold")}}',
                    ng-if='template.State === TemplateStates.Published && allowThresholds && LinkableTemplates.length')
                    section(ng-if='template.HasParents')
                        p.template-manage__sidebar-link-text {{::$root.t("UnableToCreateThresholdQuestionnaire")}}
                    section.flex(ng-if='!template.HasParents')
                        button.template-manage__sidebar-link-checkbox(
                            ng-class="{'checked': LinkingEnabled}",
                            ng-click='toggleLinkEnabled()')
                            i.ot.ot-check
                        label.template-manage__sidebar-link-text {{::$root.t("IsThisAThresholdQuestionnaire")}}
                    section(ng-if='LinkingEnabled && !template.HasParents')
                        .template-manage__sidebar-link-type.one-select
                            i.one-select__arrow.fa.fa-caret-down
                            select.one-select__select(
                                type='text',
                                name='Type',
                                ng-model='LinkedTemplate',
                                ng-options='template.Name for template in LinkableTemplates track by template.Id',
                                ng-change='setLinkedTemplate(LinkedTemplate)')
                                option(value='') -- {{::$root.t("ChooseFollowUpTemplate")}} --
                        one-button(
                            button-click='saveLinkedTemplate()',
                            enable-loading="true",
                            is-disabled="savingTemplate",
                            is-loading="savingTemplate",
                            text='{{::$root.t("SaveThreshold")}}',
                            type="primary"
                        )

                .self-service(
                    uib-accordion-group=""
                    heading='{{::$root.t("SelfServiceAccess")}}',
                    ng-if='selfServiceEnabled && templateType !== templateTypes.Datamapping && !template.HasParents')
                    section.template-manage__sidebar-link-section.margin-bottom-1
                        one-checkbox(
                            class="margin-right-half"
                            is-selected="selfServiceLinked"
                            toggle="toggleSelfService()"
                        )
                        label.template-manage__sidebar-link-text.self-service-text.margin-left-1
                            | {{::$root.t("IncludeSelfService")}}
                        i.question__hint.fa.fa-info-circle(
                            popover-class='self-service-popover',
                            popover-append-to-body='true',
                            uib-popover='{{::$root.t("SelfServiceDescription", {Project: $root.customTerms.Project}, {Projects: $root.customTerms.Projects})}}',
                            popover-placement='top',
                            popover-trigger='mouseenter')
                    section.template-manage__sidebar-link-section.margin-bottom-1(ng-if='selfServiceLinked')
                        one-checkbox(
                            class="margin-right-half"
                            is-selected="directLaunchEnabled"
                            toggle="toggleDirectLaunch()"
                        )
                        label.template-manage__sidebar-link-text.self-service-text.margin-left-1.margin-bottom-0
                            | {{::$root.t("LaunchDirectlyIntoProject", { Project: $root.customTerms.Project })}}
                        i.question__hint.fa.fa-info-circle(
                            popover-class='self-service-popover',
                            popover-append-to-body='true',
                            uib-popover='{{::$root.t("DirectLaunchDescription", {Project: $root.customTerms.Project})}}',
                            popover-placement='top',
                            popover-trigger='mouseenter')
                    .template-manage__sidebar-link-section-sub-section-wrapper(ng-if='selfServiceLinked && !directLaunchEnabled')
                        hr.margin-top-2.margin-bottom-1
                        section.template-manage__sidebar-link-section.sub-section
                            .sub-section-header.margin-bottom-2
                                one-checkbox(
                                    class="margin-right-half"
                                    is-selected="SelectOrgGroup"
                                    toggle="toggleAssignOrganizationEnabled()"
                                )
                                label.template-manage__sidebar-link-text.sub-label.margin-left-1.margin-bottom-0
                                    | {{::$root.t("AllowCreatorsToSelectOrganization", {Project: $root.customTerms.Project})}}
                                i.fa.fa-info-circle.margin-left-1(
                                    popover-class='self-service-popover',
                                    popover-append-to-body='true',
                                    uib-popover='{{::$root.t("AllowCreatorsToSelectOrganizationText", {Project: $root.customTerms.Project}, {Projects: $root.customTerms.Projects})}}',
                                    popover-placement='top',
                                    popover-trigger='mouseenter')
                            .sub-section-header.margin-bottom-1
                                one-checkbox(
                                    class="margin-right-half"
                                    is-selected="SelectAssignee"
                                    toggle="toggleAssignProjectEnabled()"
                                )
                                label.template-manage__sidebar-link-text.sub-label.margin-left-1.margin-bottom-0
                                    | {{::$root.t("AllowCreatorsToAssignProject", {Projects: $root.customTerms.Projects})}}
                                i.fa.fa-info-circle.margin-left-1(
                                    popover-class='self-service-popover',
                                    popover-append-to-body='true',
                                    uib-popover='{{::$root.t("AllowCreatorsToAssignProjectText", {Project: $root.customTerms.Project}, {Projects: $root.customTerms.Projects})}}',
                                    popover-placement='top',
                                    popover-trigger='mouseenter')
                        hr.margin-top-0.margin-bottom-4

                .self-service(
                    uib-accordion-group=""
                    heading='{{::$root.t("Settings")}}'
                    ng-if='permissions.TemplatesLock'
                )
                    section.flex
                        one-checkbox(
                            class="margin-right-half margin-top-half"
                            is-selected="lockTemplateEnabled"
                            toggle="toggleLockTemplate()"
                        )
                        .flex.column-nowrap.margin-left-1
                            label.template-manage__sidebar-link-text.self-service-text.margin-none
                                | {{::$root.t("DisableEdits")}}
                            p {{::$root.t("PreventTheTemplateFromBeingEdited")}}

        section.manage-template(ng-if='template.Id')
            #TemplateSections
                include ./pia_template_manage_sections.jade
        loading.manage-template__reorder-loading(
            ng-if="ReorderInProgress"
            text="{{::$root.t('ReorderInProgress')}}"
            show-loading-prefix="false")

        section.template-manage__versions(ng-if='versionMenuShowing')
            header.template-manage__versions-label
                h5 {{::$root.t("VersionHistory")}}
            ul.template-manage__versions-list
                // Current Versions Divider
                li.template-manage__versions-divider(ng-if='versionHistoryCurrent.length')
                    | {{::$root.t("CurrentVersions")}}
                // Current Versions
                li.template-manage__versions-item(
                    ng-repeat='version in versionHistoryCurrent track by $index',
                    ng-if='versionHistoryCurrent.length')
                    section.template-manage__versions-header(ng-class='{"is-selected": version.isSelected}')
                        loading.template-manage__versions-loading(
                            ng-if='version.Loading',
                            show-text='false')
                        span.template-manage__versions-name(
                            ng-if='!version.Loading',
                            ng-click='changeVersion(version)')
                            span.template-manage__versions-number
                                | {{::$root.t("Version")}} {{version.Version}}
                            span.template-manage__versions-state.template-manage__versions-state--published(
                                ng-if='version.State === TemplateStates.Published')
                                | {{::$root.t("Published")}}
                            span.template-manage__versions-state(ng-if='version.State === TemplateStates.Draft')
                                | {{::$root.t("Draft")}}
                            span.template-manage__versions-delete(
                                ng-if='version.State === TemplateStates.Draft',
                                ng-click="discardDraft(version); $event.stopPropagation();",
                                uib-tooltip='{{::$root.t("DiscardDraft")}}',
                                tooltip-placement='right',
                                tooltip-trigger='mouseenter')
                                i.fa.fa-trash-o
                            span.template-manage__versions-state(ng-if='version.State === TemplateStates.Archived')
                                | {{::$root.t("Archived")}}
                            span.template-manage__versions-updated(ng-if='version.PublishedDT')
                                | {{::$root.t("Published")}}
                                one-date(
                                    date-to-format='version.PublishedDT',
                                    enable-tooltip='true')
                            span.template-manage__versions-updated(ng-if='!version.PublishedDT')
                                | {{::$root.t("Created")}}
                                one-date(
                                    date-to-format='version.CreateDT',
                                    enable-tooltip='true')
                        button.template-manage__versions-details(ng-click='version.showDetails = !version.showDetails')
                            i.fa.fa-caret-down(ng-if='!version.showDetails')
                            i.fa.fa-caret-up(ng-if='version.showDetails')
                    ul.template-manage__versions-info(ng-if='version.showDetails')
                        li.template-manage__versions-info-item(ng-if='version.CreatedBy')
                            p
                                | {{::$root.t("CreatedBy")}}&nbsp
                                b {{version.CreatedBy}}
                        li.template-manage__versions-info-item(ng-if='version.CreateDT')
                            p
                                | {{::$root.t("Created")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.CreateDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item(ng-if='version.PublishedBy')
                            p
                                | {{::$root.t("PublishedBy")}}&nbsp
                                b {{version.PublishedBy}}
                        li.template-manage__versions-info-item(ng-if='version.PublishedDT')
                            p
                                | {{::$root.t("Published")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.PublishedDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item
                            p
                                b {{version.ProjectCount}}&nbsp
                                | {{ $root.translations.Projects }}
                // Previous Versions Divider
                li.template-manage__versions-divider(ng-if='versionHistoryPrevious.length')
                    | {{::$root.t("PreviousVersions")}}
                // Previous Versions
                li.template-manage__versions-item(
                    ng-repeat='version in versionHistoryPrevious track by $index',
                    ng-if='versionHistoryPrevious.length')
                    section.template-manage__versions-header(
                        ng-class='{"is-selected": version.isSelected}')
                        button.template-manage__versions-name(
                            ng-click='changeVersion(version)')
                            span.template-manage__versions-number
                                | {{::$root.t("Version")}} {{version.Version}}
                            span.template-manage__versions-state.template-manage__versions-state--published(
                                ng-if='version.State === TemplateStates.Published')
                                | {{::$root.t("Published")}}
                            span.template-manage__versions-state(
                                ng-if='version.State === TemplateStates.Draft')
                                | {{::$root.t("Draft")}}
                            span.template-manage__versions-state(
                                ng-if='version.State === TemplateStates.Archived')
                                | {{::$root.t("Archived")}}
                            span.template-manage__versions-updated(
                                ng-if='version.PublishedDT')
                                | {{::$root.t("Published")}}
                                one-date(
                                    date-to-format='version.PublishedDT',
                                    enable-tooltip='true',)
                            span.template-manage__versions-updated(
                                ng-if='!version.PublishedDT')
                                | {{::$root.t("Created")}}
                                one-date(
                                    date-to-format='version.CreateDT',
                                    enable-tooltip='true',)
                        button.template-manage__versions-details(ng-click='version.showDetails = !version.showDetails')
                            i.fa.fa-caret-down(ng-if='!version.showDetails')
                            i.fa.fa-caret-up(ng-if='version.showDetails')
                    ul.template-manage__versions-info(ng-if='version.showDetails')
                        li.template-manage__versions-info-item(ng-if='version.CreatedBy')
                            p
                                | {{::$root.t("CreatedBy")}}&nbsp
                                b {{version.CreatedBy}}
                        li.template-manage__versions-info-item(ng-if='version.CreateDT')
                            p
                                | {{::$root.t("Created")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.CreateDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item(ng-if='version.PublishedBy')
                            p
                                | {{::$root.t("PublishedBy")}}&nbsp
                                b {{version.PublishedBy}}
                        li.template-manage__versions-info-item(ng-if='version.PublishedDT')
                            p
                                | {{::$root.t("Published")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.PublishedDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item
                            p
                                b {{version.ProjectCount}}&nbsp
                                | {{ $root.translations.Projects }}
                // Archived Versions Divider
                li.template-manage__versions-divider(ng-if='versionHistoryArchived.length')
                    | {{::$root.t("ArchivedVersions")}}
                // Archived Versions
                li.template-manage__versions-item(
                    ng-repeat='version in versionHistoryArchived track by $index',
                    ng-if='versionHistoryArchived.length')
                    section.template-manage__versions-header(
                        ng-class='{"is-selected": version.isSelected}')
                        button.template-manage__versions-name(
                            ng-click='changeVersion(version)')
                            span.template-manage__versions-number
                                | {{::$root.t("Version")}} {{version.Version}}
                            span.template-manage__versions-state.template-manage__versions-state--published(
                                ng-if='version.State === TemplateStates.Published')
                                | {{::$root.t("Published")}}
                            span.template-manage__versions-state(
                                ng-if='version.State === TemplateStates.Draft')
                                | {{::$root.t("Draft")}}
                            span.template-manage__versions-state(
                                ng-if='version.State === TemplateStates.Archived')
                                | {{::$root.t("Archived")}}
                            span.template-manage__versions-updated(
                                ng-if='version.PublishedDT')
                                | {{::$root.t("Published")}}
                                one-date(
                                    date-to-format='version.PublishedDT',
                                    enable-tooltip='true')
                            span.template-manage__versions-updated(ng-if='!version.PublishedDT')
                                | {{::$root.t("Created")}}
                                one-date(
                                    date-to-format='version.CreateDT',
                                    enable-tooltip='true')
                        button.template-manage__versions-details(ng-click='version.showDetails = !version.showDetails')
                            i.fa.fa-caret-down(ng-if='!version.showDetails')
                            i.fa.fa-caret-up(ng-if='version.showDetails')
                    ul.template-manage__versions-info(ng-if='version.showDetails')
                        li.template-manage__versions-info-item(ng-if='version.CreatedBy')
                            p
                                | {{::$root.t("CreatedBy")}}&nbsp
                                b {{version.CreatedBy}}
                        li.template-manage__versions-info-item(ng-if='version.CreateDT')
                            p
                                | {{::$root.t("Created")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.CreateDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item(ng-if='version.PublishedBy')
                            p
                                | {{::$root.t("PublishedBy")}}&nbsp
                                b {{version.PublishedBy}}
                        li.template-manage__versions-info-item(ng-if='version.PublishedDT')
                            p
                                | {{::$root.t("Published")}}&nbsp
                                b
                                    one-date(
                                        date-to-format='version.PublishedDT',
                                        enable-tooltip='true')
                        li.template-manage__versions-info-item
                            p
                                b {{version.ProjectCount}}&nbsp
                                | {{ $root.translations.Projects }}

// Modals!
include ./Modals/save_question_modal.jade
include ./Modals/add_section_modal.jade
include ./Modals/conditional_modal.jade
include ./Modals/edit_section_modal.jade
include ./Modals/select_icon_modal.jade
include ./Modals/welcome_text_modal.jade
include ./Modals/statement_modal.jade
