#pia-templates
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(ui-sref='{{routes.list}}') {{::$root.t("QuestionnaireTemplates")}}
            one-button.margin-right-1(
                ui-sref='{{routes.archive}}',
                data-ng-if='Permissions.canShow("TemplatesViewArchive")',
                icon='fa',
                icon-class='fa-archive',
                text='{{::$root.t("ViewArchived")}}',
                identifier='templatesViewArchive',
            )
            one-button.margin-right-1(
                button-click='UpgradeModule("TemplatesViewArchive")',
                data-ng-if='Permissions.canShow("TemplatesViewArchiveUpgrade")',
                icon='fa',
                icon-class='fa-archive',
                text='{{::$root.t("ViewArchived")}}',
                identifier='templatesViewArchiveUpgrade',
            )
                p
                .upgrade__icon
            form.template-search.one-search(role='search')
                label.one-search__label(for='pia-template-search')
                    i.ot.ot-search.one-search__icon
                input#pia-template-search.one-search__input(type='text', placeholder='{{::$root.t("SearchQuestionnaires")}}', ng-model='templateFilter')

    #template-container.module-wrapper.template-container()
        loading(ng-if='loadingTemplate',text='{{::$root.t("QuestionnaireTemplates")}}')

        section.template__add(ng-if='Ready && !loadingTemplate')
            h3
                i.fa.fa-plus.template__add-icon
                | {{::$root.t("AddNewQuestionnaireTemplate")}}
            one-button(
                button-click='openCreateTemplateModal()',
                data-ng-if='Permissions.canShow("TemplatesCreate")',
                type='cta',
                text='{{::$root.t("CreateYourOwn")}}',
                identifier='templatesCreate',
            )
            one-button(
                button-click='UpgradeModule("TemplatesCreate")',
                data-ng-if='Permissions.canShow("TemplatesCreateUpgrade")',
                type='cta',
                text='{{::$root.t("CreateYourOwn")}}',
                icon='upgrade__icon',
                identifier='templatesCreateUpgrade',
            )
            one-button(
                button-click='openStudio()',
                data-ng-if='Permissions.canShow("TemplatesGallery")',
                type='cta',
                text='{{::$root.t("ChooseFromGallery")}}',
                identifier='templatesGallery',
            )
            one-button(
                button-click='UpgradeModule("TemplatesGallery")',
                data-ng-if='Permissions.canShow("TemplatesGalleryUpgrade")',
                type='cta',
                text='{{::$root.t("ChooseFromGallery")}}',
                icon='upgrade__icon',
                identifier='templatesGalleryUpgrade',
            )
            one-button(
                button-click='openUploadTemplateModal()',
                data-ng-if='Permissions.canShow("TemplatesImport")',
                type='cta',
                text='{{::$root.t("ImportQuestionnaire")}}',
                identifier='templatesImport',
            )
            one-button(
                button-click='UpgradeModule("TemplatesImport")',
                data-ng-if='Permissions.canShow("TemplatesImportUpgrade")',
                type='cta',
                text='{{::$root.t("ImportQuestionnaire")}}',
                icon='upgrade__icon',
                identifier='templatesImportUpgrade',
            )

        .templates-list(ng-show='templates && !loadingTemplate', ng-cloak='')
            .template__item-container(ng-repeat='template in (templates | filter: templateFilter) track by $index', ng-class='{"template__item-container--unlinked": !template.isLinked, "template__item-container--linked": template.isLinked}')
                div.template__item-linked(ng-if='template.isLinked')
                    include ./pia_template_linked-card.jade
                span(ng-if='!template.isLinked')
                    include ./pia_template_card.jade

        // No Project Warning
        .template__message(ng-if='!templates.length')
            h2
                |{{::$root.t("NoQuestionnaireTemplates")}}
                br
                |{{::$root.t("CreateQuestionnaireTemplateViaButtons")}}

include ./Modals/create_template_modal.jade
