.template-questions
    .template-questions-group(ng-model="Section.Questions")
        .template-questions-group-node(ng-repeat='Question in Section.Questions track by $index')

            label.pia-question__number
            h4.qn-label.text-center(ng-if="Question.Type != QuestionTypes.Content") {{Question.Number || $index+1}}
            h4.qn-label.text-center(ng-if="Question.Type == QuestionTypes.Content")
                i.fa.fa-quote-right
            question.example-item(question='Question', template='template', events='questionEvents', edit-mode='editMode', read-only='readOnly')
