.template-sections.section-container.template-gallery-sections
    .template-sections-group(ng-model="template.Sections")
        .template-manage__section-item(id="Welcome", ng-show='template.HasWelcomeText')
            .template-manage__section-number.template-manage__section-number--read-only(ng-if='readOnly', ng-click='toggleWelcome()')
                i.ot.ot-star
                i.nav(class='fa' ng-class="{\'fa-caret-down\': ShowWelcomeText, \'fa-caret-right\': !ShowWelcomeText }")
            .template-manage__section-number(ng-if='!readOnly', ng-click='toggleWelcome()')
                span.template-manage__section-hover--hide
                i.ot.ot-star
                i.nav(class='fa' ng-class="{\'fa-caret-down\': ShowWelcomeText, \'fa-caret-right\': !ShowWelcomeText }")
                i.fa.fa-arrows.template-manage__section-hover--show
            .template-manage__section-text
                | {{::$root.t("WelcomeSection")}}

        .template-manage__details.pia-section(ng-show='ShowWelcomeText')
            .welcome-text(ng-bind-html='WelcomeText')

        .template-sections-group-node(ng-repeat='Section in template.Sections track by $index')
            .template-manage__section-item

                .template-manage__section-number.template-manage__section-number--read-only(ng-if='readOnly', ng-click='Section.Show = !Section.Show')
                    | {{::$root.t("Section")}}&nbsp{{ Section.Number || $index + 1}}&nbsp
                    i.nav(class='fa' ng-class="{\'fa-caret-down\': Section.Show, \'fa-caret-right\': !Section.Show }")
                .template-manage__section-number(ng-if='!readOnly && permissions.TemplatesQuestionItemPreview', ng-click='Section.Show = !Section.Show')
                    | {{::$root.t("Section")}}&nbsp{{ Section.Number || $index + 1}}&nbsp
                    i.nav(class='fa' ng-class="{\'fa-caret-down\': Section.Show, \'fa-caret-right\': !Section.Show }")
                    span.template-manage__section-hover--hide
                    i.fa.fa-arrows.template-manage__section-hover--show
                .template-manage__section-text(ng-if='!readOnly')
                    | {{Section.Name}}

                .template-manage__section-text(ng-if='readOnly')
                    | {{Section.Name}}

            .template-manage__details.pia-section(ng-if='Section.Show')
                h1.template-manage__details-header(ng-if='!readOnly && !Section.Questions.length')
                    | {{::$root.t("SectionHasNoQuestions")}}


                include ./pia_template_manage_gallery_questions.jade
