#pia-template-manage
    header
        ol.breadcrumb
            li
                a(ui-sref='{{routes.list}}')
                    i.fa.fa-chevron-left
                    |  {{::$root.t("QuestionnaireTemplates")}}
            li.active {{::$root.t("Gallery")}}
    .module-wrapper.studio-wrapper
        .text-center(ng-if='templateError')
            div
                one-button.text-center(
                    ui-sref='{{routes.list}}',
                    identifier='goBacktoQuestionnaires',
                    type='primary',
                    text='{{::$root.t("GoBackToQuestionnaireTemplates")}}'
                )
        .studio__header(ng-class='{"collapsed": galleryIsCollapsed()}')
            .studio__header-message(ng-if='!template && !loadingTemplate')
                h3.studio__header-message-title
                    | {{::$root.t("SelectQuestionnaireTemplateToPreview")}}
                i.studio__header-message-icon.fa.fa-chevron-down
        .studio
            loading(class="studio__loading", ng-if="!Ready", text="{{ ::$root.t('QuestionnaireTemplates') }}")
            section.studio__gallery(ng-if='Ready && templates.length', ng-class='{"collapsed": galleryIsCollapsed()}')
                .studio__gallery-list
                    .template__item(ng-repeat='template in templates track by $index', ng-click='slideToggle(template)', ng-class="{'selected': (SelectedId === template.Id), 'unselected': SelectedId && (SelectedId !== template.Id)}")
                        .upgrade__icon(ng-if='template.State === TemplateStates.Locked')
                        a.template__link
                            .template__info
                                i.ot.template__icon.template__icon--published(ng-if='template.Icon && template.State !== TemplateStates.Locked', class='{{template.Icon}}')
                                i.fa.fa-archive.template__icon.template__icon--published(ng-if='!template.Icon && template.State !== TemplateStates.Locked')
                                i.ot.template__icon(ng-if='template.Icon && template.State === TemplateStates.Locked', class='{{template.Icon}}')
                                i.fa.fa-archive.template__icon(ng-if='!template.Icon && template.State === TemplateStates.Locked')
                                p.template__name(ng-bind='template.Name')
                button.studio__gallery-toggle(ng-if='galleryIsCollapsed()', ng-click='unCollapseGallery()')
                    i.fa.fa-chevron-right
            section.studio__container(ng-class='{"collapsed": !galleryIsCollapsed()}')
                loading(class="studio__loading", ng-if="loadingTemplate", text="{{ ::$root.t('QuestionnaireTemplates') }}")
                section.studio__gallery-placeholder(ng-show='showingUpgradeMessage && !loadingTemplate')
                    .upgrade__icon
                    h3.studio__gallery-placeholder-text
                        | {{::$root.t("QuestionnaireTemplateAvailableOnUpgrade")}}
                    one-button(
                        type='primary',
                        button-click='UpgradeModule("Templates", Upgrade.ModuleStates.Form)',
                        text='{{::$root.t("ContactSales")}}'
                    )
                    .studio__gallery-placeholder-description(ng-if='template.Description')
                        label {{::$root.t("AboutThisQuestionnaireTemplate")}}&nbsp;
                        p {{template.Description}}
                section.studio-template(ng-show='template && !showingUpgradeMessage && !loadingTemplate')
                    .questions-container(layout='column')
                        section.manage-template(ng-if='template.Sections.length')
                            #TemplateSections
                                include ./pia_template_manage_gallery_sections.jade

                footer.studio-footer
                    one-button.margin-right-1(
                        button-click='Cancel()',
                        identifier='templateStudioCancel',
                        text='{{::$root.t("Cancel")}}'
                    )
                    one-button(
                        button-click='openCopyTemplateModal()',
                        is-disabled='!template.Id || loadingTemplate || showingUpgradeMessage',
                        identifier='templateStudioChooseQuestionnaire',
                        type='primary',
                        text='{{::$root.t("ChooseThisQuestionnaire")}}'
                    )

include ./Modals/copy_template_modal.jade
