.report-template-card {
    transition: all 0.15s ease-in-out;
    min-height: 30rem;
    width: 30rem;
    border-radius: .3rem;

    &:hover {
        transform: translateY(-3px);
        @extend .shadow3;
    }

    &__image {
        height: 8.4rem;
    }

    &__header {
        font-weight: 600;
    }

    &__body {
        font-size: 13px;
    }
}
