<ot-page-header
    class="static-vertical"
    [title]="'ReportGallery' | otTranslate"
    >
    </ot-page-header>
<div class="page-container justify-center stretch-vertical background-grey overflow-y-scroll">
    <div class="cards-container justify-center row-wrap padding-top-bottom-5 margin-0-auto overflow-y-auto">
        <ng-container *ngFor="let card of cards">
            <article
                *ngIf="(!card.showPermission || (card.showPermission | otPermit: card.showPermissionConcatLogic)) || (card.upgradePermission | otPermit)"
                class="slds-card report-template-card text-center padding-all-1-half margin-all-1 column-nowrap position-relative"
                >
                <i
                    class="ot ot-lock position-absolute top-1 right-2 color-platinum text-large"
                    *ngIf="card.upgradePermission | otPermit"
                    >
                </i>
                <img
                    class="report-template-card__image margin-bottom-2 full-width"
                    src="{{card.imagePath}}"
                    >
                <div
                    class="report-template-card__header margin-bottom-2 paragraph-large"
                    [ngClass]="(card.upgradePermission | otPermit)? 'color-platinum' : 'text-color-default'"
                    >
                    {{card.header | otTranslate}}
                </div>
                <p
                    class="report-template-card__body text-center margin-bottom-auto"
                    [ngClass]="(card.upgradePermission | otPermit)? 'color-platinum' : 'text-color-default'"
                    >
                    {{card.body | otTranslate}}
                </p>
                <button otButton brand
                    *ngIf="!(card.upgradePermission | otPermit); else upgradeButton"
                    class="report-template-card__button align-self-center"
                    ot-auto-id="CreateTemplateButtonId"
                    (click)="reportAction.openReportsCreateModal(card.moduleType, card.reportColumnType, card.templateId)"
                    >
                    {{ 'Create' | otTranslate}}
                </button>
                <ng-template #upgradeButton>
                    <button otButton neutral
                        class="report-template-card__button align-self-center"
                        ot-auto-id="UpgradeForTemplateButtonId"
                        (click)="mcmModalService.openMcmModal('Upgrade')"
                        >
                        {{ 'Upgrade' | otTranslate}}
                    </button>
                </ng-template>
            </article>
        </ng-container>
    </div>
</div>
