.one-accordion {
    flex-direction: column;

    &__button {
        background-color: $paper-gray;
        color: $slate;
        cursor: pointer;
        padding: 1.8rem;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-bottom: 0.1rem $grey-2 solid;

        &--active {
            box-shadow: 0 -.8rem .5rem -.5rem $grey-3;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $slate;
        }

        &-icon {
            pointer-events: none;
            float: right;
        }
    }

    &__button-title {
        pointer-events: none;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    &__panel {
        background-color: $white;

        &.expanded {
            border-bottom: 0.1rem $grey-2 solid;
        }
    }
}
