<ot-modal-header (close)="closeModal()">
    <div>{{ 'AssessmentActivity' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height">
    <div class="background-grey padding-top-bottom-1 padding-left-3 margin-bottom-2 margin-left-right-2 row-space-between min-height-5-half">
        <div>
            <button otButton neutral
                ot-auto-id="assessmentActivityToggleAscendingDescending"
                [icon]="activitiesDescending ? 'ot ot-sort-amount-desc' : 'ot ot-sort-amount-asc'"
                (click)="toggleOrder()"
            ></button>
            <button otButton neutral
                ot-auto-id="assessmentActivityToggleExpand"
                [innerText]="allItemsExpanded ? ('CollapseAll' | otTranslate) : ('ExpandAll' | otTranslate)"
                (click)="toggleExpand()"
            ></button>
        </div>
        <div class= "min-width-25 padding-right-2">
            <ot-picklist
                ot-auto-id="AssessmentActivityFilter"
                [autoClose]="true"
                [model]="selectedOption || assessmentFilterStates[0]"
                [options]="assessmentFilterStates"
                (onSelect)="selectOption($event)"
            ></ot-picklist>
        </div>
    </div>
    <div class="assessment-activity__content-container background-white overflow-y-auto">
        <ng-container *ngIf="loading; else assessmentActivities">
            <ot-loading
                class="column-horizontal-vertical-center height-100 margin-top-3"
            ></ot-loading>
        </ng-container>
        <ng-template #assessmentActivities>
            <one-empty-state
                *ngIf="!formattedActivities?.length && !isModalLoading; else assessmentActivityTimeline"
                class="column-horizontal-vertical-center height-100"
            ></one-empty-state>
            <ng-template #assessmentActivityTimeline>
                <div class="assessment-activity__content padding-all-2">
                    <ot-activity-timeline>
                        <ot-activity-timeline-item
                            *ngFor="let activity of formattedActivities; trackBy: trackByActivity"
                            [activity]="activity"
                            [isExpanded]="expandedItemMap[activity.id]"
                            [icon]="activity.icon"
                            [iconColor]="activity.iconColor"
                            [iconBackgroundColor]="activity.iconBackgroundColor"
                            (toggle)="toggleActivity(activity.id)"
                            >
                            <ul
                                class="row-wrap-space-between padding-bottom-1"
                                *ngFor="let change of activity.activities; let i = index; let first = first; let last = last;"
                                [ngClass]="{
                                    'border-bottom' : !last,
                                    'margin-top-1' : !first
                                }"
                                >
                                <li class="flex-full-33">
                                    <span class="block text-small text-bold padding-bottom-half">{{ activity.fieldLabel }}</span>
                                    <span class="block text-small">{{ change.fieldName }}</span>
                                </li>
                                <li
                                    *ngIf="!activity.isOldNewLabelEmpty"
                                    class="flex-full-33">
                                    <span class="block text-small text-bold padding-bottom-half">{{ activity.oldFieldLabel }}</span>
                                    <span class="block text-small">{{ change.oldValue || "- - - -" }}</span>
                                </li>
                                <li
                                    *ngIf="!activity.isOldNewLabelEmpty"
                                    class="flex-full-33">
                                    <span class="block text-small text-bold padding-bottom-half">{{ activity.newFieldLabel }}</span>
                                    <span class="block text-small">{{ change.newValue || "- - - -" }}</span>
                                </li>
                            </ul>
                        </ot-activity-timeline-item>
                    </ot-activity-timeline>
                </div>
                <ot-loading *ngIf="isLoadingMoreActivities"></ot-loading>
                <div
                    *ngIf="hasMoreActivities && !isLoadingMoreActivities"
                    class="assessment-activity__footer row-vertical-center margin-left-right-2 border-top padding-top-bottom-1"
                    >
                    <button
                        otButton
                        neutral
                        class="margin-0-auto"
                        ot-auto-id="assessmentActivityToggleExpand"
                        (click)="addActivitiesToView()"
                        >
                            {{ "ViewMore"| otTranslate }}
                    </button>
                </div>
            </ng-template>
        </ng-template>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="'AssessmentActivityStreamCloseButton'"
        (click)="closeModal()"
    >
        {{ 'Close' | otTranslate }}
</button>
</ot-modal-footer>
