<div class="background-frost color-slate flex-full-height column-horizontal-vertical-center overflow-y-auto">
    <div class="slds-p-bottom--x-large text-center margin-left-right-1">
        <div class="margin-0-auto">
            <img class="error-page__logo" [src]="logo"/>
        </div>
        <div class="margin-top-2">
            <div class="
                ot ot-exclamation-circle
                error-page__icon
                color-orange"
            ></div>
            <div class="error-page__title-error text-xlarge text-uppercase">
                {{ 'Error' | translate }}
            </div>
            <div class="text-bold padding-top-bottom-half">
                {{ 'ThereWasAnUnExpectedError' | translate }}
            </div>
            <div class="text-small">
                {{ dateTime }}
            </div>
        </div>
        <a otButton brand
            class="margin-top-2"
            ot-auto-id="ErrorPageEtryLoginBtn"
            routerLink="/login"
            >
            {{ 'RetryLogin' | translate }}
        </a>
    </div>
</div>
