<ot-modal-header (close)="closeModal()">
    <div>{{ 'AboutOneTrust' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="overflow-y-auto margin-right-half">
    <div class="stretch-vertical">
        <img
            class="about-onetrust__logo block margin-0-auto max-width-full"
            title="OneTrust"
            alt="OneTrust Logo"
            [src]="brandingLogoUrl"
            [style.maxHeight]="'10rem'"
        />
        <p class="text-center text-bold">
            <span class="padding-right-half">{{ 'Version' | otTranslate }}</span>
            <span>{{ version }}</span>
        </p>
        <p class="text-center text-bold">{{copyright}}</p>
        <br/>
        <div class="text-color-default">
            <p>
                <span>{{'AboutOneTrustPrivacy' | otTranslate}}</span>
                <a
                    class="toggle-link toggled margin-left-half"
                    target="_blank"
                    [href]="privacyPolicyLink"
                >{{'Link' | otTranslate}}</a>
            </p>
            <p>
                <span>{{'AboutOneTrustOSS' | otTranslate}}</span>
                <a
                    target="_blank"
                    class="toggle-link toggled margin-left-half"
                    [href]="supportPortalLink"
                >{{'Link' | otTranslate}}</a>
            </p>
            <p>
                <span>{{'AboutOneTrustProperty' | otTranslate}}</span>
            </p>
            <p>{{'AboutOneTrustPatents' | otTranslate}}</p>
            <p>{{patentList}}</p>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton brand
        ot-auto-id="AboutOnetrustModalClose"
        (click)="closeModal()"
    >{{'Close' | otTranslate}}</button>
</ot-modal-footer>
