<div class="slds-color-picker">
  <div class="slds-color-picker__summary">
    <label
      *ngIf="title"
      class="slds-color-picker__summary-label"
      [innerText]="title">
    </label>
      <button
        otButton
        ot-auto-id="ColorSwatchOpen"
        class="'slds-button slds-color-picker__summary-button slds-button_icon slds-button_icon-more'"
        (click)="showColorSwatch()"
      >
        <span class="slds-swatch" [style.background-color]="pickerColor">
        </span>
        <svg
          class="slds-button__icon slds-button__icon_small slds-m-left_xx-small"
          aria-hidden="true"
        >
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
          />
        </svg>
      </button>
    <div class="slds-form-element slds-color-picker__summary-input" [ngClass]="{'slds-has-error' : inputHasError}">
      <div class="slds-form-element__control">
        <input otInput
            #colorPickerInput
            ot-auto-id="ColorPickerSelectedColor"
            maxlength="7"
            class="slds-input"
            [placeholder]="placeholder"
            [ngModel]="selectedColor"
            (ngModelChange)="triggerColorChange($event)"
            (blur)="onInputBlur()"
        />
      </div>
    </div>
    <p *ngIf="inputHasError" class="slds-form-error" id="color-picker-summary-error" [innerText]="inputErrorMessage"></p>
  </div>

  <section
    class="slds-popover slds-color-picker__selector"
    [ngClass]="colorSwatchClass"
    role="dialog"
  >
    <div class="slds-popover__body" id="dialog-body-id-151">
      <ul class="slds-color-picker__swatches" role="listbox">
        <li
          class="slds-color-picker__swatch"
          role="presentation"
          *ngFor="let colorOption of colorOptions; let columnIndex = index;"
        >
          <a
            class="slds-color-picker__swatch-trigger"
            role="option"
            tabindex="0"
            (click)="selectColor(colorOption.code)"
          >
            <span class="slds-swatch" [style.background-color]="colorOption.rgb">
              <span class="slds-assistive-text" [innerText]="colorOption.code"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <footer class="slds-popover__footer">
      <div class="slds-color-picker__selector-footer">
        <button
          otButton
          brand
          ot-auto-id="ColorSwatchClose"
          [innerText]="'Close' | otTranslate"
          (click)="hideColorSwatch()"
          >
        </button>
      </div>
    </footer>
  </section>
</div>