<section class="dsar-webform-settings column-nowrap padding-top-2 height-100 flex-full-height background-white">
    <div class="overflow-y-auto">
        <div otSettingContainer class="centered-75">
            <ng-container *ngFor="let accordion of accordionMeta">
                <ot-collapse
                    [title]="accordion.title | otTranslate"
                    [open]="accordion.open"
                >
                    <ng-container *ngIf="accordion.title === dsarWebformAccordionSection.General">
                        <div class="margin-top-bottom-2 centered-70-percent">
                            <general-settings-generator
                                [ngClass]="{'dsar-webform-settings--orgHasError' : orgEmpty}"
                                [settingMeta]="webformGeneralSettingMeta"
                                [settings]="settings"
                                (handleSettingAction)="handleAction($event)"
                            ></general-settings-generator>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="accordion.title === dsarWebformAccordionSection.WebFormSubmission">
                        <ng-container *ngFor="let meta of webformSubmissionMeta; trackBy: trackByFn; let index = index">
                            <div class="margin-top-bottom-2">
                                <settings-generator
                                    [settingMeta]="meta"
                                    [settings]="settings"
                                    (handleSettingAction)="handleAction($event)"
                                ></settings-generator>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="accordion.title === dsarWebformAccordionSection.DataSubjectPortal">
                        <ng-container *ngFor="let meta of dsportalSettingMeta; trackBy: trackByFn; let index = index">
                            <div class="margin-top-bottom-2">
                                <settings-generator
                                    [settingMeta]="meta"
                                    [settings]="settings"
                                    (handleSettingAction)="handleAction($event)"
                                ></settings-generator>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="accordion.title === dsarWebformAccordionSection.LanguageSettings">
                        <ng-container *ngFor="let meta of languageSettingMeta; trackBy: trackByFn; let index = index">
                            <div class="margin-top-bottom-2">
                                <settings-generator
                                    [settingMeta]="meta"
                                    [settings]="settings"
                                    (handleSettingAction)="handleAction($event)"
                                ></settings-generator>
                            </div>
                        </ng-container>
                    </ng-container>
                </ot-collapse>
            </ng-container>
        </div>
    </div>
    <footer class="row-flex-end static-vertical modal-footer margin-top-auto">
        <button
            otButton
            brand
            [attr.ot-auto-id]="'DSARSettingsSaveButton'"
            [innerText]="'Save' | otTranslate"
            [disabled]="!settingsDirty || !webformNameExists || orgEmpty"
            [loading]="loadingSave"
            (click)="saveSettings()"
            >
        </button>
    </footer>
</section>
