.dsar-webform-settings {
    .ot-tree-select {
        position: relative;
    }
    &--orgHasError .ot-tree-select-input {
        border: 1px solid $cherry;
    }
    .ot-collapse__header {
        background-color: $white;
    }
}
