<div class="risk-summary-graph-card flex-full-100 row-nowrap">
    <div class="flex-full-25 padding-all-2">
        <h4>{{ "RiskDetails" | otTranslate }}</h4>
        <div class="padding-left-1">
            <!--org filter-->
            <label>{{ "FilterByOrganizationGroup" | otTranslate }}</label>
            <ot-picklist
                class="flex-shrink max-25"
                ot-auto-id="DashboardRiskSummaryOrgSelection"
                valueKey="Id"
                labelKey="Name"
                indentKey="Level"
                [autoClose]="true"
                [model]="selectedOrg"
                [options]="orgList"
                [placeholder]="'NoFilter' | otTranslate"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                (onSelect)="onOrgChange($event)"
            ></ot-picklist>
            <!--template filter-->
            <label class="padding-top-1">{{ "FilterByTemplate" | otTranslate }}</label>
            <ot-template-select
                class="flex-shrink padding-left-1 template-select-max-25"
                ot-auto-id="DashboardAssessmentRiskSummaryTemplateSelection"
                valueKey="id"
                labelKey="name"
                placeholder="NoFilter"
                [autoClose]="true"
                (onSelect)="onTemplateChange($event)"
            ></ot-template-select>
            <!--risk status filter-->
            <label class="padding-top-1">{{ "FilterByRiskStatus" | otTranslate }}</label>
            <button
                class="border background-white padding-all-half text-nowrap full-size"
                ot-auto-id="DashboardRiskStatusFilter"
                [attr.aria-pressed]="canShowStatusDropdown"
                [title]="'StatusFilter' | otTranslate"
                [otPopover]="filterContent"
                [position]="'bottom-left'"
                [isOpen]="canShowStatusDropdown"
                [closeOnClick]="'outside'"
                (toggled)="toggleStatusDropdown($event)"
                (click)="toggleStatusDropdown(true)"
                >
                {{ "FilterByStatus" | otTranslate }}
                <span class="ot ot-caret-down"></span>
            </button>
            <!--risk status filter content-->
            <ng-template #filterContent>
                <ul class="slds-dropdown__list">
                    <li class="slds-dropdown__item padding-top-bottom-half padding-left-half paragraph-small">
                        <button
                            class="one-popup__checkbox"
                            ot-auto-id="DashboardToggleRiskStatusFilter"
                            [ngClass]="{'checked': allRiskStatesEnabled}"
                            (click)="toggleAllRiskStateFilters()"
                        >
                            <i class="ot ot-check"></i>
                        </button>
                        <span>({{ "SelectAll" | otTranslate }})</span>
                    </li>
                    <li
                        *ngFor="let item of riskFilters"
                        class="slds-dropdown__item padding-top-bottom-half padding-left-half paragraph-small"
                        >
                        <button
                            class="one-popup__checkbox"
                            ot-auto-id="DashboardToggleRiskStatusFilterItem"
                            [ngClass]="{'checked': item.Filtered}"
                            (click)="toggleRiskStateFilter(item)"
                            >
                            <i class="ot ot-check"></i>
                        </button>
                        <span>{{item.label || '- - - -'}}</span>
                    </li>
                </ul>
            </ng-template>
            <!-- risk counts by risk levels-->
            <ng-container *ngIf="canLoadPage; else RiskGraphLoading">
                <label
                    *ngIf="!graphData?.length"
                    class="padding-top-1"
                    >
                    {{ "NoRisk" | otTranslate }}
                </label>
                <ng-container *ngIf="graphData?.length">
                    <label class="padding-top-1">{{ "RiskTotals" | otTranslate }}</label>
                    <div
                        *ngFor="let risk of graphData"
                        class="padding-top-1 padding-left-1"
                        >
                        <div>{{risk.label}} {{ "Risk" | otTranslate }}</div>
                        <div class="padding-left-1">{{risk.count}}</div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <!-- graph-->
    <div class="flex-full-75 background-white padding-all-2">
        <h3>{{ "RiskSummary" | otTranslate }}</h3>
        <ng-container *ngIf="canLoadPage; else RiskGraphLoading">
            <upgraded-project-graph
                *ngIf="graphData?.length"
                class="padding-top-1 text-center project-graph"
                [graphData]="graphData"
            ></upgraded-project-graph>
            <div
                *ngIf="!graphData?.length"
                class="margin-top-6 justify-center flex text-xhuge"
                >
                <h2>{{ "NoRisk" | otTranslate }}</h2>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #RiskGraphLoading>
    <ot-loading otPageLoading
        *ngIf="!canLoadPage"
        class="margin-top-6 flex"
        >
        {{ 'RiskGraph' | otTranslate }}
    </ot-loading>
</ng-template>
