.risk-summary-graph-card {
    .project-graph {
        #projectgraph {
            width: 60rem;
            height: 35rem;
            margin: auto;
        }
        svg {
            width: 100%;
            height: 100%;
            padding-left: 2rem;

            g {
                transform: translate(150px,80px) !important;
            }
        }
    }
}
