<table otDataTable
    class="margin-bottom-2"
    [rowData]="rows.content"
    [rowBordered]="rowBordered"
    [sortable]="sortable"
    [resizableCol]="resizable"
    [responsiveTable]="responsive"
    [sortOrder]="sortOrder"
    [sortedKey]="sortedKey"
    (sortChanged)="handleSortChange($event)"
    [truncateCellContent]="true"
>
    <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.columnType === 'name'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdClass]="'max-25'"
            >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="dsar-sub-task-truncate slds-truncate inline-block text-bold">
                        <a (click)="handleNameClick(row)">
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                    <i *ngIf="row.isRequired" class="ot ot-asterisk sup-asterisk-table"></i>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'status'">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        <span
                            [otBadge]="row.status | dsarSubTaskStatusColor"
                            [innerText]="row.statusLabel"
                            >
                        </span>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

         <ng-container *ngIf="col.columnType === 'type'">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'required'">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader [thStyle]="{'width': '5rem'}">
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row">
                    <div class="slds-truncate text-center">
                        {{ row.isRequired ? ('Yes' | otTranslate) : ('No' | otTranslate) }}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="!col.columnType">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{row[column.cellValueKey]}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'date'">
            <ot-data-table-column
                [sortable]="sortable"
                [sortKey]="col.sortKey"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader>
                    <div class="slds-th__action max-25 justify-center margin-left-right-auto" title="{{col.columnName}}">
                        <span class="slds-truncate text-bold"> {{col.columnName}} </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{ row[column.cellValueKey] !== "- - -" ? (row[column.cellValueKey] | otDate:"datetime") : "- - -" }}

                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'action'">
            <ot-data-table-column>
                <ng-template otDataTableHeader [thClass]="'float-col'">
                    <div></div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'float-col background-transparent'" [tdStyle]="{'background': 'transparent'}" let-row="row">
                    <ot-context-menu
                        [position]="setMenuPosition(row)"
                        [menu]="row.dropDownMenu"
                        (toggled)="generateMenuOptions(row)"
                    >
                        <i class="fa fa-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                (click)="handleMenuItemClicks(row, item.value)">
                                {{ item.text }}
                            </a>
                    </ot-context-menu>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

    </ng-container>
</table>
<ot-pagination
    *ngIf="!isLoading && rows?.totalElements > rows.size"
    class="margin-all-2"
    [currentPage]="rows.number+1"
    [numPages]="rows.totalPages"
    (pageChanged)="pageChange.emit($event-1)"
></ot-pagination>
<span *ngIf="!isLoading && rows?.totalElements > rows.size">
    {{ rows | otPageMeta }}
</span>
