<div class="padding-top-3 text-bold text-large text-center margin-bottom-2">
    {{"AvailableTemplates" | otTranslate}}
</div>
<div class="ssp-template-list__container flex full-size padding-top-3 overflow-y-auto row-wrap">
    <ng-container *ngFor="let sspTemplate of sspTemplates; trackBy: trackByFn; let i = index;">
        <ssp-config-template-card
            class="max-height-25"
            [attr.ot-auto-id]="'SSPConfigTemplateCard_' + i"
            [ngClass]="{ 'ssp-template-list_card--selected': sspTemplate.id === selected?.id }"
            [sspTemplateDetails]='sspTemplate'
            (click)="onSspTemplateSelected(sspTemplate)"
        >
        </ssp-config-template-card>
    </ng-container>
    <upgraded-loading
        *ngIf="isLoading"
        class="flex"
    >
    </upgraded-loading>
    <one-empty-state
        *ngIf="(!sspTemplates || !sspTemplates.length) && !isLoading"
        class="flex justify-center"
    >
    </one-empty-state>
</div>
