<ot-modal-header (close)="closeModal()">
    <div>{{ otModalData?.modalTitle }}</div>
</ot-modal-header>
<ot-modal-content class="max-height-35 overflow-x-hidden">
    <section class="request-queue-reject-modal column-horizontal-vertical-center padding-left-right-2 padding-top-2">
        <span class="fa-stack rejectModalIcon min-height-8">
            <i class="ot ot-circle fa-stack-2x text-danger"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
        </span>
        <div
            class="text-center max-width-full margin-top-bottom-2"
            [innerText]="otModalData.confirmationText"
            >
        </div>
        <div class="block full-width">
            <div
                otFormElement
                [label]="'Comments' | otTranslate"
                [required]="true"
                ></div>
                <ot-rich-text-editor
                    editorClass="request-queue-reject-modal__quill-editor height-auto background-white flex-full-height stretch-vertical"
                    ot-auto-id="DSARRejectModalTextEditor"
                    [contentModel]="comment"
                    [customModules]="customModules"
                    [placeholder]="'EnterReasonForRejectingRequest' | otTranslate"
                    [ngClass]="{'block border-has-error': commentTouched && !comment}"
                    (onContentChanged)="handleMessageChange($event.html)"
                >
                </ot-rich-text-editor>
        </div>
        <p
            *ngIf="commentTouched && !comment"
            class="text-error text-small"
            [innerText]="'ErrorFillThisField' | otTranslate"
            >
        </p>
        <div class="margin-top-2 full-width">
            <ot-checkbox
                class="inline margin-right-half"
                ot-auto-id="DSARToggleNotification"
                [checked]="dsNotification"
                (toggle)="toggleNotification($event)"
                >
            </ot-checkbox>
            <label class="media-bottom text-normal">
                {{ 'MarkAsInternalComments' | otTranslate }}
            </label>
        </div>
        <div class="width-100-percent margin-top-2">
            <div
                otFormElement
                [label]="'Resolution.Internal' | otTranslate"
                >
                <ot-picklist
                    [autoClose]="true"
                    [model]="selectedRejectResolution"
                    [options]="otModalData.resolutionOptions"
                    [placeholder]="'Select.Resolution.Placeholder' | otTranslate"
                    (onSelect)="selectResolution($event)"
                ></ot-picklist>
            </div>
        </div>
    </section>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        class="margin-right-1 text-normal text-color-default"
        ot-auto-id="DSARRejectModalCancelButton"
        [disabled]="saveInProgress"
        [innerText]="otModalData.cancelButtonText"
        (click)="closeModal()"
        >
    </button>
    <button
        otButton
        brand
        ot-auto-id="DSARRejectModalSaveButton"
        [loading]="saveInProgress"
        [innerText]="otModalData.submitButtonText"
        [disabled]="!canSubmit || saveInProgress"
        (click)="handleSubmit()"
        >
    </button>
</ot-modal-footer>
