<div class="border-grey background-grey margin-all-1 padding-top-1 padding-left-1 stretch-horizontal">
    <ng-container *ngFor="let condition of subRule.conditions; trackBy: trackByFn; let index = index; let first = first; let last = last">
        <incident-rule-condition
            class="flex-full-width row-vertical-center space-between margin-bottom-1"
            [condition]="condition"
            [first]="first"
            [last]="last"
            [ruleIndex]="ruleIndex"
            [subRuleIndex]="subRuleIndex"
            [conditionIndex]="index"
            [editMode]="editMode"
            [conditionMeta]="conditionMeta"
            [translations]="translations"
        ></incident-rule-condition>
    </ng-container>
</div>
<div class="static-horizontal">
    <div
        class="fa fa-times padding-all-1 cursor-pointer"
        [attr.ot-auto-id]="'IncidentSubRuleDeleteSubRule_' + ruleIndex + '_' + subRuleIndex"
        [ngClass]="{'invisible': !editMode}"
        (click)="removeSubRule()"
    ></div>
</div>
