<!-- page sub-header -->
<cookie-header
    [primaryButton]="primaryButton"
    [secondaryButton]="secondaryButton"
></cookie-header>
<!-- filter -->
<div class="static-vertical row-flex-end background-grey padding-top-bottom-1 padding-left-right-2">
    <ot-search-input
        class="margin-right-1 min-width-30"
        ot-auto-id="CookieCategorizationsCookieTableSearchInput"
        [placeholder]="'Search' | otTranslate"
        [searchOnEnter]="true"
        [model]="searchText"
    ></ot-search-input>
    <button otButton neutral
        ot-auto-id="CookieCategorizationsCookieTableFilterIcon"
        icon="ot ot-filter"
        (click)="toggleFilterPane()"
    ></button>
</div>
<div otDrawerContainer class="flex flex-column height-100 cookie-list">
    <section class="stretch-vertical flex-full-height background-white">
        <ot-drawer
            *ngIf="isFilterOpen"
            class="flex flex-column z-index-2 cookie-list__drawer"
            [open]="isFilterOpen"
            [closeButtonText]="'Close' | otTranslate"
            (closeClick)="toggleFilterPane()"
        >
            <ot-filter
                class="height-100 overflow-y-auto cookie-list__filter"
                popOverPosition="left"
                [filterData]="filterData"
                [translatedLabels]="translatedLabels"
                [preSelectedFilter]="preSelectedFilter"
                (onCancelButtonClick)="isFilterOpen = false;"
            ></ot-filter>
        </ot-drawer>
        <!-- cookie list table -->
        <div class="margin-top-bottom-2 height-100 overflow-y-auto">
            <table
                otDataTable
                class="position-relative"
                [rowData]="cookies"
                [rowBordered]="true"
                [responsiveTable]="true"
                [sortKey]="sortKey"
                [sortOrder]="sortOrder"
                [sortable]="sortable"
            >
                <ng-container *ngFor="let column of cookieColumns;">
                    <ot-data-table-column
                        [headerLabel]="column.labelKey | otTranslate"
                        [sortable]="sortable && column?.sortKey"
                        [sortKey]="column?.sortKey"
                        [cellValueKey]="column.cellValueKey"
                        [column]="column"
                        [wrapCellContent]="true"
                    >
                        <ng-template otDataTableHeader
                            *ngIf="column.type === cookieTableCloumnTypes.Checkbox"
                            [thStyle]="{'padding': '0 1rem'}"
                        >
                            <ot-checkbox
                                ot-auto-id="CookieCategorizationsCookieSelection"
                                [checked]="allRowSelected"
                                (toggle)="handleTableSelectClick('header')"
                            >
                            </ot-checkbox>
                        </ng-template>
                        <!-- th-checkbox -->
                        <ng-template otDataTableCell
                            *ngIf="column.type === cookieTableCloumnTypes.Checkbox"
                            let-row="row"
                            [tdStyle]="{'padding': '0 1rem'}"
                        >
                            <ot-checkbox
                                ot-auto-id="CookieCategorizationsCookieSelection"
                                [checked]="!!slectedCookieListMap[row.id]"
                                (toggle)="handleTableSelectClick('row', row.id)"
                            ></ot-checkbox>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row">
                            <ng-container [ngSwitch]="column.type">
                                <!-- domain names -->
                                <ng-container *ngSwitchCase="cookieTableCloumnTypes.Domains">
                                    {{row.domains[0].name}}
                                    <ng-container *ngIf="row?.domains.length > 1">
                                        ,{{row?.domains.length-1}} {{'more' | otTranslate}}
                                    </ng-container>
                                </ng-container>
                                <!-- description -->
                                <ng-container *ngSwitchCase="cookieTableCloumnTypes.Description">
                                    <div class="overflow-ellipsis-nowrap max-25">{{row[column.cellValueKey]}}</div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{row[column.cellValueKey]}}
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                    <ng-container *ngIf="column.type === cookieTableCloumnTypes.Action">
                        <ot-data-table-column
                            [headerLabel]="column.name"
                            [column]="column"
                        >
                            <ng-template
                                otDataTableHeader
                                thClass="float-col"
                                [thStyle]="{'width': 0}"
                            ></ng-template>
                            <ng-template
                                otDataTableCell
                                tdClass="float-col"
                                let-row="row"
                            >
                                <ot-context-menu
                                    class="position-relative"
                                    position="bottom-right"
                                    [type]="2"
                                    [menu]="contextMenuOptions"
                                >
                                    <i class="ot ot-ellipsis-h"></i>
                                    <a
                                        *otContextMenuItem="let item"
                                        class="text-medium-small"
                                        [attr.ot-auto-id]="'CookieCategorizationsCookie' + item.otAutoId + 'ContextMenuButton'"
                                        (click)="item.action(row)"
                                    >
                                        {{item.text}}
                                    </a>
                                </ot-context-menu>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </section>
     <!-- pagination -->
     <footer otPaginationFooter>
        <ot-pagination
            [currentPage]="currentPage"
            [numPages]="numPages"
            (pageChanged)="pageChanged($event)"
        ></ot-pagination>
    </footer>
</div>
