.cc-language-modal {
    &__modal-body {
        margin: auto;
        width: 80%;
    }

    &__label {
        position: relative;
        top: 0.8rem;
    }

    &__select {
        height: 3.8rem;
    }    
}
.wsl_container {
    flex-direction: column;
    max-width: 93%;
    height: 100%;
    &__title, &__header, &__body {
        color: $slate;
        font-weight: bold;
    }

    &__body {
        max-height: 30rem;
        overflow: hidden;
        align-content: flex-start;

        &--empty {
            min-height: 28rem;
        }

    }

     & table {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: block;
    }

    & thead {
        position: relative;
        width: 100%;
        display: block;
    }

    & tbody {
        max-height: 90%;
        display: block;
        overflow-x: hidden;
        position: relative;
    }

    & tr {
        display: flex;
    }

    & tbody tr {
        width: 103%;
    }

    & .slds-radio_faux::after {
        width: 1rem !important;
        height: 1rem !important;
        content: '';
    }

    &--singleCheckboxDisabled {
        background-color: $slate !important;
        border-color: $slate !important;
    }

    & .singleRadioDisabled::after {
        content: '';
        background-color: $slate !important;
    }

    & table th:last-child div {
        max-width: 13rem;
    }

    & .delete-message-content {
       min-height: 4rem; 
    }

}
