<div class="flex margin-left-right-2 flex-basis-auto wsl_container centered-max-90 margin-bottom-2 margin-top-1">
    <header class="wsl_container__header padding-bottom-half static-horizontal row-space-between border-bottom">
        <h4 class="wsl_container__title">{{translations.headerTitle}}</h4>
        <h4 role="button" tabindex="0" (click)="closeModal()">
            <i class="ot ot-times"></i>
        </h4>
    </header>
    <div class="wsl_container__subheader padding-top-bottom-2 align-self-center max-width-full">
        {{translations.bodyText}}
    </div>
    <upgraded-loading
        *ngIf="loadingTemplate; else tableView"
        class="margin-top-10">
    </upgraded-loading>
    <ng-template #tableView>
        <div class="margin-bottom-1">
            <ot-search-input
                [model]="inputLanguage"
                [placeholder]="translations.search"
                [searchDelimiter]="searchDelimiter"
                [attr.ot-auto-id]="'BannerLanguagePickerSearchInput'"
                (search)="onSearch($event)"
            ></ot-search-input>
        </div>
        <section
            class="wsl_container__body row-wrap margin-bottom-2 justify-center"
            [ngClass]="{'wsl_container__body--empty': tableData.length <= overflowLength}">
            <table otDataTable
                class="border-top-none"
                [rowData]="tableData"
                [rowBordered]="rowBordered"
                [rowNoHover]="true"
                [truncateCellContent]="truncateCellContent"
                [attr.ot-auto-id]="'BannerLanguagePickerTable'"
            >
                <ng-container *ngFor="let col of tableColumns">
                        <ng-container *ngIf="col.columnType === 'checkbox'">
                                <ot-data-table-column
                                    [headerLabel]="col.columnName"
                                    [column]="col"
                                    [thClass]="'text-center'"
                                    [tdClass]="'text-center margin-0'"
                                    [tdStyle]="{ 'width': '6rem', 'padding-top': '1.7rem' }"
                                    [thStyle]="{ 'width': '6rem' }"
                                    >
                                    <ng-template otDataTableHeader>
                                        <div></div>
                                    </ng-template>
                                    <ng-template otDataTableCell
                                        let-row="row">
                                        <span class="slds-checkbox">
                                            <input
                                                type="checkbox"
                                                name="default"
                                                value="on"
                                                tabindex="-1"
                                                [attr.id]="'checkbox-row-' + row.id"
                                                [checked]="row.enabled"
                                                [disabled]="row.isDefault"
                                                [attr.ot-auto-id]="'BannerLanguagePickerCheckbox'+row.code"
                                                (click)="handleTableSelectClick('row', row.code)" />
                                            <label class="slds-checkbox__label" [attr.for]="'checkbox-row-' + row.id">
                                                <span class="slds-checkbox_faux"></span>
                                            </label>
                                        </span>
                                    </ng-template>
                                </ot-data-table-column>
                            </ng-container>
                    <ng-container *ngIf="!col.columnType">
                        <ot-data-table-column
                            class='justify-center'
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [tdClass]="'margin-0'"
                            [wrapCellContent]="true"
                            [tdStyle]="{ 'width': '40rem', 'padding': '1rem 0rem', 'height': '6rem' }"
                            [thStyle]="{ 'width': '40rem' }"
                            [classes]="sortable ? { thAnchor: 'slds-grid slds-grid_align-center', cellContainer: 'slds-grid slds-grid_align-center text-bold' } : null">
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column">
                                <div class="flex flex-column">
                                    <div class="text-bold">{{row[column.cellValueKey]}}</div>
                                    <div class="text-normal">{{row[column.cellValueLang]}}</div>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'radio'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            [tdClass]="'text-center flex margin-0'"
                            [thClass]="'text-center flex'"
                            [tdStyle]="{ 'width': '7rem', 'padding-top': '1.7rem', 'padding-left': '2rem' }"
                            [thStyle]="{ 'width': '7rem' }"
                        >
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column"
                                class="slds-align_absolute-center">
                                <span class="slds-radio" *ngIf="row.code === defaultRadioID.code">
                                    <label class="slds-radio__label" [for]="'radio-'+row.code">
                                        <input
                                            type="radio"
                                            name="options"
                                            checked="true"
                                            value="on"
                                            [disabled]="!row.enabled"
                                            [id]="'radio-'+row.code"
                                            [attr.ot-auto-id]="'BannerLanguagePickerRadio'+row.code"
                                            (click)="handleSelect({id:row.id,code:row.code})"
                                        />
                                        <span class="slds-radio_faux singleRadioDisabled"
                                            *ngIf="singleLanguageEnabled"></span>
                                        <span class="slds-radio_faux"
                                            *ngIf="!singleLanguageEnabled"></span>
                                    </label>
                                </span>
                                <span class="slds-radio" *ngIf="row.code !== defaultRadioID.code">
                                    <label class="slds-radio__label">
                                        <input
                                            type="radio"
                                            name="options"
                                            value="on"
                                            [disabled]="!row.enabled"
                                            [id]="'radio-'+row.code"
                                            [attr.ot-auto-id]="'WebformLanguagePickerRadio'+row.code"
                                            (click)="handleSelect({id:row.id,code:row.code})"
                                        />
                                        <span class="slds-radio_faux singleRadioDisabled"
                                            *ngIf="singleLanguageEnabled"></span>
                                        <span class="slds-radio_faux"
                                            *ngIf="!singleLanguageEnabled"></span>
                                    </label>
                                </span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
            <div
                *ngIf="!tableData.length"
                class="padding-top-bottom-1 margin-top-10"
            >
                {{translations.noLanguageFound}}
            </div>
        </section>
        <section
            class="wsl_container__body row-wrap margin-bottom-2 justify-center delete-message-content"
            *ngIf="showDeleteLangMsg"
        >
            <span class="slds-checkbox width-100-percent">
                <input
                    type="checkbox"
                    name="deleteLanguage"
                    value="on"
                    tabindex="-1"
                    id="checkbox-row-delete-language"
                    ot-auto-id="WebformLanguagePickerDeleteLanguageCheckbox"
                    [checked]="deleteLanguage"
                    (click)="toggleDeleteLanguage()"
                />
                <label class="flex flex-row slds-checkbox__label" for="checkbox-row-delete-language">
                    <span class="slds-checkbox_faux padding-all-1 margin-top-1"></span>
                    <span class="padding-left-1">{{translations.deleteMessage}}</span>
                </label>
            </span>
        </section>
        <footer class="wsl_container__footer">
            <button
                otButton
                brand
                class="margin-right-1 pull-right padding-left-right-3"
                [loading]="saveLoading"
                [disabled]="saveDisabled"
                [attr.ot-auto-id]="'WebformLanguagePickerSaveButton'"
                [innerText]="translations.save"
                (click)="onSave()">
            </button>
            <button
                otButton
                neutral
                class="margin-right-1 pull-right padding-left-right-3"
                [attr.ot-auto-id]="'WebformLanguagePickerCancelButton'"
                [innerText]="translations.cancel"
                (click)="closeModal()">
            </button>
        </footer>
    </ng-template>
</div>
