<section
    ng-if="!$ctrl.dataLoaded"
    class="risk-summary column-vertical-center height-100"
>
    <loading
        text="{{$root.t($ctrl.loadingPrefix) + $root.t('Risks')}}"
    ></loading>
</section>
<section
    ng-if="$ctrl.dataLoaded"
    class="risk-summary column-nowrap height-100"
>
    <header
        ng-init="$ctrl.initScrollListenerForShadow(); $ctrl.initKeyListeners();"
        id="header-group-id-for-shadow"
        class="risk-summary__header-group"
    >
        <nav class="risk-summary__navbar padding-left-right-2 padding-top-1 border-bottom">
            <a
                ng-click="$ctrl.goBackToProject()"
                class="risk-summary__navbar--link hover-no-underline inline-block padding-top-bottom-half"
                identifier="riskSummaryBackToProjectButton"
            >
                <i class="fa fa-chevron-left margin-left-right-half"></i>
                <span>{{$ctrl.translations.backToProject}}</span>
            </a>
        </nav>
        <nav class="risk-summary__interaction-bar padding-top-bottom-2 border-bottom row-space-between align-center">
            <section>
                <div class="row-vertical-center margin-bottom-half row-wrap">
                    <header class="risk-summary__interaction-bar--info margin-bottom-half">
                        <span class="text-xlarge text-bold margin-right-half">{{$ctrl.translations.project}}:</span>
                        <span class="text-xlarge text-thin margin-right-2">{{$ctrl.projectModel.Name}}</span>
                    </header>
                    <one-tag
                        class="margin-bottom-half"
                        translated-text="{{$ctrl.projectStateLabelText}}"
                        label-class=""
                    ></one-tag>
                </div>
                <div class="risk-summary__interaction-bar--count row-nowrap">
                    <div class="risk-summary__interaction-bar--count-total margin-right-2">
                        <span class="text-medium text-bold margin-right-half">{{$ctrl.totalRiskCount}}</span>
                        <span class="text-medium">{{$ctrl.translations.totalRisks}}</span>
                    </div>
                    <div
                        ng-if="$ctrl.someRisksNeedAttention || true"
                        class="risk-summary__interaction-bar--count-pending"
                    >
                        <span class="text-medium text-bold margin-right-half">{{$ctrl.pendingRiskModels.length || 0}}</span>
                        <span class="text-medium">{{$ctrl.translations.pendingAssessment}}</span>
                    </div>
                </div>
            </section>
            <!-- TODO enable once the multiselect risk is enabled
            <section
                ng-if="$ctrl.hasSelectedRisks"
                class="risk-summary__interaction-bar--selected-info flex padding-right-2"
            >
                <span class="color-green text-large text-bold margin-right-3">{{$ctrl.selectedRiskCount}} {{$ctrl.translations.selected}}</span>
                <div class="risk-summary__action-icons">
                    <one-risk-action-buttons
                        on-risk-level-change="$ctrl.riskLevelSelected(value)"
                        on-risk-tile-change="$ctrl.riskTileSelected(value)"
                        heatmap-enabled="$ctrl.heatmapEnabled"
                        axis-labels="$ctrl.axisLabels"
                        tile-map="$ctrl.tileMap"
                        enable-level-change="true"
                        enable-risk-edit="true"
                        enable-risk-delete="true"
                    >
                    </one-risk-action-buttons>
                </div>
                <div class="risk-summary__divider margin-right-2"></div>
                <div class="risk-summary__action-icons">
                    <i
                        ng-click="$ctrl.unSelectAllRisks()"
                        class="risk-summary__action-icon ot ot-times"
                    ></i>
                </div>
            </section>-->
            <section class="risk-summary__filters row-nowrap">
                <one-label-content
                    class="margin-right-2"
                    name="Sort By"
                    wrapper-class=""
                >
                    <reactive-dropdown
                        default-option="$ctrl.selectedSortBy"
                        options="$ctrl.sortByOptions"
                        on-change="$ctrl.handleSortFilter(value)"
                        button-class="risk-summary__filter--button row-space-between align-center"
                        dropdown-class="block"
                        button-text-class="padding-right-1"
                        list-class="risk-summary__filter--list width-100-percent"
                        button-class="position-relative"
                        right-icon-class="risk-summary__dropdown-caret position-absolute"
                    >
                    </reactive-dropdown>
                </one-label-content>
                <!-- TODO enable once group by feature is enabled
                <one-label-content
                    class=""
                    name="Group By"
                    wrapper-class=""
                >
                    <reactive-dropdown
                        default-option="$ctrl.selectedGroupBy"
                        options="$ctrl.groupByOptions"
                        on-change=""
                        button-class="risk-summary__filter--button row-space-between align-center"
                        button-text-class="padding-right-1"
                        dropdown-class="block"
                        list-class="risk-summary__filter--list width-100-percent"
                        button-class="position-relative"
                        right-icon-class="risk-summary__dropdown-caret position-absolute"
                    >
                    </reactive-dropdown>
                </one-label-content>
                -->
            </section>
        </nav>
    </header>
    <div
        id="on-scroll-listener-id"
        class="risk-summary__tile-wrapper height-100"
    >
        <div
            ng-if="!$ctrl.totalRiskCount"
            class="height-100 text-color-default row-horizontal-vertical-center"
        >
            {{::$ctrl.translations.youHaveNoRisks}}
        </div>
        <expandable-tile
            ng-if="$ctrl.isNeedAttentionSortSelected()"
            has-border="true"
            hover-effect="true"
            margin-bottom="true"
            ng-repeat="pendingRiskModel in $ctrl.pendingRiskModels track by pendingRiskModel.Id"
        >
            <risk-summary-content
                risk-model-id="{{pendingRiskModel.Id}}"
                enable-sticky-checkbox="$ctrl.hasSelectedRisks"
                action-callback="$ctrl.handleActionCallback(value)"
                axis-labels="$ctrl.axisLabels"
                tile-map="$ctrl.tileMap"
                permissions="$ctrl.permissions"
                translations="$ctrl.translations"
                project-model="$ctrl.projectModel"
            >
            </risk-summary-content>
        </expandable-tile>

        <div
            ng-if="$ctrl.isNeedAttentionSortSelected() && $ctrl.pendingRiskModels.length && $ctrl.nonPendingRiskModels.length"
            class="risk-summary__pending-risks-separator"
        ></div>

        <expandable-tile
            ng-if="$ctrl.nonPendingRiskModels.length"
            has-border="true"
            hover-effect="true"
            margin-bottom="true"
            ng-repeat="nonPendingRiskModel in $ctrl.nonPendingRiskModels track by nonPendingRiskModel.Id"
        >
            <risk-summary-content
                risk-model-id="{{nonPendingRiskModel.Id}}"
                enable-sticky-checkbox="$ctrl.hasSelectedRisks"
                action-callback="$ctrl.handleActionCallback(value)"
                axis-labels="$ctrl.axisLabels"
                tile-map="$ctrl.tileMap"
                permissions="$ctrl.permissions"
                translations="$ctrl.translations"
                project-model="$ctrl.projectModel"
                heatmap-enabled="$ctrl.heatmapEnabled"
            >
            </risk-summary-content>
        </expandable-tile>
    </div>

    <div
        ng-if="$ctrl.footerViewState.submitButtonVisible"
        style="display:flex; justify-content: flex-end; flex-shrink: 0; align-items: center; height:5rem; background-color:#E4E4E4;"
    >
        <assessment-footer-new
            current-user="$ctrl.currentUser"
            project="$ctrl.projectModel"
            request-in-progress="$ctrl.isSubmitting"
            on-button-click="$ctrl.handleSubmitAction(actionType)"
            hide-previous-button="true"
            hide-next-button="true"
        ></assessment-footer-new>
    </div>
</section>

<!-- TODO delete all these modal templates once they are converted to components -->
<div class="modal">
    <script type="text/ng-template" id="AnalysisModal.html">
        <div class="modal-header">
            <h3 class="modal-title align-left">{{::$root.t("ContinueRiskTracking")}}</h3>
            <h3 class="modal-title align-right" ng-click="cancel()"><i class="ot ot-times"></i></h3>
        </div>
        <div class="modal-body">
            <div class="analysis-modal">
                <loading ng-if="!Ready"></loading>
                <div class="content" ng-if="Ready">
                    <p class="content-info">{{::$root.t("ProjectFlaggedRisks")}}</p>
                    <div class="submit-buttons">
                        <one-button button-class="margin-right-1" button-click="continueToRiskSummary()" enable-loading="true" is-loading="isLoading" identifier="proceedToRiskSummaryButton" is-disabled="isLoading" text="{{::$root.t('ContinueRiskTracking')}}" type="primary"></one-button>
                        <one-button button-click="cancel()" identifier="returnToProjectReviewButton" text="{{::$root.t('ReturnToProjectReview')}}"></one-button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="SendBackModal.html">
    <div class="modal-header">
        <h3 class="modal-title align-left">{{::$root.t("SendBack")}}</h3>
        <h3 class="modal-title align-right" ng-click="cancel()"><i class="ot ot-times"></i></h3>
    </div>
    <div class="modal-body">
        <div class="send-back">
            <form role="form" name="commentForm">
                <p class="send-back__label">{{ ::labels.sendBackText(Lead) }}</p>
                <div class="form-group" ng-class="{'has-error': commentForm.Comments.$invalid  &amp;&amp; (commentForm.Comments.$touched || commentForm.Comments.$dirty)}">
                    <label class="send-back__label">{{::$root.t("CommentsToSendWithEmail")}} *</label>
                    <textarea class="send-back__textarea resize-none" required="" name="Comments" placeholder="{{::$root.t(&quot;PleaseEnterCommentsHere&quot;)}}" ng-model="comments"></textarea>
                    <p class="text-center text-danger" ng-show="commentForm.Comments.$invalid  &amp;&amp; (commentForm.Comments.$touched || commentForm.Comments.$dirty)">{{::$root.t("PleaseEnterComments")}}</p>
                </div>
                <div class="send-back__btn">
                    <one-button class="margin-right-1" button-click="cancel()" text="{{::$root.t(&quot;Cancel&quot;)}}"></one-button>
                    <one-button button-click="sendBack(comments)" enable-loading="true" is-loading="requestInProgress" is-disabled="commentForm.$invalid || requestInProgress" text="{{::$root.t(&quot;Send&quot;)}}" type="primary"></one-button>
                </div>
            </form>
        </div>
    </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="NextStepsModal.html">
    <div class="modal-header">
      <h3 class="modal-title align-left" ng-if="!isAssigningAdditional">{{ ::$root.t("SendAdditionalQuestionnaire") }}</h3>
      <h3 class="modal-title align-left" ng-if="isAssigningAdditional">{{ ::$root.t("AssignAdditionalQuestionnaire") }}</h3>
      <h3 class="modal-title align-right" ng-click="done()"><i class="ot ot-times"></i></h3>
    </div>
    <div class="modal-body">
      <loading ng-if="!Ready" text="{{ ::$root.t('SendAdditionalQuestionnaire') }}"></loading>
      <!-- Send Additional Questionnaire (Form 1)-->
      <form class="next-steps" ng-if="Ready &amp;&amp; !isAssigningAdditional" role="form" name="sendAdditionalQuestionnaire">
        <p class="next-steps__info">{{ ::$root.t("NextStepsModal.ThisAssessmentIsAThreshold") }}:</p>
        <p class="next-steps__info next-steps__info--main text-bold">{{ TemplateName }}</p>
        <p class="next-steps__info">{{ ::$root.t("NextStepsModal.WouldYouLikeToAssign") }}</p>
        <div class="next-steps__button-row">
          <button class="one-button next-steps__button" ng-click="noAdditional()" ng-disabled="isSubmitted">
            <p class="next-steps__button-text next-steps__button-text--main">{{ ::$root.t("No") }}</p>
            <p class="next-steps__button-text">{{ ::$root.t("NoAdditionalQuestionnairesNeeded") }}</p>
            <div class="next-steps__button-icon fa fa-info-circle" uib-tooltip="{{ ::$root.t('NoAdditionalQuestionnairesTooltip') }}" tooltip-append-to-body="true" tooltip-placement="top"></div>
          </button>
          <button class="one-button one-button--primary next-steps__button next-steps__button--primary" ng-click="assignAdditional()" ng-disabled="isSubmitted">
            <p class="next-steps__button-text next-steps__button-text--main" ng-if="!loadingAssign">{{ ::$root.t("Yes") }}</p>
            <p class="next-steps__button-text" ng-if="!loadingAssign">{{ ::$root.t("AssignAdditionalQuestionnaire") }}</p>
            <loading ng-if="loadingAssign" show-text="false"></loading>
          </button>
        </div>
      </form>
      <!-- Assigning Additional (Form 2)-->
      <form class="next-steps" ng-if="Ready &amp;&amp; isAssigningAdditional" role="form" name="assignAdditionalQuestionnaire">
        <p class="next-steps__info next-steps__info--main text-bold" ng-if="isAssigningAdditional">{{ ::TemplateName }}</p>
        <p class="next-steps__info" ng-if="isAssigningAdditional">{{ ::$root.t("NextStepsModal.SelectTheRespondent") }}:</p>
        <one-respondent-assign project="project" current-user="currentUser" users="allUsers" update-parent="respondentAssignUpdated()"></one-respondent-assign>
        <p class="next-steps__info--comments">{{ ::$root.t("PleaseEnterCommentsHere") }}</p>
        <textarea class="next-steps__comments" ng-model="comment" ng-change="updateComment(this.comment)" name="comment"></textarea>
        <p class="next-steps__banner alert-success" ng-if="project.Lead">{{ $root.t("AfterSubmitLeadWillReceiveEmail", {LeadName: LeadName}) }}</p>
        <div class="next-steps__button-row next-steps__button-row--right">
          <one-button button-click="done()" identifier="nextStepsCancel" text="{{ ::$root.t('Cancel') }}"></one-button>
          <one-button button-click="previous()" identifier="nextStepsPrevious" text="{{ ::$root.t('Previous') }}"></one-button>
          <one-button button-click="assignQuestionnaire()" identifier="nextStepsAssign" enable-loading="true" is-disabled="isSubmitted || !respondentSelected" is-loading="loadingAssign" text="{{submitButtonText}}" type="primary"></one-button>
        </div>
      </form>
    </div>
  </script>
</div>