.risk-summary {
    background-color: $paper-gray;

    &__dropdown {
        &-caret {
            right: 1rem;
            top: 1.3rem;
        }
    }

    &__header-group {
        z-index: 2;
    }

    &__navbar {
        background-color: $frost;
        padding-bottom: 0.8rem;

        &--link {
            color: $slate;
            cursor: pointer;

            &:hover {
                color: $slate;
            }
        }
    }

    &__breadcrumb-bar {
        color: $slate;
        background-color: $paper-gray;

        .fa {
            margin: 0.3rem;
        }
    }

    &__project-name {
        color: $green;
    }

    &__interaction-bar {
        background-color: $paper-gray;
        padding-left: 7rem;
        padding-right: 4rem;
        color: $slate;
        align-items: flex-end;

        &--selected-info {
            margin-left: auto;
            flex: 0 1 auto;
            align-items: center;
        }
    }

    &__filter {
        &--button,
        &--list {
            min-width: 18rem;
        }
    }

    &__tile-wrapper {
        overflow-y: scroll;
        -ms-overflow-style: auto;
    }

    .risk-tile-dropdown__menu {
        left: -10.5rem;
    }

    &__pending-risks-separator {
        height: 8rem;
    }

    &__risk-level-symbol {
        border-radius: 12px;
        width: 3.5rem;
        height: 2.5rem;
        padding: 0.1rem 1.5rem;
    }
}
