<section
    class="risk-summary__content column-nowrap text-color-default padding-left-right-2 padding-top-2"
    ng-class="{'risk-summary__content--disabled': $ctrl.riskModel.isSaving}"
    ng-mouseover="$ctrl.hoverEffectEnabled = true;"
    ng-mouseleave="$ctrl.hoverEffectEnabled = false;"
>
    <div>
        <div class="row-space-between margin-bottom-2 padding-left-2 padding-right-2">
            <div class="row-nowrap">
                <span
                    class="risk-level-round-button row-horizontal-vertical-center margin-right-2"
                    ng-class="$ctrl.viewState.riskLevelSymbolClass"
                >
                    <i class="fa fa-flag fa-inverse text-xsmall"></i>
                </span>
                <div
                    class="row-vertical-center"
                >
                    <div
                        class="row-nowrap"
                    >
                        <i
                            class="margin-right-1 text-medium"
                            ng-class="$ctrl.viewState.riskStatusIconClass"
                        ></i>
                        <span class="text-bold">{{$ctrl.viewState.riskStatusText}}</span>
                    </div>
                </div>
            </div>
            <div
                ng-if="$ctrl.hoverEffectEnabled"
            >
                <one-risk-action-buttons
                    on-open-risk-modal="$ctrl.handleButtonAction('OPEN_RISK_MODAL')"
                    on-open-delete-modal="$ctrl.handleButtonAction('DELETE_RISK_MODEL')"
                    on-risk-level-change="$ctrl.handleRiskLevelChange(value)"
                    on-risk-tile-change="$ctrl.handleRiskTileChange(value)"
                    heatmap-enabled="$ctrl.heatmapEnabled"
                    axis-labels="$ctrl.axisLabels"
                    tile-map="$ctrl.tileMap"
                    enable-level-change="$ctrl.viewState.flagRiskButtonEnabled"
                    enable-risk-edit="$ctrl.viewState.openModalButtonEnabled"
                    enable-risk-delete="$ctrl.viewState.deleteRiskButtonEnabled"
                    align-right="true"
                ></one-risk-action-buttons>
                <span
                    uib-dropdown
                >
                    <i
                        class="ot ot-ellipsis-h text-pointer margin-left-2"
                        ng-if="$ctrl.viewState.contextMenuEnabled"
                        uib-dropdown-toggle
                        auto-close="always outsideClick"
                    ></i>
                    <reactive-dropdown-menu
                        options="$ctrl.viewState.contextMenuOptions"
                        align-right="true"
                        on-change="$ctrl.handleButtonAction(value)"
                    ></reactive-dropdown-menu>
                </span>
            </div>
        </div>

        <div class="row-nowrap padding-left-2 margin-bottom-2">
            <div class="row-nowrap">
                <div class="row-nowrap margin-right-2">
                    <label class="text-nowrap margin-all-0 margin-right-1">
                        {{::$ctrl.translations.deadline}}
                    </label>
                    <span>{{$ctrl.deadline}}</span>
                </div>
                <div class="row-nowrap margin-right-2">
                    <label class="text-nowrap margin-all-0 margin-right-1">
                        {{::$ctrl.translations.riskOwner}}
                    </label>
                    <span>{{$ctrl.riskOwnerName}}</span>
                </div>
            </div>
        </div>

        <div class="row-nowrap padding-left-2 padding-right-1 margin-bottom-1">
            <div
                ng-if="!$ctrl.isPanelExpanded"
                class="row-nowrap width-100-percent"
            >
                <div class="column-nowrap margin-bottom-half flex-grow-1 flex-basis-0 margin-right-2">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{::$ctrl.translations.summary}}
                    </label>
                    <span class="block-with-text">{{$ctrl.riskModel.Description}}</span>
                </div>

                <div class="column-nowrap margin-bottom-half flex-grow-1 flex-basis-0 margin-right-2">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{::$ctrl.translations.recommendation}}
                    </label>
                    <span
                        ng-if="!$ctrl.isTextareaEnabled || $ctrl.viewState.textareaModelProp !== 'Recommendation'"
                        class="block-with-text"
                    >
                        {{$ctrl.riskModel.Recommendation}}
                    </span>
                </div>

                <div class="column-nowrap margin-bottom-half flex-grow-1 flex-basis-0 margin-right-2">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{$ctrl.viewState.treatmentLabelText}}
                    </label>
                    <span
                        ng-if="!$ctrl.isTextareaEnabled || $ctrl.viewState.textareaModelProp === 'Recommendation'"
                        class="block-with-text"
                    >
                        {{$ctrl.riskModel[$ctrl.viewState.treatmentModelProp]}}
                    </span>
                </div>
            </div>

            <div
                ng-if="$ctrl.isPanelExpanded"
                class="column-nowrap width-100-percent"
            >
                <div class="column-nowrap margin-bottom-2 flex-grow-1">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{::$ctrl.translations.summary}}
                    </label>
                    <span>{{$ctrl.riskModel.Description || "&nbsp;"}}</span>
                </div>

                <div class="column-nowrap margin-bottom-2 flex-grow-1">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{::$ctrl.translations.recommendation}}
                    </label>
                    <span>
                        {{$ctrl.riskModel.Recommendation || "&nbsp;"}}
                    </span>
                </div>

                <div class="column-nowrap margin-bottom-2 flex-grow-1">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{$ctrl.viewState.treatmentLabelText}}
                    </label>
                    <span>
                        {{$ctrl.riskModel[$ctrl.viewState.treatmentModelProp] || "&nbsp;"}}
                    </span>
                </div>

                <div class="column-nowrap margin-bottom-2 flex-grow-1">
                    <label class="text-nowrap margin-all-0 margin-bottom-half">
                        {{::$root.t("AssociatedQuestion")}}
                    </label>
                    <span
                        ng-if="$ctrl.isFetchingQuestion"
                    >
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </span>
                    <span
                        ng-if="!$ctrl.isFetchingQuestion"
                    >
                        <!-- {{$ctrl.riskRelatedQuestion}} -->
                        <assessment-question-content
                            current-user="$ctrl.currentUser"
                            project="$ctrl.projectModel"
                            question="$ctrl.riskRelatedQuestion"
                            is-disabled="true"
                            view-state="$ctrl.questionViewState"
                            events="$ctrl.questionEvents"
                        ></assessment-question-content>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div
        ng-if="$ctrl.viewState.canShowDetails || $ctrl.viewState.button1Enabled || $ctrl.viewState.button2Enabled"
        class="risk-summary__row-with-top-border row-space-between padding-left-right-2 padding-top-bottom-1"
    >
        <div>
            <one-button
                ng-if="!$ctrl.isPanelExpanded && $ctrl.viewState.canShowDetails"
                class="margin-right-1"
                ng-click="$ctrl.handleButtonAction('EXPAND_CARD')"
                text="{{::$root.t('ShowDetails')}}"
                button-class="risk-summary__button"
            ></one-button>
            <one-button
                ng-if="$ctrl.isPanelExpanded && $ctrl.viewState.canShowDetails"
                class="margin-right-1"
                ng-click="$ctrl.handleButtonAction('EXPAND_CARD')"
                text="{{::$root.t('HideDetails')}}"
                button-class="risk-summary__button"
            ></one-button>
        </div>
        <div ng-if="!$ctrl.isTextareaEnabled" class="row-nowrap">
            <one-button
                class="margin-right-1"
                ng-if="$ctrl.viewState.button1Enabled"
                ng-click="$ctrl.handleButtonAction($ctrl.viewState.button1Action)"
                text="{{$ctrl.viewState.button1Text}}"
                button-class="risk-summary__button"
                enable-loading="true"
                is-loading="$ctrl.isRemovingProp"
                is-disabled="$ctrl.isRemovingProp"
            ></one-button>
            <one-button
                ng-if="$ctrl.viewState.button2Enabled"
                ng-click="$ctrl.handleButtonAction($ctrl.viewState.button2Action)"
                text="{{$ctrl.viewState.button2Text}}"
                button-class="risk-summary__button"
                type="{{$ctrl.viewState.button2Type}}"
            ></one-button>
        </div>
        <div ng-if="$ctrl.isTextareaEnabled" class="row-nowrap">
            <one-button
                class="margin-right-1"
                text="{{::$ctrl.translations.cancel}}"
                button-click="$ctrl.cancelTextarea()"
            ></one-button>
            <one-button
                type="primary"
                text="{{$ctrl.viewState.textareaSaveButtonText}}"
                button-click="$ctrl.submitTextarea()"
                enable-loading="true"
                is-loading="$ctrl.isSubmittingTextarea"
                is-disabled="$ctrl.isSubmittingTextarea || !$ctrl.textareaSubmitEnabled"
            ></one-button>
        </div>
    </div>
</section>