.risk-summary {
    &__content {
        background-color: $white;

        &--disabled {
            background-color: $paper-gray;
            cursor: no-drop;
        }

        &--border-right {
            border-right: 1px solid $frost;
        }
    }

    &__action-open,
    &__action-icon {
        cursor: pointer;
        color: $slate;

        &:hover {
            color: darken($slate, 15%);
        }
    }

    &__action-open {
        margin: 0 5rem 0 7rem;
    }

    &__risk-level-label {
        color: $slate;
    }

    &__label-column {
        padding-left: 3rem;
    }

    &__row-with-top-border {
        border-top: 1px solid $frost;
    }

    &__row-with-bottom-border {
        border-bottom: 1px solid $frost;
    }

    &__expandable-content {
        max-height: 10.8rem;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2rem;
            background-image:linear-gradient(transparent, $white);
        }

        &--expanded {
            max-height: none;
        }

        &--no-overflow {
            &:after {
                display: none;
            }
        }
    }

    .risk-summary__bottom-section-textarea {
        height: 5rem;
        min-height: 5rem;
        padding: 0.2rem 0.3rem;
        resize: vertical;

        &::-webkit-input-placeholder {
            color: $platinum;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #0bf;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
            color: #0bf;
        }
        &:-ms-input-placeholder {
            color: #0bf;
        }
    }
}

.block-with-text {
  overflow: hidden;
  position: relative;
  max-height: 6.1rem;
  text-align: justify;
  margin-right: -1rem;
  padding-right: 1rem;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
