<ot-loading otPageLoading *ngIf="isLoading"></ot-loading>
<section
    *ngIf="!isLoading"
    class="height-100 column-nowrap background-white"
    >
    <div class="width-100-percent static-vertical border-bottom">
        <button otButton neutral
            class="align-right margin-top-bottom-1 margin-left-right-2"
            [attr.ot-auto-id]="'PurposeSelectTopicsButton'"
            [innerText]="'SelectTopics' | otTranslate"
            [disabled]="purpose.Status !== crConstants.CRPurposeStatus.Draft"
            (click)="addTopics()"
        ></button>
    </div>
    <div class="position-relative overflow-auto height-100">
        <table
            otDataTable
            *ngIf="purpose.Topics.length"
            class="cr-table__table"
            [rowData]="purpose.Topics"
            [rowBordered]="true"
            [rowNoHover]="purpose.Status !== crConstants.CRPurposeStatus.Draft"
            [responsiveTable]="true"
            [truncateCellContent]="true"
            >
            <ot-data-table-column
                [headerLabel]="'Topic' | otTranslate"
                [thClass]="'width-30-percent slds-truncate'"
                >
                <ng-template otDataTableCell let-row="row" let-column="column" [tdClass]="'width-30-percent slds-truncate'">
                    {{row.Name}}
                </ng-template>
            </ot-data-table-column>
            <ot-data-table-column
                [headerLabel]="'TopicId' | otTranslate"
                [thClass]="'width-30-percent slds-truncate'"
                >
                <ng-template otDataTableCell let-row="row" let-column="column" [tdClass]="'width-30-percent slds-truncate'">
                    {{row.Id}}
                </ng-template>
            </ot-data-table-column>
            <ot-data-table-column
                [headerLabel]="'IntegrationKey' | otTranslate"
                [thClass]="'width-30-percent slds-truncate'"
                >
                <ng-template otDataTableCell let-row="row" let-column="column" [tdClass]="'width-30-percent slds-truncate'">
                    {{row.IntegrationKey}}
                </ng-template>
            </ot-data-table-column>
            <ot-data-table-column>
            </ot-data-table-column>
            <ot-data-table-column *ngIf="purpose.Status === crConstants.CRPurposeStatus.Draft">
                <ng-template otDataTableHeader [thClass]="'float-col'">
                        <div></div>
                </ng-template>
                <ng-template otDataTableCell [tdClass]="'float-col z-index-9999'" let-row="row">
                    <ot-context-menu
                        class="height-100 flex-full-height column-vertical-center"
                        position="bottom-right"
                        [menu]="ellipsisOptions"
                        [type]="2"
                        (toggled)="getEllipsisOptions(row)"
                        >
                        <i class="ot ot-ellipsis-h"></i>
                        <a *otContextMenuItem="let option"
                            (click)="option.action()"
                            >
                            {{ option.text }}
                        </a>
                    </ot-context-menu>
                </ng-template>
            </ot-data-table-column>
        </table>
        <div
            *ngIf="!loading && !purpose.Topics.length"
            class="row-horizontal-vertical-center margin-top-4 flex-full-height text-center"
            >
            <ot-empty-state [emptyStateMessage]="'NoTopicsFound' | otTranslate">
                <img emptyStateImg />
                <button otButton brand
                    empty-state-content
                    *ngIf="purpose.Status === crConstants.CRPurposeStatus.Draft"
                    ot-auto-id="ConsentEmptyStateAddNewButton"
                    [disabled]="purpose.Status === crConstants.CRPurposeStatus.Active"
                    [innerText]="'SelectTopics' | otTranslate"
                    (click)="addTopics()"
                    >
                </button>
            </ot-empty-state>
        </div>
    </div>
</section>