.one-corner-ribbon {
    z-index: 100;

    &__text {
        background: $grey-2;
        color: $slate;
        line-height: 3rem;
        width: 72%;
        cursor: default;
    }

    &--top-left {
        top: 22%;
        left: -15%;
        transform: rotate(-45deg);
    }

    &--top-right {
        top: 22%;
        left: 43%;
        transform: rotate(45deg);
    }

    &--bottom-left {
        top: 60%;
        left: -15%;
        transform: rotate(45deg);
    }

    &--bottom-right {
        top: 60%;
        left: 43%;
        transform: rotate(-45deg);
    }
}
