<div class="one-corner-ribbon position-absolute overflow-hidden full-size">
    <span [ngClass]="[
        'one-corner-ribbon__text',
        'text-center',
        'text-bold',
        'text-nowrap',
        'shadow2',
        'position-absolute',
        ribbonClass,
        ribbonPosition ? 'one-corner-ribbon--' + ribbonPosition : 'one-corner-ribbon--top-left']"
        [innerHtml]="ribbonText"
    ></span>
</div>