<ot-modal-header (close)="closeModal()">
    <div>{{ 'ManageDataElements' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height">
    <div
        name="mangeDataElementsForm"
        class="width-100-percent max-width-full margin-none flex-full-height"
        >
        <div class="padding-bottom-2 border-bottom static-vertical">
            <div
                class="text-center centered-50-percent margin-bottom-1"
                [innerHTML]="'ManageDataElementsSelectSubjectTypeDescription' | otTranslate : { DataSubjectType: '<span class=\'text-bold\'>' + (otModalData.listItem.nameKey | otTranslate) + '</span>' }"
            ></div>
            <div class="row-nowrap space-between">
                <div
                    otFormElement
                    class="flex-full-50"
                    *ngIf="otModalData && otModalData.listItem; else dataSubjectTypeSelect"
                    [label]="'DataSubjectType' | otTranslate"
                    >
                    {{ otModalData.listItem.nameKey | otTranslate }}
                </div>
                <ng-template #dataSubjectTypeSelect>
                    <div
                        otFormElement
                        class="width-100-percent"
                        [label]="'DataSubjectType' | otTranslate"
                        >
                        <ot-picklist
                            class="max-width-30"
                            ot-auto-id="ManageDataElementsModalSubjectTypeSelection"
                            valueKey="id"
                            labelKey="displayName"
                            [placeholder]="'DataSubjectType' | otTranslate"
                            [autoClose]="true"
                            [options]="dataSubjectTypeList"
                            [disabled]="!dataSubjectTypeList.length || isSaving"
                            [model]="selectedSubjectType"
                            (onSelect)="selectSubjectType($event)"
                        ></ot-picklist>
                    </div>
                </ng-template>
                <ot-search-input
                    class="height-100 align-self-end"
                    name="InventoryManageDataElementsSearch"
                    ot-auto-id="InventoryManageDataElementsSearch"
                    [model]="searchTerm"
                    [placeholder]="('Search' | otTranslate)"
                    (search)="handleSearch($event)"
                ></ot-search-input>
            </div>
        </div>
        <div class="flex-full-height">
            <div class="link-data-subject-modal__header row-nowrap">
                <div class="link-data-subject-modal__category-header background-eggshell border-bottom padding-all-half text-bold row-horizontal-vertical-center">
                    {{ "DataCategories" | otTranslate }}
                </div>
                <div
                    class="slds-truncate border-bottom padding-all-1 text-bold width-100-percent"
                    *ngIf="selectedCategory?.name || selectedCategory?.nameKey"
                    >
                    <span class="text-medium" [title]="selectedCategory.nameKey ? (selectedCategory.nameKey | otTranslate) : selectedCategory.name">{{selectedCategory.nameKey ? (selectedCategory.nameKey | otTranslate) : selectedCategory.name}}</span>
                    <div class="margin-top-half">
                        <ot-checkbox
                            class="inline margin-right-1"
                            ot-auto-id="ManageDataElementsModalSelectAll"
                            [checked]="allSelected"
                            [disabled]="isSaving || !filteredElementList.length"
                            (toggle)="selectAll()"
                            >
                        </ot-checkbox>
                        <label>{{ "SelectAll" | otTranslate }}</label>
                    </div>
                </div>
            </div>
            <div class="link-data-subject-modal__content stretch-vertical row-nowrap border-bottom">
                <ul
                    *ngIf="dataCategoryList && dataCategoryList.length && !fetchingListData"
                    class="link-data-subject-modal__category-list background-eggshell stretch-vertical margin-bottom-0 overflow-y-auto shadow-bottom-inset z-index-1">
                    <li
                        class="link-data-subject-modal__category-item text-pointer border-bottom"
                        *ngFor="let category of dataCategoryList; let i = index"
                        [ngClass]="{'background-grey-2 text-bold': category.id === selectedCategory?.id }"
                        [attr.ot-auto-id]="'ManageDataElementsCategorySelection_' + i"
                        (click)="selectCategory(category)"
                        >
                        <div
                            class="slds-truncate padding-all-1"
                            [ngClass]="category?.id === selectedCategory?.id ? 'link-data-subject-modal__category-item--selected' : 'link-data-subject-modal__category-item--unselected'"
                            [title]="category.nameKey ? (category.nameKey | otTranslate) : category.name"
                            >
                            {{category.nameKey ? (category.nameKey | otTranslate) : category.name}}
                        </div>
                    </li>
                </ul>
                <div
                    class="flex-full-height justify-center link-data-subject-modal__category-list background-eggshell"
                    *ngIf="fetchingListData"
                    >
                    <ot-loading otPageLoading></ot-loading>
                </div>
                <div
                    class="column-horizontal-vertical-center link-data-subject-modal__category-list background-eggshell padding-left-right-2"
                    *ngIf="!fetchingListData && !dataCategoryList?.length"
                    >
                    {{ "NoCategoriesAvailable" | otTranslate }}
                </div>
                <div
                    class="width-100-percent stretch-vertical overflow-y-auto"
                    [ngClass]="{'flex-full-height': !fetchingListData && !dataCategoryList}"
                    >
                    <ot-empty-state
                        class="flex-full-height"
                        *ngIf="!fetchingListData && selectedCategory && !filteredElementList.length; else showDataElements"
                        [emptyStateMessage]="'NoElementsAvailable' | otTranslate"
                        >
                        <img emptyStateImg />
                    </ot-empty-state>
                    <ng-template #showDataElements>
                        <div
                            class="width-100-percent row margin-left-right-0"
                            [ngClass]="{'flex-full-height': !fetchingListData && !dataCategoryList}"
                            >
                            <ng-container *ngFor="let element of filteredElementList">
                                <div class="padding-all-1 border-right border-bottom inline-block col-sm-6 row-vertical-center">
                                    <ot-checkbox
                                        class="inline margin-right-1"
                                        [checked]="elementMap[element.id]"
                                        [disabled]="isSaving"
                                        (toggle)="toggleElement(element)"
                                        >
                                    </ot-checkbox>
                                    <label class="slds-truncate margin-bottom-0" [innerHTML]="element.name | highlight: searchTerm"></label>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        class="margin-right-1"
        otButton
        neutral
        ot-auto-id="ManageDataElementsModalCancelButton"
        [disabled]="isSaving"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="ManageDataElementsModalSaveButton"
        [loading]="isSaving"
        [disabled]="isSaving || !hasChanges"
        (click)="save()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
