<ng-template #showLoading>
    <ot-loading otPageLoading class="margin-left-right-auto margin-top-3"></ot-loading>
</ng-template>
<ot-modal-content *ngIf="ready; else showLoading" class="padding--left-right-1">
    <ng-container [ngSwitch]="taskView">
        <ng-container *ngSwitchCase="'createView'">
            <form
                class="padding-top-3"
                novalidate
                [formGroup]="taskManageForm">
                <div otFormElement
                    [label]="'Tasks.Name' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('name')"
                    >
                    <input otInput
                        class="margin-top-1 margin-bottom-2"
                        formControlName="name"
                        maxlength="200"
                        ot-auto-id="TasksModalNameInput"
                        [placeholder]="'Tasks.EnterTaskName' | translate"
                    />
                </div>
                <div otFormElement
                    class="margin-top-bottom-2"
                    [hasError]="getError('description')"
                    [errorMessage]="errorMessage"
                    [label]="'Description' | translate"
                    >
                    <textarea otTextarea
                        class="margin-top-1 margin-bottom-2"
                        formControlName="description"
                        ot-auto-id="TasksModalDescriptionInput"
                        [placeholder]="'Tasks.EnterTaskDescription' | translate"
                    ></textarea>
                </div>
                <div otFormElement
                    class="margin-top-bottom-2"
                    [label]="'Tasks.DueDate' | translate"
                    [errorMessage]="errorMessage"
                    [required]="true">
                    <div class="row-vertical-center">
                        <ot-datepicker
                            class="full-width margin-top-1 margin-bottom-2"
                            ot-auto-id="TasksModalDueDateDatepicker"
                            [format]="format"
                            [disableUntil]="disabledUntil"
                            [placeholder]="'Tasks.EnterDueDate' | translate"
                            (onChange)="onDatepickerChanged($event, 'dueDate')"
                        ></ot-datepicker>
                        <i
                            class="ot ot-info-circle margin-left-half"
                            [otTooltip]="{ content:'Tasks.DueDateWillBeSelectedDateAt1159PmUtc' | translate, placement: 'top-end', delay: 300 }"
                        ></i>
                    </div>
                </div>
                <div otFormElement
                    class="margin-top-bottom-2"
                    [label]="'Reminder' | translate">
                    <div class="row-vertical-center">
                        <ot-datepicker
                            class="full-width margin-top-1 margin-bottom-2"
                            ot-auto-id="TasksModalReminderDateDatepicker"
                            [format]="format"
                            [disableUntil]="disabledUntil"
                            [placeholder]="'Tasks.EnterReminderDateOptional' | translate"
                            (onChange)="onDatepickerChanged($event, 'reminderDate')"
                        ></ot-datepicker>
                        <i
                            class="ot ot-info-circle margin-left-half"
                            [otTooltip]="{ content:'Tasks.ReminderDateWillBeSelectedDateAt1159PmUtc' | translate, placement: 'top-end', delay: 300 }"
                        ></i>
                    </div>
                </div>
            </form>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="background-white height-5 row-vertical-center justify-end border-bottom padding-right-2">
                <button otButton brand
                    ot-auto-id="TasksModalAddTaskButton"
                    (click)="loadCreateModal()"
                >{{'Tasks.AddTask' | translate}}</button>
            </div>
            <table
                otDataTable
                class="position-relative"
                [rowData]="tasks"
                [rowBordered]="true"
                >
                <ng-container *ngFor="let col of taskColumns; index as i; trackBy: trackByFn">
                    <ot-data-table-column
                        [headerLabel]="col.columnName | translate"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        >
                        <ng-template otDataTableHeader [thClass]="'max-15'">
                            <div
                                class="padding-left-right-1"
                                [title]="col.columnName | translate"
                                [ngClass]="col.cellClass"
                                >
                                <span class="slds-truncate text-bold">{{col.columnName | translate}}</span>
                            </div>
                        </ng-template>
                        <ng-template
                            otDataTableCell
                            class="slds-truncate"
                            let-task="row"
                            let-column="column"
                            [tdClass]="'max-15 slds-truncate'"
                            >
                            <ng-container [ngSwitch]="column.cellValueKey">
                                <ng-container *ngSwitchCase="'description'">
                                    <ng-container *ngIf="!task.isFileDownload && !task.isAssessment && !task.isDataDiscoveryLink">
                                        <span [title]="task.description">{{task.description || ''}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="task.isFileDownload">
                                        <span *ngIf="task.isFailed">{{task.description || ''}}</span>
                                        <a
                                            *ngIf="!task.isFailed && !task.linkPressed"
                                            class="text-link text-underline"
                                            ot-auto-id="TasksModalDescriptionFileDownloadAnchor"
                                            [title]="task.description"
                                            (click)="downloadFile(task)"
                                            >
                                            {{task.description || ("File" | translate)}}
                                        </a>
                                        <ot-loading
                                            *ngIf="task.linkPressed"
                                            class="flex-full-height row-horizontal-vertical-center"
                                        ></ot-loading>
                                    </ng-container>
                                    <ng-container *ngIf="task.isAssessment">
                                        <a
                                            class="text-link text-underline"
                                            ot-auto-id="TasksModalDescriptionAssessmentNameAnchor"
                                            [title]="task.description"
                                            (click)="goToAssessment(task)"
                                            >
                                            {{task.description}}
                                        </a>
                                    </ng-container>
                                    <ng-container *ngIf="task.isDataDiscoveryLink">
                                        <a
                                            class="text-link text-underline"
                                            ot-auto-id="TasksModalDescriptionDataDiscoveryNameAnchor"
                                            [title]="task.description"
                                            (click)="goToAssets()"
                                            >
                                            {{task.description}}
                                        </a>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngSwitchCase="'stateName'">
                                    <div class="slds-truncate" [ngClass]="col.cellClass">
                                        <span [otBadge]="task.stateLabel">{{task.stateName}}</span>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchCase="'dueDate'">
                                    <div class = "text-center slds-truncate">
                                        <span *ngIf="task.dueDate" [ngClass]="col.cellClass">
                                            {{task.dueDate | otDate:"dateTime"}}
                                        </span>
                                        <span *ngIf="!task.dueDate" [ngClass]="col.cellClass">
                                            {{ "Tasks.NoDueDate" | translate }}
                                        </span>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <p
                                        class="slds-truncate margin-all-0"
                                        [title]="task[column.cellValueKey]"
                                    >{{task[column.cellValueKey]}}</p>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>

                <ot-data-table-column>
                    <ng-template otDataTableHeader [thStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                    <ng-template otDataTableCell [tdStyle]="{'min-width': '4rem'}">
                        <div></div>
                    </ng-template>
                </ot-data-table-column>
                <ot-data-table-column>
                    <ng-template otDataTableHeader [thClass]="'float-col'">
                    </ng-template>
                    <ng-template otDataTableCell
                        let-row="row"
                        [tdClass]="'float-col background-transparent'"
                        [tdStyle]="{'background': 'transparent'}"
                        >
                        <ot-context-menu
                            position="bottom-right"
                            size="medium"
                            [type]="2"
                            [menu]="row.dropDownMenu"
                            >
                            <i class="fa fa-ellipsis-h"></i>
                            <a
                                *otContextMenuItem="let item"
                                [attr.ot-auto-id]="item.rowRefId"
                                (click)="item.action()">
                                {{ item.text }}
                            </a>
                        </ot-context-menu>
                    </ng-template>
                </ot-data-table-column>
            </table>
        </ng-container>
    </ng-container>
</ot-modal-content>
<ot-modal-footer *ngIf="ready">
    <ng-container *ngIf="taskView === 'createView'">
        <button otButton
            ot-auto-id="TasksModalCancelTaskButton"
            [innerText]="'Cancel' | translate"
            (click)="loadListModal()"
        ></button>
        <button otButton brand
            ot-auto-id="TasksModalCreateTaskButton"
            [disabled]="disabled || !taskManageForm.valid || !validReminder"
            [loading]="disabled"
            (click)="createTask()"
        >{{'Tasks.CreateTask' | translate}}</button>
    </ng-container>
</ot-modal-footer>
