<one-modal-base
    class="flex-full-height add-custom-cookie"
    [modalTitle]="'AddCookie' | otTranslate"
    [identifier]="'CustomCookieModalCloseButton'"
    (close)="closeModal()"
>
    <form
        novalidate
        class="flex-full-height full-width padding-all-2"
        [formGroup]="addCookieForm"
    >
        <!-- Cookie name -->
        <div otFormElement
            [label]="'Name' | otTranslate"
            [required]="true"
            [hasError]="!addCookieForm.get('name').valid && addCookieForm.get('name').dirty"
        >
            <input
                class="full-width"
                otInput
                name="name"
                [formControlName]="'name'"
                [attr.ot-auto-id]="'CustomCookieNameInput'"
                [placeholder]="'Name' | otTranslate"
            />
        </div>
        <!-- host name-->
        <div otFormElement
            class="margin-top-2"
            [label]="'Host' | otTranslate"
            [required]="true"
            [hasError]="!addCookieForm.get('host').valid && addCookieForm.get('host').dirty"
        >
            <input
                class="full-width"
                otInput
                name="host"
                [formControlName]="'host'"
                [attr.ot-auto-id]="'CustomCookieHostNameInput'"
                [placeholder]="'Host' | otTranslate"
            />
        </div>
        <!-- Party -->
        <div otFormElement
            class="margin-top-2"
            [label]="'Party' | otTranslate"
        >
                <div class="flex">
                <ng-container *ngFor="let type of partyTypes">
                    <ot-radio
                        [id]="'CustomCookieParty' + type.value"
                        [attr.ot-auto-id]="'CustomCookieParty'+ type.value"
                        [name]="'CustomCookieParty'"
                        [model]="addCookieForm.get('isThirdParty').value"
                        [label]="type.label"
                        [value]="type.value"
                        (select)="addCookieForm.get('isThirdParty').setValue($event)"
                    ></ot-radio>
                </ng-container>
            </div>
        </div>
        <!-- Category -->
        <div otFormElement
            class="margin-top-2"
            [label]="'Category' | otTranslate"
        >
            <ot-picklist
                [placeholder]="'Category' | otTranslate"
                [attr.ot-auto-id]="'CustomCookieCategoryPicklist'"
                [autoClose]="true"
                [options]="categoryOptions"
                [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                [valueKey]="'id'"
                [labelKey]="'name'"
                [model]="addCookieForm.get('category').value"
                (onSelect)="addCookieForm.get('category').setValue($event)"
            ></ot-picklist>
        </div>
        <!-- Cookie type -->
        <div otFormElement
            class="margin-top-2"
            [label]="'Type' | otTranslate"
        >
            <div class="flex">
                <ng-container *ngFor="let type of cookieTypes">
                    <ot-radio
                        [id]="'CustomCookieType' + type.value"
                        [attr.ot-auto-id]="'CustomCookieType'+ type.value"
                        [name]="'CustomCookieType'"
                        [model]="addCookieForm.get('isSession').value"
                        [label]="type.label"
                        [value]="type.value"
                        (select)="addCookieForm.get('isSession').setValue($event)"
                    ></ot-radio>
                </ng-container>
            </div>
        </div>
        <!-- Duration -->
        <div otFormElement
            *ngIf="canshowDuration"
            class="margin-top-2 margin-left-2"
            [label]="'Duration' | otTranslate"
            [required]="true"
        >
            <div class="flex margin-left-2">
                <input otInput
                    type="number"
                    class="width-auto"
                    [formControlName]="'duration'"
                />
                <ot-picklist
                    class="width-100-percent padding-left-2"
                    [attr.ot-auto-id]="'CustomCookieDurationPicklist'"
                    [autoClose]="true"
                    [options]="durationTypes"
                    [noOptionsText]="'NoOptionsAvailable' | otTranslate"
                    [valueKey]="'value'"
                    [labelKey]="'label'"
                    [model]="addCookieForm.get('durationType').value"
                    (onSelect)="addCookieForm.get('durationType').setValue($event)"
                ></ot-picklist>
            </div>
        </div>
        <section class="row-vertical-center margin-top-1">
            <div class="stretch-vertical text-right cursor-pointer align-baseline row-space-between">
                <div class="add-custom-cookie__advanced-ruler border-bottom"></div>
                <p
                    class="text-small text-bold margin-top-bottom-0 inline-block no-outline"
                    ot-auto-id="'CustomCookieAdvanceOptionToggle'"
                    (click)="canShowAdvancedOption = !canShowAdvancedOption"
                >
                    {{"AdvancedOption" | otTranslate}}
                </p>
                <i
                    class="ot text-xsmall no-outline"
                    [ngClass]="{'ot-caret-down':!canShowAdvancedOption, 'ot-caret-up':canShowAdvancedOption}"
                    ot-auto-id="'CustomCookieAdvanceOptionToggle'"
                    (click)="canShowAdvancedOption = !canShowAdvancedOption"
                ></i>
            </div>
        </section>
        <ng-container *ngIf="canShowAdvancedOption">
            <!-- Description -->
            <div otFormElement
                class="margin-top-1"
                [label]="'Description' | otTranslate"
            >
                <textarea
                    class="full-width"
                    otTextarea
                    name="cookieDescription"
                    [formControlName]="'description'"
                    [attr.ot-auto-id]="'CustomCookieDescriptionInput'"
                    [placeholder]="'Description' | otTranslate"
                ></textarea>
            </div>
            <!-- Value -->
            <div otFormElement
                class="margin-top-2"
                [label]="'Value' | otTranslate"
            >
                <textarea
                    class="full-width"
                    otTextarea
                    name="cookieValue"
                    [formControlName]="'value'"
                    [attr.ot-auto-id]="'CustomCookieValueInput'"
                    [placeholder]="'Value' | otTranslate"
                ></textarea>
            </div>
        </ng-container>
        <footer class="row-flex-end static-horizontal margin-top-1 padding-top-1">
            <button
                otButton
                neutral
                class="margin-right-1"
                [innerText]="'Cancel' | otTranslate"
                [disabled]="isSaveInProgress || isSaveAndCreateInProgress"
                [attr.ot-auto-id]="'CustomCookieCancelButton'"
                (click)="closeModal()"
            ></button>
            <button
                otButton
                neutral
                class="margin-right-1"
                [disabled]="!addCookieForm.valid || isSaveInProgress"
                [innerText]="'CreateAndAdd' | otTranslate"
                [loading]="isSaveAndCreateInProgress"
                [attr.ot-auto-id]="'CustomCookieCreateAndAddButton'"
                (click)="onCreateAndNew()"
            ></button>
            <button
                otButton
                brand
                [disabled]="!addCookieForm.valid || isSaveAndCreateInProgress"
                [innerText]="'Create' | otTranslate"
                [loading]="isSaveInProgress"
                [attr.ot-auto-id]="'CustomCookieCreateButton'"
                (click)="onCreate()"
            ></button>
        </footer>
      </form>
</one-modal-base>
