<ot-page-header
    class="cr-header"
    [title]="title"
    >
    <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
        <ot-breadcrumb-item
            *ngIf="parentLabel"
            [link]="parentRoute"
            [label]="parentLabel"
        ></ot-breadcrumb-item>
        <ot-breadcrumb-item
            *ngIf="breadcrumbLabel || title"
            [label]="breadcrumbLabel || title"
        ></ot-breadcrumb-item>
    </ot-breadcrumb>
    <div>
        <ng-content></ng-content>
    </div>
</ot-page-header>