.cr-header {
    & .slds-page-header__head {
        flex: 1 1 auto;
    }

    & .slds-page-header__container {
        max-width: initial;
    }

    & .slds-breadcrumb__item > a {
        max-width: 40rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}