<ot-modal-header (close)="closeModal()">
    <div>{{ 'CreateRisk' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="flex-full-width row-space-between">
        <div
            otFormElement
            class="flex-grow-1 flex-basis-0 padding-bottom-1 margin-right-2"
            [label]="'RiskLevel' | otTranslate"
            [required]="true"
        >
            <risk-selector
                (onChange)="onRiskHeatmapSelected($event)"
            ></risk-selector>
        </div>
        <div
            otFormElement
            *ngIf="'RiskEditCategory' | otPermit"
            class="flex-grow-1 flex-basis-0 padding-bottom-2"
            [label]="'Category' | otTranslate"
            >
            <ot-lookup
                valueKey="id"
                labelKey="name"
                [model]="selectedCategories"
                [multiSelect]="true"
                [options]="filteredCategoryOptions"
                [placeholder]="'Category' | otTranslate"
                (modelChange)="onModelValueChange($event)"
                (inputChange)="onCategoryLookupInputChange($event)"
                >
            </ot-lookup>
        </div>
    </div>
    <div class="flex-full-width row-space-between padding-bottom-1">
        <div
            otFormElement
            class="flex-grow-1 flex-basis-0 margin-right-2"
            [label]="'Deadline' | otTranslate"
        >
            <ot-datepicker
                name="deadline"
                ot-auto-id="InventoryRiskDeadlineDate"
                [format]="format"
                [placeholder]="'Deadline' | otTranslate"
                [dateModel]="deadline"
                [disableUntil]="disabledUntilDate"
                (onChange)="handleInputChange($event, 'deadline')"
            ></ot-datepicker>
        </div>
        <div
            otFormElement
            class="flex-grow-1 flex-basis-0"
            [label]="'RiskOwner' | otTranslate"
        >
            <ot-org-user
                ot-auto-id="InventoryRiskOwnerDropdown"
                placeholder="PleaseSelectOwner"
                [allowEmail]="true"
                [fetchOptionsOnClick]="true"
                [model]="selectedRiskOwner"
                (onSelect)="handleRiskOwnerChange($event)"
            ></ot-org-user>
        </div>
    </div>
    <div
        otFormElement
        class="padding-bottom-1"
        [label]="'Description' | otTranslate"
    >
        <textarea
            otTextarea
            maxlength="1000"
            ot-auto-id="InventoryRiskDescriptionTextArea"
            [ngModel]="riskModel.description"
            (ngModelChange)="handleInputChange($event, 'description')"
        ></textarea>
    </div>
    <div
        otFormElement
        [label]="'Recommendation' | otTranslate"
    >
        <textarea
            otTextarea
            maxlength="1000"
            ot-auto-id="InventoryRiskRecommendationTextArea"
            [ngModel]="riskModel.recommendation"
            (ngModelChange)="handleInputChange($event, 'recommendation')"
        ></textarea>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton neutral
        ot-auto-id="InventoryRiskCancelButton"
        (click)="closeModal()"
    >
        {{'Cancel' | otTranslate}}
    </button>
    <button
        otButton brand
        ot-auto-id="InventoryRiskAddButton"
        [disabled]="isSubmitDisabled()"
        (click)="submitModal()"
    >
        {{'Add' | otTranslate}}
    </button>
</ot-modal-footer>
