<section class="builder-question-list margin-right-4">
    <div
        class="builder-question-list--drop border-top"
        [dndList]="{
            allowedTypes: [
                builderDraggableTypes.BuilderQuestionIcon,
                builderDraggableTypes.BuilderQuestion
            ]
        }"
        [dndPlaceholder]="placeholder"
        [dndModel]="questionSequence"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (dndDrop)="dndDropHandler($event)"
        (dndInserted)="dndInserted($event)"
    >
        <div *ngFor="let questionId of questionSequence; trackBy: trackByQuestionId">
            <builder-question
                [questionId]="questionId"
                [sectionId]="sectionId"
                [sectionSequence]="sectionSequence"
                [sequence]="$index+1"
                [templateId]="templateId"
            >
            </builder-question>
        </div>
    </div>
    <div
        *ngIf="isCreateMode && permissions.TemplatesCreateAndPublish && !isTemplateLocked && isTemplateActive"
        class="builder-question-list--add border min-height-46 cursor-pointer margin-bottom-1 row-horizontal-vertical-center
        height-2 margin-top-2"
    >
        <span
            class="paragraph-medium-small text-bold margin-right-1"
            [innerText]="'DragQuestionTile' | otTranslate"
        >
        </span>
        <button
            otButton
            neutral
            ot-auto-id="TemplateBuilderQuestionAdd"
            class="paragraph-medium-small text-bold no-outline"
            [innerText]="'CreateQuestion' | otTranslate"
            (click)="onAddQuestionClick()"
        >
        </button>
    </div>
    <div
        class="builder-question-list--dnd-placeholder margin-left-6 min-height-46 border text-center margin-top-bottom-1 row-vertical-center"
        #placeholder>
        <span class="paragraph-medium-small text-ui-blue text-bold flex-auto">
            {{"DropQuestionHere" | otTranslate}}
        </span>
    </div>
</section>
