.builder-question-list {
    &--dragging {
        padding-bottom: 4.6rem !important;
    }
    &--add {
        margin-left: 5.8rem;
        border-radius: 5rem 0.3rem 0.3rem 5rem;
        border-style: dashed;
        border-color: $blue;
        &:hover {
            border-style: solid;
        }
    }
    &--dnd-placeholder {
        border-radius: 5rem 0.3rem 0.3rem 5rem;
        border-style: dashed;
        border-color: $blue;
        background-color: $alice-blue;
        pointer-events: none;
    }
    &--drop {
        margin-top: -0.1rem;
        min-height: 3rem;
    }
}
