<one-modal-base
    class="background-white height-auto"
    [modalTitle]="'ShareAssessment' | otTranslate"
    (close)="closeModal()"
>
    <section class="row-space-between stretch-vertical min-height-50 max-height-50 padding-top-3 ">
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div class="margin-bottom-1 padding-left-right-1">
                <ot-search-input
                    ot-auto-id="AssessmentShareAssessmentUserSearchInput"
                    [placeholder]="'Search' | otTranslate"
                    [searchOnEnter]="true"
                    [model]="search"
                    (search)="onSearch($event)"
                ></ot-search-input>
            </div>
                <div
                    *ngIf="isReady && noRecordFound"
                    class="text-center margin-top-3 text-bold">
                        {{"NoSearchResultsFound" | otTranslate}}
                </div>
                <div
                    *ngIf="!isReady"
                    class="flex-full-height row-horizontal-vertical-center padding-top-bottom-2"
                >
                    <ot-loading otPageLoading>
                    </ot-loading>
                </div>
                <od-virtualscroll
                    *ngIf="isReady"
                    class="padding-left-right-1 overflow-y-auto"
                    [vsData]="data$"
                    [vsOptions]="options$"
                    [vsUserCmd]="scrollTop$"
                >
                    <ng-template let-item let-index="row">
                        <div
                            class="
                                row-vertical-center
                                padding-top-bottom-half
                                padding-left-right-1
                                border-bottom
                                row-space-between
                                min-width-40
                            ">
                            <div class="share-assessment-modal__user-width">
                                <div
                                    class="text-bold overflow-ellipsis-nowrap"
                                    [otTooltip]="{ content: item?.user?.userName, placement: 'bottom-left' }"
                                >{{item?.user?.userName}}</div>
                                <div
                                    class="overflow-ellipsis-nowrap"
                                    [otTooltip]="{ content: item?.user?.email, placement: 'bottom-left' }"
                                >{{item?.user?.email}}</div>
                            </div>
                            <ot-checkbox
                                class="padding-right-1"
                                ot-auto-id="AssessmentAddUsersCheckbox"
                                [checked]="item?.checked"
                                (toggle)="onToggle($event, item)"
                                >
                            </ot-checkbox>
                        </div>
                    </ng-template>
                </od-virtualscroll>
        </div>
        <div class="column-nowrap width-50-percent margin-left-right-1-half">
            <div class="text-bold margin-bottom-2 padding-left-1">
                {{"SharedUsers" | otTranslate}}:
            </div>
            <one-empty-state
                *ngIf="!selectedUsers || selectedUsers.length === 0"
                class="flex-full-height column-horizontal-vertical-center stretch-vertical"
                imagePath="images/add_user.svg"
                [emptyStateMessage]="'NoUsers' | otTranslate"
            >
            </one-empty-state>
            <ul class="padding-left-right-1 overflow-y-auto">
                <li
                    *ngFor="let selectedUser of selectedUsers; trackBy: trackByFn"
                    class="row-vertical-center
                        padding-top-bottom-half
                        padding-left-right-1
                        border-bottom
                        row-space-between"
                    >
                    <div class="share-assessment-modal__user-width">
                        <div
                            class="text-bold overflow-ellipsis-nowrap"
                            [otTooltip]="{ content: selectedUser.userName, placement: 'bottom-left' }"
                        >{{selectedUser.userName}}</div>
                        <div
                            class="overflow-ellipsis-nowrap"
                            [otTooltip]="{ content: selectedUser.email, placement: 'bottom-left' }"
                        >{{selectedUser.email}}</div>
                    </div>
                    <i
                        class="ot ot-close padding-right-1 cursor-pointer"
                        ot-auto-id="AssessmentAddUsersDeSelectUserIcon"
                        (click)="removeItem(selectedUser)"
                    ></i>
                </li>
            </ul>
        </div>
    </section>
    <footer class="static-vertical row-flex-end padding-all-2">
        <button otButton
            ot-auto-id="AssessmentShareAssessmentCloseButton"
            [innerText]="'Cancel' | otTranslate"
            [disabled]="disabled"
            (click)="closeModal()"
        ></button>
        <button otButton brand
            ot-auto-id="AssessmentShareAssessmentSaveButton"
            [innerText]="'Save' | otTranslate"
            [disabled]="disabled"
            [loading]="disabled"
            (click)="shareAssessmentToUsers()"
        ></button>
    </footer>
</one-modal-base>
