<section class="inventory-list column-nowrap full-size background-white">
    <ng-container *ngIf="viewReady; else showLoading">
        <ot-page-header [title]="listItem.nameKey | otTranslate">
            <ot-breadcrumb
                class="text-nowrap"
                (routeClicked)="goToListManager($event)"
                >
                <ot-breadcrumb-item
                    ot-auto-id="ListManagerDetailsEntryBreadcrumbItem"
                    [label]="'InventoryManager' | otTranslate"
                    [link]="inventoryListManagerRoutes.Entry"
                ></ot-breadcrumb-item>
                <ot-breadcrumb-item
                    ot-auto-id="ListManagerDetailsItemBreadcrumbItem"
                    [label]="listTitle | otTranslate"
                    [link]="inventoryListManagerRoutes.List"
                ></ot-breadcrumb-item>
                <ot-breadcrumb-item
                    [label]="listItem.nameKey | otTranslate"
                ></ot-breadcrumb-item>
            </ot-breadcrumb>
            <div *ngIf="listActions.length">
                <ng-container *ngFor="let listAction of listActions">
                    <button
                        otButton
                        brand
                        *ngIf="listAction.buttonType === buttonTypes.Brand"
                        class="margin-left-1"
                        [attr.ot-auto-id]="'InventoryListManagerDetailsActionButton' + listAction.labelKey"
                        (click)="listAction.action()"
                        >
                        {{ listAction.labelKey | otTranslate }}
                    </button>
                    <button
                        otButton
                        neutral
                        *ngIf="listAction.buttonType === buttonTypes.Neutral"
                        [attr.ot-auto-id]="'InventoryListManagerDetailsActionButton' + listAction.labelKey"
                        (click)="listAction.action()"
                        >
                        {{ listAction.labelKey | otTranslate }}
                    </button>
                </ng-container>
            </div>
        </ot-page-header>
        <ot-tabs
            *ngIf="tabs.length"
            [tabs]="tabs"
            [max]="tabs.length"
            [selectedTab]="currentTab"
            >
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'tab-' + tab.id"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
        <ng-container [ngSwitch]="currentTab">
            <div *ngSwitchCase="tabIds.Details">
                <!-- TODO: Add Details View -->
            </div>
            <div *ngSwitchCase="tabIds.List" class="flex-full-height">
                <ng-container *ngIf="inventoryListManagerService.inventoryListManagerViewState$ | async as state">
                    <ng-container *ngIf="state.listReady; else listNotReady">
                        <div class="overflow-y-auto stretch-vertical" *ngIf="state.rows.length; else noRecords">
                            <div class="position-relative">
                                <inventory-list-manager-table
                                    [rows]="state.rows"
                                    [columns]="state.columns"
                                    [listId]="state.listId"
                                    [associatedListId]="state.associatedListId"
                                    [allowRowActions]="state.associatedListId === inventoryListTypes.DataElements"
                                    [actionsContext]="inventoryListActionContext.Details"
                                    [contextItem]="listItem"
                                    (goToRoute)="goToDetails($event)"
                                    >
                                </inventory-list-manager-table>
                            </div>
                        </div>
                        <ng-template #noRecords>
                            <div class="flex-full-height justify-center text-center padding-all-2">
                                <ot-empty-state [emptyStateMessage]="'NoRecordsFound' | otTranslate">
                                    <img emptyStateImg />
                                </ot-empty-state>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #listNotReady>
                        <ot-loading otPageLoading class="flex-full-height"></ot-loading>
                    </ng-template>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #showLoading>
        <ot-loading otPageLoading class="flex-full-height"></ot-loading>
    </ng-template>
</section>