<section class="full-size column-nowrap">
    <ot-page-header
        class="border-bottom background-grey"
        [title]="'ConsentSettings' | otTranslate"
        type="clear"
        >
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="loading; else consentSettingsForm"
        class="stretch-vertical"
        >
    </ot-loading>
    <ng-template #consentSettingsForm>
        <div class="stretch-vertical overflow-y-auto padding-all-2">
            <div class="centered-max-70 padding-bottom-5">
                <h4 class="margin-top-bottom-0">{{ "General" | otTranslate }}</h4>
                <hr class="margin-top-bottom-1"/>

                <div
                    *ngIf="showNoConsentTransactionToggle"
                    class="ot-setting-container margin-bottom-1"
                    >
                    <ot-setting
                        [title]="'CreateNoConsentTransactions' | otTranslate"
                        [description]="'CreateNoConsentTransactionsSubTitle' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="settingsCreateNoConsentTransactionsToggle"
                            [checked]="consentSetting?.noConsentTransactions"
                            (toggle)="toggleSetting('noConsentTransactions')"
                        ></ot-toggle>
                    </ot-setting>
                </div>

                <div
                    *ngIf="consentAcknowledgementEmailToggle"
                    class="ot-setting-container"
                    >
                    <ot-setting
                        [title]="'ConsentAcknowledgementEmail' | otTranslate"
                        [description]="'ConsentAcknowledgementEmailSubTitle' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="SettingsConsentAcknowledgementEmailToggle"
                            [checked]="consentSetting?.consentAcknowledgementEmail"
                            (toggle)="toggleSetting('consentAcknowledgementEmail')"
                        ></ot-toggle>
                    </ot-setting>
                </div>
            </div>

            <div class="centered-max-70">
                <h4 class="margin-top-bottom-0">{{ "MagicLinks" | otTranslate }}</h4>
                <hr class="margin-top-bottom-1"/>
                <div class="ot-setting-container margin-bottom-1">
                    <ot-setting
                        [title]="'EnableMagicLinkTitle' | otTranslate"
                        [description]="'EnableMagicLinkSubTitle' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="settingsMagicLinkToggle"
                            [checked]="consentSetting?.magicLinkEnabled"
                            (toggle)="toggleSetting('magicLinkEnabled')"
                        ></ot-toggle>
                        <ot-setting
                            *ngIf="consentSetting?.magicLinkEnabled"
                            [title]="'MagicLinkTimeSpan' | otTranslate">
                            <div otFormElement
                                [errorMessage]="'InvalidMagicLinkTimeSpan' | otTranslate"
                                [hasError]="error.magicLinkTimeSpan"
                                >
                                <input otInput
                                    ot-auto-id="settingsMagicLinkTimeStampInput"
                                    maxlength="2"
                                    min="1"
                                    max="12"
                                    type="number"
                                    [ngModel]="consentSetting?.magicLinkTimeSpan"
                                    [placeholder]="'EnterMagicLinkTimeSpan' | otTranslate"
                                    [value]="consentSetting?.magicLinkTimeSpan"
                                    (ngModelChange)="handleTimeSpanChange($event)"
                                    />
                            </div>
                        </ot-setting>
                    </ot-setting>
                </div>

                <div class="ot-setting-container">
                    <ot-setting
                        [title]="'EnableMagicLinkKillSwitchTitle' | otTranslate"
                        [description]="'EnableMagicLinkKillSwitchSubTitle' | otTranslate"
                        >
                        <ot-toggle
                            ot-auto-id="settingsMagicLinkKillSwitchToggle"
                            [checked]="consentSetting?.magicLinkKillSwitchEnabled"
                            (toggle)="toggleSetting('magicLinkKillSwitchEnabled')"
                        ></ot-toggle>
                    </ot-setting>
                </div>

                <div class="ot-setting-container">
                    <ot-setting
                        [title]="'RecreateMagicLinks' | otTranslate"
                        [label]="'RecreateMagicLinksSubTitle' | otTranslate"
                        >
                        <button otButton brand
                            ot-auto-id="ConsentRecreateMagicLinksButton"
                            [innerText]="'Create' | otTranslate"
                            [disabled]="actionInProgress"
                            (click)="openRecreateMagicLinksModal()"
                        ></button>
                    </ot-setting>
                </div>

                <div class="ot-setting-container">
                    <ot-setting
                        [title]="'DeleteMagicLinks' | otTranslate"
                        [label]="'DeleteMagicLinksSubTitle' | otTranslate"
                        >
                        <button otButton destructive
                            ot-auto-id="ConsentDeleteMagicLinksButton"
                            [innerText]="'Delete' | otTranslate"
                            [disabled]="actionInProgress"
                            (click)="openDeleteMagicLinksModal()"
                        ></button>
                    </ot-setting>
                </div>
            </div>
        </div>
        <footer otPageFooter class="background-grey">
            <button otButton brand
                ot-auto-id="ConsentSaveConnectionButton"
                class="align-self-end margin-top-bottom-auto"
                [innerText]="'Save' | otTranslate"
                [disabled]="actionInProgress || hasInputWithError"
                (click)="openSaveSettingsModal()"
            ></button>
        </footer>
    </ng-template>
</section>
