<ot-modal-header (close)="closeModal()">
    <div>{{ 'ViewRelatedAssessments' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height">
    <div *ngIf="!(isLoading$ | async) && relatedAssessments.length"
        class="flex-full-height">
        <p class="text-bold margin-bottom-2 margin-top-4">
            {{ 'CurrentAssessment' | otTranslate }}:
            <a (click)="goToAssessment(currentAssessmentDetails.assessmentId)">
                {{ currentAssessmentDetails.assessmentName }}
            </a>
        </p>
        <p class="text-bold margin-bottom-4">
            {{ 'Stage' | otTranslate }}:
            <span
                [otBadge]="currentAssessmentDetails.assessmentStatus | badgeColor: assessmentBadgeColorMap"
                [innerText]="currentAssessmentDetails.assessmentStatus | badgeLabel | otTranslate"
            ></span>
        </p>
        <p class="text-bold margin-top-2">{{ 'RelatedAssessments' | otTranslate }}:</p>
        <assessment-table
            class="overflow-y-auto"
            [tableData]="relatedAssessments"
            [columns]="relatedAssessmentColumns"
            [badgeColorMap]="assessmentBadgeColorMap"
            (goToAssessment)="goToAssessment($event)"
            (closeRelatedAssessmentsModal)="closeRelatedAssessmentModal($event)"
        ></assessment-table>
    </div>
    <div class="stretch-vertical text-center">
        <ot-loading otPageLoading
            *ngIf="isLoading$ | async"
        ></ot-loading>
        <ot-empty-state
            *ngIf="!(isLoading$ | async) && !relatedAssessments.length"
            class="flex-full-height justify-center margin-top-4"
            [emptyStateMessage]="'NoRelatedAssessments' | otTranslate">
            <img src="../../../../images/empty_state_icon.svg"/>
        </ot-empty-state>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        ot-auto-id="ViewRelatedAssessmentModalCloseButton"
        (click)="closeModal()"
        >
        {{ 'Close' | otTranslate }}
    </button>
</ot-modal-footer>
