.workFlowSettings .ot-setting {
    padding-right:0;
}

.workFlowSettings .ot-setting__content {
    width:5rem;
}

.workFlowSettings {
    &__workflowName {
        width: 100%;
        max-width: 50rem;
        label {
            font-size: 1.5rem;
            font-weight: bolder;
        }
    }
    .slds-form-element__help {
        display: none;
    }
}
