<ot-loading otPageLoading
    *ngIf="
        !ready &&
        !noSettingsFound &&
        enableLoading;
        else settings">
</ot-loading>
<ng-template #settings>
    <div otFormElement
        class="workFlowSettings__workflowName margin-auto margin-bottom-1 margin-top-4"
        [hasError]="!workflowName || workflowName.length > 150"
        [label]="'WorkflowName' | otTranslate"
        [required]="true">
            <input otInput
                ot-auto-id="DSARWorkflowNameChange"
                [disabled]="isEditMode"
                [ngModel]="workflowName"
                (ngModelChange)="editWorkflowName($event)"
            />
    </div>
    <div otSettingContainer *ngFor="let element of outboundSettings">
        <ot-setting
            *ngIf="showReqestCreateEventToggle"
            [title]="SettingsTranslations[element.name]?.name |  otTranslate"
            [description]="SettingsTranslations[element.name]?.description  | otTranslate"
            >
            <ot-toggle
                attr.ot-auto-id="DSARWorkFlowSettingsEvents"
                [checked]="element.value"
                [disabled]="isEditMode"
                (toggle)="toggleAndSaveWorkFlowSettingByName(element.name)"
            ></ot-toggle>
        </ot-setting>
    </div>
<div
    *ngIf="showOutBoundEvents && showReqestCreateEventToggle"
    otSettingContainer
        >
        <ot-setting
            [title]="'System'|  otTranslate"
            >
           <ot-picklist
                required
                class="min-width-25"
                ot-auto-id="DsarSystemIntegrationId"
                valueKey="id"
                labelKey="name"
                [placeholder]="'Select' | otTranslate"
                [autoClose]="true"
                [options]="systems"
                [model]="selectedSystem"
                [disabled]="isLoading || isEditMode"
                (onSelect)="setSystem($event)"
            ></ot-picklist>
        </ot-setting>
    </div>
<div
    *ngIf="showOutBoundEvents && showReqestCreateEventToggle"
    otSettingContainer>
        <ot-setting
            [title]="'SystemWorkFlow'|  otTranslate"
            >
          <ot-picklist
            required
            class="min-width-25"
            ot-auto-id="DsarSystemIntegrationFlowId"
            valueKey="id"
            labelKey="name"
            [placeholder]="'Select' | otTranslate"
            [autoClose]="true"
            [options]="workFlowListFilter"
            [model]="selectedSystemWorkflow"
            [disabled]="isLoading || isEditMode"
            (onSelect)="setSystemIntegrationFlow($event)"
        ></ot-picklist>
        </ot-setting>
    </div>
    <div
        *ngIf="isWorkFlowLevel && ('DSARMultiFactAuthentication' | otPermit)"
        otSettingContainer>
        <ng-container *ngFor="let meta of workflowSettingsMeta; trackBy: trackByFn; let index = index">
            <div class="margin-top-bottom-2">
                <settings-generator
                    [settingMeta]="meta"
                    [settings]="workflowSettingsMap"
                    [isDisabled]="isEditMode"
                    (handleSettingAction)="handleSettingsAction($event.type, $event.payload)"
                ></settings-generator>
            </div>
        </ng-container>
    </div>
</ng-template>
