<ng-template *ngIf="isPageReady; then ConsentDetails else Loading"></ng-template>
<ng-template #ConsentDetails>
    <div class="background-white height-100 flex flex-column">
        <cookie-page-header
            [pageTitle]="'ConsentPolicyDetails' | otTranslate"
            [primaryButton]="primaryButton"
            [breadcrumbItems]="breadcrumbItems"
        ></cookie-page-header>
        <div class="padding-top-2">
            <ot-tabs
                [tabs]="consentTabs"
                [selectedTab]="selectedTab"
            >
                <a
                    *otTabItem="let tab"
                    ot-auto-id="tab.otAutoId"
                    (click)="onTabClick(tab.id)"
                >
                    {{tab.text | otTranslate}}
                </a>
            </ot-tabs>
        </div>
        <!-- Add region section -->
        <div
            *ngIf="selectedTab === consentPolicyTabs.RegionRules"
            class="row-flex-end border-bottom padding-all-1 min-height-5-half"
        >
            <button
                otButton
                neutral
                ot-auto-id="CookieConsentPolicyAddRegionButton"
                [innerText]="'AddRegion' | otTranslate"
                [disabled]="regionSettings.length >= 2"
                (click)="onAddRegionRule()"
            ></button>
        </div>
        <!-- tab content section -->
        <ng-container *ngIf="selectedTab === consentPolicyTabs.RegionRules">
            <div
                class="overflow-y-auto stretch-vertical"
                [ngClass]="{'background-grey' : isRuleInEditMode, 'background-white' : !isRuleInEditMode}"
            >
                <ng-container *ngFor="let setting of regionSettings; trackBy: trackByRuleIndex; let ruleIndex = index">
                    <region-rule
                        [ruleSetting]="setting"
                        (onRuleEdit)="onRuleEdit($event)"
                        (deleteRuleCallback)="onRuleDelete(ruleIndex)"
                    ></region-rule>
                </ng-container>
            </div>
            <footer
                otPageFooter
                class="static-vertical min-height-5-half"
            >
                <button
                    otButton
                    ot-auto-id="CookieConsetPolicyDetailCancelButton"
                    [innerText]="'Cancel' | otTranslate"
                    [disabled]="saveInProgress"
                    (click)="onCancelConsentDetail()"
                ></button>
                <button
                    otButton
                    brand
                    ot-auto-id="CookieConsentPolicyDetailSaveButton"
                    [innerText]="'Save' | otTranslate"
                    [disabled]="saveInProgress"
                    [loading]="saveInProgress"
                    (click)="onSaveConsentDetail()"
                ></button>
            </footer>
        </ng-container>
        <ng-container *ngIf="selectedTab === consentPolicyTabs.AssignedDomains">
            <!-- Assigned domains table -->
        </ng-container>
    </div>
</ng-template>
<ng-template #Loading>
    <ot-loading class="flex-full-height height-100 justify-center"></ot-loading>
</ng-template>
