@import
"./detail-header/dsar-request-queue-detail-header",
"./detail-history/request-queue-history",
"./detail-messaging/request-queue-detail-messaging",
"./detail-panel/dsar-request-queue-detail-panel",
"./detail-sidebar/dsar-request-queue-detail-sidebar",
"./detail-status-bar/request-queue-status-bar",
"./grant-access/grant-request-access",
"./table/dsar-request-queue-table",
"./reject-modal/request-queue-reject-modal",
"./detail/dsar-request-queue-details",
"./request-queue-wrapper/_dsar-request-queue-wrapper",
"./change-workflow/request-queue-change-workflow.component.scss"
;

.dsar-request-queue {
    &--icon-buttons {
        height: 3.2rem !important;
    }
}
