<div class="flex-full-height position-relative">
    <ot-loading otPageLoading
        class="align-self-center absolute-center"
        *ngIf="!ready"
        >
        {{ loadingPrefix + ' ' + ('RequestQueue' | otTranslate) }}
    </ot-loading>
    <ot-drawer
        class="request-queue-sub-tasks__filter flex flex-column"
        [open]="isDrawerOpen"
        [currentFilters]="currentFilters"
        [closeButtonText]="'Close' | otTranslate"
        (closeClick)="toggleFiltersDrawer()"
        >
        <request-queue-filter
            class="flex-full-height"
            [filtersOpen]="isDrawerOpen"
            [currentFilters]="currentFilters"
            (applyFilters)="applyFilters()"
            (cancel)="toggleFiltersDrawer()"
        ></request-queue-filter>
    </ot-drawer>
    <section
        *ngIf="ready"
        class="flex-full-height overflow-auto"
        >
        <dsar-request-queue-table
            *ngIf="requestsList?.content.length"
            class="position-relative flex-full-height overflow-y-auto"
            [rows]="requestsListToFilter.content"
            [sortKey]="sortKey"
            [sortOrder]="sortOrder"
            [columnsMap]="columns"
            (handleTableActions)="handleTableAction($event)"
        ></dsar-request-queue-table>
        <one-empty-state
            class="flex-full-height justify-center"
            *ngIf="!requestsList?.content?.length && tableView !== RequestQueueTableView.Search"
            [emptyStateMessage]="'NoItemsToDisplay' | otTranslate"
        ></one-empty-state>
        <one-empty-state
            class="flex-full-height justify-center"
            *ngIf="!requestsList?.content?.length && tableView === RequestQueueTableView.Search"
            [emptyStateMessage]="'SearchMustBeExact' | otTranslate: searchCharLimit"
            [imagePath]="'images/search.svg'"
        ></one-empty-state>
    </section>
</div>
<footer
    otPaginationFooter
    *ngIf="requestsList?.totalPages > 1"
    >
    <ot-pagination
        [currentPage]="params.page"
        [numPages]="requestsList.totalPages"
        [handleOffset]="true"
        (pageChanged)="handleAction(requestQueueActions.CHANGE_PAGE, $event)"
    ></ot-pagination>
    <span *ngIf="ready">
        {{ requestsList | otPageMeta }}
    </span>
</footer>
