.cr-collection-point-details {
    &__label-body {
        max-width: 80%;
    }
}

.cr-sdk-integration {
    &__list {
        &--numbers {
            list-style-type: decimal;
        }

        &--letters {
            list-style-type: lower-latin;
        }
    }
}