<ot-loading otPageLoading *ngIf="loading"></ot-loading>
<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        *ngIf="collectionPoint && !loading"
        class="full-width cr-header"
        [title]="'CollectionPointDetails' | otTranslate"
        >
        <ot-breadcrumb (routeClicked)="onHeaderRouteClick($event)">
            <ot-breadcrumb-item
                link="zen.app.pia.module.consentreceipt.views.collections.list"
                [label]="'CollectionPoints' | otTranslate"
            ></ot-breadcrumb-item>
            <ot-breadcrumb-item
                [label]="collectionPoint.Name"
            ></ot-breadcrumb-item>
        </ot-breadcrumb>
        <span [otBadge]="collectionPoint.Status | consentStatusColor">
            {{ collectionPoint.Status | consentTranslateStatus: crConstants.CRCollectionPointStatus }}
        </span>
        <span [otBadge]>{{ collectionPoint.Version | consentVersionLabel }}</span>
        <div>
            <button otButton brand
                *ngIf="('ConsentPublishCollectionPoint' | otPermit) && collectionPoint.Status === crConstants.CRCollectionPointStatus.Draft"
                class="margin-left-right-half"
                ot-auto-id="PublishCollectionPointButton"
                [innerText]="'Publish' | otTranslate"
                [loading]="saving"
                [disabled]="saving || !collectionPointValid"
                (click)="publishCollectionPoint()"
            ></button>
            <button otButton brand
                *ngIf="canCreateNewVersion && collectionPoint.Status === crConstants.CRCollectionPointStatus.Active && collectionPoint.CollectionPointType !== crConstants.CRTypes.NotificationOptOut"
                ot-auto-id="CreateNewCollectionPointVersionButton"
                [disabled]="saving"
                [innerText]="'CreateNewVersion'| otTranslate"
                [loading]="saving"
                (click)="createNewVersion()"
            ></button>
            <button otButton neutral
                *ngIf="('ConsentCollectionPointActivate' | otPermit) && collectionPoint.CollectionPointType !== crConstants.CRTypes.NotificationOptOut"
                class="margin-left-right-half"
                ot-auto-id="SaveCollectionPointButton"
                [innerText]="'Save' | otTranslate"
                [loading]="saving"
                [disabled]="saving || !redirectUrlValid || !privacyPolicyValid"
                (click)="updateCollectionPoint()"
            ></button>
            <ot-context-menu
                *ngIf="ellipsisOptions.length"
                [menu]="ellipsisOptions"
                class="margin-left-1"
                position="bottom-right"
                >
                <i class ="ot ot-ellipsis-h"></i>
                <a
                    *otContextMenuItem="let option"
                    (click)="option.action()"
                    >
                    {{ option.text }}
                </a>
            </ot-context-menu>
        </div>
    </ot-page-header>

    <div otDrawerContainer
        *ngIf="collectionPoint && dataElements"
        class="full-width height-100 column-horizontal-center overflow-x-hidden background-white"
        >
        <cr-versions
            [item]="collectionPoint"
            [versionList]="collectionPointVersions"
            [isDrawerOpen]="isDrawerOpen"
            [canDeleteVersion]="false"
            (toggleDrawer)="toggleDrawer()"
            (goToVersion)="goToVersion($event)"
            (deleteVersion)="deleteDraftConfirmation($event)"
        ></cr-versions>
        <div class="height-100 full-width overflow-y-auto">
            <div class="background-grey">
                <cr-collection-point-header
                    class="full-width"
                    [collectionPoint]="collectionPoint"
                ></cr-collection-point-header>
                <ot-tabs
                    [tabs]="tabs"
                    [selectedTab]="tabName"
                    >
                    <span otTabsOverflowText>
                        {{ "More" | otTranslate }}
                        <i class="ot ot-caret-down"></i>
                    </span>
                    <a
                        *otTabItem="let tab"
                        (click)="tab.action(tab)"
                        >
                        {{ tab.text }}
                    </a>
                </ot-tabs>
                <cr-collection-point-badge
                    [collectionPointType]="collectionPointType"
                ></cr-collection-point-badge>
            </div>
            <cr-collection-point-form
                *ngIf="tabName === 'details' && canEdit && !cookieBannerConsent"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
                [elements]="dataElements"
                (onUpdate)="loadCollectionPoint()"
                (onFormChange)="handleCollectionPointChange($event)"
            ></cr-collection-point-form>
            <cr-collection-point-info
                *ngIf="tabName === 'details' && (!canEdit || cookieBannerConsent)"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
                [elements]="dataElements"
                (onResponsibleUserChange)="handleResponsibleUserChange($event)"
            ></cr-collection-point-info>
            <cr-collection-point-settings
                *ngIf="tabName === 'settings'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
                (onRedirectUrlChange)="handleRedirectUrlChange($event)"
                (onPreferenceCenterChange)="handlePreferenceCenterChange($event)"
                (onUpdate)="handleUpdate($event)"
            ></cr-collection-point-settings>
            <cr-collection-point-sdk
                *ngIf="tabName === 'sdk'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
            ></cr-collection-point-sdk>
            <cr-collection-point-preview
                *ngIf="tabName === 'preview'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
                [elements]="dataElements"
            ></cr-collection-point-preview>
            <cr-collection-point-report
                class="full-width"
                *ngIf="tabName === 'report'"
                [collectionPoint]="collectionPoint"
            ></cr-collection-point-report>
            <cr-collection-point-api
                *ngIf="tabName === 'api'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
            ></cr-collection-point-api>
            <cr-collection-point-import
                *ngIf="tabName === 'import'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
            ></cr-collection-point-import>
            <cr-collection-point-mobile-sdk
                *ngIf="tabName === 'integrations'"
                class="full-width height-100"
                [collectionPoint]="collectionPoint"
            ></cr-collection-point-mobile-sdk>
        </div>
    </div>
    <ot-empty-state
        *ngIf="!collectionPoint"
        [emptyStateMessage]="'NoResultsFound' | otTranslate"
        >
        <img emptyStateImage/>
    </ot-empty-state>
</div>
