<one-modal-base
    class="flex-full-height remove-cookie"
    [modalTitle]="'ConfirmRemoveCookies' | otTranslate"
    [identifier]="'RemoveCookieModalCloseButton'"
    (close)="closeModal()"
>
    <ng-container *ngIf="cookies.length; else notFound">
        <div class="padding-all-3">
            {{ "NumberOfOldCookiesToBeRemoved" | otTranslate: {TotalCount: cookies.length} }}
        </div>
        <div class="overflow-y-auto padding-left-right-2 remove-cookie__card-container">
            <ng-container *ngFor="let cookie of cookies; trackBy:columnTrackBy">
                <div class="border overflow-hidden margin-top-1 remove-cookie__card-container__card">
                    <div class="row-space-between border-bottom padding-all-1 background-eggshell cookiecompliance">
                        <span
                            class="remove-cookie__card-container__card__title"
                            [ngClass]="getClassName(cookie.purpose)"
                        >
                            {{cookie.name}}
                        </span>
                        <i
                            class="ot ot-close cursor-pointer"
                            (click)="onCancelCookie(cookie)"
                        ></i>
                    </div>
                    <div class="row-space-between padding-all-1">
                        <div class="flex">
                            <span class="text-bold padding-right-half">{{'Purpose' | otTranslate}}:</span>{{cookie.purpose || ("Unknown" | otTranslate)}}
                            <span class="text-bold padding-right-half padding-left-3">{{'Lifespan' | otTranslate}}:</span>{{getLifespanText(cookie.session, cookie.lifeSpan)}}
                        </div>
                        <div
                            class="text-small text-uppercase"
                            [innerHTML]="cookie.thirdParty ? ('ThirdParty' | otTranslate) : ('FirstParty' | otTranslate)"
                        ></div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #notFound>
        <div class="padding-all-3">{{ 'NothingToRemove' | otTranslate }}</div>
    </ng-template>
    <footer class="row-flex-end static-horizontal margin-top-1 padding-all-1">
        <button
            otButton
            neutral
            class="margin-right-1"
            [innerText]="cookies.length ? ('Cancel' | otTranslate) : ('Close' | otTranslate)"
            ot-auto-id="RemoveCookieCloseButton"
            (click)="closeModal()"
        ></button>
        <button
            *ngIf="cookies.length"
            otButton
            brand
            class="margin-right-1"
            [innerText]="'Remove' | otTranslate"
            ot-auto-id="RemoveCookieConfirmButton"
            (click)="removeCookies()"
        ></button>
    </footer>
</one-modal-base>
