.remove-cookie {
    &__card-container {
        &__card {
            border-radius: .5rem;
            &__title {
                &:not(.no-legend):before {
                    font-family: 'FontAwesome';
                    content: '\f111';
                    margin-right: 0.2rem;
                }
            }
        }
    }
}
