<one-modal-base
    class="flex-full-height"
    [modalTitle]="'NeedMoreInformation' | otTranslate"
    (close)="closeModal(false)"
    >
    <section class="padding-all-2">
        <p
            class="text-bold"
            [innerText]="'WhatInformationIsNeeded' | otTranslate"
            >
        </p>
        <textarea
            class="one-text-area resize-none full-width"
            rows="6"
            otTextarea
            [attr.placeholder]="'EnterYourAnswerHere' | otTranslate"
            ot-auto-id="SendBackModalTextArea"
            [(ngModel)]="comment"
            >
        </textarea>
        <footer
            class="row-flex-end margin-top-1"
            >
            <button otButton
                ot-auto-id="SendBackModalCancelBtn"
                [disabled]="sendBackInProgress"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal(false)"
                >
            </button>
            <button otButton brand
                ot-auto-id="SendBackModalSubmitBtn"
                [disabled]="sendBackInProgress"
                [loading]="sendBackInProgress"
                [innerText]="'SendBack' | otTranslate"
                (click)="sendBack()"
                >
            </button>
        </footer>
    </section>
</one-modal-base>
