<section class="incident-list flex-full-height height-100">

    <ot-page-header [title]="'ReadinessAssessments' | translate"></ot-page-header>

    <div class="background-grey border-bottom full-width padding-top-bottom-half padding-left-right-2">
        <div class="full-width row-flex-end">
            <div class="min-width-30">
                <ot-search-input
                    ot-auto-id="ReadinessAssessmentsListSearchInput"
                    [placeholder]="'Search' | translate"
                    [reset]="resetSearch$ | async"
                    [model]="readinessAssessmentSearchText"
                    [searchOnEnter]="true"
                    (search)="onSearchChange($event)"
                ></ot-search-input>
            </div>
        </div>
    </div>

    <section class="flex-full-height background-white">

        <ot-loading otPageLoading
            class="margin-all-auto"
            *ngIf="isLoading"
        ></ot-loading>

        <div *ngIf="!isLoading" class="overflow-auto flex-full-height position-relative">
            <global-readiness-assessments-table
                [rows]="table.rows"
                [columns]="table.columns"
                [allRowsSelected]="allRowsSelected"
                [sortData]="sortData"
                (handleTableSort)="onSortChange($event)"
                (emptyTableAction)="startNewReadinessAssessmentClicked()"
                (onDeleteAssessment)="onDeleteAssessment($event)"
                (handleTableReload)="getAssessments()"
            ></global-readiness-assessments-table>
        </div>

        <footer otPaginationFooter *ngIf="table?.rows?.length">
            <ot-pagination
                [currentPage]="table.metaData.number + 1"
                [numPages]="table.metaData.totalPages"
                (pageChanged)="onPaginationChange($event)"
            ></ot-pagination>
            <span *ngIf="!isLoading">
                {{ table.metaData | otPageMeta }}
            </span>
        </footer>
    </section>
</section>
