.users {
    &-header {
        padding: 3.5rem 0;
    }
    &-filter {
        &__btn {
            &:not([disabled]) {
                &:hover,
                &:active,
                &:focus {
                    background: none;
                    border: none;
                }
            }
        }
        &__popover {
            left: 0.9rem !important;
            z-index: 100;
        }
    }
}
