<section class="full-size column-nowrap overflow-hidden background-white">
    <ot-page-header [title]="translations.pageTitle">
        <button otButton brand
            *ngIf="'UsersAdd' | otPermit"
            ot-auto-id="AdminUsersAddUserId"
            [innerText]="translations.addUser"
            (click)="gotoAddUser()"
        ></button>
        <button otButton neutral
            *ngIf="'UsersExport' | otPermit"
            ot-auto-id="AdminUsersExportUserId"
            [innerText]="translations.exportButtonText"
            [loading]="exportInProgress"
            [disabled]="exportInProgress"
            (click)="exportUsers()"
        ></button>
    </ot-page-header>
    <div class="
            static-vertical
            row-flex-end
            background-grey
            padding-top-bottom-half
            padding-right-2
            border-bottom
        ">
        <ot-search-input
            class="margin-right-1"
            ot-auto-id="AdminUserSearchInput"
            [placeholder]="translations.searchUsers"
            [searchOnEnter]="true"
            (search)="searchUsers($event)"
        ></ot-search-input>
        <button otButton
            class="users-filter__btn"
            ot-auto-id="AdminUsersFilterActivate"
            [select]="filterApplied"
            [icon]="'ot ot-filter'"
            [otPopover]="filterUsersPopup"
            [modifierClass]="'users-filter__popover'"
            [position]="'bottom-right'"
            [size]="'medium'"
            [isOpen]="filterIsOpen"
            (toggled)="onToggle($event)"
            (click)="onToggle(!filterIsOpen)"
        ></button>
        <ng-template #filterUsersPopup>
            <div class="row-space-between margin-bottom-half">
                <div class="slds-dropdown__item text-left">
                    <button otButton
                        class="blue-anchor-style shadow-none padding-none"
                        *ngIf="filterApplied"
                        ot-auto-id="AdminUsersClearAllFilters"
                        [innerText]="translations.clearFilters"
                        (click)="clearAllFiters()"
                    ></button>
                </div>
                <div class="slds-dropdown__item text-right">
                    <button otButton neutral
                        class="static-horizontal padding-left-right-half border-none shadow-none text-large"
                        ot-auto-id="AdminUsersCloseFilters"
                        [icon]="'ot ot-times'"
                        (click)="onToggle(false)"
                    ></button>
                </div>
            </div>
             <ul class="slds-dropdown__list" role="form">
                <li class="slds-dropdown__item margin-bottom-1">
                    <div otFormElement>
                        <org-select
                            [identifier]="'AdminUsersOrgSelect'"
                            [describedBy]="'AdminUsersOrgSelect'"
                            [model]="selectedOrgGroup"
                            [placeholder]="translations.managedBy"
                            [required]="true"
                            (onSelect)="selectOrgGroup($event)"
                        ></org-select>
                    </div>
                </li>
                <li class="slds-dropdown__item margin-bottom-1">
                    <div otFormElement>
                        <ot-picklist
                            ot-auto-id="AdminUsersDefaultRoleSelect"
                            [placeholder]="translations.defaultRole"
                            [autoClose]="true"
                            [options]="rolesList"
                            [valueKey]="'Id'"
                            [labelKey]="'Name'"
                            [multiSelect]="true"
                            [model]="selectedRoles"
                            [disabled]="!selectedOrgGroup"
                            (onSelect)="selectRoles($event)">
                        </ot-picklist>
                    </div>
                </li>
                <li class="slds-dropdown__item margin-bottom-1">
                    <div otFormElement>
                        <ot-picklist
                            ot-auto-id="AdminUsersStatusSelect"
                            [placeholder]="translations.status"
                            [autoClose]="true"
                            [options]="userTypes"
                            [valueKey]="'value'"
                            [labelKey]="'label'"
                            [multiSelect]="true"
                            [model]="selectedUserTypes"
                            (onSelect)="selectUserType($event)">
                        </ot-picklist>
                    </div>
                </li>
                <li class="slds-dropdown__item margin-bottom-1">
                    <div otFormElement>
                        <ot-datepicker
                            ot-auto-id="AdminUsersExpirationDate"
                            [placeholder]="translations.expirationDateRange"
                            [format]="format"
                            [useRangePicker]="true"
                            [disabled]="isDateDisabledCheck"
                            [dateModel]="dateRangeModel"
                            (onChange)="dateValueChanged($event)"
                        ></ot-datepicker>
                    </div>
                </li>
                <li class="slds-dropdown__item text-right margin-bottom-1">
                    <button otButton brand
                        ot-auto-id="AdminUsersFilterApplyAction"
                        [innerText]="translations.apply"
                        [disabled]="filterApplyButttonEnable()"
                        (click)="multiFilterUsers()"
                    ></button>
                </li>
            </ul>
        </ng-template>
    </div>
    <div class="paragraph-medium shadow-header background-white">
        <ot-tabs
            [tabs]="tabOptions"
            [selectedTab]="currentTab"
            >
            <a
                *otTabItem="let tab"
                [attr.ot-auto-id]="'OneTabActionNavigation' + tab.text"
                (click)="changeTab(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
    </div>
    <div class="overflow-auto position-relative stretch-vertical">
        <table otDataTable
            *ngIf="isReady && usersData"
            [rowData]="usersData.content"
            [rowBordered]="true"
            [rowStriped]="false"
            [responsiveTable]="true"
            [truncateCellContent]="true"
            >
            <ng-container *ngFor="let col of columns; trackBy: columnTrackBy; let columnIndex = index">
                <ot-data-table-column>
                    <ng-template otDataTableHeader>
                        <div
                            class="padding-left-right-1"
                            title="{{col.labelKey | otTranslate}}"
                            [ngClass]="!columnIndex ? 'text-left' : 'text-center'"
                            >
                            <span
                                class="slds-truncate text-bold"
                                [innerText]="col.labelKey | otTranslate"
                            ></span>
                        </div>
                    </ng-template>
                    <ng-template otDataTableCell let-row="row" [tdClass]="'max-10'">
                        <ng-container *ngIf="col.type === cellTypes.link">
                            <a
                                *ngIf="row.canBeEdited"
                                class="slds-truncate block text-pointer text-link text-bold text-left"
                                title="{{row[col.rowTextKey]}}"
                                ot-auto-id="AdminUsersGotoEditUser"
                                [innerText]="row[col.rowTextKey]"
                                (click)="gotoEditUser(row.Id)"
                            ></a>
                            <p
                                *ngIf="!row.canBeEdited"
                                class="slds-truncate text-left"
                                title="{{row[col.rowTextKey]}}"
                                [innerText]="row[col.rowTextKey]">
                            </p>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'InternalExternal'">
                            <div class="slds-truncate text-center">
                                <span
                                    *ngIf="row.IsInternal"
                                    [innerText]="translations.internal">
                                </span>
                                <span
                                    *ngIf="!row.IsInternal"
                                    [innerText]="translations.external">
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'ManagedBy'">
                            <div
                                class="slds-truncate text-center"
                                title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]}}">
                                <span [innerText]="row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]">
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'ExpirationDate'">
                            <div class="slds-truncate text-center">
                                <span>
                                    <upgraded-one-date [dateToFormat]="row.ExpirationDT"></upgraded-one-date>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'DisabledDate'">
                            <div class="slds-truncate text-center">
                                <span>
                                    <upgraded-one-date [dateToFormat]="row.DisabledDT"></upgraded-one-date>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.type === cellTypes.date">
                            <div class="slds-truncate text-center">
                                <upgraded-one-date [dateToFormat]="row[col.rowTextKey]"></upgraded-one-date>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'Email'">
                            <div class="slds-truncate text-center"
                                title="{{row[col.rowTextKey]}}">
                                <span [innerText]="row[col.rowTextKey]"></span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'DefaultRole'">
                            <div
                                class="slds-truncate text-center"
                                title="{{row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]}}">
                               <span [innerText]= "row[col.rowTranslationKey] ? (row[col.rowTranslationKey] | otTranslate) : row[col.rowTextKey]"></span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="col.labelKey === 'DisabledBy'">
                            <div class="text-center" title="{{row[col.rowTextKey]}}">
                                <span [innerText]="row[col.rowTextKey] || ''"></span>
                            </div>
                        </ng-container>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
            <ot-data-table-column>
                <ng-template otDataTableCell
                    [tdClass]="'float-col actions-table__context-spacer'"
                    let-row="row">
                    <ng-container>
                        <upgraded-one-dropdown
                            class="inventory-table-new__context-button"
                            identifier="UsersTableContextMenu"
                            [icon]="'ot ot-ellipsis-h'"
                            [hideCaret]="true"
                            [alignRight]="true"
                            [getOptions]="getActions(row)"
                            [buttonClass]="'actions-table__context-btn'"
                            [listClass]="menuClass"
                            (click)="setMenuClass($event)"
                        ></upgraded-one-dropdown>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
        </table>
        <ot-empty-state
            *ngIf="noRecordFound && isReady"
            class="margin-top-3 align-center"
            [emptyStateMessage]="'NoRecordsFound' | otTranslate"
            >
            <img emptyStateImg />
        </ot-empty-state>
    </div>
    <ot-loading otPageLoading *ngIf="!isReady"></ot-loading>
    <footer otPaginationFooter *ngIf="usersData?.content?.length">
        <ot-pagination
            [currentPage]="currentPage"
            [numPages]="usersData?.totalPages"
            [handleOffset]="true"
            (pageChanged)="pageChange($event)">
        </ot-pagination>
        <span>
            {{usersData | otPageMeta}}
        </span>
    </footer>
</section>
