.one-textarea {
    border: 1px solid $grey-3;
    border-radius: 2px;
    color: $slate;
    padding: 1rem;
    resize: vertical;
    min-height: 7.5rem;

    &::-webkit-input-placeholder {
        color: $platinum;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $platinum;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        color: $platinum;
    }
    &:-ms-input-placeholder {
        color: $platinum;
    }

    &.read-only { // this has to be a separate, duplicate block because IE11 thinks :read-only is invalid and ignores this.
        opacity: 1;
        background-color: $grey-2;
    }

    &:read-only,
    &[readonly] {
        opacity: 1;
        background-color: $grey-2;
    }
}
