.one-nav-header {
    &__breadcrumb-header-bar {
        color: $slate;
        height: 7.1rem;
        white-space: nowrap;
    }

    &__breadcrumb-header-icon {
        margin: 0.3rem;
    }

    &__actions {
        font-size: 1.4rem;
        white-space: nowrap;
    }
}
