.one-pagination {
    display: flex;
    align-items: center;

    &__list {
        margin: 0 2rem 0 0;

        &.pagination-sm>li:first-child>a,
        &.pagination-sm>li:first-child>span {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &.pagination-sm>li:last-child>a,
        &.pagination-sm>li:last-child>span {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        &.pagination>li>a,
        &.pagination>li>span {
            color: $ui-blue;
            background-color: $white;
            border: 1px solid $grey-3;
        }

        &.pagination>.active>a,
        &.pagination>.active>span,
        &.pagination>.active>a:hover,
        &.pagination>.active>span:hover,
        &.pagination>.active>a:focus,
        &.pagination>.active>span:focus {
            z-index: 2;
            color: $white;
            cursor: default;
            background-color: $ui-blue;
            border-color: $ui-blue;
        }

        &.pagination>.disabled>span,
        &.pagination>.disabled>span:hover,
        &.pagination>.disabled>span:focus,
        &.pagination>.disabled>a,
        &.pagination>.disabled>a:hover,
        &.pagination>.disabled>a:focus {
            color: $grey-4;
            cursor: default;
            background-color: $paper-gray;
            border-color: $grey-3;
        }
    }

    &__count {
        color: $slate;
        margin: 0;
        padding: 0 0.5rem;
    }
}
