.dm-cross-border-card {

    &__filter-header {
        height: 4.5rem;
        min-height: 4.5rem;
    }

    &__filter-header-select {
        width: 25rem;
    }

    &__popup {
        z-index: 999;
        right: 50%;

        &--full {
            bottom: 17rem;
        }

        &--partial {
            bottom: 15rem;
        }

        &--v1 {
            bottom: 21rem;
        }
    }

    &__popup-arrow {
        width: 0;
        height: 0;
        bottom: -1rem;
        left: 50%;
        margin-left: -1rem;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid $white;
        transform: rotateX(-180deg);
    }

    &__drawer {
        width: 30rem;

        .ot-drawer-old-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
        }
    }

    .datamaps-arc {
        cursor: pointer;
    }
}
