<div class="dm-cross-border-card flex-full-height stretch-vertical position-relative">
    <ot-loading
        otPageLoading
        class="position-relative background-white"
        *ngIf="!ready"
        >
    </ot-loading>
    <ng-container *ngIf="ready">
        <div class="dm-cross-border-card__filter-header row-vertical-center row-flex-end padding-all-1 background-grey">
            <div class="dm-cross-border-card__filter-header-title row-vertical-center margin-right-1 text-bold text-small">{{'FilterByPA' | otTranslate}}</div>
            <ot-lookup
                class="dm-cross-border-card__filter-header-select"
                [placeholder]="'All' | otTranslate"
                [autoClose]="true"
                [options]="showDefaultList ? activityList : activityListLookup"
                [disabled]="!activityList?.length"
                [setScrollHeight]="'20'"
                [virtualScroll]="true"
                [dynamicHeight]="true"
                [valueKey]="'id'"
                [labelKey]="'name'"
                [model]="selectedPA"
                [autoClose]="true"
                (inputChange)="onInputChange($event)"
                (modelChange)="applyFilters($event)"
            ></ot-lookup>
        </div>
        <div class="flex-full-height width-100-percent position-relative">
            <dm-cross-border-map
                class="flex-full-height width-100-percent background-white dm-cross-border-card__map"
                [mapId]="'dm-cross-border-map'"
                [mapData]="mapData"
            ></dm-cross-border-map>
            <ot-drawer
                class="dm-cross-border-card__drawer border-left position-absolute background-grey top-0 flex-full-height"
                [open]="drawerOpen"
                >
                <div class="dm-cross-border-card__drawer-header row-vertical-center margin-all-2 static-vertical">
                    <i
                        class="side-drawer__icon ot ot-arrow-circle-o-right"
                        ot-auto-id="DMCrossBorderCloseSidebarBtn"
                        role="button"
                        (click)="toggleDrawer(false)"
                        >
                    </i>
                    <span class="side-drawer__close-text margin-left-1">{{'Close' | otTranslate}}</span>
                </div>
                <div class="dm-cross-border-card__drawer-content overflow-y-scroll overflow-x-hidden" *ngIf="!selectedPA; else singlePAView">
                    <div class="text-large text-center border-bottom padding-bottom-2">
                        {{currentStateData?.origin?.country | otTranslate}} - {{currentStateData?.destination?.country | otTranslate}}
                    </div>
                    <div *ngFor="let activity of currentStateData.processingActivities; trackBy: trackByActivity" class="border-bottom background-white padding-top-bottom-2 padding-left-right-1">
                        <div class="text-bold text-medium text-center border-bottom padding-bottom-1">
                            <span
                                class="blue-anchor-style"
                                *ngIf="hasPADetailsPermission && activity.isEditable; else paText"
                                (click)="goToProcessingActivity(activity.id)"
                                >
                                {{activity.name}} - {{activity.organization}}
                            </span>
                            <ng-template #paText>
                                {{activity.name}} - {{activity.organization}}
                            </ng-template>
                        </div>
                        <div class="row-horizontal-vertical-center padding-top-1 slds-grid slds-gutters">
                            <div class="text-center column-horizontal-vertical-center slds-col slds-size_1-of-2">
                                <span class="text-large block width-100-percent">{{currentStateData?.origin?.country | otTranslate}}</span>
                                <span class="text-bold text-large margin-top-bottom-half">{{activity.originAssetsCount}}</span>
                                <span>{{'Assets' | otTranslate}}</span>
                            </div>
                            <div class="text-center column-horizontal-vertical-center slds-col slds-size_1-of-2">
                                <span class="text-large block width-100-percent">{{currentStateData?.destination?.country | otTranslate}}</span>
                                <span class="text-bold text-large margin-top-bottom-half">{{activity.destinationAssetsCount}}</span>
                                <span>{{'Assets' | otTranslate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #singlePAView>
                    <div class="flex-full-height">
                        <div class="text-large text-center padding-bottom-2">
                            {{'PotentialTransfers' | otTranslate}}
                        </div>
                        <div class="text-center border-bottom text-bold padding-bottom-1">
                            {{currentStateData?.origin?.country | otTranslate}} - {{currentStateData?.destination?.country | otTranslate}}
                        </div>
                        <div *ngFor="let activity of currentStateData.processingActivities; trackBy: trackByActivity" class="background-white flex-full-height">
                            <div class="overflow-y-scroll">
                                <div class="text-bold text-medium text-center border-bottom padding-top-bottom-1">
                                    <span
                                        class="blue-anchor-style"
                                        *ngIf="hasPADetailsPermission && activity.isEditable; else paText"
                                        (click)="goToProcessingActivity(activity.id)"
                                        >
                                        {{activity.name}} - {{activity.organization}}
                                    </span>
                                    <ng-template #paText>
                                        {{activity.name}} - {{activity.organization}}
                                    </ng-template>
                                </div>
                                <div *ngIf="activity.potentialTransfers" class="flex-full-height">
                                    <div *ngFor="let potentialTransfer of activity.potentialTransfers; trackBy: trackByIndex" class="border-bottom">
                                        <div class="padding-left-right-2 padding-top-bottom-1">
                                            <span class="text-small text-bold block text-center">{{potentialTransfer[0]?.name}}</span>
                                            <span class="text-xsmall block text-center">{{(currentStateData?.origin?.country | otTranslate)}} | {{potentialTransfer[0].organization}}</span>
                                            <span class="text-xsmall block text-center">{{potentialTransfer[0]?.inventoryAssociationTypeKey | otTranslate}}</span>
                                        </div>
                                        <div class="text-center"><i class="block fa fa-arrows-v"></i></div>
                                        <div class="padding-left-right-2 padding-top-bottom-1">
                                            <span class="text-small text-bold block text-center">{{potentialTransfer[1]?.name}}</span>
                                            <span class="text-xsmall block text-center">{{(currentStateData?.destination?.country | otTranslate)}} | {{potentialTransfer[1].organization}}</span>
                                            <span class="text-xsmall block text-center">{{potentialTransfer[1]?.inventoryAssociationTypeKey | otTranslate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ot-drawer>
        </div>
        <dm-one-map-controls [options]="controlOptions"></dm-one-map-controls>
    </ng-container>
</div>
