<ot-modal-header (close)="closeModal()">
    <div>{{ 'PreferenceCenterLanguagesTitle' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height">
    <div *ngIf="bodyTextKey">
        {{ bodyTextKey | otTranslate }}
    </div>
    <div class="ot-setting-container">
        <ot-setting [title]="'ShowAdvancedLanguageOptions' | otTranslate">
            <ot-toggle
                ot-auto-id="ShowAdvancedLanguageOptionsToggle"
                [checked]="showAdvancedLanguages"
                (toggle)="toggleShowAdvancedLanguages()"
            ></ot-toggle>
        </ot-setting>
    </div>
    <div class="padding-top-4 padding-bottom-2">
        <div otFormElement class="align-right">
            <ot-search-input
                ot-auto-id="LanguageSelectorSearchInput"
                [placeholder]="'Search' | otTranslate"
                (search)="handleSearch($event)">
                >
            </ot-search-input>
        </div>
    </div>
    <section class="row-nowrap flex-full-height">
        <table otDataTable
            *ngIf="!isLoading; else LoadingSpinner"
            class="flex-full-height overflow-y-auto"
            [rowData]="filteredLanguageTableData"
            [rowBordered]="true"
            [rowNoHover]="true"
            [truncateCellContent]="true"
            >
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="!col.columnType">
                    <ot-data-table-column
                        class="justify-center text-bold"
                        thClass="min-width-40"
                        tdClass="text-bold margin-0 min-width-40"
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [wrapCellContent]="true"
                        >
                        <ng-template otDataTableCell
                            let-row="row"
                            let-column="column"
                            >
                            <div class="flex padding-top-1">
                                <div>{{row[column.cellValueKey]}}</div>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'checkbox'">
                    <ot-data-table-column
                        thClass="text-center min-width-5"
                        tdClass="text-center margin-0 min-width-5 media-middle"
                        [headerLabel]="col.columnName"
                        [column]="col"
                        >
                        <ng-template otDataTableHeader>
                            <div class="slds-th__action slds-th__action_form">
                                <ot-checkbox
                                    tabindex="-1"
                                    [checked]="allLanguagesEnabled"
                                    ot-auto-id="LanguageSelectionHeaderCheckbox"
                                    (toggle)="handleSelectAll()"
                                ></ot-checkbox>
                            </div>
                        </ng-template>
                        <ng-template otDataTableCell let-row="row">
                            <div class="padding-top-1">
                                <ot-checkbox
                                    tabindex="-1"
                                    [checked]="row.enabled || (singleLanguageEnabled && row.Code === defaultLanguage)"
                                    [disabled]="row.Code === defaultLanguage"
                                    [attr.ot-auto-id]="'LanguageSelectionLanguageCheckbox-'+row.Code"
                                    (toggle)="handleSelectLanguage(row.Code)"
                                ></ot-checkbox>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'radio'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [column]="col"
                        [thClass]="'text-center flex'"
                        [tdClass]="'text-center flex margin-0'"
                        >
                        <ng-template otDataTableCell
                            let-row="row"
                            let-column="column"
                            class="slds-align_absolute-center">
                            <div class="padding-top-1 padding-left-2">
                                <ot-radio
                                    [id]="'defaultLanguageRadio-'+row.Code"
                                    [name]="'defaultLanguageRadio'"
                                    [model]="defaultLanguage"
                                    [value]="row.Code"
                                    [disabled]="!row.enabled"
                                    [attr.ot-auto-id]="'LanguageSelectionDefaultLanguageRadio-'+row.Code"
                                    (select)="handleSelectDefaultLanguage(row.Code)"
                                ></ot-radio>
                            </div>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>
    </section>
</ot-modal-content>

<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="LanguageSelectionCancelButton"
        [loading]="saveLoading"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button otButton brand
        ot-auto-id="LanguageSelectionSaveButton"
        [loading]="saveLoading"
        (click)="onSave()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>
