.language-selection-modal {
    overflow-y: auto;

    &__body {
        min-height: 65rem;
        max-height: 65rem;
        overflow: hidden;
    }

    & table {
        position: relative;
        overflow-y: hidden;
        max-height: 36rem;
        display: block;
    }

    & thead {
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid $grey-3;
    }

    & tbody {
        width: 100%;
        max-height: 90%;
        overflow-y: scroll;
        display: block;
        overflow-x: hidden;
        position: relative;
        padding-bottom: 0.5rem;
    }

    & tr {
        display: flex;
        width: 100%;

        &:first-child td {
            border-top: none;
        }
    }

    & .slds-button {
        width: 10rem;

        &.slds-button_neutral {
            border: none;
        }
    }
}
