<ot-page-header
    class="margin-bottom-1"
    [title]="'EmailSettings' | translate"
    type="clear"
    >
</ot-page-header>
<section
    class="full-size
        padding-left-right-3
        padding-top-bottom-2
        column-nowrap
        overflow-y-auto"
        >
    <ot-loading otPageLoading
        *ngIf="loading"
        >
        {{ 'Loading' | translate }}...
    </ot-loading>
    <div otSettingContainer class="width-50-percent padding-bottom-3">
        <ot-setting
            *ngIf="!loading"
            [title]="'SMTPTitle' | translate"
            [description]="'SMTPSubTitle' | translate"
            >
            <ot-toggle
                ot-auto-id="EmailSettingsEnableCustomSMTPRelayToggle"
                [checked]="smtpEnabled"
                [disabled]="toggleSmtpInProgress"
                (toggle)="toggleSmtpConnection()"
                >
            </ot-toggle>
        </ot-setting>
        <div *ngIf="smtpEnabled">
            <form
                novalidate
                *ngIf="!loading"
                class="margin-all-0 settings-smtp-content"
                [formGroup]="emailSettingsManageForm">
                <div otFormElement
                    [label]="'Server' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpHostname')"
                    >
                    <input otInput
                        formControlName="smtpHostname"
                        ot-auto-id="EmailSettingsServerInput"
                        [placeholder]="'InternalServerLocal' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpHostname')"
                    />
                </div>
                <div otFormElement
                    [label]="'Port' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpPort')"
                    >
                    <input otInput
                        formControlName="smtpPort"
                        ot-auto-id="EmailSettingsPortInput"
                        [placeholder]="'EnterPortNumber' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpPort')"
                    />
                </div>
                <div class="settings-smtp-content__checkbox">
                    <span class="text-bold margin-right-1">
                        {{ 'EnableSecurityLayers' | translate }}
                    </span>
                    <ot-checkbox
                        ot-auto-id="EmailSettingsEnableSecLayerCheckBox"
                        [checked]="tempSmtpSetting.smtpSslTls"
                        [disabled]="false"
                        (toggle)="enableSslTls()"
                    ></ot-checkbox>
                </div>
                <div otFormElement
                    [label]="'Username' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpUsername')"
                    >
                    <input otInput
                        formControlName="smtpUsername"
                        ot-auto-id="EmailSettingsUserNameInput"
                        [placeholder]="'EnterUsername' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpUsername')"
                    />
                </div>
                <div otFormElement
                    [label]="'Password' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpPassword')"
                    >
                    <input otInput
                        formControlName="smtpPassword"
                        type="password"
                        ot-auto-id="EmailSettingsPasswordInput"
                        [placeholder]="'EnterPassword' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpPassword')"
                    />
                </div>
                <div otFormElement
                    [label]="'SenderName' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpSenderName')"
                    >
                    <input otInput
                        formControlName="smtpSenderName"
                        ot-auto-id="EmailSettingsSenderNameInput"
                        [placeholder]="'EnterName' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpSenderName')"
                    />
                </div>
                <div otFormElement
                    [label]="'SenderEmail' | translate"
                    [required]="true"
                    [errorMessage]="errorMessage"
                    [hasError]="getError('smtpSenderEmail')"
                    >
                    <input otInput
                        formControlName="smtpSenderEmail"
                        ot-auto-id="EmailSettingsSenderEmailAddrInput"
                        [placeholder]="'EmailAtCompanyDotCom' | translate"
                        (ngModelChange)="handleInputChange($event, 'smtpSenderEmail')"
                    />
                </div>
            </form>
        </div>
    </div>
</section>
<ng-template #popoverTooltip>
<span>{{'TestSMTPConnectionTooltip' | translate}}</span>
</ng-template>
<footer otPageFooter [justify]="'space-between'">
    <div [style.visibility]="isConnected === false ? 'visible' : 'hidden'">
        <i class="ot ot-close color-cherry"></i>
        <span>{{'Failed' | translate}}</span>
    </div>
    <div>
        <button otButton neutral
            ot-auto-id="TasksSettingsSaveTaskSettingsBtn"
            class="margin-top-bottom-2"
            [otTooltip]="{ content: 'TestSMTPConnectionTooltip' | translate, delay: 300 }"
            [disabled]="installInProgress || !emailSettingsManageForm?.valid"
            [loading]="installInProgress"
            (click)="validateSmtpConnection()"
            >
            {{ 'TestConnection' | translate }}
        </button>
        <button otButton brand
            ot-auto-id="TasksSettingsSaveTaskSettingsBtn"
            class="margin-top-bottom-2"
            [disabled]="installInProgress || !emailSettingsManageForm?.valid"
            [loading]="installInProgress"
            (click)="installSmtpConnection()"
            >
            {{ 'Save' | translate }}
        </button>
    </div>
</footer>
