<div class="overflow-x-auto">
    <table *ngIf="table?.rows"
        otDataTable
        class="border-top-none"
        [colBordered]="colBordered"
        [resizableCol]="resizableCol"
        [responsiveTable]="responsiveTable"
        [rowBordered]="rowBordered"
        [rowData]="table.rows"
        [rowNoHover]="rowNoHover"
        [rowStriped]="rowStriped"
        [sortKey]="paginationParams?.sort?.sortKey"
        [sortOrder]="paginationParams?.sort?.sortOrder"
        [sortable]="sortable"
        [truncateCellContent]="truncateCellContent"
        [wrapCellContent]="wrapCellContent"
        [rowNgClass]="{ 'vitreus-data-table-row--is-disabled': isRowDisabled }"
        (sortChanged)="handleSortChange($event)"
        >
        <ng-container *ngFor="let col of table.columns; trackBy: columnTrackBy; let columnIndex = index">
            <ot-data-table-column
                [headerLabel]="col.name"
                [sortable]="col.sortable"
                [sortKey]="col.sortKey"
                [column]="col"
                [classes]="{ thAnchor: 'row-horizontal-center'}"
                >
                <ng-template *ngIf="col.type !== tableColumnTypes.Checkbox && !col.sortable;"
                    otDataTableHeader
                >
                    <div class="slds-th__action max-width-30"
                        [ngClass]="[
                            columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left',
                            tableColumnTypes.Stage ? 'padding-right-2' : ''
                        ]"
                    >
                        <span class="line-height-2 slds-truncate text-bold">{{col.name}}</span>
                    </div>
                </ng-template>
                <ng-template *ngIf="col.type === tableColumnTypes.Checkbox" otDataTableHeader>
                    <div class="slds-th__action max-width-10"
                        [ngClass]="columnIndex !== 0 ? 'justify-center margin-left-right-auto' : 'text-left'"
                        >
                        <ot-checkbox
                            attr.id="checkbox-header"
                            [checked]="allRowSelected"
                            [disabled]="hasEditableRows()"
                            (toggle)="handleTableSelectClick('header')"
                            >
                        </ot-checkbox>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" tdClass="max-width-20">
                    <ng-container [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="col.type === tableColumnTypes.Checkbox ? col.type: ''">
                            <div
                                class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <ot-checkbox
                                    [attr.id]="'checkbox-row-' + row.id"
                                    [checked]="!!selectedRowMap[row.id]"
                                    [disabled]="row.viewOnly"
                                    (toggle)="handleTableSelectClick('row', row.id)"
                                    >
                                </ot-checkbox>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="!row.viewOnly && col.type === tableColumnTypes.Link ? col.type: ''">
                            <div
                                class="slds-truncate text-bold"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <a
                                    ot-auto-id="VendorListCellLink"
                                    position="top-left"
                                    modifierClass="min-width-5 text-center"
                                    [otTooltip]="row[col.cellValueKey]"
                                    (click)="goToRecord(row)"
                                    >
                                    {{ row[col.cellValueKey] || emptyData }}
                                </a>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Date">
                            <div class="slds-truncate" [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'">
                                <span>{{ row[col.cellValueKey] | otDate }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="(row.viewOnly && col.type === tableColumnTypes.Link) || col.type === tableColumnTypes.Text ? col.type: ''">
                            <div
                                class="slds-truncate"
                                position="top"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                [otTooltip]="row[col.cellValueKey]"
                                >
                                {{ row[col.cellValueKey] || emptyData}}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="tableColumnTypes.Stage">
                            <div
                                class="slds-truncate padding-right-2"
                                [ngClass]="columnIndex !== 0 ? 'text-center' : 'text-left'"
                                >
                                <span
                                    *ngIf="row[col.cellValueKey]; else emptyStage"
                                    [otBadge]="row[col.cellValueKey] | badgeColor: vPControlsStatusColorMap"
                                    >{{row[col.cellValueKey] | otTranslate}}
                                </span>
                                <ng-template #emptyStage>
                                    {{emptyData}}
                                </ng-template>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </ot-data-table-column>
            <ng-container *ngIf="col.type === 'action'">
                <ot-data-table-column
                    [headerLabel]="col.name"
                    [sortable]="sortable"
                    [sortKey]="col.sortKey"
                    [cellValueKey]="col.cellValueKey"
                    [column]="col"
                    >
                    <ng-template
                        otDataTableHeader
                        thClass="float-col"
                        [thStyle]="{'width': 0}"
                    ></ng-template>
                    <ng-template otDataTableCell let-row="row"
                        tdClass="float-col background-transparent"
                        [tdStyle]="{'background': 'transparent', 'padding': '.3rem 3rem'}"
                    >
                        <div class="flex height-100 align-center justify-center">
                            <ot-context-menu
                                *ngIf="!row.viewOnly"
                                class="height-100 flex-full-height column-vertical-center"
                                position="bottom-right"
                                [type]="menuType"
                                [menu]="menuOptions"
                                >
                                <i class="ot ot-ellipsis-h"></i>
                                <a
                                    *otContextMenuItem="let option"
                                    class="text-left"
                                    (click)="option.action(row)">
                                    {{ option.text || emptyData}}
                                </a>
                            </ot-context-menu>
                        </div>
                    </ng-template>
                </ot-data-table-column>
            </ng-container>
        </ng-container>
    </table>
</div>
