<one-modal-base
    class="flex-full-height"
    [modalTitle]="modalTitle | otTranslate"
    (close)="closeModal()"
    >
    <section class="column-selector-modal padding-all-2 column-vertical-center">
        <ot-dueling-picklist
            #duelingPicklist
            class="slds-col margin-top-2"
            [optionsLeft]="leftList"
            [optionsRight]="rightList"
            [labelLeft]="labelLeft | otTranslate"
            [labelRight]="labelRight | otTranslate"
            [labelKey]="labelKey"
            >
        </ot-dueling-picklist>
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            [attr.ot-auto-id]="'ColumnSelectorCloseButton'"
            [disabled]="isSaving"
            (click)="closeModal()"
            >
            {{cancelText | otTranslate}}
        </button>
        <button
            otButton
            brand
            [attr.ot-auto-id]="'ColumnSelectorSaveButton'"
            [loading]="isSaving"
            [disabled]="isSaving"
            (click)="saveAndClose()"
            >
            {{saveText | otTranslate}}
        </button>
    </footer>
</one-modal-base>
