<table otDataTable
    [rowData]="rows"
    [rowBordered]="rowBordered"
    [resizableCol]="resizable"
    [responsiveTable]="responsive"
    [truncateCellContent]="true"
>
    <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.columnType === 'link'">
            <ot-data-table-column
                [headerLabel]="col.columnName"
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                [tdClass]="'max-25'"
                [tdStyle]="{'padding-left': '3rem'}"
                [thStyle]="{'padding-left': '2rem'}"
            >
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-bold">
                        <a
                            ot-auto-id="DSARWorkflowNameClick"
                            (click)="handleNameClick(row)"
                            >
                            {{row[column.cellValueKey]}}
                        </a>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'status'">
            <ot-data-table-column
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-25 justify-center margin-left-right-auto"
                        title="{{col.columnName}}">
                        <span class="slds-truncate text-bold">
                            {{col.columnName}}
                        </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row">
                    <div class="slds-truncate text-center">
                        <span
                            [otBadge]="row.status === workflowsStatus.Active ? 'success' : ''"
                            >
                            {{ row.status === workflowsStatus.Active ? ('Activated' | otTranslate) : ('Draft' | otTranslate) }}
                        </span>
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="col.columnType === 'date'">
            <ot-data-table-column
                [cellValueKey]="col.cellValueKey"
                [column]="col"
                >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-25 justify-center margin-left-right-auto"
                        title="{{col.columnName}}">
                        <span class="slds-truncate text-bold">
                            {{col.columnName}}
                        </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell class="slds-truncate" let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{ row[column.cellValueKey] | otDate:'datetime' }}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

        <ng-container *ngIf="!col.columnType">
            <ot-data-table-column
                [cellValueKey]="col.cellValueKey"
                [column]="col"
            >
                <ng-template otDataTableHeader>
                    <div
                        class="slds-th__action max-25 justify-center margin-left-right-auto"
                        title="{{col.columnName}}">
                        <span class="slds-truncate text-bold">
                            {{col.columnName}}
                        </span>
                    </div>
                </ng-template>
                <ng-template otDataTableCell let-row="row" let-column="column">
                    <div class="slds-truncate text-center">
                        {{users[row[column.cellValueKey]]  ? users[row[column.cellValueKey]].FullName : ""}}
                    </div>
                </ng-template>
            </ot-data-table-column>
        </ng-container>

    </ng-container>
</table>
