.dsar-workflow-table {
    &--grey {
        color: $slate !important;
        background-color: $white;
        border-color: $platinum !important;
    }
    &--green {
        background-color: $green;
        color: $white;
        border-color: $frost;
    }
}
