<div class="centered-max-100 margin-top-bottom-5 padding-left-right-3">
    <div
        class="centered-max-50"
        *ngIf="system?.form?.showInbound"
    >
        <ot-loading
            *ngIf="!isApiKeysInfo"
            class="row-horizontal-vertical-center full-width"
        ></ot-loading>
        <div
            class="margin-bottom-4"
            *ngIf="apiKeysInfo"
        >
            <intg-api-key-table
                [key]="apiKeysInfo"
                [connection]="connection"
                (callback)="handleApiKey($event)"
            ></intg-api-key-table>
        </div>
    </div>
    <hr *ngIf="apiKeysInfo">
    <div
        class="centered-max-50"
        *ngIf="system?.form?.showInbound"
    >
        <div class="row-nowrap">
            <ot-checkbox
                ot-auto-id="ConnectionDetailsInboundCheck"
                [checked]="inbound"
                (toggle)="toggleConnectionInbound()"
            >
            </ot-checkbox>
            <span class="margin-left-1">{{"ConnectionInstalledOnPremise" | otTranslate}}</span>
        </div>
        <div
            class="one-button-group margin-top-bottom-1 row-horizontal-center"
            *ngIf="inbound"
        >
            <button
                otButton
                neutral
                ot-auto-id="ConnectionDetailsIsIPBtn"
                [select]="isIpAddress"
                [innerText]="'IPAddress' | otTranslate"
                (click)="toggleIpAddressType(true)"
            ></button>
            <button
                otButton
                neutral
                ot-auto-id="ConnectionDetailsIsCIDRBtn"
                [select]="!isIpAddress"
                [innerText]="'CIDR' | otTranslate"
                (click)="toggleIpAddressType(false)"
            ></button>
        </div>
        <div *ngIf="inbound" class="padding-top-2">
            <form
                *ngIf="isIpAddress"
                class="margin-all-0 full-width"
                name="ipForm"
                #ipForm="ngForm"
            >
                <div
                    otFormElement
                    [hasError]="ipAddressControl.invalid && ipAddressControl.touched"
                    [errorMessage]="'ErrorEnterIPAddress' | otTranslate"
                >
                    <input
                        otInput
                        ot-auto-id="ipAdressId"
                        name="ipAddress"
                        [required]="true"
                        [placeholder]="'EnterIPAddress' | otTranslate"
                        [pattern]="regex.IP_MULTI"
                        [ngModel]="address"
                        (ngModelChange)="getIpAddress($event)"
                        #ipAddressControl="ngModel"
                    />
                </div>
            </form>
            <form
                *ngIf="!isIpAddress"
                class="margin-all-0 full-width"
                name="cidrForm"
                #cidrForm="ngForm"
            >
                <div
                    otFormElement
                    [hasError]="cidrAddressControl.invalid && cidrAddressControl.touched"
                    [errorMessage]="'ErrorEnterCidrAddress' | otTranslate"
                >
                    <input
                        otInput
                        ot-auto-id="cidrAdressId"
                        name="cidrAddress"
                        [required]="true"
                        [placeholder]="'EnterCIDRAddress' | otTranslate"
                        [ngModel]="cidrAddress"
                        [pattern]="regex.CIDR_MULTI"
                        (ngModelChange)="getIpAddress($event)"
                        #cidrAddressControl="ngModel"
                    />
                </div>
            </form>
        </div>
    </div>
    <hr *ngIf="system?.form?.showInbound">
    <div
        class="centered-max-50"
        *ngIf="system?.form?.showTemplatesList"
    >
        <ng-container *ngIf="system.form.templatesList">
            <p
                *ngFor="let key of system.form.templatesList; let first = first; let last = last; trackBy: trackByIndex"
                [ngClass]="{'text-bold': first, 'padding-bottom-2': last}"
                [innerHtml]="key | otTranslate"
            ></p>
        </ng-container>
        <ot-loading *ngIf="isTemplatesLoading">
            {{"Templates" | otTranslate}}
        </ot-loading>
        <ot-picklist
            *ngIf="!isTemplatesLoading"
            ot-auto-id="templateId"
            [placeholder]="'PleaseSelectTemplate'| otTranslate"
            [options]="templates"
            [model]="selectedTemplate"
            [labelKey]="'Name'"
            [valueKey]="'Id'"
            (onSelect)="selectTemplate($event)"
        ></ot-picklist>
    </div>
    <div *ngIf="system?.form?.showIntegrationMapping">
        <ot-loading *ngIf="isMappingLoading">
                {{"Mappings" | otTranslate}}
        </ot-loading>
        <div *ngIf="!isMappingLoading">
            <ng-container *ngIf="integrationMappings">
                <div
                    *ngFor="let mapping of integrationMappings; let i=index; trackBy: trackByIndex"
                    class="row-horizontal-center text-bold"
                >
                    <div class="width-50-percent">
                        <span class="inline-block overflow-ellipsis-nowrap">
                            {{mappingLabel(mapping.InputId, true)}}
                        </span>
                    </div>
                    <div class="text-large margin-left-right-2">
                        <i class="ot ot-arrow-right media-top"></i>
                    </div>
                    <div class="width-50-percent">
                        <span class="width-90-percent inline-block overflow-ellipsis-nowrap">
                            {{mappingLabel(mapping.OutputId, false)}}
                        </span>
                        <i
                            class="ot ot-trash-o text-large media-top margin-left-1"
                            [otTooltip]="{content: popoverTooltip, placement: 'right'}"
                            [attr.ot-auto-id]="'ConnectionMappingRemoveBtn'+i"
                            (click)="removeMapping(mapping)"
                        >
                        </i>
                        <ng-template #popoverTooltip>
                                <span>{{"RemoveMappingTooltip" | otTranslate}}</span>
                        </ng-template>
                    </div>
                </div>
            </ng-container>

            <div class="row-horizontal-center margin-top-2">
                <div
                    otFormElement
                    class="margin-top-half padding-bottom-1 width-50-percent margin-right-4"
                    [label]="'SelectInputEntity' |otTranslate">
                    <ot-picklist
                        ot-auto-id="inputEntityId"
                        [placeholder]="'SelectInputEntity' |otTranslate"
                        [options]="inputMappingOptions"
                        [model]="selectedInputMapping"
                        [valueKey]="'Id'"
                        [labelKey]="'Label'"
                        [autoClose]="true"
                        (onSelect)="selectMapping(selection, true)"
                    ></ot-picklist>
                </div>
                <div
                    otFormElement
                    class="margin-top-half padding-bottom-1 width-50-percent"
                    [label]="'SelectOutputEntity' |otTranslate">
                    <ot-picklist
                        ot-auto-id="outputEntityId"
                        [placeholder]="'SelectOutputEntity' |otTranslate"
                        [options]="outputMappingOptions"
                        [model]="selectedOutputMapping"
                        [labelKey]="'Label'"
                        [valueKey]="'Id'"
                        [autoClose]="true"
                        (onSelect)="selectMapping(selection, false)"
                    ></ot-picklist>
                </div>
            </div>
            <button
                otButton
                brand
                ot-auto-id="ConnectionMappingAddBtn"
                [innerText]="'AddMapping' | otTranslate"
                [disabled]="!selectedInputMapping || !selectedOutputMapping || isMappingLoading"
                (click)="addMapping()"
            ></button>
        </div>
    </div>
</div>
