.assessment-details-banner {

    &__list {
        padding: 2rem 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        flex: 1 1 20%;
        min-width: 1px;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__label {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__text {
        margin: 0;
    }
}
