.template-item {

    &__container {
        background-color: $white;
        border: 1px solid $grey-3;
        margin-bottom: 1rem;
        border-radius: 2px;
        display: flex;
        min-height: 4rem;

        &--disabled {
            background-color: $grey-1;
        }
    }

    &__toggle {
        flex: 0 0 auto;
        white-space: nowrap;
        padding: 0 1.2rem;
        background-color: $grey-3;
        color: $white;
        border: 0;

        &-arrow {
            margin-left: .4rem;
            width: 1rem;
        }
    }

    &__text {
        flex: 1 1 auto;
        min-width: 1px;
        min-height: 4rem;
        display: flex;
        align-items: center;
        padding: 1rem 2rem;

        &--welcome {
            background-color: lighten($green, 40%);
        }
    }

    &__welcome {
        padding: 2rem 0;
        display: block;
    }

    &__actions {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
    }

    &__preview {
        display: block;
        padding-left: 4rem;
        margin: 2rem 0 4rem;
    }

    &__loading {
        display: block;
        width: 100%;
    }
}
