<div class="assessment-age-graph flex-full-75 background-white padding-all-2">
    <h3>{{'AgingAssessment' | otTranslate}}</h3>
    <ot-loading otPageLoading
        *ngIf="!canLoadPage"
        >{{'AgeGraph' | otTranslate}}
    </ot-loading>
    <one-aging-graph #assessmentAgingGraph
        *ngIf="canLoadPage && graphData?.length"
        class="text-center"
        [graphId]="'one-aging-graph'"
        [graphData]="graphData"
        [projectTerm]="'Assessment' | otTranslate"
        [xAxisRange]="[assessmentStates.NotStarted, assessmentStates.UnderReview]"
        (assessmentDetailsChanged)="showAssessmentDetails($event)"
        (assessmentNavigationCallback)="assessmentCallback.emit($event)"
    ></one-aging-graph>
    <div
        *ngIf="canLoadPage && !graphData?.length"
        class="margin-top-6 justify-center text-xhuge flex"
    >
        <h2>{{'NoAssessments' | otTranslate}}</h2>
    </div>
</div>
<div class="flex-full-25 padding-all-1">
    <h4>{{'AssessmentDetails' | otTranslate}}</h4>
    <label class="padding-left-1">{{'FilterByAssessmentAge' | otTranslate}}</label>
    <ot-picklist
        class="flex-shrink padding-left-1 max-25"
        ot-auto-id="DashboardAssessmentAgeSelection"
        [placeholder]="'NoFilter' | otTranslate"
        [autoClose]="true"
        [valueKey]="'value'"
        [labelKey]="'label'"
        [model]="selectedAge"
        [options]="ageCriteriaList"
        (onSelect)="onAgeCriteriaChange($event)"
    ></ot-picklist>
    <label class="padding-left-1 padding-top-1">{{'FilterByTemplate' | otTranslate}}</label>
    <ot-template-select
        class="flex-shrink padding-left-1 template-select-max-24 template-select-left-margin-1"
        ot-auto-id="AAAgingGraphTemplateDropDownSelector"
        valueKey="id"
        labelKey="name"
        placeholder="NoFilter"
        [autoClose]="true"
        (onSelect)="onTemplateSelection($event)"
    ></ot-template-select>
    <label class="padding-left-1 padding-top-1 max-25" *ngIf="!currentAssessmentDetails && graphData?.length">{{'HoverOverAssessmentForInformation' | otTranslate}}</label>
    <div class="padding-left-1">
        <div *ngFor="let detail of currentAssessmentDetails" class="margin-bottom-1">
            <div class="text-bold">{{detail.title}}</div>
            <div>{{detail.value}}</div>
        </div>
    </div>
</div>
