<one-modal-base
    [modalTitle]="title"
    (close)="closeModal()"
    >
    <section class="flex-full-height padding-all-2">
        <div class="text-center">
            <span class="delete-confirmation-modal__icon fa-stack fa-lg">
                <i class="fa ot-circle fa-stack-2x text-success"></i>
                <i class="fa ot-upload fa-stack-1x fa-inverse"></i>
            </span>
            <p class="padding-bottom-1 text-bold"
                [innerText]="successMessage">
            </p>
            <p [innerText]="copyLinkMessage"></p>
            <upgraded-prettify>
                <div class="word-break-all">{{anchorScript}}</div>
            </upgraded-prettify>
        </div>
        <div class="row-flex-end margin-top-2 row-nowrap">
            <button otButton neutral
                [attr.ot-auto-id]="'DSARPublishFormCopyButton'"
                [loading]="actionInProgress"
                [disabled]="actionInProgress"
                [innerText]="'CopyLink' | otTranslate"
                (click)="generateScript()"
                >
            </button>
        </div>
        <footer class="row-horizontal-center margin-top-4 row-nowrap">
            <button otButton brand
                [attr.ot-auto-id]="'DSARPublishFormCloseButton'"
                [innerText]= "'Close' | otTranslate"
                (click)="closeModal()"
                >
            </button>
        </footer>
    </section>
</one-modal-base>
