<ot-modal-header (close)="closeModal()">
    <div>{{ modalTitleKey | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height overflow-x-hidden padding-right-2">
    <ng-container *ngIf="!isLoading; else loading">
        <div otFormElement
            class="margin-bottom-1-half"
            [label]="'DashboardName' | otTranslate"
            [required]="true"
            >
            <input
                otInput
                name="CreateDashboardNameInput"
                ot-auto-id="CreateDashboardNameInput"
                type="text"
                [placeholder]="'DashboardName' | otTranslate"
                [ngModel]="dashboardName"
                (ngModelChange)="onNameChange($event)"
            />
        </div>
        <div otFormElement
            class="margin-bottom-1-half"
            [label]="'VisibleModule' | otTranslate"
            [required]="true"
            >
            <ot-picklist
                ot-auto-id="CreateDashboardVisibleModuleDropdown"
                [placeholder]="'VisibleModule' | otTranslate"
                [options]="moduleOptions"
                [model]="moduleSelection"
                (onSelect)="onModuleChange($event)">
            </ot-picklist>
        </div>
        <div otFormElement
            class="margin-bottom-2"
            [label]="'Organization' | otTranslate"
            [required]="true"
            >
            <org-select
                identifier="CreateDashboardOrganizationDropdown"
                [model]="orgSelection"
                [placeholder]="'Organization' | otTranslate"
                (onSelect)="onOrgChange($event)"
                >
            </org-select>
        </div>
        <ot-setting
            [title]="'DashboardTemplate' | otTranslate"
            [description]="'ChooseADashboardTemplate' | otTranslate"
            >
            <section
                otSettingChild
                class="margin-right-4 row-wrap padding-top-1 justify-center"
                >
                <div
                    *ngFor="let template of templateOptions"
                    class="static-horizontal column-nowrap padding-left-right-2 padding-top-4 padding-bottom-1 border border-radius position-relative cursor-pointer margin-all-half"
                    [ngClass]="{'border-blue background-active' : template.value === templateSelection}"
                    (click)="onTemplateSelect(template.value)"
                    >
                    <ot-radio
                        class="position-absolute top-1 right-1"
                        [model]="templateSelection"
                        [value]="template.value"
                        >
                    </ot-radio>
                    <dashboard-layout-option
                        class="dashboard-create-modal__layout width-5 margin-0-auto margin-bottom-1"
                        [layoutType]="template.value"
                        [isActive]="template.value === templateSelection"
                        >
                    </dashboard-layout-option>
                    <span class="text-small text-bold text-center">{{ "TemplateNumber" | otTranslate: { Number: template.label } }}</span>
                </div>
            </section>
        </ot-setting>
    </ng-container>
    <ng-template #loading>
        <ot-loading
            otPageLoading
            class="flex-full-height"
            >
        </ot-loading>
    </ng-template>
</ot-modal-content>
<ot-modal-footer>
    <button
        otButton
        ot-auto-id="CreateDashboardCancelButton"
        (click)="closeModal()"
        >
        {{ "Cancel" | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="CreateDashboardSaveButton"
        [disabled]="!formIsValid || isLoading"
        (click)="saveDashboard()"
        >
        {{ (editMode ? "Save" : "Create") | otTranslate }}
    </button>
</ot-modal-footer>
