.incident-databreachpedia-jurisdiction-list {
    &__tree-list {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            ul {
                min-width: 40rem;
            }
        }

        li {
            min-width: 1px;
            min-height: 1px;
            flex: 1 0 50%;
            color: $ui-blue;
        }
        
        .slds-tree__item {
            line-height: 2rem;
            width: 50rem;
            &:hover {
                background: none;
                border: none;
                text-decoration: underline;
                color: $blue;
            }
        }
    }
}