<ng-template #incidentDatabreachpediaListLoader>
    <ot-loading otPageLoading
        class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
    ></ot-loading>
</ng-template>

<div class="full-width flex justify-center background-white overflow-y-auto" *ngIf="jurisdictionRegions$ && databreachLaws$ | async; else incidentDatabreachpediaListLoader">
    <div class="incident-databreachpedia-jurisdiction-list max-width-45 margin-right-4">
        <h2 class="header text-bold margin-bottom-1">{{'Jurisdictions' | otTranslate}}</h2>
        <hr class="margin-top-bottom-1">
        <ng-container *ngFor="let jurisdictionRegion of jurisdictionRegions$ | async">
            <ot-collapse
                class="text-bold flex-full-height"
                [attr.ot-auto-id]="'IncidentDBPJurisdiction_' + jurisdictionRegion?.id"
                [title]="jurisdictionRegion?.name"
                [open]="!jurisdictionRegionClosed[jurisdictionRegion.id.toString()]"
                (toggled)="toggledJurisdictionRegion($event, jurisdictionRegion.id.toString())"
                >
                <div class="width-45-rem">
                    <ot-tree-list
                        class="incident-databreachpedia-jurisdiction-list__tree-list text-bold"
                        [attr.ot-auto-id]="'IncidentDBPJurisdiction_Country' + jurisdictionRegion?.id"
                        [model]="model"
                        [options]="jurisdictionRegion?.countries"
                        [label]="label"
                        [value]="value"
                        [children]="children"
                        (onSelect)="viewJurisdiction($event)"
                        >
                    </ot-tree-list>
                </div>
            </ot-collapse>
        </ng-container>
    </div>
    <div class="incident-databreachpedia-breachlaws-list max-width-45 margin-left-4">
        <h2 class="header text-bold margin-bottom-1">{{ 'BreachLaws' | otTranslate }}</h2>
        <hr class="margin-top-bottom-1">
        <ng-container *ngFor="let databreachLawRegion of databreachLaws$ | async">
            <ot-collapse
                class="text-bold flex-full-height"
                [attr.ot-auto-id]="'IncidentDBPLaws_' + databreachLawRegion?.id"
                [title]="databreachLawRegion?.name"
                [open]="!lawClosed[databreachLawRegion.id.toString()]"
                (toggled)="toggledLaw($event, databreachLawRegion.id.toString())"
                >
                <div class="width-40-rem">
                    <div *ngFor="let databreachLaw of databreachLawRegion?.laws">
                        <a class="blue-anchor-style" (click)="viewLaw(databreachLaw)" > {{ databreachLaw?.displayName }} </a>
                    </div>
                </div>
            </ot-collapse>
        </ng-container>
    </div>
</div>
