<section class="height-100 width-100-percent column-nowrap">
    <ot-page-header
        class="full-width"
        [title]="'Policies' | otTranslate"
    >
        <button otButton brand
            button-class="margin-top-bottom-2"
            ot-auto-id="PrivacyNoticeCreateButton"
            [disabled]="'PrivacyNoticeCreate' | otPermit"
            (click)="createPolicyModal()"
        >
            {{ "AddNew" | otTranslate }}
        </button>
    </ot-page-header>

    <div otDrawerContainer class="full-width position-relative flex-full-height overflow-hidden">
        <!-- TODO: create cr-policy-filters -->
        <!-- <cr-policy-filters
            class="static-vertical"
            [filters]="filters"
            [isDrawerOpen]="isDrawerOpen"
            [purposeList]="purposeList"
            (applyCallback)="pageChange($event, 0)"
            (refreshCallback)="pageChange($event, 0)"
        ></cr-policy-filters> -->

        <ng-container *ngIf="!(privacyPolicies$ | async); else showPoliciesList;">
            <ot-loading otPageLoading></ot-loading>
        </ng-container>

        <ng-template #showPoliciesList>
            <div class="full-width flex-full-height">
                <ng-container [ngSwitch]="(privacyPolicies$ | async)?.size > 0">
                    <ng-container *ngSwitchCase="true">
                        <policy-table
                            class="flex-full-height"
                            noDataKey="NoPoliciesFound"
                            [columns]="columns"
                            [rows]="(privacyPolicies$ | async)"
                            (goToRoute)="goToRoute($event)"
                            (noDataRoute)="createPolicyModal()"
                        ></policy-table>
                    </ng-container>

                    <ng-container *ngSwitchCase="false">
                        <div class="row-horizontal-vertical-center margin-top-4 flex-full-height text-center">
                            <ot-empty-state [emptyStateMessage]="'NoPrivacyPoliciesFound' | otTranslate">
                                <img emptyStateImg />

                                <button otButton brand
                                    class="align-right margin-top-bottom-1 margin-left-right-2"
                                    ot-auto-id="PrivacyNoticeEmptyStateCreateButton"
                                    [disabled]="'PrivacyNoticeCreate' | otPermit"
                                    (click)="createPolicyModal()"
                                >
                                    {{ "AddNew" | otTranslate }}
                                </button>
                            </ot-empty-state>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-template>
    </div>
</section>
