<div class="position-relative margin-top-2 color-slate full-width preference-center-welcome-message">
    <span class="preference-center-welcome-message__welcome-header border border-round position-absolute background-white">
        <i class="preference-center-welcome-message__welcome-header-icon flex justify-center ot ot-star"></i>
    </span>
    <div class=
        "preference-center-welcome-message__header
        min-height-46
        row-space-between-center
        border
        border-radius-3
        background-light-green
        padding-all-1
        margin-right-1
        margin-left-2"
        >
        <span class="text-bold padding-left-2-half">
            {{ "WelcomeMessage" | otTranslate }}
        </span>
        <div class="pull-right row-space-between-center">
            <i
                class="ot ot-edit text-large cursor-pointer margin-right-2"
                (click)="editWelcomeMessage()"
            ></i>
            <i
                ot-auto-id="PreferenceCenterWelcomeMessageExpandToggle"
                class="ot no-outline text-large cursor-pointer"
                [ngClass]="{'ot-chevron-right': !welcomeMessageExpanded, 'ot-chevron-down': welcomeMessageExpanded}"
                (click)="welcomeMessageExpanded = !welcomeMessageExpanded"
            ></i>
        </div>
    </div>
    <div
        *ngIf="welcomeMessageExpanded"
        ot-auto-id="PreferenceCenterWelcomeMessageEdit"
        class="margin-left-right-2 no-outline"
        >
        <div class="padding-all-1 border-left">
            <div
                class="ql-editor"
                [innerHTML]="preferenceCenterLabels.WelcomeMessage"
            >
            </div>
        </div>
    </div>
</div>