<ot-page-header
    class="border-bottom"
    [title]="pageTitle"
    [type]="headerType"
    (routeClicked)="goToRoute($event)"
>
    <ot-breadcrumb
        *ngIf="breadcrumbItems?.length"
        (routeClicked)="goToRoute($event)"
    >
        <ng-container *ngFor="let breadcrumb of breadcrumbItems">
            <ng-container *ngIf="breadcrumb?.path; else breadcrumbWithoutLink">
                <ot-breadcrumb-item
                    [attr.ot-auto-id]="breadcrumb.otAutoId"
                    [label]="breadcrumb.labelKey ? (breadcrumb.labelKey | otTranslate) : breadcrumb.label"
                    [link]="breadcrumb.path"
                    [params]="breadcrumb.params"
                ></ot-breadcrumb-item>
            </ng-container>
            <ng-template #breadcrumbWithoutLink>
                <ot-breadcrumb-item
                    [attr.ot-auto-id]="breadcrumb.otAutoId"
                    [label]="breadcrumb.labelKey ? (breadcrumb.labelKey | otTranslate) : breadcrumb.label"
                ></ot-breadcrumb-item>
            </ng-template>
        </ng-container>
    </ot-breadcrumb>
    <span
        *ngFor="let badge of badges"
        [otBadge]="badge?.type"
        [innerText]="badge?.labelKey ? (badge.labelKey | otTranslate) : badge?.label"
    ></span>
    <ng-container *ngIf="showContent">
        <button
            *ngIf="primaryButton"
            otButton
            brand
            class="margin-left-1"
            [attr.ot-auto-id]="primaryButton.otAutoId"
            [disabled]="primaryButton.isDisabled"
            [loading]="primaryButton.isLoading"
            [innerText]="primaryButton.labelKey | otTranslate"
            (click)="primaryButton.action()"
        ></button>
        <button
            *ngIf="secondaryButton"
            otButton
            neutral
            class="margin-left-1"
            [attr.ot-auto-id]="secondaryButton.otAutoId"
            [disabled]="secondaryButton.isDisabled"
            [loading]="secondaryButton.isLoading"
            [innerText]="secondaryButton.labelKey | otTranslate"
            (click)="secondaryButton.action()"
        ></button>
        <ot-context-menu
            *ngIf="contextMenuOptions.length"
            class="margin-left-1 position-relative"
            [type]="0"
            [menu]="contextMenuOptions"
            [position]="'bottom-right'"
        >
            <i class="ot ot-ellipsis-h"></i>
            <a
                *otContextMenuItem="let item"
                class="text-medium-small"
                [ngClass]="{'disabled background-grey': item.isDisabled}"
                (click)="item.action(row)"
            >
                {{item.text}}
            </a>
        </ot-context-menu>
    </ng-container>
</ot-page-header>
