<div>
    <button otButton neutral #buttonEl
        *ngIf="!isEditing"
        class="{{buttonClass}}"
        [ngClass]="{ 'one-editable-button--other': !!model }"
        [disabled]="disabled"
        (click)="buttonClicked()"
    >
        {{ model || ("Other" | otTranslate) }}
    </button>
    <div otClickHandler="outside"
        class="position-relative"
        *ngIf="isEditing"
        (handleClick)="onDocumentClick($event)"
        >
        <input otInput #inputEl
            type="text"
            [(ngModel)]="inputModel"
            (keyup.enter)="onInputEnter($event)"
        >
        <div class="position-absolute right-0 z-index-1">
            <div class="row-flex-end background-white padding-top-bottom-quarter padding-left-quarter border-bottom-left-radius-3 border-bottom-right-radius-3">
                <div class="square-tiny background-white border color-slate text-center border-radius-3 margin-right-quarter cursor-pointer" (click)="cancelClicked()">
                    <i class="ot ot-remove"></i>
                </div>
                <div class="square-tiny background-ui-blue color-white text-center border-radius-3 cursor-pointer" (click)="acceptClicked(inputModel)">
                    <i class="ot ot-check"></i>
                </div>
            </div>
        </div>
    </div>
</div>