<section class="full-size column-nowrap">
    <ot-page-header
        [title]="'ScimSettingTitle' | translate"
        type="clear"
    ></ot-page-header>
    <section
        class="full-size
            padding-left-right-3
            padding-bottom-2
            column-nowrap
            overflow-y-auto"
            >
            <ot-tabs
                [tabs]="tabs"
                [selectedTab]="currentTab">
                <a
                    *otTabItem="let tab"
                    [attr.ot-auto-id]="'SettingSsoTab-' + tab.id"
                    (click)="changeTab(tab)"
                    >
                    {{ tab.text }}
                </a>
            </ot-tabs>
        <section class="centered-50"
            *ngIf="!isLoading; else showScimPageLoading">
            <div class="margin-top-4"
                *ngIf="currentTab === navTabs.GENERAL">
                <div>
                    <span class="text-bold"> {{ 'ScimSettings' | translate }}</span>
                    <span class="column-nowrap">{{ 'ScimSettingDescription' | translate }}
                    </span>
                </div>
                <div class="margin-top-1-half">
                    <span class="text-bold"> {{ 'UserAttributes' | translate }}</span>
                    <span class="column-nowrap"> {{ 'ScimUserAttributeDescription' | translate }}</span>
                </div>
                <div *ngFor="let settings of scimSettings; let i = index">
                    <div *ngIf="settings.name === 'DefaultOrganization'"
                        otFormElement
                        class="margin-top-2"
                        [required]="true"
                        [label]="'DefaultOrganization' | translate">
                        <org-select
                            [identifier]="'UsersAndGroupOrganizationOrgSelect'"
                            [model]="selectedOrg"
                            [placeholder]="'SelectOrganizationGroup' | otTranslate"
                            [required]="true"
                            (onSelect)="selectValue(settings.name, $event, i)"
                        ></org-select>
                    </div>
                    <div *ngIf="settings.name === 'DefaultRole'"
                        otFormElement
                        class="margin-top-bottom-1 padding-bottom-1-half"
                        [label]="'DefaultRole' | translate"
                        [required]="true"
                    >
                        <ot-picklist
                            *ngIf="!isRolesLoading; else showLoading"
                            ot-auto-id="SettingsScimRoleSelect"
                            class="column-nowrap full-size"
                            [placeholder]="'SelectRole' | translate"
                            [autoClose]="true"
                            [options]="options"
                            [valueKey]="'Id'"
                            [labelKey]="'Name'"
                            [model]="selectedRole"
                            (onSelect)="selectValue(settings.name, $event, i)">
                        </ot-picklist>
                        <ng-template #showLoading>
                            <ot-loading>{{ 'Loading' | translate }}...</ot-loading>
                        </ng-template>
                    </div>
                </div>
                <div otFormElement
                    *ngIf="scimBaseUrl"
                    class="border-top padding-top-1-half"
                    [label]="'ScimBaseUrl' | translate"
                    >
                    <input otInput
                        ot-auto-id="SettingScimBaseUrl"
                        [disabled]="true"
                        [ngModel]="scimBaseUrl"
                    />
                </div>
                <div class="align-right">
                    <button
                        otButton
                        neutral
                        class="margin-top-2"
                        ot-auto-id="SettingScimCopyBaseUrlButton"
                        [disabled]="!scimBaseUrl"
                        (click)="copyScimBaseUrl()"
                        > {{ 'CopyUrl' | translate }}
                    </button>
                </div>
            </div>
            <div class="margin-top-4"
                *ngIf="currentTab === navTabs.AUTH">
                <div class="margin-top-2">
                    <span class="text-bold">{{ 'ClientCredentials' | translate}}</span>
                    <span class="column-nowrap">{{ 'ConnectionInstalledOnPremise' | translate }}</span>
                </div>
                <div otFormElement
                    class="margin-top-1-half"
                    [label]="'IPAddress' | translate"
                    [hasError]="ipAddressControl.touched &&  ipAddressControl.invalid"
                    [errorMessage]="'ErrorEnterIPAddress' | translate"
                    >
                    <input otInput
                        ot-auto-id="SettingScimBaseUrl"
                        [placeholder]="'EnterIPAddress' | translate"
                        [pattern]="regex.IP_MULTI || regex.CIDR_MULTI"
                        [ngModel]="clientCredentials?.ipWhitelist"
                        (ngModelChange)="ipWhiteListChange($event)"
                        #ipAddressControl="ngModel"
                    />
                </div>
                <div otFormElement
                    class="margin-top-2"
                    [label]="'ClientDescription' | translate"
                    >
                    <input otInput
                        ot-auto-id="SettingScimBaseUrl"
                        [placeholder]="'EnterClientDescription' | translate"
                        [ngModel]="clientCredentials?.clientDescription"
                        (ngModelChange)="inputChange($event)"
                    />
                </div>
                <div class="align-right">
                    <i *ngIf="clientCredentials?.clientDetailId"
                        class="ot ot-info-circle text-medium top-1-half margin-right-1 position-relative"
                        [otTooltip]="{ content: 'UnableToGenerateClientCredentials' | translate, placement: 'top-start' }"
                    ></i>
                    <button
                        otButton
                        neutral
                        class="margin-top-2"
                        ot-auto-id="SettingScimCopyBaseUrlButton"
                        [disabled]="!('GenerateClientCredentials' | otPermit) ||  clientCredentials?.clientDetailId"
                        (click)="generateCredentialModal()"
                        >
                        {{ 'Welcome.Wscc.PolicyTile.ButtonText' | translate }}
                    </button>
                </div>
            </div>
        </section>
        <ng-template #showScimPageLoading>
                <ot-loading otPageLoading>
                {{ 'Loading' | translate }}...
            </ot-loading>
        </ng-template>
    </section>
    <footer otPageFooter>
        <button
            otButton neutral
            ot-auto-id="SettingScimCancelBtn"
            (click)="cancelSamlSettings(currentTab)"
        >{{ 'Cancel' | translate }}</button>
        <button
            otButton brand
            ot-auto-id="SettingsScimSaveBtn"
            [disabled]="isSaveDisabled"
            (click)="saveScimSettings(currentTab)"
        >{{ 'Save' | translate }}</button>
    </footer>
</section>
