<ot-modal-header [hideClose]="!isCredentialsCopied" (close)="closeModal()">
     <div> {{ 'ClientCredentials' | translate }}</div>
</ot-modal-header>
<ot-modal-content>
    <ng-template #loadingScimAuthModal>
        <ot-loading otPageLoading
            class="align-self-center">
            {{ 'Loading' | translate }}...
        </ot-loading>
    </ng-template>
    <div *ngIf="!isLoading; else loadingScimAuthModal">
        <div>{{ 'ClientCredentialsDescription' | translate }}</div>
        <div otFormElement
            class="margin-top-2"
            [label]="'ClientId' | translate"
            >
            <div class="row-nowrap">
                <input otInput
                    class="full-width"
                    name="clientId"
                    ot-auto-id="SettingScimClientId"
                    [ngModel]="scimCreds?.clientId"
                    [disabled]="scimCreds?.clientId"
                    />
                <button
                    otButton neutral
                    class="margin-left-1"
                    ot-auto-id="SettingScimCopyClientIdBtn"
                    (click)="copyClientCreds(scimCreds?.clientId)"
                    >
                    {{ 'Copy' | translate }}
                </button>
            </div>
        </div>
        <div otFormElement
            class="margin-top-2"
            [label]="'ClientSecret' | translate"
            >
            <div class="row-nowrap">
                <input otInput
                    class="full-width"
                    name="clientSecret"
                    ot-auto-id="SettingScimClientCredentials"
                    [ngModel]="scimCreds?.secret"
                    [disabled]="scimCreds?.secret"
                    />
                <button
                    otButton neutral
                    class="margin-left-1"
                    ot-auto-id="SettingScimCopyClientCredentialsBtn"
                    (click)="copyClientCreds(scimCreds?.secret)"
                    >
                    {{ 'Copy' | translate }}
                </button>
            </div>
        </div>
        <div class="margin-top-3">
            <span class="text-bold">{{ 'Note' | translate }}:</span>{{ 'ScimClientCredentialsNote' | translate }}
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton brand
        class="margin-right-1"
        ot-auto-id="SettingScimCancelBtn"
        [disabled]="!isCredentialsCopied"
        (click)="closeModal()"
        >
        {{ 'Close' | translate }}
    </button>
</ot-modal-footer>
