<div class="template-card-settings">
    <div
        class="border-none background-none no-outline"
        [otDropdown]="TemplateSettingsDropdown"
        ot-auto-id="AssessmentRiskPaneContextMenu"
        [interactive]="false"
        [isOpen]="true"
        [modifierClass]="'template-card-settings__popover'"
        [position]="'bottom'"
        [closeOnClick]="'both'"
    ></div>
    <ng-template #TemplateSettingsDropdown>
        <ul class="full-width padding-all-0 margin-all-0 border-none width-22">
            <ng-container *ngFor="let option of options">
                <li
                    *ngIf="option.show"
                    class="template-card-settings__option text-center padding-all-half border-top cursor-pointer"
                    [attr.ot-auto-id]="'TemplateCardSettingsMenu'+ option.otAutoId"
                    (click)="listItemCallback(option.otAutoId)"
                >
                    <div class="template-card-settings__option-link text-nowrap paragraph-small text-thin-2 no-outline">
                        <i [class]="option.icon"></i>
                        <span class="margin-left-1">{{option.text}}</span>
                    </div>
                </li>
            </ng-container>
        </ul>
    </ng-template>
</div>
