.template-card-settings {
    z-index: 100;
    top: 100%;
    
    .slds-popover {
        z-index: 100;
    }

    &__option {
        border-color: $eggshell;
        &:hover {
            background-color: $slate;
        }
        &-link {
            color: $white;
            &:hover {
                text-decoration: none !important;
            }
        }
    }

    &__popover {
        width: 22rem;
        z-index: 100;
        background-color: $grey-3 !important;
        margin: 0;
        padding: 0;
    }
}