.one-welcome-text {
    &.ql-editor > * {
        cursor: pointer;
    }

    p {
        margin-bottom: 1rem;
    }

    ol, ul {
        li {
            margin-bottom: 1rem;
        }
    }
}

.ql-editor {
    -ms-overflow-style: none;
    ul, ol {
        padding-left: 0 !important;
    }
}
