<section class="full-size padding-top-2 column-nowrap overflow-hidden">
    <div class="row-space-between-center padding-left-2 padding-top-2 padding-bottom-5">
        <h2
            class="header2 margin-top-0 margin-bottom-3 text-thin static-vertical"
            [innerText]="translations.languageActivatorHeading"
        ></h2>
    </div>
    <div class="column-nowrap full-size overflow-y-auto width-50-percent margin-0-auto">
        <div *ngIf="isLoading" class="flex-full-height justify-center">
            <ot-loading otPageLoading>{{ 'Loading' | otTranslate }}...</ot-loading>
        </div>
        <table
            otDataTable
            [rowData]="languageTableData"
            [rowBordered]="true"
             *ngIf="!isLoading"
        >
            <ng-container *ngFor="let col of languageColumns">
                <ng-container *ngIf="col.columnType !== 'checkbox'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [cellValueKey]="col.cellValueKey"
                        [column]="col"
                        [tdClass]="'text-bold'"
                    ></ot-data-table-column>
                </ng-container>
                <ng-container *ngIf="col.columnType === 'checkbox'">
                    <ot-data-table-column
                        [headerLabel]="col.columnName"
                        [column]="col"
                        [thClass]="'text-center'"
                        [tdClass]="'text-center margin-0'"
                        >
                        <ng-template otDataTableHeader>
                            <ot-checkbox
                                [attr.ot-auto-id]="'AllEmailTempaltesColumnSelectCheckbox'"
                                [checked]="allRowSelected"
                                (toggle)="allRowSelected = !allRowSelected; handleTableSelectClick('header', allRowSelected)"
                                >
                            </ot-checkbox>
                        </ng-template>
                        <ng-template otDataTableCell
                            let-row="row">
                            <ot-checkbox
                                [attr.ot-auto-id]="'AllEmailTempaltesColumnSelectCheckbox' + row.Id"
                                [checked]="row.Activated"
                                [disabled]="row.Translated"
                                (toggle)="row.Activated = !row.Activated; handleTableSelectClick('row', row.Activated, row.Id)"
                                >
                            </ot-checkbox>
                        </ng-template>
                    </ot-data-table-column>
                </ng-container>
            </ng-container>
        </table>
    </div>
    <section class="margin-top-bottom-auto" *ngIf="!isLoading">
        <footer class="row-flex-end static-vertical modal-footer padding-right-0">
            <center-actions>
                <div class="full-width text-right padding-right-2">
                    <button
                        otButton neutral
                        class="margin-right-1-half border-none"
                        [attr.ot-auto-id]="'LanguageActivatorCancelButton'"
                        [innerText]="translations.cancel"
                        (click)="onCancel()"
                    >
                    </button>
                    <button
                        otButton brand
                        [attr.ot-auto-id]="'LanguageActivatorSaveButton'"
                        [innerText]="translations.save"
                        (click)="onSave()"
                    >
                    </button>
                </div>
            </center-actions>
        </footer>
    </section>
</section>
