.inventory-related-list {
    margin-bottom: 0;
    &__drawer {
        width: 30rem;
        .ot-drawer-old-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
        }
    }
}