<div *ngIf="!isLoadingRelated; else showLoading" class="flex-full-height overflow-x-auto">
    <ul
        class="inventory-related-list stretch-vertical overflow-y-auto full-size flex-full-height position-absolute"
        [ngClass]="{'padding-top-bottom-1': !tableExpanded}"
        >
        <ng-container *ngFor="let inventory of relatedInventoryArray;">
            <li
                *ngIf="(tableExpanded && expandedTableMap[inventory.id]) || !tableExpanded"
                class="background-white"
                [ngClass]="expandedTableMap[inventory.id] ? 'overflow-y-auto flex-full-height' : 'shadow margin-bottom-1'"
                >
                <inventory-related-table
                    class="flex-full-height"
                    *ngIf="!permissions.canViewLinkedInventory"
                    [inventory]="inventory"
                    [recordId]="recordId"
                    [orgGroupId]="orgGroupId"
                    [type]="inventory.id"
                    [isExpanded]="expandedTableMap[inventory.id]"
                    [inventoryPermissions]="permissions"
                    (toggle)="toggleTable(inventory.id)"
                    >
                </inventory-related-table>
                <inventory-linked-table
                    class="flex-full-height"
                    *ngIf="permissions.canViewLinkedInventory"
                    [inventory]="inventory"
                    [recordId]="recordId"
                    [recordName]="recordName"
                    [orgGroupId]="orgGroupId"
                    [type]="inventory.id"
                    [isExpanded]="expandedTableMap[inventory.id]"
                    [resolvedPermissions]="permissions"
                    (toggle)="toggleTable(inventory.id)"
                    (viewRecord)="toggleDrawer(true, $event)"
                    >
                </inventory-linked-table>
            </li>
        </ng-container>
    </ul>
    <ot-drawer
        class="inventory-related-list__drawer full-size border-left position-absolute background-grey top-0 flex-full-height"
        [open]="drawerIsOpen"
        >
        <div class="row-vertical-center margin-all-2 static-vertical">
            <i
                class="side-drawer__icon ot ot-arrow-circle-o-right"
                ot-auto-id="RelatedInventoryCloseSidebarBtn"
                role="button"
                (click)="toggleDrawer(false)"
                >
            </i>
            <span class="side-drawer__close-text margin-left-1">{{'Close' | otTranslate}}</span>
        </div>
        <div class="text-bold text-large padding-left-2 padding-bottom-1">{{drawerHeader}}</div>
        <div
            *ngIf="drawerReady"
            class="inventory-related-list__drawer-content stretch-vertical flex-full-height padding-left-2 overflow-y-auto"
            >
            <inventory-form
                class="column-nowrap flex-full-height"
                *ngIf="!isDataElement"
                [inventoryId]="inventoryType"
                [recordId]="currentRecordId"
                [loadDataFromStore]="true"
                >
            </inventory-form>
            <inventory-attribute-details
                class="column-nowrap flex-full-height"
                *ngIf="isDataElement"
                [isReady]="drawerReady"
                [columnClass]="'flex-full-100 padding-right-2'"
                [backgroundClass]="'background-grey'"
                [isDisabled]="true"
                >
            </inventory-attribute-details>
        </div>
    </ot-drawer>
</div>
<ng-template #showLoading>
    <ot-loading
        otPageLoading
        class="flex-full-height justify-center"
        >
        {{ 'Related' | otTranslate }}...
    </ot-loading>
</ng-template>


