

<ot-modal-header (close)="cancel()">
    <div>{{ modalTitle | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content>
    <div class="
            text-center
            text-xlarge
            text-color-default
            margin-bottom-2
            mcm-modal__subtitle-font-weight"
         [innerHtml]="otModalData.subTitle | otTranslate">
    </div>
    <div class="row-space-evenly width-100-percent margin-bottom-1-half">
        <div class="column-nowrap width-50-percent margin-left-right-2">
            <div>
                <div class="margin-bottom-2 margin-top-1 text-large mcm-modal__subtitle-font-weight">
                    {{ otModalData.titleDescription | otTranslate }}
                </div>
            </div>
            <div *ngIf="otModalData.descriptionList.length > 1; else paragraphContent">
                <ul class="
                        bullet-list
                        text-color-default
                        paragraph-medium-large
                        word-break margin-left-2
                        padding-all-half">
                    <li *ngFor="let descriptionList of otModalData.descriptionList | keyvalue"
                        class="padding-all-half text-medium">
                        {{ descriptionList.value | otTranslate }}
                    </li>
                </ul>
            </div>
            <ng-template #paragraphContent>
                <p class="
                        text-medium
                        text-color-default
                        mcm-modal__media-subtext-padding">
                    {{ otModalData.descriptionList[0] | otTranslate }}
                </p>
            </ng-template>
        </div>
        <div class="column-nowrap width-50-percent margin-left-2">
            <div *ngIf="otModalData.mediaTitle"
                  class="margin-bottom-2 margin-top-1 text-large mcm-modal__subtitle-font-weight">
                  {{ otModalData.mediaTitle | otTranslate }}
            </div>
            <div class="
                    margin-bottom-2
                    margin-top-1
                    padding-left-right-1
                    height-100
                    width-100-percent">
                <one-video
                    *ngIf="mediaType === 'VIDEO'; else displayImage "
                    class="width-100-percent mcm-modal__media-shadow"
                    [url]="mediaFilePath"
                ></one-video>
                <ng-template #displayImage>
                    <img
                        class="width-100-percent mcm-modal__media-shadow"
                        [src]="mediaFilePath"
                    >
                </ng-template>
            </div>
            <div *ngIf="otModalData.mediaSubText">
                <p class="
                        word-break margin-left-2
                        text-color-default
                        paragraph-medium-large
                        mcm-modal__media-subtext-margin">
                    {{ otModalData.mediaSubText | otTranslate }}
                </p>
            </div>
        </div>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <ng-container *ngFor="let button of otModalData.buttons">
        <ng-container *ngIf="button.priority === 1">
            <button
                otButton
                ot-auto-id="McmFeatureModalCancelButton"
                (click)="this[button.functionName]()">
                {{ button.text |otTranslate }}
            </button>
        </ng-container>
        <ng-container *ngIf="button.priority > 1">
            <button
                otButton brand
                ot-auto-id="McmFeatureModalOpenUpgradeModalButton"
                (click)="this[button.functionName](button.functionName)">
                {{ button.text | otTranslate }}
            </button>
        </ng-container>
    </ng-container>
</ot-modal-footer>
