<one-modal-base
    [modalTitle]="modalTitle"
    ot-auto-id="'CookieDeleteModalCloseButton'"
    [closeIsDisabled]="isSubmitting"
    (close)="closeModal()">
    <section class="delete-modal padding-all-2">
        <div class="row-horizontal-center margin-bottom-2">
            <span class="delete-modal__icon fa-stack fa-lg">
                <i class="ot ot-circle fa-stack-2x color-cherry"></i>
                <i class="ot ot-trash-o fa-stack-1x fa-inverse margin-top-2-half"></i>
            </span>
        </div>
        <div
            class="delete-modal__text text-center text-color-default"
            [innerText]="confirmationText"
        >
        </div>
    </section>
    <section class="margin-left-15">
        <div class="margin-bottom-1">
            <ot-checkbox
                class="margin-right-half"
                [checked]="deleteScanHistory"
                (toggle)="onToggleDeleteScanHistory($event)"
            >
            </ot-checkbox>
            <span [innerText]="'DeleteScanHistoryConfirmationMessage'|otTranslate"></span>
        </div>
        <div>
            <ot-checkbox
                class="margin-right-half"
                [checked]="deleteWebsite"
                (toggle)="onToggleDeleteWebsite($event)"
                >
            </ot-checkbox>
            <span [innerText]="'DeleteWebsiteConfirmationMessage'|otTranslate"></span>
        </div>
    </section>
    <footer class="margin-top-1 row-flex-end padding-all-2">
        <button
            otButton
            class="margin-right-1 text-normal text-color-default"
            ot-auto-id="'CookieDeleteModalCancelButton'"
            [innerText]="cancelButtonText"
            [disabled]="isSubmitting"
            (click)="closeModal()"
            >
        </button>
        <button
            otButton
            brand
            ot-auto-id="'CookieDeleteModalSubmitButton'"
            [innerText]="submitButtonText"
            [disabled]="isSubmitting || !deleteScanHistory || !deleteWebsite"
            [loading]="isSubmitting"
            (click)="handleSubmit()"
            >
        </button>
    </footer>
</one-modal-base>
