<upgraded-loading
    *ngIf="!isLoading"
    class="padding-all-1 flex-full-height"
    [text]="loading"
>
</upgraded-loading>
<one-modal-base
    *ngIf="isLoading"
    class="flex-full-height width-100-percent"
    [modalTitle]="'ScheduledMaintenance' | otTranslate"
    (close)="closeModal()"
>
    <section class="flex-full-height width-100-percent">
        <div class="padding-left-right-4 padding-bottom-2 padding-top-3 flex-full-height">
            <div class="app-maintenance-alerts-modal row-horizontal-center">
                <span class="app-maintenance-alerts-modal__icon fa-stack fa-lg">
                    <i class="ot ot-circle fa-stack-2x" [ngClass]="modalIconTextClass"></i>
                    <i class="fa-stack-1x fa-inverse ot-icon" [ngClass]="modalIcon"></i>
                </span>
            </div>
            <div class="row-horizontal-center margin-top-2">
                <p
                    class="text-bold text-center"
                    [innerText]="'ScheduledMaintenanceSubHeading' | otTranslate"
                ></p>
            </div>
            <div class="row-horizontal-center margin-top-1">
                <p class="inline" [innerText]="fromDate|otDate:'datetime':'showLocalTimeZone'"></p>
                <i class="app-maintenance-alerts-modal__arrow inline padding-left-right-1 ot ot-arrow-right"></i>
                <p class="inline" [innerText]="toDate|otDate:'datetime':'showLocalTimeZone'"></p>
            </div>
            <div class="row-horizontal-center margin-top-1">
                <p class="text-center">
                    <span [innerText]="'ScheduledMaintenanceText' | otTranslate"></span>&nbsp;
                    <a
                        href="{{moreInfoLink}}"
                        target="_blank"
                        [innerText]="'MoreInformation' | otTranslate"
                    ></a>
                </p>
            </div>
            <footer class="row-space-between padding-top-3">
                <div class="padding-top-half">
                    <ot-checkbox
                        class="inline margin-right-half"
                        [attr.ot-auto-id]="'InAppMaintenanceAlertsDoNotShowAgain'"
                        (toggle)="doNotShowCheckBox($event)"
                        >
                    </ot-checkbox>
                    <label class="media-bottom text-normal">{{ "DoNotShowAgain" | otTranslate }}</label>
                </div>
                <div>
                    <button
                        otButton brand
                        [attr.ot-auto-id]="'InAppMaintenanceAlertsSubmitButton'"
                        [innerText]="'Continue' | otTranslate"
                        (click)="closeModal()"
                    >
                    </button>
                </div>
            </footer>
        </div>
    </section>
</one-modal-base>
