<abbr class="slds-required border-none margin-all-quarter" *ngIf="editMode && config.required">*</abbr>
<span class="incident-rule-action--fieldDisplay text-bold static-horizontal">{{ config.fieldDisplay }}</span>
<ng-container [ngSwitch]="config.type">
    <ot-toggle
        *ngSwitchCase="ruleActionType.Toggle"
        class="padding-top-1"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionToggle_' + ruleIndex + '_' + actionIndex"
        [checked]="valueModel"
        [disabled]="!editMode"
        (toggle)="valueSet($event)"
    ></ot-toggle>
    <ot-checkbox
        *ngSwitchCase="ruleActionType.Checkbox"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionCheckbox_' + ruleIndex + '_' + actionIndex"
        [checked]="valueModel"
        [disabled]="!editMode"
        (toggle)="valueSet($event)"
    ></ot-checkbox>
    <input otInput
        *ngSwitchCase="ruleActionType.InputNumber"
        class="width-40-percent"
        type="number"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionInputNumber_' + ruleIndex + '_' + actionIndex"
        [attr.max]="config.inputNumberMax"
        [attr.min]="config.inputNumberMin"
        [disabled]="!editMode"
        [(ngModel)]="valueModel"
        (change)="numberValueSet($event)"
        (keyup)="numberValueSet($event)"
    />
    <input otInput
        *ngSwitchCase="ruleActionType.InputString"
        class="width-70-percent"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionInputString_' + ruleIndex + '_' + actionIndex"
        [placeholder]="config.placeholder"
        [disabled]="!editMode"
        [ngModel]="valueModel"
        (ngModelChange)="valueSet($event)"
    />
    <ot-rich-text-editor
        *ngSwitchCase="ruleActionType.RichText"
        class="full-width"
        [ngClass]="{'outline-has-error': hasError}"
        [required]="config.required"
        [attr.ot-auto-id]="'IncidentRuleActionRichTextArea_' + ruleIndex + '_' + actionIndex"
        [readOnly]="!editMode"
        [placeholder]="config.placeholder"
        [customModules]="config.richTextOptions"
        [contentModel]="valueModel"
        (ngModelChange)="valueSet($event)"
        (onContentChanged)="valueSet($event.html)"
        >
    </ot-rich-text-editor>
    <textarea otTextarea
        *ngSwitchCase="ruleActionType.TextArea"
        class="width-70-percent"
        [ngClass]="{'outline-has-error': hasError}"
        [required]="config.required"
        [attr.ot-auto-id]="'IncidentRuleActionTextArea_' + ruleIndex + '_' + actionIndex"
        [disabled]="!editMode"
        [ngModel]="valueModel"
        (ngModelChange)="valueSet($event)"
    ></textarea>
    <ot-picklist
        *ngSwitchCase="ruleActionType.Picklist"
        class="width-70-percent"
        [ngClass]="{'outline-has-error': hasError}"
        [placeholder]="config.picklistPlaceholder"
        [attr.ot-auto-id]="'IncidentRuleActionPicklist_' + ruleIndex + '_' + actionIndex"
        [disabled]="!editMode"
        [options]="config.picklistOptions"
        [labelKey]="config.picklistLabelKey"
        [valueKey]="config.picklistValueKey"
        [model]="valueModel"
        (onSelect)="picklistValueSet($event)"
    ></ot-picklist>
    <org-select
        *ngSwitchCase="ruleActionType.OrgSelect"
        class="width-70-percent position-relative "
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionOrgSelect_' + ruleIndex + '_' + actionIndex"
        [disabled]="!editMode"
        [model]="valueModel"
        [options]="config.orgSelectOptions"
        (onSelect)="orgSelectValueSet($event)"
    ></org-select>
    <ot-org-user
        *ngSwitchCase="ruleActionType.OrgUser"
        class="width-70-percent"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionOrgUser_' + ruleIndex + '_' + actionIndex"
        [allowEmail]="false"
        [disabled]="!editMode"
        [fetchOptionsOnClick]="true"
        [model]="valueModel"
        [orgId]="config.orgSelectChoosesUserOrg ? orgUserOrg : config.orgUserOrgId"
        [traversal]="config.orgUserTraversal"
        (onSelect)="orgUserValueSet($event)"
    ></ot-org-user>
    <ot-org-user-multi-select
        *ngSwitchCase="ruleActionType.OrgUserMultiSelect"
        class="width-75-percent position-relative"
        [traversal]="config.orgUserTraversal"
        [ngClass]="{'outline-has-error': hasError}"
        [attr.ot-auto-id]="'IncidentRuleActionOrgMultiUser_' + ruleIndex + '_' + actionIndex"
        [allowEmail]="config.allowEmail"
        [disabled]="!editMode"
        [deprecatedOtTooltip]="!editMode && mutiOrgUsers[0] && mutiOrgUsers[0].FullName.length > 10 ? mutiOrgUsers[0].FullName : ''"
        [delay]="500"
        [permissions]="[config.permissions]"
        [fetchOptionsOnClick]="config.fetchOptionsOnClick"
        [returnEmptyEntriesOnSelect]="config.returnEmptyEntriesOnSelect"
        [userList]="mutiOrgUsers || []"
        (onSelect)="multiOrgUserValueSet($event)"
    ></ot-org-user-multi-select>
</ng-container>
