<div class="min-height-7 row-vertical-center row-space-between">
    <input otInput
        class="margin-right-5"
        [ngClass]="{'border-has-error': hasError && (!rule.name || rule.name.length > 100), 'border-none cursor-default': !rule?.isOpen }"
        [attr.ot-auto-id]="'OneRuleTitle_'+ruleIndex"
        [ngModel]="rule.name"
        [readonly]="(editMode && rule?.isOpen) ? null : true"
        [placeholder]="translations.RuleName"
        (ngModelChange)="setRuleName($event)"
    />
    <div class="row-nowrap">
        <button otButton
            *ngIf="editMode && enableReorderRules"
            [attr.ot-auto-id]="'OneRuleShiftRuleUp_'+ruleIndex"
            [icon]="'fa fa-arrow-up'"
            (click)="shiftRuleUp()"
        ></button>
        <button otButton
            *ngIf="editMode && enableReorderRules"
            class="margin-right-2"
            [attr.ot-auto-id]="'OneRuleShiftRuleDown_'+ruleIndex"
            [icon]="'fa fa-arrow-down'"
            (click)="shiftRuleDown()"
        ></button>
        <button otButton
            *ngIf="!editMode"
            class="hover-show"
            [attr.ot-auto-id]="'OneRuleEnableEdit_'+ruleIndex"
            [icon]="'ot ot-edit'"
            (click)="enableEditMode()"
        ></button>
        <button otButton
            *ngIf="editMode"
            [attr.ot-auto-id]="'OneRuleDeleteRule_'+ruleIndex"
            [icon]="'fa fa-trash-o'"
            (click)="deleteRule()"
        ></button>
        <button otButton
            [attr.ot-auto-id]="'OneRuleToggleRuleContent_'+ruleIndex"
            [icon]="rule?.isOpen ? 'ot ot-chevron-up' : 'ot ot-chevron-down'"
            (click)="toggleRuleContent(!rule?.isOpen)"
        ></button>
    </div>
</div>
<div
    *ngIf="rule?.isOpen"
    class="padding-bottom-2"
    >
    <ng-template *ngIf="rule.subRules && rule.actions; then ruleContent else ruleLoading"></ng-template>
    <ng-template #ruleContent>
        <div
            class="text-bold margin-bottom-1"
            [innerText]="translations.IfAllOfTheFollowingConditionsAreMet"
            ></div>
            <ng-container *ngFor="let subRule of rule.subRules; trackBy: trackByFn; let index = index; let first = first; let last = last">
             <div
                *ngIf="!first && rule.subRules.length > 1"
                class="margin-bottom-1 text-bold margin-left-half"
                [innerText]="translations.AND"
            ></div>
            <one-sub-rule
                class="border-grey border-radius-3 margin-bottom-1 flex-full-width row-nowrap"
                [editMode]="editMode"
                [ruleIndex]="ruleIndex"
                [subRuleIndex]="index"
                [subRule]="subRule"
                [conditionMeta]="config.conditionMeta"
                [translations]="translations"
            ></one-sub-rule>
            <button otButton neutral
                *ngIf="last && editMode"
                class="margin-bottom-2"
                [attr.ot-auto-id]="'OneRuleAddSubRule_' + ruleIndex"
                [innerText]="translations.AND"
                (click)="addSubRule()"
            ></button>
        </ng-container>
        <div
            class="text-bold margin-bottom-1"
            [innerText]="translations.ThenPerformTheFollowingTasks"
        ></div>
        <ng-container *ngFor="let configItem of config.actions; let index = index">
            <one-rule-action
                class="margin-bottom-1 row-nowrap"
                [ruleIndex]="ruleIndex"
                [actionIndex]="index"
                [editMode]="editMode"
                [config]="configItem"
                [actions]="rule.actions"
            ></one-rule-action>
        </ng-container>
    </ng-template>
    <ng-template #ruleLoading>
        <ot-loading otPageLoading
            *ngIf="isLoading$ | async"
            >
        </ot-loading>
    </ng-template>
</div>
