<ot-loading otPageLoading
    *ngIf="isLoading; else riskSettingsForm"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<ng-template #riskSettingsForm>
    <div otSettingContainer>
        <p class="text-large padding-all-1 border-bottom">{{"RiskScoreMethodology" | otTranslate}}</p>
        <ot-setting
            [title]="'ScoringMethodologyTitle' | otTranslate"
            [description]="'ScoringMethodologyDescription' | otTranslate"
            >
            <ot-picklist
                class="min-width-15"
                [options]="individualRiskSettings.scoringMethods"
                valueKey="id"
                labelKey="displayName"
                [model]="individualRiskSettings.currentScoringMethod"
                (onSelect)="selectScoringMethodology($event)"
            ></ot-picklist>
        </ot-setting>
    </div>
    <div class="flex stretch-vertical overflow-y-auto">
        <div class="centered-max-50">
            <risk-level-list
                *ngIf="individualRiskSettings.currentScoringMethod.methodName==='Standard'"
                [riskLevelList]="individualRiskSettings.riskLevelList"
            ></risk-level-list>
            <risk-heatmap
                *ngIf="individualRiskSettings.currentScoringMethod.methodName==='Matrix'"
                class="block padding-top-3"
                [heatmapForm]="heatmapForm"
            ></risk-heatmap>
        </div>
    </div>
    <footer otPageFooter>
        <button otButton neutral
            *ngIf="individualRiskSettings.currentScoringMethod.methodName==='Matrix'"
            ot-auto-id="RiskSettingResetButton"
            [innerText]="'Reset' | otTranslate"
            [disabled]="saveInProgress || resetInProgress"
            [loading]="resetInProgress"
            (click)="resetRiskSettings()"
        ></button>
        <button otButton brand
            ot-auto-id="RiskSettingSaveButton"
            [innerText]="'Save' | otTranslate"
            [disabled]="saveInProgress || resetInProgress"
            [loading]="saveInProgress"
            (click)="saveRiskSettings(individualRiskSettings.currentScoringMethod.methodName)"
        ></button>
    </footer>
</ng-template>

