<div class="stretch-vertical overflow-y-auto padding-top-bottom-3 padding-left-right-5" id="rules-list">
    <ng-container *ngFor="let form of ruleForms$ | async; trackBy: trackByFn; let i = index;">
        <rule-form
            [ruleContext]="ruleContext"
            [form]="form"
            [ruleIndex]="i"
        ></rule-form>
    </ng-container>
</div>
<!-- Edit Rule Footer -->
<footer *ngIf="editingForm"
    otPageFooter
    class="background-white"
>
    <button otButton
        ot-auto-id="RulesCancelEditButton"
        [disabled]="isSaving"
        (click)= "cancelEdit()"
    >
        {{"Cancel" | translate}}
    </button>
    <button otButton brand
        ot-auto-id="RulesSaveButton"
        [disabled]="isSaving || editingForm.invalid || !editingForm.dirty"
        [loading]="isSaving"
        (click)="saveRule()"
    >
        {{"Save" | translate}}
    </button>
</footer>
