&-dashboard {
    color: $slate;

    loading {
        height: calc(100vh - 5rem);
        display: block;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        height: calc(100vh - 5rem);
        background-color: $paper-gray;
        position: relative;
    }

    &__header {
        padding: 0 2rem;
        flex: 0 0 5rem;

        &-title {
            margin: 0;
            padding: 0;
        }
    }

    &__key {
        flex: 0 0 auto;
        background-color: $white;
        border-bottom: 1px solid $grey-1;
        padding: 0 2rem;
        position: relative;

        &-container {
            margin: 1.4rem 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            @media (min-width: 600px) {
                flex-flow: row nowrap;
                align-items: center;
            }
        }

        &-label {
            margin: 0 0 1rem;

            @media (min-width: 600px) {
                margin: 0 2rem 0 0;
            }
        }

        &-list {
            display: flex;
            flex-flow: row nowrap;
            margin: 0;
        }

        &-item {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-right: 1.4rem;

            &:last-child {
                margin-right: 0;
            }

            @media (min-width: 600px) {
                flex-flow: row nowrap;
            }
        }

        &-swatch {
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 3px;

            @media (min-width: 600px) {
                margin-right: 0.6rem;
            }

            &.none {
                background-color: $green;
            }
            &.low {
                background-color: $cyan;
            }
            &.medium {
                background-color: $light-orange;
            }
            &.high {
                background-color: $light-red;
            }
            &.very-high {
                background-color: $dark-red;
            }
            &.unanswered {
                background-color: $paper-gray;
                border: 1px solid $grey-1;
            }
        }

        &-text {
            font-weight: normal;
            font-size: 1.2rem;
            margin: 0;
            text-align: center;

            @media (min-width: 600px) {
                text-align: left;
            }
        }

        &-close {
            border: 0;
            padding: .2rem .6rem;
            background: 0;
            margin-left: auto;
            margin-right: -.6rem;
            position: absolute;
            top: 1rem;
            right: 1rem;

            @media (min-width: 600px) {
                position: static;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 1rem 1rem 4rem;

        &-container {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }

    &__item {
        flex: 1 1 25rem;
        margin: 1rem;
        box-shadow: rgba(0,0,0,0.08) 0 2px 6px 0;
        border-radius: 3px;
        background-color: $white;
        display: flex;
        flex-flow: column nowrap;

        &-container {
            padding: 2rem;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            justify-content: space-between;
        }

        &-title {
            font-size: 1.8rem;
            text-align: center;
            margin: 0 0 1rem;
        }

        &-graph {
            position: relative;
            margin: auto 0;

            .horseshoe__graph {
                margin: 0 auto;
                display: block;
            }

            &-btn {
                @include button(primary);
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
            }
        }

        &-textlink {
            background: 0;
            border: 0;
            line-height: 1.4rem;
            outline: none;
            color: $ui-blue;

            &:hover {
                color: darken($ui-blue, 10%);
            }

            &-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: 1.4rem;

                loading {
                    height: auto;

                    i {
                        margin: 0 2.4rem;
                        line-height: 0;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &--spacer {
            opacity: 0;
            height: 0;
            padding: 0;
            margin: 0 1rem;
        }
    }

    &__sample {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $white;
        border: 1px solid $grey-3;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: .6rem 1rem;
        margin: 0 2rem;

        &-text {
            margin: 0;
            display: inline;
        }

        &-btn {
            display: inline;
            color: $ui-blue;
            font-weight: bold;
            background: 0;
            border: 0;
            margin-left: .6rem;

            &:hover {
                color: darken($ui-blue, 10%);
                text-decoration: none;
            }
        }
    }
}
