<ot-loading otPageLoading *ngIf="isLoading || !purpose"></ot-loading>
<div class="height-100 full-width column-horizontal-center overflow-y-auto cr-dashboard">
    <div class="full-width padding-top-2 padding-left-right-2 row-flex-start dashboard-container">
        <div class="border dashboard-item stretch-horizontal">
            <h2 class="dashboard-item__heading">
                {{ "DataSubjects" | otTranslate }}
            </h2>
            <one-horseshoe-graph
                *ngIf="dataSubjectCounters"
                [title]="dataSubjectTotal"
                [subTitle]="'DataSubjects' | otTranslate"
                [graphData]="dataSubjectCounters"
                (onDetailsClick)="goToDataSubjects()"
                >
            </one-horseshoe-graph>
        </div>
        <div class="border dashboard-item stretch-horizontal column-horizontal-center">
            <h2 class="dashboard-item__heading">
                {{ "CollectionPoints" | otTranslate }}
            </h2>
            <div
                class="dashboard-item__count text-center margin-top-2 column-vertical-center inverse-green"
                ui-sref="zen.app.pia.module.consentreceipt.views.collections.list({purposeId: purpose.Id})"
                >
                <h3 class="dashboard-item__count-heading">{{purpose.CollectionPoints}}</h3>
                <h4 class="dashboard-item__count-sub-heading">{{ "CollectionPoints" | otTranslate }}</h4>
                </div>
            <button otButton brand
                *ngIf="!purposeTypeCookie"
                ot-auto-id="purposeToCollectionPointsButton"
                [innerText]="'Details' | otTranslate"
                (click)="goToCollectionPoints()"
            ></button>
        </div>
    </div>
</div>