<section class="height-100 width-35-rem column-nowrap background-grey">
    <section class="overflow-y-auto height-100">
        <ot-collapse
            [title]="'Default' | otTranslate"
            [open]="false"
        >
            <section class="background-white">
                <div
                    otFormElement
                    [label]="'Organization' | otTranslate"
                >
                    <org-select
                        [identifier]="'AACopyAssessmentOrganizationSelect'"
                        [model]="selectedOrgId"
                        [placeholder]="'Organization' | otTranslate"
                        (onSelect)="handleAction(assessmentActions.ORG_SELECTED, $event)"
                        >
                    </org-select>
                </div>
                <div
                    otFormElement
                    class="padding-top-half"
                    [label]="'Deadline' | otTranslate"
                >
                    <ot-date-time-picker
                        ot-auto-id="AACopyAssessmentDeadlineDate"
                        [dateTimeModel]="deadline"
                        [dateDisableUntil]="disableUntil"
                        [dateFormat]="dateFormat"
                        [datePlaceholder]="'ChooseDeadline' | otTranslate"
                        [hideTimePicker]="true"
                        (onChange)="handleAction(assessmentActions.DEADLINE_CHANGED, $event)"
                    ></ot-date-time-picker>
                </div>
                <div
                    otFormElement
                    class="padding-top-half"
                    [label]="'Reminder' | otTranslate"
                    [hasError]="!validReminder"
                    [errorMessage]="'ReminderMustBeAtLeastOneDayInTheFuture' | otTranslate"
                >
                    <input otInput
                        type="number"
                        name="reminder"
                        ot-auto-id="AACopyAssessmentReminderField"
                        min="1"
                        [placeholder]="'DaysBeforeDeadline' | otTranslate"
                        [disabled]="!deadline"
                        [ngModel]="copyAssessment.reminder"
                        (ngModelChange)="reminderDaysSelected($event, deadline)"
                    />
                </div>
            </section>
        </ot-collapse>
        <ot-collapse
            [title]="'Approvers' | otTranslate"
            [open]="false"
        >
            <section class="background-white">
                <div otFormElement>
                    <ot-org-user-multi-select
                        [allowEmail]="false"
                        [userList]="approverList"
                        [fetchOptionsOnClick]="true"
                        [permissions]="['AssessmentCanBeApprover']"
                        [placeholder]="'Approver'"
                        (onSelect)="selectedApprovers($event)"
                    ></ot-org-user-multi-select>
                </div>
            </section>
        </ot-collapse>
        <ot-collapse
            [title]="'Respondents' | otTranslate"
            [open]="false"
        >
            <section class="background-white">
                <div otFormElement>
                    <ot-org-user-multi-select
                        [allowEmail]="true"
                        [userList]="respondentList"
                        [fetchOptionsOnClick]="true"
                        [permissions]="['AssessmentCanBeRespondent']"
                        [placeholder]="'Respondent'"
                        (onSelect)="selectedRespondents($event)"
                    ></ot-org-user-multi-select>
                </div>
            </section>
        </ot-collapse>
        <ot-collapse
            [title]="'Copy' | otTranslate"
            [open]="false"
        >
            <div>
                <div
                    otFormElement
                    class="padding-bottom-half"
                    [label]="'CopyAssessmentContent' | otTranslate">
                </div>
                <ot-checkbox
                    class="inline-block"
                    ot-auto-id="AACopyAssessmentCopyResponsesCheckbox"
                    [checked]="bulkCopyContent.copyResponses"
                    (toggle)="onToggle(true)"
                    ></ot-checkbox>
                <p class="inline padding-left-half">{{ 'Responses' | otTranslate }}</p>
                <div class="block">
                    <ot-checkbox
                        class="inline-block"
                        ot-auto-id="AACopyAssessmentCopyCommentsCheckbox"
                        [checked]="bulkCopyContent.copyComments"
                        (toggle)="onToggle(false)"
                    ></ot-checkbox>
                    <p class="inline padding-left-half">{{ 'Comments' | otTranslate }}</p>
                </div>
            </div>
            <div class="row-space-between margin-top-2">
                <div
                    otFormElement
                    [label]="'UseLatestTemplateVersion' | otTranslate"
                >
                </div>
                <div otFormElement>
                    <ot-toggle
                        [checked]="copyAssessment.latestTemplateVersion"
                        (toggle)="copyAssessment.latestTemplateVersion = !copyAssessment.latestTemplateVersion"
                    ></ot-toggle>
                </div>
            </div>
        </ot-collapse>
        <!-- TODO: Uncomment once require explicit change api is ready -->
        <!-- <div class="row-space-between margin-top-2 padding-left-right-2">
            <div
                otFormElement
                [label]="'RequireConirmationOfChanges' | otTranslate"
            >
            </div>
            <div otFormElement>
                <ot-toggle
                    [checked]="copyAssessment.reviewChangedResponses"
                    (toggle)="copyAssessment.reviewChangedResponses = !copyAssessment.reviewChangedResponses"
                ></ot-toggle>
            </div>
        </div> -->
    </section>
    <footer class="row-flex-end static-horizontal margin-top-auto padding-all-2">
        <button otButton neutral
            ot-auto-id="AACopyAssessmentButton"
            class="align-center"
            (click)="onApplyToAllClick()"
            >
            {{ "ApplyToAll" | otTranslate }}
        </button>
    </footer>
</section>
