.one-org-header-button {
    &__text {
        font-size: 1.5rem;
        padding: 0 1.2rem;
        border-right: solid 1px rgba(255, 255, 255, 0.5);

        &.enabled {
            cursor: pointer;
        }
    }
}