<div
    *ngIf="!loading; else LoadingSpinner"
    class="height-100 full-width column-horizontal-center"
    >
    <section
        *ngIf="preferenceCenter"
        class="full-width flex-full-height"
        >
        <cr-preference-center-header></cr-preference-center-header>
        <ot-tabs
            [tabs]="tabs"
            [selectedTab]="currentTab"
            >
            <a *otTabItem="let tab"
                (click)="tab.action(tab)"
                >
                {{ tab.text }}
            </a>
        </ot-tabs>
        <section class="flex-full-height">
            <cr-preference-center-ribbon
                *ngIf="ribbonToggle && (currentTab === 'builder' || currentTab === 'branding')"
            ></cr-preference-center-ribbon>
            <cr-preference-center-branding
                *ngIf="currentTab === 'branding'"
                class="flex-full-height"
            ></cr-preference-center-branding>
            <cr-preference-center-builder
                *ngIf="currentTab === 'builder'"
                class="flex-full-height"
            ></cr-preference-center-builder>
            <cr-preference-center-form
                *ngIf="currentTab === 'details'"
                class="flex-full-height"
            ></cr-preference-center-form>
            <cr-preference-center-integrations
                *ngIf="currentTab === 'integrations'"
                class="flex-full-height"
                [isInactive]="isInactive"
            ></cr-preference-center-integrations>
        </section>
    </section>
</div>

<ng-template #LoadingSpinner>
    <ot-loading otPageLoading></ot-loading>
</ng-template>
