<div *ngIf="!loading; else showLoading">
    <ot-modal-header (close)="closeModal()">
        <div>{{ 'Help' | otTranslate }}</div>
    </ot-modal-header>
    <ot-modal-content>
        <div
            *ngIf="!showOnlyForm"
            class="flex row-wrap full-width">
            <p class="full-width text-center">{{'ChooseHelpfulResources' | otTranslate}}</p>
            <ng-container *ngFor="let item of helpResources; trackBy:value">
                <div
                    *ngIf="item.show"
                    class="flex-stretch-50 padding-all-1">
                    <button
                        otButton neutral
                        class="width-100-percent"
                        [attr.ot-auto-id]="'HelpModal' + item.otAutoId"
                        (click)="item.click()">
                        {{item.title}}
                    </button>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="(selectedItem === helpResources[3] || messageSubmitted) || showOnlyForm">
            <form
                *ngIf="!messageSubmitted"
                novalidate
                class="margin-all-0 full-width padding-top-1"
                [formGroup]="helpModalForm">
                <p class="text-center">{{customHelpText}}</p>
                <div
                    otFormElement
                    class="margin-top-bottom-1"
                    [errorMessage]="'PleaseEnterMessage' | otTranslate"
                    [hasError]="ticketComment?.invalid && (ticketComment?.dirty || ticketComment?.touched)">
                    <textarea
                        otTextarea
                        class="full-width one-text-area resize-none"
                        ot-auto-id="HelpModalDescriptionTextArea"
                        formControlName="ticketComment"
                        [placeholder]="'EnterMessage' | otTranslate"
                    ></textarea>
                </div>
                <p class="full-width text-center grey4-text margin-bottom-2">{{'RequestWithNameAndEmail' | otTranslate}}</p>
            </form>
        </ng-container>
        <div *ngIf="messageSubmitted">
            <p class="text-center text-bold text-medium margin-top-4">{{'ThankYou' | otTranslate}}</p>
            <p class="text-center">{{'MessageSubmittedToCustomerService' | otTranslate}}</p>
        </div>
    </ot-modal-content>
    <ot-modal-footer *ngIf="(selectedItem === helpResources[3] || messageSubmitted) || showOnlyForm">
        <button otButton neutral
            ot-auto-id="HelpModalCloseButton"
            [innerText]="'Cancel' | otTranslate"
            (click)="closeModal()"
        ></button>
        <button otButton brand
            ot-auto-id="HelpModalSubmitButton"
            [disabled]="sendingMessage || !helpModalForm.valid"
            [loading]="sendingMessage"
            [innerText]="'SubmitMessage' | otTranslate"
            (click)="sendMessage()"
        ></button>
    </ot-modal-footer>
</div>
<ng-template #showLoading>
    <ot-loading otPageLoading class="flex-full-height"></ot-loading>
</ng-template>
