<section class="dsar-request-queue background-white height-100 column-nowrap">
    <ot-page-header
        [title]="'Workflows' | otTranslate">
        <button otButton brand
            *ngIf="'DSARCreateNewCustomWorkflows' | otPermit"
            class="margin-right-1"
            ot-auto-id="DSARWorkflowListsCreateNewButton"
            [innerText]="'CreateNew' | otTranslate"
            (click)="handleAction('CREATE_REQUEST', null)">
        </button>
    </ot-page-header>
    <ot-loading otPageLoading
        *ngIf="!ready"
        class="flex-full-height"
        >
        {{ 'Workflows' | otTranslate }}
    </ot-loading>
    <section class="overflow-auto flex-full-height">
        <div
            *ngIf="ready"
            class="position-relative"
            >
            <dsar-workflows-list-table
                [rows]="workflowsListToFilter.content"
                [users]="users"
                (handleTableActions)="handleAction($event.type,$event.payload)"
            ></dsar-workflows-list-table>
        </div>
    </section>
    <div
        *ngIf="ready && !(workflowsList?.content.length)"
        class="requests"
        >
        <ot-empty-state
            *ngIf="!filteredCommentList?.length"
            class="flex-full-height justify-center"
            [emptyStateMessage]="'NoResultsFound' | otTranslate"
            >
            <img emptyStateImg />
        </ot-empty-state>
    </div>
    <footer
        otPaginationFooter
        *ngIf="ready && workflowsList && workflowsList.totalPages > 1"
        >
        <ot-pagination
            [currentPage]="params.page"
            [handleOffset]="true"
            [numPages]="workflowsListToFilter.totalPages"
            (pageChanged)="onPageChange($event)"
        ></ot-pagination>
        <span>{{ workflowsListToFilter | otPageMeta }}</span>
    </footer>
</section>
