<div class="ot-bulk-import flex-full-height">
    <ng-container *ngIf="!ready; else readyState">
        <div class="flex-full-height">
            <ot-loading
                otPageLoading
                class="flex-full-height"
            ></ot-loading>
        </div>
    </ng-container>
    <ng-template #readyState>
        <ot-page-header [title]="'ImportTemplates' | otTranslate">
            <button otButton brand
                ot-auto-id="newImportButton"
                [innerText]="'NewImport' | otTranslate"
                (click)="newImport()"
            ></button>
        </ot-page-header>
        <div class="margin-top-bottom-3 margin-left-right-2">
            <ot-grid>
                <ot-grid-row>
                    <ot-grid-column
                        *ngFor="let item of importTypes; let i = index"
                        [span]="4"
                    >
                        <ot-card
                            alignment="left"
                            [header]="{text: item.id | otTranslate}"
                            [isActive]="item.isActive"
                            [width]="30"
                        >
                            <ng-container otCardContent>
                                {{item.id+"_description" | otTranslate}}
                            </ng-container>
                            <ng-container otCardFooter>
                                <button otButton brand
                                        ot-auto-id="bulkImportTemplateDownload"
                                        [loading]="item.downloading"
                                        [innerText]="'Download' | otTranslate"
                                        [disabled]="item.downloading"
                                        (click)="downloadTemplate(i)"
                                ></button>
                            </ng-container>
                        </ot-card>
                    </ot-grid-column>
                </ot-grid-row>
            </ot-grid>
        </div>
    </ng-template>
</div>
