<ot-modal-header (close)="closeModal()">
    <div>{{ 'AddWorkflowName' | otTranslate }}</div>
</ot-modal-header>
<ot-modal-content style="overflow-y: visible">
    <form
        novalidate
        [formGroup]="seedWorkflowForm"
    >
        <div
            otFormElement
            class="padding-bottom-2"
            [required]="true"
            [label]="'WorkflowName' | otTranslate"
        >
            <input
                otInput
                formControlName="workflowName"
                ot-auto-id="IntgSeedWorkflowModalWorkflowName"
                [placeholder]="'EnterName' | otTranslate"
            />
        </div>
        <div otFormElement
            [label]="'SelectCredential' | otTranslate"
            [required]="true"
        >
            <ot-picklist
                ot-auto-id="IntgSeedWorkflowModalCredential"
                valueKey="id"
                labelKey="name"
                [autoClose]="true"
                [options]="credentials"
                [model]="selectedCredential"
                (onSelect)="setSelectedCredential($event)"
            ></ot-picklist>
        </div>
    </form>
</ot-modal-content>
<ot-modal-footer>
    <button otButton
        ot-auto-id="IntgSeedWorkflowModalCancelBtn"
        (click)="closeModal()"
    >
        {{ 'Cancel' | otTranslate }}
    </button>
    <button
        otButton
        brand
        ot-auto-id="IntgSeedWorkflowModalCreateBtn"
        [disabled]="seedWorkflowForm.invalid || !selectedCredential || saveInProgress"
        [loading]="saveInProgress"
        (click)="onClickAddWorkflowName()"
    >
        {{ 'Create' | otTranslate }}
    </button>
</ot-modal-footer>
