<one-modal-base
    class="flex-full-height"
    [modalTitle]="'EditKey' | otTranslate"
    (close)="closeModal()"
    >
    <ot-loading
        otPageLoading
        class="column-nowrap margin-all-auto attribute-modal__loading flex-full-height"
        *ngIf="isLoading"
        >
        {{"Attribute" | otTranslate}}
    </ot-loading>
    <form
        novalidate
        class="flex-full-height max-width-full margin-all-0 full-width padding-all-2"
        *ngIf="!isLoading"
        [formGroup]="modalForm"
        (ngSubmit)="submitChanges()"
        >
        <upgraded-one-label-content
            class="block margin-bottom-2"
            [labelName]="'OptionKey' | otTranslate"
            [isRequired]="true"
            [wrapperClass]="!modalForm.get('option').valid && modalForm.get('option').dirty ? 'slds-has-error' : ''"
            >
            <input
                class="full-width"
                otInput
                name="optionInput"
                ot-auto-id="EditOptionInput"
                formControlName="option"
                [placeholder]="'OptionText' | otTranslate"
            />
            <p
                class="color-cherry text-center margin-top-1 margin-bottom-0"
                *ngIf="modalForm.get('option').errors && modalForm.get('option').errors.hasConflict"
                [innerText]="modalForm.get('option').errors.hasConflict"
                >
            </p>
        </upgraded-one-label-content>
        {{ 'EditAttributeKeyWarningText' | otTranslate }}
        <footer class="static-vertical row-flex-end">
            <button
                class="margin-right-1"
                type="button"
                otButton
                neutral
                ot-auto-id="EditOptionCancelButton"
                [innerText]="'Cancel' | otTranslate"
                (click)="closeModal()"
                >
            </button>
            <button
                otButton
                brand
                type="submit"
                ot-auto-id="EditOptionSubmitButton"
                [disabled]="!modalForm.valid"
                [innerText]="'Submit' | otTranslate"
                >
            </button>
        </footer>
    </form>
</one-modal-base>
