<ot-loading otPageLoading
    *ngIf="isLoading; else riskSettingsForm"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>
<ng-template #riskSettingsForm>
    <div class="overflow-y-auto flex-grow-1">
        <div otSettingContainer>
            <h3 class="paragraph-large border-bottom">{{'AggregationMethodology' | otTranslate}}</h3>
            <p>
                <i class="ot ot-info-circle margin-right-1"></i>
                <span>{{ riskSettingsTranslationKeys.RiskAggregationInfo | otTranslate}}</span>
            </p>
            <div otSettingContainer>
                <ot-setting
                    [title]="'DefaultAggregationMethodology' | otTranslate"
                    [description]="'DefaultAggregationMethodologyDescription' | otTranslate"
                >
                    <ot-picklist
                        class="min-width-15"
                        valueKey="id"
                        labelKey="displayName"
                        [options]="assessmentRiskScoringMethods"
                        [model]="currentAssessmentRiskScoringMethod"
                        (onSelect)="onAssessmentRiskScoringMethodSelection($event)"
                    ></ot-picklist>
                </ot-setting>
            </div>
        </div>
        <!--Views based on current assessment risk method-->
        <div class="stretch-vertical full-width centered-max-75 padding-left-right-1">
            <ng-container [ngSwitch]="currentAssessmentRiskScoringMethod.name">
                <ng-container *ngSwitchCase="aggregateRiskMethodologies.HIGHEST">
                    <p class="padding-top-bottom-2"><span>{{ riskSettingsTranslationKeys.RiskMethodHighestInfo | otTranslate}}</span></p>
                </ng-container>
                <ng-container *ngSwitchCase="aggregateRiskMethodologies.AVERAGE">
                    <scoring-method-average
                        [riskReferenceType]="riskReferenceType"
                        [riskSettingsTranslationKeys]="riskSettingsTranslationKeys"
                        (onSettingsSaved)="updateCurrentScoringMethodologySelection()"
                    ></scoring-method-average>
                </ng-container>
                <ng-container *ngSwitchCase="aggregateRiskMethodologies.COUNT_OF_RISKS">
                    <scoring-method-count-of-risks
                        [riskReferenceType]="riskReferenceType"
                        [riskSettingsTranslationKeys]="riskSettingsTranslationKeys"
                        (onSettingsSaved)="updateCurrentScoringMethodologySelection()"
                        (isFormValid)="disableSave=!$event"
                    ></scoring-method-count-of-risks>
                </ng-container>
                <ng-container *ngSwitchCase="aggregateRiskMethodologies.SUM">
                    <scoring-method-sum-of-risks
                        [riskReferenceType]="riskReferenceType"
                        [riskSettingsTranslationKeys]="riskSettingsTranslationKeys"
                        (onSettingsSaved)="updateCurrentScoringMethodologySelection()"
                        (isFormValid)="disableSave=!$event"
                    ></scoring-method-sum-of-risks>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <footer otPageFooter>
        <button otButton
            *ngIf="currentAssessmentRiskScoringMethod.name === aggregateRiskMethodologies.COUNT_OF_RISKS
                || currentAssessmentRiskScoringMethod.name === aggregateRiskMethodologies.SUM"
            ot-auto-id="SettingsRisksAssessmentRiskScoringResetButton"
            [innerText]="'Reset' | otTranslate"
            (click)="onReset()"
        ></button>
        <button otButton brand
            ot-auto-id="SettingsRisksAssessmentRiskScoringSaveButton"
            [innerText]="'Save' | otTranslate"
            [disabled]="disableSave"
            (click)="onSave()"
        ></button>
    </footer>
</ng-template>
<!-- Assessment Risk Method Change Confirmation Modal-->
<ng-template #AssessmentRiskChangeConfirmationModal>
    <ot-modal-header
        [hideClose]="false"
        (close)="closeChangeModal()"
        >
        <div>
            {{ riskSettingsTranslationKeys.ChangeRiskScoringMethodology | otTranslate }}
        </div>
    </ot-modal-header>
    <ot-confirm-modal-icon [type]="changeConfirmationModalIconType"></ot-confirm-modal-icon>
    <ot-modal-content>
        <p class="text-center">
            {{ riskSettingsTranslationKeys.RiskMethodologyChangeConfirmationDescription | otTranslate }}
        </p>
    </ot-modal-content>
    <ot-modal-footer>
        <button otButton
            ot-auto-id="RiskSettingsAssessmentRiskChangeConfirmationModalCancelButton"
            [disabled]="savingRiskSettings"
            (click)="closeChangeModal()"
        >{{ 'Cancel' | otTranslate }}</button>
        <button otButton neutral
            ot-auto-id="RiskSettingsAssessmentRiskChangeConfirmationModalSaveSettingButton"
            [disabled]="savingRiskSettings"
            (click)="saveSettings()"
        >{{ 'DoNotRescoreAndSave' | otTranslate }}</button>
        <button otButton brand
            ot-auto-id="RiskSettingsAssessmentRiskChangeConfirmationModalSaveAndRescoreButton"
            [disabled]="savingRiskSettings"
            (click)="saveSettingsAndRescore()"
        >{{ 'RescoreAndSave' | otTranslate }}</button>
    </ot-modal-footer>
</ng-template>
<!-- Assessment Risk Method Reset Confirmation Modal-->
<ng-template #AssessmentRiskResetConfirmationModal>
    <ot-modal-header
        [hideClose]="false"
        (close)="closeResetModal()"
        >
        <div>
            {{ riskSettingsTranslationKeys.ResetRiskScoringMethodology | otTranslate }}
        </div>
    </ot-modal-header>
    <ot-confirm-modal-icon [type]="resetConfirmationModalIconType"></ot-confirm-modal-icon>
    <ot-modal-content>
        <p class="text-center">
            {{ resetConfirmationMessage | otTranslate }}
        </p>
    </ot-modal-content>
    <ot-modal-footer>
        <button otButton neutral
            ot-auto-id="RiskSettingsResetConfirmationModalCancelButton"
            (click)="closeResetModal()"
        >{{ 'Cancel' | otTranslate }}</button>
        <button otButton brand
            ot-auto-id="RiskSettingsResetConfirmationModalResetButton"
            (click)="resetSettings(currentAssessmentRiskScoringMethod.name)"
        >{{ 'Reset' | otTranslate }}</button>
    </ot-modal-footer>
</ng-template>
<!-- navigationConfirmationModal -->
<ng-template #navigationConfirmModal>
    <ot-modal-header
        [hideClose]="false"
        (close)="abortNavigation()"
        >
        <div>{{ 'SaveChanges' | otTranslate }}</div>
    </ot-modal-header>
    <ot-confirm-modal-icon type="warning"></ot-confirm-modal-icon>
    <ot-modal-content class="text-center">
        {{ riskSettingsTranslationKeys.RiskUnsavedChangesConfirmationMessage | otTranslate }}
    </ot-modal-content>
    <ot-modal-footer>
        <button otButton
            ot-auto-id="RiskSettingsNavigationCancelButton"
            [disabled]="savingRiskSettings"
            (click)="onDiscardChanges()"
        >{{ "DoNotSave" | otTranslate }}</button>
        <button otButton neutral
            ot-auto-id="RiskSettingsSaveChangesButton"
            [disabled]="savingRiskSettings"
            (click)="saveSettings()"
        >{{ "DoNotRescoreAndSave" | otTranslate }}</button>
        <button otButton brand
            ot-auto-id="RiskSettingsRescoreAndSaveButton"
            [disabled]="savingRiskSettings"
            (click)="saveSettingsAndRescore()"
        >{{ "RescoreAndSave" | otTranslate }}</button>
    </ot-modal-footer>
</ng-template>

