<div class="form-group">
	<form
		novalidate
		#preferenceCenterForm="ngForm">
		<ng-container *ngFor="let formInput of formInputData">
			<ng-container *ngIf="formInput.visible">
				<ng-container [ngSwitch]="formInput.type">
					<div
						*ngSwitchCase="formDataTypes.INPUT"
						otFormElement
						class=" margin-top-1"
						[label]="formInput.label"
						[required]="formInput.required"
						[hasError]="preferenceCenterDetailsInput.invalid && preferenceCenterDetailsInput.touched"
						[errorMessage]="formInput.errorMessage"
					>
						<input
							otInput
							class="margin-left-right-0 margin-top-bottom-quarter"
							[name]="formInput.name"
							[required]="formInput.required"
							[attr.ot-auto-id]="formInput.id"
							[placeholder]="formInput.placeholder"
							[(ngModel)]="preferenceCenterContent[formInput.model]"
							#preferenceCenterDetailsInput="ngModel"
						/>
					</div>
					<div
						*ngSwitchCase="formDataTypes.TEXTAREA"
						otFormElement
						class=" margin-top-1"
						[label]="formInput.label"
						[required]="formInput.required"
						[hasError]="preferenceCenterDetailsTextArea.invalid && preferenceCenterDetailsTextArea.touched"
						[errorMessage]="formInput.errorMessage"
					>
						<textarea
							otTextarea
							required
							class="margin-left-right-0 margin-top-bottom-quarter height-10"
							[name]="formInput.name"
							[attr.ot-auto-id]="formInput.id"
							[placeholder]="formInput.placeholder"
							[(ngModel)]="preferenceCenterContent[formInput.model]"
							#preferenceCenterDetailsTextArea="ngModel"
						>
						</textarea>
					</div>
				</ng-container>
			</ng-container>
		</ng-container>
			<ng-container *ngFor="let formToggle of formToggleData; index as i;">
				<ng-container *ngIf="formToggle.visible">
					<div class="full-width row-space-between-center">
						<label class="padding-top-1 text-bold">
							{{formToggle.label}}
							<i
								*ngIf="formToggle.tooltip"
								class="ot ot-info-circle col-sm-1"
								[otTooltip]="showSubGroupOptOutToolTip"
								>
							</i>
						</label>
						<ng-template #showSubGroupOptOutToolTip>
							<span>{{formToggle.tooltipText}}</span>
						</ng-template>
						<div otFormElement>
							<ot-toggle
								class="pull-right margin-top-1"
								[attr.ot-auto-id]="formToggle.id"
								[checked]="formToggle.isChecked()"
								[disabled]="formToggle.isDisabled()"
								(toggle)="preferenceCenterToggle(i)"
							>
							</ot-toggle>
						</div>
					</div>
				</ng-container>
			</ng-container>
			<div *ngIf="preferenceCenterContent.showPreferenceCenterCloseButton">
				<label class="padding-top-1 text-normal">
					{{'AriaLabel' | otTranslate}}
					<i
						class="ot ot-info-circle col-sm-1"
						[otTooltip]="showAriaLabelTooltip"
					>
					</i>
				</label>
					<ng-template #showAriaLabelTooltip>
						<span>{{'AriaLabelTooltip' | otTranslate}}</span>
					</ng-template>
			<div otFormElement>
				<input
					otInput
					class="margin-left-right-0 margin-top-bottom-quarter"
					name="textSaveSettingsButton"
					type="text"
					[attr.ot-auto-id]="'CookiePreferenceCenterContentAriaLabelInput'"
					[(ngModel)]="preferenceCenterContent.closeText"
				/>
			</div>
		</div>
	</form>
</div>
