.one-link {
    margin-left: 1rem;
    cursor: pointer;
    color: $ui-blue;

    &:hover {
        text-decoration: none;
    }

    &__icon {
        &:hover {
            text-decoration: none;
            color: darken($ui-blue, 15%);
        }
    }

    &__text {
        &:hover {
            text-decoration: underline;
            color: darken($ui-blue, 15%);
        }
    }

}
