.template-sidebar {

    &__title {
        font-size: 1.6rem;
        padding: 1.4rem 1rem;
        margin: 0;
        border-bottom: 1px solid $grey-3;
    }

    &__group {
        padding: 1.4rem 1rem;
    }

    &__label {
        font-weight: normal;
        margin-bottom: 1rem;
    }

    &__types {
        display: block;
        padding: 0 1rem;
    }
}
