<ot-loading otPageLoading
    *ngIf="loadingIncidentDataBreach; else dataBreachSection"
    class="padding-all-4 row-horizontal-vertical-center full-size min-height-46"
></ot-loading>

<ng-template #dataBreachSection>
    <section class="flex-full-height height-100">
        <ot-page-header
            [title]="'DataBreachPedia' | otTranslate"
            (routeClicked)="goToRoute($event)"
        ></ot-page-header>
    
        <incident-databreachpedia-list class="flex-full-height background-white"></incident-databreachpedia-list>
    </section>
</ng-template>
