<div class="full-width position-relative overflow-y-auto">
    <div class="margin-top-2 color-slate cursor-default">
        <div class="row-space-between-center padding-all-1 gallery-template-welcome-message border-radius-3">
            <div class="stretch-vertical text-large">
                <i class="ot ot-home padding-right-2"></i>
                <span class="text-bold">{{translations.templateWelcomMessage}}</span>
            </div>
            <i
                class="ot no-outline text-xlarge cursor-pointer"
                ot-auto-id="GalleryTemplateWelcomeMessagePreviewToggle"
                [ngClass]="{'ot-chevron-right': !isWelcomeMessageExpanded, 'ot-chevron-down': isWelcomeMessageExpanded}"
                (click)="isWelcomeMessageExpanded = !isWelcomeMessageExpanded"
            >
            </i>
        </div>
        <div
            *ngIf="isWelcomeMessageExpanded"
            class="margin-left-right-2 margin-top-1 no-outline"
        >
            <div
                class="ql-editor"
                [innerHtml]="galleryTemplateDetail?.welcomeText"
            >
            </div>
        </div>
    </div>
    <section>
        <div *ngFor="let section of galleryTemplateDetail?.sections; trackBy: trackBySectionId; index as sectionIndex;">
            <div class="margin-top-2 color-slate" >
                <div class="template-section no-outline background-eggshell min-height-46 row-space-between-center padding-all-1">
                    <div class="stretch-vertical text-medium cursor-default">
                        <span class="gallery-template-preview__header text-center height-3 width-3 inline-block media-middle background-grey-2">
                            {{sectionIndex + 1}}
                        </span>
                        <span class="text-bold">
                            {{section.name}}
                        </span>
                    </div>
                    <div>
                        <i
                            class="ot no-outline text-xlarge cursor-pointer"
                            [attr.ot-auto-id]="'GalleryTemplateSectionPreview_'+ (sectionIndex + 1)"
                            [ngClass]="{'ot-chevron-down': section.isSectionExpanded, 'ot-chevron-right': !section.isSectionExpanded}"
                            (click)="section.isSectionExpanded = !section.isSectionExpanded"
                        >
                        </i>
                    </div>
                </div>
                <div
                    *ngIf="section.isSectionExpanded"
                    class="margin-top-1 margin-left-2"
                >
                    <section>
                        <div *ngFor="let question of section.questions; index as subSectionIndex;">
                            <div class="builder-question margin-top-2 color-slate flex cursor-default">
                                <div class="builder-question__sequence text-center text-medium media-middle background-grey margin-right-1">
                                    {{sectionIndex + 1}}.{{subSectionIndex + 1}}
                                </div>
                                <div class="background-eggshell min-height-46 row-space-between-center padding-all-1 stretch-horizontal">
                                    <i 
                                        class="text-large padding-left-half padding-right-1"
                                        [ngClass]="getQuestionTypeIcon(question.questionType)"
                                    >
                                    </i>
                                    <div class="stretch-vertical paragraph-medium overflow-ellipsis-nowrap">
                                        {{ question.friendlyName || question.content }}
                                    </div>
                                    <div class="row-wrap">
                                        <i
                                            class="ot text-xlarge no-outline"
                                            [attr.ot-auto-id]="'GalleryTemplateQuestionPreview_'+ sectionIndex +'.'+(subSectionIndex + 1)"
                                            [ngClass]="{'ot-chevron-right': !question.isPreviewShown, 'ot-chevron-down': question.isPreviewShown}"
                                            (click)="showQuestionPreview(question)"
                                        >
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="question.isPreviewShown"
                                class="margin-top-2"
                            >
                                <template-question-preview
                                    [question]="question"
                                    [removeBorder]="true"
                                ></template-question-preview>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </div>