<div class="flex margin-left-right-2 flex-basis-auto wsl_container centered-max-90 margin-bottom-2 margin-top-1">
    <header class="wsl_container__header row-nowrap padding-bottom-half static-horizontal row-space-between border-bottom">
        <h4 class="wsl_container__title">{{translations.headerTitle}}</h4>
        <h4 (click)="closeModal()" role="button" tabindex="0">
            <i class="ot ot-times"></i>
        </h4>
    </header>
    <div class="wsl_container__subheader padding-top-bottom-2 align-self-center max-width-full">
        {{translations.bodyText}}
    </div>
    <ot-loading
        *ngIf="loadingTemplate; else tableView"
        class="margin-top-10"
    ></ot-loading>
    <ng-template #tableView>
        <div class="margin-bottom-1">
            <ot-search-input
                ot-auto-id="WebformLanguagePickerSearchInput"
                [model]="inputLanguage"
                [placeholder]="translations.search"
                [disabled]="false"
                [searchDelimiter]="searchDelimiter"
                [searchOnEnter]="false"
                (search)="onSearch($event)"
            ></ot-search-input>
        </div>
        <section
            class="wsl_container__body row-wrap margin-bottom-2 justify-center"
            [ngClass]="{'wsl_container__body--empty': sampleTableData.length <= overflowLength}">
            <table otDataTable
                class="border-top-none"
                ot-auto-id="WebformLanguagePickerTable"
                [rowData]="sampleTableData"
                [rowBordered]="rowBordered"
                [rowNoHover]="true"
                [truncateCellContent]="truncateCellContent"
            >
                <ng-container *ngFor="let col of sampleColumns">
                    <ng-container *ngIf="!col.columnType">
                        <ot-data-table-column
                            class='justify-center text-bold'
                            [headerLabel]="col.columnName"
                            [cellValueKey]="col.cellValueKey"
                            [column]="col"
                            [tdClass]="'text-bold margin-0'"
                            [wrapCellContent]="true"
                            [tdStyle]="{ 'width': '20rem', 'padding-top': '1rem' }"
                            [thStyle]="{ 'width': '20rem' }"
                            [classes]="sortable ? { thAnchor: 'slds-grid slds-grid_align-center', cellContainer: 'slds-grid slds-grid_align-center text-bold' } : null">
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column">
                                <div class="flex">
                                    <div> {{row[column.cellValueKey]}}</div>
                                </div>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'checkbox'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            [thClass]="'text-center'"
                            [tdClass]="'text-center margin-0'"
                            [tdStyle]="{ 'width': '22rem', 'padding-top': '0.8rem' }"
                            [thStyle]="{ 'width': '22rem' }"
                            >
                            <ng-template otDataTableHeader>
                                <div class="slds-th__action slds-th__action_form">
                                    <span class="slds-checkbox">
                                        <input
                                            ot-auto-id="WebformLanguagePickerCheckboxHeader"
                                            id="checkbox-header"
                                            name="default"
                                            type="checkbox"
                                            value="on"
                                            tabindex="-1"
                                            [checked]="allRowSelected"
                                            [disabled]="!sampleTableData.length"
                                            (click)="handleTableSelectClick('header')"
                                        />
                                        <label class="slds-checkbox__label" for="checkbox-header">
                                            <span class="slds-checkbox_faux"></span>
                                        </label>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template otDataTableCell
                                let-row="row">
                                <span class="slds-checkbox">
                                    <input
                                        type="checkbox"
                                        name="default"
                                        value="on"
                                        tabindex="-1"
                                        [attr.id]="'checkbox-row-' + row.id"
                                        [checked]="row.enabled"
                                        [attr.ot-auto-id]="'WebformLanguagePickerCheckbox' + row.code"
                                        (click)="handleTableSelectClick('row', row.code)" />
                                    <label class="slds-checkbox__label" [attr.for]="'checkbox-row-' + row.id">
                                        <span class="slds-checkbox_faux"
                                            *ngIf="!singleLanguageEnabled || row.id !== radioID.id">
                                        </span>
                                        <span class="slds-checkbox_faux wsl_container--singleCheckboxDisabled"
                                            *ngIf="singleLanguageEnabled && row.id === radioID.id">
                                        </span>
                                    </label>
                                </span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                    <ng-container *ngIf="col.columnType === 'radio'">
                        <ot-data-table-column
                            [headerLabel]="col.columnName"
                            [column]="col"
                            [tdClass]="'text-center flex margin-0'"
                            [thClass]="'text-center flex'"
                            [tdStyle]="{ 'width': '16rem', 'padding-top': '0.8rem', 'padding-left': '2rem' }"
                            [thStyle]="{ 'width': '16rem' }"
                        >
                            <ng-template otDataTableCell
                                let-row="row"
                                let-column="column"
                                class="slds-align_absolute-center">
                                <span class="slds-radio" *ngIf="row.code === defaultRadioID.code">
                                    <label class="slds-radio__label" [for]="'radio-'+row.code">
                                        <input
                                            type="radio"
                                            name="options"
                                            checked="true"
                                            value="on"
                                            [disabled]="!row.enabled"
                                            [id]="'radio-'+row.code"
                                            [attr.ot-auto-id]="'WebformLanguagePickerRadio'+row.code"
                                            (click)="handleSelect({id:row.id,code:row.code})"
                                        />
                                        <span class="slds-radio_faux singleRadioDisabled"
                                            *ngIf="singleLanguageEnabled"></span>
                                        <span class="slds-radio_faux"
                                            *ngIf="!singleLanguageEnabled"></span>
                                    </label>
                                </span>
                                <span class="slds-radio" *ngIf="row.code !== defaultRadioID.code">
                                    <label class="slds-radio__label">
                                        <input
                                            type="radio"
                                            name="options"
                                            value="on"
                                            [disabled]="!row.enabled"
                                            [id]="'radio-'+row.code"
                                            [attr.ot-auto-id]="'WebformLanguagePickerRadio'+row.code"
                                            (click)="handleSelect({id:row.id,code:row.code})"
                                        />
                                        <span class="slds-radio_faux singleRadioDisabled"
                                            *ngIf="singleLanguageEnabled"></span>
                                        <span class="slds-radio_faux"
                                            *ngIf="!singleLanguageEnabled"></span>
                                    </label>
                                </span>
                            </ng-template>
                        </ot-data-table-column>
                    </ng-container>
                </ng-container>
            </table>
            <div
                *ngIf="!sampleTableData.length"
                class="padding-top-bottom-1 margin-top-10"
                >
                {{translations.noLanguageFound}}
            </div>
        </section>
        <footer class="wsl_container__footer">
            <button
                otButton
                brand
                class="margin-right-1 pull-right padding-left-right-3"
                ot-auto-id="WebformLanguagePickerSaveButton"
                [loading]="saveLoading"
                [innerText]="translations.save"
                (click)="onSave()">
            </button>
            <button
                otButton
                neutral
                class="margin-right-1 pull-right padding-left-right-3"
                ot-auto-id="WebformLanguagePickerCancelButton"
                [innerText]="translations.cancel"
                (click)="closeModal()">
            </button>
        </footer>
    </ng-template>
</div>
