<div class="centered-max-70 padding-left-right-3">
    <div class="full-width padding-top-2">
        <h4>{{'APIEvents' | otTranslate}}</h4>
        <p>{{'ApiDefinitionHeader' | otTranslate}}</p>
    </div>
    <ot-loading *ngIf="isUpdatingRoutingKeys"></ot-loading>
    <div class="overflow-auto" *ngIf="!isUpdatingRoutingKeys">
        <div *ngFor="let event of events; index as i;">
            <div class="overflow-auto centered-max-70 full-width row-wrap-flex-start border-top padding-top-bottom-1 border-bottom">
                <p class="margin-none is-connection-event__name padding-top-half">{{event.name}}</p>
                <section class="flex row-flex-end">
                    <ot-toggle
                        class="cc-accordion-navigation__item-content-toggle padding-top-1"
                        [attr.ot-auto-id]="'IntgConnectionEventToggle'+i"
                        [checked]="event.isEnabled"
                        [disabled]="!('IntegrationPageEdit' | otPermit)"
                        (toggle)="updateRoutingKeys($event, event.eventId, i)">
                    </ot-toggle>
                </section>
            </div>
        </div>
    </div>
</div>
