<ot-modal-header (close)="closeModal()">
    <div>{{ 'WelcomeMessage' | otTranslate }} {{ otModalData.language }}</div>
</ot-modal-header>
<ot-modal-content class="flex-full-height">
    <div class="stretch-vertical flex-full-height min-height-25">
        <ot-rich-text-editor
            ot-auto-id="PreferenceCenterWelcomeMessageEditor"
            class="block flex-full-height"
            [useContainerBounds]="true"
            [editorClass]="'flex-full-height stretch-vertical ' + !canEditTranslations ? 'background-frost' : ''"
            [placeholder]="'InsertTextHere' | otTranslate"
            [contentModel]="text"
            [mediaModules]="['link']"
            [readOnly]="otModalData.isInactive || !canEditTranslations"
            (onContentChanged)="handleMessageChange($event.html)"
        ></ot-rich-text-editor>
    </div>
</ot-modal-content>
<ot-modal-footer>
    <button otButton neutral
        ot-auto-id="PreferenceCenterWelcomeMessageCancelButton"
        (click)="closeModal()"
        >
        {{ 'Cancel' | otTranslate }}
    </button>

    <button otButton brand
        *ngIf="!otModalData.isInactive"
        ot-auto-id="PreferenceCenterWelcomeMessageSaveButton"
        [disabled]="!canEditTranslations"
        (click)="handleSave()"
        >
        {{ 'Save' | otTranslate }}
    </button>
</ot-modal-footer>
