<div class="height-100 full-width column-horizontal-center overflow-y-auto">
    <ot-page-header
        class="full-width"
        [title]="'DataSubjects' | otTranslate"
    ></ot-page-header>
    <div
        otDrawerContainer
        class="full-width position-relative flex-full-height overflow-hidden"
        >
        <cr-data-subject-filters
            class="full-width"
            [filters]="filters"
            [crPurposes]="crPurposes"
            (applyCallback)="searchDataSubjects($event, 0)"
            (refreshCallback)="searchDataSubjects($event, 0)"
            >
        </cr-data-subject-filters>

        <div class="full-width flex-full-height">
            <cr-table
                class="flex-full-height"
                noDataKey="NoDataSubjectsFound"
                [columns]="columns"
                [rows]="tableData"
                [loading]="searchInProgress"
                [resizable]="false"
                [noCounts]="hidePageCounts"
                (goToRoute)="goToRoute($event)"
                (pageChange)="loadPage($event)"
                >
            </cr-table>
        </div>
    </div>
</div>
