<div class="flex-full-width border-bottom overflow-x-auto">
    <cr-preference-center-builder-menu class="flex-full-height"></cr-preference-center-builder-menu>
    <div class="padding-all-2 background-white overflow-y-auto width-100-percent min-width-40">
        <cr-preference-center-welcome-message
            *ngIf="'ConsentPreferenceCenterWelcomeMessage' | otPermit"
        ></cr-preference-center-welcome-message>
        <cr-preference-center-builder-purposes
            *ngIf="preferenceCenter?.Purposes; else EmptyState"
            [displayNotificationPurpose]="preferenceCenter.DisplayNotificationPurpose"
            [purposes]="preferenceCenter.Purposes"
            [purposesViewSettings]="purposesViewSettings"
            (onPurposeDrop)="purposeDropped($event)"
            (onNotificationPurposeToggle)="notificationPurposeToggled($event)"
        ></cr-preference-center-builder-purposes>
    </div>
</div>

<ng-template #EmptyState>
    <ot-empty-state
        class="flex-full-height column-vertical-center"
        [emptyStateMessage]="'NoPurposesFound' | otTranslate"
        >
        <img emptyStateImg />
    </ot-empty-state>
</ng-template>