<ng-container *ngFor="let subQuestion of subQuestions; index as i; trackBy: trackByFn">
    <div class="margin-top-bottom-2" [ngClass]="!isJurisdictionAttribute() && 'padding-all-2 border border-radius background-grey'">

        <ng-container *ngIf="question.attributes?.text">
            <aa-textbox
                [isDisabled]="isDisabled"
                [isRequired]="question.required && question.valid"
                [label]="subQuestion.displayLabel | displayInventoryLabel : subQuestions.length"
                [placeholder]="'EnterYourAnswerHere' | otTranslate"
                [questionIndex]="Attribute + '_' + (i + 1)"
                [question]="question"
                [subQuestionId]="subQuestion.parentAssessmentDetailId"
                (textboxUpdated)="onTextboxUpdated($event, subQuestion.parentAssessmentDetailId)"
            ></aa-textbox>
        </ng-container>

        <ng-container *ngIf="!question.attributes.text && question.attributes?.displayAnswerType === questionAnswerTypes.Dropdown">
            <aa-multichoice-dropdown
                [disabled]="isDisabled"
                [isRequired]="question.required && question.valid"
                [label]="subQuestion.displayLabel | displayInventoryLabel : subQuestions.length"
                [question]="question"
                [subQuestion]="subQuestion"
                (otherChange)="onOtherChange($event, subQuestion.parentAssessmentDetailId)"
                (multiselectChange)="onMultiselectChange($event, subQuestion.parentAssessmentDetailId)"
                (multichoiceChange)="onMultichoiceChange($event, subQuestion.parentAssessmentDetailId)"
                (multichoiceReset)="onMultichoiceReset(subQuestion.parentAssessmentDetailId)"
            ></aa-multichoice-dropdown>
        </ng-container>

        <ng-container *ngIf="isMultiChoiceButton">
            <div
                otFormElement
                class="margin-bottom-1"
                *ngIf="!question.attributes.text"
                [label]="subQuestion.displayLabel | displayInventoryLabel : subQuestions.length"
                [required]="question.required && question.valid"
            ></div>
            <aa-multichoice-buttons
                [disabled]="isDisabled"
                [isSubQuestion]="true"
                [question]="question"
                [subQuestion]="subQuestion"
                (handleOtherChange)="onHandleOtherButtonEdit($event, subQuestion.parentAssessmentDetailId)"
                (handleNotSureNotApplicable)="onHandleNotSureNotApplicable($event, subQuestion.parentAssessmentDetailId)"
                (handleMultichoiceChange)="onMultichoiceChange($event, subQuestion.parentAssessmentDetailId)"
            ></aa-multichoice-buttons>
        </ng-container>

        <ng-container *ngIf="question.attributes?.responseType === attributeQuestionResponseType.DATE_TIME || question.attributes?.responseType === attributeQuestionResponseType.DATE">
            <div
                otFormElement
                class="margin-bottom-1"
                *ngIf="!question.attributes.text"
                [label]="subQuestion.displayLabel | displayInventoryLabel : subQuestions.length"
                [required]="question.required && question.valid"
            ></div>
            <aa-date-picker
                class="full-width"
                [isDisabled]="isDisabled"
                [isSubQuestion]="true"
                [question]="question"
                [subQuestion]="subQuestion"
                [enableTime]="question.attributes?.responseType === attributeQuestionResponseType.DATE_TIME"
                (dateChanged)="onDateChange($event, question.id, subQuestion.parentAssessmentDetailId, question.attributes?.responseType)"
            ></aa-date-picker>
        </ng-container>

        <ng-container *ngIf="isJurisdictionAttribute()">
            <aa-jurisdiction
                [isDisabled]="isDisabled"
                [isRequired]="question.required && question.valid"
                [label]="subQuestion.displayLabel | displayInventoryLabel : subQuestions.length"
                [questionIndex]="Attribute + '_' + (i + 1)"
                [question]="question"
                [subQuestionId]="subQuestion.parentAssessmentDetailId"
                (jurisdictionUpdated)="saveJurisdictions($event, subQuestion.parentAssessmentDetailId)"
            ></aa-jurisdiction>
        </ng-container>

        <!-- Not Sure Not applicable if the type is text or dropdown enabled-->
        <div
            *ngIf="(question.attributes?.displayAnswerType === questionAnswerTypes.Dropdown || question.attributes.text || question.attributes.responseType === 'date')"
            class="aa-question__multichoice"
        >
            <ng-container *ngFor="let option of question.options">
                <div
                    *ngIf="(option.optionType !== 'DEFAULT' && option.optionType !== 'OTHERS')"
                    class="aa-question__button-row aa-question__button margin-top-2"
                >
                    <button
                        class="full-width"
                        otButton neutral
                        [attr.ot-auto-id]="'AssessmentQuestionDetail'+option.option+'Button'"
                        [disabled]="isDisabled"
                        [innerText]="option.option | otTranslate"
                        [select]="isResponseSelected(option.id, subQuestion.parentAssessmentDetailId)"
                        (click)="onHandleNotSureNotApplicable({option: option}, subQuestion.parentAssessmentDetailId)"
                    ></button>
                </div>
            </ng-container>
        </div>

        <ng-container *ngIf="question.attributes?.allowJustification">
            <div class="question__justification margin-top-2">
                <aa-textbox
                    [isDisabled]="isDisabled"
                    [isJustification]="true"
                    [isRequired]="question.attributes.requireJustification && question.valid"
                    [label]="'JustifyYourAnswerBelow' | otTranslate"
                    [placeholder]="'EnterJustificationsHere' | otTranslate: { Justifications: rootScope.customTerms.Justification.toLowerCase() }"
                    [questionIndex]="Attribute + '_' + (i + 1)"
                    [question]="question"
                    [subQuestionId]="subQuestion.parentAssessmentDetailId"
                    (textboxUpdated)="onJustificationChange($event, subQuestion.parentAssessmentDetailId)"
                ></aa-textbox>
            </div>
        </ng-container>
    </div>
</ng-container>
