.user-access-level-picker {
    &__fields {
        width: 90%;
    }

    &__field {
        width: 48%;
    }

    &__actions {
        width: 10%
    }

    &__icon {
        color: $white;
        background-color: $cherry;
        border-radius: 2rem;
        font-size: 0.8rem;
    }

    &__btn {
        height: 1.6rem;
        width: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.3rem;
    }

    &__role-description {
        min-height: 5rem;
    }

}
